[2019-11-28 16:21] anticafe commented on #670
Discord is good. But I realize it doesn't allow to reply in thread (and it seems Slack is the only chat app which allows to reply in thread). Only one thing I don't like Slack is its 10k message limit.

[2019-11-28 17:41] joaogalli opened #701 "Do I need to create 2 Widgets? (Login example)"
Hi, I am following the Login example, and noticed that I need to have the LoginPage and the LoginForm widgets for bloc to work.
Of course I tried to do both on the same Widget (LoginPage), but the BlocListener doesn't work.

Is there a way, or the example is the only right way?

[2019-11-28 17:43] felangel commented on #701
Hi @joaogalli 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you’re having? Thanks!

[2019-11-28 18:21] joaogalli commented on #701
Thanks for your response, I don't have a different code from yours, I was just trying to do everything in the same Widget, like this:
`class LoginPage extends StatelessWidget {
  final UserRepository userRepository;

  LoginPage({Key key, @required this.userRepository})
      : assert(userRepository != null),
        super(key: key);

  @override
  Widget build(BuildContext context) {
    return S

[2019-11-28 18:25] joaogalli commented on #701
Thanks for your response, I don't have a different code from yours (Login Example), I was just trying to do everything in the same Widget.
In [LoginPage](https://github.com/felangel/bloc/blob/master/examples/flutter_login/lib/login/login_page.dart) there is the creation of LoginForm at line 29.
I just tried to return the blocListener of [LoginForm](https://github.com/felangel/bloc/blob/master/exam

[2019-11-28 18:41] felangel commented on #701
@joaogalli so you just have one StatefulWidget? It should work the same way. Are you able to share a link to your GitHub repository? I can take a look and create a pull request to fix any issue I find.

[2019-11-28 18:44] joaogalli commented on #701
Sorry, I don't have it on a repository, I will try some more and return with what I find.

[2019-11-28 18:46] felangel commented on #701
Sounds good. If it’s easier you can also create a [gist](https://gist.github.com) and share the link 👍

[2019-11-28 20:50] abdulmuaz97 opened #702 "When we should use the Bloc in the flutter app?"
Hi, I've been working with **Flutter** and **Bloc (especially)** for a while.. and while I was working .. a couple questions came out and don't have the right or the appropriate solution..

**Here are the questions came to me**
1- When I should use the **Bloc** pattern design? I mean sometimes I just need one **setState** call...that's all.. should I forget the **setState** at all?
like navigating

[2019-11-28 21:13] tenhobi commented on #702
1) Basically, if the thing you want to do is part of business logic, you might want to do a bloc for it, so you can control it from your code. There might be cases like animations, some tabs, etc.

2) you **SHOULD** make more blocs, a basic rule is to make one bloc per big enough problem. And, if you do some "better" architecture (read Clean Architecture book, for example), you even may put out th

[2019-11-28 21:22] abdulmuaz97 commented on #702
This is absolutely what I wanted
So what I was doing is 75% right I guess .. and yeah I can use **setState** for small purposes, other than that **Bloc** is the best..
and yeah I read a little bit of **Clean Architecture** .
**Thank you so much** for spending time to write this answer dear.

[2019-11-28 21:27] felangel commented on #702
Hi @abdulmuaz97 👋
Thanks for opening an issue!

Thanks @tenhobi for the awesome answer! @abdulmuaz97 is it okay if we close this or did you have any additional questions?

[2019-11-28 21:31] abdulmuaz97 commented on #702
No you're free to close it, I just needed some answers and @tenhobi gave me some..
Thank you..
in addition.. I'm looking forward for your answer too..

[2019-11-28 21:37] felangel commented on #702
1. You should use a bloc to separate business logic from your UI. In general navigation, animations, scrolling manipulation, etc... are purely presentational so they usually won’t require a bloc. A bloc should manage the state of a use-case (feature) and the UI (widget) should simply notify the bloc of events and react to state changes via BlocBuilder and BlocListener.

2. Blocs should have a sing

[2019-11-28 21:37] #702 closed

[2019-11-28 21:37] fvisticot commented on #194
I have the same issue (using DIO and progress callback).
The link with the answer is broken :(

I try to reinject Event in bloc when progress is updated.

BUT the UserAvatarPictureUploadProgressEvent are only fired in the bloc when the updateUserPicture await function is completed

[code]

[2019-11-28 21:44] abdulmuaz97 commented on #702
Actually you made the whole thing **clear enough now**... and that's what I was doing but since I was confused if this is the right way or not.. came here..
Thank you so much @felangel for spending time to write the answers, and lovely conversation with you all.

[2019-11-28 22:25] fvisticot commented on #194
Can you please post the answer ? (link is broken)

[2019-11-29 07:34] felangel commented on #701
Closing for now but feel free to comment with additional questions or comments and I'm happy to continue the conversation

[2019-11-29 07:34] #701 closed

[2019-11-30 19:45] felangel commented on #670
Hey everyone after careful consideration, we've decided to go with Discord as our new communication channel 🎉

We can continue to evaluate the communication platform moving forward and if you have any concerns don't hesitate to let us know.

You can [join the server](https://discord.gg/Hc5KD3g) now and we'll try to slowly migrate everyone off of gitter over the next few weeks 👍

Thanks to everyone

[2019-11-30 19:45] #670 closed

[2019-12-01 18:01] nerder commented on #52
Hey @felangel this is still the case with the new `close` method? I should call it manually on `dispose` of my `StatefulWidget`?

An example might be:
[code]

I'm getting a similar error and i'm not sure on how to handle it with `v2.0.x`

[2019-12-02 01:28] nerder opened #705 "How to test bloc state Stream in v2.0.x"
I'm struggling to adapt my tests after the migration to the latest version of `bloc`.

The code i'm trying to test is the following:

[code]

In the constructor of `ProfileBloc` i'm listening the state changes of `UserBloc` in order to emit `ProfileUpdated` with different information by the fact that the user is the logged one or not.

Since in the last version now the bloc is already a `Stream` i

[2019-12-02 01:46] felangel commented on #705
Hi @nerder 👋
Thanks for opening an issue.

You can use `whenListen` from the `bloc_test` package to mock the stream of states from your `mockUserBloc`.

[code]

Hope that helps 👍

[2019-12-02 01:57] felangel commented on #52
@nerder hey as a rule of thumb whoever creates the bloc should close the bloc. In general I would recommend leaving it up to BlocProvider to handle everything for you (so you don't need `StatefulWidgets`) but if you need to create a `StatefulWidget` and want to manually create an instance of the bloc then it should look something like:

[code]

Hope that helps 👍

[2019-12-02 09:45] nerder commented on #705
This for sure helps, but what will be the way of doing this without `bloc_test`?

[2019-12-03 13:30] MahdiPishguy opened #706 "refresh part of screen can be done with Bloc?"
i have a simple question. how can i refresh part of screen with bloc? for example you suppose we have weather sample as you put in github,

in that we suppose we have a listview below of city name, and thats get some other cities list to show temperatures. when we scrolling down and we want to reload again this list, can be doable with Bloc pattern?

i guess i can introduce  [`StateRebuild`](https

[2019-12-03 13:59] RollyPeres commented on #706
You should use `BlocBuilder`'s as deeply as possible in your widget tree as well as utilize it's `condition` parameter. In your example you would probably have a single bloc where you would handle all cities. `ListView` would handle lazy loading of items for you from bloc state.

[2019-12-03 20:35] felangel commented on #705
Without `bloc_test` you would need to stub listen manually like:

[code]

I would highly recommend using `whenListen` from `bloc_test` instead.

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2019-12-03 20:35] #705 closed

[2019-12-03 20:36] felangel commented on #706
Hi @MahdiPishguy 👋
Thanks for opening an issue!

As @RollyPeres mentioned you can just wrap the part of your ui that you want to change in BlocBuilder and add a condition to optionally have more control over how often it rebuilds. You can check out the [timer tutorial](https://bloclibrary.dev/#/fluttertimertutorial) for an example.

Hope that helps! 👍

[2019-12-03 20:36] #706 closed

[2019-12-04 05:49] MahdiPishguy commented on #706
@felangel Thanks a lot, but i'm not sure to understand how ca i do that, could you help me more please?

[2019-12-04 13:07] quangduy-luong opened #707 "Completing futures when state hasn't changed"
I've been reading through the `flutter_weather` example and got stuck on the pull-to-refresh feature. My scenario is that the `fetch` event doesn't result in any updated data, and therefore, the `BlocLoaded` state is the same as the previous state, since the data it contains is the same as before. This is ideal, as it would prevent an unnecessary build - except the `RefreshIndicator`'s spinner kee

[2019-12-04 13:20] #707 closed

[2019-12-04 14:15] felangel commented on #706
@MahdiPishguy can you share a sample app or something concrete that you’re having issues with? It’s hard to help without having any context.

[2019-12-04 14:31] MahdiPishguy commented on #706
yes. sure, i'll made a simple product for this issue and let me notify you to describe more about that, Thanks

[2019-12-05 06:35] egorikem commented on #120
Holly molly! That totally saved my ass after 2 days of research! I'm not even using this library, just plain small `Bloc` class which has one `dispose()` method and list of subscriptions. It was working just fine, but then I've noticed that sometimes web version would crash randomly. After this fix it works like charm, thank you very much!

[2019-12-05 14:17] gustavobrian opened #708 "is it really necessary to change the interfaces all the time"
Hello, if the best library is becoming a problem, is it really necessary to change the interfaces all the time?
I appreciate the work, but this library is becoming a problem for me.

[2019-12-05 14:19] felangel commented on #708
Hi @gustavobrian 👋
Thanks for opening an issue!

Can you provide a bit more context? Is there a particular change(s) you’re referring to? Sorry for the inconvenience!

[2019-12-05 14:46] ezamagni opened #709 "BlocListener/BlocBuilder condition confusion"
**Is your feature request related to a problem? Please describe.**
I'm having a hard time dealing with [change](https://github.com/felangel/bloc/commit/4f0a73addd95f207860421e4afc5d7f108a98da5) #678  introduced in 2.0.1 in which the behavior of the BlocListener/BlocBuilder condition parameter was changed.
- it's a breaking change that comes in a [patch release](https://devhints.io/semver): i just

[2019-12-05 14:50] bigworld12 commented on #709
I agree that sudden breaking changes are bad, and I agree to the enum solution.

[2019-12-05 14:54] RollyPeres commented on #708
Changes to packages are always a bit annoying for anyone, but in order to polish a library change must happen. Surely you're not going to complain when you'll be able to write a time machine using 3 lines of code.

[2019-12-05 15:34] k00na opened #710 "Unit tests with BLoC - expectLater returns a BLoC instance instead of a Stream"
**Description**
I am running a unit test using Mockito library for mocks. I am trying to test if a sequence of states gets emitted from BLoC after I dispatch an event. I was expecting the tests to pass [as shown in this example. ](https://medium.com/flutter-community/unit-testing-with-bloc-b94de9655d86)

Here's my code:

[code]

And here is the error I get:

[code]
All my base state and event clas

[2019-12-05 16:20] felangel commented on #709
Hi @ezamagni 👋
Thanks for opening an issue!

I'm really sorry for the inconvenience! We viewed #678 as a bug fix rather than a feature request. Are you able to share a link to a sample app which reproduces the issue you're having? I would love to take a look and determine the next steps 👍

I would prefer to see if we can work with the existing implementation but obviously if that's not possible th

[2019-12-05 16:21] felangel commented on #710
Hi @k00na 👋
Thanks for opening an issue!

It looks like you're using an older version of bloc (pre 1.0.0). I believe you either need to upgrade (which I highly recommend) or you need to update your expectLater to

[code]

Also, if you do upgrade I would recommend using [bloc_test](https://pub.dev/packages/bloc_test) to assist you with testing.

Hope that helps!

[2019-12-05 16:21] #710 closed

[2019-12-05 22:21] ezamagni commented on #709
Hi @felangel 👋
I'm attaching a little [demo app](https://github.com/felangel/bloc/files/3929361/bloc_condition_sample.zip) to illustrate the problem.
The `pubspec.yaml` strictly requires `flutter_bloc` version 2.0.0 and you can see the intended functioning of the app.
As soon as you upgrade to ^2.0.0 the functioning breaks.
Please take a look at the README for a quick explanation of the scenario.

[2019-12-06 13:43] dustin-graham commented on #587
@rrousselGit brings a good point. Implementing Sink seemed like a curious change. It caused us to refactor a lot of code (dispatch to add), gave us this warning, and also as a result it made the code slightly less easy to understand for the uninitiated as "add" does not seem to clearly articulate what is happening as well as "dispatch" did. When dealing with a Sink, the semantics of "add this even

[2019-12-06 15:51] felangel commented on #708
Closing for now since there isn't enough context for me to address this. I just want to add that you should specify versions in your pubspec like:

[code]

This will ensure that you get all non-breaking updates but when `v3.0.0` comes out you will not be forced to upgrade (it's up to you when to manually update the version in your pubspec to `^3.0.0`).

If you just have something like:

[code]

or

[2019-12-06 15:51] #708 closed

[2019-12-06 19:13] felangel commented on #587
@dustin-graham we decided to implement `Sink` in order to further align bloc with the built-in Dart APIs which with developers are familiar in order to make the transition from managing your own streams/sinks to using the bloc library easier/more intuitive. While it definitely takes some getting used to, in my opinion `myBloc.add(MyEvent())` reads a lot better because you're literally adding event

[2019-12-06 19:58] dustin-graham commented on #587
Thanks Felix. Since a Bloc is a Sink It’s certainly correct. I don’t feel
any confusion over it since I understand how it works. However, I wonder if
it would be just as well if the Sink and Stream semantics remained
basically as implementation details. The only time I will consume a bloc is
with a BlocBuilder which gives me a builder function. I’m not using a
StreamBuilder myself or listening to

[2019-12-07 19:40] felangel commented on #587
@dustin-graham you definitely make some good points! While I agree that Stream/Sink semantics could just be implementation details for common use-cases, there are valid cases when you may want to perform transformations on the data `transformEvents`/`transformStates` or listen directly to a bloc's stream. In those cases, it benefits users to understand how the bloc works (at a high level). Further

[2019-12-07 20:15] felangel commented on #709
Hi @ezamagni 👋
I took a closer look and was able to resolve the issue by refactoring `main.dart` to:

[code]

Let me know what you think?

[2019-12-08 17:21] recreatingfitness opened #711 "Inter-Bloc dependency"
Following the pattern used in the Todos tutorial, I'm unable to establish Interbloc dependencies through the `listen` method within another bloc.  This method works fine within the widget tree.
Am I missing something here?

[code]

Using version 2.1.1 if BlocLibrary.

Flutter (Channel stable, v1.9.1+hotfix.6, on Microsoft Windows [Version 10.0.18362.476], locale
    en-US)
    • Flutter version 1.

[2019-12-08 17:23] felangel commented on #711
Hi @recreatingfitness 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the issue? Thanks!

[2019-12-08 20:50] felangel opened #712 "[Discussion] Maintaining Provider Dependency"
Hey everyone! 👋

I am becoming concerned about the dependency on [provider](https://pub.dev/packages/provider) due to the increase in complexity. After each upgrade I find myself questioning whether it makes sense for the bloc library to continue to maintain the dependency on [provider](https://pub.dev/packages/provider) and wanted to start this discussion in order to see what everyone's thoughts

[2019-12-08 20:56] bigworld12 commented on #712
extra dependencies are always a problem, I think it's better to just use InheritedWidget (which provider extends) instead of having extra overhead

[2019-12-08 21:40] rrousselGit commented on #712
The v4 of provider will have lazy-loading. That's likely something `flutter_bloc` wants too, but it's not a one-liner feature.

In the end, it's your call though.

For what it's worth, if your worry is about:

[code]

vs:

[code]

then it's a relatively easy fix. One of the goals of the 4.0.0 of provider is to simplify custom providers.

As such, if that's what you need, I can make `InheritedProvi

[2019-12-08 22:03] RollyPeres commented on #712
I'm sure there's plenty of people using both packages in their apps, myself being one of those. I think being able to pass `Provider`s alongside `BlocProvider`s into a `MultiProvider` makes it worth keeping the dependency. Not to mention the incoming lazy-loading which is something much needed in both packages.

[2019-12-08 22:08] felangel commented on #712
@RollyPeres can you please elaborate on how lazy loading would benefit flutter_bloc? Also, I’d love to understand how you use both together. What do you provide with provider aside from blocs when using flutter_bloc?

[2019-12-08 22:30] RollyPeres commented on #712
@felangel I believe lazy loading would be great for global blocs which does't really need to be instantiated when app starts but later on when they might be needed.

As for your second question, I mostly provide Firebase streams, since I'm not a fan of manually listening to streams unless it's absolutely necessary. And `StreamProvider` works great with Firebase. A quick example:

[code]

[2019-12-08 22:56] rrousselGit commented on #712
In the end, the main goal of `provider` is to introduce some conventions on InheritedWidgets.

Aka providers having two constructors, one stateful with a `create`+`dispose` method, and another one named `.value` that is stateless and just passes the value as-is.
With more recently the default constructor being lazy-loaded.

The other part is to help maintainers to respect such convention (as havin

[2019-12-09 09:19] ezamagni commented on #709
Hi @felangel,
thank you very much for your answer! (it also thought me about `Scaffold.of(context)`, now I can get rid of many GlobalKeys. I still have a lot to learn about Flutter!)

Your code surely solves the problem in this very simple example, but I don't see it as an ideal solution: I'm still a bit concerned about the weird semantic that version ^2.0.1 gives to the `prevState` parameter, as

[2019-12-09 12:55] kozmabalazs opened #713 "Could you make initialState getter support async operations?"
**Is your feature request related to a problem? Please describe.**
I tried to implement a settings screen with a couple of switches, where the value of the switches would come from SharedPreferences. I tried to implement as much of the code as possible to be async but I had a problem initialising my blocs from the async methods.

Right now I declare the initial state of the bloc/switch as off and

[2019-12-09 19:17] ffpetrovic opened #714 "BlocBuilder nest hell"
**Is your feature request related to a problem? Please describe.**
bloclibrary.dev shows that we are supposed to properly separate concerns by having a single bloc for different parts of the app. Consider blocs `Bloc1` `Bloc2` `Bloc3` `Bloc4` `Bloc5`, and a `build` method. Like bloclibrary.dev shows, a common pattern is to have a `...Loading` `...Loaded` etc... Specifically the `BlocXLoadingState`

[2019-12-09 19:38] tenhobi commented on #714
You can probably use `MultiBlocListener` https://bloclibrary.dev/#/flutterbloccoreconcepts?id=multibloclistener

[2019-12-09 20:51] ffpetrovic commented on #714
Thanks for the response! This means that I have to store the value inside the widget state which kind of destroys the whole purpose of the bloc. No?

[2019-12-09 22:33] tenhobi commented on #714
Oh, I see. You probably want to, for example, display a widget with "Some of the Blocs are Loading", right?

Well, at the moment, there is no `MultiBlocBuilder`. The Dart language does not provide some ADT to help with this, so we would have to create `BlocBuilder*` for * in 1..10, which is not a nice solution, because, in most of the cases, you don't need it. See https://github.com/felangel/bloc/

[2019-12-10 03:31] felangel commented on #713
Hi @kozmabalazs 👋
Thanks for opening an issue!

The whole idea of bloc is that the `initialState` must be sync because there must be an initial state immediately available when the bloc is instantiated.

I would recommend having a setup like:

[code]

Then when you create the bloc using `BlocProvider` you can immediately add the `Started` event like so:

[code]

And you can show a splash screen or

[2019-12-10 03:31] #713 closed

[2019-12-10 04:26] felangel commented on #714
Hi @ffpetrovic 👋
Thanks for opening an issue!

As @tenhobi mentioned you can use combine the blocs into a single bloc. I would recommend potentially using `combineLatest` on the individual bloc states and yielding a new state based on the individual bloc states.

Hope that helps 👍

[2019-12-10 04:26] #714 closed

[2019-12-10 06:53] hardypatel30 commented on #506
@felangel  Thanks for such useful information!

[2019-12-10 07:41] Theunodb opened #715 "Listening for Live User Location - Example Request"
Your provided examples are excellent, thanks to them i managed to complete 90% of my project. I chose to follow your implementation because of your brilliant examples and documentation.

Can you possibly add an example or guide me in the right direction of how to listen for location updates when using the "location" plugin. Reading through your existing examples i found it easy to get the current

[2019-12-10 07:43] Theunodb commented on #715
So far this is the location helper i'm using:

`
import 'dart:async';

import 'package:location/location.dart';

class LocationStore {
  Future<LocationData> getCurrentLocation() async {
    var location = new Location();
    LocationData currentLocation;
    try {
      currentLocation = await location.getLocation();
      print(currentLocation.latitude);
      print(currentLocation.longitude);

[2019-12-10 07:47] Theunodb commented on #715
With bloc files:
[code]

[code]

[code]

[2019-12-10 15:29] larssn commented on #712
We provide services that encapsulate a non-flutter related business tasks. This could be a service that provides a low level printing layer via TCP, which I might need to inject into other services or BLoCs. We use Provider for this, as it offers a clean way of doing DI without any side effects.

Regarding lazy loading, in my experience it's not the end all be all achievement; there's always a cat

[2019-12-10 17:10] gogreen42 opened #716 "google sign in does not work, flutter firebase login"
**Describe the bug**

I can register and login by email.
when I choose an account from google sigh in I stay on Login page.
And I get 'int android.view.View.getVisibility()' on a null object reference

**To Reproduce**
Steps to reproduce the behavior:

1. Click on Sigh in Google button
2. Choose your account
3. See error
![Screenshot_24](https://user-images.githubusercontent.com/19793832/70551714-

[2019-12-10 19:27] ffpetrovic commented on #714
Closing this means that you think this isn't a common use case and/or doesn't deserve a more graceful solution?

[2019-12-10 19:32] felangel commented on #714
@ffpetrovic can you provide more detail/provide a sample app which illustrates the problem you're having and provide a bit more context regarding why you feel combineLatest is not a valid solution? I think in most cases this problem is a sign that maybe the blocs haven't been structured properly (they are too granular/data driven and not use case driven). I'm happy to reopen this but I would need

[2019-12-10 23:07] ffpetrovic commented on #714
Any example of this somewhere? How will that look in the final UI widget?

[2019-12-11 11:35] taoyimin opened #717 "How can I ignore a state in BlocBuilder?"
[code]
The above code will throw an exception(A build function returned null).
I want to do something when listen to UploadSuccess state. But I want to keep the page instead of return a widget.

[2019-12-11 12:55] felangel commented on #717
Hi @taoyimin 👋
Thanks for opening an issue!

Regarding your question, `BlocBuilder` must always return a widget so it's up to you to tell it what to return for each possible state. Based on you example, I would recommend splitting your `UploadBloc` into two blocs because it is currently dealing with both uploading as well as downloading data (multiple responsibilities). If you refactored your code

[2019-12-11 12:55] #717 closed

[2019-12-11 13:00] felangel commented on #716
Hi @gogreen42 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the issue? Also, have you tried running the [firebase login example](https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_login)? You need to make sure you follow the [instructions](https://pub.dev/packages/google_sign_in#-readme-tab-) to setup Google Sign-In on Firebase.

[2019-12-11 13:07] felangel commented on #715
Hi @Theunodb 👋
Thanks for opening an issue as well as for the positive feedback!

I'll try to have an example created either later today or tomorrow 👍 In the meantime, you should refactor your bloc to add new events in response to location data from the subscription:

[code]

Then in `mapEventToState` you can just handle a `LocationChangedEvent` by yielding a new state with the latest location (pa

[2019-12-11 13:09] felangel commented on #711
Closing for now since I am missing information/sample app to reproduce the issue. Feel free to add additional information or link to a sample app and I'm happy to continue the conversation 👍

[2019-12-11 13:14] felangel commented on #712
@RollyPeres thanks for the additional information. Regarding lazy loading, I think that can be easily supported regardless of the dependency on `provider` so it should not be a problem.

@RollyPeres, @larssn
In your code snippet, I'm noticing that your providing raw data providers directly instead of having a layered architecture where you have the following data flow:

`data -> repository -> bloc

[2019-12-11 14:54] recreatingfitness commented on #711
Appreciate the quick response Felix, sorry I haven't had time to construct a sample app and have just been using workarounds in my application.

If your flutter_todos example is having no issues it's safe to assume this has something to do with my set-up...the subscription in the initializer is only calling on app start (so only reacts to initial state) but the subscription is still showing as act

[2019-12-11 16:44] JoseGeorges8 opened #718 "[Help] BlocBuilder does not get called. Updates on Hot Reload though"
Hey!

I got this bloc and a group of buttons. Each button has a Note attached to it and for now all I'm doing is when tapped, I add an UpdateNote event.

![Screen Shot 2019-12-11 at 11 26 58 AM](https://user-images.githubusercontent.com/32267703/70641065-0c039200-1c0b-11ea-9558-0c9bd01fe4b9.png)

When I tap the button nothing happens, but as soon as I HR the UI updates so the event is getting trig

[2019-12-11 20:26] Theunodb commented on #715
Thank you for the feedback! Yes your suggestions makes sense, I'm looking forward to your example!

[2019-12-11 21:24] JoseGeorges8 commented on #718
I got it to work now by removing `_notesRepository.updateNote(note: event.updatedNote);` from the call... I'm a bit unsure as to why is this causing an issue. All this line does is update the repositories list..

my data provider

[code]

Even though i've resolved the issue, could you tell me why that line was stopping the ui from updating?

[2019-12-11 23:17] wyxcoder opened #719 "Nested listener, how to stop state event bubble up?"
Wrap component in bloc listener A, when user click a button, a popup wrapped in listener B will be created.  Now both listener get state event, is there a way when the event handled in listener B, stop it to the listener A?

[2019-12-11 23:30] felangel commented on #718
Hi @JoseGeorges8 👋
Thanks for opening an issue!

I'm glad you resolved the problem and the reason `updateNote` is causing the problem is because you're mutating `_notes` instead of creating a copy and updating the value. You can create a copy using `List.from(_notes)..firstWhere(...)`. Hope that helps 👍

[2019-12-11 23:33] felangel commented on #719
Hi @wyxcoder 👋
Thanks for opening an issue!

I'm not sure I understand why you have multiple `BlocListeners` listening to the same bloc. Can you please provide some more context? Thanks! 👍

[2019-12-11 23:33] JoseGeorges8 commented on #718
Thanks! I'll try that instead soon and let you know!

[2019-12-12 00:47] taoyimin commented on #717
Thank you for your reply. This is very helpful for me.:+1:

[2019-12-12 07:12] cmengler opened #720 "[Question] Optionally always listen to BlocListener state changes"
It would be handy to say if we want to always listen to state changes on `BlocListener`, and optionally override `condition` if we only want to trigger on new state changes.

---

To paint a picture -- in my case I have an intermediate widget with a `BlocListener` on the `AuthenticationBloc` with the sole purpose of performing pushReplacement routes to the `Login` or `Home` pages.

When the user l

[2019-12-12 08:38] Elias8 commented on #78
Hi @felangel,
Can you please provide a unit test for the debouncing bloc the one you mentioned above( the GitHub search example)? Also, I have two different search fields and both of them debounce so how can I transform the events by checking their type?

Thanks!!

[2019-12-12 09:23] larssn commented on #712
@felangel
For us there's a few factors that play in:

1. We don't want all our business logic in BLoCs, as we need a piece of business logic to be accessable by multiple different BLoCs. Injecting BLoCs into other BLoCs would be the alternative, but it's an alternative I don't consider very clean, as suddenly you have a BLoC that is tied to something other than UI, and I want my BLoC to be tied to

[2019-12-12 09:31] timrijckaert commented on #712
We too use the `Provider` package in conjunction with the `flutter_bloc` package.
The fact that they are interchangeable is essential to our use case of DI inside our app with `MultiProvider`.

About the proposed architecture `data -> repo -> bloc -> widget` we felt it was too limited if you want to share **stateless** business logic between multiple BLoC's.

Just like @larssn said we also have he

[2019-12-12 11:24] felangel commented on #720
Hi @cmengler 👋
Thanks for opening an issue!

Regarding your question, BlocListener intentionally behaves like this because we don't consider the first state to be a state change. Would it be possible for you to share a link to a sample app which illustrates the problem you're having? I'm happy to take a look and offer suggestions 👍 thanks!

[2019-12-12 12:31] RollyPeres commented on #712
@felangel I'm always pro separation or concerns and layering your app and whatnot, but it all depends on your use case. For me doing that would sometimes mean I would have to manually subscribe to streams coming from firebase and that's something I don't want to. I prefer not to break the pipe, if you know what I mean. So sometimes I prefer to transform data from the incoming stream to whatever I

[2019-12-12 16:38] felangel commented on #716
Closing for now as there isn't enough information here to reproduce the problem. Feel free to comment with additional information and I'm happy to continue the conversation 👍

[2019-12-12 16:38] #716 closed

[2019-12-12 16:39] felangel commented on #718
Closing for now but feel free to comment with additional information/questions and I'm happy to continue the conversation 👍

[2019-12-12 16:39] #718 closed

[2019-12-12 16:50] mateusfsilva opened #721 "Help with test"
**Describe the bug**
Error on mock the bloc to test widgets. The tests were written on a version pre 1.0.0 of the bloc.

**To Reproduce**
Here an example of code:

[code]

**Expected behavior**
I try to change the test to:

[code]

But the state is null on BlocBuilder of my widget.

What is the correct way to mock the bloc to achieve a determinate state on BlocBuilder?

[2019-12-12 17:55] mateusfsilva commented on #721
The test ran with the following code:

[code]

Is there a better way?

[2019-12-12 18:29] wyxcoder commented on #719
Thanks for help.

Here is what I am trying to do.

From main screen, click menu, I open screen A, and on screen A, click a button, it shows a popup screen B. Click close button on screen B, it shows a message on snackbar of screen B and then close screen B, back to screen A.

I have one bloc for both screen A and B.  like

RepositoryProvider.value(
      value: repo,
      child: BlocProvider.valu

[2019-12-12 21:50] felangel commented on #719
Hi @wyxcoder thanks for providing extra context. This is actually working as expected because `BlocListener` on ScreenA subscribed to the bloc first so it will be notified before the `BlocListener` on ScreenB. I would recommend that you either have separate blocs for the two screens or remove the second `BlocListener` on ScreenB and handle all of the logic within the top-most `BlocListener`. Let m

[2019-12-12 22:25] felangel commented on #712
Hey everyone thanks for the awesome feedback! I'm going to try my best to respond to everyone's comments and am looking forward to hearing your thoughts 👍

@larssn

In that case I would recommend exposing the business logic to the bloc via a repository and providing that repository using `RepositoryProvider`. This ensures that you maintain separation between your data layer, your domain layer, you

[2019-12-12 22:41] wyxcoder commented on #719
Right, at the beginning I only has the first listener, but I don't know how to get context of the screenB, when listener get called, the context is always the listener, and its child is the screenA, how do I get context of screenB when event comes from screenB?
Thanks!

[2019-12-12 22:43] felangel commented on #719
@wyxcoder why do you need the context of ScreenB? Shouldn't you be able to display a `SnackBar` or pop from the navigation stack using either context?

[2019-12-12 22:50] wyxcoder commented on #719
I need display snackbar on screenB , not screenA, also, when message sent from screenB, I need close screenB, not screenA.

[2019-12-12 23:44] felangel commented on #719
@wyxcoder in that case, I would recommend providing two blocs: one scoped to ScreenA and the other scoped to ScreenB.

[code]

Let me know if that helps 👍

[2019-12-12 23:47] felangel commented on #721
Hi @mateusfsilva 👋
Thanks for opening an issue!

I'm glad you managed to get everything working but I think you should be able to simplify your test even further by refactoring your test to

[code]

Let me know if that helps 👍

[2019-12-13 00:09] felangel commented on #715
@Theunodb I've put together a [gist](https://gist.github.com/felangel/68e2fd89d56de8866935e3f058d6e81b). Closing for now but feel free to comment if you have any questions/feedback. Thanks!

[2019-12-13 00:09] #715 closed

[2019-12-13 00:40] wyxcoder commented on #719
That can solve the problem, but I am not sure if that is the right way to go, what if I have many level, and each level are similar, not quite a good idea to write same code in each level.
For now, I solve the problem by passing context through the event.

Another thing popup, see my showform function, I wonder why I have to include RepositoryProvider, for example, the below code doesn't work
`
Fu

[2019-12-13 06:14] MohsinN opened #724 "blocTest does not catch all emitted states"
`bloc_test` does not catch states emitted by consecutive events added inside bloc. Same scenario passes in plain test but fails with `blocTest`.

I updated your `flutter_login` sample to replicate the issue.

Updated `AuthenticationBloc` to add  `LoggedOut` event inside case of  `LoggedIn`

[code]
In the first case, only first three states are caught by `blocTest`
Updated tests:
[code]

[2019-12-13 06:56] RollyPeres commented on #712
@felangel

Not really, you can map your entity to a different model if needed. If you replace your incoming firebase stream to something else, you still need to deal with backend specific implementations. I'm well aware of how to manually listen to streams, I just prefer not to do something that would only add noise and no real gain to my app. Why do you think sharing some stream source would be d

[2019-12-13 10:07] larssn opened #725 "yield* broadcast streams"
**Describe the bug**
Not sure if this is deliberately not supported, but if I `yield*` a broadcast stream (hot observable), the bloc seems to freeze and not accept any more events, or produce any more output.

**To Reproduce**

[code]

**Expected behavior**
Are we even allowed to attempt this? :)

(Apologies if this is documented somewhere)

[2019-12-13 12:42] mateusfsilva commented on #721
Yes, that helps.
Thanks

[2019-12-13 12:42] #721 closed

[2019-12-13 15:59] JoseGeorges8 commented on #718
Hey sorry to come this late but that worked great for a different part of the app! thank you!

[2019-12-14 09:54] Elias8 opened #726 "[Question] Testing debouncing bloc"
I saw your GitHub search example [here](https://github.com/felangel/bloc/blob/926029cae2d7614d38b5a9a8952e36bb59054b02/examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart#L15) which uses debounce operator and I implemented mine the same way. But when I try to test the bloc I am not getting all expected states because of the delay and I tried to await the

[2019-12-14 18:22] felangel commented on #724
Hi @MohsinN 👋
Thanks for opening an issue!

I'll take a look shortly 👍

[2019-12-14 20:24] recreatingfitness commented on #711
I've managed to tweak the flutter_todos app to demonstrates the issue i'm having within my application.  [repo here](https://github.com/recreatingfitness/flutter_todos_refactor)

The issue can be triaged to using dependency injection ([get_it](https://pub.dev/packages/get_it) package).  All that I've changed is how bloc dependencies are injected

Expected behavior: Blocs update in response to bloc

[2019-12-15 07:42] henryla92 opened #727 "Using API client with Login"
Hi,

I'm currently trying to use this login bloc for an app I'm developing and have added a fetchUser to the authenticate function in the UserRepository. Like so:

[code]
This is my loginApi:

[code]
When the username and password is correct, I do receive a token and it is stored in:
[code]
But what I am stuck on is even when I submit an empty form or wrong credentials, my app still loads the Logg

[2019-12-15 09:33] RollyPeres commented on #727
It is perfectly fine to add events which you might think they shouldn't be dispatched(in order to not violate the bloc pattern you shouldn't have business logic in your UI deciding when to add an event, so no stuff like `if (token != null) authBloc.add(LoggedIn(token))`. It is the state resulting from that event what matters in the end. And the bloc is the one which decides what happens to a speci

[2019-12-15 10:28] henryla92 commented on #727
Ah I see, this is how I setup my main.dart:
[code]

And this is my AuthenticationBloc(which is the same as the one from this repo):
[code]
Can you please let me know if my main.dart setup is correct?

[2019-12-15 11:13] huang12zheng opened #728 "[question] How to share and close item around lists"
There is a List of articles - ArticleListBloc has the attribute Map<Aritlce.id, Aritlce>
It can filter to generate multiple listwidgets about trends, highlights, and popularity.
Item is all from List<Aritlce>.
But no I know how to close the article item

[code]

[2019-12-15 11:16] huang12zheng commented on #728
[code]
I wanted to register it with a counter as above

[2019-12-15 12:53] ukieTux opened #729 "Delay on add event"
**Delay on add event in iDevice**
I try to run my app in my iPhone 7 and X, when i press button that execute this code
`BlocProvider.of<HomeBloc>(context).add(GetResultEvent(dataInput: dataInput));`

it's take about 2-5 minutes to show result, i try to debug proses like this to check if code is execute or not
` print("debug : call result event");`
`BlocProvider.of<HomeBloc>(context).add(GetResultE

[2019-12-15 13:16] ukieTux commented on #729
Issue on get location, it's waiting to get state from location make it delay

[2019-12-15 13:16] #729 closed

[2019-12-15 16:20] sgioh opened #730 "Redundant Code?"
Unless I missed something, in the following code the variables `_state` and `_previousState` are redundant with each other.

file: [bloc_builder.dart](https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/lib/src/bloc_builder.dart)

[code]

It could be refactored like this:

[code]

[2019-12-15 16:49] felangel commented on #726
Hi @Elias8 👋
Thanks for opening an issue!

You should probably wrap your test in `tester.runAsync(() {...})`

You should also use `tester.pump(Duration(...))` to wait for the debounce.

Hope that helps and if you are still having trouble please provide a link to a sample app which illustrates the problem you're having 👍

[2019-12-15 16:53] felangel commented on #725
Hi @larssn 👋
Thanks for opening an issue!

Your assumption is correct. This won't work because the stream never completes. I would recommend subscribing to the stream within the bloc and adding a new event when data is received. You can check out [this](https://github.com/felangel/bloc/blob/b5db7064da8825f5f496c54e0f026e10516ec5cb/examples/flutter_bloc_with_stream/lib/bloc/ticker_bloc.dart#L19) ex

[2019-12-15 16:53] #725 closed

[2019-12-15 17:21] felangel commented on #728
Hi @huang12zheng 👋
Thanks for opening an issue!

Can you please describe why you need to maintain a map of ItemBlocs? I'm not sure I understand what you're trying to accomplish. It would be really helpful if you could link to a sample app which illustrates the problem you're having. Thanks!

[2019-12-15 19:29] felangel commented on #720
Closing for now since there isn't enough information provided. Feel free to comment with additional information or a link to a sample app and I'm happy to continue the conversation!

[2019-12-15 19:29] #720 closed

[2019-12-15 22:25] cmengler commented on #720
Sorry for the delay! Happy for you to close this ticket :)

I'll create an example app to demonstrate how I was originally using it with navigation routes -- however in the interim I've used direct routes to the appropriate screens instead of routing back to the intermediate widget for re-routing.

[2019-12-16 08:30] huang12zheng commented on #728
https://github.com/huang12zheng/share_list/tree/master/lib
Map is for sample.

[2019-12-16 09:53] huang12zheng commented on #728
I update sample, and it is for
* requirement：

1.  item change is sync, including navigation page.
2. list refresh(no implement in sample) or loadMore would refresh items.
3. close item in a right way.

-----

I click right item (id=10)  to 5, and scroll left to 10. Then, right item(id 10) to 0

Map is just for requirement.

----
PS:  I really think a map in bloc is not a good thing though it is w

[2019-12-16 17:16] recreatingfitness commented on #711
@felangel  hoping you can take a look and potentially re-open this. thanks

[2019-12-16 17:18] felangel commented on #711
Will take a look as soon as I can 👍

[2019-12-16 23:13] recreatingfitness commented on #711
Update: I've tested a few other DI solutions with the same results [inject.dart](https://github.com/google/inject.dart) and [kiwi](https://pub.dev/packages/kiwi). It doesn't make any difference using a factory or singleton pattern.

A confirmed workaround is using a ProxyProvider to inject independent blocs into dependent blocs (example from my application below).  However at this point I'm just c

[2019-12-17 00:10] felangel commented on #719
@wyxcoder I think the issue you're having with the context is that the context provided within the `pageBuilder` is detached from the parent context so you need to use the parent context to do the Repository/Bloc lookup.

[code]

Regarding the larger question, I think this problem is a sign of one bloc having too many responsibilities. I would strongly recommend having separate blocs for each feat

[2019-12-17 00:10] #719 closed

[2019-12-17 00:11] felangel commented on #726
Closing for now but feel free to comment with additional information/questions and I'm more than happy to continue the conversation 👍

[2019-12-17 00:13] felangel commented on #709
@ezamagni thanks for bringing this up. Originally the change was made for #671 but after thinking about it some more I agree the original behavior is more expressive and intuitive. Will revert to previous behavior in v3.0.0 👍

[2019-12-17 00:19] felangel commented on #727
Hi @henryla92 👋
Thanks for opening an issue.

Your setup seems mostly fine. The one main thing I want to call out is if you provide a `home` and `/` route in `onGenerateRoute` I believe it will always render `home`. I would recommend either refactoring to use `home` or to use `/` in `onGenerateRoute` but not both.

Closing for now but feel free to comment with additional questions and I'm happy to

[2019-12-17 00:19] #727 closed

[2019-12-17 05:16] felangel commented on #730
Hi @sgioh 👋
Thanks for opening an issue!

This will be addressed as part of #709 👍

[2019-12-17 08:08] Elias8 commented on #726
I am trying to test the bloc itself. I don't have the source online so, I will use your GitHub search bloc example from this [link](https://github.com/felangel/bloc/blob/926029cae2d7614d38b5a9a8952e36bb59054b02/examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart#L15) and the test I wrote for this bloc is below. I am not sure if I am missing something.

[c

[2019-12-17 12:15] felangel commented on #726
@Elias8 thanks for the clarification! I'll try to take a look later by the end of day 👍

[2019-12-17 12:23] Elias8 commented on #726
Okay. Thanks!

[2019-12-17 14:45] MacGuffinLife opened #731 "Bug in CupertinoTabview"
**Describe the bug**
I used blocprovider in CupertinoTabView,and I first create a blocprovider in CupertinoTabView’s child.then In the Blocbuilder’s child ,I need add one event to this bloc,But when I use provider.of ,notice me can not find the bloc.The exception says the problem may caused by CupertinoTabview. I have tried several solution but not worked all. I don’t want to use global bloc,so wh

[2019-12-17 14:58] chstrong opened #732 "Architectural question - BlocListener"
I have declared all my blocs in main.dart with MultiBlocProvider. One of my Blocs is a SharedStoreBloc with AddItemEvent and LoadItemEvent. I use this to store temporary items such as document id's of documents, that I will use again throughout my app.

In the example below:
* SharedStoreBloc is created in main.dart
* BlocListener is used to listen for the SharedStoreItemLoadedState, to get the va

[2019-12-17 18:28] Valentin-Seehausen commented on #732
When course and section fire the SharedStoreItemLoadEvent with different data and they expect different data, could it be the you actually need two different SharedStores? One for each of course and section?

As I understand, Blocs are there for exactly this purpose: Sharing the same state between different components. If you start to distinguish between items in the Listener (with a condition as

[2019-12-17 18:30] Valentin-Seehausen commented on #731
Can you provide some code? Or should this question be moved to Stackoverflow?

[2019-12-18 00:24] chstrong commented on #732
Thanks Valentin for your answer. Much appreciated. I've read what I can do with "condition", but  didn't see, how I could use it in my use-case . Therefore agreed, looks like dividing the shared store is the way to go. I hoped I can prevent some boilerplate code, but it's fine, if this is considered to be the best practice. Will close this issue.

[2019-12-18 00:24] #732 closed

[2019-12-18 04:29] MacGuffinLife commented on #731
###tabbar
[code]
###meBlocProviderPage
[code]
### MePage
[code]

### some code in mePageContent
[code]

###Exception
[code]

I have tried to get bloc in mePage by initState,but I get the bloc first,after I add event,console tells me can't add event after close.I guess the problem is caused by CupertinoTabbar's special route.So,I ask this here.

[2019-12-18 04:56] felangel commented on #731
Hi @MacGuffinLife 👋
Thanks for opening an issue!

I believe the problem is you're using the context from the new `CupertinoPageRoute` which is disconnected from the parent context. Can you please try refactoring your `onTap` in `mePageContent` to:

[code]

Let me know if that helps! 👍

[2019-12-18 05:16] felangel commented on #730
Addressed in #733 and will be included in v3.0.0

[2019-12-18 05:16] #730 closed

[2019-12-18 05:17] felangel commented on #709
Addressed in #733 and will be included in v3.0.0

[2019-12-18 05:17] #709 closed

[2019-12-18 05:17] MacGuffinLife commented on #731
ok,I have tried and it works well.It helps me so much!

[2019-12-18 05:17] #731 closed

[2019-12-18 10:57] arnemolland commented on #608
This would be neat indeed. We're currently using a super simple extension:
[code]
Though it may or may not be *too* simple

[2019-12-18 11:15] larssn commented on #712
Yes. It's something many people get wrong, because they don't understand it's many many concepts. There's a lot in DDD I don't understand myself, so I'd rather not force people down that road. I prefer my models to be anaemic 😁

I like that BLoC is pretty open ended: it's doesn't force my hand to adopt DDD.

[2019-12-18 13:59] felangel commented on #712
@RollyPeres in what part of your application do you do the Stream transformation? In my opinion, it's more about abstraction; if you're transforming the raw Firestore stream in your UI layer you no longer have any layer of abstraction which means your UI is tightly coupled to Firestore. If your application blows up in terms of users, for example, and you decide you want to switch to a different DB

[2019-12-18 14:12] larssn commented on #712
Well I'm talking about DDD, I assume you're referring to the concepts in BLoC?

[2019-12-18 14:56] felangel commented on #712
@larssn I'd be very interested to understand why you prefer not to follow the architecture outline in the documentation when using bloc so that I may potentially make improvements.

[2019-12-18 15:03] larssn commented on #608
@arnemolland It saves a bit of boilerplate, so it's probably fine. 🙂

[2019-12-18 16:00] larssn commented on #712
@felangel
The architecture outline is a great starting point. But I'm not a fan of the Bloc to Bloc approach, as I hinted earlier. When put to practise we fairly quickly ran into scenarios where it was hard to figure out in which order events caused Blocs depending on other Blocs, to trigger (we have a big and complex app). We decided fairly early that this was a recipe for a lot of potential avoi

[2019-12-19 16:52] hawkinsjb1 commented on #545
Whether or not this is still being considered, i'm going to spitball a few names for the fun of it

BlocWidget, BlocComponent, BlocBuilder.listener(), BlocReceiver is cooler than BlocConsumer IMO (and pairs with BlocProvider), BlocBase, BlocPost, BlocStation, BlocReactor, ehh? I think just BlocWidget makes sense as far as BLoC pattern goes, logical classes represented by Bloc<Event, State> paired

[2019-12-19 19:40] RollyPeres commented on #712
I also try to avoid that at all costs. If you need bloc to bloc then you might actually need that logic in a separate bloc provided on top of the others. At the end of the day, you could even `combineLatest` multiple blocs :)

Stream transformation happens in the service, which is nothing but a glorified repository at the end of the day really, which instead of `Future`s exposes `Stream`s. I could

[2019-12-20 03:45] mranhtu commented on #272
I have the same problem, hope you support. How to listen to the state after performing an action, from which i can use the router.
I tried to follow your [example](https://github.com/felangel/Bloc/tree/master/examples/github_search), but it failed.

My repo: [https://github.com/mranhtu/bloc_example](https://github.com/mranhtu/bloc_example)

[2019-12-20 03:49] felangel commented on #272
@mranhtu thanks for sharing a link to your sample app. I'll take a look as soon as I can.

[2019-12-20 15:59] felangel commented on #272
@mranhtu I took a look and opened a [pull request](https://github.com/mranhtu/bloc_example/pull/1) with some suggestions and I added the code to listen to the bloc. Hope that helps!

[2019-12-20 15:59] #272 closed

[2019-12-20 16:09] felangel commented on #712
@larssn it would be great if you could provide some examples of the scenarios you are describing. Depending on the case, I would argue that logic that is shared between several blocs could be part of the repository layer so you would not need bloc to bloc communication. Also date formatting is a UI specific thing so I would recommend creating a DateFormatter widget like:

[code]

We had the same f

[2019-12-20 16:11] felangel commented on #712
@RollyPeres thanks for clarifying! So just for my understanding, you avoid subscribing to streams in blocs and instead prefer to directly transform the stream in a service which you directly consume in your widgets via a StreamBuilder? All this wouldn't be an issue for you if there was a better way to transform/manipulate a stream within a bloc without having to subscribe?

[2019-12-20 19:49] danbeo95 opened #735 "ListView was rerender when inifinite scroll"
Hey gui.I implements examaple https://bloclibrary.dev/#/flutterinfinitelisttutorial with Infinite scroll.But i found that my ListView was rerender after PostLoaded was update with new posts.Please help me.Thanks so much.Here is my code
[code]

[2019-12-21 02:12] hahai96 commented on #735
Yes, listview will rebuild the item being displayed on the screen, not all

[2019-12-21 06:06] felangel commented on #735
Hi @danbeo95 👋
Thanks for opening an issue!

As @hahai96 mentioned this is expected behavior and ListView.builder only renders the items in view so it should not be a problem. Hope that answers your question. Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2019-12-21 06:06] #735 closed

[2019-12-21 20:32] RollyPeres commented on #712
@felangel no problem at all! I do avoid manually subscribing to streams and I do transform streams inside a service, but I don't actually use a `StreamBuilder` but instead I pass my streams to provider's `StreamProvider` which makes use of `StreamBuilder` under the hood. And yes, I would totally consider using bloc with real time streams if it wouldn't force me to subscribe.

[2019-12-22 01:39] jesserwright opened #736 "Typo in the Weather Tutorial "nad" -> "and""
See second paragraph under [**Add getLocationId Method**(https://bloclibrary.dev/#/flutterweathertutorial?id=add-getlocationid-method)

"So let's go ahead nad do that now."

[2019-12-22 15:54] navidshad opened #737 "Multi instance of a block doesn't work fine"
Hi I have a Scaffold screen with a TabView and an AppBar.
I want change AppBar title when TabView index changed.

there is an AppFramebloc and there are to kind of events and states one for changing tabs and the others for AppBar title.
I used two BlocProvider for both the TabView and the AppBar separately to pass them AppFramebloc.

so everything works fine when app initialized for the first time

[2019-12-23 02:50] mikaelmello opened #738 "[Docs] Set TextInputType in Email form fields"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

All tutorials that include forms and email fields (I'm only aware of the Firebase Login one) could include `keyboardType: TextInputType.emailAddress` when creating a `TextFormField`

**Describe alternatives you've considered**

None

**Additional context**

![image](https://user-images.gi

[2019-12-23 14:36] larssn commented on #712
Broadcast stream support wouldn't be bad. I made an issue about that recently, since I thought it was supported.

@felangel I think we're mostly debating semantics. Our current approach doesn't really display any pain-points, it's just a slightly different way of doing things. :-) One could argue it's just a different way of naming things. It's just that in my view, a repository should be fairly b

[2019-12-23 16:13] felangel commented on #736
Hi @jesserwright 👋
Thanks for opening an issue!

Fixed in https://github.com/felangel/bloc/commit/51c50d92fef2d83b832dd4d1040c6a96a8f6bccb 👍

[2019-12-23 16:13] #736 closed

[2019-12-23 16:19] felangel commented on #738
Hi @mikaelmello 👋
Thanks for opening an issue!

Fixed in https://github.com/felangel/bloc/commit/4e790345052e875c6998268a50765ef144d2bad6 👍

[2019-12-23 16:19] #738 closed

[2019-12-24 12:13] Diecar opened #739 "[Question] mapEventToState is getting called just the first time"
Hi,
I've been trying to do an app assigned to me using the bloc pattern, I followed the [flutter_bloc infinite list tutorial](https://bloclibrary.dev/#/flutterinfinitelisttutorial) and everything works fine except for one thing.
I use two blocs for two different infinite list and the second one is supposed to load data based on the row that you selected in the first one, the thing is It just loads

[2019-12-24 14:46] RaviKavaiya opened #740 "Can closing the Bloc become optional?"
First of all, this is not an issue. Need some help.

Hello, I am using this package after a long, updated from v0.15.0 (flutter_bloc).
I have an older application that was using 0.15.0, I updated dependency to 2.0.0 (bloc) and 2.1.1 (flutter_bloc).

Now, I get warnings of closing the sinks (the bloc objects) (instances of dart.core.Sink). I know, this is USEFUL.

BUT, imagine below situation :

[c

[2019-12-24 16:56] felangel commented on #740
Hi @RaviKavaiya 👋
Thanks for opening an issue!

This is a duplicate of https://github.com/felangel/bloc/issues/587 and there is an issue open on the Dart Linter to resolve false positives at https://github.com/dart-lang/linter/issues/1381.

Regarding your specific question, I would either avoid creating streams and subscriptions directly in main because they will never be closed or you can simply

[2019-12-24 16:56] #740 closed

[2019-12-24 16:56] mranhtu opened #741 "How do I get the state of Bloc in different screens on the Angular Dart"
Flutter there will be BlocBuilder to help listen to the changes of the Bloc. So in Angular Dart i want to get the state of Bloc in different screens, how can I do it.
Thank you.

[2019-12-24 16:57] felangel commented on #741
Hi @mranhtu 👋
Thanks for opening an issue!

You can use the bloc pipe in angular dart which will handle updating your template whenever the bloc's state changes. Please refer to the [counter example](https://github.com/felangel/bloc/tree/master/examples/angular_counter) specifically https://github.com/felangel/bloc/blob/4e790345052e875c6998268a50765ef144d2bad6/examples/angular_counter/lib/src/coun

[2019-12-24 16:57] #741 closed

[2019-12-24 17:12] felangel commented on #724
Hey sorry for the delayed response (just got back from vacation). I took a closer look and this is actually working as expected. `blocTest` uses `emitsExactly` under the hood which closes the bloc's sink and stream in order to provide instant feedback about the test (rather than a potential 30 second timeout). In this case, I would not recommend adding another event for the same bloc within `mapEv

[2019-12-24 17:12] #724 closed

[2019-12-24 20:02] henryla92 commented on #727
Ahh I see, thank you for the advise!

[2019-12-25 05:42] felangel commented on #726
@Elias8 I took a look and am going to add an optional `waitFor` to `blocTest` in v3.0.0 which will address this. The resulting test should look like:

[code]

[2019-12-25 07:58] felangel commented on #726
Merged in #742 and will be included in `bloc_test v3.0.0`

[2019-12-25 07:58] #726 closed

[2019-12-25 08:12] Elias8 commented on #726
Great! Thanks.

[2019-12-25 10:15] JamesBondPc opened #743 "Hi , I found It's hard to use"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-25 11:22] hammad-tariq commented on #368
Link Updated:
https://bloclibrary.dev/#/recipesfluttershowsnackbar

[2019-12-25 14:38] felangel commented on #743
Hi @JamesBondPc 👋
Thanks for opening an issue!

Unfortunately there is not enough information in this issue for me to help. Please avoid opening an issue without filling out the template or providing specific examples/reproduction steps.

[2019-12-25 14:38] #743 closed

[2019-12-26 18:00] vassilux opened #744 "Unhandled Exception BlocProvider.of()"
Hi ,
Get this  erreur :

[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception:         BlocProvider.of() called with a context that does not contain a Bloc of type AuthenticationBloc. E/flutter (12064):         No ancestor could be found starting from the context that was passed to BlocProvider.of<AuthenticationBloc>().

I try to create a little application based in yours flutter_fireb

[2019-12-26 18:02] felangel commented on #744
Hi @vassilux 👋
Thanks for opening an issue!

Are you able to share a link to the full source code? Thanks!

[2019-12-26 18:12] vassilux commented on #744
thank for you response
this is a link to repo [https://github.com/vassilux/fsone/tree/master/lib](url)

[2019-12-26 18:14] felangel commented on #744
No problem! I took a quick look and don't understand why you need this line https://github.com/vassilux/fsone/blob/fefc5da5cccbc6ec1283c4927fd85432746cf73a/lib/main.dart#L54. You can't access the bloc from the same context in which it was provided.

[2019-12-26 18:37] spidgorny opened #745 "BlocBuilder not being triggered on state change"
I've followed the tutorial: [Flutter NoSQL Database – SEMBAST Tutorial (w/ BLoC)](https://resocoder.com/2019/04/06/flutter-nosql-database-sembast-tutorial-w-bloc/)
I've made adjustments to make it compatible with Bloc v2.

I can see that my states change, but BlocBuilder does not react on the changes - the UI is not being updated.

Spent hours googling trying to find the reason. Please help.

Repr

[2019-12-26 19:11] vassilux commented on #744
yes it was I jsut stupid teste I forgot to delete

[2019-12-26 21:14] vassilux commented on #744
Felix,
my problem is in login_form.dart
`if (state.isSuccess) {
          BlocProvider.of<AuthenticationBloc>(context)
              .add(LoggedIn());
        }`
there is a chance that I don't understand well something with flutter_bloc library ,  so LoginPage does not contain a AuthentificaitonBloc

I found some examples on the `https://www.didierboelens.com/fr/2018/12/reactive-programming---stre

[2019-12-27 05:11] felangel commented on #745
Hi @spidgorny 👋
Thanks for opening an issue!

I opened a [pull request](https://github.com/spidgorny/flutter_teacher_logbook/pull/1) to fix several problems in your application. The root cause was you weren't using `Equatable` properly and setting the props to the actual `Fruit` property. Also, `Fruit` itself was not extending `Equatable`.

Closing for now but feel free to comment if you have addi

[2019-12-27 05:11] #745 closed

[2019-12-27 05:18] felangel commented on #744
Hi @vassilux I took a look at https://github.com/vassilux/fsone/tree/master and you are missing required files such as a `pubspec.yaml` so I am unable to run the project locally. Can you please update the project so that it can be run locally? Thanks!

[2019-12-27 05:30] felangel commented on #739
Hi @Diecar 👋
Thanks for opening an issue!

I took a look at your app and was unable to run it locally because it requires a local MongoDB instance. I did however notice several things that I would not recommend:

1. I didn't understand the purpose of your `Blocs` class. You should have different classes which extend Bloc rather than a single `Blocs` which you subclass.
2. The way you setup the cal

[2019-12-27 05:30] #739 closed

[2019-12-27 05:37] felangel commented on #737
@navidshad this is because you are closing the bloc when it is still being used. When providing a bloc via `BlocProvider` you do not need to close it manually as it is closed by `BlocProvider` automatically.

If you refactor your `screen_appFrame.dart` and all other screens like so:

[code]

then everything should work because the bloc will not be closed prematurely.

Hope that helps! Closing for

[2019-12-27 05:37] #737 closed

[2019-12-27 05:49] felangel commented on #711
@recreatingfitness I was able to make it work by refactoring `service_locator.dart` to

[code]

I expected the following to work but it didn't:

[code]

Seems like there is a problem resolving registered instances within other factories. I would recommend opening an issue for this on [get_it](https://github.com/fluttercommunity/get_it) since this doesn't appear to be an issue with the bloc library

[2019-12-27 05:49] #711 closed

[2019-12-27 05:52] felangel commented on #728
Hi @huang12zheng I tried taking a look but I don't fully understand the requirements and I wasn't able to run the application since it's missing a `pubspec.yaml`.

Closing for now since I don't have enough information to help but feel free to add additional information or update the sample so that it can be run and I'm happy to continue helping 👍

[2019-12-27 05:52] #728 closed

[2019-12-27 09:34] vassilux commented on #744
yes done

[2019-12-27 12:45] welderknaf opened #746 "BlocBuilder condition is not firing in the very first time"
Condition (BlocBuilderCondition) is not firing in the very first time. So, it's not filtering states properly.

![image](https://user-images.githubusercontent.com/10700471/71517543-4c127800-288d-11ea-9ca2-0de1322a16e8.png)

[blocbuilderconditiontest.zip](https://github.com/felangel/bloc/files/4005279/blocbuilderconditiontest.zip)

[2019-12-27 19:03] felangel commented on #746
Hi @welderknaf 👋
Thanks for opening an issue!

`BlocBuilder's` condition is called once for each state change. The initial state is not considered a state change so condition will not be called. As far as I can tell, this is working as designed. I'm more than happy to help if you have a specific use-case.

I'm not sure I understand the goal of the example you shared; you aren't adding any events t

[2019-12-27 19:03] #746 closed

[2019-12-27 20:16] felangel commented on #744
@vassilux I ran it locally and had no issues. My `login_form.dart` looks like:

[code]

Closing for now since it seems like everything is working as expected. Feel free to comment with additional information/questions and I'm happy to continue the conversation 👍

[2019-12-27 20:16] #744 closed

[2019-12-28 07:54] prasant10050 commented on #139
I am very happy with this library that it made my production very flexible.The version I am using today is far behind the latest version.I have to migrate to version 0.2.0 in 3.0.0 without doing any more work in production As least as possible.

[2019-12-28 07:55] prasant10050 commented on #139
While migrating the well, I have to pay attention to the entire package and also equatable package and the models of app

[2019-12-28 08:23] prasant10050 opened #747 "Update the version of plugin on Intellij idea"
https://plugins.jetbrains.com/plugin/12129-bloc-code-generator

[2019-12-28 08:41] vassilux commented on #744
Ok Felix,
It is interesting point to understand where is problem , maybe this behavior is caused by environment
I run in debug on device and Emulator

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel master, v1.13.6-pre.16, on Microsoft Windows [version 10.0.18362.207], locale fr-FR)

[√] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[

[2019-12-28 11:25] liri2006 opened #748 "CPU usage spike after upgrading to 3.0.0"
**Describe the bug**
After upgrading flutter_bloc to 3.0.0 (and rxdart to 0.23.1) I've noticed slight spike in CPU usage by Android Emulator (qemu-system-x86_64.exe process, Windows 10). Immediately after starting the app CPU usage jumps to 40+% and just stays there even though app does nothing.
If downgraded back to 2.1.1 (rxdart to 0.22.0) and restarting the app it falls to 4-5% and everything i

[2019-12-28 14:51] MohsinN commented on #724
Hi,

Thank you for the detailed response.

Great work with library. Also, please let me know if I can contribute in any way. I can help out in writing tests if you like. Open to other suggestions as well.

Do let me know what you think.

[2019-12-28 15:37] andreacimino commented on #666
I had the same problem and I fixed manually by editing the package.json file of the extension to

main": "./dist/extension.js"   from ("./out/extension.js") . Hope it helps.

[2019-12-28 15:38] andreacimino commented on #666
Until yesterday everything was working, most probably un upgrade broke something.

[2019-12-28 16:41] felangel commented on #748
Hi @liri2006 👋
Thanks for opening an issue!

This is more likely a Flutter issue than a bloc issue as bloc v3.0.0 requires Flutter >=v1.12.1. Are you able to compare a counter app with setState and a counter app with bloc to see if the CPU spike only occurs in the bloc variant? Thanks!

[2019-12-28 21:08] liri2006 commented on #748
Well, I did compare counter app with and without bloc... and both did not have any issues. And also I'm not able to reproduce it in my main app anymore, so guess it was somehow related to stars alignment, time of a day or just my computer was angry with me for some reason. Sorry for bothering you!

[2019-12-28 21:09] tenninebt commented on #748
Hi, noticed the same thing, actually I upgraded from 1.0.0 to 3.0.0 and encountered the issue. Pretty sure it does not come from Flutter and here is why : I checked my `pubspec.lock` _"without upgrade"_ vs _"with upgrade"_ of `flutter_bloc` and I have noticed that my SDK version was already 1.12.13+hotfix.4 in both cases, the only upgrades that happened were :

- `bloc   1.0.1 -> 3.0.0`
- `rxDart

[2019-12-28 21:22] liri2006 commented on #748
@tenninebt Can you try to downgrade to flutter_bloc 2.1.1 and rxdart 0.22.0? That's what helped me in the morning. Btw, I was initially updating from flutter_bloc 0.21.0.

[2019-12-28 21:22] felangel commented on #748
I am skeptical that bloc is the issue because there were no major changes to bloc itself. Most of the big changes we're in provider and rxdart. If you can provide detailed reproduction steps and have good reason to suspect bloc I'm happy to look into it but given the changes it wouldn't make sense to me.

[2019-12-28 21:51] tenninebt commented on #748
@felangel I totally understand, that's why I said it is one of the upgrade that comes with bloc (could be rx or provider).
@liri2006 I did downgrade to 2.1.1 which solves the issues (same as downgrading to 1.0.0).
I'll have a look asap, probably next week and I'll post my findings.

[2019-12-28 22:05] tenninebt commented on #748
Just had a look at `provider` repository, I think we have a winner : https://github.com/rrousselGit/provider/issues/308
The fix is live (4.0.1), it does fix the issue. I guess for the next release, the dependency should be to >=4.0.1.

[2019-12-28 22:10] tenhobi commented on #748
The dependency should be fine then.

flutter_bloc uses `provider: ^4.0.0`, which is also suitable for `4.0.1`. Just be sure to update your dependencies again to fetch those changes I guess. :-)

[2019-12-28 22:33] tenninebt commented on #748
What I meant is as long as the version is not explicitly constrained, there a risk of other people facing the issue, (if they have an explicit 4.0.0 direct dependency I guess, but maybe in other cases too), forcing the dependency to be ^4.0.1 is safer as they either will have the right version or a conflict when getting the packages, it is clearly not urgent, but nice to have on a next version.

[2019-12-28 22:35] felangel commented on #748
I'll include this in v3.1.0 👍

[2019-12-28 23:08] felangel commented on #666
@andreacimino thanks for reporting this! Just fixed and published v3.0.1

[2019-12-29 13:09] payam-zahedi commented on #412
hi @felangel,   I have the same issue. but I can't read this gist. it's probably deleted or disabled.

[2019-12-29 13:45] tenhobi commented on #412
@payam-zahedi it's visible for me. https://gist.github.com/felangel/a7dfebd482bcb4a792f71c679bbf8df4

[2019-12-30 03:21] bartekpacia opened #750 "Extremely strange bug"
**Describe the bug**
Well, I have this code below:
[code]

I thought this code is easy and straightforward, I expected those 2 blocs to be instantiated. However, that's the output I see in the logcat:
[code]
It seems like `MultiBlocProvider` doesn't instantiate all BLOCs.
This makes me completely unable to continue development. I have no idea why it's like that. The best thing is, it worked a few

[2019-12-30 03:24] felangel commented on #750
Hi @bartekpacia 👋
Thanks for opening an issue!

Are you able to provide a link to a sample app which illustrates the issue? Thanks and sorry for the inconvenience!

[2019-12-30 03:24] bartekpacia commented on #750
Sure, I'll try to create minimal *nonworking* example

[2019-12-30 03:57] bartekpacia commented on #750
[Okay, done](https://github.com/bartekpacia/broken_bloc). I tried to cut as much unnecessary code as possible.
![demo](https://user-images.githubusercontent.com/40357511/71567475-bf033500-2abf-11ea-89f2-146c19057b87.gif)
Strange thing is that for the very first time a different error is shown:
<img width="330" alt="1" src="https://user-images.githubusercontent.com/40357511/71567623-cbd45880-2ac0-1

[2019-12-30 04:00] felangel commented on #750
Will take a look shortly! Thanks for providing the sample 🙏

[2019-12-30 04:31] felangel commented on #750
@bartekpacia I've opened a [pull request](https://github.com/bartekpacia/broken_bloc/pull/1) to fix the issue. The problem is your `ProfilePageBloc` throws an `AssertionError` because you aren't providing a `user` when you create it in `BlocProvider`. As a result, the `ProfilePageBloc` is never created and cannot be retrieved. Hope that helps!

[2019-12-30 05:00] felangel commented on #724
No problem! If you find anything you feel is lacking please don't hesitate to open an issue and create a pull request 👍

Thanks so much! 🙏

[2019-12-30 05:01] felangel commented on #744
@vassilux do you have any problems running the [default login example](https://github.com/felangel/bloc/tree/master/examples/flutter_login)?

[2019-12-30 06:23] MohsinN commented on #724
Awesome thanks! 😄

[2019-12-30 09:52] vassilux commented on #744
Yes Felix it works good I just added
android.useAndroidX=true
android.enableJetifier=true
and changed compileSdkVersion 28

I will continue to look for solution and copare with your example

[2019-12-30 11:04] bartekpacia commented on #750
Wow, such a small thing but wasted me about 6 hours.
Thank you very much, really, I can't it express with words. If not you I'd probably still be sitting and trying to figure out wtf is happening.

I'd never think about that failed assertion could cause this. So just small little follow-up question – why I didn't see gigantic `Assertion failed` red screen like usually? Not even in logs.

Thanks ag

[2019-12-30 11:04] #750 closed

[2019-12-30 12:04] AliAon commented on #181
thanks

[2019-12-30 14:09] mustafa96m opened #751 "BloC instance for each list view item"
Hey Everyone!

Is it a good idea to instantiate a BloC for each ListView item? And if so, is having BlocBuilder with BlocProvider together to handle the disposal of blocs as the list view recycles, is a good idea as well?

I'm doing this because I need the ListView Item (Individually) to react upon a state that can take time per list view item.

Such as I want to display a loading indicator until

[2019-12-30 14:13] kevinmungai opened #752 "yield seems to not be working"
**So I have a weird bug that I don't know how to fix, the yield seems to be working on other events and not on one specific event**

I have a form and the form is backed by block, so each TextFormField is `add`ing events to the Bloc and each event is being processed. I will now show the code systematically.

`main.dart`
[code]

`business_name_entry.dart`
[code]
`email_address_entry.dart`
[code]
**

[2019-12-30 14:19] kevinmungai commented on #752
Here is the link to run the project
[text field flutter bloc issue github link](https://github.com/kevinmungai/text_field_flutter_bloc_issue)

[2019-12-30 16:12] felangel commented on #750
Unfortunately I think provider 4.0.0 changed the error handling and now just swallows the error. You can open an issue on provider for this if you'd like. Glad I was able to help!

[2019-12-30 16:15] felangel commented on #751
Hi @mustafa96m 👋
Thanks for opening an issue!

Have you taken a look at the [complex list example](https://github.com/felangel/bloc/tree/master/examples/flutter_complex_list)?

[2019-12-30 17:20] mustafa96m commented on #751
Hi Felix,

Thanks for sharing this example. This is exactly what I was looking for!

I mostly learned the BloC pattern from the rest of the examples you authored, yet I don't know how I missed this one! Sorry for disturbing you and Happy Holidays.

[2019-12-30 18:28] #751 closed

[2019-12-30 21:33] welderknaf commented on #746
Thanks for your answer @felangel

How can i filter a state in condition builder to prevent building state if it is an initial state?

If you look at my example screenshot, i'm filtering and handling only Event2. How can be possible another state has been caught but Event2?

Thanks in advance,

[2019-12-30 21:35] felangel commented on #746
@welderknaf you can't prevent the build of initialState because a widget must always be rendered. Hope that helps 👍

[2019-12-30 21:41] welderknaf commented on #746
Ok. Thank you @felangel

[2019-12-31 08:12] JeasonL commented on #666
![image](https://user-images.githubusercontent.com/8176138/71614625-c3c30880-2be7-11ea-90bc-6fd0fe5d662b.png)
Same problem on v3.0.1.

[2019-12-31 10:34] sohampandya00 opened #754 "how to load same state twice ?"
hi,

i am first getting data from cache and then updating data from network. using folowing code but its not working. can anyone guide ?

[code]

[2019-12-31 15:15] vassilux commented on #744
Felix,
so I used your default login example as base of my project and now it is work , mu code was imported into your project

Thank for your help and happy new year

[2019-12-31 16:10] felangel commented on #666
@JeasonL thanks for reporting this. @andreacimino are you also experiencing the same issue on v3.0.1?

[2019-12-31 16:13] felangel commented on #754
Hi @sohampandya00 👋
Thanks for opening an issue!

Bloc ignores state changes when the emitted state is equal to the current state. If your state class is extending Equatable, then even if you yield a new state instance the state might be ignored if the values are the same as those on the current state. For cases where you want multiple states with the same values to trigger state changes you shoul

[2019-12-31 16:13] #754 closed

[2019-12-31 16:13] andreacimino commented on #666
I will try to install from scratch and will let you know (I am using still my modified version).

[2019-12-31 16:15] andreacimino commented on #666
Here works fine.

[2019-12-31 16:16] felangel commented on #666
@JeasonL are you able to provide more information or reproduction steps? Are you using Windows or MacOS? I am also unable to reproduce this but it sounds like you're running into the same issue as @agordeev.

[2019-12-31 18:46] marcos930807 commented on #666
The error happens to me because i am running on flutter 1.9.1 and bloc 2.1.0 because can't upgrade flutter yet(an amalyzer wear error under investigating). When the extention get automatic updated to version 3.0 the errors appears. I fixes by just downgrade extenxion. Hope that help somebody. Sorry for my bad English.

[2020-01-01 14:31] navidshad commented on #737
Thanks for response, I was in a hurry and I wrote my own BLoC module. But I will use BLoC package in production.

[2020-01-01 21:10] felangel commented on #545
Implemented in #753 and released in `flutter_bloc v3.1.0` 🎉

[2020-01-01 21:10] #545 closed

[2020-01-01 21:10] felangel commented on #748
Published in `flutter_bloc v3.1.0` 🎉

[2020-01-01 21:10] #748 closed

[2020-01-01 21:25] felangel commented on #752
@kevinmungai I opened a [pull request](https://github.com/kevinmungai/text_field_flutter_bloc_issue/pull/1) to fix the issue. The problem was you were incorrectly overriding `props` in `RegisterBusinessType`.

[2020-01-01 21:25] #752 closed

[2020-01-01 21:26] felangel commented on #747
Hi @prasant10050 👋
Thanks for opening an issue!

Unfortunately for some reason I have submitted an update and it is still "pending". Will try to resolve this asap 👍

[2020-01-01 21:37] kevinmungai commented on #752
Thank you so much.

[2020-01-02 09:51] polivmi1 opened #757 "BlocProvider.value not working in MultiBlocProvider"
**Describe the bug**
When showing a dialog and sharing the old bloc with the new context tree, it will work correctly when using BlocProvider.value, but not when including it in MultiBlocProvider.

**To Reproduce**
Works:
[code]

Not working:
[code]

[2020-01-02 10:01] danbeo95 commented on #574
Hey @felangel . I have same issue.If observable uncomplete,then mapEventToState can not call.I still dont unserstand why ?,Can you explain help me ? I found in core have this funtions,dose it take this ?
`dart`

void _bindStateSubject() {
    Event currentEvent;

    transformStates(transformEvents(_eventSubject, (Event event) {
      currentEvent = event;
      return mapEventToState(currentEvent

[2020-01-02 13:12] felangel commented on #757
Hi @polivmi1 👋
Thanks for opening an issue!

When using MultiBlocProvider you just explicitly specify the bloc type

`BlocProvider<B>.value(...)`

Hope that helps 👍

[2020-01-02 13:12] #757 closed

[2020-01-02 17:08] prasant10050 commented on #747
Can I add updated plugin on my intellij idea without approval from Intellij
idea

On Thu, Jan 2, 2020, 02:56 Felix Angelov <notifications@github.com> wrote:

[2020-01-02 18:45] rodrigobastosv opened #758 "[Question] Navigate within BlocListener or Bloc"
First of all congratulations for the excellent work with package flutter_bloc.

I would like to hear from you what you think is architecturally best for navigation with flutter_bloc. I always find myself with two possibilities:
1) Navigate within a BlocListener
2) Navigate within Bloc (using a global `navigatorKey`).

I believe the recommended way to navigate flutter_bloc is through BlocListener,

[2020-01-02 19:02] felangel commented on #758
Hi @rodrigobastosv 👋
Thanks for opening an issue and for the positive feedback!

As you mentioned, I would highly recommend keeping navigation in the UI via `BlocListener` (option 1) because with option 2 you are tightly coupling your bloc to the UI layer (ideally there should be no Flutter-specific code or imports in your bloc files).

I would love to hear more about the specific use-case that yo

[2020-01-02 21:04] klaszlo8207 opened #759 "How to build a widget only first time?"
I have some Events and States, I am using BlocBuilder

Is there any way to build my BlocBuilder only once when my state is **GotRepositoryAndDownloadedFilesState** and then never when the state becomes else state?

What I want is:

BlocBuilder<RenderBloc, BaseState>(builder: (context, state) {
  if (state is GotRepositoryAndDownloadedFilesState) {
    return _buildLogoWidget();
  } else {
    retu

[2020-01-03 03:57] rodrigobastosv commented on #758
Hello @felangel thanks for your fast reply.

I think i was over engineering a solution that's not needed at all. I reviewed my code and i really don't need the extra states i was creating, so i just followed your advice and navigated directly from the UI.

You can close this one, since i have already got the answer i need :)

Thanks again!

[2020-01-03 04:00] #758 closed

[2020-01-03 12:35] dshukertjr opened #761 "Each event awaits for the previous event for completing"
First of all, I love this library and I use it in my every flutter project!
I think what I am reporting here is a bug, but if it is caused because I missed something, I apologize in advance.

**Describe the bug**
I have a TextField that emits a event inside onChange method like the following in my Flutter app:

[code]

Then in my bloc file, I have the following method that will convert this event

[2020-01-03 13:12] felangel commented on #761
Hi @dshukertjr 👋
Thanks for opening an issue and for the positive feedback!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/517. Also with bloc >= 3.0.0 you don't need to cast to Observable. Hope that helps 👍

[2020-01-03 13:12] #761 closed

[2020-01-03 16:24] felangel commented on #759
Hi @klaszlo8207 👋
Thanks for opening an issue!

Can't you just have an `Initial` and a `Loaded` state? then your `BlocBuilder` would look something like:

[code]

Closing for now but feel free to add additional information/comments and I'm happy to continue the conversation 👍

[2020-01-03 16:24] #759 closed

[2020-01-03 16:34] tenhobi commented on #759
@klaszlo8207

Either way, the `BlocBuilder` (and  `StreamBuilder` in general) can rebuild at any time, ergo you cannot prevent it from rebuilding.

The Animated widget should not care about this, because it uses some State and therefore it would work fine (you cannot tell the difference) even with some rebuilds.

[2020-01-04 12:54] payam-zahedi opened #762 "Waiting for multiple blocs"
Hi @felangel , thanks for this awesome library.
I have the below situation:
 imagine I have a Splash screen that waited for cart bloc and the favorite bloc.

- cart bloc is for taking user cart information.
- and the favorite bloc is about getting user favorite products.

I just want to get the cart information and the favorite products and if everything was ok push the user to the next screen. if

[2020-01-04 14:03] EArminjon opened #763 "[BUG] flutter_bloc 3.1 context not updated"
Hello,

I fow a while a old version of flutter_bloc. Today i start with flutter_bloc 3.1.0
I'm got a bug or I didn't understand something :/

This is the build method of my StatefullWidget :
[code]
BlocListener use the context provided by the build method. The BlocProvider under it  didn't update the context and my BlocListener didn't have access to the bloc....

[code]

Can you help me :'( ?

[2020-01-04 15:03] tenhobi commented on #763
You don't need to provide that `bloc` argument explicitly. It will do an automatic lookup.

[code]

Either way, I believe it should work.

Cc @felangel

[2020-01-04 15:07] EArminjon commented on #763
Problem still here :

[code]

Same error on onPressed callback :'(

[code]

[2020-01-04 15:14] tenhobi commented on #763
@EArminjon can you extract that BlocListener and it's subtree to another widget and try if that passes?

[code]

[2020-01-04 15:17] EArminjon commented on #763
It works.

So, it's a bug :'(

This trix will create a lot of boiler-plate : i will need to create an other widget each time I need use BlocProvider...

[2020-01-04 15:25] tenhobi commented on #763
I don't think it's a bug per se. It's more how Flutter works. To be able to access some provided thing, you have to look up from someplace in the subtree.

That is theoretically done here too, bud you use the same context variable, and I am not sure how that affects all of that. @felangel might know more about this tho.

---

Also, what happens when you wrap that `BlocListener` in another widget,

[2020-01-04 15:28] felangel commented on #763
@EArminjon this is not a bug because you can't access a bloc from the same context in which it was provided. If you don't want to create another widget then you can wrap the BlocProvider.of in a Builder to get a new context.

[code]

[2020-01-04 15:30] EArminjon commented on #763
Thank you @felangel, I will use Builder :) !

[2020-01-04 15:31] tenhobi commented on #763
So it was like I thought.

Btw. you are not able to access things from any widget, but here is the "issue" that you are using the context (which is used for lookups) not from those widgets, but as you are the widget where is this build function placed, right?

[2020-01-04 15:33] felangel commented on #763
No problem! @tenhobi made a suggestion to extract the code that needs access to the bloc into a separate widget and I personally recommend that as well because it allows you to inject a mock bloc when you are doing widget tests and also keeps your code more modular and reusable. Hope that helps and closing for now but feel free to comment with additional questions or comments and I'm more than hap

[2020-01-04 15:33] #763 closed

[2020-01-05 21:34] felangel commented on #762
Hi @payam-zahedi 👋
Thanks for opening an issue!

Regarding `MultiBlocBuilder`, there was [an issue](https://github.com/felangel/bloc/issues/538) for it and after multiple discussions we decided not to include it.

In your case you have several options:
- Nest `BlocBuilders`
- Create a new bloc which combines states from the other two
- Combine the states of the blocs using `combineLatest` and use

[2020-01-05 21:34] #762 closed

[2020-01-06 07:41] payam-zahedi commented on #762
dear @felangel , thanks for your useful response.
if you have any resource or tutorial link, it would be very helpful for me.
thanks

[2020-01-06 08:02] huhugiter opened #764 "How to use Bloc in List<List<Model>> structure"
Hi, Everyone! I have a very tricky situation and I have no ideal whatever I do it in the right way.

I'm trying to use a bloc pattern to create a TabBarView, the length of Tabs would change depend on the data. Each Tab has a category, and the Model is classified by category, in TabBarView use ListView to show the Model. For example, the structure just likes movies, and each movie has only one cate

[2020-01-06 10:14] algodave commented on #724
@felangel From your comment above:

Is it a general rule? In other words, is it an anti-pattern to invoke `add()` in `mapEventToState()`? And, what if `add()` is invoked on another BLoC object instead?

Thanks in advance for your advice!

[2020-01-06 15:21] felangel commented on #764
Hi @huhugiter 👋
Thanks for opening an issue!

Is your `Movie` class also extending `Equatable`? Also, if you want to have the bloc emit a new state even if the values are the same as the old state then simply don't extend `Equatable` in your bloc state class.

`the second problem is if I want to handle exception or something, I need add error field on the Category Model and the Movie Model like be

[2020-01-07 00:56] felangel commented on #764
Closing this for now but feel free to comment if you have additional questions 👍

[2020-01-07 00:56] #764 closed

[2020-01-07 03:21] felangel opened #765 "[Discussion] Improve Bloc to Bloc/Stream Integration"
**Is your feature request related to a problem? Please describe.**
When using bloc, it is fairly common to have blocs which need to react to other blocs or `Streams`. The current recommended approach involves directly subscribing to the `Stream` within the bloc:

[code]

This is not ideal because it requires one or more subscriptions to be managed manually and introduces additional complexity whic

[2020-01-07 03:26] felangel commented on #712
@RollyPeres, @larssn would love you feedback/opinions regarding https://github.com/felangel/bloc/issues/765

[2020-01-07 03:37] ThinkDigitalSoftware commented on #765
Why a widget? Does it need to be processed In the widget layer? Since blocs are Dart classes, I don't see why it should be a widget

[2020-01-07 03:38] limonadev opened #766 "[Question] Help with App Architecture"
I have to develop a simple app with Flutter and I am trying for the first time the bloc pattern. I am using `flutter_bloc` package but I have two main problems and got stuck:

 1. All the screens in the app have blocs that depends on repos to make requests to a server, and for each request I need a token. I obtain the token at the `authentication_bloc` (login), but I can't share that token to all

[2020-01-07 03:39] felangel commented on #765
@ThinkDigitalSoftware by using a widget we can intelligently subscribe and cancel the subscription if it is based on the current widget tree. I'm totally open to other suggestions if you have any 😄

[2020-01-07 03:49] felangel commented on #766
Hi @limonadev 👋
Thanks for opening an issue!

Regarding your questions:

1. Your blocs should not care about tokens because that is a networking layer detail. Ideally, the bloc should invoke a method on the repository (`getPosts`). The repository would then invoke a `get` on the `PostsApiClient` which has a dependency on an `HttpClient`. You could then use http interceptors to handle automatically

[2020-01-07 04:02] ThinkDigitalSoftware commented on #765
I think the subscription should be destroyed when the receiving bloc is destroyed, whenever that may be

[2020-01-07 04:02] ThinkDigitalSoftware commented on #765
It can be a mixin or an extendable class, the dependency can be passed in and subscribed to and canceled when the bloc is

[2020-01-07 04:05] felangel commented on #765
In that case you could make the BlocSink the child of the BlocProvider which created the bloc. There may be cases where you only want to subscribe to a stream for a subset of the lifecycle of the bloc. Thoughts?

[2020-01-07 04:08] ThinkDigitalSoftware commented on #765
I don't understand why this needs to be a widget. Since we're trying to keep from doing logic inside a widget. I don't see any benefits

[2020-01-07 04:10] felangel commented on #765
That's definitely another option I've considered but I haven't been happy with the APIs that I've brainstormed. Mind sharing some code snippets of what you're envisioning?

It wouldn't be for logic, it's just a way to notify the bloc based on data from a different stream.

[2020-01-07 04:25] limonadev commented on #766
Thank you very much for your answer.
1. I used the auth_bloc because if the token is expired, the app will try to login in the user automatically (I save the email and password). If that login attempt fails I need to return to the login page. With your method, I dont know how to notify to the app that needs rebuild to show the login page. My solution was to add the auth_bloc dependency on every bl

[2020-01-07 05:14] vshashi01 commented on #765
I like the idea of being able to simplify the bloc subscriptions, but I dont quite understand the need for it to be a widget. More of than not.. I do some kinda processing on the states emitted by the subscribed bloc (BlocA) to decide if I should emit a new state on the reacting bloc (BlocB).

With the BlocSink, I would need to create a separate event class that the takes the State from BlocA as a

[2020-01-07 05:17] ThinkDigitalSoftware commented on #765
Then I think the bloc can accept an optional property that can be of type Bloc where it can subscribe to its stream, and have an onEvent callback

[2020-01-07 05:23] andesappal commented on #765
How do we use logic to solve this issue?

[2020-01-07 05:51] tenhobi commented on #765
I can see why the BLoC to BLoC communication might be an issue for some people, but that can be solved with some proper architecture and using Blocs only as it is a presentation layer thing which holds the current state and direction the logic to other layers which are independent of used presentation dependencies. And I still use the most powerful thing this library offers, the state management.

[2020-01-07 10:08] barzansaeedpour commented on #74
Lets say i have several blocs defined above my materialApp. now when i use them in different pages
and use navigator.of(context), they work fine. but how can i clear all data of those blocs when i dispose a specific page and make user enter the data once more?
i mean since i defined them above materialApp, i cant dispose them.
the other option here is not define them above materialApp, but then i

[2020-01-07 12:38] rodrigobastosv opened #767 "[Question] testing navigation issue"
First of all, thanks for the effort in creating and maintaining such a great package.

My question is this, suppose i have the following widget (the code is just to give an idea, i writed fast, just want to give an idea)

[code]

I want to unit test this line `Navigator.of(context).push(MaterialPageRoute(builder: (_) => NextPage()))`

So i made this test case:

[code]

What i would expect is to ha

[2020-01-07 13:09] felangel commented on #74
Hi @barzansaeedpour 👋
You should only ever provide a bloc to the subtree that needs it. If a bloc is only needed for a certain page or pages, then you should not provide it above MaterialApp. Hope that helps.

[2020-01-07 14:36] baylessj commented on #139
Hi everyone! I recently migrated my app from a mess of business logic to the Bloc pattern with this library and I am very happy with the changes :smile:

If available on stores
iOS: Coming whenever I get a mac VM set up to test with :grimacing:
Android: https://play.google.com/apps/testing/com.jonathanbayless.autodo Currently in a private alpha, but moving to a public beta in the next month or so!

[2020-01-07 15:14] baylessj commented on #765
I'm a little confused on how this would interact with a current setup with BlocProviders. I put together the following example of how I would hope the API could look:

## Current structure:

TodosBloc
[code]

main.dart
[code]

## Proposed Structure

No other blocs passed to TodosBloc.

main.dart
[code]

I would definitely be open to other options for the `MultiBlocSinkProvider` name, that was just

[2020-01-07 19:58] rodrigobastosv commented on #767
After more analysis i think i know the problem. I guess BlocListener is only executed after the state changes. So i guess mocking isn't gonna work

[2020-01-07 20:41] venku111 commented on #182
Hi..can you help me i am facing with issue

Issue
I started developing ecommerce application where on the home screen i want to show latest products nd offer product nd flash sale products
What i did was i have created product bloc with multiple events.

[2020-01-07 21:28] #767 closed

[2020-01-07 21:52] felangel commented on #767
Hey @rodrigobastosv 👋
Thanks for opening an issue and for the positive feedback!

If you want to mock the BlocListener you should create a `MockBloc` instance and then use `whenListen` from the `bloc_test` package to stub the state stream.

[code]

Hope that helps 👍

[2020-01-07 21:53] felangel commented on #182
@venku111 can you please provide a link to a sample app which illustrates the issue you're having? Thanks!

[2020-01-07 22:54] RollyPeres commented on #765
Hey @felangel , nice to see this feature discussed. I've put together a quick prototype for a flexible approach. I believe taking advantage of existing widgets could help. Also, allowing users to be able to add events to multiple blocs depending on their needs might be helpful for some.

[code]

[2020-01-07 22:56] felangel commented on #766
No problem!

1. You can just have a callback in your `HttpClient` called `onTokenExpired` and you can add a `AuthenticationRevoked` event to the `AuthenticationBloc` in that case.

[code]

2. You just need one listener and you can notify all blocs within the same listener. I'm not sure I fully understand your use case but you most likely should not need more than one BlocListener for a given bloc.

[2020-01-07 23:05] felangel commented on #765
@tenhobi thanks for the feedback! I think that even with clean architecture you will have valid cases where blocs need to consume a `Stream` of data and react appropriately. Thoughts?

@baylessj thanks for the feedback! I'm a bit confused by the naming though. If I'm understanding it correctly, you are subscribing to the `TodosBloc` and want to update the `CarsBloc` and `RepeatsBloc` in response t

[2020-01-07 23:22] RollyPeres commented on #765
@felangel Agree, it is too generic to include it in the bloc library. But maybe some wrapper on top of it, to abstract the `.add` on bloc(s) could be helpful for people. Something pretty close to what you've initially suggested, but maybe just pass in the event(s) you want the data/error to be added to.

[2020-01-07 23:23] felangel commented on #765
@RollyPeres mind providing a small snippet of how you'd modify the proposal? Thanks!

[2020-01-07 23:30] tenhobi commented on #765
@felangel as I am thinking about it, there might actually be some stuff you wanna keep in the presentation layer and then it would be ok. Well, it seems like a valid feature after all. 😄

[2020-01-08 00:20] RollyPeres commented on #765
Sure, a sleepy one @felangel  🤞. This clearly has a couple of problems like needing to explicitly pass in the bloc, but just as an ideea.
[code]
And consumed like:

[code]

[2020-01-08 03:06] warriorCoder commented on #765
I like the idea of being able to consume a stream in the UI layer, but then I'm also wondering if that isn't convoluting the UI with data that would be better suited for some state, which the bloc captures and then presents to the dumb UI.

Now if we're talking about bloc to bloc communication, I have several cases in my app, I don't think a widget should be involved but the communication needs to

[2020-01-08 06:42] huhugiter commented on #764
Sorry for my late reply. I'am afraid I can't share the app because it's under developing, even can't complie. But I found a Post that exactly what I need! So. I took a while to try to achieve it.

[Architect your Flutter project using BLOC pattern (Part 2)](https://medium.com/flutterpub/architect-your-flutter-project-using-bloc-pattern-part-2-d8dd1eca9ba5)

I think I solve the problem. Yes, it nee

[2020-01-08 08:10] barzansaeedpour commented on #74
thanks for quick answer.
Is there any advanced example of using several bloc and exchange data between them?
how can i use a blocs data in another bloc?

[2020-01-08 08:18] barzansaeedpour commented on #74
Is there any example of not provide blocProvider above MaterialApp and use one bloc for several pages?

[2020-01-08 10:29] rodrigobastosv commented on #767
Thanks @felangel , i closes the issue because i solved my problem in a diferent way. But i'll refactor to use this. Thanks again!

[2020-01-08 13:09] felangel commented on #74
@barzansaeedpour check out the [bloc access recipe](https://bloclibrary.dev/#/recipesflutterblocaccess?id=route-access).

[2020-01-08 14:22] luandedeng commented on #74
I don't know a good solution for scoped bloc in my app so far. In my practice, BLOC framework is easy to use in single page; for global usage, it' s also OK. But I don't find any good solution to share a BLOC in different pages with BlocProvider. BlocProvider shares bloc only in subtree. But when we navigate to another page from origin page, the another page is not in subtree of origin page. In th

[2020-01-08 15:18] felangel commented on #74
@luandedeng please refer to the recipe linked above https://github.com/felangel/bloc/issues/74#issuecomment-572043525. It covers how to pass an existing bloc to a new route.

[2020-01-08 15:58] GyuriMajercsik commented on #709
Hi, I just wanted to open an issue myself when I found this one describing the same behaviour.

I'm using v3.1.0 and seems that the prevState doesn't really reflect the previous state compared to newState.

Based on doc: The previous [state] will be initialized to [state] when the [BlocListenerBase] is initialized.

Is this how it should work ? If so, I agree @ezamagni, BlocListener lost it's powe

[2020-01-08 17:46] venku111 commented on #182
Thanks for the support
Here is the Demo Link for the application **https://github.com/venku111/Ohrange**

Let me clearly explain the issue what I am facing

Let us Assume I am having a variety of products with different category
Now I want to show the top 12 products from each category on my home page on the slider

So, I Created bloc folder inside that I created a new folder as product bloc with

[2020-01-08 20:19] baylessj commented on #765
@felangel My naming was a bit vague there, my apologies. The goal was to make it so that `TodosBloc` would listen to the `RepeatsBloc` and `CarsBloc`. I agree that the subscription should be owned by the stream that is doing the listening (the `TodosBloc`).

My `MultiBlocSinkProvider` was meant to be a `BlocProvider` with the addition of a list of "sinks" or subscriptions that the created bloc wou

[2020-01-08 23:46] felangel commented on #766
Closing for now but feel free to add additional comments/questions and I'm happy to continue the conversation 👍

[2020-01-08 23:46] #766 closed

[2020-01-09 12:04] winston-lee commented on #75
Navigator.popUntil(context, (ModalRoute.withName('/'))); did it for me, thanks!

[2020-01-09 12:05] winston-lee commented on #75
Navigator.popUntil(context, (ModalRoute.withName('/'))); did it for me, thanks!

[2020-01-10 11:51] Theunodb opened #769 "Question: How do one yield a state from a future - Showing push messages from Firebase messaging"
How would one yield a state from within a future? I'm trying to implement firebase messaging using your library, but i'm stuck with this.

This is my code:

[code]

[code]

[code]

[2020-01-10 13:36] jalanga opened #770 "Question, hiding loaderDialog cancels other events"
In a page I have 2 or more async requests, for every async request I open the loader dialog with `showDialog`, if is not opened, and after every request I try to close it with `Navigator.of(context, rootNavigator: true).pop();` if is opened.
I was using flutter_bloc: 0.20.1, I upgraded to the latest flutter_bloc, with the latest flutter version. Now I am flutter_bloc: 2.1.1, and flutter: 1.10.15-p

[2020-01-10 13:52] rodrigobastosv commented on #770
Hi @jalanga do you mind showing your BlocBuilder / BlocListener code?

My guess is that you are yielding LoadCheckoutInfoDone state two times, and the way BlocBuilder works is that it don't execute it's build if the state yielded is the same as the previous state.

[2020-01-10 13:58] jalanga commented on #770
Hi @rodrigobastosv

I don't think I am yield-ing 2 time, I updated my question, and I will put the transitions.
Thank you

[2020-01-10 15:45] rodrigobastosv commented on #770
Hi again, i analised here. You are yielding the CheckoutHideLoader after LoadCheckoutInfoDone. I think you have to make this way:
[code]

So you will garantee LoadCheckoutInfoDone will be yielded after CheckoutHideLoader

[2020-01-10 16:59] jalanga commented on #770
@rodrigobastosv
Is not working,  here is what I receive:

[code]
And I don't show/hide loaders.
I don't think that the order counts.
It seems that triggering 2 events one after another will break.

If I make just 1 event is kind of working:
HideLoader will not arrive in Builder is just in Listener
[code]

Is this a bug? I wanted to release the app on Monday :)

[2020-01-11 02:40] hunght commented on #74
@felangel i have same issues when using named route, and follow your suggestion.
* use named routes and setup the BlocProvider to be scoped for the named route
But i still don't know how to apply this in code, could you show the example ?

[2020-01-11 05:10] hunght commented on #74
@felangel , in our project we are using use named routes and your suggestion, is:
* use named routes and set up the BlocProvider to be scoped for the named route
but
but i'm still can't figure how to apply this, and about the recipe in your link it not for named routes, as i see. pls help thanks

[2020-01-11 11:17] rasmk opened #771 "Graphics on overwiew outdated"
Block architecture image is outdated on overview page. It still refers to `dispatch` for dispatching events, while it is `add` now.

I mean this one:
![Bloc acrhitecture](https://raw.githubusercontent.com/felangel/bloc/master/docs/assets/bloc_architecture.png)

Nothing urgent. This is my first point of reference though, so would be nice to fix. I felt `dispatch` more natural and keep forgetting `a

[2020-01-11 11:47] jjoao07 opened #772 "debounceTime and mergeWith not working"
Hi @felangel

I'm trying to get validation working with Firebase Login example,
but for somehow, I can't get it working with the streams from `transformEvents` like in the screenshot below.

![image](https://user-images.githubusercontent.com/19816874/72203704-ba535f00-3477-11ea-9d8d-3b39b32e8a27.png)

I also have defined observable, as you have done on your medium post, but still not working.

`fi

[2020-01-11 19:21] felangel commented on #772
Hi @jjoao07 👋
Thanks for opening an issue!

You need to make sure you import the RxDart package. With bloc v3.0.0 and above you no longer need to cast to Observable because RxDart uses extensions on Stream. Let me know if that helps 👍

[2020-01-11 19:22] felangel commented on #771
Hey @rasmk 👋
Thanks for opening an issue!

Great point, thanks for bringing that up! I'll be sure to update the graphic asap 👍

[2020-01-11 23:07] felangel commented on #769
Hi @Theunodb 👋
Thanks for opening an issue!

You can't yield from within the async closure. Instead, I'd recommend adding a new event in response to each of the callbacks like:

[code]

Hope that helps 👍

[2020-01-11 23:07] #769 closed

[2020-01-11 23:08] felangel commented on #770
Hi @jalanga 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the issue you're having? It would be much easier to help if I'm able to run/reproduce the problem locally. Thanks!

[2020-01-12 00:37] felangel commented on #765
I'm been messing around with this some more and have landed on another solution which is pure Dart.

[code]

Would love to hear everyone's thoughts and thanks for the awesome feedback!

[2020-01-12 00:43] ThinkDigitalSoftware commented on #765
Yess, I'm onboard with this 100%!

On Sat, Jan 11, 2020, 4:37 PM Felix Angelov <notifications@github.com>
wrote:

[2020-01-12 01:26] felangel commented on #772
Closing for now but feel free to comment with a link to a sample app or additional info if you're still running into problems 👍

[2020-01-12 01:26] #772 closed

[2020-01-12 04:18] hunght commented on #206
@felangel in my case, i need the same event fire because when i call api, it return error message, so i need to show error message every time when api call fail, so because i use Equatable it only show the first time.

[2020-01-12 05:31] vshashi01 commented on #765
I love this approach alot more and it feels much more cleaner than the widget approach.

[2020-01-12 05:44] felangel commented on #206
@hunght in that case it's totally fine not to extend `Equatable` 👍

[2020-01-12 06:23] felangel commented on #182
Hi @venku111 I opened a [pull request](https://github.com/venku111/Ohrange/pull/1) to refactor to have a HomeBloc which handles determining the top products as opposed to using the products and categories bloc directly in the UI. Hope that helps 👍

[2020-01-12 07:55] venku111 commented on #182
Thats great 👌 Thanks a lot wonderful support

[2020-01-12 09:28] jjoao07 commented on #772
Worked, thanks

[2020-01-12 10:00] RollyPeres commented on #765
@vshashi01 I wouldn't go as far as saying a lot cleaner, since what @felangel showcased is how you would consume it, and not how it's also implemented. I threw in a possible solution using the widget tree, because it goes along perfectly with existing implementations from `provider`.

Although I find @felangel 's solution feasible, I personally don't like this part:
[code]
I believe the main idea

[2020-01-12 14:50] felangel commented on #765
@RollyPeres how would you specify which stream you'd like to listen to without something like the subscribe? Isn't it equivalent to passing a stream to the BlocSink widget?

[2020-01-12 15:11] vshashi01 commented on #765
I disagree with you, the problem we were trying to work around was manually managing the stream subscriptions. If you want to go the BlocSink way, I dont see why you cant already do it already by add events based on stream changes from the UI.

The cleaner here I meant to say was to avoid having this logic in the UI layer. When a bloc relies on another bloc or stream for correctness and functional

[2020-01-12 16:07] ThinkDigitalSoftware commented on #765
I agree with @vhashi01 about the invisible dependencies in the widget tree. Actually his whole argument, lol

[2020-01-12 17:03] RollyPeres commented on #765
You could force the user to override an abstract method from your mixin instead of letting him do it in constructor, or just have an abstract method on the bloc itself that the user can override and pass in a list of streams.

And it's not equivalent since you can mark the stream as `@required` which tells the user it needs to pass in a stream. It's easier than having to remember to call a method

[2020-01-12 17:28] ThinkDigitalSoftware commented on #765
+1 for the overrideable method

On Sun, Jan 12, 2020, 9:03 AM Rolly Peres <notifications@github.com> wrote:

[2020-01-12 23:01] vshashi01 commented on #765
Ah so what you are suggesting is just making a compulsory method to override the streams. I am okay with that.

P.S
While Inherited Widgets are “invisible” widgets, their affect on the UI is not. You cant rebuild the UI unless you explicitly listen to the Inherited Widgets, ie BlocBuilders or Consumers.

[2020-01-13 02:24] felangel commented on #765
@RollyPeres I'm not sure I understand your concern. If people forget to call `subscribe` then nothing will happen. I thought it made sense that you'd need to call `subscribe` with a stream in order to start listening to it. Also, you don't have to `subscribe` in the bloc's constructor; you can `subscribe` to whatever stream you want, wherever you want, and whenever you want.

[code]

The idea of h

[2020-01-13 08:07] rahuldange09 opened #776 "BlocProvider.of() called with a context that does not contain a Bloc of type ProfileBlocs."
**Describe the bug**
`[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception:         BlocProvider.of() called with a context that does not contain a Bloc of type ProfileBlocs.
E/flutter ( 7314):         No ancestor could be found starting from the context that was passed to BlocProvider.of<ProfileBlocs>().
E/flutter ( 7314):`

I checked same issues faced by others. but i'm not able to f

[2020-01-13 09:15] tenhobi commented on #765
I like the idea behind `package:stream_listener` and `package:flutter_stream_listener`. Seems very easy to handle and work with. Like that!

Another question of mine is that if we have `package:stream_listener`, why would we force Bloc to use it? Why don't we transfer responsibility to the programmer? So they can then decide if they want to use `package:stream_listener` or `package:flutter_stream_

[2020-01-13 09:20] tenhobi commented on #776
Hi, that is because you are using the same context for the `BlocProvider` and the `BlocBuilder`. By definition how lookup works that is not a valid way how to do it. You cannot access a bloc from the same context in which it was provided.

But if you don't want to make a new widget, you can use the `Builder` widget to fix this issue.

[code]

// Duplicate of https://github.com/felangel/bloc/issues

[2020-01-13 10:18] rahuldange09 commented on #776
Thanks for the response @tenhobi
It's working now.
My concern is that can't I use directly.
Because i have different screens independent of other. Now for that screens I don't  want to always create another state class or builder to use different context
Or this is the the way it works?

[2020-01-13 11:29] tenhobi commented on #776
The thing is that you are using the same **context**, and therefore if you look up, nothing is above.

You need to create separate widgets or use `Builder`, which will provide a different context. As I already mentioned.

You can watch https://bloclibrary.dev/#/recipesflutterblocaccess this tutorial to see how to make Bloc assessable.

[2020-01-13 11:41] larssn commented on #765
I might be missing something here, came into this discussion late. So apologies if I'm stating the obvious (or something stupid).

So how would this work in practise? (as the Streams would be dynamic)

[code]

If we're simply trying to make people remember to do a simple `.listen()`, then this is overengineering. Most of these functions already exist on `Stream`. You have `.handleError` (vanilla),

[2020-01-13 13:11] rodrigobastosv commented on #776
@felangel do you think it would be good to put this feature on flutter_bloc?

The child of BlocProvider could be wrapped in a Builder by default. Are there any side effects of doing that?

[2020-01-13 14:24] RollyPeres commented on #765
That's pretty much what I was trying to avoid. What @felangel proposed is basically a `subscribe` instead of a `listen`, but instead of passing the callbacks directly to the listen method, you'd have to override some methods. The difference is insignificant, as long as we don't get rid of that subscribe. The subscribe needs to happen under the hood, cause if someone is passing a stream into the bl

[2020-01-13 23:01] evandrom opened #778 "onTransition not called if state extends equatable"
**Describe the bug**
I was implementing a variation of the weather example and the onTransition was never get called twice.

**To Reproduce**
[code]

**with equatable**
flutter: FetchExchange
flutter: Transition { currentState: Instance of 'ExchangeLoading', event: FetchExchange, nextState: Instance of 'ExchangeLoaded' }
flutter: RefreshExchange
(no transition called)

**without equatable**
flutte

[2020-01-13 23:08] felangel commented on #778
Hi @evandrom 👋
Thanks for opening an issue!

This is working as expected.

([source](https://bloclibrary.dev/#/coreconcepts?id=blocs))

Equatable makes two state instances equal if their values/props are equal. As a result, if you extend Equatable and emit back to back states with the same values/props no transition will occur.

Hope that helps 👍

[2020-01-13 23:08] #778 closed

[2020-01-13 23:12] felangel commented on #776
@rahuldange09 what you're suggesting will not help because the you would still be using your context instead of the `Builder` context since the `Builder` will be internal to `BlocProvider`.

The only way to expose it would be to change the `BlocProvider` API to have a `builder` instead of `child`

[code]

[2020-01-14 03:08] craiglabenz commented on #524
For anyone else who comes here in a post-extension methods world, this is the new equivalent:

[code]

[2020-01-14 05:12] jerryzhoujw opened #779 "[counter-bloc] how to preload counter init state"
[CounterBloc](https://bloclibrary.dev/#/fluttercountertutorial?id=counter-bloc) is very easy and good to understand in this case.

[code]

I have a question on this, what should I do if I want to `save & preload` the counter number into & from plist.

In this case, I'm not sure **how to preload counter init state**. Because `initialState is not an async value`. When reading from plist, it's an asy

[2020-01-14 15:07] felangel commented on #779
Hi @jerryzhoujw 👋
Thanks for opening an issue!

If you want to preload data I would highly recommend taking a look at [hydrated_bloc](https://pub.dev/packages/hydrated_bloc). Hope that helps 👍

[2020-01-14 15:07] #779 closed

[2020-01-14 15:07] felangel commented on #776
Closing for now but feel free to comment with additional feedback and I'm happy to continue the conversation.

[2020-01-14 15:07] #776 closed

[2020-01-14 15:29] jerryzhoujw commented on #779
@felangel  Thank you.

Before receive your message I just implement an extra  `Future preload()` in bloc, and call it when bloc init, which looks ok for me I think.

[code]

[2020-01-14 15:31] felangel commented on #779
If you want to have custom logic in preload that works fine. If you just want the bloc to pick up where it left off I would recommend `hydrated_bloc`. Glad you figured it out 🎉

[2020-01-14 15:32] jorgecoca opened #780 "Adjust IDE code generators to match the naming convention docs"
**Is your feature request related to a problem? Please describe.**

When using the IDE pluings to generate boilerplate code, the code it generates does not follow the naming convention described [here](https://bloclibrary.dev/#/blocnamingconventions).

**Describe the solution you'd like**

Adjust the generators to create code that matches that expectation. That would be a great first step to add a

[2020-01-14 15:43] felangel commented on #780
This was already done in https://github.com/felangel/bloc/pull/774 and just needs to be published. I could use some help publishing the IntelliJ plugin though ;)

[2020-01-15 07:07] RakaAlrian commented on #245
how to stop/hide the loading when the data already loaded?

[2020-01-15 10:26] jalanga commented on #770
@felangel
Hi,
I am sorry for delay.
I made an example over your example of Timer:
https://github.com/jalanga/FlutterBlocIssue

I just added 2 fake states:
https://github.com/jalanga/FlutterBlocIssue/blob/master/lib/bloc/timer_state.dart
And on reset I emit 3 states: FakeStateOne, Ready, FakeStateTwo:
https://github.com/jalanga/FlutterBlocIssue/blob/master/lib/bloc/timer_bloc.dart

Every state arri

[2020-01-16 10:23] ThomasvanWanrooij opened #781 "[Enhancement] blocTest to support Mockito verifications callback"
Hello,

Currently `blocTest` does not allow for post test `verify` or other `expect` statements. Instead this has to be done in the `teardown` (or in some cases can be done in the `blocTest act`) callbacks, which works but is not ideal.

I suggest to add a callback to `blocTest` and call it at the end of the test
[code]

With this you can verify if a bloc with a mocked repository _actually perform

[2020-01-16 10:54] rodrigobastosv commented on #781
I may be wrong but this kind of test is not responsability of a blocTest. A bloc test should check the inputs (Events) and outputs (States), more precisaly you should be testing what states are beeing yielded when the events are added.

[2020-01-16 11:53] ThomasvanWanrooij commented on #781
Hi @rodrigobastosv

Thank you for your input. I can see why you think it might not be the responsibility of the blocTest to verify function calls, and perhaps you're right. I think however that when testing blocs, you shouldn't just test its inputs and outputs, but also how it transforms said input to its output.

It is probably enough to test if each input event gives the correct output state in

[2020-01-16 11:56] rodrigobastosv commented on #781
Hey @ThomasvanWanrooij i completely got your point. Let's see what @felangel have to say about that

[2020-01-16 14:27] Kobreizhyashi opened #782 "flutter_bloc doesn't recognize the named parameter builder"
Hi,

Two month ago I've started a flutter project. Unfortunatly I had to let it to work on professionnal stuff. back on my flutter project, I'm upgrading dependencies, passing bloc et flutter_bloc from 2.0 to 3.0, and SURPRISE ! When I try to run my project, It says that builder isn't defined here (and in other place, I use bloc A LOT) :

`
 Future<void> main() async {
  await di.init();
  BlocSup

[2020-01-16 14:32] rodrigobastosv commented on #782
Hi @Kobreizhyashi, the syntax changed a little, now you should pass a create function and not a builder.

Here's the doc: https://bloclibrary.dev/#/flutterbloccoreconcepts?id=blocprovider

[2020-01-16 14:45] Kobreizhyashi commented on #782
I just saw that by downgrading my flutter_bloc version. got to handle this ! thanks for your (QUICK!) answer and sorry for the useless ticket.

[2020-01-16 15:45] loreberti89 opened #783 "Many BlocListener Registered with Navigation.pushName()"
**Flutter_bloc: ^2.0.0**

I have a problem with register of BlocListener.

I have 3 Widget, let's say **Widget1**, **Widget2** and **Widget3**.
In **Widget1** that is a initialRoute  I have registered my BlocListener for SnackBar:

[code]

So when I create my Widget1 I register my SnackBarListener.
In my app I have a NavigationBloc and Listener for handle the navigation like:
[code]
Once time I ch

[2020-01-16 16:16] #782 closed

[2020-01-16 16:30] felangel commented on #783
Hi @loreberti89 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you're having? Thanks!

[2020-01-16 17:51] loreberti89 commented on #783
Sorry I haven't a direct link for sample App, But I've create a gist that is simil of my code, or maybe can help to understand my problem.

https://gist.github.com/loreberti89/a916d03ed20ea10484fae3cb001964cf

[2020-01-16 22:32] felangel commented on #781
Hi @ThomasvanWanrooij 👋
Thanks for opening an issue!

I definitely think you make a valid point but do you think the verify callback would need to have access to the bloc? I would expect all bloc related expectations to be made in `expect` and `verify` to be reserved for "other expectations". Let me know what you think and thanks for bringing this up!

[2020-01-17 02:10] flowcharterappowner opened #784 "Each child must be laid out exactly once."
git cloned your repo.
open the example weather app in android studio.
ran the app on my ipad.
get the above error message.

[2020-01-17 03:15] felangel commented on #784
Hi @flowcharterappowner 👋
Thanks for opening an issue!

Are you able to provide any more detail? Was there a stacktrace or other errors? It would be great if you could maybe provide a screenshot of the debug console. Thanks!

[2020-01-17 08:25] tenhobi commented on #781
After a while, I think this is actually a good idea. Checking for repository calls or whatever is a valid feature and should (may) be part of your Bloc test. Otherwise, you would need to make a regular test and where is the point of `blocTest` then, if you would use it only sometimes. :-)

Agree with @felangel that you should not be given the bloc instance. All the things like repositories etc. ar

[2020-01-17 09:03] ThomasvanWanrooij commented on #781
@felangel Providing the bloc instance is probably not necessary in most cases. As @tenhobi already mentioned, most repositories etc that is used for verification will be passed in its constructor. I have used it in some places to access `@visibleForTesting` and public variables though.

This is something I do in a chain of automated events, where I need to set an internal flag (i.e. not exposed vi

[2020-01-17 13:44] felangel commented on #780
Closing this as it's already done and I will publish this weekend 👍

[2020-01-17 13:44] #780 closed

[2020-01-18 00:17] felangel commented on #784
Sorry about this! I was able to reproduce and fixed it in https://github.com/felangel/bloc/commit/0be0a53bada9dc37d67d7bf653044a77a1f00422

[2020-01-18 00:17] #784 closed

[2020-01-18 22:46] carotkut94 commented on #172
lets say that
`BlocBuilder<LoginBloc, LoginStates>(
          bloc: loginBloc,
          builder: (context, state){
            if(state is LoginSuccessFullState){
              Fluttertoast.showToast(msg: state.loginJson.message);
            }else if(state is LoginFailedStateState){
              Fluttertoast.showToast(msg: state.message);
            }
return SomeWidget();
`
now if i navigate t

[2020-01-19 01:45] felangel commented on #172
@carotkut94 you should use BlocListener for side effects. BlocBuilder should only return widgets in response to states.

[2020-01-19 11:58] tenhobi commented on #781
OK, `@visibleForTesting` is a good point. I think we might provide that instance, but write docs, etc., with the fact that you should consider if you want to ever use it. 🤷‍♂️

[2020-01-20 02:08] jerryzhoujw opened #788 "[Question] Infinite List Tutorial: Should I create `ItemBloc` for each Item in `ListBloc` when business expanded."
I have read the [Infinite List](https://bloclibrary.dev/#/flutterinfinitelisttutorial?id=presentation-layer)

I just think about a user case:

### Should have ItemBloc in ListBloc ?

if the post can be `upvote`, and there's a `upvote count`  in the Post

- Should I create a `PostItemBloc` for each `Post`
- Or should I create the extra Event & logic in original bloc [`PostBloc`](https://bloclibrary

[2020-01-20 11:05] tenhobi opened #789 "Add FAQ to docs"
It would be nice to add FAQ to docs. We already have something on Discord, but it would be better to add/move it to docs as well.

- [ ] Add FAQs which already are on Discord
- [ ] Add context issue https://github.com/felangel/bloc/issues/776#issuecomment-573571929
- [ ] Add something about structuring a project, some links like https://github.com/ResoCoder/flutter-tdd-clean-architecture-course wo

[2020-01-20 13:48] jjoao07 commented on #316
Hi @felangel

I'm currently having similar issues like I'm just trying to display the validation errors in the login form.
I have followed up your login tutorials the basic login and firebase login.

if I just use the basic form without validation, I get it working without any problem.

But when I try to use the validation following the `Firebase login`, it not working, I can see the `state.update

[2020-01-20 15:50] felangel commented on #316
Hi @jjoao07 I tried taking a look but I'm having trouble accessing the repo at the link you provided. Is it still publicly available?

[2020-01-20 16:07] jjoao07 commented on #316
Hi @felangel, yes is public
I also ended up publishing here on Github in the link below

https://github.com/jjoao07/Flutter-Login-App

so you can have look at that link.

Thanks

[2020-01-20 20:27] AshleyDeng opened #790 "Working with abstract / base blocs"
**Is your feature request related to a problem? Please describe.**
I am wondering if Bloc Widgets (BlocProvider, BlocBuilder, BlocListener, BlocConsumer) can work with abstract / base blocs. I want to abstract the pattern in order to handle some common features, e.g. show loading indicator for loading states for any blocs.

However, I get errors like `BlocProvider.of() called with a context that d

[2020-01-20 20:42] tenhobi commented on #790
This is way how `package:provider` works, https://github.com/rrousselGit/provider/blob/master/lib/src/provider.dart#L181-L232

[2020-01-21 04:27] flowcharterappowner opened #791 "BlocBuilder passes (context,state), but what about also passing the found bloc ?"
Perhaps I'm missing the point, but the idea of enclosing your widget inside a BlocBuilder is so that you can act on the state and add events to bloc.

But in order to do that I have to use the BlocProvider.of(context) to get the bloc, which seems wasteful, since the BlocBuilder already has it, right ?

[2020-01-21 05:12] felangel commented on #791
Hi @flowcharterappowner 👋
Thanks for opening an issue!

The goal of `BlocBuilder` is to allow you to re-render a widget in response to state changes in a bloc. There are many cases in which the widget being rebuilt does not need to add events to the bloc so we didn't feel it made sense to make that assumption. There was a discussion about this in https://github.com/felangel/bloc/issues/447 and ult

[2020-01-21 05:12] felangel commented on #790
Hi @AshleyDeng 👋
Thanks for opening an issue!

Are you able to share a link to a sample implementation/application which illustrates the problem you're having?

[2020-01-21 05:16] felangel commented on #788
Hi @jerryzhoujw 👋
Thanks for opening an issue!

Have you taken a look at the [complex list example](https://github.com/felangel/bloc/tree/master/examples/flutter_complex_list)? I would recommend starting with a single bloc and just updating your model to include the `upvoteCount` but if over time the requirements change and you find yourself having to add more complex logic to the `PostsBloc` then

[2020-01-21 05:16] #788 closed

[2020-01-21 06:00] felangel commented on #770
@jalanga this is because you're yielding back to back events which are emitted faster than the UI/builder can rebuild. This is working as expected and is a duplicate of https://github.com/felangel/bloc/issues/173.

[2020-01-21 06:00] #770 closed

[2020-01-21 08:14] rakafajar opened #792 "how to create a search filter that can use the previous state ??"
in this code the filter can only be used once, when you want to refill ... the data cannot be used because there is only a small amount of data search ... how to make currentState before the first search is done

[code]

[2020-01-21 11:35] jjoao07 commented on #316
Hi @felangel ,

Don't worry about this.

I have ended up finding a workaround and everything is working fine now.

[2020-01-21 15:15] TheWCKD opened #793 "VSCode Intellisense won't suggest Bloc States"
**Describing the bug**
Hello, Felangel!

Huge thanks for all the support you give everyone here!

I've been dealing with an error with the Intellisense during the last days and I don't know if it is a dart/vscode issue or it may be caused by the bloc extension of yours. I remember a couple of days ago when I created another bloc manually (without the extension) it worked completely. However, now i

[2020-01-21 17:01] tenhobi commented on #793
I have also had some issues with autocompleting both in VS Code and IntelliJ, in the last couple of days. So maybe there is some issue?

[2020-01-22 03:46] warriorCoder commented on #792
What I have done in a situation like this is to create a "parent" bloc that holds the unfiltered state and then a filtered bloc. So create a FilteredProductsBloc which does the filtering and have your BlocBuilder consume the FilteredProductsBloc.

If you need to update your products you can pass the main (parent) bloc to the filtered bloc and attach a listener in the filtered bloc to update the li

[2020-01-22 03:49] felangel commented on #792
Hi @rakafajar 👋
Thanks for opening an issue!

Have you taken a look at the [todos example](https://github.com/felangel/bloc/tree/master/examples/flutter_todos/lib/blocs/filtered_todos)? It's using the approach described by @warriorCoder 👍

[2020-01-22 07:30] rakafajar commented on #792
now I have a problem ... when the data has run out on the infinite list ... the UI does the Loading and reversing data as before.

how to stop loading when the data in the list is up

[code]

[2020-01-22 07:31] rakafajar commented on #792
[code]

[2020-01-22 13:10] semutnest opened #795 "Is it possible to add a Event to bloc in TOP-LEVEL function ?"
Hello @felangel,

"Is it possible to add a Event to bloc in TOP-LEVEL function ?"
This might be an unusual question, I am using FCM Notification  in which its onBackgroundMessage handler requires to define a TOP-LEVEL function to handle background messages.

Or Is there any way to handle the callback of that handler using your bloc pattern ?

Thank you for your attention.

[2020-01-22 14:32] reinaldomoreira opened #796 "Mock problem and state null in flutter bloc + widget testing"
**Describe the bug**
Sorry but I'll try to report possibly two bugs in this post, I'll leave the code in zip and text in here.

1- When I'm using testWidgets, I create a mock of the bloc and do the properly when (or I think). Then, I pump the widget and the first emission of state is a null one. This makes me checks for null in my BlocBuilder.

2- When I use whenListen() from `bloc_test` lib, the

[2020-01-22 16:47] reinaldomoreira commented on #796
@felangel I don't know if I'm doing something wrong, but, is it possible to be bug?

[2020-01-22 19:05] TheWCKD opened #797 "How to add events for each list item and update their states chronologically?"
Hello, @felangel .

I've been having some issues for the past 24 hours with some further implementation of your Bloc Weather App example, which I cannot seem to solve.

Here's what I added to your existing working project, which I also built from zero.
[Here's the link to the Github Project.](https://github.com/TheWCKD/bloc_weather_app_advanced)

I want to explain what features I added and what is

[2020-01-22 21:33] felangel commented on #797
Hi @TheWCKD 👋
Thanks for opening an issue and for providing such an awesome amount of detail!

Question 1.1:
You can override `transformEvents` to use `switchMap` - https://github.com/felangel/bloc/issues/517#issuecomment-531531738

Regarding your questions around feature 2; I will take a look at your current implementation and provide feedback. Unfortunately, I'm at Flutter Europe right now so I

[2020-01-22 21:36] felangel commented on #796
Hi @reinaldomoreira you should use `whenListen` to avoid the null state issue and with `whenListen` you need to make sure you're factoring in the initial state of the bloc as well so instead of doing something like:

[code]

You should do:

[code]

This is due to `BlocBuilder` and `BlocListener` skipping the first state since under the hood blocs use a BehaviorSubject.

Closing for now but feel fr

[2020-01-22 21:36] #796 closed

[2020-01-22 21:42] felangel commented on #795
Hi @semutnest 👋
Thanks for opening an issue!

You should be able to create a bloc which initializes the firebase messaging configuration and then you can call add as you are within the bloc itself. Alternatively, you can create an instance of the bloc and inject it into the class which is managing the fcm notifications. Hope that helps!

Closing for now but feel free to comment with additional inf

[2020-01-22 21:42] #795 closed

[2020-01-22 21:47] felangel commented on #793
Hi @TheWCKD 👋
Thanks for opening an issue!

I was able to reproduce the issue and it seems the problem is either in the Dart Code VSCode Extension or the Dart Analysis server (more likely) and isn't able to autocomplete in certain cases. I'm noticing the issue happens after the `yield` keyword but without `yield` it seems to work fine. I don't believe this has anything to do with the bloc vscode e

[2020-01-22 21:47] #793 closed

[2020-01-22 21:48] felangel commented on #790
Closing for now as there isn't enough information for me to provide suggestions. Feel free to comment with additional information and a link to a sample application and I'm happy to continue the conversation 👍

[2020-01-22 21:48] #790 closed

[2020-01-22 21:49] felangel commented on #791
Closing for now but I'm happy to continue the conversation if you feel strongly against the current functionality.

[2020-01-22 21:49] #791 closed

[2020-01-22 22:04] felangel commented on #792
You should just check if `hasReachedMax` is true and avoid showing the loading indicator if so. Closing for now since the original issue has been resolved but I'm happy to continue the conversation if you still have additional questions 👍

[2020-01-22 22:04] #792 closed

[2020-01-22 23:16] TheWCKD commented on #797
@felangel Thank you for that tip, it was what I was looking for! Yes, I know you are at Flutter Europe, I heard that from ResoCoder. :smile: I'll try my best to solve the second issue I'm encountering until Saturday/Sunday. Thanks a ton for your help! :+1:

[2020-01-23 13:25] reinaldomoreira commented on #796
So you saying that it will always ignore first emit of `whenListen`, right?

What about the other issue the state being null in BlocBuilder in the first frame?

[2020-01-23 16:19] arathiShankri opened #798 "BlockProvider.of method"
Hi Felix,

This is the 1st time I am using BlocProvider or MultiBlocProvider and can use your expertise/advice on the below issue/question.

1. I am getting the error "BlocProvider.of() called with a context that does not contain a Bloc of type CounterBloc." on the line where I am creating the FAB.
[code]
I want to send my CounterBloc to my "_fab" method so that I can take action on click of the F

[2020-01-23 17:24] rodrigobastosv commented on #798
Hi @arathiShankri , with your current setup, the fab is not a child of the BlocProvider, so the bloc can't be provided.

One quick solution to your question is wraping your fab in a Builder widget (https://api.flutter.dev/flutter/widgets/Builder-class.html).

Doing that will make you fab be a child in the widget tree.

[2020-01-23 17:42] arathiShankri commented on #798
@rodrigobastosv Thank for your reply, I had it working creating a new context using Builder class.

But, in my code above, since Scaffold is a child of BlocProvider, I thought I can look up for Bloc and send it to the _fab method that returns a FloatingActionButton widget. Isn't that correct?

Thanks again!

[2020-01-23 18:20] tenhobi commented on #798
@arathiShankri yes, but the problem is you are using the same context from the current widget, therefore you are not in a child widget and cannot access it.

[2020-01-23 18:35] arathiShankri commented on #798
@tenhobi Thank you! I think I get it now.
FAB is in Scaffold and to grab the context of the Scaffold, I need to use Builder class. The context that I was using was really of that of the parent i.e the MaterialApp, thus was not finding the Bloc which was in turn created as a child of BlocProvider.

Closing the issue now. Thanks for helping!

[2020-01-23 18:35] #798 closed

[2020-01-24 07:15] basnetjiten opened #799 "call bloclistener exactly once"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Logs **
Run `flutter analyze` and at

[2020-01-24 07:16] #799 closed

[2020-01-24 08:36] ThomasvanWanrooij commented on #781
@felangel @tenhobi So, I have had some more time to play around with this more and you actually don't need to provide the bloc instance.. In the case of `@visibleForTesting`, this can easily be done by defining the bloc outside `blocTest`, and assigning it in the `build function.

[code]

[2020-01-24 08:46] tenhobi commented on #781
Cool!

[2020-01-24 19:24] ThinkDigitalSoftware commented on #235
Yes, and keep in mind that the `yield*`ed function doesn't return until  it's completed. It's not like a future that allows continued execution. Correct me if I'm wrong @felangel, but yield* someFunction can be continued synchronous asynchrony.

[2020-01-24 23:22] mhnowak opened #801 "Using RxDart with bloc"
Hi, thanks for the presentation at Flutter Europe in Warsaw. I remember you said that you can use RxDart with it and I wonder if there is an actual example. Can you maybe direct me there?

[2020-01-24 23:29] felangel commented on #801
Hey @mhnowak 👋

Yeah I believe your question was regarding how to cancel old events and only process the latest? You can refer to https://github.com/felangel/bloc/issues/517#issuecomment-531531738 and see an example in https://github.com/felangel/bloc/blob/7c804df9dbd9c2e88a5790ee35aba395e05fc249/examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart#L15. Ho

[2020-01-24 23:32] mhnowak commented on #801
Thanks @felangel it wasn’t my question and I don’t wanna take credit for it. And yes, that answer helps!

[2020-01-24 23:33] felangel commented on #801
Haha no worries! Glad I was able to help 😄
Closing for now but feel free to comment with any additional questions and/or join the [Discord Server](https://discord.gg/Hc5KD3g) if you want to chat about any other bloc-related topics 👍

[2020-01-24 23:33] #801 closed

[2020-01-25 00:10] RollyPeres opened #802 "[Feature request] Extend BlocDelegate with regards to logging"
**Is your feature request related to a problem? Please describe.**
Would like to be able to log additional context through `BlocDelegate`, not only the error itself and the stacktrace, a good example being firebase crashlytics where you can do `Crashlytics.instance.recordError(dynamic exception, StackTrace stack, {dynamic context})`.

**Describe the solution you'd like**
Would like to be able to p

[2020-01-25 12:05] felangel commented on #783
Hi @loreberti89 I took a look and this is behaving as intended. Every time you push a new named route it will push a a new instance of the widget on the stack and because there is a BlocListener each listener will subscribe to the existing bloc so you will end up with multiple listeners. I would recommend not having a global "SnackBarBloc" because a snack bar should be scoped to the scaffold (page

[2020-01-25 12:05] #783 closed

[2020-01-25 12:09] felangel commented on #797
Hey just cloned and ran your project and it looks like you've resolved both issues. Is there anything left that you're still having trouble with or is it ok to close this issue?

[2020-01-25 12:52] felangel commented on #789
Merged in #803 👍

[2020-01-25 12:52] #789 closed

[2020-01-25 13:26] #771 closed

[2020-01-25 14:09] felangel commented on #781
Addressed in #804 and published in `bloc_test v3.1.0` 🎉

[2020-01-25 14:09] #781 closed

[2020-01-25 14:13] felangel commented on #802
Hi @RollyPeres 👋
Thanks for opening an issue!

I agree this would be a nice improvement but I just want to clarify a few things.

1. Wouldn't an additional, optional context be required regardless of the approach?
2. I personally think I prefer adding the optional `context` to `onError` and exposing an `addError` on bloc. This would be a backward compatible change and would also

[2020-01-25 14:22] franagu opened #805 "Unable to retrieve Bloc from context in child widget"
**Describe the bug**
I may be missing something here, but my understanding is that declaring a Bloc in a parent widget's context should make it available to the subt tree. It does not seem to be working for me. I get the error

**Parent Class:**
`class ScreenWrapper extends StatelessWidget {
  ScreenWrapper({Key key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    retur

[2020-01-25 14:26] felangel commented on #805
Hi @franagu 👋
Thanks for opening an issue!

Are you sure you're providing the bloc type `BlocProvider.of<CreateFormBloc>(context)`?

[2020-01-25 16:22] rrkhissamov opened #806 "LockScreen"
How to add this code https://github.com/tomalabaster/flutter_app_lock/blob/master/lib/src/widgets/app_lock.dart
to login_bloc applications?

Thank you!

[2020-01-25 17:03] RollyPeres commented on #802
A basic implementation would look something like:

[code]

This would allow me to use my own delegate like:

[code]

And register it like:
[code]

[2020-01-25 20:59] franagu commented on #805
Thank you! Was missing the proper declaration of the Repo Provider, also nested the CreateScreen in another widget.

[2020-01-26 01:36] RollyPeres opened #807 "Misleading error when providing blocs through ProxyProvider"
**Describe the bug**
When injecting blocs through `ProxyProvider`, you get the misleading error of `BlocProvider.of() called with a context that does not contain a Bloc of type T`, when the actual error is that provider sees a wrong type, being that bloc is a stream. It's not possible to use `ListenableProxyProvider` since bloc doesn't extend listenable and there's no `StreamProxyProvider` unfortu

[2020-01-26 02:06] felangel commented on #807
Hey @RollyPeres 👋
Thanks for opening an issue!

Just to clarify this issue is to improve the error message and not to resolve the issue?

[2020-01-26 05:33] #806 closed

[2020-01-26 05:34] rrkhissamov commented on #806
https://gist.github.com/rrkhissamov/5d40327257e6b52a262adcd6cd18fbd2

[2020-01-26 11:16] RollyPeres commented on #807
Hey @felangel , this issue is to improve the error message, but also have a specialized proxy provider which could handle providing a bloc. This is probably something which provider should handle through a `StreamProxyProvider`.

[2020-01-26 11:41] TheWCKD commented on #797
@felangel Hello, mate. Thank you for looking over my project. No, it's not ready, since I'm stuck for the implementation number 2. As I said, I would like to know how to implement the loading weather one by one after the location list is displayed. Currently, I have setup that the all the weather info is loaded before displaying the location list if the list.lenght is <=5, otherwise it will displa

[2020-01-26 12:55] don-prog opened #808 "BlocBuilder.builder is called without new generated states"
I use the bloc to download a list data from the network. So `BlocBuilder` part looks like this:

[code]

All works fine, but sometimes when I scrolling I get a new last received state in `BlocBuilder.builder`, e.g. `MoreItemsLoadedState` and my list gets additional already added elements. But of course I didn't generate(with the `yield`) this new last state in the `ItemsBloc`.
As I understand, thi

[2020-01-26 17:00] felangel commented on #808
Hi @don-prog 👋
Thanks for opening an issue!

The problem you're facing is due to the fact that you are maintaining state both in your widget and in your bloc. You should not need to append state.items to an items list in the widget. Instead, you should take the state.items as the complete list of items and handle the pagination and append within the bloc. BlocBuilder (and StreamBuilder, build, etc

[2020-01-26 17:00] #808 closed

[2020-01-26 17:35] felangel commented on #797
Ah sounds good! Will take a look today and try to open a PR with my recommendation.

[2020-01-26 18:17] TheWCKD commented on #797
@felangel Thank you, mate, I really appreciate it! :smile:

[2020-01-26 18:47] #805 closed

[2020-01-26 20:32] don-prog commented on #808
@felangel Thanks! This is what I thought. But can you share some example code for saving data in the bloc and getting it from the bloc in the widget? I want to look at the design.

[2020-01-26 21:59] felangel commented on #808
@don-prog no problem! Ideally you shouldn't need to save data in your bloc. Everything you need should be part of the bloc state and can be accessed via BlocBuilder/BlocListener.

[2020-01-26 22:22] don-prog commented on #808
@felangel here is the example: https://github.com/ResoCoder/youtube-search-flutter-bloc/blob/master/lib/ui/search/search_bloc.dart
 Here I can access the result pages using the previous state `currentState`. Is this the correct usage?
And how can I do this in the current `bloc` version? Because now I don't see `currentState` field.

[2020-01-26 23:00] felangel commented on #808
This is using an older version so instead of `currentState` you can just use `state`.

[2020-01-26 23:29] felangel commented on #797
@TheWCKD just created a [pull request](https://github.com/TheWCKD/bloc_weather_app_advanced/pull/1) to handle number 2 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2020-01-26 23:29] #797 closed

[2020-01-26 23:33] don-prog commented on #808
Ok, thanks again.

[2020-01-27 07:34] DaVaMa1 opened #809 "calling close() does not close _stateSubject"
We're having an issue with regards to unit testing our implementations of Bloc.
When we call close() and expect a done event it never arrives. When debugging and awaiting the close we notice that the close never completes.
It seems to hang on await _stateSubject.close(); in bloc itself.

The Dart documentation is not so clear about it but streams should close once they deliver the Done event, whic

[2020-01-27 08:39] TheWCKD commented on #797
@felangel Thank you, mate. Will surely take a look at the implementation! Cheers!

[2020-01-27 13:48] vishweshsoni commented on #619
I have the same issue @felangel  how to pass parent context into the modelbottomsheet to lookup bloc can you give one example?

[2020-01-27 14:09] felangel commented on #619
@vishweshsoni in that case I would recommend performing the looking before showing the modal sheet and injecting the bloc directly via constructor.

[2020-01-27 19:26] reinaldomoreira opened #811 "First emission of state is null in BlocBuilder"
**Describe the bug**
While testing, first emission of `BlocBuilder` is null (only when testing). This force me to do a check-up in my widget like `if(state == null) return Container()` in my code. Please, check the code attached for better understanding while reproducing it.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the code sent attached or in the end of this issue
2. Just run th

[2020-01-27 19:30] rodrigobastosv commented on #811
I guess this line is not needed when(testBloc.initialState).thenReturn(TestState('Initial mocked'));

You can pass your initialState to whenListen, like that:

    whenListen<TestEvent, TestState>(
      testBloc,
      Stream.fromIterable([
        TestState('Initial mocked')
        TestState('First emission'),
        TestState('Second emission'),
      ]),
    );

[2020-01-27 19:32] reinaldomoreira commented on #811
Thanks for the reply! I understand it is not needed and I don't mock the initialState, it's there just for exhausting all the possible problems

[2020-01-28 04:57] vishweshsoni commented on #619
[code]

[2020-01-28 05:15] felangel commented on #811
Hi @reinaldonomoreira 👋
Thanks for opening an issue!

This is happening because you are stubbing `initialState` rather than `state`. Check out https://gist.github.com/reinaldomoreira/98e6d8ce1c296defe66fb064bbc2733b#gistcomment-3157637 for the updated test code.

Hope that helps and sorry for the inconvenience!

Closing for now but feel free to comment with additional questions and I'm happy to co

[2020-01-28 05:15] #811 closed

[2020-01-28 05:16] felangel commented on #809
Hi @DaVaMa1 👋
Thanks for opening an issue!

Can you please share a link to a sample app which reproduces the issue you're having? Thanks! 👍

[2020-01-28 15:21] chriswiesner opened #812 "Side-effects (events) without overriding state"
Hi,

I'm having a Bloc for a list with following states:
`Empty`, `Loading`, `Loaded(List<> data)`, `Error(errormessage)`

Adding side-effects with `BlocListener` has the disadvantage of overriding the actual "data" state.

For example I want to issue side-effects from my Bloc (like Navigating to detail screen, showing snackbar).
This yields a state `NavigateToDetail(...)` which is overriding the

[2020-01-28 17:18] felangel commented on #812
Hi @chriswiesner 👋
Thanks for opening an issue!

Several things I would recommend considering are:

1. Does the navigation depend on business logic? If no, you don't need to introduce navigation based states in your bloc.
2. I would highly recommend not having anything in your states be UI specific (ie `ShowSnackBarState`). Instead, I would keep my states generic, describing the feature/use-case (

[2020-01-28 18:40] barapa opened #814 "Is it possible to access the BuildContext from the BlocDelegate?"
I would like to use the BlocDelegate as a global error handler, using the `onError(...)` callback.

Specifically, I want to be able to display a snackbar with any error message for errors of a certain type, regardless of which `Scaffold` is active. It seems like this would be possible with a call to `Scaffold.of(context).showSnackBar(...)`. However, the signature of `onError` is
[code]

Does anyon

[2020-01-28 18:52] felangel commented on #814
Hi @barapa 👋
Thanks for opening an issue!

In general, I would recommend keeping the `BlocDelegate` platform-agnostic so that it can be reused. You can just inject an onError callback function into your BlocDelegate like

[code]

Then in your `App` widget you can have something like:

[code]

Hope that helps 👍

[2020-01-28 21:46] barapa commented on #814
I'm not having much luck with that approach. This error handler is being defined in my root Widget, as suggested. When I get an error thrown in a bloc due to some action in a child widget, I get the following error:

[code]

[2020-01-28 21:47] felangel commented on #814
@barapa this is because you need to have a Scaffold in the parent context in order for this to work. In general you should not have global snack bars because they are designed to be used only on the current page. For a universal solution you should probably look into using overlays.

[2020-01-28 22:53] barapa opened #815 "Cannot catch exceptions in mapEventToState"
I am trying to catch exceptions in mapEventToState in order to yield an ErrorState when one occurs. The code looks like this:

[code]

When I run the code in a situation that will trigger the exception, I see the print from inside _handleMyEvent, but I do not see the one in mapEventToState, and the ErrorState is never yielded.

[2020-01-28 22:59] barapa commented on #814
Thank you @felangel for your prompt assistance! For the time being, I will move the error handling to each individual bloc/widget.

[2020-01-28 22:59] #814 closed

[2020-01-28 23:34] barapa commented on #815
I can work around this by overriding the blocs `onError` method:

[code]

And then just handling the InternalError event normally. But it seems like it shouldn't be necessary,

[2020-01-29 01:18] felangel commented on #815
Hi @barapa 👋
Thanks for opening an issue!

If you have an async* (async-generator) then you should always handle exceptions internally and yield states. In your case I would recommend refactoring like:

[code]

Let me know if that helps 👍

[2020-01-29 05:03] felangel commented on #809
Closing for now since there is not enough information to reproduce the issue. Feel free to comment with additional info or a sample app and I'm happy to continue the conversation 👍

[2020-01-29 05:03] #809 closed

[2020-01-29 05:04] felangel commented on #815
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-01-29 05:04] #815 closed

[2020-01-29 06:26] chriswiesner commented on #812
Thanks for the fast response.

1. yes the navigation step is issued/dependent by/on the logic of the Bloc, therefore I cannot directly issue it from the UI. Would you recommend having a NavigationBloc and call that one from my Bloc?

2. in my case I have a list and I issue an action on an item in the list from the UI. then the Bloc is applying some actions on the listitem and the UI should then sh

[2020-01-29 06:30] felangel commented on #812
No problem!

I wouldn't recommend a NavigationBloc because again blocs should not have any dependency on Flutter or the UI. I would recommend handling navigation within a BlocListener in cases where you have business logic dependent navigation.

Are you able to share a link to a sample app which illustrates the problems you're facing? It would be much easier for me to give suggestions for a concre

[2020-01-29 06:36] chriswiesner commented on #812
There would be no dependency to flutter imho. It's just issuing events for the UI like NavigateTo(<screenName>).

Handling navigation with BlocListener would imply that I have a `Loaded(...list, navigateToDetail = true)` state, which is not really what I want. I would need to clear the navigation flag once I navigate, otherwise it would again navigate once a come back from the detail.

I'll try to

[2020-01-29 06:37] felangel commented on #812
I don't think the extra property should be necessary. Awesome! Don't spend too much time on the sample...just throw something super simple that mimics your current setup and what you're trying to accomplish 👍

[2020-01-29 08:19] chriswiesner commented on #812
here is the sample repo: https://github.com/chriswiesner/blocSample/blob/master/lib

it's about a listview where you can "assign" items by swiping left/right.

Another similar case for side-effects I came across now was saving an entity. You press a save button. the Bloc saves the entity but I want to listen for the result of the saving process. So if it fails I'll stay on the screen (having the e

[2020-01-29 10:47] don-prog commented on #808
@felangel I have one more related question, but I don't want to make new issues for you :)
I have a `NotificationListener<ScrollNotification>` on my `ListView`, it adds a new event(pagination request to the server) to `bloc` when `scrollInfo.metrics.pixels == scrollInfo.metrics.maxScrollExtent`, but `bloc` gets a lot of these events because scroll fires multiple times. So, I need to block these ev

[2020-01-29 11:45] rodrigobastosv commented on #808
Hi @don-prog i think i can answer this one :).

You can use transformations to your streams and give debounce to your events.

Take a look at this example: https://bloclibrary.dev/#/flutterinfinitelisttutorial

Using this your events will only be triggered after the debounce time

[2020-01-29 13:32] don-prog commented on #808
@rodrigobastosv thanks, I think this is what I need!
But I have one more case where I don't know how not to modify current state in the widget.
I have user info, which loaded from the server, e.g. `state.gender`. I load it to the `_gender` variable in the widget using `BlocBuilder`. After this I provide this variable in two `Radios` (as [here](https://api.flutter.dev/flutter/material/Radio-class.h

[2020-01-29 13:43] felangel commented on #808
@don-prog you really shouldn't be maintaining two versions of state. Ideally your widgets should mostly be stateless and should only rely on the bloc state for everything. There should be no reason to maintain a private gender and call setState. Hope that helps 👍

[2020-01-29 13:54] felangel commented on #812
@chriswiesner thanks for putting together the sample! I'll have a look later today and will try to open a pull request with any suggestions 👍

[2020-01-29 14:13] don-prog commented on #808
@felangel ok, thanks!
1. So, here I need to change `state.gender` value in the widget, correct?
2. Also, you said "There should be no reason to maintain a private gender and call setState.". But how can I change `Radio` without `setState()`? If I just use `state.gender = value`, not in the `setState()` method, then `Radio` widget doesn't change.

[2020-01-29 14:18] felangel commented on #808
1. Yes
2. You add an event to your bloc and your bloc updates it.

[2020-01-29 16:43] don-prog commented on #808
@felangel my state has `settings` field which has `gender`. `Settings extends Equatable`, but `gender` in the `Settings` not marked as `final`.
Now I'm trying to modify `settings.gender`, send the event with `settings` to `bloc`, and `bloc` need just `yield` state with this `settings`.
For the first time, everything is fine, but when I try to modify `gender` and `yield` updated `settings` in the `

[2020-01-29 16:44] felangel commented on #808
@don-prog yes you should mark all fields final (states should be immutable). Always return a new copy of you state and in this case adding a `copyWith` is what I'd recommend 👍

[2020-01-29 17:51] ahawlitschek opened #817 "Misleading Error Message"
Hi Felix,

today I encountered a really strange behaviour.
Within a project that uses several blocs the `No BlocProvider found for context...` appears for the new bloc.
Exactly same View Tree. No import issues.
After some hours I discovered, that an error within my initial state getter had occured.

This error was catched by the provider try catch block. Resulting in no other error message than pr

[2020-01-29 19:09] felangel commented on #817
Hi @ahawlitschek 👋
Thanks for opening an issue!

This is currently being addressed by #816 and will be fixed in v3.2.0 of flutter_bloc 👍

[2020-01-29 19:09] #817 closed

[2020-01-30 03:33] felangel commented on #807
Addressed the misleading error in #816 and published in v3.2.0 of flutter_bloc 👍

[2020-01-30 03:33] #807 closed

[2020-01-30 03:33] felangel commented on #608
Added the extensions in #816 and published in v3.2.0 of flutter_bloc 🎉

[2020-01-30 03:33] #608 closed

[2020-01-30 05:22] felangel commented on #812
@chriswiesner I opened a [pull request](https://github.com/chriswiesner/blocSample/pull/1) with some suggestions. I'm sure I can clean it up even further if I had a better understanding of the requirements but hopefully it gives you a good sense of how to structure things.

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-01-30 05:22] #812 closed

[2020-01-30 06:52] basilex opened #819 "Wrong link on pub.dev example tab"
**Describe the bug**

Hello!
example link on https://pub.dev/packages/flutter_bloc#-example-tab-

**example/lib/main.dart** is points to

_https://github.com/felangel/bloc/blob/master/example/lib/main.dart_

but it's wrong and it should be changed to

_https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/example/lib/main.dart_

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2020-01-30 08:25] chriswiesner commented on #812
Thanks for taking the time and the suggested solution. (I commented my thoughts)

The one issue I'm now having is that the ListItem data is changing when I assign an item. (formerly I updated the whole list, which was anyhow not the best approach).
Now I'd need to hold the itemdata in the `ListItemBloc` and still emit (maybe even an additional) event to rebuild that item next to the `AssignSuccess

[2020-01-31 03:55] felangel commented on #819
Hi @basilex 👋
Thanks for opening an issue!

Unfortunately, I believe this is an issue with pub.dev because I don't think I have any control over that link 😞. I would recommend opening an issue [pub.dev](https://github.com/dart-lang/pub-dev/issues/new?body=URL%3A+https%3A%2F%2Fpub.dev%2F%0A%0A%3CDescribe+your+issue+or+suggestion+here%3E&title=%3CSummarize+your+issues+here%3E&labels=Area%3A+site+fee

[2020-01-31 09:49] basilex commented on #819
Done!
Your can check this issue here
https://github.com/dart-lang/pub-dev/issues/3288
Hope this helps!

[2020-01-31 11:47] tenhobi commented on #802
I like the idea of adding additional context 👍, which might be used by some tools; but I feel like not forcing logger API (and logger itself) would be better. You can easily add a logger to your own delegate.

[2020-01-31 12:01] Ravirael opened #828 "Stopping long running action in `mapEventToState`"
Hello, I need a feedback with particular BLoC use case. Imagine a situation when BLoC in response to one command subscribes to another stream (ideally using `await for`) and emits multiple states based on values from that stream. It is often useful to be able to stop such action, however I do not see any elegant way of implementing this, since BLoC events are handled sequentially - you cannot subm

[2020-01-31 12:33] felangel commented on #828
Hi @Ravirael 👋
Thanks for opening an issue!

Check out https://github.com/felangel/bloc/issues/517#issuecomment-531531738.

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-01-31 12:33] #828 closed

[2020-01-31 13:48] chriswiesner commented on #812
also the items are used in a "grouped" list - where the unassigned items are grouped together in a section and once it is assigned not only the item data is update, also the list of items is changing as it is now in the grouped section. therefore I need to update the list of items if an assignment of an item is successful.

would i listen for the assignSuccess and then issue a refresh on the listB

[2020-01-31 14:49] felangel commented on #812
No problem! I would recommend holding the the view model for the ListItem in the ListItemBloc's state.

Not sure what you mean. You shouldn't need to emit additional events just to rebuild items.

would i listen for the assignSuccess and then issue a refresh on the listBloc?

I would manage the groups via the state of the list bloc. You can add a GroupChanged event to the ListBloc when you assign

[2020-02-01 20:49] netantho opened #835 "Enable CI for Mac & iOS"
In #827, the github actions were disabled for Mac as they were slow and not very stable.
We couldn't cannot cache flutter on both systems (2 GB limit).

This FR is to reevaluate running the CI on Mac and building iOS applications for the examples, once (hopefully) Github Actions provide more caching.

cc @tenhobi

[2020-02-01 22:01] felangel opened #836 "Add multiple subscription tests to bloc"
I am not sure atm, but using `BehaviorSubject` you are given the last emitted state (from cache) when you subscribe (was `_stateSubject.listen`) even after some changes to the bloc have been made (emitting a new state). What part of the code does this now? Not sure it's part of the tests to cover this issue.

What I mean:

1. subscribe to BlocA with X
1. add an event1
1. that emits a state1
1. sub

[2020-02-01 22:25] #836 closed

[2020-02-02 23:44] EdsonOnildoJR opened #841 "MultiBlocBuilder?"
A case of use when this feature is helpful is when we have a widget that responses at two or more independents external events. In this case, the widget is wrapped with two or more bloc builder that managed this events. Nested blocs can't be a really problem, but is expressive to write, like that as create another bloc which has dependencies on the two blocs.

A example where this feature can be h

[2020-02-02 23:51] felangel commented on #841
Hi @EdsonOnildoJR 👋
Thanks for opening an issue and for the positive feedback!

This is a duplicate of https://github.com/felangel/bloc/issues/538 and we decided against it because in order for it to work we'd need MultiBlocBuilder2, MultiBlocBuilder3, ..., MultiBlocBuilderN and the API would be very verbose to the point where it's actually more readable to just nest BlocBuilders. Another option i

[2020-02-03 00:28] EdsonOnildoJR commented on #841
I don't fluent in dart, something like that it's possible?

[code]

I'm thinking in this widget just returns a nested BlocBuilder.

Thanks for the fast answer and feedback!!

[2020-02-03 01:55] felangel commented on #841
@EdsonOnildoJR what you're suggesting would only be possible if the states were dynamically typed. You would then have to cast your states like:

[code]

[2020-02-03 02:47] EdsonOnildoJR commented on #841
It's sounds good for me! Better that another solutions available in this moment (nested BlocBuilder, etc...)

I can't think anything better, maybe pass the states through the generics, but that would limit the number of blocs...

What would you think about that?

[2020-02-03 03:32] felangel commented on #841
I really don't want to introduce functionality in the library that isn't type-safe. If you'd like I can put together an implementation that you can use within your own project but I would prefer not to include that in the library. If you don't mind can you share your use case? There might be a better way to approach the issue which doesn't rely on many nested BlocBuilders.

[2020-02-03 08:25] chriswiesner commented on #812
Thanks, yes for the first point It seemed a bit wrong to me to always pass the data/state (viewmodel) with the event (e.g. `ItemAssignSuccess`) but ok.

For the second point I ended up as you suggested, to emit a updateItem event to the list bloc.

Thanks again taking the time!

[2020-02-03 17:21] mohammednabil95 opened #842 "BlocBuilder not update if i navigate to new page and goes back to previous page"
I am building an app which has a notification icon, so far what i have done is displaying the notification icon and when i click the icon the icon should change to "Icons.notifications_active". But it only change to notification icon active if i navigate to new screen and goes back to previous screen and if i add setstate() inside onpressed function then it change to active notification icon. Belo

[2020-02-03 19:21] mohammednabil95 opened #843 "BlocBuilder does not update if i navigate to new page and back to previous page"
I am building an app which has a notification icon, so far what i have done is displaying the notification icon and when i click the icon the icon change to "Icons.notifications_active". But it only change or build the notification icon to active if i navigate to new screen and moves back to previous screen and if i add setstate() inside onpressed function then it change to active notification ico

[2020-02-03 19:37] felangel commented on #842
Hi @mohammednabil95 👋
Thanks for opening an issue!

Can you please share a link to a sample app which illustrates the issue you're having? Also, it looks like #843 is related to this so I'm going to close it as a duplicate for now and we can address these rebuild issues in a single ticket.

[2020-02-03 19:37] felangel commented on #843
Closing for now as this seems to be very closely related to #842

[2020-02-03 19:37] #843 closed

[2020-02-03 19:38] felangel commented on #841
Closing for now but feel free to comment with additional info and I'm happy to continue the conversation 👍

[2020-02-03 19:38] #841 closed

[2020-02-03 21:08] #819 closed

[2020-02-03 21:08] felangel commented on #819
Will be included in the next release 👍

[2020-02-04 10:00] Thioby commented on #842
It seems like you are pushing multiple times the same state.
You can use `BlockListener` and override property `condition` or use BlocConsumer and override `listenWhen`.

But it seems that this solution also not work because in `bloc` itself there is small piece of code that ignore those 2 properties.

Line 173 bloc.dart:
` if (state == nextState || _stateController.isClosed) return;`

[2020-02-04 15:30] don-prog opened #844 "State synchronization problem in the bloc and widget"
I'm trying to implement [these swipeable cards(Gesture detector and Alignment type)](https://github.com/Ivaskuu/tinder_cards) with `bloc`. Now each card has only one number for testing.
Each card deck has 10 cards and when deck has less than three cards, I emulate loading more new cards from server in the `game_bloc.dart`. When I just emulate it without delay - all fine, but when I use `await Futu

[2020-02-04 15:42] felangel commented on #842
@Thioby yup you can use condition to control how often listener/builder is called and blocs will ignore duplicate states. If a Bloc yields State nextState where state == nextState, then no transition will occur and no change will be made to the Stream<State>. Check out the [docs](https://bloclibrary.dev/#/coreconcepts) for more details.

Closing for now as there isn't enough information to identif

[2020-02-04 15:42] #842 closed

[2020-02-04 15:43] felangel commented on #844
Hi @don-prog 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you're having? It would be much easier for me to help, thanks!

[2020-02-04 16:55] don-prog commented on #844
@felangel yes, of course! Here it is: https://github.com/don-prog/flutter_cards_bloc.
Also, please note that I think the main problem here is my bad architecture due to animation and state synchronization problems which I achieved before. So, if you have any suggestion about this specific problem or this page in general - I want to hear that. :)

[2020-02-04 20:32] hawkinsjb1 opened #845 "Yield new state manually"
Sometimes I find myself using states to trigger a certain listener, and once the listener has been triggered I would like to go back to an 'Idle' state. I know I can create empty events that meet this purpose, but I was wondering if we could do this inline from a BlocProvider.of(context) reference.
For example:

[code]

I realize this may go against the BLoC pattern, but it would also reduce unnec

[2020-02-04 20:34] tenhobi commented on #845
Hi, could you provide more context?

[2020-02-04 20:42] hawkinsjb1 commented on #845
I guess there would also have to be some added protection to avoid infinite loops

[2020-02-04 20:47] tenhobi commented on #845
This goes against the very basics of architecture an app. With BLoC or any other state management solution, you are trying to separate your code to layers - view and logic. Try rather architecture-out your problem, so you would keep your code nice and clean. 💙

[2020-02-04 21:02] hawkinsjb1 commented on #845
As far as I can tell, blocbuilder's purpose is to create a 1-to-1 view of a logical state. Bloclistener's purpose is to allow for a visual reaction to a state change, however doesn't this mean that a blocbuilder's view may no longer accurately represent the current logical state due to a change created by the listener? Idk I feel like there are edge cases when combining reactive and representative

[2020-02-04 21:23] hawkinsjb1 commented on #845
Let's say I create some new object from a form, send it to the server, retrieve the json response, and want to push a page using that response's details. I would usually go about this
by using an 'AddedObject' state which triggers a listener to push a new page using the object. Once I push this page, I no longer think the 'AddedObject' state is neccesary. The current
solution would be to either ma

[2020-02-04 21:39] felangel commented on #845
Hi @hawkinsjb1 👋
Thanks for opening an issue!

As @tenhobi mentioned this violates the bloc library paradigm. I think in this case, the problem is it seems you're thinking of states as triggers when the events should be the triggers.

Rather than having an `AddedObject` state I would recommend having an `AddedObject` event which triggers an update in the bloc's state. Hope that helps!

[2020-02-05 15:25] jerryzhoujw commented on #765
Will you consider output stream in this case ? because I think sometimes stream output will benefit for animations.

[2020-02-05 15:46] felangel commented on #845
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-02-05 15:46] #845 closed

[2020-02-05 15:47] felangel commented on #844
Thanks @don-prog for providing the sample! I'll take a look later today 👍

[2020-02-06 02:29] henryla92 opened #846 "Delegate error: Bad state: Cannot add new events after calling close"
Hi,

I am currently having an issue with `Delegate error: Bad state: Cannot add new events after calling close` and I'm not too sure how to deal with it.

Here is the description:

So I have set up an app with to display lessons and posts as the json below:

Lessons:
[code]

And I have 2 Blocs LessonBloc and PostBloc to help retrieve the respective jsons.

On my homepage I have the following to he

[2020-02-06 02:31] felangel commented on #846
Hi @henryla92 👋
Thanks for opening an issue!

Are you able to share a link to the app or a sample app which illustrates the issue? Thanks!

[2020-02-06 02:50] henryla92 commented on #846
Of course, I just uploaded the app to https://github.com/henryla92/lessonsApp

Please let me know if you need anything else.

Thanks!

[2020-02-06 03:05] felangel commented on #846
Just took a look and opened a [pull request](https://github.com/henryla92/lessonsApp/pull/1) to address the issues. The problem was you were manually disposing blocs when you should just leave it to be handled by `BlocProvider`.

Hope that helps!

[2020-02-06 03:05] #846 closed

[2020-02-06 04:50] felangel commented on #844
I took a quick look and I made a [gist](https://gist.github.com/felangel/6088a16ec171a0a97841b646c4785d3d) to illustrate how I would structure the bloc and widgets. Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-02-06 04:50] #844 closed

[2020-02-06 07:19] jjoao07 commented on #120
Hi @felangel, I'm having similar issuer,` Cannot add new events after calling close`

What's the best way to avoid this error.

In my case, I have 3 screens
Maps View,
List View
and Filters

Inside maps view is where I dispatch the event and listen to events changes in other screens.

When landing on the maps view, I dispatch the even, to make a call to the API to get data.

The same data I popula

[2020-02-06 10:52] alvarofvr opened #847 "[Question] Customize "User" model on "Login Firestore Tutorial"."
Hi @felangel, I am continuing to use your fantastic library for the development of my application and I have a question for you. In example [Flutter Firebase Login Tutorial](https://bloclibrary.dev/#/flutterfirebaselogintutorial) in `UserRepository` class you have implemented `getUser()` method and you added a note:

For implement this part first I created my model `User` then I proceeded to add t

[2020-02-06 12:59] RollyPeres commented on #802
@tenhobi That's true, was just throwing that idea in there. Many might find not having to write their own logger hook a bonus. I don't mind either way, as long as there's some additional context and we get like a `.addError` on the bloc 😉

[2020-02-06 19:20] henryla92 commented on #846
Ahh I see, I was getting the `Close instances of `dart.core.Sink`.dart(close_sinks)` on dart lint but I just saw the other issue on that.

Thank you very much for your help!

[2020-02-06 19:48] felangel commented on #846
No problem!

[2020-02-06 22:00] don-prog commented on #844
@felangel thank you very much! But what is `TinderSwipe` in your gist? Can you share all the code please? It seems now gist is incomplete.

[2020-02-06 23:13] warriorCoder commented on #847
I think the purpose was to add extra info about the user other than their id, email address etc and keep track of said info in your app with a user object. The sign in/out or authentication part is a little separate from the details of what's stored in your user class.

Also allowing the user to update their info in a settings page or user profile page isn't the same as authenticating said user. I

[2020-02-07 01:53] felangel commented on #844
@don-prog I didn't implement it because it's not relevant to bloc. You should just be able to adapt your implementation to conform to that API.

[2020-02-07 01:54] felangel commented on #120
Hi @jjoao07 make sure you aren't manually disposing/closing blocs (leave it to be handled by BlocProvider instead) and you should be good to go.

[2020-02-07 02:05] felangel commented on #847
Hi @alvarofvr 👋
Thanks for opening an issue and for the positive feedback!

Can you provide a sample app which illustrates the issue you're having? I'm not sure I understand why changing user settings would require re-authenticating.

[2020-02-07 03:31] don-prog commented on #844
@felangel ok, understand. And what should I do with spent cards? Should I delete them in the `TinderSwipe` widget or not delete them at all during the swipe (and if so, when to delete)?

[2020-02-07 03:37] felangel commented on #844
You can probably just remove them from the bloc state after the swipe 👍

[2020-02-07 04:09] don-prog commented on #844
@felangel you mean I can remove them in the `bloc` or in the `TinderSwipe` widget?

[2020-02-07 04:10] felangel commented on #844
You should remove them in the bloc state which should update the `TinderSwipe` widget

[2020-02-07 04:26] don-prog commented on #844
@felangel Please, forgive me my inquisitiveness, but I really want to correctly understand you. :)
Let's look closely. `TinderSwipe` doesn't have `state` reference, only `cards`, so I can't touch `state` in it as you said, but `bloc` in the your gist is also doesn't remove cards after swipe. So, where should I remove cards: in the `GameBloc` or in the `TinderSwipe`?
I ask so clearly, because the l

[2020-02-07 04:32] felangel commented on #844
No problem and sorry for being unclear. I meant `GameBloc` can remove the cards from the `GameBlocState` in
[code]

Since `TinderSwipe` is returned by `BlocBuilder` when the cards are removed from the state, `TinderSwipe` will be rebuilt with the updated list of cards and can re-render accordingly.

Hope that helps 👍

[2020-02-07 04:39] don-prog commented on #844
@felangel I understand you, thanks! Today I'll try your suggestions a bit later.

[2020-02-07 09:52] alvarofvr commented on #847
Are you suggesting to detach the authentication logic from the user's profile logic? For example use a different Bloc for manage user profile logic?
But I think that having the user's profile information directly into the authentication block would be better for several reasons.

[2020-02-07 10:02] alvarofvr commented on #847
When a user logs in, the state of authentication bloc is `Authenticated(FirebaseUser user)`.
If I use a custom user model the state is `Authenticated(User user)`, then I use the authentication bloc in the settings user profile page. When I update the user fields must be dispatched an event that updates the Authenticated(user) state and this causes the authentication bloc to change state.

[2020-02-07 10:09] alvarofvr commented on #847
It's not an issue it's just a question to understand if `AuthenticationBloc` logic can coexist with a user profile logic.

[2020-02-07 11:35] rodrigobastosv opened #848 "Add possibility to configure initial event"
**Is your feature request related to a problem? No.**
I don't like the way we add an initial event to the bloc, to add an event to the bloc right at the creation of it we have to add the cascade operator ..add to the creation of the bloc. I think the lib should have more clarity of this process.

**Describe the solution you'd like**
What i suggest is to create `initialEvent` (kind of similar to `i

[2020-02-07 11:59] gabrielintang opened #849 "[QUESTION] best practices for not redrawing widget that doesn't have state change"
Hi @felangel is it the best practices to have multiple blocs for one page for each widget that we
only want to change ?

for example, if I have pages that have 3 widget:
widget A
widget B
widget C

only widget B and C (different state) that will be rebuild if there's some state changed.
should I create 2 different bloc for each widget B and C, and wrap them in it ? in this case it will be widgetAB

[2020-02-07 12:11] tenhobi commented on #849
If you feel you wanna optimize anything, do it.

Of course, if there is no caching of some kind, all the widgets inside `BlocBuilder` will be redrawn. They might be (and probably will be) also redrawn anytime Flutter feels like it. So I would not go to over-optimizing this, because it doesn't really come with any major benefit anyway.

[2020-02-07 13:02] PDDStudio commented on #194
I'm having the same problem. @felangel could you provide a solution that is available to the public? The drive link is broken.

[2020-02-07 13:27] Rekubot opened #850 "onEvent is called but mapEventToState is not"
I have a bloc which initially sees mapEventToState being called at app startup but shortly afterwards stops receiving events. onEvent continues to be called however, and my other blocs do not exhibit this behaviour as far as I can tell. Any ideas why this would happen? close() is not being called.

[2020-02-07 13:44] rodrigobastosv commented on #850
Question: are you always emitting the same state? If you emitted the same state twice mapEventToState won't be called for the second state.

Are you using equatable?

[2020-02-07 14:19] felangel commented on #848
Hi @rodrigobastosv 👋
Thanks for opening an issue!

Adding th event via cascade operator is slightly different from what you're proposing. When using the cascade operator from the create callback of BlocProvider you are only adding the event to the bloc when the BlocProvider widget is created. With your proposal, the event will be added as soon as the bloc is created which makes the bloc slightly l

[2020-02-07 14:35] rodrigobastosv commented on #848
I guess you are right @felangel .

Thanks for the fast reply and for the great work!

[2020-02-07 14:35] #848 closed

[2020-02-07 16:33] felangel commented on #194
Sure, I'll create a recipe for it 👍 (will try to get to it later today/tomorrow)

[2020-02-07 16:37] felangel commented on #849
Hi @gabrielintang 👋
Thanks for opening an issue!

There are several things you can do depending on the situation:

- If WidgetA does not require data don't include it within `BlocBuilder` (only wrap the widgets that need to rebuild)
- If WidgetA needs a different part of the state than WidgetB you can add wrap each in their own `BlocBuilder` and add a `condition` to each
- if WidgetA and WidgetB a

[2020-02-07 16:37] #849 closed

[2020-02-07 16:39] felangel commented on #847
@alvarofvr I would not recommend conflating profiles/preferences with Authentication because those are two independent features/use-cases in my opinion. I would recommend the `AuthenticationBloc` just manage whether or not a user is authenticated (and the optionally the identity). You can have a `ProfileBloc` which pulls user profile data from the UserRepository and manages that state independentl

[2020-02-07 16:39] #847 closed

[2020-02-07 17:07] don-prog commented on #844
@felangel unfortunately, I think the problem is not solved.
I need to keep card which is in the process of removing(when card goes beyond the screen), because animation requires this instance. So I keep it in the special var `deletingCard` in the state. When animation is finished it resets this var to null.
But here is a problem. When new cards are loaded in the `bloc` I add them in the state and

[2020-02-07 20:02] #835 closed

[2020-02-07 20:08] netantho commented on #712
@felangel Should this issue be closed given that https://github.com/felangel/bloc/pull/821 got merged?

[2020-02-07 21:52] felangel commented on #712
@netantho I don't think so because this PR is related to provider as a dependency not rxdart 👍

[2020-02-07 23:31] barapa opened #854 "Approaches to navigation on notification clicks (via firebase messaging)"
I am using [Firebase Cloud Messaging](https://firebase.google.com/docs/cloud-messaging) to receive messages and in turn display notifications. I am trying to determine a good pattern for navigating to a specific page within the app when a user clicks on a notification in their notification bar.

As currently architected, I configure the firebase cloud messaging client and my message callbacks in a

[2020-02-08 06:24] felangel commented on #854
Hi @barapa 👋
Thanks for opening an issue!

I would recommend having a `MessageReceived` event which emits a state containing the normalized data from FCM. You can then have a `BlocListener` which listens for state changes in the `NotificationBloc` and handle navigation in the `listener`.

Let me know if that helps! 👍

[2020-02-08 09:33] tenhobi opened #856 "Codecov fails to upload sometimes"
This is an issue to track Codecov Action's issues.

- [x] Sometimes randomly fails (even for projects with coverage !); see https://github.com/codecov/codecov-action/issues/54
- [x] Doesn't work for forks, because the token is from this repository; see https://github.com/codecov/codecov-action/issues/29

[2020-02-08 11:04] jaripekkala commented on #765
Here's my two cents to the issue: extending the delegate pattern to allow registering them per bloc as well

[code]

Of course, this would need to be registered when creating the `MyBloc` and unregistered on dispose.

[2020-02-08 13:43] barapa commented on #854
That does not appear to work. Let me add more details.

This is the example config from firebase messaging:
[code]

The `onLaunch` and `onResume` callbacks I define are triggered when the user clicks the notification. When I set these up as suggested, where they add an Event that is handled by yielding a State that a Listener (somewhere in my widget tree) is listening to to trigger the navigation,

[2020-02-08 13:57] barapa commented on #854
`onMessage` is called if the notification comes in while the app is open. If I trigger a notification, my print statement in `onMessage` is shows up in the logs. However, the event I add after the print statement does not show up in the logs, even though my bloc delegate prints every event.

I have registered the BlocListener for the notification bloc at the top level of the app, and it's child is

[2020-02-08 14:06] felangel commented on #854
Are you able to share a link to your app or a sample app which illustrates the problem? I'm happy to try to open a pull request with suggestions.

[2020-02-08 14:40] barapa commented on #854
Turns out there was a type error in my handling of these messages which was not getting logged in any way. Your approach works!

In general, does it matter where in the widget tree the listener for these notifications lives?

[2020-02-08 17:09] Dinosane2 opened #857 "Scaffold inside BlocBuilder - floatingActionButton issues"
I´m not sure if it is a bloc issue or not.

I wish to show floatingActionButton depending on states. A CRUD page with a PLUS button will change the state to ADDING and a proper form will show up, with a different floatingActionButton set (SAVE and CANCEL).

To achieve this I´m using BlocBuilder > Scaffold> FAB (depending on state)
But doing so I´m got an error :

"Unhandled Exception: Scaffold.of(

[2020-02-08 17:11] felangel commented on #854
Awesome! I would recommend keeping the listener in the widget which needs to be mounted in order for the notifications to be handled. In this case, I think it would make sense to have the BlocListener above your MaterialApp since you likely want to be listening for messages regardless of what part of the app a user is on. Hope that helps!

Closing for now but feel free to comment with additional q

[2020-02-08 17:11] #854 closed

[2020-02-08 18:57] felangel commented on #857
Hi @Dinosane2 👋
Thanks for opening an issue!

I'm guessing you're calling Scaffold.of(context) with a context that does not have a scaffold (above the Scaffold widget). Can you please share a link to a sample app which illustrates your issue? Thanks!

[2020-02-09 06:16] dannis3434 opened #858 "BlocProvider.of() called with a context that does not contain a Bloc of type AuthenticationBloc."
I have a problem with AuthenticationBloc and I'm not sure how can I fix it.

Here's the main.dart:

[code]

The error is:
[code]

Thank you!

[2020-02-09 08:23] dannis3434 commented on #858
Found the problem and fixed

[2020-02-09 17:37] fjugaldev commented on #858
How did you fixed the probllem @dannis3434 ?? thank you..

[2020-02-09 17:39] dannis3434 commented on #858
I just rebuild the project again then everything works fine. Do u have similar problem?

[2020-02-09 17:45] fjugaldev commented on #858
Yes, currently i have the same problem.. and i stop the app and run it again and the problem continues..

[2020-02-09 17:51] fjugaldev commented on #858
This is my code:

[code]

And the problem says:

This can happen if the context you used comes from a widget above the BlocProvider.

The context used was: BlocBuilder<AuthenticationBloc, AuthenticationState>(dirty, state: _BlocBuilderBaseState<AuthenticationBloc, AuthenticationState>#c9263(lifecycle state: created))

The relevant error-causing widget was
MaterialApp    lib/src/app.dart:57

The li

[2020-02-09 17:56] dannis3434 commented on #858
I added the bloc provider. You can try this.

[code]

[2020-02-09 18:25] felangel commented on #858
@fjugaldev can you share a link to your app?

[2020-02-09 19:15] felangel commented on #857
Closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2020-02-09 19:15] #857 closed

[2020-02-09 19:16] felangel commented on #850
Closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2020-02-09 19:16] #850 closed

[2020-02-09 19:43] fjugaldev commented on #858
I added the bloc for the BlocBuilder and build the app again and the problem still happening...  so i don't know what is the main reason of this issue..

[2020-02-09 19:48] fjugaldev commented on #858
This is my repo.. https://github.com/fjugaldev/otunus-app use the INLABS-1 branch..

What you will see is an experimental project.. so don't be afraid about you will see in there.. hahahaha i'm new with flutter so..

[2020-02-10 09:34] niteshgrg opened #860 "Unable to call dispatch on parent bloc"
**Describe the bug**
I have 2 blocs one as parent and another defined as child of that. Now i would like to dispatch event to parent if it isn't handled in child. super.dispatch(event) doesn't work. Tried both super.dispatch and super.mapEventToState

**To Reproduce**
-- Parent Class
[code]

-- Child class
[code]

[2020-02-10 13:42] victorshn commented on #131
Hello, I'm working on a firebase auth, when I try to login it pass successfully but in the console the transition show me that currentState uninitialized. this is my bloc`class AuthBloc extends Bloc<AuthEvent, AuthState> {
  final AuthRepository _authRepository =
      AuthRepository(auth: FirebaseAuth.instance, googleSignin: GoogleSignIn());
  StreamSubscription _todosSubscription;

  @override

[2020-02-10 14:46] victorshn opened #861 "CurrentState still uninitialized even if State changed"
I'am working to a login app with firebase and bloc, The login work well but the transition in the console show that **currentState** is **Uninitialized**, i would like to see the **currentState** to be **Authenticated**. this is my code:`import 'dart:async';
[code]
in main function:
[code]

please help me

[2020-02-10 15:11] felangel commented on #860
Hi @niteshgrg 👋
Thanks for opening an issue!

Are you able to share the link to a sample app which illustrates the issue you're facing? Thanks!

[2020-02-10 15:12] felangel commented on #861
Hi @victorshn 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the issue you're facing? Thanks!

[2020-02-10 15:23] felangel commented on #858
@fjugaldev I opened a [pull request](https://github.com/fjugaldev/otunus-app/pull/1) to fix your issue. The problem was you had two mains defined and the one you were actually using didn't wrap the `App` in a `BlocProvider`.

Hope that helps! 👍

[2020-02-10 15:23] #858 closed

[2020-02-10 18:18] searchy2 commented on #524
A few updates in trying to implement debounce:
- debounce is not part of the default Stream methods. Instead, it can be added with https://pub.dev/packages/stream_transform
- debounced events do not emit until the delay for the last event has been met. This is not the desired behavior as I would like each event to be emitted every x seconds, not until x seconds have elapsed since the last event. T

[2020-02-10 18:52] fjugaldev commented on #858
Thanks so much @felangel.. it was that.. now everything is working.. thanks for your time and help!

[2020-02-11 03:04] don-prog opened #863 "Bloc doesn't see the difference in states"
1. I have a `state` with a `List`:

[code]

I need to delete one item from this list and add another, and then `yield` new state:
[code]
But, unfortunately, `BlocBuilder` does not react to the new state. I also tried to insert more than one item(so length of the list before deleting and after inserting doesn't match), and use `...items` in the `MyState.get`, nothing helped. Also, `IItem extends Eq