[2020-09-09 16:40] vysarafanov commented on #1715
Hi @felangel

Thank you for your reply.

Yep, I totally agree with you and @RollyPeres. But seems it's not covered my case)

Let's look at the multi user application, for example some e-shop.
Each user has they own cart. I'm using the Cart bloc to put/delete products. But when user changed in the app  I need to create the new Bloc to operate with a data of the different user than it was.

If you w

[2020-09-09 16:56] felangel commented on #1715
@vysarafanov is there any reason why you prefer the multi `ProxyProvider` approach as opposed to having an `AuthenticationBloc` as @RollyPeres mentioned? I would highly recommend following the structure in the [Flutter Firebase Login Example](https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_login).

For simplicity and to facilitate a single way to react to state changes.

[2020-09-09 17:00] vysarafanov commented on #1715
I'll back to you with a more detailed example.

[2020-09-09 18:00] RollyPeres commented on #1715
You can handle as many users as you want with a single instance of your auth bloc. All you need to do is add proper events and react to them. There's never gonna be 2 or more users simultaneously logged in, so why would you ever need more than 1 bloc ?

As for cart bloc you need to ensure it's properly persisted and hydrated based on your current user.

[2020-09-09 21:20] moisedestin commented on #1711
Thanks @felangel   for the reply.
It didn't work

here's the simple app repo
[https://github.com/moisedestin/flutter_blocexample](url)

[2020-09-10 06:19] jaykadamss commented on #197
hiii felangel data in loaded state is not refreshed after insert update data to sqflite i use blocbuilder with blocprovider can you help me to solve this

[2020-09-10 06:20] jaykadamss commented on #197
Container(
          width: MediaQuery.of(context).size.width,
          padding: const EdgeInsets.only(top: 2.0, left: 2.0, right: 2.0),
    child:BlocBuilder<BlocEvents,BlocStates>(
            bloc: widget.todoBloc,
            builder: (BuildContext context, BlocStates todoStates) {
              if(todoStates is LoadingState){
                return _loadingdata();
              }

[2020-09-10 06:21] jaykadamss commented on #197
class TodoBloc extends Bloc<BlocEvents, BlocStates> {
  final dbHelper = DatabaseHelper();

  final StreamController<List<Todo>> todoController =
      StreamController<List<Todo>>.broadcast();

  Stream<List<Todo>> get todos => todoController.stream;

  var states;
  TodoBloc() {
    getTodo();
  }

  getTodo({String query, String des, BlocStates states}) async{
    if (des != null && des.toStrin

[2020-09-10 06:22] jaykadamss commented on #197
& this is class DatabaseHelper{
  static Database _database;
  String tableName = 'todoTable';
  String dbName = 'todoDb';
  String colId = 'id';
  String colDate = 'date';
  String colTime = 'time';
  String colCategory = 'category';
  String colTitle = 'title';
  String colDescription = 'description';

  static final DatabaseHelper _dbHelper = DatabaseHelper();

  Future<Database> get database a

[2020-09-10 07:06] MotiBartov opened #1717 "Yield State not from generator"
Hi,

I have a question, is it possible to yield a new State not from the mapEventToState pipeline?

I will explain,
Consider a bloc that has an internal subscription to a stream from some dependency of it.
The subscription is established in the bloc constructor.
When that stream emit event, I want to emit new Bloc State

Something like this:

       `
     class MyBloc extends Bloc<BlocEvent, Bloc

[2020-09-10 07:19] MotiBartov commented on #1338
Hi,

I am sorry for this late response, I haven't neglected this issue.

It seems that after updating to the latest version and following your explanations I think I've figured out how to work with the mockBloc.

When I want to test the BLocListener path I use the `whenListen()` and when I want to test the builder path i use `when(mockBloc.state).thenReturn(BlocState());`, as you explained.

I mus

[2020-09-10 09:37] RollyPeres commented on #1717
Hi @MotiBartov 👋

You can't directly yield a state from your `onData` callback, e.g: you can't do something like:
`yield* authManager.userStateStream.listen((userState) async* { yield Authenticated(); })` since `listen` returns a `StreamSubscription` not a `Stream`.

Bloc's state should only be updated by yielding a new state from `mapEventToState` in response to an event. So your current approach

[2020-09-10 13:30] felangel commented on #1717
Thanks @RollyPeres for taking the time to respond!
@MotiBartov closing this for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2020-09-10 13:30] #1717 closed

[2020-09-10 16:19] EngAddow commented on #524
Hi

Hi @felangel , @craiglabenz and @synapticvoid  I have page with products where user can add to wishlist or remove them and I wanted to not allow the user to click add to wishlist button while I am processing one So I got this post and tried to use all the three examples you gave here guys and it is giving me errors I am using **bloc 6.0.0**  I want to add debounce time to add and remove wishli

[2020-09-10 16:41] autolainen commented on #1654
Hello @felangel !

Have you released new todos example yet?

[2020-09-10 18:35] felangel commented on #1654
@autolainen not yet it's next on my list of todos haha and I will try to get it done by this weekend 🤞

[2020-09-10 18:37] Virendra-Varma opened #1718 "events are not running parallelly"
I have a page in that page I have 4 widget and for those 4 widget I have to make 4 api call(1 for each) so I have created the 4 event and I call the event. Event adding is working fine but execution of event is not happening paralleled 2nd event is executing only after first one get executed.

[2020-09-10 18:41] RollyPeres commented on #1718
Hi @Virendra-Varma 👋

You could add a single event and make those requests using `Future.wait([futures])` which will execute them parallelly.
Feel free to comment if that doesn't solve your issue. 👍

[2020-09-11 00:12] JoseGeorges8 opened #1719 "[Question] What's the purpose of the RepositoryProvider?"
Hi!

I had a quick question. I wasn't sure what use case does a RepositoryProvider cover, could I not create a separate instance of a repository if another bloc needs it?

Thanks!

[2020-09-11 05:31] Virendra-Varma commented on #1718
ok
and how would I yield the result

[2020-09-11 06:00] RollyPeres commented on #1719
Hi @JoseGeorges8 👋

Please read more on this topic [here](https://bloclibrary.dev/#/flutterbloccoreconcepts?id=repositoryprovider).

You could but but there's no point in doing so. It's an optimization to re-use an existing instance.

[2020-09-11 06:14] MatthewCoetzee412 commented on #1707
Hi @RollyPeres and @felangel , thank you so much for the advice! 🙏  💯

I have switched from built_value to freezed and its made it a lot easier to implement everything I need too plus much less boiler plate. I also toke your advice for handling errors in Streams and I am using the dartz package now which makes it really easy and lastly I removed the Pipe Layer completely. I have managed to impleme

[2020-09-11 06:16] RollyPeres commented on #1718
`Future.wait` returns the responses in form of a `List<Object>`, so you'd have something like:

[code]

Based on those you'd compose your state and yield it in `mapEventToState`.
Alternatively you could aggregate your requests in your repository layer and expose a single result, but that's up to you to decide what you need. 👍

[2020-09-11 07:04] rajd900m opened #1720 "Test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-11 07:06] rajd900m commented on #1720
I think a bloc test library needs to be implemented for this example since it is an important aspect to test the BLoC library

[2020-09-11 07:15] #1720 closed

[2020-09-11 07:45] #1718 closed

[2020-09-11 10:08] burcus opened #1721 "Using Bloc that depended on state of other Bloc in Bloc Builder"
Hi,
My issue is very similar to #182.

I'm trying to understand BloC patterns purpose and implement it correctly. So I'm developing a weather app which is my first Bloc example.
I have an WeatherBloc and LocalizationBloc. My LocalizationBloc has events for getting device location.  I have a bloc builder for home screen.
When app started I'm checking user location service permission (with Localizat

[2020-09-11 10:40] RollyPeres commented on #1707
I've opened a [PR](https://github.com/MatthewCoetzee412/built_value_bloc/pull/2) with some minor updates mostly related to updating bloc to latest version.

The problem you're facing is called firestore live pagination 🤦‍♂️
The things is that when you're loading more items you're only keeping live updates on the latest batch: `startAfterDocument(lastSnapshot)`. So firestore will only send you upda

[2020-09-11 11:22] RollyPeres commented on #1721
Hi @burcus 👋

Have you checked out the existing [weather example](https://github.com/felangel/bloc/tree/master/examples/flutter_weather) ?

If you need to decide screens based on 2 different blocs you can always nest 2 bloc builders.
Don't think you need it in your case since you can just use a `BlocListener` and when location state is `LocationSucceed` navigate to your weather screen. You can pro

[2020-09-11 12:09] uditswaroopa commented on #1693
Hi @glin94, please assign this issue to me

[2020-09-11 12:16] SelanDeemantha commented on #108
@felangel,  how can we use multiple bloc in BlocBuilder ? As an example, if I want to render the UI based on sign_in bloc, scrolling_fetching_data bloc and flter bloc status, how can we handle that scenrio, can you provide me a example?

[2020-09-11 12:19] RollyPeres commented on #108
@SelanDeemantha you can simply nest multiple `BlocBuilder`s. Although the fact that you need 3 blocs to build some widget means that you're probably not structuring your blocs properly. You might want to re-think your blocs.

[2020-09-11 12:20] burcus commented on #1721
Hi @RollyPeres

Yes, I checked and viewed this example. It helped me e.g, undestanding bloc observer usage. But I'm trying to create my own app structure for really understand this pattern.

Actually I don't need build widget for LocalizationBloc even I'm trying to avoid create build widget for using it. I'm using this Bloc for only understand whether I have device location information or not. If

[2020-09-11 12:29] SelanDeemantha commented on #108
@RollyPeres, ok  I got your point. You mean we should use single bloc for a widget right? Anyway we need to use the user sign in state along the app, so at lest we have to use two blocs together, isn't it?

[2020-09-11 12:42] RollyPeres commented on #1721
Glad you found my insights helpful ✌

Well there are multiple approaches to this and it comes down to where you want your weather bloc to be provided. You can have it on home screen or even better on your present screen only. This is usually decided by how your UI will look like and what kind of interactions your user will have.

Your approach to get user's location through a bloc is correct, even

[2020-09-11 12:48] RollyPeres commented on #108
You would usually aim to have a single bloc per feature.
As for the user state you will mostly need that inside other blocs to be able to make requests that depend on the currently signed in user. You can either inject your auth bloc/user bloc in those blocs or you can grab your current user data straight from a user repository. It all depends on how you handle authentication.

[2020-09-11 12:59] SelanDeemantha commented on #108
Agreed with you, I think it will be a good solution, I think injecting auth bloc and nested BlocBuilder will solve my issue. If you can provide me an example it will be grateful.

[2020-09-11 13:00] RollyPeres commented on #108
You can have a look at the [documentation](https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication) on this topic.

[2020-09-11 15:31] MatthewCoetzee412 commented on #1707
Thanks @RollyPeres 🙏 🙏 🙏 ,

Really, genuinely , appreciate all the help, thank you very much!

Kind Regards
-Matt

[2020-09-11 15:31] #1707 closed

[2020-09-11 17:20] vysarafanov commented on #1715
Hello again,

I uploaded an example, take a look please https://github.com/vysarafanov/bloc_vs_proxy_provider

There are some design ideas which I want to see in the application.

1. I would like to have some logged in user to be always in the application: anonymous or the registered user, it doesn't matter.
That means when registered user press the logout button it goes to be the new anon user.
2

[2020-09-11 22:06] RollyPeres commented on #1715
I've created a basic example of an approach with `flutter_bloc` and `freezed` since you seem to like unions. I tried to follow your initial approach as much as possible to keep you on familiar grounds. You can find it in this [PR](https://github.com/vysarafanov/bloc_vs_proxy_provider/pull/1).

Since I'm using a different `AuthBloc` the button is not synchronized with your bloc but that's just a ma

[2020-09-11 22:09] vysarafanov commented on #1715
@RollyPeres thank you very much.
I'll take a look at you PR and will back.

[2020-09-11 22:59] #1719 closed

[2020-09-12 05:49] burcus commented on #1721
Thanks for your help. I'll try to use BlocListener and BlocConsumer. Also thanks for your inviting. If I'm confused I'll message to you.

[2020-09-12 16:52] hynra commented on #957
The issue ( https://github.com/dart-lang/sdk/issues/39994 ) is closed, which means the problem is fixed. However, I still have this problem. Is there any other solution besides using `--release`?

[2020-09-13 04:10] malithkuruppu opened #1722 "Exception BlocProvider.of() called with a context that does not contain a Cubit of type CounterBloc"
The following is a example code from :

https://bloclibrary.dev/#/flutterbloccoreconcepts

I am getting the following exception,

How can I fix the following Exception and why is this happening:

[code]

main.dart

[code]
counter_page.dart

[code]
counter_bloc.dart

[code]

[2020-09-13 04:12] felangel commented on #1722
Hi @malithkuruppu 👋
Thanks for opening an issue!

It looks like you forgot to provide an instance of the bloc to the `CounterPage`. You should just wrap the `CounterPage` widget in a `BlocProvider` and create the instance of the bloc like:

[code]

Hope that helps! Closing for now but feel free to comment with additional questions 👍

[2020-09-13 04:12] #1722 closed

[2020-09-13 04:14] felangel commented on #1721
Thanks so much for taking the time to answer @RollyPeres! 💯 🙏

@burcus closing this for now but feel free to comment with any additional questions or as @RollyPeres mentioned join us on discord 😄

[2020-09-13 04:14] #1721 closed

[2020-09-13 04:16] felangel commented on #1716
@vaibhavdangayachvd can you please push the code to a github repo which I can clone and run locally? Thanks 🙏

[2020-09-13 04:24] malithkuruppu commented on #1722
Thank you @felangel.

1. I think it would be a good idea if you could include this in the example code in https://bloclibrary.dev/#/flutterbloccoreconcepts

2. Also, when and why would you set lazy=false (i.e. you want to 'force `create` to be run immediately' rather than 'create the bloc lazily, meaning `create` will get executed when the bloc is looked up via `BlocProvider.of<BlocA>(context)`'?

[2020-09-13 04:25] rabyunghwa opened #1723 "Second event doesn't trigger mapEventToState"
In **didChangeDependencies**, I attempt to add two events to the BLoC in a row. The first event can trigger **mapEventToState**. However, the second event doesn't trigger it. Not sure if this is a bug.

[code]

[2020-09-13 05:03] felangel commented on #1722
@malithkuruppu no problem!

It should be documented already -- see https://bloclibrary.dev/#/flutterbloccoreconcepts?id=blocprovider.

[2020-09-13 05:04] felangel commented on #1723
Hi @rabyunghwa 👋
Thanks for opening an issue!

You should be adding an instance of the event so. please update your code:

[code]

If that still doesn't help please provide the complete bloc implementation, thanks! 👍

[2020-09-13 05:36] rabyunghwa commented on #1723
Hello! Thanks for the response.

[code]

[2020-09-13 06:00] rabyunghwa commented on #1723
[code]

[code]

[2020-09-13 06:14] felangel commented on #1723
@rabyunghwa are you sure you want to use `registerFactory` rather than `registerSingleton`?

[2020-09-13 06:38] rabyunghwa commented on #1723
I followed a tutorial and it said that we should always use `registerFactory` instead of `registerSingleton` when dealing with BLoCs. Anyways, does this have to do with the issue? I just changed it to `registerLazySingleton` and it made no difference.

[2020-09-13 06:40] MatthewCoetzee412 commented on #1707
Hi, for anyone in the future wanting to know how to fix the problem of realtime pagination as metioned above,

Below is the solution:

[code]

Hope that helps someone!
- Matt

[2020-09-13 06:55] vaibhavdangayachvd commented on #1716
https://github.com/gullucktheapp/CubitErrorReport

[2020-09-13 10:26] mikededo commented on #1703
Hello!

I have been doining more tests and I have not found a solution, yet! I recentrly tried making the `moor` generated classes to implement the `EquatableMixin` but nothing has changed... I don't really see why the states are equal 😭

[2020-09-13 11:19] malithkuruppu commented on #1722
@felangel can you give a example on a instance you would want to set the lazy to false (sample app example please)?

[2020-09-13 11:24] malithkuruppu opened #1724 "MultiBlocBuilder and MultiBlocConsumer"
Are there any plans to implement `MultiBlocBuilder` and `MultiBlocConsumer`?

[2020-09-13 11:27] RollyPeres commented on #1724
Hi @malithkuruppu 👋

Short answer, no. Check https://github.com/felangel/bloc/issues/538 for more details.

[2020-09-13 12:03] #1724 closed

[2020-09-13 16:00] LaurentMalmendier opened #1725 "Second yield not received by bloc builder"
Hi,

I tried to make your login example work in my current project.
Almost everything works fine !
I have a problem when firing the LoginSubmitted event.

My blocBuilder is notified when the first yield is fired:

yield state.copyWith(status: FormzStatus.submissionInProgress);

But never notified when the second yield is fired:

yield state.copyWith(status: FormzStatus.submissionSuccess);

In debu

[2020-09-13 19:51] felangel commented on #1725
Hi @LaurentMalmendier 👋
Thanks for opening an issue!

Can you please provide a link to a complete sample app which illustrates the issue? I’m guessing you’re navigating to another screen on submissionSuccess which could result in the widget being unmounted. Thanks! 🙏

[2020-09-13 21:43] Gh05ts commented on #1333
@mikededo Hi since you are someone who just learned it recently I'm hoping you can help me with this query it is a slightly long question but it will help me immensely because I've been stuck with progress for a while now.

In our app we have a authentication bloc, then we have a ```LoginBloc``` which gets the ```AuthBloc``` through provider and now I'm trying to implement a forgot password functi

[2020-09-13 22:58] rabyunghwa commented on #1723
I can build a demo project if you want. But please help. I've been trying to come up with a fix for days.

[2020-09-14 01:03] jezsung opened #1726 "What's the advantage of making Bloc state without subclasses?"
I recently read the documentation again and I found that new examples are updated.

https://bloclibrary.dev/#/flutterfirebaselogintutorial?id=state

And I realized that the new implementation of the bloc state is a little different from the other in the past. Just like the above link,  the bloc state manages its state by its enum field. I'm wondering what's the advantage over the use of separated

[2020-09-14 01:34] felangel commented on #1726
Hey @jezsung 👋
Thanks for opening an issue!

The main advantage is you don't need to perform type checks in order to access properties:

[code]

With subclasses you'd need to check the type first like:

[code]

Another situation where a single class comes in handy is when your state needs to handle multiple properties at the same time. For example, if you still needed to have access to the previou

[2020-09-14 01:34] #1726 closed

[2020-09-14 01:38] felangel commented on #1716
@vaibhavdangayachvd I took a look and it's because you are throwing an `Error` rather than an `Exception`.

[code]

An `Error` means that the program should terminate and are not meant to be caught and handled. In this case, you should likely be throwing an `Exception` instead.

Hope that helps 👍

[2020-09-14 01:38] #1716 closed

[2020-09-14 01:40] felangel commented on #1723
@rabyunghwa yes it would be easiest to help if you can provide a link to a sample github repo which illustrates the problem 👍

[2020-09-14 01:43] felangel commented on #1705
@amanuel15 you can dynamically create blocs by wrapping the dynamically created `Item` widgets each in their own `BlocProvider` like:

[code]

Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-09-14 01:43] #1705 closed

[2020-09-14 02:09] github-actions[bot] opened #1728 "[Translations] Update docs"
Update Translations to include changes from 84d43a9a33cddf3562d808d11003114764b328e1.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-14 02:12] github-actions[bot] opened #1729 "[Translations] Update docs"
Update Translations to include changes from 587eddf2da6a39641b34fa5ffbb980557ec6756d.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-14 03:18] jezsung opened #1730 "How do I prevent the subsequent events if the same event is in progress?"
There's a chance that the multiple same events can occur while processing the event. The use case I encountered is when implementing an infinite lazy loading list with the bloc, load events can occur multiple times before the items are fully loaded. I wanted to prevent subsequent events if the event is in process. I thought I could achieve it by overriding the transformEvents methods but I couldn'

[2020-09-14 04:32] felangel commented on #1730
Hi @jezsung 👋
Thanks for opening an issue!

You should be able to apply `distinct` in the `transformEvents` override like in https://github.com/felangel/bloc/blob/587eddf2da6a39641b34fa5ffbb980557ec6756d/examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart#L23.

Let me know if that helps 👍

[2020-09-14 04:36] jezsung commented on #1730
Thanks for replying. `distinct` isn't what I want. `distinct` prevents the same event even after the new state has been updated. I want to allow the subsequent event if the new state is updated.

[2020-09-14 04:42] felangel commented on #1730
@jezsung by default events are processed in the order in which they are received so this shouldn't be a problem. The bloc will only process the next event once the previous has been fully processed in `mapEventToState`.

[2020-09-14 05:07] mikededo commented on #1333
Could you please share a repo or an example so it is easier for me to take a look?

[2020-09-14 07:30] LaurentMalmendier commented on #1725
Hi @felangel

Thank you for your quick reply, really appreciate ;)

Here is a [sample App](https://github.com/LaurentMalmendier/test_signin_bloc).

The BlocBuilder in sign_in_screen receive the initial state (none).
When a click the login button, the bloc builder receive the first yield "submissionInProgress". But not the second yield fired 3 secondes later (submissionSuccess).

It is very likely

[2020-09-14 09:26] RollyPeres commented on #1725
Hi @LaurentMalmendier 👋

I fixed your issue in this [PR](https://github.com/LaurentMalmendier/test_signin_bloc/pull/1).
You didn't pass your status to equatable's `props` thus your states were considered equal.

[2020-09-14 09:29] #1730 closed

[2020-09-14 09:43] LaurentMalmendier commented on #1725
Thank you so much @RollyPeres 🙏

This issue can be closed !

[2020-09-14 12:51] #1725 closed

[2020-09-14 15:04] DrRuhe opened #1731 "Best Practice for Bloc Initialization"
Hi,
what is the best practice for initializing a bloc? I could only figure out that to initialize a "the bloc is initializing please wait" state, as well as a "finished the init, now show the wanted values" event are needed.

I feel like needing an extra event & state only for initialization is not the way to go.

I was also not able to locate relevant information in the documentation. Although I

[2020-09-14 16:59] RollyPeres commented on #1731
Hi @DrRuhe 👋

If you don't like the event based approach bloc takes you can always use cubit instead.
Bloc is not opinionated, so it's up to you to decide how you're gonna model the states and the events.

Most people would disagree with you, since most people want real world examples of feature implementation.
I would suggest you start with a counter app or something simple and work your way up t

[2020-09-14 18:37] DrRuhe commented on #1731
Tanks for taking the time to respond!

I might have phrased this a bit badly, and edited out possibly relevant information, for that, I apologize. Examples are very welcome and have every right to be there. It is also great, that there are multiple Examples covering various use cases.

The use case I am trying to achieve would be the following:

I initialize the Bloc with a given parameter.
The in

[2020-09-14 19:18] RollyPeres commented on #1731
`initialState` was deprecated in favor of calling the super constructor with the initial state.

You can do:

[code]

[2020-09-14 19:24] DrRuhe commented on #1731
Can you elaborate on why this decision was made? Or link an issue where this is discussed, I would love to learn more!

Never occurred to me that one can evaluate an anonymous function by just appending parenthesis. Thanks.

[2020-09-14 20:22] RollyPeres commented on #1731
You're welcome. Have a look at https://github.com/felangel/bloc/issues/1304 for details.

[2020-09-14 20:53] #1731 closed

[2020-09-14 23:11] rabyunghwa commented on #1723
Hello!

[Here](https://drive.google.com/file/d/1CRxVowOsJlPmarfiVMuWJqR2EPt8FOSL/view?usp=sharing) is the sample project. When I attempt to follow the election, **GetElectionByIdBloc**'s **mapEventToState** doesn't get triggered. Please help.

[2020-09-14 23:37] DrRuhe commented on #1731
Sadly this did not fix my problem, since the only way to prevent a lot of duplicate code would be to have a constructed instance on which to call functions. I have made adjustments to the code here: https://github.com/DrRuhe/bloc/commit/23a6affbf1128d55fa84d93f02d73c832e37e93c

The change I would propose is an optional function constructor parameter for both cubit and bloc.
The function would get

[2020-09-15 05:15] sidy-refyne commented on #1598
Just wanted to understand. why calling MediaQuery.of(context) inside creating the bloc is throwing the error. As I understand the context is BuildContext, which will have the access of the screen params. Calling it should work. rit?

[2020-09-15 07:43] corymalcolmtaylor commented on #1706
I found some code somewhere online for the get user method in authentication_repository.dart and it seems to work for me, in short replace the calls to onAuthStateChanged  to authStateChanges() -- note the **()**, the getter did not need them.

  /// Stream of [AppUser] which will emit the current user when
  /// the authentication state changes.
  ///
  /// Emits [AppUser.empty] if the user is no

[2020-09-15 08:06] RollyPeres commented on #1731
Can you share a real world example where you can't use the current bloc's implementation to properly initialize your bloc ?

[2020-09-15 08:11] RollyPeres commented on #1598
Hi @sidy-refyne 👋

You're getting that error simply because the inherited widget has no way of notifying the changes inside `create` since `create` is only called once, so basically it's an improper use of it.

[2020-09-15 10:24] reidlai opened #1732 "Example how to integrate Firebase with Cubit"
Hi There,

I found many example to integrate firebase with Bloc.  But after cubit, is it possible to integrate firebase with cubit instead of bloc?  Thanks fo your advice.

[2020-09-15 11:12] RollyPeres commented on #1732
Hi @reidlai 👋

It is possible, you would basically swap bloc events for cubit method calls.
You can read more about this in [cubit vs bloc](https://bloclibrary.dev/#/coreconcepts?id=cubit-vs-bloc).

[2020-09-15 13:58] DrRuhe commented on #1731
I have uploaded an example https://github.com/DrRuhe/bloc
An overview of everything necessary: https://github.com/felangel/bloc/compare/master...DrRuhe:master

With the proposed change initializing would be relatively straightforward (The signature situation is not ideal but the best I could come up so far). However, when trying to achieve this using the old version I would resort to a static meth

[2020-09-15 15:13] felangel commented on #1732
Hi @reidlai 👋
Thanks for opening an issue!

As @RollyPeres mentioned you can definitely swap out bloc with cubit by replacing events with methods 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2020-09-15 15:13] #1732 closed

[2020-09-15 15:14] felangel commented on #1715
@vysarafanov any updates on this or do you feel this issue can be closed?

[2020-09-15 15:19] vysarafanov commented on #1715
Sorry for the delay. I will write the comment later today.

[2020-09-15 17:48] RollyPeres commented on #1731
I think you're misusing bloc, since you're keeping additional state inside your bloc; it should only be kept on the state class/classes.
The example you provided has no real world applicability. I'd like to see an example that derives from a realistic feature.
If your state depends on some external data you can always compute that outside the bloc or within some other bloc and pass it through the

[2020-09-15 19:43] DrRuhe commented on #1731
So to clarify, (in the intended use case) Blocs should not have any internal state? This would imply, that one could construct a bloc instance using only one state/a state can fully identify a bloc.

My understanding was that a bloc contains the state and sends the UI the "state if the UI", since the UI should only take the Information it needs.

From that understanding, I defined the State Object

[2020-09-15 19:55] RollyPeres commented on #1731
bloc is also a `Stream<State>`, you send your state to the UI through it.
I encourage you to read through [bloc documentation](https://bloclibrary.dev/#/gettingstarted).

[2020-09-15 21:15] vysarafanov commented on #1715
@RollyPeres again, thank you very much for your solution.

With your solution the whole widget tree is every time rebuild when the user is changed. It's ok, except the NameView inside NameWidgetFlutterBlocFreezed. Because the NameBloc doesn't change, NameView doesn't rebuild. That's interesting point.
NameBloc implicitly depends on User (through NameService), but it doesn't react on user changes.

[2020-09-15 21:56] RollyPeres commented on #1715
I didn't bother to optimize the tree rebuild since it's out of the scope of this talk.

I think you're missing the crucial difference between your solutions and my solution.
With your solutions:
- the UI interacts with the service and not only that but it's also re-initializing it. Only bloc should interact with the service.
- the service should not be re-instantiated just because the user changed

[2020-09-16 09:41] tritoanst commented on #1693
In [infinite list example](https://github.com/felangel/bloc/blob/master/examples/flutter_infinite_list/lib/posts/view/posts_list.dart)
I think the error is here:
Current:
[code]
Fix:
[code]

[2020-09-16 13:16] Mr-Martini opened #1734 "Bloc doesn't work after leaving the page"
Bloc event doesn't trigger mapEventToState after leaving the page where the BlocProvider is instantieted and then comming back. I created this repo below to reproduce the bug.

https://github.com/Mr-Martini/boolean_changer.git

Steps to reproduce the behavior:
1. Navigate to the second screen
2. Click on the switch
3. Go back to the first page
4. Navigate to the second sreen again
5. Click on the

[2020-09-17 01:41] davidAg9 commented on #1734
same issue here ,mine returned null after coming back to the page I left from.(Does this have to do with bloc not being disposed because the screen wasn't popped from the stack) although I have checked  for all my states.
sometimes the next page is create twice

[2020-09-17 03:26] github-actions[bot] opened #1736 "[Translations] Update docs"
Update Translations to include changes from 26c818ed1258d4a4ba07f0934aa1303d5bab0bc9.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-17 07:27] rabyunghwa commented on #1723
Hello, @felangel !

I'm wondering if you need anything else. If you think that the sample project is incomplete, please let me know. Thanks!

[2020-09-17 09:51] vaibhavdangayachvd commented on #1716
In the code I am not catching it but in the test how can I be sure if the error is thrown or not ?

[2020-09-17 11:07] maxime-aubry opened #1737 "use named routes with bloc"
**Describe the bug**
Hello.
I try to use named routes with bloc. I use your example project **flutter_firebase_login**, and I modified it.
When I launch th application, the state is updated and I go to LoginPage, but the SplashPage is displayed.
I don't understand the reason.

**To Reproduce**
Launch the application.

Thanks

[2020-09-18 04:05] kishanhitk opened #1738 "Minor grammatical mistake in docs."
**Describe the bug**
There is a grammatical mistake in the docs, in **Tutorial -> Flutter -> Firebase Login -> Authentication Repository**.
The line says -"The AuthenticationRepository will be responsible for abstracting the internal implementation details of how we **authentication** and fetch user information.", but grammatically it should be - "The AuthenticationRepository will be responsible f

[2020-09-18 04:08] kishanhitk commented on #1738
I have created a pull request #1739, which corrects this.

[2020-09-18 05:14] #1738 closed

[2020-09-18 05:15] felangel commented on #1737
Hi @maxime-aubry 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which reproduces the issue you're seeing? Thanks! 👍

[2020-09-18 05:15] github-actions[bot] opened #1740 "[Translations] Update docs"
Update Translations to include changes from ea3c60af7209f38347ba25811e0265e2581a5038.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-18 05:22] github-actions[bot] opened #1741 "[Translations] Update docs"
Update Translations to include changes from 99bb8f7040bf586b095f9582a81260d9c78ebb82.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-18 05:25] github-actions[bot] opened #1742 "[Translations] Update docs"
Update Translations to include changes from a1569485bd774bfdf8ac009332743fadef314871.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-18 05:25] felangel commented on #1715
@vysarafanov do you feel @RollyPeres's answer was sufficient?

[2020-09-18 08:35] linxkaa opened #1744 "Passing bloc through multiple page"
Please help me out,

I want to ask about passing the bloc, i have this main page called
"ProductAddWidget()" here are several children related to this main page:
- ProductCategory() -> (it has 3 children page)
- AddEtalasePostDatabase() -> (it has 2 children page)

Before, i passed the `SelectedCategoriesBloc` and  `EtalaseBloc` that used in `ProductCategory() `& `ProductAddWidget()` using MultiBl

[2020-09-18 08:39] ezra126 opened #1745 "BlocBuilder not listen to state change"
I tried to use flutter firebase login with bloc which implements social sign in. but BlocBuilder not listening state change even it shows me the state change using blocdelegate. BlocBuilder listens to the initial state to display splash screen. but don't listen to login and logout events to display homepage and welcome screen respectively. please help me

auth_bloc.dart

`import 'package:bloc/bloc

[2020-09-18 08:40] RollyPeres commented on #1744
Hi @linxkaa 👋

Well you're proving a bloc called `SelectedCategoriesBloc` but trying to lookup a bloc of type `SelectedCategoryBloc`. Please notice that one uses plural and the other singular. Could that be your issue ? 😊

[2020-09-18 08:42] linxkaa commented on #1744
oh my bad, i mean `SelectedCategoriesBloc`. i write wrong on this issues but in my code its both `SelectedCategoriesBloc`

[2020-09-18 08:49] RollyPeres commented on #1745
Hi @ezra126 👋

Please be aware that sharing code like this is extremely hard for anyone to read and reason about, not to mention that it is incomplete. I would kindly ask you to create a repo containing a minimal reproduction of the issue you're facing and share the link to it.
That way it would be a lot easier for anyone to help you, thanks! 👍

[2020-09-18 08:55] RollyPeres commented on #1744
I think it would be easier to get help if you'd share a link to a repo containing a minimal reproduction of your issue. 👍

[2020-09-18 09:11] linxkaa commented on #1744
i want to, but its my office related project and i could not share it publicly.. 😔 i just want to know how we can pass a bloc to multiple page without declaring and repeat passing the bloc from parent page to every children page.

[2020-09-18 09:15] ezra126 commented on #1745
Hi @RollyPeres
thnx for the suggestion here is the code ---> [https://github.com/ezra126/bekloh_user](url)

[2020-09-18 09:29] RollyPeres commented on #1744
You can instantiate it in your router file and pass it with `BlocProvider.value` to each page that needs it.

[2020-09-18 10:20] linxkaa commented on #1744
here's are the code from my route in `ProductCategory()` --> the children page:
<img width="545" alt="Screen Shot 2020-09-18 at 17 17 41" src="https://user-images.githubusercontent.com/57997512/93586694-dd54ec00-f9d2-11ea-9630-2f1951bbbe6c.png">

here's are the code from my route in `ProductAddWidget()` --> the parent page:
<img width="547" alt="Screen Shot 2020-09-18 at 17 17 52" src="https://use

[2020-09-18 10:58] Elias8 commented on #1734
Hi 👋 @Mr-Martini, I checked your code and I found that you are registering the BLoC as a singleton class using `getIt`. What's happening is when you first open the `SecondPage` a new instance will be provided from `getIt` and when you close that page the bloc will be disposed automatically and when you try to open the `SecondPage` again you will get the same instance as the old BLoC from `getIt` b

[2020-09-18 11:05] RollyPeres commented on #1744
As I already mentioned, you need to pass your bloc with `BlocProvider.value` to ALL pages that needs it. So don't use it with `create`.
[code]

[2020-09-18 12:06] RollyPeres commented on #1745
I took a look at your repo. Your `BlocBuilder` cannot fire because you're not even adding events to the bloc. What I see is you tossed everything in the UI layer, but you're doing making use of the bloc at all.
Data sources like `FirebaseAuth` and `GoogleSignIn` should be used within a repository, and that repository should be injected into your `AuthBloc` where you would actually make the proper

[2020-09-18 12:59] ezra126 commented on #1745
ooh excuse me @RollyPeres I  pushed other branches to Github. here is the right code for the issue just look out  --->[https://github.com/ezra126/bekloh_user/tree/authentication](url)  and I looked at firebase login example and understand the concept  but haven't worked for me. again @RollyPeres thank in advance for helping me

[2020-09-18 13:12] ggirotto opened #1746 "[QUESTION] expect is being evaluated before setUp function"
I'm facing the same problem as described in https://github.com/felangel/bloc/issues/1251.

But my scenario is a little bit different. My dummy value needs to be read from a JSON file. How should I proceed in this situation?

I also tried moving all `setUp` code to `build` closure, but the same problem happens: `mockStudentInfo` is nill when expect is evaluated. I'm thinking that something is wrong

[2020-09-18 13:51] Mr-Martini commented on #1734
@Elias8 Hi, thanks for your reply. It is working as expected now.

[2020-09-18 13:51] #1734 closed

[2020-09-18 14:30] github-actions[bot] opened #1747 "[Translations] Update docs"
Update Translations to include changes from d936a4b87a11ea7f092cd3a1d278a82c3f4ce970.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-18 14:35] RollyPeres commented on #1745
I've addressed your issue in this [PR](https://github.com/ezra126/bekloh_user/pull/1).
There's still an error cause by the code in the splash screen I would assume but didn't have the time to look into it.
You should move your connectivity code into the bloc, the splash screen should be a simple page without any logic.

[2020-09-18 15:45] ezra126 commented on #1745
thank you, bro. I fix some of the issues. u made my day!!!

[2020-09-18 16:11] ezra126 commented on #1745
The error is caused by using navigation to route on splash screen which found in connectivity code that's why it taints the bloc logic. I think I shouldn't have used navigation on the screen that corresponds to the state.

[2020-09-18 16:11] #1745 closed

[2020-09-18 17:51] ggirotto commented on #1746
For those facing a similar issue, this is more about a testing architecture problem than the bloc test lib itself.
It doesn't make much create `mockStudentInfo` inside `build` if it's going to be used in the expect phase. The expect phase must expect something concrete, and not runtime-created in the build function.

What I did to solve this problem was to move the JSON initialization outside the

[2020-09-18 17:51] #1746 closed

[2020-09-18 18:40] MilesAdamson opened #1748 "How do I replace BlocSupervisor().delegate when upgrading to 6.0.5?"
Hi. I was previously on a very old version of flutter bloc, 3.0.1. I am trying to upgrade to 6.0.5, and have fixed everything except for this line:

[code]

Both `BlocSupervisor` and `BlocSupervisor()` are now undefined.

I can't find the new method of listening to all my bloc transitions. Please help, thank you

[2020-09-18 18:41] felangel commented on #1748
Hi @MilesAdamson 👋
Thanks for opening an issue!

Please refer to the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97blocdelegate-renamed-to-blocobserver). Let me know if you still have questions 👍

[2020-09-18 18:43] MilesAdamson commented on #1748
Quick response and quick fix, already working. thank you!

`  Bloc.observer = BlocTransitionListener(userLoggingInfo: sentryLogging);`

`class BlocTransitionListener extends BlocObserver {`

[2020-09-18 18:43] #1748 closed

[2020-09-18 21:34] chethanjkulkarni commented on #1565
Hi, @felangel
I am using a bloc across 4 different screens(stacked one after another), and quite weird, when I change the state at 4th screen, my first screen doesn't get updated according to the new state
Note: I am not creating new context for every navigation, but passing the same context using
[code]
Is there something I am doing wrong here ?

[2020-09-19 21:24] wujek-srujek opened #1749 "[Discussion] How should people react to invalid events or invalid states in `mapEventToState`?"
1. When `mapEventToState` is called, we normally check the type of the event by a series of `if` checks. What should we do when the event type is unknown? `assert` in the last `else` (i.e. if the `else` bloc is reached, we know that no `if` handled the event type), throw an exception (`assert` is a no-op in release mode) or maybe just log?
2. Similarly, certain events only make sense for a specifi

[2020-09-20 01:25] lzhuor opened #1750 "How to cancel a processing event in Flutter bloc?"
I have already implemented `switchMap`. However, I am curious about how can I cancel a processing **Event A** (`OneTimeWebAppLauncherStarted` below) once **Event B** (`OneTimeWebAppLauncherCancelled`) is dispatched. Basically, I am still seeing `await callApi()` is executed although the cancel event is dispatched before the execution of `await callApi()`.

Code snippet of my bloc:

[code]

[2020-09-20 08:24] RollyPeres commented on #1749
Hi @wujek-srujek 👋

1. Each bloc expects an event of certain type/base type, so you cannot add random events; you should be aware of the existing events and handle them accordingly, so there's really no unknown type to deal with. You as the developer are in change of declaring those events and adding them to the bloc, so it shouldn't be anything unexpected for you.

2. I'd say most of the time you

[2020-09-20 08:35] RollyPeres commented on #1750
Hi @lzhuor 👋

If what you want is to cancel the API request then I'd suggest you use `dio` http client and make use of its [`CancelToken`](https://pub.dev/documentation/dio/latest/dio/CancelToken-class.html).

Alternatively, you could make use of `async` package with `CancelableOperation` or `CancelableCompleter`.

[2020-09-20 09:14] wujek-srujek commented on #1749
Hi @RollyPeres, regarding #1, yes, I know, the programmer, define the types, but imagine I used to have event types A, B and C, but now I only support A and B, and forgot to delete type C and some part of the app that sends an instance of C to the BLoC. Sure, my bad, but it may be difficult to find.

If I use `dynamic` as event type to support whatever events I like, this gets even more risky as n

[2020-09-20 11:45] RollyPeres commented on #1749
When you decide you don't need C anymore I'm sure you will delete the C class. That will automatically force you to clear up the code using C. I don't see any risks in this, unless you are deciding you don't need C anymore but at the same time you don't take any actions to eliminate C, which means you haven't implemented your chore/feature. Nobody stops you from having a default handing of incomin

[2020-09-20 14:31] wujek-srujek commented on #1749
Thanks @RollyPeres for you input. I don't know anything about `freezed` (apart from the questionable grammar ;d), I'll definitely look into it.

[2020-09-20 14:31] #1749 closed

[2020-09-21 02:47] linxkaa commented on #1744
Hello, thankyou for responding 🙏

but, the result is still the same after i used your code, it didnt save the previous state from the children page and giving me a new value instead,

![image](https://user-images.githubusercontent.com/57997512/93729555-3dc07500-fbef-11ea-9558-7151b4c6faf5.png)

here's the result:

<img width="549" alt="Screen Shot 2020-09-21 at 09 46 14" src="https://user-images.g

[2020-09-21 07:01] RollyPeres commented on #1744
This is just a partial snippet of your full implementation, so I can't advise you further unless you're taking the time to share a minimal reproduction repository of the issue you're having. Thanks 👍

[2020-09-21 17:53] ezra126 opened #1751 "Changing Bloc to Cubit form"
how can  I change bloc to cubit form?  I got an error of type  Stream AuthenticationState can not be assigned to AuthenticationState

[code]

[2020-09-21 19:02] Gh05ts commented on #1333
Hi Mike thanks for the quick reply appreciate it, I can't share the repo directly it's not my work, I just work on it (NDA), but I can try to explain to you what I'm trying to achieve, if you can explain in words that could be enough, or in case you have some personal work that you can share, I can try to write a small code to try to help explain in case you have some confusion.

We have an ```aut

[2020-09-21 22:05] iapicca opened #1752 "[flutter_bloc] Proposal: add child parameter to BlocBuilder constructor"
Adding a child parameter to BlocBuilder could improve efficiency and reduce boilerplate,
especially in cases where the bloc affect a widget but not its child, as for the example below.

In the current situation you have either:

1. Pointless rebuild

[code]

2. boilerplate and limitations

[code]

[code]

I propose something like the example below (an [approach](https://youtu.be/6KiPEqzJIKQ) simil

[2020-09-21 22:19] iapicca commented on #1752
@felangel sorry I didn't see this [issue](https://github.com/felangel/bloc/issues/1596) I noticed only from the [PR](https://github.com/felangel/bloc/pull/1597) you linked
I won't take it personal if this issue get closed as duplicate

[2020-09-21 22:56] souzaleandror opened #1753 "Update not immediate state in Example Counter - BloC Flutter"
My pubspec.yml:
[code]

I created my CounterBloc:
[code]

[code]

[code]

[code]

Then my question is:
Inside FloatingActionButton, I increment value to my state;
But I print before increment and after increment and the state is the same value;

[2020-09-21 23:07] ssingh12 opened #1754 "flutter_firestore_todos is incompatible with the latest version of cloud_firestore 0.14.0+2 and firebase_auth"
**Describe the bug**
The 'todo_entity.dart' shows errors in fromSnapshot() method, and the 'firebase_user_repository,dart' has errors in isAuthenticated() method

**To Reproduce**
Steps to reproduce the behavior:
Update the cloud_firestore and firebase_auth packages to the latest version in pubspec.yaml

**Expected behavior**
No compile error, the 'flutter_firebase_todos' example works as expected

[2020-09-21 23:08] felangel commented on #1754
Hi @ssingh12 👋
Thanks for opening an issue!

This is a duplicate of #1706 👍

[2020-09-21 23:08] #1754 closed

[2020-09-21 23:11] felangel commented on #1753
Hi @souzaleandror 👋
Thanks for opening an issue!

That's because `add` is not synchronous. When you call `add` the event is added to the bloc and is processed asynchronously so what you're doing is expected behavior. If you really want to wait for the update you could do something like:

[code]

But I don't recommend that approach and instead recommend using `BlocBuilder` and `BlocListener` to rea

[2020-09-21 23:11] #1753 closed

[2020-09-21 23:13] felangel commented on #1751
Hi @ezra126 👋
Thanks for opening an issue!

Can you please try changing the return type of `mapEventToState` to be `Stream<AuthenticationState>`?

[code]

Let me know if that helps 👍

[2020-09-22 01:28] github-actions[bot] opened #1756 "[Translations] Update docs"
Update Translations to include changes from d484fa1322ebf9c093c88bf8544ba39f8aeae174.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-22 01:35] github-actions[bot] opened #1757 "[Translations] Update docs"
Update Translations to include changes from 05584d61d3b74c938e6e1c7c755701f340b19c42.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-22 04:24] felangel commented on #1715
Closing for now but feel free to comment with any additional questions and I’m happy to continue the conversation 👍

[2020-09-22 04:24] #1715 closed

[2020-09-22 06:39] abelardolg opened #1758 "Improving user experience in documentation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
+ To begginers, it's difficult to visually represent the concepts managed in the demos or, even, in the core concepts section.
+ We have difficulties to know what the structure of each demo (tutorial) is.

**Describe the solution you'd like

[2020-09-22 06:42] ezra126 commented on #1751
Hi @felangel  The error is caused by change the above Bloc code into cubit.  emit function only works when passing the state to the parameter right but i need to add other functionality like repository so i create other functions to manage the repository which called by event triggered in cubit function .how can i implement in cubit ? here is the code again thanks in advance

class AuthenticationC

[2020-09-22 10:46] zs-dima opened #1759 "Issue with states sent one after another"
When bloc states with the same objects list one after another bloc library sent just first of them.
I just updating/adding/deleting items in the list.
I do not want to recreate list every time I sending state as it is time consuming.

You could easily find issue in the bloc source code:
`_bindEventsToStates` method
[code]

So as you could see issue appear because of '==' comparison and it is no wa

[2020-09-22 11:22] ezra126 commented on #1751
ahh I asked a silly question I could use like this

[code]

[2020-09-22 11:22] #1751 closed

[2020-09-22 12:25] RollyPeres commented on #1759
Hi @zs-dima 👋

This is not an issue but rather how the bloc behaves. Bloc is built around immutability and relies on value equality to optimize state emissions.

It should be pretty straightforward to obtain a brand new list using `List.from(existingList..add(newItem))` and emit it.
If you wish to ignore `state == transition.nextState` then just don't extend `Equatable` and each state will be trea

[2020-09-22 12:28] zs-dima commented on #1759
Copy lists is very bad practice and lead to the performance and memory issues specially on the mobile devices.

Hope Felix have to understand it.

So hope bloc library will be fixed soon

[2020-09-22 12:31] zs-dima commented on #1759
And it is just one of possible examples

I could have just mortification state one after another for example

yield NotifyState();

[2020-09-22 12:56] felangel commented on #1759
Hi @zs-dima 👋
Thanks for opening an issue!

As @RollyPeres mentioned, enforcing immutability is a core aspect of the bloc library. Can you share an example app that illustrates the issues you’re facing?

Regarding your second comment you can continuously yield the same state type (NotifyState) and as long as your state doesn’t extend Equatable it should work as you expect.

Hope that helps 👍

[2020-09-22 14:07] zs-dima commented on #1759
I have no public repository but it is common case to pass lists in the states,
and then yield states continually on filtering or editing/adding item to list/ delete item from list:

[code]

[2020-09-22 14:11] zs-dima commented on #1759
I saw many cases that this bloc issue affect app but it is just one case I remember.

I agree that immutability is important but developers have to be possible to choose app performance and etc for some certain cases.

However you took freedom from developers and force even good developers just being afraid that some other bad developers will not care come cases.

[2020-09-22 14:16] felangel commented on #1759
@zs-dima can you show some examples where immutable state had a significant performance impact?

[2020-09-22 14:19] felangel commented on #1750
@lzhuor closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-09-22 14:19] #1750 closed

[2020-09-22 14:20] felangel commented on #1737
@maxime-aubry closing for now since there isn't enough information to reproduce the issue you're facing. Feel free to comment with a link to a sample app and I'm happy to continue the conversation 👍

[2020-09-22 14:20] #1737 closed

[2020-09-22 14:24] zs-dima commented on #1759
In case of quite big list or/and big object we will have issue in this scenario in continually fire filterList(...) on user typing some data, even with denounce/etc:

[code]

[2020-09-22 14:26] felangel commented on #1693
Fixed in https://github.com/felangel/bloc/commit/439d10563a9a403cde7919533fa41a92bdceb240 👍

[2020-09-22 14:26] #1693 closed

[2020-09-22 14:31] felangel commented on #1759
No problem! I understand what you're saying but I personally don't think that the overhead of creating a copy is going to cause a noticeable impact to performance in most cases. Do you have a concrete example that I can run which clearly suffers from performance issues due to `List.of`?

[2020-09-22 14:36] zs-dima commented on #1759
I have no public concrete example right away

But overhead combined from many app parts: serialization/bloc/etc and example above lead to quite big overhead.

Plus UX, performance, memory usage have quite big priority even keeping in mind that bloc library so helpful.

[2020-09-22 14:37] felangel commented on #1759
@zs-dima I personally have not run into performance issues due to immutable state. It's far more likely that the performance issues you are experiencing are due to other aspects of the code.

[2020-09-22 14:40] zs-dima commented on #1759
as I told I respect mutability but I do not like idea to take freedom from developers to improve app performance and memory usage for some certain cases when developers know what they do and know price they pay for

[2020-09-22 14:41] felangel commented on #1759
@zs-dima I'm not sure why you feel as though your freedom has been taken. You are free to use a different state management solution which supports mutability (ChangeNotifier/Provider or MobX for example).

[2020-09-22 14:44] zs-dima commented on #1759
I know I could solve this issue by override States '==' method (generate random hash or etc), but it looks like quite ugly solution for so advanced library.
So I hope bloc library will be fixed to be able to override `_bindEventsToStates` method

[2020-09-22 14:46] felangel commented on #1759
As I mentioned earlier this is intentional and if you can provide data and a reproduction sample to support your claim, I'm more than happy to work with you to improve the performance of your app 👍

[2020-09-22 14:49] zs-dima commented on #1759
It is quite obvious that copy of big list and big objects take memory and performance away.
And mobile apps memory and performance are critical.
Users do not care state management solution - they care how app works.

I could create examples later but for now bloc force developers to use ugly States '==' override instead.

[2020-09-22 15:02] felangel commented on #1759
I would argue that on most devices this is not really an issue and is more of a premature, unnecessary optimization. Closing this issue for now since I don't feel like there is anything actionable.

Feel free to include a link to an example with performance reports and I'm happy to continue the conversation 👍

[2020-09-22 15:02] #1759 closed

[2020-09-22 16:53] aliyazdi75 opened #1760 "[Question] Project Structure"
Hi, Thanks for your amazing work.
I want to struct a new project and I read Bloc documentation again and in `Counter Tutorial` I found a new structure and I didn't get it, could you please explain this and why it's a good approach to struct feature-driven:

And another thing is ambiguous to me, in `Login Tutorial` why repositories are separated from the library folder and we should point them in p

[2020-09-22 21:03] Makarov96 opened #1761 "How do I clean the form using flutter_bloc?"
I've been using validation which I think is very good the problem is when I want to clean up the textformfields, since I have to update the status of the inputs How could I clean up the inputs? already try to return

[code]

[2020-09-23 03:59] linxkaa commented on #1744
thankyou i already solve it, its because i used static in my router files, and declare the SelectedCategoriesRoutes below the RouteSettings.

[2020-09-23 03:59] #1744 closed

[2020-09-23 10:06] davidAg9 opened #1763 "BlocListener emits multiple same states causing navigated screen to build multiple times ."
**Describe the bug**
I have a screen that calls a view event  on a blog from my <blogPost>bloc which updates a field value if firebase and then emits a  viewsuccess state .I then use the bloclistener to list for the success state for which it should navigate to blog's detailed page and then passing the id of the blogdetailed  through a contractor to to call a new<blocPost> bloc of which emits a ge

[2020-09-23 11:23] Getahun20 opened #1764 "getter 'isFormValid' was called on null on firebase login using flutter_bloc"
I need to login to home page using firebase login with bloc pattern.  LoginBloc is giving null inside the BlocBuilder.

Expected behavior
I expected to open the loginForm.but got an error getter 'isFormValid' 'isEmailValid' and  'isPasswordValid' was called on null

[code]

the error caused by login button

[code]
which is on

[code]

screenshot

════════ Exception caught by widgets library ══════

[2020-09-23 11:24] Getahun20 commented on #1764
`https://github.com/ezra126/bekloh_user/tree/authentication/`

[2020-09-23 13:10] mikededo commented on #1333
The first one looks like a good alternative. However, if you have inputs in the `LoginScreen`, you will have to find a way (if you want, and I would recommend it - for user experience) to keep the state of them.
The user writes the email & password and it is declined. Goes to the recovery (or whatever) screen to get the password. When it gets back to the other page, they would still have the email

[2020-09-23 13:35] lucaslcode commented on #1761
I'm having this issue too, see [this SO question](https://stackoverflow.com/questions/64018365/clearing-text-field-when-using-flutter-bloc)

I also note that the form validation example in this repo doesn't clear the form after submitting, so there's not much guidance on what seems to be a simple task but is actually quite an architectural question.

[2020-09-23 13:44] karora opened #1765 "Add support for Flutter Desktop: MacOS, Linux, Windows"
With Flutter Desktop now available it's great to be able to target MacOS, Linux and Windows as well as Android, iOS and Web with a single build.  It would be nice to be able to use Bloc for these developments.

[2020-09-23 13:46] JoseGeorges8 opened #1766 "First change of state by bloc does not get listened by other blocs after migrating to 6.0.0"
**Describe the bug**

I migrated the library in one of my projects from 3.0.0 to 6.0.0 and a weird behaviour started. I'm listening to a bloc from other blocs this way:

[code]

This was working properly before, but after the migration **the first time I change the state of the game bloc**, the listeners don't capture the change of state, however if I go back and redo the event (on the same sessio

[2020-09-23 13:50] JoseGeorges8 commented on #1765
I've used flutter bloc in a MacOS project and it works fine

[2020-09-23 14:01] felangel commented on #1765
Hi @karora 👋
Thanks for opening an issue!

There shouldn’t be any reason you can’t use bloc on all platforms. Is there a problem you’re encountering? If so, can you please provide a sample app to reproduce the issue? Thanks! 👍

[2020-09-23 14:36] felangel commented on #1766
Hey @JoseGeorges8 👋
Thanks for opening an issue!

As you noticed, this was an intentional breaking change made in v6.0.0 and is documented in the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97bloc-does-not-emit-last-state-on-subscription).

I would recommend:

[code]

Hope that helps and sorry for any inconvenience!

[2020-09-23 14:57] felangel commented on #1764
Hi @Getahun20 👋
Thanks for opening an issue!

Looks like the issue is the bloc's initial state is being set to null at https://github.com/ezra126/bekloh_user/blob/c819e773038c71026e62b813a26ee41513ff8970/lib/bloc/loginbloc/login_bloc.dart#L20.

If you update your bloc like so it should resolve the error:

[code]

Hope that helps! 👍

[2020-09-23 14:57] #1764 closed

[2020-09-23 15:09] AlexHBall commented on #1766
Am having a similar issue and I have changed my code (as per your suggestion) as follows:

`class StatBloc extends Bloc<StatEvent, StatState> {
  StreamSubscription taskSubscription;

  StatBloc({TaskBloc taskBloc})
      : assert(taskBloc != null),
        super(StatsLoading()) {
    void _onTaskStateChange(TaskState state) {
      print('I am listening for task state changes');
      if (state i

[2020-09-23 15:22] felangel commented on #1763
Hi @davidAg9 👋
Thanks for opening an issue!

Are you able to provide a link to a sample app which I can clone and run locally to reproduce the issue? Thanks! 👍

[2020-09-23 15:28] Jomik commented on #1766
Hey, you forgot to call the callback with the current state of the Bloc, the first line of Felix's snippet 👍
[code]

[2020-09-23 15:32] AlexHBall commented on #1766
@Jomik you hero thank you!

[2020-09-23 15:33] dotdotcommadot commented on #1766
Hm, I'm having the exact same 'issue' (which doesn't seem to be an issue).
I'm using AngularDart, where I do a lot of:

`<div>{{(counterBloc | async).count</div>`

These don't work anymore, unless if I would do:

`void ngOnInit() {counterBloc.add(CountEvent(count: 1))}`

- Initializing all Blocs in the ngOnInit method is of course not a good practice
- What is the meaning of initializing the value

[2020-09-23 15:54] karora commented on #1765
Sorry for the noise.  I guess I was fooled by the "Platforms Supported" as shown on https://pub.dev/packages/flutter_bloc but perhaps that's not updated yet to show support for Desktop platforms.

[2020-09-23 15:54] #1765 closed

[2020-09-23 15:56] Makarov96 commented on #1761
If it's a little complex to fix this and then I'd better use TextEditingController

[2020-09-23 16:04] ezra126 commented on #1764
yah it works thanks very much

[2020-09-23 16:26] ezra126 commented on #1764
could you please tell me what ''currentState.update'' is other  your article [https://medium.com/flutter-community/firebase-login-with-flutter-bloc-47455e6047b0](url) in login bloc part

[code]
i got an error currentState  unknown with red underline

[2020-09-23 17:05] felangel commented on #1766
@dotdotcommadot the value passed to super is the initial value of the bloc so you shouldn't need to add an event in `ngOnInit`.

Closing for now since that is unrelated to the original issue. And as always, thanks @Jomik for your help! 💯

[2020-09-23 17:05] #1766 closed

[2020-09-23 17:37] felangel commented on #1752
@iapicca the main problem I have with this feature request is justifying the breaking, verbose API will be worthwhile when in most cases this is an extra optimization. In my opinion, having a child and builder is confusing and adds noise to the API. Also, I think it's worthwhile pointing out that `StreamBuilder` does not currently offer support for this when the same argument can be made for inclu

[2020-09-23 20:42] ezra126 opened #1767 "BlocBuilder is not updating on state change"
I want to redirect to the home page after sign in at the login page .even the state changes  it remains on the login page. the logout button at the home page works and  but the login button does not trigger in the blocbuilder

 main.dart
[code]

login page
[code]

full code --->[https://github.com/ezra126/bekloh_user/tree/authentication/](url)   thanks in advance

[2020-09-23 20:58] RollyPeres commented on #1767
Hi @ezra126 👋

This is a duplicate of https://github.com/felangel/bloc/issues/1745.
Your issue was already addressed in a PR so what is the purpose of opening a new issue with the very same problem ?

[2020-09-23 21:02] edmbn opened #1768 "Firestore todos example optimistic result"
I have been reading all the examples inside the website (https://bloclibrary.dev) but there is something I don't see so I would like to discuss if it's intended or could be a better solution on the docs.

The Firestore todos example never manages errors for request, add or update todos. Imagine the case, could be very usual, that someone needs a bloc to request for todos information and have diffe

[2020-09-23 21:08] davidAg9 commented on #1763
Fortunately you are a contributor since its a private repository

[2020-09-23 21:28] RollyPeres commented on #1768
Hi @edmbn 👋

It all depends on how your feature should be presented to the user.

If you're adding/updating a todo from a new screen you might very well use a new `TodoBloc`.

If your executing your operations inline and you want to use the existing bloc then you can have a `TodosFailure` state that you can use to replace the screen when something goes wrong before todos are loaded and also a fail

[2020-09-23 21:35] edmbn commented on #1768
Yes!! But but If I change the state to reflect a possible update todo error I will lose the state loadSuccess that was holding my List of todos. I know I could have a single factory state holding everything but I thing this could get very big and unreadable.

What I still miss in this firestore todos example is all error handling and its not the same a loadError, updateError... In the example it l

[2020-09-23 21:53] RollyPeres commented on #1768
Like I mentioned, once todos are loaded, you’d handle errors through a failure property on the loaded state and you’d use this prop to show some error alert dialog.

[2020-09-23 22:03] edmbn commented on #1768
Oh... I see what you mean but I really don't like the idea of holding errors on a loadSuccess state. It will make the code difficult over time, with some blocs with success holding data, some blocs on success state holding data and errors. I think the example is great but was thought on a optimistic way. If you want to take care of errors and success for both load todos and update/add todos I thin

[2020-09-24 03:27] lzhuor commented on #1750
Thanks @felangel @RollyPeres !

[2020-09-24 03:50] JoseGeorges8 commented on #1766
Thanks for the help!

[2020-09-24 04:28] #1767 closed

[2020-09-24 07:44] RollyPeres commented on #1768
It’s all about how your features look like and what data needs to be present on screen at all times. Like I said, both approaches are feasible, it’s up to you to decide.

[2020-09-24 10:19] zs-dima opened #1769 "Error states Enum or generated by Freezed - bloc sending states issue"
We have simple bloc with 2 states Connected and ErrorState - and we do not need extra states (ConnectionStart or etc)

In case of unable to `api.connect();` we sending `ErrorState` used to warn users by toast message.
(widget subscribed to the bloc and showing toast message + we have 'Connect again' button)

In case of no connection and user continually press 'Connect again' button - it will by ju

[2020-09-24 10:19] zs-dima commented on #1759
I sublimed related issue till create example:
https://github.com/felangel/bloc/issues/1769

[2020-09-24 10:44] RollyPeres commented on #1769
Hi @zs-dima 👋

The issue you're facing is not really an issue and is certainly not bloc related. You should open an issue on `freezed` repo to allow for equality override on freezed classes, but I can tell you right now that Remi won't agree with that.

What you should do is:

[code]

or have a `DateTime` field on your `ErrorState` to ensure subsequent yield of it will result in different states.

[2020-09-24 10:45] zs-dima commented on #1769
I do not need `Connecting` state for my case

[2020-09-24 10:47] zs-dima commented on #1769
More over states order not guaranteed - so it will not help to solve bloc issue

[2020-09-24 10:52] RollyPeres commented on #1769
I gave you a realistic solution to your "issue".
I highly encourage you to read more about immutability and it's benefits as well as the bloc pattern to get a better overall understanding of the what you're dealing with.

If you want to blame something for your equality not working as you expect that is `freezed` not `bloc`.
To demonstrate that, you can use simple classes instead of your freezed u

[2020-09-24 10:52] zs-dima commented on #1769
@RollyPeres you even had not read my comment about states order

[2020-09-24 10:57] RollyPeres commented on #1769
States order is guaranteed, they are emitted in the order of your yields.
With your case you'd always get: `Connecting` followed by `Connected` or `Connecting` followed by `ErrorState`.

[2020-09-24 10:57] zs-dima commented on #1769
@RollyPeres thanks you trying to help but

1. I don't like crutches and ugly boilerplate

2. Even this crutches and ugly boilerplate is not really solution

So I hope Felix fix bloc issue finally

[2020-09-24 10:59] zs-dima commented on #1769
no as `transformEvents` usually overridden

[2020-09-24 11:02] zs-dima commented on #1769
However you could make bloc `transformEvents` private to remove possibility to override it and you example will work :) but `transformEvents` is not private.

[2020-09-24 11:02] PandaGeek1024 opened #1770 "Question about how to maintain data between different states"
Hi, Im pretty new to bloc+Cubit library so I got at the question of how to keep data between different state.

Image you have three states
1. FetchProductInitial
2. FetchProductLoading
3. FetchProductSuccess(List<Product> products)

and the user does the following:
1.when app fetch a list of products successfully, then we send back FetchProductSuccess( products) to render on ui.
2. user refresh th

[2020-09-24 11:08] RollyPeres commented on #1769
`transformEvents` has nothing to do with our discussion here, we're talking about processing of a single event and the states resulting from that processing.

[2020-09-24 11:09] zs-dima commented on #1769
User could press 'Connect again' button continually and you could not force him to do not do it
and `transformEvents` means states order is NOT guaranteed

[2020-09-24 11:14] zs-dima commented on #1769
any way - any beautiful solution are welcome
or bloc issue fix at least

[2020-09-24 11:21] edmbn commented on #1768
Yes that's right, we'll thank you so much for discussing this with me. Hopefully it will help others too.

[2020-09-24 11:30] perryrh0dan commented on #1706
Is there any update on this issue ? :)

[2020-09-24 12:11] zs-dima commented on #1769
I could modify your example to make it mostly works, but it is really ugly:
[code]

[2020-09-24 12:57] abelardolg commented on #1758
One question, please: What's the technology behind your doc? It's very terrific!! Congratulations!

[2020-09-24 14:33] felangel commented on #1758
@abelardolg thanks! The docs are currently built using [docsify](https://docsify.js.org/#/)

[2020-09-24 14:39] felangel commented on #1769
@zs-dima the following should work without:

[code]

Hope that helps 👍

Closing for now but feel free to comment if you're still having trouble with the above implementation and I'm happy to help 😄

[2020-09-24 14:39] #1769 closed

[2020-09-24 14:44] zs-dima commented on #1769
@felangel it is NOT heplp at all as I have to use freezed classes for complex states

and Enum for simple

[2020-09-24 14:45] felangel commented on #1770
Hi @PandaGeek1024 👋
Thanks for opening an issue!

In cases where you want to retain the old data while processing a new request, I would recommend refactoring the way you are modeling the state:

[code]

Then in your bloc/cubit you can use `state.copyWith` to emit new states and you will still have access to the old products list even if you are fetching a new list and the status is `loading`.

Fo

[2020-09-24 14:45] #1770 closed

[2020-09-24 14:46] felangel commented on #1769
Why do you have to use `freezed` and `enums` exclusively?

[2020-09-24 14:47] felangel commented on #1706
@perryrh0dan will try to get to it this weekend right. Wrapping up the [weather revamp](https://github.com/felangel/bloc/pull/1762) and will get to this right after 👍

[2020-09-24 14:48] #1768 closed

[2020-09-24 14:52] felangel commented on #1760
Hi @aliyazdi75 👋
Thanks for opening an issue!

The benefit of organizing by feature is that as the codebase grows each feature is self-contained meaning you can add and remove features without disrupting other parts of the code. This becomes super important when you have larger teams which are each working on developer features in parallel. Also, a feature-driven approach makes it very easy to opt

[2020-09-24 14:52] #1760 closed

[2020-09-24 14:52] zs-dima commented on #1769
I know you want to make immutable classes popular, and I respect immutable classes usages in right places.

But block is not really good tool to advertise immutable classes.

However you free to make with your library whatever you want, even lead developers to exceptions as above and make them problems.

[2020-09-24 14:55] felangel commented on #1761
Hi @Makarov96 👋
Thanks for opening an issue!

The reason it doesn't work is because you need to use a `BlocListener` to update the `TextEditingController` when the state changes. Otherwise the UI will update the bloc but the bloc won't update the UI.

[code]

Hope that helps! 👍

[2020-09-24 14:55] #1761 closed

[2020-09-24 14:57] felangel commented on #1769
@zs-dima you didn't answer my question. As I mentioned before, if you prefer mutable state then there are other solutions out there 👍

[2020-09-24 15:02] zs-dima commented on #1769
@felangel
I want to use complex states with Freezed - in other case it will be a lot of bollerplate.

And for simple states I will prefer Enums for the same reason.

So any solution to answer this bloc bug are welcome, but your code is not related to my question.

[2020-09-24 15:18] aliyazdi75 commented on #1760
Thanks for your answer,
It's a good approach, but if we have some models and blocs that share between some features, is it correct to place them in a specific future? How do we treat these in a complicated application with network models?

[2020-09-24 16:25] felangel commented on #1760
Network models should not belong in the application and should instead be part of the networking/api client package. You can check out [fluttersaurus](https://github.com/felangel/fluttersaurus) for an example 👍

[2020-09-24 16:35] felangel commented on #1769
@zs-dima you can't use enums because you want the same enum value to trigger a rebuild. Why would you why the UI to rebuild when the state has not changed?

[2020-09-24 17:06] zs-dima commented on #1769
I do not rebuild UI, I am sending toast alerts with this bloc.
More over bloc could be used without UI at all.
I mention it in the initial question.

[2020-09-24 17:12] felangel commented on #1769
@zs-dima BlocListener is only triggered on state changes. If the enum value hasn't changed then by definition, no state change has occurred.

[2020-09-24 17:18] zs-dima commented on #1769
I don't use flutter_bloc, I am using bloc + StreamBuilder

[2020-09-24 17:34] zs-dima commented on #1769
@felangel
I don't use flutter_bloc, I am using subscribing on bloc stream directly to send toast alerts, I don't sure if BlocListener have to be changed as it could lead to unnedded UI rebuilds

[2020-09-24 17:41] felangel commented on #1769
@zs-dima state changes only occur when the state changes. In your case emitting ` ConnectState.connected` twice should not trigger a state change because nothing has changed.

[2020-09-24 17:42] zs-dima commented on #1769
bloc.whereState<ErrorState>().forEach(); for example

[2020-09-24 17:45] zs-dima commented on #1769
I could easily filter out or district `ConnectState.connected` state as I like in the same way

[2020-09-24 17:49] zs-dima commented on #1769
More over it is one more point to remove check on bloc side - in case on filter I could receive duplicated states even with current bloc

[2020-09-24 17:58] felangel commented on #1769
I have already explained why I am against removing the check. Without that check, state will no longer need to be immutable which will cause more harm than good. We have given you several suggestions at this point for how to resolve your issue.

[2020-09-24 19:03] samramez opened #1771 "Using animation when BlocBuilder state changes"
**Is your feature request related to a problem? Please describe.**
Not really. I just can't figure out a clean way to solve my problem.

**Describe the solution you'd like**
As a states changes inside `BlocBuildder`, I wish to be able to change the state using animations such as "fade animation". Normally without using `flutter_bloc`, `AnimatedSwitcher` is used for this purpose but I wasn't able t

[2020-09-24 19:13] felangel commented on #1771
Hi @samramez 👋
Thanks for opening an issue!

I would highly recommend using `BlocListener` to manage animations. You can interact with an `AnimationController` in the `BlocListener's` `listener` callback to manage the animation.

Let me know if that helps! If you still have questions, it'd be great if you could put together a simple sample app which illustrates the problem you're facing 👍

[2020-09-24 19:30] samramez commented on #1771
Thanks @felangel for always being responsive.

good to know.
Do you happen to have access to an example for this which you can share here?

For example in the simple example below:

[code]

Are you suggesting that I wrap my `OwnerWidget()` with `AnimatedSwitcher` inside the `listener` ?

[code]

[2020-09-24 19:59] zs-dima commented on #1769
Let's summarize:
1. current bloc check doesn't work so I have to use district:
`bloc.whereState<Connected>(). distinct()`
2. in the block injected issue to advertise immutable classes, but lead new developers to issues and bollerplate:
`bloc.whereState<ErrorState>().forEach(...);`
3. Bloc library created exclusively for Flutter UI and don't care other scenarios (server side or etc)

[2020-09-24 20:06] RollyPeres commented on #1771
Hi @samramez 👋

In case of an implicitly animated widget like `AnimatedSwitcher` you can make use of the builder instead.

[code]

[2020-09-24 20:06] felangel commented on #1769
@zs-dima I strongly disagree with your statements and it seems you are misunderstanding the point of immutable state and the role it plays in bloc.

1. You can use distinct but you need to make sure you're overriding `==` correctly
2. Immutability is there to save you from issues not cause more issues. If immutability was not enforced, the library would no longer be predictable as states could cha

[2020-09-24 20:09] samramez commented on #1771
thanks @RollyPeres and @felangel

[2020-09-24 20:15] zs-dima commented on #1769
@felangel looks you answer without reading my message.
current bloc state equally check even doesn't works, and lead to younger mistakes and bollerplate.
And you couldn't provide any beautiful solution to fix them.
Let's I will create new issue for bloc equally check, it is all I could help you.

You could be right if bloc restricted to the one state class only, but as bloc could send different st

[2020-09-24 20:21] felangel commented on #1769
@zs-dima [I provided a solution](https://github.com/felangel/bloc/issues/1769#issuecomment-698388170) and you disregarded it. @RollyPeres provided a different suggestion and you disregarded it as well.

The only thing bloc enforces is that states are different (since a state change requires a change). It's up to you as the developer to override that behavior as needed (you're in full control of `o

[2020-09-24 20:34] zs-dima commented on #1769
Hope final solution you provided for the !!!Freezed and !!!Enum states will help youngers:
​`​`​`dart
try {
   api.​connect​();
   ​yield​ ​CrutchesToFixBlocIssueState​();
   ​yield​ ​Connected​();
} ​on​ ​ConnectionError​ ​catch​ {
   ​yield​ ​CrutchesToFixBlocIssueState​();
   ​yield​ ​ErrorState​(​'Unable to connect'​);
}
​​`​`​`
however I don't like it and will use different way, please let me

[2020-09-24 20:42] felangel commented on #1769
That is the solution you came up with, not the one we recommended.

If you want to use classes:

[code]

If you want to use enums:

[code]

If you want to use freezed:

[code]

Closing this issue since I don't appreciate your tone. If you don't like any of the above solutions you can always fork the library and make whatever changes you'd like.

[2020-09-25 20:41] #1706 closed

[2020-09-25 20:42] #1771 closed

[2020-09-26 03:13] omidraha commented on #1758
What's the meaning of ✨ beside some topics?

[2020-09-26 03:14] felangel commented on #1758
It means those tutorials have been revamped and are following the latest best practices

[2020-09-26 05:13] Makarov96 commented on #1761
Thank you so much !!

[2020-09-26 08:56] iapicca commented on #1752
@felangel
I think you are making a valid point,
even though I'm convinced that this would be a positive change
and fairly safe to implement being essentially syntactic sugar
it would "break parity" with `StreamBuilder` which is less than desirable.

I'm considering making a PR for a `StreamBuilder` child parameter in flutter,
but I'll gather some feedback first. (yours is welcome as well)

I'm clo

[2020-09-26 08:56] #1752 closed

[2020-09-26 11:01] vasilich6107 opened #1773 "Graphql flutter bloc"
**Is your feature request related to a problem? Please describe.**
Add a sample documentation how to work with graphql + bloc

**Describe the solution you'd like**
I wrote a [library](https://pub.dev/packages/graphql_flutter_bloc) that helps to wrap graphql requests in bloc pattern. I can add a corresponding section to the documentation.

[2020-09-26 14:05] felangel commented on #1752
@iapicca sounds great, can you provide a link to the issue on Flutter?

[2020-09-27 09:31] omidraha commented on #1770
But there is no `copyWith` example on the above link.

[2020-09-27 09:42] narcodico commented on #1770
Hi @omidraha 👋

That's because fluttersaurus has a different setup, where different states don't share common properties, so a `copyWith` method makes no sense.

`ProductState` example @felangel gave uses a `List<Product>` which is present on all possible states, identified by the enum status. In this situation, a `copyWith` method makes sense and it's a good practice to make use of.

Hope that he

[2020-09-27 14:06] HerrNiklasRaab commented on #1444
@felangel Hey, could you make a small example, how Cubit makes for example debounce impossible. Didn't got that one.

PS: Thanks for this amazing package so far!

[2020-09-27 14:12] narcodico commented on #1444
@HerrNiklasRaab cubit doesn't make debounce impossible, but you'd have to implement a mechanism for your methods to be debounced. As for with bloc, this is really easy to achieve.

[2020-09-27 15:01] HerrNiklasRaab commented on #1444
Got it thanks!

[2020-09-27 18:36] ezra126 opened #1774 "using bloc to change google map field"
I am using bloc for my project. and am a bit confused about how to use it clearly. in a nutshell, my project mostly uses google map which is like ride-hailing app.and I want to change only google map  property based on state change rather than creating new instance of google map for each state change .my aim was to add onCameraMove property when it is on destinationnotselected state not on other s

[2020-09-27 22:41] #1763 closed

[2020-09-27 22:42] davidAg9 commented on #1763
I think I was over using bloc although and since I wasn't popping any route in the above issue it kept the bloc listening for other states

[2020-09-27 22:45] davidAg9 commented on #1763
To any one with the same issue ,you can consider the issue to be you bloc is still alive when routing to a new screen which indicates break some of it task into other blocs ,other properly popPush or pop and replace to close the bloc

[2020-09-28 00:27] saeedhosseini opened #1775 "use Bloc in Firebase Messaging"
I need to call event bloc in the OnMessage Method of Firebase Messaging
but after add event, not call the listener

in debug, I see after excuse the add method doesn't go in bloc class

[code]

stopped inline
[code]
and don't go in bloc class
[code]
don't call
[code]

[2020-09-28 03:04] momoDragon opened #1776 "Issue with getting current state in init state when init state is first called when page build"
Upgrade from 4.0.0 to version 6.0 >, caused me not to be able to listen to state in init state when a page is first built, causing my old code to break.

For example,
When i navigate to a new page, i use to be able to print the current state in init state
Now, i am not able to print the current state when init state is called, only when the state updates that it prints.

[code]

[2020-09-28 03:08] felangel commented on #1776
Hi @momoDragon 👋
Thanks for opening an issue!

This is a duplicate of #1766 and was intentional and documented in the [migration guide](https://bloclibrary.dev/#/migration) 👍

[2020-09-28 03:08] #1776 closed

[2020-09-28 07:24] saeedhosseini commented on #1775
can delete this issue?

my problem fix:
instead message['data'] i use
[code]
that's work and call method mapEventToState

[2020-09-28 07:24] #1775 closed

[2020-09-28 10:37] ram231 commented on #1773
I agree,
on an advance usage. I believe that graphql should be on the level of http package(what I'm saying is to only use graphql client) as a repository.  but on a basic example, i think it's fine to use the widgets provided by graphql_flutter.

I'm on an advance usage(because there is no guarantee that when will our repository gets replaced later on).

[2020-09-28 11:27] narcodico commented on #1773
Hi @vasilich6107 👋

Thanks for your feature request.

Not sure if you're aware but there's already a graphql with bloc example available [here](https://github.com/felangel/bloc/tree/master/examples/flutter_graphql_jobs).

Just as a side note, your library is enforcing the use of `freezed`, which not everyone is using. Also the error handling could be improved towards something more generic.

[2020-09-28 11:34] Gh05ts commented on #1310
@wisnuwiry Can you elaborate what the issue was? I'm facing a similar issue and not sure what is going on

[2020-09-29 05:13] github-actions[bot] opened #1778 "[Translations] Update docs"
Update Translations to include changes from 249fc8209b18005988b42ea8c0e40f0284f95aeb.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-09-29 05:14] felangel commented on #1773
Hi @vasilich6107 👋
Thanks for opening an issue!

As @narcodico mentioned, there is already a graphql example included. If you'd like to add a link to your library in the README feel free to open a pull request 👍

Closing for now but don't hesitate to comment with any additional thoughts/questions and I'm happy to continue the conversation 😄

[2020-09-29 05:14] #1773 closed

[2020-09-29 05:18] felangel commented on #1774
Hi @ezra126 👋
Thanks for opening an issue!

You can just use a `BlocListener` and update the camera position via the `GoogleMapController`.

[code]

Let me know if that helps 👍

[2020-09-29 08:14] ezra126 commented on #1774
hi @felangel thanks for the reply but my aim was to change initialCameraPosition and onCameramove property and display it on two different screen (homeScreen and addDestinationscreen) and it is not working adding this on BlocListner. and this property can not be changed using a controller that's why I am confused.

DeliveryMap.dart
[code]

homescreen.dart
[code]

addDestination.dart
[code]

[2020-09-29 08:23] Kobreizhyashi opened #1779 "[Doc] SimpleBlocObserver is not a Bloc"
Hi !
I think there's a problem with the documentation, specifically the BlocObserver part (https://bloclibrary.dev/#/coreconcepts?id=blocobserver-1).

The problem is, The doc is advising user to call the SimpleBlocObserver as a Bloc in main.dart but If you check the BlocObserver's class which is extended by SimpleBlocObserver, this is not a Bloc. So it cannot work.

What can we do to create a "gen

[2020-09-29 09:55] narcodico commented on #1779
Hi @Kobreizhyashi 👋

The doc is only advising the user to instantiate the observer in `main.dart`: `Bloc.observer = SimpleBlocObserver();`

You need to create a class like:
[code]
and instantiate in `main.dart`:
[code]

[2020-09-29 10:05] dave commented on #1444
Another thing I've found hard with my cubit app is a UI to allow a generic error message to include a "retry" button. It's my first flutter app, so I haven't used bloc before, but I would imagine with bloc I could just include the original event in the "error" state, and the view can just resubmit it. With cubit it's a little more complex.

[2020-09-29 10:18] HerrNiklasRaab commented on #1444
Could you make a small example?

[2020-09-29 10:56] dave commented on #1444
I can explain a bit further. I'm trying to make my app "offline first" so every UI operation that requires an active internet connection has a popup when the connection is offline, like this:

![IMG_0009](https://user-images.githubusercontent.com/925351/94546872-60353c80-0246-11eb-938a-c7eaaf88dc20.PNG)

This popup is identical on a multitude of UI elements so I made a [helper function](https://gi

[2020-09-29 11:59] vasilich6107 commented on #1773
Thanks a lot! I’ll make a PR

[2020-09-29 12:36] #1779 closed

[2020-09-29 12:38] Kobreizhyashi commented on #1779
Thanks for your reply !
Oh yeah, I didn't saw the dot before observer (Bloc **.** observer).

Sorry !

[2020-09-29 12:38] felangel commented on #1774
I’m not sure I understand. The initialCameraPosition is intended to be used once when the map is created and onCameraMove should ideally just notify the bloc and allow you to update the bloc state accordingly.

[2020-09-29 17:01] hyiip opened #1780 "BlocBuilder is not rebuilding when appending a list"
Hello, I am a newbie to bloc pattern in Flutter.

I tried to build an app which user can tap on an image and label some circle on top of the image. I also need undo-redo function so replay_bloc seems a perfect package for this situation.

I think the task is not difficult so I basically modified the example of the Counter app from [here](https://pub.dev/packages/replay_bloc/example). When it was t

[2020-09-29 19:22] lambasoft opened #1781 "BlocProvider.of() called with a context that does not contain a Cubit of type"
Hello,

I'm sure there is something that I did wrong, but I cant seem to find what it is exactly.

I have the following **register_screen.dart**
[code]

When the form get's submited from PhoneRegister() a FormzStatus.submissionSuccess get's emitted. This is working perfectly.
Now when I get navigated to CodeSubmit.route(), I can't seem to use the ValidationCubit

**code_submit.dart**
[code]

Why i

[2020-09-29 23:25] SergejSachs opened #1782 "[Question] 2 blocs with same state"
Hello,

I have one bloc currently and he is handling two domain models "Note" and "Todo".
Both implements the interface "IWorkItem", so far so good but now my bloc gets pretty big.

I would like to split it into two blocs one for handling "Note" and one for "Todo".

My problem here is that currently my bloc holds the state of "List IWorkItem".
But if I would split into two blocs who will hold the

[2020-09-30 05:11] felangel commented on #1781
Hi @lambasoft 👋
Thanks for opening an issue!

The problem here is when you push a new route, the BuildContext of the new route is disconnected from the previous BuildContext so you need to re-provide the cubit using `BlocProvider.value`

[code]

Hope that helps 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2020-09-30 05:11] #1781 closed

[2020-09-30 05:13] felangel commented on #1780
Hi @hyiip 👋
Thanks for opening an issue!

I believe the issue is you're mutating the list of points rather than creating a new instance. This causes the bloc to think that nothing has changed because the list of points has the same reference (is identical) to the previous list of points.

You should be able to just update `addPoints` to create a new list:

[code]

Closing for now but feel free to

[2020-09-30 05:13] #1780 closed

[2020-09-30 05:15] felangel commented on #1782
Hi @SergejSachs 👋
Thanks for opening an issue!

I would highly recommend creating a bloc for each feature rather than having a bloc for each type of resource. Let me know if that helps and if you're still unsure about the best approach it would be great if you could share a link to a sample app which illustrates the structure you have and what you're trying to achieve. Thanks! 🙏

[2020-09-30 07:50] hyiip commented on #1780
Yes, this indeed fixed the problem. I really appreciate your help.

[2020-09-30 09:58] Albert221 opened #1783 "[Feature Request] Better diff between expected and actual in blocTest"
**Is your feature request related to a problem? Please describe.**
Right now when my state differs from what I expect in bloc tests I get a big load of text on my screen showing what expected and actual states look like. The problem is, sometimes my state contains many items or the item itself is very big. It's **REALLY** hard to read it.

**Describe the solution you'd like**
I can see two solutio

[2020-09-30 11:15] SergejSachs commented on #1782
Hi :) Thanks for your fast response.

ok I think I got it while I tried to write my answer here haha.

Basically I should have two blocs for creating and updating notes and todos and one bloc for getting the overview "merged" list which holding the state.

The create/update blocs don't need to hold the state and just report the overview bloc that one item got created right? :D

[2020-09-30 11:51] Grekkq opened #1784 "Add event inside onWillPop"
I tried to create app that on Home page have list of items, and when adding new item showing new page using state (to avoid using `Navigator`). Problem begins when user tries to go back from second screen using Android Back Button.
I tried overwrite `onWillPop` according to your suggestion in #352, but for some reason that doesn't work.
[code]
Minimal example can be found [here](https://github.com

[2020-09-30 12:46] felangel commented on #1782
That would work but without additional context I’m not sure if that’s the way I’d recommend. I’d say try it and see how it feels or if you want you can provide a sample app which illustrates the functionality you want to achieve and I’m happy to give some suggestions 👍

[2020-09-30 13:04] narcodico commented on #1784
Hi @Grekkq 👋

Fixed your issue in this [PR](https://github.com/Grekkq/event_inside_onwillpop/pull/1).

Bloc retrieval wasn't working inside `WillPopScope` because of the context being the same as to the one where you provided the bloc. Wrapping with a `Builder` solves this. Alternatively you could just extract the subtree starting at `WillPopScope` in a separate widget.

[2020-09-30 13:27] Grekkq commented on #1784
Works perfect, thank you.

[2020-09-30 13:27] #1784 closed

[2020-09-30 14:25] SergejSachs commented on #1782
Thank you I think will try it that way first, I think that will solve my problem.

[2020-09-30 14:25] #1782 closed

[2020-09-30 14:26] SergejSachs commented on #1782
thanks for your help 👍

[2020-09-30 19:10] tijanirf opened #1785 "How to pass a bloc to another bloc on MultiBlocProvider to listen the state changes [Best Practice]"
Let's assume I create MultiBlocProvider on main.dart that wraps all widget trees. I need to pass `bloc A` to the `bloc B` to listen to `bloc A`'s state changes inside `bloc B`. First I tried this:

[code]
and
[code]
Of course, It's not working. Is there any way to access newly created `bloc A` instance to be passed directly to `bloc B`?

I ended up always using these two approaches in my projects:

[2020-09-30 20:55] henryla92 opened #1786 "[Question] UI not refreshing after updating state"
Hi there,

I'm trying to use flutter_bloc to create a 'Goals'(basically a todo list) feature in my app. But whenever I 'add' or 'mark a goal as complete', the UI doesn't get updated, unless I restart the app. I'm not sure what I am doing wrong.

Here's my goals bloc:
[code]
goals event:
[code]

Goal states:
[code]

And my goals page is something like this:
[code]

Should I be adding extra states l

[2020-09-30 22:10] hyiip commented on #955
hi @felangel, the mixin approach is awesome, I can create multiple blocs with less code.

From the example you gave, I notice that
[code]
you have used same code twice but only changing `GlobalCounter` to `LocalCounter`.

Suppose I want to create 3 pages with the 3 timer counter bloc, is there any way I can create a reuseable widget which accepts a title string, then I can use something like `Time

[2020-09-30 22:27] fchiumeo commented on #1786
[Read this FAQ section](https://bloclibrary.dev/#/faqs?id=state-not-updating)

[2020-09-30 22:56] henryla92 commented on #1786
that was it!

[2020-09-30 22:56] #1786 closed

[2020-10-01 03:08] HerrNiklasRaab commented on #1444
I understand, but this complex no matter if you choose Cubit or Bloc. Did you have any impediments implementing this only with Cubits for example?

[2020-10-01 08:34] narcodico commented on #1723
Hi @rabyunghwa 👋

Thanks for being so patient about this!

Would you mind sharing the repository through github rather than a zip ? It would be a lot easier for us to help you and start a PR with fixes. Thanks ! 👍

[2020-10-01 09:03] narcodico commented on #1785
Hi @tijanirf 👋

Your first attempt is what works actually and it's the easiest approach you can take:

[code]

Keep in mind that for your listening on first bloc's state to work inside second bloc, the second bloc has to be instantiated, so make sure you're either consuming it's state in the UI or you're setting `lazy: false` when providing it.

Hope that helps but if you're still struggling then

[2020-10-01 09:26] tijanirf commented on #1785
Thanks @narcodico for the response

But as long as I remember, my first approach is not working. Maybe I'll try it again after work on a new repository and share the result.

Meanwhile, do you see any breaking behavior possibility on my second approach (**Inject bloc A to bloc B down in the widget tree**)? Because I think it's pretty easy to inject the bloc as I don't need to provide multiple bloc

[2020-10-01 09:35] narcodico commented on #1785
If you're not planning to listen to bloc A's state inside bloc B then there's no point in injecting it. You could keep things separated by using a `BlocListener` with bloc B and add events to your bloc A in response to state changes from bloc B. You should always aim to avoid injecting blocs into each other when possible.

[2020-10-01 11:45] Ozymandias93 opened #1787 "BlocBuilder does not receive the state"
Hi! I'm new with flutter and I'm writing a simple app: there is an items' list and under this a TextForm to insert a new element, i type the name and click the button "add", and the element is written in firestore. This part works fine, but after this i need to reload the list to show the new element, and this is where i've the problem: i know that i can't yield the same state twice, so i yield fi

[2020-10-01 13:24] rabyunghwa commented on #1723
Hello, @narcodico !

Thanks for the response!

The project is located [here](https://github.com/rabyunghwa/bloc_test_app).

Thanks in advance!

[2020-10-01 13:30] horam-fs commented on #1587
I have faced a similar issue and solved it by following your suggestion:

but now, I have faced error coding the test part. It seems that `bloc_test` does not recognize `startWith` method  and returns
`NoSuchMethodError: The method 'listen' was called on null. ` error

[2020-10-01 13:47] narcodico commented on #1787
Hi @Ozymandias93 👋

As @alfredobs97 pinpointed, you have pass all your props to equatable for the value equality to properly work.

[code]

Your `Restaurant` should also extend `Equatable`.

[2020-10-01 15:52] tijanirf commented on #1785
I see, i got your point about keeping things decouple. Thanks a lot @narcodico 👏

[2020-10-01 15:52] #1785 closed

[2020-10-01 16:15] narcodico commented on #1723
I created a small PR with a basic start but unfortunately it's impossible for me to work with the app since it throws a bunch of db related errors.
I suggest you create a minimal reproduction app without the extra noise like sqflite and stuff. Thanks 👍

[2020-10-01 16:46] TheMisir opened #1788 "Ignoring event if equals to previous event"
**Is your feature request related to a problem? Please describe.**
I implemented infinite scrolling using Bloc. The logic looks like that.

[code]

Where `state.items.length` is previous list state. My request is that is there any way to ignore multiple events to just request same page 1 time only. (Currently when I scroll same event dispatched multiple times (~20-30) which resulted in fetching sa

[2020-10-01 17:06] narcodico commented on #1788
Hi @TheMisir 👋

You can obtain that with:

[code]

You could even consider waiting for previous batch to finish before allowing for the next one, but that's up to you:
[code]

Of course, don't forget to import `rxdart`.

[2020-10-01 17:37] TheMisir commented on #1788
Thank you so much 🙏

[2020-10-01 19:45] Ozymandias93 commented on #1787
thanks guys <3

[2020-10-01 19:45] #1787 closed

[2020-10-02 02:05] felangel commented on #1774
Closing for now but feel free to comment with additional information/questions and I'm happy to continue the conversation 👍

[2020-10-02 02:05] #1774 closed

[2020-10-02 06:29] Jomik opened #1790 "Improve DartDocs for buildWhen"
**Describe the bug**
I worry that people will use `buildWhen` and assume that it provides security about what state is passed to the `builder`.
I believe this is a misuse, as the `builder` will always receive the bloc's current state, when it is initially built, and that can be anything, in theory.
Another concern is that people are using `buildWhen` to filter out some states, which would mean tha

[2020-10-02 06:30] Jomik commented on #1790
I propose that we add a line, that explains that this should be used only for optimisations.
[code]

[2020-10-02 11:23] grappetite-ali opened #1791 "Unhandled Exception: MissingPluginException"
**Describe the bug**
Unhandled Exception: MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider)
I am getting this exception inside `HydratedStorage.build()` whenever i add flutter_facebook_auth package in my flutter project.

<img width="876" alt="Screen Shot 2020-10-02 at 4 20 35 PM" src="https://user-images.githubusercontent.

[2020-10-02 13:11] felangel commented on #1791
Hi @grappetite-ali 👋
Thanks for opening an issue!

It sounds like you might have forgotten to add `WidgetsFlutterBinding.ensureInitialized(); ` before initializing HydratedStorage.

Let me know if that helps 👍

[2020-10-02 13:12] rabyunghwa commented on #1723
Hello, @narcodico !

I just updated the project. Surprisingly, **mapEventToState** can get called this time. Could it have to do with Moor (Sqflite)? Does Bloc work well with Moor?

[2020-10-02 13:18] grappetite-ali commented on #1791
No. `WidgetsFlutterBinding.ensureInitialized();` is already there.
Look!
<img width="428" alt="Screen Shot 2020-10-02 at 6 17 19 PM" src="https://user-images.githubusercontent.com/16663361/94927426-ad7e0c00-04db-11eb-9ff8-611dcc8a80cb.png">

[2020-10-02 13:19] narcodico commented on #1723
Well your app was throwing a bunch of uncaught errors so very likely it was interfering with everything.
Glad you solved it!

[2020-10-02 13:20] felangel commented on #1791
Can you provide a link to a repo which reproduces the issue? Thanks!

[2020-10-02 13:26] narcodico commented on #1791
Hi @grappetite-ali 👋
Do you have `path_provider` in your `pubspec.yaml` ?

[2020-10-02 13:27] rabyunghwa commented on #1723
Actually, the issue still remains for the real app. Not sure if it has to do with Moor.

[2020-10-02 13:29] narcodico commented on #1723
You definitely need to handle those errors since they were crashing your code.

[2020-10-02 13:33] rabyunghwa commented on #1723
@narcodico There might have been some missing files. I'll upload an updated version. Thanks for being patient!

[2020-10-02 13:34] grappetite-ali commented on #1791
Hey @narcodico ,
No.

[2020-10-02 14:45] narcodico commented on #1791
`getTemporaryDirectory` is from `path_provider` so try and add that package.

[2020-10-02 17:10] GyuriMajercsik commented on #1310
Is this fixed ? I have a very similar exception using Flutter web (dev channel) and bloc (^6.0.5).

[code]

[2020-10-02 17:26] felangel commented on #1310
@GyuriMajercsik can you provide a repo sample?

[2020-10-02 17:49] GyuriMajercsik commented on #1310
@felangel , thanks for the quick response. Actually, it seems to be related to flutter dev branch or my code is broker somehow, but pretty hard to investigate. If I found that bloc is the reason I will come back with a smaller sample.

I found something similar: https://github.com/flutter/flutter/issues/66122

[2020-10-02 17:59] omidraha commented on #1790
Why there is no `buildWhen` for `BlocListener`  same as `BlocBuilder`?
I know `BlocListener` only runs once for every type of state, but when we have many states with different types I think it's useful.

[2020-10-02 18:02] felangel commented on #1790
@omidraha there is `listenWhen` on `BlocListener` 👍

[2020-10-02 21:01] github-actions[bot] opened #1794 "[Translations] Update docs"
Update Translations to include changes from fb4d779c6263051dd1b673d4b9fe6ea5c80d99ec.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-10-03 04:06] rabyunghwa commented on #1723
Hello, @narcodico !

[Here](https://github.com/rabyunghwa/bloc_test_app_final) is an updated version of the demo project. I ran the app on a physical Android device and it worked fine. If it still crashes on your end, would you mind specifying the specific device (Android or iOS) and API level? Thanks in advance!

[2020-10-03 06:06] grappetite-ali commented on #1791
I tried. Same error.

[2020-10-03 06:11] grappetite-ali commented on #1791
I am closing this issue. This issue is related to path_provider plugin. I even tried calling  `getTemporaryDirectory` from my own code and its crashing.

[2020-10-03 06:11] #1791 closed

[2020-10-03 12:57] kelidon commented on #363
Hey there! I got a situation when I do need my BlocListener to fire on repeating yield value. How can I perform this?

[2020-10-03 19:32] flutter-clutter opened #1795 "Event reaches mapEventToState but nothing happens afterwards"
**Describe the bug**
I am having an issue with a bloc I implemented. The widget triggers the event when a button is tapped and the event reaches `mapEventToState` but no state is emitted and nothing happens on the UI. Also, if I observe it in the `onChange()` method, I see nothing. It only happens once.

**To Reproduce**
This is the project and branch in which I implement the bloc pattern:  https:

[2020-10-03 19:40] felangel commented on #1795
Hi @flutter-clutter 👋
Thanks for opening an issue!

Have you taken a look at the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating)?

[2020-10-03 21:48] ReniDelonzek commented on #1310
@GyuriMajercsik I have the same problem

[2020-10-03 21:56] ReniDelonzek commented on #1310
I managed to reproduce it. The steps are as follows:
- Run an application that uses bloc on the web
- Run Hot Reload

The application only works again after running a clean flutter.

Flutter Doctor:

[code]

[2020-10-03 22:20] ncuillery commented on #1535
I believe that's the same issue as I have. The state of the mock is null unless I listen to it.

My BlocA has a BlocB as dependency. BlocA uses the state of BlocB but doesn't listen to it (because BlocB is loaded once and for all very early in my app lifecycle).

My test of BlocA mocks BlocB, but the state of BlocB is null during the test even if I configure it with `whenListen`.

The workaround I

[2020-10-03 22:38] felangel commented on #1310
@ReniDelonzek can you provide a reproduction sample? Also can you confirm that the issue is bloc specific or can you also reproduce it with a regular provider? Thanks! 🙏

[2020-10-03 23:09] ncuillery commented on #1535
Actually I think I found a solution. Instead of using `whenListen`, I use the Mockito API to mock the state directly:

[code]

[2020-10-04 00:16] ReniDelonzek commented on #1310
Yes, I extracted a minimal piece of the application enough to reproduce the problem that is available [here](https://github.com/ReniDelonzek/bloc_web_error)

I left all my dependencies on the original project as this can be useful.

The problem only occurs on the web

[2020-10-04 03:39] Classy-Bear opened #1796 "[docs] What Core Concepts I'm learning new today?"
**Is your feature request related to a problem? Please describe.**

I was reading the new `Flutter Login Tutorial` (which is awesome btw) and I stopped and ask myself: What new BLoC [Core Concepts](https://bloclibrary.dev/#/flutterbloccoreconcepts) I'm learning today? I don't want the boring: "In the following tutorial, we're going to build...".

**Describe the solution you'd like**

In the follow

[2020-10-04 08:46] flutter-clutter commented on #1795
Hey @felangel.
Oh, it seems I was running into a common issue. Should have read the FAQ. You are right this issue was because I was re-using the model instead of creating a completely new one. Thank you for your quick response.

[2020-10-04 08:46] #1795 closed

[2020-10-04 12:02] moisedestin commented on #1711
Hello @felangel !
I still can't figure it out, it might take you a minute maybe.

[2020-10-04 13:24] narcodico commented on #1711
Hi @moisedestin 👋

I've solved your issues in this [PR](https://github.com/moisedestin/flutter_blocexample/pull/1).
Please avoid storing widgets directly in your models. The purpose of a model(view model if you prefer) is to store data and metadata for your UI, but not the actual UI 😊. A big problem of storing something like that into your model is that you don't have access to that to change how

[2020-10-04 13:38] narcodico commented on #1723
I get
[code]
Samsung A10, 2019, API level 29

Hope that helps 👍

Since this issue is not bloc related I think it's safe to close but if you're still encountering bloc related obstacles feel free to create a minimal sample app that reproduces your issues and share it.

[2020-10-04 14:05] ywaz opened #1797 "Basic issue with repository instantiation"
**Describe the bug**
The app is a simple messenger, using firestore.
After setting the message event/state/bloc and also the repository that handles the message sending/fetching
I instantiated the repository in main()
however, the following error is returned:

'package:pingMe/bloc/bloc.dart': Failed assertion: line 12 pos 51: 'repository!=null': is not true.

I believe the solution is really strai

[2020-10-04 14:11] narcodico commented on #1797
Hi @ywaz 👋

Looks like you're not passing the repository to your bloc in your `BlocProvider` creation.
`create: (context) => MessageBloc(repository: yourRepositoryInstance)`

[2020-10-04 14:48] ywaz commented on #1797
Hi @narcodico ,

Thank you for your reply.

I see your point, but in the main SS (that was incomplete in my first message) I am intiializing my MessageBloc in the initstate
and only used BlocBuilder, which dosn't contain bloc property anymore as you can see here:

![image](https://user-images.githubusercontent.com/69506415/95018581-fad7b600-0660-11eb-89a4-5d49181310e7.png)

If I use BlocProvider,

[2020-10-04 17:04] narcodico commented on #1797
Please share a minimal github repo with your issue, your screenshots are incomplete.

[2020-10-04 18:02] ywaz commented on #1797
yeah sure,

just pushed it : https://github.com/ywaz/PingMe/tree/master

Thank you.

[2020-10-04 19:07] narcodico commented on #1797
I've open a [PR](https://github.com/ywaz/PingMe/pull/1) with fixes and improved coding practices.

Your initial code wasn't working because you had at some point in one of the constructors `{@required repository}` instead of ``{@required this.repository}`` and also you had no `BlocProvider<MessageBloc>` to provide an instance of `MessageBloc` to your widget tree. The quickest fix would have been t

[2020-10-04 19:28] #1797 closed

[2020-10-04 20:41] omidraha commented on #916
I would like to have reusable function, Let's call it `showBlocPage`  to show a new material page route by having bloc.
 So I can call it several times like this:

[code]
I tried something like this :
[code]
But I got this syntax error:
`'dynamic' doesn't extend 'Bloc<Object, Object>'.`

[2020-10-05 04:06] moisedestin commented on #1711
HI @narcodico
Thanks for taking your precious time to help me,
I learned from your PR, you did more than solve an issue for me
Thanks again !

[2020-10-05 06:27] narcodico commented on #916
Hi @omidraha 👋

I believe this is what you're after:

[code]

Optionally you could use `dynamic` instead of `Object`, but up to you.

[2020-10-05 07:23] GyuriMajercsik commented on #1310
I confirm that this happens for me as well.

[2020-10-05 09:19] maurobotta commented on #505
@felangel
Are Dev tools available, now ?

[2020-10-05 18:21] felangel commented on #505
@maurobotta they are currently still a WIP. You can keep an eye on #1423 for updates 👍

[2020-10-05 18:22] #1790 closed

[2020-10-05 19:41] rizirf-connect commented on #778
Hey @felangel
My bloc builder does not triggered on second time
here is my bloc

[code]

[2020-10-06 00:02] TheMeanCanEHdian opened #1803 "Help with yielding results in parallel for list of indeterminate size."
I've seen a few questions here about doing things in parallel but they don't seem to apply my specific issue (or I don't know enough to know if they apply to my issue).

I have a page that needs to make an API calls and display data for a non-fixed/user-configurable amount of servers. My current method is to trigger a single event when the page is opened to make these API calls and yield the state

[2020-10-06 11:21] karadkar opened #1804 "[Feature Request] Allow Producing duplicate states"
It would be really helpful if we can produce duplicate states. It will help with the handing of one-time states eg. Navigation, Error messages, Pop-ups, etc..
This was also discussed at #362

**How do we control duplicate states then?**
- With the help of `listenWhen` and `buildWhen`

**Can we get around this by not extending `Equatable`?**
- Yes. This allows producing duplicate states but creates

[2020-10-06 12:32] II11II opened #1805 "DELETE"

[2020-10-06 14:39] felangel commented on #1804
Hi @karadkar 👋
Thanks for opening an issue!

You can produce duplicate states currently. By default if you do not extend Equatable or override `==` and `hashCode` each state instance is treated as unique 👍

[code]

The above code will trigger two state changes.

I'm guessing your states are overriding `==` and `hashCode` either via `Equatable` or `Freezed`.
Hope that helps 👍

[2020-10-06 14:43] felangel commented on #1803
Hi @TheMeanCanEHdian 👋
Thanks for opening an issue!

I would recommend adding a new event when each server is loaded rather than awaiting the response synchronously.

[code]

Hope that helps 👍

[2020-10-06 14:47] felangel commented on #1805
Hi @II11II 👋
Thanks for opening an issue!

I would highly recommend having a single cubit or bloc per feature. Instead of thinking about things in terms of UI components, think about them in terms of functionality. If the dialogs, bottomSheet, and navigation is all happening in response to the state of a single feature then you should likely have a single cubit 👍

Unfortunately, I can't provide an

[2020-10-06 14:48] TheMeanCanEHdian commented on #1803
I'll give this a try and report back, thank you for the quick response.

[2020-10-06 14:53] felangel commented on #778
Hi @rizirf-connect 👋
Does `CartItems` extend `Equatable`?

[2020-10-06 15:03] rizirf-connect commented on #778
No My cart items does not extend ewuatable its just a simple class

[2020-10-06 15:06] rrifafauzikomara opened #1806 "[Discussion] One state for all bloc, it's possible?"
For example, I have 3 features.
1. Register
2. Login
3. Home page (banner, product)

In normal cases, we create bloc like this.
1. Register -> 1 BLOC (bloc, event, state)
2. Login -> 1 BLOC (bloc, event, state)
3. Home page (banner, product) -> 2 BLOC, 1 for banner (bloc, event, state), 1 for product (bloc, event, state)

But I want only to create 1 state, so the expectation is like this.

First,

[2020-10-06 15:07] rizirf-connect commented on #778
https://github.com/rizirf-connect/brooklyn_bites/tree/master/lib/application/manage_cart_bloc
Thi is my repo

[2020-10-06 15:07] felangel commented on #778
Yeah same thing applies with freezed. Your state properties need to also override `==` and `hashCode`.

[2020-10-06 15:10] rizirf-connect commented on #778
You mean I have to use Freezed class of Cart Items instead of simple class

[2020-10-06 15:31] felangel commented on #778
@rizirf-connect yes or you can override `==` and `hashCode` a different way.

[2020-10-06 15:40] rizirf-connect commented on #778
Thankyou so much Sir @felangel you're the real bOss I'll let you know if this solves my problem thumbs up for bloc 👍

[2020-10-06 17:28] narcodico commented on #1806
Hi @rrifafauzikomara 👋

That is possible to do, but I'd highly recommend having a bloc per feature.
With the setup that you want to work with, you'd definitely break the single responsibility principle and clutter your bloc.

[2020-10-06 18:11] II11II commented on #1805
I'm lazy)
I tried to decrease code.
How?😏
Firstly, I avoided to use bloc😝(Events, States,bloc)
Then, I started to use cubit😁( No more events😎, only functions in side cubit, no need to switch between to events and StateS)😄

I'm lazy, I see I'm creating quite a few States in projects 😤(Many States are almost same f.e loading, loaded and etc but the variables in side States are different).
 So I deci

[2020-10-06 18:34] II11II commented on #1805
Example:
**1. Project structure( ForgetPasswordPage,ForgetState,ForgetCubit )
2. Code
2.1 State (view model +data model)**
[code]
**2.2 Cubit**
[code]
**2.3 UI (Bloc provider used  to access cubit)**
[code]
Please pay attention to logic)

[2020-10-06 21:40] TheMeanCanEHdian commented on #1803
This worked exactly as advertised. Thank you so much!

[2020-10-06 21:40] #1803 closed

[2020-10-06 22:01] omidraha commented on #1806
I think I have the similar issue,

It happens that some `states` and even some `events` are common to some features,  and we need to have some common `states` and `events` among  different type of `blocs`.

For example for me the `ServerIsNotAvailable` state occurred in different `blocs`  while  communication with the server is not available.

[2020-10-06 23:22] ThinkDigitalSoftware opened #1807 "[Feature Request] Support Synchronous Blocs"
**Is your feature request related to a problem? Please describe.**
I have a bloc that I use to manage other blocs and can benefit from a more synchronous design because I find myself waiting for events to be added to a second bloc before continuing
**Describe the solution you'd like**
Synchronous Blocs

**Describe alternatives you've considered**
I recently ran across [SynchronousStreamController]

[2020-10-06 23:40] rizirf-connect commented on #778
Hey @felangel thankyou so much for your response now its working properly 👍

[2020-10-07 04:24] karadkar commented on #1804
Hi @felangel
Yes, I'm using `Equatable` in my states. It really helps with the equality checks in tests and other places.
Is there any way we can produce duplicate states while also having a standard `==` and `hashCode` implementation?
Or any on-demand configuration which will allow us to do this?

[2020-10-07 06:18] rrifafauzikomara commented on #1806
Hi @narcodico

So, you mean on the home page for handling `banner` and `product` should 1 BLoC. Or you mean every BLoC should have `even`, `bloc`, and `state` (Can't using 1 state for all bloc)?

Because I thinking about a `sealed class` on `Android Native (Kotlin)`. We can create `BaseResponse` like `Loading, Error, HasData, NoData` using that class. And then on the logic layer ex: `ViewModel`, e

[2020-10-07 06:48] narcodico commented on #1804
Hi @karadkar 👋

The quickest way would be to add a `DateTime` or some unique id field to your state class.

[2020-10-07 07:08] narcodico commented on #1806
@omidraha

I'd recommend keeping events and states tied to your bloc, even if that results in a bit of code duplication, since that way you'd end up keeping your blocs completely decoupled. I think it makes sense to have a generic approach to this only if you need multiple blocs, all with the exact same states/events but a different data type.

I feel that you should have a different setup. Maybe

[2020-10-07 07:15] #1806 closed

[2020-10-07 07:38] wilsonowilson commented on #1807
If you're waiting for new events from a bloc before "continuing", why not use BlocListener to listen to new states?

[2020-10-07 08:32] narcodico commented on #1807
Synchronous means one after another, so how would that speed up your event dispatching? What you're looking for is probably parallel dispatching of events. To achieve that in your managing bloc you can override how events are being handled.

[code]
As a side note, I personally don't like the whole concept of having a managing bloc.

[2020-10-07 10:49] popay34 opened #1809 "TodosBloc Dependency inside FilteredTodosBloc"

[2020-10-07 11:47] ThinkDigitalSoftware commented on #1807
Thanks for this. I think the issue was knowing when an event was completed processing from start to finish. For me, if that required 2 blocs, I want the resulting state from the final bloc to be considered the end of the action and I can safely continue. I needed something to await. I ended up removing the dependency on the "managing bloc" and doing it directly

[2020-10-07 12:18] henryla92 opened #1810 "[Question] bloc test passes sometimes, fails sometimes?"
Hi,

I'm using flutter_bloc and fit_kit to pull some user data to display on my app. I had some issues with updating the state, sometimes it works and sometimes it didn't. So I wrote some tests to see and my tests pass sometimes and fail sometimes. Am I doing anything wrong here?

Bloc:
[code]

Repository:
[code]

ApiClient:
[code]
the test:

[code]
And the error that I get sometimes:
[code]
Am I

[2020-10-07 14:36] wujek-srujek opened #1811 "Help fix an issue due to bloc not emitting current state on subscription"
My app used to work before but stopped due to this: https://bloclibrary.dev/#/migration?id=%e2%9d%97bloc-does-not-emit-last-state-on-subscription. All is good, if this is the new way I will learn to live with it. However, it did break my application and I'm wondering what the best fix is.

The use case: a shopping list app, with 2 blocs: `ShopsBloc` which loads a list of `Shop` instances, and `Sho

[2020-10-07 15:21] #1809 closed

[2020-10-07 21:58] doddi321 opened #1813 "Trouble calling Navigator.pop(context) in bloc listener."
**Describe the bug**
I'm trying to call Navigator.pop(context) while inside the the listener part of a BlocConsumer but if I do so nothing happens, I've figured out that if I call Navigator.pop(context) twice consecutively then it pops to the previous page, is this the expected behaviour?

**To Reproduce**
build function where it is occuring:
[code]
**Expected behavior**
I expected to only need to

[2020-10-07 22:05] #1813 closed

[2020-10-08 05:03] johnyenatu opened #1814 "how to handle auto suggest tag text field with multiple inputs with other form values before submit using bloc ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-08 05:20] felangel commented on #1810
Hi @henryla92 👋
Thanks for opening an issue!

I’m guessing it’s because your test seems highly dependent on DateTime.now() which causes it to be flaky. If you can share a link to the repo I’m more than happy to take a closer look and open a PR with suggestions 👍

[2020-10-08 08:38] popay34 opened #1815 "Blocs communication with each other"
Hello! In Todos example we have two blocs witch are communicate with each other: FilteredTodosBloc and TodosBloc.
This is a part of code in main.dart file witch create dependencies:
[code]
How to create dependencies if i use get_it package? Because this method does not work:
`BlocProvider<FilteredTodosBloc>(create: (context) => getIt<FilteredTodosBloc>()), `

[2020-10-08 12:00] huang12zheng opened #1816 "question: How to use Navigator2 and bloc with flutter is 1.22"
my code:
[code]

Can I stop using BlocListener ?

[2020-10-08 15:16] SaeedMasoumi commented on #1804
+1 for this feature request. I don't think it's a good idea to remove `Equatable` from states.

[2020-10-08 15:18] felangel commented on #1804
@karadkar and @SaeedMasoumi why do you feel this is needed? If the state of the bloc has not changed why do you want to notify listeners?

[2020-10-08 15:19] felangel commented on #1814
Hi @johnyenatu 👋
Thanks for opening an issue!

Can you please fill out the issue template and provide more information? Just based on the title of the issue I don't think I have enough information to help.

[2020-10-08 15:20] felangel commented on #1811
Hi @wujek-srujek 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/1766. Can you take a look and let me know if that helps? Thanks! 🙏

[2020-10-08 15:42] wujek-srujek commented on #1811
Hi, yes, that's another option in general, but in my case, I also apply a filter so the code will not be that simple. In the meantime, I found another solution for my case: I normally don't pass BLoCs to other BLoCs if a simple Stream will suffice, so what I do now is:

[code]
I will close this issue as I guess all my questions are answered: there is no general solution and the fix needs to be con

[2020-10-08 15:42] #1811 closed

[2020-10-08 16:19] vladimirshramov commented on #1804
@felangel , I suppose, that the case is defining equals() and hashcode() as unique constraight in DB, when developers try to dispatch entity with updated fields but with the same keySet, they have such problems.

[2020-10-08 17:00] SaeedMasoumi commented on #1804
@felangel One more example can be like this:
Assume that users can log in to the app as a guest or as a registered user. In different screens, we need to show specific widgets based on their login state. So, we create a reusable Bloc, called `UserBloc`, which dispatch the user state (including their tokens, profile and etc). In this case, same state can be dispatch multiple times.
Also:
- We need

[2020-10-08 18:00] fluttercorner commented on #549
[How to Create TabBar in Flutter Complete Guide To Make TabBar](https://fluttercorner.com/how-to-create-tabbar-in-flutter-complete-guide-to-make-tabbar/)

[2020-10-08 18:30] JErazo7 commented on #1815
The same doubt

[2020-10-08 18:43] JErazo7 opened #1817 "Cannot execute more than one initial event in a MultiBlocProvider"
**Describe the bug**
I have the following MultiBloc Provider:
`MultiBlocProvider(
        providers: [
          BlocProvider<ProfileBloc>(
              create: (context) => getIt<ProfileBloc>()
                ..add(ProfileEvent.started(isNew: isNew))),
          BlocProvider<SyncBloc>(
              create: (context) =>
                  getIt<SyncBloc>()..add(SyncEvent.initialize())),

[2020-10-08 19:38] #1817 closed

[2020-10-08 22:44] felangel commented on #1804
@vladimirshramov if the fields have been updated shouldn't the values no longer be equal?

@SaeedMasoumi but if the same state is emitted why would you expect the UI to update? The user in that case would not have changed.

[2020-10-08 22:49] felangel commented on #1815
Hi @popay34 👋
Thanks for opening an issue!

That should work as long as you've registered both blocs properly like:

[code]

Hope that helps 👍

[2020-10-08 23:01] SaeedMasoumi commented on #1804
@felangel Because of different screens, For example:
- User is on the Home page and we show a popup to encourage him to register on our app (so we need to get the state of the user from our bloc)
- Then the user clicks on My Order button and he will be navigated to a new screen, in this screen we show him a widget that tells him he can not see any order because he is not registered. Again we need

[2020-10-08 23:19] vladimirshramov commented on #1804
@felangel You are right. And I do not add +1 to this request). What i mean is that equals defined not well but it happens. Imho it will be helpful to add one more demo for {one repo + one bloc with complex state + two consumers} case

[2020-10-09 04:44] felangel commented on #1816
Hi @huang12zheng 👋
Thanks for opening an issue!

With the Pages API you can use a BlocBuilder to handle navigation in response to state changes. The following is an example just to demonstrate the concept but I generally don't recommend having events like `push`/`pop` and tightly coupling your bloc to navigation.

[code]

Hope that helps 👍

Closing for now but feel free to comment with additional

[2020-10-09 04:44] #1816 closed

[2020-10-09 05:36] karadkar commented on #1804
[code]
@felangel
**> If the state of the bloc has not changed why do you want to notify listeners? Can you please provide a use-case?**
- We need to show some "Error message" when the user does a wrong action. Users may do that wrong action again so we'll need to show that same message again.
- Another user-case can be of navigation.
On ScreenA, `Event` -> `Some operation` then `State(Navigate to

[2020-10-09 21:06] felangel commented on #1814
Closing for now since there isn't enough information in the issue. Feel free to add additional info and I'm happy to continue the conversation 👍

[2020-10-09 21:06] #1814 closed

[2020-10-09 21:06] felangel commented on #1810
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-10-09 21:06] #1810 closed

[2020-10-09 21:07] felangel commented on #1815
Closing for now but feel free to comment if you have additional questions and I'm happy to continue the conversation 👍

[2020-10-09 21:07] #1815 closed

[2020-10-10 09:17] Sathish9222 opened #1818 "Wrap with blockprovider is not visible in refractor"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Logs **
Run `flutter analyze` and at

[2020-10-10 14:15] huang12zheng commented on #1816
[code]

[2020-10-10 15:03] felangel commented on #1818
Hi @Sathish9222 👋
Thanks for opening an issue!

Can you please fill out the issue template and provide steps to reproduce the issue? Thanks 🙏

[2020-10-10 16:35] Sathish9222 commented on #1818
Hi ,
Please find the below screen shot. Not able to find the bloc in refractor

![image](https://user-images.githubusercontent.com/20543188/95660327-c87dfb00-0b2f-11eb-9d01-5594a2e90345.png)

[2020-10-10 23:35] QAQyzk commented on #1818
I think the problem is 'wrap with bloc' only exist in quick fix (ctrl+.) not in refactor(ctrl+shift+r)

[2020-10-11 08:02] johnyenatu commented on #1814
hello felangel I am trying to get multiple  key value pairs from text field and add them to array object but I have no Idea how can I Implement this can you help ?

[2020-10-11 08:11] johnyenatu commented on #1814
import 'package:flutter/material.dart';

import 'model/lable.dart';

void main() {
  runApp(MyApp());
}

class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Demo',
      theme: ThemeData(
        primarySwatch: Colors.blue,
        visualDensity: VisualDensity.adapti

[2020-10-11 12:27] Sathish9222 commented on #1818
Ok dear .thank you got it.

[2020-10-11 13:55] #1818 closed

[2020-10-12 07:44] ritik-playground opened #1819 "Best Practices to follow while using bloc."
The flutter_bloc package already has great documentation and examples to get started easily. But, when it comes to the best practices to be followed when using bloc, there's not much sources out there.
**By best practices, I mean:**

- One Bloc per feature.
- Don't mutate your state.
- Don't define any data in the bloc.

If there was a curated article or a video about the best practices to be foll

[2020-10-12 15:11] flutter-clutter opened #1820 "bloc_test: whenListen() raises _TypeError: '_EmptyStream<dynamic>' is not a subtype of type 'Stream<TestState>"
**Describe the bug**
I have a clean project setup with only one BLoC, one State and one Event.
I am trying to use `whenListen()` to mock the BLoC state emission in a widget test.
The call of `whenListen()` immediately raises the following exception:

[code]

**To Reproduce**
Create a new Flutter project and add the following classes:

[code]

[code]

[code]

And this test:

[code]
Dependencies:

[

[2020-10-13 02:47] MasterHiei opened #1821 "VSCode Extension: cubit state template seems to have a typo"
**Describe the bug**
cubit state template seems to have a typo like below:
[code]
https://github.com/felangel/bloc/blob/master/extensions/vscode/src/templates/cubit-state.template.ts#L53

**To Reproduce**
Generate new cubit with vscode bloc extension

**Expected behavior**
Fix it if need be.

[2020-10-13 04:30] felangel commented on #1820
Hi @flutter-clutter 👋
Thanks for opening an issue!

I believe the issue is you aren't specifying the state type of the `MockBloc`. Can you try updating the MockBloc definition to:

[code]

Let me know if that helps 👍

[2020-10-13 04:38] #1821 closed

[2020-10-13 04:38] felangel commented on #1821
Hi @MasterHiei 👋
Thanks for opening an issue!

This has been fixed in #1822 and published in v5.3.1 🎉

[2020-10-13 04:57] felangel commented on #1807
@ThinkDigitalSoftware was your issue resolved or do you still feel this issue should remain open?

[2020-10-13 05:21] ThinkDigitalSoftware commented on #1807
I didn't really have an issue, just thought someone more experienced than I am might find it useful

[2020-10-13 05:28] felangel commented on #1807
Sounds good! Closing for now then if there is no additional work needed 👍

[2020-10-13 05:28] #1807 closed

[2020-10-13 07:15] flutter-clutter commented on #1820
Ahh, I see. Now the error message makes more sense! I was just irritated by `_EmptyStream`, but that's probably because a Stream is initialized empty. I should have put more emphasize on `<dynamic<`. That was the hint that there was something wrong about the type :). Thank you!

[2020-10-13 07:15] #1820 closed

[2020-10-13 11:03] engineerdeep opened #1827 "Architecture for repositories within blocs"
Hi @felangel 👋 ,

I'm sorry if this question was already asked, I tried to search the same but it wasn't quite answered.

I've created blocs into their own separate packages along with the repository and data provider.

I noticed in your [fluttersaurus](https://github.com/felangel/fluttersaurus) project (and in many other examples) you're using `RepositoryProvider` to add a repository to a widget

[2020-10-13 12:01] rodrigobastosv commented on #1827
Hi @engineerdeep ,

Adding the repository dependency on the UI make it simples when you try to test your code, since you can always pass a mock instance of repository to your bloc. Besides that, when trying to text your widgets you can easily mock that too.

[2020-10-13 13:01] lambasoft commented on #1781
@felangel

Thank you for your answer, and sorry for the late reply.
Your example worked perfectly, but in case I wanted to pass multiple cubits/blocs do I have to pass them all as arguments? I can't use MultipleBlocProvider?

[2020-10-13 13:11] engineerdeep commented on #1827
Hi @rodrigobastosv,

Thank you for the quick response. Wouldn't mocking the repository be possible when we test the bloc package itself with the repository added there? I don't have much experience with mockito so please pardon me if I'm wrong.

[2020-10-13 13:28] rodrigobastosv commented on #1827
Hi @engineerdeep,

If you create the repository instance inside of the bloc it will be much harder to mock this instance.

Passing the repository instance through bloc constructor greatly simplify things, because while testing you can create your mock repository instance and pass it to the bloc you are testing.

I hope i made myself clear :)

[2020-10-13 14:13] felangel commented on #1781
@lambasoft in most cases I wouldn't recommend having a global navigatorKey and instead just using the nearest Navigator using the current `BuildContext`.

[2020-10-13 20:18] lambasoft commented on #1781
@felangel Thank you :)

[2020-10-13 22:00] engineerdeep commented on #1827
Hi @rodrigobastosv,

Oh yes, I get it. For some reason I was assuming I wouldn't have to pass the repository if in my bloc package I pass the repository through the constructor . I would have to create the bloc in my UI and would have to pass the repository instance anyway, my bad!
Thank you so much! :)

[2020-10-13 22:46] henryla92 commented on #1810
That solved it! Thank you so much. 🙏🙏

I didn't expect the `DateTime.now()` to be the culprit haha 🤷

[2020-10-14 06:23] opimand commented on #1305
Found someone example? I too can't understand how correct do that

[2020-10-14 06:57] #1827 closed

[2020-10-14 09:28] Peng-Qian opened #1829 "[Test] Question: is blocTest always emit first state even first state equals initial state?"
#### Question
Is blocTest will always emit the state even the first state equals the initial state?

I notice there is [a breaking change](https://github.com/felangel/bloc/issues/1512), is this a side-effect of it?

[code]

[2020-10-14 14:20] felangel commented on #1829
Hi @Peng-Qian 👋
Thanks for opening an issue!

That was an intentional change made to allow blocs to "reignite" (re-notify) listeners if needed when they are created. This is working as expected and if you'd like you can just skip it 👍

Hope that helps!

[2020-10-14 14:23] #1829 closed

[2020-10-14 15:07] aytunch opened #1830 "Two new BlocObserver callbacks: onCreate, onDispose"
**Is your feature request related to a problem? Please describe.**
Currently in `BlocObserver` we have `onEvent`, `onChange`, `onTransition` and `onError`
These are the things that happen throughout the Bloc's lifecycle.
However we don't know when the Blocs actually get created and get disposed.

**Describe the solution you'd like**
It would be SUPER helpful if we had something like `onCreate` and

[2020-10-14 15:20] felangel commented on #1830
Hi @aytunch 👋
Thanks for opening an issue!

Can you provide some more information regarding why you need this in the `BlocObserver`? Couldn't you override `close` on your blocs as well as the constructor to know when they are created and disposed?

[code]

[2020-10-14 15:39] aytunch commented on #1830
Hi @felangel 👋
I already override `close()` in all of my Blocs since I have subscriptions to cancel in nearly all of them.
Being able to see the creation and disposing of all the blocs from `BlocObserver` would be very convenient.
Afaik `onEvent` can easily be tracked inside of a Bloc's `mapEventToState` too. Similarly, `onTransition` while we yield a new state.
I see`BlocObserver`s behaviour as a

[2020-10-14 15:50] felangel commented on #1830
@aytunch thanks for the clarification! I don't see an issue with adding them for debugging/logging purposes 👍

[2020-10-15 00:16] ajaygautam commented on #1748
Thanks for this quick fix!
The migration guide should make this clear.
I got stuck try to set an observer on MyAppBloc (instead of the parent Bloc class!) :(

[2020-10-15 04:37] mahdi-jafaree opened #1831 "Bloc not adding event after navigating back to the previous screen."
I am handling the login process of firebase otp using bloc pattern. I have a loginBloc that handles the logic part, in this case the OTP using the firebaseauth.verifyPhoneNumber(...) function. The auth service provides the methods and its callebacks as you can see in the code. the process i am doing is:
1- when user press the login phone button on StartupScreen, he/she will be navigated to the Otp

[2020-10-15 04:39] felangel commented on #1831
Hi @mahdi-jafaree 👋
Thanks for opening an issue!

Can you please share a link to a sample app which reproduces the issue? It would be much easier to help if I can run the code locally, thanks! 👍

[2020-10-15 04:44] mahdi-jafaree commented on #1831
I can share the process by sharing a screen recorded video, is it good?  I may not share the code.

[2020-10-15 04:54] mahdi-jafaree commented on #1831
Here is all involved code for this process.

Login state

[code]

Login event

[code]

LoginBloc :

[code]

auth bloc
[code]
auth states
[code]
auth events
[code]
Sign in button widget in Startup page
[code]

OTPLoginScreen

[code]

auth service

[code]

[2020-10-15 05:43] felangel commented on #1748
@ajaygautam this should be covered in the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97blocdelegate-renamed-to-blocobserver). Let me know if it was unclear/confusing and if there's anything you'd like to add or adjust 👍

[2020-10-15 05:46] felangel commented on #1831
@mahdi-jafaree can you please provide a link to a working project rather than the individual code snippets? It's a lot more difficult to pin-point the issue based on a bunch of snippets, thanks!

[2020-10-15 05:53] mahdi-jafaree commented on #1831
can you tell me how? its a private project in github.

[2020-10-15 15:32] SachinTanpure commented on #1804
does copyWith help? If yes how?

[2020-10-15 19:11] #1830 closed

[2020-10-15 19:31] paktalin commented on #1100
Hi, @felangel ! I was also wondering about the same question and discover that your link is no longer available. Could you fix it please? 🙂

[2020-10-15 22:56] aytunch commented on #1830
Thanks a lot. This was lightning quick 👍
So will we able to try it with flutter_bloc 6.0.6?

[2020-10-16 15:25] felangel commented on #1830
@aytunch it's available in `bloc v6.1.0` 👍

[2020-10-16 15:41] aytunch commented on #1830
@felangel Hi, is onCreate and onClose only for Cubits? I am using regular Blocs. Can i see them in these callbacks as well?
[code]

[2020-10-16 15:42] felangel commented on #1830
@aytunch a bloc is also a cubit so it will work for both 👍

[2020-10-16 15:42] aytunch commented on #1830
Phew. Thats a BIG relief :D

[2020-10-16 16:23] ngxingyu commented on #75
Here's a solution that worked for me to hide the back button and prevent moving back conditionally.
[code]

[2020-10-17 05:14] chimon2000 opened #1837 "Docs: migrating from library X"
**Is your feature request related to a problem? Please describe.**
Currently, migrating from another library requires you to do a manual comparison of samples from both libraries to fill in the gaps.  It would be nice to have documentation for people migrating from other popular state management solutions, such as ChangeNotifier, StateNotifier, MobX, or Redux.

**Describe the solution you'd like**

[2020-10-17 13:14] sixseven49 opened #1838 "Bloc Listener isn't triggering"
Hello!
I'm new to bLoc and I wrote a section in my application with a bloc listener but it isn't triggering as expected. I have attached some images of the code below. Here in the Stream I first call loading state, then I end a try-catch to retrieve data. Once the request is complete and it successfully returns the expected model, I call the success state "AddressFormSuccessfullySaved". I expected

[2020-10-17 13:21] basnetjiten commented on #1838
I didn't saw the cubit used in the Listener,  please use cubit:_yourBlocInstane. Also Please try checking if address value is null in your case.

[2020-10-17 13:22] sixseven49 commented on #1838
Thank you for your reply @basnetjiten. But I'm a little confused, Im not using a cubit but in the bloc listener i am referencing the AddressFormBloc

[2020-10-17 13:24] narcodico commented on #1838
Hi @sixseven49 👋

Are you extending `Equatable` on your address model ? If you could you share the code for it ?

[2020-10-17 13:24] sixseven49 commented on #1838
![Screenshot 2020-10-17 at 14 24 21](https://user-images.githubusercontent.com/13555311/96338227-76375f80-1084-11eb-8840-e55dccc93778.png)
The image above shows that address is not null and the success state is being executed.

[2020-10-17 13:25] sixseven49 commented on #1838
@narcodico Yes I am :)

[2020-10-17 13:26] sixseven49 commented on #1838
![Uploading Screenshot 2020-10-17 at 14.25.59.png…]()

[2020-10-17 13:27] narcodico commented on #1838
You mind sharing the code for the address model ?

[2020-10-17 13:28] basnetjiten commented on #1831
Based on your explanation, I can roughly estimate that the loginBloc is needed in the Otp  page, which you are receiving using BlocProvider.of<loginBloc>(context), the problem is when you come back to the otp (as you said for changing the number), the BlockProvider is no loger there (as it is coming back from different pages),  The solution is to pass the loginBloc to Otp page and when you want to

[2020-10-17 13:28] sixseven49 commented on #1838
import 'package:equatable/equatable.dart';
import 'package:json_annotation/json_annotation.dart';
part 'address_model.g.dart';

@JsonSerializable()
// ignore: must_be_immutable
class AddressModel extends Equatable{
  String id;
  String line_1, line_2, city, country, postcode; // address
  double latitude, longitude;// address

  AddressModel(this.id, this.line_1, this.line_2, this.city, this.coun

[2020-10-17 13:37] basnetjiten opened #1839 "BlocBuilder does not rebuild Widget ( when its a column widget that uses spread operators)"
Stateful widget
     inside state
     ===>declare List<Widget> myWidgetList
     inside  initState
      =======> myWidgetList=[ ];

     inside builder(buildContext)
      ======> BlocBuilder(){
      if(state is success){
      myWidgetList= List.generate(8,i)=>MyAwesomeWidget(somedata(i));
     return Column(children:[
         ...myWidgetList.map(e)=> return e.toList()]
        }
    }

Here

[2020-10-17 13:38] narcodico commented on #1838
You should mark all your properties with `final` and pass them to your `props`.
[code]

[2020-10-17 13:40] sixseven49 commented on #1838
@narcodico Thank you for the suggestion, but the bloc listener is still not triggering on "AddressFormSuccessfullySaved"

[2020-10-17 13:47] basnetjiten commented on #1838
Also you can try using BlocObservers for checking the transitions, may be your snackbar context is not working, Trying using return Text("some value) or a print statement to check if that state is reacting.

[2020-10-17 13:54] narcodico commented on #1838
Feel free to share a minimal reproduction of your issue in a repo.

[2020-10-17 13:54] sixseven49 commented on #1838
So I have a address_page then has the blocBuilder and then when state is either  AddressFormSuccessfullySaved,  AddressFormInitial it will show the address_screen where the blocListener is situated. For the scaffold context I pass that through to the screen widget. Are you saying that context isn't working? because when I first enter the page the AddressFormInitial state triggers the snackbar on l

[2020-10-17 14:00] EngAddow commented on #1831
@mahdi-jafaree  you can create new project and combine these code snippets and run then you can upload to github/bitbucket/gitlab and share the link simple bro

[2020-10-17 14:16] narcodico commented on #1838
Probably your values equality is not properly set up. I can't really tell what you're doing from some incomplete screenshots. Please share a github repository with your issue.

[2020-10-17 14:18] sixseven49 commented on #1838
@narcodico can I send a video how whats happening rather than sharing the full repo as it is an application for a company?

[2020-10-17 14:22] narcodico commented on #1838
If it's a private repo then please create a small example which illustrates your issue and share it. We should be able to run your sample locally, I'm sure your understand that.

[2020-10-17 14:46] kranfix commented on #1838
Do you have a token saved in shares preferences?
Maybe it is dispatching an AddressFailedToLoad.

[2020-10-17 15:29] sixseven49 commented on #1838
@kranfix Thank you for your reply.
yes, Tokens are saved in shared preferences but everything is working and the success staste is being called as expected. But the issue if as I have a page that then contains a bloc builder and depending on the state it will show the screen widget that contains the bloc listener. please see the below images.

![Screenshot 2020-10-17 at 16 28 43](https://user-imag

[2020-10-17 15:37] samramez opened #1840 "How to avoid BlocBuilder of all the similar classes get called."
I'm dealing with an issue where my app has a page called `Apartment` and it has a `BlocBuilder` implemented in it to handle the states of API calls.

Lately, I noticed that whenever I navigate to a new `Apartment` page, the `BlocBuilder` of all the opened `Apartment` pages in Stack also become active and update their state again.

**Additional Context:**
I should add that inside the `Apartment` cl

[2020-10-17 15:50] sixseven49 commented on #1838
@narcodico I made an example flutter app showing the same issue im having how is the best way to present it?

[2020-10-17 15:52] sixseven49 commented on #1838
@narcodico https://github.com/sixseven49/blocListener_demo

[2020-10-17 18:17] narcodico commented on #1838
Fixed in this [PR](https://github.com/sixseven49/blocListener_demo/pull/1).
Your listener can't react if you're placing it in a widget that only gets rendered when state is of certain type, like loaded.
The listener needs to be present in the tree at the time when the new state is emitted.
As a side, there's no point in using callbacks to add events to your bloc, you can directly add them instead

[2020-10-18 02:01] samramez commented on #1840
This Stack overflow question is also asking very similar concern to mine:
https://stackoverflow.com/a/62850216/1366145

There is one response which is suggesting "using a distinct Bloc instance for each page". This makes sense to me but how are we able to implement this?

[2020-10-18 03:45] ajaygautam commented on #1748
@felangel thanks for the response.
My apologies. I didn't read correctly. All set now. Thanks

[2020-10-18 04:16] felangel commented on #1840
Hi @samramez 👋
Thanks for opening an issue!

You can create/provide a different instance of the `BuildingInfoCubit` but wrapping each `Apartment` page in it's own `BlocProvider`

[code]

This will ensure that each `AptPage` has it's own instance of `BuildingInfoCubit` so changes to the state of one cubit will not impact/trigger rebuilds of other pages.

Hope that helps 👍

[2020-10-18 04:17] felangel commented on #1839
Hi @basnetjiten 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which reproduces the issue? Thanks 👍

[2020-10-18 04:19] #1838 closed

[2020-10-18 04:20] felangel commented on #1831
@mahdi-jafaree as @EngAddow mentioned, the best way for us to help is if you create a new public repository with the minimum amount of code needed to reproduce the issue you're having, thanks! 👍

[2020-10-18 07:12] mahdi-jafaree commented on #1831
Thank you @EngAddow @felangel @basnetjiten for your response!
I didn't use bloc for that part because i had to deliver the project very soon. so right now I want to close this then i will provide the repository and code to check. Right now i am working on the rest of the task.

[2020-10-18 07:12] #1831 closed

[2020-10-18 10:38] amartya-dev opened #1841 "UI not getting updated on changes in the state"
**Describe the bug**
I am trying to make something similar to `flutter_wtih_streams`. I have made my own stream connected to a gRPC server and I want to be able to show the changes in data in realtime on the UI, the problem is that even though when I print the values in console, it shows the change but the same is not reflected in the UI.

**Code sample**
main.dart
[code]
The stream
[code]

The mo

[2020-10-18 10:40] amartya-dev commented on #1841
If anyone wants to have a look at the full code, they can go and see https://github.com/amartya-dev/ventilator_software_flutter

[2020-10-18 14:11] samramez commented on #1840
Thanks @felangel .

I tried your solution but I get this famous error:

<img width="370" alt="Screen Shot 2020-10-18 at 10 09 27 AM" src="https://user-images.githubusercontent.com/2984278/96369871-109dae80-112a-11eb-8efb-78e333c23fa7.png">

The context I'm passing here is a `BuildContext` of a parent widget.

previously I implemented all of my `BlocProviders` above `MaterialApp` and didn't get thi

[2020-10-18 15:01] samramez commented on #1840
Follow up:

I was able to fix the above issue by not calling the `BlocProvider.of<BuildingInfoCubit>(context))` in the same child where I'm defining `BlocProvider`s.

Thank you @felangel your response was so helpful as always.

[2020-10-18 20:49] mzafer opened #1842 "Ideal place for the root Bloclistener , to prevent pushNamedAndRemoveUntil from removing it from the widget tree"
This is more of  design question than an issue but have spent quite a bit of time, any ideas how to resolve this will help. The functionality I am trying to get is after a user signs in, one should not be able to go back to the previous screen( the Signin screen). I am using pushNamedAndRemoveUntil() to reset the navigation but it also remove the widget that has the authBloc listener from the tree

[2020-10-19 07:19] hacker1024 opened #1843 "(Login tutorial) Document how to use a User with other blocs?"
**Is your feature request related to a problem? Please describe.**
My app has multiple features that use authenticated API calls. The login example/tutorial has been great for getting the architecture started (thanks!), but one thing remains unclear. How can API calls made from other blocs/repositories make use of the `User` object?

- The `User` is part of the `AuthenticationState`, so other bloc

[2020-10-20 05:33] Spriggan1992 opened #1844 "a issue appears when I try to access the state"
Exception has occurred.
_CastError (type 'BricksGameLoading' is not a subtype of type 'BricksGameSuccess' in type cast)

 I've got  this error even when i just try to print a state.

**BricksGameState**
[code]

**BricksGameBloc**
[code]

**BricksGameEvent**
[code]

What am I doing wrong?

[2020-10-20 06:44] #1844 closed

[2020-10-20 15:55] felangel commented on #1841
Hi @amartya-dev 👋
Thanks for opening an issue!

I believe the issue is you are mutating the state rather than emitted a new instance of the state each time.

If you change

[code]

to

[code]

I believe that should solve the issue. Let me know if that helps 👍

[2020-10-20 15:56] #1840 closed

[2020-10-20 16:11] felangel commented on #1843
Hi @hacker1024 👋
Thanks for opening an issue!

There are several things you can do:

The simplest is probably to expose an extension on `BuildContext` to perform the lookup and fetch the current user.

[code]

This could then be used through the widget tree to access the current user and inject it into other blocs like:

[code]

Hope that helps!

Closing for now but feel free to comment with addit

[2020-10-20 16:11] #1843 closed

[2020-10-20 16:33] felangel commented on #1842
Hi @mzafer 👍
Thanks for opening an issue!

I've opened a [pull request](https://github.com/mzafer/MyFlutterBloc/pull/1) with suggestions for how to simplify the navigation and achieve the desired outcome. Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-10-20 16:33] #1842 closed

[2020-10-20 16:33] felangel commented on #1839
Closing for now since there isn't enough information to reproduce the issue. Feel free to comment with a link to a reproduction sample and I'm happy to continue the conversation 👍

[2020-10-20 16:33] #1839 closed

[2020-10-20 16:34] jifalops commented on #1429
IMHO, just expose the `_controller.stream` so it can be transformed, etc. The `listen()` method doesn't do anything unique except lazily initialize `_controller`, it just forwards parameters. In my experience this is usually a code smell. This would accomplish the same thing an allow users much more flexibility:
[code]

Instead of:

[code]

[2020-10-20 16:34] #1841 closed

[2020-10-20 16:38] felangel commented on #1429
@jifalops thanks for the input. The reason for the current implementation is to make blocs and cubits extend `Stream` as described by https://github.com/felangel/bloc/issues/558. By making this change we would either need to still maintain a `listen` for backward compatibility or essential revert the change described above which would be a very large breaking change.

[2020-10-20 17:28] amartya-dev commented on #1841
Yes you are right, I was resetting the state every time and basically returning an empty list there, I changed the code to actually copy all the points and then add a new one, you think there can be optimization on that?
[code]

Also, I have tried to maintain the length at 20, if you think there is a better way to do this, please let me know :) Thank you very much for your help

[2020-10-20 17:41] felangel commented on #1841
No problem!

You should be able to do something like:

[code]

Hope that helps 👍

[2020-10-20 20:13] truongduy997 opened #1845 "BlocProvider.of() called with a context that does not contain a Cubit"
**Describe the bug**
BlocProvider.of() called with a context that does not contain a Cubit
 - I want to add event with BlocProvider.of<Bloc>(context), but I got this error. Help meee!!!!!

![image](https://user-images.githubusercontent.com/43513612/96638955-26d68500-134b-11eb-8412-a129ad1567b2.png)

[2020-10-20 20:19] wujek-srujek opened #1846 "Problem with widget test of a BLoC with bool state"
Please note that this bug (?) has been observed on version 2.0.0 of the library. Yes, my workplace is a sad place. However, maybe you know this one and can say when it was fixed and what was going on, or maybe it is reproducible on a newer version?

**Describe the bug**

Our BLoC's state is a simple `bool`. When we run the application, all works fine, it's the test that is giving us issues. We moc

[2020-10-21 03:42] venkateshironman commented on #1845
BlocProvider.of() will be used to get the existing bloc

// with extensions
context.bloc<BlocA>();

// without extensions
BlocProvider.of<BlocA>(context)

Below method is used to create bloc

BlocProvider(
  create: (BuildContext context) => BlocA(),
  child: ChildA(),
);

[2020-10-21 04:35] hacker1024 commented on #1843
Thanks for the advice!

This doesn't quite work for me, for a couple of reasons:

1. The other blocs would have no way of knowing when the user changes; if the auth bloc assigns a new user to the `user` variable, the existing blocs would still be holding on to the old instance.

2. This is putting the responsibility on the bloc layer to supply a user to additional repositories. As the user is only

[2020-10-21 06:43] jaydangar opened #1847 "Not updating UI on Deleting an Item from List"
Hello I am working on an app where I need to use List<String> as data. I am able to add new String into the list, and clear it. But  There's one feature in which I need to clear Items one by one from the last index. using bloc I am able to clear last Item once, but then nothing happens in terms of UI, in Bloc the data are being updated. Kindly look into the code and suggest some ideas. Thanks & Re

[2020-10-21 07:15] wujek-srujek commented on #1846
I created a small app that should reproduce the error, but I can't, which means it only fails in our app. I will close this until we know more, which may be never. Sorry for the noise.

[2020-10-21 07:15] #1846 closed

[2020-10-21 07:37] kadnan0900 commented on #1305
Any good example of socket.io-client-dart with Bloc ?

[2020-10-21 07:53] opimand commented on #1305
Yes

On Wed, Oct 21, 2020, 10:38 AM kadnan0900 <notifications@github.com> wrote:

[2020-10-21 10:25] kadnan0900 commented on #1305
@opimand can you share it ?

[2020-10-21 12:45] felangel commented on #1846
@wujek-srujek keep me posted and let me know if there's anything I can do to help 👍

[2020-10-21 16:19] estem opened #1848 "HomePage does not display when I click the login Button"
Hello,

first of all, thank for these amazing articles, I have just one issue for the flutter_login exemple, when I enter a correct username and password, and then clicked on the login button thye home page does not displayed.

Thank you

[2020-10-21 16:27] amartya-dev commented on #1841
Yeah I get your point, the thing is I wanted to be able to add the datapoint to the current list and remove the first one, though it is fine, I get the thing. Thank you very much for your help :)

[2020-10-21 17:35] venkateshironman commented on #1848
Have you navigate the screen after successful login ?

[2020-10-21 21:30] Classy-Bear commented on #538
I'm now developing an app and faced the same problem but I conclude it was unnecessary for the following:

The definition of `BlocBuilder` according to the documentation is:

[Source](https://bloclibrary.dev/#/flutterbloccoreconcepts?id=blocbuilder)

So BlocBuilder should be use only when a widget will response to new states.

<details><summary>This is wrong</summary>

[code]

</details>

<details

[2020-10-21 23:13] QAQyzk commented on #1847
The problem is reuse the variable `userInput ` for new state. Because list does not change its reference when the element changed.

One solution will be to replace

to `yield QuizRemoveState(List.of(userInput));` which make copy of the original list and pass it to `QuizRemoveState `

[2020-10-22 00:37] felangel commented on #1845
Hi @truongduy997 👋
Thanks for opening an issue!

Please make sure you are trying to access the bloc from a different `BuildContext`.

You cannot access it directly from the same context because that BuildContext does not have access to the bloc.

[code]

[code]

Let me know if that helps 👍

[2020-10-22 00:39] felangel commented on #1848
Hi @estem 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the issue? There isn't enough information at the moment to help. Thanks!

[2020-10-22 00:54] github-actions[bot] opened #1849 "[Translations] Update docs"
Update Translations to include changes from 900d2c236b8421ff31d0dca99c92fa8232dd2f94.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-10-22 01:42] mzafer commented on #1842
Hi @felangel ,

Thanks for your response. The changes you recommended is where I started based on your various examples. But overtime my app has grown big and complex, so had  to make some changes, 1) Moved all routing logic to it own  service class, 2) Introduced fluro to manage routing.  If I were to go back per your recommendation above it would bloat my Main.dart file.  Any other alternative t

[2020-10-22 07:34] rabyunghwa commented on #1723
Hello! I have a question and I really need your help. So is the BLoC automatically closed after an event is added? I suspect that the reason why the second event doesn't trigger mapEventToState is that the BLoC has already been closed. If this is the case, then what should I do to fix it? Thanks in advance!

[2020-10-22 08:06] estem commented on #1848
Hello @felangel

the issue was in the login_form :
`class _LoginButton extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return BlocBuilder<LoginBloc, LoginState>(
      buildWhen: (previous, current) => previous.status != current.status,
      builder: (context, state) {
        return state.status.isSubmissionInProgress
            ? const CircularProgressIndicator

[2020-10-22 09:20] II11II commented on #1805
BlocListnener is not working,

**CUBIT code**
[code]
 **State CODE**
[code]

**UI CODE**
[code]

[2020-10-22 10:43] mzafer opened #1850 "Hydrated_bloc - Delete storage"
I am using Hydrated_Bloc and it works as a breeze for caching data locally. But when I try to delete the data ( say when the user signs out ) the data is not cleared from the storage. I have tried the below two options

1. Clearing at the storage level

`await HydratedBloc.storage.clear();`

2.  In the bloc, clear the specific bloc based on a Clear event

[code]
The #1 almost never worked and the

[2020-10-22 11:12] PandaGeek1024 opened #1851 "Cubit bloc consumer never receives second state"
It is so weird that it only happens on this specific page. In the blocConsumer,  listener receives the state with EditProjectLoading status and GeneratePdfFailed status correctly, but for builder it only receives state with EditProjectLoading status. Really need some help on this.

[code]

[2020-10-22 11:56] jaym-inci opened #1852 "Flutter - Bloc builder is not updating UI state in Alert Dialog?"
I am trying to implement a Feature using Flutter BLoC Pattern in which i want to update the UI theme based on the selection of Theme Type from Alert Dialog, but when i try to implementing this functionality using Flutter BLoC pattern my UI doesn't get update in Alert Dialog

currently, i have Applied workaround Solution for changing theme by dispatching two BLoC Events
1. to Set the Theme
2. to Ge

[2020-10-22 13:23] II11II commented on #1805
@felangel

[2020-10-22 13:48] venkateshironman commented on #1848
Please provide the bloc class also.
Think so you didn't added a navigate code after successful login

[2020-10-22 13:52] venkateshironman commented on #1851
Remove equatable in state class it will work

[2020-10-22 13:53] truongduy997 commented on #1845
Thank @felangel and @venkateshironman so much, i'm done =))
Because i called BlocProvider.of<BlocA>(context) outside BlocBuilder, thank you again for your help !!!!

[2020-10-22 14:01] #1845 closed

[2020-10-22 14:02] PandaGeek1024 commented on #1851
@venkateshironman appreciate your input, but how does cubit compare without equatable?

[2020-10-22 14:07] mikededo commented on #1851
@PandaGeek1024 `Equatable` it is just a shorcut to avoid implementing `hashCode` and the `==` operator. So, under the hood, it is using this methods (you can check the implementation in the `Equatable` package repository).
It still compares it with the mentioned methods.

[2020-10-22 14:15] mikededo commented on #1796
It is a good idea, however, I believe that all tutorials use nearly all elements of `flutter_bloc`. I mean, there's barely one tutorial that only uses `BlocBuilder` so to say. Since the tutorials are nearly full projects (no matter their size), it is hard to implement such specific thing.
Still, I believe it would be really interesting to add a small introduction or however it is called that expla

[2020-10-22 15:39] felangel commented on #1796
I agree with @mikededo that most tutorials will cover a wide variety of topics and I think the recipes section of the docs was more intended for these focused samples (see [SnackBar Recipe](https://bloclibrary.dev/#/recipesfluttershowsnackbar), [Bloc Access Recipe](https://bloclibrary.dev/#/recipesflutterblocaccess) for an example).

[2020-10-22 16:47] II11II commented on #1851
it does not work

[2020-10-22 17:27] yaminet1024 opened #1853 "Stream waiting and blocking other events using Bloc in Flutter"
[code]

if I add the three event same time, it seems that is will be block the  event and not async , can deal witch event not block the steam?

[2020-10-22 17:28] Classy-Bear commented on #1796
Replying to @mikededo

Totally agree, what is going to be used and why is what I'm proposing.

My intention with the line above is to show the new core concepts that I haven't seen in previous tutorials assuming that I'm taking tutorials in the right order (beginner -> intermediate -> andvanced) because seen `BlocBuilder` again and again as "new core concept" is very repetitive.

This is just an i

[2020-10-22 17:39] mikededo commented on #1851
Do you use the `BlocObserver`?

With it, you could check if the event is sent. From there, if `onEvent` function from the observer does not `print` anything, I would mean you are not sending the new state properly. If it does but nothing shows up in the `onTransition` function, it is due to minor logic with the state.

Check that all custom classes used in it extend `Equatable` or they have implem

[2020-10-22 17:43] mikededo commented on #1796
Probably, what you are looking for, instead of more dense documentation (meaning, more information about each component), would be ways of structuring the Bloc pattern and your code.

Maybe diagrams or widget trees that show how a proper (or efficient) structure should/could be, would do the trick.

[2020-10-22 18:07] II11II commented on #1851
can i send the same  state   f.e. emit(state..network=Network.LOADED)?

[2020-10-22 19:54] PandaGeek1024 commented on #1851
@mikededo does it mean I have to implement my own one after remove equatable?

[2020-10-22 20:12] PandaGeek1024 commented on #1851
It does not work for me either

[2020-10-22 21:15] mikededo commented on #1851
I cannot see what you are asking for, could you explain a bit more?

---

It depends. If you are using custom classes and you do not want to use `Equatable`, then yes. For example, let's say you have the nested classes, you have to extend `Equatable`  in all the classes:
[code]
So, when comparinc two C instances, it will go use the equatable from C, which involves B, which involves A.

Hope this h

[2020-10-23 02:38] amorenew commented on #1723
@rabyunghwa I have a similar case, Dio post makes content-type as null somewhere so await Future Dio post was kept awaiting and not return anything.
So by adding timeout and fix content-type I was able to fix my issue
Confirm if you have the same case otherwise you need to provide a sample to @felangel

[2020-10-23 02:40] amorenew commented on #1723
@rabyunghwa maybe similar
https://github.com/felangel/bloc/issues/1853
@felangel But why in my case event is not triggering if there is an awaiting for a Future call??

[2020-10-23 05:07] amorenew commented on #1723
Actually, my root issue was in an interceptor which has a Future call waiting forever.
I found that no need for await there so I removed it.
https://github.com/eyeem/dio_firebase_performance/blob/88aeb48fa7d2f03957fcae38aed83c682a73588d/lib/src/dio_firebase_performance.dart#L34

[2020-10-23 05:39] rrifafauzikomara opened #1854 "Change Theme using BLoC have issue"
Hi @felangel

I believe better using 1 bloc for 1 screen (to avoid boilerplate bloc file) because we can handle it with the different `event` and `state`, but I have an issue when implemented 2 logic (change theme and change language) on 1 bloc and on the same screen (setting screen). My issue is first I change the theme from light to dark, after that I also change the language, but when I change

[2020-10-23 07:56] estem commented on #1848
Yes, I agree with you thats why I opened this issue, the author must update the flutter_login repository to add the code to navigate to the home_page after successful login.

Thanks

[2020-10-23 12:20] Babwenbiber commented on #315
note, that it is  called buildWhen and not condition since 5.0.0
[See here](https://pub.dev/packages/flutter_bloc/changelog#500)

[2020-10-23 14:07] felangel commented on #1848
@estem I'm not sure I understand the issue. Can you please share a link to a complete sample app which illustrates the issue? Are you referring to [examples/flutter_login](https://github.com/felangel/bloc/tree/master/examples/flutter_login)? If so, the navigation is happening at https://github.com/felangel/bloc/blob/a801b2128de5ea4727c39e8ba83cfd1b2eb86430/examples/flutter_login/lib/app.dart#L56 i

[2020-10-23 14:11] felangel commented on #1854
Hi @rrifafauzikomara 👋
Thanks for opening an issue!

The problem is the way you've set up the states, the bloc can only either be in one state or the other. If you want this functionality you should refactor your state class

[code]

Then you can update language and darkMode without overwriting previous state. Hope that helps 👍

[2020-10-23 14:11] #1854 closed

[2020-10-23 14:15] felangel commented on #1853
Hi @yaminet1024 👋
Thanks for opening an issue!

This is how bloc works by default (each event is processed in the exact order it was received). If you want to override this behavior you can override `transformEvent` and apply `switchMap` or `flatMap` depending on the desired functionality.

[code]

Closing for now but feel free to comment with additional questions and I'm happy to continue the con

[2020-10-23 14:15] #1853 closed

[2020-10-23 15:39] estem commented on #1848
@felangel  yes, I was talking about flutter_login, I followed you article :https://bloclibrary.dev/#/flutterlogintutorial, and when  I click the login button the Home_page doesn't displayed. I think therr's something wrong.

Thank you

[2020-10-23 16:09] felangel commented on #1848
@estem can you push the complete code up to github and share a link?

[2020-10-23 16:36] felangel commented on #1852
Hi @jaym-inci 👋
Thanks for opening an issue!

I opened a [pull request](https://github.com/jaygadariya/Theme-Changer/pull/1) which includes changes to achieve the desired functionality. Hope that helps 👍

[2020-10-23 16:38] felangel commented on #1851
Hi @PandaGeek1024 👋
Thanks for opening an issue!

Are you still experiencing issues or can this issue be closed? If you're still experiencing issues can you please share a link to a complete sample app which illustrates the problem? Thanks 👍

[2020-10-23 16:39] felangel commented on #1850
Hi @mzafer 👋
Thanks for opening an issue!

Can you please share a sample app which reproduces the issue? Thanks! 🙏

[2020-10-23 16:40] felangel commented on #1847
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-10-23 16:40] #1847 closed

[2020-10-23 16:41] #1805 closed

[2020-10-23 16:44] felangel commented on #1723
@rabyunghwa a bloc is closed automatically if it was created by a BlocProvider when the BlocProvider is unmounted from the widget tree. You can override `close` on the bloc and add a log statement to test whether it's being closed. If that's the case then likely it means you've scoped the bloc too low in the widget tree and you need to provide it higher up.

Closing for now and hope that helps! Fe

[2020-10-23 16:44] #1723 closed

[2020-10-23 16:50] felangel commented on #1695
@ThinkDigitalSoftware by adding an export we are introducing a dependency. If flutter_bloc exports `replay_bloc` and `hydrated_bloc` then `flutter_bloc` has a dependency on `replay_bloc` and `hydrated_bloc`. I can see the argument for always exporting `bloc` from each package because `bloc` is the core library which is needed in all cases but I feel that exporting optional extensions like `replay_

[2020-10-23 16:58] felangel commented on #1842
@mzafer you can extract the routing table to it's own file if you'd like

[code]

Then import routes in your app like:

[code]

In terms of the routing logic I don't think it should grow because it should be scoped to just authentication related routing changes at the root. You can always decompose further into more widgets as needed though 👍

[2020-10-23 21:08] abdulhaq-e commented on #1852
I was just looking around the issues while learning from this repo and I found this comment and PR. I have to say you are awesome. Thanks for all your hard work!

[2020-10-23 21:23] ThinkDigitalSoftware commented on #1695
Ok, that makes sense. Yeah that's fine

[2020-10-24 01:43] mzafer commented on #1842
Thanks @felangel , did that and am good for now.

[2020-10-24 02:18] iChicago commented on #1497
I'm using version 5.3.2 of the extension and flutter_bloc: ^6.0.1
However, I still get the same error above.

[2020-10-24 05:25] danbn-100295 opened #1855 "Doese buildWhen not fire at fist time ?"
I have demo with this code
` BlocBuilder<TyperoomBloc, TyperoomState>(
            buildWhen: (previous, current) {
              print('current state');
              print(current);
              return false;
            },`
But it is not print any thing at first time ?
Any wrong ?

[2020-10-24 08:50] wujek-srujek opened #1856 "[Question] Why doesn't BLoC work with StreamBuilder?"
I'm on bloc 6.0.3 and flutter_bloc 6.0.6.

I tried to use `StreamBuilder` with a BLoC instance. The stream looks like this (with RxDart):
[code]
and usage:
[code]
(The code is actually in different pages, but this shouldn't be relevant here.)

I was expecting to be able to get `BlocState` instances in the `snapshot`, but nothing happens.

When I debug (or simply print whenever anything changes in

[2020-10-24 11:08] mapadj opened #1857 "[Feature Request] SuperHydratedBloc: A Hydrated Bloc, taking an API Url and an UpdateRuleObject"
Hi Felix!

Imagine a SuperHydratedBloc, extending Hydrated Bloc, that will pull an api json object from URL, safes data persistant and takes an update Object, defining a cache_rule, similar to advanced_network_image:

[code]

Imagine, we add a second URL to the Cach_rule, which will be able to pull the version/hash of the data url, so we can update persistant data from the web, only, if there is n

[2020-10-24 12:17] mzafer commented on #1850
Here is a sample project, it is not a perfect but it does recreate the problem

https://github.com/mzafer/MyFlutterBloc

For Clearing at the storage level:

I am clearing the storage on Signout in the Home.dart screen. I could see on debug that "_open.isOpen" evaluates to false. To recreate this issue, open the app -> press "Sign In" -> in the next screen press "Sign out"

[code]
For clearing at t

[2020-10-24 13:23] felangel commented on #1856
Hi @wujek-srujek 👋
Thanks for opening an issue!

I believe the issue is you’re not providing an initialData in the case of the StreamBuilder.

[code]

Let me know if that helps 👍

[2020-10-24 14:28] longth97 opened #1858 "Bug flutter_infinite_list example"
I try to load the list for the first time with 5 elements and get the bottom loading like this
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-10-24 at 21 27 11](https://user-images.githubusercontent.com/48413548/97084221-cd6aa080-163f-11eb-8ad2-2decddfbf015.png)

[2020-10-24 15:42] YCP0627 opened #1859 "How to display the default widget in bloc"
I want to show the default layout before the bloc event arrives，Here is a simple example
[code]

This is a standard bloc ui architecture. This mode will cause a **blank page** to be displayed before the state arrives. Is there any way to display a default page without data before the event arrives? The following approach seems a bit stupid, especially when my page widget becomes very complicated.

[2020-10-24 16:41] yaminet1024 commented on #1853
Thank you very much for your answer, but I find that `Stream< BookEvent > events` does not have switchMap or flatMap method in flutter

[2020-10-24 17:29] felangel commented on #1853
You need to import rxdart to use those operators 👍

[2020-10-24 20:35] eliudio opened #1860 "Question regarding bloc"
Hi Felix. Great work man. Thanks for contributing!

I've been using bloc in several projects but I think I'm possibly only scratching its surface. I always use the same pattern which is what you've documented in several places, e.g. https://medium.com/flutter-community/flutter-todos-tutorial-with-flutter-bloc-d9dd833f9df3

Today I like to use a nested bloc. Let me explain.

I have XBloc,
- which e

[2020-10-24 21:05] felangel commented on #1860
Hi @eliudio 👋
Thanks for opening an issue and for the positive feedback!

Regarding your question, yes BlocProvider.of will always return the nearest bloc so in the nested case you will always get the second bloc instance 👍

Hope that helps!

[2020-10-24 23:09] cemanganas commented on #1858
i added this code, !state.hasReachedMax to

return ListView.builder(
            itemBuilder: (BuildContext context, int index) {
              return index >= state.posts.length && !state.hasReachedMax // i added this
                  ? BottomLoader()
                  : PostWidget(post: state.posts[index]);
            },
            itemCount: state.hasReachedMax
                ? state.posts.

[2020-10-24 23:13] cemanganas commented on #1858
i added this code, !state.hasReachedMax to

return ListView.builder(
            itemBuilder: (BuildContext context, int index) {
              return index >= state.posts.length && !state.hasReachedMax // i added this
                  ? BottomLoader()
                  : PostWidget(post: state.posts[index]);
            },
            itemCount: state.hasReachedMax
                ? state.posts.

[2020-10-24 23:16] cemanganas commented on #1858
i added this code, !state.hasReachedMax to

return ListView.builder(
            itemBuilder: (BuildContext context, int index) {
              return index >= state.posts.length && !state.hasReachedMax // i added this
                  ? BottomLoader()
                  : PostWidget(post: state.posts[index]);
            },
            itemCount: state.hasReachedMax
                ? state.posts.

[2020-10-24 23:17] benoitjadinon opened #1861 "Cubit - consider using StackTrace to log the calling method ?"
The lack of logging info about the 'event' (the method) that called `emit` is documented as a downside of Cubit when compared to Bloc,
but have you considered using `StackTrace.current` (or at least have an optional argument) inside of Cubit.emit ?

[code]
that currently prints `(...)event: #1      CounterCubit.increment (file:///Users/ben/Workspaces/Flutter/bloc/packages/bloc/example/main.dart:10

[2020-10-24 23:20] felangel commented on #1861
Hi @benoitjadinon 👋
Thanks for opening an issue!

I did originally look into this but it performs very poorly and does not work in release builds afaik so I don’t think it’s a valid solution. Thanks for the suggestion though and let me know what you think 👍

[2020-10-24 23:23] benoitjadinon commented on #1861
right, I just remembered it only works in debug mode too, sorry.
what about the optional argument ? wouldn't cost much, and if people don't add it, it just doesn't log it ?

[2020-10-24 23:35] rabyunghwa commented on #1723
@felangel Thanks for the response. However, the issue still remains, which has been driving me nuts. It seems that this issue only exists if BLoC is used together with Moor. Would it be possible for me to provide a demo app where Moor is also implemented? I think that it's their combination that is causing the issue.

[2020-10-25 00:03] rabyunghwa commented on #1723
@amorenew Thank you for your help! However, that didn't fix the issue. I'm still searching around for a fix.

[2020-10-25 00:06] rabyunghwa commented on #1723
@narcodico The issue you mentioned earlier, in my opinion, doesn't have anything to do with **mapEventToState** not being called. Could you try ignoring that issue?

[2020-10-25 01:54] #1860 closed

[2020-10-25 01:55] eliudio commented on #1860
Thanks

[2020-10-25 05:24] amorenew commented on #1723
@rabyunghwa I solved my case by using print('') everywhere which lead me to know it better

[2020-10-25 09:12] omidraha commented on #1770
When we are using `copyWith` approach, Is it possible to set again a variable to `null`?

For example because we have something like this in `copyWith` method:
[code]

If `order` already has some value, we can't set `order` to` null`, with this:
[code]

[2020-10-25 11:27] narcodico commented on #1861
Hi @benoitjadinon 👋

I personally feel that people should be using cubits when they don't care about the source of change, but only about the end result, which is the state. If you care about who triggered those states then bloc should be used instead.

[2020-10-25 12:53] HasanAlqaisi opened #1862 "Bloc with background_fetch"
Hi,

I'm using background_fetch plugin to do some tasks when app is closed, and i'm using bloc too.

My question is if i can make an event when background task run then listen to the state like this:

[code]

Will blocListener get called if the app is in the background? Or it is only called when the app is visible?

[2020-10-25 22:30] felangel commented on #1770
@omidraha you can create a custom `copyWith` that accepts methods instead to enable returning null values:

[code]

Hope that helps 👍

[2020-10-25 22:36] felangel commented on #1859
Hi @YCP0627 👋
Thanks for opening an issue!

If you want to be able to display partial/incomplete states then you can refactor your state to look like:

[code]

Then your UI would just look like:

[code]

Hope that helps 👍

[2020-10-25 22:36] #1859 closed

[2020-10-25 22:39] felangel commented on #1861
I agree with @narcodico. Introducing an optional argument for the method name will introduce a lot of additional complexity -- will the `Change` class also need an optional `event`? Then what will be the difference between `Transition` and `Change`? Should we combine them at that point? I think it introduces more problems than it solves, unfortunately 😞

[2020-10-25 22:43] felangel commented on #1862
Hi @HasanAlqaisi 👋
Thanks for opening an issue!

I feel this issue should be opened in the background_fetch package instead because it concerns how the background_fetch package works and not how the bloc library works. I'm guessing the BlocListener won't be invoked because it is not mounted when the app is running in the background but again I don't know exactly how the background_fetch package wo

[2020-10-25 22:43] #1862 closed

[2020-10-25 22:46] felangel commented on #1855
Hi @danbn-100295 👋
Thanks for opening an issue!

This is working as expected because the initial render is not due to a state change. `buildWhen` is only invoked on state changes 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2020-10-25 22:46] #1855 closed

[2020-10-25 22:53] felangel commented on #1857
Hi @mapadj 👋
Thanks for opening an issue and for the positive feedback!

This could be an interesting concept as an external package but my initial reaction is not to incorporate it into the existing package because it results in tightly coupling raw API data to the UI when usually I recommend maintaining a clear separation between the two (using repositories). Despite that, it could be interestin

[2020-10-25 22:55] felangel commented on #1852
@jaym-inci closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-10-25 22:55] #1852 closed

[2020-10-25 22:56] felangel commented on #1848
Closing for now since there isn't enough information to reproduce the issue so I can't help. Feel free to provide a link to a sample app which reproduces the issue and I'm happy to take a look 👍

[2020-10-25 22:56] #1848 closed

[2020-10-26 05:19] PandaGeek1024 commented on #1851
@felangel I have tried created a new project and copy all the code over and problem still exist. But when I create a sample project, I don't see the problem.  It is so confusing. I guess in my actual project, the view hierarchy is too complex that cause issue. I have spend 3 days on it and decided to switched to another solution, really don't want to spend time on it anymore.

[2020-10-26 09:32] mapadj commented on #1857
Hey!

of course a stand alone package would be just fine. no need to clutter the bloc library.
When i finished my current project, i will need to look into package design and maintaining, for i have never done such.

i actually use your library in separete layers of my project, to keep stuff testable. i struggled to get my head arround a clear structure of what i am trying to achieve and ended up

[2020-10-26 12:50] samin-fs opened #1863 "mockito dose not know startwith method of rxdart"
**Describe the bug**
Hi there @felangel ,
I just migrate to a new version of the bloc(flutter_bloc: ^6.0.1) and I used startwith method of rxdart to listen to the initial state of the bloc, but it seems mockito get null when I call this.
would you please help to found out what should I do? thank you.

**To Reproduce**
Steps to reproduce the behavior:
1. use flutter_bloc: ^6.0.1
2. write a test for

[2020-10-26 13:48] mikededo commented on #1851
Well, I feel bad that you did not come with a solution 😞
However, most of the problems that happend when the state is not updating or similar, are due to having classes not implementing `Equatable` (or `hashCode` and `==`) so that Dart does evaluate by reference but by value.
Similar with collections (`List`, `Map` and so on), whenever you are creating a new state with a `collection` from the stat

[2020-10-26 14:09] felangel commented on #1863
Hi @samin-fs 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which reproduces the issue? Thanks! 🙏

[2020-10-26 17:11] felangel commented on #1857
Thanks for sharing! I usually recommend having the cubits/blocs communicate with one or more repositories and each repository depends on one or more api clients/data providers. You can check out [fluttersaurus](https://github.com/felangel/fluttersaurus) for an example of the project and feature structure.

[2020-10-26 19:33] mapadj commented on #1857
Cool. I will have a look at it. If I still find a package usefill, i might get back to you at a later point. Have a nice day.

[2020-10-26 19:33] #1857 closed

[2020-10-26 20:10] #1861 closed

[2020-10-26 20:12] #1437 closed

[2020-10-26 20:12] #1624 closed

[2020-10-26 20:54] wujek-srujek commented on #1856
Hi @felangel , thanks for the response. No, missing `initialData` isn't the reason, it's our app, again. While I was trying to make the simplest possible example to show our issue, I couldn't reproduce it, it all works fine (with or without `initialData`), which means our app is somehow broken. I need to rethink my bug issuing strategy, sorry for the noise, again.

[2020-10-26 20:54] #1856 closed

[2020-10-26 21:00] felangel commented on #1856
@wujek-srujek no worries! Let me know if there's anything I can do to help 👍

[2020-10-27 14:51] felangel commented on #1851
@PandaGeek1024 I'm sorry to hear that 😞  but as @mikededo mentioned it's usually an equality comparison issue. I'll close this for now if you don't want to spend more time on it but feel free to comment with additional questions/info and I'm happy to continue the conversation 👍

[2020-10-27 14:51] #1851 closed

[2020-10-27 15:51] felangel commented on #1850
Hi @mzafer 👋
I took a look and the reason `HydratedBloc.storage.clear();` appears to not be working is because it is wiping out the storage but the bloc is still around and re-caches the state. This is working as expected. The clearing works as expected and I will address the exception that is thrown 👍

[2020-10-27 15:53] samsheldin opened #1866 "Pls help to implement this feature"
[cart details.txt](https://github.com/felangel/bloc/files/5445978/cart.details.txt)

hi guys this  is a json of a shopping cart app
in each object of the list there is a discount start and discount end

so i know know how to make the price change based on the timing for individual products,,,

but logic looks a bit confusing when i am totalling the price and displaying it in ui,,,

for eg    10 +

[2020-10-27 19:53] #1850 closed

[2020-10-27 20:50] felangel commented on #1866
Hi @samsheldin 👋
Thanks for opening an issue!

Closing this because it's not related to the bloc library but feel free to repost on stackoverflow or in the offtopic channel of the discord server 👍

[2020-10-27 20:50] #1866 closed

[2020-10-28 01:03] mzafer commented on #1850
Hi @felangel ,

The bloc being around and still returning the state that is already precached makes sense, but still curious as to why "_box.isOpen" was evaluating to false and that block was not being executed.

Also any thoughts on easily clearing the state across all blocs after I delete the storage instead of clearing them individually.

[2020-10-28 03:29] samsheldin commented on #1866
Hi this the ui I am using  which is in bloc @felangel

[cart.txt](https://github.com/felangel/bloc/files/5449348/cart.txt)

[2020-10-28 07:34] sanekyy commented on #1310
Same problem. Think that this issue is not related to your package.

[2020-10-28 07:36] sanekyy commented on #1310
`flutter clean` help for me.

[2020-10-29 09:42] samsheldin opened #1868 "How to implement dyanmic price changes in bloc"
[cart.txt](https://github.com/felangel/bloc/files/5457419/cart.txt)
hi guys this is a json of a shopping cart app
in each object of the list there is a discount start and discount end

so i know know how to make the price change based on the timing for individual products,,,

but logic looks a bit confusing when i am totalling the price and displaying it in ui,,,

for eg 10 + 5(discounted price) +

[2020-10-29 16:24] OZ79 opened #1869 "Error: 'Bloc' doesn't extend 'Cubit<S>'"
flutter_bloc 6.0.6

I try to use BlocBuilder:
[code]
MovieBloc:
`class MovieBloc extends Bloc<MovieEvent, MovieState> ....`

Received error:
[code]

Seems like problem in incompatibility implementation
`class BlocBuilder<C extends Cubit<S>, S> extends BlocBuilderBase<C, S >`
and
`abstract class Bloc<Event, State> extends Cubit<State> `
in flutter_bloc 6.0.6 and bloc 6.1.0 respectively

[2020-10-29 16:37] felangel commented on #1869
Hi @OZ79 👋
Thanks for opening an issue!

I think the issue is you're providing incorrect types to `BlocBuilder`. It should accept the bloc type and the state type:

[code]

Hope that helps 👍

[2020-10-29 16:37] #1869 closed

[2020-10-29 16:39] felangel commented on #1868
Hi @samsheldin 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the issue? Text files aren't very helpful and it'd be much easier to help if you create a public github repository with a sample app that can be run and illustrates the issue.

[2020-10-29 17:04] OZ79 commented on #1869
Yes, you are right, my mistake. Thanks.