[2019-03-27 16:04] felangel commented on #173
Thanks for the extra details! I'm wondering why do you even need to yield the `HideLoadingState` event? Isn't it implied that you need to hide the loader when you get the `DataResults` state?

[2019-03-27 16:07] felangel commented on #174
Hey @OndrejKunc 👋

Thanks for putting this together! I've been thinking about this for some time now and it's awesome that you've already put together your own implementation 💯

Would it be possible for you to share an example project with your implementation?

[2019-03-27 16:12] felangel commented on #172
Hey @anticafe 👋

Great question! You can handle navigation by adding a PostFrameCallback and using the Flutter Navigator within your build method.

[code]

Hope that helps! 👍

[2019-03-27 16:12] #172 closed

[2019-03-27 16:13] joanpuigsanz commented on #173
What if I have two blocs and each one perform some background operations? Shall I make the presenter responsible for hiding the loading?

[2019-03-27 16:29] felangel commented on #173
Then each bloc should yield a loading state, do the async work, and yield a loaded state. The UI should be responsible for showing the loading indicator when the state is loading and removing it when the state is loaded. Let me know if that makes sense.

[2019-03-27 18:53] felangel commented on #173
Closing for now but feel free to comment with additional comments/questions and I'm happy to reopen/continue the conversation. 👍

[2019-03-27 20:39] zjjt commented on #167
Hi @felangel, i hope you are doing fine my friend.I have a quick question for you.Does a bloc notice when when the same state comes but with a different parameter?
To illustrate let's say i have LoginState(isLogged:false) as first returned state and soon after without changing the state i dispatch an event this time producing the state LoginState(isLogged:true).

I noticed the bloc seems to ditch

[2019-03-27 22:00] OndrejKunc commented on #174
Awesome!
I did quick dirty example in my fork https://github.com/OndrejKunc/bloc/blob/bloc-projection-builder/examples/flutter_form/lib/login/login_form.dart

And here is the first `BlocProjectionBuilder` implementation attempt:
https://github.com/OndrejKunc/bloc/blob/bloc-projection-builder/packages/flutter_bloc/lib/src/bloc_builder.dart

[2019-03-28 02:04] baeharam opened #175 "How to eliminate state in BlocBuilder?"
Thank you for your nice package for using comfortable BLoC pattern.

However, I'm suffering from "STATE RESIDUE" of BlocBuilder. For example, I pushed another route page when state is specific condition, but it infinitely push route when I pop that route. It is the because of state residue. How can I clean or eliminate state of BlocBuilder?

Here is my code and `BlocNavigator` is my custom navigat

[2019-03-28 02:39] felangel commented on #175
Hi @baeharam 👋

Great question! You can dispatch an event to reset the state before navigating. Let me know if that helps 👍

[2019-03-28 02:48] felangel commented on #167
Hey @zjjt 👋

By default the bloc will notice anytime you yield a new state instance. If you’re extending Equatable or overriding hashCode and == then you need to make sure you’re differentiating the states based on the different properties. Hope that helps!

If you’re still confused or have questions it would be great if you could share some sample code that I can run locally and I can try to help

[2019-03-28 02:50] felangel commented on #174
Perfect! I’ll take a look and discuss this feature with the team over the next few days. Thanks so much for putting this together 🙏

[2019-03-28 04:38] anticafe commented on #175
@felangel Why don't we allow to reset via `dispose()` method too? Such as
[code]

[2019-03-28 04:51] baeharam commented on #175
@felangel Thanks for your quick response! 😄 Firstly, I wrote that kind of event like `StateClearEvent()`. However, then do I have always dispatch this event to clean state residue? Is it weak point of BLoC or my fault?

[2019-03-28 05:03] felangel commented on #175
@baeharam yes you would need to in order to clear the state. When possible I’d avoid using a bloc for navigation because it is not business logic and is flutter specific code.

I think there can probably be improvements made to the flutter_bloc library to make this a bit easier but I need to spend some time to figure out the right way to support this.

@anticafe we can do that but then dispose is

[2019-03-28 05:42] anticafe opened #176 "Bloc plugin: allow to generate event, state and bloc in a single file"
**Is your feature request related to a problem? Please describe.**
When I choose `File > New > Bloc Generator > New Bloc`, 3 files *_event*, *_state* and *_bloc* are generated. However in some case I only have 1 event and 4 states, thus 3 separated files look so much.

**Describe the solution you'd like**
In `New Bloc` dialog, I wish there is an option to generate only single file instead.

**Desc

[2019-03-28 06:02] anticafe commented on #175
@felangel I'm agree with you in most case (back-able pages) we don't need to reset state of bloc because that bloc would be reused in another pages. However we still need it for some non-back-able pages. For example:
1. I'm in LoginPage. With LoginStartEvent, LoginSuccessState and LoginBloc, then I navigation to HomePage, and remove LoginPage.
2. In HomePage, touch on Logout button to remove HomeP

[2019-03-28 07:07] joanpuigsanz commented on #173
Yes, it make sense but if the two blocks finish at the same time one of the states will get lost because the BlocBuilder will only process the last one. Is this a bug?

[2019-03-28 10:18] baeharam commented on #175
@felangel  Ok, I'll expect your awesome works!
@anticafe Thanks for your advice.

[2019-03-28 12:34] felangel commented on #173
I’m not sure I understand what you mean. BlocBuilder only reacts to changes in a single bloc so if two blocs finish at the same time it shouldn’t matter because you’d have two BlocBuilders. Does that help?

[2019-03-28 12:38] felangel commented on #175
@anticafe thanks for providing more details!

In the example you gave I wouldn’t expect LoginBloc to be a global bloc and I’d expect it to be disposed and deallocated when you navigate to the HomePage. Then when you logout your LoginPage should create a brand new LoginBloc which would have an initialState. Does that help?

[2019-03-28 12:46] felangel commented on #176
Hey @anticafe 👋

I don’t think it’s a good idea to add this because we want the plugin to generate code that follows best practices like having public classes each defined in a separate file. I don’t think it’s too much because it’s consistent and developers will know exactly where to look when looking for an event definition or a state definition. Thoughts?

[2019-03-28 13:34] programadorthi opened #177 "[SUGGESTION/QUESTION] A Bloc example using Form validations"
Please, update the Login example to show how to implement form validations using bloc.

**scenarios**:

1. Map a state when the username is empty. Show a specific message using I18N;
2. Map a state when the username does not match a regex expression. Show a specific message using I18N;
3. Map a state when the password is empty. Show a specific message using I18N;
4. Map a state when the password d

[2019-03-28 13:37] felangel commented on #177
Hey @programadorthi 👋

I’ll try to put together an example over the next few days of form validation using bloc.
Thanks 👍

[2019-03-28 13:38] felangel commented on #176
Closing this for now but feel free to comment with more questions/comments and we can continue the conversation. 👍

[2019-03-28 13:38] #176 closed

[2019-03-28 13:39] felangel commented on #175
Closing this for now but feel free to comment with more questions or details and I’m happy to continue the conversation 👍

[2019-03-28 13:39] #175 closed

[2019-03-28 13:42] zjjt commented on #167
Hi @felangel ,sorry for the late reply.Understood, ill try debugging first as much as i can on my own and if i cant resolve my issue,ill post the code up and let you know.Have a great day.👍

[2019-03-28 13:43] felangel commented on #167
Sounds good and thanks, you too!

[2019-03-28 21:26] benplum opened #178 "Structuring blocs"
I have some general questions about how to structure blocs.

As a general example, let's say I have a collection of 'play lists' that contain 'songs'. I want to display first a screen with all play lists. After tapping a play list, a screen with all songs in that play list would show. Tap on a song and a screen with the song details would show. Data loads from a sqflite db after being synced from

[2019-03-28 21:54] felangel commented on #178
Hey @benplum 👋

I think there's not a definitive right answer but in general I would recommend you think of your application as a collection of features and each feature can have its own bloc for local state management.

In your example, I think the structure you've outlined makes a lot of sense. Regarding the detail views, I would recommend when possible to keep them as stateless widgets and have

[2019-03-28 21:54] #178 closed

[2019-03-29 00:20] Nothing-Works commented on #177
@felangel   please do so, looking forward to reading more examples.

[2019-03-29 02:54] geoffreylzf opened #179 "Multi State (Stream)"
Is there any way to make multi state (Stream) when I receive an event?

As Example below
https://github.com/filiph/state_experiments/blob/master/shared/lib/src/bloc/cart_bloc.dart
It receive one event (addition) , then trigger item_count and items.

Or I should implement the additional state (Stream) by myself? and dispose it somewhere

[2019-03-29 03:08] felangel commented on #179
Hi @geoffreylzf 👋

You can always expose new streams in the bloc just like in the example you linked to but I would question why you need to expose multiple streams in the bloc. I would recommend either consolidating the information into a single state object or creating multiple blocs.

In the example you linked, I’d recommend having a single cart bloc with a state that includes a list of items i

[2019-03-29 04:43] felangel commented on #177
@programadorthi @Nothing-Works check out [examples/flutter_form_validation](https://github.com/felangel/bloc/tree/master/examples/flutter_form_validation) for how to use bloc for form validation. Let me know if you have any other question 👍

[2019-03-29 04:43] #177 closed

[2019-03-29 04:45] felangel commented on #179
Closing this for now but feel free to comment with additional questions/comments and I'm happy to continue to conversation 👍

[2019-03-29 04:45] #179 closed

[2019-03-29 04:57] felangel commented on #174
@OndrejKunc After thinking about this some more and discussing it with the team, I'd like to better understand the use-case for this new feature. Several aspects of this functionality that concern me are:

- We are introducing another way to update UI in response to state changes which complicates the API
- I'm worried that introducing this will encourage developers to just have a single global bl

[2019-03-29 07:47] ricktotec opened #180 "Include SignUp for firebase authentication"
**Issue.**
I've tried to add a signup bloc for new users but when I press the Signup Button, it creates the user but doesn't redirect to login or home page.

**Feature Request**
I'd like to know how to add signup bloc in order to create a new user account with email and password.

Thanks.

[2019-03-29 09:48] rrifafauzikomara opened #181 "A package may not list itself as a dependency. (flutter_bloc: ^0.9.0)"
When i try to get the package i get this

`[flutter_bloc] flutter packages get
Running "flutter packages get" in flutter_bloc...
Error on line 20, column 3 of pubspec.yaml: A package may not list itself as a dependency.

  flutter_bloc: ^0.9.0

  ^^^^^^^^^^^^
pub get failed (65)
exit code 65`

[2019-03-29 10:07] windinvip opened #182 "flutter bloc about use multiple states at the same time"
can blocBuillder receive multiple states like (context, state:[stateA, stateB]) from different bloc?

[2019-03-29 10:39] OndrejKunc commented on #174
@felangel I must admit that the form example is not the perfect use case since rebuilds are called automatically on events likes focus changed as you pointed out.

My general concern was the situation, where you have some data on the bloc that change very often and other data that change less often and for some reason it makes sense to have both of those data in one bloc.

Another example I can th

[2019-03-29 12:45] felangel commented on #174
@OndrejKunc I think you rolling this out as a separate package would be awesome! In my opinion, that's the best solution because we get the best of both worlds 😄

Thanks again for this awesome discussion and for all the work you're doing to help the community 👍

Closing this but looking forward to seeing your package on pub!

[2019-03-29 12:48] felangel commented on #181
Hi @rrifafauzikomara 👋

I'm guessing the name of your flutter project is also `flutter_bloc`.

[code]
Can you check if that's the case and if not could you please include the full `pubspec.yaml` file?

Thanks!

[2019-03-29 12:50] felangel commented on #180
Hey @ricktotec 👋

There's currently a [firebase_authentication example](https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_authentication) which I can add sign up functionality to 👍

I'll try to do that over the next few days.

[2019-03-29 12:52] felangel commented on #182
Hi @windinvip 👋

Currently `BlocBuilder` only responds to state changes for a single bloc. Can you please describe the use-case you have? In most cases, I think you should have separate `BlocBuilders` for the separate parts of the UI that need to rebuild in response to those states.

[2019-03-29 14:16] joanpuigsanz commented on #173
I have one bloc which it listens to a document in the Firestore DB. When this document is changed the bloc fires a new `DocumentUpdated` state with the new document information.

When I change the document in the app later is uploaded and a new `Loading` state is fired. When document is successfully uploaded the bloc fires a new state `DocumentLoaded` but as the bloc is also listening to any docum

[2019-03-29 14:33] ricktotec commented on #180
Thanks form your quick response.
I've seen the firebase_authentication example. I'll try to add the sign up and let you know if I can't get it to work.

Regards.

[2019-03-29 16:09] anticafe commented on #177
Hi @felangel Could you please update README to include your 2 new examples `flutter_form_validation` and `flutter_firebase_authentication`. BTW, thanks for your hard work 👍

[2019-03-29 16:13] felangel commented on #177
Yup will do in the next few hours 👍
No problem!

[2019-03-29 16:15] rrifafauzikomara commented on #181
Hi @felangel

Yes, you are right. That happens because the project name is the same as the library name. So when running the "flutter packages get" command, flutter reads the project name instead of the library name. Thank you

[2019-03-29 16:15] #181 closed

[2019-03-29 17:28] dustin-graham opened #183 "Please add an example of reacting to a Stream from a repository in a Bloc"
In speaking with @jorgecoca, he discussed an aspect of the repository pattern given in the examples that I would like to see expanded upon. He mentioned a strategy wherein a repository can produce a Stream that can be observed within a Bloc. This seems like an interesting pattern that would enable several interesting behaviors.

One aspect of Redux that I have utilized in the past was a way for mu

[2019-03-29 21:37] felangel commented on #177
Just updated the README 👍

[2019-03-29 21:52] felangel commented on #173
@joanpuigsanz thanks for the additional details. I'll try to investigate this further over the next few days 👍

[2019-03-29 22:00] felangel commented on #183
Hey @dustin-graham 👋

Great question! I think this is totally do-able and @jorgecoca said he'd put together an example over the next few days 👍

[2019-03-30 01:52] felangel commented on #182
Closing for now but feel free to comment with additional details and I’m happy to continue the conversation 👍

[2019-03-30 01:52] #182 closed

[2019-03-30 07:23] Rickem opened #185 "When to use Login Bloc if I integrate form_validation_bloc"
**Issue**
I'm tryning to implement the login bloc with form validation. I've seen the validation exemple, now I wonder when to use the login bloc.

**Solution**
Can you specify where and how to include the login bloc?

Thanks in advance.

[2019-03-30 13:09] CarsonRedeye opened #186 "Events after the first are ignored"
**Describe the bug**
I return a Stream.periodic in the mapEventToState function and after that any further events are ignored

[2019-03-30 15:39] felangel commented on #185
Hi @rickem 👋

You can have a LoginForm bloc that does the form validation and keep the login bloc for managing the overall login state (error/loading/success). Let me know if that helps. 👍

[2019-03-30 15:42] felangel commented on #186
@CarsonRedeye thanks for bringing this up. This is because the stream periodic never closes so you are blocking the bloc (no pun intended). I would recommend moving the steam periodic outside of mapEventToState and instead dispatching an event in response to the periodic data. Hope that makes sense and great question! 👍

[2019-03-30 15:42] #186 closed

[2019-03-30 15:43] #185 closed

[2019-03-30 19:08] felangel commented on #173
@joanpuigsanz after investigating this I don't think is a bug in BlocBuilder. This is just how flutter works. If you do the following:

[code]

You'll see the exact same behavior. I've put together a [gist](https://gist.github.com/felangel/d32a3a0982c29777b5560b3993236cba) that has nothing to do with Bloc and exhibits the same behavior you are seeing.

If you feel this is a bug with Flutter, I'd r

[2019-03-30 19:08] #173 closed

[2019-04-01 03:26] MonNguyen2502 commented on #182
@felangel I have rootbloc that covers the entire app, and rootbloc listens to the network connection event.
How the pages in the app can know when the network connection changes. I don't want every screen to listen to the network connection

[2019-04-01 03:47] felangel commented on #182
Hi @MonNguyen2502 👋

You can just wrap any parts of the UI which depend on the network connection in a `BlocBuilder` and pass the `rootbloc` in order to rebuild UI in response to state changes in the `rootbloc`.

Hope that helps 👍

[2019-04-01 03:53] MonNguyen2502 commented on #182
@felangel If you do so, the blocbuilder will be nested, there are any problems when that happens

[2019-04-01 03:56] MonNguyen2502 commented on #182
The child blocbuilder will be called every time the father's blocbuilder status changes, so the status of the blocbuilder will be called again.

[2019-04-01 04:11] felangel commented on #182
There’s no problem with nesting it if that’s how you want to structure your application. You might want to handle the network connectivity state within the feature blocs instead. You can have each feature bloc depend on a network bloc and the features bloc state could vary depending on if the user has a network connection or not. That way you eliminate the need to nest another BlocBuilder.

[2019-04-01 04:17] MonNguyen2502 commented on #182
@felangel Thank you very much, hope you will think about using multi bloc for blocbuilder.

[2019-04-01 05:33] UnnikrishnanBhargavakurup opened #188 "BLoC pattern how to access credentials for the API client?"
I'm trying BLoC pattern in flutter, I created a repository and API client to access remote REST API in the repository.

I created an instance of the client and the repository in my main function and i'm passing the client as an argument to the repository.

Here my problem is my API client requires some credentials to access the remote server and I'm thinking it should read the credentials from a J

[2019-04-01 08:53] joanpuigsanz commented on #173
Thanks for the info! very apreciated

[2019-04-01 16:39] pavankumarkatakam opened #189 "Show Snackbar after clicked on Favourite button (question)"
Hi, this is just a question of how to use this library for flutter for a provided scenario. I have already developed a screen with List of Products with states `ProductsLoaded`, `ProductsLoading` events  `LoadProducts`, but now i want to give a favourite IconButton if it is clicked an http req will be sent and server will response with an auto generated message now i need to show that message in t

[2019-04-01 23:30] felangel commented on #188
Hi @UnnikrishnanBhargavakurup 👋

Check out [this tutorial](https://flutter.dev/docs/cookbook/persistence/reading-writing-files) for how to read/write files. In addition, you might want to consider not going this route and instead, injecting your keys/secrets at build time so that they aren't hard-coded in your source code.

[2019-04-01 23:30] #188 closed

[2019-04-01 23:33] felangel commented on #189
Hi @pavankumarkatakam 👋

In this case, I would recommend creating a separate bloc for managing favorites. That way the favorites feature is independent of the loading of products. Hope that helps 👍

[2019-04-01 23:33] #189 closed

[2019-04-02 00:28] pavankumarkatakam commented on #189
Even though favorites part in second block still I need to show them in main product s list with done heart icon .

[2019-04-02 00:36] pavankumarkatakam commented on #189
May be second block is used when I need to show all his favorite product s at a time. But still I need to give button for making favorite in main products page as indicated I need to show toast as well when clicked

[2019-04-02 00:37] pavankumarkatakam commented on #189
I have seen the login example but in that case form is returned in any state. But in my case I need to show snackbar and products list at a time

[2019-04-02 04:53] pavankumarkatakam commented on #189
I think i need to add some message in the the ProductsLoaded state i think so that i can show products as well as snackbar like below

[code]

Doing this I can achieve my requirement but the code is not organized i think, can any one tell me the better way.

[2019-04-02 07:43] basketball-ico opened #190 "What is the correct way to test"
Hello,
For example I have `BlocA`  `BlocB` `BlocC` `BlocD`

[code]
The `BlocA` dispatch `Events` to `BlocB`
The `BlocB` dispatch `Events` to `BlocC` and `BlocD`

I make Unit test for all Blocs mocking all bloc dependencies, and work fine for each bloc.

How can I make integration test for example to ensure that `BlocA` work?

Because for example when `BlocA` dispatch event to `BlocB` and after `Bl

[2019-04-02 14:21] MichelMelhem opened #191 "Can you add support for intelij idea 2019.1"

[2019-04-02 16:52] PauloKeller opened #192 "Please add an example - How to use Bloc + Redux"
I work with blocs and they really helped me a lot, but I use they to only manage local statement in my app and they do great. But I feel that now I need a global state management solution, like Redux or scoped models. I tried to implement Redux with my blocs, but I kind messed up my business logic, can you please implement an example on how to deal with global state with blocs if is possible? I do

[2019-04-02 17:34] zjjt opened #193 "Is there a way to access instance of a bloc inside a class without passing by BlocProvider.of"
Hi @felangel , i was stuck on this particular issue.In my last issue you recommended me to put a timeout for the users of my app in case the background fetching took too long.As it is mainly dependent on the API itself, i decided to login the user while some tasks continue running in the background (fetching additional user infos) which are then inserted into the sqlite DB.My UI must trigger a cha

[2019-04-03 00:28] felangel commented on #191
Hey @michelmelhem 👋

Does the current IntelliJ plugin not work? I’m not super familiar with IntelliJ plugins but my understanding was the plugin would be universal. Thanks!

[2019-04-03 02:55] felangel commented on #190
Hey @basketball-ico 👋

I think that if you've unit tested each bloc fully then you can just do the end-to-end testing using widget and integration tests. You should be able to interact with the UI in widget/integration tests in order to trigger dispatches of events and then expect that the ui has updated based on the bloc state.

Hope that helps 👍

[2019-04-03 02:55] #190 closed

[2019-04-03 03:01] felangel commented on #193
Hey @zjjt 👋

In general, you can get access to the bloc however you'd like (BlocProvider, manual dependency injection, using a DI framework like Kiwi etc...)

In this case, it sounds like an issue where `BlocBuilder` is hooked up to the wrong bloc (maybe if you have multiple instances of the same bloc or some other funky issue). I'd have to take a look at some sample code in order to give you a de

[2019-04-03 03:06] felangel commented on #192
Hi @PauloKeller 👋

Can you please elaborate a bit on why you feel bloc isn't a solution for global state management? I would personally consider the [login example](https://felangel.github.io/bloc/#/flutterlogintutorial) a simple example of how to use bloc for both local (login form state) and global state (authentication state). Thoughts?

[2019-04-03 04:47] basketball-ico commented on #190
Thank :D

But now I have more doubts before make integration tests

I see you login test an in this [line](https://github.com/felangel/bloc/blob/66d07fa382cc5de9af48061b1df50240eac8c245/examples/flutter_login/test/login/login_bloc_test.dart#L52)

you use `verify` for ensure that this bloc dispatch a event to the other bloc.

1) So in my example, I need to make the same?

Currently I am omitting th

[2019-04-03 09:25] anticafe opened #194 "Cannot call yield from callback in Bloc"
**Describe the bug**
In `DownloadBloc`, I have a `httpRepository` to handle download file, and of course with callback of how many percentage. For example:
[code]
However I notice cannot invoke `yield` here because of compiler error: `The built-in identifier 'yield' can't be used as a type.`

**Expected behavior**
I would like to know how can I send back percentage data to main UI.

**Additional c

[2019-04-03 11:54] MichelMelhem commented on #191
As you can see an this screenshot:
![image](https://user-images.githubusercontent.com/25546627/55476723-a12f9f00-5617-11e9-919e-79346a031ce1.png)

The last version of you plugin, the 1.1 is compactible just with intelij idea  2018.2.7 but since then a new version of intelij idea was relased the 2019.1.
So you need to recompile you app and specify that your plugin is compactible with intelij idea 2

[2019-04-03 12:10] felangel commented on #191
Ah got it! We’ll try to have it updated ASAP. Thanks for bringing this up 👍

[2019-04-03 12:11] felangel commented on #194
Hi @anticafe I think you need to mark your callback function as async* in order to be able to yield. Let me know if that helps 👍

[2019-04-03 12:48] zjjt commented on #193
Alright, as always thank for the quick answer. Ill go this route for now as i have to demo the app tomorrow.Ill post a link to the repo once i am done with it.Indeed the BlocBuilders are hooked up to the first instances which i created in the root widget of the app.I get access to those by using BlocProvider.of method in my widgets.But in my repository,i created new instances of those bloc as i co

[2019-04-03 12:53] zjjt commented on #193
Kiwi seems like the way to go to handle my use case.I thought yesterday of using a static class containing all instances of my blocs which i could reuse even in deep parts of my app which do not have access to widget context from flutter....Ill give kiwi a go

[2019-04-03 12:56] MichelMelhem commented on #191
Ok nice

[2019-04-03 13:05] #193 closed

[2019-04-03 13:09] rajeshjeshar commented on #52
@felangel till The Problem happens on Navigation,when i commented out the dispose()... overrides in a stateful widget,it doesn't happen!

[2019-04-03 15:20] PauloKeller commented on #192
Thank you for the answer @felangel!

So I saw the login example, that's a such good example by the way, but I fall in some problems that you doesn't describe really well how to solve than.

The repository, in the login example you use, secure storage for the token persistence, but if a need to persist much more application data how should I persist those data, I just figuring a solution that I doe

[2019-04-03 17:24] bobwiller commented on #182
I have a similar question about how to handle multiple or simultaneous states.  Say I have a custom drawer-like control that has a bunch of menu items on it.  Opening and Closing the drawer would be a set of events (so set state to 'open' or 'close') but which menu item is currently selected is also a 'state'.

[2019-04-03 19:31] vendramini commented on #158
@felangel sorry the delay, I traveled.

I tried both folders: with and without .dat files. Same problem.

I opened my Android IDE now and the plugin has updated. But the problem here still.

[2019-04-03 21:17] jorgecoca commented on #183
I added this [example project](https://github.com/felangel/bloc/pull/195) for reference.

After doing this example, we believe we can simplify the API for consuming streams; we will try to come up with a draft in the near future.

[2019-04-03 21:24] felangel commented on #183
Closing this for now.

@jpablogn let us know if you have any questions/suggestions for how this can be improved 👍

[2019-04-03 21:24] #183 closed

[2019-04-03 21:25] felangel commented on #194
Closing this for now but feel free to comment with any other questions/comments and I can reopen this/continue the conversation. 👍

[2019-04-03 21:25] #194 closed

[2019-04-03 22:44] jpablogn commented on #183
Sorry for my ingnoranze, but:

![flutter_bloc_stream](https://user-images.githubusercontent.com/3143105/55517871-2b0c5600-5672-11e9-9657-a39ab34b1829.png)

Am I right?

[2019-04-03 23:10] felangel commented on #183
@jpablogn I'm not sure I understand your question. Can you please elaborate? I believe the example you've illustrated should work without having to take out `await firestore()`.

[2019-04-04 01:28] felangel commented on #192
No problem @PauloKeller!

Regarding how to persist application data it's totally up to you and should be separate from the bloc. Check out [sqlflite](https://pub.dartlang.org/packages/sqflite) if you haven't already.

Regarding it being difficult to manage more than one global bloc, can you give an example of what you were trying to do and why it was difficult?

Regarding navigation, the approach

[2019-04-04 02:07] kajannDev opened #197 "BlocBuilder not getting called after an update, ListView still displays old data"
I'm using flutter_bloc for state management and landed on this issue. When updating a field and Dispatching UpdateTodo, the BlocBuilder is not refreshing the page. It is working fine when Adding or Deleting. I'm not sure what I'm doing wrong here.

Even if I go to a different screen and returning to this screen it still displays the old data even though the file was updated.

I spent more than 2 h

[2019-04-04 02:08] felangel commented on #197
Hi @kajannDev 👋

Can you share the `TodosLoaded` state implementation please? Thanks! 👍

[2019-04-04 02:13] felangel commented on #52
@rajeshjeshar that means your bloc is being disposed too soon. I would recommend making sure the bloc is disposed by the widget that created it in order to avoid having a situation where a bloc is disposed too soon.

[2019-04-04 02:14] kajannDev commented on #197
[code]

[2019-04-04 02:14] felangel commented on #197
@kajannDev thanks! can you also include the `TodoModel` implementation?

[2019-04-04 02:20] kajannDev commented on #197
[code]

[2019-04-04 02:23] felangel commented on #197
Thanks! I think the problem is you are extending `Equatable` but you aren't passing the props to the super class in this case. If you update your constructor to be:

[code]
I think that will solve your problem. Let me know if that helps! 👍

[2019-04-04 02:27] felangel commented on #190
@basketball-ico

1. You can use mockito to mock BlocC like:

[code]

Then you can inject the `MockBlocC` into `BlocC` like:

[code]

and then you can verify that `EventC` was dispatched to `BlocC`.

3. I think so especially if you also write widget tests and integration tests to test the functionality end to end.

[2019-04-04 02:28] kajannDev commented on #197
That was it. Wow totally missed that. Thank you so much.
Really appreciate your quick response to this.

[2019-04-04 02:28] #197 closed

[2019-04-04 02:29] felangel commented on #197
@kajannDev no problem! Glad I was able to help 😄

[2019-04-04 02:39] felangel commented on #189
@pavankumarkatakam I think that approach is actually fine for your use-case. Why do you feel the code is not organized?

[2019-04-04 02:43] felangel commented on #158
@vendramini no problem! Thanks for following up 👍

We're continuing to investigate the issue but if you discover any new information which can help us please let us know!

[2019-04-04 03:44] anticafe commented on #194
Unfortunately if I mark callback function as `async*` then no log as well as yield at all.
Otherwise if I remove `async*` then there is log but no yield.

My code is:
[code]

[2019-04-04 03:47] felangel commented on #194
Can you please put together a simple sample app that has the same problem? It’d be much easier for me to help if you can share a sample that I can run locally. Thanks!

[2019-04-04 04:00] basketball-ico commented on #190
Thanks :D,

But, when I use verify and **not update the state** I get this error
[code]
For example in your LoginBloc I add
[code]
and in the `mapEventToState`
[code]
and in the test file
[code]
I have the same `Exception`  :(

How do you `verify` this?

Thanks

[2019-04-04 04:40] anticafe commented on #194
Here you are: https://drive.google.com/open?id=1uaZuKrHTD9KE7EzmYR8BBh7Yi0OV801x

[2019-04-04 15:52] PauloKeller commented on #192
Hello @felangel!

I didn't tried sqlflite, I will make some experiments and see if this package solve my problems, but as you said the data persistence is up to me, mix Redux and bloc will be such nice thing to do, I will search for some ways to implement that.

About mix local and global bloc, was hard to me to define some kind of "store" like redux, a single global bloc, the problem was that som

[2019-04-04 21:41] felangel commented on #192
Hey @PauloKeller sounds good!

If you can put together a small sample that you can share of how you're trying to use bloc for global state management that would be awesome. That way I can take a look and try to give suggestions for how to proceed 👍

Regarding navigation, I'm currently investigating several different approaches so that should be coming soon 😄

[2019-04-05 14:21] jorgecoca commented on #191
I just submitted a new release, and now it is pending of approval by JetBrains:

<img width="890" alt="Screen Shot 2019-04-05 at 9 21 07 AM" src="https://user-images.githubusercontent.com/3237451/55634490-3cde1e00-5784-11e9-8dd7-becd9cb9c1e5.png">

[2019-04-05 14:31] felangel commented on #190
@basketball-ico you need to wait before verifying because the dispatch is async.

[code]

[2019-04-05 14:55] diazsasak opened #198 "Stream Variation"
**Describe the bug**
How to implement different stream variation? like publish subject, behaviour subject and replay subject. in my case, the library look like behave like replay subject?

**To Reproduce**
Steps to reproduce the behavior:
1. trigger event on page A, state changed
2. open page B, the blocbuilder seem got all the previous event

**Expected behavior**
the previous event at page A is

[2019-04-05 15:14] aBuder commented on #52
In my code I found the problem. It was the await statement before Navigator.

Produce the same error
[code]

Produce no error

[code]

[2019-04-05 15:57] felangel commented on #198
Hi @diazsasak 👋

Thanks for opening an issue! Can you please provide a sample application which illustrates the problem you are having? Thanks! 👍

[2019-04-05 17:08] basketball-ico commented on #190
@felangel hello and thanks again 🤗
What is the `expectedResponse`?
because `authenticationBloc` is a Mock `authenticationBloc = MockAuthenticationBloc();`

[2019-04-05 21:56] felangel commented on #190
@basketball-ico Now I'm confused haha 😛
If `authenticationBloc` is a mock then why are you testing it?

[2019-04-05 22:50] basketball-ico commented on #190
@felangel Thanks
it work if `expectedResponse = [LoginInitial()]` but why not work if `expectedResponse = []`
because This dispatch not change the state?

like you dispose test
[code]

[2019-04-05 23:10] felangel commented on #190
@basketball-ico where did you see that dispose test? It’s correct to have it emit LoginInitial because that is the initialState before any events have been dispatched.

[2019-04-05 23:14] basketball-ico commented on #190
I see [here](https://github.com/felangel/bloc/blob/e4ee3ed677ec5a52b7247e269ac96711174a970c/examples/flutter_login/test/login/login_bloc_test.dart#L31)

[2019-04-06 00:38] basketball-ico commented on #190
Thanks again,

For example in your [Form Bloc](https://github.com/felangel/bloc/blob/e4ee3ed677ec5a52b7247e269ac96711174a970c/examples/flutter_form_validation/lib/bloc/my_form_bloc.dart#L37) In `FormSubmitted` I replace with this
mapEventToState
[code]
the next test work, but I want to know why I need to expect the last state again for use verify?
so the last state is emitted again?
[code]

[2019-04-06 01:05] diazsasak commented on #198
Thank you for your attention @felangel

I use your example "flutter_login" as a sample application with some modification to illustrates my problem.

main.dart: i directly go to login page
`child: MaterialApp(
        home: LoginPage(userRepository: _userRepository),
        // home: BlocBuilder<AuthenticationEvent, AuthenticationState>(
        //   bloc: _authenticationBloc,
        //   builder

[2019-04-06 07:31] gdo opened #199 "Bug or error in test caused by equatable"
**Describe the bug**
When I use this test class :

`import 'package:flutter_test/flutter_test.dart';
import 'package:meta/meta.dart';
import 'package:equatable/equatable.dart';
import 'package:bloc/bloc.dart';

abstract class LoginEvent extends Equatable {
  LoginEvent([List props = const []]) : super(props);
}

class LoginButtonPressed extends LoginEvent {
  @override
  String toString() => 'Logi

[2019-04-06 13:46] gdo commented on #199
oupss I find My mistake.

[2019-04-06 13:46] #199 closed

[2019-04-06 14:29] felangel commented on #198
Hey @diazsasak

Are you able to share a link to the full app so I can run it locally and help debug the issue? It's going to be much harder to help by glancing at code snippets. Thanks! 👍

[2019-04-06 14:38] felangel commented on #190
@basketball-ico thanks for catching this! I've updated the tests to assert that the initial state is emitted even on a dispose. 👍

[2019-04-06 14:41] felangel commented on #190
@basketball-ico regarding your second question, the last state isn't emitted twice so you don't have to do that. It's just there so that you can make sure the last state change has occurred before verifying that dispatch was called. Hope that makes sense!

[2019-04-06 15:06] felangel commented on #194
@anticafe thanks! You can see the working version [here](https://drive.google.com/file/d/1DYVbw2XRbQvEmfOhkxNraCnMlLSdUZwn/view?usp=sharing). 👍

[2019-04-06 15:32] anticafe commented on #194
@felangel It looks go good. Now it's possible to dispatch download progress although requires more code than just Bloc. Thank you so much for spending time to help me resolve this hard problem. 🥇

[2019-04-06 15:33] felangel commented on #194
@anticafe no problem! Glad I was able to help 😄

[2019-04-06 15:34] felangel commented on #192
Closing this for now but feel free to comment with additional information and I'm more than happy to continue the conversation 👍

[2019-04-06 15:34] #192 closed

[2019-04-06 15:44] PauloKeller commented on #192
Hey @felangel

I found some solutions for the problems that I was facing with multiples blocs, sqflite is helping me a lot, but one little detail about navigation, some times i need to reset my bloc state or change to another state after navigate, if not the bloc keeps dispatching the same state or rebuild the same state, and call's navigation many and many times.

At these example:
[code]
This na

[2019-04-06 15:44] anticafe opened #200 "We should have built-in `SimpleBlocDelegate`"
**Is your feature request related to a problem? Please describe.**
I'm lazy to copy and paste `SimpleBlocDelegate`.

**Describe the solution you'd like**
We should have `SimpleBlocDelegate` built-in, so that anyone can reuse it. And, if possible, rename it to `SimpleDebugBlocDelegate` or something similar to indicate that would print debug log. That class also to have a `printLog` param to enable

[2019-04-06 16:17] basketball-ico commented on #190
@felangel  thanks again,
Sorry, I want to catch the concept. 🤗

So when I use
[code]
1) `bloc.state` emits the current state first?
this is a bloc behavior or a stream behavior?

2) The test that i show you in my before comment is correct? you said "the last state isn't emitted twice so you don't have to do that.", so I am confusing. but remember that I want to dispatch a event after the form is v

[2019-04-06 17:40] felangel opened #201 "Navigation in flutter_bloc"
**Is your feature request related to a problem? Please describe.**
It's difficult to have navigation or other "side-effects" using `flutter_bloc` in response to a state change. Developers need to do the navigation and dispatch another Event to reset the state in order to avoid an infinite loop of pushing routes onto the navigation stack.

[code]

**Describe the solution you'd like**
[code]

[2019-04-06 17:41] felangel commented on #192
@PauloKeller We are aware of this limitation and are trying to improve Navigation using flutter_bloc in #201

I'd love to get your feedback regarding the proposed solution 👍

[2019-04-06 17:44] felangel commented on #200
@anticafe thanks for the feature request 👍

Just curious, are you using VSCode? If so, the [bloc vscode extension](https://marketplace.visualstudio.com/items?itemName=FelixAngelov.bloc) has a snippet for `BlocDelegate` so you don't have to type/copy it over and over.

I'm a bit hesitant to include this directly in the bloc package because I don't really think this is a "core" feature. I can defini

[2019-04-06 18:13] ThinkDigitalRepair commented on #201
What's the resetState for again? It's looking very Reduxy.

[2019-04-06 18:14] felangel commented on #201
@ThinkDigitalRepair the resetState was just to show what you'd currently have to do in order to navigate in response to a bloc state. If we don't resetState then build can be called over and over and our state will always be success so we'll keep pushing new pages onto the navigation stack. Hope that makes sense 👍

[2019-04-06 18:16] ThinkDigitalRepair commented on #201
Unless you store the route as the state that’s called and then have something watching that variable, similar to how you would do it with a tabview or pageView.

[2019-04-06 18:17] felangel commented on #201
Yes, but then that's coupling the bloc to flutter. I don't think bloc states should not be coupled with navigation or any sort of presentation because then they are no longer reusable between mobile and web.

[2019-04-06 18:20] ThinkDigitalRepair commented on #201
I didn't mean as a part of the library, I meant as a part of the state of the bloc

[2019-04-06 18:28] felangel commented on #201
Yeah I get what you mean but I think that’s still bad practice because that means your bloc knows about navigation which ideally shouldn’t not be the case.

[2019-04-06 18:32] ThinkDigitalRepair commented on #201
It would simply be a variable, and then have something outside of the bloc subscribed to the bloc to control the navigation. This is all hypothetical speculation. It can listen and if the variable changes, call the function that pushes the route

[2019-04-06 20:07] Sourabhlpu opened #202 "List update not yielding updates"
Hi,

I have a list in which list items can be selected and not selected. The list is  the bloc itself as a global variable.  I tap on the list item to toggle the selection and dispatch an event to the bloc.
Then in the bloc I toggle the selected state of the tapped item and update the list. After that I yield a  the state only the yield doesn't work.

I was able to debug and see that the currentSt

[2019-04-06 21:04] felangel commented on #202
Hi @Sourabhlpu 👋

My guess is you aren't returning a new instance of your state along with a new instance of your list. If you check out the [todos tutorial](https://felangel.github.io/bloc/#/fluttertodostutorial) you'll see an example of this:

[code]

If that doesn't help, then it would be great if you could share your bloc as well as your state implementation.

Thanks 👍

[2019-04-07 04:10] anticafe commented on #200
I choose Android Studio as main IDE for Android development.

If you don't want to include such `SimpleBlocDelegate` file into `core` feature, let think about add a method for `BlocSupervisor` to enable or disable log, such as `BlocSupervisor.enableDebugLog(bool enable)`. If so, we can enable debug log in debug build, and disable it in release build. Is it okay?

[2019-04-07 07:03] Sourabhlpu commented on #202
Hi @felangel ,

Thank you for your response. Here is the logic that I am using to update my list:
`  if (event is EventTypePressed) {

     List<EventTypes> newEventTypes = List.from(_eventTypes);
      String eventTypeName = newEventTypes[event.index].interestName;
      bool isSelected = newEventTypes[event.index].isSelected;
      EventTypes eventType =
          EventTypes(interestName: eventT

[2019-04-07 07:52] abinvp commented on #201
The proposed solution looks great and I like the idea of having it as part of the bloc builder. Having it in the presentation layer makes it easy to understand how the app is going to react to the state changes.

[2019-04-07 14:23] PauloKeller commented on #192
@felangel I will propose, I will move this discussion to [#201](https://github.com/felangel/bloc/issues/201), and keep from there.

Thanks for the help!

[2019-04-07 15:08] felangel commented on #202
Hey @sourabhlpu!

Can you please include your implementation for your EventType states? Thanks!

[2019-04-07 15:17] Sourabhlpu commented on #202
`abstract class CreateEventStates extends Equatable{

  CreateEventStates([List props = const[]]) : super(props);
}

class CreateEventInitial extends CreateEventStates{

  @override
  String toString() => "createEventInitial";
}

class CreateEventLoading extends CreateEventStates{

  @override
  String toString() => "loading";
}

class CreateEventSuccess extends CreateEventStates{

  @override
  S

[2019-04-07 15:30] felangel commented on #202
Hmm everything seems okay. Are you able to share a link to the repository so I can run the code on my computer and debug it?

[2019-04-07 15:50] Sourabhlpu commented on #202
Yes you can go to my github profile and look for the project flutter-events. Please look for create event section. If you can successfully log into the app. From home screen:
bottom nav profile > organise event > create event screen.

On this screen there is the horizontally scrolling list, which is causing the problem.

Create event page is the only page where I am implementing the bloc library.

[2019-04-07 16:43] felangel commented on #202
Sounds good! I’ll take a look in the next few hours

[2019-04-07 16:47] Sourabhlpu commented on #202
Thanks😊

On Sun, Apr 7, 2019, 10:13 PM Felix Angelov <notifications@github.com wrote:

[2019-04-07 18:57] janhrastnik opened #203 "BlocBuilder doesn't rebuild after yield"
**Describe the bug**
Hi, when I run .dispatch on my bloc, the ListView in BlocBuilder stays the same. Here's the bloc and the blocBuilder:

[code]
[code]
However, if I change the ```yield event;``` in DungeonBloc to ```yield initial state;``` or to a fixed value such as ```yield [DungeonTile(event: DungeonEvent(eventType: "loot", length: 10))];```, then the code works fine and the BlocBuilder gets

[2019-04-07 19:01] felangel commented on #203
Hi @janhrastnik 👋

I believe the issue you’re facing is because you are mutating and yielding the same state instead of yielding a new instance of your state each time. You should use List.from to create a new list from the current event and then you can modify and yield the new list. Hope that helps 👍

[2019-04-07 19:34] janhrastnik commented on #203
I tried this by writing the following code, but the issue stays the same. Did you mean something like this?
[code]

[2019-04-07 19:50] felangel commented on #203
Yeah that’s what I meant. Hmm if it’s still not working can you also share you implementation of DungeonTile? Thanks 👍

[2019-04-07 20:16] janhrastnik commented on #203
Of course. This is main.dart. I'm trying to show a ListView at the centre of the screen with 3 DungeonTile instances. When DungeonBloc gets called once, I want to add another DungeonTile to the ListView then scroll the ListView to show the last 3 DungeonTiles. Then I call DungeonBloc again to remove the first DungeonTile. Hope that clears things up a bit.
[code]
And this is the clickerbloc.dart fi

[2019-04-08 05:34] felangel commented on #203
@janhrastnik I took a look and everything seems to be working fine for me. Check out the [gist](https://gist.github.com/felangel/ea7e276f34aaf9a1b7d6ab76ed0d5fa4). When the event is dispatched, the BlocBuilder rebuilds with the new set of events. Hope that helps 👍

Closing for now but feel free to comment with additional comments/questions and I'm more than happy to continue the conversation.

[2019-04-08 05:34] #203 closed

[2019-04-08 05:35] felangel commented on #190
@basketball-ico

1. The `initialState` will always be the first state that is emitted.
2. You can have as many expectLaters as you want. That doesn't mean that the events are being emitted multiple times. Hope that helps 👍

[2019-04-08 05:42] felangel commented on #200
@anticafe I feel like that would be confusing then because it would be unclear if `enableDebugLog` overrides the BlocDelegate behavior or not. We can always create a separate package to export a `SimpleBlocDelegate` if you think that'd be useful or you can create a template for it in Android Studio (see san4io's comment in https://github.com/felangel/bloc/issues/116).

Closing this for now but let

[2019-04-08 05:42] #200 closed

[2019-04-08 06:00] felangel commented on #202
@Sourabhlpu I tried taking a look but I was having lots of problems because of Firestore and the Google-Services plist not being configured properly. Would it be possible for you to just share a simple sample app which consists of just the create-event bloc and form so that I can more easily debug the issue?

Thanks! 👍

[2019-04-08 06:02] felangel commented on #198
@diazsasak closing for now but feel free to comment with the link to a fully functioning sample app that demonstrates the problem you're having and I'm happy to take a look 👍

[2019-04-08 06:02] #198 closed

[2019-04-08 06:02] Sourabhlpu commented on #202
Yes Sure I will do that

On Mon, Apr 8, 2019, 11:30 AM Felix Angelov <notifications@github.com wrote:

[2019-04-08 06:21] Sourabhlpu commented on #202
Hi,

If possible, can you please share the issues you are facing? I will try to
resolve them. Otherwise I will make a demo app.

Thanks
On Mon, Apr 8, 2019, 11:32 AM Sourabh Pal <nick.tdr19@gmail.com wrote:

[2019-04-08 06:43] Sourabhlpu commented on #202
Hi,

Did you use an Android device to run the app?

Thanks

On Mon, Apr 8, 2019, 11:51 AM Sourabh Pal <nick.tdr19@gmail.com wrote:

[2019-04-08 11:46] JhulFramework opened #204 "i cant make object values to work in provide example"
This code works

[code]

but code below does not works

[code]

i am not able to figure out why.

[2019-04-08 12:14] JhulFramework commented on #204
sorry i just read new state must be created

[2019-04-08 12:14] #204 closed

[2019-04-08 12:15] rrousselGit commented on #5
Just a little comeback on this.
I see many peoples on different mediums claiming that they do BLoC using this library.

But this is confusing because it is clearly not BLoC.

That's bad because the name "BLoC" is popular, and whenever someone recommends this pattern, there's a big chance that they'll land here.

Pardon the wording, but it feels like stealing the popularity of the original pattern.

[2019-04-08 12:31] jorgecoca commented on #191
New version has been released and approved here: https://plugins.jetbrains.com/plugin/12129-bloc-code-generator

Closing this issue. Thank you everyone!

[2019-04-08 12:31] #191 closed

[2019-04-08 13:16] mayurdhurpate commented on #201
I faced some issues while developing a Login Flow with Flutter Bloc. The example provided in the [docs](https://felangel.github.io/bloc/#/flutterlogintutorial) of Login changes the Widget inside MaterialApp instead of pushing new Scaffold.

I face these issues when I don't wish to rebuild any Widget on State change but want to do some Navigator push (or computation/network call) on state change. P

[2019-04-08 15:14] felangel commented on #5
@rrousselGit thanks for your feedback. As I mentioned earlier in this thread, this library is just our interpretation of the BLoC design pattern described [here](https://www.didierboelens.com/2018/08/reactive-programming---streams---bloc/).

The goal of this project is to help the community not to profit or steal anything from anyone. All of the code is open-source and we don't profit from it in a

[2019-04-08 16:01] felangel commented on #202
@Sourabhlpu no I tried running on iOS. I can try on Android as well later today.

[2019-04-08 16:09] rrousselGit commented on #5
The issue is:

`flutter_bloc` do not respect this. Instead, it uses a dispatcher/reducer/selector combined with immutable state – which BLoC never mentioned.

Both the authors of the BLoC talk and the article you linked agreed that a BLoC looks like this:

[code]

`flutter_bloc` is very far from that interface.

____

This is not about profit. It is about being fair to the community.

Peoples are

[2019-04-08 16:17] abinvp commented on #5
@rrousselGit, Sorry, but as a developer using this package for a fairly large project, I have to disagree with your statement "That's ticking the community into thinking that your interpretation is what Google speakers meant."

Most of us have done exactly what you see in the Google videos, then tried to abstract out the code for better organization and readability. We have written something like

[2019-04-08 16:17] Sourabhlpu commented on #202
Well i never ran it on an ios device😉 But then I just downloaded it from
my github again and opened the project and there is actually an issue with
sign in and sign up. I have posted an issue on stack overflow for the same.
Can you please check and see if you can help answer it. I have sent you an
email for the stackoverflow link.

Thanks

On Mon, Apr 8, 2019, 9:31 PM Felix Angelov <notifications@

[2019-04-08 16:20] rrousselGit commented on #5
That's the point. You deviated from the original pattern to make it something custom, different, that better fits your needs.

It's fine. But that's not what was advertised as BLoC.

Other packages are a lot more honest about them being _their interpretation_.  Take "rebloc", "fish_redux" as name example.

[2019-04-08 16:27] rrousselGit commented on #5
To further prove that, this package is extremely similar to [rebloc](https://pub.dartlang.org/packages/rebloc) from a Flutter team member.

And that packages officially states that it is not pure BLoC but a mixture of BLoC and Redux.

[2019-04-08 19:09] janhrastnik commented on #203
Your code works for me now, thank you so much! I've also found my problem now. In my code, the modified list that I'm yielding is dynamic, but if I change it to a List<DungeonTile>, then the code works all  of a sudden.

[2019-04-08 23:14] felangel commented on #201
@abinvp thoughts on having a separate `BlocListener` widget? I'm a bit worried that having it all bundled into `BlocBuilder` will cause confusion and clutter the `BlocBuilder` API.

[2019-04-08 23:15] felangel commented on #201
@mayurdhurpate I'm hoping that `BlocListener` will help in those cases where you just want to do something like Navigation in response to a Bloc state change but don't necessarily want to render a new widget. I'd love to hear your thoughts 👍

[2019-04-09 02:03] anticafe commented on #201
@felangel `BlocListener` seems a smart idea. But I think it's not only for navigation but also for non-UI-related actions. For example:
- In LogInPage (with LoginBloc), we do log in failed (LoginStateFailed), and show an error toast.
[code]
- In this page, touch on ForgotPassword button to nagivate to ForgotPasswordPage. But we still see the last error toast. Why? Because in LogInPage `build()` me

[2019-04-09 02:06] felangel commented on #201
@anticafe I completely agree. My intention is that BlocBuilder will be used for rendering widgets based on the bloc state and BlocListener will be used for the “one time actions” which include things like navigation, showing snackbars, showing toasts, showing dialogs, etc... 👍

[2019-04-09 05:00] felangel commented on #202
@Sourabhlpu I saw the stackoverflow post and I'm not sure what the problem is but it happened to me as well.

You might want to try downgrading your `firebase_auth` version and see if that helps. Are you able to share a simplified version of your app that just has the create-event bloc and form or is it too much of a pain?

[2019-04-09 05:04] Sourabhlpu commented on #202
Well I was trying to avoid making a sample app due to time constraints.
Later tonight I will try to downgrade the auth version n see if that works.
Otherwise I will try to make a demo app.

Thanks

On Tue, Apr 9, 2019, 10:30 AM Felix Angelov <notifications@github.com wrote:

[2019-04-09 05:05] felangel commented on #202
Okay if it's too much work let me know and I will try to remove the authentication from the current implementation so that I can debug the bloc. 👍

[2019-04-09 05:07] Sourabhlpu commented on #202
Thanks i will look into it after  8-9 hours n let u know

On Tue, Apr 9, 2019, 10:35 AM Felix Angelov <notifications@github.com wrote:

[2019-04-09 06:04] abinvp commented on #201
@felangel, that sounds good to me. My intention was to not have navigation coupled with the bloc. As long as we have an option to handle it in the presentation layer, either with BlocBuilder or BlocListener, I am good.

[2019-04-09 06:16] ThinkDigitalRepair commented on #201
You bloc builder or other function can easily listen to the stream and when
it changes, if the value is different, push a new route.

On Mon, Apr 8, 2019 at 11:04 PM Abin Paul <notifications@github.com> wrote:

--
Think Digital
323-638-9448
760-678-8833
Facebook.com/ThinkDigitalRepair

[2019-04-09 12:51] felangel commented on #201
@thinkdigitalrepair I don’t think it’s that easy. You have to deal with the subscription and it becomes separated from the UI. I agree that it’s possible but this change is more to improve the developer experience. I’m not saying it is impossible currently, just inconvenient in my opinion.

[2019-04-09 13:12] Sourabhlpu commented on #202
Hi,

I fixed the issue with the login. I just had to change the restrictions on
my api key from google developers console.

You should be able to login now. You don't have to create a new account. I
will just email u my credentials.

Thanks👍

On Tue, Apr 9, 2019, 10:37 AM Sourabh Pal <nick.tdr19@gmail.com wrote:

[2019-04-09 23:23] rlfrenato opened #205 "State getting reset"
Hello,

I'm trying to make a form and one of the fields I'm using "flutter_google_places" to pick up a place, it basically opens a new page (widget) and after I pick a place it pops the widget returning the chosen place, the problem here is that when the page is pop my form is being reset to initial state.

Below method **_getAutoCompletePrediction** is responsible for opening the google places pa

[2019-04-09 23:26] felangel commented on #205
Hi @rlfrenato 👋

Thanks for opening an issue!

Can you share a sample application with the issue you're having? Is your Form Widget a StatefulWidget? Thanks!

[2019-04-10 00:08] tobytraylor opened #206 "Dispatches of the same event class back to back are ignored"
**Describe the bug**
Dispatches of the same event class back to back are ignored.  This is due to the
`if (currentState == nextState) return;`
in Bloc._bindStateSubject.

Removing that line of code allows the same event to be submitted multiple times.  The use case that i have is similar to the [block with stream example](https://github.com/felangel/bloc/tree/master/examples/flutter_bloc_with_stre

[2019-04-10 00:53] felangel commented on #206
Hi @tobytraylor 👋

Thanks for opening an issue!

The line you're pointing out filters out duplicate states, not events. You can dispatch the same event over and over and the bloc will process it. The problem I believe you're having is when you yield a state in `mapEventToState` it must be a new state (you cannot mutate the `currentState` and yield it). Hope that answers your question. 👍

If you're

[2019-04-10 01:31] tobytraylor commented on #206
Hey.  Yeah I'm not mutating the current state.  I'm creating a new state object based on the stream from firestore and then populating it's members and dispatching it.  I've never used  Equatable before.  Perhaps i need to be making all members Equatable and their nested values Equatable?

[2019-04-10 01:33] felangel commented on #206
If you're extending `Equatable` make sure to pass props to the super class.

[code]

[2019-04-10 01:57] tobytraylor commented on #206
Oh... my... god.  I'm an idiot.  Thanks for the help.  For some reason I had read the properties list as a list of the property names, not the values.  Had `super(['someProp'])`.  Thanks for helping me out there with the example.  Spent close to an hour tracking down your issue and i just should have looked closer at the example.

BTW, thanks so much for the excellent implementation of Bloc.  I wr

[2019-04-10 02:20] felangel commented on #206
No worries! I'm glad I was able to help 😄

Thanks so much for the positive feedback, I really appreciate it 👍
Have a great day!

[2019-04-10 02:20] #206 closed

[2019-04-10 02:41] felangel commented on #202
@Sourabhlpu I just tried running your app on Android and now I'm getting an error:
[code]

Have you been able to put together a sample app? It would make it much easier for me to help. Let me know 👍

Thanks!

[2019-04-10 03:41] Sourabhlpu commented on #202
Well this is frustrating. I will make the demo app later tonight.

Thanks

On Wed, Apr 10, 2019, 8:11 AM Felix Angelov <notifications@github.com wrote:

[2019-04-10 03:44] felangel commented on #202
Yeah I'm not sure what's going on. Sorry I haven't had more time to try to make your current app work but I really appreciate you taking the time to make a demo app 👍
Hopefully it doesn't take up too much of your time.

Thanks!

[2019-04-10 06:05] Sourabhlpu commented on #202
Please clear the cache or clear some data from your emulator and it should work.

Thanks

[2019-04-10 10:17] nambv opened #208 "Should have isDisposed() method"
**Is your feature request related to a problem? Please describe.**
- Sometime we need to check the bloc is disposed or not before call `dispose()` or `dispatch()` method

**Describe the solution you'd like**
- It will be good if we have `isDisposed()` method
[code]

**Describe alternatives you've considered**
- Something like that in `bloc.dart`:

[code]

[2019-04-10 11:01] rlfrenato commented on #205
Thanks for the quick reply, will create a sample app and share here

[2019-04-10 11:02] rlfrenato commented on #205
Thanks for the quick reply, will create a sample app and share here

[2019-04-10 12:46] felangel commented on #208
Hi @nambv 👋

Thanks for the feature request!

Would it be possible to provide some specific examples of when you’d need to know if a bloc was disposed? So far we haven’t had a use case for this but would love to hear about how you’re using bloc and why this is necessary feature. 👍

Thanks!

[2019-04-10 12:48] felangel commented on #202
I tried on multiple emulators but I will try to clear the cache and let you know if it works.👍

Thanks!

[2019-04-10 13:25] Sourabhlpu commented on #202
Hi Felangel,

You can just replace the _handleHomeScreen method in the main dart file
with the code in the below link replace with this code
<https://gist.github.com/Sourabhlpu/cea06b9cf97f3f8310f2f10d0358c9b4>

This will take you to the form and you can debug easily.

Thanks

On Wed, Apr 10, 2019, 6:18 PM Felix Angelov <notifications@github.com wrote:

[2019-04-10 16:49] felangel commented on #201
`BlocListener` is now available in `flutter_bloc` v0.10.0 🎉

[2019-04-10 16:49] #201 closed

[2019-04-10 22:18] felangel commented on #202
@Sourabhlpu I finally was able to run it!

The issue is you're not passing the props to the superclass in `EventTypes`.

You need to call super and pass the props otherwise Equatable won't work properly. 👍

[code]

[2019-04-10 22:18] #202 closed

[2019-04-10 23:28] Nothing-Works commented on #201
@felangel  any plan that this will be added in [docs](https://felangel.github.io/bloc/#/gettingstarted) ?

[2019-04-10 23:29] felangel commented on #201
@Nothing-Works yup I’m working on the docs and vscode extensions snippets as we speak haha 👍

[2019-04-10 23:48] rlfrenato commented on #205
When creating the sample app I have not faced the issue, I'm maybe missing something in my other code, will dig further. For now I think the issue can be closed.

Sorry :S

[2019-04-10 23:48] #205 closed

[2019-04-11 00:01] felangel commented on #205
Sounds good! Feel free to reach out with any additional questions 👍

[2019-04-11 01:25] felangel commented on #201
@Nothing-Works published v0.5.0 of the [bloc vscode extension](https://marketplace.visualstudio.com/itemdetails?itemName=FelixAngelov.bloc) which has snippet support for `BlocListener` and added a [BlocListener Recipe](https://felangel.github.io/bloc/#/recipesbloclistener) to the docs.

[2019-04-11 01:31] Nothing-Works commented on #201
@felangel you are amazing!!!

[2019-04-11 05:37] romaluca opened #209 "Is correct insert FirebaseMessaging in application_bloc?"
Hi, i'm trying to develop an app with bloc pattern.
I'm using plugins like firebase_messaging, sentry, etc.
My question is.. Where i have to put the variable with the instance of them?
In the application_bloc like a  variable  or in the ApplicationState?

Thanks

[2019-04-11 05:41] felangel commented on #209
Hi @romaluca 👋
Thanks for opening an issue!

Regarding your question, I would recommend treating the plugin instance as a raw dat provider and creating a repository around it like UserRepository etc. Then you can inject the repository Into the bloc as a dependency. You can check out the [firebase authentication example](https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_authent

[2019-04-11 05:42] #209 closed

[2019-04-11 05:50] Sourabhlpu commented on #202
Well finally!! Thank you so much time for this. I really appreciate you taking out your time and looking into my code. Just one question, we cannot use built value  instead of equatable?

[2019-04-11 11:29] cosinus84 opened #210 "Using context in initState"
I was looking in your example and I saw in https://github.com/felangel/bloc/blob/master/examples/flutter_todos/lib/screens/home_screen.dart
[code]
Is this safe to use the context in initState? Reading the all the documentation around everybody is saying not to use context in initState. Can you explain why is ok using as you did.
I am doing always in didChangeDependencies something like _filteredTo

[2019-04-11 11:48] 1AlexFix1 opened #211 "How it work BlocListeners?"
Hi, I saw that you added a useful thing, since BlocListener fixes many problems in the form of onWidgetDidBuild or globalKey storage on Scaffold, etc.
I looked at the implementation, and I realized that at first all BlocListeners in the widget tree were jerking, only then the tree was rebuild, apparently this is a life hack, but why are you doing skip (1) in a subscription to the widget's state? I

[2019-04-11 12:38] dsmo commented on #206
Hi @felangel ,got the same issue here, when i use a RefreshIndicator (like the Weather demo) to dispatch a new Fetch event, if the data of the next state is equal with the current state, then BlocBuilder won't be notified, and the RefreshIndicator will be loading forever. Should I avoid using Equatable for my state class and json model in this scenario?

[2019-04-11 12:54] felangel commented on #202
No problem! Sorry it took so long and yeah you can totally use built value. Check out this [tutorial](https://youtu.be/BJY8nuYUM7M) for an example 👍

[2019-04-11 13:04] felangel commented on #206
Hi @dsmo 👋

You can definitely avoid using Equatable if you really want a rebuild even though the state hasn’t changed but I would question why you want that behavior. If nothing has changed then why do you want the UI to rebuild? It might be an issue of using Equatable properly. Can you confirm that you are passing the properties to the superclass? Thanks! 👍

[2019-04-11 13:29] 1AlexFix1 commented on #211
Sorry to speak English badly, under the tree of widgets I meant the following. I created the following hierarchy. Forests -> .... -> BlocListener -> ....-> BlocBuilder -> ... -> BlocListener. After the printout of calls, regardless of where BlocListener is located, it is guaranteed to be called first, then only the rebuilding of widgets inside BlocBuilder. Thank you, this is a great solution in my

[2019-04-11 13:29] #211 closed

[2019-04-11 14:15] craiglabenz commented on #108
I'm possibly being dense, but I'm curious how you'd recommend handling the `BlocBuilder`, which requires specific event and state classes. Consider:

[code]

Am I thinking about this correctly?

Thanks so much!

[2019-04-11 15:42] cosinus84 opened #212 "BLoC wait for another BLoC state change"
How can I change the state of a bloc in mapEventToState of another Bloc

 I have this situation
[code]
I need somehow to change the authBloc state, and then yield AppInitialized(). authBloc.dispatch(AuthDemoEvent()) is async operation and AppState is AppInitialized before authBloc state is changed.

I found that I can call `await authBloc.mapEventToState(AuthDemoEvent()).first` in mapEventToState.

[2019-04-11 17:12] felangel commented on #210
Hi @cosinus84 👋
Thanks for opening an issue!

Great observation and normally I would recommend accessing inheritedWidgets in `didChangeDependencies` but with BlocProvider it works in `initState` because it uses `ancestorInheritedElementForWidgetOfExactType` combined with`updateShouldNotify(BlocProvider oldWidget) => false;`

Normally if you're using `inheritFromWidgetOfExactType` and support notif

[2019-04-11 17:12] #210 closed

[2019-04-11 17:14] felangel commented on #212
Hey @cosinus84 👋

Great question! This isn't simple to do because `dispatch` is asynchronous and is not `awaitable` (because you can yield multiple states for a single event).

Can you provide a sample app and describe what feature/functionality you're trying to implement and I can try to give suggestions on how I would go about implementing it without having to do stuff like `await authBloc.mapEv

[2019-04-11 17:30] felangel commented on #108
Hey @craiglabenz 👋

In general, I would recommend wrapping the UI that depends on a particular bloc state in a BlocBuilder. If a part of the UI depends on state from multiple blocs you can either have nested BlocBuilders or you can have a new bloc which composes the states from the two blocs into a new state which the presentation layer would consume via a single BlocBuilder. Hope that makes sense

[2019-04-11 19:19] craiglabenz commented on #108
Thanks @felangel. Thanks for that - so much of Flutter makes obvious sense, but I've been leaning on lots of tutorials to get a sense of how to correctly glue all the different pages together. Lots of those tutorials have a single global piece of routing, which I was representing in my snippet above. I think my question is mostly about how to use `flutter_bloc` to handle when a user swaps to a com

[2019-04-11 19:38] cosinus84 commented on #212
In the first place thank for your quick answer and patience.
I have AppBloc witch is load in main.dart

[code]
In AppBloc:
[code]
In AuthBloc:
[code]
**In another the application I did before**  I set authBloc as a property in AppBloc
[code]
and in AuthBloc

[code]

With this new one application I wanted to pull AuthBloc from AppBloc. So when the AppBloc is ini initialized state the authBloc shoul

[2019-04-11 19:54] jorgecoca opened #213 "BlocListener skips initialState"
**Describe the bug**
BlocListener skips initialState

**To Reproduce**
Steps to reproduce the behavior:
1. Create a BlocListener
2. listener never receives the initalState declared in the bloc

**Expected behavior**
All states are received on the listener

[2019-04-11 20:39] felangel commented on #213
Published in `flutter_bloc` v0.10.1 🎉

[2019-04-11 20:39] #213 closed

[2019-04-11 20:56] OndrejKunc commented on #174
@felangel just FYI here is the package on pub https://pub.dartlang.org/packages/flutter_bloc_extensions :)

[2019-04-11 21:01] felangel commented on #108
@craiglabenz I think the closest example of a complete app with "structural glue" is the [Todos App](https://felangel.github.io/bloc/#/fluttertodostutorial). Let me know if you have any other questions along the way; I'm happy to help 😄

[2019-04-11 21:39] felangel commented on #174
@OndrejKunc that's awesome! I'll add a link to it in the docs 💯

[2019-04-11 22:17] OndrejKunc commented on #174
@felangel Wow, thanks for the great promotion! 👍
I hope I will be able to keep the quality of the package on a decent level, otherwise feel free to remove it from the docs and readme anytime 😃

[2019-04-11 22:33] felangel commented on #212
Hey @cosinus84 thanks for the extra details.

Based on what you said, I would recommend making the AuthBloc have a dependency on the AppBloc and then in the constructor of the AuthBloc you can subscribe to the AppBloc state like:

[code]

Check out [bloc to bloc communication](https://felangel.github.io/bloc/#/architecture?id=bloc-to-bloc-communication) in the docs.

Alternatively you can use `Blo

[2019-04-12 05:56] cosinus84 commented on #212
Thanks, in the end I will adapt to one of this solutions.
I think what I am trying to say is that the only way to add a state is using dispatch(event.sink), no way of adding a state directly to the bloc(only when instantiate you have an initial state).
Adding directly to the stateSubject bypassing the mapEventToState (for example: I will do all the work in AppBloc and in the and just adding(sync)

[2019-04-12 12:23] felangel commented on #212
I think that’s totally fine! It’s intentional that there is only one way to change a bloc’s state.

Bloc attempts to make state changes predictable by regulating when a state change can occur and enforcing a single way to change state throughout an entire application.

If you’re worried about things becoming too cluttered then I would ask the question, what does AppInitialized actually mean? I thi

[2019-04-12 12:24] #212 closed

[2019-04-12 12:26] felangel commented on #208
Closing this for now since we don’t have a specific use-case.

When you get a chance let me know what the use case is and we can continue the discussion 👍

[2019-04-12 12:26] #208 closed

[2019-04-12 13:29] cosinus84 commented on #212
Yes you might be right regarding AppBloc, but I am thinking to have an main AppBloc that may do something in the future.I am ok with the solution found because, as I said in previous comment, if I add more blocs that need to do work when app starts I can make some rx magic to combine, etc....
 I also hope that this discussion might helps others that are trying everyday take over the world :)
Thank

[2019-04-12 19:51] SaeedMasoumi opened #215 "Is it necessary to use BlocProvider.of when using DI?"
I provide lazy singletons for all of my bloc instances using [get_it](https://pub.dartlang.org/packages/get_it), So I simply inject them into my widgets.

I want to know that It's necessary to use `BlocProvider.of` or It's ok to use any DI libraries?

[2019-04-12 20:14] felangel commented on #215
Hi @SaeedMasoumi 👋
Thanks for opening an issue!

Great question! `BlocProvider` is there if you need it but there's nothing stopping you from using any other DI libraries 👍

[2019-04-12 20:14] #215 closed

[2019-04-13 11:23] romaluca opened #216 "InfiniteListView with follow button: one bloc per all list or one bloc per item?"
Hi, i have a infinite list view.
Every items has a follow button.
Is better put a bloc in every item with follow Event or manage the Event in the bloc list?
Thanks

[2019-04-13 13:45] felangel commented on #216
Hi @romaluca 👋
Thanks for opening an issue!

I’d recommend starting with a bloc for the entire list and seeing if that fits your needs.
You can check out the [infinite list example](https://felangel.github.io/bloc/#/flutterinfinitelisttutorial) for an example of you haven’t already 👍

Hope that helps!

[2019-04-13 13:45] #216 closed

[2019-04-13 16:00] nhwilly commented on #139
The impressive part of this package is the documentation and fully filled out examples.  The number of "counter" apps that really don't tell you about localization, authentication and other real problems has just swamped the search process.

I intend to build a complex app with this (after trying 3 others) and feel good about the chances of success after see the docs and samples.

Thanks so much f

[2019-04-13 16:15] jorgecoca commented on #139
@nhwilly let us know about your experience! we hope you find this package very easy  to use 🤞 buy if you had any issues/questions, we will gladly help you!

[2019-04-14 18:25] Sourabhlpu opened #217 "Rebuilding the widget when showing error message in snackbar"
Hi,

I have a listview in the bloc builder. Before returning the list in the builder I am checking for error and showing a snackbar:
[code]
The issue is that when there is an error the whole widget is built again and the list ends up being empty.

Also if my last state was an error state and when the widget is built again (eg. keyboard close or open) the snackbar is shown everytime.

[2019-04-14 18:41] felangel commented on #217
Hi @Sourabhlpu 👋
Thanks for opening an issue!

We recently added `BlocListener` to flutter_bloc v0.10.0. BlocBuilder should not be used for one-time actions like showing a SnackBar because the builder method can be called multiple times by Flutter.

Check out the [BlocListener Recipe](https://felangel.github.io/bloc/#/recipesbloclistener) for an example 👍

Hope that helps!

[2019-04-14 18:42] #217 closed

[2019-04-14 18:48] Sourabhlpu commented on #217
Wow, I was just thinking if a feature something like that could be added
and it was already there. Great this is cool👍

On Mon, Apr 15, 2019, 12:12 AM Felix Angelov <notifications@github.com
wrote:

[2019-04-14 21:43] felangel commented on #180
Added SignUp to the [Flutter Firebase Authentication Example](https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_authentication).

[2019-04-14 21:43] #180 closed

[2019-04-14 23:24] craiglabenz opened #218 "Awkwardness around the final build() before BlocListener navigates"
**Is your feature request related to a problem? Please describe.**
`BlocListener` is amazing, but its dependence on `State` instances instead of `Event` instances means that, when the `BlocListener` is going to navigate us to a new screen, there's always one final, unwanted render first. (Obviously, if the `BlocListener` is not navigating, but doing something on the page, then this is not a proble

[2019-04-14 23:34] felangel commented on #218
Hi @craiglabenz 👋
Thanks for opening an issue and great question!

You make an interesting point about using events instead of states; however, we only intended BlocListener to be used when a state change triggers a "one-time action".

I think (unless I'm misunderstanding) if you are creating "no-op" states just for the sake of navigation, then you probably don't need to use BlocListener and can j

[2019-04-14 23:36] craiglabenz commented on #218
Thanks for the quick response!

That makes sense - coming from Redux land in the web, I'm used to trying to also think of app location as itself just more state, but I think what you're saying probably makes sense.

I'll report back soon after I've tried it out. :smile:

[2019-04-15 06:47] vepak opened #220 "back Navigation"
Hi Felix, Thank you for the awesome library and examples.

I've followed your login and infinite list examples and combined both the flows.

Here is the flow: Splash Screen -> Landing for Sign up/Login -> Login -> Infinite List

In the landing for Signup/ Login page, if the user clicks the login button, we're showing login page by using events.

My question is how can we have the back button on th

[2019-04-15 10:17] furkanvatandas opened #221 "Login tutorial with BlocListener"
I tried to BlocListener with your Login tutorial [example](https://felangel.github.io/bloc/#/flutterlogintutorial). When I press Login button, it's open HomeScreen() but it prints "AppState AuthenticationAuthenticated" twice in BlocBuilder. Is it normal?

[code]

[2019-04-15 10:48] abinvp commented on #220
This is because you are not pushing anything to the navigation stack instead, handling the state right from the MaterialApp. To achieve the result you need, just use Navigator to Login/SignUp pages so that the back button will show up automatically. Hope that helps.

[2019-04-15 11:15] felangel commented on #221
Hi @furkanvatandas 👋
Thanks for opening an issue!

That’s strange...are you sure it’s not one print from BlocListener and one from BlocBuilder?
I see you have two print statements in your example and what should happen is BlocListener should be called with Authenticated and then BlocBuilder should be called with Authenticated  after. Let me know if you remove the print from BlocListener does it st

[2019-04-15 11:18] felangel commented on #220
Hi @vepak 👋
Thanks for opening an issue!

Like @abinvp mentioned, if you want to have a navigation stack with a back button that pops off the stack you just need to use Navigation.push instead of returning a different screen based on the AuthenticationState. Hope that helps 👍

[2019-04-15 11:25] vepak commented on #220
Thank you @abinvp @felangel for guidance, I tried doing this based on the state instead of returning screen.

              Navigator.push(context, MaterialPageRoute(builder: (context) => LoginPage(userRepository: _userRepository)));

I got the following error. Do I need to do anything differently? Thank you for your time.

setState() or markNeedsBuild() called during build.
I/flutter (20465): Thi

[2019-04-15 11:30] felangel commented on #220
You should use BlocListener for navigation in response to state changes. Check out the [BlocListener Recipe](https://felangel.github.io/bloc/#/recipesbloclistener) for an example. 👍

[2019-04-15 11:38] vepak commented on #220
Thank you! Will try and let you know. Once again really appreciate your time & efforts in great documentation.  👍

[2019-04-15 11:40] furkanvatandas commented on #221
That’s strange...are you sure it’s not one print from BlocListener and one from BlocBuilder?
Yes, I am sure that it is same print.

When delete BlocListener, it works fine only one print. But with BlocListener it's opening HomeScreen and then print "AppState AuthenticationAuthenticated" twice.

Console:
- AppState AuthenticationAuthenticated Listener
- AppState AuthenticationAuthenticated
- AppSta

[2019-04-15 11:41] craiglabenz opened #222 "Awkwardness around 2 screens listening to the same BLoC"
**Is your feature request related to a problem? Please describe.**
If two screens both listen to the same bloc (maybe they're multiple steps in an onboarding wizard that are identical but for their actual text fields), both screens continue to fire and respond to actions, even after navigating to the second screen.

See distilled code at bottom.

**Describe the solution you'd like**
It makes sense

[2019-04-15 11:43] felangel commented on #221
Thanks I’ll take a look shortly 👍

[2019-04-15 14:43] felangel commented on #222
Hi @craiglabenz thanks for opening this issue!

I would recommend having two different bloc instances and providing each instance to the workflow pages separately rather than using a global bloc provider.

[code]

Does that help or do you want to have the same bloc state for both pages? I would imagine you'd want each page to have it's own state so that when you navigate, you have a clean state on

[2019-04-15 14:43] felangel commented on #218
Closing for now but feel free to comment with additional findings/observations and I'm happy to continue the discussion 👍

[2019-04-15 14:43] #218 closed

[2019-04-15 14:44] felangel commented on #220
No problem! Closing for now but feel free to respond with additional comments and I'm happy to continue the conversation 👍

[2019-04-15 14:44] #220 closed

[2019-04-15 20:01] hawkinsjb1 commented on #222
In my case I retrieve a json object list at the root page and I am navigating to a 'details' type screen which should update the specific object's details. When I make changes to the details of an object, both the initial screen's BlocBuilder and the second screen's BlocBuilder rebuild (global bloc provider). I am too wondering if there is a way to only fire a rebuild if the current screen's bloc

[2019-04-15 23:28] felangel commented on #222
@hawkinsjb1 I personally would not worry about optimizing for rebuilds unless you're running into performance issues. Flutter is designed to rebuild widgets many times and if both pages depend on the same bloc state stream then I'd say don't worry (unless, like I said, you're seeing performance issues). Hope that helps!  👍

[2019-04-15 23:45] felangel commented on #221
@furkanvatandas I took I look and was able to reproduce the behavior you're describing. The builder method can be invoked many times by Flutter and it's totally normal.

The build method is designed in such a way that it should be pure/without side effects. This is because many external factors can trigger a new widget build, such as:

- Route pop/push, for in/out animations
- Screen resize, usual

[2019-04-15 23:45] #221 closed

[2019-04-16 06:48] felangel opened #223 "Allow for Advanced Stream Transformation"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to configure how events are processed by the bloc. It is only possible to filter the incoming events but the way in which they are processed is fixed (`asyncExpand`).

**Describe the solution you'd like**
`transform` should be able to be overridden to control how/when events are processed by `mapEventTo

[2019-04-16 06:49] locpt opened #224 "Performance on listView"
Hi @felangel,

You just contributed a great project to our flutter community. I really loved it.
In your flutter_inifite_list, I saw that:
 - Each time we get the new data and addAll to the list, the flutter ListView try to rebuild the entire list (from the beginning item).

So I wonder:
1/ Does it affect the performance of the list view if our PostWidget had much more complicated UI(maybe, it inc

[2019-04-16 07:03] felangel commented on #224
Hi @locpt 👋
Thanks for opening an issue and great question!

The `ListView.builder` constructor will only create items as they are scrolled onto the screen ([source](https://flutter.dev/docs/cookbook/lists/long-lists)).

As a result, as long as our build is a pure function (meaning we don't have any side effects like making network requests or reading from a DB) it should be totally fine. I haven'

[2019-04-16 07:03] #224 closed

[2019-04-16 07:09] locpt commented on #224
Thank you so much @felangel

[2019-04-16 10:40] vepak commented on #220
Hi @felangel, I've tried using BlocListener, now I could see navigation to a page with the back arrow button, but its behaving strangely.

Here is the code, https://github.com/vepak/login_infinite_list_flutter/blob/master/lib/providers/app_start.dart

I see a flash of error "A build function returned null." before rendering login page and when I hit back arrow, I see the error

A build function re

[2019-04-16 11:11] abinvp commented on #220
@vepak, this is because you have a state in the app that doesn't return anything from the builder. Either make sure to handle all the states or try to return an empty Container() as default. This will fix the issue.

` if (state is AuthenticationUninitialized) {
                return SplashPage();
              }
              if (state is AuthenticationAuthenticated) {
                return Pro

[2019-04-16 12:27] vepak commented on #220
Thank you @abinvp for your suggestion. I tried returning Container() and theoretically, it works without error, but the blank screen (container) is shown when I hit the back button.

I logged the state to understand the flow, when I press the back button in the login screen, the state which is used to do navigate to the login page in the listener is printed i.e. "AuthenticationLogin". Also, when I

[2019-04-16 14:23] hoaquo opened #226 "BlocDelegate exceptions"
What's wrong with it? I wrote a generic bloc and it works fine, it has states:

ModelEmpty
ModelLoading
ModelLoaded
ModelError

with first use, I create a `bloc<A>` and load Model A, it works fine
and then I create `bloc<B>` and start load model B, then I got this exception, bloc still works flawlessly but the state doesn't transit anymore.

 **Stacktrace**

[2019-04-16 14:25] felangel commented on #226
Hi @hoaquo 👋
Thanks for opening an issue!

Is it possible for you to share a sample app with the problem you’re describing? Thanks!

[2019-04-16 14:35] hoaquo commented on #226
That's big app, I can only extract bloc code here

[code]

In one screen I create a PagingModelBloc<ModelA> and get data very well.
One other screen I create PagingModelBloc<ModelB>, it also gets data very well, but at the initialize transition, ModelEmpty, I got above exception

[2019-04-16 16:32] felangel commented on #222
Closing this for now but feel free to comment with additional concerns/questions and I'm happy to continue the conversation 👍

[2019-04-16 16:32] #222 closed

[2019-04-17 01:11] cyrsis opened #227 "Bloc Plugin wont install in Intellij Ultimate 2019.1"
**Describe the bug**
Can not find plugin from the official Market

![image](https://user-images.githubusercontent.com/731087/56253703-1a3af600-60f0-11e9-80a1-3047d91e8e01.png)

Try manual install from Disk

![image](https://user-images.githubusercontent.com/731087/56253794-80277d80-60f0-11e9-901d-e0437839a86e.png)

Wish I can fix it and PR, but end up doesn't work too well

[2019-04-17 01:36] felangel commented on #227
@cyrsis thanks for reporting this! We’ll investigate and hopefully have a fix for this soon 👍

[2019-04-17 01:37] cyrsis commented on #168
Great, Just found out my problem with Bloc can solve by Hook~ Let me give it a try

[2019-04-17 01:41] felangel commented on #227
@jorgecoca according to IntelliJ, the plugin should be compatible with IntelliJ Ultimate 2019.1. Any ideas what might be causing this?

[2019-04-17 02:38] cyrsis commented on #227
@felangel Works in Android Studio, Great plugin

[2019-04-17 03:51] felangel commented on #226
@hoaquo can you please provide the implementation of PagingModelEvent and PagingModelState?

[2019-04-17 04:55] felangel commented on #220
@vepak I took a look at your code and I my recommendation is not to use BlocListener for navigation unless you need to navigate in response to a state change. If you are just navigating in response to a user pressing a button you don't need to use BlocListener and you can just use `Navigator.of(context).push(...)` in the `onPressed`. Hope that helps 👍

[2019-04-17 05:12] vepak commented on #220
@felangel @abinvp Thank you guys for your time and suggestions.

[2019-04-17 05:24] felangel commented on #223
Published the change in `bloc 0.12.0` and `flutter_bloc 0.11.0` 🎉

[2019-04-17 05:24] #223 closed

[2019-04-17 13:21] hoaquo commented on #226
Thank @felangel  for fast reply. I think there's nothing special with implementation of `Event` and `State` classes
[code]

[code]

[2019-04-17 13:24] felangel commented on #226
Hmm it might be because you’re using generics with Equatable 🤔

Thanks for the additional info, it really helps! I’ll investigate and get back to you later today 👍

[2019-04-17 13:27] hoaquo commented on #226
I don't know, first use with `Bloc<ModelA>` works fine but later call with `Bloc<ModelB>` doesn't work, then call again on `Bloc<ModelA>` works.

[2019-04-17 13:30] felangel commented on #226
If possible, it would really help if you could put together a super simple app that illustrates the issue you’re having and share the link with me. It would be much easier to debug if I can reproduce the issue in an app on my own computer.

[2019-04-17 13:40] hoaquo commented on #226
I sent email for you. :-)

[2019-04-17 13:44] felangel commented on #226
Thanks I’ll have a look at the video.

[2019-04-17 17:21] warriorCoder commented on #139
@nhwilly Can you define "complex app" for me?

I've also been considering adding complexity to the sample apps. Mainly I'm thinking of extending the todo app to include a layer above the todo's called projects, adding side navigation and a firebase login with Google, Facebook, Phone Number, and Email.

Personally, I feel like that would constitute a complex app.. would you agree or are there other

[2019-04-17 17:53] Sourabhlpu commented on #217
Hi @felangel,

I have a question again on this. So listener is great but the same any event calls both the listener and the bloc builder right? My main issue is, suppose I have already loaded a list, now I want to display some error message in snackbar as user taps on some button. Because this new event rebuilds my widget as well and since this new state doesn't have a list I don't have a list to

[2019-04-17 18:21] felangel commented on #217
Hey @Sourabhlpu,

I think it might help if I better explain how it all works:

1. An event is dispatched
2. The bloc processes the event and yields a new state
3. BlocListener gets notified of the state change
  - Here we can do one-time actions like navigate or show a SnackBar
4. BlocBuilder gets notified of the state change
  - Here we need to tell Flutter what widgets to build in based on the c

[2019-04-17 18:27] Sourabhlpu commented on #217
Thanks for the quick response. That helped. I was thinking the same way
about the solution but I thought probably it was not the right thing to do
and there was a better way. 😊

On Wed, Apr 17, 2019 at 11:51 PM Felix Angelov <notifications@github.com>
wrote:

[2019-04-17 18:38] felangel commented on #217
No problem! Bloc has no opinion about how to set up your states and events so it's totally up to you and depends on the feature 👍

[2019-04-17 21:06] nhwilly commented on #139
I'll just point out some things that I think I'll have to work out:

- Centralized web api calls that can handle an authentication failure (401), prompt the user for a password if the refresh token fails and then automatically try the operation again.
- A side drawer menu that deals with permissions for presenting some menu items.
- A reusable crud block to handle the basics stuff from so many ite

[2019-04-18 00:17] hoaquo commented on #226
Did you found something interesting, @felangel?

[2019-04-18 00:18] felangel commented on #226
@hoaquo i'm actually looking right now haha.

[2019-04-18 00:34] felangel commented on #226
@hoaquo can you give me steps for how to reproduce the issue? I don't think you sent me a video, I only see a screenshot 😢

[2019-04-18 00:49] felangel commented on #226
@hoaquo I found the issue. It's because when the state is `PagingModelLoaded`, the `onTransition` method in your `XenforumBlocDelegate` calls print on the transition. This calls `toString` on `PagingModel` which throws an exception.

If I change your `PagingModel` override for `toString()` to this:

[code]

Then it works fine.

[2019-04-18 00:49] #226 closed

[2019-04-18 01:23] hoaquo commented on #226
Oh simple problem? Thank you very much

[2019-04-18 01:23] hoaquo commented on #226
But why the first call on other models have no problem?

[2019-04-18 01:25] felangel commented on #226
@hoaquo it's because this model's `toString` was not overridden properly. I didn't look into it too much but my guess is your `toString` was either infinite looping or you were trying to print/access data that wasn't there so an exception was thrown.

[2019-04-18 01:38] hoaquo commented on #226
Thank you very much for your great support @felangel

[2019-04-18 08:30] esfomeado opened #229 "Bloc code generator not support on Android Studio 3.4"

[2019-04-18 09:29] anatter opened #230 "Dispose multiple blocs"
Hello @felangel,

first, thank you for this great package! It really makes implementing the BLoC pattern so much easier.

Now to my question:
- Is it possible to dispose multiple blocs at once? This would be really useful when logging a user out of a app.

In my current project I have multiple blocs listening to different firestore collections. When a user presses the logout button it should cance

[2019-04-18 12:59] felangel commented on #230
Hi @anatter 👋
Thanks for opening an issue and for the positive feedback!

Regarding your question, each bloc is independent and needs to dispose it’s subscriptions when it is disposed (similar to a StatefulWidget). Can you please share sample app with the problem you’re describing just so that I have a better understanding of your use-case? Thanks!

[2019-04-18 13:02] felangel commented on #229
Hi @esfomeado 👋
Thanks for opening an issue!

This is most likely related to #227 and should be fixed by #228. 👍

[2019-04-18 14:30] anatter commented on #230
Thanks for your quick reply. I resolved my issue in the meantime.

I was calling `FirebaseAuth.instance.singOut()` before my blocs (which had open streams to firestore) were disposed. This triggered a Exception (`com.google.firebase.firestore.FirebaseFirestoreException: PERMISSION_DENIED: Missing or insufficient permissions.`) because I logged out of Firebase before I cancelled my subscriptions.

[2019-04-18 14:30] #230 closed

[2019-04-18 15:41] cyrsis commented on #168
I did a study on hook, intended to solve my animation controller but end up move on with flare.

but I guess we are trying to solve same problem

let's take a look the map

`
import 'dart:async';

import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import './bloc_action_widget/GoToNewYorkButton.dart';
import '../MapBlocExport.dart';
import 'package:google_maps_

[2019-04-18 18:45] njovy commented on #182
@felangel I also ran into this problem when I use bloc pattern in my application.
Let's say I have two two blocs, a notification bloc which receives a new notification from a server and a tab bloc which receives an index of tab when a user presses a bottom navigation tab like Todo tutorial in flutter bloc website.
I have a UI that has an app bar and a bottom navigation bar. Whenever a new notifica

[2019-04-19 00:32] felangel commented on #182
@njovy thanks for the positive feedback and for the great question!

Can you please explain a bit more what you mean when you say, "it can lead to a redundant update"?
You can wrap only the UI that needs to change in response to a notification in a BlocBuilder rather than wrapping everything. If it's possible, it'd be awesome if you can share a sample app that illustrates your current setup so tha

[2019-04-19 01:38] felangel commented on #158
@vendramini the issue should be resolved by #228 I am just waiting for it to be reviewed published 👍

[2019-04-19 01:38] felangel commented on #227
@cyrsis this should be addressed by #228

[2019-04-19 07:53] eliaspn opened #231 "Build error: angular_github_search [win]"
Hello there 👋, thanks for the package and all detailed examples. The example git  github_search  helps a lot to conceptualize the cross platform architecture with BloC 👍

I'm having an issue while compiling the angular_github_search . It seems that some files are missing in /build/generated. Could be a permission issue ?

I've tried the following:
- running the command in Windows Power Shell
- del

[2019-04-19 10:11] anticafe opened #232 "Must wait for first Event done before start second Event"
**Describe the bug**
I cannot start 2 Events simultaneously. Must wait for first Event done before start second Event.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample to download file. I dispatch `EventDownloadStart` to the DownloadBloc in order to start downloading. Then in main UI, I receive `StateDownloadProgress(double progress)`.
2. Touch on button *Stop downloading* to

[2019-04-19 12:20] felangel commented on #231
Hi @eliaspn 👋
Thanks for opening an issue and for the positive feedback!

I’ll take a look later today and see if I’m able to reproduce it 👍

[2019-04-19 12:22] felangel commented on #232
Hey @anticafe 👋

Thanks for reporting this and linking to the example app! I’ll take a look later today 👍

[2019-04-19 12:49] eliaspn commented on #231
Thanks for responsiveness, since i didn't manage to build Dart in Fedora, in the meantime i'll give it a shot in Ubuntu 19.04

[2019-04-19 12:53] felangel commented on #231
No problem! You might want to also try setting up your own angular dart project as described in the [tutorial](https://felangel.github.io/bloc/#/flutterangulargithubsearch?id=angulardart-github-search) and copying over the dart files over. If that works then I’ve missed committing certain files to git.

[2019-04-19 19:40] njovy commented on #182
@felangel Thanks for the quick reply. I will set up a demo repository as soon as it's ready.

[2019-04-19 20:38] njovy commented on #182
@felangel Please take a look at this demo and see if this bloc usage is okay. I was wrong about a redundant update. Sorry for the confusion. I basically wrapped the only UI to change as you suggested. Also, I was wondering if a bloc can be used in a multiple bloc builder. The demo has a notification bloc which just toggles a state every 10 seconds. When a notification state is changed, it updates

[2019-04-19 21:49] felangel commented on #182
@njovy thanks for the demo! I'll take a look in the next few hours 👍

[2019-04-20 00:50] 1AlexFix1 opened #233 "Bloc don't call dispose"
Hi, the dispose method is not called in bloc, I have to call it myself in the stfl widget.

[2019-04-20 00:58] felangel commented on #233
Hey @1AlexFix1 👋

This is working as intended. It’s up to developers to call dispose on the bloc. In most cases you should call dispose in the dispose override of a StatefulWidget like you mentioned.

[2019-04-20 00:58] #233 closed

[2019-04-20 01:16] 1AlexFix1 commented on #233
Why don't change BlocProvider InheritedWidget to stfl, this will solve the problem. After all, if you yourself do not call for disposal on the unit, then
The block will not call for recycling and, accordingly, does not stop the operation of _eventSubject.close ();
_stateSubject.close (); I didn’t find it in the documentation from the first pass, which can be a problem for newbies, as in normal exa

[2019-04-20 01:29] felangel commented on #233
`BlocProvider` is an `InheritedWidget` and is just one way to provide a bloc to a Widget. It is not required that you use `BlocProvider` and instead you can manually inject blocs via constructor or use other dependency injection solutions (which would still require you to manually dispose). Furthermore, you might want to use multiple `BlocProviders` in different parts of your application with the

[2019-04-20 02:11] 1AlexFix1 commented on #233
Yes, you are right, if one block fits into two blocProvider, then it will be bad) I understand that the case when we need a block in two blocProvider is when you click on the next screen where the same block is needed. No, I understand how it works. Thanks for adding to the readme, this will definitely help =)

[2019-04-20 06:46] eliaspn commented on #231
Tested in Fedora and it's working !
Probably the compiler resolves the path wrong on windows.
Proper investigation needs to be made, i think the issue it's somewhere upstream.

[2019-04-20 06:46] #231 closed

[2019-04-20 13:09] glourencosilva commented on #120
Hello, Felangel, how are you?
Suggest that in a next version, make an adjustment in the class Bolc.
In the dispose method, I did this way and the error stopped being displayed.

[code]

[2019-04-20 16:52] fantasy525 opened #234 "[Question]Why do we define a lot of states for state(data)? Such as LoginInitial, LoginLoading"
Why do we define a lot of states for state(data)? Such as LoginInitial, LoginLoading?
I'm confused about state.
For the login page.I might just need a username and password
[code]
I mean: name and pwd are state,state to UI.

[2019-04-20 17:12] felangel commented on #234
Hi @fantasy525 👋
Thanks for opening an issue!

Regarding you question, if you think about the feature as a [state machine](https://en.wikipedia.org/wiki/Finite-state_machine#/media/File:Turnstile_state_machine_colored.svg) then you need to define all the possible states that the state machine can be in. For login they would be `initial`, `loading`, `failure`, and `success` (in a basic example).

W

[2019-04-20 17:12] #234 closed

[2019-04-20 17:18] felangel commented on #120
@glourencosilva thanks for the suggestion!

[2019-04-20 17:22] basketball-ico commented on #120
@felangel I like to see this error in console, because of this I know that `streamSubscription` that I created in the bloc are trying to dispatch something, and I can fix that behavior, without that i never know that this subscription are not closed;
thanks

[2019-04-20 17:23] felangel commented on #120
@basketball-ico you will see this error in the console if you override `onError` and print errors to the console.

You can either override `onError` at the bloc level (for a specific bloc) or globally in `BlocDelegate`.

Hope that helps 👍

[2019-04-20 17:29] felangel commented on #182
@njovy sorry for the delay but I just took a quick look at your demo and it looks good to me 👍
Regarding your comment about using a bloc in a multiple bloc builder, can you please provide an example of how you would like to use the multiple bloc builder? I think that would help me better understand what you're trying to accomplish.

I would recommend defining the notification bloc in the root widg

[2019-04-20 17:50] felangel commented on #232
Hi @anticafe,

I was able to achieve the desired functionality by modifying the `download_bloc` to maintain a `StreamSubscription` for the download progress instead of using await and blocking the `mapEventToState` loop.

If you update your `bloc` and `flutter_bloc` versions
[code]
then you can copy this version of [download_bloc.dart](https://gist.github.com/felangel/f4a2ca62ff43190303c4077858904

[2019-04-20 17:50] #232 closed

[2019-04-20 19:22] nhwilly commented on #139
Saw some recent changes.  They look great.

[2019-04-20 20:06] nhwilly opened #235 "Async*, Yield* and MapEventToState Question"
**Newbie alert.**

Really helpful package!  I'm trying to understand how `MapEventToState` works exactly, and I noticed that in some cases you use `yield` and in others you use `yield*`.  It looks like you are using `yield*` when you are calling a function that uses `async*`, but I'm sure there's more to it.  I looked up `yield*` and it addresses recursion, from what I can tell.

Can you tell me m

[2019-04-20 23:12] matevarga commented on #119
@felangel hey, would you be able to provide some pointers to any doc/tutorial that describes how to use navigation (e.g. with a drawer) alongside the bloc package? I find it quite hard to understand what's going on here -- I've tried just using push (nothing like pushRemove and pushReplacement) to display a sub-page, e.g.
[code]
but on the AccountScreen
[code]
- this doesn't work (the BlocProvider

[2019-04-21 00:07] felangel commented on #235
Hey @nhwilly 👋
Thanks for the positive feedback and there's no such thing as a newbie question haha!

`yield` in Dart can be used inside `async*` functions (async generators) in order to add the result to the resulting stream that is returned by the function.

`yield*` (yield-each) inserts all the elements of the subsequence into the sequence currently being constructed, as if we had an individual

[2019-04-21 00:07] #235 closed

[2019-04-21 00:10] felangel commented on #119
@matevarga in `flutter_bloc` v0.11.0 we introduced `BlocListener` which is the recommended way to handle navigation or other "one-time actions" in response to state changes.

Check out the [BlocListener Recipe](https://felangel.github.io/bloc/#/recipesbloclistener) for an example of how to show a SnackBar in response to a state change. Navigation should be handled in the same way in order to keep

[2019-04-21 00:21] felangel commented on #229
Just pushed the update (v1.3) so it should be available in the next few days 👍
Closing this for now but feel free to open another issue if the problem persists in v1.3

[2019-04-21 00:21] #229 closed

[2019-04-21 00:21] felangel commented on #227
Just pushed the update (v1.3) so it should be available in the next few days 👍
Closing this for now but feel free to open another issue if the problem persists in v1.3

[2019-04-21 00:21] #227 closed

[2019-04-21 00:21] felangel commented on #158
Just pushed the update (v1.3) so it should be available in the next few days 👍
Closing this for now but feel free to open another issue if the problem persists in v1.3

[2019-04-21 00:21] #158 closed

[2019-04-21 07:19] matevarga commented on #119
Thanks @felangel I'll take a look.

[2019-04-21 15:26] nhwilly commented on #235
I think you should write all th Dart documentation.  I started out reading that and got confused.

This is the clearest explanation I've seen.

It makes sense.  `yield` is used to add a single instance to the stream and `yield*` adds a (potential) stream of instances to the stream.

Thanks!

[2019-04-22 08:02] quantosapplications commented on #139
I’m just about to start a porting of an app from ionic to flutter and after digging around about state management in flutter i choosed to use flutter_bloc because is the only one which gave me some practical examples about authentication or managing long lists. Thank you!

[2019-04-22 08:11] quantosapplications opened #236 "Managing only one state for bloc"
Is considered a good approach to manage only one kind of state in a single bloc?

In your example a list bloc will have three states:
Uninitialized, loaded and error like your infinite list example.

What about using instead only one state, say eg. “ListState” with some variables that tell me about the internal state of the bloc?

Eg

Class ListState {
bool isLoading;
bool isOnError;
List<Post> po

[2019-04-22 13:25] njovy commented on #182
@felangel Thank you for taking your time looking at my demo. Your comment is always helpful. I understand that we all are busy with our stuff so no worries. The same notification bloc is used with two BlocBuilders [here](https://github.com/njovy/flutter_nested_bloc/blob/master/lib/widgets/notification_icon_button.dart) and [here](https://github.com/njovy/flutter_nested_bloc/blob/master/lib/widgets

[2019-04-22 13:28] felangel commented on #182
No problem 😄

Using the same bloc in multiple bloc builders for different parts of the UI is perfectly normal and is how I envisioned BlocBuilder being used. I don’t think there’s anything wrong with your approach 👍

[2019-04-22 13:30] njovy commented on #182
@felange Wow so fast hehe.l I really appreciate your help! Thank you again :D

[2019-04-22 13:45] bobwiller commented on #182
This is a great thread and an area I have been struggling with mentally.  It feels like you need a separate block for each variable you want to track globally?

[2019-04-22 21:00] felangel commented on #236
Hey @quantosapplications 👋
Thanks for opening an issue!

Regarding your question, the bloc library is not opinionated about how to manage events/states so it's totally up to you. With that being said, I would recommend the following:

Ask the question: "is it possible for x, y, and z to happen at the same time?"
In the above example, if it's not possible to be loading, have an error, and have post

[2019-04-22 21:00] #236 closed

[2019-04-23 08:54] Feelthewind commented on #215
Would you make another sample app with kiwi later?

[2019-04-23 11:19] droidpl opened #238 "Allow for synchronous dispatch to use blocs in blocs"
**Is your feature request related to a problem? Please describe.**
In examples like the login, its suggested that we can have blocs inside blocs, like the authentication bloc inside the login bloc, and then we can call dispatch from one to another. Currently the dispatch is asynchronous thus you are calling another bloc and expect it to do whatever job.

The problem is, in the UI you have to liste

[2019-04-23 16:57] njovy commented on #134
```SchedulerBinding.instance.addPostFrameCallback``` resolved my problem.

[2019-04-23 17:01] felangel commented on #134
The recommended approach for this moving forward is using `BlocListener`. Check out the [BlocListener Recipe](https://felangel.github.io/bloc/#/recipesbloclistener) for more details.

[2019-04-23 17:12] felangel commented on #238
Hi @droidpl 👋
Thanks for opening an issue!

Regarding your feature request, can you please share a code snippet for how the dispatch usage would change? I just want to make sure I fully understand your feature request.

In the meantime, I have spent considerable time trying to make dispatches "awaitable" so that you can be sure the `dispatch` has been processed before executing some other code. Th

[2019-04-23 18:57] jpablogn commented on #183
@felangel sorry, may be my example is not clear.

I mean:
- EVENTs must go from UI to BLOC
- STATEs must go from BLOC to UI.
If you have to send EVENTs from BLOC to BLOC (as it is done [here](https://github.com/felangel/bloc/blob/master/examples/flutter_bloc_with_stream/lib/bloc/ticker_bloc.dart) -I extract the snippet below- ) to solve the problem you are "corrupting" the pattern.

`  @override

[2019-04-23 19:36] droidpl commented on #238
Hi @felangel,

I get your point regarding the `BlocListener` (which btw, discovered today 💃 I was using the 0.9.0). I was actually talking about awaiting a dispatch. Although the `BlocListener` would work its bringing some complexity to the UI part while it can be way easier on the blocs.

The signature as I think it would be it's a method which returns a future of a state type and that is awaitab

[2019-04-23 20:11] vendramini commented on #158
Awesome =)

[2019-04-23 21:27] njovy commented on #134
@felangel If I use ```BlocListener```, can I just showDialog in listener? or still requires to call it with```addPostFrameCallback```. Thank you in advance. One more question, this is not related to flutter bloc but some posts used ```WidgetsBinding.instance.addPostFrameCallback``` instead of ```SchedulerBinding.instance```. Does it have any difference using one over the other one in this scenario

[2019-04-23 21:46] njovy commented on #134
I changed my code to use ```BlocListener``` to show a dialog based on a certain state after I read the warning from the link. In addition, I've confirmed that I don't need to call ```addPostFrameCallback``` with a listener. Thanks for your quick support!

[2019-04-23 21:48] felangel commented on #134
@njovy you beat me to it haha 😄

[2019-04-24 03:38] kunaldodiya opened #239 "Data not reactive when dispatching event"
Hello,

How can I get latest changes when I am dispatching an event through another event, currently I am not getting reactive data, my widget is not rebuilding too

[2019-04-24 03:49] kunaldodiya commented on #239
For example, lets say I have two blocs, otpBloc and userBloc, inside otpBloc I am sending http request to backend server with 4 digit OTP, server check that OTP and if all Ok it send token and user as response, now I have to store token offline and also update user state, so creat userBloc reference in otpBloc, and dispatch uaerBloc.setAuth and pass token and user to even, in userBloc I am just st

[2019-04-24 04:11] brent-williams opened #240 "Correct use of multiple blocs when building widgets"
@felangel great stuff.  Most examples though cover quite simple data relationships, e.g. a list and a filter on that list, or a list and an aggregate on that list.  I'm not always sure however where the pieces go with data joins e.g. Product-Buyer-Order.

In the below, I'd like to rebuild UI on Foo changes and reference data from Bar in doing so.  Would you say this looks about right?

[code]

If

[2019-04-24 04:14] felangel commented on #239
Hi @kunaldodiya 👋
Thanks for opening an issue!

Can you please share a sample app that demonstrates the problem you’re facing? It would be much easier for me to help if I’m able to reproduce your issue locally.
Thanks!

[2019-04-24 04:29] kunaldodiya commented on #239
Yeah sure, just a moment

[2019-04-24 05:13] kunaldodiya commented on #239
Hi, as mentioned providing demo link to test:- https://github.com/kunaldodiya/flutter-example

[2019-04-24 06:42] felangel commented on #240
Hey @brent-williams 👋
Thanks for the positive feedback and for opening an issue!

Regarding your questions,

1. That looks good to me 👍
2. Nested BlocBuilders vs Composition of Blocs into a new Bloc is a case-by-case decision. Usually whichever is less awkward is the one I'd go with. If FooBarBloc doesn't make sense on it's own, then nesting BlocBuilders is perfectly fine. Alternatively, if FooBar

[2019-04-24 06:43] felangel commented on #239
@kunaldodiya thanks! I'll take a look in the morning 👍

[2019-04-24 07:36] huephase opened #241 "What is paste-the-reversed-client-id-from-googleservice-info.plist-here"
Hello,

What is meaning of below line:
paste-the-reversed-client-id-from-googleservice-info.plist-here

There is no extension with ".plist-here".  There are several files using (info.plist) - which should be updated and how?

Many thanks.

[2019-04-24 11:10] esfomeado opened #242 "Possible to get state variables without using BlocBuilder"
I have the following piece of code:

[code]

Is possible to get the variable **vehicle** without the need for a _BlocBuilder_?

Thanks

[2019-04-24 11:47] Rickem opened #243 "How to notify users on various exceptions that may occur?"
**Firebase Sign in / Sign up**
I've seen the awesone job you did on the authentication process. However, with the FormState event "isFailure" we can't really notify the user about the kind of error that occured (email already used, no internet connection, etc)

**Feature requested:**
How to get the exception thrown when "isFailure" return "true"?

Thanks for your help.

[2019-04-24 11:55] droidpl commented on #238
I worked on a small prototype for the functionality. Let me share it with you so you can also give some thoughts on it. The idea is to create an awaitable dispatch method, that you can wait as a future providing the last state reached.

The streams:
- Generate a new subject (I believe this must be then combined with your current implementation, maybe sourcing one subject to the other)
- Wrap the m

[2019-04-24 12:04] droidpl commented on #243
Hi @Rickem,

I implemented this by wrapping the type of error in a state. Here an example of it for a create account bloc:

[code]

And then in the UI, I use it as follow:

[code]

Mapping of course the proper state and text to your UI.

[2019-04-24 12:11] Rickem commented on #243
Hi, @droidpl, thanks for the tip. I really appreciate.

[2019-04-24 12:22] droidpl commented on #243
You're welcome. Here to help. Maybe this can be closed @Rickem @felangel

[2019-04-24 13:24] felangel commented on #243
Thanks @Rickem for opening the issue and thanks @droidpl for the awesome answer 💯👍

[2019-04-24 13:24] #243 closed

[2019-04-24 16:17] felangel commented on #241
Hi @huephase 👋
Thanks for opening an issue!

You need to copy the `reversed-client-id` that can be found in the `GoogleService-info.plist` into the `info.plist`. Hope that helps 👍

[2019-04-24 16:17] #241 closed

[2019-04-24 16:23] felangel commented on #242
Hi @esfomeado 👋
Thanks for opening an issue!

You can access the stream of bloc states via the `state` property like:

[code]

Alternatively, if you just want to know the current state of the bloc you can use the `currentState` property.

[code]

Hope that helps! 👍

[2019-04-24 16:23] #242 closed

[2019-04-24 16:26] felangel commented on #240
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2019-04-24 16:26] #240 closed

[2019-04-25 04:41] felangel commented on #239
@kunaldodiya sorry for the delay but I took a look and the issue is you have two UserBloc instances. One is created in the `OtpBloc` and one is created in `_MyHomePageState`. BlocBuilder is listening for changes in the instance created in `_MyHomePageState` but the events are being dispatched to the one created in `OtpBloc`.

You need to make sure the events are dispatched to the same instance tha

[2019-04-25 04:41] #239 closed

[2019-04-25 05:04] kunaldodiya commented on #239
Thanks

[2019-04-25 10:12] abinvp opened #245 "Using Refresh Indicator"
Hi @felangel,

This isn't a bug but I would like to get a suggestion from you on the right way to use refresh indicator. I have my bloc hooked up with the repository. Upon an event, this will call the API and output various states based on the response. The `onRefresh` method of `RefreshIndicator` widget is expecting a `Future` so I can't use the `dispatch` there. Please let me know your suggestio

[2019-04-25 13:21] felangel commented on #245
Hey @abinvp 👋
Thanks for opening an issue and great question!

You can check out https://felangel.github.io/bloc/#/flutterweathertutorial?id=pull-to-refresh for an example but I need to update the example to manage the completer using BlocListener instead of BlocBuilder.

Hope that helps 👍

[2019-04-25 13:21] #245 closed

[2019-04-25 15:42] abinvp commented on #245
My bad. I didn't see that. Thanks much @felangel

[2019-04-26 13:29] huephase commented on #241
Thank you for clarification.

To confirm, the `reversed-client-id` is to be pasted in `info.plist` > under "**Bundle identifier**" key correct?

![image](https://user-images.githubusercontent.com/16631415/56811007-cb583380-6848-11e9-878b-4705e3a704c9.png)

Many thanks.

[2019-04-27 11:35] craiglabenz commented on #139
I'm grinding every day on a soon-to-be production app using `flutter_bloc`. Unbelievably happy so far!

[2019-04-27 14:16] matanshukry opened #246 "[Example Request] Page animations per transition"
I started by following the login example `https://felangel.github.io/bloc/#/flutterlogintutorial`, and I wanted to add a transition animation (fade in/out) when going from splash screen to the login screen.

It took me some time to find an actual way to do it, since most results online were about using routing and MaterialPageRoute, but I ended up using `AnimatedSwitcher`.

Now I'm stuck figuring

[2019-04-27 17:40] felangel commented on #241
@huephase no it should look something like this:

<img width="490" alt="Screen Shot 2019-04-27 at 12 40 14 PM" src="https://user-images.githubusercontent.com/8855632/56853178-abc51780-68e9-11e9-9880-2354e8d6a71d.png">

[2019-04-27 17:47] felangel commented on #246
Hi @matanshukry 👋
Thanks for opening an issue!

Regarding your question, I would recommend using `BlocListener` in order to animate only when a specific transition occurs. You can check out the [BlocListener Recipe](https://felangel.github.io/bloc/#/recipesbloclistener) for more information.

Thanks for the feedback! I will definitely add additional documentation about routing.

Regarding accessin

[2019-04-27 18:36] felangel commented on #183
Hey @jpablogn

Thanks for the additional details. I don't think events must come from the UI. Blocs can notify other blocs and can also internally dispatch their own events.

The main principle is that events go in (via dispatch) and states come out (from mapEventToState).

Hope that helps!

[2019-04-27 20:27] felangel commented on #238
@droidpl thanks for the detailed implementation. I don't think this approach would work for all cases.

Take the following example:
[code]

In this case, you would lose the first completer because you would overwrite it on the second `awaitableDispatch`.

Thoughts?

[2019-04-27 22:29] andcan opened #247 "Alternative BlocProvider implementation"
**Is your feature request related to a problem? Please describe.**
`BlocProvider` is implemented as an `InheritedWidget` this doesn't allow correct disposal of blocs.

**Describe the solution you'd like**
An alternative would be the hybrid stateful-inherited as implemented [here](https://gist.githubusercontent.com/boeledi/cb9b933b2e2664ae1ee5cc78b0da273a/raw/221dcc91b1e42913e3f7902acb8b3da779dc4a6

[2019-04-27 23:53] felangel commented on #247
Hi @andcan 👋
Thanks for opening this feature request!

Have you checked out https://github.com/felangel/bloc/issues/233?

I think this is a duplicate.

[2019-04-27 23:54] #247 closed

[2019-04-28 16:03] matanshukry commented on #246
@felangel - like this?
`
builder: (context, state) {
final prevState = _prevState;
_prevState = state;
return _buildContent(context, state, prevState);
}
`

It feels a bit weird though:
1. should I use setState() ? I see no reason to use it, the rendering is updating in that place, but I'm not that sure.
2. are there any constraints things one should know about the builder() callback? Such as will

[2019-04-28 16:59] smartens opened #249 "BlocListener don't get triggered after login and logout"
**Describe the bug**
I altered the login example to try out the blocListener. Navigation to the homepage and back to the loginPage works fine so far. The problem is when I want to login again after that. The listener isn't triggered anymore although the AuthenticationBloc state changes to AuthenticationAuthenticated.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app.
2. Click on

[2019-04-28 18:39] felangel commented on #249
Hi @smartens 👋
Thanks for opening an issue!

Would it be possible for you to provide a link to the repo so I debug it locally? Thanks!

[2019-04-28 19:08] smartens commented on #249
Sure ...
https://github.com/smartens/flutter-login-bloc-listener-example

[2019-04-28 20:35] felangel commented on #249
@smartens I took a look and it's because you are destroying the `App` widget when you login by using `pushAndRemoveUntil`. That method removes the underlying widgets causing the `BlocListener` to unsubscribe from the changes in `AuthenticationBloc`. I would recommend replacing `pushAndRemoveUntil` with `push` in `main.dart` and also replace `popAndRemoveUntil` with `pop` in `home_page.dart`.

Hope

[2019-04-28 20:35] #249 closed

[2019-04-28 20:40] felangel commented on #246
@matanshukry yeah you can just set `prevState` to `state` in `BlocBuilder's` builder method.

1. You don't need to use `setState` because it doesn't need to call a re-render.
2. the `builder` callback will be called whenever the widget needs to be rebuilt. This is decided by the flutter framework and as a developer you should just worry about returning the correct widget given the `BuildContext` a

[2019-04-28 22:39] droidpl commented on #238
Why it wouldn't work? If a new `BehaviourSubject` is generated for each awaitable dispatch, those will be handled independently. Maybe I am missing something there, can you post the results you get and the expected ones?

Thanks for having a look to this

[2019-04-29 02:42] felangel commented on #246
Closing this for now but feel free to comment with additional comments/concerns and I'm happy to continue the conversation.

[2019-04-29 02:42] #246 closed

[2019-04-29 09:07] matanshukry commented on #246
I really liked the documentation recipe, awesome! and yeah I can feel we can close this too.

As a side note though, I couldn't find a navigation item in the left side menu. that is, the only way to reach the navigation recipe is through the link you just wrote.

Also, there's something a bit weird with the navigation recipe page. If I'll refresh the page, I'll see the page again. if I do a non-ca

[2019-04-29 11:17] felangel commented on #246
@matanshukry thanks!

Can you try again and let me know if you’re still having the same problem. The docs get cached so you sometimes need to do a refresh of the page several times before getting the latest version.

[2019-04-29 13:04] matanshukry commented on #246
@felangel  Yeah everything looks great now. there's a link to it from the side navigation, and either refresh works. Great!

[2019-04-29 19:06] jpablogn commented on #183
Hello @felangel,

Many thanks for the explanation.

Yes, of course, here is the code for _createQuedada(evento.quedada):

[code]

Regards.
J. Pablo.

[2019-04-29 21:55] felangel commented on #238
Hey @droidpl that was my mistake!

After further discussion and investigation, we have decided that awaitable dispatches would complicate the library and also violate the pattern of events in and states out. I don't think it makes sense to try to incorporate this change into the library and would love to try to help with your specific issue (if you'd like) as opposed to trying to integrate this fu

[2019-04-29 21:55] #238 closed

[2019-04-30 11:05] droidpl commented on #238
Hi @felangel,

O sad to hear it. So the case I am trying to handle is similar to the tutorial you have on the documentation, but combining signup. Basically the flow is the following:

- I have a screen where in a corresponding signup bloc, I obtain all the information for a register request.
- I go to a screen to perform the signup, and there I send the `performSignup` event to the register bloc,

[2019-04-30 11:23] droidpl commented on #238
Actually, I had another idea that could also work and probably fit the library proposals, is it possible to subscribe from one bloc to others and receive the events there + dispatch states on the current bloc?

I mean:
- Signup bloc subscribes to login/authentication blocs and receives the events somewhere
- From this somewhere, I can dispatch events from the current signup bloc

That would solve

[2019-04-30 14:56] nhwilly opened #251 "Initializing data question"
In my app, I have some interdependent objects.

`UiPreferences` and `Authentication` both depend on `DeviceRegistration`.  I have blocs for all three.

When the app launches, I have to get an existing - or create a new - `DeviceRegistration`.  Nothing can really happen until I have this object.

This is an async process, so I can't put it the constructor of the bloc or in the `initialState` method

[2019-04-30 17:41] nhwilly commented on #251
OK, ignore this.  Sorry for the interruption.

#noprogrammingwhentired.

[2019-04-30 17:41] #251 closed

[2019-04-30 20:01] axellebot opened #252 "BlocListener notifications triggered on rebuild"
**Describe the bug**
`BlocListener` fire a notification on every InnerPage `Widget` rebuild

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gist.github.com/axellebot/f79579b11ab2ccfa3857b20d62068127
2. copy into a sample flutter app
3. Click on centered button to trigger the bloc for this page and navigate out and in with the BottomNavigationBar, you should see a Snackbar notif

[2019-04-30 23:54] felangel commented on #252
Hey @axellebot 👋
Thanks for opening this issue!

I took a closer look and what's happening is you have BlocA which is a global bloc (managed by `MyApp`) and you are using a `BlocListener` in `PageA` in order to show the snack bar.

The problem is when you switch tabs, you dispose `PageA` (including the `BlocListener`) but not `BlocA`. Then when you switch back to the first tab, `PageA` is reinitia

[2019-04-30 23:54] #252 closed

[2019-05-01 13:46] wxy520ll opened #253 "Unhandled Exception: 'package:bloc/src/transition.dart': Failed assertion: nextState != null': is not true"
my  code as below(report error)
[code]
i don't kown  when i set listen,the code  report exception

and other way (right)
[code]

[2019-05-01 14:17] MoonChel opened #254 "vscode extension removed existing bloc folder"
https://github.com/felangel/bloc/blob/master/extensions/vscode/src/extension.ts#L111

I've accidentally removed files from 3 hours of work, after creating new bloc with vscode extension. Don't know why, but I thought it will merge files, and because of it I didn't commit changes :(

May be it's possible to show some confirm notification if folder already exists? But merge way of creating new bloc

[2019-05-01 17:59] felangel commented on #252
No problem! If you want the same instance of the bloc everywhere then yes 👍

[2019-05-01 22:14] felangel commented on #254
Hi @MoonChel 👋
Thanks for opening an issue and I'm really sorry about that!

I think having a confirmation dialog makes a lot of sense. I'll try to have that added over the next few days. Thanks 👍

[2019-05-01 22:17] felangel commented on #253
Hi @wxy520ll 👋
Thanks for opening an issue!

Just to clarify, the second way works fine and the first way throws an exception?
In general, I would not recommend subscribing to streams within mapEventToState because you block the event loop. Instead, I would recommend subscribing to whatever stream you have in the bloc's constructor and dispatching events in response to new data. Check out this [ex

[2019-05-01 22:17] #253 closed

[2019-05-02 00:08] felangel commented on #254
@MoonChel this change is now available in v0.6.1 of the vscode bloc extension 🎉

[2019-05-02 00:08] #254 closed

[2019-05-02 02:39] felangel commented on #168
@lsaudon sorry for the really long delay but I finally spent a bit of time and created a simple example using `flutter_hooks` with `flutter_bloc` which you can check out [here](https://gist.github.com/felangel/d9322837c07721b97ae2f7be541cabb2).

I basically created a `useBloc` hook which handles creating and disposing the bloc for you so you don't need to create a `StatefulWidget` and initialize/d

[2019-05-02 02:39] #168 closed

[2019-05-02 12:37] francobellu opened #255 "flutter_firebase_login doesn't appear to build"
This is my debug console output:

Launching lib/main.dart on iPhone XR in debug mode...
Removing obsolete reference to flutter_assets from Runner.app
Running pod install...
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate
      Using `ARCHS` setting to build architectures of target `Pods-Runner`: (``)

    Fetching external sources
    -> Fetchi

[2019-05-02 13:01] felangel commented on #255
Hi @francobellu 👋
Thanks for opening an issue!

I will try to reproduce the issue with the same flutter version but can you provide any more of the output? I don’t think the line you included is an error. It’s more of a warning saying it defaulted. It would be awesome if you could provide the full output after running flutter run. Thanks!

[2019-05-02 16:44] TahaMalas opened #256 "Bad state: Cannot add new events after calling close in BottomNavigationBar"
I'm trying to make something like a BottomNavigationBar with multiple fragments up to 4 fragments, and I figured that each fragment must have its own BLoC. But the problem is when trying to load the fragment for the second time it crashes and fails to get the data throwing this exception.

`Unhandled Exception: Bad state: Cannot add new events after calling close`

For reference I'm trying to inje

[2019-05-02 16:46] francobellu commented on #255
Hi,

I'm having this issue only when building for iOS and it's preventing to correctly launch the app.

**Error running pod install
Error launching application on iPhone XR.**

**francobellu$ flutter run**
Launching lib/main.dart on iPhone XR in debug mode...
Running pod install...                                              1.5s
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

[2019-05-02 17:03] felangel commented on #256
Hey @TahaMalas 👋
Thanks for opening an issue!

This means that your bloc still had some events that were being processed after you called dispose. It's not really a big deal in terms of user experience (no one will ever know while using your app) but it's more for you as a developer to be aware that you dispatched some events, they were being processed, you called dispose, and then they finishing

[2019-05-02 17:15] felangel opened #257 "Improve dispose while events are being processed"
**Is your feature request related to a problem? Please describe.**
It is fairly common to call dispose on a bloc while there are still events being processed and states are being yielded. As a result, an error is caught by the `BlocDelegate` which looks something like:
[code]

**Describe the solution you'd like**
It'd be nice to be able to ensure that a bloc does not have any pending events before

[2019-05-02 17:16] #256 closed

[2019-05-02 17:34] smiLLe commented on #257
IMO we should just ignore all future states because this is what i expect to happen if i bloc.dispose();.

[2019-05-02 17:39] felangel commented on #255
@francobellu can you try uncommenting the ios platform override in your `Podfile`?

[code]

[2019-05-02 18:23] MatyasK opened #258 "BlocBuilder inside ExpansionTile"
Hi,
I'm trying to create a dynamic Expansiontile list for my drawer. But I get the following error:
The following assertion was thrown during performResize():,  Vertical viewport was given unbounded height. I think I making a small error but I just started with flutter and cannot figure out.
Here is my code:

[code]

And here is a static example of what I would like to achieve:

[code]

[2019-05-02 19:09] dev-aritra commented on #257
I think the 3rd option would be the best, logically we should be doing the 1st one, as that is what the method name suggests and what it should be, but as a developer, we could always be making mistakes or some exceptional situations may arise, like if there are few events which are still happening which are not supposed to be happening, if you directly close it, we won't know which events were ha

[2019-05-02 19:19] felangel commented on #257
@dev-aritra With Option 1, you would have to keep in mind that as soon as you call `bloc.dispose()` no additional processing will happen (no state changes/transitions). Can you please give a bit more detail about why you would want to know that an event is still being processed?

Currently, if you call dispose and there are events pending you will see errors in the `onError` callback of the bloc a

[2019-05-02 23:28] francobellu commented on #255
@felangel,
uncommenting that line resolved the second issue but the dependencies one is still there:
------
Launching lib/main.dart on iPhone XR in debug mode...
Running pod install...
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate
      Using `ARCHS` setting to build architectures of target `Pods-Runner`: (``)

    Finding Podfile changes

[2019-05-03 04:20] dev-aritra commented on #257
@felangel For the first question, I will try to come up with some example scenario, like your app is receiving different events (BROADCAST RECEIVERS for android), so you don't have control over when these events happen, we could argue over the fact that we need to add these event handles on a global bloc level rather than a bloc for a specific page, but that's a different discussion. Same goes for

[2019-05-03 09:16] francobellu commented on #255
Felix,
I have manually removed the packages and rebuilt the dependencies in the project and now it is working.  Anyway it was an issue with my machine configuration. nothing to do with your project.
Thanks for your support, you can close the issue.

[2019-05-03 09:50] rrousselGit commented on #168
_randomly passes here_
that `useBloc` is unnecessarily big.

`useBloc` could be:

[code]

And you can make one for `BlocBuilder` too:

[code]

[2019-05-03 10:42] #255 closed

[2019-05-03 11:18] janosroden opened #259 "Emit events from blocs"
Hi,

I thinking about a general solution to emit events from blocs.

The concrete use case where I need it is a UserBloc where I want to emit Login/Logout events at first. UserBloc processes UpdateProfileEvents which results in a changed LoggedInUserState, so getting LoggedInUserState from the stream doesn't mean the user just logged in.
For analytics purposes I want to catch a special transition

[2019-05-03 14:28] felangel commented on #259
Hi @janosroden 👋
Thanks for opening this issue!

I saw your PR and based on your ask what are your thoughts on blocs having an events stream that you can listen to instead of an `EventProvider`?

I'm thinking the api would mimic the state api so you'd be able to do something like:
[code]

One thing to consider is if you override `transform` and filter events I'm assuming you'd want the filtered ev

[2019-05-03 14:40] felangel commented on #258
Hi @MatyasK 👋
Thanks for opening an issue.

Regarding your question you can do something like:
[code]

Hope that helps 👍

[2019-05-03 14:40] #258 closed

[2019-05-03 14:47] felangel commented on #257
@axellebot I'm leaning toward option 1 because, like you said, `dispose` should be sync and so far for all cases I can think of it would make most sense (and be the simplest) to just stop processing all pending events. I think it would be a good place to start and if issues arise we can always circle back and figure out how to accommodate them. Thoughts?

@dev-aritra Like you said, I would argue t

[2019-05-03 14:51] janosroden commented on #259
Adding the event stream to the Bloc class was my first tought, but I think it'd increase both instantiation time and memory consumption. This is a little bit high price for an optional feature.
Implemented as a mixin developers can decide whether they pay this price. This optional functionality also fits very well to the purpose of mixins.

I don't think the transform() is important here, these Bl

[2019-05-03 15:19] felangel commented on #259
@janosroden I don't think it would increase instantiation or memory consumption because the stream already exists, it just isn't exposed publicly.

I agree about not needing additional filtering. 👍

[2019-05-03 15:36] janosroden commented on #259
Stream already exists? I don't get how you mean. Can you elaborate?

I'm meant the extra overhead is appear if we put the new StreamController into the widely used Bloc class. People upgrades, and they get an extra controller which is unused (it's new) but still have to be initialized and disposed. In addition I think most of the existing bloc implementations don't need this feature (otherwise it

[2019-05-03 15:37] felangel commented on #259
Every time you dispatch an event it is added to the private event subject. Currently, the bloc is the only subscriber to the event stream but we can expose it publicly so that anyone can subscribe.

[2019-05-03 15:57] janosroden commented on #259
Ah, I see the misunderstanding: if you check my PR carefully, you'll see I created a second event stream for a possibly different event hierarcy.
What you suggest is that the Event hierarcies have a common base and the bloc should simply ignore its "own" events.

Your idea is actually ... better :)
I don't see any drawbacks except a little bit wierd to call/read dispatch() instead of emitEvent()

[2019-05-03 16:43] MatyasK commented on #258
Hi thank you very much for your answer, it works finally, but my next noob question is how can yield multiple tiles? I tried it from a foreach loop but it doesn't work.

Thanks again!

[2019-05-03 16:45] felangel commented on #259
Yeah I don't think we need to create additional streams. So one outstanding question I have is what's the use case for having to listen for events when you are in full control over when they are dispatched. Can't you just move whatever logic you have in response to an event after the dispatch? You can dispatch from within the bloc and expose a public wrapper around the dispatch so that from the UI

[2019-05-03 16:47] felangel commented on #258
Hey no problem! Can you show me the code that you tried and the error you're running into? Thanks!

[2019-05-03 16:49] MatyasK commented on #258
I found a solution, it works now, but maybe not the best :)

` children: List<Widget>.unmodifiable(() sync* {
                  if (state is Loading) yield ListTile(title: Text("Loading"));
                  if (state is Loaded){
                    for (var i = 0; i < state.types.norm.length; i++) {
                      yield  ListTile(title: Text(state.types.norm[i]));
                    }

[2019-05-03 17:13] felangel commented on #258
That looks like a solid solution to me 👍

[2019-05-03 17:34] janosroden commented on #259
It's about separation. I don't want the UserBloc has to trigger everybody
who depends on it. E.g. analytics, OneSignal or clear local caches on
logout.
It must manage the user only. Keep it as simple as possible. More than
enough to handle FB, Google, email login, profile data etc. in one class.

In addition there are multi step state mappings, e.g. an InProgress state
during a long operation.

Do

[2019-05-03 17:52] felangel commented on #259
@janosroden makes sense. I was just curious haha. I will try to get this as well as include the bloc in the BlocDelegate `onTransition` and `onError` by this evening. 👍

[2019-05-03 18:11] janosroden commented on #259
Thanks!
BlocDelegate won't be easy without breaking change..

Can you add onEvent because onTransition not fire without state change?

On Fri, May 3, 2019, 19:52 Felix Angelov <notifications@github.com> wrote:

[2019-05-03 18:16] felangel commented on #259
No problem!

Yup, it will be a breaking change. What's a case where an event is dispatched without a state change?

[2019-05-03 18:25] janosroden commented on #259
LoggedInEvent, because I'll yield UserLoggedInState before the event.

On Fri, May 3, 2019, 20:16 Felix Angelov <notifications@github.com> wrote:

[2019-05-03 18:26] felangel commented on #259
Can you please explain a bit more? I'm not sure I understand. If you dispatch `LoggedInEvent` won't there always be a state change associated with it?

[2019-05-03 18:39] janosroden commented on #259
No, it's a notification about that the current logged in state is the first
one after a guest user state.
A map method which handles LoginEvent could be

If not guest state: return

yield in progress

yield logged in state

dispatch logged in event, bloc or user object attached

Please add onEvent as virtual method too. It's useful for mixins.

Sorry for the style, not easy from mobile :)

On Fri,

[2019-05-03 18:41] janosroden commented on #259
Why email can't pass paragraphs? ..

On Fri, May 3, 2019, 20:38 Roden János <jani9876@gmail.com> wrote:

[2019-05-03 18:56] janosroden commented on #259
Ok, Desktop Site helped

[2019-05-03 19:04] felangel commented on #259
hmm okay I think I understand now. Thanks for clarifying 👍

[2019-05-04 01:27] matanshukry opened #261 "[Design Question] Single state with different values?"
My use case is a some local configuration fields or settings, that can change through the app lifetime. e.g. theme, to show/hide some texts, and "small stuff" like that.

I thought about creating a single non-abstract state, with a field of properties, and an event to change the properties. due to the docs, and the way the classes are designed (e.g. initialState), it sounds a bit counter-intuitive

[2019-05-04 03:18] felangel commented on #261
Hi @matanshukry 👋
Thanks for opening an issue and great question.

In general, I would not recommend having a single bloc with multiple responsibilities. Instead, I would recommend having a `ThemeBloc`, `NetworkConnectionBloc`, etc...where each bloc has specific states that are all related to a single functionality/feature.

Hope that makes sense! 👍

[2019-05-04 03:18] #261 closed

[2019-05-04 03:57] felangel commented on #257
Merged in #262 and will be included in bloc v0.13.0 🎉

[2019-05-04 03:57] #257 closed

[2019-05-04 08:43] MichelMelhem opened #264 "My state are not updating"
Hello,
I'm new to Flutter and i have a problem with you lib,
When i update my state the state does not update like intented.

this is my bloc ,
[code]
This is my initial state,
[code]
I set my new state with :
[code]
I know it is not really a bug report but i don't find any documentation that show how i update my state like that.
Thank you for hour help,
Michel

[2019-05-04 09:25] matanshukry commented on #261
@felangel thanks for taking the time to answer!
It make sense in some things, but in this case I'm talking about properties that doesn't have any more states or functionality other than the value it self.
Think about properties such as (taking from WhatsApp as an example):
`Status` - a text that the user set, and will be sent to the server.
`Last Seen` - "Everyone"/"My Contacts"/"Nobody. Again, on

[2019-05-04 11:32] janosroden commented on #264
Hi, your bloc seems okay.
If you don't get state changes maybe your subscription has some issues. Can you paste the relvant part of your widget?

A guess: did you try with debugger? Maybe it's just too fast?
[code]

[2019-05-04 11:41] craiglabenz commented on #264
I usually run into this problem when an `Event` or `State` class fails to properly call the Equatable super constructor. You might confirm that for the relevant classes before further debugging. :smile:

[2019-05-04 13:34] MichelMelhem commented on #264
[code]
Here when the isFetching state go to true it suppose to show me the Loading page but it do nothing

[2019-05-04 13:47] RollyPeres commented on #257
I agree dispose should be sync. But reactive programming should be predictable right? Bloc is built on top of Streams/Observables. If you just dispose the bloc while async events are being processed you kinda lose the predictable part. An async event might get the chance of being processed or not. To make the best of both worlds, I think you should handle it internally and ignore all pending event

[2019-05-04 15:09] basketball-ico opened #265 "In the next release please update rxdart to ^0.22.0"

[2019-05-04 15:13] felangel commented on #264
Hi @MichelMelhem 👋
Thanks for opening an issue and thanks for everyone who helped!

Regarding your question, it seems you have multiple AuthBloc instances. You should make sure that the bloc that you give to BlocBuilder is the same one you’re dispatching events to. In your example you’re passing a brand new AuthBloc instance to BlocBuilder instead of the instance that you’ve already created (_auth

[2019-05-04 15:13] #264 closed

[2019-05-04 16:41] MichelMelhem commented on #264
Thank you for you help !
And continue to dev this amazing lib 👍 @felangel

[2019-05-04 16:53] felangel commented on #261
@matanshukry no problem!

For `Status` and `Last Seen` I'm not sure I understand the scope of the feature. If it's literally a piece of data that you show on a screen, then I think it would make sense to wrap those into a `ProfileBloc`. The status could then just be part of the `ProfileBlocState`.

Regarding a `ThemeBloc`, your states could just be different `ThemeData` objects. You can check out

[2019-05-04 16:58] felangel commented on #265
Merged in #266 and will be included in bloc v0.13.0 🎉

[2019-05-04 16:58] #265 closed

[2019-05-04 17:40] matanshukry commented on #261
I think there was a bit of confusion about what I meant. However, I never noticed the Weather app example - it is exactly the design I was wondering about.

Specifically, the fact that there is only a single state in there (ThemeState) and even a single event. I can see it is fine though and looks good.

Thanks!

[2019-05-04 17:41] felangel commented on #261
Awesome and sorry for any misunderstanding!

[2019-05-04 19:07] MichelMelhem opened #269 "'A build function returned null' but all the build fonction return a widget"
Hello,
I encounter some issue with the BlocBuilder widget,
First of all this is my BlocBuilder,
[code]
My issue is when the state isFetching go to true i succefuly get the CircularProgressIndicator() when when the isFetching go to false i get the 'A build function returned null' error.
The blocBuilder is supposed render FlatButton() beacause the auth state is equal to false;
Thank you in advance f

[2019-05-04 19:10] felangel commented on #259
Merged in #263, #267, and #268 and will be included in bloc v0.13.0 🎉

[2019-05-04 19:10] #259 closed

[2019-05-04 19:12] felangel commented on #269
Hi @MichelMelhem 👋
Thanks for opening an issue!
We have a [gitter](https://gitter.im/bloc_package/Lobby) which you can join. If you think it would be valuable to have a discord in addition please let me know.

Regarding your question,
It looks like in your example if `state.auth` is `true` and `state.isFetching` is `false` then BlocBuilder returns null which is why you're seeing an exception. You

[2019-05-04 19:12] #269 closed

[2019-05-04 20:46] altherat opened #270 "Updating state directly"
I'm not too too familiar with Dart/Flutter/BLoC, but I'm finding it a bit tedious having to create specific classes (often entirely empty) for each event you want to `dispatch` to a bloc and then checking the type of the event in the `mapEventToState` method. It's also unfortunate because IDEs won't hint which concrete classes can be accepted by the `dispatch` method.

It might be a good idea to a

[2019-05-04 20:50] felangel commented on #270
Hi @altherat 👋
Thanks for opening an issue!

I think this violates the pattern and goes against the core concepts.
There should only be a single way to update state in order for the library to be predictable.

I'm not sure I understand the issue you're having. A state doesn't have to be an empty class; you can use an enum for simple cases. Can you please provide a concrete example of the problems

[2019-05-04 21:19] altherat commented on #270
I just meant that events are sometimes empty classes and it doesn't seem like the best design to me. It makes more sense to me to use methods which would avoid unnecessary event object creation and type checking. And it's a bit easier to call the events because IDEs will hint which methods are available.

Here's an example of an empty event:
https://github.com/felangel/bloc/blob/a4ecf0153359488553

[2019-05-04 21:28] felangel commented on #270
@altherat I would look at the explicit event declaration as a positive. It forces you to define all the events that can trigger state changes in the bloc as well as all the states that the bloc can output. I would think of it as a finite state machine. The idea was to have a clear separation of how state changes are determined (mapEventToState) and how state changes are initiated (dispatch).

In a

[2019-05-04 21:28] #270 closed

[2019-05-05 08:10] ammaratef45 commented on #139
I wonder how much I time I would spend to refactor exacting repo into using bloc.
Any Ideas? I'm mainly talking about https://github.com/ammaratef45/Attendance if you may take a look.

[2019-05-05 08:12] ammaratef45 opened #271 "The class 'Future' was not exported from 'dart:core' until version 2.1"
Examples are using Future and SDK constraints include dart version less than `2.1`

We should either update SDK constraints or import async.

[2019-05-05 13:16] simonhull opened #272 "Listening to state stream"
The solution to this might be dead simple.  I'm working on an AngularDart application using the Bloc library.  I have an App Component currently and a Login Component which contains a form and whose sole purpose right now is to dispatch a login event to an Auth Bloc.  I'm trying to listen to the changing values from my App Component in order to handle things like routing, but also to display infor

[2019-05-05 14:42] felangel commented on #271
Hi @ammaratef45 👋
Thanks for opening an issue!

Can you please be a bit more specific about which examples? Thanks!

[2019-05-05 14:44] felangel commented on #272
Hi @simonhull 👋
Thanks for opening an issue!

Can you please share the code in which you are dispatching events to the authBloc?
My guess is the instance you’re listening to is not the same instance that you are dispatching too. Thanks!

[2019-05-05 14:45] ammaratef45 commented on #271
@felangel I confirm the issue in the login example, didn't check anymore examples
I can fix it by updating the sdk constraints if you would assign me

[2019-05-05 14:49] felangel commented on #271
I would prefer we fix it while leaving the constraints just for the time being. In the near future I’ll go through all of them and bump the SDK constraints.

[2019-05-05 14:55] felangel commented on #139
@ammaratef45 I think you can do it in less than a week. If you decide to give it a shot, I’m happy to help 👍

[2019-05-05 14:57] simonhull commented on #272
For sure, here's the value of the Login Component

[code]

I think I see what you mean about it being two different instances of the AuthBloc, in that case would I share a single copy globally using something like a service?

[2019-05-05 15:00] felangel commented on #272
Yeah the issue is you have a different instance. I think registering the bloc as a ClassProvider and using AngularDart’s dependency injection to provide the same instance is what I would do. Hope that helps 👍

[2019-05-05 15:09] felangel commented on #272
Closing this for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2019-05-05 15:16] felangel commented on #271
@ammaratef45 I just fixed this on master. Thanks for bringing this up! 💯

[2019-05-05 15:16] #271 closed

[2019-05-05 15:28] ammaratef45 commented on #139
@felangel I will be glad to have your help
I will use this issue to track the work ammaratef45/Attendance#88
Can you leave some instruction and hints? PRs are very welcome too.

[2019-05-05 19:21] mojtabaparvar opened #273 "page rebuilding again and again after using pageroute with bloc library"
hi.
I have used your solution for page route
WidgetsBinding.instance.addPostFrameCallback((_){
 Navigator.of(context).pushNamed(‘/newRoute’);
});

but the next page is being rebuilt again and again. this is my code:
Stream<LoginOneState> mapEventToState(LoginOneEvent event) async* {

if (event is LoginOneButtonPressed) {

yield LoginOneLoading();

try {

await userRepo.authOne(event.phone);

} cat

[2019-05-05 19:23] janosroden commented on #259
Big thanks for the quick solution!

[2019-05-05 19:26] felangel commented on #273
Hi @mojtabaparvar 👋
Thanks for opening an issue!

I would not recommend doing navigation in BlocBuilder. Check out the [navigation recipe](https://felangel.github.io/bloc/#/recipesflutternavigation) for detailed information on how to do navigation with flutter_bloc.

Hope that helps 👍

[2019-05-05 19:26] #273 closed

[2019-05-05 19:30] satodia-smit opened #274 "Unable to change the state"
Hi thanks for this awesome framework,
however I am updating your basic counter example to the class based state. and facing some error, while throwing new state, the currentstate is always taken as my initialstate, thus I am unable to do any operation on it, can you please help me out?

//My State Class
[code]
// My Bloc
[code]

//Error Console
[code]

[2019-05-05 19:32] droidpl commented on #238
@felangel Did you have a chance to have a look to this?

[2019-05-05 22:30] felangel commented on #274
Hi @satodia-smit 👋
Thanks for opening an issue!

Regarding your question, I would think of the counter example as having a single state (`CounterState`) which has a property `value`.

I have put together a [gist](https://gist.github.com/felangel/ecf7281b66f92efac84bb4082464e778) of how I would refactor the `counter_bloc` to use classes.

Hope that helps 👍

[2019-05-05 22:30] #274 closed

[2019-05-06 00:20] felangel commented on #238
@droidpl sorry for the delay; I just saw this. I think what you're describing is currently possible and documented in [bloc to bloc communication](https://felangel.github.io/bloc/#/architecture?id=bloc-to-bloc-communication). Let me know if that's what you were thinking 👍

[2019-05-06 01:12] ammaratef45 commented on #139
I've started refactoring with the help of @felangel
I hope is facilitates unit testing and maintainability, I will write a blog post about my experience with it and share it with you guys next week 👍

[2019-05-06 07:56] wxy520ll commented on #253
thank you very much

[2019-05-06 08:40] droidpl commented on #238
oh I didn't see that documentation. Only thing is I can't yield states there, but I guess just by dispatching new events I can trigger the state I want. Not the most comfortable way but still would work.

Thanks for the support and the nice library.

[2019-05-06 13:38] felangel commented on #238
No problem! I’ll keep it in mind and hopefully have a more elegant solution in the near future. 👍

[2019-05-06 15:07] bobwiller commented on #139
Love the recent updates - especially w/the Listener and Tree classes.  One area I am still struggling with from a design perspective is how "big" or "small" a bloc should be.  I am getting to the point where every piece of UI that has its own state has its own bloc, which seems like a lot of overhead - would love to hear from everyone else if they have any lessons learned or best practices around

[2019-05-07 00:23] ariefsn commented on #197
Hi @felangel
according to this issue,
how about if i'm not using equatable?? but blocBuilder still not refreshed. :(
i have to go to other page, and go back to old page again to get blocBuilder called again.

[2019-05-07 01:36] hivesey opened #275 "Cannot call yield from callback in Bloc (similar to #194)"
[code]

In the above example I would like to yield a state for every second. Yield is not working in the callback function of Timer.perodic(...). How do we handle yielding state in such scenario?

I guess question very similar to #194 but not sure how to apply await for in the above case.

Thanks for your help.

[2019-05-07 02:42] craiglabenz commented on #197
@ariefsn Is your widget with the ListView a StatefulWidget or a StatelessWidget? What might be happening is your BlocBuilder is actually working, but if it controls a StatefulWidget and you're not calling `setState()` anywhere, the update fails to propagate from `bloc` to core `Flutter`.

[2019-05-07 02:56] ariefsn commented on #197
Hi @craiglabenz,,
I have textfield and dropdown button.
onchanged textfield the blocBuilder not rebuild, it will be rebuild when onSubmit textfield.
and same condition, blocBuilder not rebuild when onChange dropdown button.

[2019-05-07 03:16] felangel commented on #197
Hi @ariefsn 👋
Can you please share a sample app that demonstrates the issue you’re having? Thanks!

[2019-05-07 04:22] felangel commented on #275
Hi @hivesey 👋
Thanks for opening an issue!

Regarding your question, I would recommend checking out the [flutter_bloc_with_stream example](https://github.com/felangel/bloc/tree/master/examples/flutter_bloc_with_stream).

Instead of using the async callback within `mapEventToState` to yield a new state, you should create a subscription and dispatch events asynchronously so that you don't block the

[2019-05-07 04:22] #275 closed

[2019-05-07 06:35] ariefsn commented on #197
ShowoffState.dart
[code]

Showoff_bloc.dart
[code]

Component MyDropdown.dart
[code]

Here my views page
[code]

@felangel on first ListTile with TextField it can be rebuild when onSubmit, not onChange. Same condition with second ListTile with DropdownButton, it can't rebuild with onChange event. Thanks before 😕

[2019-05-07 13:10] craiglabenz commented on #197
@ariefsn Are you able to provide any code?

[2019-05-07 15:08] hivesey commented on #275
Hi Felangel,

Thanks a lot, your example was helpful.
Resolved the issue by dispatching a separate event (from the original event) that in turn yields the state.

Thanks again!

[2019-05-07 15:26] matanshukry opened #277 "[Design Question] Multiple isolated operations ?"
Consider a scrolling list of items, where on each item a "remove button" exist. It is possible for the user to click the button on multiple times, before previous ones finished, so multiple network calls, each one removing a different item, may be done in parallel.

(1) How would one design a state for such a thing?

Considering the tree, you would want a widget for the item in the scrolling list,

[2019-05-08 06:29] felangel commented on #277
Hi @matanshukry 👋
Thanks for opening an issue and great question!

I think you're proposed solution should work just fine. I'll go through the exercise over the next few days and will share my solution as well. 👍

Thanks again! 😄

[2019-05-08 06:57] matanshukry commented on #277
Well my proposed solution is actually only for (2). For (1), I didn't really say anything.
I did come up with something so far though: I have a single state, that has a list of items with states, and when I need to update any one of them, I create a new state with the same type, and the same list, but different value inside.

It works, but it means the entire tree is being rebuilt, even though onl

[2019-05-08 08:08] CosmicPangolin commented on #174
@felangel @OndrejKunc

I'm in the process of porting ~50k lines of a complex (and increasing) app project from a thin redux-like implementation to Bloc.  To me, mapping Blocs loosely to widgets feels far more architecturally sound and intuitive than dispatching/composing/side-effect-ing actions to manage a global state.  I find this pattern more 'Fluttery,' and far more approachable both as a deve

[2019-05-08 22:18] nerder commented on #119
So you mean that with this, i can use `pushReplacementNamed`?

I think there are legit use cases for it, for instance in my app I have a page that i want to show at the first login only in order to let the user select one first initial setup and then just go back to the normal flow of the app, using `pushReplacementNamed` i don't have the go back button in my `AppBar`, how can i do accomplish with

[2019-05-08 22:54] francobellu opened #278 "BlocListener and BlocBuilder questions"
@felangel ,
Thanks for your great work. I'm using  a slightly different version of your LoginForm: In my case it shows the login failure on a dialog The other difference is that all the authentication result states are generated only when the login button is pressed. If the credentials are wrong a dialog is shown.

I was initially using a StreamBuilder (as suggested by Didier Boelens )to handle th

[2019-05-09 03:56] felangel commented on #278
Hi @francobellu 👋
Thanks for opening an issue and great questions!

1. Yes, you can theoretically apply the same pattern more generally; however, it was designed and intended to be used specifically within this library 👍
2. `BlocBuilder` optimizes for fewer rebuilds as compared to `StreamBuilder` because it has a much more narrow focus and also has a simplified api which abstracts the concept of `

[2019-05-09 03:56] #278 closed

[2019-05-09 03:59] felangel commented on #119
@nerder have you checked out the [navigation recipe](https://felangel.github.io/bloc/#/recipesflutternavigation)?

I believe using `BlocListener` should work just fine for your use case. Do you mind sharing a gist or link to a sample app? Thanks!

[2019-05-09 04:18] felangel commented on #174
@CosmicPangolin thanks for giving the bloc library a try and for the awesome feedback!
Regarding your questions:

1. Can you please give us a specific example/use-case that you have which illustrates this? I think it would be really helpful to gain some more perspective.

2. In general, my intention was to create an abstraction that allows developers to separate business logic into small, focused

[2019-05-09 04:23] felangel commented on #197
@ariefsn thanks for sharing those code samples. I'm a bit confused by your use of the bloc library. It seems you are extending bloc but are still maintaining your own `StreamController` and aren't using `mapEventToState`?

Would it be possible for you to share a link to the full source code so that I can see the complete code and run it locally? Thanks! 👍

[2019-05-09 04:40] felangel commented on #139
@bobwiller thanks for the positive feedback! We really appreciate it 😄

Regarding your question, I would love to hear more about the overhead you are referring to and some sample use-cases you have in your own applications.

In general, I think it's a tough question to answer but I would say a good rule of thumb is if your bloc's state has properties that are unrelated, then it's probably managing

[2019-05-09 05:33] felangel commented on #183
Hey @jpablogn sorry for the delayed response and thanks for the code snippet!

I would recommend you update `_creatQuedada` to just look like:
[code]

That way in your `mapEventToState` you can handle `OnCreateQuedadaButtonEvent` like:

[code]

Hope that helps 👍

[2019-05-09 06:28] frankrod opened #280 "Question - Dispatch an event with parameters that depends on the state"
Hi I have some issues when trying to dispatch an event inside my widget initState ex.

I have 2 different blocs 1 that I'm injecting and trying to get the state from and the other one that belongs to that Screen let's say and I'm dispatching the event.
This is the piece of code that I'm trying to make it work:

[code]

I want to use the state inside my initState but I can't cast it to the specific

[2019-05-09 11:08] francobellu commented on #278
@felangel ,
Thanks for your quick reply.

Regarding 3 I still have a doubt:
-So how would my BlocBuilder be able to process the initial state (maybe a showing an initial message) if that state is skipped?
-Also why do you use a `BehaviorSubject` if your intention is to skip the the initial value?

[2019-05-09 11:39] fvisticot opened #281 "flutter_bloc for Flutter WEB"
We try to use flutter_bloc with flutter WEB and it does not work:

Error message: flutter_bloc depends on flutter any from sdk which is forbidden, flutter_bloc is forbidden.

any idea ?

After more reading, I understand that i need to fork the flutter_bloc and make a replace "script" for plugin imports (replace import flutter to import flutter_web)

[2019-05-09 12:49] enricobenedos commented on #52
Good morning guys,
I've the same problem explained in this issue:
`StateError (Bad state: Cannot add new events after calling close)`
I think my problem is similar to the @JoseGeorges8 problem. I have a drawer that provide to navigate on all the App pages. In page 1 and page 2 I need to fetch the same data. In this case I need to call myblock.fetchAllData() on all the two pages initState(), then a

[2019-05-09 13:20] craiglabenz commented on #52
@enricobenedos From a high level, you either need to not `dispose()` your bloc (make it global and inherit it from the `BlocProvider` widget), or recreate it when returning to a screen.

[2019-05-09 13:40] felangel commented on #281
Hi @fvisticot 👋
Thanks for opening an issue!

Flutter for web is still in a technical preview stage and they have forked flutter temporarily in order to ensure everything works properly before merging back into master. I would not recommend spending time to get flutter_bloc working for flutter_web because it’s not in a stable state yet. Once flutter for web stabilizes and is recommended for produc

[2019-05-09 13:40] #281 closed

[2019-05-09 13:57] felangel commented on #280
Hi @frankrod 👋
Thanks for opening an issue!

Regarding your question, can you please share the error you're getting? I'm guessing that the state is not a `UserAccountPermissionSelectedState` at that point. In addition, you also update the `InternalTransfersBloc` to have a dependency on `SelectCompanyBloc` and within `InternalTransfersBloc` you can subscribe to the state stream and dispatch events

[2019-05-09 13:57] #280 closed

[2019-05-09 14:06] felangel commented on #278
@francobellu no problem!

The `initialState` is defined in your bloc implementation so and can be accessed via `myBloc.initialState`.

`BehaviorSubject` is still useful because it allows you to have access to the latest value emitted by the subject making it really easy to support `currentState`

Hope that answers your questions 👍

[2019-05-09 14:11] felangel commented on #52
@enricobenedos as @craiglabenz mentioned you should make sure you don't dispose your bloc if it's still needed. I would recommend disposing your bloc in the same widget that instantiated it. If after these explanations you're still having trouble, it'd be awesome if you could share a link to a sample app which demonstrates the issue you're running into.

Thanks!

[2019-05-09 14:58] lsaudon commented on #168
Do you have full exemple @rrousselGit ?

[2019-05-09 15:32] frankrod commented on #280
Hi @felangel
Thanks for the quick response! and for the bloc library pretty good job!

This is the error I'm getting:

flutter: The following _CastError was thrown building Builder:
flutter: type 'BehaviorSubject<SelectCompanyState>' is not a subtype of type
flutter: 'UserAccountPermissionSelectedState' in type cast

That is the cast error and I'm guessing the error is because 'UserAccountPermissi

[2019-05-09 15:33] craiglabenz commented on #52
@enricobenedos I don't believe these ideas are at odds if you create an app-wide bloc in your root widget :smile:

[2019-05-09 15:35] francobellu commented on #278
@felangel ,
Sorry I don't quite understand how could I use the myBloc.initialState data inside the BlocBuilder.
Certainly the StreamBuilder has that ability and the correspondent parameter.

So, given my code, how would you build the widget when the state is AuthState.UNKNOWN ( which is the bloc initial state)?
[code]

[2019-05-09 16:01] felangel commented on #280
@frankrod yup glad you got it working!

You might want to use a `BlocListener` and dispatch from the `listener` because it will handle the subscription for you. I think all of these approaches are very similar but I would recommend either moving it to the bloc entirely to keep the UI clean or if you prefer to listen and dispatch from the UI layer, then try `BlocListener`.

Hope that helps! 👍

[2019-05-09 16:04] felangel commented on #278
@francobellu I think I might've been unclear. `BlocBuilder` takes a bloc as an argument and can access the `initialState` internally. You as a developer, don't have to worry about what's going on under the hood (unless you're curious). The example you've included should work fine even if `AuthState.UNKNOWN` is the initial state. Are you having trouble getting it to work properly? I thought you wer

[2019-05-09 16:38] francobellu commented on #278
@felangel,
No problem,
 I'm currently unable to build the widget when the bloc is in its initial state, AuthState.UNKNOWN, because the BlocBuilder skips it.
I'd like to be able to build the widget specifically for the initial state. How would you do it?

[2019-05-09 16:39] felangel commented on #278
Can you please share a link to a sample app that demonstrates the problem you’re having?

[2019-05-09 19:06] krusek opened #282 "Blocs as InheritedWidget?"
The Bloc generally contains state, but the implementation does not use a StatefulWidget to hold the bloc. I understand the reasoning is that we want the fast lookup that we get from InheritedWidgets and more easily injected values than if we used the InheritedWidget + StatefulWidget combination that a lot of people suggest. But isn't it bad design to have state outside of stateful widgets?

I know

[2019-05-09 19:15] krusek commented on #282
It appears there has already been discussion about why you are using an inherited widget. I'm still concerned about hot reload being broken and I don't see that being addressed, but feel free to close this issue if you want to move along.

[2019-05-09 19:18] krusek commented on #282
Looking at the sample code, it looks like the recommendation would be to have some parent widget that is stateful that creates and holds a reference to the bloc.

[2019-05-09 19:18] #282 closed

[2019-05-09 19:21] felangel commented on #282
Hey @krusek 👋

Can you please provide an example of a case where hot reload is broken? The BlocProvider widget is meant to make the bloc available to the subtree but it is not responsible for creating/disposing the bloc. The creation and disposal of blocs should always be done in StatefulWidgets which should address your concerns.

Let me know if that helps and great question 👍

[2019-05-09 19:27] enricobenedos commented on #52
Only for show you this is my basic implementation of bloc pattern: [MyProject](https://github.com/enricobenedos/FlutterBlocPatternSample). In this case I think it is correct to not dispose anything because my bloc need to be alive during all the app life.

[2019-05-09 19:46] QoLTech commented on #281
I am using this in my flutter_web project.

All that needed to be done is changing the pubspec.yaml of flutter_bloc to use flutter_web instead of flutter and changing the imports to flutter_web instead of flutter.

[2019-05-09 21:13] CosmicPangolin commented on #174
Sure, but bear with me cause this will take a bit of context to illustrate.  Consider the following structure:
[code]

....and so on.  The nested layout allows us to define blocs and widgets that are in scope with both an interface module and a layer of data (chats_bloc & chats_widgets in scope with <chats>, which actually builds a widget representation of all chats - an interface with a chat list

[2019-05-09 23:06] felangel commented on #281
@QoLTech I will create a flutter_web branch that people can use to test with flutter_web shortly 👍

[2019-05-09 23:20] felangel commented on #52
@enricobenedos thanks for sharing. I noticed your project does not use the bloc or flutter_bloc library so I'm a bit confused. This repo is for issues related to the bloc/flutter_bloc/angular_bloc packages.

Anyway, I would recommend changing your `MyApp` widget to a `StatefulWidget` and creating/disposing the `DogBloc` there. Then you can use an `InheritedWidget` (in the flutter_bloc library it's

[2019-05-09 23:54] Reidond opened #283 "Change ThemeData on the fly"
Is it possible to change ThemeData of MaterialApp on the fly with bloc? If it is, how?

[2019-05-10 00:11] felangel commented on #283
Hi @Reidond 👋
Thanks for opening an issue! It's most certainly possible and you can check out an example of it [here](https://github.com/felangel/bloc/tree/master/packages/flutter_bloc/example).

Hope that helps! 👍

[2019-05-10 00:11] #283 closed

[2019-05-10 00:13] Reidond commented on #283
Thank you! I am soo blind 😃

[2019-05-10 00:16] felangel commented on #283
No problem!

[2019-05-10 09:27] enricobenedos commented on #52
Oh! It's my mistake! I was sure I'm writing on Flutter framework repository 😅. Really sorry guys. Anyway I've updated my project with the dispose in the main.dart. Thank you for all the provided support to improve my code

[2019-05-10 11:04] RobPFarley opened #284 "Intellij plugin doesn't generate mapEventToState correctly"
**Describe the bug**
The intellij Bloc Code Generator plugin (https://plugins.jetbrains.com/plugin/12129-bloc-code-generator) isn't generating the bloc file properly, it is missing the state parameter in mapEventToState.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click in file explorer and select New > Bloc Generator > New Bloc
2. Follow the instructions to generate bloc files, I

[2019-05-10 14:58] felangel commented on #284
Hi @RobPFarley 👋
Thanks for opening an issue!

Regarding your question, I believe if you update to the latest version of bloc/flutter_bloc (0.13.0) your errors will be resolved. Let me know if that helps 👍

[2019-05-10 14:58] #284 closed

[2019-05-10 15:04] RobPFarley commented on #284
Thanks for the fast reply. So it looks like we now get the current state from the instance variable in the bloc rather than the mapEventToState method?

[2019-05-10 15:06] felangel commented on #284
No problem and yup exactly 👍

[2019-05-10 17:46] francobellu commented on #278
@felangel ,
Sorry for the delay, here's my project. https://www.dropbox.com/s/epinz3juxnekaj3/TheBoringShow.zip?dl=0

You'll see that when you launch it you'll get to the authentication form

what I don't understand is
1) Why is that the bloc's initialData, AuthenticationState.unknown(),  is actually not even ever emitted by the bloc? So what's the point of having setting initialData?
The Behavior

[2019-05-11 10:57] satodia-smit commented on #274
thanks a ton for your help, and quick reply

[2019-05-11 16:30] quantosapplications commented on #236
Thanks @felangel I'm gaining some experience in using bloc.
I'm confused about state transition and I would like to ask you taking the flutter_infinite_list example:
if I receive an error during a fetch post event I then go to an error state.
When I'm in an error state I lost all posts fetched before that state and if I put a button to try fetch posts again I start from zero.
That's why  I asked y

[2019-05-11 16:38] felangel commented on #236
@quantosapplications no problem! It depends on how the feature is supposed to function. In your case, it makes sense to add the error property to the same state because you can have an error and still retain the posts. The second snippet I shared above is what I would use for this use-case.

Hope that helps 👍

[2019-05-11 17:10] erwintan96 commented on #139
hi @felangel, may I ask your opinion about this article ` https://medium.com/flutterpub/effective-bloc-pattern-45c36d76d5fe `?

especially this part :

because i read a lot of articles about BLoC Pattern and I was confused.
Maybe your opinion can make me not confused anymore
btw, this package is cool and has great examples! Thank you so much :beers:  :beers:

[2019-05-11 17:16] felangel commented on #139
Hey @erwintan96 👋
I think overall the article is pretty good. For the specific section you mentioned, I would add that you should always keep state/blocs scoped to the part of the widget tree that needs it. Avoid making all blocs global unless they need to be. In addition, if you’re using the bloc library, you can use BlocProviderTree to avoid nesting when providing multiple blocs.

Thanks for the

[2019-05-11 23:45] felangel commented on #278
@francobellu no worries and thanks for providing the application code.

1. The `initialState` is required because when you use `BlocBuilder` and provide your bloc that `initialState` is what is provided to the builder before any events have been dispatched.

2. The `BlocBuilder` implementation automatically sets the state to `initialState` before subscribing to the bloc stream which is why the ski

[2019-05-12 10:01] fvisticot opened #286 "[Question] Authentication flow with pushReplacement in flow"
My app is using a bloc for authentication.
1. Login
2. Screen with List
3. ===> PushReplacement to clear the navigation stack
4. Detail Screen
5. Logout page with Logout button

When I click on logout:
- Authentication bloc -> logout

Unfortunately, the bloc in charge of displaying the login page is no more in the stack (due to PushReplacement)
What would be your advice / architecture to fix this

[2019-05-12 15:32] felangel commented on #286
Hi @fvisticot 👋
Thanks for opening an issue!

Have you taken a look at the basic [login example](https://felangel.github.io/bloc/#/flutterlogintutorial)?

I would recommend avoiding PushReplacement for most cases.

Let me know if that helps 👍

[2019-05-12 15:32] #286 closed

[2019-05-12 20:13] fvisticot commented on #286
I do not know how to avoid using PushReplacement.
If I only use Push with fullscreenDialog=true I get a cross to close the screen. Is it possible to disable the cross on pushed screens ?

[2019-05-12 20:40] felangel commented on #286
You can just push without fullscreenDialog and then it will be a normal navigation.

[2019-05-12 20:42] fvisticot commented on #286
If I do that, I will have a back arrow to get back :)
I try to change the workflow to send an event in the bloc and display a new screen from root tree (like your Login sample)

[2019-05-12 20:53] felangel commented on #286
Yeah it depends on what you want the user experience to be. You can check out the [navigation recipe](https://felangel.github.io/bloc/#/recipesflutternavigation) for more details.

Hope that helps 👍

[2019-05-12 21:17] nhwilly opened #287 "Dealing with expiring authentication tokens"
I've followed through the examples for login and Firebase login and they're great.  I have it working just fine.  One thing that has me a little confused is what to do when a JWT bearer token expires, a 401 is returned and I need to have them re-authenticate to get a new token.

What makes this a little harder is that this could happen on *any* call to the server.  The desired behavior is to promp

[2019-05-12 21:26] nhwilly commented on #287
It's almost as if this has to be a modal dialogue, right?  Sitting on top of whatever screen/operation was going on at the time?

Could I pass the `context` along to the authentication module on the call and handle the login operation within the authentication method?

[2019-05-12 21:39] felangel commented on #287
Hey @nhwilly 👋
Thanks for opening an issue!

Regarding your question, you can create an interceptor and if you get a 401 you can call a callback function.

[code]

This can be handled at the root of your application and you can display a modal like you suggested.

Hope that helps and great question 👍

[2019-05-12 21:39] #287 closed

[2019-05-12 23:18] nhwilly commented on #287
Thanks for the quick answer!

And just to show what a newbie I am, would you use Dio or another package to create the interceptor?

And if I'm creating the callback at the top of the app, how does the *current* `context` find its way to be use in the `navigation` called by the authentication service?

[2019-05-13 08:54] 1AlexFix1 opened #288 "Need example bloc communicate antoher blocs"
Hi, thanks again for the great library. I would like to discuss and see examples of communication between the blocks.
For example, if two blocks are on the same level, it is logical to create a parent block for their communication, but here’s how a block can communicate with its parent. There are the following examples on the Internet.

[code]
and if dispose does not reset the links, there will be

[2019-05-13 09:56] francobellu commented on #278
@felangel,
Regarding point 1 I try to rephrase my problem:
In my case the builder function of the BlocBuilder is not able to receive the  AuthenticationState.unknown() state  and to build the blocBuilder accordingly. So
if I wants to show a Text widget that shows the content of _errorMessage when AuthState.UNKNOWN, I can't.

[code]

[2019-05-13 10:16] geminiyellow commented on #281
hi @felangel , flutter/flutter#32360 merged, do you have any plan make this library work in flutter_web ?

[2019-05-13 10:55] francobellu opened #289 "Why many AuthenticationState subclasses are used?"
@felangel

I see to that in order to differentiate among different type of AuthenticationState you subclass.
I wonder way you don't simply us an enumeration that could be a property of AuthenticationState ( see below what I'm currently using).
This why when yielding states in the bloc or when handling states in the ui, you can use a switch statement.
So, is there's an important reason to subclass

[2019-05-13 13:10] felangel commented on #289
Hi @francobellu 👋
Thanks for opening an issue.

There’s nothing wrong with using enums for cases where you don’t need additional properties but in general it’s a bit more “future-proof” to use classes because if your code evolves and requires additional properties to be passed, you will not need to refactor.

Hope that helps and great question 👍

[2019-05-13 13:10] #289 closed

[2019-05-13 13:14] felangel commented on #288
Hi @1AlexFix1 👋
Thanks for opening an issue.

Have you taken a look at [bloc to bloc communication](https://felangel.github.io/bloc/#/architecture?id=bloc-to-bloc-communication) in the docs?

If that isn’t what you are looking for can you please provide a more specific example of the use-case you have so that I have some more context? Thanks!

[2019-05-13 13:17] felangel commented on #281
@geminiyellow yes this library should work on mobile, desktop, and web 👍

Is there any problem you’re running into currently?

[2019-05-13 13:30] 1AlexFix1 commented on #288
Wow, I looked bad (thanks, I see the implementation yes, and it turns out that the child dispatch events to the parent

[2019-05-13 13:32] felangel commented on #288
Haha no worries! Closing for now but if you have additional questions let me know 🙂

[2019-05-13 13:32] #288 closed

[2019-05-13 14:50] 1AlexFix1 opened #290 "Me again ˆ_ˆ"
[code]

This is an individual example, question or function request as follows. BlocBuilder does not allow you to somehow listen to a stream with filters. Since in this example, if there are two variables that can change at different times, and when the parameter a changes, the parameter b is called, this is solved using StreamBuilder and streaming data filters. The point is to be able to filter s

[2019-05-13 16:26] erwintan96 commented on #139
i want to ask again @felangel
why did you use stateless widget rather than statefull widget on your example `https://medium.com/flutter-community/flutter-todos-tutorial-with-flutter-bloc-d9dd833f9df3` at detail screen, and etc..
you used bloc on detail screen but you didn't dispose it.. Is it okay?
stateless widget doesn't have dispose method..

[2019-05-13 16:28] Matiullah-karimi opened #291 "How to access previous state inside mapEventToState?"
I have three states `MembersLoadedState, MembersError, and MembersValidationError`.

My builder looks like this:
`body: BlocBuilder<MemberEvent, MemberrState>(
    bloc: memberBloc,
        builder: (BuildContext context, MemberState state) =>
          if (state is MembersLoaded) {
               // show list of users
          } else if (state is MembersError) {
             // show error

[2019-05-14 01:51] felangel commented on #290
Hi @1AlexFix1 👋
Thanks for opening an issue.

Regarding your question, it sounds very similar to #174. Can you confirm whether or not you are asking for the same feature? Thanks!

[2019-05-14 01:57] felangel commented on #291
Hi @Matiullah-karimi 👋
Thanks for opening an issue.

Regarding your question, based on the user experience/feature you are describing I would recommend updating your MembersValidationError state to extend from the `MembersLoaded`.

[code]

That way you always have access to the members list even if there was an error validating. Hope that helps 👍

[2019-05-14 01:57] #291 closed

[2019-05-14 02:00] felangel commented on #139
Hi @erwintan96 the Detail Screen didn't create the bloc, it just accessed it using the `BlocProvider` so it does not need to be stateful and does not need to dispose the bloc. The bloc was created and disposed in the Home Screen. Hope that helps 👍

[2019-05-14 02:15] geminiyellow commented on #281
hi @felangel yes, here is what i do:

[code]

[2019-05-14 02:16] felangel commented on #281
@geminiyellow what version of flutter are you using? Can you please post the output of flutter doctor —verbose? Thanks!

[2019-05-14 02:34] felangel commented on #287
@nhwilly no problem! You can either create your own interceptor for the [http package](https://pub.dev/packages/http) or you can definitely use `Dio`.

You can just dispatch an event at the top of the app to the `AuthenticationBloc`, then in your `Widget` you can use `BlocBuilder` to return a different widget in response to the state change or you can use `BlocListener` to navigate/display a dialo

[2019-05-14 02:40] felangel commented on #278
@francobellu I took another look and it looks like in `landing_page.dart` you have

[code]

This is updating the `AuthenticationBloc` state from `AuthState.UNKNOWN` to `AuthState.WAITING_RESPONSE`.

You can look at the transitions in the console to see the events and how they are changing the state of your blocs.

[code]

Hope that helps 👍

[2019-05-14 02:53] geminiyellow commented on #281
okey, here is it:

[code]

[2019-05-14 02:55] felangel commented on #281
Can you try flutter upgrade —force to use latest master? I don’t think the changes are in stable.

[2019-05-14 02:57] geminiyellow commented on #281
i did it, nothing change here.

[code]

[2019-05-14 02:58] geminiyellow commented on #281
opps, sorry, you say master. sorry.

[2019-05-14 03:04] geminiyellow commented on #281
@felangel , now i m in

[code]

and , still not working. same error.

BTW, i use it **(flutter_bloc)** in web.

[2019-05-14 03:22] felangel commented on #281
@geminiyellow i'm taking a look right now 👍

[2019-05-14 03:59] felangel commented on #281
@geminiyellow you can update your `pubspec.yaml` to point to a temporary flutter_web compatibility branch for `flutter_bloc`

[code]

[2019-05-14 04:24] geminiyellow commented on #281
hey ya, it working. thank you @felangel , will u release it later?

[2019-05-14 07:52] 1AlexFix1 commented on #290
Yes, this is what you need, thanks again!

[2019-05-14 07:52] #290 closed

[2019-05-14 08:11] francobellu commented on #289
@felangel  many thanks !!

[2019-05-14 09:19] francobellu commented on #278
@felangel Yes, that's correct.
So, if I'm understanding correctly, BlocBuilder widgets don't need to be rebuilt for the initialState,  because the first transition happens immediately so the BlocBuilder will only need building starting from the second state of the stream ( hence the skip(1)).

So a typical sequence of state for my app would be:
[code]
Which in turn would create a stream of
[code]

[2019-05-14 10:52] VivekKannaV opened #292 "Should state always be immutable?"
I have seen in some of the blogs or tutorial, they created a state with the _immutable_ annotation.
For reference:
[flutter_bloc_with_stream](https://github.com/felangel/bloc/blob/master/examples/flutter_bloc_with_stream/lib/bloc/ticker_state.dart)

Should it always be an immutable one?

If it is yes. If immutable exists at infinite scroll list page means, the object creation might demands & it le

[2019-05-14 11:50] felangel commented on #290
Thanks, so do you like the solution proposed in the extensions package?

[2019-05-14 11:58] felangel commented on #292
Hi @VivekKannaV 👋
Thanks for opening an issue!

Regarding your question, yes states should always be immutable. Can you please provide an example to illustrate your concerns? Thanks!

[2019-05-14 14:19] Matiullah-karimi commented on #291
Thank you @felangel but in this case, I  always need to pass members list as a second parameter when dispatching events. For example, previously I had this `memberBloc.dispatch(EditMember(member));` and now I must pass members list as well `memberBloc.dispatch(EditMember(member, members));` right?

[2019-05-14 14:19] MahdiPishguy opened #293 "how can i run samples?"
after clone repository and opening folder with vs code or android studio i cant run samples and trace code to learn

[2019-05-14 14:22] felangel commented on #293
Hi @MahdiPishguy 👋
Thanks for opening an issue!

Can you be more specific about how you are running the samples and what error you are seeing? Thanks 🙏

[2019-05-14 14:28] MahdiPishguy commented on #293
@felangel i clone your git from this link as ```https://github.com/felangel/bloc.git``` from Android Studio, after finish that i get download Dart SDK message on top of android studio screen

on Run/Debug Configuration and Dart endpoit this location which file from samples folder i should be set? i set ```E:\Projects\Flutter\bloc_samples\examples\flutter_login\lib\main.dart``` and i expect to tun

[2019-05-14 14:30] nhwilly commented on #287
Felix,

Thanks, that’s what I’m doing now.

But if I’m listening to this at the top level, how do I maintain my navigational position if I have to prompt them to login?

I guess I would compare this to a redirect in a browser, right?  In that situation, the original endpoint is saved and after reauthentication is complete, it is recalled.

So, to really do this right, I’d have to create a function

[2019-05-14 14:30] felangel commented on #293
You probably need to open the specific example project in android studio instead of the top level project. Otherwise I would recommend just opening a terminal, changing directories into the specific example you want to run, and then running flutter run. Hope that helps 👍

[2019-05-14 14:33] felangel commented on #287
You can show the prompt as a modal and overlay it on top of the existing UI. That way you can just pop when finished and the user can resume what he/she was doing.

[2019-05-14 14:36] MahdiPishguy commented on #293
@felangel  thanks

[2019-05-14 14:36] #293 closed

[2019-05-14 14:37] nhwilly commented on #287
Ok, thanks.  I’m working on it.

It’s the overall architecture that’s throwing me, but I’ve almost got it.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Felix Angelov <notifications@github.com>
Sent: Tuesday, May 14, 2019 10:33:06 AM
To: felangel/bloc
Cc: nhwilly; Mention
Subject: Re: [felangel/bloc] Dealing with expiring aut

[2019-05-14 15:03] andrasgyenes opened #294 "Error handling in a BLoC if state does not change"
Hi,

First of all, thanks for this great lib! It's very easy to use, the documentation is extensive and the examples help a lot to get started.

I have some questions about error handling in the todos example app. Let's suppose that the operations in the repository layer can fail and we want to catch those errors and show some message in the app. For example: the UI layer dispatches an `Add `event

[2019-05-14 15:15] felangel commented on #291
@Matiullah-karimi if that's the case, then you can probably move members to the base class and yup, you'd need to pass the members. Alternatively you can restructure your state and implement a `copyWith` method that returns a new instance of your class and copies the members over.

[code]

Hope that helps 👍

[2019-05-14 15:18] felangel commented on #294
Hi @andrasgyenes 👋
Thanks for opening an issue and for the positive feedback!

Regarding your question, you can restructure the method to `await _saveTodos` and wrap it in a try/catch like:

[code]

Then in the UI layer you can handle the failure state.
Hope that helps and great question 👍

[2019-05-14 15:18] #294 closed

[2019-05-14 15:31] felangel commented on #278
@francobellu the BlocBuilder does not skip the `AuthState.UNKNOWN`. If the `skip(1)` wasn't present, then the `AuthState.UNKNOWN` would be returned twice. Your logs are missing the `UNKNOWN` state because by the time `BlocBuilder` is instantiated, you've already changed the state of the `AuthenticationBloc`. Same thing applies to the `BlocListener`; it only listens once it's instantiated so if you