[2019-10-09 23:42] ThinkDigitalSoftware commented on #538
You can also combine your streams ahead of time and provide the combined stream to a single bloc. This will simplify your build methods.

[2019-10-09 23:49] ThinkDigitalSoftware commented on #538
I believe that they can also separate the widgets by layers. For example, if they require the authentication state in a widget 5 layers down, that should be part of the state that's passed from above .  I agree that their blocs may be too granular

[2019-10-10 01:18] felangel commented on #110
@JCFlores93 can you provide a sample app which reproduces the issue?

[2019-10-10 01:18] #556 closed

[2019-10-10 01:24] basketball-ico commented on #558
@felangel
I prefer `bloc.states`

[2019-10-10 01:25] felangel commented on #558
@basketball-ico can you elaborate on why you prefer it over `stream`? Thanks for the input 🙏

[2019-10-10 02:12] DeepStyles commented on #538
In this feature, I wouldn't want to rebuild unnecessary having consumed multiple blocs... Provider package has updated with selector widget recently which only rebuild when related Bloc changes. (My widget go crazy building, if one f the multiple blocs provided is related to animation)

[2019-10-10 02:18] felangel commented on #538
@DeepStyles you'd still be able to provide conditions for each bloc like:
[code]

Either way I'm leaning towards not moving forward with this feature because I don't see many use-cases and nested `BlocBuilders` are more readable/maintainable in my opinion. Also, as many people have pointed out if you have lots of nested `BlocBuilders` there's a good chance you need to refactor your blocs.

[2019-10-10 03:26] JCFlores93 commented on #110
void main() async {
  FlutterError.onError = (FlutterErrorDetails details) {
    if (isInDebugMode) {
      FlutterError.dumpErrorToConsole(details);
    } else {
      Zone.current.handleUncaughtError(details.exception, details.stack);
    }
  };
  WidgetsFlutterBinding.ensureInitialized();
  await FlutterCrashlytics().initialize();

  runZoned<Future<Null>>(() async {
    runApp(MultiBlocProvide

[2019-10-10 03:29] JCFlores93 commented on #110
@felangel  The first provider works fine, but the second it's not working. I think it could be a problem of DI. Because the first bloc is called in the MenuContainer and the second bloc is other widget.

[2019-10-10 03:30] JCFlores93 commented on #110
`class MenuContainer extends StatefulWidget {
  MenuContainer();
  @override
  _MenuState createState() => new _MenuState();
}

class _MenuState extends State<MenuContainer> {
  PostsBloc _postsBloc;

  @override
  void initState() {
    super.initState();
    _postsBloc = BlocProvider.of<PostsBloc>(context);
    _postsBloc.dispatch(LoadPosts());
  }
  _MenuState();
  int _selectedIndex = 0;

  Li

[2019-10-10 03:31] felangel commented on #110
@JCFlores93 when you use `MultiBlocProvider` you need to explicitly provide the types for each `BlocProvider` like:

[code]

Hope that helps 👍

[2019-10-10 03:31] JCFlores93 commented on #110
@felangel  where the context is dirty is in LoginContainer.

[2019-10-10 03:33] JCFlores93 commented on #110
Yes. I did it.

[2019-10-10 03:44] felangel commented on #110
@JCFlores93  as I mentioned, you need to specify the type when doing a lookup using `BlocProvider`.

You can't just use `BlocProvider.of(context)` because there's no way for the bloc library to know which bloc you want.

You have to specify the type like:
[code]

[2019-10-10 03:53] zengzhengrong commented on #505
I love this bloc, I'm looking forward to stable version ,It‘s frequently upgrade :)

[2019-10-10 04:02] felangel commented on #156
@adityadroid the issue is you're extending `Equatable` for your `ConfigState` and after you logout the first time, the bloc's state is `RestartedAppState`. Then the second time you press logout internally bloc will do a check to see if the yielded state is different than the `currentState`. In your case the new state is `RestartedAppState()` and the `currentState` is `RestartedAppState()` so
`next

[2019-10-10 04:20] felangel commented on #538
@henriquearthur I took a closer look at your use-case and I would argue that you can refactor to just have a `ColorBloc` rather than a `RedBloc`, `GreenBloc`, and `BlueBloc`. You can have a `ColorChanged` event which takes `r`, `g`, and `b` values and a `ColorState` which keeps track of the current `r`, `g`, and `b` value. I don't think you would need a `MultiBlocBuilder` anymore at that point.

[2019-10-10 04:23] felangel commented on #538
Closing this for now because I have not seen a compelling use case for this. If anyone feels like they have a good use case please let me know and I'm happy to re open it 👍

[2019-10-10 05:05] bigworld12 commented on #558
`stateStream` is more intuitive in my opinion, since the name infers the type

[2019-10-10 05:06] ThinkDigitalSoftware commented on #538
@felangel nitpicking, but your label won'tfix conveys that this topic is closed for discussion

[2019-10-10 05:07] felangel commented on #281
Since the `flutter_web` branch has been merged into the `flutter` master branch (https://github.com/flutter/flutter/issues/34082), the `flutter_web` branch for `flutter_bloc` is no longer necessary.

[2019-10-10 05:08] felangel commented on #538
@ThinkDigitalSoftware sorry! I removed won't fix and re-added discussion/feedback wanted 👍

[2019-10-10 05:18] bigworld12 opened #560 "BlocBuilder doesn't need to explicitly provide the State type again"
i am not sure why we need to pass the state type again in BlocBuilder.
currently we would write
[code]
but why can't we remove the StateA, and instead write

[code]
since BlocA already defines the state type.
and checking the defination here
https://github.com/felangel/bloc/blob/805cf865fe0972e7f1bd24f08598d624066434fb/packages/flutter_bloc/lib/src/bloc_builder.dart#L18

why can't we just write it

[2019-10-10 05:33] bernaferrari commented on #558
I would vote either for states or stateStream. I like the bonus of having the type in the name, but you kind of loose the functionality. It's not that easy to tell what it does. I searched for other usages of the stream<> api and I found someone else also using a variable name in plural when referring to streams. So either way, either of the both are better than state.

[2019-10-10 05:38] bigworld12 commented on #545
I would suggest the merge to have the same signature as `ListView` and `ListView.builder`

e.g.

[code]
(this also goes well with my proposal here https://github.com/felangel/bloc/issues/560)
e.g.
[code]

[2019-10-10 06:06] felangel commented on #560
Hi @bigworld12 👋
Thanks for opening an issue!

Unfortunately, I don't think this is possible.

[code]
won't compile because you need to define `S` (unless I'm missing something).

I totally agree that it would be ideal not to have to pass `State` and that dart should be able to infer the type.

[2019-10-10 06:22] felangel commented on #558
@bernaferrari thanks for the additional input. I agree that `stateStream` is the most descriptive but it's also the most clunky/verbose of the options. In most cases, you would only use the bloc state stream directly if you're subscribing to the stream manually or if you're unit testing the bloc.

## Directly Subscribing

[code]

## Testing
[code]

Personally I think when subscribing it reads a bi

[2019-10-10 07:52] tenhobi opened #561 "Add Dart linters to the packages"
None of the packages uses lints in it's `analysis_options.yaml` file. (Except Angular which does have a few.)

My propose is to add more linters, so the code could easilly follow the same standards.

Maybe you know the `package:pedantic` Google internally uses as lints list. A few days ago I have made the `package:effective_dart` (https://github.com/tenhobi/effective_dart) which follows the Effeci

[2019-10-10 08:04] tenhobi commented on #558
I like the `bloc.stateStream` and `bloc.stream`. `bloc.states` might be a bit misleading. I would vote for `bloc.stream`, because it is short and obvious what it does. 👍

[2019-10-10 10:13] amreniouinnovent opened #562 "Bloc VSCode update new Equatable v6"
I found that the extension for VSC is not matched with the new changes in the Equatable library
Could you check it to support Equatable V6?
Thanks a lot
https://marketplace.visualstudio.com/items?itemName=FelixAngelov.bloc

https://github.com/felangel/equatable/blob/master/doc/migration_guides/migration-0.6.0.md

[2019-10-10 13:11] felangel commented on #562
Hi @amreniouinnovent 👋
Thanks for opening an issue!

Can you provide more information? What is not matching?

[2019-10-10 13:17] felangel commented on #561
Hi @tenhobi 👋
Thanks for opening an issue!

I’ll definitely take a look at how effective_dart compares with pedantic and hopefully add one 👍. Thanks for bringing this up!

[2019-10-10 13:33] tenhobi commented on #561
@felangel cool, can I help you with something?

[2019-10-10 16:41] felangel commented on #562
@amreniouinnovent what version of vscode are you using and can you provide reproduction steps? Are you sure you have the latest version of the extension?

[2019-10-10 20:50] basketball-ico commented on #558
@felangel
I like `bloc.states` because it is a bloc, you know the output is a Stream, so it's redundant to have `bloc.stateStream`. (for bloc class)

https://stackoverflow.com/a/28805669

and for me is more easy read
[code]
than this
[code]
thank you :)

[2019-10-11 06:33] tenhobi commented on #560
Maybe DartLangSpec can help, page 61, chapter 14 Generics, https://dart.dev/guides/language/specifications/DartLangSpec-v2.2.pdf.

[2019-10-11 07:58] tapsey commented on #278
This will skip the initial state for the first subscription but will skip the current state for every other subscription thereafter. Before skipping you first have to check whether the stream has subscriptions or not and only skip if it is the initial subscription.

[2019-10-11 13:27] audkar commented on #558
Other example which matches this case:
[code]

OOP uses type of entities for method name which it returns. Not container type in which these entities are wrapped. What will be when class have more methods which return values in same type container? Name them `stream2` and `stream3`?

IMHO 3rd variant is worst in all cases.

2nd variant (plural form) also sounds strange form me. Stream is a stream.

[2019-10-11 13:32] felangel commented on #558
@audkar can you clarify? You said you think the 3rd variant is worst in all cases but in your last sentence you say you don’t have a problem with the current variant or the 3rd one.

[2019-10-11 13:36] audkar commented on #558
brainfarted, sorry. There was proposed three **new** variants. And 3rd one doesn't looks ok to me.

[2019-10-11 13:38] felangel commented on #558
So you prefer to leave it as is and don’t like bloc.stream?

[2019-10-11 13:49] christopher2012 opened #567 "[Proposal] new BLOC pattern to better testing"
Hello to all,

We have big problem in our company with bloc pattern because is hard to test.

In some cases we have to execute some events and check multiple states before reach the ones wchich we want to test after dispatch specific event.
e.g.
[code]

Can you see our solution and tell if it makes sense?

**new block and event pattern**
[code]

**example of event**
[code]
**tests**
[code]

We use

[2019-10-11 15:40] felangel commented on #567
Hi @christopher2012 👋
Thanks for opening an issue!

Unless I'm misunderstanding, this is an anti-pattern. The logic that used to be in the bloc is now moved into the event class. Doing this violates the single responsibility principle because the event now has logic for how to convert itself to a state. Events should not know or care about states and it is the bloc's responsibility to convert even

[2019-10-11 15:40] #567 closed

[2019-10-11 15:48] felangel commented on #562
@amreniouinnovent I'm closing this for now as I was unable to reproduce and I suspect you're using an outdated version of the VSCode extension.

Feel free to comment with additional information and I'm happy to reopen the issue 👍

[2019-10-11 15:48] #562 closed

[2019-10-11 16:04] bigworld12 commented on #560
yeah i think this is a language limitation, c# also has the same problem
valid :
[code]

invalid:
[code]

[2019-10-11 16:29] felangel commented on #560
@tenhobi yeah exactly. I think Dart just has no way to know what the generic type S is unless you define it unfortunately.

[2019-10-12 09:10] amreniouinnovent commented on #562
it works fine..my teammates he didn't update his extensions
Thanks a lot

[2019-10-12 13:03] MichelMelhem commented on #538
In the case of a complex view that use multiple source of data,
I think that the widget you mentionned above would be very useful.

[2019-10-12 14:03] felangel commented on #538
@MichelMelhem can you give an example?

[2019-10-12 14:37] k2evil opened #568 "`mapEventToState` is not being called"
**Describe the bug**
I have a home screen with a `BottomNavigationBar` in it. Each page has its own `bloc`. Since in each page, there may be a `VideoPlayerController` that is playing a media file, on each page changing The `build` and `dispose` methods are needed to be called so I know when start or pause the video.
if some video is playing on screen `A` and user clicked on screen `B` on the `Bott

[2019-10-12 14:42] rrousselGit commented on #558
I by far prefer the current names to all the proposed names.

- `stream`: that doesn't mean anything. Dart is a typed language. Naming a variable "stream" doesn't bring any extra useful information that the type system doesn't tell you already.

  It's like naming a `String` "string" or "str". Sure, that's correct, but not helpful at all.

- renaming `currentState` to `state`: we're losing meaning

[2019-10-12 14:50] felangel commented on #558
Thanks for the input @rrousselGit.

So you’d prefer:
`bloc.listen((state) { ... })`

And in tests:
`expectLater(bloc, emitsInOrder([ ... ]));`

We discussed this briefly within my team and I personally like it but there were concerns about not knowing what you’re listening to. I actually like the way it reads a lot better than the others 👍

[2019-10-12 14:57] k2evil commented on #568
Also I log every event which is sent to the `bloc` at the `onEvent` method of `bloc` itself, and the method is called every time... It means I still have the connection with the `bloc` but it's deciding to not pass the event to `mapEventToState`

[2019-10-12 15:04] felangel commented on #568
Hi @k2evil 👋
Thanks for opening an issue!

I’m guessing the problem is the bloc is already disposed. Once a bloc is disposed you can no longer trigger state changes. You shouldn’t both use BlocProvider with builder and manually call dispose. Instead you should use BlocProvider.value if you want to manage the bloc yourself.

Hope that helps!

[2019-10-12 15:20] k2evil commented on #568
I used `BlocProvider.value` and everythings seem to work fine... Thank you for the answer
[code]

[2019-10-12 15:23] ThinkDigitalSoftware commented on #558
I support @rrousselGit's ideas, but a stream getter and listening to the bloc provides the same amount of information. At least stream indicates a type while bloc doesn't indicate that its listenable. However, we all got over a small learning curve when learning this library, so we can expect people not to know what to do with something until they learn it. `asStream` is probably my favorite sugge

[2019-10-12 15:26] k2evil commented on #568
I should have read the documentation :smile:

[2019-10-12 15:26] ihsancemil opened #569 "Problem with for loop inside the bloc"
I'm building a simple sorting visualizer app.

Bloc is not changing its state when hitting the yield portion.

[code]

You can find the all project at https://github.com/ihsancemil/sorting_visualizer

[2019-10-12 15:40] brianegan commented on #558
tl;dr: I'd go with `state` instead of `currentState` and make the class implement `Stream<State>`. If ya wanna get crazy, also implement `Sink<Event>`.

Longer answer:

`state` vs `currentState`: I actually made the same mistake as the original author when trying out this library, and don't quite share the same concerns as Remi. I think it'd be a nice change.

When it comes to the name of the stre

[2019-10-12 15:44] tenhobi commented on #569
Try to make BlocDelegate which will print all the transitions (and post it here) to see what is the issue. https://felangel.github.io/bloc/#/coreconcepts?id=blocdelegate

[2019-10-12 15:58] ihsancemil commented on #569
I will post the result when I have finished

[2019-10-12 16:00] tenhobi commented on #558
This is very interesting. I like the idea of implementing it as a Stream and a Sink. :+1:

[2019-10-12 16:00] #568 closed

[2019-10-12 16:39] ihsancemil commented on #569
I/flutter (13682): ShuffleList
I/flutter (13682): Transition { currentState: ListChangedState, event: ShuffleList, nextState: ListChangedState }
I/ting_visualize(13682): ProcessProfilingInfo new_methods=401 is saved saved_to_disk=1 resolve_classes_delay=8000
I/flutter (13682): ShuffleList
I/flutter (13682): Transition { currentState: ListChangedState, event: ShuffleList, nextState: ListChangedStat

[2019-10-12 16:44] felangel commented on #569
Hi @ihsancemil 👋
Thanks for opening an issue!

Are you able to share a link to the repo? If not can you create a sample app which illustrates the problem so I can take a look?

Thanks!

[2019-10-12 16:47] ihsancemil commented on #569
Sure I have provided link in the question
https://github.com/ihsancemil/sorting_visualizer

[2019-10-12 18:03] ThinkDigitalSoftware commented on #558
Definitely doesn't hurt to have a bloc.listen. I think it's clear that you're listening to the state outputs

[2019-10-12 18:17] felangel commented on #558
Thanks @brianegan and great point! I agree that there’s a lot of value in aligning the API with the core primitives. It would be a huge breaking change; however, I would be happy to do it if it will benefit the community in the long run. I’ll mess around with the idea and see how it would look/feel. In the meantime I would love to hear what others think about the proposal!

[2019-10-12 18:19] felangel commented on #569
Thanks! I’ll have a look later today 👍

[2019-10-12 18:29] ThinkDigitalSoftware commented on #558
I'm open to it. It would just be  different word. `add` instead of dispatch, bloc.listen instead of `bloc.state.listen`, right? No functionality changes?

[2019-10-12 18:30] felangel commented on #558
@ThinkDigitalSoftware yup 👍

[2019-10-12 19:32] Himujjal opened #570 "Update Docs according to the updated equatable library."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I read the doc and use equatable outdated library implementation

**Describe the solution you'd like**
Update docs according to the updates in the equatable library.

[2019-10-13 00:46] theweiweiway opened #571 "accessing bloc in a reusable function"
Hi,

Currently, I have an auth bloc which holds an access token when the user is logged in.

On many of my HTTP requests, I need to send the access token to my back-end.

I am creating a re-usable function to handle all protected HTTP requests that require an access token to be sent. This will be reusable so I don't have to keep passing the access token from my UI layer to my API layer. However, I

[2019-10-13 01:08] felangel commented on #570
Hi @Himujjal 👋
Thanks for opening an issue!

I haven't had the time lately but I will make sure to update the docs to all use the latest `equatable` version/syntax 👍

[2019-10-13 01:15] felangel commented on #569
@ihsancemil I took a look and I believe the problem is you're mutating state within the bloc instead of creating a copy of the state.

[code]

Rather than mutating the list and yielding the mutated list you should return a copy of the list like:

[code]

Hope that helps 👍

[2019-10-13 01:15] #569 closed

[2019-10-13 01:18] felangel commented on #571
Hi @theweiweiway 👋
Thanks for opening an issue!

Regarding your question, I would recommend handling this differently. Managing http tokens is a low level networking layer responsibility so I when you first request the token, I would write it to keystore/keychain using `flutter_secure_storage` and then I would use an interceptor to handle adding the token to ever http request transparently.

Hope

[2019-10-13 01:18] #571 closed

[2019-10-13 01:21] theweiweiway commented on #571
Wow, thanks for the quick response. Thank you so much

[2019-10-13 05:19] ihsancemil commented on #569
I updated my repository. Copying the list solve the bubble sort part. However if I press the merge sort button it still crashes.

I/flutter (15884): MergeSort
I/flutter (15884): Transition { currentState: ListChangedState, event: MergeSort, nextState: ListChangedState }
I/flutter (15884): Transition { currentState: ListChangedState, event: MergeSort, nextState: ListChangedState }
Application finis

[2019-10-13 09:53] brianegan commented on #558
As a heads up, changing `currentState` -> `state` would need to be a breaking change, but I think implementing the `Sink<Event>` interface could be done gradually. You could start by implementing the `Sink` interface methods `add` and `close` while keeping and `@deprecate` `dispatch` and `dispose` so folks have time to adjust their own code.

[2019-10-13 09:59] audkar commented on #558
At what state Bloc object would be if client call `bloc.sink.close()`?

[2019-10-13 10:13] brianegan commented on #558
@audkar It would be the equivalent to calling [`dispose`](https://pub.dev/documentation/bloc/latest/bloc/Bloc/dispose.html)

[2019-10-13 10:30] tenhobi commented on #558
Also, it would be nice with this change (and something else maybe) make finally a stable release v1.0.0.

[2019-10-13 13:36] Olaitan12 opened #573 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `bloc`
- Extension Version: `0.12.2`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.39.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Olaitan\FelixAngelov.bloc-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-l

[2019-10-13 18:35] felangel commented on #558
@rrousselGit @jorgecoca @bernaferrari thoughts on #572?

[2019-10-13 19:23] ThinkDigitalSoftware commented on #558
What will be done with the stream.map function? Since we have mapEventToState already

[2019-10-13 19:30] felangel commented on #558
@ThinkDigitalSoftware what do you mean? With #572 you'd be able to do `bloc.map(...)` but as you pointed out in majority of cases you'd probably rely on `mapEventToState` exclusively.

With the current implementation you can still map on the state stream like `bloc.state.map(...)`.

[2019-10-13 19:34] ThinkDigitalSoftware commented on #558
So we'll have docs on when those will run if it's overridden?

[2019-10-13 19:36] ThinkDigitalSoftware commented on #558
Shouldn't this just implement StreamController? To abstract away the sink?

[2019-10-13 19:41] felangel commented on #558
@ThinkDigitalSoftware we can add that to the docs but it's not specific to the proposed implementation. We were going to implement `Sink<Event>` in a separate PR to expose `add` and `close` in place of `dispatch` and `dispose`.

[2019-10-13 19:42] brianegan commented on #558
Implementing StreamController is also an interesting idea, but one reason I didn't suggest that route: it means the `Bloc` class would need to implement `EventSink<Event>` instead of `Sink<Event>`. In practice, that would require the `Bloc` class implement the `addError` method.

IMO, it doesn't make much sense for blocs to have an `addError` method on them.

[2019-10-13 20:03] felangel commented on #558
Also, if we implemented `StreamController<T>` wouldn't we be limited by `T` in terms of what we can add and emit?

[2019-10-13 20:04] rrousselGit commented on #558
Yup. And the bloc instead won't be a stream anymore. We'd need `bloc.stream`.

[2019-10-13 20:12] ThinkDigitalSoftware commented on #558
Makes sense, however I do believe  we already limit what we can add and emit by the current generics on the  Bloc class.

[2019-10-13 20:13] felangel commented on #558
@ThinkDigitalSoftware but if you implement `StreamController<T>` you would only be able to add type `T` and emit type `T` which would force your events and states to inherit from some common class.

[2019-10-13 20:14] ThinkDigitalSoftware commented on #558
I believe map allows you to emit a stream of a different type

On Sun, Oct 13, 2019, 1:13 PM Felix Angelov <notifications@github.com>
wrote:

[2019-10-13 20:43] JSANL opened #574 "A second state dispatched will not be given to mapEventToState"
**Describe the bug**
I made a repo for reproduction:
https://github.com/JSANL/bloc_problem

When I run the test this is the output:
[code]

Even though the `SortingChanged` event was called in the bloc delegate, `HomeworkPageBloc.mapEventToState` was not called with it. The beginning with `LoadHomeworks` works just fine though.
I already looked at other issues, where the problem seems to be with t

[2019-10-13 20:51] ihsancemil commented on #569
@felangel I still cannot solve the problem. Should I assume that bloc should not used with recursive streams methods? Or is it possible to overcome my problem?

[2019-10-13 21:15] felangel commented on #574
Hi @JSANL 👋
Thanks for opening an issue!

I took a quick look and the reason why `mapEventToState` isn't being called with `SortingChanged` is because in your `_mapLoadHomeworksToState` you return an `Observable` that never completes. The bloc is waiting for that `Observable` to complete before processing the next event which is why `SortingChanged` never makes it into `mapEventToState`. I would r

[2019-10-13 21:15] #574 closed

[2019-10-13 21:28] felangel commented on #569
@ihsancemil I believe you have bugs in your `mergeSort` implementation. When I run it I get a RangeError

[code]

on line 50:
[code]

`cloneList[rightIndex]` throws an exception because `rightIndex = 10` and `cloneList.length = 10`.

I don't think this issue is bloc specific.

[2019-10-14 02:38] felangel commented on #570
I've updated all of the examples and docs to use the latest version of `equatable` 👍 Thanks again for bringing this up!

[2019-10-14 02:38] #570 closed

[2019-10-14 02:39] felangel commented on #573
Hi @Olaitan12 👋
Thanks for opening an issue!

Can you please provide some more information like what you were doing when the high cpu warning occurred? Also is it reproducible? If so what are the reproduction steps? Thanks!

[2019-10-14 05:48] Himujjal commented on #570
Man you are damn fast in resolving issues. Thank you for such a wonderful library again.

[2019-10-14 06:26] JSANL commented on #574
Thank you so much for answering, this will probably be reason! I'm very sorry for asking such questions, I just sat there for hours and could not figure it out😂

Thanks for the tips :)

[2019-10-14 18:20] algirdasmac commented on #538
Hello,

I was watching this feature request and I think I have one use case, where this MultiBlocBuilder would be usefull. Lets look at this example:
[code]

So I would like to have each step have its own BLoC:
1. Selecting your delivery address (address bloc)
2. Selecting delivery time (delivery bloc)
3. Selecting payment type (payment bloc)
4. Selecting phone number (user bloc)
5. Confirming ord

[2019-10-14 18:53] ThinkDigitalSoftware commented on #538
@algirdasmac but why would you have separate blocs for these? Why not have a single `OrdersBloc`? Think of a bloc like a manager in a business. Would you have a Manager over getting the customers address and a separate manager for their payment type? Not really. Your blocs can handle multiple events if they extend the same class, so use that to your advantage and keep things simple. Take a look at

[2019-10-14 19:18] algirdasmac commented on #538
@ThinkDigitalSoftware I separated each Bloc, so I would not have one Bloc with massive amount of Events and State object would be manageable. Look at it this way:
1. Payments Bloc issues you a new payment card, removes one if you need, selects your preferred payment method, syncs all your stored payment methods and processes payment.
2. Delivery and Order bloc is actually the same, I just wanted t

[2019-10-14 19:39] ThinkDigitalSoftware commented on #538
Thank can be understandable, but if you had to create an order, would you call all of your managers over to give you an individual piece of that the data to make a single order? It would be more likely that this information was already compiled when you got to this section as a single Order object, which would be compiled by the OrdersBloc. It could be ok to keep this many blocs, but have a shared

[2019-10-14 19:49] algirdasmac commented on #538
There is probably no right way - each has its own 😄. To be honest, having smaller blocs is really easy to manage, especially when we reuse our logic in web and flutter. Three full time developers are working on BLoC's and it is working fine for us yet, but I am really thankful for your insights and suggestions!

What I tried to do is to show an example, where MultiBlocBuilder would be useful in fl

[2019-10-14 20:11] ThinkDigitalSoftware commented on #538
I hope you find a working solution!

[2019-10-15 00:47] felangel commented on #558
Implemented by #572, #575 and published in bloc v0.16.0 🎉

[2019-10-15 00:47] #558 closed

[2019-10-15 01:28] bernaferrari commented on #558
Awesome!! Thanks!! Never expected that small issue I had to get such discussion and at the end a very nice solution. ~Now please send us some BMW stickers~

[2019-10-15 03:21] w0nderb0y commented on #139
Hey,

I'm using BloC in my production app, although I'm not using flutter_bloc. For me it seemed like a lot of boilerplate creating states and events for every bloc. I understand that it kind of is like a mvvc pattern. But for my app I use blocs for more than one screen, because I have been working on a lot of apps at work and the strict decoupling from logic in the view never had any real benefit

[2019-10-15 06:37] amreniouinnovent commented on #538
@felangel I think we need a better sample for repository builder so we avoid nested bloc builders

[2019-10-15 09:25] shamnex commented on #551
Hello Guy! Sorry for the latesome reply. I just published my first Flutter App so things were a bit hectic at the office.
Here are some ideas I was able to come up with.
I'll still explore some more options during the week.

![Group 1 copy 2](https://user-images.githubusercontent.com/20919546/66818760-ba55c880-ef35-11e9-9f9f-52a1ef4325b4.png)
![Group 1 copy 3](https://user-images.githubusercontent

[2019-10-15 12:01] maheshkumar2150 opened #577 "Question: [Not an Issue] : Can i use flutter_bloc along with Flutter provider?"
Hi

I am using MOOR database with Flutter Provider Package.
https://github.com/rrousselGit/provider

Can i use this package along with Provider package?
Will it cause any problems or performance issues?

Or should i use only one of them?
I am really confused. Please help

[2019-10-15 12:23] lsaudon commented on #551
I like ![image](https://user-images.githubusercontent.com/25029876/66831115-41676880-ef57-11e9-9ae5-ee5c333ff8d9.png)

[2019-10-15 12:43] tenhobi commented on #551
1st, 2nd are super cool!

[2019-10-15 12:46] tenhobi commented on #538
It would be cool to have some tips how to do complicated things to avoid this problem, I would like to have something to help me improve it. <3

[2019-10-15 13:09] felangel commented on #577
Hi @maheshkumar2150 👋
Thanks for opening an issue!

Of course you can use the two together. In fact, flutter_bloc uses provider internally in its BlocProvider and RepositoryProvider implementations.

Hope that helps 👍

[2019-10-15 13:09] #577 closed

[2019-10-15 15:11] ThinkDigitalSoftware commented on #538
@tenhobi what I've done previously is use a combineLatest function from RxDart to merge my streams and output a stream with a single object that is updated anytime any of the other streams are updated and then subscribe to that using a StreamBuilder

[2019-10-16 00:33] felangel commented on #573
Closing for now due to lack of information/reproduction steps. Feel free to comment with additional information and I’m happy to reopen the issue 👍

[2019-10-16 00:33] #573 closed

[2019-10-17 03:39] HathTech opened #580 "Bit confused with state management."
How to do state management with this library?
Say I have used react-redux -
Where I store all the data in redux state and whenever any data is needed on any page I get that data from the state.
With flutter_bloc whenever I have to get the data I am calling dispatch/add method which in turn makes a server call as the call.
How can I not call the server and get data from the state?

[2019-10-17 03:47] felangel commented on #580
Hi @HathTech 👋
Thanks for opening an issue!

With flutter_bloc, each bloc maintains its own state. You can modify that state by adding events to the bloc. When an event is added, `mapEventToState` is triggered and the bloc must transform that event into a new state. Calling add does not make a server call, it simply calls `mapEventToState` and the bloc can do whatever it wants in order to determin

[2019-10-17 03:47] #580 closed

[2019-10-17 04:06] HathTech commented on #580
Awesome thank you :)

[2019-10-17 09:17] ThomasvanWanrooij opened #581 "Dispatch not working when using fake async"
Heya,

I am using a stopwatch within a bloc to measure the time an user takes to perform tasks, in a similar setup as below. I am using the [FakeAsync](https://github.com/dart-lang/fake_async) to fake the elapsed time in my tests as there is a small deviation of milliseconds every time the test is running, but this somehow skips the mapEventToState function from being called. The onEvent callback

[2019-10-17 21:00] kechkibet opened #582 "Yield no longer rebuilds after an await"
Hi,
Here is my states:
abstract class RegistrationFormState extends Equatable {

}

class InitialRegistrationFormState extends RegistrationFormState {
  @override
  List<Object> get props => null;
}
class VerificationLoading extends RegistrationFormState{
  @override

  List<Object> get props => null;

}
class VerificationResult extends RegistrationFormState{
  Prisoner prisonerDetails;
  Verifica

[2019-10-17 21:23] felangel commented on #582
Hi @kechkibet 👋
Thanks for opening an issue!

Can you please try updating your `props` getters to return an empty list of props like
[code]
For `InitialRegistrationFormState` and `VerificationLoading`? Thanks 👍

[2019-10-17 21:23] felangel commented on #581
Hi @ThomasvanWanrooij 👋
Thanks for opening an issue!

I'll take a look shortly 👍

[2019-10-17 22:19] kechkibet commented on #582
Hi,
Thanks for the quick response here is my state now:

class InitialRegistrationFormState extends RegistrationFormState {
  @override
  List<Object> get props => [];
}
class VerificationLoading extends RegistrationFormState{
  @override

  List<Object> get props => [];

}
class VerificationResult extends RegistrationFormState{
  Prisoner prisonerDetails;
  VerificationResult(this.prisonerDetails

[2019-10-17 22:20] felangel commented on #582
@kechkibet can you provide a link to a sample app which illustrates the issue? Thanks!

[2019-10-17 23:07] kechkibet commented on #582
Hi,
Turns out down the widget tree i was calling bloc.close(); on a dispose method. Turns out we need to close on the same widget that created it only.
Thanks sir.

[2019-10-17 23:07] #582 closed

[2019-10-18 01:35] felangel commented on #581
@ThomasvanWanrooij you need to call elapse after you've added the event:

[code]

Hope that helps 👍

[2019-10-18 01:35] #581 closed

[2019-10-18 01:56] nhwilly commented on #139
Same. I figured it's just the price of admission.

[2019-10-18 01:58] felangel commented on #139
Hey @nvma and @nhwilly thanks for the positive feedback and for giving the bloc library a try! It's hard to give an architectural recommendation without more concrete information. Are you able to provide a concrete use case as well as a link to a sample app? Thanks! 👍

[2019-10-18 09:38] paqio opened #584 "Bloc not found in context when navigating back from Custom PageRouteBuilder"
Within my main function there is LoginPage with LoginBloc provider (registerBloc not used anywhere, and also tried without it)

[code]

inside LoginPage there is
[code]

[code]
Page that is being entered is plain scaffold.

The problem occurs for the initial LoginPage when navigating, but visible when returning back from RegistrationNameCompany(). The very last line in the error is added when navi

[2019-10-18 10:37] paqio commented on #584
For now, my solution -
[code]

[2019-10-18 14:43] lsaudon opened #585 "Add Sponsors"
Add a way to [buy a coffee](https://www.buymeacoffee.com/) or [GitHub Sponsors](https://github.com/sponsors).

[2019-10-18 14:47] devibrahimkarahan opened #586 "Event triggered before splash screen on v0.18.0, but 0.17.0 is fine."
I'm checking session on splash screen, if user logged before, I'm redirect user to main screen, otherwise redirect to login page. But after rerun app, bloc yield state before splash build.

Problem occurs in version >= 0.18.0,
No problem with versions 0.17.0 and below

When i open the app after first opening (install > first open (no problem) > close and rerun (problem occurs now)) AppStarted even

[2019-10-18 14:49] felangel commented on #585
Hey @lsaudon 👋
Thanks for bringing this up! I really appreciate it 😄

I have applied for Github Sponsors but have not heard back unfortunately 😞
Not sure if there's anything we can do about that though... I haven't checked out "buy a coffee" though so I'll take a look haha 👍

Thanks again ❤️

[2019-10-18 14:52] felangel commented on #586
Hi @devibrahimkarahan 👋
Thanks for opening an issue!

Are you able to share a link to a sample app with which I can reproduce the issue? Thanks! 👍

[2019-10-18 14:53] devibrahimkarahan commented on #586
Sorry, I'm creating sample app now.

[2019-10-18 14:54] felangel commented on #584
Hi @paqio 👋
Thanks for opening an issue!

Only blocs that are provided above `MaterialApp` are available across routes. Your solution is correct because you need to re-provide the bloc to the route in order for it to be part of the route context. You can read more about this [here](https://bloclibrary.dev/#/recipesflutterblocaccess?id=route-access) 👍

[2019-10-18 14:54] #584 closed

[2019-10-18 14:54] felangel commented on #586
No worries! Thanks 😄

[2019-10-18 15:22] devibrahimkarahan commented on #586
Lol, when i create sample app, i found the solution :). I m using my own localization class, and it have a load function for get strings map from file, and it takes a little bit time, when i remove that line problem resolved. But i dont understand why it works when downgrade to 0.17.0 :)

You can close, sorry.
Best regards.

[2019-10-18 15:26] devibrahimkarahan commented on #586
Maybe someone will encounter the same situation I share the solution.

**My old load function**
[code]

New version
[code]

[2019-10-18 15:30] #586 closed

[2019-10-18 19:10] zeucxb opened #587 "Close instances of `dart.core.Sink`."
Flutter bloc examples are showing `info` message:

![Screen Shot 2019-10-18 at 16 09 24](https://user-images.githubusercontent.com/11702749/67121345-ab834600-f1c1-11e9-9d93-6e38bfefe101.png)

Do we need to call `.close()` somewhere?

[2019-10-18 19:15] felangel commented on #587
Hi @zeucxb 👋
Thanks for opening an issue!

This is a false positive in the dart linter https://github.com/dart-lang/linter/issues/1381.
You can either directly use `BlocProvider.of<ThemeBloc>(context)` everywhere rather than creating a variable or you can disable the lint rule until the dart linter issue is fixed.

Hope that helps 👍

[2019-10-18 19:19] zeucxb commented on #587
Thank you @felangel

[2019-10-18 19:20] felangel commented on #587
I've updated the example https://github.com/felangel/bloc/commit/fc211bbcca4770f56a59d1efa56af6850a9d52f1 which should behave the same way without triggering the linter warning.

[2019-10-19 08:21] Tokenyet commented on #483
@felangel I met this issue recently, and `await for` is blocking bloc to receive new event. What I tried to achieve is to stop action immediately! Stop current uploading progress, but the bloc would not receive the event when `await for` is doing the jobs. Is there any way to slove this problem?

[2019-10-19 14:34] theweiweiway opened #588 "access BlocProvider.of<Bloc>(context) in dispose method"
Hi, I'm having trouble trying to use BlocProvider.of<Bloc>(context) in the dispose method.

My code:
[code]
error is:
[code]
Also, if I follow the error code and use ```final filtersBloc = BlocProvider<FiltersBloc>(builder: (context) => FiltersBloc())``` I cannot call filtersBloc.dispatch() anymore.

I know for initState, we can just didChangeDependencies instead. But I cannot find an equivalent f

[2019-10-19 15:44] cloudwheels commented on #464
Sorry to comment on a closes issue.
I forgot (again) that firebase google login requires that the (optional) SHA certificate fingerprint is added to the android app setup on firebase (this can explain why email/password signin works but google signing doesn't). (Ditto for phone auth, dynamic links etc)

[2019-10-19 16:04] felangel commented on #588
Hi @theweiweiway 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the problem you’re having? Thanks!

[2019-10-19 16:23] felangel commented on #483
Hi @Tokenyet 👋

If you want to stop processing the current event you can override transformEvents and use switchMap. Check out https://github.com/felangel/bloc/issues/517 👍

[2019-10-19 17:44] theweiweiway commented on #588
Thanks for the quick reply as always Felix,

The problem is quite simple, so please let me try to explain this below. If it's not enough, I'll be happy to provide a link to a sample app

I have a scaffold and a drawer that slides in and out. I need to dispatch events when the drawer closes. The drawer can be closed by:
  1. clicking close
  2. sliding the drawer out

It's very easy to dispatch an

[2019-10-19 21:03] felangel commented on #585
I was just accepted into GitHub Sponsors! 🎉

[2019-10-19 21:09] #585 closed

[2019-10-20 04:57] felangel commented on #588
No problem! Sorry for the delayed response but this seems like a Flutter limitation (https://github.com/flutter/flutter/pull/37961). You can't access InheritedWidgets within the `dispose` so you would probably need to lookup the bloc via `BlocProvider` in `initState` and add an `event` to the same instance (without doing a `BlocProvider` lookup) from `dispose`.

Hope that helps 👍

[2019-10-20 05:07] #588 closed

[2019-10-20 11:05] lsaudon commented on #585
Perfect timing

[2019-10-20 15:25] theweiweiway commented on #588
Thank You! In case anyone else needs to do something like this, I did:

[code]

[2019-10-20 15:41] felangel commented on #588
No problem! Also you don’t need setState and you can also get the bloc in initState instead of didChangeDependencies 👍

[2019-10-20 17:29] hoi4 opened #590 "Error when using BlocProvider.of"
Hi, I have a problem regarding  the `BlocProvider.of(context)` method.

I created a small test app with the following `main.dart` file

[code]

When clicking the button, the following error is thrown:

[code]

Am I doing something wrong?

Thanks in advance for your help!

[2019-10-20 17:46] felangel commented on #590
Hi @hoi4 👋
Thanks for opening an issue!

The problem is you’re trying to access BlocProvider from the same context in which it was instantiated. I would recommend wrapping TestWidget in the BlocProvider instead.

Hope that helps 👍

[2019-10-20 19:02] #590 closed

[2019-10-20 21:55] felangel commented on #505
v1.0.0 is here 🎉and the roadmap is still in progress 👍

[2019-10-21 12:14] Mishanya840 opened #594 "Unexpected behavior when using yield* inside async*"
**Describe the bug**
When using yield* inside async* bloc does not have time to process new states and update the latest to actual

**To Reproduce**
Steps to reproduce the behavior:
1. Create new flutter project
2. Add equatable: ^0.6.1 and bloc: 1.0.0 dependecies
3. Add code from **Code** below
4. See console logs

**Code**
data_bloc.dart
[code]

main.dart
[code]

**Expected logs**

**Actual logs

[2019-10-21 13:30] farrokhpey opened #595 "bloc and navigation"
Hi,
I started a project for managing some stores,
my project structure is like this:
i'v a home page that contains a list of stores and a button for creating new store
when user click on button we navigate him to second screen (with Navigator.push method)
and there he/she will create the store and after submitting the form we will redirect him to first page with (Navigator.pop method)
I've a bloc

[2019-10-21 13:38] tenhobi commented on #595
Can you show us an example of your code?

[2019-10-21 13:39] farrokhpey commented on #595
it's too dirty :'(

[2019-10-21 13:44] farrokhpey commented on #595
first screen wdget definition:
![image](https://user-images.githubusercontent.com/5526403/67210284-af170700-f425-11e9-831b-d8a566ee57b7.png)

widget definition:
![image](https://user-images.githubusercontent.com/5526403/67210419-ea193a80-f425-11e9-88f9-80088f08c413.png)

second screen definition:
![image](https://user-images.githubusercontent.com/5526403/67210479-0917cc80-f426-11e9-9f9f-411a464cd3

[2019-10-21 14:33] theweiweiway commented on #588
ah, i see. OK, thanks!

[2019-10-21 15:02] felangel commented on #595
Hi @farrokhpey 👋
Thanks for opening an issue!

The problem is BlocProvider automatically disposes/closes the bloc when BlocProvider itself is disposed. In your setup, when the second screen is disposed, it will also call dispose/close on the store bloc which makes it unusable on the first screen.

You should use BlocProvider.value everywhere where you are providing an existing bloc because BlocPro

[2019-10-21 15:02] #595 closed

[2019-10-21 17:18] felangel commented on #594
Hi @Mishanya840 👋
Thanks for opening an issue!

This is because when you have a nested async generator (`yield*`) within `mapEventToState` and you are yielding back to back states, the states are emitted from the nested async generator (`_handleNewDataEvent`) faster than they are processed by the bloc.

In general I would not recommend having consecutive, synchronous yields that individually depen

[2019-10-21 20:25] UliPrantz commented on #368
I think the bug was reintroduced. I just built an app with BlocListener for my navigation. After I experienced some strange behaviour I put a `print(state)` statement inside my listener function and the output was something like this:
[code]
So my listener function is called twice for each state which really is a problem since my navigation is placed inside that listener some routes get pushed twi

[2019-10-21 20:26] felangel commented on #368
@UliPrantz can you put together a sample app which reproduces the issue? Thanks!

[2019-10-22 06:58] paqio opened #596 ""Cannot add new events after calling close" after update from 0.13"
**Describe the bug**
"Cannot add new events after calling close", yet event is triggered when keyboard is collapsed

**To Reproduce**
[code]
Inside Shell

[code]

Inside KasboekPage

[code]

**Expected behavior**
Event should be triggered always,
yet it only adds the event when collapsing the keyboard, all other times its the error mentioned in the title.

This set up worked before the major updat

[2019-10-22 07:06] paqio commented on #596
WTF it started to work :)

[2019-10-22 07:16] #596 closed

[2019-10-22 09:49] farrokhpey commented on #595
@felangel  thank you for your response
but still there was another question
I need to refresh list of stores in first page after creating new store in second page(just after navigate back to first page with navigator.pop method), how can i achieve this?

[2019-10-22 10:51] Mishanya840 commented on #594
https://dartpad.dartlang.org/fc18279df881cc829494c7399ae4ef62
This is what it is now (and here everything is asynchronous and correspondingly the order of operations is lost when the stream is embedded in the stream)

https://gist.github.com/Mishanya840/ffdd8c4f79c83ed526b6eb86ff2338d2
Here I want to transfer it, so all operations are performed synchronously
Thus, we will have a guaranteed `state`

[2019-10-22 11:00] alvarofvr opened #597 "StreamSubscription not listen on dispatched event"
**Describe the bug**
I'm using the Flutter BLoC package for manage the state of my app, but since last package update (v0.22.1) I have a strange behavior.

In simple I have a StreamSubscription listener on PositionBloc's state in EventsBloc but when I add an event from PositionBloc the listener not work. The strangest thing is that the first time I add the event from EventsBloc the listener work,

[2019-10-22 13:08] alvarofvr commented on #597
I just noticed that I had missed a super-call in the CTORs initializer for my PositionUpdated state so the listener was not invoked. This is my mistake and I had been following it for three days in debug.
But I take this opportunity for ask you.
Why hasn't the listener been invoked even if the state has not changed?

[2019-10-22 13:08] #597 closed

[2019-10-22 14:28] felangel commented on #597
Hi @alvarofvr 👋
Glad you resolved the issue! Listener is only invoked on state changes by definition. This is because  invoking the listener on an initial state would have serious side-effects. For example, if you wanted to navigate in response to StateA, then once the bloc emits StateA, every time the BlocListener widget is rebuilt it will trigger the navigation, etc... Furthermore, if you want t

[2019-10-22 14:30] felangel commented on #595
@farrokhpey you just need to change your nested BlocProvider to use `BlocProvider.value` and make sure that only the top-most `BlocProvider` is using a builder to create a new instance of the bloc. That way you avoid having the bloc automatically be closed by BlocProviders even when it is still needed. Hope that helps 👍

[2019-10-22 15:06] Tokenyet opened #599 "Complex dynamic field with bloc"
Is there any example of using bloc with Complex form?  That means, If there is a form in a page, and have a action to add a lot of sub-form, and the sub-from have a lot of `TextFormField`. How could we make a bloc to such a page. I thought I need to make three bloc. One for the current page, one for sub form, and one for sub-sub-form.

For making more sense, How could we design a bloc for followin

[2019-10-22 15:13] bigworld12 commented on #599
1. replace all your functions with stateless widgets

check : https://stackoverflow.com/q/53234825/4009642

2. wrap BlocBuilder only around the widgets that actually use it

so if you dynamically add a text form field, wrap your BlocBuilder around it

[2019-10-22 15:13] bigworld12 commented on #599
1. replace all your functions with stateless widgets

check : https://stackoverflow.com/q/53234825/4009642

2. wrap BlocBuilder only around the widgets that actually use it

so if you dynamically add a text form field, wrap your BlocBuilder around it

[2019-10-22 15:20] Tokenyet commented on #599
@bigworld12 Did you mean one TextFormField with one Bloc? It sounds right, I'll give It a try. Thanks!

[2019-10-22 16:03] altunkan opened #600 "yielding same state"
Hi,

I am trying to yield same state but bloc builder does not fired.

State:

`abstract class EventState extends Equatable {
  EventState([List props = const []]) : super(props);
}

class EventLoaded extends EventState {
  List<Event> events;
  bool hasReachedMax;
  int currentPage;
  int size;

  EventLoaded(
      {@required this.events,
      @required this.hasReachedMax,
      @required this.

[2019-10-22 16:08] felangel commented on #600
Hi @altunkan 👋
Thanks for opening an issue!

By default, when you yield `stateA` where `stateA == state` (stateA is the same as the current bloc state), no transition will occur. If you want a transition to occur even if the yielded state is the same as the current state I would recommend you refactor your state classes not to extend `Equatable`.  For more information check out the [core concepts]

[2019-10-22 16:08] #600 closed

[2019-10-22 16:10] felangel commented on #599
Thanks @bigworld12 for helping @Tokenyet 👍

Closing for now but @Tokenyet feel free to comment with additional questions and I'm happy to re-open this and continue the discussion 👍

[2019-10-22 16:10] #599 closed

[2019-10-22 16:17] altunkan commented on #600
Hi @felangel ,

Thank you for your fast reply and this wonderful framework!

I noticed that my issue is related to equatable but I do not understand how it compares. I created a new list from my existing list (they are not equal btw) and my state only sending list prop to super class. How come both states are equal even though their props are not? Are this related to equatable package or dart issu

[2019-10-22 16:20] felangel commented on #600
@altunkan no problem, thank you! Your problem might be originating from the fact that your events list is of type dynamic. Can you please update your events list to have an explicit type?

[code]

Then can you also ensure that the `Event` class (or whatever you named it) also extends `Equatable`? Thanks 👍

[2019-10-22 16:28] altunkan commented on #600
List is not dynamic, somehow it is removed while I pasted the code.

States:
[code]
Bloc:
This is printing false btw
[code]

[code]

[2019-10-22 16:30] felangel commented on #600
Are you able to share a link to the app? It would be much easier for me to help.

[2019-10-22 16:36] altunkan commented on #600
You can find all code in here: https://github.com/altunkan/murphy_mobile_app/tree/master/lib/murphy/event/bloc

Btw It is working if I remove equatable.

[2019-10-22 16:38] felangel commented on #600
Thanks! Why aren't you passing all properties to super?

[code]

[2019-10-22 16:45] altunkan commented on #600
Woooow that was related to Event's props. It is worked when I passed all props in Event 👍

I am updating event status and expecting state to be updated. That was a silly mistake. Sorry for your taking your time.

Again thanks for your help and this wonderful framework 👍 👍 🥇

[2019-10-22 16:46] felangel commented on #600
No problem! Glad I was able to help 😄

[2019-10-22 17:59] WinkMeter opened #601 "When using BlocProvider or other Bloc widgets as the app's root widget, the context doesn't include a MediaQuery"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an app with a MaterialApp widget
2. Wrap the MaterialApp with a BlocProvider
3. Create a function to build the theme (e.g _buildAppTheme()) and assign this to the "theme" property of the MaterialApp widget.
4.  Access the MediaQuery.of(context) within the the _build

[2019-10-22 18:01] felangel commented on #601
Hi @WinkMeter 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the issue? Thanks!

[2019-10-22 18:50] UliPrantz commented on #368
@felangel I try to do it rn. Just could take some time. One simple question that I don't misunderstand the documentation: If my bloc yields the same state twice one after another (with no other state in between) then the listener function is only called once, isn't it?

[2019-10-22 18:53] tenhobi commented on #368
@UliPrantz yes, but the current States can be compared and are evaulated as the same. Check [package:equatable](https://pub.dev/packages/equatable) if you want to evaulate states with the same data as the same object. 👍

[2019-10-22 18:56] tenhobi commented on #561
Btw. also check https://github.com/dart-lang/linter/tree/master/example for more info. (btw. as for now, effective dart repo is also mentioned there) 🙂

[2019-10-22 19:06] UliPrantz commented on #368
@tenhobi ok the thing is I know equatable just a little bit. So the actual State that I'm using is super simple:
[code]
and if the function body of my `mapEventToState(BaseBlocEvent event)` would look like this:
[code]
this would call the listener function only once as far as I understand.

[2019-10-22 19:15] UliPrantz commented on #368
So I just wrote the app accordingly to my description above and this would call the listener function twice I can also share the github project.

[2019-10-23 04:23] tapizquent opened #602 "BlocSupervisor.delegate not printing anything to the console"
**Describe the bug**
For some reason the SimpleBlocDelegate is not printing anything to the console. I haven't changed anything from my codebase and my BlocDelegate is exactly as SimpleBlocDelegate from docs.
It just suddenly stopped printing out to the console.

**To Reproduce**
Steps to reproduce the behavior:
Regular program with `BlocSupervisor.delegate = SimpleBlocDelegate();` set in main met

[2019-10-23 05:53] farrokhpey commented on #595
@felangel ,my problem is: i need to change state of main storeBlock in first page from second page, do you understand what i need?i need to access first page block from second page :(

[2019-10-23 06:24] tenhobi commented on #602
Hi. Can you provide some example, on GitHub for example, so we can investigate further and not guess? :)

[2019-10-23 07:10] sooonism opened #603 "The method 'dispatch' isn't defined for the class 'Bloc'."
**Describe the bug**
After update to 1.0.0, the dispatch() function is not defined.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple bloc with simple event
2. Dispatch that event.

**Expected behavior**
I am heavy bloc user. My flutter app contain around 7 blocs and it works fine until today. After I update to 1.0.0, all of my dispatch() function got `method is undefined` erro

[2019-10-23 07:19] felangel commented on #603
Hi @sooonism👋
Thanks for opening an issue!

There were core api changes introduced into 1.0.0:
bloc.state.listen -> bloc.listen
bloc.currentState -> bloc.state
bloc.dispatch -> bloc.add
bloc.dispose -> bloc.close

Check out https://link.medium.com/qnfMcEcW00 for more details.
Hope that helps 👍

[2019-10-23 07:19] #603 closed

[2019-10-23 07:21] felangel commented on #602
Hi @tapizquent 👋
Thanks for opening an issue!

As @tenhobi mentioned, it would be most helpful if you can provide a link to a sample app which illustrates the problem. Thanks!

[2019-10-23 07:26] felangel commented on #595
@farrokhpey yes I understand. You just need to use BlocProvider(builder: (context) => StoreBloc()..dispatch(FetchStoreData(), child: StoreListWidget())

Then in your second screen use BlocProvider.value(value: BlocProvider.of<StoreBloc>(context), child: CreateStoreForm()).

Like I mentioned above please refer to the bloc access recipe for more information.

[2019-10-23 07:41] felangel commented on #561
Awesome, I’ll try to take a look today 👍

[2019-10-23 14:31] farrokhpey opened #604 "Bloc and Application Architecture"
Hi @felangel ,
i read your documentation about BLoC in this address: ['Architecture'](https://bloclibrary.dev/#/architecture)
I've a question about layering
you say that we have Data Layer, BLoc and Presentation layers
in Data Layer we have DataProvider and Repository
in your Repository example code we can see final variables that has not been initialized (even in constructor),
if this is true, pl

[2019-10-23 14:45] tenhobi commented on #604
The code shown in architecture implementation is **not a dogma**. You can implement it as you like. Initialization of final fields have to be done, of course, in place or using a constructor.

i think it is not implemented 'cause it doesn't matter what is the actual implementation and the code would just be with more noise and for no real benefit.

Also, the actual implementation might (for exampl

[2019-10-23 15:09] larssn commented on #587
Alternatively, you can create a file called `analysis_options.yaml` in the root of your project.

The flutter team uses the following rules, which might serve as inspiration: https://github.com/flutter/flutter/blob/master/analysis_options.yaml

Alternatively, you can leave it blank, to disable most of the lints.

[2019-10-23 20:07] tapizquent commented on #602
I am trying to get a working demo to show the behavior but when creating a new app it seems to work fine. I don't want to make you look through all of my app to identify what could be causing this. I will try to reproduce the problem. Last resort, I will give you access to the repo for the app. It's mostly organized and shouldn't be that bad too identify where blocs are, etc.

[2019-10-23 20:20] felangel commented on #602
Sounds good! I don't mind taking a look at your app if you're okay with that. It probably wouldn't take too long to debug the issue 👍

[2019-10-23 20:34] felangel commented on #604
Hi @farrokhpey 👋
Thanks for opening an issue!

Regarding your question, as @tenhobi mentioned, it does not matter how you choose to initialize them. I would recommend you inject them via constructor (for testing purposes)

[code]

Regarding your second question, you can use `static` methods in your `DataProvider` and/or `Repository` where it makes sense (if you need to invoke a method without an i

[2019-10-23 20:34] #604 closed

[2019-10-23 20:51] tapizquent commented on #602
Ok, so update. I did run some tests and figured out that it works when we run it in the simulator but not when running it on my device. iOS Simulator works fine but iOS device does not print anything.

I have made you @felangel a collaborator to the repo so you can take a look.

Latest branch you should look at: feature/pet_creation/#231ga302_allow_user_to_view_pets

[2019-10-23 20:53] felangel commented on #602
Where are you looking for the prints? Are others showing up when you run on a real device? Are you running in debug or release mode?

[2019-10-23 20:55] tapizquent commented on #602
I run app through VSCode and usually just hit 'Start Without Debugging' or ^F5. Running the same way, it runs fine in simulator. I run in debug mode not release nor profile.

[2019-10-23 21:01] felangel commented on #602
That’s strange do other prints show up?

[2019-10-23 21:06] felangel commented on #602
Looks like this might be a known flutter issue on iOS 13. https://stackoverflow.com/questions/58201578/print-statement-not-printing-to-console-in-flutter-ios-app-within-android-stud

[2019-10-23 21:13] tapizquent commented on #602
You are totally right. No other print statement is working either.

Apparently the Flutter team is aware of this: https://github.com/flutter/flutter/issues/41133

I guess it is okay to close now. I will have to use Simulator for logging meanwhile.

Thank you!

[2019-10-23 21:17] #602 closed

[2019-10-24 05:13] nguyenhuutinh opened #605 "[Document For 1.0] New changes for 1.0"
Hi @felangel ,
Do you have any post / note for new changes on 1.0

After upgraded from 0.21, my project cannot work anymore.

Cannot find dispatch and dispose anymore

Thanks

[2019-10-24 05:25] #605 closed

[2019-10-24 05:25] nguyenhuutinh commented on #605
found on another issue's comment. thanks

[2019-10-24 06:00] tenhobi commented on #605
There are also Changelogs for [bloc](https://github.com/felangel/bloc/blob/master/packages/bloc/CHANGELOG.md) and [flutter_bloc](https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/CHANGELOG.md).

[2019-10-24 06:28] zengzhengrong opened #606 "Boilerplate Code Equatable make confuse"
**Is your feature request related to a problem? Please describe.**
I'm always confused when I reading Boilerplate Code
[code]
The constructor function make me confused by
```LoginState([List props = const []])```

[code]
The parameter of constructor function is List nest List，but subclass call superclass with a List args

**Describe the solution you'd like**
bleow as same as well
[code]

[2019-10-24 06:48] zengzhengrong commented on #606
it's dart syntax

[2019-10-24 08:50] felangel commented on #605
You can also check out the [medium article](https://link.medium.com/a3rdFuBH20) 👍

[2019-10-24 08:51] felangel commented on #606
Also you no longer need that syntax with 0.6.0 👍. Instead all you have to do is override the props getter.

[2019-10-24 13:21] moniaS opened #607 "Events are not captured in mapEventToState function for Flutter Web"
After specific action events are not captured anymore and new states are not emitted in mapEventToState method in bloc.

## Steps to reproduce the behavior:
1. I forked your project bloc. I was working only with flutter_firebase_login application.
2. I added web support using command: ‘flutter create .’ in the root of flutter_firebase_login application.
3. I commented out all of the code related t

[2019-10-24 14:16] felangel commented on #607
Hi @moniaS 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/115. Have you tried running in release mode?

[2019-10-24 17:21] timrijckaert opened #608 "Add extension on BuildContext"
Similar to the[ proposal](https://github.com/rrousselGit/provider/issues/251#issue-511998118) on the `Provider` package.
Are we down for some extension functions to easily get a `Bloc` and a `Repository`?

[code]

[code]

[2019-10-24 17:40] felangel commented on #608
Hey @timrijckaert 👋
Thanks for opening an issue!

I think this is a great idea and there's a lot of potential to improve the `of` API via extensions. A couple of things I think we need to discuss first are:
1. Doing this would require everyone to use Dart 2.6 which might not be feasible right now given that it's not available for the `stable` branch (yet).
2. If `provider` supports this we would g

[2019-10-24 17:49] felangel commented on #601
Closing this because after revisiting it I don't think it has anything to do with the bloc library.

[code]

Will result in the same exception because you're accessing the context outside of `MaterialApp` so there is no `MediaQuery`. You can see https://stackoverflow.com/questions/50214338/flutter-error-mediaquery-of-called-with-a-context-that-does-not-contain-a-med for more information.

[2019-10-24 17:49] #601 closed

[2019-10-24 17:49] felangel commented on #594
@Mishanya840 thoughts?

[2019-10-24 17:52] felangel commented on #551
@shamnex thanks for the submission! I'm thinking of holding off on the new logo for now because there hasn't been a lot of activity around it and for the most part everyone I talked to has been pretty happy with the existing logo. If you disagree feel free to comment and we can explore the options but I'd rather hold off an avoid making more jarring changes for a bit since a lot has changed with t

[2019-10-24 17:52] #551 closed

[2019-10-24 17:58] felangel commented on #505
Closing for now since 1.0.0 is out and there is a `Roadmap` which I will keep adding to 👍

[2019-10-24 17:58] #505 closed

[2019-10-24 19:08] tenhobi commented on #608
This feature is for sure something we would love to use, but I would wait for Flutter first, how they use Extensions so we can align to the API etc. Also, because Flutter Bloc uses `package:provider`, we might, as you say, get those thing for free and it would be better to use their API as well, to make transition from/to provider better. 👍

[2019-10-24 20:44] tenhobi commented on #561
Another reason why to use lints according the effective dart guide is that you can now add this super cool badge to your collection. 🤣

[![follows: effective dart](https://img.shields.io/badge/follows-effective_dart-40c4ff.svg)](https://github.com/tenhobi/effective_dart)

(*just a joke ofc, consider what suits best for the project*)

[2019-10-24 21:08] felangel commented on #561
@tenhobi can you go over the differences between `effective_dart` and `pedantic`?

[2019-10-24 21:23] tapizquent commented on #587
Will calling .close() on the sink, even if it comes from BlocProvider cause any sort of unintended behavior?

[2019-10-24 21:24] tenhobi commented on #561
Basically, `package:effective_dart` attempts to comply with all [Effective Dart](https://dart.dev/guides/language/effective-dart) guide rules which are described in that guide. `package:pedantic` sets only a very limited subset of those rules (partial implementation).

You can check the diff of https://github.com/tenhobi/effective_dart/blob/master/lib/analysis_options.1.0.0.yaml and https://github

[2019-10-24 21:25] felangel commented on #587
@tapizquent not sure I understand the question but you should be calling `close` on the sink at some point. In most cases, it is recommended that you leave it up to `BlocProvider` but in some rare cases you might want to manage the bloc yourself via a `StatefulWidget` in which case you should manually call `close` on the bloc in the `dispose` override of your `State`.

[2019-10-24 21:34] felangel opened #611 "[Proposal] Add blocTest to bloc_test"
**Is your feature request related to a problem? Please describe.**
When testing it's inconvenient to assert that a bloc emitted exactly a specific set of
states and nothing more. Also, when expecting a state that the bloc never emits, we rely on the built-in 30s timeout which is not ideal.

**Describe the solution you'd like**
[code]

`blocTest` would ensure that the bloc emits the exact list of s

[2019-10-24 21:40] felangel commented on #561
@tenhobi thanks for the clarification 👍

I want to evaluate what the implications (if any) would be tomorrow (flying back from vacation 😛) and then can quickly make the updates if everything looks good. Thanks!

[2019-10-24 21:47] tenhobi commented on #561
Sure, check both styles and evaluate. You can also easily see what lints are used using http://dart-lang.github.io/linter/lints/ page. Tho I will add support for showing effective_dart tomorrow (https://github.com/tenhobi/effective_dart/issues/1).

Wow, flying from vacation and you did so much last days!

[2019-10-24 21:56] felangel commented on #561
Haha I tried to do what I can here and there on my phone 😛

[2019-10-24 22:24] tapizquent commented on #587
@felangel I mean, in this situation when you are using variable and it to store ```BlocProvider.of<>..```, is it bad that I call close on it even though I know BlocProvider takes care of it? just so that I don't get the warning

[2019-10-24 23:19] felangel commented on #587
@tapizquent you should not call `close` manually when `BlocProvider` takes care of it because as soon as you call `close` the bloc will stop processing pending/new events.

[2019-10-25 02:28] Kurtoid commented on #449
Can you update https://gist.github.com/felangel/b55d31066ad85195b1205f6b90ec605e#file-login_form-dart-L30 so the change is reflected in https://medium.com/flutter-community/flutter-login-tutorial-with-flutter-bloc-ea606ef701ad ?

[2019-10-25 04:24] audkar commented on #611
Problem description looks good. I am just don't understand what solution is to solve this.

Are you thinking to change behavior of existing `close` method? Currently it disposes pending events.

[2019-10-25 07:33] timrijckaert commented on #608
I agree with all of the above. :)

[2019-10-25 08:38] moniaS commented on #607
Now I tried running in release mode (`flutter run --release -d chrome`) and it's working. So there is a problem with debug mode.

[2019-10-25 17:09] AAAbramenko commented on #587
I solved this in the following way:
[code]

[2019-10-25 20:27] michaldev opened #612 "Enum is not supported in states"
**Describe the bug**
If state has enum field, view not refresh and not detect changes.

**To Reproduce**
[code]

**Expected results**
All fields except enum work correctly. The enum field is read correctly in the view, but does not detect changes.

[2019-10-25 23:37] felangel commented on #612
Hi @michaldev 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you’re having? There should be no issue with using enums. Thanks!

[2019-10-26 08:32] michaldev commented on #612
Ok, nothing. while creating an example for you, i realized that it works. The problem was my fault.

[2019-10-26 08:32] #612 closed

[2019-10-26 20:29] prasant10050 opened #614 "Sorting of my state"
How do i do if i need to sort current state or model when we have added Equtable and extend model with it

[2019-10-26 20:41] abdulmuaz97 opened #615 "BLoC add same event again but no state (same previous state persists)"
**Can't add same event.. only one time.. and same previous state persists**
hey all, I'm having a little problem with dealing with bloc
so I have to blocs [appBloc, FirebaseBloc] and in the [appBloc] when I add an event after absolutely get the initial state.. I get result, but when I add the same event with different data..can't get anything it's like [adding once event only]

**Here is the event

[2019-10-26 21:59] felangel commented on #614
Hi @prasant10050 👋
Thanks for opening an issue!

Can you please provide a sample app which illustrates the problem you're having? I'm not sure I fully understand the question.

Thanks 👍

[2019-10-26 22:04] felangel commented on #615
Hi @abdulmuaz97 👋
Thanks for opening an issue!

When you extend `Equatable` you need to provide all properties which you want to be considered when doing the equality comparison to the `props` override otherwise different instances of those classes will be considered equal and the bloc will ignore the transitions.

[code]

[code]

[2019-10-26 22:04] #615 closed

[2019-10-26 22:07] abdulmuaz97 commented on #615
@felangel  ok thank you so much for replying to me.. I'll see it right now ❤️

[2019-10-26 22:12] abdulmuaz97 commented on #615
@felangel it worked just fine.. THANK YOU

[2019-10-27 05:10] geopete84 commented on #326
What are we supposed to use now instead of the event stream?  This was very useful.

[2019-10-27 08:59] audkar commented on #611
@felangel can I provide any additional feedback?

[2019-10-27 10:04] venil7 opened #616 ".add is asynchronous?"
**Describe the bug**
inside my `eventToState` i want to call both yield newstate, and add (former dispatch) interchangeably in any order, and expect the state to update in the same order. Instead it seems that .add is asyncronous and state it produces arrives in wrong order.

**To Reproduce**
Steps to reproduce the behavior:
consider this piece of `eventToState` function
[code]

**Expected behavio

[2019-10-27 10:41] bigworld12 commented on #616
add actually is synchronous, but since its only job is to add an event to the sink (and doesn't await for it to finish)
you get the previous result.
I am not sure how to solve this though.

[2019-10-27 12:43] venil7 commented on #616
this makes "predictable state management" quite unpredictable,

[2019-10-27 13:44] felangel commented on #616
Hi @venil7 👋
Thanks for opening an issue!

This is actually working as designed. When you add an event it gets added to the internal sink and is then processed in the order in which it was added. In your case, you added some event A which is being processed and in the middle, you added another event B. The bloc will finish executing the rest of the logic in mapEventToState for event A before it st

[2019-10-27 13:45] felangel commented on #614
Closing for now as there is not enough information in this issue. Feel free to comment with additional information and I’m happy to continue the conversation.

[2019-10-27 13:45] #614 closed

[2019-10-27 13:47] felangel commented on #611
@audkar yes of course. I haven’t had much time to work on this and this proposal was just my initial thought. I would love your feedback 👍

[2019-10-27 13:56] audkar commented on #611
Sorry bad wording. I saw GH tag `feedback wanted`, so I thought that this is blocked ticket to get additional feedback.

Problem is very well described. And it is: currently there is no accessible API which lets to ensure that all pending events were handled in Bloc.

I have no additional feedback. Just don't understand what is proposed solution is. Is it to change current `close()` behavior from

[2019-10-27 14:00] venil7 commented on #616
thanks for speedy reply @felangel

if I just "execute logic for the `UserFetchEvent `" - i would need to repeat similar logic in many branches of my  `mapEventToState `, hence I extracted it to its own event.

At least this is how Redux Thunks works, you can dispatch other events prior to returning new state, and your state will update in that particular order - dispatched events first, "final" st

[2019-10-27 14:10] felangel commented on #616
No problem! You can extract the duplicate logic into a private helper. Why do you say it’s unpredictable? Events will always be processed in the order in which they were added and any new added events are pushed onto the queue. An event is considered fully processed once mapEventToState has finished executing. Does that help clarify things?

[2019-10-27 14:54] venil7 commented on #616
I think it's unpredictable because `.add`ing and `yield`ing in particular order does not guarantee state updates in that same order, contrary to other similar solutions (saga,thunk, etc)

if however this is by design, then mixing `add` and `yield` is not desirable (especially calling add before yield), and possibly needs better documenting!

[2019-10-27 15:08] felangel commented on #616
I understand that coming from redux it's not what you expected but I would argue it's still predictable. You just have to understand that events are processed asynchronously in the order in which they were added.

I still question why you would mix `add` and `yield` within `mapEventToState` unless you're adding asynchronously (in response to a subscription). Instead, I think it's simpler to just p

[2019-10-27 15:17] venil7 commented on #616
I mix `add` and `yield` because when something is being `add`ed I know theres a whole `case` statement dedicated to that particular event - thus promoting DRY approach. if however I need to yield new state, often i need to reintroduce  pieces of old state into newly yielded state, so that i dont loose `user` for example (singular) while adding `users` (plural), etc. I understand that it can be mit

[2019-10-27 15:35] felangel commented on #616
@venil7 yeah `.add` is asynchronous 👍 I'll update the docs later today and please let me know if you have any other concerns/comments! Thanks for bringing this up 😄

[2019-10-27 15:45] venil7 commented on #616
@felangel my question answered 👍 happy for this issue to be closed

[2019-10-27 15:46] felangel commented on #616
@venil7 awesome! I'll keep it open until I update the documentation 👍

[2019-10-27 17:09] felangel commented on #616
Updated the documentation (https://github.com/felangel/bloc/commit/3f14929cc489c4439b1fe7b1ff23755a492157f0) 👍

[2019-10-27 17:09] #616 closed

[2019-10-27 17:28] felangel commented on #607
@moniaS I also re-tested the original issue after doing a `pub upgrade` and `pub run build_runner clean` and was unable to reproduce this so it seems like it was fixed.

`flutter doctor --verbose`

[code]

[2019-10-27 17:28] #607 closed

[2019-10-27 17:53] bigworld12 commented on #616
@venil7
actually add IS synchronous :

https://github.com/felangel/bloc/blob/3f14929cc489c4439b1fe7b1ff23755a492157f0/packages/bloc/lib/src/bloc.dart#L65-L74

it doesn't use async syntax, it just INSTANTLY and Synchronously inputs states in a queue (by that i mean it blocks the current thread execution until adding the event is done), then it notifies the listener to read from that queue and the l

[2019-10-27 18:40] felangel commented on #326
@geopete84 can you please describe your use case?

[2019-10-27 19:34] felangel commented on #616
@bigworld12 thanks for clarification. Just to clarify, while `add` itself synchronously enqueues the event, the enqueued event is asynchronously processed.

[2019-10-27 19:51] felangel commented on #594
Closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2019-10-27 19:51] #594 closed

[2019-10-27 22:40] jcsena opened #619 "BlocProvider.of<BlocA>(context) inside showModalBottomSheet"
**Describe the bug**
Error when use ```  BlocProvider.of<BlocA>(context) ``` inside on ```showModalBottomSheet```

**To Reproduce**
Steps to reproduce the behavior:

I migrate flutter_bloc from `0.22.1 ` to `1.0.0` using `BlocProvider.value` and this worked correctly
[code]
but when migrate to ```1.0.0``` the problem appears.

I had to use a `StatefulWidget` widget and put the global provider and

[2019-10-27 22:50] felangel commented on #619
Hi @jcsena 👋
Thanks for opening an issue!

Are you able to provide a sample app which illustrates the issue? Thanks! 👍

[2019-10-27 23:11] jcsena commented on #619
A simple example with expected behaviour:

[code]
The `MatchDetailBloc` cannot be found in version `1.0.0`  but  in version `0.22.1` it work

**Temporally solution for me (StatefulWidget)**

[code]

[2019-10-27 23:13] felangel commented on #619
@jcsena can you provide a link to a complete sample app which I can run locally? It would make it much easier for me to debug the issue. Thanks! 🙏

[2019-10-27 23:25] jcsena commented on #619
@felangel  Unfortunately, I cannot share the project but basically the problem originated when I migrated from version 0.21.1 to version 1.0.0 of flutter_bloc but this worked correctly.

[2019-10-27 23:28] felangel commented on #619
@jcsena can you please create a new minimal sample app which reproduces the problem?

[2019-10-27 23:31] jcsena commented on #619
@felangel  sure, I can, in a moment I upload the link

[2019-10-28 00:42] jcsena commented on #619
@felangel  https://github.com/jcsena/example_flutter

[2019-10-28 00:44] felangel commented on #619
Thanks I’ll take a look shortly!

[2019-10-28 02:41] felangel commented on #619
@jcsena I opened a [pull request](https://github.com/jcsena/example_flutter/pull/1) to fix the issue. The problem is you can't use the context of the bottom sheet's builder because its `BuildContext` is detached from the `HomePage`'s context. All you need to do is use the parent `BuildContext` instead when doing the bloc lookup.

Hope that helps 👍

[2019-10-28 02:41] #619 closed

[2019-10-28 03:55] felangel commented on #611
@audkar I'm going to try to work through several implementations over the next few days in order to get a sense for what the proposed solution will be 👍

[2019-10-28 04:21] #561 closed

[2019-10-28 06:41] ian-ross opened #623 "Keeping BLoC state and navigator state synchronised"
Felix, first of all, thanks so much for writing bloc! It's a great package with really superb documentation.

I have a question about BLoC state maintenance and navigation. It can be illustrated most easily using the [navigation example in the documentation](https://bloclibrary.dev/#/recipesflutternavigation?id=route-navigation). This uses a `BlocListener` to push a new named route in response to

[2019-10-28 09:26] tenhobi commented on #561
Thx for your work!

![](https://media3.giphy.com/media/3ohzdIuqJoo8QdKlnW/giphy-downsized-medium.gif)

[2019-10-28 10:02] RollyPeres commented on #623
You would usually have a bloc/page. If you need state from your page A's bloc in your page B, you can use `BlocProvider<BlocA>.value(...)` on top of your page B route for example and then you can retrieve bloc A this way and use it in your page B. The cool thing about this approach is that bloc A won't get disposed when popping page B. Let me know if this is what you're looking for.

[2019-10-28 11:02] chrisoftech opened #624 "Bloc test always fails even after emitting the right states"
**Describe the bug**
Test always fails even though the bloc emits the right states in order. In addition, the test passed with previous version of the bloc package before upgrading to 1.0.0.

**To Reproduce**
Steps to reproduce the behavior:
test(
        'should emit [Uninitialized, Authenticated] if token is gotten successfully',
        () {
      // arrange
      when(mockAuthenticationGetToke

[2019-10-28 11:03] ian-ross commented on #623
Thanks @RollyPeres !  I think I need to read back through the tutorials again, because I definitely missed the idea that there should be a 1-to-1 correspondence between blocs and pages.  I had been thinking that you might have blocs at three different levels: blocs for individual pages (the "normal" case, for form validation and similar), global blocs (for authentication, settings, themes, and so

[2019-10-28 11:07] tenhobi commented on #623
I believe the Bloc should be created for big enough functionality part, not 1 per page. At least with this implementation of the BLoC pattern, it makes no sense.

[2019-10-28 12:57] #624 closed

[2019-10-28 12:59] chrisoftech commented on #624
Resolved this by changing my previous call from expectLater(bloc.state, emitsInOrder(expectedStates)) to expectLater(bloc, emitsInOrder(expectedStates)). Thanks a lot angel for your dedication.

[2019-10-28 13:19] orsenkucher opened #625 "BlocListener .skip(1)"
**Describe the bug**
flutter_bloc: ^1.0.0
You are using .skip(1) in BlocListener and I'm wondering is it intentional, or is it a bug?

You can find .skip(1) invocation on ln: 184 of bloc_listener.dart (_BlocListenerBaseState class, _subscribe() method)

Also you @felangel have mentioned there should not be .skip(1) for BlocListener in this comment:
https://github.com/felangel/bloc/issues/278#issue

[2019-10-28 13:23] felangel commented on #625
Hi @orsenkucher 👋
Thanks for opening an issue!

This is intentional because BlocListener should only be called on state changes. Without the skip(1), listener will be called with initialState which leads to undesirable behavior (https://github.com/felangel/bloc/issues/368). Hope that helps 👍

[2019-10-28 13:23] #625 closed

[2019-10-28 13:30] felangel commented on #623
Hi @ian-ross 👋
Thanks for opening an issue!

As @RollyPeres and @tenhobi have mentioned, you should provide a bloc at the closest common ancestor for all widgets that need access. If you need the same bloc in multiple routes, I would recommend providing the bloc at the closest common ancestor using BlocProvider(builder: (context) => MyBloc(), child: MyChild()) and then wrapping each route you push

[2019-10-28 17:31] ian-ross commented on #623
Thanks everyone!  That does make things clearer.

[2019-10-29 08:21] tenhobi commented on #611
I don't have much experience with testing, but what about an interface to `add` multiple events, e.g. list? Wouldn't it be also good?

Or how to test multiple `add` with the currently proposed interface?

[2019-10-29 08:47] Den-Ree opened #627 "Tests are crashing after switching to 1.0.0 from 0.19.0"
**Describe the bug**
The tests are failed with the following error when I'm testing widget with MultiBlocListener on v1.0.0.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Mock block and run tests
2. Widget is build but during run it doesn't go to `builder: (BuildContext context, LoginState loginState)`
3. As result widget is not build correctly
4. The error occurs.

**Expected beha

[2019-10-29 09:05] audkar commented on #611
I think this issue is starting to digress from my original problem which was:

This is problem when doing real Test Driven Development (writing tests firsts and a lot of them). Them means that every ~1 min I have to wait 30s until I see red test.

I still want to be able to use all existing assertions like `emitsThrough` or my own techniques to test like:
[code]
dart `test` package has enough asse

[2019-10-29 13:28] felangel commented on #627
Hi @Den-Ree 👋
Thanks for opening an issue!

The problem is in 1.0.0 you no longer access the state stream via bloc.state because the bloc itself extends Stream.

You need to change `when(loginBloc.state).thenAnswer((_) => LoginState.loading());`

to

`whenListen(loginBloc, Stream<LoginState>.fromIterable([LoginState.loading()));`

whenListen comes from the [bloc_test](https://pub.dev/packages/bloc

[2019-10-29 13:28] #627 closed

[2019-10-29 14:36] Den-Ree commented on #627
@felangel thanks for the answer. But the problem is still happens. When I debug the test then code never go to inside. If I correctly understand that it should be called during building the widget or not?
[code]

[2019-10-29 14:54] felangel commented on #627
To trigger the initial build just mock the state of the bloc via:

when(bloc.state).thenReturn(LoginState.loading())

[2019-10-29 22:00] abdulmuaz97 opened #628 "[bloc builder] must return a widget, can't ignore "else" statement"
Hey, I'm doing some stuff with with **flutter_bloc** ..I did everything correct.. but I found an issue that might be a confuse one!!
So, let's get to the point.. on **BlocBuilder** we must return a widget but is there any way to stay to the previous state? since I can't write "else" or return any other widget except the one inside my condition like **(if state is LoadingState) then (do stuff)** ot

[2019-10-29 22:21] felangel commented on #628
Hi @abdulmuaz97 👋
Thanks for opening an issue!

`BlocBuilder` must return a widget by definition. It's the same reason why you can't have the following widget:

[code]

A widget's `build` method is a pure function meaning it does not "remember" anything (it's stateless after all) and as a result you can't expect it to "stay where it was" because it will not know where it was.

Hope that helps clar

[2019-10-29 22:21] #628 closed

[2019-10-29 22:34] abdulmuaz97 commented on #628
yes it's absolutely right what you said ... So we don't have any solution except I did this to prevent that happening, but still rebuild the widget and this is how Flutter works as you mentioned there..

[code]

I guess this is might be a better solution for this issue!

[2019-10-29 22:37] felangel commented on #628
You should not have a StatefulWidget because your state should all be coming from the bloc. In what case would your state not be GetPageIndex?

[2019-10-29 22:41] abdulmuaz97 commented on #628
I'm using a **BottomNavigationBar** and trying to handle **onTap** where you can move or slide one widget to another... by Bloc.
and the reason I'm using **StatefulWidget** because there are some **TextFields** and can't but them inside **StatelessWidget** ..tried to use only **StatelessWidget** but this is another issue!

[2019-10-29 22:44] abdulmuaz97 commented on #628
**here's my state bloc classes**
![2](https://user-images.githubusercontent.com/17835497/67814993-b938a580-fab6-11e9-93bb-b9a73d4cab4e.png)

[2019-10-30 02:36] felangel commented on #628
I think the problem is your bloc has too many responsibilities. You should probably refactor to have a single bloc managing the state of the tab like so:

[code]

Then you can refactor your UI like:

[code]

Also keep in mind that you don't need a bloc for everything. In this case, I would argue that there is no business logic involved so you can manage the current index via a `StatefulWidget` and

[2019-10-30 07:30] IvanOnishchenko commented on #255
I have this issue too.
@francobellu  What exactly did you do?

[2019-10-30 09:35] abdulmuaz97 commented on #628
@felangel that's definitely sounds perfect, I can use ** StatefulWidget** and **setState** in some little cases... But since I do not prefer to do that.. I wrote a simple trick that won't effects everything and works with the same performance as I want.
Thank you so much for your time ❤️ and helped me a lot.

[2019-10-30 10:30] cosinus84 commented on #139
Hello, I use the package a lot, for a long time by now. I also used the Provider for some parts of the app, ChangeNotifier is ok, but flutter_bloc definitely brings "order" and architecture to your app.

I have some dilemma: I have a AuthBloc witch is on top of the tree, down comes other blocs for profile, products, etc. When an event is launched to ProfileBloc/PostBlocs... some usecase is execute

[2019-10-30 10:39] larssn commented on #608
Extensions _would_ remove quite a bit of boilerplate so I'm all for it. 👍

[2019-10-30 15:08] Den-Ree commented on #627
@felangel thanks a lot for the help, it works as you suggested. But I noticed the following thing, which is not clear for me.

During running the test, the first time state are null in
`builder: (BuildContext context, LoginState loginState)`

and only for the second time I get the needed state.

[2019-10-30 16:41] felangel commented on #627
@Den-Ree can you please provide a link to a sample app which illustrates the issue you're seeing? If you're initially seeing a null state that means that the bloc's state has not been properly stubbed. Are you using `when(loginBloc.state).thenReturn(LoginState.loading());`?

[2019-10-30 17:56] audkar commented on #611
This wouldn't be very elegant solution :D Adding this to thousands of tests...

Also when test fails it should show exact reason why it failed. e.g. I am using built_value's matcher `equalsBuilt`. Which provides messages like:
[code]
Making test timeout gives instead:
[code]

[2019-10-30 18:42] cosinus84 opened #630 "How bloc communicate in a Flutter flutter_bloc tree structure?"
I have some dilemma: I have a AuthBloc(lift state up) witch is on top of the tree, down comes other blocs for profile, products, etc. When an event is launched to ProfileBloc/PostBlocs... some usecase is executed, that uses the repositories. The problem is that if I get back from repository/usecase an 401 error how do you think is the best way to "tell" this to AuthBloc (because it handles the aut

[2019-10-30 20:12] felangel commented on #630
Hi @cosinus84 👋
Thanks for opening an issue!

In this case, I would recommend structuring your initialization like:

[code]

That way your ApiClient can handle the token management internally and surface a 401 to the caller. From the caller's context you can add the `Logout` event to the `AuthBloc`.

Hope that helps 👍

[2019-10-30 20:12] #630 closed

[2019-10-30 20:15] felangel commented on #611
I understand your concern and in that case we can start with an `emitsExactly` operator (as initially proposed). The reason for `blocTest` was to have a standardized way of unit testing blocs that exposes a simple/flexible api while addressing all of the aforementioned concerns. In any case, we would be able to reuse the underlying implementation 👍

[2019-10-30 20:46] cosinus84 commented on #630
Thank you for your quick answer, I am trying to understand how to connect all the pieces.

1. By saying "From the caller's context you can add the Logout event to the AuthBloc" you mean that on return 401, the caller(XYZBloc) can "call"(mapEventToState) the apiClient.onRevoke().

2. final apiClient = ApiClient(onRevoke: () => authBloc.add(Logout())); means that authBloc comes from XYZBloc construc

[2019-10-30 21:23] felangel commented on #630
@cosinus84 no problem! I was referring to doing it at your initialization stage of your application.

[code]

Let me know if that helps 👍

[2019-10-30 22:11] cosinus84 commented on #630
All is clear now, thank you for the quick and concise answer :).

[2019-10-31 04:16] chethanprabhakar opened #631 "Issues while upgrading to latest version"
Hello,

I am using these versions for quite some time now

- bloc: ^0.14.0
- flutter_bloc: ^0.15.0
- equatable: ^0.2.0

Seeing errors all over the place when I change the version to the latest.

Whats is the best way to upgrade?

Thanks,
Chethan

[2019-10-31 04:51] lingster commented on #631
I would recommend reading the change log file here :+1:
https://github.com/felangel/bloc/blob/master/packages/bloc/CHANGELOG.md

I just upgraded myself so youll have to do some search and replace. Ie change `currentstate` to `state` and `dispose` to `close` etc.

[2019-10-31 09:51] mhadaily commented on #631
I have also simply managed to upgrade our codebase which is quite a big and uses flutter_bloc quite heavily. most important is what @lingster said.
You can check this article by @felangel https://medium.com/flutter-community/bloc-library-v1-0-0-is-here-1f64bd6d3518

technically:
in your `Bloc`

from
[code]
to
[code]

and in bloc again

from
[code]

when you need to manipulate your state by add/dis

[2019-10-31 11:43] nguyenhuutinh opened #632 "Can we reuse event during bloc?"
Hi @felangel ,
any chance to reuse the event during the blocs?

[2019-10-31 11:44] felangel commented on #632
Hi @nguyenhuutinh 👋
Thanks for opening an issue!

I’m not sure what you mean? Can you provide more information and ideally some example code? Thanks 👍

[2019-10-31 12:04] felangel commented on #631
Hey @chethanprabhakar 👋
Thanks for opening an issue!

As others have already mentioned you can refer to the changelogs (each package has one e.g [bloc](https://github.com/felangel/bloc/blob/master/packages/bloc/CHANGELOG.md)) and all of the [tutorials](https://bloclibrary.dev/#/fluttercountertutorial) and [examples](https://github.com/felangel/bloc/tree/master/examples) in the documentation are al

[2019-10-31 12:04] #631 closed

[2019-10-31 12:44] chethanprabhakar commented on #631
thanks @lingster @mhadaily @felangel

[2019-10-31 18:31] VadimOsovsky opened #633 "Can I run events in parallel in the same bloc instance?"
I have events that do long synchronisations  in the background and they have to update loading status, but at the same time I have to fire other events,  unfortunately the bloc's event channel gets blocked, preventing me from firing other events. Can I solve this problem without creating another bloc instance?

Here's my code:
[code]
[code]
As a result I can't select another folder while the synci

[2019-10-31 19:38] felangel commented on #633
Hi @VadimOsovsky 👋
Thanks for opening an issue!

In your case, I would recommend having events to initiate the long-running processes and then add new events when the processes have completed. This will allow your bloc to process multiple long-running requests in the background and handle their results independently without blocking the event loop.

[code]

Let me know if that helps 👍

[2019-10-31 19:53] VadimOsovsky commented on #633
That works perfectly! Thank you for the lightning fast response, the awesome library and for help. You're a great person!

[2019-10-31 19:53] #633 closed

[2019-10-31 23:09] rmnbod opened #634 "Send state directly, without event mapping"
Hello @felangel
How can I send states directly to the view, without mapping from events, in one way flow?
Say, for instance, if there is an open socket connection and we need to display changes in UI.

[2019-10-31 23:28] bigworld12 commented on #634
since events and blocs can be any type, you can simply do
[code]

[2019-10-31 23:29] tenhobi commented on #634
Because Bloc should have only one way in and one way out, you should also `add` an `Event`, for example, `SocketUpdate`, which would send the appropriate state.

That means you can still update the state in reaction to user events and also your API events.

[2019-10-31 23:57] felangel commented on #632
Closing for now as there isn’t enough information in the issue. Feel free to comment with additional information and I’m happy to continue the conversation 👍

[2019-10-31 23:57] #632 closed

[2019-11-01 03:06] felangel commented on #634
Hi @rmnbod 👋
Thanks for opening an issue!

If you don't want to map events to states then you probably don't need a bloc. Can you please elaborate on your use-case?

Generally, I'd recommend the approach @tenhobi described when working with a socket because you will likely want to process the data received in some way before exposing it to the presentation layer.

[2019-11-01 05:52] rmnbod commented on #634
I've had thoughts about approach described by @tenhobi but was curious if one could send state directly.
Seems I would settle with socket event in this case.
Much appreciate your attention guys, thanks!

[2019-11-01 05:52] #634 closed

[2019-11-01 14:52] nguyenhuutinh commented on #632
Hi @felangel ,
for example
Home screen and the full product list screen also have the load product event.
I want to use 1 event for both bloc.
 is it posible?

[2019-11-01 14:56] nguyenhuutinh commented on #605
yes actually I found the changes in your medium article :)

Thanks alot

[2019-11-02 12:49] prasant10050 opened #635 "'focusScopeNode' null."
When i navigate from one screen to another that time in console i am getting this issue The getter 'focusScopeNode' was called on null.
Please suggest me how do i solve this issue

[2019-11-02 13:16] tenhobi commented on #635
Hey, could you provide more information? Maybe some small example where it fails?

[2019-11-02 13:45] mihai9112 opened #636 "ExpectLater does not complete when all states are added to the state stream"
**Describe the bug**
I've been looking on how to test the bloc listener [here](https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/test/bloc_listener_test.dart) and [here](https://github.com/Tregan/bloc_sample/blob/master/test/login_form_test.dart) but for some reason the following test won't complete and I'm not sure why is that.

**To Reproduce**
This is the test in question:
[Tes

[2019-11-02 14:16] mihai9112 commented on #636
When removing one of the expected states from the test I get the following error
[code]

[2019-11-02 14:35] felangel commented on #635
Hi @prasant10050 👋
Thanks for opening an issue!

Can you please provide a sample app which illustrates the problem you’re having? Thanks!

[2019-11-02 14:39] felangel commented on #636
Hi @mihai9112 👋
Thanks for opening an issue!

I’ll take a closer look shortly but at first glance your expectLater should come before the “act” because you can potentially miss states. Also, it seems like you’re writing widget tests to test a bloc which is not recommended. Blocs should be unit tested and when writing widget tests the blocs should be mocked.

Let me know if that helps and I’ll take

[2019-11-02 14:48] mihai9112 commented on #636
Thank you for you quick reply. I will act on your recommendations. The reason why I'm widget testing is to check if the SnackBar is showning. The only way to wait for it to show, was the listen if all the states have been emitted successfully. I will try and mock the bloc.

[2019-11-02 14:50] felangel commented on #636
No problem! In that case I would use [whenListen](https://pub.dev/packages/bloc_test#-readme-tab-) to mock the bloc states and then expect that the SnackBar is shown.

Let me know if that helps 👍

[2019-11-02 15:43] mihai9112 commented on #636
Good news and bad news.

The bloc_test package worked in that test where I was testing if the snack bar will be displayed.

Now most of my tests that unit test a specific bloc and not a mocked bloc fail with the following message:

[code]

Is the package bloc_test something that must be used always in the future, even when testing an actual instance of a bloc and not a mocked one?

[2019-11-02 15:45] felangel commented on #636
Nice! Can you share the bloc unit tests that are failing?

[2019-11-02 15:47] mihai9112 commented on #636
These tests used to pass before: https://github.com/mihai9112/reazzon/blob/feature/testing/test/authentication_tests/authentication_bloc_test.dart

Now they are failing with that above mentioned error

[2019-11-02 15:52] felangel commented on #636
@mihai9112 you should change your expectation to

[code]

because in v1.0.0 blocs extend `Stream` so there is no longer a state stream property.

Let me know if that helps 👍

[2019-11-02 16:36] mihai9112 commented on #636
That worked, thank you!

One thing that also caught my eye with the new package is that if you want to mock the return of the current state, you now have to initialise the stream first and then mock the return.

Before
[code]
After
[code]

It's not a major issue, but it can be unintuitive for beginners in the bloc package. Maybe have extra method in the bloc test that will do that automatically?

[2019-11-02 16:37] #636 closed

[2019-11-02 17:22] felangel commented on #636
@mihai9112 I'm glad I was able to help! Yeah I'm working on improving the testing as we speak 😄

Thanks so much! 🙏

[2019-11-02 21:11] felangel commented on #632
@nguyenhuutinh sure you can make both blocs accept the same event type. Is there something in particular that isn’t working?

[2019-11-03 02:30] felangel commented on #635
Closing for now since there is not enough information. Feel free to comment with additional info and I’m happy to continue the conversation.

[2019-11-03 02:30] #635 closed

[2019-11-03 03:21] MonNguyen2502 opened #637 "Cannot access parent bloc on the same route"
![image](https://user-images.githubusercontent.com/35995330/68079855-0e601880-fe23-11e9-8ef1-c502afe3c669.png)

Take a look at the image, I can not access NewFeedDetailBloc from ItemFeedDetailView. I was wondering, whether ListView created a new route for its children, or did I not fully understand the meaning of bloc?
Please explain to me, thank you very much

[2019-11-03 03:28] felangel commented on #637
Hi @MonNguyen2502 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you’re having? It’s hard to help without seeing any code.

Thanks!

[2019-11-03 03:30] MonNguyen2502 commented on #637
ok, I will create a new code

[2019-11-03 03:41] MonNguyen2502 commented on #637
@felangel
[code]

[2019-11-03 03:44] MonNguyen2502 commented on #637
@felangel I still don't really understand it, it seems like a crazy question, but I hope you can explain it to me.

[2019-11-03 03:56] felangel commented on #637
You need to use `BlocProvider` to wrap the child otherwise there is nothing "providing" the bloc.

[code]

Then from `MyChild` or any of `MyChild's` children you can access `MyBloc` via
[code]

Hope that helps 👍

[2019-11-03 03:57] #637 closed

[2019-11-03 04:07] MonNguyen2502 commented on #637
@felangel Thanks for the reply, I often overlook the core @@.
Let me ask one more question. Can I use MultiBloc this way? At Child I do not receive BlocB

[code]

[2019-11-03 04:09] felangel commented on #637
No problem! If you’re using MultiBlocProvider you need to make sure you explicitly provide the bloc type:

BlocProvider.value<BlocB>(value: _blocB)

[2019-11-03 04:13] MonNguyen2502 commented on #637
@felangel The Constructor BlocProvider.value doesn't have type parameters

[2019-11-03 18:15] felangel commented on #611
@audkar I've been messing around with different ways to implement `emitsExactly` and they all have their limitations. I think the most straightforward way to achieve what you're asking for is via something like:

[code]

The problem I'm having with an `emitsExactly` is you don't have control over when the bloc is created and cannot force the bloc execution to occur within the same zone.

Having a

[2019-11-03 18:32] audkar commented on #611
Thank you for your attempt.

We are not going to introduce 3rd party assertions to our tests suite. I think we are sticking with Bloc fork which lets us flush events. There are more problems like silently handled Errors. So we need that modified fork anyway.

[2019-11-03 18:33] felangel commented on #611
Can you please share how flushing events would help with this? I'm not convinced that your original pull request solves this problem.

[2019-11-03 18:38] audkar commented on #611
[This](https://github.com/felangel/bloc/pull/564/files#diff-aaa73976ae3917742b071df4073cc5a8R388-R402) test passes with flush :)

[2019-11-03 20:08] felangel commented on #611
The more I think about it, the more I'd rather change the bloc's close to finish processing pending events.

[code]

Then your test would be
[code]

I don't think there's any reason not to, thoughts?

[2019-11-03 20:25] audkar commented on #611
I don't have opinion on that. For tests that would be good. But also that would be breaking change. Some users might rely on fact that `close()` method currently disposes all incoming events immediately.

[2019-11-03 20:42] felangel opened #639 "[Proposal] Allow blocs to finish processing pending events on close"
**Is your feature request related to a problem? Please describe.**
Currently, if `close` is called on a bloc while an event is being processed, the subsequent state changes (`transitions`) will be ignored.

For example, given the following bloc:

[code]
The current behavior is:
[code]

**Describe the solution you'd like**
It might be better to modify `close` to allow for any pending events to be p

[2019-11-03 20:43] felangel commented on #611
@audkar I've created #639 to continue this discussion so that this issue can be for `blocTest` related discussion 👍

[2019-11-03 20:58] jorgecoca commented on #639
IMO, this makes total sense... but I wonder if there should be a `closeWithoutWaiting` or similar that disposes immediately... don't know what the use case would be though. Maybe it'd better to wait to hear a request from the community.

[2019-11-03 20:59] felangel commented on #639
There is a valid request for this in #611

[2019-11-03 21:36] tenhobi commented on #639
This actually sounds good. It would help tests and it probably would not change current behavior with `BlocProvider` etc., right?

Let me ask a different question: where don't we such a behavior?

[2019-11-03 23:34] felangel commented on #639
@tenhobi yup it would have no impact on the functionality of any existing flutter_bloc widgets. I personally can’t think of a scenario where we wouldn’t want this behavior either.

[2019-11-04 00:14] RollyPeres commented on #639
There should be a configurable flag to enable/disable this. There are situations when you don't want to finish processing an event. e.g.: a user wants to navigate to a different route while the current bloc is processing an event which will result in some new UI state that the user probably doesn't care anymore since he initiated a navigation to a completely new screen. There's no point in waiting

[2019-11-04 00:18] felangel commented on #639
@RollyPeres in those cases there wouldn’t be any waiting on the event. The only difference is the state change would happen as opposed to right now the logic still executes but when the state change is about to happen it gets ignored. When disposing blocs, BlocProvider would not need to wait for close to complete and if you want to wait you can handle disposing manually and await close yourself. L

[2019-11-04 00:18] RollyPeres commented on #639
Or even better, have all events be fully processed by default and have a `List<Event>` which are safe to be skipped. This is more granular and would give the user more flexibility overall.

[2019-11-04 00:19] felangel commented on #639
What do you mean by have a List<Event>? Can you provide some sample code?

[2019-11-04 01:01] RollyPeres commented on #639
Maybe the bloc could have a `List<Type> discardEvents ` and if you pass in something like `discardEvents: <Type>[Increment, Decrement]` then you can do something like(semi-pseudo-code):
[code]
This could probably be improved when dart team will release something like `Type.isExactly(event, Increment)`. Something around these lines is in the works from what I saw at some point.

[2019-11-04 01:07] felangel commented on #639
@RollyPeres thanks for the clarification. I'm trying to better understand under which circumstances would you not want pending events to be processed to completion? In the current state, bloc is not very "predictable" in this regard because depending on timing you might get different outcomes when close is called. If we make the change to always fully process pending events, then as a developer yo

[2019-11-04 04:20] binoypatel commented on #639
I agree with @jorgecoca for having closeWithoutWaiting which can be helpful when calling fire-and-forget API or similar

[2019-11-04 04:31] ThinkDigitalSoftware commented on #639
I agree that it should process pending events by default and that if you want it to stop immediately, which I don't see a use case for, you can do, `bloc.close(force: true) // defaults to false `

[2019-11-04 10:26] farrokhpey opened #640 "object oriented block coding"
Hi @felangel
i am developing a big project that contains too many blocs
i ant to define some base classes such as BaseEvent, BaseState, BaseBloc
i did this
but now there is a problem with my code,
it said:
![image](https://user-images.githubusercontent.com/5526403/68115048-b7367280-ff0c-11e9-9751-34e3b48a08ca.png)

can u tell me how should i resolve this problem?
these are my class definition and

[2019-11-04 12:53] felangel commented on #640
Hi @farrokhpey 👋
Thanks for opening an issue!

Can you please share a link to a sample app which illustrates the problem? Thanks!

[2019-11-04 12:55] felangel commented on #639
@binoypatel do you have a use case you could share where you would want the fire and forget functionality?

[2019-11-04 12:58] farrokhpey commented on #640
sorry @felangel ,i cant share it, i haven't access to do this, it's on office github account and i can't change access
what did you need, ask me to explain it, sorry

[2019-11-04 13:00] felangel commented on #640
Can you create a simplified version just to illustrate the issue?

[2019-11-04 13:33] RollyPeres commented on #639
@felangel Say the user is on screen A then clicks away from it by going to screen B. If the setup is that screen A gets disposed together with the bloc A, and say that event is just some data fetch with no side effects, then what is the point of waiting for that event to finish ? It's just gonna yield a state that the user doesn't care about anymore. I'm sure like 90% of cases revolve around fully

[2019-11-04 14:01] ThinkDigitalSoftware commented on #639
@RollyPeres I'm always in support of those just in case cases

[2019-11-04 14:07] cgestes commented on #168
currently using the following sample in place of BlocProvider:

[code]

[2019-11-04 15:26] felangel commented on #639
@RollyPeres in those cases the only thing that would change is the bloc would have one additional transition occur. It wouldn’t block the UI or navigation and currently the bloc still finishes processing events but when it comes time to emit the new states they are all ignored so it wouldn’t introduce any additional overhead. Let me know if that helps clarify things.

[2019-11-04 17:34] RollyPeres commented on #639
@ThinkDigitalSoftware finally, a believer 😂
@felangel your proposal is fine to be honest, I've nothing against it. Definitely, it's the most predictable way of doing it. But that doesn't mean there aren't some edge cases. What about an event which might add new events to the sink, while the bloc is not finished processing this event?

[2019-11-04 17:35] felangel commented on #639
@RollyPeres in that case those events will not be added because no matter what once close is called no new events can be added.

[2019-11-04 17:37] ThinkDigitalSoftware commented on #639
@RollyPeres @felangel It would make sense to me if it behaved the same way stores do when they close. Don't allow in new customers, but allow the existing customers to complete their checkout. I would say said let the bloc finish it's own internal processing, even if that includes adding another item to the sink, but I don't see how that would be able to be controlled

[2019-11-04 17:38] felangel commented on #639
@ThinkDigitalSoftware I don't think we should allow new events to be added. Wouldn't that be like existing customers letting in their friends after the store has closed?

[2019-11-04 17:40] larssn opened #641 "Error thrown within onTransition breaks the Bloc."
**Describe the bug**
If an error/exception is thrown within `onTransition`, the bloc stops working completely:
`bloc.add` stops adding events or `mapEventToState` doesn't receive them.

**To Reproduce**
[code]

The bloc remains broken even if you comment out the exception, and hot reload.

The reason seems to stem from:
[code]
`.forEach` states:
If this stream emits an error, or if the call to [ac

[2019-11-04 17:41] ThinkDigitalSoftware commented on #639
It would be like parents having their children checkout separately

[2019-11-04 17:42] felangel commented on #641
Hi @larssn 👋
Thanks for opening an issue!

Good point, I'll have this fixed asap 👍

[2019-11-04 17:42] ThinkDigitalSoftware commented on #639
it's like a Future than has a then clause. Except in bloc, you either process the "then" inside the same run, or dispatch an event if you already have code set up to respond to that event.

[2019-11-04 17:43] felangel commented on #639
@ThinkDigitalSoftware I think those are different because the bloc shouldn't care where the event came from in my opinion. We shouldn't be differentiating between internal events and external events.

[2019-11-04 17:43] Milansu opened #642 "Managing the state when onBackPressed"
First of all thank you for this awesome library, it's awesome!
I'm sorry that I'm posting this here, but I've tried asking many people but I just feel stuck with this issue. Hope you would be able to help.
So I have a simple list that's clickable and goes to DetailScreen, issue I have is when I click back from the DetailScreen, how can I manage this state to save the last list

Bloc
[code]
Attachi

[2019-11-04 17:45] felangel commented on #639
I disagree because with the children analogy, the children would already be in the store (events were already added). In the case you're describing we'd be adding new events.

[2019-11-04 17:45] ThinkDigitalSoftware commented on #639
I agree that it wouldn't be able to differentiate easily, but it seems like if someone happened to use that pattern it may take some debugging to figure out why their event didn't process. I guess an error thrown if an event was added after it was closed would work, but customized for  `bloc`

[2019-11-04 17:46] felangel commented on #639
@ThinkDigitalSoftware there is already an error thrown in `onError` when events are added after the bloc is closed. Don't you think the documentation is pretty clear on this already?

[https://pub.dev/packages/bloc](https://pub.dev/packages/bloc)

[2019-11-04 17:47] ThinkDigitalSoftware commented on #639
I

I was thinking more like the kids were attached to their parents and came in at once, but then things changed. With bloc extending stream, this no longer makes sense since an `add` call externally is the same as one internally

[2019-11-04 17:47] ThinkDigitalSoftware commented on #639
Oh, then yes, it's perfect :)

[2019-11-04 17:53] felangel commented on #642
Hi @Milansu 👋
Thanks for opening an issue and for the positive feedback!

One option is you can use [hydrated_bloc](https://pub.dev/packages/hydrated_bloc) to automatically persist each state change.

Alternatively, you can use [WillPopScope](https://api.flutter.dev/flutter/widgets/WillPopScope-class.html) to execute some code in response to a route being popped (back pressed). There's a good exam

[2019-11-04 18:16] binoypatel commented on #639
Basically, all long running / background task are good fit for fire-and-forget, for example, user set settings for importing active directory users (let say there are more than 10,000 users) and then click on import button on the screen, and then navigate to the home page, import will trigger fire-and-forget api which will take long time to complete and not require user to wait until the process i

[2019-11-04 18:25] felangel commented on #639
@binoypatel sorry if I was confusing but none of the proposed changes would force a user to wait until a process is finished. All bloc processing is happening asynchronously and would not block the UI. Furthermore in your example, if close is called in the middle of an import would you want the import to be partially complete? I would imagine you wouldn't want your app to be in a state where an im

[2019-11-04 18:54] binoypatel commented on #639
Thanks for the details, It is more clear now, I think in this case it will make sense to await before closing but then the caller will be forced to be async'ed which may introduce lot of changes for consumer

[2019-11-04 18:57] felangel commented on #639
@binoypatel no problem! You would only need to make changes if you're overriding `close` in your bloc like:

[code]

You'd need to change to:
[code]

[2019-11-04 19:42] felangel commented on #641
Fixed in #643 and included in `bloc v1.0.1` 🎉

[2019-11-04 19:42] #641 closed

[2019-11-04 20:34] felangel commented on #639
Merged in #638 and will be included in v2.0.0 of bloc.

[2019-11-04 20:34] #639 closed

[2019-11-04 20:48] Milansu commented on #642
I've tried the `WillPopScope` before, I had an issue with it, since when I add the event when I press back, it rebuilds the `initState` where I add the DetailScreen event.

I've tried HydratedBloc but I'm not sure, this only works with initialState?

[code]

NewsLoading is not making a problem, when I onBackPressed the last state is `DetailedNewsLoaded`, so my List can't be rebuilt or I can't get

[2019-11-04 20:50] felangel commented on #642
@Milansu are you able to share a link to the code?

[2019-11-04 21:00] Milansu commented on #642
I'm sorry I'm not allowed to share it 😞

[2019-11-04 21:03] rrousselGit commented on #639
IMO it doesn't make sense to emit things after the stream is closed. At best it's hacky, at worse it cause

That's why try/finally is there IMO:

[code]

The `finally` clause will _always_ be executed. In such snippet, even if the stream is closed during the `Future.delayed`, it will still print "finished", even if `yield MyValue()` isn't.

[2019-11-04 21:16] felangel commented on #639
@rrousselGit we wouldn't be emitting things after the stream is closed. The proposal was to close the sink, finish processing/emitting any pending events, and then close the stream.

[2019-11-04 21:29] felangel commented on #642
@Milansu can you create a sample which illustrates the issue you're having?

[2019-11-04 22:52] felangel opened #646 "[Translations] CS Update Needed"
- README changed in https://github.com/felangel/bloc/pull/638

[2019-11-05 00:40] zengzhengrong opened #647 "The example of flutter_dynamic_form typos"
**Describe the bug**
new_car_repository.dart
[code]
[code]
The ```Corrolla``` should be  ``` Corolla```

[2019-11-05 00:42] felangel commented on #647
Hi @zengzhengrong 👋
Thanks for opening an issue!

I'll make the fix shortly, thanks for catching this 👍

[2019-11-05 00:44] felangel commented on #647
Fixed in https://github.com/felangel/bloc/commit/6ed9ddbc459689f8d2e930b47d3c04d2d89eae18 👍

[2019-11-05 00:44] #647 closed

[2019-11-05 02:20] felangel commented on #611
Merged in #644 and included in `bloc_test v2.0.0` 🎉

[2019-11-05 02:20] #611 closed

[2019-11-05 09:09] antonygunawan94 commented on #78
hello,
can you provide updated example on how to debounce event
because I can't seem to find this override function in the latest flutter bloc

`@override
Stream<SearchEvent> transform(Stream<SearchEvent> events) {
  return (events as Observable<SearchEvent>)
      .debounce(Duration(milliseconds: 500));
}`

thank you

[2019-11-05 10:24] rrousselGit commented on #587
The lint rule can hardly be fixed. The way bloc close the sink is hardly understandable statically.

IMO there's two solutions:
- don't implement Sink (it doesn't bring anything anyway)
- disable the "close_sinks" rule in your analysis_options.yaml

[2019-11-05 11:54] hahai96 opened #651 "Reuse the view for different screens"
Hi. I have 2 screens that use ItemWidget. I provide the bloc through blocProvider, but when I open screen A, I will get an error without the context of screen B.
I can pass the bloc as a parameter, or use inheritFromWidgetOfExactType, but don't know if that's the best way?
What is the best way to solve this problem? Thank you very much.

[code]

[2019-11-05 12:45] imckl opened #652 "More robust type-checking mechanism in Timer example"
**Is your feature request related to a problem? Please describe.**
I'm learning to use bloc flutter step by step and type code while reading [Timer Tutorial](https://bloclibrary.dev/#/fluttertimertutorial).
Unfortunately, I've made a typo in timer_bloc.dart -> _mapResumeToState,
on which: `if (state is Paused)` - typo as: `if (state is Pause)`

This makes resume not work as expected. I admit this

[2019-11-05 12:46] imckl commented on #652
Duplicate of #482

[2019-11-05 13:07] felangel commented on #78
Hi @antonygunawan94 👋
Check out https://github.com/felangel/bloc/blob/926029cae2d7614d38b5a9a8952e36bb59054b02/examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart#L15 for an example.

[2019-11-05 13:26] felangel commented on #652
Hey @imckl 👋
Thanks for opening an issue!

Unfortunately, dart doesn’t natively support sealed classes (yet) but you can take a look at [sealed_flutter_bloc](https://pub.dev/packages/sealed_flutter_bloc#-readme-tab-) and the [sealed_flutter_bloc_samples](https://github.com/felangel/sealed_flutter_bloc_samples) for one way to solve this currently.

The code you’re probably interested in is:
https:/

[2019-11-05 13:30] felangel commented on #651
Hi @hahai96 👋
Thanks for opening an issue!

You need to provide your bloc at the closest common ancestor of the widgets that need access. In this case you probably need to lift blocs A and B up in the widget tree.

If that doesn’t help can you please share a link to a sample app which illustrates the problem you’re having? Thanks!

[2019-11-05 13:31] #651 closed

[2019-11-05 13:31] #652 closed

[2019-11-05 13:36] hahai96 opened #653 "Listen to other BLOC events"
I have 2 items ChildA and ChildB are children of ParentX. Because they are equal, it is difficult to exchange bloc with each other. So I use BlocParent as an intermediary, to exchange data between childA and childB. But blocParent always has to convert ChildB events into state before childA can listen.
I feel that in this case changing the event to ParentBloc's state is quite redundant, can we lis

[2019-11-05 13:40] felangel commented on #653
Hi @hahai96 👋
Thanks for opening an issue!

Since events are the input to the bloc and states are the output, this would be an anti-pattern. Can you share a link to a sample app which illustrates your problem and I can take a closer look and provide feedback? Thanks!

[2019-11-05 13:47] farrokhpey commented on #640
OK, but can u explain how can i use Base Bloc Classes, i mean that we have 3 class for bloc, event and state and then extend other blocs from them, override needed methods, add additional events and states and more.
I'll create a repository

[2019-11-05 14:14] hahai96 commented on #653
@felangel I want when I click the reply button in childA, childB is focused. I would have to create a focusChildA state at the parent bloc to forward them. I think that's superfluous, because I don't need to handle anything, I just need to call yield focusChildA
I don't want to put all of them in one bloc, which will make the bloc bloated and difficult to maintain
![image](https://user-images.gith

[2019-11-05 14:21] hammad-tariq commented on #132
Hi @felangel  I also came here for a similar query. let say I have ListView as One of the Widget in widget tree. when user tap on any list item I want to highlight selected list item for example changing container (listview item) background color. What I can do in this case ?

Thanks in advance.

[2019-11-05 15:49] felangel commented on #653
@hahai96 I would need to see a sample app with your setup in order to better assist. In the screenshot, I'm not sure why ChildB would need to know about ChildA.

[2019-11-05 15:51] felangel commented on #640
It's likely because your base class isn't providing the specific generics so the types resolve to `dynamic`. I would be able to better assist if you provide a sample repo though, thanks!

[2019-11-05 16:18] Milansu commented on #642
I fixed it by creating a separate bloc, I'm guessing by default each screen should have it's own separate Bloc.
So when I click back I keep my last state (from that screen)
Thank you for help again!

[2019-11-05 18:09] #642 closed

[2019-11-05 19:38] mihai9112 opened #655 "Can we listen to multiple state in the same BlocListener?"
I am having this code where I am listening to two states in the BlocListener:
https://github.com/mihai9112/reazzon/blob/feature/testing/lib/src/pages/login_page.dart#L55

According to a question I raised on StackOverflow, one test is failing (the second state listened) with the assertion failing to find the widget in question.

https://stackoverflow.com/questions/58709789/test-failing-on-blocliste

[2019-11-05 19:38] tenhobi commented on #642
@Milansu not each screen, more like each big enough functionality. 😉

[2019-11-05 19:50] Milansu commented on #642
@tenhobi Thats it!

[2019-11-05 19:59] felangel commented on #655
Hi @mihai9112 👋
Thanks for opening an issue!

The problem you're running into is a timing issue. When you use `whenListen` it immediately seeds the bloc with that stream of states so when BlocListener subscribes it will begin reacting right away.

If you simply want to test the `SnackBar` functionality I would recommend refactoring your tests like:

[code]

Hope that helps 👍

[2019-11-05 20:00] #655 closed

[2019-11-06 00:42] imckl commented on #652
Thanks! I'll walk through to the sample code.

[2019-11-06 06:39] mesl1012 commented on #139
Hello, i would like to first say that this is an awesome package and i am planning on using this for our application. I am quite new to the flutter technology and even to mobile applications.

I am having difficulty in trying to solve a problem, I am currently working on a category list with subcategories. I have successfully loaded my categories from an API but i am having problems with loading t

[2019-11-06 06:40] anticafe commented on #653
@felangel As my understanding, in ChildA there is a Reply button. When touch on it, then the TextField in ChildB will be focus.

[2019-11-06 13:59] felangel commented on #139
Hi @mesl1012 👋
Thanks for the positive feedback! Are you able to share a link to a sample app which illustrates the problem you’re having?

[2019-11-06 14:51] FilipKvestak commented on #74
Hello,

I'm stuck with something, still learning dart/flutter.

How would You use 2+ blocs, INSIDE of 1 bloc?
e.g in Your todos app, filtered_todos_bloc.dart:

`class FilteredTodosBloc extends Bloc<FilteredTodosEvent, FilteredTodosState> {
  final TodosBloc _todosBloc;
  StreamSubscription _todosSubscription;

  FilteredTodosBloc({@required TodosBloc todosBloc})
      : assert(todosBloc != null),

[2019-11-06 16:46] tobitoi opened #656 "BlocProvider.of() called with a context that does not contain a Bloc of type ItemBloc."
Hello sir,

I have issue with edit data form when i try submit the data always
Exception caught by gesture ═══════════════════════════════════════════
        BlocProvider.of() called with a context that does not contain a Bloc of type ItemBloc.

 button edit come from inifitie list and navigate to form [https://github.com/tobitoi/mobile_version/blob/master/lib/ui/item/item_list.dart](url)

and in

[2019-11-06 17:08] felangel commented on #653
@anticafe if it's just about changing focus you probably don't need bloc for this since there is no business logic. Let me know if that helps and thanks for the clarification 👍

[2019-11-06 17:22] felangel commented on #656
Hi @tobitoi 👋
Thanks for opening an issue!

The problem is you're pushing a new page route which does not have access to the `ItemBloc` because `BuildContext` is not shared across different routes.

[code]

You should wrap your new route in a `BlocProvider` in order to make the existing bloc available to the new route

[code]

You can read more about this in the [bloc access recipe](https://blocli

[2019-11-06 17:22] #656 closed

[2019-11-06 17:22] felangel commented on #640
@farrokhpey closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2019-11-06 17:22] #640 closed

[2019-11-06 17:24] felangel commented on #132
@hammad-tariq you can either add a `selected` boolean to the state model for each `ListItem` and then add an event to the bloc in the `onPressed` callback.

[2019-11-06 17:51] tobitoi commented on #656
thank you its work

[2019-11-06 18:02] tobitoi commented on #656
sir i have one question how better to handle token expired ?

in recent repository im expected can direct to login page

[2019-11-06 18:52] bernaferrari commented on #561
I missed this issue, only saw it today. I would like to say thanks to @felangel and all. I recently also added `analysis_options` to my app, and to my surprise there were maaaany issues. I got even more surprised since some of the issues were in my blocs, and most of them (at least their structure) were copied from the official samples. That meant samples weren't following the analyser.

But now t

[2019-11-06 22:33] nielstj opened #657 "Dynamic Repository based from BlocState."
Trying to build a dynamic app that can change its own environment within itself.

Scenario:
* `ConfigBloc` handles config state changes ( `ApiConfig`, `theme`, and `locale`) on top of everything.
* `MaterialApp` build on `ConfigBloc` state.
* `AuthenticationBloc` (depend on `AuthenticationRepository`) provided for all `MaterialApp` children .
*  `AuthenticationRepository` (depend on `Protoclient`)

[2019-11-07 02:59] mesl1012 commented on #139
Hello @felangel
I will just have to show you the two widget screen files i have
This is the category widget
[code]

The SubCategory Widget will handle the loading of the subcategories being fetch from the api.

[code]

[2019-11-07 03:56] felangel commented on #657
Hi @nielstj 👋
Thanks for opening an issue!

This is because BlocProvider is a `StatefulWidget` under the hood and its builder is only called once (think `initState`). If you want `ProtoClient` to have a different configuration based on changes in `ConfigBloc` you can refactor `ProtoClient` to have a dependency on `ConfigBloc` like:

[code]

Then you can simplify your UI:

[code]

Let me know if th

[2019-11-07 03:57] felangel commented on #653
Closing for now as I don't have enough information to help. Feel free to comment with additional info and I'm more than happy to continue the conversation 👍

[2019-11-07 03:57] #653 closed

[2019-11-07 05:05] nielstj commented on #657
Thanks for such fast response! Yes, it works and much cleaner now.
Localisations is still stuck though, I guess it's a bad practice to inject localisations to api client class?
Any tips for localisations with flutter_bloc?

[2019-11-07 05:06] felangel commented on #657
Awesome! Glad I could help 😄

Can you describe why you need localizations in the API client?

[2019-11-07 05:16] nielstj commented on #657
My intention is to localised the exception / bad response from the api call. so i can catch it in bloc then map to state.failure(message) directly.

[code]

[2019-11-07 05:21] felangel commented on #657
Thanks for the clarification. I would recommend that you do the localization on the server if possible in order to simplify the client code and to make it more flexible (you can change translations without a new client release). If that’s not possible then you’ll need to do the localization in the widgets. Blocs and API clients should not be responsible for localization because it is a presentatio

[2019-11-07 05:31] nielstj commented on #657
Yes, agree. Thanks for the solution!

[2019-11-07 05:31] #657 closed

[2019-11-07 05:34] felangel commented on #656
I would recommend having your http client automatically handle refreshing expired tokens. You can use dio + interceptors or implement our own wrapper around the dart http client. Then you can expose a token refresh failure callback and add a TokenRevoked event to your AuthenticationBloc in order to force logout the user. Hope that helps 👍

[2019-11-07 06:45] tobitoi commented on #656
I already try add interceptors like that
 dio.interceptors
        .add(InterceptorsWrapper(onRequest: (RequestOptions options) async {
      SharedPreferences prefs = await SharedPreferences.getInstance();

      String token = prefs.getString('access_token');

      if (token != null) {
        options.headers['Authorization'] = 'Bearer $token';
      }

      options.headers['Accept'] = 'applic

[2019-11-07 07:45] tenhobi commented on #561
@bernaferrari it might not be an issue in general. Lints provides also (opinionated) styles how you write your code. And the official samples might follow a different set of rules, for some reason.

But it is a good idea to follow some set of rules for sure, to keep your project in one style.

Check https://github.com/tenhobi/effective_dart for Effective Dart rules. :-)

[2019-11-07 08:21] FilipKvestak opened #658 "Bloc dependency on multiple blocs"
Hello,

I'm stuck with something, still learning dart/flutter.

How would You use 2+ blocs, INSIDE of 1 bloc?

e.g in Your todos app, filtered_todos_bloc.dart:

[code]
I was thinking about something like this:

[code]
But I feel that it is just bad practice, and wouldn't work as expected.

To be specific, in my database (firestore) let's say I have 3 tables:

'user' table //each user has name, ema

[2019-11-07 09:50] jalanga opened #659 "How can I yield a state when native code calls a function from my bloc."
In my bloc I have 2 streams. One is the mapEventToState where I can yield states, and I created a second one which is called from a function which is called by native code.

The call:

`checkStatus(_internalState).listen((data){});`

The Stream:

[code]

The problem is when I yield something in the checkSatus stream, is not arriving in my BlocBuilder. If is called from the stream mapEventToState i

[2019-11-07 10:06] jalanga commented on #659
There is a dispatch() function which can be called inside bloc without context.

[2019-11-07 10:06] #659 closed

[2019-11-07 13:02] tobitoi commented on #656
one question more i tried implement feature search in infinite list.
now its working but i have bug the CircularProgressIndicatorindicator always show. and if i clear the search text the item not loading again
![Capture](https://user-images.githubusercontent.com/20135081/68390922-4e1b5d00-01a1-11ea-8fe0-58b995bb903f.PNG)

link directory bloc => https://github.com/tobitoi/mobile_version/blob/master

[2019-11-07 16:51] jcsena opened #660 "Bloc automatically close using BlocProvider.of<Bloc>(context)"
flutter_bloc 2.0.0
bloc 2.0.0

I have a Bloc (MatchBloc) with a Stream subscription.

**BLOC:**

[code]

Using the MatchBloc in principal Widget
[code]

The Bloc is providing a Widget that contains a method with an AlertDialog

[code]

After closing AlertDialog, it automatically executes the MatchBloc closing method and cancels the subscription even while inside the main Widget.

[code]

[✓] Flutt

[2019-11-07 17:38] IgorChicherin opened #661 "BlocBuilder doesn't rebuild widget tree after yield state"
Greetings, I have a mystical problem with rebuilding widget tree. BlocBuilder build only InitialState and don't handle yield a new states from bloc component.

flutter_bloc: ^2.0.0

Bloc implementation
[code]

Page implemenatation
[code]

Console Logs
[code]

flutter doctor
[code]

[2019-11-07 18:33] felangel commented on #661
Hi @IgorChicherin 👋
Thanks for opening an issue!

I'm guessing you're extending Equatable in your state classes and are not properly overriding the `props` getter. Can you please share your `SearchState` implementation? Thanks!

[2019-11-07 18:36] felangel commented on #660
Hi @jcsena 👋
Thanks for opening an issue!

This is how `BlocProvider` is intended to work. When you use `BlocProvider` with a `builder` the `BlocProvider` is taking responsibility for creating the bloc and closing the bloc. In cases where you want to provide an existing bloc to a new route you should use `BlocProvider.value` instead as it does not automatically close the bloc.

Please refer to the

[2019-11-07 18:36] #660 closed

[2019-11-07 18:37] IgorChicherin commented on #661
Yep, sure, here is states implementation.
[code]

[2019-11-07 18:40] felangel commented on #658
Hi @FilipKvestak 👋
Thanks for opening an issue!

I would not necessarily recommend having a bloc to manage each data source. Instead, I would recommend that your repository layer handles subscribing to the individual raw data sources and uses [combineLatest](https://pub.dev/documentation/stream_transform/latest/stream_transform/combineLatest.html) to handle reacting to the latest data from each st

[2019-11-07 18:43] felangel commented on #661
`props` should return the properties for each class otherwise Equatable cannot do the equality comparison properly.

[code]

Also you need to ensure that `CampaignVenue` and `LocationData` extend `Equatable` and override `props` correctly.

Hope that helps 👍

[2019-11-07 18:43] #661 closed

[2019-11-07 18:54] jcsena commented on #660
Thanks for the answering the issue.
but, actually, I have two Bloc that I need in the AlertDialog

[code]

I think it would be nice to have

[code]

[2019-11-07 18:56] felangel commented on #660
You can just do

[code]

[2019-11-07 18:58] RollyPeres commented on #545
I definitely think that the `listener` should be added to the `BlocBuilder` or `BlocView`, whatever you prefer as a name. You would only have to differentiate the build/listen condition, which could be two separate params like `buildWhen` and `listenWhen`. A lot cleaner approach and extremely helpful overall.

[2019-11-07 18:59] jcsena commented on #660
Thanks again,

[2019-11-07 18:59] felangel commented on #545
@RollyPeres but you’d also still have a separate BlocListener in cases where you only want to listen?

[2019-11-07 19:06] RollyPeres commented on #545
That or make the `builder` optional. But that would probably require a name change to something more generic not strictly tied to building, maybe `BlocView` or something.

[2019-11-07 19:08] felangel commented on #545
BlocView still implies there is a view so it also wouldn’t make sense to have an optional builder imo. I personally don’t want to over complicate and muddy the role of BlocBuilder which is why I’ve been hesitant to introduce this. The benefit of introducing this is not that significant imo. Thoughts?

[2019-11-07 19:12] RollyPeres commented on #545
I agree in regards to naming, I just threw the name which @bigworld12 came up with for the sake of example. Well, I also understand there are many of your users already comfortable with the current state of this library. The smartest way to go about this would probably be to keep those two widgets as they are and introduce a new one which combines the two together and let users pick and choose ✌

[2019-11-07 19:14] felangel commented on #545
Yeah that’s what I was leaning toward as well but not sure what a good, obvious name would be 🤔

[2019-11-07 19:15] RollyPeres commented on #545
`BlocConsumer`  ? RIP Remi's naming conventions 👍

[2019-11-07 19:17] felangel commented on #545
That could work haha. I’ll think about it some more and discuss with the team 👍

[2019-11-07 19:50] Cgaafary commented on #545
Just a few other names to throw out there for consideration... BlocClient,
BlocReceiver, and BlocRetriever.  Not sure if that would violate other
naming conventions. I think both BlocClient and BlocConsumer could imply a
generalist role of doing something with provided blocs. Makes it easier to
add additional functionality in the future with optional parameters in my
opinion. Also, BlocConsumer an

[2019-11-07 20:13] Cgaafary commented on #545
Just a few additional names to consider are BlocReceiver and BlocRetriever.

I think also linguistically it feels like something that Provides aka a "BlocProvider" should be matched with something that receives or retrieves. Once a Bloc is received or retrieved, anything could be done with it such as building a widget or listening to the bloc to perform another task. This naming convention could p

[2019-11-07 20:57] zeucxb commented on #656
If do you have multiple blocs that are shared. You should check `GetIt`.

[code]

[code]

[2019-11-07 21:01] RollyPeres commented on #545
Since `bloc` has a small flavor of redux, I'll also nominate `BlocConnector`.

[2019-11-07 23:30] #658 closed

[2019-11-08 00:04] tobitoi commented on #656
Yea i

Yea im using multi bloc to

[2019-11-08 00:06] tobitoi commented on #656
Do you have spesifik referense? 🙏🙏

[2019-11-08 08:32] IgorChicherin commented on #661
@felangel oh, my bad, thanks alot for helping

[2019-11-08 19:07] Milansu opened #662 "How to keep index from ListViewBuilder using BlocBuilder"
So I have a few TabBar's with TabBarView's, I'm using BLoC like intended,
[code]
I'm returning content per state, the issue I have is that when I switch tab's, the widget returns the `CircularProgressIndicator` and then the widget is rebuilt, so the state is reset and I lose my `index` from `ListView.builder`.

If I don't `yield RequestLoading` in my Bloc, the widget won't rebuild and I keep my in

[2019-11-08 22:20] felangel commented on #662
Hi @Milansu 👋
Thanks for opening an issue!

I'm not sure I completely understand but if you only want the UI to update for certain state changes then you can add a `condition` to your `BlocBuilder`. This would allow you to avoid rebuilding while still fetching more information asynchronously.

[code]

[2019-11-09 03:36] vungocnamhust opened #663 "Dynamic marker in google map fail"
**Bug**
I have being build flutter google map demo with dynamic marker
When I added 5 events to update driver position => The Bloc received event, but it does not yield State to rebuild google map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/vungocnamhust/Flutter/tree/flutter_map
2. Click on map.dart to see UI

Thank you for your help

[2019-11-09 04:52] felangel commented on #663
Hi @vungocnamhust 👋
Thanks for opening an issue!

I took a look and there were several problems:
1. You are using `Equatable` in your states but your states hold `LocationData` which does not extend `Equatable` which means that `Equatable` can't properly do the equality check. You either need to create your own wrapper around `LocationData` and use the `EquatableMixin` or don't use `Equatable` (I

[2019-11-09 04:52] #663 closed

[2019-11-09 09:07] Milansu commented on #662
Each tab should remember remember it's ListviewBuilders index, so if I scrolled down in Tab1, and I load Tab3 if i visit Tab1 once again, I want to be at the index I last visited in that Tab1 (to save its state).

Problem is when I yield RequestLoading() that returns a CircularProgressIndicator which resets the state.
If I don't use it, I will sometimes get a null response because the http request

[2019-11-09 14:51] felangel commented on #662
Why not have a separate bloc to manage the index of each tab?

[2019-11-09 15:10] VadimOsovsky opened #664 "Dynamic initialState and yielding different instances of the same state with different props"
I'm actually facing 2 issues:
1) When I create a bloc, I have initial state with empty settings, but at the time the bloc is actually used, I already have the settings initialized, I would like to have dynamic initial state, so by the time a widget subscribes to the bloc, it receives the updated initialState, not the one, used when the bloc was created.

2) When I update settings, I need to yield

[2019-11-09 15:33] felangel commented on #664
Hi @VadimOsovsky 👋
Thanks for opening an issue!

1. If the process of initializing the settings is asynchronous then you must start with some initial state and then load the settings via an event and update the state accordingly. You can make this process happen earlier rather than later so a user doesn’t have to wait by moving the bloc up in the widget tree and adding the initialization event as

[2019-11-09 19:02] #664 closed

[2019-11-09 19:07] VadimOsovsky commented on #664
Can I make it work like a Behaviour Subject, so when a new subscriber subscribes to it, it gets the latest value?

[2019-11-09 19:58] felangel commented on #664
@VadimOsovsky that's how it currently works. Once a new `BlocBuilder` is created it will automatically get the latest bloc state. `BlocListener` only reacts to state changes so it will get updates on every state change. You can also access the latest bloc state via the `state` property

[code]

Please refer to the [documentation](https://bloclibrary.dev/#/flutterbloccoreconcepts) for more details.

[2019-11-09 20:19] Milansu commented on #662
Ugh, that sounds like a good idea. Would i add event on each index change? How would I manage between the two blocs...bloc that shows content and manges indexes?

[2019-11-09 20:34] felangel commented on #662
You would just create the IndexBloc above the ContentBloc and it would have an `initialState => 0`.

[code]

Then you can add an event each time the index has changed

[code]

[2019-11-09 22:24] RollyPeres commented on #662
@Milansu I'm pretty sure you're not approaching this the right way. You should be fine with using `AutomaticKeepAliveClientMixin` but have the full page loading indicator only show for the first request, but when loading more then show that indicator at the bottom of your list. Have this load more flag be part of your state. Your scroll position will be saved while switching tabs. Showing a full p

[2019-11-09 22:34] Milansu commented on #662
@RollyPeres If you switch a tab it will fetch a new http request, and it will be null. If i dont show a full page loading indicator Im left with a null list.

[2019-11-10 11:32] VadimOsovsky commented on #664
@felangel sorry, my mistake, I missed one param in the props getter so it caused both of the issues, my mistake. Thanks for the info though, it was very useful, and sorry for disturbing, the issues are closed

[2019-11-10 11:47] RollyPeres commented on #662
@Milansu You haven't described what you want to achieve very well, but from what I understood you're trying to handle pagination on multiple tabs within a single bloc. This is why I don't see why you want to show a full screen loading indicator when you go back to a page which already has some data already loaded. If you keep your tabs alive then data will be there.

[2019-11-10 12:45] Milansu commented on #662
@RollyPeres You understood it , I shouldn't load a whole page indicator when there is data in previous tabs. But what do I show when I switch the tabs? It takes a bit time to load the data, and in that time I want to show the new content in the Listview.builder... That's where i will get a null return, unless I yield the Loading state :/

[2019-11-10 17:05] RollyPeres commented on #662
@Milansu It's perfectly fine to show a full screen loading indicator when you first time land on a tab, since you've got no data there yet. But the second time you land there it should have some data already present or a message that there's no data for this tab. When you use keep alive mixin it will make sure your page states are not disposed, therefore you will not need to reload the existing da

[2019-11-10 17:13] Milansu commented on #662
@RollyPeres I do have `List<List<Model>>` where I track the already visited categories. When I load tab1 I also load tab2 and so on, but if i do it too quickly i will get null once again. I have initial state `InitialRequest()` when it's done it yields a `RequestLoaded()` and that state stays. So when I switch the tabs really quickly the state stays the same `RequestLoaded()` and tries to show the

[2019-11-10 18:12] felangel commented on #662
@Milansu it would be much easier to help if you could put together a sample app which illustrates the project structure and issues you are having.

[2019-11-11 07:38] mesl1012 commented on #139
hello @felangel
I would like to ask how would you change the state of a parent from a child using bloc?

[2019-11-11 10:54] hahai96 commented on #653
@felangel Focus is just a simple example.In fact, when I press the reply button, I want to pass the comment owner information to childB.

[2019-11-11 17:08] KonradDos opened #665 "Error while resolving dependency"
**Describe the bug**
I am getting following error when project name is **bloc**
`[bloc] flutter packages get`
`Running "flutter pub get" in bloc...`
`Because bloc depends on flutter_bloc ^2.0.0 which depends on bloc ^2.0.0, bloc ^2.0.0 is required.`

`So, because bloc is 1.0.0+1, version solving failed.`
`pub get failed (1)`
`exit code 1`

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2019-11-11 18:09] felangel commented on #665
Hi @KonradDos 👋
Thanks for opening an issue!

The problem is your package cannot also be called 'bloc'. `flutter_bloc` has a dependency on the core `bloc` package so it is unable to resolve because there is a naming conflict between your package and the published `bloc` package. You need to rename your project to something else.

Hope that helps 👍

[2019-11-11 18:09] #665 closed

[2019-11-11 18:38] Milansu commented on #662
Here's a sample project [https://gitlab.com/Milansu/jsonplaceholder]

[2019-11-12 07:26] cosinus84 commented on #139
@nvma so you actually build an EventBus. Each bloc will listen to ChannelBloc (filtering by some type that only that bloc is interested) ?

[2019-11-12 10:23] cosinus84 commented on #139
@nvma so you actually build a Shared Bloc. Each bloc will listen to ChannelBloc (filtering by some type that only that bloc is interested) ?
I think this interBloc communication is one of the most asked question you will find out there and that is because of this tree structure of flutter widgets.

The problem actually comes from the need to chain events from different blocs (not related to view-w

[2019-11-12 14:01] felangel commented on #662
@Milansu thanks! I’ll take a look shortly 👍

[2019-11-12 14:06] agordeev commented on #118
@felangel Thanks for the awesome lib and extension. I actually came to this issue from the search. It is unclear to me how the extension could help if I want to have more than one bloc (which is 99.999% of the cases I suppose)? Renaming each file doesn't seem a good solution.
@GiancarloCode suggested a good approach. It'd be great to know your thoughts about that.

[2019-11-12 14:10] felangel commented on #118
@agordeev thanks for the input. I would generally recommend structuring your project by feature and not by component type. That way instead of having a blocs directory you would have a bloc directory in the necessary feature directories. Let me know if that makes sense. I have also been meaning to make the vscode extension more configurable via a bloc_options.yaml (or something similar) so that mi

[2019-11-12 14:17] agordeev opened #666 "VSCode extension: command 'extension.new-bloc' not found"
**Describe the bug**
`>Bloc: New Bloc` command returns `command 'extension.new-bloc' not found` error.
Reproducible only in Flutter projects. When I try to create a bloc on server-side project, it lets me to do so. Reinstalling Bloc extension and restarting VSCode didn't help.
Interesting it worked few days ago. I was able to create the first bloc.

Bloc extension version: 2.0.0
VS Code info:
Vers

[2019-11-12 14:20] agordeev commented on #118
@felangel clearly makes sense, thanks for your prompt answer. I didn't think that way (feature-based architecture), will try.

Wouldn't it be better to have extension settings instead of `bloc_options.yaml`?

[2019-11-12 14:23] nvma commented on #139
@cosinus84 yes, in fact I even had called it EventBus at some point but ditched the name because it's ambiguous and has other concrete meanings.

@felangel hello, Felix. I'm back with a very simple example: https://github.com/nvma/channel_bloc_example.
Now obviously its simplicity doesn't justify anything of a sort but I hope it will illustrate the idea better.

Realistic usecase would look someth

[2019-11-12 14:23] felangel commented on #118
No problem! Yeah we could do extension settings but it’d be nice to be able to have a configuration per repo so that different projects can have different structures/preferences and to be able to reuse the configuration for the intellij plugin as well 😛

[2019-11-12 14:44] Rodrigossff91 commented on #497
Ola tenho um problema, esta aparecendo essa mensagem quando vou prover uma estancia
BlocProvider.of() called with a context that does not contain a Bloc of type ProcessoBloc.

import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:legale/blocs/processo/processo.dart';
import 'package:legale/core/config/style.dart';
import 'package:legale/core/model

[2019-11-12 17:57] cosinus84 commented on #139
@nvma why don't you make each list item a bloc, ItemBloc and pass it to CounterUpdaterScreen screen. Any change in item state will rebuild the item widget.

[2019-11-12 23:13] felangel commented on #666
Hi @agordeev 👋
Thanks for opening an issue!

Can you please provide a link to a sample app in which the command fails? I am unable to reproduce locally in various flutter projects.

Thanks! 👍

[2019-11-13 06:12] DDDrop commented on #615
@felangel How to deal with none property even, like:
[code]

[2019-11-13 06:20] felangel commented on #615
@DDDrop if you have no properties on any of your subclasses you can do

[code]

[2019-11-13 09:07] Milansu commented on #662
Fixed it, i guess xD

[2019-11-13 12:23] rodriguesJeff opened #667 "How can i help with the translation?"
Hello, I am a Brazilian flutter developer and I want to know if this is an open source project. At the moment, I'm learning bloc and found this repository. I saw the pt-br option, but dn't have content. So I want to contribute to the project. Can I do a PR and help with translation?

[2019-11-13 13:50] felangel commented on #662
@Milansu thats awesome! Are you happy with your solution or did you still want me to take a look?

[2019-11-13 13:54] felangel commented on #667
Hey @rodriguesJeff 👋
Thanks for opening an issue!

There’s a draft pull request that has some of the translations in progress and it was being worked on by two developers. I think we can close this issue and continue the conversation on the pull request to have them add you as a collaborator. If you have time you can just start translating the docs locally and then hopefully within a few hours you

[2019-11-13 13:54] #667 closed

[2019-11-13 16:33] Milansu commented on #662
@felangel No it's fine, this will do! Thanks

[2019-11-13 18:34] #662 closed

[2019-11-13 18:37] bernaferrari opened #669 "mysterious bug"
Hello. I am having a really really weird bug in a project and I was able to replicate into a simpler project. Basically, when changing screen (with `maintainState = false`) one bloc is still saved.. so I get two instances of the same bloc triggering BlocBuilder twice and considerably slowing down my project!

I'm not even sure if I explained correctly (therefore, mysterious bug!), but here is a sa

[2019-11-13 18:38] felangel commented on #669
Hi @bernaferrari 👋
Thanks for opening an issue!

Are you able to create a gist or github repo instead of a zip? Thanks! 👍

[2019-11-13 18:38] bernaferrari commented on #669
I am, but do you really want that? It is almost a one-file project. Everything else is just so you can build it.

[2019-11-13 18:39] felangel commented on #669
yeah if you can just share the one file as a gist it would be great, thanks!

[2019-11-13 18:40] bernaferrari commented on #669
Here it goes: https://gist.github.com/bernaferrari/ec57ce07ffcd59cbb85f1b01f9d8fef5

[2019-11-13 18:43] felangel commented on #669
@bernaferrari when you use `Navigator.push` it does not remove the underlying widget. This is expected behavior and it doesn't have anything to do with the bloc library. If you want to dispose the underlying widget when you push then you can use `pushReplacement`. Let me know if that helps 👍

[2019-11-13 18:47] bernaferrari commented on #669
Uh, thanks!
![image](https://user-images.githubusercontent.com/351125/68793818-7802d280-062c-11ea-8e51-b82fc596f866.png)
Ok... I thought `maintainState = false` was supposed to do this. PushReplacement doesn't keep anything, push keeps everything, push with maintainstate = false only keeps the first one. Really tricky.

[2019-11-13 18:47] #669 closed

[2019-11-13 20:06] felangel commented on #666
Closing for now but feel free to comment with additional details/reproduction steps and I"m happy to continue the conversation 👍

[2019-11-14 03:11] felangel commented on #497
@Rodrigossff91 you need to provide the `ProcessoBloc` using `BlocProvider` somewhere in the widget tree

[code]

Then when you use `BlocProvider.of` you need to provide the bloc type so instead of
[code]

you should do

[code]

Hope that helps 👍

[2019-11-14 03:12] felangel commented on #653
@hahai96 you should then have a shared bloc at the common ancestor of the widgets so that the children can all access the same bloc's state.

[2019-11-14 06:12] agordeev commented on #666
Unfortunately, I'm unable to share the project as it is a proprietary. The issue does not appear when I try to use on your examples from this repo.

VSCode dev tools console outputs this:
<img width="796" alt="Screenshot 2019-11-14 at 09 11 30" src="https://user-images.githubusercontent.com/2883524/68831228-d1b3dd00-06be-11ea-9929-4c46e9ce7b1a.png">

[2019-11-14 06:20] felangel commented on #666
Hmm it looks like the error is coming from within VSCode and not the bloc extension itself. I’ll try to investigate this further. In the meantime if you’re able to put together a sample app that reproduces the issue it would be awesome! Thanks 👍

[2019-11-14 06:40] agordeev commented on #666
Looks like this is exactly the same issue as this one: https://github.com/shanalikhan/code-settings-sync/issues/745

[2019-11-14 09:48] agordeev commented on #666
I've tried to disable all the extensions except of `Bloc`, but that didn't help

[2019-11-14 11:27] agordeev commented on #587
I suppose this is not a good option. That linter check is there for a good reason.

[2019-11-14 16:00] warriorCoder opened #670 "[Proposal] New Communication Channel"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated... when I try to use gitter and the app just work on my desktop or phone.

**Describe the solution you'd like**
I suggest moving to slack.

**Describe alternatives you've considered**
Discord seems like a decent alternative but I think slack would be a better option in the long run.

[2019-11-15 12:51] tenhobi commented on #670
I am also frustrated by Gitter, for sure.

Actually, a lot of open source projects use Discord for its ease-of-use and the price and overall feeling (it's open, easy to join, easy to modify, no limitations). For example /r/FlutterDev uses it.

Slack always seems very focused on corporations etc. Which is ok, but it is a bit off than what we need. If we should move, I would vote for Discord. More i

[2019-11-15 14:24] felangel commented on #666
@agordeev any updates? Have you tried a reinstall of VSCode?

[2019-11-15 14:46] ChristianKleineidam opened #672 "Example Flutter project that uses InheritedWidget with Blocs"
I'm planning to build a bigger app with Flutter. At [Google I/O '18 ](https://youtu.be/RS36gBEp8OI)there was a talk that suggest that it's good to setup Blocs with InheritedWidget as that's supposed to scale better.
Unfortunately, none of the current example projects for bloc show such a setup. It would be great to have an example project that shows the best practice.

[2019-11-15 15:52] agordeev commented on #666
No updates.
I haven't. It's too radical :)

[2019-11-15 16:19] felangel commented on #666
Haha might be good in case something got corrupt 😛

[2019-11-15 16:21] felangel commented on #672
Hi @ChristianKleineidam 👋
Thanks for opening an issue!

`BlocProvider` uses `Provider` which is a wrapper around `InheritedWidget` so by using `BlocProvider`/`RepositoryProvider` you're already using `InheritedWidget`.

You can check out the [bloc access](https://bloclibrary.dev/#/recipesflutterblocaccess) recipe for more details and look at any of the [tutorials](https://bloclibrary.dev/#/flutter

[2019-11-15 16:21] #672 closed

[2019-11-15 20:39] jonataslaw commented on #52
https://github.com/flutter/flutter/pull/44731/

I offered a pull to fix the problem with navigation rebuilding everything below materialApp.
https://github.com/flutter/flutter/pull/44731/

Alternatively I created a navigation package which besides not having any route reconstruction bugs, can be used with BLoC as it does not require context to navigate.

https://pub.dev/packages/get

[2019-11-15 23:05] petrnymsa opened #673 "Question: using bloc between multiple pages"
Hi
sorry if this not belong here but I could not find any forum.

Let's say I have the application with movies and I can each movie mark as 'favourite'. And we have 3 pages:
- movie list page
- detail page of the movie
- favourites list page

From each page, I can directly mark/unmark movie as favourited.  What is properly setup/architecture for this?

- Having for each page own Bloc? (I am coming

[2019-11-16 09:09] tenhobi commented on #673
Creating bloc per page is a good option, but you might want rather create one bloc per big enough functionality.

You would like to, probably, have one main Bloc for movie list, and some other Bloc to handle showing the individual movie, etc.

Check `TodosBloc` and `FilteredTodosBloc` bloc-to-bloc communication at https://bloclibrary.dev/#/fluttertodostutorial

[2019-11-16 16:56] marklureal opened #674 "Question: Why the BlocBuilder is called without state change?"
**Describe the bug**
I find the BlocBuilder is called twice when App is navigated to another screen and back. I think the BlocBuilder shouldn't be called during the navigation because BlocState doesn't change during the navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the "Go another page" button to another screen.
2. Click the back button on the left top corner, back to  th

[2019-11-16 19:05] FetFrumos opened #675 "Bloc and work with settings"
I'm new to flutter. I study documentation and examples by BLOC.
I'm studying this example now - [flutter_timer](https://github.com/felangel/bloc/tree/master/examples/flutter_timer). Now this example working with static value for time(60), I want add time value in app settings. But I don’t know how to create the right architecture(bloc) for this.
  I try this:
  -use MultiBlocProvider, like [flutte

[2019-11-16 20:38] felangel commented on #674
Hi @marklureal 👋
Thanks for opening an issue!

This is expected behavior and `BlocBuilder` can be build many times by Flutter itself. As a result, you need to make sure your builder is a pure function (no side-effects) and should assume it can be called 60 times per second (on every frame).

`StreamBuilder` behaves the same way:

[code]

Hope that helps 👍

[2019-11-16 20:38] #674 closed

[2019-11-16 20:46] felangel commented on #673
Hi @petrnymsa 👋
Thanks for opening an issue!

As @tenhobi mentioned, I would recommend having a single bloc which manages the state of the movie list for the entire application. Each movie can include a property for whether it is a favorite. Changes in the favorites bloc can then update the movies bloc (analogous to how you can update a todo as done). Hope that helps and I'd definitely recommend l

[2019-11-16 20:46] #673 closed

[2019-11-16 20:54] felangel commented on #675
Hi @FetFrumos 👋
Thanks for opening an issue!

You might not need a `SettingsBloc` because if you have a global `TimerBloc` which you provide at the root of your application, then you can add a `TimerDurationChanged(Duration duration)` event and update the state of your `TimerBloc` accordingly.

Hope that helps 👍

[2019-11-16 20:54] #675 closed

[2019-11-17 03:45] marklureal commented on #674
Thanks very much

[2019-11-17 09:24] fvisticot opened #676 "[Best practice] Where to manage user translated messages (BLOC or Page) ?"
Repository layer fire an exception in the Bloc Layer.
This exception message is "API oriented" and not "User oriented" and not internationalized

Where is the best place to implement the "User message" with internationalization support ?

1. In the bloc:
The bloc is catching all the exceptions an change the state with a FailureState containing an user understandable message internationalizeed

2.

[2019-11-17 14:53] felangel commented on #676
Hi @fvisticot 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/657.

Hope that helps 👍

[2019-11-17 14:53] #676 closed

[2019-11-18 04:04] cver opened #679 "[Best practice] BLoC depend on multiple BLoCs"
Hi, @felangel

I have a **Todo** BLoC, **Category** BLoC, **Label** BLoC. Each Todo reference to a Category and multi Labels, and Todo list has some filter properties.

I want to create a BLoC to manage what is displayed in Todo list.
I think I should make a BLoC that combines **Loaded** states of Todo BLoC, Category BLoC, Label BLoC and handles filter. But I see it's so complex.

Can you help me

[2019-11-18 05:32] agordeev commented on #666
I'm going to close this for now. The issue still persist and I don't know how to fix it. Hopefully someone will provide more details how to fix or reproduce it, then we can reopen

[2019-11-18 05:50] bigworld12 commented on #679
I am not sure what's the problem you are facing.
is it circular references?
then make a separate bloc for filtering and make others listen to it

[2019-11-18 06:44] cver commented on #679
Hi @bigworld12

I wonder if there are any ideas to make it simpler?
I was also confused when separating BLoC and creating Event for each BLoC.

[2019-11-18 14:13] bigworld12 commented on #679
BloCs are just sinks/streams for notifying the UI that a change has happened and for processing data from/into the UI
you don't NEED to provide an event for each bloc, heck you can have all events and states of type int, it's up to you.
you can provide some code as a start and I will see if i can help.

[2019-11-18 17:49] felangel commented on #679
Hi @cver 👋
Thanks for opening an issue!

As @bigworld12 mentioned, it would be really helpful if you could provide some sample code. That way, we can take a look at an existing implementation and offer advice/give feedback 👍

[2019-11-18 18:54] ThinkDigitalSoftware opened #680 "[bloc_test] Add documentation for testing other than for State types"
I don't emit individual classes for different state changes because it adds a lot of unnecessary complexity in my use case. I just use properties of the state and use copyWith, like in Redux.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Include documentation for how to test for things other than what class type the bloc emits.

**Describe alterna

[2019-11-18 21:19] wyxcoder opened #681 "Any good guide about how to design bloc and repository?"
It seems the Repository is mixed with Bloc, I wonder what is right way to lay them out in a project.

[2019-11-18 23:06] wyxcoder opened #682 "Listener doesn't get fired, how can I debug it?"
In the root widget's initState, I create the bloc, and add listener to it like
bloc = new DynaBloc();
    BlocListener<DynaBloc, DynaState>(
      bloc: bloc,
      listener: (context, state) {
          // do stuff here based on BlocA's state
          var a=1;
      }
    );

and in build, I add it with value, like
body: BlocProvider.value(
            value: bloc,
            child: Builder(bui

[2019-11-18 23:17] wyxcoder commented on #682
Figured it out, all are widget, I need  put it in widget tree

[2019-11-18 23:17] #682 closed

[2019-11-18 23:25] felangel commented on #680
Hi @ThinkDigitalSoftware 👋
Thanks for opening an issue!

Can you please provide a link/gist to a sample bloc which you'd like to test with bloc_test? I'll try to put together some tests for your sample bloc 👍

[2019-11-18 23:26] felangel commented on #681
Hi @wyxcoder 👋
Thanks for opening an issue!

Can you provide more context? A bloc should depend on one or more repositories in order to fetch the required data to trigger a state change. You can refer to the [bloc architecture documentation](https://bloclibrary.dev/#/architecture) for more details. Hope that helps 👍

[2019-11-19 01:56] lvyandev opened #683 "upgrade v2.0.1 failed"
[code]
I am getting this error when upgrading to v2.0.1.
problem might be caused by pub mirror site for China.
[code]
related issues I found
#https://github.com/flutter/flutter/issues/20809#issuecomment-416147950

[2019-11-19 01:59] felangel commented on #683
Hi @lvyandev 👋
Thanks for opening an issue!

I think as you mentioned the problem is due to the pub mirror not having a reference to the latest version of flutter_bloc.

You can temporarily point to the git url if you'd like

[code]

Hope that helps 👍

[2019-11-19 01:59] #683 closed

[2019-11-19 02:02] lvyandev commented on #683
wow, quick answer! I'll try it, thx! ^_^

[2019-11-19 03:01] cver commented on #679
Hi @felangel , @bigworld12
Can you tell me my code is good practice?
I'm so confused because I must generate a lot of code to do it. Thanks so much!

[code]

[2019-11-19 15:35] jorgecoca commented on #670
This is all based on my personal preference, not in which one is better or not, but I'd prefer to use Slack simply because I have many other communities embedded in there as well

[2019-11-20 04:07] prankhazard opened #684 "BlocBuilder partially update ListView"
Hi, I'm trying to use a bloc pattern to create a list view that can be filtered by a `TextField`

Here is my **code**

bloc:

    class HomeBloc extends Bloc<HomeEvent, HomeState> {

      List<Book> displayList = [];

      ....

      @override
      HomeState get initialState => UnfilteredState();

      @override
      Stream<HomeState> mapEventToState(
        HomeEvent event,
      ) async*

[2019-11-20 06:10] felangel commented on #680
@ThinkDigitalSoftware closing this based on our conversations in gitter. Feel free to comment with additional info/questions and I'm happy to continue the conversation 👍

[2019-11-20 06:10] #680 closed

[2019-11-20 06:17] felangel commented on #679
@cver can you share a link to the complete app? It would be much easier to give feedback if we have the context of the whole application.

At first glance, it's unclear what the responsibilities of each of the blocs is and it seems like a fairly complex setup. I'm wondering if the bloc(s) can be simplified but would need to see the whole application to give better recommendations.

There are also

[2019-11-20 06:18] felangel commented on #681
Closing for now but feel free to comment with additional questions/information and I'm happy to continue the conversation 👍

[2019-11-20 06:18] #681 closed

[2019-11-20 06:19] felangel commented on #684
Hi @prankhazard 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the issue you're having? It would be much easier to help if I can run/debug the code locally 👍 Thanks!

[2019-11-20 06:25] felangel commented on #666
@agordeev can you re-test with v2.1.0 of the vscode extension? I updated the vscode extension dependencies and bundled the extension via webpack.

[2019-11-20 06:37] agordeev commented on #666
Nope, still the same error :(

[2019-11-20 06:40] felangel commented on #666
😢 I was hoping that would've helped. Do you think you'll have time to try to create a sample project which reproduces the problem?

[2019-11-20 07:26] cver commented on #679
Hi @felangel
Thanks so much for your support!

I think that BLoC class is most complex. For 3 other BLoCs `TodoBloc`, `CategoryBloc`, `LabelBloc`, I just put simple functions `Create`, `Update`, `Delete`.

[2019-11-20 19:07] dkobia commented on #656
@felangel I'm finding that wrapping the new route with an existing Bloc, seems to dispose the Bloc when the route is popped, leading to `Bad state: Cannot add new events after calling close` when you try to navigate back to that route again.

[code]

[2019-11-20 19:17] dkobia commented on #656
nm - `BlocProvider<BlocX>.value` provides the necessary fix for the above

[2019-11-20 23:32] ChristianKleineidam opened #686 "Why isn't there a BlocWidget?"
Plenty of my Widgets have the form:

[code]

It seems to me like this is the way of handling state that's encouraged by the library. This however is a lot of boiler plate code.

I created an new `BlocWidget `class for myself:

[code]

This class reduces the boiler-plate code and seem practical to me. Is there a reason why such a class currently doesn't exist?

[2019-11-20 23:37] felangel commented on #686
Hi @ChristianKleineidam 👋
Thanks for opening an issue!

Can you provide some more context? I'm not sure I understand the difference between `BlocWidget` and `BlocBuilder`.

Instead of:

[code]

Can't you can have:

[code]

Let me know what you think?

[2019-11-20 23:44] ChristianKleineidam commented on #686
The difference is that I can easily extend BlocWidget and overwrite handleState. As far as I can see I can't easily extend BlocBuilder.

[2019-11-20 23:46] felangel commented on #686
Can you provide a concrete example? I'm not sure I understand the use-case still. Your `BlocWidget` just looks like a wrapper around `BlocBuilder` which is already a widget. Instead of `builder` you expose `handleState` but the API seems identical.

[2019-11-21 06:02] felangel commented on #679
@cver no problem!

Did you have any other specific questions? If so, are you able to share a link to the project? Thanks!

[2019-11-21 08:27] audkar commented on #686
@ChristianKleineidam, how do you write tests for your widgets which explicitly extends `BlocWidget`?

[2019-11-21 11:20] ChristianKleineidam commented on #686
Example code:

[code]
`TopLevelWidget2 `is much more concise then `TopLevelWidget1`. As far as tests go, I haven't thought deeply about the ideal way of testing but it's easy to initiate a `ColorBlocWidget `and see whether the `handleState`-function returns the desired results. It seems to me similar to testing `getColorText`.
If I want to use ColorBlocWidget at more places in my code base, the ga

[2019-11-21 11:37] tenhobi commented on #686
I see this as unnecessary barreling. It might seem cool for some cases, but I would rather see the "more explicit" `BlocBuilder` in my widget tree + it follows the same interface as `StreamBuilder` does.

Your case only makes sense, if you want to use **the exact** same widget subtree to follow your BLoC in multiple places, which is most of the time not what you want. Even with the same data, on d

[2019-11-21 11:41] audkar commented on #686
I agree with tenhobi. Also I believe that your proposed solution is untestable.

It is not enough to check if correct state is returned. You also want to have ability to mock some parts of your logic. e.g. network calls. If you embed bloc builder inside your view/widget you lose ability to swap bloc implementation during testing.

[2019-11-21 13:06] rodriguesJeff opened #687 "A bug in portuguese doc"
**Describe the bug**
When i translated i left a bug

In my repo i fixed this bug, so can i open a pull request for fix this in official site?

**Expected behavior**
Image is expected to be below text.
Is expected a link, but the page don't receives it

**Screenshots**
here
![image](https://user-images.githubusercontent.com/32440959/69340092-77c69080-0c45-11ea-9dd9-e1574fa1b3ed.png)
and here too
![

[2019-11-21 13:44] ChristianKleineidam commented on #686
In the case of using the ColorBlocWidget only once the amount of boilerplate seems to be the same.

I think that there are plenty of cases where I do want to reuse a widget in multiple times but even if I don't want to reuse it completely, I might want to inherent from it. If I for example have a Bloc that returns events that shift the background color of my buttons, I can create a BackgroundColor

[2019-11-21 14:14] felangel commented on #686
@ChristianKleineidam thanks for providing more details. I think it's important to make the distinction between having "boilerplate" vs code that is easy to read/understand. I could make `TopLevelWidget1` have the same number of lines of code as `TopLevelWidget2` like:

[code]

In my opinion, I would argue that it's much cleaner/reusable to create a StatelessWidget, `ColorText`

[code]

This widget

[2019-11-21 15:56] Joaopacheco25 commented on #487
Hey @felangel
Could you tell me if the core bloc concepts link is down ?

[2019-11-21 15:58] felangel commented on #487
@Joaopacheco25 just checked and it's not down but it's really slow so try refreshing a few times. The site is hosted by github so hopefully it's back to normal soon 👍

[2019-11-21 16:00] Joaopacheco25 commented on #487
@felangel  Ok thanks 🙏

[2019-11-21 17:52] ctippur opened #688 "Bloc newbie question"
Hello,
We have a main.dart file and we are referencing video control code in a separate materialcontrol.dart file.
We have a submit button in the materialcontrol.dart file and when the button is pressed, we add an event.
We need to capture this event in the main.dart file. We have a bloc listener in main.dart and materialcontrol.dart files. We are able to listen to the event on only materialcontro

[2019-11-21 19:51] tenhobi commented on #688
@ctippur hello, can you show us some example of code, so we can look at it directly? Maybe create some small gist?

[2019-11-21 21:20] felangel commented on #688
Hi @ctippur 👋
Thanks for opening an issue!

As @tenhobi said, it would be great if you could share the link to a sample app which illustrates the problem you're having. Thanks!

[2019-11-21 21:21] felangel commented on #687
Hi @rodriguesJeff, thanks for bringing this up! Yeah you can definitely open a pull request to fix the issues you described! Thanks 😄

[2019-11-21 23:16] felangel commented on #684
Closing for now since there is no sample app to reproduce the issue. Feel free to add a link to a sample app and I'm happy to reopen the issue 👍

[2019-11-21 23:16] #684 closed

[2019-11-21 23:16] felangel commented on #679
Closing for now but feel free to comment with additional information/questions and I'm happy to continue the conversation 👍

[2019-11-21 23:16] #679 closed

[2019-11-22 00:01] sqrg opened #689 "The method 'add' isn't defined for the class 'AuthenticationBloc' on the flutter login tutorial"
**Describe the bug**
The method 'add' isn't defined for the class 'AuthenticationBloc'.
Try correcting the name to the name of an existing method, or defining a method named 'add'.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the [flutter_login tutorial
](https://bloclibrary.dev/#/flutterlogintutorial)

[2019-11-22 00:25] felangel commented on #689
Hi @sqrg 👋
Thanks for opening an issue.

Most likely the problem is you’re not using the latest versions of bloc and flutter_bloc. Can you please share your pubspec.yaml?

[2019-11-22 04:14] sqrg commented on #689
Yup, that was exactly the problem! Thanks

[2019-11-22 04:14] #689 closed

[2019-11-22 04:41] pazhut opened #691 "Only last yield is being received at BlocBuilder"
Considering the following code:

@override
  Stream<AuthenticationState> mapEventToState(
    AuthenticationEvent event
  ) async* {
    print("event $event");
    if (event is ScreenEntered) {
      yield* mapScreenEnteredToState();
    } else if (event is ClickedGoogleSignIn) {
      yield* mapClickedGoogleLoginToState();
    }
  }

  Stream<AuthenticationState> mapScreenEnteredToState() async*

[2019-11-22 06:19] felangel commented on #691
Hi @pazhut 👋
Thanks for opening an issue!

Can you please share a link to a sample app that illustrates the issue? It would be much easier for me to take a look and offer feedback/recommendations. Thanks 👍

[2019-11-22 13:18] mateusfccp commented on #528
I appreciate your help and the provided _snippet_.

I may be wrong, but I though BLoC was also a way to avoid using `setState` so the entire widget tree won't be redrawn, which would result on better performance. Considering this, won't use `setState` with animation less performatic?

Thanks, in advance.

[2019-11-22 14:39] pazhut commented on #691
Hi

thanks for quick response, attached is the lib part of my project, i kept just the relevant files (so i am not sure if this will compile) it have all the Bloc related code, you should click the Google sign in button to kick start the process, note the difference between first click on the button
[lib.zip](https://github.com/felangel/bloc/files/3879963/lib.zip)
and any other following it

Paz

[2019-11-22 15:25] tenhobi commented on #528
@mateusfccp BLoC also make widget tree redrawn, using `BlocBuilder` for example. Check for example how `StreamBuilder` works, this is very similar.

The purpose is not to not use `setState`, we use BLoC or some other state management to keep things separated (UI vs logic), so we can use advanced methods for managing state, run logic code, testing etc.

Animation, on the other hand, is not necessar

[2019-11-22 17:53] arnemolland opened #692 "blocTest 'Couldn't infer type' when only expecting one or more of the same type"
I'm experiencing an issue where Dart complains when expecting one or more states of the same type in a `blocTest`. I'm normally using a linter, but I can confirm this occurs with the default rules as well.

My setup looks like this:
[code]
An example of what works:
[code]
An example of what does not work:
[code]
The error message I'm getting from Dart:
[code]
Does this issue lie within the library

[2019-11-22 19:09] felangel commented on #692
Hi @arnemolland 👋
Thanks for opening an issue!

The problem in the second scenario is that Dart infers the type of the states as `InitialProfileState` instead of `ProfileState`.

You should be able to fix this by just specifying the type of the `expect` like:

[code]

Let me know if that helps and in the meantime I'll see if there's anything I can do to improve the developer experience 👍

[2019-11-22 19:19] arnemolland commented on #692
Ah, of course! Thanks for pointng that out 🙌 In this case I think the Dart warning itself was a little unclear compared to most type mismatch cases, even though I should’ve been able to catch it myself.

If this is a common issue, it could be mentioned in the blocTest documentation. However, it’s not really up to each library to warn users about Dart’s own type system imo.

[2019-11-22 19:21] felangel commented on #692
Awesome! Thanks for the feedback, I'll definitely update the docs to mention this 👍

[2019-11-22 23:00] tobitoi commented on #656
hello @felangel can you take a look my interceptors always error => see image
=> link intercepstors https://gist.github.com/tobitoi/d6f6d26a7d9398c1046df18d804ff895
![Capture](https://user-images.githubusercontent.com/20135081/69466356-c21f4d00-0dbe-11ea-97a2-6302b23c45d8.PNG)

[2019-11-23 18:58] felangel commented on #687
Fixed in https://github.com/felangel/bloc/commit/1379880c8e4c6bfe71ec3f36cef7ee6a325e55a4. Thanks for reporting this 👍

[2019-11-23 18:58] #687 closed

[2019-11-23 18:59] felangel commented on #686
Closing for now but feel free to comment with additional information/feedback and I'm happy to reopen the issue 👍

[2019-11-23 18:59] #686 closed

[2019-11-23 19:00] felangel commented on #688
Closing for now but feel free to comment with additional information/link to a sample app and I'm happy to reopen the issue 👍

[2019-11-23 19:00] #688 closed

[2019-11-23 19:07] felangel commented on #692
Updated the docs in https://github.com/felangel/bloc/commit/2f2a9a0f014e41c0b5089e0c15838d093a58a2ce.

[2019-11-23 19:07] #692 closed

[2019-11-23 19:16] felangel commented on #691
@pazhut it's possible that `authenticationRepository.signInWithGoogle()` happens so fast and `AuthInProgress` and `Authenticated` are emitted back-to-back so `BlocBuilder` only processes `Authenticated`. You can confirm this by override `onTransition` in your bloc and printing each transition. If you see two transitions (`AuthInProgress`, followed by `Authenticated`) then it's most likely what I d

[2019-11-23 19:16] #691 closed

[2019-11-24 07:22] felangel commented on #656
Hi @tobitoi you don't have access to `BuildContext` in your interceptor and you're trying to do a lookup using a null context. You shouldn't be trying to do the lookup outside of the widget tree. Instead, you should inject the bloc into the interceptor via constructor. Hope that helps 👍

[2019-11-24 16:06] nerder opened #693 "v0.* to v2 Migration guide?"
**Is your feature request related to a problem? Please describe.**
I think a migration guide from `v1` to `v2` would be very handy and useful and even incentivize the upgrade.

**Describe the solution you'd like**
A migration guide

**Describe alternatives you've considered**
None

**Additional context**
None

[2019-11-24 16:11] nerder opened #694 "Using semver and mark breaking changes when they happen"
**Is your feature request related to a problem? Please describe.**
Would be nice to follow `semver` for versioning of the packages here, i'm not able to understand how the version number got chosen at the moment, plus breaking changes are not explicit when they happen.

**Describe the solution you'd like**
https://semver.org/

**Describe alternatives you've considered**
None
**Additional context**

[2019-11-24 16:12] felangel commented on #694
Hi @nerder 👋
Thanks for opening an issue.

Is there a specific case you're referring to? We use semver in all bloc packages.

[2019-11-24 16:19] felangel commented on #693
Hi @nerder 👋
Thanks for opening an issue. The migrations steps can usually be found by going through the [changelog](https://github.com/felangel/bloc/blob/master/packages/bloc/CHANGELOG.md). In this case, v2.0.0 links to https://github.com/felangel/bloc/issues/639 which has migration steps listed (https://github.com/felangel/bloc/issues/639#issuecomment-549497003).

I've also updated the README to

[2019-11-24 16:19] #693 closed

[2019-11-24 16:21] nerder commented on #694
As far as i know/understand,  in`semver` :

MINOR version when you add functionality in a backwards compatible manner, and
PATCH version when you make backwards compatible bug fixes.

This does not seems like the case here for instance
![image](https://user-images.githubusercontent.com/3502356/69497538-7663c500-0ede-11ea-9bac-62e694e844e8.png)

this is a minor version upgrade but you deprecate a m

[2019-11-24 16:23] felangel commented on #694
This is because those changes were pre-1.0.0 but it was still following semver.

If you pubspec.yaml looked like:
[code]

You would not automatically get the updates to v0.16.0 as they were breaking changes.

https://dart.dev/tools/pub/versioning

[2019-11-24 16:26] nerder commented on #694
I see, that looks like an opinionated choice indeed, but if it's written out i think it's ok.
Thank you so much for the clarification 👍

[2019-11-24 16:26] #694 closed

[2019-11-24 16:35] felangel commented on #694
@nerder thanks for the feedback. I'll add `[BREAKING CHANGES]` in the changelog moving forward to make it extra clear 👍

[2019-11-25 01:48] tobitoi commented on #656
thank you for respon, now im already update my interceptor to inject the auth bloc but always link => https://gist.github.com/tobitoi/d6f6d26a7d9398c1046df18d804ff895

can you help how to make it userRepo not null, @felangel

[2019-11-25 01:57] felangel commented on #656
@tobitoi can you share the code where you create the interceptor?

[2019-11-25 01:59] tobitoi commented on #656
here the link @felangel

[2019-11-25 02:00] felangel commented on #656
@tobitoi sorry I meant can you share where you create `BaseApi`?

[2019-11-25 02:03] tobitoi commented on #656
here link my repo base_api

[2019-11-25 02:10] tobitoi commented on #656
im already push the new base api @felangel

[2019-11-25 02:11] felangel commented on #656
@tobitoi but where do you create an instance of `BaseApi`?

[code]

[2019-11-25 02:30] tobitoi commented on #656
im already try like this

import 'package:mobile_version/repository/repo.dart';
import '../config.dart';
import '../constant.dart';

but some error like the pict. i don't know whats wrong
![Capture](https://user-images.githubusercontent.com/20135081/69507772-9f339b00-0f6e-11ea-8069-92797c7bc1fe.PNG)

[2019-11-25 02:38] felangel commented on #656
You need to actually inject the repository like:
[code]

[2019-11-25 02:55] tobitoi commented on #656
i tried like this `BaseApi _baseApi = BaseApi(UserRepository());`

but the errror still same @felangel

[2019-11-25 03:03] felangel commented on #656
@tobitoi can you please provide steps to reproduce the issue? Do i have to login? If so what credentials can I use?

[2019-11-25 03:09] tobitoi commented on #656
im already email username and password please check it  @felangel

tobitoii08@gmail.com

[2019-11-25 03:09] felangel commented on #656
@tobitoi thanks but once I login what do I need to do to reproduce the error?

[2019-11-25 03:17] tobitoi commented on #656
@felangel basically i want if token expired direct to login form and delete the token expired  just change the 401(expired) to 403(access denied and redirec to login again) to test it  in interceptors => https://github.com/tobitoi/mobile_version/blob/master/lib/data/config/base_api.dart

[2019-11-25 03:23] felangel commented on #656
@tobitoi thanks for clarifying. I took a look and you are not using dependency injection at all (you're instantiating empty `BaseApi()` instances all over the place and also have a circular dependency:

UseRepository -> LoginApi -> BaseApi -> UserRepository

This doesn't make sense; BaseApi should not have a dependency on UserRepository.

Sorry I'm not able to give a quick fix because I think you

[2019-11-25 03:36] felangel commented on #656
@tobitoi I created https://github.com/tobitoi/mobile_version/pull/1 as a temporary fix but you need to read about dependency injection and either use `RepositoryProvider` or some other DI to clean up the dependency graph in your project.

[2019-11-25 03:44] tobitoi commented on #656
thank you alot @felangel. do you have reference for DI

[2019-11-25 03:45] tobitoi commented on #656
thank you alot @felangel. do you have reference for DI

[2019-11-25 17:27] agordeev commented on #666
I managed to fix the issue by simply replacing `any` version to actual version or a blank space:

    equatable: any

to this:

    equatable: ^1.0.1

or even

    equatable:

in `pubspec.yaml`.
Apparently VSCode extension subsystem somehow interferes with Flutter dependency manager.

[2019-11-25 18:10] felangel commented on #666
hmm very strange 🤔 ...

Thanks for sharing, I'll try to reproduce this and see if I can improve anything in the extension.

[2019-11-25 19:05] korzonkiee opened #695 "Allow emitsExactly to take iterable of matchers as an argument"
Currently, `emitsExactly` takes only a list of states as an argument. This is enough for simple cases, however I'm using classes to represent bloc's events and states.

Running the following test:
[code]

results with the following error:

[code]

That's because instances of states emitted by bloc and instances of states passed to `emitsExactly` are not equal.

I'm aware that I can solve this prob

[2019-11-25 20:08] felangel commented on #695
Hi @korzonkiee 👋
Thanks for opening an issue!

I think your proposal makes sense and if you want to open a PR that would be awesome 👍
Thanks!

[2019-11-26 00:49] felangel commented on #695
Added in #696 and published in v2.2.0

[2019-11-26 00:49] #695 closed

[2019-11-26 01:16] felangel commented on #656
@tobitoi check out [dependency injection](https://en.wikipedia.org/wiki/Dependency_injection) for an overview and once you have a good understanding then I'd recommend looking at [RepositoryProvider](https://github.com/felangel/bloc/issues/519#issuecomment-532031164) 👍

[2019-11-26 02:34] tobitoi commented on #656
Base on my understanding in #519 better to inject all repository in root of app ? Or just userRepository? Correct me if im wrong @felangel

[2019-11-26 04:17] agordeev commented on #666
I doubt this is something in extension

[2019-11-26 12:00] huang12zheng opened #697 "It is need a blocDelegate Union"
I need to a lot of delegate, maybe. it is ugly to use extends. Since that, I code as follow:
[code]
[code]
And, use Case:
[code]

is It any suggestion?

[2019-11-26 14:26] felangel commented on #697
Hi @huang12zheng 👋
Thanks for opening an issue!

Can you please provide more information regarding what the different delegates are used for? You should generally prefer wrapping your bloc code in try/catch and handle custom error logic within each bloc.

[2019-11-26 14:49] huang12zheng commented on #697
when I click like button, I would check that is user login.&nbsp;
or when&nbsp;I click like button in some page (group page) .&nbsp;I would check that is user is a member.&nbsp;
in this example I give ,&nbsp; I think a delegate is a good solution.&nbsp; &nbsp; do something I&nbsp; not find?&nbsp;

---Original---
From: "Felix Angelov"<notifications@github.com&gt;
Date: Tue, Nov 26, 2019 22:26 PM
To

[2019-11-26 17:47] felangel commented on #697
@huang12zheng I think you should handle checking if the user is a member within the bloc that  cares rather than making that logic global. The delegate should ideally be reserved for global handling of errors/events/transitions for things like logging/analytics.

[2019-11-27 12:05] huang12zheng commented on #697
For Like, favorites, comment button, click it, it sends a LikeEvent,UnLikeEvent, FavoriteEvent,UnFavoriteEvent...
In my logic, these buttons are only related to its events. But because of some of the scenarios above, I need to intercept these events and toast error for them.
----
On my understanding, you suggested that I put this judgment in Bloc.
If I put it on LikeEvent, it's not very good, beca

[2019-11-27 14:10] huang12zheng commented on #697
Just Thank you very much.

[2019-11-27 14:42] felangel commented on #697
@huang12zheng I think if you have a FavoritesBloc which can emit a FavoriteFailure state (in the case of some network error) you can have a BlocListener to show a toast like:

[code]

You can also check out the [SnackBar Recipe](https://bloclibrary.dev/#/recipesfluttershowsnackbar) for more information.

Let me know if that helps.

[2019-11-27 15:39] huang12zheng commented on #697
thank for reply.&nbsp;
checking and getting a&nbsp;eventResult in backend. it is a good idea.&nbsp; but I need to do some review.&nbsp; it is help for me.&nbsp;

---Original---
From: "Felix Angelov"<notifications@github.com&gt;
Date: Wed, Nov 27, 2019 22:42 PM
To: "felangel/bloc"<bloc@noreply.github.com&gt;;
Cc: "huang12zheng"<805104533@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject:

[2019-11-27 19:54] omarbelkhodja opened #699 "2.1.0 doesn't compile"
After upgrading to the latest version 2.1.0, I was not able to compile my project again, because of the following error :

[code]

**To Reproduce**
Add the following to your project

[code]

[2019-11-27 19:58] felangel commented on #699
Hi @omarbelkhodja 👋
Thanks for opening an issue!

This is my fault, I didn't enforce `provider >= 3.2.0`.
It has been fixed in flutter_bloc v2.1.1 👍

[2019-11-27 19:58] #699 closed

[2019-11-27 20:36] felangel commented on #697
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2019-11-27 20:36] #697 closed

[2019-11-27 20:38] felangel commented on #666
Tried reproducing the issue and still nothing 😞

Closing for now since you've figured out how to resolve it on your side and it doesn't appear to be related to the bloc extension as you pointed out 👍

[2019-11-27 20:38] #666 closed

[2019-11-28 03:40] KingDarBoja commented on #670
I do recommend Discord over Slack as you can make your own bots for free, have several cool features that Slack keeps on their premium tier and also, it has better code formatting :)