[2020-12-30 03:51] felangel commented on #2034
Hi @cedvdb 👋
Thanks for opening an issue!

I don't think this is necessarily something that should be part of the bloc package. In my opinion, this feature request pertains to any dart code which involves StreamSubscriptions. If you feel the current handling of subscriptions is sub-optimal you could create a new package which defines a `Disposable` mixin like:

[code]

Then you can use this with y

[2020-12-30 03:53] felangel commented on #2037
Hi @chanreylee 👋
Thanks for opening an issue and sorry for the delayed response!

I'm currently working on migrating the bloc ecosystem to null-safety and plan to go back and update all of the examples and tutorials as soon as that's wrapped up 👍

[2020-12-30 03:56] felangel commented on #2039
Hi @popay34 👋
Thanks for opening an issue and sorry for the delayed response!

I'm not sure what you mean. Unless I'm missing something I believe the above code should work fine. Can you please provide a link to a github repo which reproduces the issue you're facing and I'm happy to open a pull request with any suggestions, thanks! 🙏

[2020-12-30 04:00] felangel commented on #2040
Hi @AndreGroeschel 👋
Thanks for opening an issue and sorry for the delayed response!

I don't think I understand the reproduction steps/issue. The example you provided manually disposes the bloc from the `dispose` of the `State` class. In the example you linked, `dispose` will only get called when the `AppState` is disposed which only will happen if the `App` widget is unmounted from the widget tr

[2020-12-30 04:00] #2040 closed

[2020-12-30 04:02] felangel commented on #2041
Hi @MdeBruin93 👋
Thanks for opening an issue and sorry for the delayed response.

Can you please provide a link to a reproduction sample and I'm happy to take a closer look and open a pull request with any suggestions/feedback. Thanks 🙏

[2020-12-30 04:04] felangel commented on #2042
Hi @peterdownunder 👋
Thanks for opening an issue and sorry for the delayed response!

Are you able to provide a link to a sample app which illustrates the issue you're facing? It would be much easier for me to help if I'm able to reproduce the issue locally, thanks! 🙏

[2020-12-30 04:07] felangel commented on #2043
Hi @TN888 👋
Thanks for opening an issue and sorry for the delayed response!

This is working as intended. `BlocBuilder` can rebuild at any time (you should treat it like the `build` method of your widget) and each time it is called it will have the latest state of the bloc at the moment in time. The scenario you described should not be a problem and is likely only an issue because your `builder` h

[2020-12-30 04:07] #2043 closed

[2020-12-30 04:09] felangel commented on #2045
Closing as this is a duplicate 👍

[2020-12-30 04:09] #2045 closed

[2020-12-30 04:11] felangel commented on #2046
Hi @teneon 👋
Thanks for opening an issue and sorry for the delayed response!

As @mikededo mentioned, this behavior has nothing to do with bloc and is simply a result of how flutter prints long strings. See https://github.com/flutter/flutter/issues/22665 for more information 👍

[2020-12-30 04:11] #2046 closed

[2020-12-30 04:14] felangel commented on #2047
Hi @AliHoseinpoor 👋
Thanks for opening an issue and sorry for the delayed response!

If you are manually subscribing to streams in your UI you will need to check if the widget is still mounted before interacting with the `context` and you should also cancel the subscription in the `dispose` override of your state to avoid having a memory leak. I believe that will solve the issue you are facing.

H

[2020-12-30 04:14] #2047 closed

[2020-12-30 04:18] felangel commented on #2049
Hi @andrea689 👋
Thanks for opening an issue and sorry for the delayed response!

In this case you cannot use `verify` because the bloc instance isn't a `Mock`. Generally, you should be less concerned about internal events being added by the bloc and more concerned with the emitted states. If you really do want to verify that the other event was added internally, you can always create a `MockBlocOb

[2020-12-30 04:18] #2049 closed

[2020-12-30 04:30] github-actions[bot] opened #2051 "[Translations] Update docs"
Update Translations to include changes from 96e4d7e46e0040473bc8b2412278b43f03afed8f.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-12-30 07:28] hu70258tao commented on #2023
![image](https://user-images.githubusercontent.com/20218008/103336534-76f06700-4ab3-11eb-8dc2-fdd23b88eb54.png)
我有一处代码,被注释掉的写法,会报异常:Tried to use `context.read<MessageBloc>` inside either a `build` method or the `update` callback of a provider

[2020-12-30 08:44] wuweijian1997 commented on #2023
read方法上的注释是说不要再build里面用这个方法,read是在事件里面用的.
[code]

[2020-12-30 09:36] wujek-srujek opened #2052 "blocTest type inference fails when 'seed' is used and state is a type hierarchy"
**Describe the bug**

Given this code:

[code]
type inference fails for test 'test with seed' with the error 'Couldn't infer type parameter C'. Similar tests work for much simpler cases, like if the state is a plain `int`. To make inference work I can do this:

[code]
but this in turn generates the warning 'Unnecessary cast'.

I played around a bit and it turns out that:
1. If state is a type hier

[2020-12-30 18:06] #2039 closed

[2020-12-30 21:30] AndreGroeschel commented on #2040
Hi @felangel,

thank you very much for the detailed explanation! Now it makes sense to me why `Dispose `never got called or automatic disposal is not working.

Regarding the example, I think now that it's more of a general Flutter problem. If I run the code above on Android and close the app, `Dispose` never gets called. Apparently, for the same reason that you explained...the top-level widget nev

[2020-12-31 09:28] MdeBruin93 commented on #2041
Hi @felangel ,

Thanks for your reply. I will upload a sample to GitHub asap. The current project is on Azure DevOps.

[2020-12-31 10:00] AliHoseinpoor commented on #2047
Hello my dear friend. Thank you for your response. I do not listen to the stream of a block manually in the code, but I am listening to another stream that comes from the audio service package, and in that stream I am calling an event from the block. Has this caused a problem? Because what I understood from your message was that I was listening directly to my bloc stream and changing its event if

[2020-12-31 15:23] cedvdb commented on #2034
You are right, great idea

[2020-12-31 15:39] dmayle commented on #2033
@felangel no worries on the timing... especially since it's the holidays.  Thanks for getting back to me!

I'm actually working with GRPC, where auth interceptors are attached at the level of the client, which is typed per-service.  This means that I have to choose between either storing the interceptor (and token) in a data package which understands all of the GRPC services I use, or I have to ha

[2020-12-31 16:25] #2034 closed

[2021-01-01 10:46] MdeBruin93 commented on #2041
Hi @felangel ,

Here is the link to a reproduction sample. This time I've quickly used your login flow without Firebase and added the needed setup with tabscreen and some test screens.
[https://github.com/MdeBruin93/repo-sample](https://github.com/MdeBruin93/repo-sample)

Thank in advance for your help and suggestions.

[2021-01-01 16:01] dmayle commented on #2033
@felangel I'm trying to get my head wrapper around your statement:

Would it make sense to than have, for example, a `LoginBloc` for the login menu, and then a `MessagesBloc` without having the explicit `UserBloc`?

[2021-01-01 19:47] peterdownunder commented on #2042
No problem about the delay, it is Christmas after all.

I gather that this is unexpected. I have since tried modifying the counter example that you have in your demo, but cannot reproduce it. I will close this issue and post a comment later if when find out what is causing this.

Quite likely due to some misunderstanding on my part and could be more related to flutter rather than specifically to b

[2021-01-01 19:47] #2042 closed

[2021-01-02 07:04] felangel commented on #2033
Yup 👍

[2021-01-02 07:29] felangel commented on #2052
Hi @wujek-srujek 👋
Thanks for opening an issue!

Unfortunately, I believe this is a limitation of Dart's type inference.

When you specify a seed of type `IntSuccess(3)`, Dart infers the generic to be `IntSuccess` rather than `IntState` which results in it being unable to reconcile the cubit/bloc type since it expects `IntBloc` to extend `Bloc<IntEvent, IntSuccess>` rather than `Bloc<IntEvent, Int

[2021-01-02 09:14] wujek-srujek commented on #2052
Ok, thanks for confirming it.

[2021-01-02 09:14] #2052 closed

[2021-01-03 03:20] cedvdb commented on #2034
@felangel for info a much simpler solution, since the cubit is a stream is to use rxdart takeUntil

takeUntil(this)

this will close the subscription when the cubit is destroyed

[2021-01-03 06:14] bobykurniawan11 opened #2053 "Are there any example using bloc with flutter_downloader ?"

[2021-01-03 17:03] McCrafterIV commented on #2026
Due to the complexity of the project, I really can't post more source code because it's probably even then not reproducible. Maybe we could talk or chat about my application (Discord, Telegram etc.) so I can show you @felangel how the project works and can give you login credentials so you can run the app on your machine/device?

[2021-01-03 22:15] yanisG opened #2054 "Merging Stream and future with BLOC state management"
hello ,
**I'm trying to get a **stream of List <Product>** in a cart, inside that Cart there is IDs of products so for each ID i want to get a particular product and display its informations.**

My soltion was :

**//collections of the CART and All Products**
[code]
**//here i'm getting stream of List of Future Product**
[code]
**//in the Bloc part :**
[code]
**the issue is i'm not getting all the

[2021-01-04 11:32] ComputelessComputer opened #2055 "Question regarding to the Firebase Login Tutorial."
Hello, I am currently implementing an authentication bloc with firebase auth.

I have some questions regarding to the [tutorial](https://bloclibrary.dev/#/flutterfirebaselogintutorial) in the bloc library.

Here, the AuthenticationBloc listens to the user's authentication state.

[code]

and also the MaterialApp widget has a BlocListener, listening to the change of the authentication state.

[code

[2021-01-04 12:33] DFelten commented on #955
In our case the mixin solution wasn't possible because the bloc is a part of an other package.

The solution we found is to create a new class which extends from the desired BloC:
[code]

[2021-01-04 12:57] MaxAuer opened #2056 "[bloc_test] How do I test the State"
Hey!

Just a quick question.

Is there a way to test the outputs of a state in `expect` or `verify`?

I have a cubit that generates a Training from a set of Exercises. The generation is random.
I now want to verify that the sum of each Exercises duration is the requested value.

I have a State (TrainingCreationDone) that returns the Exercise List and now want to test if the sum of all Exercises du

[2021-01-04 13:44] MaxAuer commented on #2056
For future reference:

I figured out that I can just use the State in the verify and solved it the following way:

[code]

[2021-01-04 13:44] #2056 closed

[2021-01-04 21:55] madhuflutter commented on #2006
Any update please?

[2021-01-05 02:56] wuweijian1997 commented on #2006
![image](https://user-images.githubusercontent.com/29529286/103601082-db904380-4f43-11eb-8ba5-179a0ef42640.png)
![image](https://user-images.githubusercontent.com/29529286/103601111-eb0f8c80-4f43-11eb-8931-a6e41784f0ae.png)

Each time you click `TextField`, an additional `SearchView` page will be created in the routing stack.
![image](https://user-images.githubusercontent.com/29529286/103601264-3b

[2021-01-05 03:00] wuweijian1997 commented on #2006
It's not about the library, it's about your own business logic.I hope it helps you.

[2021-01-05 03:02] #2006 closed

[2021-01-05 09:44] spoenemann opened #2057 "Open VSX Listing: Signing the Publisher Agreement"
Thank you for being part of the Open VSX community by adding your extensions to the Open VSX Registry. Please note that the service was recently transferred to the Eclipse Foundation and urgent action on your part is needed so we can continue to list your extensions. To ensure uninterrupted service, please sign the [Eclipse Publisher Agreement](https://www.eclipse.org/legal/documents/eclipse-openv

[2021-01-05 11:55] dmayle commented on #2033
Further along in my code... @felangel How do you handle logout then?  By piping through the UserRepository to any feature that needs logout UI?  Or by making any feature that needs logout UI include logout in the feature bloc?

[2021-01-05 14:48] nguyenxndaidev opened #2058 "How to throw error to StreamBuilder.builder"
I am using `StreamBuilder` to consume a `Cubit`. Asumme that I only want to use `StreamBuilder` for my widgets, don't want to use `flutter_bloc` package.

How can I throw error to `snapshot.error` in `StreamBuilder.builder` method?

I tried to use `addError()`, but my app just throws exception and I cannot handle the error inside `StreamBuilder.builder` method with `snapshot.hasError`.

[2021-01-05 15:04] nguyenxndaidev commented on #2058
If I wrap error inside my `ErrorState`class, I cannot handle the same error 2 times, because the cubit/bloc will ignore the same state.
I want to retry the same thing after error and 99% I will get the same error and I need to handle it again.

[2021-01-05 15:21] tgbarker commented on #919
I used this approach and it worked for me too. Thank you for this. I would presume it is an appropriate approach.

[2021-01-05 20:27] felangel commented on #2058
Hi @nguyenxndaidev 👋
Thanks for opening an issue!

Out of curiosity, why do you wish to use `StreamBuilder` in favor of `BlocBuilder`?

A bloc converts events into states and does not explicitly throw errors. You will need to yield some sort of an `Error` state from the bloc and handle it in the `onData` callback of the `StreamBuilder`.

If you always yield a new instance of the `ErrorState` and d

[2021-01-05 22:43] nguyenxndaidev commented on #2058
Hi @felangel,

Thanks for your reply!

It means I need to change the State classes hierarchy, because normally I will use it at the root State class.
Another workaround is to add smt random to props, ex. timestamp.

I don't want to mix too many things from 3rd party libraries to my widget tree. If I want to change the architecture of my app, I want to minimize refactoring the widget tree. I also u

[2021-01-05 22:43] #2058 closed

[2021-01-06 03:32] felangel commented on #2057
@spoenemann thanks for bringing this up! I completed the signing process 👍

[2021-01-06 03:32] #2057 closed

[2021-01-06 03:34] felangel commented on #2053
Hi @bobykurniawan11 👋
Thanks for opening an issue!

I personally am not aware of an example but is there anything in particular that you'd like to see? If you have a sample app which uses `flutter_downloader` and are having trouble integrating with bloc, I'm more than happy to take a look and provide suggestions/feedback. Let me know what you think, thanks! 🙏

[2021-01-06 03:41] felangel commented on #2054
Hi @yanisG 👋
Thanks for opening an issue!

Are you able to provide a link to a sample app which illustrates the issue you're facing? It would be much easier for me to help if I could run/debug the example locally and open a pull request with suggestions. Thanks 🙏

[2021-01-06 03:48] felangel commented on #2055
Hi @ComputelessComputer 👋
Thanks for opening an issue and happy new year! 🎉

Regarding your question, I would recommend determining if a user is a first time user in the `AuthenticationRepository` and exposing it as a property on the user object.

[code]

Then you can add a new `AuthenticationStatus` like `AuthenticationStatus.createAccountRequired` and emit that as part of the AuthenticationState

[2021-01-06 03:48] #2055 closed

[2021-01-06 03:49] felangel commented on #2032
Closing for now since I'm unsure of what the desired outcome for this issue is. Feel free to comment with additional information and I'm happy to reopen this and continue the conversation 👍

[2021-01-06 03:49] #2032 closed

[2021-01-06 03:55] felangel commented on #955
@hyiip you can create a reusable widget using generics like:

[code]

Hope that helps 👍

[2021-01-06 03:57] felangel commented on #2026
@McCrafterIV yeah definitely! DM me on [discord](https://discord.gg/Hc5KD3g) 👍

[2021-01-06 04:07] felangel commented on #2041
Hi @MdeBruin93 👋
Sorry for the delay! I took a closer look and believe you should be able to achieve the behavior you want by using `pushNamedAndRemoveUntil` like:

[code]

Hope that helps! Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-01-06 04:07] #2041 closed

[2021-01-06 04:17] felangel commented on #2047
@AliHoseinpoor can you provide a reproduction sample? It'd be much easier to help if I'm able to reproduce the issue locally, thanks! 🙏

[2021-01-06 04:19] felangel commented on #363
@DEEPJYOTSINGHKAPOOR BlocListener gets triggers once for each state change. Please refer to the [FAQ](https://bloclibrary.dev/#/faqs?id=state-not-updating) for more information on state not updating 👍

[2021-01-06 04:22] felangel commented on #2025
@w461 can you provide a reproduction sample? It'd be much easier for me to help if I'm able to reproduce the issue locally, thanks! 🙏

[2021-01-06 04:24] felangel commented on #524
@valehasadli can you please provide a reproduction sample? Thanks!

[2021-01-06 05:37] ComputelessComputer commented on #2055
@felangel Thank you for your sincere reply 🙏  I will try it and get back to you asap.

[2021-01-06 06:07] felangel commented on #2002
@II11II the reason builder works is because the UI is because BlocBuilder builds whenever the framework decides to build and is not guaranteed to be called once for each state change (since there must always be a widget rendered each frame). I highly recommend applying the suggestion above to lift the `BlocListener` higher in the widget tree to ensure states are missed.

[2021-01-06 06:14] felangel commented on #2008
@shaan-saz did you forget to push your changes? The reproduction sample still is missing a Google Services configuration file so I'm unable to run it locally.

[2021-01-06 06:16] felangel commented on #173
@kazbeksultanov can you please provide a reproduction sample which illustrates the problem you're encountering? Thanks 👍

[2021-01-06 06:21] felangel commented on #1979
Hi @fernando-s97 thanks for providing a reproduction sample. The reason this doesn't work is because you cannot access the repository from a context above the one in which it is provided. On https://gist.github.com/fernando-s97/245f727d37e2ab1f979dfc370779afc4#file-non_working_sample-dart-L15 the context being used to do the lookup doesn't contain the repository because it is provided later on in

[2021-01-06 06:23] felangel commented on #1971
Closing for now since there is not reproduction sample. Feel free to provide one and I'm happy to take a closer look 👍

[2021-01-06 06:23] #1971 closed

[2021-01-06 08:05] nibo opened #2059 "[bloc_test] Test with multiple Matchers will not completing"
**Description**
I got a complex cubit which emits a state after initialization. In the act-part of blocTest i call an additional method from the cubit which emits another state. So in the expect-part i got two states which should be emitted.
If i debug the blocTest everything works as expected and the `test.expect(states, expect);` method is called. At this point the emitted states are exactly wha

[2021-01-06 14:07] shaan-saz commented on #2008
@felangel Oops, I forgot to push it, sorry for that. Now you can check it.

[2021-01-06 14:25] JohnGalt1717 commented on #1932
Hi there, it looks like hydrated and replay have not been updated to support the null safety of the base packages?

[2021-01-06 14:45] cnpog commented on #2033
@dmayle I am working on something similar currently but I do not know how I can do the following:
1. Saving the jwt I receive from my Login grpc service (currently I do not know how to save it at all but I want to save it in storage so when the app opens I do not need to login again)
2. Saving a User in the repository (The idea is that after I receive the jwt, I can use the token to retrieve User

[2021-01-06 16:09] felangel commented on #1932
Hi @JohnGalt1717 yup, this is high on my priority list and should be done sometime this week 👍

[2021-01-06 16:14] JohnGalt1717 commented on #1932
@felangel whoohoo!  Now for freezed.. ;)

[2021-01-06 17:08] dmayle commented on #2033
@cnpog if you store your jwt in a Bloc, than you can switch to HydratedBloc, which will automatically persist the state for you, you just have to define fromJson and toJson methods.
In the architecture of bloc, 'repository' is a model-specific library, so you wouldn't store data persistently in the repository, though I suppose you could provide methods to load it to or from `hive` (a dart/flutter

[2021-01-06 17:29] felangel commented on #2033
For managing tokens, I would highly recommend taking a look at [fresh](https://github.com/felangel/fresh).

[2021-01-06 17:56] dmayle commented on #2033
@felangel My reading of [fresh](https://github.com/felangel/fresh) is that it handles OAuth2 token when using dio or graphql, which makes it mostly useful for third-party authentication.  @cnpog may or may not be exposing OAuth2 tokens over GRPC, and I definitely am not using OAuth2, mine is a first-party auth only.

[2021-01-06 17:58] felangel commented on #2033
@dmayle fresh is not limited to OAuth2 and can support custom auth solutions as well 👍

[2021-01-06 18:03] dmayle commented on #2033
@cnpog I just added hive to my UserRepository and it took something like 13 lines of code to persist, retrieve and update the token/user.

[2021-01-06 18:06] felangel commented on #2033
The storage is fairly simple however you'll likely also need to send the token with each outbound request.

[2021-01-06 18:33] II11II opened #2060 "UI update"
Is it recommended to use blocbuilder (instead of converting widget to Statefull and use setState) for simple ui update based on user interactions only?

[2021-01-06 18:34] felangel commented on #2060
Hi @II11II 👋
Thanks for opening an issue!

If there is no business logic involved there is no need to use a bloc and BlocBuilder. Feel free to use a StatefulWidget and setState 👍

[2021-01-06 18:34] #2060 closed

[2021-01-06 18:37] II11II commented on #2060
HI @felangel )
Thank for fast reply)
This question was appeared based on your example of using bloc in counter app

[2021-01-06 19:11] felangel commented on #2060
No problem! I would argue that incrementing the counter is business logic which is why the bloc was introduced.

[2021-01-06 21:31] McCrafterIV commented on #2026
Great thanks!

[2021-01-07 03:43] hu70258tao opened #2061 "关于一个事件产生多个状态的问题"
首先,我贴上一段正常的代码:
if(event is GateInited)yield state.copyWith(status: _check());
    // else if(event is ChangeKaiDu)yield* _changeKaiDu(event.value.trim());
    else if(event is ChangeKaiDu){
      print("事件A:${state.kaiDu.value}");
      KaiDuModel kaiDu = KaiDuModel(event.value.trim());
      yield state.copyWith(
        kaiDu: kaiDu
      );
      print("事件B:${state.kaiDu.value}");
      yield s

[2021-01-07 03:53] hu70258tao commented on #2061
一段最简单的代码和输出:
![Uploading image.png…]()

[2021-01-07 03:54] hu70258tao commented on #2061
![Uploading image.png…]()

[2021-01-07 04:05] hu70258tao commented on #2061
一段最简单的代码和输出:
代码:
class TestBloc extends Bloc<int,int>{
  TestBloc() : super(0);
  @override
  Stream<int> mapEventToState(int event)async*{
    yield* test(1);
  }
  Stream<int> test(int event)async*{
    print("A:${state}");
    yield state+event;
    print("B:${state}");
    yield state+event;
    print("C:${state}");
  }
}
输出:
I/flutter (19672): A:8
I/flutter (19672): B:8
I/flutter (19672): C:9

[2021-01-07 06:01] ComputelessComputer commented on #1928
@djensen47 Hi! I am also currently trying to apply deep linking routing with the bloc package. I was trying to apply this on the [Firebase login tutorial](https://bloclibrary.dev/#/flutterfirebaselogintutorial) but I can't find myself to a solution.  Do you have any problems with your implementations or does it work fine? Also I would like to know if you have any source that I can reference on on

[2021-01-07 10:43] jagsus opened #2062 "No reaction to State Change"
Hi,

I'm having an Issue, where after a state change I can see no reaction, neither from my BlocListener nor the BlocBuilder.

Context: I'm reading a File and converting the contents into a List<Model>. When I'm trying to add/edit/delete an Entry I have to rebuild the screen completely (by going to another screen and back) to actually see the Changes.

Any help would be greatly appreciated.

Regar

[2021-01-07 13:21] felix-barz-brickmakers opened #2063 "Release a null-safe pre-release of bloc_test"
bloc and flutter_bloc have already been released with a nullsafe version as prerelease. Please create such a prerelease for bloc_test as well, so we can actually upgrade flutter_bloc or bloc and try out nullsafety.

[2021-01-07 17:55] Jaekyun-Song opened #2064 "BlocProvider.of() called with a context that does not contain a Bloc/Cubit of type [TestCubit]."
Hello,

I've been enjoying using the Flutter bloc. However, I ran into the problem as described in the title. The following code is to reproduce this problem.

-------------------- test_cubit.dart --------------------
[code]
------------------- main.dart -------------------------
[code]

[2021-01-07 18:56] felangel commented on #2064
Hi @Jaekyun-Song 👋
Thanks for opening an issue!

The problem you're facing is due to the fact that you're using a `BuildContext` that does not contain the `TestCubit`. You need to either decompose your widget into two widgets (which I recommend for testability reasons) or use a `Builder` widget to get a child `context`.

## Decomposition (Recommended)

[code]

## Builder Approach

[code]

I also h

[2021-01-07 18:56] #2064 closed

[2021-01-07 19:06] Jaekyun-Song commented on #2064
I think I have expanded my knowledge of Flutter as well as Flutter Bloc. Thank you @felangel! Your minutes saved my hours because I've already spent hours.

[2021-01-07 21:51] yanisG commented on #2054
Hello @felangel ,
thank you for your response , actually i found the solution of my issue and it was **not a Bloc Issue.**
So to conclude it's **seems okay to use Stream and Future together in Bloc** ..
because i'm using  for a "Stream of IDs Products" a Future to get the Informations of  one Paricular product and i thought that the Future will affect the stream to do hes work properly and so i mi

[2021-01-07 22:15] #2054 closed

[2021-01-07 22:21] djensen47 commented on #1928
I decided against deep linking for now.

[2021-01-08 06:23] felangel commented on #2063
Hi @felix-barz-brickmakers 👋
Thanks for opening an issue!

I'm more or less ready to do so but my hesitation has been due to the [breaking changes in mockito's API due to null safety](https://github.com/dart-lang/mockito/issues/286) (which bloc_test relies on). I have been experimenting with [a different approach to mocks](https://github.com/felangel/mocktail) which would avoid relying on manual o

[2021-01-08 06:28] felangel commented on #2062
Hi @jagsus 👋
Thanks for opening an issue.

I believe the issue here is you are mutating the previous stations rather than creating a new instance when yielding a new state. I believe you should be able to resolve the issue by changing the bloc code to the following:

[code]

Hope that helps! Closing for now but feel free to comment with additional questions and I'm happy to continue the conversati

[2021-01-08 06:28] #2062 closed

[2021-01-08 07:52] felix-barz-brickmakers commented on #2063
Both variants have valid points. I might even prefer the second approach, as it seems that the mockito guys haven't really found a nice solution for the core problem yet. I have also hade quite some problems with the generated mocks. But one idea for mocktail: Instead of passing a string to the `calls` method, use symbols instead: `when(cat).calls(#meow)` - it looks cleaner and makes it explicit,

[2021-01-08 14:13] MaldonadoAndres commented on #1819
I third this, I use the same bad practice as @aytunch  because is the way a learned and seems easy and doesn't give any error.But still I would love to do it the correct way.

[2021-01-08 14:27] MaldonadoAndres opened #2065 "When yielding a new state the current page pop"
**Describe the bug**
As the title suggest when i add an event to the stream and respond with a new state the current page where the app is get popped for no reason

[2021-01-08 14:47] MaldonadoAndres commented on #2065
Nvm it was something with my code.
Sorry

[2021-01-08 14:47] #2065 closed

[2021-01-08 16:07] longa78 opened #2066 "How to set TextField initial value?"
In the BlocBuilder there's a TextField with a TextEditingController.
How (where & when...) to setup an initial text for the controller based on data stored in the state?
state.firstName onInit is empty, its' loaded from db via a LoadDataEvent.

[code]

[2021-01-09 04:34] #2066 closed

[2021-01-09 04:34] longa78 commented on #2066
The initState, man, the initState...Sorry for open this, my fault

[2021-01-09 06:09] felangel commented on #2063
@felix-barz-brickmakers I took your suggestion and refactored [mocktail](https://pub.dev/packages/mocktail) to use `Symbol` (it was implemented like that originally anyway 😅) and you can track the progress at #2067 👍

[2021-01-10 22:37] JohnGalt1717 opened #2068 "Feature: Ability to handle a "beforeSaveState" or similar just for hydrate_bloc"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be very nice to have some sort of method that we could override that gets called right before hydrate is going to do it's state change.
The reason for this is that I have values that don't update the state until a specific event, but I would like to have it so that those values are

[2021-01-10 23:53] fernando-s97 commented on #1979
I don't know how I missed that. My bad! Thank you!!

[2021-01-11 08:21] EngAddow commented on #1819
Even a bloc per feature is not clear for me, for example now I have OrderBloc where I use in more than one screen(e.g: OrderScreen, OrderDetailsScreen, RefundRequestsScreen(since it is related to order) and so on..).

I also have some protected screens where only authenticated users can open, now I use a way that I am feeling is not the best for example: I have WishlistScreen when user tries to ge

[2021-01-11 08:47] KingsleyUsoroeno commented on #199
What was the actual issue am experiencing something similar to the issue you had

[2021-01-11 10:18] markbeij opened #2070 "Question: Why do events implement equatable"
All the BLoC examples @ https://bloclibrary.dev/ extend Equatable. Why is that?
I can't come up with a reason for that. States should extend Equatable, I get that. When states are not effectively the BlocBuilder should not redraw. Multiple Events however should always be handled. Whether they're the same or not.

[2021-01-11 15:52] felangel commented on #2061
Hi @hu70258tao 👋
Thanks for opening an issue!

It looks like this isn't a bloc-specific issue -- I opened an issue on the Dart SDK to track the fix for this at https://github.com/dart-lang/sdk/issues/44616 👍

[2021-01-11 15:55] felangel commented on #2059
Hi @nibo 👋
Thanks for opening an issue!

Are you able to provide a link to a complete reproduction sample? It would make it much easier for me to help if I can debug the issue locally, thanks! 🙏

[2021-01-11 15:56] felangel commented on #2070
Hi @markbeij 👋
Thanks for opening an issue!

The main reason is for consistency but in reality unless you're overriding `transformEvents` and performing operations which rely on event equality then it's not necessary 👍

Hope that helps!

[2021-01-11 15:56] #2070 closed

[2021-01-11 18:07] mrgnhnt96 opened #2071 "Customizable Folder Structure"
**Is your feature request related to a problem? Please describe.**
Depending on how you structure your app, the folder's & file's names could vary. Following DDD, I group all of my BLoCs within a folder and they are labeled after their feature. For example:

[code]

Because of how I have structured my app this way, I find myself having to rename the folders and files whenever I generate a new BLoC

[2021-01-11 20:42] Kedar-27 commented on #874
Not working in 7.0.0 null safety

[2021-01-11 21:18] felangel commented on #874
@Kedar-27  can you elaborate? Is there a reproduction sample that you can share?

[2021-01-11 21:23] Kedar-27 commented on #874
I am not using any intellij extension, currently working on flutter beta branch and using flutter bloc 7.0.0 null safety.
It gives this error .
`The getter 'bloc' isn't defined for the type 'BuildContext'.  Try importing the library that defines 'bloc', correcting the name to the name of an existing getter, or defining a getter or field named 'bloc'.`

[2021-01-11 21:34] felangel commented on #874
@Kedar-27 do you have the `flutter_bloc` import?

[code]

[2021-01-11 21:37] Kedar-27 commented on #874
Opps, my bad

[2021-01-11 21:43] markbeij commented on #2070
It does, thanks!

[2021-01-11 22:07] yanisG opened #2072 "AppLifecycleState"
hello sir ,
i want to know if it is good practice to close bloc on AppLifecycleState.paused because the bloc is using some streams so in case the app is in the background , is it good practice to close all bloc instance ? and if yes how to proceed

**i tried some thing like that in the didChangeAppLifecycleState method and it's not working**

[code]

thank you !

[2021-01-12 05:03] felangel commented on #2068
Hi @JohnGalt1717 👋
Thanks for opening an issue!

I'm not sure I understand the usecase. Can you please provide a link to a reproduction sample that illustrates the problem you're facing?

I would recommend doing whatever you need to do in `toJson` because that is the code that executes just before persisting the state.

I'm not sure I understand what you mean by this. As I mentioned above, I would

[2021-01-12 05:05] felangel commented on #2072
Hi @yanisG 👋
Thanks for opening an issue!

I don't recommend trying to do this manually as it is an unnecessary optimization. `BlocProvider` automatically handles closing blocs automatically when the widget is unmounted from the widget tree.

Hope that helps 👍

[2021-01-12 05:05] #2072 closed

[2021-01-12 10:30] jagsus commented on #2062
Works like a charm. Thanks!

[2021-01-12 12:25] eliudio opened #2073 "close not called"
Hi,

I've got a bloc implementation, similar to https://github.com/felangel/bloc/blob/master/examples/flutter_firestore_todos/lib/blocs/todos/todos_bloc.dart

I've noticed that the close is never alled. Hence the todosSubscription?.cancel(); is never called. In flutter_web, firestore this is an issue as listening twiice not allowed, which I think is another issue. But even if it was ok to listen t

[2021-01-12 19:52] muhammad-azhar commented on #568
**BUG**
I am having problem that has kinda resemblance with the above bug. I have a `OrderInfoScreen` and there I am adding Information to the `OrderInfoBloc` and then navigate to the `PosScreen` for completing the procedure. All goes fine and smooth but when I go back to the previous screen from the current one for editing some of the information the `mapEventToState` method in the Bloc does not

[2021-01-13 00:58] github-actions[bot] opened #2077 "[Translations] Update docs"
Update Translations to include changes from 113bfb92e4233538813edb9a272a8ce88fa05087.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-13 01:00] felangel commented on #2073
Hi @eliudio 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/2040. Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-01-13 01:00] #2073 closed

[2021-01-13 02:40] github-actions[bot] opened #2078 "[Translations] Update docs"
Update Translations to include changes from c16822883b17a119f8db91ad4ca8c3432a4aae9d.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-13 08:49] hu70258tao commented on #2061
嗯,我找到一个方法,
每一次yield state+event;的代码后面,补上一句
await Future.delay(Durtion.zero);

[2021-01-13 18:23] github-actions[bot] opened #2080 "[Translations] Update docs"
Update Translations to include changes from 5b102fb45de7b39b244dbccf3a95ed831838eb99.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-13 18:27] felangel commented on #2068
Closing for now because there isn't enough information for me to proceed. Feel free to comment with additional information and I'm happy to continue the conversation 👍

[2021-01-13 18:27] #2068 closed

[2021-01-13 21:55] Peng-Qian commented on #2023
1. `BlocProvider.value`是使用已有的bloc，所以你不应在这里创建新的bloc，因为`BlocProvider.value`不会在widget dispose的时候自动关闭bloc，因此如果在这里创建bloc，除非你手动关闭bloc，你的bloc将一直不会关闭而导致内存溢出。

2. `context.read<T>()` 其实就是`Provider.of<T>(context, listen: false)`的简写版本，你得到的错误其实别不是真正的逻辑或语法错误，而是Provider作者提醒的语义错误: 在build中的Provider应该因数据变化而rebuild widget，所以应使用`context.watch<T>()`,也就是`Provider.of<T>(context, listen: true)`。因此，你把`BlocProvider.value`

[2021-01-14 01:44] hu70258tao commented on #2023
我的英文能力比较差,机翻对英文阅读者来说,可能也很困难.

[2021-01-14 01:53] berbsd opened #2081 "Issue inserting BlocBuilder into CustomScrollView"
**Describe the bug**

I have a simple bloc (ProductsBloc) that fetch data over REST API and return a list of product objects through the success state. When the bloc builder is encapsulated within a CustomScrollView, the framework seems to crash, however when the CustomScrollView is embedded within the bloc builder, then it works.  I must be doing something wrong, but I cannot find it and I believ

[2021-01-14 02:16] github-actions[bot] opened #2082 "[Translations] Update docs"
Update Translations to include changes from 8ed9db242ff331f40d0537c8f6df3b084d4d37aa.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-14 02:29] wuweijian1997 commented on #2023
如果解决了你的问题就关闭issues,如果有其他问题另开一个issues就好了,不要一直开着.

[2021-01-14 05:51] berbsd commented on #2081
After more digging, I find a solution to the problem in the flutter issues [#25861](https://github.com/flutter/flutter/issues/25861).

The BlocBuilder cannot be the first element in the slivers. Add a  SliverToBoxAdapter() solves the problem.  Does not make complete sense as I would expect the builder to be called and return the same element from the default state, but...

[code]

[2021-01-14 05:51] #2081 closed

[2021-01-14 06:32] #2023 closed

[2021-01-14 07:40] github-actions[bot] opened #2083 "[Translations] Update docs"
Update Translations to include changes from 434b65a4ca2b7af6fd34dde77c84823c51519f88.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-14 07:49] yeahse opened #2084 "how to get FutureList from firestore?"
@override
  Stream<List (Model) > todos() {
    return FirebaseFirestore.instance
        .collection('todos')
        .snapshots()
        .map((snapshot) {
      return snapshot.docs.map((doc) {
        return Model.fromEntity(TodoEntity.fromSnapshot(doc));
      }).toList();
    });
  }

this works perfectly. but if I change
 Stream<List(Model)> todos() ->  Future<List(Model) todos()

then it s

[2021-01-14 12:40] hacker1024 opened #2085 "RepositoryProvider should expose the dispose callback"
**Is your feature request related to a problem? Please describe.**
I have a repository that maintains its own HTTP [`Client`](https://pub.dev/documentation/http/latest/http/Client-class.html).
When the repository is no longer needed, this client should be [closed](https://pub.dev/documentation/http/latest/http/Client/close.html). At the moment, this isn't possible.

**Describe the solution you'd l

[2021-01-15 04:07] ComputelessComputer commented on #2055
@felangel I have some issue with the implementation ;( I get that the createAccountRequired has not been delivered properly but still don't have a clue where this might have happened.

Flutter Doctor
[code]

[code]

Here are the snippets I have modified.

authentication_bloc.dart
[code]

authentication_state.dart
[code]

user.dart in auth repo
[code]

authentication_repository.dart
[code]

app.dar

[2021-01-15 04:54] ComputelessComputer commented on #2055
Oops! Looks like created the user without the boolean value leading to this error. When I created a new user it works fine :) Sorry for bothering you

[2021-01-15 11:52] morfair commented on #2005
@2shrestha22
Have same problem. What right way to solve it?

[2021-01-15 19:45] JohnGalt1717 opened #2086 "replay_bloc should allow a filter function to ignore some states"
**Is your feature request related to a problem? Please describe.**
In the state queue of most pages there is typically Loading, Loaded, error etc.  Unfortunately, right now the ones that don't matter to reply are stored and it doesn't appear to be any way to intercept and filter those out before they get dumped in to the change tracker.

**Describe the solution you'd like**
I'd like a method that

[2021-01-15 20:03] JohnGalt1717 opened #2087 "Hydrated Bloc only if recovering from tombstoning"
**Is your feature request related to a problem? Please describe.**
On a typic entry screen you will have 3 possible ways that the cubit is created:
1. New (i.e. no id passed in)
2. Edit (i.e. id passed in)
3. Rebuild from OS tombstoning the OS and having to recover.

**Describe the solution you'd like**
I want to use hydrated to ONLY handle #3.

That is, if new or edit, I don't want to do anything

[2021-01-15 22:00] rizirf-connect commented on #316
Hi @felangel

I have running two streams for listening position and duration of audio, my position change in this function but my UI wont update.
Any Solution...??

[code]

[2021-01-16 20:59] ofury commented on #1997
hi @eliudio
Initially you can limit the number of documents retrieved using limit() and save the last DocumentSnapshot.
As a user scrolls, retrieve documents using startAfterDocument() passing the last document snap and add new data to state.
Also you can check snapshot.size to determine if db has more data to fetch.
Hope this helps :)

[2021-01-17 06:00] ComputelessComputer opened #2088 "Question about check box in sign up using flutter bloc"
In the tutorials provided in the bloc library, I want to know if I add a check box form terms and conditions how I can validate the status by overriding the `FormzStatus.validate` method. I was wondering whether this should be asked in the Formz package issue tracker but I thought it was more related to bloc.

What should I modify in the code below?

account_create_state.dart
[code]

account_creat

[2021-01-17 06:33] ComputelessComputer commented on #2088
I think I managed to find a way through...
I'll give it a shot right now but I'm pretty sure this would work😤

[code]

[2021-01-17 07:19] #2088 closed

[2021-01-17 08:36] BashisthaSudeep opened #2089 "Bloc State updating only once."
I am having a problem where the text field shows the value from the bloc builder using the text controller.

The text field is read-only and I've assigned an onTap property on it to navigate to a different screen where the user selects the specific item from the ListView.

It works for the first field when I select the value, but if I try to change the value of the selected field or try to select

[2021-01-17 09:27] Lix-ai opened #2090 "[Question] Correct why to use nested models/classes with BloC"
Hi,
What is the correct way to use nested models/classes with BloC?
For example, I creating X number of airplanes and for each plain I create Y number of passengers.

For controlling each X number of airplanes I saw it at the 'flutter_complex_list' example, but what is the correct approach with flutter bloc to control each Y number of passengers for each plain?

I'm thinking about several options

[2021-01-17 09:39] eliudio commented on #1997
Thanks

[2021-01-17 09:39] #1997 closed

[2021-01-17 10:40] mstfkhazaal opened #2091 "Offline Copy of Bloc Docs?"
Does anyone here have an offline copy of Bloc documentation?

[2021-01-18 04:05] callagga opened #2093 "how to read bloc state and send events from within CustomPainter method?"
Is there a way to use flutter_bloc within a customer painter class (extending CustomPainter) and the paint(Canvas _canvas, Size size) method?  For example you may have drawing a specific Circle or Rect on the canvas within the paint method only depending to some state from a bloc.  Also when using the Touchable package you may want to send an 'event' to the bloc after the user clicked on a particu

[2021-01-18 07:21] Mx-Tech opened #2094 "Cubit isn't emitting a state without waiting on a future.delayed()"
**Describe the bug**
I tried to use a cubit and wanted to emit a loading state before fetching data via network. But the loading state was never set and therefore, the loading widget wasn't displayed. I had to put an `await Future.delayed(Duration(microseconds: 1));` before the loading state to trigger it correctly.

**To Reproduce**
I posted an answer at stackoverflow.com with the code snippet th

[2021-01-18 10:57] MaxAuer opened #2095 "[Question] BlocProvider within BlocBuilder"
Hey,

is it possible to provide a `Cubit` within a `BlocBuilder` when the Builder manages the Data that is provided to a `Cubit`.

To make it more clear, this is the basic Setup:

[code]

The UI in `BView` does not update because the `BCubit` isn´t disposed. I know that I create a loop by changing Data from the `onComplete` callback.

Is there a pattern one should follow when a subview with a `Cub

[2021-01-18 14:53] Mx-Tech commented on #2095
I'm new to state management using flutter_bloc. But I think the BlocProvider should be at least the parent referring to the BlocProvider/ BlocConsumer in the widget tree. Because BlocProvider is used to provide the bloc_data in any child of it. Here's a working example:
[code]
Using BlocConsumer instead of BlocBuilder reduces the boilerplate code as the Consumer directly offers a listener. While u

[2021-01-18 15:44] MaxAuer commented on #2095
In essence your example is exactly what I am doing.
The `BlocConsumer` for `BCubit` is in the build function of `BView`

[code]

The problem I have is that this `Consumer` consumes the wrong `Cubit` because the old `BCubit` isn not disposed yet.

The `onComplete` callback calls a function in the `ACubit` that provides a new Object the `BView` works on. But because this all happens before the build

[2021-01-19 07:00] Mx-Tech commented on #2095
That sounds really complex :grinning:. But as the flutter_bloc library also provides a MultiBlocProvider it should work fine to distinguish between the different providers.

Did you try to set the types of your providers to BlocProvider<ACubit> and BlocProvider<BCubit>?
This is from the flutter_bloc documentation:
[code]
As you already mentioned in your first post, you created a loop by triggering

[2021-01-19 09:53] SEGVeenstra commented on #2010
Ran into the same issue yesterday.
Because the expect is called before build is ran, you cannot initialise properties in the build function or even in the setUp().

[code]
To make this workable you have to either create globals or creator functions to get same or equal instances:
[code]
This is far from ideal, OP's suggestion was exactly my idea to solve this. Turn expect into a builder.

[2021-01-19 14:12] felangel commented on #2010
This is addressed by #1733  and will be available in v8.0.0-nullsafety.0 👍

[2021-01-19 17:01] vishna opened #2096 "`MyBloc` doesn't extend `Cubit<Object>` when using BlocProvider"
**Describe the bug**
This is due to recent change in the bloc package - https://pub.dev/packages/bloc/versions/7.0.0-nullsafety.1/changelog and lack of respective flutter_bloc version published yet: https://pub.dev/packages/flutter_bloc/versions/7.0.0-nullsafety.0/changelog

**To Reproduce**

1. Use `BlocProvider` or `BlocConsumer` with a class extending from `Bloc`

[2021-01-19 17:22] felangel commented on #2096
Hi @vishna 👋
Thanks for opening an issue and sorry for the inconvenience!

I just published [bloc v7.0.0-nullsafety.1](https://pub.dev/packages/bloc/versions/7.0.0-nullsafety.1) 🎉

Closing for now but let me know if you're still having trouble 👍

[2021-01-19 17:22] #2096 closed

[2021-01-19 17:29] felangel commented on #2095
Hi @MaxAuer 👋
Thanks for opening an issue!

I agree that the root cause of this issue is most likely the current architecture but if you're still unsure of how to solve the issue can you please provide a link to a complete reproduction sample which illustrates the issue you're facing?

Closing for now but feel free to comment with additional information and a reproduction sample and I'm happy to c

[2021-01-19 17:29] #2095 closed

[2021-01-19 17:38] felangel commented on #2094
Hi @Mx-Tech 👋
Thanks for opening an issue!

This is working as expected. The problem you're facing is the state of the cubit is changing faster than the UI can rebuild. The same thing will happen if you use `setState` and update the state back to back. See https://github.com/felangel/bloc/issues/173#issuecomment-478279105

Closing for now but feel free to comment with additional questions and I'm

[2021-01-19 17:38] #2094 closed

[2021-01-19 17:40] felangel commented on #2091
Hi @mstfkhazaal 👋
Thanks for opening an issue!

You can clone this repository and then run an http server in the `docs` directory like:

[code]

Then you can go to `localhost:8080` and you should be able to browse the docs offline 👍
See the [CONTRIBUTING GUIDE](https://github.com/felangel/bloc/blob/master/CONTRIBUTING.md#contributing-to-documentation) for more details.

Closing for now but feel fr

[2021-01-19 17:40] #2091 closed

[2021-01-19 17:42] felangel commented on #2089
Hi @BashisthaSudeep 👋
Thanks for opening an issue!

I'm guessing this is happening because your `Quote` class does not extend `Equatable`. Please refer to the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating) for more information 👍

[2021-01-19 17:42] #2089 closed

[2021-01-19 17:43] vishna commented on #2096
thanks @felangel, that has fixed it. Now having a different issue, it would seem the context extension is not recognized:

[code]

[2021-01-19 17:50] felangel commented on #2084
Hi @yeahse 👋
Thanks for opening an issue!

You should be able to do something like:

[code]

Hope that helps 👍

[2021-01-19 17:50] #2084 closed

[2021-01-19 17:50] vishna commented on #2096
nevermind, API changed more in between, should use `watch` instead

[2021-01-19 18:14] felangel commented on #316
Hi @rizirf-connect I would recommend taking a look at the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating). Hope that helps 👍

[2021-01-19 20:16] musindo commented on #122
works like a charm, thank you so much

[2021-01-19 20:19] Mx-Tech commented on #2094
Hello @felangel,
many thanks for your comment and help. I totally agree if I emit the states too fast, they can't be rebuild. But in my case, between the SearchLoading-state and the SearchLoaded-state, I'm making a network request (ok, it's quite fast :grin: ) and also execute an
`await Future.delayed(Duration(seconds: 2))`. But the SearchLoaded-state is never emitted. I debugged my code and the s

[2021-01-19 22:30] #2028 closed

[2021-01-19 22:30] #1475 closed

[2021-01-19 22:31] wujek-srujek commented on #1546
Closing as `BuildContext.read` and `.watch` takes care of this.

[2021-01-19 22:31] #1546 closed

[2021-01-20 08:21] SEGVeenstra opened #2097 "[QUESTION] What is the best practice on getting previous state information?"
I've been learning to use BLoC the last couple of days but I ran into an 'problem' which I'm not sure of how to handle and was wondering if anyone could point me in the right direction.

I'm working on a little Wheel Of Fortune kind of app where the user can place bets on the colours on the Wheel.

I've was thinking of using the following states of the screen:

1. Initial
2. Loading - for getting

[2021-01-20 09:10] rizirf-connect opened #2098 "Bloc is not updating list as well as state"
Hey @felangel
can you please tell me why there is no changes occur in the  list

**_AudioPlayerBloc.dart_**
[code]

**_AudioPlayerState.dart_**

[code]

[2021-01-20 17:00] alextran1502 opened #2099 "How to use AnimatedSwitcher when updating value of a state?"
Hello,

I am performing a "delete" action based on the previous state of a Cubit, this doesn't trigger the animation of `AnimatedSwitcher`. I wonder if I have used the state correctly with its intention.

Here is how my Cubit looks like
[code]

The `ackAnnouncement` basically deletes an item in the List, the expected behavior is to have the Text widget fade out and fade in to render the new value,

[2021-01-20 18:38] rizirf-connect commented on #316
Thanks for your reply @felangel but I still cant find a issue plz help me I have also updated my model classes to equatable
These are my model classes

[code]

[2021-01-20 18:42] rizirf-connect commented on #316
And after removing notes the blocbuilder does not update my UI

[code]

[2021-01-20 21:11] pythonhubdev opened #2100 "Implement bloc with riverpod"
I would just like to add a suggestion to implement the **bloc library** with **riverpod** which is more comfortable than the provider package.
Since the **bloc package** depends on the **provider library** it will be more useful if **bloc library** is implemented with **riverpod** which is a kind of enhanced provider.

[2021-01-20 21:22] pythonhubpy commented on #2100
This idea was inspired by this package called **riverBloc:** https://pub.dev/packages/riverbloc and I also feel that it would be a breaking change and will increase the performance of the **provider** package a lot.

[2021-01-20 21:50] felangel commented on #2100
Hi @pythonhubpy 👋
Thanks for opening an issue!

There is an open discussion regarding this topic at https://github.com/kranfix/riverbloc/issues/11 👍

[2021-01-21 05:02] github-actions[bot] opened #2102 "[Translations] Update docs"
Update Translations to include changes from 6e9ffa044f4ad893779e497b7fd734eb85c8be1e.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-21 05:03] github-actions[bot] opened #2103 "[Translations] Update docs"
Update Translations to include changes from c96bdf066819660aefdbdec40543b312cf0e27b8.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-21 05:11] github-actions[bot] opened #2104 "[Translations] Update docs"
Update Translations to include changes from 7da993c1ade4689dbceb483bdfeb837f29e359de.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-21 05:16] github-actions[bot] opened #2105 "[Translations] Update docs"
Update Translations to include changes from 72166540bdefac17f30f3272a4c9c6b0e10fd3f8.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-21 05:21] github-actions[bot] opened #2106 "[Translations] Update docs"
Update Translations to include changes from 63a7d63812976e41e383d201c477231304888fb2.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-21 05:25] github-actions[bot] opened #2107 "[Translations] Update docs"
Update Translations to include changes from 76e9619d652d222392b63bc9e8b9c5c990d3e12a.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-01-21 18:33] Rahuvich opened #2108 "HydratedBloc causes my tests to fail due to missing implementation of a path_provider method"
**Problem**
I am testing my HydratedCubit and it crashes at start time due to missing implementation of the method `getTemporaryDirectory` from the package `path_provider`

**Log**
[code]
**Dependencies**
[code]
**Flutter doctor -v**
[code]
**Main**

[code]

[2021-01-21 19:43] jinyus commented on #2098
Try the code below for the getCurrentPosition event. If this works then use this approach approach with the other event.

NB: [elementAt](https://api.dart.dev/stable/2.10.4/dart-core/Iterable/elementAt.html) is inefficient for lists because it will traverse the list up to the index,it's supposed to be used for lazy iterables

[code]

[2021-01-22 07:01] alextran1502 commented on #2099
Found the solution, I have to add the `key` property to the Widget I want to animate and supply the key with the value that changes

[code]

[2021-01-22 07:02] #2099 closed

[2021-01-22 10:50] Paul74 commented on #1284
@narcodico I have a very similar issue, from a PC that sits behind a proxy/firewall so I can't cast pub get. All is working except for this error.
What do you mean by "plugin not registered"? How can I register it by hand?
Thank you.

[2021-01-22 16:23] rizirf-connect commented on #2098
Thanks @jinyus
this is working fine but when i remove note from para the bloc builder does not rebuild state

[code]

[2021-01-22 17:20] jinyus commented on #2098
That's because you're modifying the old para. newPara in your snippet still references the old para. So create a new instance of the para.

[code]

That should work since newPara now references a new object. If this doesn't work trying making a copy of newParaNotes;

[2021-01-22 18:01] rizirf-connect commented on #2098
Thanks you @jinyus
You are life saver man.

[2021-01-22 18:01] #2098 closed

[2021-01-22 21:50] felangel commented on #2108
Hi @Rahuvich 👋
Thanks for opening an issue!

You should provide a mock storage for testing purposes:

[code]

For a complete example you can refer to the [flutter_weather tests](https://github.com/felangel/bloc/tree/master/examples/flutter_weather/test). Hope that helps 👍

Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 😄

[2021-01-22 21:50] #2108 closed

[2021-01-23 06:36] BoshiLee opened #2110 "bloc file consume to much memory while editing"
**Describe the bug**
Did anyone has idea why bloc files consume too much memory while editing?
I am using android studio when I editing bloc file and it use lot of memory if I open bloc file. It really hard to edit file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any bloc or cubit file'
2.  Edit any line of file
3. consume to much memrory
4. close bloc file will release some memo

[2021-01-23 15:30] II11II opened #2111 "Navigate Page using Hydrated bloc"
How to navigate to the route that is obtained from HydratedBox?

I tried to use BlocListener to navigate to the last route which is saved in database using HydratedBloc. And i found from the docs that 1st state is not listened in BlocListener

[2021-01-23 18:26] II11II opened #2112 "context.read rebuilds build() method"
**Describe the bug**
context.read rebuilds whole build() method
I used context.read to get const list length in state

**Expected behavior**
Just get state and dont rebuild it because i have stateful widget builder (PageView.builder)

[Link to gist](https://gist.github.com/II11II/1c5004580aaecd50fb1a0c5cfb8b10fe)

[2021-01-25 17:10] felangel commented on #2112
Hi @II11II 👋
Thanks for opening an issue!

I took a look and I believe the reason for the rebuild is because you are also using `context.watch` at https://gist.github.com/II11II/1c5004580aaecd50fb1a0c5cfb8b10fe#file-onboard_page-dart-L33.

Closing for now but if you still have questions feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-01-25 17:10] #2112 closed

[2021-01-25 17:58] yanisG opened #2113 "BLOC STATE ISSUE"
**Describe the bug**
when a user disconnect and reconnect with another account he will get the previous state

**To Reproduce**
Steps to reproduce the behavior:
1.  create an account
2. click the button add some todos (add for exemple 4 todos)
3. disconnect and reconnect with another account
4. here is a screenshot of what we get
![Capture d’écran 2021-01-25 185542](https://user-images.githubuserc

[2021-01-25 19:00] felangel commented on #2110
Hi @BoshiLee 👋
Thanks for opening an issue!

Can you provide any more information? It's hard to identify the cause of the issue based on your description, thanks! 🙏

[2021-01-26 00:39] felangel commented on #2097
Hi @SEGVeenstra 👋
Thanks for opening an issue!

A) I don't recommend this approach. Ideally, blocs should have no internal state and all state should be part of the bloc state type (as you correctly pointed out).

B) This is the best approach from the standpoint of the UI because there is a clean separation between the states and only the relevant properties are available to the UI in each state.

[2021-01-26 00:39] #2097 closed

[2021-01-26 00:41] felangel commented on #2093
Hi @callagga 👋
Thanks for opening an issue and sorry for the delayed response!

Are you able to share a link to a sample app which reproduces the problem you're facing? It would be great if you could share a link to a sample app with your attempt and I'm happy to take a look and open a pull request with suggestions 👍

[2021-01-26 00:48] felangel commented on #2090
Hi @Lix-ai 👋
Thanks for opening an issue and sorry for the delayed response!

Generally, the answer to your question depends on the circumstances. If the complexity of the nested models is fairly low and the cost to retrieve them is also fairly low, it might be simplest to go with option 3 where the models are nested and managed by a single bloc.

In general, I recommend creating a single bloc per

[2021-01-26 00:48] #2090 closed

[2021-01-26 00:52] felangel commented on #2113
Hi @yanisG 👋
Thanks for opening an issue!

I took a look and the issue is the TodosBloc is globally scoped. When you have state that is user-specific, I highly recommend scoping the bloc to just the authenticated branch of the widget tree. In this case, I would recommend moving the BlocProvider which creates/provides the `TodosBloc` to the `HomePage` since that is the root of the authenticated sub

[2021-01-26 00:52] #2113 closed

[2021-01-26 00:56] callagga commented on #2093
Hi @felangel  - perhaps code to look at is that in my separate question here (https://stackoverflow.com/questions/65856448/flutter-bloc-and-how-a-bloc-state-change-can-then-trigger-a-2nd-async-call-befor).  In this code I have to get state from Bloc in my flutter widget and then pass this to my custom CustomPainter class via passing cubit variables.  Was wondering if there is a better way, so I do

[2021-01-26 00:57] felangel commented on #2111
Hi @II11II 👋
Thanks for opening an issue!

You can re-emit the first state for this exact use-case.

[code]

Hope that helps! Closing for now but if you're still having trouble please create a reproduction sample and share the link and I'm happy to take a closer look 👍

[2021-01-26 00:57] #2111 closed

[2021-01-26 01:06] felangel commented on #2093
@callagga thanks for the additional details. Unfortunately, because `CustomPainter` does not have a `BuildContext` I don't think there's a way around injecting the necessary props via constructor.

[2021-01-26 01:40] felangel commented on #2093
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-01-26 01:40] #2093 closed

[2021-01-26 07:35] SEGVeenstra commented on #2097
Thank you for your response!
I currently implemented B and I understand what you mean by the complexity of passing states data.

Information that has to skip a state I can store in repositories and fetch when needed again. This way I persist my data in the actual data layer of my app. And I think that's beautiful ;)

[2021-01-26 08:02] bayuramadeza commented on #363
Hi @felangel How to trigger Bloc Listener with the same state but different data?. Let's say
I have NameState({'John'}) and after that I emit a new NameState(Andrew).

But I can't listen it in bloclistener

[2021-01-26 09:07] dxGuan opened #2114 "Best practice for showing alter dialog globally?"
We are facing a problem or let's say a confusion when using flutter_bloc to build a production-grade app.

### Scenario

We use ```MultiBlocProvider``` to wrap ```MaterialApp``` as its child that we want to achieve global access within the pages in app for specific ```bloc(s)```.

One of these ```bloc(s)``` is an ```AuthBloc``` which provides authentication states management.

We want to use ```Au

[2021-01-26 11:15] kelidon commented on #363
Hey, @bayuramadeza, if you're handling some particular event in your bloc in order to yield new NameState, something like
`if(event is ParticularEvent)
yield NameState('Andrew');`

then it should work.
So could your provide your bloc code? It would be very helpful.

[2021-01-26 17:22] yanisG commented on #2113
hello ,
thank you for your reply ,actually in my app i'm using the  onGenerateRoute
so i have some thing like that :
[code]
**i didn't found a solution here ! if you can suggest something it would be nice thank you**
**i tried to do it as follow but it did not work !**  hope you can help me !

[code]

[2021-01-26 17:24] II11II commented on #2111
Hi @felangel,
Thank you for help😊
Is it ok if i implemented  equitable to my state ?
And i read from bloc docs that listener and builder not updates if instances are the same,  is it true with hydrated bloc?

[2021-01-26 17:25] felangel commented on #2111
No problem, and yes that's totally fine. Even if you extend Equatable you should still be able to re-emit the first state with hydrated_bloc 👍

[2021-01-26 21:49] TheWCKD commented on #2113
Hello, man, I'm WCKD, you contacted me on YouTube over this issue. I am checking out your code and I don't seem to understand why you have 2 routes (the /home and /other Screen) navigating you to the same HomePage().

[2021-01-26 21:53] TheWCKD commented on #2113
The other problem I can see is that you manually created the TodoBloc, but I can't see where, or more importantly if, you properly closed it. Since you manually provided it via BlocProvider.value() you'll have to manually close it into the dispose method from the widgets you provided it, so that whenever the authentication state changes, and those widgets will get disposed, the TodoBloc will be cl

[2021-01-26 22:07] yanisG commented on #2113
@TheWCKD  my bad i did not type all of my code here , so no i edit my comment and as you can see  i tried to use two method
the first one where i used `final TodosBloc _todosBloc = TodosBloc(TodosRepository());`  with the disposed method and the other without using it , and for both it did not work i still getting the previous state

[2021-01-26 22:39] bakeyevrus commented on #2110
If you are using Android Studio, there is an [open issue](https://github.com/flutter/flutter-intellij/issues/5108). It is not about the BLoC library, but 'part of' and 'part' constructions. I didn't manage to find any solution except increasing the max heap size for Android studio approx. to 4GBs.

As for the VS Code, there is a workaround, which helped me. Have a look [here](https://github.com/fl

[2021-01-26 22:50] TheWCKD commented on #2113
I don't think you understood. You will need to have both of your pages (home and other Screen) converted to stateful widgets. Then for both of them, you should override the onDispose methods and call the TodoBloc.close() into those 2 overridden methods. You can access the to-do bloc by using context.read<TodoBloc>(), therefore you can call context.read<TodoBloc>().close() in both of the 2 pages di

[2021-01-27 04:02] bayuramadeza commented on #363
Hi @kelidon , Yes if i yield or emit something, it will changes data in blocbuilder, but the state didn't trigger in BlocListener.

This is my code
[code]

And I listened it in a widget class

[code]

The state is always changes.
from PositionLoaded, nextstate PositionLoaded

but it didn't trigger in bloclistener state condition

[2021-01-27 08:44] II11II commented on #2112
HI @felangel,
Big thanks for taken a look my code,
What do you recommend instead of context.watch in order to not rebuild my widget ( the widget is stateful as default)

[2021-01-27 11:32] AdrianDev0 opened #2115 "Best practice to show error state without changing the UI"
Hi @felangel ,

In your [Infinite list tutorial](https://bloclibrary.dev/#/flutterinfinitelisttutorial) you have a state called [PostFailure](https://bloclibrary.dev/#/flutterinfinitelisttutorial?id=post-states). If this state is yielded, you change the UI to a simple text.
What I would like to do now is to show the error as a snackbar and keep the UI in its previous state (Showing the already loa

[2021-01-27 13:33] Lix-ai commented on #2090
Thanks Felix =]!!!
How i'm technically/practically doing the "PassengersBloc and add a PassengersRequested event which requires an Airplane ID"?

Can i do it with Cubit?

Thanks in advance!

[2021-01-27 16:25] yanisG commented on #2113
@TheWCKD I tried what you said and i'm afraid that doesn't want to work either.
you can check the code here : https://github.com/yanisG/bloc_issue
it's the combination of bloc LOGIN APP and FIRESTORE TODOS APP
i'm trying to do best practice for bloc and navigation routes but it's keep showing the previous state when i use onGeneratedRoute methode.

[2021-01-27 16:32] TheWCKD commented on #2113
Let me check and see if I have any solution to this.

[2021-01-27 17:04] TheWCKD commented on #2113
Man, I'm sorry but your code is too difficult to read, the entire structure of your project is messed up. I can't even run the project since it's linked to your firebase.

Maybe @felangel can interpret it more easily.

[2021-01-27 17:38] TheWCKD commented on #2113
Have you tried providing the instance of the `TodoBloc` to the `HomePage`, with BlocProvider? Like this:

[code]

Then have the HomePage set up like this:

[code]

In this case, the TodoBloc should be created right after the /home route has been requested, in your case when the user is authenticated, or re authenticated after it's been logged out. So every time you're in one of these scenarios, th

[2021-01-27 18:37] yanisG commented on #2113
@TheWCKD sorry for the code structure because as i said it's the combination of the two bloc app examples ,i did the app quickly just for you and to link it to firebase it's easy just drop your google-services.json ,
and  in my case i have another project that i'm working on and i'm trying to do best practice included onGeneratedRoute.

and for the solution it's working but let's imagine that we h

[2021-01-27 18:53] thisisamank commented on #2053
Hi, @felangel
I would like to make an example app which uses `flutter_downloader` with the bloc, can you assign this to me and please let me know what all features will it have?

[2021-01-27 19:45] TheWCKD commented on #2113
No, because that way it would create 3 different instances of the TodoBloc for each of the 3 pages.

I suppose your widget tree will look like this

**MaterialApp>HomeScreen>Screen1/Screen2/Screen3** (if user is authenticated)

**MaterialApp>LoginScreen (if user is logged out)**

(screen1, screen2 or screen3 would be children of the home page).

In this case, you can provide the **only instance of

[2021-01-27 21:53] yanisG commented on #2113
@TheWCKD man to go from homeScreen to screen2 for example i do the `Navigator.pushNamed(context,'/screen2');` and when i use your solution that you proposed im getting the could not find the` Error: Could not find the correct Provider<TodosBloc> above this Builder Widget` **and it makes sense** as you said here :

![homescreen](https://user-images.githubusercontent.com/39929140/106058731-f0e73080-

[2021-01-27 22:07] yanisG commented on #2113
@TheWCKD  i'm getting `Error: Could not find the correct Provider<ToddsBloc> above this Builder Widget`  and i think it makes sense
[code]
because here screen2Context does not contain the TodosProvider no ? as you said here in your video :
![Carrrrpture](https://user-images.githubusercontent.com/39929140/106060262-12e1b280-60f4-11eb-83e7-49736ea1abbe.PNG)

maybe we should pass it with RouteSetting

[2021-01-27 23:20] TheWCKD commented on #2113
Oh, sorry, I think you're correct. I'm sorry, I've been lately programming a lot of C# and really got out of my hands with flutter and dart haha.

What if you write them like this:

[code]

[2021-01-27 23:55] TheWCKD commented on #2113
Yep, you can do something like this when you're pushing a new screen. You can pass the current homescreen `context` as an argument to the `onGeneratedRoute` function.

[code]

Then, inside the onGenerateRoute function you'll have something like this:

[code]

And, voila, that's how you can provide the existing TodoBloc to all of your screens.

[2021-01-28 09:14] AyushBherwani1998 commented on #1118
Hey @felangel, facing a similar issue. My states extends Equatable, hence, it's failing the test. Since, the repo by the author was private, can you explain what was the issue?

[2021-01-28 18:17] yanisG commented on #2113
yep , and this is how we do it !! 💯 !
@TheWCKD  thanks for your replies and i hope you too learned something from this issue, at first it  was a little confusing to me because i didn't find any docs for that case.(you should talk about it in your future videos 👍 ).

**see you in the next Issue HAHA :D .**

[2021-01-29 00:17] bsanderson1981 opened #2116 "Make Bloc aware of object from state update from, so object event goes back to that same object"
New to Dart/Flutter and mobile dev.  Building my  first app.

I have done several demo counter apps on the web to learn Bloc.    While these basic apps are a good start. I maybe have jump ahead of my programming skill set on the app i am building

I built a shopping cart for my bagel store.  it pulls in bagel name, flavor  and price  json data  from my server.   The app brings everything up nicely

[2021-01-29 05:33] felangel commented on #2114
Hi @dxGuan 👋
Thanks for opening an issue!

You can add a `GlobalKey` to your `MaterialApp` like so:

[code]

Hope that helps 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2021-01-29 05:33] #2114 closed

[2021-01-29 05:38] felangel commented on #2115
Hi @AdrianDev0 👋
Thanks for opening an issue!

If you want to support "partial states" (error and data can exist at the same time) then I would recommend refactoring the state to look something like:

[code]

Then in your UI you can handle errors and still show the previous list of posts.

If you want a more concrete example of how this looks you can take a look at https://github.com/felangel/flut

[2021-01-29 05:38] #2115 closed

[2021-01-29 05:45] felangel commented on #2116
Hi @bsanderson1981 👋
Thanks for opening an issue!

You should either wrap each ListItem in it's own `BlocProvider` and provide a unique instance of your bloc to each one or you should have a single top level bloc which manages the count of all flavors.

The simpler refactor would probably be the former:

[code]

But I would argue it's probably a better idea to have a single bloc which manages the

[2021-01-29 05:45] #2116 closed

[2021-01-29 05:47] felangel commented on #2110
Thanks for linking the relevant issue @bakeyevrus 🙏
Closing for now since it doesn't appear to be bloc-specific and is already being tracked 👍

[2021-01-29 05:47] #2110 closed

[2021-01-29 05:51] felangel commented on #2090
@Lix-ai yup you should be able to use bloc or cubit 👍

If you want to use `onGenerateRoute` take a look at [the Bloc Access Recipe](https://bloclibrary.dev/#/recipesflutterblocaccess?id=generated-route-access).

[2021-01-29 17:50] Arbitr108 commented on #1703
Hi, for those, who may need help on such situation. Please check that you create (clone) a collection into the state, not transfer the link to you collection into the state. Because when the state has initially the link to the collection - all changes to this are applied before the state is compared )))). So at the moment of comparison we really will have two identical collection in "currentState"

[2021-01-30 08:03] rubansiva384 opened #2118 "Page view inside tab with bloc state change"
Hi i have the following screen(Stats Monthly Daily) with stateful widget with TickerProviderStateMixin to use the pageview and a list.
Pageview swipe left and right works fine.
Whenever user changes the tab (lets say Day Month Year).  I need to refresh the page with new content from sqliteDb. but its not working that way, showing the same view(expect Month chart. result Day chart). If i debug, cre

[2021-01-30 19:59] Lix-ai commented on #2090
Thanks :)!

[2021-01-31 03:11] felangel commented on #2118
Hi @rubansiva384 👋
Thanks for opening an issue!

Can you please provide a link to a complete reproduction sample? It would be much easier for me to help/provide suggestions if I am able to reproduce the issue locally, thanks! 🙏

[2021-01-31 03:11] felangel commented on #2059
Closing for now since there is no reproduction sample. Feel free to comment with additional information and I'm happy to continue the conversation 👍

[2021-01-31 03:11] #2059 closed

[2021-01-31 05:24] rubansiva384 commented on #2118
https://github.com/rubansiva384/expense_manager

This is just a learning project.This may have unused files please skip that @felangel

[2021-02-01 05:05] github-actions[bot] opened #2121 "[Translations] Update docs"
Update Translations to include changes from daf09b994cbcc4b7105572d954c069e4795abbd0.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-02-01 09:38] omidraha commented on #1874
How to use hero animation between to separated `bloc` ?
I have two page with separated bloc.
And when I use `hero` animation between them, I got this error:

[code]

[2021-02-01 15:05] hitrop opened #2122 "When to use Equatable?"
I just started with bloc and kind of confused when to use equatable? Is equatable required when my state class is immutable? Or is it only needed when my state class is not immutable?

[2021-02-01 17:53] zurcacielos opened #2123 "No relation between documentation tutorial and this repository"
The documentation tutorial at
- https://bloclibrary.dev/#/flutterweathertutorial

points to this repository, where it's expected to have folders like:
lib/
-- bloc
-- models
-- repositories

Which makes learning confusing.

[2021-02-01 17:58] felangel commented on #2123
Hi @zurcacielos 👋
Thanks for opening an issue and sorry for the confusion. The [flutter_weather example](https://github.com/felangel/bloc/tree/master/examples/flutter_weather) was revamped and the tutorial is currently out-dated but I will try to update it sometime this week 👍

[2021-02-01 17:58] felangel commented on #2122
Hi @hitrop 👋
Thanks for opening an issue!

You can check out the [FAQs](https://bloclibrary.dev/#/faqs?id=when-to-use-equatable) for a detailed answer to your question 👍

[2021-02-01 17:58] #2122 closed

[2021-02-01 19:41] bsanderson1981 commented on #2116
Felix,    thank you for suggestions and feedback.

  i re-watch your
Brisbane Mobile App Developers  video:   https://www.youtube.com/watch?v=nc55gOsL8lc briasa   which gave me an idea to check  my  placed of my  blockprovider.

i had placed the blockprovider at top of my  ui widget tree.  this seem to have affect of updating all the context of item counts  in my Listview pf bagel items.  I moved

[2021-02-02 11:34] jesusrp98 opened #2124 "Add BlocProxyProvider feature"
**Is your feature request related to a problem? Please describe.**
At this time, you can't really make blocs dependent on other blocs. The implementation of this feature, already implemented on the `provider` package, would be very beneficial for all developers & use cases.

**Describe the solution you'd like**
Create a new 'BlocProvider' called `BlocProxyProvider` that would work exactly the same

[2021-02-02 12:59] rrifafauzikomara opened #2125 "Stop The Process For Loop In BLoC"
First of all, I have two `for`, `for` (`first for`) inside `for` (`second for`), and when inside `second for` failed to execute some process, I will `stop the process looping` using `break` and update variable boolean too `error = true`. And in `first for` will check if variable boolean `error == true` it will stop the process looping to using `break`. And I try it on the `DartPad` website and thi

[2021-02-02 14:21] felangel commented on #2124
Hi @jesusrp98 👋
Thanks for opening an issue!

Can you please provide a concrete use case? Thanks!

[2021-02-02 16:04] jesusrp98 commented on #2124
Here's a simple example where you could use this feature:

[code]

In this case we have a cubit dedicated for handling a series of book stores, data that we'd need inside our `BooksCubit`. This allows a 'dependency injection` from the `StoresCubit` quite easy.

As I said before, this is already available inside the `provider` package, and it would be very beneficial to expose this functionality fr

[2021-02-02 17:18] VladislavYakonyuk opened #2126 "Updating flutter_bloc to 6.1.0"
Hi, updated flutter_bloc and now BlocSupervisor does not work
![image](https://user-images.githubusercontent.com/58368922/106637180-9431bd00-65ac-11eb-9818-93f963d3918d.png)
![image](https://user-images.githubusercontent.com/58368922/106637229-a01d7f00-65ac-11eb-9d30-53e02c7b67a0.png)

Version:
[code]

[2021-02-02 18:12] fchiumeo commented on #2126
[Migration note](https://bloclibrary.dev/#/migration?id=%e2%9d%97blocsupervisor-has-been-removed)

[2021-02-02 18:21] #2126 closed

[2021-02-02 20:54] jjoelson opened #2127 "`BlocBuilder` continues to use old cubit instance when the context is updated with a new instance"
**Describe the bug**
When injecting a cubit with `BlocProvider.value` and then building with `BlocBuilder`, changing the cubit to a new instance does not cause the `BlocBuilder` to subscribe to state changes in the new cubit.

**To Reproduce**

My desired use case is to replace the bloc instance in the context when some input changes, automatically closing the old instance:
[code]

However, `BlocB

[2021-02-03 03:02] VladislavYakonyuk commented on #2126
Thanks!

[2021-02-03 13:52] jjoelson commented on #2124
@jesusrp98 When the `BooksCubit` is updated, do your `BlocBuilders` further down the hierarchy start using the new instance? I just posted [this issue](https://github.com/felangel/bloc/issues/2127) because I'm trying to do something similar and I'm seeing `BlocBuilder` continue to use the old instance.

[2021-02-03 14:52] jesusrp98 commented on #2124
Yes @jjoelson , this is how it works with `provider`. This update of `BooksCubit` will be propagated through out the whole widget tree.

[2021-02-03 17:23] jjoelson commented on #2124
I know that's how `provider` works, but [`_BlocBuilderBaseState`](https://github.com/felangel/bloc/blob/daf09b994cbcc4b7105572d954c069e4795abbd0/packages/flutter_bloc/lib/src/bloc_builder.dart#L124) (which is what `BlocBuilder` uses) retrieves the cubit from the context using `context.read<C>()`:
[code]

This means `BlocBuilder` doesn't get updated when proxy provider updates the cubit. [If I inst

[2021-02-03 17:59] jjoelson commented on #2127
After seeing [this issue](https://github.com/felangel/bloc/issues/2124), I understand that `BlocProvider.value` does not inject the new instance when it changes; it just delegates to `BlocProvider(create: (_) => value)`, which means it can never change the cubit instance once it's created the first time.

So as far as I can tell, neither `BlocProvider` nor `BlocBuilder` seem designed to handle cha

[2021-02-03 18:48] omidraha opened #2128 "How to use hero animation between two separated bloc ?"
Hi,

How to use `Hero` animation between two separated `bloc` ?
I have two page with separated bloc.
And when I use `hero` animation between them, I got this error:

[code]
I can't use one share bloc between them, because each of these pages has its own bloc (Every feature has own bloc).

Thanks.

[2021-02-03 20:12] felangel commented on #2128
Hi @omidraha 👋
Thanks for opening an issue!

Can you please provide a link to a reproduction sample which illustrates the issue you're facing? I'm happy to take a look and open a pull request with suggestions, thanks! 🙏

[2021-02-03 20:13] felangel commented on #2125
Hi @rrifafauzikomara 👋
Thanks for opening an issue!

Can you please provide a link to a complete reproduction sample which illustrates the problem you're facing? It would be much easier for me to help if I can clone and reproduce the issue locally, thanks! 🙏

[2021-02-03 22:42] omidraha commented on #2128
Sorry it was related to hot reload,
And fixed after new run.

[2021-02-03 22:42] #2128 closed

[2021-02-04 04:34] rrifafauzikomara commented on #2125
Thanks for the response @felangel

This is the repo for the below case: [https://github.com/rrifafauzikomara/flutter_app](https://github.com/rrifafauzikomara/flutter_app)

This is the result when no error:
[code]

And this is the result when error:
[code]

As you can see above, why `First For` it's looping all data first? Because I expected to like this:
[code]

[2021-02-04 15:34] RomanSoviak opened #2129 "The method 'switchMap' isn't defined for the type 'Stream'."
I have
[code]

[code]
What should I use now for canceling events? Or how can rewrite my old code?

[2021-02-04 16:50] felangel commented on #2129
Hi @RomanSoviak 👋
Thanks for opening an issue!

You can take a look at https://github.com/felangel/bloc/blob/daf09b994cbcc4b7105572d954c069e4795abbd0/examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart#L23 for an example 👍

Hope that helps 😄

[2021-02-04 16:50] #2129 closed

[2021-02-04 22:23] cedvdb commented on #1563
Not sure if this fits here but I have an abstract bloc that I want to reuse

`abstract class FormBloc<T extends FormState> extends Cubit<T>`

and I implement it

`class PhoneFormBloc extends FormBloc<FormState> {`

but then I can't use it in a BlocBuilder ? because

[code]

Although it's a descendant but not a direct one..

[2021-02-04 22:29] omidraha commented on #2128
The main issue is when we would like to have hero animation between two widgets,
While data of second widget needs to load from an API, so we have one extra loading widget between them.
And hero is not working on forward, and only works backward (when you press back button).
Here is a sample code to show this problem:

https://github.com/omidraha/sample_auth

[2021-02-04 22:43] thalissone commented on #1682
I have same problem.

[code]

Log:

```builder: Instance of 'LoadingState'```

I make first call in init:

[code]

My condition not accept state different than `SuccessState`, but when open screen and make first call, builder is calling.
This is very fast and is valid for the first request, the others work as expected.

bloc: ^6.1.1

Any idea?

[2021-02-04 23:30] felangel commented on #1682
Hi @thalissone please refer to the documentation:

https://pub.dev/documentation/flutter_bloc/latest/flutter_bloc/BlocBuilder-class.html

This is working as expected and your builder should be able to handle every state -- `buildWhen` is just an optimization. Hope that helps 👍

[2021-02-05 11:32] cedvdb opened #2130 "[feature request] Ability to provide bloc in BlocBuilder / BlocConsumer"
**Is your feature request related to a problem? Please describe.**
I would like to avoid nesting unnecessarily by having a BlocProvider + a Bloc Consumer for screens cubit. This would make the use leaner of the UI.

**Describe the solution you'd like**
 instead of this

[code]

Having this:

[code]

or

[code]

[2021-02-05 14:46] felangel commented on #2130
Hi @cedvdb 👋
Thanks for opening an issue!

I would highly recommend against this because it results in tightly coupling the widget which is creating the bloc with the widget that is consuming the bloc. This makes it extremely difficult to write widget tests because they will be using the real bloc and it's not possible to provide a mock.

For an example, you can refer to the [weather example](http

[2021-02-05 16:30] cedvdb commented on #2130
I see, good observation as always. Hopefully there will be something leaner in the future when reflectivity is solved rather than a whole widget for providing, like annotations in angular.

Closing

[2021-02-05 16:30] #2130 closed

[2021-02-05 23:31] felangel commented on #2127
Hi @jjoelson 👋
Thanks for opening an issue!

That's correct, I would consider this a feature request rather than a bug since it is currently working as intended. Could you please provide some more context regarding your use-case? In general, I tend to think of my blocs as immutable and rather than mutating the bloc instance itself, I rely exclusively on updating the bloc's state.

If `BlocBuilder`

[2021-02-06 20:29] madhuflutter commented on #2006
I am new to Flutter. I tried to understand what is wrong with my logic. Can you please help me correcting it.

[2021-02-06 20:45] AyadLaouissi opened #2133 "Using bloc_test I have the next error: Bad state: Mock method was not called within when(). Was a real method called?"
**Describe the bug**
I'm using flutter_bloc and works fine in my app, but I'm having some issues using bloc_test and Mockito. I have a bloc that has a use case dependency and I'm creating a mock of the Use Case with values to test it with and passing the mock use case to the bloc and get the next error when executing the test "Bad state: Mock method was not called within when(). Was a real method

[2021-02-07 11:24] Artespecialist commented on #1902
Hi. One question from me.
It is not clear to me the exact cases where we can use context.read. First one that comes to mind is when adding a new event, in UI layer. Like a substituent for context.bloc or BLocProvider.of..... is this correct?
The only thing that puts me off is that fact that inside the documentation it says that  context.read<MyBloc> can not/should not be used from build function,

[2021-02-07 14:08] wujek-srujek commented on #1902
@Artespecialist This has actually changed now as `read` and `watch` are exports of `provider` methods, and they have recently dropped these assertions: https://github.com/rrousselGit/provider/commit/67d58866ca56f74c073375e1a6e0ae8e50dc5756

In other words, it is now possible to use `read` in `build` methods and you won't get an error, but you might be running into a bug in your code. I don't know

[2021-02-08 05:47] felangel commented on #2133
Hi @AyadLaouissi 👋
Thanks for opening an issue!

`whenListen` only works on `MockBloc` instances. In this case, `IssuesBloc` is a real bloc so you can't use `whenListen` and you also shouldn't use it because you should be testing the actual functionality of the real bloc instance when you are unit testing your bloc.

Typically, `whenListen` should be used when writing widget tests for widgets whic

[2021-02-08 05:47] #2133 closed

[2021-02-08 12:31] canvural opened #2134 "[bloc_test] How to test a bloc that adds event to itself"
Hello,

I have the following bloc (just a pseudo code for simplicity)
[code]

Usually, if a bloc uses another bloc, I can mock the other bloc and run assertions on it. But in this case, it uses itself. How can I test this scenario?

[2021-02-08 13:58] jeroen-meijer commented on #2134
Personally, I wouldn't add events as a result of another event.
I'd rather move the logic that `Foobar` and `NewEvent` share into a separate function and just make sure the state changes are correct.

In the end, I don't think any part outside the bloc should care _how_ it's doing its logic, as long as the states it produces are valid. 👍🏻

Hope that made sense 😄

[2021-02-08 18:22] felangel commented on #2134
Hi @canvural 👋
Thanks for opening an issue!

At the end of the day the bloc takes events as input and emits states so your test should just verify that when event x is added, state y is emitted. Whether the bloc adds more events internally or not is just an implementation detail and does not impact the behavior.

As @jeroen-meijer mentioned, in general, it's not recommend to add more events intern

[2021-02-08 20:35] jjoelson commented on #2127
Hi Felix, thank you for your prompt and thoughtful response!

My motivation here is to create smaller and more focused blocs. Imagine a list/detail scenario where I load a list of items, and then display details about a particular item when the user selects one. Rather than have a single bloc to manage loading the list and details, I want `ItemListBloc` to manage the list, and `ItemDetailBloc` to

[2021-02-08 21:23] felangel commented on #2127
@jjoelson thanks for the clarification! I think it would still be great if you could provide an example github repo just to ensure we're on the same page, thanks! 🙏

[2021-02-08 21:53] github-actions[bot] opened #2135 "[Translations] Update docs"
Update Translations to include changes from 92da5a3fa4a6514b957d4dc63918c78e65c4c76d.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-02-09 12:02] jdouitsis commented on #139
Does anyone have any experience working with BloC to BloC communication? I have a bluetooth BloC that takes input from sensors and I want it to automatically send the data vai my Sockets BloC to the server for data storage

[2021-02-09 12:14] firatcetiner commented on #139
Have you tried injecting one of the BLoC instances to another? You can listen bluetooth BLoC with `.listen((event){})` after injecting it.

[2021-02-09 13:05] misterfourtytwo commented on #765
the real nasty is when u get to listen to more than one stream, you need to throw them into bloc constructor args, add checks on changes, not forget to add every subscription cancel() into close(). especially when u have to add/remove dependency.

maybe better solution would be to add something like an externalSubscriptionBucket, which could be a `List|Map<StreamSubscription|Bloc|Cubit>` and run c

[2021-02-09 14:23] jdouitsis commented on #139
Perfect! Thanks a bunch

[2021-02-10 02:26] pbhuvanesh opened #2137 "Bloc tests always passing irrespective of what I do"
Hello,
I have a bloc `EventHostBloc` that Yields a few states `EventHostInitial, EventHostRegistrationSuccess, EventHostRegistrationLoading, EventHostRegistrationFailed`. The bloc has only one event `EventHostRegistratioButtonTapped`.

My Bloc test
[code]
My Mock Repository
[code]
`repository.createEventHostProfile()` returns a Future<bool> and in this case the mock returns a true. As a side note

[2021-02-10 02:35] felangel commented on #2134
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-02-10 02:35] #2134 closed

[2021-02-10 02:37] felangel commented on #2137
Hi @pbhuvanesh 👋
Thanks for opening an issue!

Could you please provide a reproduction sample which illustrates the issue you're facing? Thanks! 🙏

[2021-02-10 03:00] felangel commented on #2125
Hi @rrifafauzikomara sorry for the delayed response! The reason why the example is executing in this order is because you are looping through each item in state.data synchronously and adding an event to the DatabaseQueryBloc and these events are processed asynchronously. As a result, all of the event are added immediately and then they are processes in the order in which they are received by the D

[2021-02-10 03:00] #2125 closed

[2021-02-10 03:09] felangel commented on #2118
Hi @rubansiva384 sorry for the delayed response! I just took a look and it's because BlocProvider with a create will not re-create the bloc instance. The behavior you wanted can be achieved by using a `StatefulWidget` to manage the bloc and using `BlocProvider.value` to provide the existing instance.

[code]

Hope that helps! Closing for now but feel free to comment with additional questions and I

[2021-02-10 03:09] #2118 closed

[2021-02-10 03:27] felangel commented on #2008
I am still unable to connect to firestore unfortunately :(

Closing for now but if you have a chance to provide a simple reproduction sample (ideally no dependency on firebase) I'm happy to take another look. Alternatively, if you haven't already you can [join the bloc discord server](https://discord.gg/Hc5KD3g) and we can setup a debug session 👍

[2021-02-10 03:27] #2008 closed

[2021-02-10 03:28] #2031 closed

[2021-02-10 03:29] felangel commented on #1796
This was done as part of #2131 thanks to @Classy-Bear 🎉

[2021-02-10 03:29] #1796 closed

[2021-02-10 03:34] felangel commented on #1868
Hey @samsheldin sorry for the delayed response! You should be able to use a [Timer.periodic](https://api.dart.dev/stable/2.10.5/dart-async/Timer/Timer.periodic.html) within the bloc and whenever the desired time passes (for example 5 mins) you can add a new event to the bloc internally (like `DiscountUpdated`) which recalculates the prices and yields an updated state. Hope that helps!

Closing for

[2021-02-10 03:34] #1868 closed

[2021-02-10 04:05] pbhuvanesh commented on #2137
test.dart
[code]

My bloc.dart

[code]

[code]

[2021-02-10 04:34] felangel commented on #2137
@pbhuvanesh can you also provide the bloc state class implementation? Thanks!

[2021-02-10 04:41] pbhuvanesh commented on #2137
Sorry for missing that out here

[code]

Thank you @felangel

[2021-02-10 10:24] farmcow opened #2138 "How to trigger event from my drawer (filter function)"
hi, i'm having issue triggering the yield state when i try to pass data from my drawer to the browse page, the data is successfully passed to the event but when i try to yield the data, it does not update or replace the existing state results . I'm not sure which part went wrong, can you guide me on how to solve this issue please ? thank you in advance !

this is the browse bloc file (browse_bloc.

[2021-02-10 13:28] SEGVeenstra commented on #2138
What does your `BrowseUpdated` class look like?
Did you override the props with the query?

[2021-02-10 14:17] farmcow commented on #2138
hi @SEGVeenstra here is my BrowseUpdated class
browse_event.dart

class BrowseUpdated extends BrowseEvent {
  final String query;

  const BrowseUpdated(this.query);

  @override
  List<Object> get props => [query];

  @override
  String toString() {
    return 'BrowseUpdated { query: $query }';
  }
}

I managed to get the data from print(event.query); the problem is yield BrowseSuccess, when i pa

[2021-02-10 15:03] SEGVeenstra commented on #2138
@farmcow Ok, and what does the code look like that is yielding the BrowseSuccess?
And could you also show the BrowseSuccess state implementation?

[2021-02-10 15:32] farmcow commented on #2138
the state in my browse_page.dart doesn't seems to trigger anything after yielding the BrowseSuccess

class BrowseSuccess extends BrowseState {
  final String query;

  const BrowseSuccess({
    @required this.query,
  });

  List<Object> get props => [query];

  @override
  String toString() => ' BrowseSuccess { products: $query }';
}

[2021-02-10 16:01] SEGVeenstra commented on #2138
I'm not sure if this has anything to do with it, but I don't think you suppose to use the `context.watch` in your `BlocBuilder`.
I think you can use a regular builder:
https://bloclibrary.dev/#/migration?id=%e2%9d%97contextbloc-and-contextrepository-are-deprecated-in-favor-of-contextread-and-contextwatch

[2021-02-10 19:43] github-actions[bot] opened #2140 "[Translations] Update docs"
Update Translations to include changes from 7fd76b1b6605961a5d7ee7e83e0a159f2852fcdd.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-02-10 21:45] cedvdb commented on #2130
@felangel

I think something can be said about instantiating the cubit as a default in the constructor.

EG: you only have WeatherView in your example as such

[code]

The arguable advantages I see:

  - Your page component interacts with the cubit but everything under it stays "dumb"
  - The cubit is properly scoped only to that specific component. When using provider it's accessible in the whole

[2021-02-10 22:10] cedvdb commented on #2130
@felangel

I think something can be said about instantiating the cubit as a default in the constructor.

EG: transform your example to only have WeatherView in your example as such

[code]

The arguable advantages I see:

  - Your page widget interacts with the cubit but everything under it stays "dumb". Which makes sub widgets more reusable. (Not tied to a specific cubit).
  - The cubit is proper

[2021-02-11 09:05] SEGVeenstra commented on #2137
I'm trying to reproduce this for you, but your event is missing also :).

I made it myself and I get the following issue:

`Invalid argument(s): An argument matcher (like `any`) was either not used as an immediate argument to Symbol("createEventHostProfile") (argument matchers can only be used as an argument for the very method being stubbed or verified), or was used as a named argument without th

[2021-02-11 19:51] smakarov opened #2141 "_hasReachedMax is not working"
this line
`bool _hasReachedMax(int postsCount) => postsCount < _postLimit ? false : true;`
has no sense and not working, because we reaching max at the start.
This is working solution
[code]

[2021-02-11 23:16] pbhuvanesh commented on #2137
Thank you @SEGVeenstra

My events.dart

[code]

Sure I will give this a shot and see I don't remember seeing that error. Maybe I missed it. Thank you again.

[2021-02-12 08:56] pbhuvanesh commented on #2137
I made a silly mistake. I did not add _test.dart. That is why my test never got executed. And thanks for pointing out the mistake @SEGVeenstra. I was able to resolve this so I am closing the issue for now.

[2021-02-12 08:56] #2137 closed

[2021-02-12 15:01] jurej1 opened #2142 "Subscription Dispose"
This error report address the issue on not closing the stream subscription.

I went thru the project [https://github.com/felangel/Bloc/tree/master/examples/flutter_firestore_todos](url) (it is a firebase todos app). Basically I can not figure out, since you are creating multiple stream subscriptions inside of the blocs ( FilteredTodosBloc, Stats, Todos...). I can not figure it out where are you cl

[2021-02-12 15:23] SEGVeenstra commented on #2142
I think that if you use Blocs (or other streams inside your own Bloc you have to close them in the close method of your bloc.
When you create a Bloc in the create method of a BlocProvider I thought that this will handle the closing for you.

[2021-02-12 17:05] jurej1 commented on #2142
Thanks a lot. Because I have saw different tutorial talking about it when you like create a subscription inside of a bloc/cubit that you also have to close it manually. So when they say you have to close it manualy they are refering to the `close` method inside of a bloc/cubit ?

[2021-02-13 16:25] ariefwijaya opened #2144 "Using BlocBuilder to return AppBar"
**Describe the bug**
I'm trying to add BlocBuilder logic in the **appBar** of scaffold. But I got an error

**To Reproduce**
Steps to reproduce the behavior:
add BlocBuilder in the appBar Scaffold

[code]

You will see the error directly in the Code Editor (I am using VisualCode)

**Expected behavior**
Can use BlocBuilder in appBar attribute to return AppBar Widget

**Flutter Doctor **
[code]

[2021-02-13 18:55] haashem opened #2145 "bloc_test >=8.0.0-nullsafety.0 is incompatible with flutter_test"
I have added `bloc_test: ^8.0.0-nullsafety.0 ` to `dev_dependencies`.
but when I run `flutter test` I encounter this issue:

[code]

Here is SDK constraints:
`sdk: '>=2.12.0-133.7.beta <3.0.0'`

and using Flutter: 1.26.0-17.3.pre

any idea?

[2021-02-13 21:11] felangel commented on #2145
Hi @haashem 👋
Thanks for opening an issue!

I believe you just need to switch to the latest beta (`flutter channel beta && flutter upgrade`).

Hope that helps! 👍

[2021-02-14 07:48] haashem commented on #2145
Hi, Your packages are awesome and most of flutter community are using it!👏
I already did that:
`Flutter is already up to date on channel beta
Flutter 1.26.0-17.3.pre • channel beta • https://github.com/haashem/flutter.git
Framework • revision 4b50ca7f7f (9 days ago) • 2021-02-04 19:44:27 -0800
Engine • revision 2c527d6c7e
Tools • Dart 2.12.0 (build 2.12.0-259.8.beta)`

The issue relates to this li

[2021-02-14 08:10] jurej1 commented on #2144
@ariefwijaya I have an Idea. You can wrap the BlocBuilder in the `PreferredSize()` Widget and then give it a size, and as its child have a BlocBuilder. Or you can do completely separate Widget like this.

[code]

[2021-02-14 08:12] jurej1 commented on #2144
Or also in your case you can just do like this.

[code]

[2021-02-14 08:46] ariefwijaya commented on #2144
Thank you, I solved it using this idea.

[2021-02-14 08:46] #2144 closed

[2021-02-14 10:07] Supercaly commented on #2145
Hi, I've got the same problem with `flutter_bloc`

[code]

I'm using `beta channel` on the latest version

[2021-02-14 12:17] mzdm opened #2150 "[IntelliJ extension] Wrap widget with & snippets"
This issue tracks these 2 IntelliJ extension enhancements:
- [ ] Wrap widget with - quick action snippet - WIP #2153
- [x] Live templates / snippets - WIP #2195

[2021-02-14 13:26] haashem commented on #2145
I found the issue, the flutter remote repository was pointing to the fork version on my GitHub.
I changed flutter git remote path to flutter origin git repository and then upgraded the flutter. now is working well.

[2021-02-14 13:38] Supercaly commented on #2145
@haashem In my case the flutter repository it's already like that, but the problem remains

[2021-02-14 13:40] haashem commented on #2145
@Supercaly run this common and submit the output here: `flutter channel beta && flutter upgrade`

[2021-02-14 20:45] SEGVeenstra commented on #2142
Probably, yes.

See: https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication

[2021-02-14 21:50] felangel commented on #2142
Hi @jurej1 👋
Thanks for opening an issue!

As @SEGVeenstra mentioned, if you create subscriptions within the bloc then you cancel them in the `close` override 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2021-02-14 21:50] #2142 closed

[2021-02-14 21:51] felangel commented on #2145
Closing for now since it looks like this was resolved by upgrading to the latest beta channel. @Supercaly please provide detailed reproduction steps if you're still having trouble after upgrading, thanks! 👍

[2021-02-14 21:51] #2145 closed

[2021-02-14 21:52] felangel commented on #2138
Hi @farmcow 👋
Thanks for opening an issue!

Are you still experiencing an issue? If so can you please provide a link to a reproduction sample and I'm happy to take a look 👍

[2021-02-14 22:45] felangel commented on #2141
Hi @smakarov 👋
Thanks for opening an issue!

Can you please provide instructions to reproduce the issue?

`_hasReachedMax` is only used internally on lines 47 and 56 in the bloc where the status is being set to `PostStatus.success`.

[2021-02-15 09:14] Supercaly commented on #2145
Sorry for the delay. @haashem This is the output of the command

[code]

[2021-02-15 12:49] mmazurovsky opened #2155 "BlocBuilder inside Stateful widget has unexpected behaviour when navigating to a new screen when the state has TickerProviderStateMixin"
**Describe the bug**
When I use "with TickerProviderStateMixin" in my stateful widget's state, the BlocBuilder (BlocConsumer with builder) performs unexpected build when navigating to a new screen via Navigator.push method.

There is a screen (stateful widget which has a mixin TickerProviderStateMixin) with a list of entities which are loaded from the backend. The loading events and  states are ma

[2021-02-15 13:48] rubansiva384 commented on #2118
In your approach Using a single bloc changes the current screen status.
Lets say the following scenario,
i. Day 1
ii. swiping half left and holding the page without releasing the touch call the itembuilder
iii. It changes the same day data (i think the same bloc ), instead the new screen state.

Use your same code try the above approach. ( i hope you can reproduce the same ).

[2021-02-15 17:27] NoobScorpio opened #2156 "Multiple Events from Same bloc"
Hey everyone and thanks for all the awesome libraries <3.

I am facing an issue but cannot find any solution related to that.
First I will share the code, then explain what is happening.
Here is my block class,
[code]

This is the state's class.

[code]
Here is the event class.
[code]

And finally REPO class.

[code]

[2021-02-16 07:22] jurej1 commented on #2155
You do not handle the NavigateDetailColor event in the ColorsBloc.
So when this event is triggered it goes thru the mapEventToState in colors Bloc.
There is currently no method that would cover this event, so new event is added but no state is yield.
This is probably why you are facing this error.

In color_list_page.dart in line 79 (onTap method) just do Navigator.of(context).push(MaterialPageRou

[2021-02-16 09:06] jurej1 commented on #2156
Can you also please share your category widgets and products widgets

[2021-02-16 09:22] jurej1 commented on #2156
Perhaps it this case it would be good to do two blocs: Categories Bloc and Products Bloc. Then the products bloc will be for fetching / adding / deleting / updating product. Categories Bloc will be for fetching categories.

**Categories Bloc:**
Events
- App started
- Category Changed
- Clear Category

State:
enum Status {loading, error, loadedSuccess }
CategoriesState{
   final List<Category> cate

[2021-02-16 09:26] jurej1 commented on #2156
There is also a other approach. You will have three blocs: CategoriesBloc, ProductsBloc, FilteredProductsBloc,

**CategoriesBloc** can be the same as described above
**ProductsBloc**  can also be the same as described above without the dependency on the Categories Bloc

**FilteredProductsBloc**
states: filteredProductsLoading, filteredProductsLoadSuccess, FilteredProductsFailure

This bloc will no

[2021-02-16 09:28] jurej1 commented on #2156
You also have one more approach:

You have a **ProductsBloc** which is responsible for fetching / adding / deleting etc.

Then the second bloc would be **FilteredProductsBloc** which will have a dependency on the **ProductsBloc** and it would also be responsible for fetching the categories

[2021-02-16 10:44] mmazurovsky commented on #2155
@jurej1 Thank you for the reply!

Yes, I have NavigateDetailColor event in ColorsBloc, but I don't really add it to the event's stream in the code. The line that adds it is commented. I've just created a new commit where I deleted any NavigateDetailColor mentions in the code so as not to mislead people.

The problem is not connected with the NavigateDetailColor event.

[2021-02-16 16:06] mohamedmahmoud9 opened #2157 "Bloc don't emit the same state with updated props"
I have created `AuthBloc` with State `Authorized`
[code]
I need to Update Authorized state with an new user update
I created UpdateUser event that have updated user
[code]
This from Function `mapEventToState`
[code]
This is `User` model
[code]
The Problem is `Bloc` do not update the State and get the previous state

i expect that is because the previous state is `Authorized`

[2021-02-16 16:45] mohamedmahmoud9 commented on #2157
i debug the code then i see that
State Updated in BlocAuth But did not update in BlocBuilder
`main`
[code]
BlocBuilder Widget in another screen
[code]

[2021-02-16 20:28] jurej1 opened #2158 "QUESTION ABOUT BLOC'"

[2021-02-16 20:34] jurej1 opened #2159 "QUESTION ABOUT BLOC'S EVENTS"
EXAMPLE!!!

Lets say we have a bloc with this **states**

[code]

And then we have the **events**

[code]

And then lets say we have a bloc listener that we want to listen to this bloc so when the card gets added we can display a SnackBar. How is that possible? Can we get the blocs event that was added?

[2021-02-16 20:34] #2158 closed

[2021-02-16 20:48] jurej1 commented on #2157
Your current Widget Looks like this:
[code]
Since you only have one state you can do it like this

[code]
`BlocBuilder` also has another useful method called `buildWhen`. In your usecase it may be usefull to do:
`buildWhen: (previousState, currentState) => previousState.user != currentState.user;`

SInce you also have only one State there is no need to have an `abstract class Auth State`. Simply h

[2021-02-17 00:01] felangel commented on #2141
Closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2021-02-17 00:01] #2141 closed

[2021-02-17 00:02] felangel commented on #2010
This is currently available in v8.0.0-nullsafety.0 👍

[2021-02-17 00:02] #2010 closed

[2021-02-17 00:03] felangel commented on #2063
[v8.0.0-nullsafety.0](https://pub.dev/packages/bloc_test/versions/8.0.0-nullsafety.0) is now available 🎉

[2021-02-17 00:03] #2063 closed

[2021-02-17 00:03] felangel commented on #1935
This is now available in [v8.0.0-nullsafety.0](https://pub.dev/packages/bloc_test/versions/8.0.0-nullsafety.0) 🎉

[2021-02-17 00:03] #1935 closed

[2021-02-17 03:31] mohamedmahmoud9 commented on #2157
Dear, thanks for your reply I tried this But problem still.
I have many States in bloc
I tried this
[code]
UI
[code]
This Method to pass Event to AuthBloc to Update user
[code]
This in to emit change `mapEventToState`
[code]

[2021-02-17 05:44] jasonjtyler commented on #494
I'm a little confused on this one. I read the comments on why exceptions are consumed, and I totally respect where that decision comes from, but is there no way to find a middle ground between no error at all and the app "breaking"? I stumbled on this because I had a case where I had a silly indexing error in my bloc logic. Problem was it was a data dependent error. I didn't see it in development,

[2021-02-17 05:51] felangel commented on #494
@jasonjtyler thanks for the feedback! I'm working through a few potential solutions and intend to address this as part of the stable v7.0.0 release 👍

[2021-02-17 06:49] abhishek199-dhn opened #2160 "Bloc listener does get called even after widget is disposed"
**Describe the bug**

My use case is to have a global UserBloc Provider such that I don't need to wrap each route with it and any widget can access the logged-in user.

SplashView is my initial route and in case the user is not logged-in it goes to the login page and after successful authentication, it redirects the user to HomeView where I again fire a User event again.

The issue is that when I

[2021-02-17 08:20] jurej1 commented on #2160
Try this it may help

[code]

[2021-02-17 08:44] RLNat opened #2161 "In flutter dynamic form. How to know if the form is successfully render (build) because the focus in Textformfield() doesn't work as well."
Hi!

I have a form dynamic field and I want to know how the form is is successfully render (build). This is my form :

[code]

And this is the code where the inputs are saved and the checkbox for create another form (state.checkboxCreate) is checked ( Reload  a new form ) :

`BlocProvider.of<FicheMvtAddBloc>(context).add(NewFicheMvtFormLoadedAgain(ficheModel: widget.ficheModel));`

And this is whe

[2021-02-17 09:58] abhishek199-dhn commented on #2160
@jurej1 thanks for your reply. Will it make any difference?
Anyways firing an event in the splash screen won't help in case the user goes through this flow: Splash -> Login -> Home View. So `GetLoggedInUserEvent()` must be fired again after login i.e in homeView screen.

mainly I wanted to know why the listener is active even if the widget is disposed of. I can't even call `userBloc.dispose()` on

[2021-02-17 12:14] jurej1 commented on #2160
Yes true so you only need to fire this event when the user is going to go from Splash to Home view

[2021-02-17 12:14] jurej1 commented on #2160
For this i am not sure. Sorry

[2021-02-17 14:34] fionues opened #2162 "[Question] dispose for generated route bloc/cubit access"
I am trying to provide a bloc/cubit to several screens according to the [documentation for generated route access](https://bloclibrary.dev/#/recipesflutterblocaccess?id=app-router), since I need to share a state across three different screens.

According to the documentation the dispose of the bloc that is shared should be called in the _AppState. Does this mean the dispose is only called when the

[2021-02-17 17:18] felangel commented on #2161
Hi @RLNat 👋
Thanks for opening an issue!

Can you please provide some more context? I'm not sure I understand what the question is, thanks! 🙏

[2021-02-17 17:19] felangel commented on #2162
Hi @fionues 👋
Thanks for opening an issue!

Yup, that's correct. In both cases the bloc is only disposed when the App is unmounted but in the case of global access it can be accessed from anywhere in the widget tree whereas with the generated route access you can scope it to one or more routes.

Hope that helps 👍

[2021-02-17 17:22] felangel commented on #2160
Hi @abhishek199-dhn 👋
Thanks for opening an issue!

`BlocListener` will unsubscribe when the widget is unmounted. If this is still an issue can you please create a simple sample app which reproduces the issue and share the link? Thanks! 🙏

[2021-02-17 17:25] felangel commented on #2159
Hi @jurej1 👋
Thanks for opening an issue!

The UI should only react to state changes so in this case if you need to differentiate based on an action, I would recommend adjusting your state.

[code]

Then you can use a BlocListener to show a SnackBar based on the state type. Hope that helps 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversat

[2021-02-17 17:25] #2159 closed

[2021-02-17 17:26] fionues commented on #2162
@felangel yes, thank you!

[2021-02-17 17:41] #2162 closed

[2021-02-17 19:26] II11II commented on #1178
HI @felangel ,
I hope you are feeling well,
I ve read all your comments issue that were presented @karthikeyanp307 .
However, I ve question. What if first route splash screen and there in bloc listener PushNamed To MainPage (with BottomNavBar)? I can navigate back to splash screen by iphone gesture back or android back button
What can you recommend in this situation?

[2021-02-17 19:37] abhishek199-dhn commented on #2160
Hey @felangel, I have created a simple sample app and have added it to this repo - https://github.com/abhishek199-dhn/bloc-listener-test. I'm able to reproduce the issue.

Please let me know if have any difficulties in running the app. Thanks!

[2021-02-17 19:42] aBuder opened #2163 "Best practices locate bloc in or over screen"
Hi, I love bloc library and this way to abstract UI from business logic. I used it in some projects, but in different ways. So I would like maybe make an open discussion or to get a best practice for **Blocs** and **Screens**.

In the most cases we have one **bloc** for one **screen**. The bloc fetch some data and to some other stuff and bring out the different states to UI. So the UI maybe have s

[2021-02-17 23:37] kranfix commented on #2100
@pythonhubpy  The idea behind `riverbloc` is to avoid the dependence on `context`, not to be more efficient because the difference won't be relevant.

Thanks for consider my package as a good proposal.

[2021-02-18 07:51] avi-mastov commented on #1935
Thank you very much, @felangel !

[2021-02-18 11:02] cgowthamanmca opened #2164 "flutter listview inside singleChildScrollview"
how to add pagination for listview(reverse ListView) when it is placed inside singleChildScrollview? my problem is, not able to find the exact threshold. How to solve this?

SingleChildScrollView(
          controller: _scrollController,
          child: Column(
            children: [
              _buildAcceptRejectButton(),
              ListView.builder(
                  shrinkWrap: true,

[2021-02-18 12:32] Abhishek01039 commented on #2164
wrap your `ListView.builder` widget to `Expanded`.

[2021-02-18 12:36] Abhishek01039 commented on #2163
it depends on your use case.
if you want to persist `appbar`(or any other widget which you want Persist for all state) then 2nd approach would be good otherwise 1st.

[2021-02-18 12:39] Abhishek01039 commented on #2037
we have migrated many examples to null safety.
you can refer to the null safety branch for that.
and some of our examples depends on some package which is still not migrated to null safety.
so I and @felangel are thinking about it.

[2021-02-18 16:44] JigneshPatel23 commented on #1685
@RobertoOrtis  I have just checked into Jobs example with GraphQL and their [API](https://api.graphql.jobs/)
Can't able to find any subscription there in document/playground..

Can you please help if you know if there is any subscription on same API we can use to extend demo?

[2021-02-18 18:34] jurej1 commented on #2160
@abhishek199-dhn  Hey! I have forked your example and did some changes to it. The problem has disappeare🎉. Let me know if you like the changes.💪
@felangel it would also mean a lot for me if you could also check it out and just give me your thoughts about the way I used Bloc.

[2021-02-18 21:55] felangel commented on #2161
Closing for now since I don't have enough information to help. If you're still having trouble with something or have a question, I highly recommend joining the [bloc discord](https://discord.gg/bloc) and posting your question there 👍

[2021-02-18 21:55] #2161 closed

[2021-02-19 05:57] RLNat commented on #2161
Hi!
Sorry for my later reply and thanks for your answer ! I want to know when the form is build (render ) successfully because I want to give a focus ( FocusNode() ).

When the user request to fill a form again (state.checkboxCreate == true), I clear the inputs and I want to give a focus in my Textformfield(). The form is generate dynamically with the structure the user give.

So I want to know wh

[2021-02-19 06:32] abhishek199-dhn commented on #2160
Thanks, @jurej1 I went through your PR. I appreciate your help! This is one of the ways to solve the problem by moving the BlocListener at a global level along with the BlocProvider.  But the issue I'm trying to address here is that `BlockListener` should `unsubscribe` when the `widget is unmounted.`. So in my case, I have a BlocListener at a ChildWidget.

[2021-02-19 07:47] jurej1 commented on #2161
You can do that in **initState**

[2021-02-19 08:01] RLNat commented on #2161
Thanks for your answer ! Even though the Textformfield() maybe not render successfully in the form? So, I can give the focus (TextNode()).

[2021-02-19 14:14] II11II commented on #86
@felangel  Could you show how to call with context?
My example gives error:
[code]

[2021-02-19 14:15] II11II commented on #86
[code]

[2021-02-19 21:46] felangel commented on #2155
Hi @mmazurovsky 👋
Thanks for opening an issue and sorry for the delay!

I took a look and opened a [pull request to fix the issue](https://github.com/mmazurovsky/flutter_bloc_navigation_trouble/pull/1).

Hope that helps and closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-02-19 21:46] #2155 closed

[2021-02-19 21:50] felangel commented on #2164
Hi @cgowthamanmca 👋
Thanks for opening an issue!

Please refrain from opening issues that don't directly pertain to the bloc library. If you have general questions about Flutter you can ask in the #off-topic channel of the [bloc discord](https://discord.gg/bloc), [post on StackOverflow](https://stackoverflow.com/), etc.

Thanks! 🙏

[2021-02-19 21:50] #2164 closed

[2021-02-19 21:58] felangel commented on #2163
Hi @aBuder 👋
Thanks for opening an issue!

In general, I highly recommend maintaining a clear separation between the widget which is providing the bloc and the widget which is consuming the bloc. This allows you to easily test how the UI interacts with and consumes the bloc by injecting a mock instance.

With that being said, I prefer to create a top-level feature widget which is the entrypoint fo

[2021-02-19 21:58] #2163 closed

[2021-02-19 22:02] felangel commented on #2157
Hi @mohamedmahmoud9 👋
Thanks for opening an issue!

I believe the issue you're facing is covered in the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating). Please make sure that if you're using `Equatable`, all properties on your state (for example, `User`) also extend `Equatable`. Also make sure that you are always yielding a **new** state instance instead of modifying an existing state

[2021-02-19 22:02] #2157 closed

[2021-02-19 22:25] zarinfam opened #2167 "Error running pod install on Mac m1"
**Describe the bug**
When I want to run a flutter project that uses `bloc` and `flutter_bloc` ( e.g. `flutter_counter`) on the Mac computer with m1 CPU, I get this error:

[code]
    /usr/local/bin/pod install --verbose
[code]
       CocoaPods : 1.10.1
            Ruby : ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin20]
        RubyGems : 3.0.3
            Host : macOS 11.2.1 (

[2021-02-19 22:55] zarinfam commented on #2167
As i guessed, it was not related to `bloc`, I found a workaround in this issue, and it worked:
https://github.com/flutter/flutter/issues/70796#issue-746115543

[2021-02-19 22:55] #2167 closed

[2021-02-19 22:57] felangel commented on #2160
Hi @abhishek199-dhn 👋
Thanks for opening an issue!

The issue isn't that `BlocListener` isn't disposed, it's that the `SplashScreen` is disposed after the `HomePage` is initialized which triggers an infinite loop. I would highly recommend using a different approach:

- Use [FlowBuilder](https://pub.dev/packages/flow_builder) to control the navigation state based on the bloc state (recommended)
- U

[2021-02-19 22:57] #2160 closed

[2021-02-19 23:01] felangel commented on #2127
@jjoelson any update on this? Thanks! 🙏

[2021-02-20 15:30] jjoelson commented on #2127
Hi Felix, I’ve been busy but will try to get small example uploaded this weekend.

[2021-02-20 16:38] II11II commented on #86
My fault i gave Bloc provider in child tree not in where I am calling

[2021-02-20 23:35] jjoelson commented on #2127
@felangel OK I uploaded an example: https://github.com/jjoelson/bloc-provider-example

It's obviously a contrived example, but it roughly matches the structure of a real app I'm working on: a single screen that includes an item selector on top and multiple tabs of detail data on the bottom.

In the sample app, the detail data doesn't actually change when a new item is selected due to `BlocProvider

[2021-02-21 16:37] jurej1 opened #2168 "Stream Subscription not working"
Here is my CardsBloc. and i have a dependency on the AuthBloc. But when the state in AuthBloc is changes it does not apply to the CardsBloc. What am I doing wrong?

Here is my CardsBloc:
[code]

And here is my App Widget
[code]

[2021-02-22 03:56] felangel commented on #2168
Hi @jurej1 👋
Thanks for opening an issue!

Are you able to share a link to a complete reproduction sample? I'm happy to take a look and open a pull request with any suggestions 👍

[2021-02-22 14:42] jippy96 commented on #661
Hello @felangel , i'm working on TDD clean architecture with bloc as state management, I have the same problem and tried to follow the instructions about the issue but it doesn't work I will put my bloc code just below.

`class ProductBloc extends Bloc<ProductEvent, ProductState> {
  final ProductRemoteDataSourceImpl productRemoteDataSourceImpl =
      ProductRemoteDataSourceImpl();
  ProductBloc(

[2021-02-22 16:03] Fiyiin opened #2169 "Trigger state change from repository"
I'm trying to trigger a state change from the repository, what's the right way of doing this.

[code]

[2021-02-22 17:51] Turbozanik opened #2170 "Can you please explain how BlocBuilder works?"
I was trying to understand how BlocBuilder works from the sources, but didn't succeed. I am really interested in BlocBuilder.

We were creating a custom bloc implementation for our company, and stuck with the StreamBuilder.
By default it caches the latest item it has. And there is no clean way(passing null to stream sink was a workaround) to clear that, so we were having duplicate dialogs after sc

[2021-02-22 19:41] Gene-Dana commented on #2170
Hi there ! This is a really helpful document to me

https://pub.dev/packages/flutter_bloc

![image](https://user-images.githubusercontent.com/45580241/108760711-fb8fbc80-751b-11eb-8153-6cd72d3c3ae2.png)

[2021-02-22 19:49] Turbozanik commented on #2170
Yep, I read it, but it's still unclear, how it works, it has a Cubit under the hood, but mapEventToState is a sync* and is a stream, so we are pushing our states to a stream. And the only way I can imagine it working, is that Cubit should hold that stream, and pass data to the builder. But I can't find that BlocBuilder's Cubit logic anywhere, so it's steel a black box for me.

Or maybe I misunders

[2021-02-23 01:05] felangel commented on #2170
Hi @Turbozanik 👋
Thanks for opening an issue!

`BlocBuilder` subscribes to the bloc/cubit (which is a `Stream`) and invokes the `builder` with the latest `state` whenever the state changes. Hope that helps 👍

[2021-02-23 06:29] Turbozanik commented on #2170
Ok, one last question, does it subscribe to bloc/cubit using StreamBuilder, or by calling listen?

[2021-02-23 06:48] felangel commented on #2170
By calling listen 👍

[2021-02-23 07:47] Turbozanik commented on #2170
Thanks! Now it makes sense to me.

[2021-02-23 08:07] Turbozanik commented on #2170
One more last question =), can you please show me how do you create a widget on base of this stream.listen?

[2021-02-23 13:57] felangel commented on #2170
Check out the BlocListener code for an example: https://github.com/felangel/bloc/blob/94d5ed24af2afb4773a758517577394dc61307b0/packages/flutter_bloc/lib/src/bloc_listener.dart#L178

[2021-02-23 14:15] Turbozanik commented on #2170
Thanks! Now it feels like I am starting to understand.

[2021-02-23 14:15] #2170 closed

[2021-02-23 14:39] Gene-Dana commented on #2170
@felangel, is this a scenario where a BlocListener would be appropriate?

`
class SignUpForm extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return BlocListener<SignUpCubit, SignUpState>(
      listener: (context, state) {
        if (state.status.isSubmissionFailure) {
          Scaffold.of(context)
            ..hideCurrentSnackBar()
            ..showSnackBar(

[2021-02-23 14:50] Gene-Dana commented on #2169
In the Firebase Login tutorial, the BLoC itself is listening to the User in the repo.

![image](https://user-images.githubusercontent.com/45580241/108860478-39442200-75bc-11eb-83b3-b2802a91211f.png)

![image](https://user-images.githubusercontent.com/45580241/108860578-54af2d00-75bc-11eb-95c3-e56aa1a867b8.png)

I believe the only way to trigger the state change is in the BLoC itself

See how the l

[2021-02-23 14:53] vinayluzrao commented on #1970
@felangel
A common scenario where a `RepositoryProvider.dispose()` would be useful is calling `package:http/http.dart`'s `Client.close()`

[2021-02-23 15:02] Turbozanik commented on #2170
Maybe I am wrong, but personally I don't see any reason to use BlocListener over BlocBuilder except if you are doing some optimization and want to reduce widget depth.
BlocListener  is included in BlocBuilder, so I would just use BlocBuilder.

But I am also interested in this =).

[2021-02-23 15:16] felangel commented on #2170
@Turbozanik BlocBuilder is responsible for returning a widget when the state changes. If you're performing side-effects like showing a snackbar you should not be using `BlocBuilder`. `BlocListener` should be used for cases where you aren't building a widget in response to a state change.

[2021-02-23 15:17] felangel commented on #2170
@Turbozanik feel free to [join the bloc discord](https://discord.gg/bloc) if you have more questions like this as it'd probably be faster and easier to get responses in real-time from the community.

[2021-02-23 15:18] Turbozanik commented on #2170
Will do, thanks again!

[2021-02-23 16:14] SebastianEngel commented on #2168
Just yesterday I had a similar issue. Also a cubit reacting to state changes from the AuthCubit. In my case (maybe the same in your case) AuthCubit is a wrapper around FirebaseAuth and the authStateChange stream.

I was expecting that subscribing to AuthCubit would emit its last state on subscription. Unfortunately it doesn't do that anymore. As I found out [this behavior changed](https://bloclibr

[2021-02-23 19:08] vinayluzrao commented on #1970
Just realized this #2085 is a duplicate of this, and it has been assigned as todo.

[2021-02-23 19:51] vinayluzrao opened #2171 "flutter_bloc: Rename `RepositoryProvider` to `Provider`"
**Is your feature request related to a problem? Please describe.**
The `RepositoryProvider` class can actually provide any `Object`, not just repositories, and there isn't any `Repository` abstraction in either of `package: flutter_bloc` or `package: bloc`. Therefore, the name is misleading. It:
- hides the fact that objects besides repositories can be injected
- makes it seem that a `Repository`

[2021-02-23 19:59] felangel commented on #2171
Hi @vinayluzrao 👋
Thanks for opening an issue!

The main point of the naming `RepositoryProvider` is to discourage providing any type of object and to indicate to developers that things like `ApiClients` should generally not be passed throughout the widget tree. The reason there is no `Repository` abstraction is because it would likely end up being an empty class (although I'm not entirely opposed

[2021-02-23 21:14] vinayluzrao commented on #2171
Hi @felangel, thanks for the quick response!

I looked through the weather example, and understood your motivation, but I'd like to mention that this only partially avoids the problem: even when doing this, the view layer still has access to repositories via `context.read()`, and these should ideally only be used to inject into `Cubit`s. An example of a misusage is calling repository methods in a

[2021-02-23 21:37] felangel commented on #2171
@vinayluzrao the repositories must be available to the widget tree in order to be injected into various blocs. I personally don't think renaming `RepositoryProvider` to `Provider` would be beneficial for several reasons:

- It will introduce confusion/overlap with `package:provider`
- It will imply that anything can/should be provided (which as I mentioned is not advisable)

In my opinion, API nam

[2021-02-23 22:11] vinayluzrao commented on #2171
@felangel you've convinced me, and I agree that option 1 is best. Thanks a lot, I had a gap in knowledge in how to properly use data providers.

A side note: besides the tutorials section, the documentation for them is quite little, and, at least for me, it wasn't at all clear that the best way to instantiate them is outside `runApp()` for mocking purposes. But perhaps this is only because when I

[2021-02-23 22:45] felangel opened #2172 "docs: improve documentation around RepositoryProvider and its intended usage"
**Is your feature request related to a problem? Please describe.**
As a developer, I want the documentation to clearly convey how and why `RepositoryProvider` is intended to be used in order to eliminate confusion.

**Describe the solution you'd like**
- Additional documentation in the bloclibrary.dev

**Additional context**
#2171

[2021-02-23 22:46] felangel commented on #2171
@vinayluzrao No worries! The documentation should definitely be improved to make this more clear. I created #2172 to track the documentation improvement 👍

Closing for now but happy to continue the conversation as needed 😄

[2021-02-23 22:46] #2171 closed

[2021-02-24 16:23] jurej1 commented on #2168
@SebastianEngel Thank you very much for your anwser. I solved the problem just by downgrading the bloc version. But I also tried your approach and it work. Thank you very much for the anwser.

[2021-02-24 17:17] PlugFox commented on #2127
@jjoelson hi.
You can use my widget `BlocLifecycle`
https://gist.github.com/PlugFox/80fe552257546f0b50c7f625324da5bf

for recreating BLoC when his dependencies is changed.

But also you need write this line at BlocBuilder:
[code]

[2021-02-24 17:21] PlugFox commented on #2127
Did I explain clearly?

[2021-02-24 17:39] PlugFox commented on #2127
@felangel you may replace BlocProvider with my widget.
Also it solving this problem: https://github.com/felangel/bloc/issues/1936

Also you need replace this line:
https://github.com/felangel/bloc/blob/2b350c8ad8d057c77b99a111c49e8f57480d842d/packages/flutter_bloc/lib/src/bloc_builder.dart#L132
with `context.watch<C>()`.
But you can't use watch in initState.
Use it inside `build` method
https://gi

[2021-02-24 17:51] PlugFox commented on #2127
Need an understandable explanation of how `Provider.of<T>(context, listen: true)` `context.watch<T>()` differs from `Provider.of<T>(context, listen: false)` `context.read<T>()` ?

[2021-02-24 18:32] PlugFox commented on #2127
@jjoelson another solution, if you wan't use my widget - use ProxyProvider from package `provider` for recreating BLoC when dependencies is changed.
But using it can be a little more difficult for you to understand.

But anyway you need write
[code]
for subscribtion at new bloc.

[2021-02-24 18:43] dened opened #2173 "Bloc isn't updated with new params within BlocProvider"
I'm not sure it is a bug or a feature)

I know that isn't allowed to use Provider.of(context) inside BlocProvider(create) -  or using another changeable value. But I want to recreate a bloc when my model changes.
I tried to use a workaround like this:

[code]
But SimpleBloc is created only once and don't get a new value of user

[2021-02-24 18:47] felangel commented on #2173
Hi @dened 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/2127. Closing for now and feel free to follow the discussion there 👍

[2021-02-24 18:47] #2173 closed

[2021-02-24 20:06] jurej1 commented on #2168
@SebastianEngel Thank you very much for your anwser. I solved the problem just by downgrading the bloc version. Thank you very much for the anwser.

[2021-02-25 09:29] gutisalex commented on #549
I might have a case it would be convenient but I am not sure if I need a cubit/bloc for that.. I have a TabBar and some views. Inside of a view somewhere in the depth of the widget tree I have a button and want to change the currentIndex of the tabBar. Either I would use a cubit to save the currentIndex or I could probably use a GlobalKey for that?! But what if I want to change tab styles accordin

[2021-02-25 09:36] gutisalex opened #2174 "TabBar Example"
I just open a new ticket on this because I dont know if comments on closed issues getting your attention?!

I might have a case where it would be convenient to have a cubit/bloc but I am not sure if its really needed for that..

So let's say I have a TabBar and some views. Inside of a view somewhere in the depth of the widget tree I have a button and want to change the currentIndex of the tabBar a

[2021-02-25 12:08] Martibis opened #2175 "Question: how to pass dynamic bloc to new screen"
I have the following scenario. I have a feed of posts which has its own globally accessible bloc, but each post has its own bloc as well. From a post a user can navigate to a new screen through a generated route. I want to access the bloc of a post in the the comments screen. How would I achieve this?

Whatever I seem to try, I seem to get to the route fine, but than I end up with the following er

[2021-02-25 12:13] Martibis commented on #2175
I currently solved this by passing the context through routesettings.arguments (but I'm not sure this is the right way to do it).

[2021-02-25 12:48] Martibis commented on #2175
Update:
Actually this doesn't seem to work as I get the following error on hot reload:
[code]

[2021-02-25 15:26] github-actions[bot] opened #2177 "[Translations] Update docs"
Update Translations to include changes from 7dd5d1de0d3f6650aa8c2f143ae07d2d6c416c4e.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-02-26 14:03] #2169 closed

[2021-02-26 16:18] felangel commented on #2169
@Fiyiin I would recommend either exposing a `Stream` of updates from the repository or having callbacks so that the bloc can get notified of changes to the auth state and add internal events.

[2021-02-26 18:27] vinayluzrao opened #2178 "docs(flutter_bloc): add recipe on how to use flutter _bloc together with Navigator 2.0 and Router"
**Is your feature request related to a problem? Please describe.**
Navigator 2.0 and Router have been released and are now the recommended approach:

Currently, there is no recipe for this, there are only recipes for a Navigator-less approach and for the old 1.0 imperative approach:

https://bloclibrary.dev/#/recipesflutternavigation

**Describe the solution you'd like**
Document a recipe to suppo

[2021-02-26 18:39] karabanovbs commented on #1612
@felangel, hello!
 But what can I do, when I use stream API in `OtherBloc `.

For example:
[code]
 In this case `where` function returns `null`.

I should mock all stream API?

[2021-02-26 23:43] Gene-Dana commented on #2169
It's confusing at first !

'exposing a Stream of updates from the repository' looks like this.

![image](https://user-images.githubusercontent.com/45580241/109366497-901e5580-7861-11eb-94e1-0d9b43dbec1e.png)

That's because the Bloc is really what should be emitting the state changes. The repo itself is intended to be that abstraction.

[2021-02-27 19:58] #2168 closed

[2021-03-01 17:31] DevLuke91 opened #2179 "Signup Cubit issue with password confirmation order"
**Describe the bug**
There is a bug on the signup screen (SignUp Cubit) if the user enters the password confirmation first and after that the password.
Even if both passwords match exactly, the SignUp Button will stay disabled. You then have to erase a character from the password field and re-type.

**To Reproduce**
Go to the sign up screen, and type a 6 character (or more) password in the Confirm

[2021-03-01 17:54] LautaroLobo12 commented on #139
I work on a project at my company, the team has been using Bloc for some time now, I joined recently to the project and I'm very happy with it.

Android: https://play.google.com/store/apps/details?id=ues21.edu.ar
iOS: https://itunes.apple.com/us/app/universidad-siglo-21/id1203596645?ls=1&mt=8

btw **long live Flutter!!**

[2021-03-01 18:27] jjoelson commented on #2127
Hi @PlugFox! Thank you for linking those useful widgets! I was messing around with [similar tweaks](https://github.com/jjoelson/bloc/commit/00ebc9eb0e92bf354d509f6ef34351cf5c95e382) to try to make this work.

The reason I'm requesting to add this functionality to `flutter_bloc` is that the injector and the user of the cubit shouldn't have to know how the other intends to function. As it stands, th

[2021-03-01 21:35] daemonchow opened #2180 "Question: How to add events with parameters from a StatelessWidget?"
Greetings

I have a StatelessWidget that takes an id as parameter, and right now i call the Bloc (really a cubit) to fetch the data related to the id in the Build method, this does not seem a good practice.

How can i do it better? I don't have a context before build to get the Bloc

The StatelessWidget:
![image](https://user-images.githubusercontent.com/5224867/109561015-5d6f9980-7abb-11eb-9896-2

[2021-03-02 04:19] felangel commented on #2127
@jjoelson @PlugFox sorry for the delay can you take a look at https://github.com/felangel/bloc/pull/2181 and let me know what you think? @jjoelson I cloned your sample app and confirmed that the changes do address your concerns. Thanks! 🙏

[2021-03-02 04:43] felangel commented on #2124
@jjoelson @jesusrp98 I've opened https://github.com/felangel/bloc/pull/2181 to fix the issue of `BlocBuilder` not reacting to changes in the provided bloc instance. With this change it should be possible to use `ProxyProvider` from `package:provider` to achieve the desired behavior. I would prefer not to create a `BlocProxyProvider` because I don't believe there is anything bloc-specific in this c

[2021-03-02 04:46] felangel commented on #2174
Hi @gutisalex 👋
Thanks for opening an issue!

Generally, I recommend having a bloc/cubit to handle any business logic pertaining to a specific feature. In this case, the current index is more of a presentational state which is okay to be handled by a `StatefulWidget`. You can definitely create a bloc/cubit to manage this state if you want to be able to modify that state from a different part of th

[2021-03-02 04:46] #2174 closed

[2021-03-02 04:46] felangel commented on #2138
Closing for now but if you're still having trouble please provide a reproduction sample and I'm happy to take a look 👍

[2021-03-02 04:46] #2138 closed

[2021-03-02 04:48] felangel commented on #2156
@NoobScorpio closing for now since it's been a while with no response. Feel free to comment with any questions or comments and I'm happy to continue the conversation 👍

@jurej1 Thanks so much for taking the time to answer, I really appreciate it! 🙏

[2021-03-02 04:48] #2156 closed

[2021-03-02 05:14] felangel commented on #1936
@PlugFox can you take a look at https://github.com/PlugFox/bloc_didchangedependencies/pull/1? I believe I was able to achieve the desired behavior. Let me know what you think 👍

[2021-03-02 05:17] felangel commented on #1928
@djensen47 do you think this can be closed or is there anything I can do to help? I know it's been a while 😅

[2021-03-02 05:21] jjoelson commented on #2127
Hi @felangel! I can confirm that the change makes my sample work as I intended 👍

I have to admit, I don't quite understand _why_ it works 😅. I can see that `didUpdateWidget` has been updated so it will set the builder's `_cubit` to the new instance from the context, but is it guaranteed that `didUpdateWidget` will always be called when the instance in the context changes? My understanding is that

[2021-03-02 05:27] felangel commented on #2175
Hi @Martibis 👋
Thanks for opening an issue!

I would highly recommend taking a look at the [bloc access recipe](https://bloclibrary.dev/#/recipesflutterblocaccess?id=anonymous-route-access) if you haven't already. Are you able to share a link to a complete reproduction sample? Thanks! 🙏

[2021-03-02 05:32] felangel commented on #2180
Hi @daemonchow 👋
Thanks for opening an issue!

I would recommend adding the `fetchItem` event to the bloc when it is instantiated via `BlocProvider` and not as part of your `build` method (build can be called many times by the framework and should not contain any side-effects).

[code]

But you can also use a `StatefulWidget` and add the event in `initState` if you really want. Let me know if that

[2021-03-02 07:51] PlugFox commented on #2127
Yeap.
If you try use InheritedWidget it would be something like this:
[code]

when you use `listen = false` or `read` shortcut - you just get current value.
when you use `listen = true` or `watch` shortcut - you get current value and when value is changed - methods `didChangeDependencies` is called and then method `build` at widget state where you use `watch`.

[2021-03-02 08:18] Martibis commented on #2175
I've already looked at the bloc access recipes (was following the examples there). At the moment I can not, but I'll see if I can put something together that can reproduce it in the upcoming days and I'll share that here afterwards.

[2021-03-02 08:53] jesusrp98 commented on #2124
It's great that this fix solves the issue regarding `BlocBuilder` not updating itself. And if this also makes compatible a `bloc` instance with a `ProxyProvider` with the same behaviour as a regular provider I'm also happy!

[2021-03-02 09:24] PlugFox commented on #1936
@felangel https://github.com/PlugFox/bloc_didchangedependencies/pull/1

[2021-03-02 11:45] aliyazdi75 opened #2182 "BlocListener listens after the route has been popped"
Hi Felix,
This is the reproduction code https://gist.github.com/aliyazdi75/a273a2e2306126acfc5b3a6a495b40ba and there is a `BlocListener` on the Dialog page. After the Dialog page has been poped, `BlocListener` still listens on state changes. Is that an expected behavior?
Actual output:
[code]
Expected output:
[code]

[2021-03-02 12:24] data987 opened #2183 "Ask me for the provider when I use tap on testing"
**Describe the bug**
I've used the tap method for going to another page and test by type but this time is asking me the provider and I don't know how to fix it

**To Reproduce**
1. This is my test

[code]

And I'm receiving this error

`Error: Could not find the correct Provider<AuthenticationCubit> above this LoginScreen Widget`

So I supposed I should add the provider like this:

[code]

But thi

[2021-03-02 13:30] daemonchow commented on #2180
Thanks for the answer @felangel

The reason I can't add when the bloc is created is that I use this same bloc instance for all the elements in my list and creating a bloc for each seems worse. ¿Isn't it?

I'm going to convert it to `StatefulWidget`, do it on the `initState `and give it a try.

Great work with the library, I just finished a Flutter course with the vanilla bloc approach and refactor

[2021-03-02 13:51] felangel commented on #2180
Sounds good and thanks for the positive feedback! You can check out [fluttersaurus](https://github.com/felangel/fluttersaurus) for an example of a master/detail experience using a real API.

Closing for now but feel free to comment with any additional questions and I’m happy to continue the conversation 🙂

[2021-03-02 13:51] #2180 closed

[2021-03-02 16:06] wbusey0 opened #2184 "Export ProviderNotFoundException in flutter_bloc"
**Is your feature request related to a problem? Please describe.**
In flutter_bloc <6.1.0, to handle retrieving optional Repositories - which might not contain a value - with `RepositoryProvider.of()` you needed to catch FlutterError which is counter-intuitive and discouraged.
This was fixed in flutter_bloc 6.1.0 so that it rethrows ProviderNotFoundException. However, to be able to catch this spec

[2021-03-02 16:08] felangel commented on #2184
Hi @wbusey0 👋
Thanks for opening an issue!

Can you please elaborate a bit on why you want to handle a `ProviderNotFoundException`? Thanks!

[2021-03-02 21:49] mmazurovsky commented on #2155
Thank you very much, @felangel !
My mistake, I can see now that nested if condition inside bloc builder caused the trouble

[2021-03-02 21:57] wbusey0 commented on #2184
Hi @felangel

Thank you for the quick reply, nice hearing from you! We shortly spoke after the Flutter Europe convention, hope you are doing well.

First, let me start by mentioning the following issue on the provider repository: [https://github.com/rrousselGit/provider/issues/235](https://github.com/rrousselGit/provider/issues/235)
Basically we sometimes need the optionally get the repository, or

[2021-03-03 03:12] Puspharaj opened #2185 "How cubit to cubit stream listens?"
This is not a bug or feature.

What I observed, when bloc to bloc communication, Same as goes to cubit i guess that's right,

But they streams won't be listening within the cubit until i set the lazy to false while creating the MyCubit.
Strange it took 3 hours find what went wrong.

`class MyBloc extends Bloc {
          final OtherBloc otherBloc;
         StreamSubscription otherBlocSubscription;

[2021-03-03 03:12] fayduan opened #2186 "memory leak caused by bloc close method"
**Describe the bug**
Use dart vm_service to check the memory, and find that when the widget is closed, the bloc object is still held by
 `_Future._awaiter`

**To Reproduce**
Steps to reproduce the behavior:
1. Run `main.dart` (at end of this issue)
2. Click 'Click Me'
3. Click 'Back' on the top-left
4. Check bloc object retaining path

**Expected behavior**
Expect the bloc is collected by gc, and

[2021-03-03 05:33] felangel commented on #2186
Hi @fayduan 👋
Thanks for opening an issue!

I was able to reproduce this and after digging I'm fairly certain it's due to the internal event stream being a broadcast stream when it shouldn't be. This was fixed in the null safe release but I must've forgotten to apply the changes to master.

Can you take a look at #2187 and verify the fix on your end as well? Thanks! 🙏

[2021-03-03 05:47] felangel commented on #2185
Hi @Puspharaj 👋
Thanks for opening an issue!

Sorry for the inconvenience but yes, by default, `BlocProvider` only creates the bloc or cubit when it is requested so you need to set `lazy` to false if you want it to be instantiated immediately (even if there's no `BlocBuilder` or `BlocListener`).

Closing for now since it sounds like you were able to resolve the issue but feel free to comment with

[2021-03-03 05:47] #2185 closed

[2021-03-03 06:22] fayduan commented on #2186
Hi @felangel
#2187 fix the issue on my end.
Thanks.

[2021-03-03 13:43] #2186 closed

[2021-03-03 14:04] felangel commented on #2183
Hi @data987 👋
Thanks for opening an issue!

Can you provide a link to a reproduction sample? If not, it would be useful to see the LoginScreen implementation. Thanks!

[2021-03-03 14:22] felangel commented on #2186
Fix is published in [bloc v6.1.2](https://pub.dev/packages/bloc/versions/6.1.2) 👍

[2021-03-03 15:54] felangel commented on #2184
@wbusey0 no problem and thanks! Hope you're doing well too 👍

I've exported `ProviderNotFoundException` as part of `flutter_bloc v6.1.3` 🎉

[2021-03-03 16:28] felangel commented on #2182
Hi @aliyazdi75 👋
Thanks for opening an issue!

This is working as expected because in this case the state is changing just before the `DialogPage` is disposed. Check out [this modified sample](https://gist.github.com/aliyazdi75/a273a2e2306126acfc5b3a6a495b40ba#gistcomment-3652389) which prints when the `DialogPage` is actually disposed and you can see the state is received before the widget is dis

[2021-03-03 17:00] aliyazdi75 commented on #2182
Thank you. So what should I do to prevent that situation? This means getting value from the dialog and assigning the variable, and the dialog page has not been disposed yet!
It seems so strange. DO you think is that a flutter issue, or is it the expected behavior?

[2021-03-03 17:09] felangel commented on #2182
@aliyazdi75 I don't think this is a flutter issue. Can you provide more context around what you're trying to achieve? Thanks! 🙏

[2021-03-03 17:19] aliyazdi75 commented on #2182
I have a state which needs to be listened when the Dialog page has not been disposed.
And this code
[code]
means that the dialog should be completely popped and returns the value, after this code, I trigger this event by this `BlocProvider.of<DialogBloc>(context).add(Accept());` and this changes to a new state and dialog page makes problem by listening to this new state.
I could fix this problem b

[2021-03-03 17:24] aliyazdi75 commented on #2178
I implemented Navigation 2 with complicated structure pages in my project with `ChangeNotifier`.

It takes me so much time to fix some issues in that medium articles.
So you can check my source codes here to save your times :smile:

The outer router: https://github.com/aliyazdi75/gallery/blob/main/lib/presentation/screens/gallery/router.dart
The inner router: https://github.com/aliyazdi75/gallery/

[2021-03-04 03:59] data987 commented on #2183
Hi @felangel thanks for your help, and here goes the `LoginScreen` implementation

[code]

[2021-03-04 17:11] mauriciofontanadevargas commented on #1703
Thanks @Arbitr108 . I was running into the same issue and your solution does work

[2021-03-04 18:00] #1932 closed

[2021-03-04 18:00] github-actions[bot] opened #2191 "[Translations] Update docs"
Update Translations to include changes from b2ca768db08de9c3fe01a902626ce23b58033058.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-03-05 02:59] felangel commented on #2124
Closing this since it will be addressed by #2127

[2021-03-05 02:59] #2124 closed

[2021-03-05 03:03] felangel commented on #1535
This is addressed as part of v8.0.0-nullsafety you can do:

[code]

[2021-03-05 03:03] #1535 closed

[2021-03-05 03:04] felangel commented on #1333
There’s a great bloc course on udemy at https://www.udemy.com/course/bloc-from-zero-to-hero/ 🎉

[2021-03-05 03:04] #1333 closed

[2021-03-05 10:00] whysetiawan opened #2192 "BlocConsumer listen the same state"
I have a button that request to an API. After the submission failure and the button clicked once more. The Snackbar shows again.

[code]

[2021-03-05 14:26] NikhilSingh883 commented on #156
@felangel plx help

same error after sending nameChanged event more than once it didnt work

[code]

[2021-03-05 15:26] algirdasmac opened #2193 "HydratedStorage on null-safe prerelease is not working with web"
In version `7.0.0-nullsafety.2` to build `HydratedStorage` on the flutter app, you need to pass in `storageDirectory`, which is of type `Directory` (of dart:io package). Unfortunately [dart:io](https://api.dart.dev/stable/2.12.0/dart-io/dart-io-library.html) package supports non-web applications.

Tried few different ways of tricking the system, nothing works.

[code]
throws
[code]

[code]
throws:

[2021-03-05 15:29] felangel commented on #2192
Hi @whysetiawan 👋
Thanks for opening an issue!

Can you share your `TrxFormState` implementation? Thanks! 🙏

[2021-03-05 16:21] whysetiawan commented on #2192
Here is `TrxFormState` @felangel

[code]

[2021-03-05 16:24] felangel commented on #2192
@whysetiawan can you share the `ProductListModel`, `CustomNo`, `AccountNo`, and `ProductCode` models as well? Also what is the type of the `productList`?

[2021-03-05 16:31] whysetiawan commented on #2192
Here is the code :

`ProductListModel`
[code]

`Model of the form`
[code]

`productList` is a json that loaded from my json and i make the model for this. This is happen in the `trx_from_bloc`, here is the functions
[code]

[2021-03-05 16:33] whysetiawan commented on #2192
`productListModel`

[code]

[2021-03-05 16:37] felangel commented on #2192
@whysetiawan thanks for sharing! `ProductListModel` should also extend `Equatable` in order for the equality comparisons to be accurate.

[2021-03-05 16:39] whysetiawan commented on #2192
Okay i will try, is this actually happening because of the model may be has the different instance? @felangel

[2021-03-05 16:47] felangel commented on #2192
yeah if the model is different then the whole state will be different

[2021-03-05 16:47] whysetiawan commented on #2192
https://user-images.githubusercontent.com/32702491/110146344-06e0c300-7e0d-11eb-85af-072ee8d9e742.mov

Still happening @felangel

[2021-03-05 16:52] whysetiawan commented on #2192
It's my fault, i'm copy the status twice in my submitted event. Thanks @felangel.

[2021-03-05 16:52] #2192 closed

[2021-03-05 17:13] whysetiawan opened #2194 "Usage with Nested Routes"
Hi @felangel i have another problem with Navigator. I have a home page which has bottom tab and another navigator. In order to call a Bloc from the screen, it always give me an error that the context doesn't provide Bloc. How to solve this problem?

[code]

I read `TrxCubit` or `TrxFormBloc` for all the defined route.

[2021-03-06 07:50] proninyaroslav opened #2196 "[bloc_test] Error: The argument type 'Bloc<Event, State>' can't be assigned to the parameter type 'dynamic Function()'"
**Describe the bug**
After updating the transitive `mocktail` dependency to `0.0.2-dev.0` version, tests fails with the following exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use `bloc_test 8.0.0-nullsafety.1`
2. Update  `mocktail` to `0.0.2-dev.0`
3. Run bloc test

**Logs**

***flutter analyze***
[code]
***flutter doctor -v***
[code]

[2021-03-06 09:36] NikoBoerger opened #2197 "whenListen() called with generated mockito mock throws "Bad state: when called on a real object.""
**Describe the bug**
Mockito introduced the @GenerateMocks() annotation with nullsafety.
However, It seems like the whenListen() method doesn't work with those generated mocks. The whenListen() method doesn't detect the mock as a mock, since the super class is different (even though with the same name "Mock"). It then throws "Bad state: when called on a real object.".

Is that expected behavior, o

[2021-03-06 15:24] felangel commented on #2196
Hi @proninyaroslav 👋
Thanks for opening an issue!

There are breaking changes in v0.0.2-0 of mocktail so I’d recommend locking the version to 0.0.1-0 temporarily and I’ll have a new bloc_test release shortly that is compatible with v0.0.2.

Sorry for the inconvenience!

[2021-03-06 15:27] felangel commented on #2197
Hi @NikoBoerger 👋
Thanks for opening an issue!

This is expected behavior because bloc_test is using mocktail for mocking the bloc due to limitations of mockito and codegen.

I’m working to try to reconcile the differences and even potentially merge mocktail into mockito but for now this is expected behavior.

Sorry for any inconvenience!

[2021-03-06 15:50] NikoBoerger commented on #2197
Hi @felangel,

Thanks for clarifying mate! It's fine, don't bother :) It was very convenient to use but then I know now that I have to migrate the code to the normal "when" there.

Cheers! ✌️

[2021-03-06 15:55] #2197 closed

[2021-03-07 08:06] ebelevics opened #2199 "Question about passing models using PushReplacement"
Currently, I have 3 screens, which are ordered in a specific order:

The idea is from LoginScreen I can navigate to RegisterScreen. There I provide an email address and after verifying I go further to RegisterCompleteScreen. In RegisterCompleteScreen I fill the rest of the information to complete registration. **Important note: I navigate to RegisterCompleteScreen with PushReplacement method.**

W

[2021-03-07 08:40] omidraha commented on #1855
When I press `backbutton`, the `buildWhen` is not called, but `BlocBuilder` called for unwanted condition in the `buildWhen`.

[2021-03-07 09:26] furkanvatandas opened #2200 "Show side-effects without change data"
Hi Felix,

I got this code from https://github.com/felangel/fluttersaurus and modified it a little bit.
I am not sure if it is a correct use? Or how can I use it cleaner?

I'm using ProcessStatus for BlocListener:
-> Show LoadingDialog for async methods
-> Show ErrorDialog when get exceptions
-> Navigate other pages

While doing these, I also show the suggestions list. I don't want to change the m

[2021-03-07 14:49] #2196 closed

[2021-03-07 14:52] felangel commented on #2196
This should be fixed in [v8.0.0-nullsafety.2](https://pub.dev/packages/bloc_test/versions/8.0.0-nullsafety.2) sorry for the inconvenience!

[2021-03-07 22:01] nilsreichardt opened #2202 "Prereleases are no longer needed for null safety"
## Description
Since Flutter 2 null safety is stable. So prereleases are no longer needed for null safety.

[2021-03-07 22:48] felangel commented on #2202
Hi @nilsreichardt 👋
Thanks for opening an issue!

I plan to release an updated version of flutter_bloc later today with provider v5.0.0. Thanks for your patience 🙏

[2021-03-08 06:47] #2202 closed

[2021-03-08 08:46] masfranzhuo commented on #2196
i still got error on the latest version of null safety

[code]

[code]
the error is in expect value on bloc test

flutter doctor -v

[code]

[2021-03-08 08:49] proninyaroslav commented on #2196
@masfranzhuo

Now you should write like this, because `expect` requres a function:
[code]

[2021-03-08 08:58] masfranzhuo commented on #2196
thanks

[2021-03-08 16:07] solikhver opened #2206 "Current blocTest implementation doesn't allow to have a seed calculated in runtime"
Hi Felix.
Thank you for your great work.

I am trying to use a complex object seed generated during async setUp.

I propose to replace `State seed` in `runBlocTest` with  `State Function() seed` function.

Here is example that doesn't work in current version.
[code]
Here is my solution: https://github.com/solikhver/bloc/tree/seed_function_in_bloc_test
I can create pull request if my proposition wi

[2021-03-08 17:45] jibiel opened #2207 "Multi Value Provider"
Lately I often find myself writing code like this in widget tests:

[code]

Are there any plans to introduce something like `MultiBlocProvider.value` to simplify such use cases?

Or maybe it is possible to refactor the above code with the current API and I'm just not aware of it?

[2021-03-08 17:47] felangel commented on #2207
Hi @jibiel 👋
Thanks for opening an issue!

`MultiBlocProvider` current supports value providers:

[code]

Hope that helps 👍

[2021-03-08 17:53] jibiel commented on #2207
@felangel Sweet! Thanks! 😅

[2021-03-08 17:53] #2207 closed

[2021-03-08 21:31] #2193 closed

[2021-03-08 21:40] RR-Reddy opened #2210 "Need Full control to developer on context.select() Simpler Build When Method"
This is a great library

I used it in one of my game and now i am trying to migrate to null safety version ( deprecated apis removed)

**Note :**  I have read   #1521

I am having below scenario to use context.select() only when some game event updated

[code]

[code]

Use cases
1) When GameUpdateType is KILL_MOVE i have to do some re-render/ action in only one specific widget
2) There are so may

[2021-03-08 22:16] felangel commented on #2210
Hi @RR-Reddy 👋
Thanks for opening an issue!

Just to clarify, are you asking for an update to `context.select` just out of convenience? There should be nothing preventing you from using `BlocBuilder` with `buildWhen` in the null-safety prereleases.

For some context, `context.select` is implemented in `package:provider` and `BlocProvider` uses `Provider` internally. As a result, if we want these c

[2021-03-08 22:17] felangel commented on #2206
Hi @solikhver 👋
Thanks for opening an issue!

Yeah I agree we might as well make this change for consistency with the remaining APIs in the null-safety prerelease of bloc_test. I can apply them since it's late in Germany and you're probably asleep 😄

Thanks so much for bringing this up and I'll try to get it released in the next few hours 👍

[2021-03-08 22:28] #2206 closed

[2021-03-08 22:43] felangel commented on #2206
This is now available as part of [v8.0.0-nullsafety.4](https://pub.dev/packages/bloc_test/versions/8.0.0-nullsafety.4) 🎉

[2021-03-09 00:55] PlugFox commented on #1936
@felangel If you need any help, feel free to contact me.
I will try to help and explain everything I can.

I don’t have much time and I don’t want to do a pull request without agreeing on plans, as this may go against your views.

Thank you for admitting the problem)

[2021-03-09 08:23] kurtiev commented on #1856
I'm using it this way:

[code]

And I just want to know, if there are any disadvantages of this approach?  @felangel

[2021-03-09 09:33] mehrdad78 opened #2215 "using cubit functions and states in Dialog"
I want to use my cubit in a dialog but it throw an error and i can't use the cubit.
i have a FAB ,when user Tap on that i should show a dialog  and i want to use Bloclistener and Blocbuilderin that.
 the **Error**:

 `Could not find the correct Provider<AccidentCubit> above this BlocBuilder<AccidentCubit, AccidentState> Widget

This likely happens because you used a `BuildContext` that does not in

[2021-03-09 13:40] Malyasse opened #2216 "Can't pub get examples."
**Describe the bug**

when I 'pub get' on the project examples, I have the following error:

_With flutter_complex_list :_

Because equatable >=2.0.0-nullsafety.3 depends on meta ^1.3.0 and every version of flutter from sdk depends on meta 1.3.0-nullsafety.6, equatable >=2.0.0-nullsafety.3 is incompatible with flutter from sdk.
So, because flutter_complex_list depends on both flutter any from sdk

[2021-03-09 14:08] felangel commented on #2216
Hi @Malyasse 👋
Thanks for opening an issue!

The examples have been upgraded to flutter 2.0 and it looks like you’re using an older version. Can you try upgrading and let me know if you’re still running into the same issue?

[code]

Thanks!

[2021-03-09 17:06] felangel commented on #1856
@kurtiev you'll most likely want to provide an initialData since the bloc doesn't emit immediately upon subscribing and you'll also need to work with the async snapshot which is unnecessary boilerplate in this case.

BlocBuilder just simplifies things for you:

[code]

instead of:

[code]

It's up to you at the end of the day since it's all streams but I would definitely recommend `BlocBuilder` fo

[2021-03-09 17:24] graphicbeacon opened #2217 "StorageNotFound (Storage was accessed before it was initialized..."
**Description**
Hello, I'm getting the below error when starting the app:

[code]

**To reproduce**
In my main.dart file I am initialising HydratedBloc.storage:

[code]
and my initialised App:
[code]

and I have my hydrated bloc instance:

[code]
**Additional context**
It seems that whenever I start the app, an attempt is made to retrieve the value of `storage` in `HydratedBloc` which fails. Altho

[2021-03-09 18:03] graphicbeacon commented on #2217
@felangel This is happening with version **^7.0.0-nullsafety.3**. Can't share the codebase since it's private. I can share the below observations to hopefully help. If you still want a reproducible example then I'll put one together.

So far I'm seeing that HydratedBloc invokes `hydrate()` in its constructor which has this line:

[code]
That line is invoking the storage getter here:

[code]
which

[2021-03-09 18:04] felangel commented on #2217
Yeah it would be great if you could provide a reproduction sample because this error means there's either an issue with the initialization or the storage is being used before it's initialized as you pointed out. Thanks! 🙏

[2021-03-09 18:24] djensen47 commented on #1928
Well, it would be nice to have an example of how to use Bloc using the new recommended approaches. 🤔

[2021-03-09 21:14] graphicbeacon commented on #2217
@felangel Apologies, I figured it out. I have a project generated with very_good_cli and didn't realise I was running main_production.dart rather than main_development.dart. _Silly me, I need rest!_

[2021-03-09 21:14] #2217 closed

[2021-03-10 00:11] DDDrop opened #2218 "Will bloc use Riverpod instead of Provider?"
**Is your feature request related to a problem? Please describe.**
For example Riverpod put provider globally, so MultiBlocProvider is not more needed.
Will bloc use Riverpod in next big update?

[2021-03-10 02:27] nfortiz commented on #1819
If my app have the feature that gets from the backend posts created by  an user and other gets posts liked by an user, both endpoints are paginated so i can implement the infinity scroll feature. Do i need to created two cubits or blocs to manage these features?

[2021-03-10 07:38] kurtiev commented on #1856
Yeah, I'm using BlocBuilder, BlocConsumer, etc. Just wanted to know, can we use StreamBuilder or not. It's just for some cases, like merge multiple streams or smth like that.
Thanks for your response, now it's clear.

[2021-03-10 08:03] bayuramadeza commented on #363
Hi, May someone help me to solve the issue above? Why bloc listener doesn't listen any state if I do this step:
1. emit(LoadingState)
2. emit(LoadedState(data))

But, when I did this step the listener will listen my state changes.
1. emit(LoadingState)
2. Asynchronous request data from API
3. emit(LoadedState(data))

Why this happened? and when exactly listener will listen state changes?

[2021-03-10 10:48] whysetiawan opened #2220 "Cannot add event in Listview.builder"
I have a problem whenever i click the ListTile, it always broken

[code]
I have changed to the `context.read` but still not working.

[2021-03-10 11:06] whysetiawan commented on #2220
My bad

[2021-03-10 11:06] #2220 closed

[2021-03-10 13:51] furkanvatandas commented on #2218
There is an open issue here https://github.com/felangel/bloc/issues/2100

[2021-03-10 13:53] felangel commented on #2218
Hi @DDDrop 👋
Thanks for opening an issue!

As @furkanvatandas mentioned there is already an issue open to discuss this 👍

[2021-03-10 13:53] #2218 closed

[2021-03-10 16:46] felangel commented on #1468
You can also use [very_good_cli](https://github.com/VeryGoodOpenSource/very_good_cli) 🎉

[2021-03-10 19:22] felangel commented on #494
@craiglabenz @jasonjtyler sorry for the delayed response!

So currently, if an uncaught exception occurs within a bloc, it will trigger `onError` in the `BlocObserver` and when running in debug mode it will also result in an exception.

[code]

This will result in:

[code]

In release mode, no exception will be visible but errors will still continue to be reported to the `BlocObserver`.

Does this

[2021-03-10 21:05] craiglabenz commented on #494
This is soooooo dreamy, @felangel!

[2021-03-11 17:40] Martibis commented on #2175
I don't have time to make a minimal example at the moment, might reopen later if I run into the scenario again.

[2021-03-11 17:40] #2175 closed

[2021-03-11 22:04] Elias8 commented on #2200
Hello @furkanvatandas 👋, I think `BlocBuilder` and/or `BlocListnener` are what you are looking for. For the first case, using a `BlocBuilder` you can build a widget depending on some conditions by passing the condition to `buildWhen` parameter of the `BlocBuilder` itself. And for the second case, again you can use `BlocBuilder`, since it is inside another widget(class as you said) it will be built

[2021-03-11 22:12] Elias8 commented on #2215
Hello @mehrdad78 👋, if you want to use a `bloc` on the same widget tree where you are creating the bloc using `BlocProvider`, checkout the `Builder` widget from flutter. It will give you a child `BuildeContext` in a `build` callback, so that you can use that context to read the `bloc` on the same widget tree.

Hope this helps.

[2021-03-11 22:18] Elias8 commented on #2215
Hey @felangel, don't you think it would be better if we could add a `builder` param the same as a provider package so that people don't get into the same issue?

I could do that and create a pr if you think it would be good to have that.
Thanks!!

[2021-03-11 23:02] felangel commented on #2215
Hi @Elias8 👋

I'd rather not encourage this pattern because ideally there should be a separation between the widget providing the object and the widget consuming the object. If the same widget provides and consumes the object then it is no longer possible to provide a mock instance for testing and developers will be forced to test the internal implementation details of the thing being provided. Ho

[2021-03-11 23:04] felangel commented on #2215
Hi @mehrdad78 👋
Thanks for opening an issue!

I recommend providing the existing bloc to the Dialog using `BlocProvider.value`. You can see an example [here](https://bloclibrary.dev/#/recipesflutterblocaccess?id=anonymous-route-access).

Hope that helps 👍

[2021-03-12 00:56] Elias8 commented on #2215
@felangel You are right. That actually makes sense 👍

[2021-03-12 01:42] felangel commented on #2215
Closing for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2021-03-12 01:42] #2215 closed

[2021-03-12 01:47] Gene-Dana commented on #2199
I think this may be a situation where the new page is losing the context where the RegisterCubit resides.

The instant I read this, I thought it may be a perfect candidate for Flow Builder https://pub.dev/packages/flow_builder

FlowBuilder literally walks through flows exactly like this. And, in the authentication example, you will see, Felix creates a local cubit for this scenario.

Give this a l

[2021-03-12 01:51] Gene-Dana commented on #2194
From what I understand, I believe you can pass in the actual into your widgets, although I'm not certain this is the best practice.

Another option would be to pass in the cubit/bloc directly in the pages.

Recently, I moved to navigating with Flowbuilder because it implements Navigator 2.0 under the hood like this

https://github.com/Team-Crushing-It/l2t_alpha/blob/a7396c8cf2ddfb475b6119378585777

[2021-03-12 04:35] felangel commented on #2216
Closing for now but feel free to comment with additional questions/comments and I'm happy to continue the conversation 👍

[2021-03-12 04:35] #2216 closed

[2021-03-12 05:51] II11II opened #2224 "fromJson and toJson in state [Hydrated bloc]"
I have auth hydrated bloc and there are 3 states.
[code]
I want to implement fromJson and toJson Methods in order to save state in the hydrated bloc.
Could you show please the best way  to implement fromJson and toJson in hydrated bloc ?

[2021-03-12 06:19] furkanvatandas commented on #2200
Actually, I'm curious about which of the approaches I have written will be more correct. Although I showed the FailureScreen(PageStatus==Failure) in the first case, I can access other states like _isEditable_ or _suggestions_. Although I don't need to use this states.

[2021-03-12 08:30] VictorUvarov opened #2226 "Freezed 14.0.0 no longer requires abstract keyword for classes"
**Describe the bug**
https://pub.dev/packages/freezed#the-abstract-keyword

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a freezed bloc with vscode

**Expected behavior**
Generates the class without abstract keyword

**Screenshots**
<img width="983" alt="Screen Shot 2021-03-12 at 12 29 29 AM" src="https://user-images.githubusercontent.com/35702719/110913470-11e29a00-82ca-11eb-87e4

[2021-03-12 12:32] jamesnicholls04 opened #2227 "HydratedBloc test - MissingPluginException"
Hi!

I have been unable to write a blocTest for a HydratedCubit, though I have been able to test other cubits.

<img width="431" alt="Screenshot 2021-03-12 at 12 27 46" src="https://user-images.githubusercontent.com/68249898/110940235-78999f00-832e-11eb-99b7-90ae2d3c8a32.png">

<img width="862" alt="Screenshot 2021-03-12 at 12 28 07" src="https://user-images.githubusercontent.com/68249898/11094024

[2021-03-12 13:50] samulefevre commented on #2224
Hello, this video should help you :
https://www.youtube.com/watch?v=L5QinDY7nKE (Maintaining Flutter Application State with Hydrated Bloc)

[2021-03-12 13:58] samulefevre commented on #2227
Hello got same kind of problem :

`HydratedBloc.storage = await HydratedStorage.build(
    storageDirectory: await getApplicationDocumentsDirectory(),
  );`

[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method getApplicationDocumentsDirectory on channel plugins.flutter.io/path_provider)

Happens for me when i use flutter run -

[2021-03-12 15:00] II11II commented on #2224
Hi @samulefevre, I ve watched this video and it is informative and awesome ))
But this kind of example is not shown when the state of the bloc consists of two or more classes and linked with inheritance

[2021-03-12 16:11] RR-Reddy commented on #2210
Thanks  @felangel for great documentation

I have successfully migrated code to null safety,  after reading full migration documentation [https://bloclibrary.dev/#](https://bloclibrary.dev/#/migration)

I understood how bloc library respecting provider package features and API's, and no confusion to developers

[2021-03-12 16:11] #2210 closed

[2021-03-13 14:44] wujek-srujek opened #2228 "Migration notes missing for 7.0"
**Describe the bug**
Now `Cubit extends Bloc`, contrary to the previous `Bloc extends Cubit` introduced in 6.0.0. It doesn't cause any issues for me and I actually noticed this by accident after migrating my app to null safety, and flutter_bloc to 7.0.0-nullsafety - I am experimenting with a change and was looking for the `cubit` parameter in a `BlocBuilder` that is now gone. I looked into migrati

[2021-03-13 14:59] wujek-srujek commented on #2224
How about this: each state has its own `fromJson` and `toJson` methods and apart from the data, they additionally save a field called e.g. `_subtype`; then the bloc, when it gets the JSON, gets the field and depending on its value it call `fromJson` on the correct subclass. There are many variations of this solution, e.g. you can create a factory in `AuthState` etc. Hope this helps.

[2021-03-13 15:17] dawidd6 commented on #2228
`cubit` parameter for `BlocBuilder` is now changed to `bloc`, which accepts both a `Bloc` and a `Cubit` since the latter extends the former.

[2021-03-13 16:58] wujek-srujek commented on #2228
@dawidd6 Yes I am aware of that, I checked the code. I just wanted to make sure the migration docs get updated, and also wanted to ask about the rationale - I am a big fan of BLoC and this library, it is a vital part of my apps, and I like to understand things. I haven't found any issue relating to it, hence the question.

[2021-03-13 17:16] edu81 opened #2229 "Using cubit class from another widget not working"
In my main.dart I am calling my HomeRoute providing my cubit like this:

**main.dart**

[code]

in **home_route.dart** I have, inside the BlocConsumer:

[code]

in **default_error_widget.dart**, the cubit is not working in this button pressed:

[code]
Error tells:

`Error: The method 'read' isn't defined for the class 'BuildContext'.`

How to make this work properly? or how to pass the Cubit class

[2021-03-13 17:30] felangel commented on #2229
Hi @edu81 👋
Thanks for opening an issue!

I believe you just forgot to import flutter_bloc.

`import ‘package:flutter_bloc/flutter_bloc.dart’;`

hope that helps 👍

[2021-03-13 18:18] edu81 commented on #2229
Hi @felangel

You were totally right...so stupid mistake, sorry for the disturbance.

Would it be a good feedback to add this suggestion to the error message? something like:

[code]

Anyway, thanks for the good and fast help!

[2021-03-13 19:13] felangel commented on #2229
No worries! Unfortunately, the error message is part of the flutter/dart vscode extension and isn’t specific to bloc.

[2021-03-13 19:13] #2229 closed

[2021-03-14 21:23] najibghadri opened #2230 "Listen to only part of state"
Dear maintainers, question: am I right that if I want to listen (in flutter e.g.) to only changes of part of the state I need to define `listenWhen` with a partial state check?

And is this an antipattern?

[2021-03-15 04:42] jasonjtyler commented on #494
This is perfect @felangel, thank you very much!

[2021-03-15 07:23] II11II commented on #2224
Yeap, I am doing as you said. I would like to know are there better solutions.
If yes, I will be here.
For now, I close the issue.

[2021-03-15 07:23] #2224 closed

[2021-03-15 07:28] brianmori commented on #1204
I have a question concerning the MultiRepositoryProvider, which is pretty similar to the issue here.

Following the tutorials:

- https://bloclibrary.dev/#/flutterfirebaselogintutorial
- https://bloclibrary.dev/#/flutterfirestoretodostutorial

I changed the

[code]

into

[code]

and it says it could not find the correct provider for <AuthenticationBloc> above this BlocListener<AuthenticationBlock

[2021-03-15 11:07] gutisalex opened #2232 "how to set the currentIndex in a tabBar"
Hello,

I would like to use the bloc pattern with a tabbar which I use as a bottomNavigationBar. By now I have set up a bloc which manages the currentIndex and a user repo which fetches some data needed for each tabview.

The bloc looks like that:
bottom_navigation_event.dart
[code]
bottom_navigation_state.dart

[code]
bottom_navigation_bloc.dart
[code]

user_repository.dart
[code]

If I would use

[2021-03-15 12:52] shaun-pendrigh opened #2233 "MockBloc testing Error since moving to Null Safety"
Since moving my project to Null Safety I am getting the following error:

Bad state: A test tried to use `any` or `captureAny` on a parameter of type `XXXXXEvent`, but
registerFallbackValue was not previously called to register a fallback value for `XXXXXEvent`

As these packages are still pre-release I wanted to confirm if it was a known issue. Using flutter_bloc: ^7.0.0-nullsafety.5 and bloc_tes

[2021-03-15 14:30] felangel commented on #494
Awesome, closing for now but feel free to comment with any questions/concerns and I'm happy to continue the conversation 👍

[2021-03-15 14:30] #494 closed

[2021-03-15 14:46] felangel commented on #2227
Hi @jamesnicholls04 @samulefevre 👋
Thanks for opening an issue!

In previous versions, HydratedStorage would rely on `path_provider` internally to determine the default storage directory so you'll need to mock the storage instead of using the real storage. You can take a look at the [weather example tests](https://github.com/felangel/bloc/blob/6c2aadddf60f3656292c4a1039bc5cdbd95828c7/examples/flut

[2021-03-15 15:43] samulefevre commented on #2227
Hi, i have tried with only Directory directory = await getApplicationDocumentsDirectory(); (in main.dart) It works in debug mode but when i want to build for release it shows error. So it is a problem with package path_provider. But if you have any ideas how to solve it ? If not, i should open an issue on path_provider github.

[2021-03-15 15:46] felangel commented on #2227
Are you referring to tests or regular code?

[2021-03-15 15:48] samulefevre commented on #2227
regular code

[2021-03-15 15:53] felangel commented on #2227
Are you running on mobile (iOS/Android), web, or desktop?

[2021-03-15 15:54] samulefevre commented on #2227
on mobile android, flutter 2.0.2(stable)

[2021-03-15 15:55] felangel commented on #2227
Can you share the complete error and stacktrace?

[2021-03-15 15:56] samulefevre commented on #2227
[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method getApplicationDocumentsDirectory on channel plugins.flutter.io/path_provider)
E/flutter (10623): #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:156)
E/flutter (10623): <asynchronous suspension>
E/flutter (10623): #1      getApplication

[2021-03-15 16:03] felangel commented on #2227
@samulefevre I would recommend opening an issue on `path_provider` with a reproduction sample and clear reproduction steps. If you haven't already, I would recommend cleaning and re-running:

[code]

Hope that helps 👍

[2021-03-15 16:05] samulefevre commented on #2227
Thank you for your help and time. I already done this, so i will open an issue.

[2021-03-15 18:12] felangel opened #2235 "[Proposal] Bloc and Cubit to extend BlocBase"
## Summary

- Define a common interface for Bloc and Cubit instances called `BlocBase` rather than having bloc directly extend cubit or vice versa.
- Include changes in #2234 as part of the stable v7.0.0 release of package:bloc (read on for rationale).

Please leave a 👍  if you agree with the proposal or a 👎  if you disagree. If you disagree, it would be great if you could also leave a comment exp

[2021-03-15 18:17] felangel commented on #2228
Hi @wujek-srujek 👋
Thanks for opening an issue!

I haven't forgotten about the migration guide but there are still several changes that may or may not land before a stable release can be published and we'll be sure to have the migration guide ready before v7.0.0 is released 👍

Regarding your second question, I was just working on a proposal to hopefully address this and several other issues at #22

[2021-03-15 18:50] Gene-Dana commented on #2235
Well.. I like the idea of greatly simplifying the API and I like the reminder that we are working with streams when we are working with Bloc

[2021-03-15 18:56] felangel commented on #2235
In my opinion, the main downside is the breaking change for the rename + the introduction of a `BlocStream` class. I'm also open to alternative names since `BlocStream` might not be the best name for this base class.

[2021-03-15 18:59] jeroen-meijer commented on #2235
I think this is a great approach. From the looks of it, I don't see any downsides besides a small refactor.
It would be nice to have a different name than `BlocStream` since it decouples the implementations (`Bloc` and `Cubit`) from the base, but on the other hand, a completely new name might be confusing.

LGTM overall. :shipit:

[2021-03-15 19:29] wujek-srujek commented on #2235
I like the idea 👍  and have a few comments:
- How about `StateStream` instead of `BlocStream`? Essentially, `Bloc` and `Cubit` have that in common - they expose a stream of state changes. (Disclaimer: I'm not good with names.)
- Current parameter naming now has `void onCreate(BlocStream bloc) {...}`, how about `void onCreate(BlocStream blocStream) {...}` (or `stateStream`, see above).
- Does `Bloc

[2021-03-15 19:53] Jomik commented on #2235
I do not like this idea.
I do not feel like it makes sense to have a notion of `Transition`  outside of the `Bloc` class, `Cubit` should not have to care, unless you define a `Transition` as a `State -> State` relation, without an `Event`.
With this proposal, we need to say that `Cubit` has a `Null` event type, ew.

To me `BlocStream` looks like a `Cubit` with an extra generic for the `onTransitio

[2021-03-15 19:58] felangel commented on #2235
@wujek-srujek thanks for the feedback!

Yeah that works. I'm not good with names either haha.

Yeah good call we can rename for consistency 👍

Yeah I went back and forth on this as well. Cubits still technically have transitions but they just don't include event information. We could remove Event from the `BlocStream` which would result in defining `onTransition` separately in the `Bloc` and `Cubi

[2021-03-15 20:02] felangel commented on #2235
@jomik thanks for the feedback!

Just to clarify you're proposing the following:

- Bloc extends Cubit
- Neither extends/implements `Stream`/`Sink`
- Keep the naming `bloc` everywhere even though the type would be `Cubit`

We would still need to have a concept of `Transitions` for `Cubit` as well (previously called `Change`). Are you suggesting to go back to having two types: `class Change<S>` and

[2021-03-15 20:09] Jomik commented on #2235
Correct.
- Keep the naming `bloc` everywhere even though the type would be `Cubit`.

I honestly do not think it matters so much. I'd much rather keep the name `bloc` than having to replace it in large projects.
I do not think we really risk a misunderstanding, when keeping it, but changing it will influence a lot of tutorial's out there when pasted into a new project.
Could also argue that you sho

[2021-03-15 20:13] felangel commented on #2235
We could also use a more neutral name like: `value` which is something I considered. Will need to think some more about this 👍

[2021-03-15 20:47] wujek-srujek commented on #2235
Just some prototyping, I'm not sure if this generics-galore is worth it at all, bit it is possible to define `onTransition` on `StateStream`. Not sure how much it impacts other code and testing helpers, though.

[code]

I personally rally don't like the idea of `Cubit bloc` parameters, this is very confusing and just... feels wrong. Anyway, just my 2c.

[2021-03-15 20:50] felangel commented on #2235
@wujek-srujek in v6.0.0 `Transition` is called `Change` and `BlocTransition` is the `Transition`. The main issue with that approach as you mentioned was the `Cubit bloc` parameters which I want to avoid as well 👍

[2021-03-15 21:31] fabriziocacicia commented on #2235
Just a thought on the naming.
I agree that `BlocStream` is not the best name. Don’t forget that bloc come from ‘business logic component’, so `BlocStream` doesn’t make so much sense to me.
Instead, I like `StateStream`, as @wujek-srujek wrote, since both `Bloc` and `Cubit` are actually used as stream of states.

[2021-03-15 22:33] felangel commented on #2235
@fabriziocacicia @wujek-srujek another option that @Jomik brought up is `BlocBase` which might be better since the class is the base class for the bloc package. Thoughts?

[2021-03-15 22:41] wujek-srujek commented on #2235
`BlocBase` instead of `BlocStream`? Fine by me.

[2021-03-15 22:56] samulefevre commented on #2227
found my problem, it is package image_picker 0.7.2+1 who cause the error.

[2021-03-16 05:16] #2227 closed

[2021-03-16 08:32] gutisalex commented on #2232
I ended up building a custom tabbar and use a cubit for navigation (thx @Gene)!

Here is what I did:

I made a cubit with an enum for the tabnavigation state

[code]

I created a class for the tabbar

[code]

and here is the customized tabbartab

[code]

At the end I just use the tabbar as a bottomNavigationBar in a Scaffold

[code]

I did this during the night, I was tired after trying so many tr

[2021-03-16 08:32] #2232 closed

[2021-03-16 11:00] Nic008888 opened #2236 "Flutter timer with Freezed"
I've tried creating the Flutter Timer example with Freezed and I'm having trouble with the state.duration property. The state.duration property is passed into the TimerRunPaused and TimerRunInProgress (on resume) Events. I can't figure out how to create that state.duration property with freezed. I also can't see how it is being updated in the current example to hold the current duration.

[2021-03-16 11:59] davidcz95 opened #2237 "Bloc testing errors after upgrading to null safety"
Hello I have a problem with bloc testing etiher with bloc_test or flutter_test I think it is because I upgraded ma whole project to null safety but I might be wrong.
I assume it has something to do with following line in the stack trace:
`The argument type 'Bloc<Event, State>' can't be assigned to the parameter type 'dynamic Function()'.`

Here is the whole stack trace:

[code]

And here is my log

[2021-03-16 13:45] Nic008888 commented on #2236
I figured it out with Freezed documentation.

[2021-03-16 13:45] #2236 closed

[2021-03-16 14:33] felangel commented on #2237
Hi @davidcz95 👋
Thanks for opening an issue!

It looks like you need to update your bloc_test version to 8.0.0-nullsafety.5. Let me know if you're still having trouble after upgrading and sorry for the inconvenience! 👍

[2021-03-16 14:37] felangel commented on #2233
Hi @shaun-pendrigh 👋
Thanks for opening an issue!

The problem is the prerelease of `bloc_test` is using `package:mocktail` instead of mockito so you'll need to use `any()` or `captureAny()` from [mocktail](https://pub.dev/packages/mocktail).

Let me know if that helps and sorry for the inconvenience! 👍

[2021-03-16 14:41] davidcz95 commented on #2237
Oh wow, yes it works now! I was losing my mind over this yesterday :joy: Thanks for the help!

[2021-03-16 14:48] felangel commented on #2237
Awesome! Sorry again for any inconvenience and glad it's all working now 🎉

[2021-03-16 14:48] #2237 closed

[2021-03-16 18:13] brianmori opened #2238 "how to use MultiRepositoryProvider"
Salut, hello,

I have a question concerning the MultiRepositoryProvider.

I followed the tutorials:

- https://bloclibrary.dev/#/flutterfirebaselogintutorial
- https://bloclibrary.dev/#/flutterfirestoretodostutorial

and I wish to change to MultiRepositoryProvider to have Firebase Auth and Firestore available everywhere

I changed the

[code]

into

[code]

and it says it could not find the correc

[2021-03-16 18:22] dawidd6 commented on #2238
Use the `child` property of `MultiRepositoryProvider`.

[2021-03-16 18:35] brianmori commented on #2238
Hi @dawidd6,

the `child` is the one of the `MultiRepositoryProvider` or I have not understood

Here is the full snippet in case

[code]

[2021-03-16 18:48] dawidd6 commented on #2238
Right. I misread the code.

[2021-03-16 19:00] gondaimgano commented on #2235
the traditional bloc works fine for me unless there is some added benefit I am not seeing from this proposal.

[2021-03-16 19:03] felangel commented on #2238
Hi @brianmori 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which reproduces the issue? I think we need to see more code in order to identify the problem. Thanks! 🙏

[2021-03-16 19:10] felangel commented on #2235
@gondaimgano thanks for the feedback! To be clear, this proposal is to simplify the existing public API surface area of bloc and cubit and to make the relationship between bloc and cubit more natural. As a developer, you will still be able to use bloc and cubit as you normally do with a few minor breaking changes (mentioned above).

[2021-03-16 20:19] brianmori commented on #2238
Merci beaucoup

I uploaded the project in this repo https://github.com/brianmori/flutterfirebase

It is the code of https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_login which I am using to experiment with Flutter Bloc :)

I am trying to figure out the reason behind to not return only the AuthenticationProvider, but also the BlocProvider -> AuthenticationBloc

Was it for the

[2021-03-16 21:03] narcodico commented on #2235
I hate to be the one to say it, but this looks more and more like a `StreamController` to me 😀

[2021-03-17 13:02] ChristianConstantNel opened #2239 "Listener using previous widget's attribute."
Hi!

Firstly I want to thank everyone involved with this package. I've been using it for our production app and it's absolutely fantastic! I cannot express enough gratitude for the extensive documentation and tutorials. Hands down one of the best packages I've used.

I'm struggling with a bug regarding the listener of BlocConsumer. When the listener is called, I check an attribute of the widget be