[2022-02-11 14:52] marcossevilla commented on #3223
hey @jackDev90 👋  can you share a minimal reproducible sample of your code? it's hard to tell what's the issue you're having without any description/context.

[2022-02-11 14:55] Gene-Dana commented on #3223
I found this in my email

Hi,

Am currently developing a mobile application with flutter and am using the bloc package (https://pub.dev/packages/bloc) for managing and setting up the bloc. But when the state change it is not updating the widgets or views.

login_state.dart

part of 'login_bloc.dart';

abstract class LoginState extends Equatable {
  const LoginState();

  @override
  List<Object> g

[2022-02-11 14:57] Gene-Dana commented on #3223
Also @jackDev90, may you share with us the view itself?

[2022-02-11 14:59] Gene-Dana commented on #3222
Yes, you cannot call a method on a bloc that's not currently available, and this is more a feature of Dependency Injection as opposed to bloc.

Try cascading like this

[code]

[2022-02-11 15:01] marcossevilla commented on #3222
hey @Hasankanso 👋  that's because your bloc needs to be previously injected or provided in a parent widget, that way your BlocBuilder can perform a lookup in a new context that contains your bloc and find it correctly.

here you have a chunk of the counter example:

[code]

Also, BlocBuilder expects a widget to be returned, so I suggest to use BlocListener if you want to react to state changes and

[2022-02-11 15:31] PlugFox commented on #3221
Start fixing with a change:
`abstract class AnimalBloc<E extends AnimalEvent, S extends AnimalState> extends Bloc<E, S>`

[2022-02-11 16:00] marcossevilla commented on #3216
hey @pmartelletti!

1.1. I think it would depend on the API, if it's Firebase Firestore I don't think that would be necessary as you can just listen to the snapshots of a specific collection and maybe add a query to that. Those are implementation details that are always gonna depend on the API.

1.2. In that case, the repository is supposed to apply business rules (merge sources from 2 different A

[2022-02-11 16:33] felangel commented on #2633
It would be very helpful if anyone could provide a minimal reproduction sample, thanks!

[2022-02-11 16:48] pmartelletti commented on #3216
Hi @marcossevilla - yes, it helps. Thanks a lot for taking your time to reply! Just some comments:

1.1/2: Yes, I was talking about using something else other than firebase. I think you pretty much summarise it by saying it's the Repository's job to merge the data from the different sources. However, what if it's a paginated list you request from an HTTP source, and then you also listen to a WebSo

[2022-02-11 17:56] Gene-Dana commented on #3221
Hey everyone 👋🏼 I thought this may be useful to share also

This is from the [Timer example](https://github.com/felangel/bloc/tree/master/examples/flutter_timer)

[code]

Here is a discussion similar to this which I found really useful
https://github.com/felangel/bloc/issues/2884

[2022-02-11 21:32] Gene-Dana commented on #3200
Do you have a design you can share?

[2022-02-11 21:34] Gene-Dana commented on #3200
And.. May we continue this chat on the discord? I can share with you some more examples and help you break down some of the design in to features.

https://discord.gg/qx8sfdCa
Gene#7475

[2022-02-11 21:55] marcossevilla commented on #3216
1.1/2. I suggest you check the infinite list example, specifically [this](https://github.com/felangel/bloc/blob/master/examples/flutter_infinite_list/lib/posts/bloc/post_bloc.dart) file so you can see how pagination would be implemented. Take into consideration that it's an old example, so you'll find the API layer directly on the bloc layer, so that logic can be restructured and you can create a

[2022-02-11 21:55] #3216 closed

[2022-02-12 05:16] federicodesia commented on #2633
Suppose an app uses Firebase Cloud Messaging to notify the background app when it needs to update the state of the HydratedCubit. Background message handling is done in a new isolate, so we cannot access the current HydratedCubit instance that was created in the `BlocProvider` within the root thread.

What we can do is create a new instance of HydratedCubit inside the new isolate using the same st

[2022-02-12 07:42] vvanm commented on #3221
I've updated the post with the correct link as repro

[2022-02-12 11:30] pmartelletti commented on #3216
thanks again @marcossevilla ! This was really helpfull. Just one last question re 2.2.

If I don't want to make my repository reactive, therefore I'd need to use bloc-to-bloc communication. How would you inject TodoDetailsBloc in TodosOverviewBloc to subscribe to the event changes, if TodoDetailsBloc does not exist when creating TodosOverViewBloc (assuming you only create the TodosDetailsBloc when

[2022-02-12 17:53] popay34 commented on #3200
Ok, yes, I will share the code in the discord

[2022-02-12 18:18] jackDev90 commented on #3223
hi thank you for getting back to me, i was using bloc version 7.3.0 for
authentication and managing state in app and everything was working fine
until i  upgraded to version 8.0.1

On Fri, Feb 11, 2022 at 4:57 PM Gene ***@***.***> wrote:

[2022-02-12 18:22] jackDev90 commented on #3223
this used to work in version 7.3.0 but when i upgraded to version 8.0.1 nothing is firing i have tried printing the state in the console but nothing is been printed
[code]

[2022-02-13 06:17] federicodesia commented on #3150
Duplicated of #2633

[2022-02-13 07:31] jinjilynn opened #3224 "advice: Providing a Futured add method would be better"
😄

[2022-02-13 07:31] #3224 closed

[2022-02-13 09:31] jackDev90 commented on #3223
this is the repo for the project [https://github.com/jackDev90/flutterauthbloc](https://github.com/jackDev90/flutterauthbloc)

[2022-02-13 14:48] felangel commented on #3150
Closing in favor of #2633

[2022-02-13 14:48] #3150 closed

[2022-02-14 13:43] DriesCruyskens opened #3225 "fix: Storage is null with `flutter test` and `MaterialApp.router()` with auto_route"
**Description**

While running `flutter test`, when using a `HydratedCubit` below the `MaterialApp.router()` widget together with the [`auto_route`](https://pub.dev/packages/auto_route) package. An error is thrown:
[code]
For some strange reason, `_overrides` is `null` in this specific circumstance so it thinks the storage has not been initialized yet. This does not occur when running the app with

[2022-02-14 14:17] felangel commented on #3225
Hi @DriesCruyskens 👋
Thanks for opening an issue!

This looks like a duplicate of #3078. We’re working on a solution and apologize for the inconvenience!

[2022-02-14 14:17] #3225 closed

[2022-02-14 14:55] githubmonkey opened #3226 "docs: firebase login tutorial"
The example contains a reference to a local package called cache. Where should that come from?

Just specifying the line as given results in Could not find a file named "pubspec.yaml" in "/Users/xxx/StudioProjects/myproject/packages/cache".

[code]

[2022-02-14 15:20] githubmonkey commented on #3226
Never mind, I found it 🤷‍♀️:
https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_login/packages/cache

[2022-02-14 15:20] #3226 closed

[2022-02-14 17:32] pmartelletti commented on #3216
@marcossevilla yeah, that's what I've ended up doing - it's just that the end result is having the TodoOverviewBloc at the top of the widget tree when it's only required at the TodoOverviewPage - so I thought there was maybe another way of doing it.

Now I know it's either reactive repositories or just moving the bloc up.

Thanks a lot for your answers - they've been of great help!

[2022-02-14 19:58] alpitanand opened #3228 "Getting InitialState insted of Emtted State"
I have been working on an app, here the basic structure looks like. Having a MultiblocProvider. With two routes.

[code]

In the OTP_Verify route I am giving access to two Cubit, VerifyCubit() and SignupCubit().

Now, what I am doing is, There is two Screen, one is SignUp and the other is Verify. In SignUp Screen, if the state is SignUpSuccess, I am navigating to verify the OTP screen.

[code]
In

[2022-02-14 20:05] felangel commented on #3228
Hi @alpitanand 👋
Thanks for opening an issue!

It looks like you're providing two different instances of the SignUpCubit. The SignUpCubit that is provided to the SignUp page is different that the SignUpCubit that is provided to the Verify page. If you want to have the same state then you need to make sure you provide the same instance of the cubit to each page.

[code]

Hope that helps 👍

[2022-02-15 04:25] marcossevilla commented on #3174
hi @cdprete! I'm really sorry for the delayed response but I got caught up in other issues and work tasks, but I finally raised a [PR](https://github.com/cdprete/github_flutter_bloc_issue_3174/pull/1) in your sample repo, I think you should treat your add item functionality as part of your ItemListBloc, that way it's easier to emit state changes based on the addition of a new item.

Hope the PR fi

[2022-02-15 04:34] alpitanand commented on #3228
Hi @felangel,
It worked like a charm (half a day wasted cause of that), such a newbie mistake. Here is the final code.

[code]

Thanks a lot.

[2022-02-15 04:34] #3228 closed

[2022-02-15 10:13] cdprete commented on #3174
Hi @marcossevilla. No worries for the delay; we are all busy with out work ;)

Putting the add of an item into the ItemListBloc will, of course, solve the issue (since the bloc is then provided by the parent view), but this would go against reusability, SRP, SoC, packaging-by-feature and many other aspects.
From an architectural point of view, I don't really find the solution acceptable since it m

[2022-02-15 10:23] AcarFurkan opened #3229 "How to properly use `buildWhen`?"
firstly it is a question, it isnt a bug.
l am using blocbuilder and l am trying to use buildwhen but when l return false build rebuild again. l am  just learning flutter l hope l dont bother.

![image](https://user-images.githubusercontent.com/65075121/154042302-a41c903a-6546-4837-a94b-d34eecf3dc26.png)

[2022-02-15 14:54] marcossevilla commented on #3174
IMO your listing feature is concerned by everything that happens in the list scope, in this case you add a new item to the list, so the list's bloc should be affected by an ItemAdded event.

If you want to keep the two blocs aside, you can add another event to your ItemListBloc to add that new item to that state, but there you would duplicate the add functionality in 2 features instead of treating

[2022-02-15 15:03] zs-dima commented on #3162
Maybe could be nice to use some existing designer to describe StateMachine to generate BLoC code automatically ?
For example
https://github.com/SimpleStateMachine/SimpleStateMachineNodeEditor
or any other

[2022-02-15 16:08] ptrbrynt commented on #3178
I raised the issue of side-effects in Blocs recently as I agree it could be a valuable change.

## Correctness

As @nivisi quite rightly points out, it isn't really correct to use a Bloc's state to represent a side-effect. According to the [Bloc library documentation](https://bloclibrary.dev/#/coreconcepts?id=cubit):

This means that using a State to represent a side-effect goes against the concep

[2022-02-15 16:25] felangel commented on #3178
@ptrbrynt thanks for the input! Regarding the example you provided, you should never need to emit an error immediately followed by an initial state. To me that's a sign that the bloc/state needs to be restructured. If you're able to provide a link to a repo containing a real-world use case that illustrates the issue, I'm happy to take a look and potentially open a PR with any suggestions.

I also

[2022-02-15 19:00] federicodesia commented on #3229
Hi! I think that on each render it is initializing the `temp` variable with the value `-2` again.
Consider using `previousState.count != state.count` inside `buildWhen`. If you need to keep the temp variable for another reason, consider using `StatefulWidget`. [Equatable](https://pub.dev/packages/equatable) package may also interest you.
Sorry if this doesn't help you, I'm new too.

[2022-02-15 22:36] AcarFurkan commented on #3229
actually l tried this also but nothing changed. return false doesnt work.what am i missing
![image](https://user-images.githubusercontent.com/65075121/154161216-92eefeec-ea0f-40d5-b26d-592c13b648fa.png)

[2022-02-15 23:35] federicodesia commented on #3229
Do you have another `BlocBuilder` on top of that one? Similar to #1413

[2022-02-16 02:16] Hasankanso commented on #3222
Hello everyone, your answers helped me understand better thank you.
a Bloc/Cubit should be injected explicitly using BlocProvider (or an equivalent class),
check the answer on stack overflow as well:
https://stackoverflow.com/questions/71071187/why-cant-we-use-blocprovider-ofbloccontext-inside-of-consumer-with-bloc-attri/71093717#71093717

[2022-02-16 03:30] #3222 closed

[2022-02-16 08:34] ptrbrynt commented on #3178
@felangel Really appreciate the quick response!

I don't have an example to share right now - all my repos are private! However, I'll try and illustrate.

I, like many folks, like to use sealed unions to represent my states. I think it's a really beneficial pattern which works for most use-cases. An example implemented using freezed:

[code]

The above seems like a very common and popular structur

[2022-02-16 09:57] mtouati commented on #3194
Hi [Gene-Dana](https://github.com/Gene-Dana)
Firstly, Thank you a lot! That's a great help for me.
Perhaps, it's a **weakness** of Cubit when you have to use Asynchronous computation as I read on **[cubit vs bloc](https://bloclibrary.dev/#/coreconcepts?id=cubit-vs-bloc)**.

Thank you Sir.

[2022-02-16 09:57] #3194 closed

[2022-02-16 10:51] AcarFurkan commented on #3229
no l am not using second blocBuilder.
code link: https://github.com/AcarFurkan/Coin-App/blob/master/lib/features/coin/bitexen/view/bitexen_page.dart
![image](https://user-images.githubusercontent.com/65075121/154249584-9808905e-c915-423b-8c78-ec4ab984f280.png)

[2022-02-16 18:19] jackDev90 commented on #3223
@felangel @marcossevilla @Gene-Dana any progress with my current situation?

[2022-02-17 04:15] Gene-Dana commented on #2412
https://codewithandrea.com/articles/flutter-repository-pattern/

[2022-02-17 04:18] Gene-Dana commented on #2412
<img width="833" alt="image" src="https://user-images.githubusercontent.com/45580241/154404414-352cfab9-31af-4e2d-9dfb-5e95aba7e105.png">
https://forum.freecodecamp.org/t/calling-openweathermap-api-is-blocked-due-to-cors-header-access-control-allow-origin-missing/191868

[2022-02-17 04:48] Gene-Dana opened #3230 "fix: Unhandled Exception: Binding does not extend BindingBase"
**Description**

`[VERBOSE-2:ui_dart_state.cc(198)] Unhandled Exception: Binding does not extend BindingBase
An instance of ServicesBinding was created but the BindingBase constructor was not called.
This could happen because the binding was implemented using "implements" rather than "extends" or "with". Concrete binding classes must extend or mix in BindingBase.`

when running the weather example

[2022-02-17 04:49] Gene-Dana commented on #3229
@AcarFurkan Do you have a repo that you can share?

[2022-02-17 05:26] Gene-Dana commented on #3223
Hi there 👋🏼 I was able to check it out and I really liked the intro screen.

There are some alarming things I saw here, like this ⚠️

<img width="416" alt="image" src="https://user-images.githubusercontent.com/45580241/154410197-0110b1fb-46fd-4b7e-95d1-c5da24fbd167.png">

In order to add events to a bloc, you need to provide it higher in the widget tree just like it's done here in the `firebase_lo

[2022-02-17 05:47] ShahzadUmarBaig opened #3231 "fix: TextFormField not clearing when state is updated."
**Description**
I have been trying to achieve a small behavior through BLoC but so far I have not been able to do that, I just want to empty the textformfield when I press a button. It is easier to do that with controller and stateful widget but apparently I am failing to do so through BLoC.

**Steps To Reproduce**
1. Create a simple state with a string value. initially set is to empty string.
2.

[2022-02-17 07:56] jackDev90 commented on #3223
@Gene-Dana hi thank you, now looking at how my authentication logic is laid out on my app does it mean i have to refactor every bit of code, as in sending of request to and from the server? am basically new at flutter bloc

[2022-02-17 08:28] AcarFurkan commented on #3229
@Gene-Dana   https://github.com/AcarFurkan/Coin-App/blob/master/lib/features/coin/bitexen/view/bitexen_page.dart

[2022-02-17 20:02] Gene-Dana commented on #3223
@jackDev90 My advice is to do more than refactor - it's to rebuild a new project based on the Firebase Login example.

Although everything is really already build and tested and working - all you'd need to do is refactor the existing views to your snazzy design - so it's a lot less work than you may think..

Mostly, it's so that you can see the proper way we implement all the authentication featur

[2022-02-17 20:57] jackDev90 commented on #3223
@Gene-Dana alright thank you, though this is not what i was hoping for but i will try to make it work

[2022-02-17 21:12] Gene-Dana commented on #3223
Closing this for now. Feel free to continue commenting here, or to chat with us directly in the discord https://discord.gg/VJm86k9F

[2022-02-17 21:12] #3223 closed

[2022-02-17 23:47] maheini opened #3234 "weird BlocBuilder/buildWhen behaviour: wrong state when rebuilding parent widget."
### Description
It's kind of a complex issue, but I'll try my best. Please have a look at my Widget tree first:

    -MaterialApp
       ⤷StatefulWidget "Test"
            ⤷StatefulWidget "MyApp"  ->Containing my Cubit and a List as State variables
               -List
                  ⤷BlocBuilder, wrapping each ListTile.

The Blocbuilder is designed to build only selected/unselected ListTiles,

[2022-02-18 07:40] Gene-Dana commented on #3229
Here is an example of how to properly use `buildWhen`

https://www.loom.com/share/6e008d018f24478fb26f0b31c0fa41b7

[2022-02-18 07:42] Gene-Dana commented on #3229
Here is what the same example looks like if I just returned false
https://www.loom.com/share/a4137ba5dea24fb8904db7f83e585269

[2022-02-18 08:31] AcarFurkan commented on #3229
yes l tried this also but it doesnt work for my real project. l return
false and it build again again. l showed this lots of people  nobody
couldnt any mistake about my code. l am not saying bloc dont work just I'm
stuck l couldnt find where is the mistake. but l am sure return false
doesnt work for me.

On Fri, 18 Feb 2022 at 10:43, Gene ***@***.***> wrote:

[2022-02-18 08:39] Gene-Dana commented on #3229
See this
https://stackoverflow.com/questions/52249578/how-to-deal-with-unwanted-widget-build

[2022-02-18 09:18] AcarFurkan commented on #3229
@Gene-Dana  with this thought, shouldn't blockbuildir be triggered more than once?
but blocbuilder only runs once in the whole project.
![image](https://user-images.githubusercontent.com/65075121/154653327-bfd5652b-ab23-4d6d-850a-6057ffb9d499.png)
this is all log. so l searched all terminal blocbuilder just works onces.
![image](https://user-images.githubusercontent.com/65075121/154653688-ba307e73

[2022-02-18 09:24] Gene-Dana commented on #3229
May you add a BlocObserver and run the exact same options?

https://github.com/felangel/bloc/blob/35f0e39ab68ec014d353cdd7c6a3addf31381132/examples/flutter_todos/lib/bootstrap.dart#L18-L24

[2022-02-18 09:25] AcarFurkan commented on #3229
The build of the project runs once in all logs.
![image](https://user-images.githubusercontent.com/65075121/154654600-271ff58b-ce88-4374-b2ee-4bdafa5a2985.png)

![image](https://user-images.githubusercontent.com/65075121/154654688-6a979207-188c-4705-a9be-b36fd7e3d824.png)

[2022-02-18 09:26] AcarFurkan commented on #3229
l added blocobserver but there are too much log. which one should i share

[2022-02-18 09:27] AcarFurkan commented on #3229
![image](https://user-images.githubusercontent.com/65075121/154655344-cade43b0-bed6-44fd-be6b-35cf037abe25.png)

[2022-02-18 09:28] Gene-Dana commented on #3229
[code]

[2022-02-18 09:32] Gene-Dana commented on #3229
Also, put the print in the builder

[2022-02-18 09:33] AcarFurkan commented on #3229
all log
![image](https://user-images.githubusercontent.com/65075121/154655953-6b7b316d-4409-485c-b62a-4363810a36b1.png)
only relevant page
![image](https://user-images.githubusercontent.com/65075121/154656214-fe8984b5-5dcb-4b93-a307-4fa486611f2d.png)

[2022-02-18 09:41] Gene-Dana commented on #3229
@AcarFurkan, you have quite a few problems!

<img width="89" alt="image" src="https://user-images.githubusercontent.com/45580241/154656879-a2205a9b-83e4-469a-91e0-0fdcf70ca1d1.png">

This is a tough knot to unravel. Let's move this to the discord and see if we can solve it together.

https://discord.gg/FGzNZYP4
Message me! Gene#7475

[2022-02-18 10:14] Gene-Dana commented on #3231
The solution is to add a key to the `TextFormField` like this:

[code]

This is a good explanation of `why`
https://medium.com/flutter/keys-what-are-they-good-for-13cb51742e7d

Closing this for now, let me know if you have any more questions

[2022-02-18 10:14] #3231 closed

[2022-02-18 13:53] abhi-kyros opened #3235 "fix: Bloc mapEventToState is not called though event was fired"
**Description**
mapEventToState is called only for 2,3 times then it is not called. I am making signalr chatting application in flutter. And when internet is off it should fire disconnect event and when internet is available it should fires connect event.

**Steps To Reproduce**

Just internet on and off( I am getting internet toast for 2 times and disconnect only ones)then event is triggered but

[2022-02-18 14:36] felangel commented on #3235
Hi @abhi-kyros 👋
Thanks for opening an issue!

Can you please share a link to a minimal reproduction sample (DartPad or GitHub repository link)? Thanks!

[2022-02-18 14:38] felangel commented on #3193
Closing for now but feel free to comment with any additional questions and I’m happy to continue the conversation 👍

[2022-02-18 14:38] #3193 closed

[2022-02-18 14:43] felangel commented on #3178
No problem! If you have time and are able to share a reproduction sample that’d be great. Based on what you shared, it’s not entirely clear to my why you’d want to emit initial right after error. The initial state is generally there to represent the state before any events have been added. Also, BlocListener is called just once per state change so if you’re in an error state you can show a SnackBa

[2022-02-18 15:23] Gene-Dana commented on #3234
Hi there ✌🏼 I looked briefly at the repo, and it's all so very confusing ! I'd like to circle back to this and look it over again, although recently I saw a few issues with ListTiles and on a whim, I'd like you to try adding a key

[code]

[2022-02-18 15:25] Gene-Dana commented on #3235
From linked stackoverflow

mapEventToState is called only for 2,3 times then it is not called. I am making signalr chatting application in flutter. And when internet is off it should fire disconnect event and when internet is available it fires connect event.

For example:
[code]
and for internet sense code:
[code]
For mapEventToState code snippet:

[code]
It calls only 2 times then it unable to t

[2022-02-18 15:30] maheini commented on #3234
Hi @Gene-Dana. Thanks for looking after it. I just tried with key: UniqueKey() inside ListTile, but no change in behaviour. I still get output:
`4x builder_state: -1 --- bloc_state: -1`    ->4 Tiles build, Bloc.state == builder state
(changing state, wich triggers a rebuild of one listtile)
`1x builder_state: 0 --- bloc_state: 0`    ->1 Tile build, Bloc.state == builder state
(rebuilding parent Wi

[2022-02-18 15:38] abhi-kyros commented on #3235
No, the connectivity plugin works perfectly. It's just this event SocketConnectRequested is called and not catching to mapEventToState. And yes I will provide the given suggestion soon.

[2022-02-18 15:38] felangel commented on #3235
That likely means the bloc has been closed.

[2022-02-18 15:39] Gene-Dana commented on #3231
Definitely an opinion I respect ! Would the button then make the `clear` call on the `TextEditingController`, which would in turn (due to onChanged) update the bloc?

[2022-02-18 15:44] maheini commented on #3234
I'm currently trying to simplify the repo, will be finished in 10min (if all goes well).

[2022-02-18 15:53] #3234 closed

[2022-02-18 15:57] felangel commented on #3229
See https://github.com/felangel/bloc/issues/3234#issuecomment-1044728275 (as Gene mentioned). `buildWhen` is just an optimization but does not guarantee rebuilds won't happen. Sounds like you'd benefit from using `BlocSelector` instead of `BlocBuilder` + `buildWhen`.

Closing for now but feel free to comment with any additional questions 👍

[2022-02-18 15:57] #3229 closed

[2022-02-18 17:43] ShahzadUmarBaig commented on #3231
According to the concept of maintaining the UI in UI classes, I believe having TextEditingController is the best approach mentioned by you.

So thumbs up for your answer! and Thank you both for the quick responses.

[2022-02-18 19:07] mohammadtaherri opened #3236 "The droppable `EventTransformer` of the `bloc_concurrency` behave incorrect in some cases!"
`droppable` function (`bloc_concurrency` package) should Process only one event and ignore (drop) any new events until the current event is done.
But if `handler` that is passed to `on` does not schedule any event( it just schedules microtasks and does not schedule any event (or timers)), this function (`droppable`) behaves incorrect and does not drop some events.

[2022-02-18 19:07] felangel commented on #3236
Hi @mohammadtaherri 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Thanks!

[2022-02-18 19:55] mohammadtaherri commented on #3236
I give you a sample code.

<details><summary>The Following code is a simple CounterBloc that uses  `droppable` instead `sequential` </summary>

[code]

</details>

As you see in the above code I have scheduled a timer (Future.delayed),therefor the result :

![Screenshot from 2022-02-18 23-12-31](https://user-images.githubusercontent.com/44123678/154750985-5d954ef8-4ae1-4786-8502-d4b12d2e709b.png)

[2022-02-18 20:41] mohammadtaherri commented on #3236
It's true.
I made a mistake.
There is no bug, everything works perfectly.

[2022-02-19 08:10] abhi-kyros commented on #3235
Hello Please look into this git to reproduce issue:
**https://github.com/abhi-kyros/bloc_reproduce_issue.git**

Even I am getting same issue here also.

Steps:
1)Run App: You will get Snackbar saying internet connected.
2) Off the connection: again You will get Snackbar saying internet disconnected.
Repeat for 2,3 times.

I had tried **blocobserve** also but I am getting logs like this other than

[2022-02-19 09:52] abhi-kyros commented on #3235
If you have a socket demo and run this git file you will have more Idea I guess.

[2022-02-20 11:16] plibr commented on #2526
Hi, @felangel! I am newbie in Flutter. I use flutter_bloc: 8.0.1

How can I convert to on<Event>(..) style this:
`  @override`
`  Stream<RemoteArticlesState> mapEventToState(RemoteArticlesEvent event) async* {`
     `    if (event is GetArticles) yield* _getBreakingNewsArticle(event);`
` }`

It is much more complex use case. Here we have to use generator for stream.

The project is here:

https://

[2022-02-21 03:24] apieceofcode1801 commented on #157
Sorry because of commenting on this closed issue.
But I have a failed test using mockito`expectLater` with the array of States and I have no idea about this failure.
Please help to review it.
Implemented code:
[code]
Testing code:
[code]
The testing fails:
[code]
Thanks!

[2022-02-21 07:41] subzero911 opened #3238 "question: Merge transformers"
**Description**

How can I apply multiple transformers to the same incoming event stream? Say, I want to apply sequential(), but I also want to apply debounce.

[2022-02-21 07:48] nivisi commented on #3178
@felangel imagine bloc consumer does something like this:

[code]

So if we emit the error state and won't emit anything after it, we'll get a loader in the builder. Of course, we can provide `buildWhen` and exclude the error state there. But it breaks the idea you mentioned in the first answer:

So in order to perform a navigation or display a snackbar or sth, the presentation or the bloc itself

[2022-02-21 07:48] nivisi commented on #3178
cc @ptrbrynt

[2022-02-21 12:46] raulmabe commented on #3069
Hi :wave:

How is the state of this issue?

[2022-02-21 13:04] subzero911 commented on #3238
I've received an answer from some Korean YT channel https://www.youtube.com/watch?v=RIqfOm0hp6Q

EventTransformer<E> debounceSequential<E>(Duration duration) {
  return (events, mapper) {
    return sequential<E>().call(events.debounce(duration), mapper);
  };
}

Should be in the manual, I believe!

[2022-02-21 16:43] imamabdulazis opened #3239 "fix: New Flutter Bloc version doesn't work with Stream (emit)"
**Description**
I'm using this library for a few years and very helpful for state management, but after upgrading to a new version of flutter bloc with the new emit method, it's made doesn't work with [Stream](#) using [fold](#) method.

URL repository code : [LanguageBloc](https://github.com/imamabdulazis/FlutterCleanArchitecture/blob/main/lib/features/presentation/blocs/LanguageBloc.dart)

Error

[2022-02-21 22:59] felangel commented on #3238
Hi @subzero911 👋
Thanks for opening an issue and glad you found a solution. A variation of this is included as part of the [GitHub Search Example](https://github.com/felangel/bloc/blob/35f0e39ab68ec014d353cdd7c6a3addf31381132/examples/github_search/common_github_search/lib/src/github_search_bloc/github_search_bloc.dart#L8) and you can see another example in the [VGVentures Bloc Concurrency Demos R

[2022-02-21 23:11] rouuuge commented on #3200
@Gene-Dana @popay34 is there a link to the discord thread? I got a similar question and the start of that conversation is very interesting.

thx

[2022-02-22 03:15] marcossevilla commented on #3218
@l-borkowski were you able to make the test pass?

[2022-02-22 06:35] popay34 commented on #3200
@rouuuge , hello! This was not discussed much on discord. @Gene-Dana explained it to me personally. Thank him very much for that. Everything related to the functionality of the table (a list with elements, filter, sorting, pagination, etc.) should be in one bloc. But there may be different entities in the table (Users, Orders, Products) and whether it is necessary to use generics in this case is n

[2022-02-22 13:08] l-borkowski commented on #3218
Hey, sorry for the late response, unfortunately, I haven't been able to make this test pass, in the code that I've shared with you everything works fine, even after I expand it to be much more similar to my case. I'll definitely spend some more time to check why this is happening just for my curiosity but I can't do it right now so I believe you can close this issue if there will be an option in t

[2022-02-22 14:45] popay34 commented on #3200
@Gene-Dana's solution ````
class RecordsOveriewState extends Equatable {
  const RecordsOverviewState({
    this.status = RecordsOverviewStatus.initial;
    this.activeRecords = [],
  });

  final RecordsOverviewStatus status;
  final List<Record> activeRecords;

[code]

[2022-02-22 14:46] marcossevilla commented on #3218
@l-borkowski sorry to hear that! hope you find a solution soon and feel free to open another issue if you get stuck in another part of the process. there's also the [bloc discord server](https://discord.gg/h4s5jEXtTx) if you want to continue the conversation there, closing for now. 👍

[2022-02-22 14:46] #3218 closed

[2022-02-22 16:24] felangel commented on #3239
Hi @imamabdulazis 👋
Thanks for opening an issue!

I recommend using `emit.forEach` when working with streams:

[code]

Hope that helps 👍

[2022-02-22 20:35] KDCinfo opened #3241 "How to verify if `MockSharedPreferences` is actually writing to the (mocked) storage?"
**Description**
In using the Flutter Bloc's Todos example app, I'm having troubles verifying that the MockSharedPreferences is actually writing to the (mocked) storage. In the test provided in the code, it appears to only verify that the stream was updated, not that the mock storage was written to.

**Steps To Reproduce**

To test, I set the [saveTodo function](https://github.com/felangel/bloc/blo

[2022-02-22 20:54] github-actions[bot] opened #3242 "[Translations] Update docs"
Update Translations to include changes from b6c55144e6c37c57100cf5be1125dca8bcc05b48.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-02-22 23:18] zmoshansky opened #3243 "fix: Adding a new hydrated cubit to an app that already has state causes errors from Hive."
**Description**
I've added a new `hydratedCubit` to an app (Android), that has already persisted data, and upon calling `HydratedStorage.build` it errors. The cubit I added has a single required field `String id`, and is built with freezed (AFAICT, shouldn't matter). When running the app inside a fresh web-browser profile (storage is clear) everything works fine.

I'm unsure if this is a Hive issu

[2022-02-22 23:31] zmoshansky commented on #2613
While trying to handle this scenario, I also ran into the following issue... https://github.com/felangel/bloc/issues/3243

@mpiparo
To handle schema changes historically in mobile apps, I've successfully leveraged an approach where:

**Ephemeral State:**
- Breaking changes to a schema wipe out the local state (knowing it'll be re-fetched from the server/re-generated)
-- While simple, this is a rem

[2022-02-23 01:00] zmoshansky commented on #3243
After clearing app storage, everything works properly on Android... However, this is obviously not a workable solution for a production app.

[2022-02-23 02:59] Gene-Dana commented on #2257
@felangel sorry for bringing this back from the dead ! I recently ran into this warning and wondered if you could shine some light on it

[code]

[2022-02-23 05:08] Gene-Dana commented on #2526
Have you seen this? https://github.com/felangel/bloc/issues/2526#issuecomment-1046214602

[2022-02-23 05:16] Gene-Dana commented on #3200
@popay34 My solution is a little overstated here ! I proposed a solution that was exactly like the new todos example. Feel free to reach out to us in the discord if you have any more questions, @rouuuge and @popay34.

[2022-02-23 05:16] #3200 closed

[2022-02-23 05:25] felangel commented on #3243
Hi @zmoshansky 👋
Thanks for opening an issue!

Are you able to provide a link to a minimal reproduction sample? Thanks!

[2022-02-23 14:55] MichelMelhem opened #3244 "Storage was accessed before it was initialized [HydratedBloc]"
Hello,
I recently updated the HydratedBloc lib from ```7.0.0``` to ```8.0.0```.
With this new version, the new way of initializing the storage is by using ```HydratedBlocOverrides.runZoned```.
But i'm facing issues with  underlying app behaviors not working the same while using this new API.
In fact fact i'm consistently getting the exception
[code]

While hot reloading my app from the vscode DevT

[2022-02-23 22:56] cdprete commented on #3174
I see your points. I'm not fully convinced, though.
The weird thing is that a simple callback approach should be enough (the AddItem view takes a callback to call when the add operation is completed and the body of the callback would refresh the list), but somehow it crashes/has issues with the contexts...

[2022-02-24 01:44] zmoshansky commented on #3243
I'm going to close this as I strongly suspect this underlying issue is the root cause of the issue (Many reported bugs around corruption).

https://github.com/hivedb/hive/issues/263

[2022-02-24 01:44] #3243 closed

[2022-02-24 07:42] krish-bhanushali commented on #538
@felangel I know this is an old issue but I am using two cubits to manage theme and language respectively with one states each and I am passing both as individual blocbuilders over the material app. So is this a correct way to do it?  or I can use one single cubit for both.

[2022-02-24 08:27] imamabdulazis commented on #3239
@felangel Yeah, it helps me a lot. I was struggling for a few days with this issue.
Now work perfectly with `emit.forEach`
Thanks for sharing your workaround!

Best regards

[2022-02-24 11:58] alvindrakes commented on #2933
@felangel  Hi Felix, your example definitely helps a lot.

Just a quick question, if I want multiple buttons in the UI for the same screen to have their own loading states, is it recommended to have different loading status in the state class?

Something like this:
[code]

Currently in my redux implementation, I have an action (similar to bloc events) that is defined like this:

[code]

But in the

[2022-02-24 12:07] BaranMichal25 commented on #3107
Isar now supports Web https://pub.dev/packages/isar/changelog#220
but I also think it's still too early 😛

[2022-02-24 13:31] KoustuvGanguly commented on #2040
Hi @AndreGroeschel ,
  About overriding `didChangeAppLifecycleState.` do I need to do/write anything inside the overridden method or I can keep it blank only with `super.didChangeAppLifecycleState(state);`?
Facing same issue. Page closed still BlocListener is active and getting callback!

[2022-02-25 13:42] felangel commented on #3244
Hi @MichelMelhem 👋
Thanks for opening an issue!

This is due to a bug in Flutter https://github.com/flutter/flutter/issues/93676. It would be awesome if you could leave a 👍 on the issue.

Sorry for the inconvenience!

[2022-02-25 14:49] robsonsilv4 commented on #3241
Hi @KDCinfo, you could use _setMockInitialValues_, from SharedPreferences [testing](https://pub.dev/packages/shared_preferences) section.

The testing would be like this:
[code]

[2022-02-25 15:17] MichelMelhem commented on #3244
Hello,
Thanks for your answer !
As it is a flutter related issue would you consider adding back, even as a deprecated function, the old way of initializing the storage ?
In fact I updated all my blocs to be compatible with version 8 of the library with the new syntax so it is not possible for me to revert back my app.

[2022-02-25 22:58] KDCinfo commented on #3241
Good thought. I tried that. You can only use the `setMockInitialValues()` from within the test, so I entwined it with the save, checking the debug on every pass, but it never updated the mock shared prefs instance.

Perhaps there's another approach to this...

[code]

[2022-02-27 10:46] MichelMelhem commented on #3244
Hi @felangel , any updates on this issue ?

[2022-02-27 16:28] xErik commented on #549
The example above helped me figuring out using **TabBarView** and **Bloc**.

It should be noted that the child-widget accesses the returned state-value like this

[code]

[2022-02-28 05:33] ahmadbintariq4u commented on #181
Thanku Man you name my time

[2022-02-28 13:48] Pierre2tm opened #3246 "[Proposal] Introduce State Machine as a new sub-class of BlocBase"
Hello everyone! 👋

Thanks for the amazing job done with BLoC and I hope you will find this proposal interesting.

🚧Disclamer🚧

I'm not an expert in computer science, finite state automata, or bloc. What will come next is the result of my works on state machines. I present it here to serve as a base to be discussed.
It's also the first time I'm trying to contribute, I'm not used to this process so

[2022-02-28 18:55] msackman opened #3248 "docs: clearly document semantics for different transformers off the same bloc"
It's potentially a confusing API design to have the ability to specify a concurrency transformer _per_ event handler - initially I felt that it would be better to have one event transformer per bloc. But I note that e.g. https://github.com/VGVentures/bloc_concurrency_demos/blob/85fd3948b4e77b537f82a59a8e1d4e5fdf417262/lib/registration/bloc/registration_bloc_new.dart does make use of multiple diffe

[2022-02-28 20:15] DebroyeAntoine opened #3249 "[Question] Emit seems not to be sent in real time to my app"
**Description**
Hi everyone, I'm very new to flutter and I'm trying to create an app which updates the background color.
I have some isolates which send by socket a value to my cubit every 5 minutes, and then the cubit will emit the new state. In the debugger I see all is ok before the emit. But the impress I have, is my color is refreshed at the next 5 minutes so not useful.
I think I missed some

[2022-03-01 02:49] mtwichel commented on #3246
Hey there 👋 I’ll share my 2 cents with the same caveat that I am no expert either and I love the time and thought that went into this proposal. It’s super encouraging too see this level of engagement with a package we all love 💙

After reading this proposal, my focus goes to the table of comparing state machines to existing BLoCs. You highlight four features:

- > Set of States | unrestricted | de

[2022-03-01 04:40] cmc5788 commented on #3246
I didn't see this directly addressed in the proposal: what would the pros and cons be of putting something like this in a separate package vs `bloc` core?

The reason I ask is that if `StateMachine` shows up one day alongside Bloc and Cubit, there ought to be a fairly straightforward way of explaining the use case for each subclass to a developer who now has three tools to reach for.

Or is that n

[2022-03-01 09:42] wujek-srujek opened #3250 "[Question] Using mocks generated with mockito with whenListen"
Returning to Flutter dev after a hiatus and I'm trying to write a widget test for a widget that uses a cubit. For this I use a mock generated with mockito (for nullsafety) and try to stub it using `whenListen` from `bloc_test` 8.1.x, and it fails (e.g. it says that `.state` stubbing is missing). I took a peek into the implementation of this function and it uses mocktail internally.

Question: I gu

[2022-03-01 11:24] Pierre2tm commented on #3246
Thank you for all feedback and answers, I feel positive energy here!

You're right, **there is nothing you can do with StateMachine that can't be done using BLoC.** When I've researched about state machines I've surprised myself by asking me if BLoC hasn't been designed with state machine in mind so close they are. BLoC is more powerful and flexible, but with great power comes great responsibiliti

[2022-03-01 14:20] rahulrmishra opened #3251 "docs: Login Bloc tutorial to be updated with Navigator 2.0"
Hi, I was wondering when could we get the login tutorial updated with Navigator 2?

[2022-03-01 16:03] felangel commented on #3250
Hi @wujek-srujek 👋
Thanks for opening an issue!

Unfortunately, bloc_test uses `mocktail` instead of `mockito` so when using `bloc_test` specific APIs you'll need to use `mocktail`. This is described in the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97mocktail-integration) but I'm happy to update the testing section of the documentation to make this more explicit. Let me know

[2022-03-01 16:05] felangel commented on #3251
Hi @rahulrmishra 👋
Thanks for opening an issue!

The [firebase login example](https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_login) is using navigator 2.0 via [package:flow_builder](https://pub.dev/packages/flow_builder). If you have specific questions about how to use Navigator 2.0 APIs feel free to ask in the [Discord](https://discord.gg/bloc) 👍

[2022-03-01 16:07] felangel commented on #3249
Hi @DebroyeAntoine 👋
Thanks for opening an issue!

Are you able to provide a link to a complete, minimal reproduction sample? It's a lot easier to help identify the issue if we're able to run and debug your reproduction sample locally, thanks!

[2022-03-01 21:23] DebroyeAntoine commented on #3249
Hi @felangel thanks for the quick answer, here is a more reproduction sample of my problem, the app is grey, then push the button pass to blue as expected but doesn't pass to green after 2 seconds. https://github.com/DebroyeAntoine/issue_flutter_bloc

[2022-03-01 21:46] cmc5788 commented on #3246
Just my current feeling, but if the primary reason a developer might decide on when to use a state machine vs a bloc is based on "beginner" vs "advanced" usage, that sounds like an argument for separate packages.

Cubit and Bloc have distinct use cases that make clear sense to coexist within a single app. I can come up with some fairly easy rules of thumb about when to reach for a Cubit; for examp

[2022-03-02 04:19] #3251 closed

[2022-03-02 05:28] Tokenyet opened #3254 "[Question] What's the purpose of ignoring the comparison of the first emitted state?"
https://github.com/felangel/bloc/blob/91f9e6d65e683eefb4d97886601146a9d3d6e065/packages/bloc/lib/src/bloc_base.dart#L97

Just get used to test on bloc, and found out that the first state won't be compared because of this line. So What's the purpose of ignoring the comparison of the first emitted state? Just a little confused on this.

[code]

What I'm supprised on my code:
[code]

[2022-03-02 06:55] felangel commented on #3254
Hi @Tokenyet 👋
Thanks for opening an issue!

This was introduced in v6.0.0 in order to support re-notifying listeners when a bloc is created (particularly useful for HydratedBloc to trigger a rehydration upon bloc instantiation). See https://github.com/felangel/bloc/pull/1441 and https://github.com/felangel/bloc/issues/1829#issuecomment-708435624 for more context.

Hope that helps 👍

[2022-03-02 14:33] wujek-srujek commented on #3250
No worries, not a problem, it is easy enough to mock ourselves and we are actually thinking of migrating to mocktail (any idea when it reaches final?).

I somehow missed the mention in the docs, thanks for the link. For now it only says that `mocktail` is used but it doesn't say how and what it really means - I think it would still make sense to be very explicit about `mockito` mocks not being sup

[2022-03-02 16:12] liviuls opened #3255 "feat: hydrated_bloc storageToken override"
**Description**

First of all hi, amazing job to everyone that developed this package!

I have a use case where hydrated_bloc has a bit of an issue. I obfuscate the dart code every time I create a new production build for the stores. Because the storageToken uses runtimeType, which changes with every new build because of the obfuscation, the state data gets lost, and by lost I mean that the bloc w

[2022-03-02 17:42] federicodesia commented on #3248
Hello!

In that case the events are not mutually exclusive, because they are two different events.

Event transformations depend on the expected behavior, so sometimes you only need to apply a transformer to a specific event and not to the others. If you want to apply a transformer to multiple events, you must group the events like in #3143.

[2022-03-02 19:55] MdeBruin93 opened #3256 "[Question] how to update the URL when using Flutter for web with the Navigator 2.0 option"
Hello there,

I'm currently building a simple website using Flutter and looking into your "Navigation 2.0" solution. However, how does it update the URL to make sure that the website doesn't have to remember the entire state of the app?

Hope to hear from you.

[2022-03-02 20:23] felangel commented on #3256
Hi this is currently a work in progress on `package:flow_builder`. You can track the progress at https://github.com/felangel/flow_builder/tree/feat/url-routing-and-deep-linking. I'm hoping to add support for it in the next week or two.

[2022-03-02 20:23] #3256 closed

[2022-03-02 23:43] Pierre2tm commented on #3246
That's a really good point. I agree with you and also with what mtwichel has said. Thinking about it twice, it's true that sm is very opinionated in the way you should structure your logic and there are no clear use cases that differ enough from bloc (at least I can't find a good one).

Maybe after messing around with state machines, it will be more clear if there are some cases where it should be

[2022-03-03 08:57] alirezat66 opened #3257 "buildWhen method not triggered"
**Description**
I have a state with different fields
`class CatState extends Equatable {
  final List<Cat> cats;
  final CatTypeFilter filter;
  final CatOverviewStatus status;
  const CatState({
    this.status = CatOverviewStatus.initial,
    this.cats = const [],
    this.filter = CatTypeFilter.main,
  });

  @override
  List<Object?> get props => [status, cats, filter];

  CatState copyWith({

[2022-03-03 14:37] trigri1 opened #3258 "fix: Emitter for stream does not provide StreamSubscription"
**Description**
I am trying to migrate to version 8.0.0. In my bloc, there are some streams that I want to listen to using `emitter.forEach`. But the problem is I want to get the subscription so that I can pause the stream for some time and then resume later on. There does not appear to be any obvious solution other than using `listen` that I am trying to remove for consistency.
Is there a way to

[2022-03-03 19:26] felangel commented on #3257
Hi @alirezat66 👋
Thanks for opening an issue!

Are you able to provide a link to a complete, minimal reproduction sample? I'm happy to take a closer look, thanks!

[2022-03-03 19:41] felangel commented on #3258
Hi @trigri1 👋
Thanks for opening an issue!

If you use `forEach` or `onEach` from the `Emitter` then the `StreamSubscription` will be managed for you by the bloc. If you want granular controller over the `StreamSubscription` then you should manage it yourself and use `listen`. See the [timer example](https://github.com/felangel/bloc/blob/master/examples/flutter_timer/lib/timer/bloc/timer_bloc.dart

[2022-03-03 21:15] alirezat66 commented on #3257
that's it. unfortunately After I couldn't solve the problem just change the
cubit to block and guess what? boom, the code worked. It seems that the
cubit can't trigger the build when method at all.

On Thu, Mar 3, 2022, 22:27 Felix Angelov ***@***.***> wrote:

[2022-03-03 22:31] felangel commented on #3257
Can you provide a link to a GitHub repo or DartPad? I can't easily run the code you have based on the snippets you shared.

[2022-03-04 06:28] Tokenyet commented on #3246
I like the design, and just want to mention there is a FSM discussion with current implementation. (https://github.com/felangel/bloc/issues/2526#issuecomment-928334495)

Although this is imo a good type of bloc, It's a subset of BLoC and lose more flexibility than Cubit. However, If this is a new package that combined BLoC and FSM, this is great for some applications and games 😆

[2022-03-04 07:09] eRuaro opened #3260 "[Question]: BlocListener not working for one cubit instance"
Hey! I'm trying to do navigation using `BlocListener` I have two cubits, one works wherein `BlocListener` navigates to a new screen upon successful state change, while the other does not.

Here's the code for the cubit that works:
[code]

[code]

[code]

While here's the code for the cubit that does not navigate to a different screen upon successful state change
[code]

[code]

[code]

I've alread

[2022-03-04 07:15] alirezat66 commented on #3257
Sure! of course

On Fri, Mar 4, 2022, 01:31 Felix Angelov ***@***.***> wrote:

[2022-03-04 08:01] trigri1 commented on #3258
hey @felangel!

Thank you for the reply. I checked this example and I am already using `listen` ut for the sake of consistency I wanted to use the Bloc way to manage the Presentation layer.

Maybe this can be considered an improvement for some future release?

[2022-03-04 10:08] b055man commented on #3255
This is fantastic finding! We've been struggling with unreliable upgrades of the app for quite some time and were not sure what causes the data loss.
Now, this issue seems to explain the problems we observed.
@felangel any ETA for addressing this? @liviuls do you know if there is any workaround for this issue possible?

[2022-03-04 11:01] liviuls commented on #3255
@b055man for now we've forked the package and made storageToken overridable and used custom values for the storageToken that don't include the runtimeType

[2022-03-04 11:24] b055man commented on #3255
@liviuls thanks! would you mind sharing that fork perhaps?

[2022-03-04 14:04] felangel commented on #3255
I’m planning to address this sometime today 👍

[2022-03-04 14:07] felangel commented on #3258
There’s nothing wrong with using listen when you need to manage the subscription yourself.

[2022-03-04 14:12] liviuls commented on #3255
@b055man I can't share it because it's an internal fork, but the main idea is that we used a prefix in combination with the id. It's very important to override this id in order to have different storage locations for different bloc types. But maybe you can just wait for an update from @felangel.

![image](https://user-images.githubusercontent.com/13398323/156777803-45993530-ab10-4b07-964a-4a00cfc3

[2022-03-04 14:15] felangel commented on #3255
The problem with that approach is if you don’t override id, you’ll have storage conflicts.

[2022-03-04 23:17] felangel commented on #3255
I opened #3261 to address this. @b055man @liviuls can you test the changes on the branch locally and let me know if you have any issues? The changes should be backward compatible so you shouldn't lose any data.

[2022-03-05 11:23] Pierre2tm commented on #3246
Thanks to point this out! That's a clever usage of freezed. That's close to what I'm trying to do. After reading that I'm asking myself if state_machine_bloc is worth doing. At least it's a very good example of how to implement this stuff.

It's look like I'm not the only one to had this idea. I will study this package and maybe reach the authors, thank you !

[2022-03-05 13:51] domindx commented on #3255
@felangel it seems that obfuscation is not the only problem here.
We will meet the same issue when bloc name has changed between app versions.
Maybe that is something which may be worth mentioning in package documentation?

And second thing:
Does anyone have a good idea how to migrate the state saved with obuscated app version?
I was thinking about 'manually' looking into hive box, the keys seems

[2022-03-05 14:45] yh-luo commented on #3196
Hi, I created [freezed_weather](https://github.com/yh-luo/freezed_weather) as an example.
I recently learned to use [freezed](https://pub.dev/packages/freezed) and fell in love with its simplicity, hope it helps!

[2022-03-05 17:30] plibr opened #3263 "perf: Bloc is not emitting after initial time"
My bloc is not emitting after initial time, even fetching new items every time when I scroll the page.

[code]

[code]

[code]

[code]

[code]

[code]
It is my first work in Flutter, I spend 2 days on it and cannot solve this problem. Please, help me!

[2022-03-05 17:32] felangel commented on #3255
@b055man @liviuls @domindx I opened https://github.com/felangel/bloc/pull/3262 to attempt to address this. It exposes a `storagePrefix` which can be overridden like:

[code]

This should address obfuscation issues as well as bloc renaming issues. Please try the changes in the branch and let me know what you think, thanks! 🙏

[2022-03-05 18:08] felangel commented on #3263
Hi @plibr 👋
Thanks for opening an issue!

I highly recommend looking at the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating). If you're still having trouble afterwards, please provide a link to a complete, minimal reproduction sample and I'm happy to take a look, thanks!

[2022-03-05 19:22] Dumasia opened #3264 "fix: flutter_infinite_list"
How to refresh/reinitialize  infinite pagination list like pull to refresh kind of this?
How to handle this PostStatus { initial, success, failure, error, noInternet } like failure means list loaded for first time then fetch for other time we encounter error Api is not responding or any other error (How to restart Api from that state like error occur on  page no 3 and show footer something when wr

[2022-03-05 21:03] adrianflutur commented on #3178
Hi and sorry for interfering, but I also hit this wall of side-effects when I first started to use flutter_bloc and, after I read some code from this issue, it seems that the use-cases presented here are rather ambiguous and could be solved just by rethinking the flow a bit and using the built-in `BlocListener`. For example, one would try to merge all state classes in one single state class with n

[2022-03-05 21:24] domindx commented on #3255
@felangel Thanks for providing solution so fast.
It looks nice, but I would rather make `storagePrefix` abstract so it would need to be explicitly defined.

I know that we will loose some backward compatibility.
From the other hand it will make everyone aware how the storage works, and that there is possiblity to unintetionally loose the data.

There is a chance that many users may be already affe

[2022-03-05 21:38] felangel commented on #3255
I’d prefer to leave it optional because HydratedBloc is not a replacement for a database. It’s just a mechanism to cache feature state and in most cases it shouldn’t be a big deal if cached data is lost (especially between debug/release builds). With the current approach you can opt into providing your own storage prefix but for cases where it’s not critical, you aren’t forced to specify one and t

[2022-03-06 12:52] nivisi commented on #3178
@adrianflutur hi!

Thanks for your example. I have never thought about doing something like this with side effects. E.g. doing `Navigator.pop` on some effect seems to be very dangerous just as you described.

Yep. I have mentioned it as a possible solution in the first comment. However, it's not good in my mind. Using th photo example again, it's never possible (by the idea) for the `status` to be

[2022-03-06 13:41] plibr commented on #3263
@felangel  here I pushed my repo
https://github.com/plibr/newsapp

Could you check this&

[2022-03-06 16:06] mayor04 opened #3266 "fix: bloc throwing widget is not a function error with latest version of flutter 2.10.3"
**Description**
Bloc throwing widget is not a function error with latest version of flutter 2.10.3
flutter_bloc version 8.0.1

**Steps To Reproduce**

1. Upgrade to flutter 2,10,3
2. Build application on windows, web or mobile
3. See error
[code]

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain yo

[2022-03-06 16:15] felangel commented on #3266
Hi @mayor04 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Thanks!

[2022-03-06 20:53] langfield commented on #1284
Both of these links are dead.

[2022-03-07 00:12] mariopepe opened #3267 "fix: otherBloc.stream.listen() only emits the first state change and nothing more [Bloc-to-Bloc communication]"
**Description**
`otherBloc.stream.listen()` only emits the first state change and nothing more. I am sure to be emitting different states from the otherBloc but the function defined in the listener is only triggered once.

**Steps To Reproduce**
I have two blocs:

1. PermissionsBloc, that when initialised retrieves the permission given from the user
2. ContactsBloc (with a dependency on Permission

[2022-03-07 00:30] eRuaro commented on #3260
Looks like the fix was to directly copy the contents of `deleteFromWallet` to the `deleteWallet` function.

[code]

[2022-03-07 00:30] #3260 closed

[2022-03-07 06:55] gvory opened #3268 "Seperated Loading for two different state"
I have a case.

Example:

`class XLoaded{
  final String a;
  final String b;

  XLoaded(this.a, this.b);
 //has copywith etc.
}`

And emit XLoaded first time, init a  and b fields.
So later I want to update only b(Future process) using copywith state and I want to put loading only where I call b.

What is the best way to do that?

[2022-03-07 06:58] mayor04 commented on #3266
Good day, while trying to reproduce the error I downgraded and still got the same error

So I had to delete flutter and most packages from the pub cache and it was fixed.

Sorry for any inconveniences I caused

I will proceed to closing the issue. Thanks for your time

[2022-03-07 06:58] #3266 closed

[2022-03-07 07:06] Wachirawit09 opened #3269 "build:"
**Description**

Describe what changes need to be done to the build system and why

[2022-03-07 07:28] domindx commented on #3255
Ok, got it 👍
It would be perfect to have that information in package description too.

[2022-03-07 10:00] mariopepe commented on #3267
I found the issue, I was passing to my Contacts Bloc another instance of Permissions Bloc. So of course I was listening to something that never got called.

[2022-03-07 20:44] liviuls commented on #3255
@felangel great stuff, looks good to me!

[2022-03-08 11:23] newbieflutter opened #3270 "fix:"
**Description**
A clear and concise description of what the bug is.

**Steps To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional Context**
Add any other context about the problem here.

[2022-03-08 11:23] #3270 closed

[2022-03-08 11:32] newbieflutter opened #3271 "[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: In latest bloc version"
I have the following codes which used to work perfectly fine here is the bloc part.

[code]
Below is the apiCall function.
[code]
Then recently I have upgrade with new bloc which requires the emit functions. So here is my latest function.

[code]
Here is my latest apicall function

[code]
First I have this error handler of Future.catchError must return a value of future's type?.

So my fix was in

[2022-03-08 14:05] CanGonulacar opened #3272 "Global access vs Local access"
hello, is there any performance problem in defining BlocProvider as global and local? Can you write your preferences?

[2022-03-08 18:44] Tokenyet commented on #3113
Thanks for the great structure! @felangel , just wanna ask how did you test locally. I just saw [1.20.2-dev](https://github.com/dart-lang/test/blob/master/pkgs/test/CHANGELOG.md#1202-dev) released, and my project have 20+ packages.

The workaround for me is the test tab from vscode, then I could choose the test. For the case, I wish I could use `flutter test --exclude-tags someTag` or `dart test -

[2022-03-08 21:00] goku-org opened #3273 "emit State not update the screen"
### emit State not update the screen

[code]

[2022-03-08 22:20] felangel commented on #3273
Hi @goku-org 👋
Thanks for opening an issue!

I highly recommend taking a look at the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating) and if you're still having trouble please provide a link to a complete, minimal reproduction sample and I'm happy to take a closer look. Thanks! 🙏

[2022-03-08 22:21] felangel commented on #3271
Hi @newbieflutter 👋
Thanks for opening an issue!

Are you able to provide a link to a complete, minimal reproduction sample? It would be much easier to understand/help if I'm able to reproduce the issue locally, thanks! 🙏

[2022-03-08 22:25] felangel commented on #3263
I haven't but will try to take a look this afternoon 👍

[2022-03-08 22:25] felangel commented on #3258
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-03-08 22:25] #3258 closed

[2022-03-08 22:26] felangel commented on #3257
@alirezat66 is there any update on this? Are you able to provide a link to a reproduction sample?

[2022-03-09 04:33] Tokenyet opened #3274 "[Question] Run tests included sub packages"
Just wanna ask how did you test locally. I just saw [1.20.2-dev](https://github.com/dart-lang/test/blob/master/pkgs/test/CHANGELOG.md#1202-dev) released, and my project have 20+ packages.

The workaround for me is the test tab from vscode, then I could choose the test. For the case, I wish I could use `flutter test --exclude-tags someTag` or `dart test --exclude-tags someTag` to run all tests incl

[2022-03-09 08:39] alirezat66 commented on #3257
Hey I implemented it in https://github.com/alirezat66/bloc_problem but I
didn't have any problems. but I sware that I was problem in real project
with same codes.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&

[2022-03-09 13:27] newbieflutter commented on #3271
Hi Felangel,
                    Sure I will create a mini application just with this form in it? Is that ok. How should I pass to you ?

[2022-03-09 14:47] mrverdant13 commented on #3274
At the moment, the only way to achieve what you describe is by using a mono-repo or multi-package manager.

There are two alternatives, here:
- [`mono_repo`](https://pub.dev/packages/mono_repo) by Google
- [`melos`](https://pub.dev/packages/melos) by Invertase

Besides that, [`very_good_cli`](https://pub.dev/packages/very_good_cli)'s contributors are currently working on a feature focused on testi

[2022-03-09 15:52] felangel commented on #3271
Yeah it'd be great if you could create the simplest possible project to illustrate the issue and provide a link to the GitHub repo. Please make sure the code compiles/runs so that I can run/debug it locally, thanks!

[2022-03-09 19:57] #3255 closed

[2022-03-10 05:00] KDCinfo commented on #3241
After watching through [Testing Flutter Apps - Making Sure Your Code Works](https://www.youtube.com/watch?v=bj-oMYyLZEY&ab_channel=Flutter) provided by The Boring Flutter Development Show, Ep. 21, I'm closing this ticket as I realize now there is no need to ensure the storage is written to. That would be looking to test the storage library itself, which is beyond the scope of this type of test.

L

[2022-03-10 05:00] #3241 closed

[2022-03-10 05:07] Tokenyet commented on #3274
Thanks for sharing the research!

[2022-03-10 05:07] #3274 closed

[2022-03-10 10:50] henryliang3027 opened #3277 "[Question] What is the reason for making AuthenticationEvent extends Equatable"
I'm very new to flutter bloc. Recently, I've read your Login tutorial and I am curious about why you make `AuthenticationEvent extends Equatable` in [flutter login tutorial](https://bloclibrary.dev/#/flutterlogintutorial?id=authentication_eventdart) ?

What I understand about the reason for making `AuthenticationState extends Equatable` is to make sure the same state will not trigger the bloc to p

[2022-03-10 11:21] danjodanjo opened #3278 "[PROPOSAL] fallback to window.sessionStorage on Firefox private browsing"
Hi everyone! I hope everyone is in a good shape.

**Current Issue and some investigation**

One of my team encountered an issue when trying to initialise `HydratedBloc.storage` in main on web platform, specifically on firefox private browsing. Upon launching the app, it causes the app to not load at all. Catching the error on initialisation creates another issue because `HydratedBloc.storage` will

[2022-03-10 17:02] felangel commented on #3268
Hi @gvory 👋
Thanks for opening an issue!

It sounds like you want to manage the state of a and b independently. In that case, I'd recommend having a separate bloc/cubit to manage the state of a and b so that you can react to state changes independently to each of them rather than having a single monolithic bloc.

Hope that helps 👍

[2022-03-10 17:07] #3272 closed

[2022-03-10 17:47] #3268 closed

[2022-03-10 17:52] gvory opened #3279 "[Question] dynamic controller initialization"
I cannot initialize the tabController accordingly by pulling the tabbar list from the bloc.
I can't init an operation that I normally do in initState because the block logics do not work async.

[2022-03-10 22:25] Pierre2tm commented on #3246
@Tokenyet Thank you so much for referring me to the comment about the state machine using freezed (and of course its author)!
I have totally rethought my approach based on this.

Now, `StateMachine` is just a little wrapper around `Bloc`. It still exposes the api described above, but it uses `on` under the hood. I think this is a much cleaner approach and this way it should be 100% compatible with

[2022-03-11 04:39] danjodanjo commented on #3278
Hmm, makes sense. Since in the end `indexedDB` is being called in `hive`, improving it on the `hive` implementation will also fix any packages that depends on it. My first mindset when improving is to not touch the low level and provide alternative on a top level implementation for short term solution.
I think I will try to extend this implementation in `hive` instead and propose it to them, thoug

[2022-03-11 13:36] DebroyeAntoine commented on #3249
Hi @felangel did you had the time to take a look ? 😄 I think it's a dummy question, but I don't understand what I'm doing wrong 😅 .

[2022-03-12 10:25] KanybekMomukeyev commented on #3244
Absolutely same here, any update on this issue or solution how to avoid/fix it?

[2022-03-12 17:13] newbieflutter commented on #3271
Hi Felangel,
                     I have managed to create a simple project here https://github.com/newbieflutter/testnewbloc. There is simple password based text input and just press the button edit you will enventualy need to wait for you to get network error then you will see the final error is printed with regards expecting a future return ...

[2022-03-12 18:32] MdeBruin93 commented on #3256
Looks great, but I'm failing see how it can read the URL from the browser.

[2022-03-12 23:00] ronytesler opened #3280 "fix: state.runtimTypes prints minified:uZ"
flutter_bloc: ^8.0.1

I have this code:```

BlocListener<UserBloc, UserState>(
          listener: (context, state) {
            print(state.runtimeType);
[code]

[2022-03-12 23:16] felangel commented on #3280
Hi @ronytesler 👋
Thanks for opening an issue!

This is working as expected and has nothing to do with bloc. RuntimeType will be different depending on the environment the code is running in and whether it’s a debug/release build.

[2022-03-12 23:38] #3280 closed

[2022-03-14 03:20] Tokenyet commented on #3199
If I need to use filter feature, I will do this...
[code]

So in my situation.

Both question is a simply no.

[2022-03-14 16:47] BartWesthoff opened #3282 "refactor: Bloc templates"
I have followed the [firebase login example](https://bloclibrary.dev/#/flutterfirebaselogintutorial) and after I did install the bloc plugin for Android Studio. The plugin uses a different format for creating blocs. My proposal is to change the plugin slightly so it follows this tutorial. In general this approach is more readable and holds on to specifying the events which leads to general code qu

[2022-03-14 16:50] BartWesthoff commented on #3277
I think it is in general a better idea to have the event extens equatable not specific for this use case.

[2022-03-14 19:42] cdprete commented on #3174
@felangel thanks for the feedback. I'll have a look at it asap.

[2022-03-15 17:42] newbieflutter commented on #3271
Hi Felangel,
                    Would like to check with you is the simple project ok for you to test run ? Hopefully could run on your side.

[2022-03-15 17:49] felangel commented on #3174
@cdprete closing for now but feel free to comment with any additional thoughts/questions and I'm happy to continue the discussion 👍

[2022-03-15 17:51] felangel commented on #3282
Hi @BartWesthoff 👋
Thanks for opening an issue!

We discussed this as part of https://github.com/felangel/bloc/issues/2731 and decided to leave it as is in order to keep the snippet as simple and generic as possible. It's not always desirable to split your code into multiple event handlers because event handlers are run concurrently so I'd prefer to leave the snippets as they are.

Let me know wha

[2022-03-15 17:53] felangel commented on #3279
Hi @gvory 👋
Thanks for opening an issue!

Can you please provide a minimal reproduction sample that illustrates the issue you're facing? Are you able to provide equivalent code that doesn't use bloc to illustrate what you're trying to achieve? Thanks!

[2022-03-15 17:56] felangel commented on #3277
Hi @henryliang3027 👋
Thanks for opening an issue!

Events extend Equatable for several reasons:
- ease of testing/comparisons
- to support event transformers like distinct
- consistency

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2022-03-15 17:56] #3277 closed

[2022-03-15 20:30] gvory commented on #3279
`import 'package:flutter/material.dart';

class MyApp extends StatefulWidget {
  const MyApp({Key? key}) : super(key: key);

  @override
  State<MyApp> createState() => _MyAppState();
}

class _MyAppState extends State<MyApp> with SingleTickerProviderStateMixin {
  late final TabController _tabController;

  @override
  void initState() {
    super.initState();
    initTabController();
  }

  Futu

[2022-03-15 21:09] BartWesthoff commented on #3282
Hi @felangel 👋

I see the feedback from earlier. Is it still possible to change this for my development enviroment locally? Instead of making a new plugin from scratch?

[2022-03-15 21:23] felangel commented on #3282
Yup, you can [create your own VSCode Snippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_create-your-own-snippets) or [edit the Live Templates on IntelliJ](https://www.jetbrains.com/help/idea/creating-and-editing-live-templates.html). Let me know if you have any questions about that and I'm happy to help 👍

[2022-03-16 16:13] heshaShawky opened #3283 "[Question] Cubit to Cubit communication"
I have a finance app that has wallets ( accounts ) and transactions per wallet.

Now I need to switch between wallets and change all transactions components underneath.

What currently I am doing, creating a cubit called `activeWalletCubit` and I just listen to it if it changed, and reinitiate transactions components based on that wallet, like the showing on below code.

I need to know if what I a

[2022-03-16 19:07] BartWesthoff commented on #3282
Hi Felangel,

Thank you alot! learned something new :)

[2022-03-16 19:15] #3282 closed

[2022-03-17 16:04] jicasa03 commented on #2526
Hi, @felangel! I am newbie in Flutter. I use flutter_bloc: 8.0.1

How can I convert to on(..) style this:

class FragmentBloc extends Bloc<FragmentEvent, FragmentState> {
  @override
  FragmentState get initialState => FragmentInitialState();
  @override
  Stream<FragmentState> mapEventToState(
    FragmentEvent event,
  ) async* {
    if (event is FragmentNavigateEvent) {
      if (!FragmentManag

[2022-03-18 03:32] Skhendle commented on #1819
Hi @felangel,

I have been learning and using a lot of the Bloc library. I also want to try out contributing to open source within my stack(Flutter).

I was wondering if I can work on improving this [https://github.com/Skhendle/north-wind-api-flutter-ui](project) which use's the bloc library. And have it as example in the bloc documentation

[2022-03-18 03:38] Skhendle commented on #3121
Hi @Gene-Dana and @felangel,

I have been learning and using a lot of the Bloc library. I also want to try out contributing to open source within my stack(Flutter).

I was wondering if I can work on improving this [https://github.com/Skhendle/north-wind-api-flutter-ui](project) which use's the bloc library.

I believe I can update and refactor it to meet the requirements
[x] Repository scoping and

[2022-03-18 08:42] cdprete commented on #3174
@felangel I checked the changes and I cannot see how to achieve pagination with those :-)
As stated in the comments in the example, the items are paginated in the real app, therefore listening to the stream is not really good IMO (without considering you're exposing internal details which should be encapsulated).

The flow (idea) is:
1. You're on page X
2. An item is added/removed
3. Fetch again t

[2022-03-18 11:02] vardumper opened #3284 "bin/build-administration.sh fails with error diff-match-patch"
**Description**
ModuleNotFoundError: Module not found: Error: Can't resolve 'diff-match-patch' in '/home/runner/work/***/***/vendor/frosh/tools/src/Resources/app/administration/src/module/frosh-tools/component/frosh-tools-tab-files'
[98](https://github.com/***/***/runs/5599108037?check_suite_focus=true#step:17:98)

This happens in a Github Runner OS.

Full log output is this
[code]

Any tips how t

[2022-03-18 11:18] #3284 closed

[2022-03-19 13:31] omarmorsi99 commented on #3022
hello this is my main with no log observer if you can help

Future<void> main() async{
  BlocOverrides.runZoned(
        () => const MyApp(),
    blocObserver: AppBlocObserver(),
  );

  WidgetsFlutterBinding.ensureInitialized();
  await Firebase.initializeApp(options: DefaultFirebaseOptions.currentPlatform);

}
class MyApp extends StatelessWidget {
  const MyApp({Key? key}) : super(key: key);
  @

[2022-03-19 20:06] lukaexevio opened #3286 "fix: Fatal app crash immediately after yield from the stream inside of bloc"
### Description
App crashes after small data yield just before a http request from a stream inside of bloc with _**Fatal signal 11 (SIGSEGV), code 2 (SEGV_ACCERR)**_ error on Android and **_EXC_BAD_ACCESS (SIGBUS)_** on iOS. Crash doesn't occur when using streams outside of the bloc.

What would be the reason for such a fatal error directly from stream?

### Steps To Reproduce

1. Set Flutter vers

[2022-03-20 16:51] adrianflutur commented on #3249
@DebroyeAntoine its probably because you emit the exact same instance of the state and the bloc will not update the state if the old and the new states are equal (since you also did not override the == operator of your state class)

just emit a new state and it should work

[2022-03-20 18:08] DebroyeAntoine commented on #3249
Hi @adrianflutur thank you for your answer, but with https://github.com/DebroyeAntoine/issue_flutter_bloc it's 2 different states. In the first time, I emit blue, and then after 2 seconds, I emit green, so I have to see the color changing, but it's not the case, or missed I something in your answer ?

[2022-03-20 18:25] adrianflutur commented on #3249
It's the same state. When I say state I mean the `IssueState` class. Yes, you changed the color but the instance of the state object is the same as the old one.

[2022-03-20 18:29] DebroyeAntoine commented on #3249
Oh okay 😮. With my socket connection, how can I here use another instance of my state ? 😅

[2022-03-20 18:36] adrianflutur commented on #3249
Well first you should really drop the socket thingy from the example. It's really hard to see what's the purpose of it in the big picture. Just keep the bare minimum for the example to work (i.e. changing the color on button press).

`emit(IssueState(color)`

For more advanced use cases, you may want to check out the `equatable`, `freezed`, `built_value` packages, which help you with this

[2022-03-20 19:09] DebroyeAntoine commented on #3249
Oh thanks a lot, it was very dumb, sorry to take your time !!

[2022-03-20 19:09] #3249 closed

[2022-03-20 20:44] felangel commented on #3286
Hi @lukaexevio 👋
Thanks for opening an issue!

I'm able to reproduce the issue locally and I'm still investigating but I just wanted to note that I'm not able to reproduce this using the latest stable version of flutter_bloc (8.0.1):

[code]

[2022-03-20 21:01] felangel commented on #3022
@omarmorsi99 you need to move your WidgetsFlutterBinding and Firebase calls within the runZoned callback like:

[code]

Hope that helps 👍

[2022-03-20 21:18] felangel commented on #3286
@lukaexevio I took a closer look and it looks like the crash is related to the fact that you're using `await for` within `mapEventToState` and yielding within the `await for`. The following works as expected:

[code]

The original implementation you provided does not really make sense to me because when you yield from within `await for` you are returning a new stream so it doesn't make sense in th

[2022-03-21 08:22] lukaexevio commented on #3286
Hey, I already tested this with **on** method where states get emitted and it worked. I posted this because it’s pretty worrying for such a crash to occur in Flutter on both platforms.

I agree the implementation is lacking in some sense, but it was written a while ago on an older project.

This is the first time I’ve experienced a fatal crash with pure dart code without any native functions 😂 Is

[2022-03-22 08:38] red-star25 opened #3289 "[Question] How to ignore other events while an event is processing"
- I'm playing around with the 'bloc concurrency' package.
- In my app, there is only one simple page with a 'Load New Joke' button. Which gets data from an API.
- There's also a FloatingAction button which triggers the same event.
- When the user presses the 'Load New Joke' button, I add a 3-second delay. After 3 seconds, the data will appear.
- What I wanted to do is I want to ignore other events

[2022-03-22 13:27] lukaexevio commented on #3286
Btw I didn't use state classes for this example to make it as minimal as I can, in reality it is a yield of **_Success(something)_**, a yield makes sense in the context of mapEventToState in that case since it yields a state. I changed mapEventToState to on<Event> and it works fine, but I'm still worried about the cause of this issue because it looks like an issue with the Flutter itself, it shoul

[2022-03-22 13:53] lukaexevio commented on #3286
I have also found this issue occurs even when only StreamBuilder is used. So it probably doesn't have anything to do with Bloc, but with Flutter in general.

[code]

[2022-03-22 14:23] felangel commented on #3286
@lukaexevio thanks for investigating this further! Based on the fact that you were able to reproduce the issue without any bloc dependency, I think you should open an issue on Flutter reporting this crash since I agree it's quite concerning that a native crash is occurring.

[2022-03-22 14:38] #3286 closed

[2022-03-22 19:44] akshay-sha commented on #346
Seems like this example has been removed. Since it says 404.
Any chance, I can get a link to any example using flutter_bloc with firestore?

[2022-03-22 21:39] benyaminbeyzaie commented on #3289
Can't you use a local variable into your bloc? simply set it to be true when fetching data and on every event check this variable to be false to process that event, and if it was true ignore it.

[2022-03-23 05:34] federicodesia commented on #3289
If you want to apply a transformer to multiple events, you must group the events like in #3143.

[2022-03-23 10:06] Jashemaits commented on #3022
Hello! onError is not getting called from blocObserver for blocs of nested page.  but  it is getting called on my tab bar but if i navigate to a different page and that page has a blocProvider that is not printing any error.

[2022-03-23 15:56] mathiasgodwin commented on #3196
@yh-luo Thank you for creating that! I've been looking for easy life all the way. My life has been a lot of boilerplate ever since, you know, I use Flutter bloc with clean code architecture and at least the time of code writing will be reduced learning to use freezed efficiently. I'll follow you for more of this.

[2022-03-24 05:18] red-star25 commented on #3289
Thank you. After grouping the event, I can now manage to apply the different transformations on Events.

[2022-03-24 05:18] #3289 closed

[2022-03-24 14:48] felangel commented on #3278
No problem! Closing this for now since there isn't any additional work to be done in bloc. Feel free to drop a link to the hive issue so others can leave a 👍

[2022-03-24 14:48] #3278 closed

[2022-03-24 17:41] mathiasgodwin commented on #2392
You idea show some promise @evanholt1. Can you please provide any example you used this approach? I'd really appreciate 🙂

[2022-03-24 19:27] sinan-aktepe opened #3292 "fix:"
I am trying to fetch a firestore data using bloc. But it doesn't work as expected. I only get a few items as response.
What should i do to get the firestore data properly?

**Bloc**
[code]

**Firestore client**
[code]

**Adding Event Here**
[code]

**Displaying Data Here**
[code]

[2022-03-25 12:02] alanbosco003 opened #3294 "bloc listner not responding to state changes."
**Problem**
Bloc listner not changeing to state changes. I use a bloc for login purpose, it is passing to the login page and when the state changes to goes to home page working perfectly, But the problem is when i try to logout. When the got out event is triggered and the logout state is set but in the authentication page the bloc listener is not rebuilding the UI.

**Steps To Reproduce**
my auth

[2022-03-25 15:53] JohnMichaelHauck opened #3295 "docs: Recipes: Route Navigation - How to return to StateA?"
With respect to the [Route Navigation Recipe](https://bloclibrary.dev/#/recipesflutternavigation?id=ui-layer-1):
1. It is clear how the next state emitted by MyBloc is StateB in response to the EventB generated by the onPressed handler of the 'Go to PageB' button.
2. It is also clear how the UI navigates to PageB as the Listener responds to the emitted StateB by calling pushNamed('/pageB').
3. It

[2022-03-26 07:23] BiswajitKrPaul commented on #3196
Thanks @yh-luo  for the example.

[2022-03-26 07:23] #3196 closed

[2022-03-26 14:21] felangel commented on #3292
Hi @sinan-aktepe 👋
Thanks for opening an issue!

If you’re getting some results but not all the ones you expect then it’s most likely an issue with your data in firestore or your query. Do you feel this is related to bloc in some way? It doesn’t sounds like it’s a bloc issue to me.

[2022-03-26 14:29] IttaiBarkai commented on #3267
@mariopepe I am experiencing a very similar issue at the moment, although I'm pretty sure I am passing only a single instance of the bloc I am listening to. My stream-subscription initially gets called with a state change from my other bloc and then any state changes after that aren't being picked up. Is there any more insight you can provide, as to how you found out you were passing a difference

[2022-03-26 16:54] sinan-aktepe commented on #3292
When i use stream builder with my query, it just works fine,

I think i'm missing something in my bloc implementation but i'm not sure what it is
[code]

Here are my providers.
[code]

Thank you

[2022-03-26 16:56] felangel commented on #3292
@sinan-aktepe can you share a link to a minimum reproduction sample?

[2022-03-26 19:18] sinan-aktepe commented on #3292
Here is the sample code: https://github.com/sinan-aktepe/flutter-anonymous-chat-with-bloc

In the code there are implementations for both StreamBuilder and BlocBuilder. You can check the behaviour difference.

[2022-03-26 22:17] kmigntw opened #3297 "Proper way of using bloc/cubit to do api calls and store user behaviour"
Hi guys,

This is more like a question, rather than an actual issue. It is a use case I face a lot and I took different approach to resolve it everytime, but I have no idea which one is the best and like 'best practice'. It is some kind related to #182

I have the following use case:
I have a page with list of data. This data is based on several different parameters.

For getting the data I have a

[2022-03-28 10:40] nhoaichuong2001 commented on #181
That was awesome

[2022-03-28 16:15] fodor99 commented on #3294
Hi alabosco003

if You extend Your LoginBloc with 2 override function:
@override
  void onEvent(YOUREVENT event) {
    super.onEvent(event);
  }

  @override
  void onTransition(Transition<YOUREVENT, YOURSTATE> transition) {
    super.onTransition(transition);
  }
and You set debugger points on calling super.* debugger catches the state change while the program is running?
I have something similar

[2022-03-28 16:17] kodejack commented on #660
This fixed an issue we had but i'm unsure if I now need to manually close the bloc if using "value"?

[2022-03-29 02:20] felangel commented on #3273
Closing for now but feel free to provide a link to a minimal reproduction sample and I'm happy to take a closer look 👍

[2022-03-29 02:20] #3273 closed

[2022-03-29 02:23] felangel commented on #3279
Hi @gvory 👋

You should be able to add the event to the bloc when it is instantiated, perform the async logic in the bloc and react to various states in the UI via a `BlocBuilder`/`BlocListener`:

[code]

[code]

[code]

Hope that helps 👍

[2022-03-29 04:21] alanbosco003 commented on #3294
Hi @fodor99 Thanks for responding.
Sorry i didn't get what you said. can you please clone the project and check it yourself?

[2022-03-29 05:36] alanbosco003 commented on #220
hi @felangel 👋🏻
Thank's for the amazing library ❤️.
I am trying to master this library for 1 month. But, am stuck with navigating to differnt screen using bloc library.
             ---- home --- > ( on logout event triggered ) --> login page
auth ---
             ---- login page --> (on login succes event) home.
This is my login.
The first flow is perfectly working with the help of blocListner.
[

[2022-03-29 05:55] newbieflutter commented on #3271
Hi Felangel,
                    Any comments from you side will appreciate it. Thank you.

[2022-03-29 06:19] vandadnp opened #3299 "refactor: blocTest.act -> blocTest.action"
Hi and thank you for Bloc and for blocTest in Flutter. I really appreciate all the work that has gone into creating this library which I personally love.

If we look at blocTest function's signature:

[code]

The parameter `act` sticks out in that it _probably_ means action but it's not spelled fully. It's nit picking but I'd really love for this parameter to be deprecated and become `action` inst

[2022-03-29 14:52] felangel commented on #3299
Hi @vandadnp 👋
Thanks for opening an issue!

The reason for the `act` naming is because the goal was to have the parameters read like distinct phases rather than descriptions. This was inspired in part by [arrange, act, assert](https://automationpanda.com/2020/07/07/arrange-act-assert-a-pattern-for-writing-good-tests). So in this context, act is not short for action -- it's the phase where you exe

[2022-03-29 14:58] vandadnp commented on #3299
That explanation makes perfect sense @felangel , thanks for taking the time to reply to my issue. I will close this issue now that I know the reasoning behind this.

Thank you for Bloc again.
/v

[2022-03-29 14:58] #3299 closed

[2022-03-29 14:59] felangel commented on #3299
Thanks for all that you do for the community as well! 💙 🙏

[2022-03-29 16:39] felangel commented on #660
When you use BlocProvider.value the bloc is not automatically closed so ideally it should be closed by an upstream BlocProvider (where it was created).

[2022-03-29 17:12] #3250 closed

[2022-03-29 19:39] SankethBK opened #3300 "docs:"
**Description**

Hi, found a small typo in the documentation.
![image](https://user-images.githubusercontent.com/51091231/160693170-bc4d8ffc-ae0e-478b-b097-b89f5e64f1b1.png)
I think you meant context.read not context.bloc.

Anyways great library to work with, and documentation is much more cleaner and beginner-friendly than other libraries, i really appreciate your work.

[2022-03-29 19:44] #3300 closed

[2022-03-29 19:45] github-actions[bot] opened #3302 "[Translations] Update docs"
Update Translations to include changes from cd57cfe906d3710f00afd8ee1b156417d7a61845.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-03-29 19:54] Haidar0096 opened #3303 "refactor: Question: Does adding events from inside gesture detector's onPanUpdate method affects performance?"
**Description**

I have an image wrapped inside a `GestureDetector`, and inside the `onPanUpdate` handler I am adding events to the bloc to change the saved state (i.e. change the saved position i..e. `Offset` of the image inside the bloc's state), like this:

[code]

However I notice lagging animations when I drag the image fast (you can guess already that hundreds or thousands of events are bein

[2022-03-30 11:02] oscarshaitan opened #3304 "bloc_test not capturing one state"
**Description**
I have a cubit that on the constructiosn call the a method _int()
 inside this method I have 3 if statements the first 2 pass the tests but the last one the most simple case just emit an state with out any previous operation is not captured by the test.
 the only way to capture the state on the test is putting a future.delayed with any time

![image](https://user-images.githubuserc

[2022-03-31 09:12] morlay commented on #3230
`flutter  channel beta` have same issue.

[2022-03-31 10:07] macik1423 commented on #3244
I am also waiting for any solution.

[2022-03-31 10:15] aaassseee commented on #3244
Try out the temporary solution which is suggested by @felangel. You can go through the example code on hydrated bloc in [here](https://github.com/felangel/bloc/blob/master/packages/hydrated_bloc/example/lib/main.dart). Or just add ```flutter_services_binding``` to pubspec.yaml, and replace ```WidgetsFlutterBinding.ensureInitialized();``` with ```FlutterServicesBinding.ensureInitialized();```. This

[2022-03-31 15:44] pandora-house opened #3305 "docs: bloc to bloc communication test"
Hello! Please, can someone to share with examples how to test bloc to bloc communication.

[2022-03-31 20:19] holdenhinkle opened #3306 "fix: Flutter Weather Tutorial won't run"
**Description**
Just a quick note to say that there's a bug with the [Flutter Weather Tutorial](https://bloclibrary.dev/#/flutterweathertutorial):

[code]

Thanks

[2022-03-31 20:21] holdenhinkle commented on #3230
I'm new to Dart/Flutter and just ran into this when going through the Weather App tutorial.

I just submitted this issue - https://github.com/felangel/bloc/issues/3306

[2022-03-31 21:06] felangel commented on #3306
Thanks this is a duplicate of #3230 👍

[2022-03-31 21:06] #3306 closed

[2022-03-31 21:07] felangel commented on #3230
WIP PR to address this is #3240

[2022-04-01 01:45] felangel commented on #3304
Hi @YazeedAlKhalaf 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample that I can run/debug locally? Thanks!

[2022-04-01 08:09] matanshukry opened #3307 "docs: design questions"
I have multiple questions regarding design using bloc. I believe those questions, and the answers to them, can be either added to the FAQ or to different parts of the documentation and greatly help other people as well both use and design better systems using bloc.

The questions:

## Question 1
Looking at the todos_example , and specifically the api: https://github.com/felangel/bloc/blob/master/e

[2022-04-01 09:29] louislaus0202 opened #3308 "feat: bloc内new webSocket对象，socket一启动就关闭了"
**Description**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Desired Solution**

A clear and concise description of what you want to happen.

**Alternatives Considered**

A clear and concise description of any alternative solutions or features you've considered.

**Additional Context**

Add any other context or screenshots about the feature reque

[2022-04-01 09:29] louislaus0202 opened #3309 "feat: bloc内new webSocket对象，socket一启动就关闭了"
**Description**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Desired Solution**

A clear and concise description of what you want to happen.

**Alternatives Considered**

A clear and concise description of any alternative solutions or features you've considered.

**Additional Context**

Add any other context or screenshots about the feature reque

[2022-04-01 16:49] felangel commented on #3309
Hi @louislaus0202 👋
Thanks for opening an issue!

It looks like the issue template hasn't been filled out so I'm not clear on what the issue is. Can you please provide a clear description of the issue and desired solution as well as a link to a minimal reproduction sample? Thanks!

[2022-04-01 18:57] sultanhunter opened #3310 "fix: Bloc Listener Widget not checking if widget is mounted before calling listener callback."
**Description**
Bloc listener widget is not checking if the widget is mounted before calling the listener callback. As a result if the state changes between unmounted and dispose state due to some api response, it throws error since we can't use the context as the widget is unmounted.

**Steps To Reproduce**

1. Its hard to reproduce, but I encountered while building the app for my company.

**Exp

[2022-04-01 19:07] felangel commented on #3310
Hi @sultanhunter 👋
Thanks for opening an issue!

It would be extremely helpful if you could try to put together a minimal reproduction sample. I know you said it was hard to reproduce but it's very difficult to triage/resolve an issue without a reproduction sample, thanks!

[2022-04-01 19:57] sultanhunter commented on #3310
I tried a lot to reproduce the issue but failed to do so. You can close the issue. Thanks.

[2022-04-01 20:02] #3310 closed

[2022-04-01 20:13] sultanhunter commented on #3310
Sure.

[2022-04-01 20:14] sultanhunter commented on #3310
Sure.

[2022-04-02 00:40] raphaelbarbosaqwerty commented on #3267
I have the same problem..

[2022-04-03 23:57] mariopepe commented on #3267
Hi @IttaiBarkai so in my specific case I realised I was doing something wrong as I was mis-using my the dependency injection packet and i was creating multiple instances of the bloc.

So as general advice I would say if you are listening to bloc B from bloc A, of course make sure that you have not disposed of  neither the bloc. As a rule of thumb blocs are disposed when the widget that provided th

[2022-04-04 09:08] IttaiBarkai commented on #3267
@mariopepe Just wanted to say thank you for taking the time to write such a comprehensive explanation and for the suggestion of using a rx dart stream.

[2022-04-04 14:47] iammiland opened #3311 "Update state in different page and rebuild page - Bloc"
Hi,
i have a question.

This is my actually condition:

**PAGE1**
|- BlocProvider Bloc1
|- BlocBuilder Bloc1, BlocState1
|-> IconButton : Navigator.of(context).push(NaterialPageRoute( builder: (context) => PAGE2())),

**PAGE2**
|- BlocProvider Bloc2
|- BlocListener Bloc2
|- BlocBuilder Bloc2
|-> IconButton that update item in PAGE2, and in PAGE1

If i want that action below IconButton in PAGE2 cha

[2022-04-04 17:38] #3230 closed

[2022-04-04 21:57] felangel commented on #3311
Hi @iammiland 👋
Thanks for opening an issue!

In the case you described, you'd need to provide Bloc1 above both Page1 and Page2. Then you can access Bloc1 from Page2 via `context.read` and add an event to update the state.

Hope that helps 👍

[2022-04-04 21:57] #3311 closed

[2022-04-04 21:58] felangel commented on #3309
Closing since there are no actionable next steps.

[2022-04-04 21:58] #3309 closed

[2022-04-04 21:58] felangel commented on #3304
Closing since there are no actionable next steps. Feel free to provide a link to a minimal reproduction sample and I'm happy to take a closer look 👍

[2022-04-04 21:58] #3304 closed

[2022-04-04 21:59] felangel commented on #3279
Closing for now since but feel free to comment with any follow-up and I'm happy to continue the conversation 👍

[2022-04-04 21:59] #3279 closed

[2022-04-04 22:05] felangel commented on #3178
In this case you can model your state like:

[code]

Then your UI would look like:

[code]

[2022-04-04 22:06] felangel commented on #3246
Closing this for now since it looks like there are no actionable next steps in the context of this library 👍

[2022-04-04 22:06] #3246 closed

[2022-04-05 07:02] iammiland commented on #3311
Hi @felangel
thanks for your help 👍

I try to use :
- MultiblocProvider with Bloc1 and Bloc2 in Page1
- MultiblocProvider with Bloc1 and Bloc2 in Page2

But when i add an event with the _context.read_ to the Bloc1 in Page2 that changes the state of Bloc1, the listener in Page1 doesn't listen the new state and i'am not able to rebuild the Page1.

I hope I have explained well.
If not, I can add port

[2022-04-05 10:45] CodeRebirth opened #3313 "fix:"
I have a bloc called specialityBloc which will fetch doctors according to their speciality from firestore by delegating it to a repository.

The problem is when I want to fetch different doctors with different speciality and emit them from same state(fetchSuccessState).

I am able to fetch them separately from firestore but when It comes to rendering in the UI using different bloc builders(that li

[2022-04-05 11:23] oscarshaitan commented on #3304
I will upload the example later today!

[2022-04-05 15:48] felangel commented on #3078
@jswietek this should be resolved now via v9.0.0-dev.1 of hydrated_bloc. You can check out the https://github.com/felangel/bloc/tree/sample/e2e branch for an example. Let me know if that helps 👍

[2022-04-05 22:09] PowerPaloma opened #3316 "chore: How can i wait the bloc execution in testWidgets"
**Description**
I have the following scenario:
screen button tap -> bloc event -> do a request -> bloc state -> navigate

i want to test that if i tap the button i can navigate..

[code]

[code]

The test is reaching the verification and the calls were not done yet. How can i wait for the bloc execution in testWidgets? Thanks

[2022-04-06 03:58] danzapple commented on #3019
@fdetun problem is same

[2022-04-06 17:26] aminarshadinia commented on #2847
Hello guys
Thanks for your hard work.

I recently updated my bloc to 8.0.1 and facing the same issue that was mentioned in this topic.
so i tried these two approaches but none of them work for me
all i want is to set my states again after i call create...

This is my former approach that was completely ok.
[code]

First approach
[code]

Second Approach
[code]

[2022-04-07 15:09] marcossevilla commented on #3316
hi, @PowerPaloma 👋  I'd suggest taking a look at this [test](https://github.com/felangel/bloc/blob/4b8e2f43be77f76684fb5b93c8581b5db1f08d6f/examples/flutter_firebase_login/test/login/view/login_form_test.dart#L225) from the flutter_firebase_login example.

otherwise, if you can share a minimal reproducible sample it would be great because I can't tell what your Navigation, Bloc, and Screen do 👍

[2022-04-07 15:34] Arawipacha commented on #1928
context.read<AuthenticationBloc>().state.status

[2022-04-07 19:04] ANGADJIT opened #3317 "fix: _state = widget.selector(_bloc.state());"
**Description**
Error: 'state' isn't a function or method and can't be invoked

**Steps To Reproduce**
change _bloc.state(); to _bloc.state;
in builder,listener ,selector file

[2022-04-07 19:08] marcossevilla commented on #3303
hi, @Haidar0096 👋

blocs are very performant but I suggest applying some kind of debounce for this kind of interaction, you can take some inspiration from photobooth on the photobooth preview [widget](https://github.com/flutter/photobooth/blob/main/lib/photobooth/widgets/photobooth_preview.dart#L119) where an event is [transformed](https://github.com/flutter/photobooth/blob/e23be72f669b25814902021

[2022-04-07 19:23] BaranMichal25 commented on #3090
I realise it's not a high priority issue, but I noticed that a couple of other 'fundamental' packages are already >= 2.14, for example:
- [firebase_core](https://github.com/firebase/flutterfire/blob/master/packages/firebase_core/firebase_core/pubspec.yaml#L12)
- [freezed](https://github.com/rrousselGit/freezed/blob/master/packages/freezed/pubspec.yaml#L9)
- [path_provider](https://github.com/flutt

[2022-04-07 22:08] felangel commented on #3317
Hi @ANGADJIT 👋
Thanks for opening an issue!

Can you please provide more context and a minimal reproduction sample? I'm afraid there isn't enough information to help at the moment. Thanks!

[2022-04-08 00:36] Abdulaziz4 commented on #3304
I faced similar issue and solved it by adding wait duration to the test equal to the Future.delayed duration. I hope that may solve your problem.

[2022-04-08 01:44] alexlomm-dormzi opened #3318 "docs(hydrated_bloc): unclear how to mock out the hydrated storage for testing"
**Description**

It is unclear how exactly to mock out the hydrated bloc. I'm trying to follow this example:

https://github.com/felangel/bloc/blob/4b8e2f43be77f76684fb5b93c8581b5db1f08d6f/examples/flutter_weather/test/weather/view/weather_page_test.dart#L32-L37

But it doesn't seem to be working in my case, I'm still getting an error:

<img width="567" alt="Screen Shot 2022-04-07 at 9 41 36 PM" s

[2022-04-08 01:46] felangel commented on #3318
Hi @alexlomm-dormzi 👋
Thanks for opening an issue!

I believe you just need to remove the TestWidgetsFlutterBinding.ensureInitialized(); from _buildMockStorage. If you’re still having trouble it would be awesome if you could create a minimal reproduction sample and I’ll take a closer look 👍

[2022-04-08 02:52] ANGADJIT commented on #3317
Thanks sir for responding

Last night i started a project with bloc
While building the project i got an error
state = widget.select or _bloc.state()

Then i checked that in following files
- **bloc_selector**
- **bloc_listener**
- **bloc_builder**

_bloc.state() is invoking as function

I changed _bloc.state() to _bloc.state
And it worked

So that's why I raised this issue

Thanks

[2022-04-08 06:17] Haidar0096 commented on #3303
thanks for the reply, I don't understand what you mean by debounce. But I looked at the method that handles the bloc event that you mentioned, and I am doing the same thing in my bloc exactly: send raw data (drag details) from widget into the bloc and call the service inside the bloc's handling method, [here it is ](https://github.com/maheshmnj/Image-Editor-Desktop-Flutter/blob/67ab7ad48b5a423da39

[2022-04-08 09:03] wujek-srujek opened #3319 "docs: zone overrides documentation could mention how to deal with nested `runZoned`"
In the migration guide (https://bloclibrary.dev/#/migration?id=packagehydrated_bloc) and in the README (https://github.com/felangel/bloc/tree/master/packages/hydrated_bloc#setup-hydratedstorage) it is shown how to use `runZoned` to set storage etc. It has a very basic example but for example I now have (due to Crashlytics):
[code]
i.e. nested `runZoned` calls. The documentation could mention how t

[2022-04-08 09:21] oscarshaitan commented on #3304
I test the same but didnt work

[2022-04-08 13:59] felangel commented on #3304
@oscarshaitan I recommend restructuring your cubit like:

[code]

Then your test would look like:

[code]

The reason your current test is failing is because the bloc immediately initializes and emits the new state before the subscription is created. Hope that helps 👍

[2022-04-08 14:18] matanshukry commented on #3307
1. I didn't see it, but I disagree with both limitations in there:
a.  sending full list - you can use CRUD operations for single item (saveTodo/loadTodo/deleteTodo etc), which means you don't have to send/receive the full list everything. It can be done on all layers - api,service,repository,etc.
b. `The app must contain logic to ask for updates periodically.` - perhaps it's just wording, but ima

[2022-04-08 17:46] alexlomm-dormzi commented on #3318
Strangely enough, everything worked when I did a minimal reproduction 🤔 Must be something else going on in the codebase.

[2022-04-08 17:46] #3318 closed

[2022-04-08 19:39] oscarshaitan commented on #3304
so in the real app has to force the cubit to bi initiated like Cubit()..init() ??

[2022-04-08 21:35] marcossevilla commented on #3307
1. yeah, that's why later it says `In addition, todos can be created, deleted, or updated individually. For example, both deleting and saving a todo are done with only the todo as the argument. It's not necessary to provide the newly updated list of todos each time.` In this case, we just focus on updating the stream and that allows us to make a reactive list of streams, those are just implementat

[2022-04-08 21:43] marcossevilla commented on #3303
the drag update should be an event added to the bloc so it can be processed. I suggest you take a look at this [blog](https://verygood.ventures/blog/how-to-use-bloc-with-streams-and-concurrency) about blocs and event transformers, which also has a code [example](https://github.com/VGVentures/bloc_concurrency_demos). I think with a decent amount of debounce duration (you can check again photobooth

[2022-04-09 01:33] #3317 closed

[2022-04-11 11:51] serkanagca34 opened #3322 "doesn't conform to the bound 'StateStreamable<state>' of the type parameter 'B'."
why am i getting the error? I couldn't find the reason. I'll be happy if you can help me. @felangel

![Untitled](https://user-images.githubusercontent.com/62822922/162732990-35bad557-7fdf-4fe6-aec3-e245f6f8159a.png)

Cubit File:
`import 'package:bitistanbulmobile/models/home_market/market_pair_data.dart';
import 'package:bitistanbulmobile/services/rest_api/rest_data_source.dart';
import 'package:b

[2022-04-11 13:54] marcossevilla commented on #3322
hi @serkanagca34 👋  you should specify the type of the state in your cubit, like this:
[code]

[2022-04-11 14:22] serkanagca34 commented on #3322
I did as you said, unfortunately it didn't work.

[2022-04-11 15:09] felangel commented on #3322
@serkanagca34 can you share a link to a complete, minimal reproduction sample? Thanks!

[2022-04-11 15:11] #3316 closed

[2022-04-11 15:11] felangel commented on #3313
Closing for now but feel free to comment with any follow-up questions and I'm happy to continue the conversation 👍

[2022-04-11 15:11] #3313 closed

[2022-04-11 20:42] nosmirck commented on #3069
I use Cubits and this extension has come in handy :) hope it helps!

[code]

[2022-04-12 06:07] gerryau commented on #2269
How would this work when using freezed for states? Because there is no LoginLoadedState.

[2022-04-12 23:48] github-actions[bot] opened #3323 "[Translations] Update docs"
Update Translations to include changes from f6795b6705a55aedca97b3363660c3ae881ae65a.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-04-12 23:52] github-actions[bot] opened #3324 "[Translations] Update docs"
Update Translations to include changes from 5506d13621729a08786b15c0d78a438fa8a7c4a2.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-04-13 10:37] serkanagca34 commented on #3322
hello i solved the problem. The problem was giving an error because there were 2 classes with the same name, so my StatefulWidget class name was the same as my block state class name :) It was fixed when I changed the name of my block state class.  thank you for your interest. @felangel

![Screenshot 2022-04-13 132936](https://user-images.githubusercontent.com/62822922/163161311-9c7b9022-f773-4794

[2022-04-13 10:46] #3322 closed

[2022-04-13 13:24] aoatmon opened #3325 "expose `BlocProviderSingleChildWidget` in flutter_bloc"
**Description**
[hiding BlocProviderSingleChildWidget](https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/lib/flutter_bloc.dart)

[code]

makes hard to wrap `MultiBlocProvider`

[code]

**Desired Solution**

please expose `BlocProviderSingleChildWidget`

**Alternatives Considered**

remove it completely as it doesn't seem to add much to [SingleChildWidget](https://pub.dev/documenta

[2022-04-13 16:57] marcossevilla commented on #3307
will close this issue but feel free to continue the conversation and I'm happy to help!

[2022-04-13 16:57] #3307 closed

[2022-04-13 17:02] marcossevilla commented on #3303
will close this issue but feel free to continue the conversation if the examples aren't clear enough!

[2022-04-13 17:02] #3303 closed

[2022-04-15 06:37] bisrax commented on #181
thanks

[2022-04-15 19:15] rabee101 opened #3326 "build: test"
**Description**

Describe what changes need to be done to the build system and why

[2022-04-18 11:08] Haidar0096 opened #3327 "Error when calling undo() on a replay bloc"
**Description**
I have this bloc:
[code]

I am getting an error on the line `undo()` above, this is the console output (it also includes logger's output to prove that first a state is emitted and then the error is coming from the library's `undo()` method:
[code]

here are the events:
[code]

Even If I call it from the widget directly it does not help, this:
[code]

gives this log that contains th

[2022-04-18 11:32] PauloRutkoski opened #3328 "Best Practices"
I have a question about the best practices when creating an edit screen.
If I need to create a CRUD of a Person entity, that would have a document, name, last name, .... And I'm using cubit as state management.
Should I have each attribute replicated in the state of the Cubit? Or there is another way to do that without replicate everything?

[2022-04-18 18:15] alexaung opened #3329 "multiple screen listener with same state"
**Description**

I am facing on issue with success state. I have two pages, in bottom navigation bar. One page show the list with download button and one page is showing some info with download button. But both download button is same behaviour.  So I use same bloc and same widget. User click the download button, showModalBottomSheet show up and choose the download folder and download and then clo

[2022-04-19 08:18] akshaynjarangal opened #3330 "fix:Entire Page rebuilding mutiple times while onTap / focus on textfield"
**Description**
Hey @felangel Entire Page rebuilding mutiple times while onTap / focus on textfield
**Steps To Reproduce**

1. Create a Stateless Widget
2. Adding bloc event.
`WidgetsBinding.instance!.addPostFrameCallback((_) {context.read<DistrictListBloc>().add(LoadDistrictList()); // API DistrictList Calling Event
    });`

in build method
4. add ` log('something');`
5. Add TextFormField.
6. Th

[2022-04-19 10:39] Add00w commented on #3330
could you provide minimal code that illustrates the issue?

[2022-04-19 10:45] Add00w commented on #3329
where did you put the code that shows the snackbar and how do you call the download function all these are important to answer this plz provide code reproducing the issue.

[2022-04-19 10:47] Add00w commented on #3328
If I understand your question well you need to have the Person object in the state, not the fields.

[2022-04-19 11:43] Add00w commented on #3294
I cloned your code and it's working fine when logout it shows signin page.

[2022-04-19 12:15] PauloRutkoski commented on #3328
But then, everytime I want to change some attribute value, like the name, Would I have to do like this?

`context.read<Cubit>().changePerson(state.person.copyWith(name: name));`
`changePerson(Person person) => emit(state.copyWith(person: person));`

[2022-04-19 13:52] Add00w commented on #3328
You can do so.

[2022-04-19 17:51] Jaykocha opened #3331 "Map<> as bloc's state field doesn't work?"
**Description**
No matter what I tried, it seemed long impossible to emit a new state that will be recognized as such. The state changes before an event is added to the bloc, and therefore the UI does not get updated.

**Steps To Reproduce**
Minimal code to reproduce the issue:
[code]

With a bloc component as such:

[code]

**Expected Behavior**
I expected the state to change after an event has b

[2022-04-19 20:46] marcossevilla commented on #3331
hey, @Jaykocha 👋 I put up this snippet to dartpad.dev and it seems to work well, you can actually see the transitions on console and they are working as expected. I'm thinking that if it's still not working for you, there's probably another issue that the sample you provided doesn't cover/have. Anyway, here's the working sample, try it on DartPad to see if it works for you:
[code]

[2022-04-19 21:13] Jaykocha commented on #3331
Hey I appreciate your answer! And your example does work fine. But for my case it is important only to update the map and not construct a total new one:

So instead of `final newMap = {'key': randomText};` I want to do something like:

[code]

If I replace this in your example, the button does not update.

[2022-04-19 22:17] marcossevilla commented on #3327
hi @Haidar0096 👋  can you share a minimal reproducible sample on [dartpad.dev](https://dartpad.dev)? You should be able to just call `context.read<EditorBloc>().undo()` but it seems like you have some transforming logic. Can you provide more context on what the event handler is supposed to do?

[2022-04-19 22:51] marcossevilla commented on #3331
but you still create a new map keeping the reference of the one from the state, by creating a new one you just overwrite the current map value. that's working as intended as the bloc's state should be immutable and when it changes it should be through a copyWith or reassigning the value. another thing you can do is to implement an event that updates a value based on a key and emit that new state,

[2022-04-20 05:42] akshaynjarangal commented on #3330
Hey @marcossevilla 👋 , 👉 [Dartpad link](https://dartpad.dev/?id=fdd369962f4ff6700a83c8a540fd6c4c)

[2022-04-20 05:47] Haidar0096 commented on #3327
@marcossevilla  I am not doing any logic in the `Undo` event handler, the `emit` above was just to prove that the bloc is emitting states correctly. Anyway, the project is big and I can't reproduce the error in a new demo project as I don't know what is the source of the error (I tried and I couldn't). I can share the original source code if you want and you can have a look at the bloc, but as I s

[2022-04-20 09:01] Jaykocha commented on #3331
Ok, thanks, I get it. You can close the "issue". It was actually just a lack of understanding on my side. I didn't really know how provider works and that `final myMap = context.select<MapBloc, Map<String, String>>` is not returning a new map whenever the exposed value changes, but actually it is keeping a reference to that specific map (which in this case is the bloc's state). Then, when I manipu

[2022-04-20 09:02] #3331 closed

[2022-04-20 09:10] Add00w commented on #3330
This is not showing your issue, what we need is a runnable code that reproduces your issue it doesn't matter _DartPad_ or _Github._

[2022-04-20 09:59] akshaynjarangal commented on #3330
This is Company production code, would you need my project GitHub repository access?

[2022-04-20 10:20] Add00w commented on #3330
Create a new flutter project and add the code with the issue then test if you have the issue upload to GitHub or Dartpad and share the link here.

[2022-04-20 10:43] Add00w commented on #3292
I am not sure but it seems you need `emit.forEach`  not `emit.onEach` .

[2022-04-20 12:02] akshaynjarangal commented on #3330
Hi @marcossevilla @Add00w  👋 [Flutter project on Github](https://github.com/akshaynjarangal/blocerrortest) , please test it.Hope you will find the error.

[2022-04-20 13:33] Add00w commented on #3330
I cloned your repo, _signupload_  is printed first build, and when picking up date not when focusing on TextFields the only change I made is `- sdk: ">=2.16.2 <3.0.0"` to `+ sdk: ">=2.16.1 <3.0.0"`.

[2022-04-20 14:11] marcossevilla commented on #3327
oh yeah, that was confusing from my end! 😄  will try to put up a PR for that asap!

[2022-04-20 14:16] Haidar0096 commented on #3327
I don't understand, you mean you found the source of the error? If yes then what is it so I can fix it? 😅

[2022-04-20 15:34] marcossevilla commented on #3327
@Haidar0096 the problem is that you can't undo/redo at that moment, I opened [this PR](https://github.com/Haidar0096/Image-Editor-Desktop/pull/1) that adds `canUndo`/`canRedo` checks before executing those actions, another check can be `shouldReplay` that for now checks if the initial values don't change but this can be adjusted because that state can be emitted later and that can cause problems b

[2022-04-20 16:06] github-actions[bot] opened #3333 "[Translations] Update docs"
Update Translations to include changes from 200f4113dc7fda5dc95cfdc7740e9b618b4d736f.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-04-20 16:07] marcossevilla commented on #3327
undos have a ChangeStack, so if there's only one element in the stack, `canUndo` would be false. what are the steps you're following to reproduce the issue? I noticed the issue you reported was triggered by dragging and then undoing, but I'm not sure which steps to follow for this one. also, you can tweak the `shouldReplay` because that can be the reason why `canUndo` is false too, feel free to mo

[2022-04-20 16:17] Haidar0096 commented on #3327
@marcossevilla please have look at this log, this is run on your code from the PR, there is clearly more than 1 state emitted, but as you see at the end adding `Undo` event does nothing,  why are these states not saved on the `ChangeStack`? How can I in this case un-add an image?

[code]

[2022-04-21 08:22] Add00w commented on #3330
[See this](https://user-images.githubusercontent.com/35359329/164411709-b1840f45-5a6b-42b7-83f1-5447f554ec0a.mov)

### I think you need
`flutter clean`

[2022-04-21 08:34] akshaynjarangal commented on #3330
After selection of date , then click on textfield, then issue will reproduce.please check

[2022-04-21 10:06] Add00w commented on #3330
Now I can see the issue but the DatePicker is causing the issue not the textField, since the showDatePicker is using the signup page context this issue exists , extract the date picker widget separately
[code]
or wrap it with the `Builder` widget.

[2022-04-21 11:18] akshaynjarangal commented on #3330
Ok thank u bro  it's worked,🤗 let me check after API Connection , then I will close the issue .

[2022-04-22 06:37] akshaynjarangal commented on #3330
@Add00w when create new project and change sdk version , reproducing the issue

[2022-04-22 09:55] akshaynjarangal commented on #3330
@Add00w  @marcossevilla @felangel  sorry bro , finally cross check with flutter SDK, it's not error of flutter bloc , it's latest version flutter SDK bug 🥵

[2022-04-22 12:29] oscarshaitan commented on #3304
@felangel  sorry still got the question

[2022-04-22 20:37] YazeedAlKhalaf commented on #3304
i am not sure but is "init" a method that is auto-run once you provide the cubit?

[2022-04-23 20:38] code-282 opened #3336 "Question: Base Bloc"
**Description**
I am trying to create `BaseBloc`, `BaseEvent` and `BaseState` classes which will be used in `BaseScreen` widget to handle common business logic in one location. These base classes will be extended by each feature class (example: `HomeBloc` will extend `BaseBloc`).

The issue is that when trying to build widget using `BlocBuilder` with feature bloc (i.e. `HomeBloc`), it fails becaus

[2022-04-24 15:29] deniskrr commented on #3336
Hi @code-282 ,

The problem is that `HomeBloc` is essentially just a `Bloc<BaseEvent, BaseState>`—and not `Bloc<HomeEvent, HomeState>` as you would expect.

Although you use your `HomeState` and `HomeEvent` as the  `BlocBase`'s actual types, they are not passed further to the `Bloc`'s actual types (which the `BlocBuilder` would use eventually).
<img width="339" alt="image" src="https://user-images

[2022-04-25 20:03] f-hoedl commented on #1919
Hey everyone,

hope this is still the best practice and so I have used it within an Hook Widget.
There I had the problem, since the state of the widget changes and it rebuild, the LoadingOverlay was always a new instance and I can not close it, since I call close on a new, not shown, LoadingOverlay.
My fix was to make the LoadingOverlay to an singleton so I always get the same instance and I can c

[2022-04-26 01:57] aaassseee commented on #1919
Hi, @f-hoedl. I am not too familiar with flutter_hooks package. However I think your issue is, putting the loading overlay with in the widget instead of page. If your loading overlay reconstruct after state changes, thats means you are using bloc in the wrong way. Because in normal loading overlay should not construct within build function and the page widget shouldn't rebuild after state changes.

[2022-04-26 02:41] aaassseee commented on #3297
@kmigntw I think the proper way is you may separate the feature with different bloc like service bloc and form bloc.
For service bloc, you should only implement the network calling and deserialising feature. With form bloc, you should handle the values with filtering, if hand made form bloc is hard and time consuming you should checkout [form_bloc](https://pub.dev/packages/flutter_form_bloc). Ther

[2022-04-26 18:25] uemirhanselim opened #3339 "feat: instant messagning with bloc arch"
**Description**

A messaging app or content with bloc arch.

**Desired Solution**

A clear and concise description of what you want to happen.

**Alternatives Considered**

A clear and concise description of any alternative solutions or features you've considered.

**Additional Context**

Add any other context or screenshots about the feature request go here.

[2022-04-26 19:03] marcossevilla commented on #3339
hi @uemirhanselim 👋 you can find a good chat example on VGV's [chat_location](https://github.com/VGVentures/chat_location) repo, with location-sharing functionality included 👍

let me know if that helps!

[2022-04-27 11:55] otto-dev commented on #404
So is [the solution](https://github.com/felangel/bloc/issues/404#issuecomment-511093263) really to put the business logic for the initial state in the `BlocBuilder` rather than the `BlocListener`? I was considering that, felt it was a hack, googled, and came here.

[2022-04-27 19:05] code-282 commented on #3336
Thanks for clarification, but in this case I am losing access for HomeState as the state in scope of building bloc will be BaseState.

[code]

[2022-04-27 21:16] passsy opened #3340 "fix: Event emission is always async"
### Description

The following test fails. That's surprising because everything is sync.

[code]

I know the internals and know that all events are processed asynchronously. But, looking at the public API it is surprising that a pure **synchronous** bloc operates **asynchronously**. Because that's not documented.

### Expected Behavior
A sync event handler should be called sync, and emit the event

[2022-04-27 22:43] felangel commented on #3340
Hey @passsy 👋
Thanks for opening an issue!

If you want a bloc's state to be "loading" from the beginning, why not just set the initial state to loading?

[code]

[2022-04-28 04:48] praveengitsit commented on #955
@felangel

I could use the mixin as you suggested to have two different instances of the bloc in the same widget tree.
[code]

But if I also want to specify which specific bloc it is referencing to, what should I do?

Instead of
**Bloc**<CounterEvent, int>,
having a
**CounterBloc**<CounterEvent, int>

[code]

What if this specific bloc also has some arguments in it? Like one would usually have wit

[2022-04-28 04:52] praveengitsit opened #3341 "Different instances of the same bloc in the same widget tree"
Related to:
https://github.com/felangel/bloc/issues/955

I could use the mixin as you suggested to have two different instances of the bloc in the same widget tree.
[code]

But if I also want to specify which specific bloc it is referencing to, what should I do?

Instead of
**Bloc**<CounterEvent, int>,
having a
**CounterBloc**<CounterEvent, int>

[code]

What if this specific bloc also has some ar

[2022-04-28 07:00] kaciula commented on #3069
@felangel  What is the status of this issue? Do you plan to revert the default behavior to ignore the emitted states if the instance is already closed? I need to know if I should update ALL my emit calls in my apps or I should wait for a package update. I'm getting crash reports in the wild and I need to do something about it.

[2022-04-28 10:16] SergejSachs opened #3342 "[Question] Global bloc into local bloc on new route without stream close"
**Description**
Hi. Is there a way to pass a global bloc stream into a local bloc created on generated route without closing the global stream when the route gets destroyed?

I know that you could pass it via BlocProvider.value but this doesnt help because I need the stream in the local bloc.
I want to listen to global bloc state changes in my local bloc on the new route.

[2022-04-28 10:35] deniskrr commented on #3336
With your current structure, this would be possible if you were to type-check the `state` inside the builder.
___

Alternatively—and I think this would be the better solution—you can define a single concrete (not abstract) `BaseClass` similarly to [this example](https://github.com/felangel/bloc/blob/master/examples/flutter_todos/lib/edit_todo/bloc/edit_todo_state.dart).
This is needed to avoid mul

[2022-04-28 10:58] maRci002 commented on #3069
If developers wants decide to ignore `StateError` or not then they should config it by globally per `bloc/cubit` #3042 and/or handle locally by `emit(state, ignoreStateError: true)` / `safeEmit(state)` / `maybeEmit(state)`.

Personally I like the `StateError` because I am forced to eliminate expensive async operations as well when bloc/cubit already closed.

However it would be even better if anal

[2022-04-28 15:56] uemirhanselim commented on #3339
I will look and let you know

[2022-04-29 04:12] felangel commented on #3325
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-04-29 04:12] felangel commented on #3305
Closing for now but feel free to comment with any additional questions 👍

[2022-04-29 04:12] #3305 closed

[2022-04-29 04:13] felangel commented on #3294
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-04-29 04:13] #3294 closed

[2022-04-29 04:14] #3328 closed

[2022-04-29 04:15] felangel commented on #3178
Closing for now since there doesn't appear to be any actionable next steps here. Feel free to comment with any additional thoughts and I'm happy to continue the conversation 👍

[2022-04-29 04:15] #3178 closed

[2022-04-29 04:16] felangel commented on #3342
Hi @SergejSachs 👋
Thanks for opening an issue!

It'd be awesome if you could provide a link to a reproduction sample, thanks!

[2022-04-29 04:20] felangel commented on #3319
Hi @wujek-srujek 👋
Thanks for opening an issue!

Yes, the snippet you have is correct (you can nest zones). There are still open discussions regarding whether zones a good fit for this use case so I'll keep this open until those discussions are resolved and we will either document this better or adjust the API.

[2022-04-29 04:22] felangel commented on #3264
Hi @Dumasia 👋
Thanks for opening an issue!

The infinite list example was meant to illustrate how you can support and infinite scrolling experience. You can refer to the [weather example](https://github.com/felangel/bloc/tree/master/examples/flutter_weather) for pull to refresh. Hope that helps!

Closing for now but feel free to comment with any specific questions/snippets if you're having trouble

[2022-04-29 04:24] felangel commented on #3244
You can use the 9.0.0-dev version of hydrated_bloc (via the `createStorage` api) now:

For example:

[code]

It's important not to call `WidgetsFluitterBinding.ensureInitialized` outside of the HydratedBlocOverrides zone.

[2022-04-29 04:25] #3244 closed

[2022-04-29 07:05] KCL-TelferAA opened #3343 "fix: Failure to handle unexpected exceptions in Bloc event handlers #flutter_bloc"
**Description**
Bloc silently fails when an unhandled exceptions is thrown in Bloc::on handlers.

I noticed that sometimes events would not get registered with the bloc and could not understand why. I realized that the flutter_bloc plugin was silently failing without handling errors that were generated in the event handlers. In my case a null-pointer exception occurred.

**Steps To Reproduce**

1.

[2022-04-29 16:46] SergejSachs commented on #3342
I will provide an example the next week.

[2022-04-29 22:55] jannisnikoy opened #3344 "buildWhen not triggered on initial render using Cubit"
**Description**
When using a BlocBuilder in combination with a Cubit, the buildWhen logic seems broken on the initial rendering of a widget. With the sample BlocBuilder code:

[code]

I would expect builder: to only be called when the Cubit emits state TestLoaded. However, on the first render of the widget, it gets triggered for both TestLoading and TestLoaded states, not calling buildWhen:. On an

[2022-05-01 16:10] SergejSachs commented on #3342
Hi @felangel

I added here an example and how to reproduce my issue.

https://github.com/SergejSachs/bloc_in_bloc_streaming_issue

[2022-05-01 23:28] marcossevilla commented on #3339
@uemirhanselim will close this issue but feel free to continue the conversation and I'm happy to help!

[2022-05-01 23:28] #3339 closed

[2022-05-02 16:42] felangel commented on #3344
Hi @jannisnikoy 👋
Thanks for opening an issue!

As mentioned in the API docs, `buildWhen` is purely for optimizations and does not guarantee that the `builder` won't get called. In this case, the initial build must occur otherwise `builder` would not be able to return a widget and we would end up rendering `null` which is not a valid widget. If you want to prevent unnecessary rebuilds you can use

[2022-05-02 16:43] felangel commented on #3343
Hi @KCL-TelferAA 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Thanks! 🙏

[2022-05-03 07:47] onatcipli opened #3346 "BLoC closes itself when I push new page, unable to add new events"
**Description**
Hi guys, I have a `MvpQuizBloc` that manages the MVP quizzes basically but the problem is **when I try to navigate to a different page it automatically closes itself**, I found it via debugging since its close I'm not able to add new events but I'm able to get the latest state

**Steps To Reproduce**
on the UI I'm reaching out to the BLoC instance with the following code;

`    fin

[2022-05-03 18:48] VenturaLorenzo opened #3347 "Use a BlocSelector to perform partial rebuilding of a list perf:"
I have been stuck on this problem for a while and I decided to open an Issue.
I'll explain the problem directly with an example because it is more clear: I have a list of todos and every todo has a "completion" field that indicates if it is pending or not. The list is handled with a bloc, called TodoBloc, that has a single state called TodosLoadedState, containing the actual list. The bloc can rec

[2022-05-04 14:39] saeedesmaeili commented on #1941
Is there any way without TextEditingController?

[2022-05-05 13:42] ThangVuNguyenViet commented on #2586
Hi @felangel , can you share what's the best practice when it comes to sharing data between blocs?

Should it be the bloc-to-bloc communication as you described in the todo tutorial, maybe a year ago, or we go with the shared repository?

[2022-05-05 17:26] mbabuglia opened #3348 "[QUESTION] bloc_test: How to step into bloc when debugging"
**Description**
In a unit test using the blocTest<FooBloc, FooBlocState> test case, my breakpoints inside the bloc are not hit.
I can put a breakpoint inside _act_, but there I only perform an _add_ on my bloc.
What I need is to debug the actual event handler defined for that event.

**Expected Behavior**
I can debug code inside my Bloc.

[2022-05-05 17:27] felangel commented on #3346
Hi @onatcipli 👋
Thanks for opening an issue!

Are you able to provide a link to a minimal reproduction sample? My guess is you're providing the bloc via BlocProvider too low in the widget tree and when the BlocProvider is unmounted, it automatically closes the bloc instance prematurely.

[2022-05-05 17:28] felangel commented on #3348
Hi @mbabuglia 👋
Thanks for opening an issue!

You should be able to set breakpoints inside your bloc and debug the blocTest normally. Are you able to share a link to a minimal reproduction sample with a screen recording to illustrate the issue? Thanks!

[2022-05-05 17:29] felangel commented on #3329
Closing for now since there are no actionable next steps. Feel free to provide a link to a reproduction sample and I'm happy to take a closer look 👍

[2022-05-05 17:29] #3329 closed

[2022-05-05 17:29] #3297 closed

[2022-05-05 17:30] #3336 closed

[2022-05-05 17:30] felangel commented on #3340
Closing for now since there doesn't appear to be any actionable next steps. Let me know if you have follow-up comments/questions and I'm happy to continue the discussion 👍

[2022-05-05 17:30] #3340 closed

[2022-05-05 20:29] mbabuglia commented on #3348
Hi Felix, thank you for your extremely quick response.

I tried to build a minimal sample and everything worked fine, I couldn't reproduce the issue.

I will add mocktail and/or freezed to see if I can reproduce and let you know.

[2022-05-05 20:39] felangel commented on #3348
No problem, thanks!

[2022-05-05 21:39] mbabuglia commented on #3348
I discovered something very strange: a breakpoint in the middle of a method is not hit, but a breakpoint on the method signature is.

Besides that, I was [debugging with "All exceptions"](https://github.com/felangel/mocktail/issues/88) with mocktail, which sent me down the incorrect rabbit hole.

So this has nothing to do with bloc_tests. Thank you for your time!

[2022-05-05 21:39] #3348 closed

[2022-05-06 13:40] PhilipPurwoko opened #3349 "fix: Bloc Concurrency with restartable transformer does not cancel previous event"
**Description**
Bloc Concurrency with restartable transformer does not cancel previous event

**Steps To Reproduce**
The bloc file `merchant_product_bloc.dart` that listen on an event `MerchantProductCartChanged` and emit the state `MerchantProductCartChange`
[code]

The button I used to trigger the event `MerchantProductCartChanged`
[code]

When I pressed the button 4 times very fast. It logs 4 t

[2022-05-06 15:02] VenturaLorenzo commented on #3347
Thanks @ShakyaCsun for your answer. I think the code you proposed solves the problem in this particular case (and in the 99% of the cases as this is a very marginal problem) but not in its general form.

The Dismissable widget acts as a sort of guard because the event emission is performed after the BlocSelector widget has been deleted/unmounted. This implies that the BlocSelector is not able to c

[2022-05-06 17:26] RickPoleshuck opened #3350 "test: Missing example integration_test that works for HydratedBloc"
Our integration test is failing with this error:

[code]
But the first line of the integration test calls app.main() which has this code:
[code]

[2022-05-07 04:08] felangel commented on #3350
Hi @RickPoleshuck 👋
Thanks for opening an issue!

Unfortunately this is due to https://github.com/flutter/flutter/issues/96939. I'm trying to work with the Flutter team to resolve it but it's an issue with how the integration_test package does not respect zone values. Sorry for the inconvenience!

[2022-05-07 17:26] felangel commented on #3344
Closing for now but feel free to comment with any questions and I’m happy to continue the conversation 👍

[2022-05-07 17:26] #3344 closed

[2022-05-07 17:27] felangel commented on #3349
Hi @PhilipPurwoko 👋
Thanks for opening an issue!

Are you able to provide a minimal reproduction sample? Thanks 🙏

[2022-05-07 17:29] felangel commented on #3292
@sinan-aktepe sorry for the delay, have you managed to resolve the issue?

[2022-05-08 15:23] RickPoleshuck commented on #3350
How are people working around the inability to use integration_test? It is hard to believe that with all the developrs using HydratedBloc, that nobody has come up with a work around so that they can do an integration test. I want to use an integration_test to automate the generation of screenshots for dozens of screens on 10 different emulators, 5 iOS and 5 Android.

In order to get an integration

[2022-05-08 15:28] felangel commented on #3350
I completely agree this is a huge issue and I was hoping the Flutter team would agree and get a fix in. Instead, I’ve had many conversations with members of the team regarding why developers should avoid using zones in Flutter. I’m planning to give them a few more days to respond to my most recent comment and if there’s no progress I think we’ll be forced to move away from zones and probably go ba

[2022-05-09 10:52] jseeegithub commented on #2681
Even though I have no method calls on cubit class's constructor, the cubit is emitting two identical states. Can you help me find why?

Cubit class:

`class AlertCubit extends Cubit<AlertState> {
  AlertCubit() : super(AlertInitial());

  void alert(InfoAlertData alertInfo) {
    emit(AlertInitial());
    emit(NewAlert(alertInfo));
  }

  void snack(String message) {
    emit(AlertInitial());

[2022-05-09 10:57] jseeegithub commented on #2681
Even though I have no method calls on cubit class's constructor, the cubit is emitting two identical states. Can you help me find why?

Cubit class:

[code]

Where I call this function from another cubit:

[code]

I passed cubit as a parameter in main:

[code]

[2022-05-09 16:14] #3346 closed

[2022-05-09 16:14] #3343 closed

[2022-05-09 21:22] #3283 closed

[2022-05-09 21:22] github-actions[bot] opened #3352 "[Translations] Update docs"
Update Translations to include changes from 9b542a9449f42643b03b4f2000bcb3e0d298c0fd.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-05-11 14:48] jseeegithub commented on #2681
Never mind. It was my mistake; I added the same listener twice in UI code. Sorry to bother.

[2022-05-12 10:29] dovahkrid commented on #3230
It seems to get back after updating flutter 3. I don't even use hydrated_bloc

[2022-05-12 13:21] felangel commented on #3230
Can you provide a reproduction sample? FlutterServicesBinding is deprecated and should not be used because it’s no longer viable.

[2022-05-12 15:42] dovahkrid commented on #3230
So should I back to WidgetsFlutterBinding ?

[2022-05-12 16:52] felangel commented on #3230
yup check out the [weather example](https://github.com/felangel/bloc/blob/master/examples/flutter_weather/lib/main.dart) for the most up-to-date recommendation 👍

[2022-05-12 18:52] Eittipat opened #3354 "docs: A way to access Bloc between pages via Named Route without globally define at AppRoute"
Hello,

Sorry for my bad English.

I've already read [the recipes](https://bloclibrary.dev/#/recipesflutterblocaccess?id=generated-route-access) and #74 #1911 #1969. But I'm still stuck on How to pass bloc between two pages using Named Route/Generated Route. I know that it can be done by defining bloc globally and providing them on each route.

However, I doubt that having many blocs globally at A

[2022-05-14 22:15] YStepiuk commented on #3349
Hi @felangel !
The issue is in the [on\<Event\>() method](https://github.com/felangel/bloc/blob/e05a8cbfbf50dce35af4a2c66a53a1416b362613/packages/bloc/lib/src/bloc.dart#L211)

[code]

Execution of `handleEvent()` is not handled properly. It's 'fire and forget'.
Just emitter is closed.
This is causing all started event handlers to continue doing their job, just without ability to emit new state.

M

[2022-05-14 22:17] YStepiuk commented on #3349
The fix would be to save `StreamSubscription` for `await handler(event as E, emitter);` and cancel it in `StreamController`

[2022-05-16 06:19] H0SSaM7 opened #3355 "fix: problem with navigation using BlocListener"
With flutter new update 3.0.0 there is a problem with navigation using BlocListener when I navigate to the next screen it navigates and when I go back I need two clicks to pop the screen when navigating with anything else it works and I pop the screen with one click, this happen with flutter update, it was working before

=== code ===
`BlocListener<ReportsBloc, ReportsState>(
                    l

[2022-05-16 10:25] motifx007 opened #3356 "question: Is it possible to use the droppable and restartable on the same event?"
I was planning to use search and pagination in a page. So I need droppable for pagination and restartable for searching. Is it possible to use these two in the same event?

[2022-05-16 12:51] felangel commented on #3355
Hi @H0SSaM7 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Thanks!

[2022-05-16 12:57] H0SSaM7 commented on #3355
https://user-images.githubusercontent.com/74508773/168597659-14c09c00-0644-426f-975d-f0180dde4572.mp4

[2022-05-16 13:29] H0SSaM7 commented on #3355
@felangel

[2022-05-16 22:10] CleImb opened #3357 "docs: typing error in bloc/docs/flutterlogintutorial.md"
In the file [bloc/docs/flutterlogintutorial.md](https://github.com/felangel/bloc/blob/master/docs/flutterlogintutorial.md), and so on corresponding [bloclibrary.dev page](https://bloclibrary.dev/#/flutterlogintutorial), there is a mistake [l105](https://github.com/felangel/bloc/blob/e05a8cbfbf50dce35af4a2c66a53a1416b362613/docs/flutterlogintutorial.md?plain=1#L105).
The path is written _packages/u

[2022-05-17 06:21] SayuruSandaru opened #3358 "_CastError (Null check operator used on a null value) when closing the bloc"
I am working on a project that uses `Bloc` and `streams`. But the problem is it gives me an ` _CastError ` when I close the bloc. I am using a `stateful widget` and when the user presses the back button I need to close the `bloc`. So I implemented `BlocProvider.of<NumbersBloc>(context).close();`  in the dispose method like below.

[code]
If I implemented the close method with a button press it wor

[2022-05-17 13:41] bartekpacia commented on #3350
@felangel Thank you very much for putting effort to try to fix the problem 🙏

It's also impacting us. I use `hydrated_bloc` in almost every app I work on and this makes it impossible to do integration testing.

Personally, I was fine with static `Bloc.observer` and `HydratedBloc.storage`.

[2022-05-17 13:50] bukunmialuko opened #3359 "chore: Clean and install all dependencies"
**Description**

I want to add a script/tool that will automatically clean and fetch all dependencies when a local copy is cloned.

[2022-05-17 14:01] tanyapog commented on #2392
Hello, @felangel , I'm also looking for a more detailed example of using Hydrated bloc. Unlike the Weather App, where you should press a button to fetch data, my app needs to load its data right after a user sees the screen. I.e. I need to add an event right after creating a bloc:
[code]

I faced a problem that adding this event overrides the cached state. But if ..add(...) removed there will be n

[2022-05-17 14:13] RickPoleshuck commented on #3350
We are able to do integration testing, but not automatically. :-)
We have a spreadsheet with tests that someone has to run through one at
a time before a release. It is costly but it works.

On Tue, 2022-05-17 at 06:42 -0700, Bartek Pacia wrote:

[2022-05-17 14:25] #3357 closed

[2022-05-17 14:25] github-actions[bot] opened #3362 "[Translations] Update docs"
Update Translations to include changes from dd65f69997087dd3250403db286082d04f983b3e.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-05-17 14:34] felangel commented on #3349
Hi @YStepiuk
This is because Futures aren't truly cancelable. To get the behavior you're describing you can simply check if `emit.isDone` is true before performing any expensive computations:

[code]

This is also related to https://github.com/felangel/bloc/issues/3069

[2022-05-17 14:35] felangel commented on #3355
@H0SSaM7 can you provide a link to a repository that we can run/debug locally to reproduce the issue?

[2022-05-17 14:36] felangel commented on #3350
I hope this will be resolved soon in Flutter (see discussion in https://github.com/flutter/flutter/issues/96939).

[2022-05-17 14:55] bukunmialuko commented on #3359
Great. Thanks, @felangel.

[2022-05-17 14:55] #3359 closed

[2022-05-17 17:35] nosmirck opened #3363 "[hydrated_bloc] example crashes on web (Chrome macOS)"
**Description**
Running the hydrated_bloc example crashes on Chrome on macOS.

**Steps To Reproduce**
run the example project on Chrome on macOS

**Expected Behavior**
Should not crash

**Console Log***
[code]

**Additional Context**
***Chrome Version:***
Version 101.0.4951.64 (Official Build) (x86_64)

***Device Details:***
- macOS Monterey
- Version: 12.3.1 (21E258)
- MacBook Pro (15-inch, 2017)

[2022-05-17 17:37] nosmirck commented on #3363
I've tested on Chrome with Windows PC and this issue is not reproducible. I'm starting to suspect it might be an issue with my computer, so, if anyone with a Mac (Intel) can try this and report their results I'd be grateful.

This was working previously to my update to Flutter 3

[2022-05-17 18:08] nosmirck commented on #3363
Well, it looks like I had my hive dependency updated to 2.2.0.

according to [this issue ](https://github.com/hivedb/hive/issues/967) on Hive's repo, it is a broken change on the latest version. I went and rolled hive back to a fixed 2.1.0 version until a fix is applied.

I'm closing this issue.

[2022-05-17 18:08] #3363 closed

[2022-05-17 21:39] zmoshansky commented on #2633
@federicodesia Thank you very much for adding a minimal repro!
@felangel I can second that a `reloadFromStorage` function would allow us to work around a lot of cross-isolate issues by using hive (HydratedStorage) as an intermediary in cases where the different isolates access data in a mutually exclusive manner.

My thoughts would be to modify `hydrated_bloc.dart`, somewhat like the following...

[2022-05-18 07:16] #3355 closed

[2022-05-18 12:58] tanyapog commented on #2392
It was not that difficult, actually, heh. I solved it by adding an `Initiate` event and checking storage by token.
In view:
[code]
In bloc:
[code]

[2022-05-19 13:05] felangel commented on #3292
Closing for now but feel free to comment if you’re still having trouble 👍

[2022-05-19 13:05] #3292 closed

[2022-05-19 20:27] mirozahorak opened #3367 "fix: flutter_todos Example not working"
**Description**
Tried updating all packages, does not help.
Simply running example in any target causes following error:

[code]

[2022-05-19 20:39] #3367 closed

[2022-05-19 20:39] felangel commented on #3367
Hi @mirozahorak 👋
Thanks for opening an issue!

Sorry about that, I must've missed it when doing the refactor to move away from `flutter_services_binding`. It should be fixed now but let me know if you run into issues 👍

[2022-05-19 20:53] mirozahorak commented on #3367
Hi @felangel that was quick response! Works like a charm now. 👍
Very helpful docs and examples, when trying to grasp idea behind Bloc to be able to move from provider for our next extremely complex project.

[2022-05-20 18:37] AbdulbasitSaid opened #3369 "docs: weather app tutorial"
The weather app tutorial has an issue with the API link used in the example. It gives a 404 page not found error [metaweather. com](https://www.metaweather.com/). Please help update the tutorial.

[2022-05-21 12:24] Kirchesch commented on #2178
05/2022 still no official doc on this

[2022-05-21 14:56] purplenoodlesoop opened #3370 "feat(flutter_bloc): add `RedirectingBlocListener`"
Hi, folks!

Thanks for the updated documentation about bloc-to-bloc communication – turns out, I was doing it wrong most of the time :))

After refactoring a codebase that used the old way of communication, a pattern that was used throughout BlocListeners emerged.

A bloc-to-bloc communication in a configuration (Widgets) layer can be abstracted out through a new kind of `BlocListener` – a `Redire

[2022-05-21 15:24] purplenoodlesoop opened #3371 "refactor(bloc_concurrency): `exhaustMap` from stream_transform"
Hello, folks!

I've opened an issue in the stream_transform package about adding the `exhaustMap` Stream extension.

The `droppable` concurrency mode currently uses a custom implementation of this transformer, and since my issue in the stream_transform packages seems to be taken into work when it is implemented, I think the `droppable` mode should be refactored to use not the homebrewed version, b

[2022-05-21 16:55] yuanhoujun commented on #139
https://github.com/air-controller/air-controller-desktop
Mine here.

[2022-05-22 01:12] federicodesia commented on #2633
I tried something similar to what @zmoshansky mentions but with no success. I found that using Hive with multiple readers or writers at the same time brings many problems, and when it comes to different Isolates there are even more communication problems that are external to HydratedBloc.

I am currently using an implementation I made with the Drift database that is a bit more prepared than Hive f

[2022-05-22 08:29] reijerteunis commented on #3342
Following, waiting for the answer as well

[2022-05-22 16:43] narcodico commented on #3358
Hi @SayuruSandaru 👋

That's because by the time dispose is called `BlocProvider` would have already disposed your bloc.
Using `create` will end up with your bloc being automatically disposed by `BlocProvider` when it gets unmounted from the tree.
In your situation remove any calls to dispose in your numbers page.

[2022-05-22 16:45] narcodico commented on #3356
Hi @motifx007 👋

Sounds like you need separate events, so apply the event transformers accordingly.

[2022-05-22 16:52] narcodico commented on #3370
I personally feel that with good architecture you rarely end up in a situation where you need to add events from bloc to bloc, so such a widget is not essential.

[2022-05-22 21:18] magician20 commented on #1204
@felangel @otto-dev @narcodico @fmdogan
 What about if we using **injectable pub** to handle injecting the repository to the bloc and add @injectable to the bloc is that equal to RepositoryProvider or not and why ?

[2022-05-22 21:45] narcodico commented on #1204
Hi @magician20 👋

injectable is a way of generating DI code which will basically instantiate your objects with the proper dependencies, which you can then access through get_it, from anywhere in your app basically(which sounds cool but it really isn't).

`RepositoryProvider` is a widget which you can make use of to provide an instance to a sub-tree of widgets, which you can then access through the

[2022-05-23 06:19] Nike682631 opened #3372 "'package:get_it/get_it_impl.dart': Failed assertion: line 372 pos 7: 'instanceFactory != null': Object/factory with type SharedPreferences is not registered inside GetIt. (Did you accidentally do GetIt sl=GetIt.instance(); instead of GetIt sl=GetIt.instance; Did you forget to register it?)"
I'm trying to implement blocTesting for my project. Now getit is working fine normally but causing this error while I'm trying to test signup using blocTest. Below is all the code associated with it.
***signup_blocTest.dart***
[code]
***shared_preference_injection_configuration.dart***
[code]
***shared_preference_injection.dart***
[code]
Below lies the main method.It already has the configureinjec

[2022-05-23 07:51] FisherWL opened #3373 "question: how to design the bloc layer so that the app can make multiple/parallel requests from the data layer?"
**Question**

in a stock app, on the watchlist page,
there's a vertical list of users' favorite stocks, user could add/remove stock(s) into/from the list,
each item is showing the historic trends of the stock, as the screenshot below:

![IMG_5C5551DAAEF9-1](https://user-images.githubusercontent.com/57275868/169768582-12271db8-7b1b-4438-b3be-73a63a56ebf2.jpeg)

the app's data layer is architectured

[2022-05-25 06:12] II11II commented on #3372
@Nike682631 It is not a bloc library bug or issue.

P.s. You forgot to register getIt in your test

[2022-05-25 13:21] BitBlueDevStudio commented on #292
Can you please provide example of problems for every point?Side effects examples, mutations problems, unpredictable behavior, etc

[2022-05-25 13:35] #3372 closed

[2022-05-26 09:46] behnambagi commented on #181
thanks goood man

[2022-05-26 11:40] zombie6888 commented on #538
What if instead of MultiBlocBuilder provide MultiBlocSelector in order to to combine data from different states and rebuild ui when data is changed

[2022-05-26 18:53] Nike682631 opened #3375 "How to setup blocTest for a feature that requires authentication?"
So I'm implementing blocTesting for my flutter project and I'm using real apis in testing as that is what I've been asked to do. Apparently when I'm trying out blocTesting for a feature that requires authentication the api is giving back a null response but in the running app it is working fine...
I'm adding the respective files below for the same. Also the name of feature is client and I'm trying

[2022-05-26 20:09] felangel commented on #538
I recommend one bloc/cubit per feature state.

[2022-05-26 20:09] felangel commented on #538
Can you provide a concrete use case in which this would be necessary? I recommend a single bloc/cubit per feature so ideally your widgets should not need to aggregate data from multiple bloc/cubit states.

[2022-05-27 03:59] SabianF commented on #3375
Maybe your use-case is specific, but is there a reason you're not mocking the `AuthenticationBloc` and using `setUp` for assigning your `ClientBloc`?

e.g.
[code]

From what I know of tests, null usually gets returned when not setting up proper mocks and stubs, and since I'm not sure what this `_clientRepository` is, I can see it's not being mocked, so its response will not be able to be tested, i

[2022-05-27 07:36] zombie6888 commented on #538
It's not necessary but convenient. For example if you have have newsfeed which is contains articles and bloc for it and some other feed like favorite or something else  which is also have bloc and articles. And you have article detail page. User can go to details page from both feeds by passing article id to details route. So i want to select article from both feeds and update ui whenever article

[2022-05-27 10:50] tieorange commented on #3263
Try overriding the `hashCode()` method for you classes in state

[2022-05-28 01:00] albuscrow opened #3376 "question: Difference between Bloc's default EventTransform and `concurrent<Event>()` in bloc_concurrency?"
When should I use `concurrent<Event>()` in bloc_concurrency?

`on<Event>(xxx)` in `Bloc` has default EventTransform which will process event concurrently. What's difference between Bloc's default EventTransform and `concurrent<Event>()` in bloc_concurrency?

[2022-05-28 21:00] tsinis opened #3377 "refactor: bloc_test to depend on core interfaces rather than BlocBase realization"
**Description**

Hey! Thanks for a great package, I have a sort of feature request for refactoring :D

At this moment, `blocTest` from `bloc_test` package is [dependent on BlocBase](https://github.com/felangel/bloc/blob/master/packages/bloc_test/lib/src/bloc_test.dart#L139) realization, but since #3012 we have interfaces I believe it should be dependent on, those interfaces, following the SOLID, D

[2022-05-28 21:05] purplenoodlesoop commented on #3377
As someone who took part in the original "core interfaces" discussion – yes, please!

[2022-05-28 21:12] felangel commented on #3377
I think this is a great idea as well but it'd be nice to discuss what that would look like. Currently, it's not enough to just change `BlocBase` to `StateStreamable` because `blocTest` uses `emit` and `close` internally. This means the interface would have to implement `StateStreamable`, `Emittable`, and `Closable`.

I'd love to hear what you had in mind, thanks!

[2022-05-29 13:58] github-actions[bot] opened #3379 "[Translations] Update docs"
Update Translations to include changes from afb8c84858e8f6c1cb0de39481458be9b6ed4039.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-05-29 16:30] tsinis commented on #3377
Hey @felangel, thanks for the quick response. I must confess that at the moment I have no concrete idea how to implement it properly without breaking changes, otherwise, it would not be a refactor suggestion but a regular Pull Request :). I just noticed that the blockTest doesn't use interfaces and was surprised. Yes, most likely it would have to be done through references on both `StateStreamable

[2022-05-29 17:55] Spoleshuck commented on #3350
I managed to get a screenshot integration test to work using mock blocs and what I'm calling a "middle to end" test rather than an "end to end" test.

`
void takeScreenshot(binding, screenshotDir, name) async {
  var screenshotBytes = await binding.takeScreenshot(name);

  if (Platform.isIOS) {
    final path = '$screenshotDir/$name.png';
    final File image = File(path);
    image.writeAsBytesSy

[2022-05-29 18:48] felangel commented on #3350
Hi @Spoleshuck 👋
Thanks for sharing your solution.

Using a mock cubit/bloc definitely works but it’s not really a solution imo because it’s no longer a proper integration test. In addition, not all blocs/cubits are top level so it’s not very ergonomic to manually inject mocks everything in e2e tests.

In my opinion, the proper solution is to wait for https://github.com/flutter/flutter/issues/9693

[2022-05-30 09:50] Ravensof opened #3380 "question: Cancel event in separate event handlers"
For example i have `start` and `stop` events in separated event handlers.
How to cancel `start` event processing with `stop` event?

I know i can make a flag like `isWorking`, but is there any way to cancel event?

[2022-05-31 05:18] ariefwijaya opened #3381 "feat: Performance Monitoring in bloc transition"
**Description**
When having complex applications, sometimes we experience performance degradation, especially execution time in BLOC. Therefore we need to monitor and analyze how long the BLOC transition time is. For example, how long does it take from "Loading" state to "Success" or Failed", and so on.

**Desired Solution**
We need to know the execution time of each BLOC transition. How we know i

[2022-06-01 08:33] ykaito21 opened #3382 "question: how does emit.forEach handle StreamSubscription with multiple Events?"
If I have the old version of bloc like this which share `StreamSubscription` with `VideoStreamPlayPauseEvent` and `DifferentVideoStreamPlayPauseEvent` .

**Old Version:**
[code]

And I tried to write the updated version like this

**New Version:**
[code]

**The questions are:**

**1.** is this new version correct?
**2.** I feel this new version actually create the two different `StreamSubscription

[2022-06-03 02:19] Livinglist commented on #139
iOS: https://apps.apple.com/us/app/hacki/id1602043763?platform=iphone
Android: https://play.google.com/store/apps/details?id=com.jiaqifeng.hacki&hl=en_US&gl=US

Source Code: https://github.com/Livinglist/Hacki

Years of experience: 2
Good: everything, I’m a bloc fanboi
Bad: nothing

[2022-06-03 11:33] aaassseee commented on #3380
@Ravensof I don't know what use cases you are trying with. By only sentences that you mentioned, you can achieve your goal by making you start and stop event class extends of a base class. And with on listen function add a stream transformer which is something like [droppable](https://github.com/felangel/bloc/blob/master/packages/bloc_concurrency/lib/src/droppable.dart) in [bloc_concurrency](https

[2022-06-03 11:39] aaassseee commented on #3381
@ariefwijaya  you can log any bloc activity by using the [bloc observer](https://pub.dev/documentation/bloc/latest/bloc/BlocObserver-class.html). With bloc observer you can use [onTransition](https://pub.dev/documentation/bloc/latest/bloc/BlocObserver/onTransition.html) to keep track on the time that process with event.

[2022-06-03 11:47] Ravensof commented on #3380
i have some Bloc who doing long search operation by `start` event. i want to be able cancel it.

this is how it works now:
`
@freezed
class ScannerEvent with _$ScannerEvent {
  const factory ScannerEvent.start() = _StartEvent;

  const factory ScannerEvent.stop() = _StopEvent;
}

@freezed
class ScannerState with _$ScannerState {
  const factory ScannerState.initial() = _InitialState;

  const fact

[2022-06-03 23:41] aaassseee commented on #3380
@Ravensof What cancelation are you trying to implement? And are you trying to cancel the _cloudSource.scanDirectory? if so what is the return type of that function.

[2022-06-04 00:43] aaassseee commented on #3380
@Ravensof Your code is still not runnable to me. However I can give some idea. If you are trying to cancel whole process of
[code]

You can use [CancelableOperation](https://pub.dev/documentation/async/latest/async/CancelableOperation-class.html) from [async](https://pub.dev/packages/async) which is provided by dart team. You can wrap you whole scanDirectories for loop into one CancelableOperation

[2022-06-04 02:45] ariefwijaya commented on #3381
any example to do it?

[2022-06-04 07:02] Ravensof commented on #3380
@aaassseee thanks for your answer, but that's not what im looking for. i know about `future` and that it cant be cancelled.
my question is only about new `bloc`. is there any mechanism, to cancel event handler. sorry, that i cant explain it in english.

here is example bloc:

[code]

i want to make `emit.isDone` in handler `on<StartEvent>` returns `true`, because of `StopEvent`.

it should be like

[2022-06-04 07:07] aaassseee commented on #3381
@ariefwijaya Due to zero information, I can only modify an example which is provided by bloc. You can replace the [app_bloc_observer](https://github.com/felangel/bloc/blob/master/examples/flutter_todos/lib/app/app_bloc_observer.dart) file in [flutter_todos](https://github.com/felangel/bloc/tree/master/examples/flutter_todos) with these lines below and test it out
[code]

[2022-06-04 07:50] aaassseee commented on #3380
@Ravensof  I don't think there is a way to change ```emit.isDone == true``` by end users. Referring to the code emit.isDone is simply ```_isCanceled || _isCompleted ``` in _Emitter class which is an internal class. _isCanceled only become true when bloc close, and _isCompleted only change when event handler future is done. I don't think you are using the correct flag due to both _isCanceled  and _

[2022-06-04 15:10] IlyaMax opened #3386 "docs: Example of list items with state"
I'd like to have an example of how to handle list of items, when each of them can process events in parallel, because there are two ways to achieve that. 1. to provide bloc with blocprovider for each item of list which leads to impossible mocking when testing. 2. to make list of blocs inside bloc for screen with list which I used in my example and I think it should be recommended one and mentioned

[2022-06-04 16:44] mateoKutnjak opened #3387 "onGenerateRoute pushNamed creates sibling and cannot access BlocProvider from screen that calls pushNamed"
Hi. Can you add to documentation or explain how to perform routing of two screens (parent and child) where parent is wrapped inside BlocProvider<XYZBloc> and when inside its build method parent calls `Navigator.of(context).pushNamed('child')` and then child calls `context.read<XYZBloc>()...` it does not throw BlocProviderNotFoundException because `onGenerateRoute` creates child as sibling of paren

[2022-06-05 01:08] ryandoak commented on #3387
I believe I've figured out a solution to the problem you're having. You'll have to add the AutoRoute package to your code though, along with the AutoRouteGenerator and BuildRunner package. I don't know if you've used auto-route before, but it's probably the best routing package available for Flutter projects.

In the link below, I've uploaded a small Flutter project demonstrating how to call the c

[2022-06-05 08:01] mateoKutnjak commented on #3387
I like the idea of using `auto_route` package. Wouldn't you rather use `AutoRouteWrapper` to avoid creating `HomeWrapper ` widget? So in your example `Home` widget would implement `AutoRouteWrapper` and implement method

[code]

I think that would require less code and .dart files (`HomeWrapper`)

[2022-06-05 21:21] bmd007 commented on #538
My Dart knowledge is very low, I'm Java guy. So might be asking stupid question :))

I couldn't get this version to work. The state updates are not available to UI. I guess `watch<>()` is not as streamy as it should be.

And it apparently still needs a MultilBlocProvider anyways.

[2022-06-05 21:21] bmd007 commented on #538
My Dart knowledge is very low, I'm Java guy. So might be asking stupid question :))

I couldn't get this version to work. The state updates are not available to UI. I guess watch<>() is not as streamy as it should be.

And it apparently still needs a MultilBlocProvider anyways.

[2022-06-06 12:30] erlangparasu opened #3388 "docs: Please use Jetbrains Mono as code font"
**Description**
Please use `'JetBrains Mono'` font-family for code

[2022-06-06 12:41] erlangparasu commented on #3388
![image](https://user-images.githubusercontent.com/20636828/172162475-f99cd043-a4fa-4b5b-bf92-9c4dc2402737.png)

looks better isn't? :)

[2022-06-06 15:19] felangel commented on #3386
Hi @IlyaMax 👋
Thanks for opening an issue!

I generally don't recommend including blocs as part of the state of other blocs because it tightly couples the blocs and also goes against the idea of a state as a model (since it now contains logic).

In option 1. you can still mock the blocs you just need to widget test the individual components and provide a mock bloc rather than the entire system. Ho

[2022-06-06 15:24] #3382 closed

[2022-06-06 15:27] #3381 closed

[2022-06-06 15:28] felangel commented on #3376
Hi @albuscrow 👋
Thanks for opening an issue!

`concurrent` is the default transformer so you likely won't need to use it unless you're chaining transformers. Hope that helps 👍

[2022-06-06 15:28] #3376 closed

[2022-06-06 15:29] felangel commented on #3375
Closing for now since there aren't any actionable next steps. @Nike682631 feel free to comment with any outstanding questions and I'm happy to continue the conversation 👍

[2022-06-06 15:29] #3375 closed

[2022-06-06 15:32] felangel commented on #3373
Hi @FisherWL 👋
Thanks for opening an issue!

I recommend going for a reactive repository approach in which you expose streams of data from the repository and you can manage multiple subscriptions in the bloc for each stock. This way stock updates can occur independently and in real-time and the bloc will handle updating the corresponding state property when a specific stock subscription emits new

[2022-06-06 15:32] #3373 closed

[2022-06-06 15:39] #3349 closed, assigned to felangel

[2022-06-06 15:55] felangel commented on #3342
I opened a [pull request](https://github.com/Sesa1988/bloc_in_bloc_streaming_issue/pull/1) to fix the issue. You weren't maintaining the stream subscription and canceling it which is what caused the problem.

[2022-06-06 16:03] felangel commented on #3271
Hi @newbieflutter sorry for the delayed response! Can you please provide detailed reproduction steps? Thanks!

[2022-06-06 16:05] felangel commented on #3263
Hi @plibr the issue is `Article` does not extend `Equatable` (or override `==` and `hashCode`). Hope that helps!

[2022-06-06 16:05] #3263 closed

[2022-06-06 16:06] felangel commented on #3235
Hi @abhi-kyros 👋

Is this still an issue? Are you able to reproduce on the latest stable version? Thanks!

[2022-06-06 16:12] felangel commented on #3221
[code]

The above snippet should work. Closing for now but feel free to comment with outstanding questions and I'm happy to continue the conversation 👍

[2022-06-06 16:12] #3221 closed

[2022-06-06 16:13] #3199 closed

[2022-06-06 16:15] felangel commented on #3128
Hi @yashhema 👋
Thanks for opening an issue!

I don't think there's enough information to provide a solid recommendation. One example you can refer to is https://verygood.ventures/blog/very-good-location-sharing-chat-app.

Closing for now but feel free to comment with any outstanding questions and I'm happy to continue the conversation 👍

[2022-06-06 16:15] #3128 closed

[2022-06-06 16:43] IlyaMax commented on #3386
@felangel yes, I know that I can test individual components in option 1, I mean, I can't test other part of screen in that case and that's a problem. Regarding tightly coupling I agree, I think it's better to avoid it as much as it possible, but in case if you have more than one blocs to provide to your screen like in my case it's pretty hard to choose something better between losing possibility t

[2022-06-06 19:13] flexagoon commented on #3388
no it doesnt

[2022-06-06 20:18] IlyaMax commented on #3386
I'll give you a couple of examples. Simple screen which consists of button and listview with dependency on blocA(I need to test that when I tap a button event is added), and listview, each item of which depends on blocB. I can't mock blocB here, maybe I could resolve it by creating separate widget with that button and test it separately, but it seems more logical for me if I could not to overcompl

[2022-06-06 21:35] erlangparasu commented on #3388
![image](https://user-images.githubusercontent.com/20636828/172253130-5b48d7b3-5e44-4f2f-a5f7-93d920886e1e.png)

this how it look like without JetBrains Mono font, in my browser

[2022-06-07 05:55] Safal-Shrestha-SS commented on #157
Use:
``expectLater(bloc.stream),emitsInOrder(expected);``
and remove Empty() from the expected variable. Initial state can be tested separately.

[2022-06-07 11:21] bbura commented on #538
@felangel usecase: In the main.dart we want to globally use localisation bloc, theme bloc. I just think that nesting 2 blocbuilders is exactly like that: nasty. Anyway, good job with the bloc and also mason, great tools mate.

[2022-06-07 11:40] narcodico commented on #538
@tananga we recommend a bloc per feature, which sometimes mean a bloc per screen if the screen covers the whole feature.

@bbura localization is UI logic and should be done in the presentation layer, not in the bloc.

[2022-06-08 15:13] VenturaLorenzo commented on #3347
Yeah, this works fine. I was just wondering if there is a more correct way of handling this side case. Thanks @felangel

[2022-06-10 07:54] ara-kurd-dev opened #3393 "perf: Is block using in an isolated process"
Thanks for your great and powerful library,
I If I run a hard for loop that takes few time which led the app to lack UI, is it solve if I just used bloc? or I have to implement my own isolated process?
thank you.

[2022-06-12 12:01] maRci002 opened #3394 "feat: `BlocOverrides` add support for `runZonedGuarded`"
**Description**

Currently `BlocOverrides` supports only `runZoned` so in order to capture async errors we have to nest `runZonedGuarded` inside `BlocOverrides.runZoned` or vice versa.

[code]
**Desired Solution**

[code]

**Alternatives Considered**

`BlocOverrides.runZoned` could get an optional `onError` parameter so if it's `null` then call `runZoned` else `runZonedGuarded` however even [origi

[2022-06-13 10:08] ykaito21 commented on #3382
@felangel, I got it. I really appreciate your detailed comments and all your hard work on this great package!

[2022-06-13 19:43] makanddream opened #3395 "docs: Two features on one screen (flutter_todos example)"
Hello,
Thanks for your great and powerful library, I would need your lights concerning a flutter desktop application.
My architecture is as follows on a single page there are 2 features:

* The first (on the left) TestOverview allows you to display the tests in the form of a list with the possibility of adding/removing tests.
* The second (on the right) EditTest allows you to modify the test selec

[2022-06-15 08:33] mstfkhazaal opened #3396 "fix: Websocket With Bloc"
@felangel

I Use [web_socket_channel](https://pub.dev/packages/web_socket_channel) package and i try to put channel in bloc state and add variable to check Connection **connectedToWebSocketServer**

**Bloc State**
[code]
**Bloc**

[code]

**After Running the program the following error appeared**
[code]

I Try **emit.foreach**:
[code]
I want to know how to include onDone function in the Function a

[2022-06-15 18:51] felangel commented on #3386
Closing for now but feel free to comment with any additional thoughts and I'm happy to continue the conversation 👍

[2022-06-15 18:51] #3386 closed

[2022-06-15 18:52] felangel commented on #3388
@erlangparasu is this specific to your browser? Are you also experiencing this effect in other browsers?

[2022-06-15 18:53] IlyaMax commented on #3386
I mended the first version of example and the final is here https://github.com/IlyaMax/flutter_bloc_example. For now it has only problem with tightly coupled blocs but allows to reuse bloc, events and states of `RandomIntLoader` feature + allows to test buttons just by `MyScreen` widget pumping, which would've been impossible if I'd used `BlocProvider` just inside `MyScreen`.

[2022-06-15 19:40] erlangparasu commented on #3388
yes it's only in Firefox. here is a screenshot of it. I think it looks like it's not a monospaced font. how about the display on your computer (with Firefox)?

ss:
![image](https://user-images.githubusercontent.com/20636828/173909959-38496113-0948-45d2-925e-f564ec6d4e94.png)

[2022-06-15 19:46] erlangparasu commented on #3388
sorry in advance, basically I just want it to look monospaced in all browsers 😅🙏

[2022-06-15 22:12] bovitt opened #3397 "docs: Hydrated_bloc demo application not working on ubuntu 20.04"
**Description**

Clearly describe what documentation you are looking to add or improve.

On my machine, the example described here: https://pub.dev/packages/hydrated_bloc/example is dysfunctional. The app will run but nothing shows up.

The error and stacktrace is this:

[code]

[2022-06-15 22:16] felangel commented on #3397
Hi @bovitt 👋
Thanks for opening an issue!

That example is out-dated because see https://pub.dev/packages/hydrated_bloc/versions/9.0.0-dev.2/example for the most up-to-date example and let me know if you're still experiencing issues. Thanks and sorry for the inconvenience!

[2022-06-15 22:19] bovitt commented on #3397
That works. Thank you

[2022-06-15 22:19] #3397 closed

[2022-06-17 07:04] MoeHamdan opened #3398 "fix: Event with list of items fired multiple times"
**Description**
I have an event, that has a list of items as property as below.

**Steps To Reproduce**

`class PushSessionDataEvent extends PushSignalRDataEvent {
  final List<SessionEventSigned> events;
  PushSessionDataEvent(this.events);
}`
When I fire this event using the below:
`add(PushSessionDataEvent(events))`

The event will fire multiple times based on the count of the list with each ti

[2022-06-17 07:46] narcodico commented on #3398
Hi @MoeHamdan 👋

This is insufficient information for us to be able to help. I'm assuming your data source sends one event at a time, but if that's not the case then feel free to provide a reproduction sample and you'll get further help.

[2022-06-17 08:42] #3398 closed

[2022-06-17 10:19] githubmonkey opened #3399 "docs:"
(https://github.com/felangel/bloc/blob/master/examples/flutter_firebase_login/packages/form_inputs/lib/src/password.dart)
(https://bloclibrary.dev/#/flutterfirebaselogintutorial?id=password)

This is a minor issue but I think the Password regex in the tutorial is wrong. At least I can't get it to match anything.

I changed mine to `RegExp(r'^(?=.*?[A-Za-z]).{8,}$');` which would match letters only

[2022-06-17 12:47] ShakyaCsun commented on #3399
The Regex used in tutorial enforces following rules:
1. Password only has letters/alphabets A-Z, a-z and numbers.
1. Password has at least one alphabet letter.
1. Password has at least one digit.
1. Password has at least 8 characters.

So `abcdefg1`, `ABCDEFG1`, `1234567a`, etc. are all valid passwords for the regex. But `@abcdefg1` is not valid because of rule 1.
It is kind of confusing that it d

[2022-06-19 08:56] AlexanderFarkas opened #3400 "feat: Allow providing 'dispose' to RepositoryProvider"
**Description**

Sometimes you want to recreate Repository. Usually repositories have StreamControllers for entity streams.

[code]
**Desired Solution**

 It would be useful to have dispose in RepositoryProvider, considering it's already implemented in Provider.

[2022-06-19 09:04] AlexanderFarkas commented on #3400
I've seen that a couple of such feature proposals were rejected. But I believe that these Subjects are part of internal implementation of repository. So they need to be correctly disposed.

[2022-06-19 16:24] githubmonkey commented on #3399
Thanks for confirming that it works for you. I had dropped the sample code into my own example so maybe I'm using a different version of a core lib.

[2022-06-19 16:24] #3399 closed

[2022-06-20 06:57] rahulrmishra commented on #3244
Hey @felangel

I am using firebase, hive and service locators, and the hydrated bloc. So I'm not sure how to initialize other services and create storage together. Any combination that I tried threw errors.

This is my code before using hydrated bloc

Future<void> main() async {
  WidgetsFlutterBinding.ensureInitialized();
  await Firebase.initializeApp();
  await initialiseServices();
  if (Platf

[2022-06-20 07:54] WindRmen05 commented on #2064
"This can happen if the context you used comes from a widget above the BlocProvider."
this is the error I'm getting when I used BlocProvider.of<exampleBloc>(context); inside a class : -
class exampleClass(context) {
     BlocProvider.of<exampleBloc>(context);
}

do you know why this happens.

[2022-06-20 13:28] felangel commented on #3244
@rahulrmishra can you share a link to a minimal reproduction sample?

[2022-06-20 17:14] tomassasovsky opened #3401 "fix: PascalCase gets converted to Uppercase"
**Description**
When creating a new Cubit/BLoC with the VSCode extension, if naming it with a PascalCase wording,  it converts it to just Uppercase.

**Steps To Reproduce**

1. Go to VSCode
2. Right-click on a folder, `Bloc: New Bloc`
3. Enter `PascalCase`
4. See the new Bloc, named `PascalcaseBloc`

**Expected Behavior**
A new Bloc with the name `PascalCaseBloc` should get created. Instead, one w

[2022-06-20 18:19] tomassasovsky opened #3403 "feat: method for safe emission of new states"
**Description**
In personal and work projects, we use a lot a method that we basically copy-paste for every Bloc/Cubit. This is it:

[code]

This avoids new states to be emitted after closing the Bloc, so the Bad state error doesn't get thrown.

**Desired Solution**
Ideally, add the safeEmit function to the BlocBase class.

[2022-06-20 20:37] alexaung commented on #2053
Any update?

[2022-06-21 10:46] parsa10 commented on #2238
hello , i have @brianmori problem , when i use `MultiRepositoryProvider` i get this error :
**it could not find the correct provider for above this BlocListener<AuthenticationBlock,AuthenticationState> widget**
this is the code snippet :
[code]
but when i changed it to :
`return MultiRepositoryProvider(
      providers: [
        RepositoryProvider.value(
          value: authenticationRepository,

[2022-06-21 12:30] makanddream opened #3404 "docs: Two contrary information between the documentation and the Todos example"
Hello everyone, I come to you because there are two contrary information between the documentation and the Todos example. :monocle_face:

- In the [Architecture section](https://bloclibrary.dev/#/architecture?id=data-provider) of the documentation, you mention that the data provider should return the data in a generic way, like a string (RawData).

- However in the Todos example in the data provid

[2022-06-22 04:54] NTA-trongpq commented on #3110
What happens if I wanna use `freezed` to last version? How to upgrade `freezed` without this issue?

[2022-06-22 08:33] huytc commented on #3404
It's probably for the sake of simplicity. The tutorials emphasize on showcasing how to use the BLoC library, not how to write perfectly clean code. Just my two cents.

[2022-06-22 09:24] NTA-trongpq opened #3405 "[bloc_test] How to access to state from blocTest?"
My blocTest:
[code]

My state:
[code]

[2022-06-22 15:37] felangel opened #3406 "docs: migrate all examples to Dart 2.17 and Flutter 3.0"
**Description**

As a developer, I want to have all the bloc examples be running on the latest stable version of Flutter/Dart.

- [X] angular_counter
- [X] flutter_bloc_with_stream
- [X] flutter_complex_list
- [x] flutter_counter
- [x] flutter_dynamic_form
- [x] flutter_firebase_login
- [x] flutter_form_validation
- [x] flutter_graphql_jobs
- [x] flutter_infinite_list
- [x] flutter_login
- [x] flu

[2022-06-22 20:44] felangel commented on #3404
Hi @makanddream 👋
Thanks for opening an issue!

What we meant by this is that the data provider returns data in its raw form (as close as possible to what it looks like in the source). The `local_storage_todos_api` still adheres to that because it's returning a Dart object that represents the todo entity as it is stored in local storage (it's just deserializing the json).

Hope that helps! Closing

[2022-06-22 20:44] #3404 closed

[2022-06-22 20:46] felangel commented on #3394
Blocked on https://github.com/flutter/flutter/issues/96939 since we first need to determine whether we should continue using Zones.

[2022-06-23 02:21] fakalit commented on #379
Thanks for the awesome library @felangel.

This might be widget composition problem or misunderstanding of bloc's best practices, but here's my use case in which where the approach mentioned above does not help.

Let's say I have a list of elements that I want to express within a Stack widget.  Each element has its own dynamic state, so I want each of them to have a bloc provider and a bloc builde

[2022-06-23 08:29] MauScheff commented on #507
@felangel How much impact on performance does injecting an app-wide bloc has vs only on the branch that uses it?

[2022-06-23 11:29] AlexanderFarkas commented on #3393
You should spawn an isolate for CPU-heavy tasks.
BLoC doesn't spawn an isolate on its own.

[2022-06-23 11:53] AlexanderFarkas commented on #3403
It's complicated for BLoC since `emit` is actually `Emitter` callable class.

You could just use extensions methods:
[code]

Usage:
[code]

For cubit:
[code]

Usage:
[code]

For Cubit you also could use mixins.

[2022-06-23 12:01] AlexanderFarkas commented on #3396
Just add `finally` to second code sample.
In the first code sample you could await `state.webSocketChannel!.stream.last`

[2022-06-23 16:47] cdp6411 opened #3407 "Text form field not updated with on-changed method Also state is rebuild multiple time"
I want to update and clear text field after add data and when i open keyboard back arrow is blinking so much time.

https://user-images.githubusercontent.com/51112143/175351905-8ae94b69-fd0b-4bb3-a59b-fe039f717ce6.mp4

[2022-06-24 02:48] NTA-trongpq commented on #3405
@felangel Thanks for response, bro.

[2022-06-24 02:56] #3401 closed

[2022-06-24 02:57] #3393 closed

[2022-06-24 03:02] felangel commented on #3235
Closing for now but feel free to comment with additional info and I’m happy to continue the conversation 👍

[2022-06-24 03:02] #3235 closed

[2022-06-25 16:19] dhruvanbhalara commented on #3407
@cdp6411  can you please show your widget tree?

[2022-06-27 16:21] jasontcs opened #3411 "feat: Add child param on BlocConsumer"
**Description**

Currently, BlocConsumer/ BlocBuilder/ BlocSelector rebuild the whole subtree
[code]

**Desired Solution**

Should we add a child param to reduce the unnecessary rebuild?
[code]

[2022-06-27 16:24] felangel commented on #2980
Closing this as it's being tracked by #3069

[2022-06-27 16:24] #2980 closed

[2022-06-27 16:27] felangel commented on #3411
Hi @jasontcs 👋
Thanks for opening an issue!

I believe this is a duplicate of #1596. See https://github.com/felangel/bloc/issues/1596#issuecomment-671595704 for my thoughts and feel free to provide additional context if you feel strongly about introducing this change, thanks!

[2022-06-28 06:30] makanddream commented on #3395
I closed this topic, my question should not be here but rather in the discord server!
Sorry for the inconvenience and pollution of the repo! 😕

[2022-06-28 06:30] #3395 closed

[2022-06-29 13:10] vadrian89 opened #3414 "blocTest expect is failing but verify shows the correct state."
Hello,

Sorry for asking the question here but I could not find anything related to bloc_test package and my issue.
I have tried the example from bloc_test and it works on my machine but my own code doesn't work.

From the documentation:
`expect is an optional Function that returns a Matcher which the bloc under test is expected to emit after act is executed.`

What I understand is that: it should

[2022-06-29 13:15] Tokenyet commented on #3369
Few days ago, I found the api we used in this tutorial is missing, so I make one roughly with another free api (open-meteo). You might wanna take a look at It 😊

https://github.com/Tokenyet/flutter_weather_clean_architecture/blob/main/lib/features/weather/data/datasources/weather_remote_data_source.dart

Hope It help somehow!

[2022-06-29 20:49] enseitankad0 opened #3415 "Question: One big BLoC or a few smaller cubits?"
Hi
What's the best approach to make something like parent-children bloc architecture? Very often I face a problem when there is a need to establish communication between cubits or blocs.

Let's image a form where we would like to create a new user:

1. User name
2. User role (separate cubit, fetch all possible option from API)
3. Calendar (separate cubit, a lot of calculations made)
4. Apply butto

[2022-06-29 21:32] ftognetto commented on #461
Hi @raulmabe I would not be rude to this library which is great but I am currently using another library of state management 😃
Anyway the concepts are similar and I ended up solving this feature by having an api from the backend that gives the ids of the posts you liked, and store them in a place where you can access from the whole app. Then when you like a post you can add the id there and when y

[2022-06-30 16:43] mercz85 commented on #2573
I am just a begginer, practicing with bloc, but you maybe this is useful to you:
last = change.nextState;

Result:
Hello  World!
state: 0  last: 1
state: 1  last: 2
state: 2  last: 3
state: 3  last: 2
state: 2  last: 1

`import 'dart:async';
import 'package:bloc/bloc.dart';

abstract class CounterEvent {}

class CounterIncrementPressed extends CounterEvent {}

class CounterDecrementPressed extends

[2022-06-30 22:34] otto-dev commented on #404
I just ended up here again via google. As I understand now, the issue is actually more general.

The issue is that the `listener` is not called with the state of the `Bloc` when the `BlocListener` is created - no matter if that's the initial state, or a subsequent state. So then you have to refactor out the listener logic and work around it with a StatefulWidget.

[2022-07-01 01:58] yunus-floo commented on #3387
Hi @ryandoak, whether have example for use cubit with go_router package? ..  i through same issue with above problem.  i cannot access cubit from parent screen route.

Thanks

[2022-07-01 12:27] ubaidillahSriyudi commented on #2961
i have the same issue, i tried that code but it seems still not work.
emit(state) was called immediately before the codeSent or verificationFailed completed

[2022-07-03 06:40] rrifafauzikomara opened #3416 "Flutter: bloc test problem with comparing expected and actual"
Hi @felangel , thanks for the great package that you created (bloc, mason, etc). Now I try to make my bloc testable, I see and try your example, but when I implement it on my own, I get stack and error. Can you help me with that?

I have tests like the below:

[code]

When I run get the error:
[code]

`repositoriesDummyEntityFromRemote` is `List<RepositoriesEntity>`

Please help me to solve my tes

[2022-07-03 09:24] rrifafauzikomara commented on #3416
Solved: https://stackoverflow.com/a/72845118/8291686

[2022-07-03 09:24] #3416 closed

[2022-07-03 10:14] dedonnodev opened #3417 "feat: BlocListener + BlocSelector"
**Description**

If you want Listen event of a bloc, and select the event, you have to wrap a BlocSelector with a BlocListener

**Desired Solution**

A join between BlocSelector and BlocListener, so a BlocConsumer with a selector

[2022-07-03 10:17] dedonnodev opened #3418 "feat: BlocSelector with "selectWhen""
**Description**

There is no option to select which Bloc's event should trigger the "selector" of BlocSelector

**Desired Solution**

it would be awesome to have a "selectWhen" in BlocSelector, to avoid useless rebuild with empty values

**Additional Context**

Now i use check in "selector" if the event is the event i'm interested of, and if it isn't, i return a null/empty value that trigger a reb

[2022-07-03 15:07] felangel commented on #3418
Hi @dedonnodev 👋
Thanks for opening an issue!

The UI should only depend on the state. The presentation layers adds events to the bloc and can listen for state changes. If you are rebuilding the UI depending on the event added then that’s no longer the bloc pattern.

 I recommend refactoring so that all the information needed is provided via the bloc state. Can you provide a concrete use-case for

[2022-07-03 15:12] felangel commented on #3417
Hi @dedonnodev 👋
Thanks for opening an issue!

If you want to avoid nesting you can use a BlocListener with context.select:

[code]

Hope that helps 👍

[2022-07-03 15:24] dedonnodev commented on #3417
Oh, cool!
I didn't know about context.select
really thank you.

[2022-07-03 15:24] #3417 closed

[2022-07-03 23:25] flexagoon commented on #3388
![image](https://user-images.githubusercontent.com/66178592/177060703-bd270d7c-8e5a-43bb-936b-b116faa75ea3.png)
@erlangparasu here's what it looks like for me. I am also using Firefox. Can you share more details about your system?

[2022-07-04 01:41] jasontcs commented on #3411
@felangel Thank you so much. I am going to close this.

[2022-07-04 01:41] #3411 closed

[2022-07-04 02:45] Bro9090 opened #3419 "FelixAngelov.bloc"
Issue Type: <b>Bug</b>

The cubit name must not be empty

Extension version: 6.6.1
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz (4 x 2494)|
|GPU Status|2d_canvas: enabled<br>ca

[2022-07-04 11:14] logic-and-math opened #3420 "Question | Recommended approach to share "UI state" between multiple blocs"
First, I want to say thank you for the package, I'm thoroughly enjoying working with it!

I have two blocs.
Both of these blocs depend on a repository. So for the repository I created a streaming value so both blocs can react to the changes(in order to avoid dependencies between blocs). This works great in the case where my repository communicates to some data source(web, cache, ...).
Now I have t

[2022-07-07 10:59] cdp6411 commented on #3407
@dhruvanbhalara Any idea about this or give me another method to achieve this ?

[2022-07-08 04:44] felangel commented on #3419
Hi @Bro9090 👋
Thanks for opening an issue!

Can you please provide more information regarding what the exact issue is and how to reproduce it? Thanks!

[2022-07-08 11:05] hey-nicolasklein commented on #1850
I want to do the same thing as @evanholt1 What is the preferred way for doing that?

[2022-07-09 06:01] dhruvanbhalara commented on #3407
@cdp6411 unfortunately I'm not able to reproduce this issue.

[2022-07-09 14:12] cdp6411 commented on #3407
Hello @dhruvanbhalara Can you please try my code any reproduce the issue.

Hive Model

@HiveType(typeId: 12)
class RemarkModel {
  @HiveField(0)
  String? requirement;

  RemarkModel({this.requirement});
}

declare in main file
Hive
..registerAdapter<RemarkModel>(RemarkModelAdapter());

 await Hive.initFlutter();
 await hiveCRUDOperations.openBox();

static late Box<RemarkModel> remarkModel;
remar

[2022-07-10 13:35] dhruvanbhalara commented on #3407
@cdp6411 it would be better if you provide code in zip file.

[2022-07-10 14:29] minhdanh commented on #3244
Hi @felangel,
I'm having the similar problem like @rahulrmishra. I have this error if I try to initialize Firebase before using `WidgetsFlutterBinding.ensureInitialized();`
[code]

I have created a sample here: https://github.com/minhdanh/flutter-hydrated-bloc-firebase/blob/master/lib/main.dart

[2022-07-10 14:35] aaassseee commented on #3244
@minhdanh You also needs to call WidgetsFlutterBinding.ensureInitialized(); before await Firebase.initializeApp();
So you call WidgetsFlutterBinding.ensureInitialized(); twice in total.

[2022-07-11 04:16] alexursul opened #3428 "hydrated_bloc: Converting enum to an encodable object failed"
hydrated_bloc fails to convert a state to json when there are enums like this:

[code]

Is it a bug?
I've managed to make this work by adding custom toJson and fromJson converters while defining a freezed model which uses this enum, but I wonder if it can work out-of-the-box?

[2022-07-11 04:18] felangel commented on #3428
Hi @alexursul 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Thanks!

[2022-07-11 04:19] felangel commented on #3419
Closing for now since there isn’t enough information to take any next steps.

[2022-07-11 04:19] #3419 closed

[2022-07-11 04:20] felangel commented on #3388
Closing for now since it doesn’t appear to be a reproducible issue. Feel free to provide additional info/steps to reproduce and I’m happy to continue the conversation 👍

[2022-07-11 04:20] #3388 closed

[2022-07-11 04:53] alexursul commented on #3428
Hi @felangel !
Please, have a look at this:

state.dart:
[code]

main.dart:

[code]

pubspec.yaml:
[code]

Exception:
[code]

[2022-07-11 11:11] sahilrewaatechverge opened #3429 "fix: when i run the code it shows me"
hello guys i am new to flutter please help me.

i am try to make communication between two bloc

[code]

[2022-07-11 15:13] minhdanh commented on #3244
Thank you @aaassseee.

@felangel I use [your example](https://github.com/felangel/bloc/blob/master/packages/hydrated_bloc/example/lib/main.dart) with a minor change and could see that instead of using:
[code]
when I use:
[code]
(I have to use BlocProvider.value to reuse brightnessCubit somewhere else)

I'll have the error `Storage` was accessed before it was initialized` when the code is reloaded.

[2022-07-11 22:29] abuzar-rasool opened #3430 "Question : How to use emit.forEach with multiple streams"
**Question**

I am trying to use flutter_bloc with multiple streams from my location service and I need to accommodate multiple streams from the service to either emit a state or further get the data from other streams.

[code]
Basically, I have three streams connected in the following order
ServiceStream -> Permission Stream -> Location Stream. Looking for suggestions to implement it according to

[2022-07-12 05:52] aaassseee commented on #3244
@minhdanh I think the zone get rebuild when hot reload.
Because you are initing storage inside the create storage function. so at that moment the storage getting create when zone rebuild. I suggest you init the hydrated storage before zone creation.