[2020-08-01 17:25] visual-velocity commented on #765
i'm trying to implement or get the state of  second bloc state from first  bloc and trigger the event of first bloc. But the first is not getting second bloc state. I follow up with example- https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication .
Can you tell me why this is happening?

[2020-08-01 17:46] visual-velocity commented on #414
I'm also facing this issue

[2020-08-01 19:22] jaydangar opened #1562 "BlocProvider.of() called with a context that does not contain a Cubit of type."
I have migrated to the flutter_bloc:^6.0.0 and started getting 'BlocProvider.of() called with a context that does not contain a Cubit of type.' error.  Can you let me know what the problem is with the code?

I am adding the logs.

[code]

[code]

[2020-08-02 01:50] felangel commented on #1562
Hi @jaydangar 👋
Thanks for opening an issue!

The problem isn't specific to v6.0.0 -- in general you cannot access a bloc via the same `BuildContext` in which it was provided. If you want to do this you have to wrap your `PlatformButton` in a `Builder` widget to get a new `BuildContext` which will contain the `OtpGenerationBloc`

[code]

Generally you should separate the widget which is providing

[2020-08-02 01:50] #1562 closed

[2020-08-02 01:58] felangel commented on #1561
Hi @MdeBruin93 👋
Thanks for opening an issue!

You can have your bloc subscribe to the location stream and update it's state like:

[code]

Then you can yield a new location state in response to a `LocationChanged` event like:

[code]

Then you can use a `BlocListener` to move the camera in response to location changes like:

[code]

Hope that helps get you on the right track 👍

Closing for now bu

[2020-08-02 01:58] #1561 closed

[2020-08-02 02:15] felangel commented on #1558
@JulianSwales I just took a look and there are several problems:

1. You should not extend Equatable when you are using `dynamic` so I would highly recommend having a `CheckList` class which also extends `Equatable` and making your `ChecklistLoaded` state specify the type:

[code]

2. The larger issue though is you are not using a `BlocBuilder` to update the UI when the bloc state changes so curre

[2020-08-02 02:15] #1558 closed

[2020-08-02 02:15] felangel commented on #1543
Closing for now but feel free to comment with additional questions/info and I'm happy to continue the conversation 👍

[2020-08-02 02:15] #1543 closed

[2020-08-02 02:17] felangel commented on #1532
Closing for now since there isn't enough information to reproduce the issue but feel free to provide a link to a sample app which reproduces the issue and I'm happy to reopen the issue and look into it 👍

[2020-08-02 02:17] #1532 closed

[2020-08-02 06:11] dalewking opened #1563 "Bloc and BlocBuilder do not support covariance"
**Is your feature request related to a problem? Please describe.**
I want to declare an interface for my Bloc state such that the view where BlocBuilder is created only accesses the interface and the implementation of that state is hidden away from it.

So imagine I have these definitions available to my view class and I can pass an instance of FooBloc to the view using injection:

[code]

Then in

[2020-08-02 07:09] fedeakd commented on #1520
Hello, I have taken this example but when using this, I re-build the widget with its pad and I lose its state

[2020-08-02 17:19] JulianSwales commented on #765
@visual-velocity  I've also tried to follow that example and it does not work due to the changes with the bloc versions..
I also tried to follow this project:
https://github.com/kkogut95/flutter_bloc_lyrics/blob/master/lib/feature/song/search/bloc/songs_search_bloc.dart

Which has this:
`class SongsSearchBloc extends Bloc<SongSearchEvent, SongsSearchState> {
  final LyricsRepository lyricsReposito

[2020-08-02 18:28] JulianSwales commented on #765
@visual-velocity I just got this to work... I doubt it's the best or most elegant, but it is working for me..
Following the code I have a above, from that project I changed it to the following:
[code]

Something like the above should work for you... Hope this helps...

[2020-08-02 19:22] visual-velocity commented on #765
Thank you JulianSwales.
It's working fine.☺

On Sun, Aug 2, 2020 at 11:58 PM JulianSwales <notifications@github.com>
wrote:

[2020-08-02 20:05] chethanjkulkarni commented on #74
I have an app, which has 3 pages that communicate with each other. I have wrapped the first widget with MultiBlocProvider
![Screen Shot 2020-08-03 at 1 25 43 AM](https://user-images.githubusercontent.com/30331156/89131150-44543980-d528-11ea-9e0a-b188b9dbed41.png)

I have also wrapped the first widget with BlocConsumer and it works fine.

![Screen Shot 2020-08-03 at 1 27 31 AM](https://user-images.

[2020-08-02 20:06] chethanjkulkarni commented on #74
None of the above solutions worked. Please help me out

[2020-08-02 20:06] chethanjkulkarni commented on #74
None of the above solutions worked. Please help me out

[2020-08-02 20:50] fedeakd opened #1564 "Listview builer one Provider for each item"
Hi, my query is that I have to do a listview.builer and for that each item has different states
And I imagine making a provaider pad for each item
But the listview buider rebuilds the item for me every time it scrolls

am I doing things the right way or is there a better idea?

![image](https://user-images.githubusercontent.com/11893306/89132272-67abc400-d4e9-11ea-9549-e15707259ac2.png)

[2020-08-02 20:50] chethanjkulkarni opened #1565 "MultiBloc provider and MultiBloc listener issue"
I have an app, which has 3 pages that communicate with each other. I have wrapped the first widget with MultiBlocProvider
![Screen Shot 2020-08-03 at 1 25 43 AM](https://user-images.githubusercontent.com/30331156/89131150-44543980-d528-11ea-9e0a-b188b9dbed41.png)

I have also wrapped the first widget with BlocConsumer and it works fine.

![Screen Shot 2020-08-03 at 1 27 31 AM](https://user-images.

[2020-08-02 21:52] felangel commented on #1565
Hi @chethanjkulkarni 👋
Thanks for opening an issue!

This is because when you navigate to a new route (`Navigator.of(context).push(...)`), the new `BuildContext` doesn't have access to the previous widgets. To solve this you can wrap your `MaterialPageRoute` in a `BlocProvider.value` to re-provide the existing bloc to the new route:

[code]

You can refer to the [bloc access recipe](https://blocli

[2020-08-02 21:52] #1565 closed

[2020-08-02 21:54] felangel commented on #1564
Hi @fedeakd 👋
Thanks for opening an issue!

That's totally fine and `ListView.builder` is optimized to only build the items which are visible so I wouldn't try to prematurely optimize unless you are experiencing performance issue.

Hope that helps 👍

[2020-08-02 21:54] #1564 closed

[2020-08-02 22:02] felangel commented on #1563
Hi @dalewking 👋
Thanks for opening an issue!

I'm not sure I fully understand the issue but the snippet you provided are invalid because class `Cubit` does not accept 2 generic type parameters (`Cubit<int, Foo>`).

The following seems to work fine and I believe accomplishes what you want:

[code]

Let me know if that helps 👍

[2020-08-02 22:21] fedeakd commented on #1564
thanks to you for responding, but my problem is that in this way I lose my state
How would you make each item have an individual status?

[2020-08-02 23:08] dalewking commented on #1563
I was typing that into GH and not the IDE so yes that should have been Cubit<FooState>.

The problem though is that FooStateImpl can have additional functionality and you want to be able to access that functionality inside of mapEventToState.

So in my case FooStateImpl is actually an implementation using the freezed library but consider this hand-written example where we want to maintain some add

[2020-08-02 23:52] felangel commented on #1563
@dalewking check out:

[code]

In the above example, `BlocBuilder` is only using references of the abstract type and cannot access parts of the implementation like `copyWith` and the `Bloc` implementation itself (`MyBloc`) uses the implementation and can access `copyWith` and `bar`.

Let me know if that helps 👍

[2020-08-03 02:10] kavienanj commented on #1564
I think you want each news card to rebuild on some state emitted rather than the whole listview builder right. For that you would need seperate instances of your Bloc(to the number of news articles) and it would open too many listeners, and it will drastically affect your performance. As felix said keep this as before.

[2020-08-03 04:35] felangel commented on #1555
Hi @leenorshn 👋
Thanks for opening an issue and bringing this up!

It has been fixed in https://github.com/felangel/bloc/commit/99c5e4d9d2a12f7829dbf41ef871e1d5e936ca92 👍

[2020-08-03 04:35] #1555 closed

[2020-08-03 04:45] felangel commented on #1494
Hi @Jomik 👋
Thanks for opening an issue!

The main issue with doing this is the `Bloc` class itself is pure Dart and has no Flutter dependency so the static `of` would have to be defined in the `flutter_bloc` package. We can create an extension in the `flutter_bloc` package to expose an `of(BuildContext)` but static extension methods can only be accessed via the extension name so we would need to

[2020-08-03 04:46] felangel commented on #1420
Closing this for now because to/from json must be synchronous based on the current API specification.

[2020-08-03 04:46] #1420 closed

[2020-08-03 04:47] chethanjkulkarni commented on #1565
How do I pass multiple BlocProviders inside ```Blocprovider.value()```, because when I try to access the one of the bloc provided in MultiBlocProvider in the third page, I get the same error mentioning that the current bloc has no ancestor of previous bloc ?

[2020-08-03 04:57] felangel commented on #1565
You can use `MultiBlocProvider` with `BlocProvider.value` like:

[code]

[2020-08-03 06:03] agordeev commented on #1519
Unfortunately, the solutions provided consider to get controllers from outside. In many ways it's more convenient to create them in bloc directly.

[2020-08-03 06:40] chethanjkulkarni commented on #1565
Thank you @felangel . All working fine now

[2020-08-03 06:52] ConfidenceYobo opened #1566 "BlocBuilder Keeps old state after leaving the page"
After leaving the page and re-navigate to the page BlocBuilder still keeps old state.

Here is my widget:
[code]

My user model:
[code]
My bloc is like:
[code]

I'm using:
[code]

[2020-08-03 07:36] hu70258tao opened #1567 "how to do if initstate need async"
some initstate need get data from http or shared_preferences ，how to do it ?

[2020-08-03 07:37] MahdiPishguy opened #1568 "Question, adding super constructor"
in old version of below code which i don't have any problem it doesn't have super constructor and in latest version how can i add that? i want to have simply usage of this library, thanks in advance

old version:

[code]

[2020-08-03 12:24] RollyPeres commented on #1567
Hi @hu70258tao 👋

You can simply initialize bloc with a default value for the state and add an event upon bloc creation that will result in fetching state from http/prefs + yield the new state.

Hope that helps 👍

[2020-08-03 12:28] RollyPeres commented on #1568
Hi @MahdiPishguy 👋

You can read all about the migration [here](https://bloclibrary.dev/#/migration?id=packagebloc) 👍

[2020-08-03 12:34] RollyPeres commented on #1566
Hi @ConfidenceYobo 👋

Could you create a minimal reproduction of your issue in a repo and share it ?

[2020-08-03 13:20] #1567 closed

[2020-08-03 13:21] #1568 closed

[2020-08-03 13:26] felangel commented on #1519
@agordeev can you provide a link to a sample app which illustrates the previous setup you had? Thanks 👍

[2020-08-03 13:38] zepfietje commented on #1560
I think we should consider renaming cubit to something more similar to bloc. Maybe what we currently know as a cubit, should become a bloc, and the more powerful bloc (currently named bloc) should be renamed to something else.

Someone in the community has suggested `EventBloc`. I don't really like that name to be honest, but haven't been able to come up with a better suggestion yet.

Overall, thi

[2020-08-03 14:03] m-vellinga commented on #1560
Just dumping some thoughts here as I was thinking (for a good while) about a thumbsup or thumbsdown.

I have the feeling the current naming can add something to the learning curve. With the current implementation you need to be aware of the "internals" that Bloc extends Cubit to fully understand the BlocBuilder etc classes and their public interfaces. As an example I can quite easily relate becaus

[2020-08-03 14:09] Jomik commented on #1560
I do not like having these extra `Cubit` versions. It gives a larger surface. Makes it harder to maintain and document properly.
I would prefer if the `BlocBuilder`'s `cubit` property was named `bloc` though, as it is more inline with the name of the component.
I guess, in my mind, I am thinking as `Cubit` as a slimmed down version of `Bloc`, rather than `Bloc` as an extension of `Cubit`.

[2020-08-03 15:38] hawkinsjb1 commented on #1560
Is using a different named param (cubit: rather than bloc:) technically required for the package? If it is not then I would agree with @Jomik that having ```bloc:``` param work for both cases is the easiest on developers. The Builder/Listener widgets seem to do the exact same thing as far as the developer experience is concerned regardless of using a cubit or bloc implementation. So it begs the qu

[2020-08-03 15:47] ConfidenceYobo commented on #1566
https://github.com/ConfidenceYobo/bloc_demonstration is sample repo to demonstrate the issue.

[2020-08-03 16:34] jorgecoca commented on #1560
Given the feedback observed on this thread, the community does not seem to have a clear consensus. My recommendation in that case would be to continue with the existing convention and wait to see if a better naming strategy surfaces, something that clearly resonates with a big majority.
While we can agree that the existing solution feels like it could be improved, none of the alternatives presente

[2020-08-03 16:41] prascuna opened #1569 "TextFormField's initialValue from a cubit state"
Hi there,
First of all, thanks for this great library, it's making my whole dart/flutter experience way more productive!

I'm trying to initialise a `TextFormField` with the value provided from a state, but I'd like that `initialValue` to be updated if the state changes.
Unfortunately, though the `BlocBuilder` is being invoked when the state is updated, the UI doesn't reflect the change.

Am I mis

[2020-08-03 17:27] RollyPeres commented on #1569
Hi @prascuna 👋

Your text form field is not being updated because `initialValue` is only set once, as the name implies.
You'd have to make your widget stateful(to dispose the controller) and use a `TextEditingController` then you could simply do:

[code]

[2020-08-03 17:29] #1569 closed

[2020-08-03 17:44] prascuna commented on #1569
Thanks for your prompt reply @RollyPeres !
Somehow I thought that the UI should have been rebuilt, as the `BlocBuilder.builder` method was being invoked, therefore a new immutable TextFormField being returned.
Thanks a lot, I will use a controller then!

[2020-08-03 17:54] felangel commented on #1569
@prascuna the TextFormField is a `StatefulWidget` and will create it's own `TextEdittingController` if you don't provide one so even though `builder` is being invoked and a new `TextFormField` is returned, because it is `Stateful` it will retain the controller and the initialValue as @RollyPeres mentioned.

[2020-08-03 17:58] RollyPeres commented on #1566
Since your bloc is globally available it keeps state between your navigations, so it needs to be resetted with the help of an event, as you can see in this [PR](https://github.com/ConfidenceYobo/bloc_demonstration/pull/1) I've opened. Hope it helps 👍

[2020-08-03 18:00] prascuna commented on #1569
I see, that makes sense now. Thanks a lot!

[2020-08-03 18:03] #1566 closed

[2020-08-03 18:23] felangel commented on #1563
@dalewking closing this for now but feel free to reopen it and/or add additional questions/comments if you feel the answer is not what you were looking for, thanks!

[2020-08-03 18:29] Jomik commented on #1494
Yeah, no. No good. I have had no gripes since I discovered `context.bloc` 👍👍

[2020-08-03 18:29] #1494 closed

[2020-08-03 20:39] CurrySenpai opened #1570 "Rename Cubit to Bloc, and the current Bloc to EventBloc or similar with Bloc keyword"
Related to https://github.com/felangel/bloc/issues/1560

Hello, I suggested this is discord a few days ago

Why not rename
* `Cubit` to `Bloc`
* And the current `Bloc` to another related to bloc like `EventBloc` or similar with `Bloc` keyword,

I think using cubit is the right decision for most cases, but the name is confusing if the bloc pattern is being implemented.

It would be an important cha

[2020-08-03 20:41] CurrySenpai commented on #1560
Hello, check https://github.com/felangel/bloc/issues/1570

[2020-08-03 20:49] felangel commented on #1570
Hi @CurrySenpai 👋
Thanks for opening an issue!

I would really prefer not to do this because:

1. It's extremely disruptive -- every resource/article/tutorial/example that previously used `Bloc` will no longer make sense and it will be very confusing in my opinion.

2. It's not accurate -- a `Cubit` is not a `Bloc` (there is no event sink) so it is misleading and will lead to more confusion.

Clos

[2020-08-03 20:49] #1570 closed

[2020-08-03 20:50] felangel commented on #1560
@CurrySenpai replied and closed in favor of keeping this discussion in one place.

[2020-08-03 20:54] felangel commented on #1560
@zepfietje see https://github.com/felangel/bloc/issues/1570#issuecomment-668234688 for why I would prefer not to rename `Cubit` to `Bloc`

[2020-08-03 21:04] zepfietje commented on #1560
@felangel, I understand your second point in that comment. However, for that same reason it's kind of strange to have widgets like `BlocBuilder` take either a cubit or bloc (using a parameter named after only one of those).

If we'd like to be 100% consistent, I'd suggest one of the following. Either merging them as I suggested in my previous comment, despite the technical differences. Or fully se

[2020-08-03 21:06] orsenkucher commented on #1560
I don't feel there is a need to change the Bloc name to something else (especially EventBloc😆)
But what can be done, is inversion of notion, that is what @Jomik suggested in https://github.com/felangel/bloc/issues/1560#issuecomment-668043666
Just treating Bloc and Cubit as interchangeable entities, regardless of internals

[2020-08-03 21:09] orsenkucher commented on #1560
And despite Cubit being broader abstraction, prefer to use Bloc as unit to work with

[2020-08-04 10:21] manhDat0301 commented on #481
@felangel Hi sir! I'm having the same problem with version 6.0.1. Can you give me an example on how to rebuild with the same State when i triggered events?

[2020-08-04 10:30] Dexter-C opened #1571 "[Discussion] How to test event added in bloc?"
Hi
First of all great framework and tooling, here is what I have

`

    @override
      Stream<GalleryState> mapEventToState(GalleryEvent event) async* {
        if (event is LoadGallery) {
          yield* _mapLoadEventToState(event);
        }

        if (event is UploadGallery && state is GalleryLoaded) {
          yield* _mapUploadEventToState(event);
        }
      }

`

now I need to uplo

[2020-08-04 10:53] manhDat0301 commented on #1366
@felangel I'm trying to yield a new state from a Map<int, String>, if i change a value of this map it does not rebuild.

[2020-08-04 11:57] RollyPeres commented on #1366
Hi @manhDat0301 👋

One way of doing it is `yield Map.from(existingMap)..update(...)`.

[2020-08-04 12:15] MohaddeseSandoghdar commented on #1439
First  of all  I apologize for the delay and thank you very much for answering my question.
I ‘ve put up a demo app with my code in it… you can find it here.
https://github.com/MohaddeseSandoghdar/shop_bloc
When the shopping cart (or +) button is clicked, if there is not the product into the cart, the product will be added to cart and UI changes too.
But if there is the product in the cart, event

[2020-08-04 14:08] manhDat0301 commented on #1366
@RollyPeres
What if i'm at CurrentState(map: map). I add an event and modify the map and yield CurrentState(map: map"modified"). It does not update the state? inside prop i put [map] and i try prop => [ ] but nothing happen.
[code]

[2020-08-04 14:16] felangel commented on #1366
@manhDat0301 as @RollyPeres mentioned, you should not be mutating an existing `map` instance and yielding it -- instead create a new map instance from the previous state like:

[code]

[2020-08-04 14:20] felangel commented on #1571
Hi @Dexter-C 👋
Thanks for opening an issue and for the positive feedback!

To test this you can do something like:

[code]

Hope that helps 👍

[2020-08-04 14:20] #1571 closed

[2020-08-04 14:21] felangel commented on #481
@manhDat0301 hey you can just avoid extending Equatable and yield a new instance of your state -- that hasn't changed for v6.0.1.

[2020-08-04 14:21] manhDat0301 commented on #1366
@felangel  @RollyPeres thanks very much, i will try

[2020-08-04 18:29] jcsena opened #1573 "The first state of a dependency Bloc doesn't listen 6.x"
**Describe the bug**
In version 6.x when I have the dependency of a "bloc" it doesn't listen the first state.

For example

[code]
## Workaround

[code]

[2020-08-04 18:45] felangel commented on #1573
Hi @jcsena 👋
Thanks for opening an issue!

This is a duplicate of #1542 #1541 #1518

[2020-08-04 18:45] #1573 closed

[2020-08-04 19:56] dalewking commented on #1563
What the heck? What is your justification for closing this and no I am not permitted to reopen it.

Your second piece of code is even worse. You have completely eliminated ALL hiding of implementation!

Your view in the second piece not only has the view directly referencing the state implementation, but also the bloc implementation.

Since you apparently need some education on the subject: https:

[2020-08-04 20:11] felangel commented on #1563
@dalewking I'm happy to reopen this issue but I would appreciate not having such a negative/condescending tone.

I apologize, I had a typo in the above snippet which I corrected:

[code]

The view is only provided with `FooBloc` (the abstract bloc) and `FooState` (the abstract state).

[2020-08-04 20:13] MohaddeseSandoghdar commented on #1439
May you reopen this issue?
Or do I have to open another issue?

[2020-08-05 00:56] #1548 closed

[2020-08-05 01:15] felangel commented on #1548
Hi @no1seman 👋
Thanks for opening an issue!

`hydrated_bloc v6.0.1` has flutter_web support 🎉

[2020-08-05 07:17] febryardiansyah opened #1575 "Write code in Bloc File makes my Computer Lag"
Hi !!, i have a problem with bloc plugin. i've just updated my android studio and bloc plugin. When i create bloc using bloc plugin and write code inside of bloc file, that's really make my computer lag. But, when i code in others file (not bloc) its normal.

Im currently using mac os Mojave with 8gb ram

sometimes this card show up when i code in bloc file
![image](https://user-images.githubuserc

[2020-08-05 09:39] andrea689 opened #1576 "UI Freeze with complex State"
**Describe the bug**
I have a state with this prop: `Map<int, Map<int, MyObject>>`

Where `MyObject` have this props:

[code]

And `MyObject2` have `Date` and `double` props.

Every `SplayTreeSet` have 30 items.

When I yield a new state, in the web I have a freeze of ~3 sec, and in iOS a freeze of ~200ms.

I found that the freezes are due to the equality of the state in this lines:

https://githu

[2020-08-05 09:50] andrea689 commented on #1576
If I bypass the equals with a random number (`random.nextDouble()`) instead of the field of the state in `props` the equals is more fast (~10ms) and the UI not freeze, but the state is always changed even if is equal to previous state..

[2020-08-05 10:00] kaina404 opened #1577 "Try correcting the name to the name of an existing getter, or defining a getter or field named 'debugDoingBuild'. assert(widget is LayoutBuilder || debugDoingBuild, '''"
**Compiler Failed**
# Bloc Version
[code]

# Error Msg
[code]

# Flutter Doctor
[code]

# Dart Version
[code]
*How can i solve this problem ?  Thx*

[2020-08-05 13:23] felangel commented on #1577
Hi @kaina404 👋
Thanks for opening an issue!

Looks like the exception is thrown within provider and I’m guessing you just need to do a flutter upgrade to use the latest stable (provider needs flutter: '>= 1.16.0' for the latest version).

Let me know if that helps 👍

[2020-08-05 13:27] felangel commented on #1575
Hi @febryardiansyah 👋
Thanks for opening an issue!

The android studio plugin doesn’t do anything while you are typing so I’m not sure why this would happen. Are you sure it’s bloc-specific because the bloc extension only helps with creating new blocs and doesn’t do any processing while you are working on an existing bloc file? Is there anything else you can provide which clearly indicates the iss

[2020-08-05 13:28] felangel commented on #1576
Hi @andrea689 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which reproduces the issue? Thanks!

[2020-08-05 14:03] dalewking commented on #1563
The purpose is that you want the view to know as little as possible about the implementation it is talking to. It should only know what methods it needs to call. The implementation should be somewhere else provided by dependency injection. It is the principle of coding to interfaces not implementation.

The reason for Cubit over Bloc is that I do not want the view to even know about the events the

[2020-08-05 14:25] felangel commented on #1563
Yes I understand but you can use Widgets to accomplish this as well. Suppose you had "Container" widgets and "View" widgets then you can make it the responsibility of the container widget to create/interact with the bloc/cubit and inject the relevant information into the "View" widget.

Also, as far as I know declaration-site variance is still experimental in Dart so it wouldn't be feasible to int

[2020-08-05 14:42] andrea689 commented on #1576
Hi @felangel,
this is a simple example: https://github.com/andrea689/bloc_freeze

The timing is lower for the simplicity of the project, try to run on web to see better the freeze.

If you use the commented `props` the problem disappear: https://github.com/andrea689/bloc_freeze/blob/master/lib/bloc/custom_state.dart#L14

[2020-08-05 14:56] dalewking commented on #1563
It also wouldn't be enough, since you can't even do it with just Stream class. `Stream<FooState>` and `Stream<FooStateImpl>` are not type compatible.

But I must thank you that you did point me to the solution to at least get what I want on the view side. That answer was to do this with the Bloc:
[code]

Technically it is not type safe as the cast will fail if you added a different implementation

[2020-08-05 15:02] 0Vipin0 opened #1579 "onError in the BlocObserver doesn't take the Bloc"
**Describe the bug**
I was implementing the latest version for the Bloc Todos app. I found one anomaly in the BlocObserver that onError only takes the Cubit as a parameter but Bloc is not there. So, I want to ask is this intentional or any kind of bug @felangel ?

**To Reproduce**
Steps to reproduce the behavior:
1. Change the previous Bloc Delegate with the Bloc Observer.
2. onError will autmatic

[2020-08-05 15:21] rahuldev91 opened #1580 "How to call parallel request in flutter Bloc"
I am using BLOC in flutter.

As soon as BLOC instance is created I want to make to API calls.for that in the constructor I have added the following code.

[code]
and the event handling

[code]
The problem I am facing the API calls are not parallel after API1CallEevent complete API2CallEevent get execute...

is there any way to do it parallel.

[2020-08-05 15:30] RollyPeres commented on #1580
Hi @rahuldev91 👋

You can do that with `await Future.wait([_repository.getAPI1(), _repository.getAPI2()]);`

[2020-08-05 16:05] #1580 closed

[2020-08-05 19:41] felangel commented on #1579
Hi @0Vipin0 👋
Thanks for opening an issue!

This is intentional because all `Blocs` are also `Cubits` 👍

[2020-08-05 19:41] #1579 closed

[2020-08-05 19:44] obshksw opened #1581 "Issue with expectLater in flutter tests when two blocs update at the same time since update from 4.0.0 to 6.0.1"
So I wanted to upgrade bloc from 4.0.0 to 6.0.1 but a lot of my tests are now broken.

For example I have a test similar to this:
[code]

Basically I want to test that when I connect, my two blocs are initialized. This used to work, but now fails because it never goes past the second await expectLater.

I recreated a full working sample:
[code]

Is it related to "Bloc does not emit last state on s

[2020-08-05 20:50] obshksw commented on #1581
Update: Everything is working as expected in 5.0.1.

[2020-08-05 21:01] felangel commented on #1581
Hi @obshksw 👋
Thanks for opening an issue and yes this is expected because in v6.0.0 blocs no longer emit the latest state upon subscribing. You should be able to adjust your test to look like:

[code]

This way you will start listening for changes because actually adding the events. Hope that helps 👍

[2020-08-05 21:01] #1581 closed

[2020-08-05 21:22] obshksw commented on #1581
Thank you for your reply and the help @felangel, I appreciate it! :)
Although it does fix this test example, it does not really fix my actual problem...
Some tests validates the values in my state with an `expect`, so I need `await expectLater`, and then can't put it before the events.

Any idea how to resolve that?

[2020-08-05 22:00] felangel commented on #1581
@obshksw any reason why you're not using `blocTest`?

[2020-08-06 03:13] kaina404 commented on #1577
@felangel Thank you very much. According to your , I solved the problem. o(￣▽￣)ｄ

[2020-08-06 03:13] #1577 closed

[2020-08-06 04:50] rahuldev91 commented on #1580
@RollyPeres @felangel  the two API calls are independent...I want to execute two events in parallel.

[2020-08-06 05:23] febryardiansyah commented on #1575
Thanks for the response
Yes, im really sure this lag only comes while i typing in bloc file. But, i don't know either this caused by bloc extension.
Since im using old bloc extension and bloc 5.0, this issue never come.

[2020-08-06 05:51] RollyPeres commented on #1580
I'm pretty sure you want to execute 2 requests in parallel and not 2 events.
You'll get back a `List<Object>` containing your independent API results.
Hope that clear things up for you 👍

[2020-08-06 05:59] angel1st commented on #1546
@felangel - any thoughts on the topic?

[2020-08-06 06:02] rahuldev91 commented on #1580
@RollyPeres  `await Future.wait([_repository.getAPI1(), _repository.getAPI2()]);` will return when `api1` and `api2` get complete.. callback is not parallel ..I want to perform these API calls independently  .. for that I have created two different event

[2020-08-06 06:05] rahuldev91 commented on #1580
I am expacting `add(API1CallEevent());add(API2CallEevent()); ` to `mapEventToState` parallal

[2020-08-06 06:08] felangel commented on #1575
@febryardiansyah can you please provide a link to a sample app which illustrates the issue as well as reproduction steps/a video?

[2020-08-06 06:12] felangel commented on #1546
@angel1st see https://github.com/felangel/bloc/issues/538 regarding my thoughts on `MultiBlocBuilder`. There's nothing inherently wrong with nested BlocBuilders and even if a `MultiBlocBuilder` existed it would likely strictly be syntactic sugar and be identical to nested BlocBuilders.

[2020-08-06 06:13] felangel commented on #1546
@wujek-srujek can you provide any updates/additional information or can we close this issue?

[2020-08-06 06:14] felangel commented on #1580
@rahuldev91 why do you want that? Then your bloc will be non-deterministic because the state will depend on the order in which the api calls were processed.

Either you should make the requests in parallel as @RollyPeres mentioned or you should make them in series as is currently the case when you use `add`.

[2020-08-06 06:17] felangel commented on #1563
Yes I agree.

Glad I was able to help but yes as you pointed out it's not type-safe and can break at runtime if you use a different implementation.

What would be the benefit? You mentioned it would be slightly easier to mock but the effort to mock in either case is the same when using `mockito` since you only need to stub the API surface which is being exercised.

[2020-08-06 06:19] RollyPeres commented on #1580
You said you want the requests in parallel. So you can either do that with a single event like I suggested or use 2 different events and have the requests be executed sequentially.

If you care about parallelism then you should care about requests not events. Even if the 2 events would run in parallel that wouldn't matter at all if the actual API requests are not being executed in parallel. The pa

[2020-08-06 06:31] rahuldev91 commented on #1580
@felangel @RollyPeres  My concern is `Future.wait([_repository.getAPI1(), _repository.getAPI2()]);` its not true parallal work ..ultimalty result is going to come after both excutes.
for my case initially, I am showing skeleton loader in the list ..based on these API responses. I am replacing the data with loader .thats why I want to call these API independently in parallel.

[2020-08-06 06:32] hu70258tao commented on #1567
i get it, send initecent,and do  http during deal this event ?

[2020-08-06 06:33] felangel commented on #1580
@rahuldev91 in that case it sounds like you are treating these as two different features and in that case I would recommend splitting this into two blocs/cubits.

[2020-08-06 06:35] felangel commented on #1567
@hu70258tao yup add an event, immediately trigger a loading state, then once the request completes update the state 👍

[2020-08-06 06:38] rahuldev91 commented on #1580
@felangel  but one bloc should allow the to do work parallel right .for this purpose I don't think creating new block is the solution ..if I have multiple APIs in the list then I need to create multiple blocks for all APIs.

[2020-08-06 06:43] felangel commented on #1580
@rahuldev91 no but if you have separate features for example two different loading indicators or skeleton loaders for different sections of the UI based on the two API calls then those should be represented as two different states.

On the other hand if it's a single skeleton loader and the list is aggregating the content from each of the requests then you can always process the requests in parall

[2020-08-06 06:47] wujek-srujek commented on #1546
Hi, yes, it's on my list, I want to provide much more context and describe the use case. I just need time for this...

[2020-08-06 07:31] mwenechac opened #1583 "I can longer find BlocDelegate class"
I can no longer find the BlocDelegate class after upgrading to version 6. What has replaced it, if there is any replacement. I used it like so previously:

class SimpleBlocDelegate extends BlocDelegate {
  @override
  void onEvent(Bloc bloc, Object event) {
    print('onEvent $event');
    super.onEvent(bloc, event);
  }

  @override
  onTransition(Bloc bloc, Transition transition) {
    print('on

[2020-08-06 07:33] angel1st commented on #538
@felangel - I believe there is at least one good [use case over there](https://github.com/felangel/bloc/issues/538#issuecomment-541868768) and as many people insisting for the feature mentioned, there are few reasons for the request:
1. Bloc reusability - you can create a BLoC and then use it in several places. This btw is part of BLoC concept
2. BLoC maintainability - it is much easier to maintai

[2020-08-06 07:35] angel1st commented on #1546
Thanks, @felangel - it seems #538 is the proper place for my inquiry, hence I already [filed it there](https://github.com/felangel/bloc/issues/538#issuecomment-669760659). To sum up - I would still believe `MultiBlocBuilder` has its place, but let's continue the discussion on the right place :-)

[2020-08-06 08:36] febryardiansyah commented on #1575
@felangel i've just uploaded sample video the difference between when i typing code in bloc file and not
https://www.youtube.com/watch?v=MNUpJKEM5yY

Maybe, i'll try to reinstall bloc extension later.

[2020-08-06 09:09] rahuldev91 commented on #1580
@felangel  Thanks this will help me...
just for the curiosity why add to block not work in parallel  ?

[2020-08-06 12:09] aliftaufik opened #1584 "Persist Previous Data For Presentation Even When State Is Loading"
Hi, I'm pretty new to Flutter world, especially the Stream stuff.

So my problem is, for example, I have a Bloc with Loaded as the current state. Therefore the UI shows the data from that state. Then the user may refresh the data (using a button, scroll up gesture, etc.) and the loading indicator will show up.

But during this Loading state, all the data on the screen is lost. This is due to the L

[2020-08-06 14:04] obshksw commented on #1581
No reason in particular, I just never used it/noticed it. I'll look into it, but from what I understand, it doesn't seem it would fix my problem anyway for my integration tests! But I guess I could refactor the tests and make it work?

Unfortunately, I don't really have more time to work on this right now, certainly not for a refactor haha! :)

I'll stay at 5.0.1 for now and will see to plan more

[2020-08-06 15:18] RollyPeres commented on #1584
Hi @aliftaufik 👋

The solution here is to have a single state class with an enum e.g.: `Status { initial, loading, empty, loaded, failure }`

But if you really like the approach of working with state sub-classes then you'd have to duplicate relevant fields on each class.
So in your case `Loading` and `Loaded` classes would both contain a data list, which would be copied over from one state to othe

[2020-08-06 16:08] RollyPeres commented on #1580
The whole concept of bloc revolves around the idea of predictability. By default bloc processes events using `asyncExpand` operator which will ensure that incoming events will be processed in the order they were received.

If you want your actual events to be processed in parallel you can override the default event stream processing on this bloc:

[code]

Alternatively you can change this behavior

[2020-08-06 16:11] aliftaufik commented on #1584
Thanks for the reply @RollyPeres, but I think I missed something here.

I'd like to try using an enum for the state, but where do I keep the data in the Bloc so that my widgets can retrieve it through BlocBuilder?

While the second approach that you mentioned, I think I've tried that. But the difficulty is that in my widget, I have to use longer if-else to check each state that might hold the data

[2020-08-06 16:14] RollyPeres commented on #1583
Hi @mwenechac 👋

It was renamed to `BlocObserver`. You can check out the [migration guide](https://bloclibrary.dev/#/migration) for more details.

If you encounter additional problems migrating your code, feel free to comment and I'll help you further 👍

[2020-08-06 16:25] #1583 closed

[2020-08-06 16:28] RollyPeres commented on #1584
You're right, the smart cast won't work if you use the || operator.

The first approach is indeed the recommended one.
You'll just have a single state class:

[code]

And you'd be using that status to compose your UI, e.g.:

[code]

[2020-08-06 16:54] aliftaufik commented on #1584
I guess I've got the idea. This should be perfect for my use case.

One last thing to make sure, with the Equatable extended by MyState I can be sure the Bloc responses to state changes although the yielded state will always be MyState. Is that right?

[2020-08-06 16:55] mwenechac commented on #1583
Great. Thanks

On Thu, Aug 6, 2020, 18:25 Felix Angelov <notifications@github.com> wrote:

[2020-08-06 17:10] RollyPeres commented on #1584
Equatable deals with value equality. Basically makes sure that no two consecutive value equal states will be emitted.
Without equatable every single new state would end up in a rebuild even though it might be the same as previous one(value wise).

[2020-08-06 17:19] aliftaufik commented on #1584
Oh, so it works the opposite way than I thought.

Anyway, thanks for the helpful replies and explanations @RollyPeres! Hope this can help others with same case as me.

I think I can close this issue.

[2020-08-06 17:19] #1584 closed

[2020-08-06 17:25] dalewking commented on #1563
It would make BlocBuilder a bit more universal in that it does not need to be tied to Bloc or Cubit at all. It would work with anything that supported just this simplified interface. You have BlocBuilder requiring a Cubit, but it doesn't need anything from Cubit except that it is a Stream and has a state property.

Not a huge advantage, but is better design. It is sort of like the difference betwe

[2020-08-06 17:30] dalewking commented on #1563
Actually since I declared mapEventToState like this it actually is pretty type-safe:

  @override
  Stream<_LandingState> mapEventToState(_Event event) async* {

[2020-08-06 17:49] felangel commented on #1563
Yes but my intention was to restrict it to bloc/cubit since that is what it was implemented to be used with. Just because the explicit API surface area it is interacting with is smaller than the surface area exposed by bloc/cubit there are many cases where making a more generic interface just for BlocBuilder doesn't really make sense. For example, until recently blocs and cubits emitted the previo

[2020-08-06 18:33] dalewking commented on #1563
Doesn't help on initial state I suppose, but unless you are violating the guideline that you should not call emit from a bloc the only way that state gets changed is the return value from mapEventToState

[2020-08-06 18:42] RollyPeres commented on #1563
Hey there!

First of all @dalewking , you really need to work on your social skills. Implement on yourself the `GoodManners` "interface", would you?

Secondly, before dropping "knowledge" I'd highly advise you to get a little bit more familiar with basic concepts of the dart language and flutter framework. Just cause you were used to do some stuff in a way in some other framework or language doesn

[2020-08-06 18:54] dalewking commented on #1563
And my intention is make the UI completely agnostic as to what the underlying state mechanism is. Until recently I was a fan of redux and only recently started switching to Bloc (primarily because there was no consensus on what Blocs looked like. Is there a bloc per screen or multiple Blocs). I would really like the UI to have no dependency on whether you used redux, bloc, or just raw streams/RX s

[2020-08-06 19:00] felangel commented on #1563
According to the redux documentation, the first core principle of redux is:

The global state of your application is stored in an object tree within a single store.

[source](https://redux.js.org/introduction/three-principles#single-source-of-truth)

In any case, there's nothing preventing you from creating your own version of BlocBuilder which interops with both (although I'm not sure what the be

[2020-08-06 19:22] dalewking commented on #1563
The only time I got a little nasty is when I raised a valid question and then topic was just abruptly closed like my question had been addressed. In a real world analogy it would be as though he just hung up on my phone call.

I understand that there is no interface key word in Dart and never did I imply other wise. I only used interface in the abstract sense of the way you interact with a system.

[2020-08-06 19:45] dalewking commented on #1563
Oh, I know some redux proponents say that and it sounds like a good idea but it is totally unworkable except for the most simple of applications. First there is the concept of local vs. global state. You may have global state like are you logged in. But you can have local state like the validation for a form view which makes no sense to maintain in some global state. And it really breaks down when

[2020-08-06 19:45] #1563 closed

[2020-08-06 19:45] RollyPeres commented on #1563
I've seen your avatar. I'm sure you were coding and I was in diapers. I'm also coding and you're in diapers now.

[2020-08-07 04:56] github-actions[bot] opened #1585 "[Translations] Update docs"
Update Translations to include changes from c906ba72494307752a3164ec31b9f8d2ed9bad4e.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-08-07 05:14] github-actions[bot] opened #1586 "[Translations] Update docs"
Update Translations to include changes from 929d62a81e779ad5818523729656a14aa3508205.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-08-07 05:17] RollyPeres commented on #1392
I apologize it took so long to get back to you @Mizhek .
I took the liberty to alter your example in a more realistic one which your can find in this [PR](https://github.com/Mizhek/bloc_sample_app/pull/1) I assumed you have a socket giving you realtime data through a stream and you'd also want to be able to process a different event which gives you some asynchrounous data back.

This works without

[2020-08-07 10:48] reijerteunis opened #1587 "Initial State not loading correctly"
**Describe the bug**
For my project I need to load measurements based on a date. On the diary page the initial date should be DateTime.now(). This is actually the same functionality as filtered_todos.
I use in my project Firebase with a Stream Subscription. After upgrading flutter_bloc to the lates release the initial state is broken, and I am not able to load the initial date. Instead it loads al

[2020-08-07 11:09] iapicca opened #1588 "[proposal] Publish "bloc" on "open-vsx""
Hi,
please consider helping developers on [VSCodium](https://github.com/VSCodium/vscodium) and [eclipse theia](https://theia-ide.org/)
to have a smoother experience publishing this super-useful extension on [open-vsx](https://open-vsx.org/)
(it doesn't seem a time consuming task [link](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions))
Thank you

[2020-08-07 13:18] Mutembeijoe commented on #524
I am well pleased with flutter_bloc.

[2020-08-07 13:31] RollyPeres commented on #1587
Hi @reijerteunis 👋

Current state of the bloc is not emitted upon listening anymore so you should do:
`_measurementsSubscription = measurementsBloc.startWith(measurementsBloc.state).listen(...)`.

This would give you the previous functionality.

`startWith` comes from `rxdart` package.

[2020-08-07 16:17] reijerteunis commented on #1587
Hi @RollyPeres 🤝

Great it almost worked. 1 issue left:

When I go to the page I have the correct result:

![image](https://user-images.githubusercontent.com/69348129/89665990-a2976880-d8ea-11ea-8e70-fcf76c499b1f.png)

When I than go to another date I see those results:
![image](https://user-images.githubusercontent.com/69348129/89666057-c65aae80-d8ea-11ea-98d5-a6591c9eae99.png)

Than when I navig

[2020-08-07 16:22] RollyPeres commented on #1587
Did you debug it to follow what's going on ? Are you logging the transitions on your bloc ?
If you can't solve it feel free to post a repo with a minimal reproduction of your issue and I'll have a look.

[2020-08-07 16:39] reijerteunis commented on #1587
Thanks will first dive into it and if I can't find it I will reach out to you 🙇

Really appreciated the help

[2020-08-07 19:58] YanaKrivitskaya opened #1589 "Cannot access state after migration to 6.0.1"
I've migrated my app to flutter_bloc: ^6.0.1 and now I'm getting exception The getter '...' was called on null. when trying to access state property.

**To Reproduce**
Once app is loaded it redirects user to LoginSignupPage. Here is the code of the page:

[code]

Then on LoginSignupForm I'm trying to show either Login or Register form depending on state parameter:

[code]
I'm getting error on widg

[2020-08-07 20:05] felangel commented on #1589
Hi @YanaKrivitskaya 👍
Thanks for opening an issue!

I'm guessing this is because you didn't update the bloc to pass the initial state to super

[code]

Previously, you would provide the initial state via the `initialState` getter like:

[code]

but the `initialState` override has been removed and you must now provide the initial state to super. Let me know if that helps 👍

[2020-08-07 20:10] YanaKrivitskaya commented on #1589
@felangel This is how my LoginSignupBloc looks like:

[code]

And this is how it was initialized previously:

[code]

So I've added super(LoginSignupState.empty()) but the error persists.

[2020-08-07 20:11] felangel commented on #1589
@YanaKrivitskaya are you able to share a link to the project? If not can you provide the complete bloc and state implementations?

[2020-08-07 20:15] YanaKrivitskaya commented on #1589
@felangel Here is the whole LoginSignup component
https://github.com/YanaKrivitskaya/traces/tree/TRC-52-visa---show-existing-visas-functi/traces/lib/loginSignup

[2020-08-07 20:27] felangel commented on #1589
I just took a look and cloned the project and was not able to reproduce the issue 🤔

[2020-08-07 20:29] YanaKrivitskaya commented on #1589
@felangel Strange. I'm getting error right after app loads. Let me try to reinstall it...

[2020-08-07 20:31] felangel commented on #1589
sounds good 👍
yup, I checked out the same branch and everything worked. If you're still seeing the error message me on [discord](https://discord.gg/Hc5KD3g) and we can debug it live 😄

[2020-08-07 20:33] YanaKrivitskaya commented on #1589
@felangel Magic thing but it works fine after reinstallation 😃
Thanks for your prompt response and advise!

[2020-08-07 20:34] felangel commented on #1589
Awesome, glad to hear it 😄

[2020-08-07 20:34] #1589 closed

[2020-08-08 13:41] JulianSwales opened #1590 "UI not updating after state change."
First of all let me thank you for helping.. Your pointers on my first problem allowed me to get it working..
I now have a more complicated UI state problem.. A working app can be found here:

https://github.com/JulianSwales/bloctest

This is a combination of the https://github.com/felangel/bloc/tree/master/examples/flutter_dynamic_form and the https://github.com/kkogut95/flutter_bloc_lyrics

I hav

[2020-08-08 14:08] wujek-srujek commented on #1546
Here is the whole context. Mind you, it is a long read (quite a bit of it copied from https://github.com/felangel/bloc/issues/1475, but our requirements changed a bit since then and this description reflects this).

### Use case 1

Our use case is the following (simplified, our actual use case is more complex and the 'wizard' has more steps): we first need to choose a country (country list loaded

[2020-08-08 14:18] wujek-srujek commented on #1546
BTW, here is our coverage report of the code described above (partial, only the BLoC and UI parts, no repositories, HTTP clients etc. here, but they are equally well tested):
<img width="829" alt="Screenshot 2020-08-08 at 13 14 03" src="https://user-images.githubusercontent.com/2421362/89712513-91edfd80-d991-11ea-8ff4-2040826f325b.png">

(Not a lot of code as we are using a corporate UI widget lib

[2020-08-08 15:06] Mizhek commented on #1392
Thanks for answer. I'm not sure your approach will help to resolve problem. I used https://pub.dev/packages/socket_io_client package and it seems that there is no a stream with events. Instead you need to set event handler for every event separately.

Maybe problem is that I set these handlers inside page bloc and this causes strange behaviour (in your PR socket steam is top-level variable). Anywa

[2020-08-08 15:06] #1392 closed

[2020-08-08 15:08] RollyPeres commented on #1590
Hi @JulianSwales 👋

Your problem is happening because you're working with two different instances of `JobSiteBloc`.
- https://github.com/JulianSwales/bloctest/blob/1d2ca2ee9f7a28efc3c605a25ea3430b538756fe/lib/main.dart#L31
- https://github.com/JulianSwales/bloctest/blob/1d2ca2ee9f7a28efc3c605a25ea3430b538756fe/lib/screens/jobsite_notes_screen.dart#L25

You should only deal with a single instance o

[2020-08-08 15:18] RollyPeres commented on #1392
I see, well you can either add bloc events in your handlers and transform events with flatMap or you can use a `StreamController` to add incoming data to it and then listen to it for actual processing.

I used top level socket stream for the sake of simplicity but it would normally come from a repository.
Glad you found a solution. 👍

[2020-08-08 17:03] #1590 closed

[2020-08-08 21:34] mitalcoi opened #1591 "Cubit with MiltipleBlocProvider is not working"
Hi, @felangel! First of all, thank for the great work, I'm really enjoy with Bloc.

I'm trying to migrate my app to v.6 Bloc version and also trying to rewrite some stuff with new Cubit interface. Generally, my app working, except for Cubit. I've got an error:
[code]

My code:
[code]

<img width="819" alt="Снимок экрана 2020-08-09 в 00 34 32" src="https://user-images.githubusercontent.com/3224226/

[2020-08-08 22:41] mitalcoi commented on #1591
Oh my god, I found a reason, my bad.. For other guys: need to specify generic of bloc in provider:
<img width="871" alt="Снимок экрана 2020-08-09 в 01 40 29" src="https://user-images.githubusercontent.com/3224226/89721037-4feca800-d9e1-11ea-8004-57505f4ee32f.png">

[2020-08-08 22:41] #1591 closed

[2020-08-08 23:03] felangel commented on #1591
Hi @mitalcoi 👋

Are you able to provide a reproduction sample? I wasn't able to reproduce the problem:

[code]

The types are resolved even when they aren't explicitly specified.

[2020-08-09 00:37] heshaShawky opened #1592 "question: What is the best way to edit a single item on the list?"
**The Questions:**
What is the best way to edit a single item on the array using the bloc? What I'm doing now is changing the whole array on an event like for example user click on the **like** button for a **post** I change the whole array with a lot of mapping and through back as a new array to the state and feel I run kinda complex code for a simple thing.

[code]

[2020-08-09 07:05] wujek-srujek commented on #1546
@angel1st :

We also thought about this, and didn't really like introducing this dependency if we can avoid it, just as you are saying. So, at the code/API level, one BLoC doesn't get another BLoC, it just gets a `Stream<SomeState>` instead, so that we can `listen` to it and react if certain states are emitted. It just so happens that `Bloc extends Stream`. We don't need the whole BLoC, we never c

[2020-08-09 08:57] angel1st commented on #1546
Thanks, @wujek-srujek for the note. Just to clarify - if I take a part of your [case](https://github.com/felangel/bloc/issues/1546#issuecomment-670933264):

Essentially, when you receive `CountrySelectionSuccess` inside `StateBloc` listener, you are sending `StateBloc` event from itself e.g. `this.Add(StateSelectionInitial())` - is that what you are doing?

[2020-08-09 09:46] bobykurniawan11 opened #1593 "Some issues because following Flutter Login Tutorial"
I'm following this tutorial https://bloclibrary.dev/#/flutterlogintutorial.

I'm facing two problems

1.  Stuck on splash_screen (Need to hot reload then it will showing the login page)

Can't see any errors from the log

[code]

2.  The validator's error message appears immediately when the login page open

![Screenshot_1596966216](https://user-images.githubusercontent.com/21689649/89729394-7ea96

[2020-08-09 09:46] angel1st commented on #1546
BTW - regarding your use case and the discussed topic - IMO, there are cases, when features depend on each other, e.g. **Country > State > City** chain. In this case, it makes sense injecting one BLoc into another since the relation between these BLoCs is clear (please note in the context of this note whether you will inject a BLoC or a Stream won't change the overall architectural approach. Other

[2020-08-09 10:01] bobykurniawan11 commented on #1593
It is my bad, the fault was on my script `errorText: !state.email.valid ? 'invalid email' : null,`

[2020-08-09 10:01] #1593 closed

[2020-08-09 10:24] wujek-srujek commented on #1546
Yes, that's right - we `add(StateSelectionReset())`, whose handler simply sets the state to `StateSelectionInitial` again. I don't know if there is any other way of doing this, we have been following examples from the docs.

[2020-08-09 10:31] wujek-srujek commented on #1546
I agree, it all depends on the use case, but as I noted in other discussions, I am a very inexperienced mobile, and Flutter and BLoC developer (I'm a seasoned developer in general, though) so I just know the few things we have come across so far. My opinions may change the more I learn.

Yes, we could have chose to enable the button based on `CityBloc` only, but then we would have to get the state

[2020-08-09 20:34] omidraha opened #1594 "The Listview inside modal is not rebuild."
Hi,
I would like to show some data as `ListView` inside of a `modal`.
And I would like to delete items from `ListView`  by clicking on each item.

Data is load and update  from `HomeBloc` and by  `userRepository`  successfully ,
And `HomeScreen` widget receives updated items on every click of items,
But ListView `itemCount` and ListView `itemBuilder`  still have the same original data.

 (Modal is

[2020-08-09 20:38] #1492 closed

[2020-08-09 21:17] RollyPeres commented on #1594
Hi @omidraha 👋

Your list is not rebuilt because is part of your modal which is shown in a different route, so your existing `BlocBuilder` can't rebuild something on a different route.

You need to your existing bloc instance to your modal so it can rebuild your list:

[code]

Hope that helps 👍

[2020-08-09 23:35] #1594 closed

[2020-08-10 01:57] felangel commented on #433
This is now supported in v5.1.0 of the bloc extension 🎉

[2020-08-10 02:14] felangel commented on #1588
Hi @iapicca 👋
Thanks for opening an issue!

I've published the [extension](https://open-vsx.org/extension/FelixAngelov/bloc) 👍

[2020-08-10 02:14] #1588 closed

[2020-08-10 03:12] omidraha commented on #1594
It's not possible to do that:
[code]

[2020-08-10 03:31] RollyPeres commented on #1594
Just move the `BlocProvider.value` down in the widget tree right above your list.

[2020-08-10 03:33] omidraha commented on #1594
Thanks,
[Fixed](https://github.com/omidraha/sample_modal/pull/1) by @RaviKavaiya

[2020-08-10 07:57] iapicca commented on #1588
rated ;)

[2020-08-10 13:04] felangel commented on #1575
@febryardiansyah any updates on this?

[2020-08-10 14:39] Tiebo opened #1595 "switch-case for state distinction? Use state.runtimeType?"
I learned to distinct between the different bloc states by using "if-else" and "is"
[code]
I feel like this is a situation where a switch-case statement would be better suited, however switch-case in dart does not support class-comparison.

I tried using a switch-case on state.runtimeType and it actually works fine:
[code]

Can you think of any reasons why I should not implement it like this? Any

[2020-08-10 14:52] felangel commented on #1595
Hi @Tiebo 👋
Thanks for opening an issue!

`runtimeType` isn't something you should use for program logic. It changes based on compiler options and actually using it can make optimizations for your app much harder. Also it doesn't work properly with subclasses and generics which is why `is` exists.

Hope that helps 👍

[2020-08-10 14:52] #1595 closed

[2020-08-10 15:01] Tiebo commented on #1595
Hey @felangel ,

thanks for  your quick reply.
That totally makes sense and I will stick to if-else then.
Best regards ✌️

[2020-08-10 17:49] SwissCheese5 opened #1596 "Add a child field for BlocBuilder"
**Is your feature request related to a problem? Please describe.**
If you have a massive widget tree under a BlocBuilder and only the first (or second or third or however you want to utilize the builder) need the state update, but the REST of the tree does NOT need to be rebuilt, then you have a performance problem where a massive widget tree is rebuilt for the sake of a limited scope the bloc nee

[2020-08-10 17:58] felangel commented on #1592
Hi @heshaShawky 👋
Thanks for opening an issue!

I would recommend using the solution described in https://github.com/felangel/bloc/issues/1091#issuecomment-622668426. Let me know if that helps 👍

[2020-08-10 18:44] Rahuvich opened #1598 "Tried to listen to an InheritedWidget in a life-cycle that will never be called again"
Hello, I am coming from redux and I am learning how to use the BLoC pattern using `flutter_bloc: ^6.0.1`.

I am implementing an infinite list following [this tutorial](https://bloclibrary.dev/#/flutterinfinitelisttutorial) (with custom models) and I am getting the following error:

[code]

The error is thrown when trying to paint MainPage widget, which is the following widget:

[code]
**When this

[2020-08-10 18:53] felangel commented on #1596
Hi @SwissCheese5 👋
Thanks for opening an issue!

Can you please provide a sample use-case where you feel this becomes necessary? Thanks!

[2020-08-10 18:58] SwissCheese5 commented on #1596
Here's a limited example:

[code]
I've omitted onPressed for simplicity's sake
That code can be made into this to avoid rebuilding 3 icon widgets. again, this is a very limited example, I have significantly larger examples that I can't use because my project is in the middle of a massive rebuild

[code]

[2020-08-10 19:22] SwissCheese5 commented on #1596
Here's a more extreme example but it's very messy and incomplete. (red lines everywhere), but it gets the point across.

https://gist.github.com/83ff84f7940a611643213e2cbbd58333

[2020-08-10 19:28] felangel commented on #1596
@SwissCheese5 thanks for sharing an example but I'm still not convinced haha. Can you please provide a more realistic example where you would actually need to use child due to performance issues?

I could only find two places in Flutter where this pattern is used:
  - `TweenAnimationBuilder`
  - `ValueListenableBuilder`

I'm a bit skeptical of the value that this feature brings as it's going to fo

[2020-08-10 21:20] RollyPeres commented on #1596
There are situations when caching the child would result in great performance improvements, but I don't think `BlocBuilder` needs this. This pattern is extensively used and recommended when dealing with animations, since you don't wanna rebuild your sub-tree on each animation frame. Widgets like `AnimatedBuilder` makes great use of this approach.

As for `BlocBuilder`, it doesn't drive things like

[2020-08-10 22:07] heshaShawky commented on #1592
That's what I'm doing as my sample code above, but I feel is perform badly, as I have for example ads on the list as ( web views ) when doing this the whole list will refresh as well my web views too.

[2020-08-11 02:04] felangel commented on #1598
Hi @Rahuvich 👋
Thanks for opening an issue!

Can you please share a link to a sample app which illustrates the problem you’re seeing? Thanks! 👍

[2020-08-11 09:12] lau1944 commented on #776
You probably forgot to wrap your main app to BlocProvider? Which it would give you the Bloc for all your children widget, just like inherited widget

[2020-08-11 09:53] Rahuvich commented on #1598
Hi @felangel, unfortunately I was trying BLoC on my personal project, so I can't share a link to a sample app for you to recreate the issue.

I did my [personal project](https://github.com/Rahuvich/jumpets_app/tree/bloc) public in case you want to test it.  (There are a lot of files but as this issue seems to be an UI issue, you would only need to understand HomePage and MainPage widget.)

Stacktr

[2020-08-11 11:30] armoghaddam commented on #1305
Please fix this problem

[2020-08-11 13:26] felangel commented on #1575
Closing for now since there isn’t enough information to reproduce the issue.

[2020-08-11 13:26] #1575 closed

[2020-08-11 14:25] #1598 closed

[2020-08-11 14:26] felangel commented on #1592
@heshaShawky can you provide a sample app which illustrates the issue? Why are the ads nested inside the BlocBuilder if they don't need to be rebuilt in response to state changes?

[2020-08-12 05:36] EngAddow opened #1600 "is it possible to yield state of Bloc from another bloc?"
I have scenarios where I want to yield state of bloc1 in bloc2 e.g I have searchBloc and ProductsBloc so I want to yield ProductsLoaded state from SearchBloc and give result of the search (ProductsLoaded(products) like that) is there a way to do that?

[2020-08-12 05:43] RollyPeres commented on #1600
Hi @EngAddow 👋

You can achieve that by adding an event to your `ProductsBloc` with the result of the search as payload.
You can then handle this event, grab your products from the event's payload and yield `ProductsLoaded(products)`.

[2020-08-12 07:58] EngAddow commented on #1600
@RollyPeres  Thank you very much this was very helpful and I did as u said
I waited the search loaded state in the UI and fired the GetSearchResults and gave the search results then handled in the ProductBloc.

[2020-08-12 08:52] alexobviously opened #1601 "How can I pass references for blocs to each other at creation?"
Hi, just wondering how to do something - I found some similar issues to this but couldn't find a solution that worked for me (maybe updates changed the functionality, I don't know)

Anyway, I have this situation:

[code]

I actually found this solution from someone else who had the same problem (can't find the issue now but it was older than a year). However, it doesn't work and I get this error:

[2020-08-12 09:40] RollyPeres commented on #1601
Hi @alexobviously 👋

You're getting that error because you're using current widget's `context` when trying to retrieve your providers thus it cannot find them, since your providers are declared within that very own `context`.

To fix this you should use the `context` given you by the `create` method explicitly. E.g.:

[code]

[2020-08-12 10:01] alexobviously commented on #1601
Oh duh that's seems so obvious now you've said it! Thanks.

I'm still having a problem now with:

[code]

Specifically I get an error (the same one) on this line:
`boardBloc: BlocProvider.of<BoardBloc>(ctx),`

So I guess this is a problem with the ordering of my blocs: if I put the BoardBloc before GameBloc this won't happen, but the BoardBloc also needs to reference the GameBloc so how do I go ab

[2020-08-12 10:49] RollyPeres commented on #1601
You can instantiate your problematic blocs in main and pass the reference directly.
You should maybe rethink how your blocs look like since there's too much interdependency between them.

[2020-08-12 13:56] JanuszHain opened #1602 "How to test exceptions for cubit async methods"
**Describe the bug**
I can't use `blocTest `methods for testing exceptions using cubit with Future methods.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and setup repo from https://github.com/JanuszHain/bloc_test_cubit_exception
2. Run tests: ` 'index 3 or more should throw exception, unit test working incorrectly'`
3. See error in unit test console (unit test fails)

**Expected

[2020-08-12 14:54] #1600 closed

[2020-08-12 14:54] #1601 closed

[2020-08-12 14:55] felangel commented on #1587
Closing for now but feel free to comment with additional questions/comments and I'm happy to continue the conversation 👍

[2020-08-12 14:55] #1587 closed

[2020-08-12 19:27] arashbi commented on #1336
Sorry for the late reply. The only reason I am following up here is that this library looks "the solution" for an age old problem. I really like this library, and as I am just a novice Dart dev with architecture background doing mostly Java. I wanted to give my 2cents. Please don't take it the wrong way. That said ...

I understand all these, well sort of. But I am still a bit fuzzy about the cons

[2020-08-13 02:28] Dexter-C commented on #335
Hi @felangel
I have same issue, but I don't understand your solution.
say there are two bloc, A_Bloc and B_Bloc, B_Bloc is depend on A_Bloc

`

    class B_Bloc extends Bloc<B_Event, B_State> {
     final A_Bloc a_bloc;
      StreamSubscription a_BlocSubscription;

      B_Bloc({@required this.a_bloc}) : assert(a_bloc != null) {
        a_BlocSubscription = a_bloc.listen((state) {
          if (st

[2020-08-13 06:37] II11II opened #1604 "Number of bloc/cubits per screen"
**Is your feature request related to a problem? Please describe.**
How many blocs/cubits I need to create if I get data from **n** i.e rest api in one screen

[2020-08-13 06:38] II11II opened #1605 "Project structure for bloc and/or cubit from FELANGEL)"
**Additional context**
**Good Example Project structure for bloc and/or cubit**

[2020-08-13 09:45] II11II opened #1606 "BlocConsumer Cubit"
Create to 2 types of state update functions. First one update blocListener state second blocBuilder state

[2020-08-13 13:19] RollyPeres commented on #1604
Hi @II11II 👋

It certainly depends on how you plan on showing that data and the different states involved, but most of the time you would end up needing a single bloc/cubit and sending those n requests with a `Future.wait`.

[2020-08-13 13:30] RollyPeres commented on #1605
Hi @II11II 👋

While waiting for @felangel 's answer you can check out a couple of [project structures](https://bloclibrary.dev/#/faqs?id=project-structure) in the official docs.

I also know for a fact that he recommends a per feature project structure and so do I. At the end of the day it's really up to the developer/team to go with what feels better and easier to work with.

I hope that is of he

[2020-08-13 13:37] RollyPeres commented on #1606
Hi @II11II 👋

- Would you mind giving more context around your suggestion ?
- What exactly are you trying to achive that you haven't been able to achieve with the current implementation of flutter bloc ?
- Could you give an example of how would this look like ?

[2020-08-13 16:01] omidraha opened #1609 "[Question] Two states in one bloc in one screen"
Hi,
I have two widgets in one screen,
Each of widgets has own event and state, but with one same bloc.

`widget_A.dart`
[code]

`widget_B.dart`
[code]

`screen.dart`
[code]

`bloc.dart`
[code]

`sample_event.dart`
[code]

`sample_state.dart`
[code]

`Transaction`
[code]
But inside of `BlocBuilder` of widgets,  both two widgets received second `LoadingWidgetB` state.

[2020-08-13 16:34] #1609 closed

[2020-08-13 18:06] YanaKrivitskaya opened #1610 "ArchSampleKeys question"
Hi there!

Maybe a stupid question but it is not obvious to me where ArchSampleKeys in Flutter todo app comes from...
Can you please point me to the right direction?

[2020-08-13 18:10] felangel commented on #1610
Hi @YanaKrivitskaya 👋
Thanks for opening an issue!

They are coming from https://github.com/brianegan/flutter_architecture_samples/blob/master/todos_app_core/lib/src/keys.dart.

Hope that helps 👍

[2020-08-13 18:10] #1610 closed

[2020-08-13 18:12] felangel commented on #1605
Hi @II11II 👋
Thanks for opening an issue!

As @RollyPeres mentioned, I recommend a feature-based project structure which separate modules (packages) for the data and repository layers.

You can check out the revamped [firebase login example](https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_login) as a reference 👍

Closing for now but feel free to add additional comments/quest

[2020-08-13 18:12] #1605 closed

[2020-08-13 18:14] felangel commented on #1604
Hi @II11II 👋
Thanks for opening an issue!

When thinking about how many blocs/cubits I would avoid thinking about the data layer and think about the feature/use-case. Generally, you should have one bloc/cubit per feature regardless of the number of http requests, etc...

Hope that helps 👍

[2020-08-13 18:14] #1604 closed

[2020-08-14 01:46] heshaShawky commented on #1592
because I wanna show my ads on the posts list, and normally the posts whole list wrapped by the BlocBuilder<PostsBloc, PostsState> to build the posts list I got from the API.

[2020-08-14 03:35] Dexter-C opened #1612 "How to test Bloc-to-Bloc communication"
Hi @felangel
I have same issue, but I don't understand your solution.
say there are two bloc, A_Bloc and B_Bloc, B_Bloc is depend on A_Bloc

`

    class B_Bloc extends Bloc<B_Event, B_State> {
     final A_Bloc a_bloc;
      StreamSubscription a_BlocSubscription;

      B_Bloc({@required this.a_bloc}) : assert(a_bloc != null) {
        a_BlocSubscription = a_bloc.listen((state) {
          if (st

[2020-08-14 03:49] felangel commented on #1602
Hi @JanuszHain 👋
Thanks for opening an issue!

#1613 will address points 1 and 2.

3. If an uncaught error occurs in a cubit it will bubble up to the next zone so if it's not handled upstream it will be surfaced
4. You can assert that errors are thrown like so:

[code]

where `ExceptionCubit` is:

[code]

5. The case for testing exceptions is if you intentionally want to let known exceptions bubbl

[2020-08-14 04:05] felangel commented on #1612
HI @Dexter-C 👋
Thanks for opening an issue!

You can use `MockBloc` from `bloc_test` to create a mock instance of the base bloc and then use `whenListen` to stub the `Stream` of states from the base bloc like so:

[code]

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-08-14 04:05] #1612 closed

[2020-08-14 04:33] II11II commented on #1606
F.i i have screen there 2 widgets(textfield  and button) which depending on state ( loading, loaded, error). Im building 2 widgets in blockbuilder depending data that im receiving from rest api. After successfully building widgets,  im sending data(in textfield) to api by button and i need to show pop up in bloclistener . So im crearing extra 2 states (onSuccess, onError). Having sent request by b

[2020-08-14 04:52] github-actions[bot] opened #1614 "[Translations] Update docs"
Update Translations to include changes from f2f0dca51e6ce463375c44ee98bc88e44269a88b.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-08-14 04:57] felangel commented on #909
Closing this for now since it's been a while since there has been any activity and there have been significant documentation changes so the checklist is outdated. If anyone is still working on translations or would like to help please either create a new issue for the specific part you are working on or refer to https://github.com/felangel/bloc/issues/1196 for all outdated docs. Thanks! 🙏

[2020-08-14 04:57] #909 closed

[2020-08-14 04:59] felangel commented on #1306
Closing this for now since there hasn't been much activity recently and there have been significant documentation updates. Feel free to create new issues to track the progress of each section, thanks! 🙏

[2020-08-14 04:59] #1306 closed

[2020-08-14 05:05] felangel commented on #1606
@II11II can you please provide a link to a sample app which illustrates the problem you're facing? Thanks 🙏

[2020-08-14 05:38] II11II commented on #1606
https://gist.github.com/II11II/5c3d1898658e872ece9c8cf01b4f8f43

[2020-08-14 06:07] JanuszHain commented on #1602
Hello,

Thank you, I have checked the changes and works nicely :)
And thank you for explanation of exception testing.

Greetings,
Janusz

[2020-08-14 08:11] RollyPeres commented on #1606
You're returning `return body(context, state);` even for `OnSuccess` and `OnError` states but `Widget body(BuildContext context, OpenDepositLoaded openDepositLoadedState)` takes state of type `OpenDepositLoaded ` which is not an `OnSuccess` or `OnError`.

You should rather use an enum say `enum Status { success, error }` that you can incorporate in the existing states that might overlap with your

[2020-08-14 12:03] Chren opened #1616 "two states in one bloc"
**Is your feature request related to a problem? Please describe.**

Let's say I have a bloc, and a list page, the bloc has a state which contain data list and loading status, is it possible to bind data and loading status separately?
For example, using BlocListener to notify loading status change, and show/hide loading dialog.
At the same time, using BlocBuilder to notify data change and update ui

[2020-08-14 14:24] github-actions[bot] opened #1617 "[Translations] Update docs"
Update Translations to include changes from 3ff6bef6d1b39f72e1c0b3f9c7d0ec9c7e40e47c.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-08-14 14:38] II11II commented on #1606
Yeap, I had idea to use enum but I cannot pass the response from api I think.

[2020-08-14 14:38] #1606 closed

[2020-08-14 15:22] ninoid opened #1618 "BlocDelegate"
Not sure why I cant access to BlocDelegate and BlocSupervisor with bloc 6.0.1?

[2020-08-14 15:42] felangel commented on #1618
Hi @ninoid 👋
Thanks for opening an issue!

`BlocDelegate` has been renamed to `BlocObserver` and `BlocSupervisor` was removed. Check out the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97blocdelegate-renamed-to-blocobserver) for more details 👍

[2020-08-14 15:42] #1618 closed

[2020-08-14 15:50] ninoid commented on #1618
Thanks a lot for the update. 👍

[2020-08-14 17:12] hawkinsjb1 commented on #1616
There is no need for 2 states.

A bloc's "state" can be any type of object you want and isn't limited to a
single data type.

In your case, you have 2 pieces of data, a loading status and a list of data.
So by simply creating a class which contains both, you only have to worry about handling/manipulating a single state.

For example:
[code]

[2020-08-14 22:12] felangel commented on #1429
@fotiDim you can use cubit for this like so:

[code]

Then, you can use ` FutureBuilder` if you want with `myCubit.loadAssets()`.

[2020-08-14 23:07] rrousselGit commented on #1429
We've argued about this previously, but this discussion is even more reasons to merge `state_notifier` and `Cubit`.

With this change, both objects would be basically identical, and I do not believe that we cannot reconcile the small details around it.
`BlocProvider` + `Cubit` + `BlocBuilder` is equivalent to `StateNotifierProvider` + `StateNotifier` + `StateNotifierBuilder` modulo some static var

[2020-08-15 00:00] felangel commented on #1429
@rrousselGit the change for bloc (and consequently cubit) to extend `Stream` originated from https://github.com/felangel/bloc/issues/558 (of which you were a part).

Can you please clarify what you were thinking? I would love to better understand what your preferred direction would be for each library. Are you suggesting cubit is merged into state_notifier or vice-versa, how would that affect the

[2020-08-15 00:31] felangel commented on #1616
@hawkinsjb1 thanks so much for taking the time to answer, I really appreciate it! 🙏
@Chren closing this for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-08-15 00:31] #1616 closed

[2020-08-15 00:33] RollyPeres commented on #1429
It's funny for someone as smart as you are to act like this with any chance you get. You know there are other smart people as well in this community doing their own work! It's not all about they doing things that should satisfy you. Other people have ideas too you know ? Surely you must realize you're not the only ones having good ideas, right ?

It's completely unfair and childish for you to keep

[2020-08-15 00:35] febryardiansyah commented on #1575
@felangel hi, I'm sorry to reply so late. i just uninstalled bloc extension and it looks normal i think. but, there's still old bloc extension on my android stuido or it is just android studio's feature ?
![image](https://user-images.githubusercontent.com/33514300/90301359-95b9dc80-dec9-11ea-92f6-24a2072e1c33.png)

![image](https://user-images.githubusercontent.com/33514300/90301397-cac62f00-dec9-

[2020-08-15 00:35] rrousselGit commented on #1429
Bloc implementing Stream and Cubit implementing it are two different things.
Bloc is an abstraction over stream chaining. Streams are part of the API because we want to use `async*` in `mapEventToState`

Cubit is a different matter. It's a wrapper over a mutable observable state. The Stream interface is implemented merely as a convenience.

I am not saying that. As I said, you've worked in good fa

[2020-08-15 00:44] rrousselGit commented on #1429
I'm not forcing Felix to do anything.
I've already discussed about this privately with him before and let it slide

I can accept that the packages won't be merged, especially if it benefits the community – even if it makes me sad.
But that doesn't change the fact that we are duplicating the documentation/tooling effort.

[2020-08-15 00:55] felangel commented on #1429
The `Stream` interface isn't implemented as a convenience. It is implemented so that bloc can extend it and we can get the benefit of code reuse for packages like `hydrated_bloc`, `bloc_test`, `replay_bloc`, `flutter_bloc`, `angular_bloc`, etc...
Also, `Cubit` serves a larger purpose of diversifying developer's options as they can easily start with cubit for simple state and scale up to bloc with

[2020-08-15 01:00] rrousselGit commented on #1429
Let's continue this discussion in a separate issue – it's my bad for talking about merging packages in this issue.

I do agree with the change proposed here, which is no-longer implementing `Stream`.
As I mentioned, this would allow removing the dependency on the event loop, which would improve the performances overall.

[2020-08-15 01:23] felangel commented on #1429
No worries! Regarding the original topic, I have a few follow-up questions which I would love to get people's thoughts on:

1. If `Cubit` no longer extends `Stream` would you prefer to still have a convenience `listen` API?

[code]

Or would you instead prefer to have to `listen` via the `stream` getter:

[code]

2. @rrousselGit can you clarify what you mean by this?

My understanding was @chimon2

[2020-08-15 01:39] rrousselGit commented on #1429
This indirectly answers the question about:

If we circle back to the comparison with `StateNotifier`, while it has a `stateNotifier.stream.listen`, it also offers a `stateNotifier.addListener` – which in fact is the primary use-case most of the time.

This listening mechanism does not rely on the event-loop and is implemented using a simple `List<void Function()>`.

This both consumes less memory

[2020-08-15 02:04] Chren commented on #1616
That's exactly what I want, thanks!

[2020-08-15 02:57] chimon2000 commented on #1429
Just in case participants on this issue have forgotten that we are an extension of Flutter's code of conduct, I'll repost this here.

Be kind. Be courteous. Be welcoming.
Listen. Consider and acknowledge people's points before responding.

https://github.com/flutter/flutter/blob/master/CODE_OF_CONDUCT.md

We should not resort to name-calling when someone voices their feelings.  What we should stri

[2020-08-15 02:58] chimon2000 commented on #1429
As someone with no allegiance to either bloc or state_notifier/provider, I would say that

1. There are definitely similarities between the two
2. It's fair to examine whether or not Streams is a necessary dependency of Bloc.

On that second point, I actually had thought about that originally when I suggested Cubit be merged into Bloc, but I assumed that would be an idea to iterate on.  If I'm bei

[2020-08-15 06:44] bobykurniawan11 opened #1619 "Adding parameter"
I'm following this tutorial https://bloclibrary.dev/#/flutterlogintutorial?id=login-bloc . Now i'm trying to add new parameter for result message .

`  yield state.copyWith(status: FormzStatus.submissionSuccess, message: "Success"); `

Below is my whole function

[code]

when i'm trying to change my state to this
[code]

I get this error

Compiler message:
lib/register/bloc/register_state.dart:9:2

[2020-08-15 06:59] felangel commented on #1619
Hi @bobykurniawan11 👋
Thanks for opening an issue!

It looks like the issue is you're not provided a valid default value to message.

[code]

Hope that helps 👍

[2020-08-15 07:30] bobykurniawan11 commented on #1619
thanks it is fix my problem

[2020-08-15 07:30] #1619 closed

[2020-08-15 21:58] #1602 closed

[2020-08-16 07:14] rs5173 opened #1623 "Unnecessary performance loss"
There are three Widgets under the same WdigetTree, namely WidgetA, WidgetB, and WidgetC. The states they respond to are StateA, StateB, and StateC, because they listen to the same Stream (depending on the same BLoC). When StateA responds, WidgetA, Both WidgetB and WidgetC will be rebuilt at the same time, but in fact WidgetB and WidgetC do not need to be updated. If these three Widgets are very co

[2020-08-16 08:51] muhammadmateen027 opened #1624 "Weather App Structure using newer version of BLoc(6.0.1)"
**Requires a project structure while stream subscription from Repository**
Currently you guys updated 3 examples Counter, Login and Firebase login app. It's not enough to understand the entire bloc upgrade. Currently there are 3 enums you are handling and a real-time application isn't based on only enums, it requires to response. I'm facing a tough time to understand.

**Weather application**
I wo

[2020-08-16 09:05] muhammadmateen027 commented on #139
Hi Guys,

I'm using BLoc library from quite long time and published 1st version of an enterprise level application on **October 17, 2019**. Till now I've published 22 version for this application and keep going on. App is available on both [Android](https://play.google.com/store/apps/details?id=delivery.teleportal.teleportall) and [IOS](https://apps.apple.com/my/app/teleportal-driver/id1481799638)

[2020-08-16 09:23] JanuszHain commented on #1602
Hi,

I have checked different unit test and it doesn't end test too if the error is thrown in `expect`, you can see this on branch that I created to show the bug:

https://github.com/JanuszHain/bloc_test_cubit_exception/tree/exception_in_expect_not_ending_test

It looks like try catch inside blocTest should cover more code, because exception thrown in `act `works ok after library update, and in `e

[2020-08-16 12:48] jiqimaogou opened #1625 "bloc for listview items"
first we have a list of texts, and then show each line in listview, like this:
[code]
and I Wrap BlocBuilder and BlocProvider with each item:
[code]
I want to achieve is, if I click A2, change A1->B1 or A3->B3 or ...

[code]

How do I get the BlocProvider of other item in listview?

[2020-08-16 17:01] felangel commented on #1623
Hi @rs5173 👋
Thanks for opening an issue!

It sounds like your single bloc has too many responsibilities and you should probably split up the bloc into three smaller, more focused blocs (or cubits). That way you can have each widget only react to changes on the stream it cares about.

Hope that helps 👍

[2020-08-16 17:02] felangel commented on #1625
Hi @jiqimaogou 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you're facing? It would be much easier to help if I had a concrete example to look at 🙏

[2020-08-16 17:13] RollyPeres commented on #1625
Hi @jiqimaogou 👋

If what you want is to swap items between lists then have a look at [boardview package](https://pub.dev/packages/boardview).

[2020-08-17 03:28] github-actions[bot] opened #1627 "[Translations] Update docs"
Update Translations to include changes from 5e00d16e8968d816ac3d98616a75f047893d0711.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-08-17 04:55] felangel commented on #139
@muhammadmateen027 that's amazing! I will prioritize updating the weather tutorial but in the meantime you can always refer to the [weather example source code](https://github.com/felangel/bloc/tree/master/examples/flutter_weather) since the code itself is up-to-date.

[2020-08-17 07:10] jakecastelli opened #1628 "[ Chinese Docs ] Update Introduction part"
Hi guys,

Since there are a lot changes happened since bloc v4, I will be tying to keep the Simplified-Chinese docs updated.

I will start from the introduction part again, and gradually updating the bloc docs.

Here is my plan:

- Introduction:
  - [x] Getting Started
  - [x] Why Bloc?

  - Core Concept
    - [x] package:bloc
    - [x] package:flutter_bloc
  - [x] Architecture
  - [x] Testing
  -

[2020-08-17 09:55] docmobile17 opened #1629 "[Question] debounceTime In Cubit"
Hello @felangel .

On the Bloc,  in search mode I overide the transformation event like this

return super.transformEvents (
      events.debounceTime (const Duration (milliseconds: 500)),
      transitionFn,
    );

now I am using Cubit, currently in my Ui layer  i have this

Timer _debounce;
_onSearchChanged () {
    if (_debounce? .isActive ?? false) _debounce.cancel ();
    _debounce = Timer (

[2020-08-17 10:32] RollyPeres commented on #1629
Hi @docmobile17 👋

For more advanced functionality like debouncing it is recommended to swap cubit for bloc, since it's pretty trivial to acomplish this in `transformEvents`, like you already mentioned. 👍

[2020-08-17 13:49] docmobile17 commented on #1629
Ok, Thank's for your advice   @felangel  and @RollyPeres

[2020-08-17 13:49] #1629 closed

[2020-08-17 14:24] mikededo opened #1631 "Generic BLoC state"
Hello!

I'm developing an app and I have the following BLoCs (for now): `Workouts`, `Exercices`, `Programs` and `Calendar`.
I have started coding them and I've seen the same pattern when creating the `State` of each BLoC since I'm working with `Streams` and they will have nearly the same structure.

Here are my 4 BLoC states:
[code]

As you can see, they are nearly identical. What I've thought is

[2020-08-17 15:16] github-actions[bot] opened #1632 "[Translations] Update docs"
Update Translations to include changes from 619f270834fe38dcc5baf3d3c52cef769d3c5fe2.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-08-17 19:07] giovanigm opened #1633 "Is it possible to trigger render without BlocBuilder?"
Hello,

I'd like to avoid having to use BlocBuilder all the time, but `context.bloc<MyCubit>()` does not trigger render. I've tried using `Provider.of<MyCubit>(context, listen: true)` but it does not work either.

Is there a way to trigger render without using BlocBuilder? Or someway to use provider package methods `context.watch()` and `context.select()` with this library?

Best regards.

[2020-08-17 19:13] felangel commented on #1633
Hi @giovanigm 👋
Thanks for opening an issue!

Currently, `BlocBuilder` is the preferred way to render widgets in response to state changes. Check out https://github.com/felangel/bloc/issues/1521 regarding adding `selector` support and provide additional context regarding why you feel `BlocBuilder` is not adequate if possible? Thanks! 👍

[2020-08-17 19:13] #1633 closed

[2020-08-17 19:29] giovanigm commented on #1633
Hi @felangel, I just think provider's way to render through context extension methods are simpler than using a widget specifically for that, that's all. Thanks for the answer any way!

[2020-08-18 02:54] felangel commented on #1631
Hi @mikededo 👋
Thanks for opening an issue!

You can definitely choose to create generic base states which you reuse if you feel it makes sense for your use case. The nice thing is the bloc library has no opinions about how you choose to model your events and states -- it's completely up to you 😄

The main downside of doing that is all of your states/events will be the same so from a logging/analy

[2020-08-18 02:54] #1631 closed

[2020-08-18 02:54] felangel commented on #1623
Closing for now but feel free to comment with additional questions or details and I'm happy to continue the conversation 👍

[2020-08-18 02:54] #1623 closed

[2020-08-18 02:56] felangel commented on #1625
@jiqimaogou can this issue be closed or do you still need help? If so, please provide a sample app to illustrate the issue so we can have a better understanding of the problem, thanks 👍

[2020-08-18 02:57] felangel commented on #1545
Closing this since [replay_bloc](https://pub.dev/packages/replay_bloc) is now available and includes `ReplayCubit` and `ReplayBloc` 🎉

[2020-08-18 02:57] #1545 closed

[2020-08-18 03:32] RollyPeres commented on #1631
Something else to consider @mikededo is that you'll have to keep passing the generic type everywhere. So whatever boilerplate you feel you're removing by having a generic state class, you might end up gaining it back somewhere else.

[2020-08-18 05:25] felangel commented on #1168
This has been fixed in https://github.com/felangel/bloc/commit/069f16b0027bb0d8eacaa84b334bc8b30d686bd8 🎉

[2020-08-18 05:25] #1168 closed

[2020-08-18 08:23] nguyenduckhai opened #1635 "[VScode] Problem with generating Bloc folder with Freezed package"
I have no intension of using freezed in Bloc but the extension kept generate freezed bloc folder. My question is how can I change it back to generate default folder?

[2020-08-18 09:43] suyash-binary opened #1636 "How to test not equal to some expected state"
[code]
Let's say in a test, instead of checking that EventA produces StateA, I want test that on EventA, StateB is never produced. How can I test this scenario?

[2020-08-18 10:02] mikededo commented on #1631
Oh, I did not think about that. Everytime a the `BlocObserver` printed a transition, it would write the same for all bloc whic implement that state, wouldn'nt it?

@RollyPeres Yes, that is something I will take into account! 😄

[2020-08-18 10:06] mikededo commented on #1333
Hey @leenorshn!

[2020-08-18 10:26] mikededo commented on #1631
A possiblity of knowing which type is, would be by knowing what `runType` is the `GenereicState` using.

For instance, in the `StateLoaded` class, instead of:
[code]
It could be:
[code]

[2020-08-18 13:14] felangel commented on #1631
I don’t think runtimeType will be human readable in release mode so it won’t be that useful outside of local debugging.

[2020-08-18 13:18] felangel commented on #1636
Hi @suyash-binary 👋
Thanks for opening an issue!

The expect in blocTest is strict so the test will only pass if the bloc emits exactly what is in expect (in the exact order). If you expect nothing to be emitted just leave expect empty and then if the bloc does emit StateA/StateB the test will fail.

Closing for now but feel free to comment with additional questions and I’m happy to continue the c

[2020-08-18 13:18] #1636 closed

[2020-08-18 13:19] felangel commented on #1635
Hi @nguyenduckhai 👋
Thanks for opening an issue!

Currently it defaults based on the dependencies in your pubspec but I will add the ability to override that behavior 👍

[2020-08-18 14:26] EngAddow opened #1637 "BlocProvider does not work from in GestureDetector onTap"
Hello, I got unexpected behavior with bloc where I want to navigate to Filter page when user taps on Sort and pass productsbloc to it

here is sample code:
[code]

[2020-08-18 14:32] felangel commented on #1637
Hi @EngAddow 👋
Thanks for opening an issue!

It doesn't appear you are navigating and it looks like you're just creating a new bloc and Filter widget. I think you should do something like:

[code]

Closing for now but feel free to comment if you still have questions and I'm happy to continue the conversation 👍

[2020-08-18 14:32] #1637 closed

[2020-08-18 14:47] EngAddow commented on #1637
Thanks @felangel I appreciated for your time and how you reply quickly and very helpful even when the issue is not yours

[2020-08-18 19:36] AlexKolykhalov commented on #1313
Hi, @felangel, in my case i am just trying to get output with differences when i change code from https://bloclibrary.dev/#/testing
[code]
to

[code]
but i get TimeoutException after 0:00:30.000000: Test timed out after 30 seconds

[2020-08-19 06:22] paurakhsharma commented on #181
Thank you :sweat_smile:

[2020-08-19 07:05] zenkog opened #1638 "MultiBlocProvider.values"
**Is your feature request related to a problem? Please describe.**
When providing an existing Bloc to a `MaterialPageRoute` (with `Navigator.push`), I use `BlocProvider.value` because it does not recreate the bloc. But when I want to provide more than one bloc then I need to do nested `BlocProvider.value` like this:
[code]
**Describe the solution you'd like**
Hope to have something like `MultiBloc

[2020-08-19 08:18] nerder opened #1639 "[bloc_test] when verify fails the exception does not bubble up in blocTest"
**Describe the bug**
When performing `verify` step in the `blocTest` in case of failure the exception is not bubbled up making the test fail, instead fails because of the timeout.

**To Reproduce**

Is possible to see the bug in this repo: https://github.com/nerder/bloc_test_verify_issue

**Expected behavior**
The expected behavior will be that the test fails as soon as the verify condition fails,

[2020-08-19 09:09] davidAg9 commented on #278
hello I am trying to register a user to firebase and I implemented bloc listener but it doesn't seem to be responding thus it does navigate or show error message as I have specified
<img width="568" alt="Screenshot 2020-08-19 at 9 08 46 AM" src="https://user-images.githubusercontent.com/56321266/90615406-9c16c400-e1fb-11ea-864f-806bfd851700.png">

[2020-08-19 09:27] davidAg9 opened #1640 "Bloc listener not responding"
<img width="565" alt="Screenshot 2020-08-19 at 9 08 15 AM" src="https://user-images.githubusercontent.com/56321266/90615695-016ab500-e1fc-11ea-9603-2ff35958fed9.png">

I implemented a Bloclistener on a button that calls a Finished registration event which save the patient to firebase and some of the  fields to  sembast(local database ) but after the event is dispatch in debug mode I see the state

[2020-08-19 09:47] dave opened #1641 "Cubit listener fails to fire on synchronous initialisation"
**Describe the bug**
I'd like to initialise a cubit, and I would like a listener to react to the resultant state.

In the example below I would like the success snackbar to be immediately shown when the app loads. However, the listener doesn't fire and the snackbar isn't shown. If I force the `init` function to be asynchronous by adding `await Future.delayed`, the listener fires and the snackbar i

[2020-08-19 09:53] dave commented on #1641
I should add I'm using `bloc-6.0.2` and `flutter_bloc-6.0.1`.

[2020-08-19 09:55] davidAg9 commented on #1640
also I am using bloc 5.0.0 and flutter_bloc 5.0.0
since I am not yet familiar with cubit and bloc 6.0.0

[2020-08-19 11:24] nerder opened #1643 "[bloc_test] when expect fails the exception does not bubble up in blocTest"
**Describe the bug**
When performing `expect` step in the `blocTest` in case of failure the exception is not bubbled up making the test fail, instead fails because of the timeout.

**Expected behavior**
The expected behavior will be that the test fails as soon as the `expect` condition fails, instead of waiting for the timeout.

**Note**
this is somehow related to https://github.com/felangel/bloc/

[2020-08-19 13:05] EngAddow opened #1644 "BlocBuilder is not rebuilding the ui"
I have scenario where I want to show the user search result page with option of filtration button when he click the button I want to show him filter page where he can choose filtrations(by size, by cloth type....) then he clicks filter button in which I want to pop that page and show the previous page(search result page) by refreshing so the new filtration take place ,the request is sent to the se

[2020-08-19 13:17] vinayvishnu725 commented on #181
@felangel felangel you are absolutely right thank you so much

[2020-08-19 15:09] felangel commented on #1638
Hi @zenkog 👋
Thanks for opening an issue!

You can currently achieve this like:

[code]

Hope that helps 👍

[2020-08-19 15:09] #1638 closed

[2020-08-19 16:25] larssn commented on #1429
So about the Stream API, I wouldn't mind access to the underlying Stream(Controller) in Cubit, since I want to be able to transform it's emissions. However I don't necessarily need Cubit to inherit from Stream to accomplish this since it muddles the simplicity of the API.

I wanna move away from the normal event-driven flow since I'm interested in less indirection (which events cause), and less bo

[2020-08-19 16:58] felangel commented on #1429
@larssn thanks so much for the feedback!

Can you please elaborate on this? The idea behind `Cubit` was to remove events (and consequently `mapEventToState`) from the bloc implementation since many developers were already using bloc in that way (but were sort of fighting the existing APIs) while still providing a consistent API integrating with Flutter, writing tests, and more. I would love to hea

[2020-08-19 17:36] rravithejareddy opened #1646 "In Flutter_Github_Search example how to hold context of previous page like builtin Showsearch(context, serachDelegate)"
I am planning to include whole serach in my app, but I want to navigate separate page like showSearch in flutter, how to use use flutter_github_search example. Can I navigate to SerachForm page?

[https://api.flutter.dev/flutter/material/showSearch.html](url)

If I use show showsearch with bloc pattern, something like this [https://medium.com/flutterpub/implementing-search-in-flutter-17dc5aa72018]

[2020-08-19 20:39] #1639 closed

[2020-08-19 20:39] #1643 closed

[2020-08-19 20:49] felangel commented on #1640
Hi @davidAg9 👋
Thanks for opening an issue!

Can you verify that you only have a single instance of the bloc? I'm guessing you are creating multiple instances of the bloc and so the listener is listening to a different instance than the one you are interacting with. If that doesn't help, could you please provide a link to a sample app which reproduces the issue? Thanks 👍

[2020-08-19 21:43] felangel commented on #1644
Hi @EngAddow 👋
Thanks for opening an issue!

Can you please provide a sample app which illustrates the issue? Also, you likely don't need to be calling setState when using bloc unless you're managing state outside of the bloc. Thanks 👍

[2020-08-19 21:47] felangel commented on #1646
Hi @rravithejareddy 👋
Thanks for opening an issue!

You can definitely use `showSearch` but you'll need to inject your bloc into the `SearchDelegate` since it won't have access via `BuildContext`.

Hope that helps and closing for now but feel free to comment if you have additional questions and I'm happy to continue the conversation 👍

[2020-08-19 21:47] #1646 closed

[2020-08-20 01:30] davidAg9 commented on #1640
What exactly do you mean by instance of bloc ; do you mean create an bloc provider in on screen/ wigdet and creating another provider in a widget below it in another screen down the previous widget?

[2020-08-20 01:31] davidAg9 commented on #1640
I have invited to the repo to have a look at the issue

[2020-08-20 02:53] ybin0823 opened #1647 "The member 'emit' can only be used within 'package:bloc/src/bloc.dart' or a test"
**Describe the bug**
If I use the `emit` function while using `bloc`, a warning occurs.

**Expected behavior**
In my opinion, `bloc` inherits `cubit`, `emit` should be used.
Am I using it incorrectly? I wonder if you don't want to use emit in bloc.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/7553607/90711385-8e387

[2020-08-20 02:55] felangel commented on #1647
Hi @ybin0823 👋
Thanks for opening an issue!

This is working as expected. `emit` should only ever be used within a `Cubit`. Are you sure you are extending `Cubit` instead of `Bloc`? If you are extending `Bloc`, you must override `mapEventToState` to `yield` new states.

Hope that helps 👍

[2020-08-20 02:55] #1647 closed

[2020-08-20 03:51] manhDat0301 opened #1648 "Loading state before yield current state."
Hi!

I push SecondPage from FirstPage -> GetData(data_1) and yield DataLoaded(data_1).

When i pop SecondPage and select another data from FirstPage -> GetData(data_2) -> DataLoaded(data_2).

SecondPage still keep data_1 while data_2 is loading. How can i make SecondPage show indicator before data_2 is loaded ?

Thanks!!!

[2020-08-20 03:52] felangel commented on #1648
Hi @manhDat0301 👋
Thanks for opening an issue!

You need to make sure that you are always yielding a Loading state while getting data. If you are still unsure about how to do this can you please provide a link to a sample app which illustrates the problem you're facing? Thanks 👍

[2020-08-20 04:22] manhDat0301 commented on #1648
Here is my example
`String data_1 = '1';
String data_2 = '2';

class FirstPage extends StatefulWidget {
  @override
  _FirstPageState createState() => _FirstPageState();
}
class _FirstPageState extends State<FirstPage> {
  @override
  Widget build(BuildContext context) {
    return BlocProvider<MyBloc>(
      create: (BuildContext context) => MyBloc(MyStateInitial()),
      child: MaterialApp(

[2020-08-20 04:54] manhDat0301 commented on #1648
Oh! I just yield MyStateInitial before await data and it works. This can be a work around ✌️
[code]

[2020-08-20 10:14] manhDat0301 opened #1649 "How to create a list fixed length in State?"
How to create a list fixed length in State?
I need it's length with some cases

[2020-08-20 10:45] davidAg9 commented on #1640
`import 'dart:io';

import 'package:date_format/date_format.dart';
import 'package:file_picker/file_picker.dart';
import 'package:flushbar/flushbar.dart';
import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:image_picker/image_picker.dart';
import 'package:rokcare/bloc/patient_register_bloc/patient_registr

[2020-08-20 11:02] RollyPeres commented on #1649
Hi @manhDat0301 👋

You can make use of `List.generate(length, (index) => Model());`

[2020-08-20 11:06] RollyPeres commented on #1640
Hi @davidAg9 👋

Your code is incomplete and really hard for anyone to get it in a run-able state. Please create a minimal reproduction repository with your issue and share a link to it so we could run it locally 👍

[2020-08-20 11:55] EngAddow commented on #1644
I will provide sample soon.

[2020-08-20 12:43] EngAddow commented on #1644
[code]

...bloc

[code]

[2020-08-20 12:44] EngAddow commented on #1644
I hope that what I am trying is clear @felangel

[2020-08-20 13:08] ollydixon opened #1650 "[Discussion] Cubit should be Bloc"
Before we had this

[code]

Now we have
[code]

Now not only do we need to change 31 applications and hundreds of lines of code for this change but it doesn't make any sense. (Find and replace it risky and conflicts)

Cubit
An ancient measure of length, approximately equal to the length of a forearm.

So using cubit wording anywhere is extremely confusing.

There's no length in Bloc, it's more abo

[2020-08-20 13:19] patgdev opened #1651 "Does the current state needs all properties that should be rendered by the current view?"
Hi,
I have a question of understanding regarding the usage and interaction of the states and views/widgets:

Let’s say you have a button and two Text widgets (A & B).
One Text widget A is initialized with a value during the initial state, such as
[code]
The second Text widget B updates its value after the button was pressed with a different state that looks like this:
[code]

After launching the s

[2020-08-20 13:19] RollyPeres commented on #1650
Hi @ollydixon 👋

I'm sorry to hear you're finding this rename so disruptive; I can ensure you it was thoroughly considered before being implemented.

The parameter was renamed to `cubit` since `Cubit` is the base class of `Bloc` now. A `BlocBuilder` can be used to build both from a `Cubit` or  a `Bloc`, hence the renaming.

I think a find and replace `bloc:` for `cubit:` should solve your issue. P

[2020-08-20 13:22] ollydixon commented on #1650
@RollyPeres thanks for the reply. The library is called Bloc, no? Also lots of beginners are going to be totally confused by this. I don't even know what the cubit thing is; and neither does anyone else I speak to about this lib, what is it?

[2020-08-20 13:27] ollydixon commented on #1650
@RollyPeres can you see my point here?

[2020-08-20 13:35] RollyPeres commented on #1650
You'd be surprised how many people prefer cubit over bloc 😊. The cubit was implemented as a result of a popular demand to have a simpler way of using bloc, one that doesn't involve events. Since state changes are common between the two, it only makes sense to implement that in an abstraction which is `Cubit`.

I'm hoping you'd give it a chance and have a look at [differences](https://bloclibrary.d

[2020-08-20 13:38] ollydixon commented on #1650
@RollyPeres then make a new lib called ```Cubit``` 😎🔥 don't focus us to change 100s of lines of code (we had to update cause of incompatibility across libraries)

[2020-08-20 13:38] #1650 closed

[2020-08-20 13:49] RollyPeres commented on #1651
Hi @patgdev 👋

You're right. your first text widget looses it's value as a result of the full rebuild caused by the orientation change.
I feel you should try avoiding `buildWhen` conditions based on state type, but rather use state values, e.g.:
`buildWhen: (previous, current) => previous.valueA != current.valueA`.

In your case you want to keep both values for your texts so it's recommended to us

[2020-08-20 13:56] RollyPeres commented on #1650
The change was discussed and approved by most of our members. Please check https://github.com/felangel/bloc/issues/1427 for more details.

We are aware of the inconveniences caused by this change but at the same time we think this is for the greater good.

[2020-08-20 13:59] ollydixon commented on #1650
@RollyPeres I don't see a discussion there 😂

[2020-08-20 14:11] davidAg9 commented on #1640
I have gone through and I sent only the widget of where the listener was implemented
Do you want to to see how I implanted the bloc itself before implementation in the above widget ?,I have though given access to the repo to @felangel  for review .

[2020-08-20 17:07] francipvb opened #1652 "Nested bloc builders in flutter"
Hello,

Can I construct a nested bloc builder widget tree? What I have to be conscerned about?

### Furter explanation

I have a list loaded in a bloc state, but I want to track the changes for the items individually and avoid any unnecessary rebuild of the parent bloc builder. I want it to be rebuilt only if the length of the list changes. At the deeper level, I want to rebuild the list item when

[2020-08-20 22:17] TomEversdijk commented on #1304
I am struggling with this update.

How can I call super when there is logic involved in setting the initialState?

e.g.
[code]
**Ugly solution 1:**
Ofcourse I can do this initialState logic before initialising the Bloc and passing the result as a parameter to the bloc, but that cannot be an improvement of the API right?

**Ugly solution 2:**
An other option would be to make a static initialState m

[2020-08-20 22:50] felangel commented on #1304
@TomEversdijk you can do:

[code]

Hope that helps 👍

[2020-08-21 02:25] manhDat0301 commented on #1649
Thanks a lot! 👍

[2020-08-21 02:25] #1649 closed

[2020-08-21 21:56] II11II opened #1653 "BLOC VS Cubit (boilerplate coding)"
Thank you for created such state management.
But i still have no idea, why/when should we use bloc instead of cubit?
I think there is fewer boilerplating codes in cubit rafher than (bloc => Events)
Could you familiarise or provide link where can have been taken info pros and cons between 2 almost similar state managements?
Thank you a head.

[2020-08-21 23:29] autolainen opened #1654 "Have rewritten flutter_timer and flutter_todos examples with rxDart. 30% less code"
I'm trying to understand how to use bloc package. While doing so I was looking through documentation and examples. I took flutter_timer example and rewrote it using rxDart package: https://github.com/autolainen/flutter_timer  To my surprise I got 30% less code (288 lines in original code and 199 lines as I got rid of bloc package). The code is not just shorter, it is much cleaner.

Then I got a bi

[2020-08-22 04:29] #1653 closed, assigned to narcodico, II11II

[2020-08-22 16:34] MalickDgne opened #1656 "BlocProvider.of() called with a context that does not contain a Cubit of type MapBloc."
**Describe the bug**
I'm trying to provide a MapBloc to a component called RoutingButtonLocationDetailsPopup, but when sending an event from onPressed I get the error  BlocProvider.of() called with a context that does not contain a Cubit of type MapBloc.

**Code**
[code]

**Logs**
[code]

Someone have a solution or an idea ?

[2020-08-22 21:08] #1654 closed, assigned to mocodesmo, felangel, narcodico

[2020-08-23 02:59] #1656 closed, assigned to narcodico

[2020-08-23 03:13] rravithejareddy opened #1658 "How to use navigatorkey in widgettree"
In flutter_firebaselogin example you added navigationkey in materialapp but how to utilize it widget tree or in bloc, in few articles people are creating seperate bloc for navigation taking navigation object as input.
[https://dev.to/pedromassango/flutter-bloc-a-better-way-to-handle-navigation-4fig](https://dev.to/pedromassango/flutter-bloc-a-better-way-to-handle-navigation-4fig)

But in your exam

[2020-08-23 03:18] #1658 closed, assigned to felangel

[2020-08-23 09:25] millerovv opened #1659 "Bloc state subscription doesn't yield current state"
When subscribing to bloc state stream using `listen` method, current state is not yielded.
This happens since `Bloc` became an extension of `Cubit` instead of `CubitStream` because of the difference in implementations of listen method:

#### CubitStream (bloc 5.0.1):

[code]

Where _stream constructed as the current state followed by _controller.stream:
[code]

When we subscribed to our bloc, curr

[2020-08-23 13:46] rravithejareddy opened #1660 "I am confused with navigatorkey in material app, what if I use simple navigator instead of it."
In firebaselogin example you used <_navigatorkey.pushNamedAndRemoveUntil('/login', (Route<dynamic> route) => false);>
Suppose if I want to use navigationkey in homewidget tree do I need to use bloc. Or can I pass key over in constructors.

Instead if I use like this
<Navigator.of(context) .pushNamedAndRemoveUntil('/login', (Route<dynamic> route) => false);>

I don't understand why do we need Globa

[2020-08-23 14:10] rravithejareddy opened #1661 "Benefits of navigationkey in material app, and how to use in widget tree."
In firebaselogin example you used <_navigatorkey.pushNamedAndRemoveUntil('/login', (Route<dynamic> route) => false);>
Suppose if I want to use navigationkey in homewidget tree do I need to use bloc. Or can I pass key over in constructors.

Instead if I use like this
<Navigator.of(context) .pushNamedAndRemoveUntil('/login', (Route<dynamic> route) => false);>

I don't understand why do we need Globa

[2020-08-23 16:55] ajain-bst opened #1662 "What are extensions (from the documentation)"
[code]

Can't find a reference to these **extensions** anywhere. What are they?

[2020-08-23 17:51] visual-velocity opened #1663 "Parallel Event call"
I have a screen and a bloc. With this bloc i'm calling three events sequentially. Each event returns a state but my screen was not updating by any state.How do i resolve this issue and update my screen by three state.
@override
  Stream<Transition<DashboardEvent, DashboardState>> transformEvents(Stream<DashboardEvent> events, transitionFn) {
    // TODO: implement transformEvents
    //return even

[2020-08-23 23:43] autolainen commented on #1654
Thank you all for such professional replies! But, to be honest, I expected figures and facts like I gave in my post. As we're talking about technical stuff, we can measure this or at least compare and say 'more' and 'less'. @felangel said

 So, please do that. @mocodesmo wrote

Please do so and if you keep the same level of separation of business logic and presentation layer - that would be a gian

[2020-08-24 03:46] felangel commented on #1654
Hey @autolainen I opened a [pull request](https://github.com/autolainen/flutter_timer/pull/1) to refactor your rxdart example using cubit. When comparing the previous bloc implementation with the current cubit implementation I was actually able to reduce the number of lines of code when you don't take the state class into consideration. I would also argue that having the separation between the bus

[2020-08-24 03:51] felangel commented on #1663
Hi @visual-velocity 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the issue? Thanks 👍

[2020-08-24 03:51] felangel commented on #1662
Hi @ajain-bst 👋
Thanks for opening an issue!

You can learn more about Dart extensions at [https://dart.dev/guides/language/extension-methods](https://dart.dev/guides/language/extension-methods) 👍

[2020-08-24 03:51] #1662 closed

[2020-08-24 03:54] felangel commented on #1661
Hi @rravithejareddy 👋
Thanks for opening an issue!

The `NavigatorKey` should ideally stay inside the root app widget because it is only used to manipulate the top level Navigation stack (for authenticated/unauthenticated routes). If you wish to change the authentication state just add an event to the `AuthenticationBloc` -- you should not need to pass around the navigator key.

Hope that helps, c

[2020-08-24 03:54] #1661 closed

[2020-08-24 03:54] felangel commented on #1660
This is a duplicate of #1661

[2020-08-24 03:54] #1660 closed

[2020-08-24 03:56] felangel commented on #1659
Hi @millerovv 👋
Thanks for opening an issue!

This is a duplicate of #1573, #1542, #1541, and #1518 and was an intentional breaking change which is documented in the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97bloc-does-not-emit-last-state-on-subscription).

Hope that helps 👍

[2020-08-24 03:56] #1659 closed

[2020-08-24 04:43] heshaShawky commented on #1592
Any thoughts?

[2020-08-24 04:58] visual-velocity commented on #1663
Sure

On Mon, 24 Aug, 2020, 9:21 am Felix Angelov, <notifications@github.com>
wrote:

[2020-08-24 06:55] RollyPeres commented on #1592
Have you considered using [admob_flutter](https://pub.dev/packages/admob_flutter) ?

[2020-08-24 10:57] larssn commented on #1429
@felangel You're right about snapshots and initialData; it is a bit of a pain point with the plain StreamBuilder implementation.

The thing thats harder with Cubit, as I mentioned, is transforming the outgoing stream inside the cubit class. It's something I personally require quite often.

May I suggest moving Cubit closer to the vanilla way of working with Streams, but removing the pain points yo

[2020-08-24 11:12] rrousselGit commented on #1429
What does this mean out of curiosity?

[2020-08-24 11:43] larssn commented on #1429
@rrousselGit
mapping, switchmapping, flatmapping, forkjoining, deboucing; whatever operator I need basically.
It means having direct control of what the Cubit outputs.

Though I suppose I can technically `map`, through the `onChange` override.

[2020-08-24 13:50] visual-velocity commented on #1663
I have simple issue
I have a Dashboard BLoC and it's have three events. I want to call three apis from three events along with return respective states. I have also three widgets and it's update value from the three states. @felangel can you give us some suggestion for solve this issue.

[2020-08-24 15:32] felangel commented on #1663
What's the issue? You can call three APIs in response to the events and use `copyWith` to add the relevant data to your state.

[2020-08-24 16:53] autolainen commented on #1654
Hello @felangel! Thanks for the pull request!
Unfortunately refactoring of flutter_timer is not informative at all since you have only one type of state there. So there is no those nice type checks in the code and there is no other boilerplate code generated by the design. As for number of lines - you have 201 of them comparing to 199 in my version. I counted all the new lines in all *.dart files

[2020-08-24 18:54] felangel commented on #1654
Hey @autolainen can you please describe what the goal of this issue is? It's not clear to me so far what this issue is trying to accomplish.

As I mentioned previously, the excessive type checks can be eliminated by refactoring the state representation (stay tuned for the revamped todos example).

I'm not sure what argument is being made with the 201 vs 199 lines of code. I could just as easily ha

[2020-08-24 19:11] RollyPeres commented on #1654
I would highly encourage you @autolainen to write a larger app using vanilla bloc/rxdart before advertising for how easy and clear things are with it. There's a reason most devs stopped using vanilla bloc and it's simply because it scales terrible.
As soon as you have to deal with a bunch of controllers/subjects and all sorts of combinations between them things are not easy to follow anymore.

[2020-08-24 19:31] davidAg9 commented on #1640
It I believe I have unraveled the issue ,so  the issue is from a Firebase document its checking and of which its returning null which in turn throws an exception and does not allow the listener to execute tho I don't understand why the failed state to did not execute I am attempting to fix the issue with firebase to see If it will respond

[2020-08-24 20:07] felangel commented on #1640
Glad to hear you found the problem! What was the exception and how are you planning to address it?

[2020-08-25 02:36] bobykurniawan11 opened #1665 "List not updated when removing item"
As an example i have two items in my list, i want to remove the second item

Here is what i do

[code]
Explain

- The First item has 1 quantity
- The Second item has 1 quantity

when i run the `MinQty event` at my second item, the quantity become zero . Then i run the event again, the item still there. When i click it again, it is causing me an error `RangeError (index): Invalid value: Only valid

[2020-08-25 04:19] RollyPeres commented on #1665
Hi @bobykurniawan11 👋

Make sure you're working with a fresh list and not altering the existing state.
So start from `final cartItems = List.from(currentState.cartitems)` and do whatever computations/operations you might need.

[2020-08-25 07:03] ARJUPTA commented on #181
Thank you

[2020-08-25 08:37] fwidjaya20 opened #1666 "Unit Test BLoC"
Hi Felix,

I'm trying to write some unit tests for my pretty simple Bloc.
I want to test, that an added Event should emits some states.

Here is the Bloc:
[code]

This is my Test:
[code]

and the result is
[code]

Do you have any idea why this test keep failing ?

[2020-08-25 08:59] bobykurniawan11 commented on #1665
@RollyPeres thank you. But why i should not do that ?

[2020-08-25 13:32] francipvb commented on #1652
Hello @felangel,

In my case, the builders are against the same bloc. I have a bloc for a feature as you suggested, but I want to practice high optimization of widget building pipeline. There fore I want to rebuild items individually from a list and allow the whole widget to be rebuilt only when the length of the list changes, letting the items to be built only when they need to e built.

The issu

[2020-08-25 15:26] RollyPeres commented on #1665
Because value equality won't properly work and new state won't be emitted as a result of that.

[2020-08-25 17:58] bharat-biradar opened #1667 "Minor improvements to Github Search flutter example"
Hi felix,
I was going through Github search example  [(link)](examples/github_search/flutter_github_search/lib/main.dart).I noticed that minor changes to code can be such as adding generic type to BlocProvider and some linting.If you think those changes are required I would like to work on them.

[2020-08-25 19:13] theweiweiway commented on #139
Been using it at our start-up Honeybee Hub since last November when we first pushed out our app - It's be awesome and has made state management a breeze!

If anyone is interested, the app is here on [iOS](https://apps.apple.com/us/app/honeybee-hub/id1486282851) and [android](https://play.google.com/store/apps/details?id=ca.honeybeehub&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBad

[2020-08-26 03:06] github-actions[bot] opened #1669 "[Translations] Update docs"
Update Translations to include changes from c273e8a0741d328fd161271e19445fcd98b53ec2.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-08-26 03:07] felangel commented on #1665
Thanks @RollyPeres for taking the time to answer! 🙏
@bobykurniawan11 closing this for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2020-08-26 03:07] #1665 closed

[2020-08-26 03:08] felangel commented on #1663
Closing this for now but feel free to comment with additional information or a sample app and I'm happy to continue the conversation 👍

[2020-08-26 03:08] #1663 closed

[2020-08-26 03:09] felangel commented on #1666
Hi @fwidjaya20 👋
Thanks for opening an issue!

Are you able to share a link to the complete code so I can run the test locally? If not, could you provide the `HeroState` implementation? Thanks 👍

[2020-08-26 03:10] felangel commented on #1667
Hi @bharat-biradar 👋
Thanks for opening an issue!

I'm still in the process of rewriting the tutorials but if they are quick fixes and you don't mind opening a pull request then definitely go for it! 👍

[2020-08-26 03:25] fwidjaya20 commented on #1666
Thanks for the response, you can clone it on `https://github.com/fwidjaya20/flutter-test`

[2020-08-26 03:47] #1635 closed

[2020-08-26 04:11] felangel commented on #1666
@fwidjaya20 thanks for sharing the repo! I took a look and the issue is you can't compare different instances of your state unless you override the equality comparison operator and hashCode. In my opinion, the simplest way to do this is using the [equatable](https://pub.dev/packages/equatable) package.

Just add `equatable` to your `pubspec.yaml`:

[code]

Then make your `HeroState` extend `Equata

[2020-08-26 04:11] #1666 closed

[2020-08-26 05:46] kranfix commented on #538
Hello, I was thinking about the problem of multiple widget composition of `BlocBuilder` and `BlocListener` ,then I created an experimental package with the same API than `flutter_bloc`: https://pub.dev/packages/flutter_hooks_bloc

This package reimplements those widgets based on `HookWidget` (https://pub.dev/packages/flutter_hooks).

A widget that rebuilds depending on many bloc would be written l

[2020-08-26 05:46] kranfix commented on #538
Hello, I was thinking about the problem of multiple widget composition of `BlocBuilder` and `BlocListener` ,then I created an experimental package with the same API than `flutter_bloc`: https://pub.dev/packages/flutter_hooks_bloc

This package reimplements those widgets based on `HookWidget` (https://pub.dev/packages/flutter_hooks).

A widget that rebuilds depending on many bloc would be written l

[2020-08-26 09:13] milanobrenovic commented on #134
But this works only once. When i try clicking the button again (that pops up the same dialog) then the dialog gets stuck there loading, and this condition block no longer gets triggered....why?

[2020-08-26 12:13] sidy-refyne commented on #1546
I am not sure if it is the good place to ask question. can someone help me with this question https://stackoverflow.com/q/63596443/6569390

[2020-08-26 13:25] dagba opened #1670 "Edit the order of actions in context menu, vscode"
Can u please add an ability to sort actions in the context menu, its a little bit inconvenient all the time to scroll to "Wrap with widget" option, ty :).
![image](https://user-images.githubusercontent.com/16746885/91308974-a0864280-e7e2-11ea-9093-1b1690c273b6.png)

[2020-08-26 13:31] felangel commented on #1670
Hi @dagba 👋
Thanks for opening an issue!

I tried searching for a way to control the order but haven’t had any luck. If you or anyone else knows how to achieve this I’m more than happy to make that change 👍

[2020-08-26 13:34] felangel commented on #134
@milanobrenovic can you share a link to a sample app? Usually this means you’re not yielding the loading state anymore and/or your states are Equatable so they aren’t considered different.

[2020-08-26 14:11] dagba commented on #1670
Thank you for fastly reply! From an hour of researching, I found only sorting of menu groups, idk if its gonna work
![image](https://user-images.githubusercontent.com/16746885/91314256-f3fb8f00-e7e8-11ea-8b88-7a38691ea276.png)

[2020-08-26 14:52] kiesman99 commented on #538
Hey @kranfix,

I think your solution looks good and would implement everything we need but there still some issues I am seeing here:

1. Following the discussion [here](https://github.com/flutter/flutter/issues/51752) and especially this [comment](https://github.com/flutter/flutter/issues/51752#issuecomment-665400546) flutter_hooks currently is **not** supposed to be an alternative state managemen

[2020-08-26 14:54] kiesman99 commented on #538
@felangel Does it hurt performance somehow to have multiple `BlocBuilder` nested or is this something we can do without a problem?
If not my 2. argument is pretty much invalid. (If so sorry :D)

[2020-08-26 15:39] bharat-biradar commented on #1667
#1671

[2020-08-26 16:42] sidy-refyne commented on #112
I am also facing same issue, Not able to figure it out, how can i listen for a stream inside mapEventToState method. any help will be appreciable. Thanks

[2020-08-27 04:19] kranfix commented on #538
@kiesman99 yeah. I know that flutter-hooks is POC, that's why I said `flutter_hooks_bloc` is an experimental package. But, it simplify many tasks that are not easy without hooks.

[2020-08-27 04:33] kranfix opened #1672 "Why MultiBlocProvider extends MultiProvider while MultiRepositoryProvider is a StatelessWidget"
**Description**

Why `MultiBlocProvider` and `MultiRepositoryProvider` have different implementation?

The `MultiBlocProvider` extends `MultiProvider`.

[code]

The `MultiRepositoryProvider` is a `StatelessWidget` composed with a `MultiProvider`.

[code]

**Solution**

Rewrite `MultiRepositoryProvider` extending `MultiProvider`.

[code]

[2020-08-27 04:35] felangel commented on #538
@kiesman99 nested BlocBuilders will not be less performant than hooks because at the end of the day if you want nested BlocBuilders it usually means you want something to rebuild if any of the bloc states change. In those cases, there’s nothing technically wrong with nested BlocBuilders although in my experience it’s usually a sign that the blocs are data-driven and not feature-driven. Ideally, th

[2020-08-27 07:46] angel1st commented on #538
@felangel - I believe there are at least a couple of examples e.g. [this one](https://github.com/felangel/bloc/issues/1546#issuecomment-670933264) and [this one](https://github.com/felangel/bloc/issues/538#issuecomment-669760659), where we posted our real-life examples, to show that, in more complex apps, it is not unusual to have two or even three nested `BlocBuilders` and this is not a sign of b

[2020-08-27 19:38] MohaddeseSandoghdar commented on #1439
Hi...
Thank you very much for answering my questions.

https://github.com/MohaddeseSandoghdar/edit_shop_bloc

In this example, I want, when I click on the + or – buttons, only the same product to be updated. And not all products are updated. (CircularProgressIndicator only is displayed instead of the same product and not all products).

I also want, the user to be able to change the number of prod

[2020-08-27 21:06] felangel commented on #1672
Hi @kranfix 👋
Thanks for opening an issue!

This just was a miss on my part (most likely due to the cubit merge). I have opened #1673 to address it 👍

[2020-08-27 21:21] #1672 closed

[2020-08-27 21:25] #1667 closed

[2020-08-28 03:06] anuragvohraec opened #1674 "BlocBuilder not getting called, by a sibling widget"
Hi Felangel,

Its a silly question but can't figure this out, after mutliple tries.
Here is a image summary of my code structrue.
![image](https://i.ibb.co/B4n65XC/image.png)

I am expecting my send button must post message on chat board.
However even when my `postMessage` bloc method gets called , the `BlocBuilder` is not reredering! :(

Here is my simplified code [My actual codeis much more comp

[2020-08-28 05:17] RollyPeres commented on #1674
Hi @anuragvohraec 👋

- since you seem to want to interact with your bloc using methods instead of events, I recommend you swap your bloc for a cubit;
- you should avoid altering the existing state.
[code]

[2020-08-28 06:41] reshnu commented on #181
Thanks,this is because my project name and package name is same so this error happens after that changing my project name it working fine

[2020-08-28 09:14] heshaShawky commented on #1592
Yes, that's what I'm already using, and on any change inside the builder the ads will be reloaded ( The Plugin depends on a web view )

[2020-08-28 09:25] fryette opened #1676 "New mockito version break bloc_test"
After upgrading to the latest mokito 4.1.2 I found that my tests failed.
Please check latest release notes. Seems the problem in overrides noSuchMethod

[code]

https://pub.dev/packages/mockito/install

[2020-08-28 09:34] RollyPeres commented on #1592
First of all, you should use the approach described [here](https://flutter.dev/docs/cookbook/lists/mixed-list) to handle different types on your list instead of using separators.
Secondly, I don't find this to be an issue related to bloc, since you'll get it with any approach to rendering the listview.
If you want to use bloc to solve this issue then you could create an individual bloc for each it

[2020-08-28 09:34] #1674 closed

[2020-08-28 14:49] #1676 closed

[2020-08-28 17:05] heshaShawky commented on #1592
Yes, this is what I need to do for now, how I could implement this?

[2020-08-28 17:12] omidraha commented on #1560
Are there any similarities or understandings between  [bloc](https://github.com/felangel/bloc/)  project and this [riverpod](https://github.com/rrousselGit/river_pod) project (that is successor of [provider](https://github.com/rrousselGit/provider))?

Will both eventually move towards solving a fundamental problem?
Isn't it better to have a common path between the two?
To multiply the energy and l

[2020-08-28 17:29] felangel commented on #1560
@omidraha provider/riverpod are used to make objects available throughout a Flutter application. Bloc currently uses `provider` internally for `BlocProvider`, `RepositoryProvider`, etc... but if riverpod becomes the new standard and it makes sense then we will definitely consider updating the `flutter_bloc` package to align with `riverpod` instead. See https://github.com/kranfix/riverbloc/issues/1

[2020-08-28 17:36] RollyPeres commented on #1592
You literally wrap each list item in a bloc.
[code]

[2020-08-28 21:34] omidraha commented on #1429
@rrousselGit
@felangel

I left a message [here](https://github.com/felangel/bloc/issues/1560#issuecomment-682943897) too.
But that seems to be the main issue here.
After a few months of getting acquainted with these packages (`provider`, `bloc` and now `riverpod`)
It is clear that there are many commonalities about solving common issues.
I want to say with respect,
Please do not look for competiti

[2020-08-29 15:45] rravithejareddy commented on #1443
But unable to add item to list in UI, I am using something like filter.cropTyoe.add("pulses") but it's giving me error as unmodifiable list. Then how can add items and send back to bloc.

[2020-08-29 15:55] rravithejareddy commented on #1443
Hi felangel,

Can you please reply to #1443 comment.

Thanks
Ravi Theja

On Sun, 12 Jul 2020, 10:51 Felix Angelov, <notifications@github.com> wrote:

[2020-08-30 18:12] felangel commented on #1596
Going to close this for now since I'm still not convinced that the benefit of adding a `child` outweighs the cons described above. Feel free to comment with additional thoughts/examples and I'm happy to continue the discussion 👍

[2020-08-30 18:12] #1596 closed

[2020-08-30 18:13] felangel commented on #1560
Closing this for now since the majority of the feedback was in favor of keeping the API as is (or even potentially reverting back to using `bloc` rather than `cubit`).

[2020-08-30 18:13] #1560 closed

[2020-08-31 03:41] felangel commented on #1443
@rravithejareddy can you please share a link to a sample app which illustrates the issue? It's very difficult for me to help without being able to see the complete source code. Thanks!

[2020-08-31 13:37] JackBackstack opened #1682 "Wrong state in builder when yielding too fast"
First of all: thanks for this amazing library :)

More importantly: I think the builder doesn't take the state that was considered in the buildWhen method when the states are yielding too fast. I would expect to get the state in the builder method that I checked in the buildWhen method and not the latest state.

BlocBuilder Code
[code]

Output
[code]

Or do you have any other suggestion for this i

[2020-08-31 13:54] yk-theapps opened #1683 "[Inquiry] BlocListener in AppBar with Shoppingcart Badges number not listening to state change"
Hi @felangel ,

I have tried many ways to either use cubit or bloc to trigger state like NewItemAdded so Buildlistener in AppBar when received state change from bloc or cubit it should show badges numbers ( example add item into cart, so App bar in the shopping cart will show badges number of how many items inside) but seem, it didn't work as usual in AppBar. do you have any advice?

[2020-08-31 13:55] felangel commented on #1682
Hi @JackBackstack 👋
Thanks for opening an issue and for the positive feedback! Can you please provide a link to a sample app which illustrates the issue? In general, if you yield too quickly `build` will not be called because Flutter renders at 60fps but I would love to take a closer look and ensure it's not an issue in the library 👍

[2020-08-31 13:56] yk-theapps commented on #1683
* the last try was with BlocBuilder

[2020-08-31 13:58] felangel commented on #1683
Hi @yk-theapps 👋
Thanks for opening an issue!

Can you please share a link to a sample app which illustrates the issue? I'm not sure I understand the question because you mention BlocListener but have a snippet using BlocBuilder. Is your `bloc` properly yielding/emitting states? I would recommend checking out the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating) as well.

Let me know if

[2020-08-31 14:19] yk-theapps commented on #1683
sample with blocListener

![image](https://user-images.githubusercontent.com/18683120/91729766-a2337a00-ebd7-11ea-80dd-96deeb7cbd98.png)

class ShoppingCartBloc extends Bloc<ShoppingCartEvent, ShoppingCartState> {
  CatalogRepository _catalogRepository;
  StoreRepository _storeRepository;
  ShoppingCartBloc({@required CatalogRepository catalogRepository}) :assert(catalogRepository != null), _catal

[2020-08-31 18:18] zeusbaba commented on #1682
I can confirm that I have similar issue and it happens only with `v6.0.3`
I have downgraded to `v6.0.2` and issue disappears.

[2020-08-31 19:20] felangel commented on #1682
@zeusbaba can you please provide a sample app which illustrates the issue? Thanks! 🙏

[2020-08-31 19:28] felangel commented on #1682
@zeusbaba @JackBackstack can you try using the following branch and let me know if it addresses the issue? https://github.com/felangel/bloc/pull/1684

[2020-09-01 01:50] RobertoOrtis opened #1685 "Extend Jobs example with Graphql Subscriptions"
Hello,

I managed to implement bloc together with graphql inside my app by following the Jobs example. However, I have no idea how I could have graphql subscriptions and BLoC working together. It would be great if you could extend your jobs example to include subscriptions.

I am using:
-   graphql_flutter: ^4.0.0-alpha.3
-   bloc: ^6.0.2
-   flutter_bloc: ^6.0.2

[2020-09-01 02:09] rravithejareddy commented on #1443
These are files which support my question
[https://github.com/rravithejareddy/question](url)

Here I am facing two issues
![Screenshot (127)](https://user-images.githubusercontent.com/29831966/91786098-7be7fb80-ec24-11ea-95be-23d6ed0285bb.png)

1) In on change function I am unable to add "string of cropType" directly to filter.croptype list (which is from state), it giving me error as unmodifiable

[2020-09-01 03:35] felangel commented on #1682
@JackBackstack and @zeusbaba I tried the snippet above on both 6.0.3 and 6.0.2 and saw the exact same output. What is the problem you're trying to solve? I can reproduce the same behavior using `setState` -- if I call `setState` back to back faster than flutter can rebuild you will experience the same behavior.

[2020-09-01 03:47] munkhp opened #1686 "Support for separate multiple blocs of same type"
Hello,

 I was trying to implement a pagination for firestore. According to this video, https://youtu.be/poqTHxtDXwU, my best bet seems to have separate listeners for each and every 10 loaded documents so that they are still real time. I couldn't figure out how I could add more separate stream listeners on-demand dynamically using flutter bloc. I would like to know if it is possible with flutter b

[2020-09-01 06:43] flashiran1 commented on #778
What if we need a duplicate value in Listner?

[2020-09-01 07:57] JackBackstack commented on #1682
@felangel This gives the exact output for me. I also can't confirm it was working with any version before.

The problem I want to solve on a higher level:
I have a bloc that manages a list of objects which are stored in Firebase's Firestore. So I have an event to create an object and I have an event when backend data changed. Unfortunately the data changed state is fired so fast that the event for

[2020-09-01 08:27] LBXjixiangniao opened #1687 "Version 6.0.3, BlocBuilder does not work properly"
class MyApp extends StatelessWidget {
  CounterCubit _cubit = CounterCubit();
  @override
  Widget build(BuildContext context) {
    Future.delayed(Duration(seconds: 1),(){
      _cubit.emit(1);
      _cubit.emit(2);
      _cubit.emit(3);
    });
    return MaterialApp(
      home: Scaffold(
        body: BlocBuilder(
          cubit: _cubit,
          buildWhen: (preState, currentState) => curren

[2020-09-01 08:57] JackBackstack commented on #1682
@felangel clarification after checking with my real project:
In this demo snippet it did not change anything. In my real project in fact it changed the state that was passed to the build function. It's the state I wanted in the buildWhen function. That's working as expected. **Thanks a lot for this fix!**

Which raises another question. How reliable is this kind of architecture in general? When Fl

[2020-09-01 09:09] rravithejareddy commented on #1443
Please reply to my comment

On Mon, 31 Aug 2020, 09:11 Felix Angelov, <notifications@github.com> wrote:

[2020-09-01 09:29] zeusbaba commented on #1682
let me try to summarize my case;
i'm using
[code]
to make sure that ONLY those two states triggers rebuild.
However, when used `v6.0.3` other states were triggering rebuild as well, and this confused `builder` method as it expected only one of the defined states, see `buildWhen`.

when i downgraded to `v6.0.2`, this issue disappeared.

[2020-09-01 12:00] nerder commented on #1512
Why you don't recommend the `mixin` approach? @felangel

[2020-09-01 14:54] felangel commented on #1687
Hi @LBXjixiangniao 👋
Thanks for opening an issue!

This is a duplicate of #1682 and is being fixed as part of #1684 👍

[2020-09-01 14:54] #1687 closed

[2020-09-01 14:56] felangel commented on #1682
@zeusbaba @JackBackstack thanks for the feedback! I'm going to have #1684 merged and published to fix the potential incorrect build values when `buildWhen` and `listenWhen` are provided.

Can you provide a sample app to illustrate this issue? I'm not sure I fully understand what you're trying to accomplish, thanks!

[2020-09-01 15:02] #1682 closed

[2020-09-01 15:15] felangel commented on #1686
Hi @munkhp 👋
Thanks for opening an issue!

Can you please provide a sample app which illustrates the current setup and what you're trying to achieve? It would be much easier for me to help if you could provide sample code, thanks! 🙏

[2020-09-01 15:16] felangel commented on #1683
@yk-theapps can you please provide a link to a complete sample app on github or a gist? It's hard to help without seeing the complete source code and in the most recent snippet I don't see use of an `appBar` at all.

[2020-09-01 17:50] JackBackstack commented on #1682
@felangel
I'm not sure if I manage to create a sample app in the the next days but this is what I'm trying to archieve.

[2020-09-01 18:00] felangel commented on #1682
what do you mean by this? All events will be processed by the bloc and will emit states. The issue is states can be emitted more frequently than the UI can re-render but that shouldn't really be a problem and it isn't specific to bloc.

[2020-09-02 04:11] TheDudeAbides1984 opened #1689 "Expanding on the Timer App Example - Multiple Streams of the same bloc type?"
Hi Felix, first off thanks for all your work and general contributions.

This isn't an issue its a question and I hope its okay that I'm asking here. It appears this may be similar to what munkhp asked about multiple blocs of the same type.

I've implemented a modified version of your Timer tutorial onto a couple new test pages of my timer app I'm building. I was hoping I could ditch the timers an

[2020-09-02 04:44] munkhp commented on #1686
Hello @felangel,

 Thank you for your reply! I was thinking of different ways to implement "pagination" for firestore using flutter bloc with greatest efficiency to reduce billing costs while not losing the "real-time capability" of firestore but it seems it's an overkill to have multiple  BlocBuilders similar to having multiple StreamBuilders. I actually managed to solve my problem by adding the

[2020-09-02 04:44] #1686 closed

[2020-09-02 08:47] Puspharaj opened #1690 "Authentication user check error!!"
As per the flutter_bloc version.

 flutter_bloc: ^6.0.1
  firebase_auth: ^0.16.1
  google_sign_in: ^4.5.1

The above issue starts with deprecated method at the end of the authentication_repository.dart

[code]

The User from firebase and model get clashed easily.

Would you please provide alternative way to check authentication check?...the below one is deprecated and warns and do not compile anym

[2020-09-02 09:25] RollyPeres commented on #1690
Hi @Puspharaj 👋

`FirebaseUser` was renamed to `User`. Please follow the [migration guide](https://firebase.flutter.dev/docs/migration/) and make sure you're namespacing your packages to differentiate between firebase `User` and your own `User` class.

Hope that helps 👍

[2020-09-02 09:31] RollyPeres commented on #1689
Hi @TheDudeAbides1984 👋

You can use multiple blocs of the same type as long as they are siblings.

Not sure exactly what sort of UI you're after, but you could have a `Column` /`Row` which contains multiple BlocProvider<TimerBloc> and user each bloc state to generate a `Text` widget.

Let me know if you need further clarification. ✌

[2020-09-02 10:27] Puspharaj commented on #1690
[code]
[code]

Those above changes will solve the errors.

[2020-09-02 10:27] #1690 closed

[2020-09-02 11:20] newbieflutter opened #1691 "How to convert previous nested bloc to the latest bloc version 6"
Hi,
     Here is my existing codes on version 0.9.1 of last year. I would like to migrate to latest version. I am stuck here.

My existing codes are as below. This codes have been working fine. The issue here is that previously I can initiate the bloc in the init function then in the BlocProviderTree I can call the parent bloc to call the child bloc into it.
[code]

My new codes is as below.
[code

[2020-09-02 11:31] shamnex commented on #1592
Hi @RollyPeres,

I've tried this way of doing it and while it worked really well but I had one issue,  especially with the `ListView.builder` and I would like so hear your opinion on this:

`ListView.Builder` destroys it's child widgets when those widgets are scrolled off the screen and in this use-case closing each `ItemBloc` that is off the screen. This seems like a good thing until you have to

[2020-09-02 12:07] RollyPeres commented on #1592
Hi @shamnex 👋

I find using a dedicated bloc for each list item to be a workaround actually, so I don't encourage doing so. Normally you would manage the entire list using a single bloc.

Your question is very subjective and there's no right answer to it; it basically all boils down to your exact requirements.

If reducing the number of async requests is what you care about, then you can definitel

[2020-09-02 14:56] felangel commented on #1443
@rravithejareddy can you please update the github repo to include all the files necessary to run the example? Thanks!

[2020-09-02 14:58] yk-theapps commented on #1683
okay, but I need time to split the project. as it quite big couldn't directly share.  I will try to create a sample project for that. thanks

[2020-09-02 18:36] rravithejareddy commented on #1443
But it depended on local mongodb, still I will send you

On Wed, 2 Sep 2020, 20:27 Felix Angelov, <notifications@github.com> wrote:

[2020-09-02 18:38] felangel commented on #1443
Can you please create a very simple flutter app to demonstrate the issue? It would be best to have a super simple example rather than a large application.

[2020-09-02 18:47] shamnex commented on #1592
@RollyPeres Thanks a lot for the feedback! And you are right, there's exactly no right answer to this. I think `cacheExtent` would be the best solution for my use-case.

Thanks again.

[2020-09-02 23:15] TheDudeAbides1984 commented on #1689
Hi @RollyPeres ,

Thanks for the quick response! Oh okay so instead of having one `BlocProvider<TimerBloc>` as the ancestor of my material app, I bring them way down in the widget tree and use a separate one for each stream, is that correct?

Would you mind expanding on what the the limitation is of them having to share a parent widget?  I ask because currently my app has a 'RowTimerWidget' for th

[2020-09-03 02:58] felangel commented on #1691
Hi @newbieflutter 👋
Thanks for opening an issue!

Technically, the equivalent code would be:

[code]

I think it's worth pointing out that in this setup, it's up to you to manually close each of those blocs. Also, I wouldn't generally recommend having the `dashBloc` expose other blocs like `apiBloc` and `timerBloc`. Instead, I would recommend having one bloc per feature rather than one bloc per re

[2020-09-03 02:58] #1691 closed

[2020-09-03 03:03] felangel commented on #1689
Hi @TheDudeAbides1984 the main things to keep in mind when providing blocs are:

- the provided bloc will be available to all children in the subtree
- when performing a bloc lookup, the closest bloc in the widget tree will be returned

This means that you should generally provide blocs as low in the widget tree as possible (scope them to only the widgets that need access) and avoid providing mult

[2020-09-03 03:03] felangel commented on #1592
Closing this for now since it appears the original question has been answered 👍

[2020-09-03 03:03] #1592 closed

[2020-09-03 04:18] #1189 closed

[2020-09-03 04:44] felangel commented on #1576
Hi @andrea689 I took a look and the issue is the bloc state is nested map with a large amount of elements (100) and in order for `equatable` to compute whether the values are equal using `DeepCollectionEquality` it must compare each element in the map. You could avoid extending equatable in this case if you don't care about having value equality or alternatively you can manually override `==` and

[2020-09-03 04:44] #1576 closed

[2020-09-03 04:53] newbieflutter commented on #1691
Hi Felangel,
                    Thank you for your reply. This how I am doing the close actually. I this correct to close in this dispose function?
[code]
"Instead, I would recommend having one bloc per feature rather than one bloc per resource/data source. " I dont quite get you on this cause in my case I need like something to oversee the other bloc ?

[2020-09-03 04:57] newbieflutter commented on #1691
Hi Felangel,
                    I tried your solution I got the below errors.
[code]

[2020-09-03 06:59] RollyPeres commented on #1689
You would indeed use a separate bloc driving each text as a result of an internal ticker stream.

No, you can still keep your functionality.

[2020-09-03 07:06] RollyPeres commented on #1691
You also need to provide that bloc in your `MultiBlocProvider`

[code]

[2020-09-03 09:50] rravithejareddy commented on #1443
I just created sample app please find link below
https://github.com/rravithejareddy/flutter_mysample_app

In this if hit right top corner burger button it will open filter.
when I add pulses in to filter it's giving me back crops which are pulses
type.
when i add oilandseeds in to filter filtered_crops_bloc is not
returning any crops because there is no oilandseed croptypes, that's fine,
but it's

[2020-09-03 10:01] glin94 opened #1693 "ScrollController not attached to any scroll views."
E/flutter (13373): [ERROR:flutter/lib/ui/ui_dart_state.cc(166)] Unhandled Exception: 'package:flutter/src/widgets/scroll_controller.dart': Failed assertion: line 112 pos 12: '_positions.isNotEmpty': ScrollController not attached to any scroll views.

[code]

[2020-09-03 14:18] JohnGalt1717 opened #1694 "6.0+ BlocProvider that wraps MaterialApp fails to be added to home widget's context"
**Describe the bug**
Per above:

App/build
BlocProvider<ABloc> => return MaterialApp(home: SomePage) => SomePage.Build => BlockBuilder<ABloc> throws.

**To Reproduce**
Steps to reproduce the behavior:
1. in the root App Stateless Widget wrap the MaterialApp() in a blocprovider.
2. In the home: of MaterialApp use a BlocBuilder to get the blocProvider's bloc
3. BlocProvider.of() called with a contex

[2020-09-03 14:37] felangel commented on #1694
Hi @JohnGalt1717 👋
Thanks for opening an issue!

Can you please provide a sample app which reproduces the issue? Thanks 👍

[2020-09-03 14:40] felangel commented on #1693
Hi @glin94 👋
Thanks for opening an issue!

Are you experiencing this issue when running the [infinite list example](https://github.com/felangel/bloc/blob/master/examples/flutter_infinite_list/lib/posts/view/posts_list.dart)? If not, can you please share a link to an app which reproduces the issue? Thanks 👍

[2020-09-03 16:25] yk-theapps commented on #1683
hi @felangel
Thanks for your time. I think I figure out the issue already.  It was due to that, there are two bloc providers in 2 parts.
One at Navigator by route name and another provider at destinated route. I didn't notice there are set 2 providers there.  when I moving or simulate code for you to review. I saw that.

[2020-09-03 16:25] #1683 closed

[2020-09-03 16:30] mtkgeek commented on #1693
I'm currently trying to run the infinite list example too and this error pops up

[2020-09-03 18:50] ThinkDigitalSoftware opened #1695 "Motion to export the bloc family bloc extensions from package:bloc"
Libraries like HydratedBloc, cubit (now merged) replay_bloc, and others are nice additions to the bloc library that are going to suffer from visibility issues.

I propose we integrate them all into one library to make importing and discovery easier. I don't see any downsides to this approach.

[2020-09-03 23:36] MahdiShahadat commented on #1546
I have been also trying to tackle similar issue while being a newbie in flutter_bloc. My issue is similar to the `https://bloclibrary.dev/#/flutterfirebaselogintutorial`example, where if the user is Authenticated, the BlocListener navigates to Home page, but I have been trying to add another check from a different bloc, for example, if the user is Authenticated and if that user has some data store

[2020-09-04 08:40] rravithejareddy commented on #1443
Did you get my issue?

On Thu, 3 Sep 2020, 15:19 rravitheja reddy, <rravithejareddy@gmail.com>
wrote:

[2020-09-04 12:27] Pakkapao opened #1696 "Builder is triggered even though buildWhen returns false."
**Describe the bug**
I'm not sure if this relates to #1682 which was fixed in 6.0.4.

This piece of code works as expected for `flutter_bloc: 6.0.2`. The widget should only be rebuilt when state is **SubjectBookLoadSuccess**.
![image](https://user-images.githubusercontent.com/11070293/92238141-c4ccd800-eee2-11ea-87cf-32744ca33bb4.png)

However, after upgrading to `flutter_bloc: 6.0.4`. The builder

[2020-09-04 14:13] darek607 opened #1697 "Why mapEventToState must return a new state?"
According to docs the `mapEventToState` function **must** return a new state:

  /// [mapEventToState] is called whenever an [event] is [add]ed.
  /// [mapEventToState] must convert that [event] into a new [state]
  /// and return the new [state] in the form of a `Stream<State>`.

Is it really obligatory to yield a new state per event? What if the event did not change the state for some reason? (s

[2020-09-04 14:32] RollyPeres commented on #1697
Hi @darek607 👋

I see why that might be confusing, there's probably room for improvement with the description.

There's no need to return a new state as a result of an event. You can yield a new state, multiple states or no state at all.

No, you don't have to yield anything in this case.

Hope that helps ✌

[2020-09-04 14:43] felangel commented on #1697
Hi @darek607 👋
Thanks for opening an issue!

As @RollyPeres mentioned, it's not necessary and I've updated the documentation as part of #1698 👍

[2020-09-04 15:48] #1697 closed

[2020-09-04 16:01] felangel commented on #1696
Hi @Pakkapao 👋
Thanks for opening an issue!

I'll investigate this further but it would be super helpful if you could provide a simple app that reproduces the issue 👍

[2020-09-04 16:53] darek607 commented on #1697
Thank you guys very much🙇

[2020-09-04 17:22] Pakkapao commented on #1696
Hi @felangel , https://github.com/Pakkapao/bloc_flutter

[2020-09-04 19:19] #1696 closed

[2020-09-04 19:23] felangel commented on #1696
@Pakkapao this has been fixed as part of #1699 and included in v6.0.5 🎉

[2020-09-04 21:09] fotiDim commented on #1429
@felangel I understand what you suggest however I cannot do the same thing with `bloc` since it complains that `emit` should not be used directly. In some cases I guess I could downgrade my blocs to cubits but there are cases where I need to have both events and functions that emit states.

[2020-09-04 23:12] mahmudemam opened #1700 "listenWhen is never called for the first time of BlocConsumer created"
I started to use Cubit rather than bloc (`flutter_bloc: ^6.0.5`)

I have a home screen which is a grid of products loaded through cubit, when any of the products' card is tapped a new screen is pushed with a new cubit created for that product.

At the top level of the product screen, I listen for the `ProductInitial` state, when it is emitted the cubit method `fetchProduct` is called, however, thi

[2020-09-05 03:58] rravithejareddy opened #1701 "How to change complex state class in UI and send back to bloc as a event."
Please see my sample app which exaplains my problem below
[https://github.com/rravithejareddy/flutter_mysample_app](https://github.com/rravithejareddy/flutter_mysample_app)

In app I have complex filter class (having lists as fields) which I am using as state and using at UI but how to add element to it using event. Since it's a class with final list it's not modifying, do I need to create set met

[2020-09-05 04:19] docmobile17 commented on #1696
@felangel ,  Does this fix also apply to Cubit ?

[2020-09-05 04:33] felangel commented on #1696
Did you mean BlocListener? If so yes 👍

[2020-09-05 04:53] docmobile17 commented on #1696
i meant CubitListener,

I just thought this case also happened in CUBITLISTENER, sorry in advance if my guess is wrong,

[2020-09-05 04:54] felangel commented on #1696
CubitListener doesn’t exist. BlocListener is compatible with cubits 👍

[2020-09-05 04:56] docmobile17 commented on #1696
Ok @felangel , Thank you.

[2020-09-05 05:15] omidraha commented on #1540
Can you explain why is not perfect?

[2020-09-05 05:19] TheDudeAbides1984 commented on #1689
Hey @felangel, thanks for the response, very helpful! I've learned a lot the last few days between your guys' responses and diving into the Bloc Access portion of the docs. Moving the bloc providers down has been a bit of a struggle because I keep running into the 'BlocProvider.of() called with a context that does not contain a bloc....'

But there is plenty to read about that on here and Stack Ov

[2020-09-05 05:42] selvesandev opened #1702 "Populate the TextEditingController's text value while editing a form."
I am trying to create a edit form where my `TextField` is using `TextEditingController` to handle the values. To display the fetched api's data in the `TextField` with the controller i'm trying to follow these steps.

1) Make a api call to fetch the data when screen loads.

[code]

2) The `TextField` in the `SellerProfileForm` widget is wrapped by the BlockBuilder to display the state's value.

[c

[2020-09-05 14:49] felangel commented on #1702
Hi @selvesandev 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the issue? I'm happy to open a pull request 👍

[2020-09-05 15:13] mikededo opened #1703 "BLoC state not updating on list items order change"
**Describe the bug**
Hello! 😄
So I have an app that uses `moor` as a local database combined with bloc in order to keep the app state. The thing is that the state of a bloc (in this case the `WorkoutsBloc`) is not updating when the moor database notifies a change. The bloc has a `streamSubscription` to a repository which belongs to the database dao that manages the workouts.
The user can create ne

[2020-09-05 15:33] mikededo commented on #1701
Hello @rravithejareddy !

After lookin through your code, I've seen that you create all list as `const`. This implies that you will not be able to modify the list (it is not growable). In order to _protect it_, so to say, dart makes it a `UnmodifiableListView`.

Instead of having all lists declared as `const` when initialised,
[code]
try not making them `const`:
[code]

I will create a pull reques

[2020-09-05 15:38] rravithejareddy commented on #1701
Thanks for reply, but in bloc we should not change the state directly, we should change through only events right.

[2020-09-05 15:44] mikededo commented on #1701
Yes, but I do not know how am I changing the _bloc state directly_ in this case. If you create constant lists, you will not be able to add nor remove items.

If you check the pull request I've made, you will see that when a filter button is pressed, then it adds an event to the bloc you have created and then the state is modified.

Otherwise, I may not be understanding your problem.

[2020-09-05 16:25] rravithejareddy commented on #1701
If my filter is extended with Equatable (I want compare the filter changes as well for updating check boxes) below method I am passing the same state object to check_box_list

<
CheckBoxList(
              onSelected: (Filter filter) => {
                    BlocProvider.of<FilteredCropsBloc>(context)
                        .add(FilterUpdated(filter))
                  },
              filter: st

[2020-09-05 16:41] mikededo commented on #1701
I don't understand what this has to do with the `Filters.initial` constructor and removing the const errors.

When I forked your app, cloned and opened it, I tried to apply one of the three filters. When one was clicked, an execption was raised and it was due to the fact that you are making the lists const (`UnmodifiableListView`s). I understood that it was that your problem.

[2020-09-05 17:14] rravithejareddy commented on #1701
onemore problem related to this If you click oilandseeds filter, checkbox will not be checked because there is no crops in this type but I have to check the checkbox to user. it's not happening, it's because bloc is not rebuilding tree due to no state changes, only crops state is extended with Equatable that's why it's checking with only crops, I want to check with filter state as well for that I

[2020-09-05 17:43] mikededo commented on #1701
It keeps happening because you are trying to modify an `UnmodifiableListView`. As the name states, it can not be modified (the [api](https://api.dart.dev/stable/2.9.2/dart-collection/UnmodifiableListView-class.html) - I would recommend you reading it).
It is also printed in the debug console of your editor (in my case I'm using VSCode).

I'm creating a pull request with the problem solved, since i

[2020-09-05 20:12] mikededo commented on #1442
Would it be possible to create the different events and then, the generator would create all `_mapEventNameToState` in the `mapEventToStare` function?
Or to create an option that would build so.
I have no experience in building vscode extensions, but I will give it a look.

[2020-09-06 10:17] ZAT90 opened #1704 "blocbuilder is triggering first time but not yielding updated data after triggering event again"
1. I am working with sqflite to add data to a table and then add, update or retrieve all the data from the table. I am using blocbuilder  and triggering "getCartProducts" event to retrieve the values from the database. I am getting the data only for the first time. But when am triggering "addToCart" event, right after that I want to get the updated table by triggering "getCartProducts" event again

[2020-09-06 10:51] ZAT90 commented on #1704
this is the bloc:
import 'package:timeMachine/model/cartDb.dart';
import 'package:timeMachine/model/products.dart';
import 'package:dio/dio.dart';
import 'package:flutter/cupertino.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:timeMachine/storage/dbCart.dart';

enum DbEvStatus { getCartProducts, addToCart, updateCartProducts }

class DbEvents {
  final int id;
  final DbE

[2020-09-06 16:45] amanuel15 opened #1705 "is there a way to use a single bloc in more than one instance?"
I have a bloc that receives data from firestore and provides it and what i am wondering is if i can use the same bloc but for different requests and get notified separately so the other widget dont get rebuilt. What I have in mind is more than one horizontally paginated List Views in the same page and build each of them separately as if they were provided with different blocs.

[2020-09-07 00:51] ethansbenjamin opened #1706 "FirebaseAuth Migrate to Version "^0.18.0+1" in the Firebase Login Example."
**Is your feature request related to a problem? Please describe.**
Dealing with login errors in FlutterFire auth for the old version is troublesome. Particularly when attempting to link credentials. There is only documentation for the latest version of FlutterFire. The version that is used in the latest FirebaseLoginBloc example does not have the class FirebaseAuthError, which returns an email in

[2020-09-07 06:40] mikededo commented on #1705
You could use `buildWhen` method which allows you to choose if you want to build it's child or not.
Check the [api](https://bloclibrary.dev/#/flutterbloccoreconcepts?id=blocbuilder), it explains the `buildWhen` method, when you are using `BlocBuilder`. It is the same in the `BlocConsumer`.

[2020-09-07 10:38] amanuel15 commented on #1705
I guess that is the only way to achieve what i want, I hoped there was some other way.

[2020-09-07 10:52] mikededo commented on #1705
Do you wrap all lists as a child of the `BlocBuilder` or do you have a `BlocBuilder` for each list (which is how I would do it)?

[2020-09-07 11:00] amanuel15 commented on #1705
I'm planning to have BlocBuilder for each, which i guess restricts me to make my state the type with the const factory and copywith the fields in the bloc to avoid mapping each state in every builder.

[2020-09-07 11:45] mikededo commented on #1705
I don't undestand what do you mean. Could you provide an example?

[2020-09-07 12:04] amanuel15 commented on #1705
[code]
this is the traditional way of doing the **state** class. But if you do this you have to **map** each (or **maybeMap** and account for **orElse**) of this state which in my case i may not want to rebuild based on.

Instead you make the state:
[code]
so now you don't have to map each state, you just access any state by its fields like **state.results**

[2020-09-07 12:31] mikededo commented on #1705
Hmmm, I'm not used to using the freezed package. I will search about it and if I come to a solution I wi tell you! 🙏

[2020-09-07 12:34] amanuel15 commented on #1705
Thanks man!

[2020-09-07 14:17] heqingbao commented on #74
The named parameter 'bloc' isn't defined.  Try correcting the name to an existing named parameter's name, or defining a named parameter with the name 'bloc'.

[2020-09-07 15:28] chethanjkulkarni commented on #74
It means your context is missing the bloc that you are trying to access
You should pass an instance of ```CounterBloc``` either using
[code]
or, if you already have an existing instance of ```CounterBloc```, you can pass using
[code]

[2020-09-07 16:41] rravithejareddy commented on #1154
Can you show the example if state class contains list properties then how to use with equatable
(Equatable properties should always be copied rather than modified. If an Equatable class contains a List or Map as properties, be sure to use List.from or Map.from respectively to ensure that equality is evaluated based on the values of the properties rather than the reference.)

[2020-09-07 16:45] rravithejareddy commented on #1701
Can make filter class extending with equatable and work as usual. I found hint from here
(Equatable properties should always be copied rather than modified. If an Equatable class contains a List or Map as properties, be sure to use List.from or Map.from respectively to ensure that equality is evaluated based on the values of the properties rather than the reference.)

[2020-09-07 17:08] rravithejareddy commented on #1231
@pradt  Can your show how did you Used equatable class with list properties?
https://bloclibrary.dev/#/faqs?id=when-to-use-equatable

[2020-09-07 18:13] MatthewCoetzee412 opened #1707 "Streambuilder not rebuilding after BLOC event while using Built value"
I am trying to implement pagination in my application but I have not been successful in doing so.

I am using Firebase, specifically Firestore with the BLOC pattern alongside Built Value which I started using recently to make pagination easier.

I would really appreciate any help or referral links how to use these technologies together.

My application architecture is as follows:

https://i.stack.

[2020-09-07 21:02] wujek-srujek opened #1708 "Should certain types be renamed? `BlocXXX` -> `CubitXXX`"
I have been looking through the code of the latest version and I noticed the `Cubit` type has become more prominent. For example, `BlocBuilder` first type parameter is actually a `Cubit` (as it is the root of the hierarchy and BLoCs are Cubits). Shouldn't it be renamed to `CubitBuilder`, then? Right now I need to use a `BlocBuilder` even if I don't have a single BLoC in my codebase because I have

[2020-09-07 21:24] wujek-srujek commented on #1546
Isn't your problem solvable using this approach (pseudocode)?

[code]

[2020-09-07 21:40] felangel commented on #1708
Hi @wujek-srujek 👋
Thanks for opening an issue!

This is a duplicate of https://github.com/felangel/bloc/issues/1560. TL;DR adding Cubit widgets increases the API surface area without providing significant benefits and most of the feedback on the original issue was in favor of leaving the naming as is (or even using `bloc` for everything) in favor of keeping a simple/small API surface.

Hope that

[2020-09-07 21:40] #1708 closed

[2020-09-07 21:47] felangel commented on #1707
Hi @MatthewCoetzee412 👋
Thanks for opening an issue!

I'm guessing the issue is the related to the fact the new state being emitted is considered equal to the previous state as described by [the FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating). Are you able to share a link to a sample app which illustrates the issue? It would be much easier for me to help/provide suggestions if I am abl

[2020-09-07 21:50] felangel commented on #1705
Hi @amanuel15 👋
Thanks for opening an issue!

I'm not sure I understand the problem you're having.

It's totally up to you how you choose to represent the state of your feature so if it's easier to have a single base class with a bunch of properties as opposed to multiple subclasses then there's nothing wrong with going with the single class approach.

[2020-09-07 21:54] felangel commented on #1704
Hi @ZAT90 👋
Thanks for opening an issue!

The problem is you are mutating state and maintaining internal state in your bloc as opposed to creating new instances of state and keeping all state as part of the bloc's state class. I would highly recommend doing the following:

1. Change your bloc state type to something more specific than `List` (`List<dynamic>`)
2. Remove `cartProducts` from your blo

[2020-09-07 21:54] #1704 closed

[2020-09-07 22:10] felangel commented on #1703
Hi @mikededo 👋
Thanks for opening an issue!

I took a look at the repo and it looks like the re-ordering of the exercises is just modifying local state https://github.com/mikededo/WorkoutTracker/blob/ade14450f8d69021616aa9e69a13145315303d1c/lib/src/ui/widgets/create_workout/add_sets/create_workout_add_sets.dart#L78. I would recommend adding an event to the `ExerciseBloc` when the order is changed

[2020-09-07 22:10] #1703 closed

[2020-09-07 22:12] felangel commented on #1700
Hi @mahmudemam 👋
Thanks for opening an issue!

Listeners are called on state changes only and do not include the initial state (that is working as designed).

Yes, builders must always return a widget so the condition does not apply to the initial state. Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-09-07 22:12] #1700 closed

[2020-09-07 22:18] felangel commented on #1694
Closing for now since there isn't enough information to reproduce the issue. Feel free to comment with additional information or a sample app and I'm happy to continue the conversation 👍

[2020-09-07 22:18] #1694 closed

[2020-09-07 22:21] felangel commented on #1695
Hi @ThinkDigitalSoftware 👋
Thanks for opening an issue!

I've thought about this and I would really prefer from a maintenance standpoint to keep the packages decoupled and for cases like `hydrated_bloc` we would need make bloc have a dependency on `flutter` (in its current state) which I don't want to do.

I'm open to additional thoughts/feedback and am all for making the other packages more visib

[2020-09-07 22:23] felangel commented on #1689
@TheDudeAbides1984 that's great to hear! I'm closing this issue for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-09-07 22:23] #1689 closed

[2020-09-07 22:24] ThinkDigitalSoftware commented on #1695
What if, instead of merging them, they were just exported but still individually managed? Just like how bloc is exported from flutter_bloc. Just so that people who depend on flutter_bloc have all the other packages as options built in without having to discover or import them. Is this a bad idea? The libraries _are_ closely related

[2020-09-08 00:18] MatthewCoetzee412 commented on #1707
Hi Felangel, thank you for the swift response! I attempted to make a mock of my app to reproduce the problem but the problem comes from the Streambuilder not refreshing with the updated Firestore data after a BLOC event which I couldn't model accurately enough to reproduce the problem, so I would have to make an app using Firebase. I will post the link tomorrow to the repository, thanks for your h

[2020-09-08 04:37] samramez opened #1709 "How to call and use a bloc/cubit on page start inside a StatefulWidget"
The scenario I'm looking for is pretty simple but couldn't find any example which addresses that.

I have a `StatefulWidget` which upon its creation, I wish to make an API call (on page start). Following that, loading appears on the screen and when the result is returned, the `StatefulWidget` updates accordingly.

My biggest challenge is where and how should I provide my `bloc`/`cubit` object.

My

[2020-09-08 10:00] mikededo commented on #1703
Hey @felangel for taking your time!

I have revised what you have told me. It is true that the state is changed locally, but that is not the issue since the new order is calculated before being inserted in the database. When going to the summary screen, after having moved one exercise, you can see that the order is has changed. This is the order that is passed to the `WorkoutsBloc` and then, befor

[2020-09-08 10:17] mikededo commented on #1703
It is actually very strage 🤔.

I have added a new bloc in the last commits and this bloc is actually update when theres a change!

[2020-09-08 10:27] RollyPeres commented on #1709
Hi @samramez 👋

1. If you wish to access your cubit/bloc within `initState` you would need to provide your bloc above your `StatefulWidget`, or else it will not be accessible.
2. You can add it in `initState` as long as your `id` never changes. If it changes then you might want to trigger your call from `didUpdateWidget` too.

[2020-09-08 11:17] amanuel15 commented on #1705
You are right i just didn't like the single class implementation.

Excuse me if its not the place to ask my question as it is not an issue that pertains to your package.
"Basically what i want to do is create blocs, _which are derived from an already predefined bloc with the same states and events just different in the event parameters they accept_, based on some external event(maybe a user adds a

[2020-09-08 11:55] mikededo commented on #1705
If you could provide a simple example of how would it look, it would help us understand 😄.

[2020-09-08 12:48] flashiran1 opened #1710 "can not run in first time"
hi i can not run

[code]

in first run screen in initState() needed context but i set context but not work

[code]

my build Widget

[code]

and BlocListener

[code]

[2020-09-08 15:19] mikededo commented on #1703
I have tried to add the following:
[code]
Now, since the state changes, it does rebuild the widgets. This is a solution, yet I do not know if it is good practise, since there is no asynchronous calls in between.
So, for any reason, the error (I can't see what I'm doing wrong with the bloc) is that even though the state has changed (the state and then new state contain different lists), it returns

[2020-09-08 15:46] felangel commented on #1703
@mikededo thanks for the update! It sounds like it might just be an equality comparison issue. Can you try returning a new instance of the workouts list?

[code]

[2020-09-08 15:51] felangel commented on #1710
Hi @flashiran1 👋
Thanks for opening an issue!

Can you please share what `goTargetScreen` is doing? If you are pushing a new route you need to provide the bloc to the new route. Please see the [bloc access recipe](https://bloclibrary.dev/#/recipesflutterblocaccess?id=anonymous-route-access) for more information.

Closing for now but feel free to comment with additional information and I'm happy to

[2020-09-08 15:51] #1710 closed

[2020-09-08 15:58] mikededo commented on #1703
It still only works if I yield `WorkoutsLoading` before. I had already tried using `List.from()`  which did not work either.

Are the items from the list suposed to extend `Equatable` as well? Or it should work without it?

[2020-09-08 16:00] felangel commented on #1703
Yes, the items should also extend Equatable in order for the comparison to work properly

[2020-09-08 16:03] mikededo commented on #1703
Hmm, I imagined it could be that.

I've been checking the classes generated by the `moor` package, which I'm using as a backend, and it already overrides the `hashCode` and the `==` operator. Does it make any difference?

[2020-09-08 16:05] felangel commented on #1703
No, should be fine to manually override them. Can you verify that the new list is not equal to the old list?

[code]

[2020-09-08 16:07] mikededo commented on #1703
It does return true.
[code]

[2020-09-08 16:15] felangel commented on #1703
Just to clarify, it returns `true` meaning the two instances are equal? If so that's the issue and you just need to investigate why

[2020-09-08 16:15] mikededo commented on #1703
No, it is the result of `assert(event.workouts != state.workouts)`, which mean that they are different.

[2020-09-08 16:17] felangel commented on #1703
can you verify that the entire new state is different from the previous?

[code]

[2020-09-08 16:21] mikededo commented on #1703
In this case it does throw an assert exception. So the states are equal? 🤔

[2020-09-08 16:21] felangel commented on #1703
yeah which likely means that props are incorrectly overridden in your state class

[2020-09-08 16:22] mikededo commented on #1703
Is there a way I can debug it? Or what would you recommend?

[2020-09-08 16:25] felangel commented on #1703
I would recommend removing your props one by one from the state props override and see when the states are considered different. Then you'll know that the commented prop is the one which is causing the issue and can investigate whether it correctly overrides `==` and `hashCode`.

[2020-09-08 16:36] mikededo commented on #1703
And, when a state has a list of items, can I use the spread operator to add all items to the props list?

[2020-09-08 16:39] felangel commented on #1703
@mikededo you don't need to, you can just pass the entire list to props

[2020-09-08 16:59] mikededo commented on #1703
It takes into account the order of the items on the list, doesn't it?

[2020-09-08 17:03] mikededo commented on #1703
When comparing `[Pull Up, Row, Lateral Pulldown, Chin Up]` with `[Chin Up, Pull Up, Row, Lateral Pulldown]` returns true.

[2020-09-08 17:16] felangel commented on #1703
hmm strange will try to reproduce right now

[2020-09-08 17:19] mikededo commented on #1703
Here I'm just priting one of the properties of the object, the comparison is done with the lists.

[2020-09-08 19:16] moisedestin opened #1711 "Previous state is same as current state in blocbuilder after update"
Hello I'm relatively new to the bloc pattern in flutter.

I have a simple listing app, when I make change in the the bloc of my model state, Blocbuilder in my widget see the change of state, but it didn't see any change at the model state as either previous and current state have the same new value that I changed.

**My model**
[code]

**My State**
[code]

**Part of my bloc**
[code]

I know that I

[2020-09-08 20:05] wujek-srujek commented on #1708
I wasn't asking if you should add Cubit widgets, but rather rename the existing ones starting with `Bloc` to start with `Cubit`, because this would be correct, and the current state of affairs isn't. For example, it just doesn't sound right to say you use a `BlocBuilder` with a `Cubit` instance which is not a `Bloc`, but it is always correct to say you use a `CubitBuilder` with an instance of a  `

[2020-09-08 20:13] wujek-srujek commented on #1708
BTW, where does the name 'cubit' come from, what does it mean?

[2020-09-08 21:15] MatthewCoetzee412 commented on #1707
Hi Falangel,

Below is a replication of the problem:
[https://github.com/MatthewCoetzee412/built_value_bloc.git](url)

If you add a Food item, the Streambuilder does not update itself.
I hypothesise this might be due to my architecture with the BVPipe. That is a necessary part of my architecture as it converts the QuerySnapshot to a custom model and checks for errors. I'm not sure how else to make

[2020-09-08 21:16] felangel commented on #1708
@wujek-srujek this decision was made because if we wanted to be really strict then the entire flutter_bloc package should also be renamed to `flutter_cubit`. That would be an extremely disruptive change just for the sake of naming. The usage of `BlocBuilder` with an explicit `cubit` parameter is pretty rare and I'm still debating just renaming it back to `bloc` so that everything is bloc-based 👍

[2020-09-08 21:40] MahdiShahadat commented on #1546
@wujek-srujek Thank you so much for your reply!
I ended up solving it using this approach:
  @override
  Widget build(BuildContext context) {
    return MultiRepositoryProvider(
      providers: [
        RepositoryProvider<AuthenticationRepository>(
          create: (context) => AuthenticationRepository(),
        ),
        RepositoryProvider<LocalDBRepository>(
          create: (context) => L

[2020-09-08 22:08] RollyPeres commented on #1707
Hi @MatthewCoetzee412 👋

- you're extending equatable on your events, but you're also using a field of type `DocumentSnapshot`; your equatable is not gonna work here since `DocumentSnapshot` doesn't extend equatable, not to mention that a data source type shouldn't be present inside your model.

- the last observation also applies to state classes containing `BuiltList<Food>`.

- instead of using

[2020-09-09 02:09] samramez commented on #1709
Thank you @RollyPeres for the response.

So if I understood correctly, you're suggesting that I create the `bloc` on the parent Widget and pass it to the `StatefulWidget`'s constructor, and then pass it to the `State` class, correct?

If that's the case, is it safe to store a [assuming] heavy object like `bloc` as the class field? (memory leak concerns)

[2020-09-09 02:17] ZAT90 opened #1712 "bloc listener only gets called with initial state but not with state change"
Hi,
I am following your todo app tutorial to implement flutter bloc. I am using bloc listener to listen to the state change. but it only listens to the initial state and does not show changes based on state change. would you please tell me what is the mistake in the following code. i have tried and searched to find a solution but not a clear one.
**this is where I am providing the bloc in my home

[2020-09-09 02:31] ZAT90 commented on #1704
https://github.com/felangel/bloc/issues/1712
sorry to bother you but just came across another issue on the way. a bit stuck with this. would be nice if u could do some help. Thanks a lot man

[2020-09-09 02:35] felangel commented on #1703
@mikededo I wasn't able to reproduce the issue (Equatable does take order into account when evaluating equality). I would recommend tracing through each of the items in the list (`Pull Up`, `Row`, etc...) and check the class implementations to see if they override equality comparisons properly. Somewhere down the chain one or more instances are not properly overriding `==` and `hashCode`.

[2020-09-09 02:37] felangel commented on #1709
@samramez the recommended approach is to wrap your widget in a `BlocProvider` to provide the bloc instance to the children. Then you can access them via `BlocProvider.of<MyBloc>(context)` or `context.bloc<MyBloc>()`. This ensures you don't have to worry about memory leaks because the `BlocProvider` will handle closing the bloc for you.

Closing for now but feel free to comment with additional ques

[2020-09-09 02:37] #1709 closed

[2020-09-09 02:41] felangel commented on #1712
Hi @ZAT90 👋
Thanks for opening an issue!

Have you taken a look at the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating)? You should not be maintaining internal state in your bloc (`cartProducts`) because you are just mutating the same list of products and yielding it which results in the bloc ignoring the state (since it is equal to the previous state).

You should also provide a type

[2020-09-09 02:41] #1712 closed

[2020-09-09 02:43] felangel commented on #1711
Hi @moisedestin 👋
Thanks for opening an issue!

In order for `Equatable` to work properly you need to also make `ListingForm` extend `Equatable`.

Closing for now but if you're still having trouble after making `ListingForm` extend `Equatable` then please create a sample app which illustrates the issue and I'm happy to take a look and open a pull request with suggestions 👍

[2020-09-09 02:43] #1711 closed

[2020-09-09 02:45] felangel commented on #1705
@amanuel15 you should be able to dynamically create blocs in response to button taps and you can make them derived from existing blocs by defining some some sort of bloc factory. As @mikededo mentioned, it's hard for us to help without more context so if you can share an example of what you're trying to achieve and what you're tried it would help us give better suggestions/feedback 👍

[2020-09-09 02:46] felangel commented on #1702
Closing for now since there isn't a reproduction sample. Feel free to provide a link to a sample app and I'm happy to take a look and open a pull request with suggestions 👍

[2020-09-09 02:46] #1702 closed

[2020-09-09 02:49] felangel commented on #1701
Thanks so much for the support @mikededo 🙏 💯

@rravithejareddy you can make `Filter` extend `Equatable` and you should be able to achieve the desired behavior as long as you are always returning new instances rather than modifying the same instance 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2020-09-09 02:49] #1701 closed

[2020-09-09 03:23] felangel commented on #1275
This will be included in `bloc_test v7.0.4` 🎉

[2020-09-09 03:23] #1275 closed

[2020-09-09 03:25] vaibhavdangayachvd opened #1714 "Setup method not running"
Setup method is not getting called when we run blocTest.

[2020-09-09 03:25] felangel commented on #1714
Hi @vaibhavdangayachvd 👋
Thanks for opening an issue!

Can you please provide more information and a sample app which illustrates the issue? Thanks 👍

[2020-09-09 03:28] ZAT90 commented on #1712
I have made the changes as per you said. Still nothing changed. I will provide a link of the project to you and maybe you can check it out and guide me towards the right direction. Thanks for your constant help brother.

[2020-09-09 03:30] #1714 closed

[2020-09-09 03:31] felangel commented on #1313
@ride4sun closing this because `blocTest` behaves the same as a flutter test -- the difference here is you are individually expecting individual properties are equal to an expected value whereas in blocTest you are providing entire state objects. I believe this is solved by #1275 because we will provide a warning to the user to verify that the states are comparable and if you want additional infor

[2020-09-09 03:31] #1313 closed

[2020-09-09 03:32] felangel commented on #1535
Hi @Albert221 👋
Thanks for opening an issue!

Are you able to provide a complete sample app which reproduces the issue? Thanks so much! 🙏

[2020-09-09 04:25] ZAT90 commented on #1712
https://drive.google.com/drive/folders/1OsS8XaHCnWnvHjD6fDY4Uft7j9-mLiXV?usp=sharing
this is the link to the project @felangel

[2020-09-09 06:40] jaykadamss commented on #278
hiii sir can i use streambuilder and bloc builder both in the class for multiple datas

[2020-09-09 06:40] jaykadamss commented on #278
???

[2020-09-09 06:55] vysarafanov opened #1715 "BlocProvider.of method uses listen:false"
Hi everyone,

Static method `BlocProvider.of` uses a `Provider.of` method to get the bloc instance but with parameter `listen:false`.
Do you have some restrictions to observe the bloc changes, otherwise would you explain why it's hard coded and behaves different than Provider by default?

Best regards,
Vladimir

[2020-09-09 07:42] rravithejareddy commented on #1443
@felangel/bloc
<reply@reply.github.com> If you
see my repo it's not working when I extend filter with Equatable. Can you
please look into that once.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
09/09/20,
01:1

[2020-09-09 07:57] mikededo commented on #1443
The `Filter` class is not extending `Equatable`, which I believe it should.

[2020-09-09 08:08] amanuel15 commented on #1705
This gives me a good idea of what to do.
this is my state
[code]
this is my event
[code]
I will have a vast firestore database of items with many fields they can be queried on. So a user can subscribe to a new category and when he does the app will create a new bloc for it pass the conditions and the operator, this parameters will serve as a base for querying from the firestore in the repo(` _fire

[2020-09-09 09:20] rravithejareddy commented on #1443
If I extend filter class with Equatable, Ui is not rebuilding with
oilandseeds filter.

On Wed, 9 Sep 2020, 13:27 mikededo, <notifications@github.com> wrote:

[2020-09-09 09:50] mikededo commented on #1443
I will see what I can find 😉

[2020-09-09 10:01] ZAT90 commented on #1712
I have solved it. In place of CartBloc()..add(CartAdded(products[index])), i replaced it with blocprovider.of<cartbloc>(context).add(CartAdded(products[index])) and it worked. Would you please tell me why this one worked out?

[2020-09-09 10:42] RollyPeres commented on #1715
Hi @vysarafanov 👋

Bloc itself is a `Stream<State>` which is used to observe state changes.
`listen:false` is hard coded since an instance of a bloc will never change once instantiated, since it would go against the whole idea of maintaining state. If a certain bloc instance would be replaced by other one then you'd lose the state.

Another benefit of grabbing blocs with `listen:false` is that you

[2020-09-09 10:51] RollyPeres commented on #278
Hi @jaykadamss 👋

Great enthusiasm 👏 You can easily used multiple `BlocBuilder`s to build different parts of your screen based on state slices; you could even use `buildWhen` to further optimize when your widgets rebuild.

Alternatively you can also use both `StreamBuilder` and `BlocBuilder` within the same widget to build parts of it, but with a proper layering of your app you shouldn't need to h

[2020-09-09 11:37] vysarafanov commented on #1715
Hi @RollyPeres

Thank you for the reply.

I understand that Bloc will lose the state if the instance will be replaced. That's the behaviour I want to get.
Let me explain the idea, maybe it's wrong.

Application supports a several `users` which can be changed during the app lifecycle. There are service to fetch user details, widget to show them and bloc to connect service and widget.

While the use

[2020-09-09 12:24] RollyPeres commented on #1715
Normally you wouldn't need to use a `StreamProvider<User>` to keep tabs on your current user.
You would normally use an `AuthBloc` and you'd store the `User` on it's `Authenticated` state.
You never want to replace this bloc instance but instead yield a new `Authenticated` state with a new `User` if that's something you need.

 You'd expose a stream in your repository from `FirebaseAuth.onAuthStat

[2020-09-09 12:42] vysarafanov commented on #1715
yep, StreamProvider used just to simplify the example.
anyway result of StreamProvider/AuthBloc is a User.

Let's look futher.
-  Service depends on user id to and expose a method to fetch user's data (name for example)
-  bloc which depends on service
-  widget uses bloc to show the user data (name for example).

As I see it:
User is changed => new service created => new bloc created (lose the st

[2020-09-09 12:49] mikededo commented on #1443
After looking and testing your app I've found the problem you had. It is not because `Filter` extended `Equatable` but because you were modifying the object when creating a new one. Let me explain:
When you were creating an item from the named constructor `fromAddedItem` and removing an item with `fromRemovedItem`, you were doing the following:

[code]

You were adding an item to the list and then

[2020-09-09 12:50] vysarafanov commented on #1715
There are a Provider and BlocProvider clases. Both has a static `of` method. Provider listen changes by default, BlocProvider - not and doesn't have an option to do that.

Seems like we have a 2 different behaviors in a similar libraries.

BlocBuilder uses BlocProvider.of method under the hood, means it's not observing the changes of the bloc. By my opinion it breaks the  logic of reaction to chan

[2020-09-09 13:13] mikededo commented on #1703
Since the classes are generated and they all override `==` and `hashCode`, I may be doing something wrong.

I will take a look, thanks for your patience. 💯

[2020-09-09 13:49] mikededo commented on #1703
Well, I have tried comparing everything and all returned false, but still the state returns true 😭

[2020-09-09 14:03] JohnGalt1717 commented on #1694
Sorry, was on vacation.

I believe I found my issue. It was odd that it cropped up with V6 and wasn't there with the same code in V5.  (had the bloc defined in multiple packages).

Thanks.

[2020-09-09 14:53] felangel commented on #1703
@mikededo can you share the snippets for you comparison tests? I can try to dig in and see if there's anything I can spot

[2020-09-09 15:05] felangel commented on #1712
@ZAT90 if you are adding to a new CartBloc then there are no widgets reacting to it so your app won't rebuild any parts of the UI. That's why using `BlocProvider` to access the existing bloc works 👍

[2020-09-09 15:34] mikededo commented on #1703
Sure. [Here](https://github.com/mikededo/WorkoutTracker/blob/41c65f7b5d1dc8f06e7311000a973f42778dff56/lib/src/blocs/calendar_blocs/workout_calendar_bloc/workout_calendar_bloc.dart#L54), before the `yield` statement, is were I was using the following snippets.

**Checking if dates are equal**

[code]

**Checking if the entries of the exercise map from the class `WorkoutWithExercices` are equal**

[

[2020-09-09 16:08] vaibhavdangayachvd opened #1716 "Error by cubit not getting caught"
I have code like this
The saveProfilePressed act throws a NotAuthenticatedError ( Extends error )

`  blocTest<ProfileCubit, ProfileState>(

      'when not authenticated',

      build: () {

        when(authFacade.getCurrentUserId())
            .thenAnswer((realInvocation) async => none());
        return ProfileCubit(profileService, authFacade);
      },

      act: (profileCubit) {
        p

[2020-09-09 16:26] felangel commented on #1716
Hi @vaibhavdangayachvd 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which reproduces the issue? It's hard to tell why this is happening without having access to the cubit implementation.

[2020-09-09 16:30] vaibhavdangayachvd commented on #1716
There you go
https://pastebin.com/Kb8EYnAa

[2020-09-09 16:38] RollyPeres commented on #1715
The whole misunderstanding comes from the fact that the bloc itself drives changes through a `Stream<State>` and the bloc instance doesn't need to be updated in order for changes to happen.