[2020-04-15 15:36] github-actions[bot] opened #1051 "[Translations] Update docs"
Update Translations to include changes from e88835dbc845b498b3ed1832664064d1fcbe4f78.

- [ ] cs (@tenhobi)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)

[2020-04-15 18:05] ricpar11 commented on #74
For those who dislikes  wrapping the material app widget, or using  named routes, go and try using a DI library and then just use `BlocProvider.value` wherever you want to provide the bloc, I think this is the best option in terms of clean code.

[2020-04-15 18:24] heshaShawky commented on #1031
I have fixed this by making another event for just navigation beside the searching one,

**So the final code is:**
[code]

[2020-04-15 18:24] #1031 closed

[2020-04-15 20:12] felangel commented on #1049
Hi @tazik561 👋
Thanks for opening an issue!

You can use a BlocBuilder to re-render the map with a correct marker location whenever the location changes. Why do you need `FoursquareBloc` to render a marker based on location? Doesn't your `LocationBloc` already have the location as part of its state?

It would be helpful if you could put together a sample application which illustrates the problem y

[2020-04-15 20:15] felangel commented on #1043
Hi @samuelobe 👋
Thanks for opening an issue!

You can just use [Timer.periodic](https://api.dart.dev/stable/2.7.2/dart-async/Timer/Timer.periodic.html) within your bloc constructor to add a new event every x duration. Then, when the bloc is about to be closed you can cancel the timer.

Hope that helps 👍

[2020-04-15 20:20] #1043 closed

[2020-04-15 20:34] tazik561 commented on #1049
LocationBloc just using to get user's geo location and show user location on the map but FoursquareBloc connected to the `"https://api.foursquare.com` server and get some coordination base on user location .
After that i want to show Those coordinates as a marker on map.
In addition to this issue, I want t o show a horizontal list view on a map according   Those coordinates.
look this image : http

[2020-04-15 23:41] github-actions[bot] opened #1052 "[Translations] Update docs"
Update Translations to include changes from e55aee5630ed39919de0e6dafccc91a4f0c3efc0.

- [ ] cs (@tenhobi)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)

[2020-04-16 00:06] github-actions[bot] opened #1053 "[Translations] Update docs"
Update Translations to include changes from ed3ceced04898b40becfede8dbf6192b7ab35228.

- [ ] cs (@tenhobi)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)

[2020-04-16 00:14] github-actions[bot] opened #1054 "[Translations] Update docs"
Update Translations to include changes from 688c2e439c7511b495c03b0e0cc1a5dc53c4d0f6.

- [ ] cs (@tenhobi)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)

[2020-04-16 00:27] github-actions[bot] opened #1055 "[Translations] Update docs"
Update Translations to include changes from b9e31f33c3082c611929729208fbcf89828954b5.

- [ ] cs (@tenhobi)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)

[2020-04-16 00:36] felangel commented on #1049
@tazik561 you can render different widgets based on the state of you `FourSquareBloc` like:

[code]

Also, if you are going to execute side-effects like `_controller.move(...)`, those should be done using `BlocListener` instead of `BlocBuilder.

Hope that helps 👍

[2020-04-16 00:36] #1049 closed

[2020-04-16 00:39] felangel commented on #1041
@narenbishtve I meant can you share the link to a standalone flutter application that I can run locally? It's not very easy to help if you provide lots of scattered code snippets.

[2020-04-16 00:42] felangel commented on #1038
@newbieflutter yup that looks correct 👍

[2020-04-16 00:42] #1038 closed

[2020-04-16 00:42] felangel commented on #1029
Closing for now but feel free to comment with additional questions or provide a link to a sample app and I'm more than happy to continue the conversation 👍

[2020-04-16 00:42] #1029 closed

[2020-04-16 00:44] felangel commented on #1014
@arnemolland thanks for the detailed answers!
@heshaShawky closing for now but feel free to comment with additional questions and we can continue the conversation 👍

[2020-04-16 00:44] #1014 closed

[2020-04-16 00:45] felangel commented on #1013
Closing for now 👍

[2020-04-16 00:45] #1013 closed

[2020-04-16 01:01] felangel commented on #1008
@FredG13 @theDarkBoffin check out https://gist.github.com/felangel/12e0dcf8acf37e1a4b75dae052c36656 and let me know if that helps and sorry for the delay!

[2020-04-16 01:08] felangel commented on #1044
@tazik561 you just need to expect:

[code]
It's because the bloc is just calling toString on the error and passing the string into the `Error` state.
In this case, `NotFoundException("NotFOund").toString()` results in `'Not Found NotFOund'`.

[2020-04-16 01:28] felangel commented on #766
@limonadev I'm working on a sample app for this since it's a highly requested item. I'll comment with a link once it's ready 👍

[2020-04-16 01:34] felangel commented on #950
This was fixed in provider and included in v4.0.5 🎉

[2020-04-16 01:34] #950 closed

[2020-04-16 06:00] tazik561 commented on #1049
Thank you .

[2020-04-16 06:02] tazik561 commented on #1044
thank sir

[2020-04-16 13:34] felangel commented on #1049
You can use a BlocListener and if the state is an Error use showDialog to show an alert.

[2020-04-16 17:21] newbieflutter commented on #1038
Hi Felangel,
                    I am still not clear the difference between this two lines. How do we decide which event is to be debounce and which does not need debounce ?

[code]
[code]

[2020-04-16 22:01] dungnv2602 opened #1057 "Is there any way to type cast state?"
My experience with bloc so far is amazing, but the only issue that annoys me is whenever I want to get the current state I always have to check it in a condition and then define another variable which typecast state. Like this:
`
if(state is StateSuccess){
final success = state as StateSuccess;
}
`
Is there another way to work around this issue?

[2020-04-17 00:19] FredG13 commented on #1008
Hi @felangel,
Thank you so much for your help.
Unfortunately, it's not working on my end.
If I do a "yield AuthenticationAuthOk();" from the LoginPage, the condition "if (state is AuthenticationAuthOk)" is not read in the main.dart page.

Here's the code to my main.asp page:

[code]

[2020-04-17 07:18] ReversedHourglass commented on #1057
Was wondering about the same concept :
To access event attributes or states attributes, it's exactly the same, it's resulting in a lot of if statements, and i can't figure if it's the right way, i can't see any solution to this and it seems the legit way of doing

[2020-04-17 07:37] dungnv2602 commented on #1057
@ReversedHourglass Yeah, this the only annoyance when working with bloc

[2020-04-17 09:04] campovski opened #1058 "Testing a bloc with overriden close method results in no states emitted"
I am trying to test a BLoC that depends on another BLoC via subscription. Now, the subscriptions should be canceled, so I override the `close()` method of BLoC in which I cancel the subscription and call super. The problem is that in the BLoC tests, no states get emitted. If I remove the `close()` override, then it works, but linter complains that subscriptions should be canceled.

Here is my BLoC

[2020-04-17 09:40] ram231 commented on #1057
Well, That was the reason why it is **Predictable** because you know which state is currently active in the Bloc.

You'll still be doing the same way as a `StreamBuilder` or `FutureBuilder` where you catch a lot of
[code]

[2020-04-17 11:12] tazik561 commented on #1049
Thanks, but when we added  map in LocationLoadedState ,every time LocationLoadedState changed whole the map is recreated .it is normal or there is a solution?

[2020-04-17 11:18] campovski commented on #1058
This is the whole code in case you need it https://github.com/stelynx/collectio/tree/SLCOL-22

[2020-04-17 11:59] bhavikvashi1804 opened #1059 "Pull to refresh I am getting error on pull to refresh page"
https://github.com/bhavikvashi1804/flutter_BLoC_Weather_App

check this repository, I have made this by my own with the help of bloclibrary

Pull to refresh does not work, always go to an infinite loop.

[2020-04-17 12:48] bhavikvashi1804 commented on #1059
1st refresh complete
2nd refresh goes to stuck

[2020-04-17 14:14] myoganugraha opened #1060 "Question - Get value from multiple state and or event"
Hello, felix
thank you for the library to maintain the flutter state :D

currently i have multiple events in single file, it was because the bloc was used in widget tree, so i decided to make one bloc and declare it with bloc provider on main.dart

here's my **code for event**
[code]

and here's **the state code**
[code]

but i have problems,
how to get the state value on the other screen - still

[2020-04-17 14:33] dungnv2602 commented on #1057
@ram231 The problem with bloc is I have to define a separated local variable to assign type casted version of state. Meanwhile in the wrapping condition checking already check that. This is what I expected:
[code]

[2020-04-17 14:38] ram231 commented on #1057
Is this inside the `mapEventToStste` or Is it in the Bloc builder Widget?

[2020-04-17 14:53] felangel commented on #1057
HI @dungnv2602 👋
Thanks for opening an issue!

The reason you're having this issue is because the state property on bloc is a computed property and can change at any time so just because state is StateSuccess at time x does not guarantee state is StateSuccess at time y.

As a result, you can just save a snapshot of state before doing the typechecking like:

[code]

Another tip is to break out your

[2020-04-17 14:53] #1057 closed

[2020-04-17 14:58] felangel commented on #1060
Hi @myoganugraha 👋
Thanks for opening an issue and for the positive feedback!

I would highly encourage you to go through the [bloc library documentation](https://bloclibrary.dev). In order to access the same bloc from multiple parts of the widget tree you can use `BlocProvider` to provide the bloc at the closest common ancestor of those widgets and then you can use `BlocBuilder` in each widget to

[2020-04-17 14:58] #1060 closed

[2020-04-17 15:07] felangel commented on #1058
Hi @campovski 👋
Thanks for opening an issue!

This is because you weren't returning `super.close()` from the bloc close override so the events that were being processed weren't being awaited before executing the expectation.

I opened a [pull request](https://github.com/stelynx/collectio/pull/53) with the fix 👍

[2020-04-17 15:07] #1058 closed

[2020-04-17 15:16] felangel commented on #1059
Hi @bhavikvashi1804 👋
Thanks for opening an issue!

That's because the second time you refresh the state stays the same from the bloc so no transition occurs. In order to resolve this you can either remove `Equatable` from your `WeatherState` or add a `lastUpdated` property to your `Weather` model as is done here:
https://github.com/felangel/bloc/blob/b9e31f33c3082c611929729208fbcf89828954b5/examp

[2020-04-17 15:16] #1059 closed

[2020-04-17 15:17] felangel commented on #1039
Closing for now since there aren't easy steps to reproduce the issue.
Feel free to add additional details or preferably a link to a sample app which illustrates the issue and I'm happy to continue the conversation 👍

[2020-04-17 15:17] #1039 closed

[2020-04-17 15:19] felangel commented on #1008
@FredG13 can you please share a link to a sample app which reproduces the issue? I'm happy to take a look 👍

[2020-04-17 15:27] campovski commented on #1058
Thank you very much! 😍 I guess I found an old example of how things are done.

[2020-04-17 15:27] felangel commented on #1041
Closing for now since there is no way to easily reproduce the issue.
Feel free to comment with a link to a sample app which reproduces the issue and I'm happy to take a look 👍

[2020-04-17 15:27] #1041 closed

[2020-04-17 21:36] caiogranero opened #1061 "Test bloc with debounce time in transformEvents"
Hi :)

I followed the pattern in [firebase login tutorial](https://bloclibrary.dev/#/flutterfirebaselogintutorial?id=login-bloc) and now i'm trying to test my bloc.

I override the transformEvents with this method:

[code]

and i make my test like this but i got error, the events NameChanged and DurationChanged are not processed before Save() has being called:

[code]

So i change for this:

[code

[2020-04-17 22:52] felangel commented on #1061
Hi @caiogranero 👋
Thanks for opening an issue!

You can use the `wait` property on `blocTest` to handle this.

[code]

Hope that helps 👍

[2020-04-17 22:52] #1061 closed

[2020-04-17 23:28] don-prog opened #1062 "Can't get new state in BlocListener due to localizations"
Hello.
I have an application with `bloc` and localizations. My app loads `SplashPage` until everything is ready, and after that it changes the page. All fine and obvious without localizations(without `supportedLocales`, `localizationsDelegates` and `localeResolutionCallback` in `MaterialApp`), but when it is turned on, a new state will not be received and the `SplashPage` will not change to the `F

[2020-04-18 00:06] robsonsilv4 commented on #928
@felangel I can keep updating the translation in pt-br when @rodrigobastosv can't or work with him.
If is ok, I will start working on the recent changes.

[2020-04-18 07:12] Sadmansamee commented on #303
@jkyon  would you like to share on how you wrote the bloc?

[2020-04-18 08:55] samsheldin commented on #1029
i have done this and it gives me an error

On Thu, Apr 16, 2020 at 6:13 AM Felix Angelov <notifications@github.com>
wrote:

[2020-04-18 14:24] FredG13 commented on #1008
Hi @felangel,

I created a sample app : [https://github.com/FredG13/app_for_felix_angelov](https://github.com/FredG13/app_for_felix_angelov)
Thank you for your help.

[2020-04-18 15:39] don-prog commented on #586
@devibrahimkarahan hello. [I have the same issue here](https://github.com/felangel/bloc/issues/1062), please can you check it?

[2020-04-18 17:18] samsheldin commented on #1029
https://github.com/samsheldin/doc ,   i have follewed a similar pattern but it gets destreoyyed

[2020-04-18 17:31] don-prog commented on #1062
@felangel I also get the same problem with [the easy_localization package](https://github.com/aissat/easy_localization), please [check this](https://github.com/aissat/easy_localization/issues/144)

[2020-04-19 02:17] amadeu01 opened #1064 "Error while attempt to use verify inside blocTest function."
**Describe the bug**
Got the error

[code]

**To Reproduce**
Try to use `verify` parameter on `blocTest`.

**Expected behavior**
Use verify as it is documented

[code]

**Additional context**

The current workaround is doing :

[code]

It will simply ignore the `Null`.

[2020-04-19 04:22] felangel commented on #1064
Hi @amadeu01 👋
Thanks for opening an issue!

This is working as expected because `verify` gives you access to the current bloc being tested.

[code]

The above snippet is correct and the `_` just means we are ignoring the bloc parameter since it isn't needed in this case.

Hope that helps 👍

[2020-04-19 04:22] #1064 closed

[2020-04-19 16:37] limonadev commented on #766
@felangel Thank you very much! :)

[2020-04-19 16:47] vinnytwice opened #1068 "Events from MultiBlocProvider are not sent"
@felangel  Hi, I have added a new bloc `SyncBloc` to a MultiBlocProvider that creates all the blocs needed for `MapScreen` and for some it also adds Events needed to present data in the screen itself. The problem is that while location events (for LocationBloc) are added correctly from the MultiBlocProvider itself, sync events (for SyncBloc) are not. If I instead add them from MapScreen's MultiBlo

[2020-04-19 21:06] alexandradeas commented on #994
@felangel it'd be really helpful if you could include some sort of documentation/guide for what the issue was. Other people are likely to encounter the same issue and so it'll save you time in the long run to have a record of what the issue was. Either as part of issues or documentation

[2020-04-20 04:20] felangel commented on #1068
Hi @vinnytwice 👋
Thanks for opening an issue!

The issue is since BlocProvider uses Provider internally, the create method of `BlocProvider` is lazy by default (which means it's only called when the bloc is requested via `BlocProvider.of`). In this case, none of the blocs in your second `MultiBlocProvider` are used anywhere in the application so by default they are never created. You can set `lazy

[2020-04-20 04:20] #1068 closed

[2020-04-20 04:25] don-prog commented on #1062
@felangel [here is a suggestion to use `BlocBuilder` instead of `BlocListener` for routing, and remark that my `BlocListener` didn't see new state because I send an `event` in `initState()`](https://github.com/aissat/easy_localization/issues/144#issuecomment-616260392). But I'm not sure it is true, because all works just fine without localizations and I can even explicitly add `sleep(Duration(seco

[2020-04-20 05:10] vinnytwice commented on #1068
@felangel I see, thank you very much for the explanation and the fix.

[2020-04-20 05:23] felangel commented on #994
@PDDStudio are you able to share the what the solution was? I unfortunately don't remember the details of this specific case 😞

[2020-04-20 09:33] dungnv2602 commented on #1057
@felangel Thank you, the #1 tip is nice, but we still have to assign it into another variable. But now I understand the reason why, guess we have to live along with it.

[2020-04-20 11:39] duomoteng opened #1071 "Check the state listener but not check the state twice at builder"
Hi, really thanks for the awesome library.
I am working on a page that needs to `Navigator.push` to another page.

For example,
I am currently on page A. When I pressed a button on page A, it needs to `Navigator.push` to a new page B, without changing the Page A. When I returned from Page B, Page A keeps what look like as before.

If I remove the ` if (state is GoToEditor) ` in `BlocBuilder`, it w

[2020-04-20 13:08] krevedkokun commented on #1071
https://pub.dev/documentation/flutter_bloc/latest/flutter_bloc/BlocBuilder/condition.html

[2020-04-20 13:42] PDDStudio commented on #994
Hey @felangel ,
unfortunately there's no Code which I can share.
There's no particular fix for this issue, it's just a matter of how you attempt to solve it.
In our case, the widget test was simply testing too many widgets & nested blocs.
We could resolve this by splitting up the widget tests into smaller pieces.

Hope this helps!

[2020-04-20 17:53] andreavaccari opened #1072 "[Discussion] Data flow / event passing between blocs"
Hi @felangel, thank you for the excellent library, thorough documentation, and relentless support.

**Is your feature request related to a problem?**

My team and I are using `bloc` to manage all our state needs: global and local, persistent and ephemeral. We're struggling to implement requirements that involve complex event passing among blocs. We would appreciate your advice on this, which we be

[2020-04-20 19:48] duomoteng commented on #1071
Really thanks for your reply, I have changed it to use BlocConsumer and it works

[2020-04-20 19:55] duomoteng commented on #1071
Really thanks for your reply. Based on your hint, I have changed it to use `BlocConsumer.` But another issue happened. When it `navigation.push` to another page, and then return to the origin page, the bloc is not working again.

I tried to remove the dispose method, but still not working.
My logger  shows that the bloc working well for the first time, but second I tap the button, it stops working

[2020-04-20 20:16] duomoteng commented on #1071
I solved the problem by `yield` a `DoNothingState` before `GoToPageB` state. The issue is caused because of 2 same states is called. But I still want to know is there any better solution to solve this?

[2020-04-20 20:41] ThinkDigitalSoftware opened #1073 "Update to rxdart 0.24.0"

[2020-04-20 21:44] felangel commented on #1073
Hi @ThinkDigitalSoftware 👋
Thanks for opening an issue!

rxdart will be removed in the 4.0.0 release which should be out in the next few days 👍

[2020-04-20 21:44] #1073 closed

[2020-04-20 22:04] mflesh1 opened #1074 "[Question] Sending application authorization state to application bloc.."
I have been using the bloc plugin so far and really enjoy its simplicity but I have a problem I need to solve and was wondering if there are any best practices.

I have an application that requires user authentication and once authenticated a token is issued to the user that then is passed on all future REST API requests a pretty common pattern.

At any point the token can become invalidated which

[2020-04-21 06:11] github-actions[bot] opened #1079 "[Translations] Update docs"
Update Translations to include changes from 2c8cde5c7ba6e9a1f0eb6440c1643c9462235c32.

- [ ] cs (@tenhobi)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)

[2020-04-21 06:49] felangel commented on #1062
Hi @don-prog 👋
Thanks for opening an issue and sorry for the delayed reply! I will take a look asap 👍

[2020-04-21 06:50] github-actions[bot] opened #1080 "[Translations] Update docs"
Update Translations to include changes from 63f36a1d93793e746d6e0728f19fb2fbf0702f7c.

- [ ] cs (@tenhobi)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)

[2020-04-21 06:51] felangel commented on #1071
Hi @duomoteng 👋
Thanks for opening an issue!

Can you please share a link to a sample app which illustrates the issue you're facing? Thanks 👍

[2020-04-21 07:13] felangel commented on #1072
Hi @andreavaccari 👋
Thanks for opening an issue and for the positive feedback, I really appreciate it!

Are you able to share the existing app or a sample application which illustrates the problem you're facing? While I really appreciate the detailed description, I feel I would have much more context if I were able to see your current setup. Alternatively, would you be willing to set up some time

[2020-04-21 07:16] felangel commented on #1074
Hi @mflesh1 👋
Thanks for opening an issue and for the positive feedback! I really appreciate it 🙏

Regarding your question, I believe it is similar to https://github.com/felangel/bloc/issues/766#issuecomment-571811625.

I'm currently working on revamping the login example to better demonstrate how to handle this specific use-case elegantly and you should expect to have an updated example within th

[2020-04-21 07:36] andreavaccari commented on #1072
Thank you very much for the prompt response! I'll share an example app in the next 24 hours.

In the meantime, I wanted to add that we already attempted to use `TodoListBloc` as you suggested. However, the requirements 1) to keep all data available offline, 2) to be able to move todos between lists, and 3) to be able to undo a move in the context of the source list history, raised the same problem

[2020-04-21 09:14] victorshn opened #1081 "Unclear"
Hello , I don't understand from witch class TransitionFunction come from. I have a error in LoginBloc

[code]

[2020-04-21 09:34] pslamka opened #1082 "BlocListener invokes regardless which page is navigated"
Hi,
thank you for this neat library!

It seems that BlocListener which is constructed somewhere under the material app home: property (the '/' route) invokes on state change even when I push another route '/detail'. I roughly understand why this works this way, since all the routes are still part of the navigation stack.

I use BlocListener for displaying a warning dialog when some state changes.

[2020-04-21 13:03] lockykeaney opened #1083 "Implementing selections from a list in a multi step wizard"
This isn't really a bug, but more of a lack of information on how to implement BLoC correctly for my use case. I have been searching for similar examples for months now, but nothing really goes into much more than displaying a widget with the data, or the counter/todo app.

**Use Case**
I am trying to make a multi step wizard. The user starts the wizard, and API fetches a list items and the user s

[2020-04-21 13:39] felangel commented on #1068
@vinnytwice thats because you have BlocBuilders etc which perform lookups for those blocs and triggers create to be called.

[2020-04-21 14:47] vinnytwice commented on #1068
Right I see.. thank you for the explanations, I'm still a beginner ;)

[2020-04-21 14:48] felangel commented on #1068
No problem!

[2020-04-21 14:52] felangel commented on #1081
Hi @victorshn 👋
`TransitionFunction` comes from `package:bloc/bloc.dart`. You can check out the [API Docs](https://pub.dev/documentation/bloc/latest/bloc/TransitionFunction.html).

Hope that helps 👍

[2020-04-21 14:52] #1081 closed

[2020-04-21 14:56] ThinkDigitalSoftware commented on #1073
Awesome, thanks!

[2020-04-21 14:57] felangel commented on #1073
@ThinkDigitalSoftware `v4.0.0` is out now 🎉

[2020-04-21 15:10] ThinkDigitalSoftware commented on #1073
Awesome! Gonna go check out the Changelog

[2020-04-21 17:24] georgiossalon opened #1084 "Using Bloc with a HashMap does not Register a Change"
I am writing a scheduling app for employees with Flutter.

For this case, I chose the Bloc architecture and the table_calendar package for Flutter.

In order to assign shifts to the calendar, I need a HashMap<DateTime, List< dynamic> >. The dynamic in my case is a Shift object.

I have already read the Flutter Firestore Todos Tutorial and created a small test project in order to see if the reading

[2020-04-22 00:51] don-prog commented on #1062
@felangel many thanks! I'm really looking forward to the information about this, because this can bloc**k** my release application, and it is ironic.

[2020-04-22 02:11] RollyPeres commented on #1062
@don-prog I've opened a PR which fixes your issue. You grabbing the bloc in `initState` ended up hitting `_bloc.skip(1)` so your first state was never handled by the listener.

[2020-04-22 03:03] felangel commented on #1062
Thanks so much for helping out @RollyPeres 🙏
@don-prog closing this issue for now but feel free to comment with any additional questions 👍

[2020-04-22 03:03] #1062 closed

[2020-04-22 03:09] don-prog commented on #1062
@RollyPeres thanks for your efforts. Now I can get the new state with this:

1. Add `create: (_) => MainBloc()..add(ReadyEvent())` in `BlocProvider<MainBloc>`
2. Delete `_mainBloc = BlocProvider.of<MainBloc>(context)` from `initState()`

So, I have next questions:
1. Is grabbing  `_mainBloc = BlocProvider.of<MainBloc>(context)` in `initState()` is incorrect usage of `bloc`? Why it is [documented h

[2020-04-22 03:12] don-prog commented on #1062
@felangel please, check my previous comment! I still just cannot use this solution - I obviously need `MainBloc` instance in widget.

[2020-04-22 03:14] felangel commented on #1062
@don-prog you can grab the instance still but just don't add the event in `initState` because it's too early and `BlocListener` misses it because it isn't listening yet.

[2020-04-22 03:21] don-prog commented on #1062
@felangel I already tried it, but this scheme just doesn't work:
[code]

[2020-04-22 03:35] felangel commented on #1084
Hi @georgiossalon 👋
Thanks for opening an issue!

I believe the problem is your `shiftsMap` is using `DateTime` as a key which does not override `==` and cannot be compared by value.

I opened a [pull request](https://github.com/georgiossalon/schedulingapp/pull/1) to fix this by using a modified `_shiftsMap` which converts the `DateTime` objects into their Iso8601 representation.

Hope that helps

[2020-04-22 03:35] #1084 closed

[2020-04-22 03:51] felangel commented on #1062
@don-prog yeah that won't work actually because of the same issue. I would highly recommend just looking up `MainBloc` in your `build` method instead like:

[code]

[2020-04-22 04:57] felangel commented on #1083
Hi @lockykeaney 👋
Thanks for opening an issue!

I added a [flutter_wizard](https://github.com/felangel/bloc/tree/master/examples/flutter_wizard) example app to illustrate one way to setup a multi-step wizard.

Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-04-22 04:57] #1083 closed

[2020-04-22 05:02] felangel commented on #1082
Hi @pslamka 👋
Thanks for opening an issue!

This is expected behavior because when you use `Navigator.of(context).push(...)` you are not removing the underlying widgets so BlocListeners will continue to listen. The way to solve this is to move the `BlocListeners` into the respective pages so that when a page is popped, the `BlocListener` is also unmounted from the widget tree and no longer reactin

[2020-04-22 05:02] #1082 closed

[2020-04-22 05:04] felangel commented on #1072
No problem and thanks so much for taking the time to put together a sample app 🙏

I'm not sure I fully understand what you mean by this. Can you elaborate?

[2020-04-22 05:25] felangel commented on #1008
Hi @FredG13 sorry for the delay! I've created a [gist](https://gist.github.com/felangel/2b3af9c92491b962de3cf0bdcfac131d) in which I modified your sample app to function properly.

Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-04-22 05:25] #1008 closed

[2020-04-22 08:46] victorshn commented on #1081
Thanks a lot

[2020-04-22 11:06] erfanh3h commented on #438
in similar case i use phoenix package and wrap app with it and its fix my issue.
link is  : [](https://pub.dev/packages/flutter_phoenix)

[2020-04-22 11:44] RollyPeres commented on #1062
Haven't had the chance to look too much into this, but the key thing is that when that package creates it's provider and you add the event in `initState`, it has the side effect of `mapEventToState` being called before the listener has the chance of subscribing to state. so basically it will skip the state you're interested in, instead of the initial one.

You should add it the way I suggested and

[2020-04-22 12:37] georgiossalon commented on #1084
Unfortunately, the change did not have any effect.

[2020-04-22 12:39] FredG13 commented on #1008
Hi @felangel ,

Thanks again for your help.
The button pushes are working now.
However, the transition to the first page when opening the application does not work.
Don't bother, I'll do without.

Thank you very much for your time.

My best regards,

Fred

[2020-04-22 14:27] felangel commented on #1084
@georgiossalon can you give me steps to reproduce the issue? I wasn’t able to run the app locally so it was difficult for me to debug.

[2020-04-22 15:12] tazik561 opened #1086 "How to use same bloc in 2 pages"
I am trying to use flutter bloc. I create one bloc called FoursquareBloc . In this bloc i have two event :

[code]
`GetVenuesByUserEvent` and `GetVenuesDetailsEvent`. In `GetVenuesByUserEvent` i got some data on show in the map and show a list on the page .
[code]

When clicked on the one of the item inside a list
[code]
 i navigated to `DetailsVenueScreen` page with using same bloc:
[code]

But i

[2020-04-22 16:50] don-prog commented on #1062
@RollyPeres I understand what you said and I understand how I can workaround this. But:
1. The problem is not solved when I just don't `add` event in the `initState()`. The problem occurs due to `_mainBloc = BlocProvider.of<MainBloc>(context)` in the `initState()`, i.e. I just save the `bloc` in the field. Isn't this at least strange?
2. Let's assume that the problem occurs because of early `state

[2020-04-22 16:51] don-prog commented on #1062
@felangel are you planning to reopen this issue?

[2020-04-22 16:52] felangel commented on #1062
@don-prog
1. That is because BlocProviders are lazy by default so the `create` gets called as soon as `BlocProvider.of` is called.

2. The add in the `BlocProvider` create is only called when the bloc is requested (see above)

3 and 4. Likely stem from 1 and 2.

[2020-04-22 17:11] felangel commented on #1086
Hi @tazik561 👋
Thanks for opening an issue!

The problem with this setup is `BlocListener` on the second page is created too late and misses the `Loading`/`LoadedDetails` states.

In general, I would not recommend having multiple `BlocListeners` for the same bloc. In this case, I would highly recommend creating a separate bloc to manage the `DetailsState` and then you can just pass the id into the

[2020-04-22 17:11] #1086 closed

[2020-04-22 18:29] don-prog commented on #1062
@felangel ok, I understood. But let's assume another situation. I have service locator and my `bloc` is already created. So, I use:
[code]
Now I can't get the new state using this workaround.
In fact, I use such a scheme on the release app, so I'm not asking out of curiosity.
You can check this commit for [the full example](https://github.com/don-prog/easy_localization_bloc_bug/commit/c98ce7afa929

[2020-04-22 18:36] felangel commented on #1062
@don-prog this isn't really a workaround it's more how BlocListener works.

Your BlocListener will only get notified of state changes that occurred after it started listening. With that in mind it's totally up to you to decide how you want to structure your application.

In the scenario you've described it's really tough to rely on BlocListener for logic when the bloc may or may not have finished

[2020-04-22 18:53] don-prog commented on #1062
@felangel ok, let's assume that I don't use `sl`, but I want to use singleton `bloc`. Then I create it with `BlocProvider` at the top of the widget tree, and don't use `sl` at all. This will do the same thing: my `bloc` is already created and I don't know where can I `add` event and get `state` in the `listener`?

[2020-04-22 19:01] RollyPeres commented on #1062
@don-prog I use `get_it` and `injectable` to create instances based on environment and I never had problems like this. I believe that the localization package you're using simply doesn't play well with bloc. They're wrapping all the widget tree in a stream builder which will run after the first frame; you might wanna try and reproduce in a simple example if that's not causing any unwanted side-eff

[2020-04-22 19:06] felangel commented on #1062
Yeah I agree with @RollyPeres. If you can create a simple example without a dependency on the localization package it would be awesome.

[2020-04-22 19:08] don-prog commented on #1062
@RollyPeres I also use `get_it` as `sl`. I understand your ironic about the `easy_location` name :), but I also used raw localization, it's the same, as I said.

[2020-04-22 19:10] don-prog commented on #1062
@felangel my first post used raw localization, not `easy_location`

[2020-04-22 19:45] felangel commented on #1062
@don-prog I opened a [pull request](https://github.com/don-prog/flutter_localization_bloc_bug/pull/1) to fix the first example.

[2020-04-22 20:07] RollyPeres commented on #1062
@don-prog I'm indeed making fun of the name, but nothing against their work. I never used it since I prefer to stay away from too many third party packages.

[2020-04-22 20:22] georgiossalon commented on #1084
@felangel For the case with the map, the code after finishing the **_mapShiftsUpdateToState** method instead of going to the **shifts_state.dart** class, it directly jumps to the **simple_bloc_delegate.dart** class into the **onTransition** method. This does not happen with the non-map case.

In the non-map case, the code enters the **shifts_state.dart** one more time after finishing with the **_m

[2020-04-22 20:28] don-prog commented on #1062
@felangel thanks, I already understand your solution :) But let me show you [the commit with using service locator](https://github.com/don-prog/flutter_localization_bloc_bug/commit/22483d668061912cfaad12ddd927e435a5d55241), here I still have the same problem even with your suggestion. I need `sl` and `MainBloc` as singleton for the typical di things(e.g. `add` event to `MainBloc` without context),

[2020-04-22 20:30] don-prog commented on #1062
@RollyPeres I provided the new commit above with `GetIt`, maybe you can suggest something?

[2020-04-22 22:03] RollyPeres commented on #1062
Fixed it https://github.com/don-prog/flutter_localization_bloc_bug/pull/2
If you provide it using `BlocProvider.value` it will already use the instance from sl and add your ready event on top of it so by the time the bloc listener subscribes, it will skip(1) on your ready event, which you don't want.

[2020-04-22 22:51] mflesh1 commented on #1074
@felangel thanks for the response, looking forward to the updated example.

In regards to the reference [#766 (comment)](https://github.com/felangel/bloc/issues/766#issuecomment-571811625) that would require passing the  authentication bloc to ALL of the blocs which I was hoping to avoid.

[2020-04-22 23:06] felangel commented on #1084
@georgiossalon thanks for the update and glad you found a solution. If you'd like, feel free to share a sample app which reproduced the previous issue with the Map and I'm happy to take a look 👍

[2020-04-23 05:21] don-prog commented on #1062
@RollyPeres thanks, I think this is what I need! Also, I understand that unnamed `BlocProvider` constructor will lazily call my `bloc` instance, but when exactly will the `create()` function be called in my test repo project?

[2020-04-23 05:26] arieffajargemilang commented on #603
:clap:

[2020-04-23 05:30] felangel commented on #1062
@don-prog create will get called as soon as the bloc is looked up via BlocProvider.of.
This happens internally within BlocBuilder/BlocListener as well so as soon as one of those widgets is mounted the bloc will get created if you haven’t explicitly called BlocProvider.of already.

[2020-04-23 06:04] don-prog commented on #1062
@felangel it makes sense, thanks!

[2020-04-23 08:01] georgiossalon commented on #1084
@felangel sure I would if I knew what you mean. I am pretty new to the developing world so bear with me. The whole code is within the GitHub repository posted above. So what more do I have to do to reproduce the issue?

[2020-04-23 14:06] felangel commented on #1084
@georgiossalon can you give me steps for how to run your app (I believe I tried running on iOS and it was crashing) as well as steps for once it’s running how to reproduce the issue? Thanks!

[2020-04-23 21:31] andreavaccari commented on #1072
Hi @felangel, I prepared a [sample todos app](https://github.com/andreavaccari/flutter_todos) based on your [`flutter_todos` example](https://github.com/felangel/bloc/tree/master/examples/flutter_todos).

**The application differences from your original example are:**

* The list of todos is built using text fields that allow to edit todos in place
* Tapping on a todo activates its text field and

[2020-04-24 05:01] lehaidangdev commented on #119
Hi @felangel ! First, Thank you for the awesome package and great support to the Community.  I've facing same issues. I used the Navigation Stack as you describe above. I've observed the Transition,  the state changes correctly but BlocBuider doesn't rebuild.
My app has 2 pages: Home and Filter and uses 1 Bloc. Everything works fine on Home page but when I push to Filter page and trigger event the

[2020-04-24 05:22] lehaidangdev commented on #119
Hi @felangel ! First, Thank you for the awesome package and great support to the Community.  I've facing same issues. I used the Navigation Stack as you describe above. I've observed the Transition,  the state changes correctly but BlocBuider doesn't rebuild.
My app has 2 pages: Home and Filter and uses 1 Bloc. Everything works fine on Home page but when I push to Filter page and trigger event the

[2020-04-24 13:19] moseskarunia opened #1087 "await UntilCalled doesn't stop the run after updating to 4.0.0"
**Describe the bug**
`await UntilCalled` doesn't stop a function run even after it's called. Works in `^3.2.0`.

**Expected behavior**
`await UntilCalled` stops a function run and continuing the test code, instead of continuing the function run.

**Code**
**1. store_form_bloc.dart**

[code]

***2. create_store_event_test.dart***

[code]
**Logs **

**1. flutter analyze**

_Taking a long time to ana

[2020-04-24 14:57] vjyanand commented on #315
@felangel  same here. https://github.com/vjyanand/play/blob/master/lib/player.dart#L41

[2020-04-24 16:11] georgiossalon commented on #1084
@felangel If I remember right, the code runs only in android devices. For iOS, I still have to implement it which I did not do yet since I have a Windows PC. Also, you need a Firestore Database to retrieve the data. The .json file providing access to my personal database is intentionally not uploaded. Other than that, I did not do anything special on the setup. Please inform me if I can help you w

[2020-04-24 16:15] tazik561 opened #1088 "setState() or markNeedsBuild() called during build"
I am using bloc to handling app state so this is my bloc class:
[code]

In my builder i write this codes:
[code]
But when Error state is called in this section :
[code]
I got this error:
[code]

[2020-04-24 16:47] RollyPeres commented on #1088
@tazik561 you can avoid that using `scheduleMicrotask(() => Navigator.of(context).push(
                  MaterialPageRoute(builder: (ctx) => ErrorScreen())
                ));`

[2020-04-24 17:40] tazik561 commented on #1088
That is mean i can not to change route?

[2020-04-24 19:26] Jomik opened #1089 "[VSCode] part directive should be avoided"
**Describe the bug**
VSCode Extension generates code containing `part` and `part of`, even though they should be avoided.

**Expected behavior**
Use `import` to import bloc state and event files.

**Additional context**
https://dart.dev/guides/libraries/create-library-packages#organizing-a-library-package

[2020-04-24 19:54] felangel commented on #1072
@andreavaccari thanks so much for the really detailed explanations and sample app! I will take a look this weekend and get back to you by Monday 👍

[2020-04-24 19:57] moseskarunia commented on #1089
IMHO,

I don't think using `import` is a good idea in this case since I can't think of no case when we need to import either state or event without the bloc itself.

`part`, in my opinion, represents splitting an otherwise "too long" single file to make it more readable as multiple parts.

In bloc's case, using import will force each subsequent usages to add 2 additional imports (the bloc itself +

[2020-04-24 20:06] felangel commented on #1087
Hi @moseskarunia 👋
Thanks for opening an issue!

Would it be possible for you to put together a simple app which reproduces this issue and send me the link? It would be really helpful if I can reproduce/debug this issue locally, thanks! 👍

[2020-04-24 20:07] felangel commented on #1088
@tazik561 check out BlocListener for this. You shouldn't be performing side-effects in BlocBuilder. See [this recipe](https://bloclibrary.dev/#/recipesfluttershowsnackbar) for more info.

[2020-04-24 20:07] #1088 closed

[2020-04-24 21:06] andreavaccari commented on #1072
Thank you, @felangel. Please take your time. This is not an urgent matter, but I think it's an important one. Thank you again for your support, it's very inspiring to see you in action. Have a great weekend!

[2020-04-25 05:39] ariefwijaya opened #1090 "BlocBuilder Doesn't update widget after state changed"
I'm trying to change app theme using bloc implementation. But, when the state changed, builder doesnt recall.

### Here is my theme_event.dart

[code]

### theme_state.dart
[code]

### theme_bloc.dart
[code]

### theme_helper value:
[code]
### main.dart:
[code]

### and this is how change the state using event:
[code]

I've checked if the state has changed but i have no idea why the blocBuilder do

[2020-04-25 05:44] felangel commented on #1090
Hi @ariefwijaya 👋
Thanks for opening an issue!

It looks like you’re not using Equatable properly which is likely causing this issue. Please make sure to override props in your state class and pass the ThemeData into the props override. I highly recommend checking out [the faqs](https://bloclibrary.dev/#/faqs?id=state-not-updating) for more details.

Hope that helps 👍

[2020-04-25 06:13] ariefwijaya commented on #1090
Ah I see, now the **problem solved** and worked well!.

it happened because I dont know about the new syntax (prefer to use props instead of super).
In theme_state I forgot to pass the variable to the props, it should be like this:
[code]
instead of

[code]
Before, I was trying to implement super in the constructor to pass the variable and its give me error like this:

Thank you 👍

[2020-04-25 06:13] #1090 closed

[2020-04-25 06:44] moseskarunia commented on #1087
Thanks Felix for the enlightenment. Turns out you are correct. It was also a problem in 3.2.0, I tried to debug it with `debug` instead of `run` and `flutter`. And I can reproduce the same error.

So, after your previous comment, I did some more research about the behaviour of `untilCalled`. Turns out I found `untilCalled` didn't stop the function execution (?)

Should `untilCalled` normally stop

[2020-04-25 07:39] Jomik commented on #1089
Honestly, the only "issue" is that the Dart team says to avoid using it.
I simply had not seen the `part` directive before, so I researched it and found the above link.
I agree that your idea of `part` makes perfect sense, and I am not bothered by it, nor have I found any cons, other than Dart saying to avoid it.

The solution, without a barrel file, would simply be having the bloc file export sta

[2020-04-25 15:19] felangel commented on #1089
@Jomik where does the dart team say to avoid parts? Packages such as json_serializable which are written and maintained by Googlers use parts and in this particular use case it makes a lot more sense in my opinion to treat events and states as part of the bloc file because you eliminate the need for extra exports or barrel files.

[2020-04-25 15:25] felangel commented on #1087
No problem! I don’t believe untilCalled will stop execution after the function. It just allows you to wait until the stubbed method was called. Hope that helps 👍

[2020-04-25 15:47] moseskarunia commented on #1087
Thanks Felix appreciate your answers

[2020-04-25 15:47] #1087 closed

[2020-04-25 17:25] ResoDev commented on #1089
`part of` allows you to generate code for events and states into the "main" *_bloc.g.dart file which is a huge space saver in the explorer (unless you decide to hide generated files).

[2020-04-25 17:27] Jomik commented on #1089
@felangel On the link in the issue description, in the blue box.

Some Stack Overflow question also mentioned what you say with json_serializable, and speculates that Dart may implement something similar to C++'s `friend` directive.

~I do not suggest using creating a barrel file at all :)
Personally I do not think that the way to use a bloc would change at all, with no extra file either. As the o

[2020-04-25 17:38] felangel commented on #1089
@Jomik that link I believe is referring to when making libraries not when consuming libraries in an application.

What @ResoDev is referring to is if you use json_serializable or freezed for bloc events and states, with the part approach all the generated code will become part of the bloc.g.dart as opposed to generating separate files (event.g.dart and state.g.dart) respectively.

[2020-04-25 17:45] Jomik commented on #1089
@felangel Hmm. I guess that can make sense. Though, I wonder why it would be different for libraries versus the application we create.

Thanks for elaborating. I see - so  Freezed essentially makes *State and *Event immutable, but uses code generation to do so.

[2020-04-25 17:50] felangel commented on #1089
@Jomik I’m guessing they were just trying to discourage having a library with multiple parts in favor of independent mini libraries to improve reusability and encourage the single responsibility principle. It would be good to raise this question as an issue in the dart docs imo to clarify.

Freezed does a lot of things including supporting data classes, unions, and providing copyWith etc... all th

[2020-04-25 17:50] #1089 closed

[2020-04-25 20:12] heshaShawky opened #1091 "No effects to the UI While Keyboard is active"
**Describe the bug**
I'm working on a comment section for a blog app! and I made an event for adding a comment, But It's not working as it should be, the current behavior is while the keyboard is active the new comment not showing up, But If  I closed the keyboard after I made the comment the comment appears on the list

**To Reproduce**
The Event:
[code]

The Bloc:
[code]
The UI Form
[code]

**Ex

[2020-04-25 21:21] felangel commented on #1091
Hi @heshaShawky 👋
Thanks for opening an issue!

It looks like the problem is your bloc is mutating (modifying the existing list of comments) rather than creating a new instance.

If you update

[code]

to

[code]

I think you’ll find the problem will be resolved.

Let me know if that helps 👍

[2020-04-25 23:40] heshaShawky commented on #1091
I have updated the code as you said and pops an error
[code]
and I fixed the error by putting type to list
[code]

The error gone but now the list never changes whatever the keyboard on/off,

I have logged the comments I noticed that after your modifications that it's adding just the first comment to the list then logging the same results.

Before It's adding the data to the list ( been printed on

[2020-04-25 23:41] felangel commented on #1091
Can you please share the link to the github repo? I’m happy to take a look and open a PR with fixes.

[2020-04-26 00:43] heshaShawky commented on #1091
Here a sample ( [repo](https://github.com/heshaShawky/Adding-new-item-to-the-list-issue-repository) ) I made with the exact problem I have.

Click on the button **add a comment** The UI not going to rebuild too.

But the new comment has been added to list if you took a look on the console as I'm printing the comments list on the console every time the event been triggered ( By pressing the button

[2020-04-26 00:45] RollyPeres commented on #1091
`yield CommentsLoaded([...currentState.comments, Comment(...)]);`

[2020-04-26 01:03] heshaShawky commented on #1091
it worked thanks for the answer and the explaining.

[2020-04-26 03:41] lambasoft opened #1092 "[Recommendation] What's the best practice for my case?"
Hello,

First of all, thank you from the bottom of my heart for this package. I can't image developing apps in flutter without it.

Talking of which, let's take this app as an example
![image](https://user-images.githubusercontent.com/15126305/80296747-3b640700-8786-11ea-9f87-026eca562fc2.png)

Every single card shown on the screen fetches it's data from an api request. All from the same api servi

[2020-04-26 11:01] edgebasis opened #1094 "How to navigate to detail screen"
Hi,
I am trying to build my first app in Flutter using flutter_bloc. I tried many ways to solve this but never succeeded. I have a list of items that are fetched from the API using a stream and wanted if click on an item to view the details of that item. In the ItemDetailScreen:

`class ShowItemDetails extends StatelessWidget{
  @override
  Widget build(BuildContext context) {
    // TODO: impleme

[2020-04-26 12:20] RollyPeres commented on #1092
Hi @lambasoft !
I've put together a quick sample of how a basic approach would look like given your requirements: https://github.com/RollyPeres/dashboard_demo
Hope it gives you a good starting point.

[2020-04-26 12:25] RollyPeres commented on #1094
Hi @edgebasis !
You're trying to use a `BlocListener` to render UI which will not work, since listeners are used for side effects like navigation, showing dialogs, etc. If you need to return pieces of your UI then please use `BlocBuilder` instead.

[2020-04-26 13:44] lambasoft commented on #1092
@RollyPeres Thank you very much! I really appreciate your efforts, and you made it much clearer to me.

Please correct me if I'm wrong, but if I used your method, for a card to show its content, it has to wait for all other contents to be done. I would not have a first-come-first-serve kind of method. Right? Else I must make every card into separate blocs so it loads it's content without waiting f

[2020-04-26 14:36] alexanderevlos opened #1095 "Event triggered, state changed, but screen doesn't update."
Hello everyone!

I would appreciate some assistance with a bug that's causing me nightmares. I apologize in advance just in case I did something wrong, I'm new to BLoCs.

The error is:
I have an Authentication BlocBuilder (followed the steps in the github example =P) and I finished all the steps to complete the login. When I am in the home (Authenticated) screen, I am able to return to Login scree

[2020-04-26 14:37] RollyPeres commented on #1092
The approach I took was based on your requirement of loading all cards simultaneously. `Future.wait` will send all those requests in parallel and the result will be available once all of them are finished. You card contents are built based on a single state.

If you want to handle each request/card separately you can do that in the same bloc too. You just need to fine tune when your bloc builder w

[2020-04-26 14:48] RollyPeres commented on #1095
@alexanderevlos Hi, no need to apologize, we've all been there at some point.
How are you navigating to other screens from your home screen ? `.push`, `.pushReplacement` or `.pushAndRemoveUntil` ? If your home screen is destroyed when you navigate using `.pushReplacement` for example it will also destroy your `BlocBuilder` so it won't be there anymore to react to state changes. Please use `.push`

[2020-04-26 15:13] edgebasis commented on #1094
Hi @RollyPeres ,
thanks for taking the time on Sunday!
I tried what you said but still i get the same error.
I am using a stream to fetch the data as you can see food_list.dart file. Not using the same bloc. does that affect?
here is the public gist:
[https://gist.github.com/edgebasis/07a62df74a469ce850f320be6cbdbfa6](url)

[2020-04-26 15:26] #1092 closed

[2020-04-26 15:31] alexanderevlos commented on #1095
Hi, Rolly!

Here's the code I'm using to navigate through screens:

[code]

I don't know if it's causing and harm, but even if I remove the pop(context) line, the behavior is still the same.

Other thing, I'm using different Scaffolds in Login Screen and the Authenticated pages, I don't think this would cause any issue, but I thought I should inform you.

Thanks again!

[2020-04-26 15:31] RollyPeres commented on #1094
You're consuming `ItemDetailBloc` in your `ItemDetailsScreen` before you provide the bloc. Your bloc is only provided in `ShowItemDetails` widget. You should move your `BlocProvider` above your `BlocBuilder`.

[2020-04-26 15:37] RollyPeres commented on #1095
That `.pop` would get rid of your home screen and cause the issue. But if you're still facing problems then please share a minimal reproduction of your issue and I'll have a look!

[2020-04-26 15:46] alexanderevlos commented on #1095
I'm preparing a main.dart file to upload here!

[2020-04-26 15:50] felangel commented on #1092
@lambasoft thanks so much for the positive feedback and thanks @RollyPeres for taking the time to answer!

Closing for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2020-04-26 16:21] alexanderevlos commented on #1095
Hey @RollyPeres. Here's the code. I'm sorry, it's huge, but I wanted to give you all info I could.

Also, something funny happened, I was able to reproduce the error in a different way. In this example, the Login button calls a print I placed at Home Page (saying 'aaaaa'), but doesn't show the page at all.

Thanks again!
File:

[main.zip](https://github.com/felangel/bloc/files/4535877/main.zip)

[2020-04-26 16:56] pradt commented on #765
Came across this because I'm trying to do bloc to bloc communication. What is the existing approach ?

[2020-04-26 16:57] felangel commented on #765
@pradt the current recommendation is documented [here](https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication).

[2020-04-26 17:21] alexanderevlos commented on #1095
Oh, sorry, I forgot to tell: you have to place it in a project with flutter_bloc and equatable dependencies.

Thanks!

[2020-04-26 18:35] RollyPeres commented on #1095
I've modified your sample quite a bit, hope you don't mind.
 - If you want to share larger examples like this one, I'd recommend directly linking to a repository, would be easier for someone to help you, instead of dropping everything in a `main.dart`.
- I've took the approach of handling the top routing with a listener with named routes instead of a builder, since that is what you seemed you want

[2020-04-26 20:53] alexanderevlos commented on #1095
**GENIOUS!**

Thank you so much, @RollyPeres, it worked so well!

And also thanks for the hints!! Greate value to my future codes!

Bye!

[2020-04-26 20:53] alexanderevlos commented on #1095
Oh, and sorry for the large exemple code, I didn't know the best way to send it haha.

[2020-04-26 20:53] #1095 closed

[2020-04-26 21:04] RollyPeres commented on #1095
No worries! If it's a small example you can create a gist and link it; as for larger examples you can create a public github repository and share the link to it. Good luck with your app!

[2020-04-26 21:41] enricobenedos opened #1096 "Stateless or Stateful? App wide Bloc or Widget wide?"
Good morning,
I'm using `flutter_bloc` from some months also in production. Sometimes when arrives the moment to implement a new feature in my production app I collide with some structural decisions that I don't know how to deal with.
For example when I need to use a bloc on a single page (one shot), is it better to use `Stateless` or `Stateful` widget?
This is the `Stateless` implementation
[code

[2020-04-26 22:14] RollyPeres commented on #1096
Hi @enricobenedos !

Deciding between stateless or stateful has nothing to do with bloc. As you've already kinda guessed, you should always go for stateless, unless you need to deal with some additional state.
When using bloc you get all your state from the bloc itself, so you mostly deal with stateless.
You'll mostly need stateful widgets when dealing with UI specific objects like controllers or

[2020-04-27 01:11] heshaShawky opened #1097 "Authentication Based UI Component"
**Describe the bug**
I'm requiring a login for my users so they can access certain things in my app! for example, a user can't see a `TextField()` for putting comment if his not authenticated.

I have followed the article on the **bloclibrary** site and the login works great.

The issue is when the user **first** login then redirected to the home page and click somewhere to show post comments, he

[2020-04-27 03:16] vjyanand commented on #240
@felangel Nested `BlocBuilder` doesn't honor `condition`

[2020-04-27 03:23] felangel commented on #1097
Hi @heshaShawky 👋
Thanks for opening an issue!

Can you please share a link to a sample app which illustrates the issue you're having? It would be much easier for me to help if I'm able to reproduce the issue locally. Thanks! 👍

[2020-04-27 06:01] felangel commented on #1074
@mflesh1 in an attempt to simplify token refresh I have created [package:fresh](https://pub.dev/packages/fresh).

You can check out [the example](https://github.com/felangel/fresh/tree/master/example) for a complete sample application using `fresh` which integrates with the [jsonplaceholder API](https://jsonplaceholder.typicode.com).

Let me know if that helps 👍

[2020-04-27 06:09] felangel commented on #240
@vjyanand the `condition` on `BlocBuilder` only comes into play when the bloc's state changes. There are many other reasons for `BlocBuilder` to rebuild such as if the parent widget rebuilds.

Have you taken a look at the [timer tutorial](https://bloclibrary.dev/#/fluttertimertutorial)? It includes how to add a condition to optimize for rebuilds towards the end of the [actions section](https://blo

[2020-04-27 06:10] felangel commented on #1071
Closing since there was no sample application provided to reproduce the issue. Feel free to comment with a link to a sample app and I'm happy to continue the conversation 👍

[2020-04-27 06:10] #1071 closed

[2020-04-27 06:16] vjyanand commented on #240
Yes, but nested blocbuilder doesn’t work as expected

[2020-04-27 10:54] jeanluc243 opened #1098 "Update website version and Docs"
**Describe the bug**
Update flutter Bloc version on [https://bloclibrary.dev/](https://bloclibrary.dev/), actual version is 4.0.0
- also add new features Docs and how to use it

[2020-04-27 11:55] enricobenedos commented on #1096
Thank you for you time @RollyPeres, your answer is what I was looking for.

[2020-04-27 11:55] #1096 closed

[2020-04-27 12:15] rakeshh025 opened #1099 "How to create a new instance of bloc so that events are fired again?"
Hey @felangel , I'm a huge fan of your library and I suggest this to everyone who works in Flutter. This may be a silly question. Kindly excuse me, if so. I want to initialize bloc instance everytime a tap event event occurs.

**To Reproduce**
I have developed a sample app to reproduce the issue. Here's the [link](https://github.com/rakeshh025/flutterBlocFiring) to the repo
Steps to reproduce the

[2020-04-27 13:14] felangel commented on #1098
Hi @jeanluc243 👋
Thanks for opening an issue!

I believe the docs should all be updated and you might just be loading a cached version. Can you try refreshing/cleaning cache and let me know if that helps?

Thanks!

[2020-04-27 13:33] pradt commented on #765
Ahh excellent, thank you very much.

[2020-04-27 14:10] jeanluc243 commented on #1098
It works... Extremely thanks

Le lun. 27 avr. 2020 à 15:14, Felix Angelov <notifications@github.com> a
écrit :

[2020-04-27 14:39] edgebasis commented on #1094
I just moved the provider to `ItemDetailsScreen` widget and then moved the builder to `ShowItemDetails` widget.
Now we i navigate to the `ItemDetailsScreen` i get this error:

        No ancestor could be found starting from the context that was passed to RepositoryProvider.of<MenuItemsRepository>().

is there anything else i need to do before navigating to the `ItemDetailsScreen`?

thank you

[2020-04-27 14:39] csarigumba opened #1100 "Direct Navigation vs Route Navigation"
@felangel, thanks for this awesome library! I'd like to ask your feedback for my query below.

I'm confused whether I should implement a `Route navigation` or `Direct navigation` in my application? Below is my sample code.

[code]

Basically, the application that I'm building has the following pages.

* Login (authenticate so that it can access home screen)
* Home (able to access different page (n

[2020-04-27 14:43] #1098 closed

[2020-04-27 15:09] kovzone commented on #197
I'm facing same problem. I tried to call currentState but the view is not reloaded. Could you help me?

`
abstract class AuthState extends Equatable {
  const AuthState();
  @override
  List<Object> get props => [];
}

class AuthInitial extends AuthState {}

class Intro extends AuthState {}

class Authenticated extends AuthState {}

class Unauthenticated extends AuthState {
  final User user;
  fi

[2020-04-27 18:48] jhd-lego opened #1101 "[VSCode Extension] Infer Equatable usage"
**Is your feature request related to a problem? Please describe.**
It is quite frustrating to miss question to use Equatable and hit "no" by mistake..

**Describe the solution you'd like**
If `equatable` is in my pubspec, we could assume that I want to use it.
Probably an option to enable/override it.

**Describe alternatives you've considered**
A configuration option.

**Additional context**
Woul

[2020-04-27 18:49] #1101 closed

[2020-04-27 18:50] Jomik opened #1102 "[VSCode Extension] Infer Equatable usage"
**Is your feature request related to a problem? Please describe.**
It is quite frustrating to miss question to use Equatable and hit "no" by mistake..

**Describe the solution you'd like**
If `equatable` is in my pubspec, we could assume that I want to use it.
Probably an option to enable/override it.

**Describe alternatives you've considered**
A configuration option.

**Additional context**
Woul

[2020-04-27 18:50] jhd-lego commented on #1101
Woops. Wrong GitHub account :)

[2020-04-27 19:11] felangel commented on #1102
Hi @Jomik 👋
Thanks for opening an issue!

I think this is an interesting feature request and I have always had the idea of a `bloc.yaml` configuration file that could be checked into source control and be used to global configuration settings like the one you described. What do you think?

[2020-04-27 19:24] RollyPeres commented on #1094
@edgebasis you're getting that error because you're trying to obtain an instance of your repository using `RepositoryProvider.of<MenuItemsRepository>(context)` but you haven't actually provided that repository in your tree. You need to create it using `RepositoryProvider(create: (_) => MenuItemsRepository())`.

It's up to you if this is a globally available repository or you wanna scope it to your

[2020-04-27 19:35] Mhsanjib opened #1103 "Running the code inside the bloc asynchronously."
Consider the following block of code.

     @override
      void initState() {
        super.initState();
        final data = context.bloc<AuthenticationBloc>().geData();
        if(data[AUTH_STORE.isInitialized]){
          _initializeUserState(UserLoginState(data[AUTH_STORE.user], data[AUTH_STORE.isLoggedIn], false));
        }
        print("loaddddd");
        context.bloc<DashboardBloc>().ad

[2020-04-27 20:13] edgebasis commented on #1094
@RollyPeres thanks for the reply. I actually went and redone the bloc architecture from the list of items and wrapped it up with a provider. I think i did what you mentioned and that is to create the repository and that was in the root (list view of the items) see below:
` Container(
              height: 240,
              width: 200,
              child: BlocProvider(
                create: (co

[2020-04-27 20:25] RollyPeres commented on #1094
Glad you found a solution.
I'd also convert food list widget to a stateless one and add event when bloc is created.e.g.:
`BlocProvider<MenuBloc>(create: (_) => MenuBloc()..add(FetchMenuEvent()))'

[2020-04-27 20:56] Mhsanjib commented on #1103
Closing the issue.. seems like i got confused on this. Found an alternative solution for this. Thank you

[2020-04-27 20:56] #1103 closed

[2020-04-27 21:30] edgebasis commented on #1094
Thanks @RollyPeres , i will definitely look in this solution too, it makes more sense to have a stateless widget for the Food list.
thank you

[2020-04-27 21:30] #1094 closed

[2020-04-27 23:01] felangel commented on #1100
Hi @csarigumba 👋
Thanks for opening an issue!

In this case, I would recommend going with a route based approach. I highly recommend taking a look at this [example](https://github.com/felangel/fresh/tree/master/example) for inspiration.

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-04-27 23:01] #1100 closed

[2020-04-27 23:05] felangel commented on #1099
Hi @rakeshh025 👋
Thanks for opening an issue!

I believe the issue is the `FavoritesPage` and `Summary` are not unmounted when you change tabs so the `create` will not be invoked again. In this case, I would recommend lifting the BlocProvider up higher and calling add in the `onTap` of `CupertinoTabBar`.

Let me know if that helps 👍

[2020-04-27 23:11] felangel commented on #315
The `condition` on `BlocBuilder` only has an impact on rebuilds due to state changes in the bloc. There are many cases where Flutter will decide to rebuild part of the widget tree for a variety of reasons and in those cases, it does not matter if there is a `condition` or not, `BlocBuilder` will have no choice but to rebuild.

[2020-04-28 00:29] rakeshh025 commented on #1099
@felangel , like how? Can you please provide the code snippet?

[2020-04-28 02:18] heshaShawky commented on #1097
Here's the [sample](https://github.com/heshaShawky/Adding-new-item-to-the-list-issue-repository)

If you click login nothing will change in real-time ( The UI )  and the BlocBuilder should change the UI based on what state is active.

I didn't know this issue and I just navigated from screen to another tell I start but some UI elements need to be logged in if you wanna use it.

[2020-04-28 04:35] felangel commented on #119
Hi @lehaidangdev 👋
Thanks for the positive feedback! I took a look at your app and I believe the problem is you're creating multiple instances of the `PlayerListingBloc`. There is one being created by `BlocProvider` in `home.dart` which looks good but then in the `initState` of `filter.dart` you are creating another instance so when you add events to the `_playerBloc` from `filter.dart` it is a di

[2020-04-28 04:40] felangel commented on #1099
@rakeshh025 I've opened a [pull request](https://github.com/rakeshh025/flutterBlocFiring/pull/1) with a fix. Hope that helps 👍

[2020-04-28 04:40] #1099 closed

[2020-04-28 04:47] felangel commented on #1038
Hi @newbieflutter when you debounce it means you are ignoring those events for a period of time. It's common to debounce events when a user is typing so that you give the user time to stop typing before processing the event. I would highly recommend reading up on [debounceTime](https://rxjs-dev.firebaseapp.com/api/operators/debounceTime) and trying some examples.

In the snippets you've provided,

[2020-04-28 05:04] rakeshh025 commented on #1099
@felangel That works like a charm! Thanks :)

[2020-04-28 05:08] stay-safe commented on #194
I'm waiting for it.

[2020-04-28 05:27] felangel commented on #194
@stay-safe sorry been swamped but will try to get to it tomorrow!

[2020-04-28 06:32] stay-safe commented on #194
Thank you. I bow before the magnificence of your code.

[2020-04-28 09:01] lehaidangdev commented on #119
Thanks @felangel  for suggestions. 😁

[2020-04-28 09:48] ben-lotze opened #1104 "Firing same state again with updated attributes to update list"
Hi Felix, I am using your bloc library for the first time in a project. Basically it's an app that mimics the search bar in Firefox next to the address bar (where it was possible to install multiple search engines). I have the following problem, I hope it's understandable without code:

**Situation**
* Screen 1 (MainSearchScreen) shows a list of installed search engines. The user can open another

[2020-04-28 12:00] RollyPeres commented on #1104
Hi @ben-lotze !

It's always harder to tell what's going on without a sample app. To me it sounds like you are not yielding a new list of engines. Basically the bloc will compare the previous state with the current state and if they're equal it won't emit that last state. You're either misusing equatable or most likely you're not yielding a **new** list of engines; you should avoid altering the ex

[2020-04-28 14:39] felangel commented on #1104
Hi @ben-lotze 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which reproduces the issue? As @RollyPeres mentioned, it'll be much easier to help pinpoint the issue and suggest a fix.

[2020-04-28 17:02] Jomik commented on #1102
Hmm, I think it fits better to use [VSCode's configuration system](https://code.visualstudio.com/api/references/contribution-points).
You can create workspace specific configuration, that can be checked into version control.

[2020-04-28 17:03] felangel commented on #1102
@Jomik ideally I’d want to share the configuration across multiple IDEs though.

[2020-04-28 17:05] Jomik commented on #1102
Hmm, I can understand that. But the extension is IDE specific?
Solution could be to allow both options?

[2020-04-28 17:18] felangel commented on #1102
There's an equivalent plugin for intelliJ haha and yup that could work as well.

[2020-04-28 19:15] Rammehar opened #1105 "How to show total length of items in the cart, on different screens ?"
Hello felangel,
I follow your shopping cart example to create a Courses Shopping App.
I have list of courses of my home page.
on click on the course, the course detail screen will open and there a button ADD TO Cart is available to add the course in the cart.

Only Authenticated user can see his/her cart.
I don't find any example, how to show the length of selected courses on every screen ?
Should

[2020-04-28 23:45] raslan3333 opened #1106 "How to get the current state!"
When I try to print the current state, I get always the initialState!

`enum CounterEvent { increment, decrement }

class CounterBloc extends Bloc<CounterEvent, int> {
  @override
  int get initialState => 0;

  @override
  Stream<int> mapEventToState(CounterEvent event) async* {
    switch (event) {
      case CounterEvent.decrement:
        yield state - 1;
        break;
      case CounterEvent

[2020-04-29 00:10] RollyPeres commented on #1106
Hi @raslan3333 !

Your issue is in the method signature, it should be  `Stream<int> mapEventToState(CounterEvent event)`. 😉

[2020-04-29 04:42] heshaShawky commented on #1105
You just on each screen write your `BlocBuilder<BLOC, STATE>` and the `state.data.length` within.

[2020-04-29 05:03] felangel commented on #1105
Hi @Rammehar 👋
Thanks for opening an issue!

As @heshaShawky pointed out, you can just wrap the shopping cart icon widget in a BlocBuilder like:

[code]

Hope that helps 👍

[2020-04-29 05:04] felangel commented on #1072
@andreavaccari apologies for the delay...I'm planning to dig into this tomorrow.

[2020-04-29 07:17] andreavaccari commented on #1072
Thank you for the update. Please take your time!

[2020-04-29 07:52] jensencelestial opened #1107 "Conditional Stream Operations for Events"
Good Day,

Thank you for creating and maintaining this wonderful library. I have a question about how to implement specific Stream operators based on certain events using `transformEvents`, in the example below:

[code]

All events are being debounced, but how to implement it in a way that its only being debounced for certain events, while for the rest you use `switchMap` or similar operators?

Th

[2020-04-29 10:54] ben-lotze commented on #1104
Hi @felangel and @RollyPeres  I uploaded the app code to github: https://github.com/ben-lotze/search_buddy
I'll try to explaiin as detailled as possible where the relevant code locations are, to not waste your time.

--------

case 1, works as expected:
* In the MainSearchRoute there is a RecentSearchesList
* now when a search is done, the SearchBloc adds a AddRecentSearchEvent to the SearchHistor

[2020-04-29 12:38] RollyPeres commented on #1107
Hi @jensencelestial !

Thanks for showing interest in this library! ✨

Here's an example of treating events preferentially when dealing with a typeahead search box:

[code]
Please notice it uses the latest version of bloc, which is `4.0.0`. Hope it gives you a good starting point 👍

[2020-04-29 13:30] RollyPeres commented on #1104
@ben-lotze I wasn't able to run your code on my machine, there's androidx issues. Mind upgrading your project to be androidx compatible?

[2020-04-29 13:50] RollyPeres commented on #1106
@raslan3333 Sorry, I missed the part where you were saying about the printing value.

You will always get initialValue there because events are handled asynchronously(but in the order they are added). So basically after you add those events your code will move forward and print the existing value which is 0 in your case. The added events will then be processed by the bloc. If you wish to see the c

[2020-04-29 15:14] ariefwijaya commented on #134
thank you

Thank you, 100% worked !

[2020-04-29 15:40] ben-lotze commented on #1104
@RollyPeres Oh, sorry, I updated the project to AndroidX. Hope it works now.
And thanks so much for your time!

[2020-04-29 16:26] RollyPeres commented on #1104
Thanks for updating @ben-lotze , it runs now, however I keep getting `Invalid argument(s): Record key cannot be null`
Is it possible to create a minimal sample reproducing your issue ? Would help pinpointing the issue if you clean up all the unrelated dependencies so we can focus on the bloc related aspects without bumping into external factors.

[2020-04-29 18:09] ben-lotze commented on #1104
@RollyPeres @felangel
Ok, this is a bit embarrassing. While coding the simpliified example I realized the error in the app I linked above:
* **I provided the relevant Bloc two times!**
* one time above the Material app, so that both screens would find it.
* one time on the main page (where the Drawer would not update). This was a bad mistake, which broke the event handling.
* I did not even realiz

[2020-04-29 18:24] RollyPeres commented on #1104
@ben-lotze glad you found the solution yourself!

From having a quick peak at your app earlier, I'd suggest not manually creating blocs in `initState` and disposing yourself, you can leave that up to the `BlocProvider` to take care of.
So basically you can create a bloc directly in the `build` around the lines of:
[code]
Good luck with your project and feel free to come back if you encounter addit

[2020-04-29 18:30] ben-lotze commented on #1104
@RollyPeres Thanks for the tip, that slims down the code and reduces errors, although IntelliJ warns you anyway when leaving them open.

I'll close this now as the problem is resolved.

[2020-04-29 18:30] #1104 closed

[2020-04-29 19:17] bintangursiboro commented on #120
Hello @felangel , just upgrade bloc version to 4.0.0 (3.0.0 before), and then randomly get error:

`I/flutter (25994): Another exception was thrown: Unhandled error Bad state: Cannot add new events after calling close occurred in bloc Instance of 'ArticleYoutubeBloc'.
E/flutter (25994): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: 'package:flutter/src/widgets/scroll_activity.d

[2020-04-29 19:24] abizareyhan opened #1108 "How do i use BlocBuilder across screen?"
I have BlocBuilder inside MaterialApp, like this

[code]

i want to be able to rebuild the BlocBuilder every time i change the BlocState in every screen, so for example currently i opening MainScreen() and i do Navigator.push() to ProfileScreen() and at the profile screen i want to change the ApplicationState to ApplicationUnderMaintenance, for now it will not rebuild because when i push new scree

[2020-04-29 20:17] RollyPeres commented on #1108
Hi @abizareyhan !

You can make use of `MaterialApp`'s builder.

[code]

[2020-04-29 20:24] raslan3333 commented on #1106
thank you,
`  List<int> myList = [];
  counterBloc.listen((v) => { myList.add(v) }).onDone(() => { print(myList.last) });`

I don't know if I will need this ever but I just wanted to understand how it work,
with flutter_bloc it is mutch easier.

thanks 👍

[2020-04-29 20:28] felangel commented on #1106
@raslan3333 you can also do

[code]

if you just want to see the values printed as the are emitted by the bloc.

[2020-04-29 20:29] #1106 closed

[2020-04-29 20:33] raslan3333 commented on #1106
this is mutch easier and cleaner, thank you

[2020-04-29 20:52] felangel commented on #1105
Closing for now but feel free to add additional comments/questions and I'm happy to continue the conversation 👍

[2020-04-29 20:52] #1105 closed

[2020-04-29 21:15] felangel commented on #120
Hi @bintangursiboro 👋
Are you able to share a link to a sample which reproduces the issue so I can run/debug it locally? Thanks 👍

[2020-04-29 22:55] heshaShawky commented on #1097
Any updates on this?

[2020-04-29 23:57] peterson-umoke commented on #134
i have a similar issue here, but i have both a listener and builder, i want to pop the stack if there is success and return a widget if the state is successful or not,  here is an example code block..

`import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:trucks/blocs/bloc.dart';
import 'package:trucks/core/bootstrap.dart';

import 'index.dart';

[2020-04-30 01:04] jensencelestial commented on #1107
Thank you! It seems to be approach that I'm looking for.

Will this be applicable to pre `4.0.0` versions, specifically `3.1.0`?. Looks like the method signature of `transformEvents` changed.

[2020-04-30 02:14] RollyPeres commented on #1107
For pre `4.0.0` you can use:

[code]

[2020-04-30 03:05] bintangursiboro commented on #120
Currently cannot share any link for you, but here's a thing,
So I have bottom navigation -> Home, Settings, etc.
so I use bloc provider for temp saving the home state (fetching data from server at the first time when app launch), and then after I tap setting navigation, and back tap home, and bloc is re fetching data from server again. In previous version, bloc is fetching data just once when laun

[2020-04-30 03:26] felangel commented on #1107
Thanks so much @RollyPeres for taking the time to answer! 💯

@jensencelestial closing for now but feel free to comment with any additional questions 👍

[2020-04-30 03:26] #1107 closed

[2020-04-30 03:27] jensencelestial commented on #1107
Thank you very much! Works fine on my end :).

[2020-04-30 07:56] felangel commented on #1072
@andreavaccari I believe I managed to refactor the existing todos example to meet your specifications.

[Check it out](https://github.com/felangel/bloc_todos) and let me know if it addresses all of the aforementioned concerns and sorry for the delay!

Cheers!

[2020-04-30 14:48] Zedorff opened #1109 "BlocProvider provided bloc is not canceling stream subscription."
I've got the main page with bottom navigation.

Each page is a StatefulWidget with my BaseState which extends flutters State.
Each state has a bloc object which is provided in initState method via BlocProvider.of(context).
Each bloc has a StreamController which emits errors from the onError method of a bloc and other places like network response failures etc.
State listens to this stream in initSt

[2020-04-30 14:59] RollyPeres commented on #1109
Hello @Zedorff !

You get that error because dart streams are single subscription by default and you're trying to re-subscribe to an already subscribed stream; even though you cancel your subscription, you still can't resubscribe to it.

I also find a bit non-conventional the way you're trying to handle errors with bloc.
With bloc you would usually have the error be reflected in the actual state,

[2020-04-30 15:09] Zedorff commented on #1109
Hello @RollyPeres !
Thanks for the quick response.

I've come to flutter from Android development, and It's pretty straightforward for me to use such kind of a universal error handling in base classes :)

Thanks for pointing me to BlocDelegate seems like it's a lifesaver in my situation.

[2020-04-30 15:09] #1109 closed

[2020-04-30 15:12] Zedorff commented on #1109
@RollyPeres
The only one question left is how should I connect BlocDelegate to the UI?
For example for showing a dialog when an error occurs?
Could you please point me to the right direction

[2020-04-30 15:40] RollyPeres commented on #1109
@Zedorff Glad you found my suggestion helpful.
You can have a look at existing examples at: https://github.com/felangel/bloc/tree/master/examples
I'll point you to an existing one I found now which shows a snackbar when an error occurs: https://github.com/felangel/bloc/blob/393aa72b42f8d343a233cac5d62baef168bede7d/examples/flutter_firebase_login/lib/register/register_form.dart

In bloc the error i

[2020-04-30 15:49] Zedorff commented on #1109
@RollyPeres thanks in advice!

So there is no way to show a dialog with a simple error message in one place across the whole app?
I'm asking this because in my opinion handling error state in each page is pretty boilerplate, so I'm looking for a solution which could show a dialog with an error message when an error occurs in the bloc for the simple errors, but if I need to do something more comple

[2020-04-30 16:40] Zedorff commented on #1109
Got your point :)
Thanks for all your help!

[2020-04-30 17:43] ricpar11 commented on #711
Hi @felangel  👋
So starting from the "expected code to work":
Even though in the beginning I thought the same as you, I think I realize that if that code worked it still will not worked as expected. I mean, in this case we are trying to achieve inter-bloc dependency so we expect that if we want to access from a bloc blocB and the blocC to the blocA, we would want blocA to be the same instance, and

[2020-04-30 18:52] RollyPeres commented on #711
I made a mixin for this type of scenario:

[code]
And the bloc:
[code]
Blocs are registered as lazy singletons. This way you won't end up with multiple instances of your bloc when injecting it in other blocs, but also you'll ensure you'll be using the fresh instance everywhere. Hope it helps @ricpar11 ✌

[2020-04-30 19:28] ricpar11 commented on #711
Thats definitely a nice cleaner workaround. At first I thought it would still have the get it issue when trying to get the bloc instance, but apparently it only occurs when registering with factory functions.

Thank you @RollyPeres

[2020-04-30 19:33] enricobenedos commented on #1097
Hey @heshaShawky, I checked your code and in **my opinion** your are making some errors:
- You are passing a bloc to another bloc constructor, that otherwise is final and completely broke the library logic
- You are creating AuthenticationBloc two times

I can provide you the working code but your project need to be clean and fixed in a lot of places. To keep it working you need to change this cod

[2020-04-30 20:04] heshaShawky commented on #1097
Thanks a lot for sharing and explaining everything in details, I'm new in flutter so I'm kinda following the exact same examples on documentation for the library.

And [here](https://bloclibrary.dev/#/flutterlogintutorial) in login example on documentation did the same thing passing the `AuthenticationBloc` for the `LoginBloc` constructor.  ( the login bloc in the example docs is the same user blo

[2020-04-30 20:22] enricobenedos commented on #1097
And [here](https://bloclibrary.dev/#/flutterlogintutorial) in login example on documentation did the same thing passing the `AuthenticationBloc` for the `LoginBloc` constructor. ( the login bloc in the example docs is the same user bloc in my code ) then adding the `BlocProvider` on the `LoginForm` level.

No problem, I haven never see the linked example before and you are right telling me that yo

[2020-04-30 21:07] heshaShawky commented on #1097
You modifications btw work perfectly, and with more investigation, I found this what causes me the problem

from my code above:
[code]
The working version
[code]
So my question what the difference by using `BlocProvider.of<AuthenticationBloc>(context) ` than AuthenticationBloc(userRepository: UserRepository()) that I were using it?

[2020-04-30 21:10] mflesh1 commented on #1074
@felangel thank you for the example, although this is a bit more complex for my needs it did point me down the right path.

[2020-04-30 21:13] mflesh1 opened #1110 "[question] refresh data on page pop"
I am sure I am missing something.

I have a main screen that displays a data loaded from an API, this is loaded using the bloc pattern. The user then navigates (pop) to a second page.

The user then can hit the back arrow to return to the original page at which point I want to reload (hit api using bloc) the data.

I can't seem to figure out how to do this.

[2020-04-30 22:53] enricobenedos commented on #1097
The reason is simply, using this code
[code]
you are providing `AuthenticationBloc` to the widget tree, this mean that if you want to use it in a child widget you can simply obtain it calling `BlocProvider.of<AuthenticationBloc>(context)`.
That means that `MyApp()` widget and all its children widgets can retrieve `AuthenticationBloc` and use it.
Your mistake is that when you are creating `UserBloc

[2020-05-01 00:12] peterson-umoke opened #1111 "showdialog prevents updating of screen"
Good day flutter bloc team, i have been playing with flutter bloc for the past couple of days, its really smoothed my development process, Great work.

But... i just have a small issue.
i am unable to show a widget after `showDialog()` method is fired in the bloc listener. i will pop the navigation stack when the state changes though, but in this case i will like to show a different widget once th

[2020-05-01 00:16] peterson-umoke opened #1112 "DropdownButtonFormField() and TextFormField() validation examples"
**Is your feature request related to a problem? Please describe.**
no clear example of using dropdownbuttonformfield and textformfield example

**Describe the solution you'd like**
good day i dont know if a good example of how to update the state with validation using dropdown buttons and textformfield in form can be made

[2020-05-01 00:41] felangel commented on #1111
Hi @peterson-umoke 👋
Thanks for opening an issue!

Can you explain why you expect the home page widget to show? The only code I see being executed in response to a success state is the `Navigator.of(context).pop`.

Also, it would be awesome, if you could share the link to a sample app which reproduces the issue so I can debug it locally. Thanks 👍

[2020-05-01 00:44] peterson-umoke commented on #1111
hi, thanks for responding, if you look closely you will see the me checking for a successstate in the builder, let me edit the code so it can be clearer

[2020-05-01 00:45] felangel commented on #1111
@peterson-umoke ah I see. So the dialog is being popped but the builder isn't rebuilding? Are you able to share a link to the app?

[2020-05-01 00:45] peterson-umoke commented on #1111
the code base is huge, let me see if i can slim it down.

[2020-05-01 00:46] felangel commented on #1110
Hi @mflesh1 👋
Thanks for opening an issue!

You can await the `Navigator.push` and then add an event to the bloc to reload like:

[code]

Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-05-01 00:46] #1110 closed

[2020-05-01 00:51] felangel commented on #1097
Hey @heshaShawky 👋
As @enricobenedos kindly pointed out, the problem is you're not reusing the existing instance of `AuthenticationBloc` and are instead creating multiple instances. You should use `BlocProvider.of<AuthenticationBloc>(context)` to lookup the existing `AuthenticationBloc` that was provided higher up in the widget tree otherwise you are adding events to the new AuthenticationBloc and

[2020-05-01 00:51] #1097 closed

[2020-05-01 02:00] peterson-umoke commented on #1111
Good day, thanks for your response, i have been able to fix the issue, i had to use the navigator key to be able to solve the issue, thanks

[2020-05-01 02:05] #1111 closed

[2020-05-01 02:09] felangel commented on #1074
Awesome! Glad it helped 😊
Closing for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2020-05-01 02:09] #1074 closed

[2020-05-01 02:20] mflesh1 commented on #1110
@felangel thanks for the response. I tried this but the event is not triggering the bloc, any ideas? What context is being used the BuildContext?

[2020-05-01 04:16] heshaShawky commented on #1097
Thanks a lot for the detailed answer, I hope all best for your @enricobenedos.

And also for @felangel ( Thank you not enough ) as well for developing this incurable amazing library to simplify the BLOC pattern as much as possible, as well for not been annoyed that I'm asking questions here that in the majority ( actually all of my questions tell now XD ) no bugs/problems related in the library it

[2020-05-01 04:57] felangel commented on #1110
Hi @mflesh1 yup the BuildContext will allow you to access the bloc if you provided it via BlocProvider higher up in the tree.

Are you able to share a link to a sample app which illustrates the problem you’re facing? Thanks 👍

[2020-05-01 08:04] rrifafauzikomara opened #1113 "Any example of this BLoC with CRUD operation local DB like SQFlite?"
Hi @felangel

Did you have an example of that?

[2020-05-01 10:57] sheriffyusuf commented on #1113
Here you go. https://github.com/sheriffyusuf/flutter-playground , don't be concerned about the name of the repository, but it contains a todo_app under the lib folder that contains exactly what you want.

[2020-05-01 11:14] fvisticot opened #1114 "[question] One or multiple blocs for an entity ?"
If we take the sample Todos app available with bloc implementation.
A TodosBloc is used for adding / updating / getting Todo Entity

If an application has a complex Todo management (multiple screens to update different fields)
Each update operation related to the Todo needs to be done on dedicated Todo Screen
This dedicated TodoScreen needs to display Loading / Saving / Refreshing the state of the

[2020-05-01 12:03] abizareyhan commented on #1108
I do like you said, but i got error this line

[code]

[code]

I use Flutter 1.17.0-3.3.pre, channel beta

[2020-05-01 13:32] RollyPeres commented on #1108
You'd need to use the navigator through it's key since the material app's navigator will be below your listener.

Have the widget containing your `MaterialApp` be stateful maybe and declare
[code]
and pass the key to material app's navigator
[code]

Hope that helps 👍

[2020-05-01 13:47] georgiossalon opened #1115 "[question] Managing Firestore Documents and Subcollections"
I am currently building an [employee scheduling app](https://github.com/georgiossalon/schedulingapp) in Flutter and am trying to manage the availability of the employees. I need the availability for when I am assigning new shifts and to show to the admin the calendar of a given employee.

Until now, I saved basic employee parameters such as name, salary, designation, email, ... into an Employee ob

[2020-05-01 13:50] georgiossalon commented on #1113
The following youtube tutorial helped me: [Database Storage in Flutter using Sqflite](https://youtu.be/E4yRzqChFxY)

[2020-05-01 14:18] felangel commented on #1113
Hi @rrifafauzikomara 👋
Thanks for opening an issue!

You can also check out the [todos example](https://github.com/felangel/bloc/tree/master/examples/flutter_todos).

Hope that helps 👍

[2020-05-01 14:18] #1113 closed

[2020-05-01 14:26] felangel commented on #1115
Hi @georgiossalon 👋
Thanks for opening an issue!

I would probably expose the availability through the `EmployeeRepository` and manage the availability through the `EmployeeBloc` since the availability is already part of the Employee model. You can create additional blocs if you feel you need to manage local state of the features but my initial reaction without additional context is to use the exi

[2020-05-01 14:35] felangel commented on #1114
Hi @fvisticot 👋
Thanks for opening an issue!

It totally depends on the specific use-case but in the situation you've described it might make sense to manage the list of Todo IDs via the `TodosBloc` state and then manage the state of individual todos via their own `TodoBloc` like you mentioned. The key thing in my opinion, is to avoid redundancy in state between the `TodoBloc` and `TodosBloc` beca

[2020-05-01 14:58] RollyPeres commented on #1115
@georgiossalon you'd have to think about how you'd use that unavailability data.

If you're going to show it on the same screen as the common employee data then it makes sense to imbue it in the employee document as a map.

If you're going to show it on a different screen then it makes sense to add it in a sub-collection.

In both cases you could easily manage it though the same repository.
As for

[2020-05-01 15:01] felangel commented on #1115
Definitely a good point @RollyPeres 👍
A lot of it depends on the UX haha but great point about saving some money by decoupling the availability subcollection from the employees, I completely agree.

[2020-05-01 15:16] RollyPeres commented on #1115
Cheers @felangel !
Would save money(egress) and mobile bandwidth 🙌
Having collection group queries available would also allow for advanced querying on all the unavailability sub-collections. e.g.:
- show me all the employees who are sick today 😐
- show me all the employees who are well and available today 😊

[2020-05-01 15:49] felangel commented on #1115
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-05-01 15:49] #1115 closed

[2020-05-01 15:54] georgiossalon commented on #1115
This is great stuff. @RollyPeres Yes the recommended feature of yours (history), is something that I would like to implement in the future. So same repository and probably same Bloc it is. Also, the group queries are something that I will need when assigning a new shift (looking for available employees).

[2020-05-01 15:56] felangel commented on #1115
@georgiossalon same bloc only if you need the availability information right away. If you can afford to lazily request it on demand then it's probably best to have a separate bloc manage the availability of each employee.

[2020-05-01 17:12] peterson-umoke commented on #1112
hello, please do you have any examples on this ?

[2020-05-01 17:14] peterson-umoke commented on #1112
i am having difficulty updating the value of a DropdownButtonFormField using flutter bloc?

[2020-05-01 18:03] #1112 closed

[2020-05-01 19:53] abizareyhan commented on #1108
It works like a charm, Thank you

[2020-05-01 19:53] #1108 closed

[2020-05-01 20:09] georgiossalon commented on #1115
@RollyPeres How should I get then the unavailability data within my repository? At the moment I am getting my employee data like this:

[code]
Shouldn't I integrate the implementation of the fetching of the unavailability data within the upper function?

Should it look like something like the following part?

[code]

P.S. The upper code has errors...

[2020-05-01 21:01] RollyPeres commented on #1115
@georgiossalon  I would start from the assumption that you're not trying to make google even richer than they already are 😊, so I would recommend against that approach.
In your example you're reading all your employees documents and for each document you're also reading ALL unavailabilities.
So for 50 employees having each an average of 10 unavailabilities, you would end up with 500 reads on each

[2020-05-02 01:35] ThinkDigitalSoftware commented on #538
@felangel just came across a use case. In my case, the devs have decided to have a separate bloc per news list tab, which is separated by region. They've added a tab which should show news from all of them so now I need to combine the outputs. This could be tricky with the current nested blocs and conditions. I haven't started reasoning on a solution yet, but this is the first thing I thought of

[2020-05-02 02:14] RollyPeres commented on #538
@ThinkDigitalSoftware that sounds like you should use a single bloc, filter your data on those tabs and show everything in your latest added tab.

[2020-05-02 02:26] felangel commented on #538
@ThinkDigitalSoftware yeah as @RollyPeres mentioned, have you considered having a single news bloc which you could filter by region or is that out of the question? Would love to learn more 😄

[2020-05-02 04:31] heshaShawky commented on #1091
I'm facing again the same problem, how do I change the data inside the state without this issue happen again.

In my situation now I'm trying to map/edit the list of posts if I like one of them update the array, I know that map makes a new array, but I can't think of another way to do it.

So what is best practice in this?

[code]

[2020-05-02 04:32] ThinkDigitalSoftware commented on #538
That's possible. My issue is that the tech lead doesn't want me spending too much time on what would be considered refinements at the moment.

Here's a question that should be answered though.

When does a library focus on best practices vs freedom of style?
This is why pendantic and effective_dart are simply linting suggestions rather than enforced rules. and why `var` still exists, etc. We shoul

[2020-05-02 04:38] felangel commented on #538
Thanks for sharing and for the feedback! I’m a bit curious why that feature was considered a refinement.

Can you elaborate a bit on what you mean by this?

[2020-05-02 04:45] ThinkDigitalSoftware commented on #538
I didn't ask, but based on other things I took the time to fix and was counseled on, this is a bigger task.

From the viewpoint of a new dev, even if combining blocs isn't a favorable practice, I don't believe it's your business to decide that. Rather than ask why add it, are we able to answer why not? If we have a `MultiBlocListener`, it seems natural to have its companion that can build. We know

[2020-05-02 04:46] felangel commented on #1091
@heshaShawky you can do something like:

[code]

Hope that helps 👍

[2020-05-02 05:00] #1091 closed

[2020-05-02 06:27] felangel commented on #538
@ThinkDigitalSoftware fair enough. I'll revisit this request this weekend 👍

[2020-05-02 11:11] RollyPeres commented on #538
@ThinkDigitalSoftware I'm not ruling out the need of combining blocs sometimes, but in my experience, whenever there's a need to build data driven UI's based on more than 2 blocs, it might be a side effect of not properly designing the blocs and their responsibilities.

Why not go for a single base bloc which receives a region as a parameter ? This way you guys could have dropped a bloc on top of

[2020-05-02 14:26] ThinkDigitalSoftware commented on #538
You're right in all your replies, but the fact still remains that I can't touch this section of the logic, so I have to work with what I have. Second, there are many MANY ways in which every dev can improve their logic and code. But why cripple them by not providing options and forcing them to refractor? What benefits do we get? This is why so many devs go with Provider in their state management s

[2020-05-02 15:37] georgiossalon commented on #1115
@RollyPeres Uff the first paragraph had me laughing. I think the google boys have enough cash.

Yeah, this helped me a lot. So I will integrate snippets in each employee's document containing the unavailability lets say for the current week. Thus, the admin can monitor the workload of his employees. These snippets though shall be updated in realtime (I guess with the setData and merge you wrote).

[2020-05-02 15:47] RollyPeres commented on #538
@ThinkDigitalSoftware I completely agree that flexibility is important.

From what I've seen so far, bloc is tailored towards enforcing good practices no matter who's writing the code; having someone dropping some fancy opinionated code is harder to do, and that's probably for the best, because it makes for a unified way of writing code. This will make all developers understand it easier and adapt

[2020-05-02 16:04] RollyPeres commented on #1115
@georgiossalon haha, almost as much as we'll have when we retire 😅

You can get live updates from your employee document directly.
Whenever someone updates the availability of an employee, e.g.: marks that employee as being in holidays 3 weeks from now, a transaction or batch write might run and that will add a new document to the unavailabilities sub-collection as well as updating the employee do

[2020-05-02 16:14] ThinkDigitalSoftware commented on #538
Well yes, the same `provider` but then again, the package doesn't aim to solve state management as you know, so it's not concerned with how developers use it outside its scope. I guess that's a good point in favor of keeping it out, and a reason why I'm a die hard fan of the `flutter_bloc` family.

Since I didn't have authorization to spend the time to refactor this properly, flutter_bloc didn't c

[2020-05-02 16:39] RollyPeres commented on #538
Bad news for you, `flutter_bloc` uses `provider` under the hood, you can't escape it 😂

I wish you the best of luck 😬

[2020-05-02 17:09] ThinkDigitalSoftware commented on #538
By keeping it out, I was referring to the `MultiBlocProvider`

[2020-05-03 13:03] rakeshh025 commented on #1099
@felangel , How to do it if it's a MultiBlocProvider? The below throws an exception :

return MultiBlocProvider(
                      providers: <BlocProvider>[
                        BlocProvider.value(
                        value: favouritesBloc,
                        child: FavouritesPage(),),
                        BlocProvider<ScrolleventnotifierBloc>(
                          create:

[2020-05-03 13:34] RollyPeres commented on #1099
@rakeshh025 remove the child with FavoritesPage from `BlocProvider.value`, the child needs to be passed to `MultiBlocProvider` as you're doing below.

[2020-05-03 13:54] rakeshh025 commented on #1099
@RollyPeres When I did so and try to access Bloc in favorites page, it throws exception.

[2020-05-03 14:07] RollyPeres commented on #1099
You mind sharing a link to a repo showcasing your issue @rakeshh025 ?

[2020-05-03 18:30] felangel commented on #1072
@andreavaccari just pushed additional changes to hopefully address all of your concerns. I introduced a TodoBloc to manage the local state of an individual todo and used [hydrated_bloc](https://pub.dev/packages/hydrated_bloc) to handle persisting local changes. I then made the `TodoBloc` subscribe to the `TodosBloc` and whenever a change concerning the current todo had occurred, I handled merging

[2020-05-03 18:31] felangel commented on #1114
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-05-03 18:31] #1114 closed

[2020-05-04 09:23] fajarsiedd commented on #182
Hi, sir i need help, im newbie

i have a UI like this
![image](https://user-images.githubusercontent.com/64776625/80951607-669fc380-8e22-11ea-94d3-ffdff2b56c11.png)

usually, for download i will use a bloc with 1 event and 3 states
event:
DownloadItem(),
states:
Downloading(),
DownloadSucceed()
DownloadFailed()

there is no problem if it's only for single download to manage the states
but how if i

[2020-05-04 12:43] gunsym opened #1117 "[Question] Testing LoginState in Firebase Login Tutorial Example"
From the example [Firebase Login Tutorial](https://bloclibrary.dev/#/flutterfirebaselogintutorial), when testing if the initial state is correct:

`test('initial state is correct', () {`
`expect(LoginState.empty(), loginBloc.initialState);`
`});`

The test failed with:

package:test_api                                   expect
package:flutter_test/src/widget_tester.dart 234:3  expect
test/login_bl

[2020-05-04 13:30] felangel commented on #1117
Hi @gunsym 👋
Thanks for opening an issue!

I’m guessing your state does not extend Equatable which is why two state instances with the same values are not considered equal.

Hope that helps 👍

[2020-05-04 13:30] #1117 closed

[2020-05-04 13:47] felangel commented on #182
Hi @fajarsiedd 👋
You can take a look at the [complex list example](https://github.com/felangel/bloc/tree/master/examples/flutter_complex_list) for inspiration 👍

[2020-05-04 13:50] felangel commented on #538
Sorry for being late to the party haha.

@ThinkDigitalSoftware an example of what?

So you’re saying you prefer MultiBlocProvider not be part of flutter_bloc?

[2020-05-04 14:40] masfranzhuo opened #1118 "Bloc test with equatable state"
So, I have using this bloc_test library version bloc_test: ^5.0.0. Previously I test bloc with this code and work fine
[code]

Currently I change it with using bloc_test package and the test failed

[code]

Here is the error in test

[code]

the error gone if I removed the equatable in state with account parameter. Anyone know why this test works on the first code and failed with bloc_test package

[2020-05-04 14:51] ThinkDigitalSoftware commented on #538
You usually put good use cases for the widgets you introduce. You're going to have to find one for this, lol

I was saying that it's an argument against including it that sounds reasonable, but there are more on the 'for' side

[2020-05-04 14:55] Gene-Dana opened #1119 "[Silly Question]"
Hi there! I was just wondering, why do you use _ instead of context?

[2020-05-04 15:14] felangel commented on #1119
Hi @Gene-Dana 👋
Thanks for opening an issue!

`_` is convention for when a parameter is not needed.

[Effective Dart Docs](https://dart.dev/guides/language/effective-dart/style#dont-use-a-leading-underscore-for-identifiers-that-arent-private)

[2020-05-04 15:14] #1119 closed

[2020-05-04 16:17] YanaKrivitskaya opened #1120 "BlocProvider.of() called with a context that does not contain a Bloc of type ..."
I'm new to Flutter and I'm trying to implement Bloc pattern for my notes app.

So I have to use Bloc in button on AppBar and in NotesView. It works fine in NoteView, but when I added it to the NoteFilterButton, I'm getting the error:

BlocProvider.of() called with a context that does not contain a Bloc of type NotesBloc.
I/flutter ( 6501):         No ancestor could be found starting from the conte

[2020-05-04 16:20] felangel commented on #1118
Hi @masfranzhuo 👋
Thanks for opening an issue!

Are you able to share the `RegisterState` implementation? Thanks 👍

[2020-05-04 17:03] masfranzhuo commented on #1118
Yes, here is my RegisterState, it will works if I remove the Equatable part

[code]

[2020-05-04 17:11] masfranzhuo commented on #1120
The BlocProvider need to be in parent widget of `NoteFilterButton()`, try to change it at Scaffold
[code]

[2020-05-04 17:12] RollyPeres commented on #1120
Hi @YanaKrivitskaya ! 👋

In your setup `BlocProvider` is below your button so you won't have access to it.
Consider lifting up your `BlocProvider` above `Scaffold`.

If you're only needing `NotesBloc` in your dialog then consider removing the `BlocBuilder` and passing your bloc like so:
[code]

This way you won't need to pass all those parameters and just consume your bloc state in your `SortDialo

[2020-05-04 18:43] felangel commented on #1118
@masfranzhuo does you class `Account` also extend `Equatable`?

[2020-05-04 19:01] YanaKrivitskaya commented on #1120
@RollyPeres Thank you for your answer!

Maybe it's a stupid question, but it's not obvious to me how to get state in Sort Dialog.

So I've updated it to :

`showDialog(barrierDismissible: false, context: context,builder: (_) =>
            BlocProvider.value(
                value: context.bloc<NotesBloc>(),
                child: SortDialog())
        ).then((res){

        });`

And In my Sort D

[2020-05-04 19:15] RollyPeres commented on #1120
No worries @YanaKrivitskaya , there's no such thing as stupid question in dev world ✌

Please be explicit with type when using `BlocProvider.value` e.g.: `value: context.bloc<NotesBloc>(),`

Your `SortDialog` widget can be `Stateless` unless you have some additional state to keep track of.
You can simply use `BlocBuilder` like you already do, without the need to manually retrieve the bloc in `init

[2020-05-04 19:27] YanaKrivitskaya commented on #1120
@RollyPeres Moving BlocProvider over the Scaffold did the trick!

Thanks again for your help, you were very responsive.

[2020-05-04 19:27] #1120 closed

[2020-05-05 00:52] kristbp2 opened #1121 "Better way to pass on multiple blocs to new subtrees?"
I have found that when I have several Blocs that I need to pass on through routes, the code to do so is very clunky. Maybe the fact that I need to pass on multiple blocs several times through routes is a problem in itself, but it seems like the best solution for my particular application. The code currently looks like this:

[code]

but it seems like it could be simplified quite a bit. For instanc

[2020-05-05 02:44] masfranzhuo commented on #1118
Yes, `Equatable` @felangel
Account is an abstract class extend `Equatable`
[code]
Then, There is Customer which extends from Account class
[code]

It works well if I don't use old way to test bloc. Do you have any clue?

[2020-05-05 05:23] felangel commented on #1121
Hi @kristbp2 👋
Thanks for opening an issue!

You should be able to accomplish this via:

[code]

Hope that helps 👍

[2020-05-05 05:23] #1121 closed

[2020-05-05 05:25] felangel commented on #1118
@masfranzhuo I believe the problem is `Account` is not overriding `props`

[code]

Let me know if that helps 👍

[2020-05-05 05:40] masfranzhuo commented on #1118
hmm, still not working, even if I remove extend `Equatable' from `Account` class.
It's only works if I remove account from `RegisterLoadedState`, but that's not I what I want
[code]

[2020-05-05 06:37] gunsym commented on #1117
Thanks @felangel , totally missed that. Perfect !

[2020-05-05 11:38] MohsinN opened #1122 "Allow option to disable throwing BlocUnhandledErrorException in debug mode"
In our current bloc implementation, any unknown exception caught is thrown by bloc to be propagated to `onError` method in  `BlocDelegate` and reported to our error reporting service.

After the update to the latest version, our bloc tests written using `bloc_test` to verify the unknown exceptions are failing. Because now `BlocUnhandledErrorException ` is thrown in debug mode for unhandled excepti

[2020-05-05 12:14] kieronwiehahn opened #1123 "Passing a Blocs state to another Bloc"
Building from your Firebase Login example, I am trying to include a reset password page that on failure returns you back to the login screen that then shows a snack bar saying "Reset Failed"

how do you pass state from one Bloc to another

[2020-05-05 13:25] felangel commented on #1118
You shouldn’t remove Equatable from Account. You just need to override props in account like I did in the snippet above.

[2020-05-05 13:31] masfranzhuo commented on #1118
Yeah, I have tried that and still didn't work

[2020-05-05 13:32] felangel commented on #1118
Are you able to share a link to the repo so I can debug it locally?

[2020-05-05 13:40] masfranzhuo commented on #1118
I have invited @felangel , it is a private repo, please that a look

[2020-05-05 14:44] masfranzhuo commented on #1123
Maybe you could use BlocListener to listen to the bloc state change in reset password page. If the state if failure for reset password, then you could navigate it back to the login page. In the navigation you could pop screen with argument `Navigator.pop(context, 'Reset Failed');`

[2020-05-05 16:20] vinnytwice opened #1125 "Is there any known issue for web?"
@felangel Hi Angel, I hope you're all well. Here I am again with a new question :)
I'm porting my app to the web as I see flutter_bloc is compatible (I'm on 3.2.0 still)  but in the login process after login in with Google (code is from your examples and tutorial ) the `AuthenticationBloc` doesn't yield the `Authenticated` state when running app on the web but it works properly on both Android and

[2020-05-05 16:43] jet10000 opened #1126 "Expect to add webview-based browser example"
Expect an example of a browser based on webview and bloc.

https://pub.dev/packages/webview_flutter

Features include opening URLs, gesture-based forward and backward functions, and some other functions. Similar simplified firefox focus, but not as many tabs as chrome.

https://play.google.com/store/apps/details?id=org.mozilla.focus&hl=en_US

I tried to try, but I don't know how to do it.

[2020-05-05 17:57] duomoteng opened #1127 "[question] How does hasReachedMax changed its value in example infinite list?"
Hello, I am working on an app that need to fetch data from dB. I use the code from the example “infinite list”.

However , I got a is a problem. Although after fetching, the state is in `PostLoaded` but the `circle indicators ` doesn’t not disappear. I tried to debug, I found the reason might be the `hasReachedMax`  doesn’t turn to true, if the posts in my dB is less than 20. I want to solve the b

[2020-05-05 19:06] vinnytwice commented on #1125
ok..forget it.. in release mode it works..
`flutter run -d chrome --release --web-hostname localhost --web-port 5000`

[2020-05-05 19:20] felangel commented on #1125
Hi @vinnytwice 👋
This is a duplicate of https://github.com/felangel/bloc/issues/957 👍

[2020-05-05 19:20] #1125 closed

[2020-05-06 02:14] edgebasis opened #1128 "Unable to update a state in parent widget"
How can i update state in the parent widget? It fetches from API at first and then when i update the API from another screen it does not reflect on the parent screen. It refreshes or updates only if i do a hot reload or save the file to reload. But when i update the api, it does not reflect.
I have gone through some of the discussions here and it appears that I might be using the equitable wrong.

[2020-05-06 03:28] felangel commented on #1123
Hi @kieronwiehahn 👋
Thanks for opening an issue!

You can handle bloc-to-bloc communication either by directly injecting blocA into blocB as described [here](https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication) or by using a BlocListener as @masfranzhuo mentioned to subscribe to `blocA` and notify `blocB` like:

[code]

Hope that helps 👍

[2020-05-06 03:28] #1123 closed

[2020-05-06 03:31] felangel commented on #1122
Hi @MohsinN 👋
Thanks for opening an issue!

I have a PR to update `bloc_test` to ignore errors unless you provide an `errors` Iterable.

Suppose the bloc throws an exception when null is added, the following test would still pass.

[code]

Furthermore, we can write expectations for the unhandled exceptions like:

[code]

This change will be published in v5.1.0 of bloc_test.

[2020-05-06 03:35] felangel commented on #1126
Hi @jet10000 👋
Thanks for opening an issue!

I'm not sure I understand the request. Can you please explain how those features are related to bloc? Thanks 👍

[2020-05-06 03:37] felangel commented on #1127
Hi @duomoteng 👋
Thanks for opening an issue!

The code that updates `hasReachedMax` can be found at https://github.com/felangel/bloc/blob/025322c8dc7e54706fc82e4351041feb6463c041/examples/flutter_infinite_list/lib/bloc/post_bloc.dart#L42.

In this case, `hasReachedMax` is set to true if a subsequent page is requested and no results are returned.

Hope that helps! 👍

[2020-05-06 03:37] #1127 closed

[2020-05-06 03:38] felangel commented on #1128
Hi @edgebasis 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you're having? It's much easier for me to help if I can run/debug the application locally. Thanks 👍

[2020-05-06 03:39] felangel commented on #1072
@andreavaccari just checking in to see if you and your team have had a chance to review the solution, thanks!

[2020-05-06 03:55] edgebasis commented on #1128
thanks @felangel ,
here is the repo
https://github.com/edgebasis/flutterApp

[2020-05-06 04:21] felangel commented on #1118
@masfranzhuo I've opened a [pull request](https://github.com/masfranzhuo/flutter_architecture/pull/1) to fix the tests 👍

[2020-05-06 04:21] #1118 closed

[2020-05-06 04:33] Al-Hussein-96 opened #1130 "CircularProgressIndicator background black not transporter (flutter_login example)"
![844359c9-e5c8-43ce-8e2a-8d429f435060](https://user-images.githubusercontent.com/31496257/81138781-de2d3a00-8f6b-11ea-8d55-ff54c095a2c0.jpg)

[2020-05-06 05:00] MohsinN commented on #1122
@felangel Thanks a lot! This is exactly what I was hoping for. 💯
Any timeline on when this will be published?

[2020-05-06 05:22] felangel commented on #1122
@MohsinN should be published sometime tomorrow 👍

[2020-05-06 05:50] MohsinN commented on #1122
@felangel You rock! 🥇

[2020-05-06 07:50] kieronwiehahn commented on #1123
Thanks Guys. will give it a try 👍

[2020-05-06 08:42] duomoteng opened #1131 "BlocProvider.of() called with a context that does not contain a Bloc of type EntryBloc."
A button is on the appbar, I want to use bloc to prompt a dialog, however, it shows me the `BlocProvider.of() called with a context that does not contain a Bloc of type EntryBloc.`

My code is

[code]

The error is
[code]

[2020-05-06 09:20] jet10000 commented on #1126
I see some examples of bloc in the documentation. I recently wanted to use flutter and bloc to implement a simple webview-based browser. I expect an example to guide me.

[2020-05-06 10:00] masfranzhuo commented on #1131
Try to put BlocPrivider in the Scaffold like this
[code]
Does its help?

[2020-05-06 11:13] duomoteng commented on #1131
It still shows the same error

[2020-05-06 15:22] masfranzhuo commented on #1131
May I know what is `bookEntryBloc`, could you provide the full code

[2020-05-06 16:09] duomoteng commented on #1131
This is my full original code
[code]

[code]

[2020-05-06 16:19] masfranzhuo commented on #1131
Hmm, you have initialized `NotebookEntryBloc` in BlocProvider, but why at onTap you called ` BlocProvider.of<EntryBloc>(context).add(AddNew());` from `EntryBloc` not `NotebookEntryBloc` ?

[2020-05-06 16:32] duomoteng commented on #1131
Sorry for the typo. (I just changed the name of the blocs) . It all should be NotebookEntryBloc. I have updated my post to make it clear.

[2020-05-06 16:55] masfranzhuo commented on #1131
Hmm, try this and see if it work in the `BlocProvider`
[code]

[2020-05-06 19:46] #1122 closed

[2020-05-06 20:29] andreavaccari commented on #1072
Hi @felangel, thank you for your patience in waiting for my reply. Your refactor is very much in line with what I have done for my project as well. You also showed me how to use `hydrated_bloc`, which was something in my todo list (pun intended!). Thank you for that!

For state management, I also ended up with a strategy that keeps a local copy and a "reference" copy in the downstream bloc, and us

[2020-05-06 20:33] yun-cheng commented on #1072
Hi, @felangel , I have a similar problem regarding complex data flow between blocs.

I'm new to Flutter and Bloc design pattern, but I've read your all documentation and tutorials. Now I'm designing my app, but encounter a data flow problem, that two blocs need to interact with each other.

Using this Todo app for example, suppose we have a new "keywords" tab, and it'll show top 5 keywords that fr

[2020-05-06 21:17] felangel commented on #1122
Published v5.1.0 🎉

[2020-05-06 23:59] heshaShawky opened #1134 "After updating flutter to 1.17 and flutter_bloc to 4.0.0 the Bloc.transformEvents isn't valid override"
**Describe the bug**
After Updating the bloc library to **4.0.0** and flutter to **1.17** the VsCode throwing the following errors:

The code causing the error in the bloc:
[code]

[code]

**Error one:**
[code]

**Error two:**
[code]

**Last Error:**
[code]

[2020-05-07 00:22] heshaShawky commented on #1130
Change the UI code brother, I'm sure you are not using `Scaffold` as a parent `Widget` for the  `CircularProgressIndicator`.

The Login example just a sample for `logic` and how you use the Bloc Library in action.

[2020-05-07 00:31] heshaShawky commented on #1128
This is related to my issue here #1091 the problem is that you are creating a new object every time you trigger an event.

you have to use the state data the first time and add the new item from your API after its success to the list.

Check this code:
https://github.com/heshaShawky/Adding-new-item-to-the-list-issue-repository/blob/master/lib/comments_bloc/comments_bloc.dart

[2020-05-07 00:46] heshaShawky commented on #1126
This is a UI Matter not related to Bloc pattern ( no logic here it's just a widget ), just add the webview wodget to your widgets tree.

[2020-05-07 00:46] heshaShawky commented on #1126
This is a UI Matter not related to Bloc pattern ( no logic here it's just a widget ), just add the webview wodget to your widgets tree.

[2020-05-07 01:06] github-actions[bot] opened #1135 "[Translations] Update README"
Update Translations to include changes from 9ac13653be32cc62808b36d6b54b5cb7fbf73636.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [x] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [x] zh-cn (@jakecastelli)

[2020-05-07 01:16] felangel commented on #1134
Hi @heshaShawky 👋
Thanks for opening an issue!

The signature updated to:

[code]

Hope that helps 👍

[2020-05-07 01:16] #1134 closed

[2020-05-07 01:20] felangel commented on #1131
Hi @duomoteng 👋
Thanks for opening an issue!

This is because you're trying to access the bloc from the same `BuildContext` which was used to provide it.

To solve this you can either extract the `CupertinoPageScaffold` into a separate `StatelessWidget` or you can wrap it in a `Builder`.

[code]

Hope that helps! 👍

[2020-05-07 01:20] #1131 closed

[2020-05-07 01:38] felangel commented on #1130
Hi @Al-Hussein-96 👋
Thanks for opening an issue!

As @heshaShawky mentioned, this is just because there is no `Scaffold` as a parent. The primary focus of the example was on using bloc with login and not on the UI but I can update the example 👍

[2020-05-07 01:43] felangel commented on #1126
As @heshaShawky I'm not sure I understand how bloc is related to this. The [webview package](https://pub.dev/packages/webview_flutter) handles it all for you.

[2020-05-07 02:02] edgebasis commented on #1128
Yes but I am calling an Api each time there is an update in the shopping
cart. So if I add an item I need to call the api as I am not using any
local storage nor state for the cart. So update api then fetch the list of
items in the cart from api..

On Wed, May 6, 2020, 8:32 PM Hesham Shawky <notifications@github.com> wrote:

[2020-05-07 02:49] Al-Hussein-96 commented on #1130
thank you for your response,
yes I'm trying to apply bloc with login everything work, good example no problem except this small problem

when I wrap Center with parent Scaffold
[code]
same problem but white screen not transporter

![Screenshot_20200507_054211_com sportstartup cap10](https://user-images.githubusercontent.com/31496257/81249052-62dc8e80-9026-11ea-8f49-315f99dbd37c.jpg)

[2020-05-07 04:31] vincentngo commented on #52
thank you!!!! lol

[2020-05-07 05:10] felangel commented on #1130
@Al-Hussein-96 do you mean the app is stuck on the loading screen? Are you running the exact code from the example or have you written your own version?

[2020-05-07 06:12] edgebasis commented on #1128
I tried to trace the state in the parent widget and i could see that the data the state holds is always old. Since I fetch the data from  the api in the child widget and parent widget

[2020-05-07 08:47] dshukertjr commented on #1135
Will get to it once I get done with translating the tutorials!

[2020-05-07 09:20] Fasust opened #1138 "State Changes are not Correctly Emitted"
**Describe the bug**
I have recently come across the following issue in my project. With this configuration of bloc, state and event classes state changes occur in the BLoC but are not properly emitted. If I add an event to the BLoC, it is registered and the state is changed as expected, but the new state is not emitted.

### The UI
[code]

### The BLoC
[code]
### The State
[code]
### The Event
[c

[2020-05-07 10:05] MohsinN commented on #1122
Hi @felangel 👋

Really appreciate all your effort but I am still facing the error. Replicated the error using code snippet from `flutter_login` example.

[code]
Corresponding  failing bloc test:
[code]

Please correct me if I am wrong. Here `SocketException` should have been caught and verified in the errors but get the same error in the logs. This is in continuation of the above logic that `Socke

[2020-05-07 11:56] RollyPeres commented on #1138
Hi @Fasust ! ✌

Looks like you're mutating the existing state thus your new states are not exiting the bloc.
To avoid this please use the following approach:
[code]
I've also noticed in your `IdleState` your props override utilizes `.toString()` on `entries`, which is not necessary. Although value equality will work, you could simply have it like:
[code]

Hope that gives you a better understanding

[2020-05-07 12:57] Fasust commented on #1138
Thank you @RollyPeres 😁,

yes, copying the state using `.from()` did the trick.

Thanks a lot for the help and the clear explanation of the problem.

[2020-05-07 12:57] #1138 closed

[2020-05-07 14:10] MichelMelhem commented on #538
For me a common use case is that in the same page I need to get some user data (ex: if the user has a valid account) from like an ```Authbloc``` , but in addition of that I have to fetch some other data (ex: a list of create todos).
In this case it would be useful to have this bloc.
But in fairness i think that this type of cases are pretty mandatory and do not need a special widget.

But what I t

[2020-05-07 14:38] ThinkDigitalSoftware commented on #538
I don't believe you can optionally place generics like that. It would have to be a separate class built for handling 4 generic types, which would be what we were discussing

On May 7, 2020 7:10 AM, Michel M <notifications@github.com> wrote:

For me a common use case is that in the same page I need to get some user data (ex: if the user has a valid account) from like an Authbloc , but in addition o

[2020-05-07 14:40] synapticvoid commented on #524
Hi,

I just updated @craiglabenz great answer to match the latest `bloc` version (4.0.0):
[code]

Thanks again for this wonderful library!

[2020-05-07 15:08] YanaKrivitskaya opened #1142 "State is not getting updated"
I have a bloc responsible for viewing and editing existing notes and adding a new note (which is basically just editing empty note)

So based on a state - ViewDetailsState or EditDetailsState I wanna show cards with text or text fields for editing. However state is not getting updated when I call the event.

My code is the following:

States:

[code]

Bloc:

[code]

My View:

[code]

So when I cal

[2020-05-07 15:52] hawkinsjb1 opened #1143 "[Feature Request] Give BlocBuilders a BlocProvider variable to access the bloc it references"
This isn't a big issue but I often find myself having to store BlocProviders in a variable to avoid typing it out every-time, and when writing logic directly under a BlocBuilder, it feels a bit odd having to call a separate BlocProvider method to access the bloc in question. I am wondering if it would make sense, and feel a bit better, for BlocBuilders to automatically provide a Provider to the bl

[2020-05-07 16:38] RollyPeres commented on #1142
Hi @YanaKrivitskaya ✌

Could you share a repo link?

[2020-05-07 17:41] YanaKrivitskaya commented on #1142
@RollyPeres Here you go -

Bloc:
https://github.com/YanaKrivitskaya/traces/tree/TRC21.Bloc_for_notes/traces/lib/screens/notes/details_bloc

View:
https://github.com/YanaKrivitskaya/traces/blob/TRC21.Bloc_for_notes/traces/lib/screens/notes/note-detail-view.dart

[2020-05-07 18:10] RollyPeres commented on #1142
@YanaKrivitskaya thanks for sharing. Unfortunately your project depends on firebase so without a `google-services.json` file I cannot run it locally. Could you maybe create a decoupled sample reproducing the issues you're trying to overcome ?

[2020-05-07 19:48] YanaKrivitskaya commented on #1142
@RollyPeres Correct, sorry

here is a test project:
https://github.com/YanaKrivitskaya/bloc_test

When you click on a note in main menu and then click on edit sign - I expect state to be updated and text fields appear

[2020-05-07 22:52] RollyPeres commented on #1142
@YanaKrivitskaya I've opened a PR with the fix and some small improvements: https://github.com/YanaKrivitskaya/bloc_test/pull/1
I've also left you a couple of comments and todos(pun intended👏) to further help you.

Hope it gets you on the right track! ✌

[2020-05-08 05:16] don-prog opened #1144 "BlocListener receives the same state twice"
I have an issue with repeated states in `BlocListener`.
I have two `blocs`: `MainBloc` which any page can use, and `FirstPageBloc` only for `FirstPage`.
I also have two pages: `FirstPage` and `SecondPage`. Each page has only one button "Go to another page". And I disabled the `MaterialPageRoute` animation for them, so you can change pages very quickly.
The flow:
1. `FirstPage.initState()` adds `Fi

[2020-05-08 08:06] YanaKrivitskaya commented on #1142
@RollyPeres Thank you!

The error with state instead of event is soooo epic fail 😅

[2020-05-08 08:06] #1142 closed

[2020-05-08 09:04] MohsinN opened #1145 "Exception thrown by bloc not caught by bloc_test"
Hi @felangel 👋

Really appreciate all your effort in resolving #1122, but I am still facing the error. Replicated the error using code snippet from `flutter_login` example.

[code]
Corresponding  failing bloc test:
[code]
Test passing with alternate implementation

[code]

Please correct me if I am wrong. Here `SocketException` should have been caught and verified in the errors but get the follwoi

[2020-05-08 11:35] DASPRiD opened #1146 "Using flutter_bloc with flutter_cache_manager"
This is more of a question than a bug report, but maybe someone has an idea about this:

I want to use [flutter_cache_manager](https://pub.dev/packages/flutter_cache_manager) to retrieve and cache data from an API for an offline-first experience. In general no problem.

The way I plan to use it is to use the `getFileStream()` method of it, which returns a stream, with the first item being the cach

[2020-05-08 13:00] RollyPeres commented on #1144
Hi @don-prog ✌

I had a quick look at your sample and from what I see you're navigating to second by with `pushReplacementNamed` which will destroy your first page then create the second one.
In your second page you're doing `pushNamed` on first page, which means your first page gets created again.
This is really important because your `initState` in your first page will run twice, thus adding tha

[2020-05-08 13:19] RollyPeres commented on #1146
Hi @DASPRiD ✌

You could just subscribe to that stream inside bloc and yield proper states based on the incoming data. One quick way would be around the lines of:

[code]
You'd also want to cancel the sub in bloc's close method.

[2020-05-08 13:55] DASPRiD commented on #1146
Oh, that sounds perfect! :) Just one small problem:

I have to make the listen method async, since inside I'm doing this:

[code]

Now my yield complains that the parent is not `async*`. I could make that change, but the yield then wouldn't propagate through the `mapEventToState` function, would it?

[2020-05-08 14:04] RollyPeres commented on #1146
@DASPRiD my example was more of a pseudo-code.

You should definitely add an event to the bloc and process it properly.
`getFileStream().listen((data) => add(DataReceived(data)))`

In `mapEventToState` process this event around the lines of my previous suggestion.

Hope that helps! 👍

[2020-05-08 14:19] DASPRiD commented on #1146
Ah yeah, that totally helped, thanks a lot! Still very new to even just Flutter, even more so to blocs, so every bit helps, thanks a lot again for the really quick help, you're amazing! :)

Now just a last final unrelated question (no need to create another ticket for this I guess). This is mainly an architectural question.

I have an authentication bloc for my OAuth2 handling, which gets a user r

[2020-05-08 15:11] RollyPeres commented on #1146
I'd recommend having a look at a package made by @felangel https://pub.dev/packages/fresh.

I'd advice against injecting blocs into repos since that's an anti-pattern. Only repos should be injected into blocs. You user repo should definitely be singleton. I personally don't expose repositories to the widget tree, since they should only be used within blocs and not directly from the UI. 👍

[2020-05-08 15:21] DASPRiD commented on #1146
Well, I like using AppAuth for this (since I'm using Code authentication with PKCE). But that package's example actually gave me a good pointer:

https://github.com/felangel/fresh/blob/master/example/lib/authentication/bloc/authentication_bloc.dart#L15-L17

The user repository can just expose a stream the bloc can listen to. And yeah, I don't want to use the user repository in the widget tree, onl

[2020-05-08 15:54] felangel commented on #1145
Hi @MohsinN 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which reproduces the issue so I can debug it locally? Thanks 👍

[2020-05-08 15:55] felangel commented on #1144
Closing for now but feel free to comment with additional questions if you're still having trouble 👍
Thanks so much @RollyPeres for taking the time to answer 🙏

[2020-05-08 15:55] #1144 closed

[2020-05-08 15:58] felangel commented on #1126
Closing this since it's unclear what the desired outcome of this issue is or how it relates to bloc. Feel free to comment with additional information and I'm happy to continue the conversation 👍

[2020-05-08 15:58] #1126 closed

[2020-05-08 19:37] don-prog commented on #1144
@RollyPeres thanks for your suggestion! But:
1. The various `Navigator` commands in the `FirstPage` and `SecondPage` - just a typo which I fixed in the last commit, and this does not change anything.
2. Of course, I understand that these statements will call `_FirstPageState.initState()` again, but not twice. What I mean:
If you click "Go to second page" and then "Go to first page" slowly, then al

[2020-05-08 20:51] RollyPeres commented on #1144
I've opened a PR https://github.com/don-prog/bloc_repeated_states_issue/pull/1

Since you haven't detailed what exactly you're trying to achieve, I assumed you want to be able to add an event when you come back from second page, so I showcased how that could be achieved.
With my implementation the first event is only added once, when the first page is created.

Hope it solves your issue 👍

[2020-05-08 21:03] aytunch commented on #765
The package owner for [momentum](https://pub.dev/packages/momentum) said in reddit:

[code]

I shared hoping this could maybe be an inspiration for an alternate solution?

[2020-05-08 21:10] don-prog commented on #1144
@RollyPeres thanks for your PR! But:
1. I understood your idea about `pop()`, but I can't use this scenario. The real app has `BottomNavigationBar`, when the user clicks on the tab then old tab should be closed. Buttons in this app - simulation of the tab buttons, so I can't just `pop`, because the stack is already clear.
2. "Since you haven't detailed what exactly you're trying to achieve". I jus

[2020-05-08 21:26] RollyPeres commented on #1144
@don-prog You still haven't detailed what you want to achieve exactly. If you need to achieve something around a `BottomNavigationBar` then I'd advice you to submit your exact scenario as an example with a clear and concise explanation of what you're trying to achieve.

[2020-05-08 21:42] shamilovtim opened #1147 "BlocBuilder is not called when inside of a dynamic list builder"
**Describe the bug**
I pass the BlocProvider down from my main method and I can see in my devtools that it's attached. However setting a breakpoint inside the BlocBuilder I see that the inside of it is never called. Not even a `print('test')` will execute inside of my BlocBuilder on initial screen mount. I've tried just about every ticket or article and can't figure out why this is happening. Any

[2020-05-08 21:44] felangel commented on #1147
Hi @shamilovtim 👋
Thanks for opening an issue!

Can you please share a link to a sample app which illustrates the issue you're facing so I can debug it locally? Thanks 👍

[2020-05-08 21:45] felangel commented on #1146
Closing this for now since it seems @RollyPeres was able to point you in the right direction 😄
Feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-05-08 21:45] #1146 closed

[2020-05-08 22:04] don-prog commented on #1144
@RollyPeres I just want to achieve basic bottom navigation with a clear stack(clicking on the tab button not just pushes, but also clears the stack). Please, check the new commit.

[2020-05-08 22:04] shamilovtim commented on #1147
Hi @felangel. Is there a suggested tool for sharing the code with you? Something similar to Expo Snack maybe?

[2020-05-08 22:13] felangel commented on #1147
@shamilovtim can you create a github repository?

[2020-05-08 23:50] bobykurniawan11 opened #1148 "form validation always false"
So i'm trying to add validation with bloc in my `textfieldform`. I'm trying to following this https://github.com/felangel/bloc/tree/master/examples/flutter_form_validation.

I already insert the valid email but the error message still appears

[code]

Login state

[code]

[2020-05-08 23:53] RollyPeres commented on #1144
You can achieve that pretty easy without needing to explicitly navigate.
This is one quick example I found: https://medium.com/@uncoded_decimal/creating-bottom-navigation-tabs-using-flutter-2286681450d4
By default a tab will be destroyed when navigating away and recreated when going back to it.

Hope this helps you achieve your desired outcome 👍

[2020-05-09 00:15] don-prog commented on #1144
@RollyPeres  thanks again, but this is just a workaround. I have seen many similar things.
Besides, what if I want to use a described Navigator scenario even just with buttons. Is it incorrect and why?
Do you know how to solve the described problem or what exactly causes it?

[2020-05-09 00:18] shamilovtim commented on #1147
Hey @felangel I figured out what's causing it. My BlocBuilder is in a `SliverList: delegate: SliverChildBuilderDelegate()`. As soon as I moved it out of the SliverList it worked. Do you know what the rule of thumb is for using Bloc with dynamic lists like this? The relevant code is below.

[code]

[2020-05-09 01:21] RollyPeres commented on #1144
@don-prog it's not a workaround, it's a standard way of using tabs in a bottom navbaresque way.

I'm sorry but I really can't understand where you're going with all this. I don't even see it being related to the bloc package tbh. It's all about how you use the navigation to move between tab pages -- that is if you want to explicitly handle navigation. In case you use `TabBar` then a `TabController

[2020-05-09 01:29] don-prog commented on #1144
@RollyPeres I really can't understand why we are talking about bottom navigation. Are
[code]
commands incorrect for `bloc`? **Why does this even lead to BlocListener receives the same state twice?** Do you know that?

[2020-05-09 01:48] RollyPeres commented on #1144
How you navigate has nothing to do with the bloc. You first call is unneeded since you'll always be replacing the existing route thereafter.
I didn't receive two states when I was running your sample. Try a `flutter clean`.

[2020-05-09 02:15] don-prog commented on #1144
@RollyPeres
1. "Your first call is unneeded since you'll always be replacing the existing route thereafter". You are absolutely correct in the case when we have only one route in stack, but it's not correct when the stack has multiple routes.
2. Thanks for your suggestion, but, of course, I tried `flutter clean` and just in case I tried it again now.
3. I think this is because you didn't switch be

[2020-05-09 04:47] shamilovtim commented on #1147
Solution:

Moved BlocBuilder to the top of my build method and put the state into a variable. That way I can use the state elsewhere outside of BlocBuilder. Not sure if I'm going to need setState but haven't noticed if I need it yet.

[code]

[2020-05-09 04:47] #1147 closed

[2020-05-09 06:17] felangel commented on #1147
Glad you figured it out but I think it’s worth noting you shouldn’t need to store state as a private member variable. Just wrap the parts of you build that need access to state in a BlocBuilder and you should be good 👍

[2020-05-09 06:30] shamilovtim commented on #1147
@felangel That's what I'd normally do but in this instance but the issue here is 1) Slivers and 2) individual build methods make this difficult. Are you suggesting using multiple blocbuilders and/or passing state around as a parameter rather than storing it in variable?

[2020-05-09 06:34] felangel commented on #1147
You can either have one BlocBuilder at the root of your build method and you don’t need to track state internally in the widget or if you want more fine-grain control only wrap the widgets that need to update in their own BlocBuilders (you can use conditions as well to optimize how often they rebuild).

[2020-05-09 07:05] MohsinN commented on #1145
Hi @felangel 👋

Please find the project in this [link](https://drive.google.com/open?id=1V5YWc6zCgxRpnRlH7wN_-7_qREPYGFN9).

Relevant changes are in:
1. `login_bloc.dart`: line 37-38
2. `login_bloc_test.dart`: line 92 onwards

[2020-05-09 08:33] #1148 closed

[2020-05-09 12:31] RollyPeres commented on #1144
@don-prog I'm aware you're having that issue whenever you're tapping quickly, but as already mentioned, I have tested that too and I don't get multiple states. I suggest you manually remove the app from your device + `flutter clean`. 🤞

[2020-05-09 12:50] RollyPeres commented on #1143
I think it would make `builder` too verbose.
When tree is properly broken down into widgets, I found most of them won't need the bloc itself.
Most of the time your builder would look like `builder: (_, state, __) { ... }` which is unnecessarily verbose.

[2020-05-09 14:41] GaneshSingaravelu opened #1149 "Loading Dailog when page initialization / Save"
Hi!

I have a screen, which shows a button. If I press it, an async job is started. During this time, I want to show an AlertDialog with a spinning wheel. If that job is finished, i will dismiss the dialog or show some errors. Here is my (simplified) code:

     Scaffold(
        body: Container(
          child: BlocListener<FactorystateBloc, FactorystateState>(
            bloc: factoryBloc,

[2020-05-09 15:09] ashishkumart opened #1150 "BlocListener is not listening for states in widget test case, when using await or Future in Bloc file."
**Describe the bug**
I am using a `BlocListener` and `BlocBuilder` in a simple registration page, on click of a button I am adding an event `CreateAccountPressedEvent(data)`. In bloc file, I am delaying and yielding the state `AccountCreatedState`.

The problem is that the test case failed when I am using `await Future.delayed(Duration(milliseconds: 200));` in the bloc. If I remove this statement

[2020-05-09 15:32] felangel commented on #1143
I agree with @RollyPeres which is why I didn’t include the bloc in the first place. If you really want to minimize lines of code and bloc lookups you can do:

[code]

This reduces the number of lookups to one and you have access to the bloc instance.

If you’re going for fewest lines of code:

[code]

At the end of the day it’s one line of code to access a bloc and the time complexity is O(1) so I

[2020-05-09 16:12] felangel commented on #1149
Hi @GaneshSingaravelu 👋
Thanks for opening an issue!

You should move the side-effects (showing the overlay) into BlocListener as well. Also in this case you can use a `BlocConsumer` instead of nesting a `BlocBuilder` inside a `BlocListener`.

[code]

Hope that helps 👍

[2020-05-09 16:12] #1149 closed

[2020-05-09 21:16] hawkinsjb1 commented on #1143
I don't disagree that it is simple enough to spend one line of code to store the bloc provider into a variable, and also I am only referring to cases where the builder is NOT explicitly passed a bloc and rather retrieves it from the context (because at this point there hasn't been a need to explicitly create a bloc reference). It just seems like deferring to the context to provide you with a bloc

[2020-05-09 21:29] felangel commented on #1143
@hawkinsjb1 it's definitely valuable feedback! I'll leave this open for now so we can all continue to think about ways to potentially improve this 👍

[2020-05-09 22:30] heshaShawky opened #1151 "The Bloc not doing any Transitions between states ( RefresherIndicator )"
**Describe the bug**
I have followed the article for how to use the refresher with the bloc and it was really street forward, But I'm facing a kinda wired issue.

When I pull down the refresher the event fired normally but nothing happened, no transitions between states accrued. so the refresher indicator stuck up there rolling forever as states not been updated to make it stop.

When I tried to d

[2020-05-09 23:28] github-actions[bot] opened #1152 "[Translations] Update docs"
Update Translations to include changes from a067ad64be97b6641bdf1c7d3c7e2ecda0d20f1d.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-05-09 23:44] don-prog commented on #1144
@RollyPeres
1. " I suggest you manually remove the app from your device + flutter clean". For what? I already have this issue with the real app. This is a new project that was installed only after an issue occurred. Anyway, I did it if you want so. This doesn't work.
2. I achieve this issue on the different real devices.
3. [I have provided helper function for you, check the last commit](https://g

[2020-05-10 00:11] RollyPeres commented on #1151
Hi @heshaShawky ✌

I've opened a PR https://github.com/heshaShawky/Adding-new-item-to-the-list-issue-repository/pull/2
Your code is fine. The refresher gets stuck because `final comments = await commentsRepository.getAllComments(); ` will return the same comments when you refresh as when you initially load them; in this case your states will be equal so no transition will happen.

If you tap on th

[2020-05-10 00:22] lexprimost opened #1153 "Add an example to the doc showing how to consume a graphql api with flutter_bloc"
**Is your feature request related to a problem? Please describe.**
i have a graphql api that i want to consume with my flutter app using flutter_bloc. i considered using the graphql_flutter. https://pub.dev/packages/graphql_flutter. but there a lot ui based boilerplate that i cant manage to imagine how to implement with flutter_bloc.

**Describe the solution you'd like**
if you can add in your fre

[2020-05-10 00:35] heshaShawky commented on #1151
Thanks a lot, Yes I have noticed that too but didn't realize us because the states are equals!!

So how to handle this situation in the UI how to check if no transition or changes been done so I can stop the indicator.

[2020-05-10 00:46] RollyPeres commented on #1151
That usually depends on your requirements and what your UI needs to show. You could yield a `CommentsLoading` state before you make the request, don't extend `Equatable` or even add a `DateTime` prop to your state.

[2020-05-10 01:07] #1151 closed

[2020-05-10 01:09] felangel commented on #1150
Hi @ashishkumart 👋
Thanks for opening an issue!

Can you please share a link to a sample project which illustrates the issue so that I can run/debug it locally? Thanks 👍

[2020-05-10 01:54] heshaShawky commented on #1151
Just for reference if someone faces this as me:

The Solution is  making a difference between states ( if you using Equatable ) like adding a `lastUpdated` field to the sate:

[code]
 **Or Just escape using Equatable**

[2020-05-10 04:04] ashishkumart commented on #1150
Hi @felangel,
Thanks for the quick reply!
Here is the link of the repository https://github.com/ashishkumart/widgetTestDemo

Thank You

[2020-05-10 15:04] duomoteng opened #1154 "[Question] Do we need to use Equatable in models?"
Hi, in the examples given in the bloc documentation. All the models are extended to `Equatable`. For example, in [Todo](https://bloclibrary.dev/#/fluttertodostutorial) example, the `Todo` extends the `Equatable`.

I want to know why to use Equatable in a model class?

When the class extends `Equatable`, it will make an object immutable. The way to change fields' value is to copy the previous objec

[2020-05-10 15:05] samuelobe opened #1155 "Quick question about using BLoC with shared_preferences"
Hey Felix! First of, I want to thank you for your prompt responses and the work you do for BLoC! But, I have returned with yet another question. My Flutter app currently uses BLoC for dark mode functionality and it works beautifully. I would like to use shared_preferences to save the dark mode setting. Since the initialState getter cannot be async, is there a work around to load my dark mode setti

[2020-05-10 15:10] felangel commented on #1154
Hi @duomoteng 👋
Thanks for opening an issue!

If you try to use bloc with mutable state you will run into problems very quickly. Does making resources immutable reduce performance? Yes, it’s more expensive to create copies than to mutate a property but I haven’t yet run into a case where the performance impact is significant enough to impact a user.

Please refer to the [FAQs](https://bloclibrary.

[2020-05-10 15:10] #1154 closed

[2020-05-10 15:14] felangel commented on #1155
Hi @samuelobe 👋
Thanks for opening an issue and for the positive feedback!

The initialState must be synchronous so you can have an ThemeLoadInProgress state and in your BlocBuilder if the state is ThemeLoadInProgress show a splash screen or loading indicator.

Another option is to read from shared preferences before calling runApp and injecting the initial theme into the ThemeBloc via constructor

[2020-05-10 15:14] #1155 closed

[2020-05-10 15:25] samuelobe commented on #1155
Awesome! I'll try those. Thanks mate!

[2020-05-10 15:27] duomoteng commented on #1154
Hi, felangel, thanks for your reply. I understand why to use `Equatable` in state and evert.
But something that makes me confused is that when and why to use `Equatable` in models class. like `Class Todo` in the todo example.

[2020-05-10 15:28] felangel commented on #1154
@duomoteng did you take a look at the FAQ link I sent?

[2020-05-10 15:50] duomoteng commented on #1154
Yes, @felangel .
Can I understand as :
If there is a model class, for example `Class A`. if it **doesn't** extends  Equatable, every time when it's fields are changed, the transition will happen. (Even I didn't call `bloc.add(event)`)?

[2020-05-10 16:14] fajarsiedd commented on #182
Hi sir, how to update the same state many times

what i want to do is
- for looping
- update state item to isUploading = true
- post api then check and set if it's succes or failed
- then update the state again

i write code like this, but the state only change on the first loop, i need to hot reload then the state changed

[code]

[2020-05-10 16:35] felangel commented on #1154
@duomoteng if a class doesn’t extend Equatable and you yield a new instance it will always trigger a state change even if the values of the properties were the same as before.

[2020-05-10 16:37] felangel commented on #1130
Closing for now since it’s unclear what the issue is.

Feel free to comment with more information and I’m happy to continue the conversation 👍

[2020-05-10 16:37] #1130 closed

[2020-05-10 16:52] RollyPeres commented on #1144
Fixed it in https://github.com/don-prog/bloc_repeated_states_issue/pull/2

Your issue happened because when you're quickly switching the tabs back to first page, the new first page gets created but the previous one is not yet disposed, so the bloc listener will react twice(once from the initial first page instance and second time from the new instance).
Basically the tabs take a bit to switch so y

[2020-05-10 20:52] github-actions[bot] opened #1158 "[Translations] Update docs"
Update Translations to include changes from 39b234371ba98fb936e331968e444914ad11baf7.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-05-10 21:16] Luppakorva opened #1159 "Flutter 1.17 and bloc 4.00 update: Transform isn't a valid override"
Being a complete novice I can't seem to figure this out. I had:

`Stream<ActivityEvent> transform(Stream<ActivityEvent> events) {
    return (events as Observable<ActivityEvent>)
        .debounce(Duration(milliseconds: 500));
  }`

In earlier version which worked perfect, however now I'm getting both:

- Transform not being valid override
- Observable isn't a type so it can't be used in an 'as' e

[2020-05-10 21:18] felangel commented on #1145
Hi @MohsinN 👋
Sorry for the delay! I took a look and the issue is in your blocTest you are not actually creating the bloc inside of the `build` so the bloc creation is not part of the test zone.

If you update your test to:

[code]

It will work as expected 👍

Hope that helps!

[2020-05-10 21:18] #1145 closed

[2020-05-10 21:21] felangel commented on #1159
Hi @Luppakorva 👋
Thanks for opening an issue!

There are two transforms in v4.0.0 (`transformEvents` and `transformTransitions`).

In your case, you can replace your code with:

[code]

Hope that helps 👍

[2020-05-10 21:21] #1159 closed

[2020-05-10 21:22] don-prog commented on #1144
@RollyPeres finally, thanks. I already use debounce as hot fix, but I thought that there may be some better solution.

[2020-05-10 21:26] felangel commented on #1150
Hey @ashishkumart 👋
I opened a [pull request](https://github.com/ashishkumart/widgetTestDemo/pull/1) with a fix. You just needed to add an `await tester.pump();` in order to allow a frame for the widget to settle.

Hope that helps 👍

[2020-05-10 21:26] #1150 closed

[2020-05-10 21:28] felangel commented on #1144
@don-prog I don't think this has anything to do with bloc. It seems like your complaint is more about how/when tabs are disposed. You might want to bring this up as an issue on the Flutter repo if you feel it's undesirable behavior.

[2020-05-10 21:36] fajarsiedd commented on #182
ahh i read the bloc concept, we cannot yield the same states. hmm

[2020-05-10 21:39] Luppakorva commented on #1159
Thank you so much for the quick reply and sorry to bother with a follow up,

events.debounceTime is not playing ball, instead getting:

Any chance you could hint me to right direction why this happens?

[2020-05-10 21:41] felangel commented on #1159
You need to make sure you add rxdart as a dependency and import it.

[2020-05-10 21:42] felangel commented on #182
You can continue to yield the same state over and over. Just don’t extend Equatable and make sure your yielding a new state instance.

[2020-05-10 21:47] Luppakorva commented on #1159
Many many thanks! You saved my night :).

[2020-05-10 22:02] fajarsiedd commented on #182
Oh thank you sir, my problem solved 👍👍

[2020-05-10 22:06] don-prog commented on #1144
@felangel now I don't really think that this is `bloc` **issue or problem** :)
Also, I ready to report this issue/undesirable behaviour to the `Flutter` repo, because I think this may be so.
But I think I haven't much practical experience in the `Flutter`'s under the hood mechanisms, as you have. So, I also want to know your opinion about this behaviour: how incorrect is it and should I report it?

[2020-05-11 03:17] duomoteng commented on #1154
@felangel What if there is a field in an immutable class. That field is `CacheA`, which is a mutable object and need to updated frequently. Will this caused the problem we talked about before?

[code]

[2020-05-11 05:03] schatekar opened #1160 "Cannot use WidgetsBindingObserver with stateless widget"
Apologies this is not a bug but a question seeking direction.

I am having to manage app life cycles and I am following [this official guide](https://flutter.dev/docs/get-started/flutter-for/android-devs#how-do-i-listen-to-android-activity-lifecycle-events). As you can see the example uses a `StatefulWidget` so it has `initState` and `dispose` methods available where `WidgetsBindingObserver` is ad

[2020-05-11 05:41] ashishkumart commented on #1150
Thanks @felangel
I think you have run the another test case "renders child properly".

I am stuck in the last one that is "calls listener on single state change".
The issue is that listener is not getting called and I am not able to test the code that is written in side listener.

[2020-05-11 13:55] kartzhai opened #1162 "BlocProvider udpate value"
hi team,

sorry i kindly new and like to know how to update the state inside Class without context.
here for example :

class totalearnamountbloc extends Bloc<String, String>{

  @override
  String get initialState => '0';

  @override
  Stream<String> mapEventToState(String totalearnamount) async* {
    yield totalearnamount.toString();
  }
}

class a (){
  BlocProvider.of<totalearnamountbloc>(co

[2020-05-11 14:10] RollyPeres commented on #1162
Hi @kartzhai ! 👋

You would need to inject the bloc into your class.

[code]

[2020-05-11 14:15] RollyPeres commented on #1160
Hi @schatekar ! 👋

It is perfectly fine to use a `StatefulWidget`. Bloc recommends using `StatelessWidget`s unless you have some extra UI state to maintain.

[2020-05-11 14:22] #1160 closed

[2020-05-11 14:23] felangel commented on #1154
@duomoteng then the class is not immutable and you should avoid doing that. Yes, please avoid having non-final properties on your state classes.

[2020-05-11 14:27] kartzhai commented on #1162
i try this but seems not work.

a(Bloc<String,String> totalcashamountbloc): a = totalearnamountbloc ;

class a(){
}

on different dart file and not inside statefull or stateless widget.

[2020-05-11 14:31] felangel commented on #1162
@kartzhai you need to access the bloc via context and inject it into the class.

Where are you creating an instance of class a in relation to your widget tree?

[2020-05-11 14:33] kartzhai commented on #1162
ops sorry guys! put on the wrong places. it work but let me try and review several time.
btw i think i have 3-4 bloc to update. then i just need to inject them all inside class right?

[2020-05-11 14:44] kartzhai commented on #1162
guys sorry, i found some issue again. i like to update the bloc inside abloc class

for example :

class abloc extends Bloc<List<String>, List<Modal>>{

  abloc (Bloc<String,String> totalcashamountbloc): totalcashamountbloc = totalcashamountbloc;
  Bloc<String, String> totalcashamountbloc;

  @override
  // TODO: implement initialState
  List<Modal> get initialState => [];

  @override
  Stream<Li

[2020-05-11 14:56] RollyPeres commented on #1162
Please have a look at [bloc-to-bloc communication](https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication)

[2020-05-11 15:31] felangel commented on #1162
Closing this for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-05-11 15:31] #1162 closed

[2020-05-11 15:46] kartzhai commented on #1162
thankyou RollyPeres and felangel. i think need to learn more again.

thanks alot.

[2020-05-11 16:05] RollyPeres commented on #1162
Don't we all?

[2020-05-11 16:55] duomoteng commented on #1154
Thank you @felangel !👍🏻

[2020-05-11 17:07] moseskarunia opened #1163 "Adding event from one bloc to another doesn't make the "another" bloc trigger BlocListener in the UI"
Hi Felix,

So, I have Bloc A and Bloc B, which used in one same page. There's a functionality where I want to add an event to bloc B, after a specific event in bloc A finished. In my case there's no case where I can trigger bloc B without having to run the specific event in bloc A first.

So, to make it more straightforward for testing, I put my bloc B as a dependency of a Bloc A. (I use GetIt) So

[2020-05-11 20:11] heshaShawky opened #1164 "How to initial an event on app started"
**Describe the bug**
I'm trying to initiate an event on the app starting to get the dynamic links works fast as I possible, I tried to do it that way but didn't work for me don't know why!! the more weird part is that same way I have approached working with auth bloc and posts bloc too.

So I don't know what the difference here!  and why the event not been triggered!

[code]

I made a sample [here

[2020-05-11 20:13] felangel commented on #1164
Hi @heshaShawky 👋
Thanks for opening an issue!

By default, blocs are creating lazily (only if they are requested). As a result, the create will only get called when the bloc is requested via `BlocProvider.of<PostsBloc>(context)`.

If you want the create to be called immediately, you can set `lazy: false` like:

[code]

Hope that helps 👍

[2020-05-11 20:13] #1164 closed

[2020-05-12 04:07] felangel commented on #1163
Hi @moseskarunia 👋
Thanks for opening an issue!

You should register the blocs as singletons and you need to call get to retrieve them. I opened a [pull request](https://github.com/moseskarunia/sampleapp/pull/1) with the necessary fixes.

[2020-05-12 04:07] #1163 closed

[2020-05-12 07:13] nixis-institute commented on #1153
Hi i'm new to bloc but i have tried implemented graphql api with bloc

first create a connection with api

[code]
we'll called this connection in our repository file as below

[code]

here is my query

[code]
json response look like below

[code]

my bloc.dart file
don't confuse with colorPicker and sizePicker it is just a map variable which map color code with color name and size code with size n

[2020-05-12 09:22] ashishkumart commented on #1150
Hi @felangel 👋,

Please let me know if anything required from my end, because it's very important to me to cover UI code, that is written/called in the listener.

Thank You

[2020-05-12 10:52] moseskarunia commented on #1163
Hi felix, I have a follow up question.

Is it because with factory it actually initialized in different context when chained like this? Or maybe something else caused this kind of behavior?

Since i successfully able to make it work in other pages with singleton factory (as seen in reso coder's clean architecture as well), granted, without adding an event between blocs.

Thank you

[2020-05-12 11:31] MohsinN commented on #1145
Hey @felangel ; 👋

Thanks a lot for all your effort. 💯

[2020-05-12 12:41] Greatcallie commented on #78
this doesn't work anymore. Please how do I do it now with the latest library?

[2020-05-12 13:15] edgebasis commented on #1128
any solution for this?

[2020-05-12 14:02] RollyPeres commented on #1163
When you register your blocs as factories you'll get a new instance every time get it requests your type. That means the injected notification bloc into your counter bloc will be a different instance than the existing one in the tree. So when you're adding an event on the second instance clearly is not going to trigger the listener set up for the first instance of your notification bloc. 👍

[2020-05-12 14:08] RollyPeres commented on #78
Hi @Greatcallie 👋

Have a look at an example here https://github.com/felangel/bloc/issues/1107#issuecomment-621176290

[2020-05-12 14:10] Greatcallie commented on #78
Thanks. debounceTime wasn't recognised until i added rxdart

[2020-05-12 14:28] RollyPeres commented on #1128
Hi @edgebasis 👋

Tried to run your sample locally but I'm getting a quite a few dio and http errors due to invalid signatures. You mind migrating your sample to latest flutter stable version? Might be a good idea to even try and recreate your issue in a smaller sample which eliminates all the unneeded dependencies and focuses on flutter bloc. 👍

[2020-05-12 18:21] #1128 closed

[2020-05-12 23:34] lexprimost commented on #1153
hey

hey man thank you very much , this will help me a lot. i appreciate that

Do you have an example for using mutations too?

[2020-05-12 23:35] lexprimost commented on #1153
hey man thank you very much , this will help me a lot. i appreciate that

Do you have an example for using mutations too?

[2020-05-13 03:15] nixis-institute commented on #1153
@lexprimost mutate also works in similar way
i also called this function in above example in bloc file with repostory.createProduct(....)

[code]

i think this would help you

[2020-05-13 06:47] github-actions[bot] opened #1167 "[Translations] Update docs"
Update Translations to include changes from b9f7d661edc64dec7e0af166d1455cfb7495fe00.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-05-13 06:55] cgowthamanmca opened #1168 "Listview pagination issue."
**Describe the bug**
when using normal mobile pagination correctly working but when using tablet loading issue occurred  can you check below video.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34183706/81780820-c7ab5380-9514-11ea-8248-ce80625b7de9.gif)

[2020-05-13 07:03] github-actions[bot] opened #1169 "[Translations] Update FAQs"
Update Translations to include changes from f00f600c268dda9a3a093eb3dd8828a2860965c3.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [x] es (@KingDarBoja or @Classy-Bear)
- [x] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [x] zh-cn (@jakecastelli)

[2020-05-13 07:05] felangel commented on #1168
Hi @cgowthamanmca 👋
Thanks for opening an issue!

Thanks for bringing this up. This is likely happening because the content never fills the screen height so the scrolling offset never triggers a fetch event. I'll try to update this shortly 👍

[2020-05-13 07:09] felangel commented on #1144
@don-prog I think this behavior is expected but that being said it's not unreasonable to open an issue and see what the Flutter team thinks.

[2020-05-13 07:14] felangel commented on #1150
@ashishkumart sorry for the delay and for misunderstanding! I opened another [pull request](https://github.com/ashishkumart/widgetTestDemo/pull/2) to fix the last test. Hope that helps 👍

[2020-05-13 22:28] MoSamir opened #1170 "Direct transition to specific state"
business require sometimes transition to specific state without dispatching event .
as example if user logout ,
authentication bloc can start the process of logging out with server and yiel to the corresponding state
while user information bloc which caches the data locally can , can directly yiel to its initial state without dispatching new event , or disposing the old bloc and recreating it agai

[2020-05-13 22:34] felangel commented on #1170
Hi @MoSamir 👋
Thanks for opening an issue!

I’m not sure I understand the question. You can yield a state immediate without waiting for an asynchronous process to finish.

[2020-05-13 22:38] MoSamir commented on #1170
@felangel thanks for quick response ,
but my question is more related to something like
blocInstance.yeild(state) directly from anywhere in the UI or any other layer without the need to dispatch event then handle this event and yeil to the state in mapEventToState

[2020-05-13 22:39] felangel commented on #1170
@MoSamir that violates the whole paradigm. The only way to update a bloc’s state is by adding an event.

[2020-05-13 22:49] MoSamir commented on #1170
@felangel  well it make sense for sure ,I was trying to find a way to revert back to previous state without adding additional non-logic events

[2020-05-13 22:49] #1170 closed

[2020-05-13 23:04] RollyPeres commented on #1170
@MoSamir there's also `onTransition` which you can override 🤫

[2020-05-13 23:27] felangel commented on #1170
@MoSamir reverting to a previous state is logic haha 😛

[2020-05-14 05:41] felangel commented on #1072
@yun-cheng great question! In this scenario I would be inclined to make the KeyWordsBloc subscribe to the TodosBloc in order to compute the keywords to show but when it comes to dismissing all todos for a particular keyword, I would recommend having that be managed by the TodosBloc. You can add an event like `TodosDismissedByKeyword(keyword)` which would cause the TodosBloc to wipe out the relevan

[2020-05-14 05:43] felangel commented on #1072
@andreavaccari sorry for the delayed response! I'm planning to take a look at your PR tomorrow 👍

[2020-05-14 08:40] sterrenburg opened #1171 "Scheduling a non blocking future BlocEvent"
**Is your feature request related to a problem? Please describe.**
I created a Bloc that interacts with the Pi-hole API. The API can be used to send a 'sleep' command, which disables a Pi-hole for some duration. The 'sleep' command is sent by my Bloc using a a BlocEvent.

Once the duration has elapsed, I want the Bloc to send an event to itself in order to update its state. I naively tried using a

[2020-05-14 09:01] krevedkokun commented on #1171
you could override `transformEvents` and apply transformer which doesn't schedule events in queue

[2020-05-14 09:04] krevedkokun commented on #1171
something like [this](https://pub.dev/packages/plugfox_transformers)

[2020-05-14 11:00] UttamPanchasara commented on #1118
@felangel Having a similar issue, Can you share the solution here?

[2020-05-14 11:09] UttamPanchasara commented on #1118
[code]

[code]
[code]
When I run above test, getting same error as mentioned in issue

[2020-05-14 13:14] mmakmw opened #1172 "blocTest emits only one state when overriding transformEvents with switchMap"
**Describe the bug**
If we override `tranformEvents` in the bloc like this,

[code]

then `blocTest` always emits only one state.

`tranformEvents` with `switchMap` works correctly and as expected in the real application. We just can't get the tests working.

**Example**

[code]

This test fails since the result is only one state: `TestStateInitial()`.

The test passes if we do not override `tranf

[2020-05-14 14:43] felangel commented on #1172
Hi @mmakmw 👋
Thanks for opening an issue!

You need to add a `wait` to your `switchMap` test because with `switchMap` when the bloc is closed, you lost the pending events.

[code]

Hope that helps 👍

[2020-05-14 14:43] #1172 closed

[2020-05-14 14:48] felangel commented on #1171
Hi @sterrenburg 👋
Thanks for opening an issue!

Instead of awaiting the Future you can just use `.whenComplete` or `unawaited` to schedule adding another event to the bloc which shouldn't block the event stream.

[code]

[code]

Hope that helps 👍

[2020-05-14 14:50] felangel commented on #1118
Hi @UttamPanchasara 👋
That's because your `MyDataState` is not using the generic type so it's inferred as `dynamic`.

[code]

Let me know if that helps 👍

[2020-05-14 18:41] sterrenburg commented on #1171
Thank you for your responses! I managed to get the expected output using `Future.whenComplete` without the `await`.

The Bloc now simply adds another event like your example:

[code]

[2020-05-14 18:41] #1171 closed

[2020-05-14 20:09] charlieaboumoussa opened #1174 "angular_bloc ^4.0.0 seems to be not compatible with angular ^6.0.0-alpha"
Resolving dependencies...
Because angular_bloc >=3.0.0-dev.1 depends on angular ^5.3.0 and angular_app depends on angular ^6.0.0-alpha, angular_bloc >=3.0.0-dev.1 is forbidden.
So, because angular_app depends on angular_bloc ^3.0.0, version solving failed.

[2020-05-14 22:06] hackerunet opened #1175 "yield state"
Where is that variable state declared? where does it come from?, each time I use it in my code state is not defined and honestly cannot figure it out. Can you please enlighten me?

https://github.com/felangel/bloc/blob/f73e12f4c215c0b74a30b1112784cf4768c6b64f/examples/flutter_form_validation/lib/bloc/my_form_bloc.dart#L37

[2020-05-14 22:24] felangel commented on #1175
Hi @hackerunet 👋
Thanks for opening an issue!

`state` is a property on all blocs which gives you the current bloc state at the moment in time. What version of `bloc` are you using?

[2020-05-14 22:25] RollyPeres commented on #1175
Hi @hackerunet 👋

`state` is a property declared on the bloc itself. You might be using an older version of the package where it was named `currentState`. I'd recommend you update your `bloc` and `flutter_bloc` packages to latest version which is `4.0.0`.

Hope that helps you 👍

[2020-05-14 22:30] hackerunet commented on #1175
Oh my gosh, I'm using: flutter_bloc: ^2.0.1

[2020-05-14 22:38] #1175 closed

[2020-05-15 02:46] lexprimost commented on #1153
thank you one more time !

[2020-05-15 04:05] #1024 closed

[2020-05-15 04:26] karthikeyanp307 opened #1178 "Logout issue while using flutter bloc"
**Describe the bug**
I am using the flutter_login example. For my application, the login and logout works fine with login screen and home screen. When I redirect to new screen from home screen and tried logout, although the event and state changes occur application is not getting logout properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login screen
2. Login into the application

[2020-05-15 04:30] felangel commented on #1178
Hi @karthikeyanp307 👋
Thanks for opening an issue!

This is likely because you are using `pushReplacementNamed` which is unmounting the `BlocListener` or `BlocBuilder` which is responsible for navigating. Check out https://github.com/felangel/bloc/issues/286 and let me know if that helps 👍

[2020-05-15 04:42] karthikeyanp307 opened #1179 "Calling child bloc from parent"
**Describe the bug**
In my application with flutter_bloc, I am having tab bar main page that has two tabs loading Screens A and Screen B. Screen A has list of values. I need to filter these values based on user selection for which I am having filter screen attached to the main page as end drawer. When I change this filter and click on apply, the Screen A list needs to be filtered accordingly.

**T

[2020-05-15 05:05] felangel commented on #1179
Hi @karthikeyanp307 👋
Thanks for opening an issue!

Sounds like you need to adjust the scope of your blocs. The rule of thumb is a bloc should be provided at the closest common ancestor widget of the widgets that need it. In this case, you likely need to lift your bloc above screens A and B so that both screens have access.

Hope that helps 👍

If you're still having trouble, please share a link to

[2020-05-15 05:35] #1174 closed

[2020-05-15 05:38] felangel commented on #1174
Hi @charlieaboumoussa 👋
Thanks for opening an issue!

I have published [v5.0.0-dev.1](https://pub.dev/packages/angular_bloc/versions/5.0.0-dev.1) which is compatible with angular v6.0.0-alpha+1. Hope that helps 👍

[2020-05-15 06:58] karthikeyanp307 commented on #1179
Hi @felangel,

Thanks for your reply. With this do you mean to say the main page bloc should have the functionalities of both the Screen A and Screen B instead of having separate bloc for Screen A and B. Please clarify.

[2020-05-15 07:18] karthikeyanp307 commented on #1178
Hi @felangel ,

Thanks very much for your reply. Gone through the reference link. With this do you mean to say to either use direct navigation as in https://bloclibrary.dev/#/recipesflutternavigation or use Navigator.push() instead of Navigator.pushReplacementNamed(). With the latter, do we want to pop the screens back to home always before redirecting to the next screen in navigation menu or whet

[2020-05-15 07:20] charlieaboumoussa opened #1181 "angular_bloc ^4.0.0 not compatible with angular ^6.0.0-alpha"
I am trying to use angular_bloc's newest version, but can't make it run on the latest angular version.

[2020-05-15 08:53] #1181 closed

[2020-05-15 08:53] charlieaboumoussa commented on #1181
Sorry for this issue.. everything works fine.. it was a personal technical issue. Please delete

[2020-05-15 12:30] UttamPanchasara commented on #1118
@felangel thanks for the reply, have tried passing the model class, but didn't work still same error:

[code]

[code]

[2020-05-15 14:01] hackerunet opened #1182 "Multiblocprovider inject in context VS singleton injected bloc state error"
Dear community, first of all I'm sorry to open this issue here, but I'm having a multiblocprovider issue, when I access my bloc provider using the context
[code]
I got a "Bad state: Stream has already been listened to" error each time I switch back to the previous view and return. To get to the previous view I just use Navigator.of(context).pop();
if I add the bloc like this, inside my widget, eve

[2020-05-15 14:07] felangel commented on #1118
@UttamPanchasara can you share a link to the repo?

[2020-05-15 14:15] hackerunet commented on #1182
Sorry, fixed... has nothing to do with bloc.

[2020-05-15 14:15] #1182 closed

[2020-05-15 14:19] felangel commented on #1179
No problem! I mean since the filtering of data is a cross cutting concern the state of the filter needs to be lifted higher so that ScreenA and ScreenB have access. This is why it’s not necessarily always 1 bloc per screen. Let me know if that helps 👍

[2020-05-15 16:48] hackerunet commented on #52
I'm currently facing this issue, so apparently i'm closing the bloc early before I finish using them. But, not sure why bloc get's disposed if they are declared in MultiBloc Provider in main.dart, The time when this error shows up, is during a build in a child object. So my question is, how do I close them out of the child widgets?
[code]
I have it declared in the main application, which means I s

[2020-05-15 21:45] xloc commented on #909
Hi, I'd like to contribute to the Bloc Chinese(Simplified) translation. How can I start?

[2020-05-16 00:01] felangel commented on #1178
@karthikeyanp307 you can just do:

[code]

in your `BlocListener`. This will pop all other routes and push the new one on top without replacing the existing route. Let me know if that helps, otherwise please share a link to a sample app and I'm happy to open a PR with suggestions 👍

[2020-05-16 00:14] felangel commented on #909
Hi @xloc 👋
Thanks so much for offering to help!

To get started you just need to fork the repo, and start translating the content in docs/zh-cn 👍
Let me know if you run into any issues and thanks again 😄

[2020-05-16 00:19] felangel commented on #52
Hi @hackerunet you shouldn't need to close them manually; BlocProvider will handle disposing them when `BlocProvider` is disposed. Can you share a link to a sample app which illustrates the problem you're having? Thanks! 👍

[2020-05-16 00:48] xloc commented on #909
Happy to be able to help you and this project  :D

Thank you for your help. I'll start translating `Tutorials > Flutter > InfinityList` and get back here when finished.

[2020-05-16 00:58] jakecastelli commented on #909
Hi @xloc 👋

That's fantastic!
To start with, you may need to have a look at [here](https://github.com/felangel/bloc/blob/master/CONTRIBUTING.md#contributing-to-documentation) where mentioned in detail how to contribute to the docs, I will put your name next to the page you are working on, in this case, people who wanna contribute to the zh-ch docs won't conflict to each other!

If you have any oth

[2020-05-16 04:38] github-actions[bot] opened #1186 "[Translations] Update docs"
Update Translations to include changes from 9714134a87af66517a25e8ac69b476ad629dd4c8.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-05-16 08:54] Supercaly opened #1188 "mapEventToState not yield catched exception"
**Describe the bug**
In my app I use a bloc to fetch data from a repository; the repository returns a Future. In `mapEventToState` method I'm using a `try/catch` to yield `ResultSuccess` in case of success or `ResultError` in case of an exception is caused by the repository code.
The problem is that whenever an exception is thrown the `ResultError` state is not yield.
I've used the good old debug

[2020-05-16 17:02] psygo opened #1189 "A Question About the Implementation of the State Stream"
I'm not that good at reactive programming, so this question might be a bit basic. But maybe it can help improving the docs if others share the same doubts.

As far as I understand, the `mapEventToState` method returns a `Stream` which transforms an event internally to emit a state. However, if a new event enters the BLoC, due to this functional stream creation pattern, a new `Stream` would be crea

[2020-05-16 17:43] karthikeyanp307 commented on #1179
Hi @felangel ,

Thanks again. Now I tried having common bloc for all the three screens such as,

* Tab View - Main Page --> Main_Page & Main_Form
* Tab 1 - Screen A --> ScreenA_Page & ScreenA_Form
* Tab 2 - Screen B --> ScreenB_Page & ScreenB_Form

* Main_Bloc
* Main_Event
* Main_State

I am using page and form similar to https://github.com/felangel/bloc/tree/master/examples/flutter_login/lib/logi

[2020-05-16 18:51] karthikeyanp307 commented on #1178
Hi @felangel ,

Thanks again. At present I am using the below way of navigation in menu drawer,

  new ListTile(
              onTap: () {
                Navigator.pushReplacementNamed(context, '/screen_route');
              },
              title: new Text("Screen_Name", style: AppTheme().menuList,)),

and for logout option I have the below code,

 BlocProvider.of<AuthenticationBloc>(context).a

[2020-05-16 19:06] felangel commented on #1188
Hi @Supercaly 👋
Thanks for opening an issue!

I'm guessing the issue you're facing is related to [https://bloclibrary.dev/#/faqs?id=state-not-updating](https://bloclibrary.dev/#/faqs?id=state-not-updating). Let me know if that helps 👍

[2020-05-16 19:11] felangel commented on #1189
Hi @psygo 👋
Thanks for opening an issue!

A bloc is essentially a special type of `StreamController` which allows you to define a transformation function (`mapEventToState`). With a `StreamController` the input type has to match the output type.

I highly encourage you to try to accomplish the same thing with `StreamControllers` (it's a good learning exercise) and you should see that you'll need m

[2020-05-16 20:08] felangel commented on #1178
Can you please share a link to the github repo so I can run/debug it locally?

[2020-05-16 22:12] psygo commented on #1189
Knowing that is already really neat. That info could be placed below the [Streams Section](https://bloclibrary.dev/#/coreconcepts?id=streams) of the docs for example, I think it would be useful to bring BLoC into "familiar" reactive terms, but that's only my opinion...

I can see from the source code that the BLoC `abstract class` is extending and implementing the two important reactive components

[2020-05-16 22:55] RollyPeres commented on #1189
Hi @psygo 👋

If you take a closer look at the bloc's implementation you'll notice it uses two different `StreamController`s, one for the incoming events and one for the states being outputted. That allows for advanced usage like applying operators on those streams to change how the events/states are being handled(debouncing, throttling, cancelling, etc).

[2020-05-16 23:02] felangel commented on #1189
Another thing to add to 👆 is it is designed to be able to easily emit multiple states for a single event.

[2020-05-17 02:21] psygo commented on #1189
I intended for this issue to be a clarifying discussion about how the BLoC package works in the background. Maybe that would result in some later improvements to the docs as a side effect. At any rate, if anyone has the same questions in the future, they will hopefully find this issue.

Now it is clearer to me why you chose it to be the way it is. It seems like it would not have been possible to a

[2020-05-17 08:24] Supercaly commented on #1188
Tanks for the quick response,
I've looked at the link and I'm not using equitable, but basically the problem is that my `ResultError` object want an `Error` parameter, but in the catch, I was giving him an `Exception`.
I've discovered this updating the flutter_bloc to 4.0.0 before he didn't show me any error in the log.
Changing the parameter form `Error` to `String` fixed the problem.

[2020-05-17 08:24] #1188 closed

[2020-05-17 16:10] felangel commented on #1189
Will keep this open to track the documentation request 👍

[2020-05-18 05:07] UttamPanchasara commented on #1118
@felangel sorry, which is not possible as it's a private repo of client.

[2020-05-18 11:16] matanshukry opened #1191 "[Question] Single API with multiple blocks?"
Imagine an app where we have 2 blocs:
- settings regarding the app (such as areas open to the user, etc)
  - API #1: `GET /settings` - return current settings
  - API #2: `PUT /settings` - update settings (admin only)
  - .. other apis ...
- user info (login info)
  - API #1: `GET /user/@me` - get current user
  - ... other apis ..

We then create 2 blocs, 1 for each of the above.

Since both `Set

[2020-05-18 13:20] RollyPeres commented on #1191
Hi @matanshukry 👋

If you feel you need to have access to other bloc's state within the first one, have a look at [bloc-to-bloc communication](https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication).

[2020-05-18 14:25] edgebasis commented on #1128
Hi @RollyPeres , i could find out the problem "finally!" and for me it was easier to dig more than change the code base and make another version to focus on the bloc or the issue..

I am gonna put down the problem cause and the solution and hopefully helps others who might run into this issue like i did:

okay, my problem was. that i was re-instantiating the bloc repository in a child screen:

[co

[2020-05-18 14:51] felangel commented on #1118
@UttamPanchasara can you create a simple project that illustrates the problem you're having and share the github repo?

[2020-05-18 15:29] RollyPeres commented on #1128
@edgebasis glad you figured it out and thanks for sharing your findings, might indeed be helpful to others 👍

[2020-05-18 19:44] ronscoder opened #1192 "Counter not updating"
**Describe the bug**
I followed the tutorial [https://bloclibrary.dev/#/fluttertimertutorial](url), but couldn't get the result.

**To Reproduce**
Steps to reproduce the behavior:
Here is my code:
[code]

**Expected behavior**
On pressing Play button, the count down should begin and display.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Logs **
Run `flutter analy

[2020-05-18 19:46] #1192 closed

[2020-05-18 19:47] ronscoder commented on #1192
There is flaw in nested `if else` statement.

[2020-05-18 22:02] aelshamy opened #1193 "[Question] Using ScanStreamTransformer to transform state"
I would like to implment something similar to this.

[code]

I tried using `transformTransitions` like this

[code]

but I got mismatch type expectations. can you advise if there is a better way

[2020-05-18 22:45] RollyPeres commented on #1193
Hi @aelshamy ✌

Can you provide more context on what your requirements are and what your end goal is ? I just feel you're approaching this from a vanilla bloc angle.

[2020-05-18 23:10] aelshamy commented on #1193
@RollyPeres. I was trying to use the package to add an implementation for a Hacker news API. it loads the initial items as a `Listview.builder` and defers the loading for items that are not being displayed on the screen yet. each list item will be a future builder that holds the future of each item response. I used this package multiple times but I was interested in testing it out with such a prob

[2020-05-19 00:48] felangel commented on #1193
@aelshamy have you taken a look at the [infinite list example](https://bloclibrary.dev/#/flutterinfinitelisttutorial)?

[2020-05-19 03:13] aelshamy commented on #1193
@felangel yes I did and I can somehow use it. But with my case, the service does not support pagination so I am curious how I can lazy load the rest of the element using the `listview.builder` itself

[2020-05-19 03:14] spiritualprogrammer1 opened #1194 "Use the instance of a bloc as a parameter of a function"
I have a problem when I want to use the instance of a block as a parameter to a function:

  ` class SettingPage extends StatefulWidget {
  static const routeName = '/setting';

  @override
  _SettingPageState createState() => _SettingPageState();
}`

`class _SettingPageState extends State<SettingPage> {
  final double fontSize1 = 15;
  final double fontSize2 = 15;
  final double paddingTop1 = 20;

[2020-05-19 11:52] UttamPanchasara commented on #1118
@felangel sure will try soon, FYI same thing I did for another bloc and there I'm able to run the test cases successfully. strange!!

[2020-05-19 12:34] UttamPanchasara commented on #1118
@felangel here is a link for repo, which have the same problem with the same structure: [UnittestDemo](https://github.com/ashoksongara205/UnittestDemo)

[2020-05-19 16:13] RollyPeres commented on #1194
Hi @spiritualprogrammer1  👋

I'd advice against passing the bloc as parameter all over the place. Instead you should retrieve the bloc using `context`.

[2020-05-19 16:21] RollyPeres commented on #1193
@aelshamy Surely you could keep track of how many items you already loaded or the latest item id on the bloc state and request next items based on that. It all depends on what that API looks like.

[2020-05-19 20:01] aelshamy commented on #1193
@RollyPeres yeah that could be a way too. the API is hacker news API

[2020-05-20 03:41] felangel commented on #1179
Hi @karthikeyanp307 it's hard to say without seeing the code. You can provide the bloc instance two ScreenA and ScreenB using a BlocProvider at the nearest common ancestor. I'm going to close this issue for now since I don't feel like I have enough information to give additional recommendations.

Feel free to post a link to a sample application and I'm more than happy to take a look and give more

[2020-05-20 03:41] #1179 closed

[2020-05-20 03:42] felangel commented on #1178
Closing for now since I don't feel I have enough information to give guidance. Feel free to comment with a link to a sample app and I'm happy to take a look and give feedback/suggestions 👍

[2020-05-20 03:42] #1178 closed

[2020-05-20 03:43] felangel commented on #1191
As always, thanks @RollyPeres for taking the time to answer! 🙏

@matanshukry closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-05-20 03:43] #1191 closed

[2020-05-20 03:48] felangel commented on #1194
Hi @spiritualprogrammer1 👋
Thanks for opening an issue!

As @RollyPeres mentioned, you should prefer to provide a single instance of a bloc at the closest common ancestor of all widgets that need it and then you can access the bloc from anywhere in the subtree via `context.bloc<UserBloc>()`.

You can also take a look at the [bloc access recipe](https://bloclibrary.dev/#/recipesflutterblocaccess) f

[2020-05-20 03:48] #1194 closed

[2020-05-20 04:17] felangel commented on #1072
@andreavaccari sorry for the delay! I finally had some time and opened a [pull request](https://github.com/felangel/bloc_todos/pull/3) in which I added a new commit on top on your existing commits to attempt to fix the local completion state issue.

Let me know if that helps and apologies for the delay!

[2020-05-20 06:04] #1153 closed

[2020-05-20 06:05] felangel commented on #1153
@lexprimost added a [basic graphql example](https://github.com/felangel/bloc/tree/master/examples/flutter_graphql_jobs) 👍

[2020-05-20 06:10] aelshamy commented on #1193
also, @felangel @RollyPeres what is your opinion for approaching something like the above snippet in general

[2020-05-20 06:13] github-actions[bot] opened #1196 "[Translations] Update docs"
Update Translations to include changes from 5f94d0b03b70238c35af7d370260ea049d88309c.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

Update Translations to include changes from 9e3282ac17286185a

[2020-05-20 06:15] felangel commented on #1169
moving to https://github.com/felangel/bloc/issues/1196

[2020-05-20 06:15] #1169 closed

[2020-05-20 06:16] felangel commented on #1135
moving to https://github.com/felangel/bloc/issues/1196

[2020-05-20 06:16] #1135 closed

[2020-05-20 06:17] felangel commented on #964
moving to https://github.com/felangel/bloc/issues/1196

[2020-05-20 06:17] #964 closed

[2020-05-20 06:17] felangel commented on #928
moving to https://github.com/felangel/bloc/issues/1196

[2020-05-20 06:17] #928 closed

[2020-05-20 06:20] felangel commented on #957
closing this since it is being tracked via https://github.com/dart-lang/sdk/issues/39994.

[2020-05-20 06:20] #957 closed

[2020-05-20 06:22] felangel commented on #587
closing this since the issue is being tracked via https://github.com/dart-lang/linter/issues/1381

[2020-05-20 06:22] #587 closed

[2020-05-20 07:15] RollyPeres commented on #1193
@aelshamy in my experience vanilla bloc is too verbose and tedious to work with. Bloc library removes all the unpleasant parts.

A basic approach to keeping the latest id and use it to make the next set of requests would look like:

[code]

You would get the latestId from the bloc state and trigger all these requests in parallel as a result of an event you'd add to bloc whenever you'd hit the scro

[2020-05-20 09:29] CoderAssets opened #1197 "State not rebuilding."
Everything works fine in the starting but QuestionWidget has a button that triggers the GetQuestion event but the QestionWidget is not rebuilt. Or am I doing something wrong here?? I also tried removing equatable.

 Widget build(BuildContext context) {
    return Scaffold(
      body: MultiBlocListener(
        listeners: [
          BlocListener<QuestionholderBloc, QuestionholderState>(

[2020-05-20 10:22] RollyPeres commented on #1197
Hi @CoderAssets 👋

What exactly do you mean by the widget is not rebuilt ? `builder` is not executed or the value of `question` inside `QuestionWidget` doesn't change ?

[2020-05-20 10:51] CoderAssets commented on #1197
My plan is to rebuild entire QuestionWidget but no visible changes. I guess builder is not exeuted.

[2020-05-20 10:53] RollyPeres commented on #1197
@CoderAssets can you share a gist or a repo with your issue ?

[2020-05-20 11:15] CoderAssets commented on #1197
Not using equatable. Is there a chance that the build may not have happened because I was passing the same question. I just realized that the question was the same as the previous one.

[2020-05-20 11:20] CoderAssets commented on #1197
[https://github.com/CoderAssets/triviaIQ](url)

this is my project

[2020-05-20 11:25] RollyPeres commented on #1197
That's precisely why I asked you regarding builder or widget value.

Glad you found the problem 👍

[2020-05-20 12:06] CoderAssets commented on #1197
Thanks for your help.

[2020-05-20 12:09] #1197 closed

[2020-05-20 15:58] mflesh1 commented on #1110
I receive this error when I try this.

[code]

[2020-05-20 16:11] felangel commented on #1110
@mflesh1 can you share a sample app which illustrates the issue?

[2020-05-20 16:35] RollyPeres commented on #1110
@mflesh1 I suspect you're manually calling dispose where you're proving the bloc. You shouldn't do that since the bloc will be disposed for you automatically by the `BlocProvider`. 👍

[2020-05-20 20:16] shamilovtim commented on #1147
Hey @felangel could you clarify something for me? I wasn't sure if you were implying in your second to last message that storing the state of a Bloc in a variable of a stateful widget is a bad thing:

Is there any particular reason for that? Because it stops us from using pure functions?

I've moved forward by passing the state around as a parameter. e.g.:

BlocBuilder((state)
BuildWidgetA((state)

[2020-05-20 20:21] matanshukry commented on #1191
Sorry for the late response.

@RollyPeres that paged actually helped - I wasn't familiar with it; Thanks!

@felangel thanks for the support as well!

[2020-05-20 20:40] mflesh1 commented on #1110
@felangel it is hard to share a sample app as I can't share the app I am working on, I would need to deconstruct it a bit to share, I will see what I can do.

[2020-05-20 22:22] mflesh1 commented on #1110
@felangel so I added an [example project](https://github.com/mflesh1/flutter_example), it has a home page that has a list, you can then navigate to another page, when you come back I want the home page list to refresh. The sample works on the first time you navigate but on subsequent navigations it does not.

It is implemented in this [file](https://github.com/mflesh1/flutter_example/blob/master/l

[2020-05-20 22:55] RhodWulph commented on #139
Hi everyone!
I've been working on my first mobile app using Flutter (around 2 months). At the beginning was complicated to choose the best pattern but flutter_bloc was the best dedication I've taken 💯

It's incredible how easy is to add new features using this package. Thank you very much @felangel  for this excellent library, keep it up!

My app is **Naizu**. In the main feature, you can have a f