[2019-07-19 09:44] Muldec commented on #413
Rebase did the job apprently.

[code]

Do you confirm on your side @axellebot ?

[2019-07-19 14:00] felangel commented on #413
Closing for now but @axellebot feel free to comment if you still have issues 👍

[2019-07-19 14:00] #413 closed

[2019-07-19 14:46] felangel commented on #419
Hi @rajeshjeshar 👋
Thanks for opening an issue!

I believe you're seeing this because you've likely upgraded flutter which has more strict analyzer rules. In general, all build methods must return a widget but before you did not get a warning if you returned null.

In any case, you need to make sure you have a fallback if the state is for some reason not `OtpSentState`, `AuthTimeOutState`, `AuthEr

[2019-07-19 14:46] #419 closed

[2019-07-20 04:14] wfybiz commented on #322
I am very new to flutter so how to use single instance of UserRepository as mentioned by rajesh kc a link of demo would be very helpful.

[2019-07-20 08:52] basnetjiten commented on #363
Is there anyone who is going to answer me ?

[2019-07-20 10:32] timrijckaert commented on #416
Hi @felangel and everybody else who commented.

Thanks for the quick reply.

Let me quickly give you a summary of how we setup our `ioc` in our app.

Currently we have different `scoping` levels setup within our app.
We have an `AppScope` which provides essentially singletons throughout the app.
Some of these dependencies don't fit semantically in the naming of a `RepositoryProvider`.
This include

[2019-07-20 10:48] timrijckaert commented on #139
Hi all,
Greetings from Belgium 🇧🇪

We are currently in the proces of rewriting the national broadcaster news app in Flutter.
We went from 2 Android devs and 2 iOS devs working on 1 Android app and 1 iOS app to 4 Flutter devs working on 1 app.
We expect to release our first release by the end of this year.

iOS: https://apps.apple.com/be/app/vrt-nws/id952769219?l=nl
Android: https://play.google.com

[2019-07-20 15:06] felangel commented on #363
Hey @basnetjiten  👋
You don’t need a BlocListener if you want to do something on a button tap. You should only use a BlocListener if you want to do something in response to a state change (without user input). With the code you shared, the BlocListener is only created when the user taps the button so it will only start listening then. Hope that helps 👍

[2019-07-20 15:19] felangel commented on #414
Closing for now but feel free to comment with additional info and I’m happy to continue the conversation 👍

[2019-07-20 15:19] #414 closed

[2019-07-20 18:53] felangel commented on #416
Hey @timrijckaert thanks for the additional info!

Correct me if I'm wrong but isn't ProxyProvider only necessary if the dependencies change? I'm not sure I understand why it's necessary as dependencies such as Dio, UserStorage, etc... should probably not change throughout the application lifecycle.

Even though this architecture may work for you, it's not what I would recommend because you end up

[2019-07-21 03:38] basnetjiten commented on #363
@felangel thankyou for clearing the concept . May I please  ask you some suggestions for my app situation.
I have SearchStateful page. It contains searchTextfield for keywords search. Based on the search the event is dispatched and on the builder function I am checking the state change to build the listview. That works perfectly fine. Now I also have setting logo when clicked takes to the dialog p

[2019-07-21 03:42] basnetjiten commented on #363
I have tried using BlocListnener and it's child as Bloc in the FirstPage for checking state and building list view. It works fine for the keywords search but no luck for coming back from dialogBoxPage

[2019-07-21 03:51] felangel commented on #363
@basnetjiten can you please share a link to a sample app which demonstrates the problem you're having? It'd be much easier for me to help if I can see your implementation.

[2019-07-21 07:21] timrijckaert commented on #416
Ok, this help to clear up some decisions made in this library for me.
I'm very new to Flutter so these kind of discussions help me to get some feedback from more experienced Flutter/Dart devs.

Our architecture of our app is still in an early stage and we need some guidance on this.

Just some thoughts/questions:

I don't know if that is the only valid reason to use it?
Maybe Remi Rousselet could

[2019-07-21 08:54] amreniouinnovent commented on #240
@felangel
I think there should be a MultiBlockBuilder and MultiBlocListener

check my code it is not clean when I used a nested bloc builders

[code]

[2019-07-21 15:16] dali546 opened #420 "Stops working migrating from 0.17.0 to 0.19.1"
**Describe the bug**
I updated my pubspec to latest version. Now when i dispatch an action there is no update to the state. i have added debugger and my bloc does not run. Code compiles fine.
**To Reproduce**
Steps to reproduce the behavior:
[code]
the `print(event);` never happens
[code]
None of the `print(state)` print any new state besides the Initial state. I have tried to dispatch `CheckIfTok

[2019-07-21 17:16] felangel commented on #420
Hey @dali546 👋
Thanks for opening an issue!

Can you please provide a link to a sample app that illustrates the problem? It would be much easier for me to help if I can run the app locally. Thanks!

[2019-07-21 18:08] michcio53 opened #421 "[help] What is the proper way to update one row"
Hello,
Now I'm struggling with list view and custom tiles. I have like buttons in those rows, and I want to update state of like button when user clicks on it, without refreshing whole list. Should I make, bloc builder for every single row? Or should I operate my list with only one single bloc.

[2019-07-21 18:34] felangel commented on #421
Hey @michcio53 👋
Thanks for opening an issue!

Based on the information you've provided, I would recommend having a single bloc for the feature state and you can use multiple BlocBuilders for the different widgets that you want to rebuild when the state changes. For granular control over when a BlocBuilder rebuild, you can provide a `condition`.

Hope that helps 👍

[2019-07-21 18:34] #421 closed

[2019-07-21 19:01] felangel commented on #416
@timrijckaert glad I was able to help!

Maybe Remi Rousselet could give some clearance on that?
Coming from an Android background I thought it was similar to how Dagger works, were it injects previously declared dependencies, instead of you manually getting them with the Provider.of syntax.

You can definitely use it like that but I don't think it's the most efficient implementation if your depend

[2019-07-21 19:19] felangel commented on #299
@mainawycliffe I think the extension should just add the new bloc to the existing bloc.dart file so long as the new bloc name doesn’t conflict with the existing bloc names

[2019-07-21 19:51] michcio53 commented on #421
Ok, so basically I have made one bloc for fetching the list, and updating item when like button was clicked

**My event class looks like this:**
[code]

**my state class looks like this**

[code]

**bloc class**

[code]

**snippet of tile class**

[code]

**and snippet of class with list**

[code]

Is my thinking correct?
I have a problem with updating list rows. Now when there are many widgets in

[2019-07-22 00:07] charlesblack opened #422 "Bloc looses current state for initial state"
**Describe the bug**
I've created a very similar app as the Todo Example app. I don't use the localizations and I have created the routes as such:

[code]
The app loads fine, and filters the flights just fine. But when I navigate to /addTodo a new entry doesn't get added. An empty entry with just an id should be added when I navigate to this route. I've done some debugging and everything works. Th

[2019-07-22 01:20] felangel commented on #422
Hi @charlesblack 👋
Thanks for opening an issue!

It sounds like you're creating multiple instances of the `TodosBloc` instead of using the same instance across of the routes. Are you able to share a link to the application so that I can run/debug it locally?

Thanks! 👍

[2019-07-22 04:58] basnetjiten commented on #363
@felangel I am working in a local development environment here at the company. so data might not be available/ Is it Okay If I share you just the code?

[2019-07-22 05:03] basnetjiten commented on #363
proposal_search_setting.dart page

    class ProposalSearchSetting extends StatefulWidget {
     final UserProfileBloc userProfileBloc;
    final ProposalSearchBloc proposalSearchBloc;
     final MenuListData menuListData;
    final BuildContext context;
    final Function() notifyParent;

   ProposalSearchSetting({@required this.notifyParent, this.proposalSearchBloc,
    this.userProfileBloc,

[2019-07-22 08:16] charlesblack commented on #422
You're right. I was creating a new declaration instead of using that by the blocProvider. Sorry, I was tired. Thanks

[2019-07-22 08:16] #422 closed

[2019-07-22 11:20] Tokenyet commented on #182
Could I ask about If there is normal to use two related-bloc in single page? What I mean It's when you want to split the page(screen) up and down, and the upper page use `POST` request, so according to [Bloc firebase](https://felangel.github.io/bloc/#/flutterfirebaselogintutorial?id=setup) example, I had three state.

[code]
but what If I have another `POST` that in the bottom page? So I need to u

[2019-07-22 12:22] intako opened #424 "Only one state per bloc issue."
Hi, Felix! Using flutter_bloc on current project and enjoying it so far.
But I encountered one issue multiple times , let me show simple example:

We've got two states:

[code]

The case - when current state is `DataLoaded` and it is shown on a screen, then user triggers fetching new data, state changes on `IsFetching` and here I need to still show old data and circular progress simultaneously. An

[2019-07-22 12:30] timrijckaert commented on #416
Thanks @felangel
Implemented the changes today!

[2019-07-22 12:30] #416 closed

[2019-07-22 21:07] carmenkerim12 opened #427 "Passing and Accessing Blocs"
I'm sorry if my terminology is misplaced or if this has been answered before but I'm a little lost on the concept of passing, accessing blocs, navigating through widgets, and still having access to those blocs. Thank you in advance!

From the last issue I opened, you pointed me in the right direction of declaring blocs when you need them instead of creating all the instances in the main.dart and p

[2019-07-23 01:45] felangel commented on #424
Hi @intako 👋
Thanks for opening an issue!

If you need to share data across multiple states then you can just have a base class that holds the data and extend the base class for each of your bloc states.

[code]

In this case both `DataLoaded` and `IsFetching` are `Populated` states because they both contain data.

Hope that helps! 👍

[2019-07-23 01:45] #424 closed

[2019-07-23 01:51] felangel commented on #427
Hi @carmenkerim12 👋
Thanks for opening an issue!

The rule of thumb is only provide a bloc where it is needed. With flutter_bloc v0.20.0 you can provide and access a bloc using `BlocProvider` within the same `BuildContext` which should reduce the number of widgets needed.

When you push a route or use a SearchDelegate etc... you are creating a new widget with a totally different `BuildContext` (th

[2019-07-23 08:14] intako commented on #424
Thanks a lot for the quick reply!

It might help, but in this case we'd have to pass data as argument on every state change, so now we have two states. But what if there are more states, some states for just `BlocListener` as well.

And if the `DataLoaded` state contains not only `data` field, but another two fields then we'd have to share them across all states and it's a question of time when it

[2019-07-23 10:20] amreniouinnovent opened #428 "MultiBlocBuilder"
**Is your feature request related to a problem? Please describe.**
I want better readability for the nested bloc builders

**Describe the solution you'd like**
I think there should be `MultiBlocBuilder `same like `MultiBlocListener`

**Describe alternatives you've considered**
An alternative solution could be `RepositoryBlocBuilder `which take multi listeners and multi bloc builders
sample:

[code

[2019-07-23 10:45] amreniouinnovent opened #429 "support switch on bloc states"
I don't know if using `runtimeType `is a good approach for using switch for states

[code]

[2019-07-23 13:45] amreniouinnovent opened #430 "bloc reset to initial state"
**Is your feature request related to a problem? Please describe.**
I have multi Bloc Builders I need to switch between state by checking if the current state is in the initial state or not.

**Describe the solution you'd like**
I know that I can just dispatch an event like `LogoutEvent `or `ResetEvent `but I think every bloc should have a reset function
so instead of an event for reset
https://git

[2019-07-23 14:20] amreniouinnovent commented on #427
@felangel I go the same issue on the new release v0.20
I disabled automatic disposable which introduced in this issue
https://github.com/felangel/bloc/issues/380
https://github.com/felangel/bloc/pull/385
I used `.value`
But I think `disposable` flag could be more clear in this case instead of `.value`

![image](https://user-images.githubusercontent.com/52191652/61719690-6f814600-ad76-11e9-8809-404

[2019-07-23 19:36] dali546 commented on #420
Hi @felangel
auth-view-flow branch https://github.com/dali546/Community-App/tree/auth-view-flow
just change pubspec rest of the app should work

On V17.0
App moves on from App is initialising, events are clearly seen dispatched

On V19.1
App constantly says App is initialising... and no sign of events being dispatched.
you will need to modify `route_handlers.dart` from `BlocProviderTree` to `Multi

[2019-07-23 23:12] carmenkerim12 commented on #427
@felangel  Thank you for taking the time to help me out. Everything you said makes a lot of sense and cleared that concept up for me. I'm going to try out the second strategy for accessing the bloc and to try out passing the bloc via constructor to the searchDelegate. I'm going to then test if I still encounter the bad state error. If I do, I'll get back to you with a sample project replicating th

[2019-07-24 00:33] felangel commented on #322
@wfybiz you can just use RepositoryProvider and create your repository instance at the root of your app like:

[code]

Then from anywhere in your application you can access your `MyRepository` instance via `RepositoryProvider.of<MyRepository>(context)`.

Hope that helps 👍

[2019-07-24 00:50] felangel commented on #420
@dali546 I opened a [pull request](https://github.com/dali546/Community-App/pull/17) with the necessary changes to work with flutter_bloc v0.20.0.

There were a few breaking changes between 0.17.0 and 0.20.0 which I fixed.

In the future you can check out the [change log](https://pub.dev/packages/flutter_bloc#-changelog-tab-) to see the changes across the releases and you can refer to the [docs](h

[2019-07-24 00:50] #420 closed

[2019-07-24 00:53] felangel commented on #429
Hi @amreniouinnovent 👋
Thanks for opening an issue!

While it is definitely possible to switch on `runtimeType` I personally would not recommend it because `runtimeType` can be overridden so ideally you should not have logic that depends on `runtimeType`.

In simple cases, you can represent your state as an enum and switch on the enum. I'm currently trying to investigate several implementations of

[2019-07-24 00:53] #429 closed

[2019-07-24 00:55] felangel commented on #427
No problem and sounds good!

Closing for now but feel free to comment if you encounter the error and I'm happy to help resolve it 👍

[2019-07-24 00:55] #427 closed

[2019-07-24 00:59] felangel commented on #430
Hi @amreniouinnovent 👋
Thanks for opening an issue!

I don't think it's a good idea to introduce a `reset()` because it directly goes against the bloc library paradigm: the only way to trigger a state change is by dispatching an event. I think for cases like you mentioned it is better to have an explicit event to change the state back to `initialState` because it will allow you to have a record of

[2019-07-24 00:59] #430 closed

[2019-07-24 01:02] felangel commented on #428
Hi @amreniouinnovent 👋
Thanks for opening an issue!

I will create an official RFC (request for change) over the next few days for `MultiBlocBuilder` and let the community decide if they want it 👍

Regarding `RepositoryBlocBuilder`, I don't think it is clear what this widget is supposed to be used for and if there is a `MultiBlocBuilder` and `MultiBlocListener`, I would argue there is probably les

[2019-07-24 01:05] felangel commented on #424
@intako no problem! In that case, if a single state will always need multiple properties (`data` and `isLoading`) you can simply combine the properties into a single state and implement a `copyWith`.

You can check out the [infinite list tutorial](https://felangel.github.io/bloc/#/flutterinfinitelisttutorial?id=post-states) for an example.

[2019-07-24 01:09] felangel commented on #363
@basnetjiten would it be possible for you to put together a simple sample app that illustrates the problem you're having and provide a link to the github repo? It would be way easier for me to help 👍

[2019-07-24 03:04] kieth1205 opened #431 "need help"
this repo use firebase but U cann't see firebase in your repo. So I cann't run this app

[2019-07-24 03:59] felangel commented on #431
Hi @kieth1205 👋
Thanks for opening an issue!

Can you please be more specific about what isn’t working? It would be great if you can provide detailed steps to reproduce the problem you’re having.

Thanks!

[2019-07-24 04:05] 2000calories opened #432 "In flutter_login, logout not working on a new page"
The logout function is not working on a new page I created. When I click the logout button it did not redirect to login page.
I check this similar issue but cannot solve it. https://github.com/felangel/bloc/issues/122#issue-416581697
Here is the code: https://github.com/2000calories/flutter_login_test.git
Thanks in advance.
![Screenshot_20190724-115802](https://user-images.githubusercontent.com/25

[2019-07-24 04:13] felangel commented on #432
Hi @2000calories 👋
Thanks for opening an issue!

The issue is you’re pushing settings on top of the map app when you use Navigator.push so when you dispatch the Logout event you need to also call Navigator.of(context).pop() in order to remove the settings widget from the top of the navigation stack.

Hope that helps!

[2019-07-24 04:26] amreniouinnovent commented on #428
@felangel just alternative style never mind
Thank you for your hard effort

[2019-07-24 04:26] #428 closed

[2019-07-24 04:55] kieth1205 commented on #431
ERROR: [TAG] Failed to resolve variable '${animal.sniffer.version}'
D8: Cannot fit requested classes in a single dex file (# methods: 79809 > 65536)

[2019-07-24 04:56] kieth1205 commented on #431
and "Gradle task assembleDebug failed with exit code 1"

[2019-07-24 04:57] felangel commented on #431
What project is this in? I don't believe the error has anything to do with the bloc library.

[2019-07-24 05:00] kieth1205 commented on #431
I just run firebase login with all code on that

[2019-07-24 05:03] amreniouinnovent opened #433 "VSCode refactor menu"
I just wonder if VSCode refactors menu is flutter default items only or we could modify it for adding wrap with a new BlocBuilder?
Or we should ask in flutter repo itself?

![image](https://user-images.githubusercontent.com/52191652/61766416-d2fc8980-adf1-11e9-8da3-341e93120fe0.png)

[2019-07-24 05:11] amreniouinnovent commented on #433
I open an issue on flutter repo
https://github.com/flutter/flutter/issues/36803

[2019-07-24 05:12] felangel commented on #433
Hey @amreniouinnovent 👋
Thanks for opening an issue!

I've been thinking about adding this for a while but I believe the right place to add this would be in the [dart vscode extension](https://github.com/Dart-Code/Dart-Code). Might be a good idea to open an issue there for starters.

[2019-07-24 05:26] amreniouinnovent commented on #433
@felangel I didn't know about that repo
I opened an issue there
https://github.com/Dart-Code/Dart-Code/issues/1890

[2019-07-24 05:53] 2000calories commented on #432
Thanks. It works now.

[2019-07-24 05:53] #432 closed

[2019-07-24 05:59] felangel commented on #431
@kieth1205 thanks for reporting this! I was able to reproduce the issue and fixed it on master. All you should need to do is use latest master and copy the contents of your own `google-services.json` [here](https://github.com/felangel/bloc/blob/master/examples/flutter_firebase_login/android/app/google-services.json).

Closing now but feel free to comment if you have additional issues 👍

[2019-07-24 05:59] #431 closed

[2019-07-24 06:03] felangel commented on #182
Hi @Tokenyet in general I would use a bloc per feature. I'm not sure if in this case Dog and Cat are two separate features or not so I can't really provide guidance without additional information. If you can provide a link to a sample app I would love to take a look and give suggestions for how to structure your blocs 👍

[2019-07-24 06:08] kieth1205 commented on #431
thank you

[2019-07-24 06:11] felangel commented on #433
@amreniouinnovent thanks! It's likely the maintainers will say that the functionality doesn't belong there because it isn't part of core Dart/Flutter so if that's the case, I'll add it to the bloc vscode extension 👍

[2019-07-24 06:43] intako commented on #424
Got it! Thank you very much for your help, Felix!

[2019-07-24 07:23] DanTup commented on #433
It's kinda tricky.. I like the idea, but it does feel a bit specific (even in a generic JSON form). However I'm not sure other extensions have a great way to know when it's the correct place to show the item in the menu (or fetch the edits) without making assumptions about how the Dart extension works.

I added a question at https://github.com/Dart-Code/Dart-Code/issues/1890#issuecomment-514512417

[2019-07-24 07:26] kieth1205 opened #435 "in app bugs"
**Describe the bug**
I think sign in with google in firebase_login example has issue. Bloc state return false inspite of real google account.

**To Reproduce**
Steps to reproduce the behavior:
1. Run app
2. Click on 'sign in with google'
3. State "isSuccess" always give false back.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable

[2019-07-24 11:07] amreniouinnovent commented on #433
I will close this issue as it is now opened in  https://github.com/Dart-Code/Dart-Code/issues/1890

[2019-07-24 11:07] #433 closed

[2019-07-24 11:08] amreniouinnovent commented on #435
@kieth1205 did you add the google API keys?

[2019-07-24 12:42] zubyf09 commented on #110
@felangel  @aytunch  i am using login example "https://github.com/felangel/bloc/tree/master/examples/flutter_firebase_login"
no did any modification , I am getting same issue. Please can you explian what's wrong with it...
 Failed assertion: line 44 pos 16: 'bloc != null': is not true.

[2019-07-24 12:48] felangel commented on #110
@zubyf09 the examples are using flutter_bloc v0.20.0 which does not require a bloc in BlocBuilder or BlocListener. Can you please make sure you’re using v0.20.0?

[2019-07-24 12:59] zubyf09 commented on #110
@felangel  thanks for your Help. I was using  flutter_bloc: ^0.18.3.
After updating it to v0.20.0 my issue is resolved.

[2019-07-24 14:00] dali546 commented on #420
![image](https://user-images.githubusercontent.com/35352237/61799450-0b688b80-ae23-11e9-9772-957fdd22ca93.png)
Reopen this issue @felangel

I have narrowed it down to being the `BlocListener.listener` being null.

[code]

[2019-07-24 23:41] felangel commented on #346
[Flutter Firestone Todos](https://github.com/felangel/bloc/tree/master/examples/flutter_firestore_todos) 🎉

I’ll work on a tutorial over the next few days. Big thanks to @warriorCoder 🙏

[2019-07-24 23:41] #346 closed

[2019-07-25 02:11] felangel commented on #435
Hi @kieth1205 👋
Thanks for opening an issue!

I'm guessing you didn't include your own `google-services.json`.  You can follow the directions [here](https://firebase.google.com/docs/flutter/setup#create_firebase_project).

Closing for now but feel free to comment with any additional information/questions 👍

[2019-07-25 02:11] #435 closed

[2019-07-25 02:22] felangel commented on #420
@dali546 I opened another [pull request](https://github.com/dali546/Community-App/pull/18) to address the issue. It is because BlocListener will not be triggered on the initial bloc state since it is technically not a state change.

[2019-07-25 10:12] erlangp opened #437 "com.intellij.util.IncorrectOperationException: Cannot create file bloc.dart. File already exists"

[2019-07-25 11:27] amreniouinnovent commented on #407
@felangel I refactored the fragment recipe on the stackoverflow answer and I integrated flutter bloc into it.
could you review it? if everything is working well I will make a pub library
https://github.com/amorenew/FlutterBlocFragment

[2019-07-25 11:29] 2000calories commented on #322
I am facing the same issue. How you make it work? Appreciate a lot if you could explain briefly.

[2019-07-25 12:35] EQuimper commented on #182
@felangel I do loved your library but here I think this is an issue we all got. So example, I have a MyProfileScreen who is a screen where I do show the user info at the top and the user photos at the bottom. A bit like you see in instagram. The issue I got is first I did think bloc is global, but after reading all your medium post etc I figured out I need a bloc by screen. But now look like in my

[2019-07-25 12:39] felangel commented on #437
Hi @erlangp 👋
Thanks for opening an issue!

I believe this is a duplicate of #299. Can you please confirm?

[2019-07-25 12:48] erlangp commented on #437
@felangel yes sir

[2019-07-25 12:48] #437 closed

[2019-07-25 15:49] localpcguy commented on #327
We're starting an Angular (standard, not dart) project and since our mobile apps use Flutter/Dart with the BLoC pattern, we're exploring using BLoC in the Angular app as well. I like some of the patterns these plugins expose, so might at a minimum adapt our code to use those patterns. If it becomes something that could be usable by others, I'll see if I can't break it out publicly as a library or

[2019-07-25 17:27] felangel commented on #327
@localpcguy that’s awesome! Keep us updated 😄

I don’t think it would be that much effort to port the core bloc library over to js. I can try to mess with it when I have some time later this week especially if it would benefit others.

[2019-07-26 02:50] 2000calories opened #438 "Unable to re-login after logout in flutter_login"
Sorry to bother you again. I cannot re-login after logout. I checked this similar issue https://github.com/felangel/bloc/issues/322#issue-449725258, but still don't know how to solve it.
Here is the code: https://github.com/2000calories/flutter_login_test.git

[2019-07-27 04:51] Chojecki commented on #168
Would be awsome to see full example with usage @rrousselGit

[2019-07-27 13:29] fsjovatsen opened #439 "Bad state: Cannot add new events after calling close"
**Describe the bug**
I'm working on an app that has three tabs. The blocs is created on the HomeScreen (see https://github.com/fsjovatsen/atp_app/blob/master/lib/screens/home/HomeScreen.dart). I use `MultiBlocProvider` to pass the blocs down. Two of the screens needs the same bloc (`DogBloc` and `TrainingSessionBloc`). The issues is when I navigate between those to screens there is no problem with

[2019-07-27 14:26] cemanganas commented on #438
In your setting,dart file,
I think you need to change

Navigator.push(
            context,
            MaterialPageRoute(builder: (_) => LoginPage(userRepository: userRepository)),
          );

To

Navigator.pushNamedAndRemoveUntil(context, '/', (_) => false);

[2019-07-27 19:15] felangel commented on #438
Hi @2000calories 👋
Thanks for opening an issue!

As @cemanganas pointed out you are pushing a new `LoginPage` to the navigations stack instead of popping the current one off of the stack so you're basically building up a stack multiple widgets deep which covers up the root widget.

Hope that helps!

[2019-07-27 19:15] #438 closed

[2019-07-27 19:32] Feelthewind opened #440 "Is it possible to make devtools like redux with this library?"
I know that with logging i can check the state of a bloc, but i think it would be much better if there's a devtools like redux. I wonder if it's possible. Thanks!

[2019-07-27 19:38] felangel commented on #440
Hey @Feelthewind 👋
Thanks for opening an issue!

It is possible and I was working on it a while ago on the [bloc-dev-tools](https://github.com/felangel/bloc/tree/bloc-dev-tools) branch. I'm planning to pick it back up as soon as I wrap up a couple of minor updates. 👍

[2019-07-27 19:50] kentoapps commented on #314
Thanks. I had a same issue.
I guess it happened because I named my project "bloc".

[2019-07-27 19:57] felangel commented on #439
Hi @fsjovatsen 👋
Thanks for opening an issue!

I opened a [pull request](https://github.com/fsjovatsen/atp_app/pull/6) to fix the various issues around flutter_bloc.

The main problem is you need to keep in mind that `BlocProvider` will make it's bloc available to all widgets in the sub-tree (new routes are not part of the sub-tree). As a result, you should generally create a single BlocProvider p

[2019-07-27 19:57] #439 closed

[2019-07-27 20:01] #440 closed

[2019-07-27 20:12] Feelthewind commented on #440
wow awesoe! looking forward to the devtool!

[2019-07-27 20:34] felangel commented on #182
Hey @EQuimper 👋
Thanks for the positive feedback, I really appreciate it!

Regarding your question, I'd recommend having a `ProfileBloc` which manages the state of the current user's profile. Then you can have a `PhotosBloc` which manages the state of the user's photos. The `Profile` widget could then use `BlocBuilder` with the `ProfileBloc` and render the profile info while the `Photos` widget co

[2019-07-28 06:41] amreniouinnovent opened #441 "wrapping dispatch in a function"
I just wonder if wrapping dispatch and events in a function inside the bloc is it **a good practice or not?**

So instead of using `bloc.distpatch(LoginEvent())` I could just use `bloc.login()`

![image](https://user-images.githubusercontent.com/52191652/62003181-2e958280-b124-11e9-9441-965f41334f7a.png)

[2019-07-28 11:25] MichelMelhem commented on #441
I will be interresed to know if it a good practice beacause i do that too.

[2019-07-28 12:37] amreniouinnovent commented on #441
@MichelMelhem I saw it in Reso Coder channel on youtube

[2019-07-28 15:19] fsjovatsen commented on #439
Thanks, that helped @felangel 👍

[2019-07-28 15:20] felangel commented on #441
Hey @amreniouinnovent 👋
Thanks for opening an issue!

Regarding your question, it comes down to personal preference. If you like to have helper functions that wrap dispatch that’s totally fine 😄

[2019-07-28 15:20] #441 closed

[2019-07-29 05:04] amreniouinnovent opened #442 "Timeline inspecting"
I wonder if in the future we will have a bloc inspector tool like redux timeline tools?
I just ask for the possibility ..just a discussion if after 1 year it is possible we could have similar tools for bloc pattern.

Sample:
https://github.com/infinitered/reactotron

I ask a lot of questions because I feel you are a friendly developer and there is no other channel than GitHub issue for simple ques

[2019-07-29 05:32] rizalashidiq97 opened #443 "form validation from server"
Please , can you provide an example when I want to validate email form if the regex is true . And after that I want to check the email if it's exist in my server. (Add the debounce transform after the email is valid)

Thank you

[2019-07-29 05:34] sephrouse opened #444 "bug in example of infinite_list"
**Describe the bug**
https://github.com/felangel/bloc/blob/master/examples/flutter_infinite_list/lib/main.dart

Line 52:

`return BlocBuilder<PostBloc, PostState>(`

The <PostBloc, PostState> should be <PostEvent, PostState>, and add bloc parameter in the BlocBuilder.

**To Reproduce**
Steps to reproduce the behavior:
1. download the example of infinite_list.
2. flutter run

**Expected behavior**

[2019-07-29 05:56] mancem72 commented on #444
Update your flutter bloc to 0.20.0 version

[2019-07-29 06:02] sephrouse commented on #444
ok. thanks.

[2019-07-29 06:02] #444 closed

[2019-07-29 06:16] amreniouinnovent commented on #443
@rizalashidiq97 check this maybe could help https://github.com/felangel/bloc/issues/382

[2019-07-29 19:53] leoneparise opened #445 "Add projection function to BlocBuilder"
**Is your feature request related to a problem? Please describe.**
One reason to use bloc it to improve the app performance and not update the whole widget screen when a state changes. We should have `BlocBuilders` that reacts to each part of the screen when the state changes. But most of the time it should update only when part of the data is changed.

**Describe the solution you'd like**
[flutte

[2019-07-29 20:17] lingster commented on #74
@felangel : thanks for creating this really useful library/framework, which I'm just getting my head around. One question: is it better to have your blocs defined at MaterialApp level then use `BlocProvider.of<MyBloc>(context);`
or are there advantages or disadvantages to passing blocs to widgets via the constructor?
Are there any performance considerations?

[2019-07-30 00:34] felangel commented on #442
Hi @amreniouinnovent 👋
Thanks for opening an issue!

I believe this is a duplicate of #440 and the answer is yes 😄

I'm wrapping up a couple of things currently and the dev tools will be my next focus 👍

[2019-07-30 00:35] #442 closed

[2019-07-30 00:37] felangel commented on #445
Hi @leoneparise 👋
Thanks for opening an issue!

Regarding your question, `BlocBuilder` (and `BlocListener`) currently support implementing an optional condition function which determines whether or not the builder/listener functions should be triggered.

You can check out the [flutter timer tutorial](https://felangel.github.io/bloc/#/fluttertimertutorial) for an example.

Please let me know if tha

[2019-07-30 00:39] felangel commented on #443
Hi @rizalashidiq97 👋
Thanks for opening an issue!

Have you checked out the [form validation example](https://github.com/felangel/bloc/tree/master/examples/flutter_form_validation)? Regarding the debounce are you trying to debounce the states (as @amreniouinnovent mentioned) or are you trying to debounce the events?

Thanks!

[2019-07-30 01:00] rizalashidiq97 commented on #443
I've checked out your example but I want to add a feature where I want to check the email form to server if it's still exist .

**Scenario is :**

1. Validate the email form (with Regex)
2. After validation return true , Check the email if it's exist the server (when the user typed a valid email ,the textchanged event wait milliseconds to prevent calling api many times)

thanks

[2019-07-30 10:39] undamatlamanikanta commented on #63
ok thank you for your support

On Fri, Jul 12, 2019 at 5:43 PM Felix Angelov <notifications@github.com>
wrote:

[2019-07-30 14:36] RaviKavaiya opened #446 "How to stop Bloc computation in between?"
Hello, I just started using this package and I have some confusion. Imaging below bloc file:

[code]

Now, everything works fine. But imagine that 'Event2' is used to STOP this computation (done by 'Event1' in '_func1()'.)

**What I mean:** Suppose, 'Event1' is dispatched, it is in between 'BlocStateLoading' and 'BlocStateLoaded', now I want to stop this process in between by dispatching 'Event2'.

[2019-07-30 16:42] luandedeng commented on #74
@felangel , I am using Bloc pattern and named routes in my project.
I am also facing problem about access bloc across routes. I read the recipe about bloc access[https://felangel.github.io/bloc/#/recipesflutterblocaccess?id=route-access](url), but I still have no idea on how to use route access with named routes.
Could you please give more explain on "use named routes and setup the BlocProvider to

[2019-07-30 17:46] timrijckaert commented on #440
Currently we do this ourselves like said with the help of a `BlocDelegate` we wire it to our logger which writes all `BlocState`s to a log file during production. In debug we just log it to the console.

[2019-07-30 18:29] guitcastro opened #447 "Expose bloc as paremeter in the builder"
**Is your feature request related to a problem? Please describe.**
As in #415, we don't need to create an instance variable in order to dispose of the bloc, although we almost always have to create the bloc variable in order to dispatch events to it.

**Describe the solution you'd like**
Change `Widget Function(BuildContext context, S state);` to : `Widget Function(BuildContext context, S state, B

[2019-07-30 22:57] leoneparise commented on #445
That could work. But I believe that having a component to make a projection of the state is really useful. The extension stores the current projection value and updates the component only when that value changes. It's different than having a condition function that get's only the current and past states to make that decision.

I think I'll stick with bloc_extensions for now.

Thank you for your an

[2019-07-30 22:57] #445 closed

[2019-07-31 03:23] felangel commented on #446
Hi @RaviKavaiya 👋
Thanks for opening an issue!

You should be able to override `transform` in your bloc and use `switchMap` to achieve the functionality you're asking for.

[code]
https://github.com/felangel/bloc/issues/2232

Hope that helps! 👍

[2019-07-31 03:23] #446 closed

[2019-07-31 03:24] felangel commented on #445
@leoneparise can you please provide some more details around your use-case and why you'd prefer the projection over the condition? It would be really helpful to get more context. Thanks!

[2019-07-31 03:43] Sandesh-Solabannavar opened #448 "Shopping Cart"
Can any one help me to get an idea to implement the shopping cart in flutter using flutter_bloc.

[2019-07-31 03:46] felangel commented on #447
Hi @guitcastro 👋
Thanks for opening an issue!

What are your thoughts on exposing a dispatch function in the builder instead like:
[code]

[2019-07-31 03:49] felangel commented on #448
Hi @Sandesh-Solabannavar 👋
Thanks for opening an issue!

Do you have any specific questions or problems you're running into? It would likely end up being very similar to the [todos example](https://felangel.github.io/bloc/#/fluttertodostutorial) except instead of todos you'd be working with a shopping cart and items.

Let me know if that helps!

[2019-07-31 03:51] felangel commented on #443
Hi @rizalashidiq97 thanks for providing the additional details. I would highly recommend taking a look at the forms in the [firebase login](https://felangel.github.io/bloc/#/flutterfirebaselogintutorial) example app. They are validating the input locally, debouncing, as well as hitting the firebase api.

Hope that helps!

[2019-07-31 03:51] #443 closed

[2019-07-31 03:51] Sandesh-Solabannavar commented on #448
Hi,
Im using FireStore as database i am not able to find a way to send data to store it in firetore using bloc.

[2019-07-31 03:53] felangel commented on #448
In that case you can check out the [firestore todos](https://github.com/felangel/bloc/tree/master/examples/flutter_firestore_todos) example app. It should be very similar 👍

[2019-07-31 03:55] felangel commented on #74
@luandedeng I'll update the recipe sometime tomorrow with a section on named routes. Thanks for bringing that up 👍

[2019-07-31 04:04] Sandesh-Solabannavar commented on #448
Thanks for help..
If I am struck any where I'll come back.

[2019-07-31 04:06] felangel commented on #448
@Sandesh-Solabannavar sounds good! You can also join the community on [gitter](https://gitter.im/bloc_package/Lobby) if you have any quick questions as you go through it.

Closing this for now 👍

[2019-07-31 04:06] #448 closed

[2019-07-31 04:10] felangel commented on #421
@michcio53 can you please share a link to a sample app and I'd be happy to take a look and provide any suggestions/feedback or help with any bugs/issues?

[2019-07-31 04:27] felangel commented on #382
Hi @matanshukry 👋
Thanks for opening an issue!

What are your thoughts on something like this instead:
[code]

This would allow for more flexibility like filtering the bloc state, debouncing, etc..

[2019-07-31 05:02] livingmine commented on #382
Hi @felangel , what's the difference between your suggestion above with the example from my comment above? Is it about the thing being debounced, yours is debouncing the state, and my comment's is debouncing the event?

[2019-07-31 07:19] zmabies opened #449 "Casting error on LoginEvent"
Hello,

...BlocBuilder<**LoginEvent**, LoginState>(
        **bloc: _loginBloc**,
        builder: (
            BuildContext context,
            LoginState state,
            )...

The error given is as follows:
LoginEvent does not extend Bloc<dynamic, LoginState>
The argument type LoginBloc cannot be assigned to the parameter type LoginEvent

I've checked everything and I'm really stumped as to

[2019-07-31 07:33] u2633 opened #450 "[WEB] Runtime error on "bloc != null is not true" error at flutter_web project"
**Describe the bug**
Runtime error on "bloc != null is not true".

**To Reproduce**
Steps to reproduce the behavior:
1. Implement flutter login example from [HERE](https://felangel.github.io/bloc/#/flutterlogintutorial?id=login-page).
2. Run serve command
3. You will see the error on browser.

**Expected behavior**
Shows the login page without errors.

**Screenshots**
![Screen Shot 2019-07-31 at 1

[2019-07-31 08:17] u2633 commented on #450
It seems that the package `flutter_bloc` I installed in `pubspec.yml` causes this issue.

[code]

I know that flutter_web is still in experimental stage, but is there any workaround  that could make it  works.

[2019-07-31 08:40] amreniouinnovent commented on #449
@zmabies your syntax is not very correct
You should use
[code]

[2019-07-31 13:39] zmabies commented on #449
@amreniouinnovent thanks!

[2019-07-31 13:39] #449 closed

[2019-07-31 13:59] localpcguy commented on #327
While we're definitely moving forward with the BLoC pattern, I don't know if we'll use this specific implementation. The limitation of just one stream in, one stream out doesn't match how we've been using BLoCs. I understand the thinking behind it (single responsibility), but sometimes sharing functionality in a `bloc` file while allowing multiple output streams or multiple incoming events is help

[2019-07-31 16:12] WillianNightray opened #451 "I have a question about this plugin"
Hi,
I would like to know if there is a difference between the Bloc(felangel) and Bloc_pattern(jacobaraujo) plugins?
Or do the two work the same way?
And what would be the best decision to implement in a large scale project.?

Thanks.

ps: Sorry for my English.

[2019-07-31 22:16] guitcastro commented on #447
We usually don't expose the dispatch function. Example:

Bloc code:
[code]

Although I', not if this is or not a good practice.

[2019-08-01 01:35] felangel commented on #451
Hi @WillianNightray 👋
Thanks for opening an issue!

I cannot speak on behalf of the bloc_pattern package but this package is an interpretation of the BLoC pattern which abstracts the reactive components (RxDart) in an attempt to be a simple, scalable, and powerful state management library.

You can check out the [docs](https://felangel.github.io/bloc/#/whybloc) for more information. My team and I

[2019-08-01 01:35] #451 closed

[2019-08-01 01:38] felangel commented on #450
Hi @u2633 👋
Thanks for opening an issue! I just rebased master onto the flutter_web branch so it should be compatible with flutter_bloc v0.20.0. Can you re-test and let me know if you're still having the issue? Thanks! 👍

[2019-08-01 01:38] #450 closed

[2019-08-01 01:41] felangel commented on #447
@guitcastro that's good to know. I think it comes down to personal preference but I do think it would be a bit weird if the `BlocBuilder` widget (which requires a bloc) returns a bloc. Also, I'm not completely sold on this idea personally because there will still be cases where you want to dispatch from outside of BlocBuilder and I don't want to encourage developers to nest unnecessary widgets wit

[2019-08-01 05:17] felangel commented on #382
Hey @livingmine yup exactly 👍

[2019-08-01 07:44] u2633 commented on #450
Hi @felangel
Thanks for your quick reply. The issue has gone, but it prompts other errors when pressing login button.

<img width="1437" alt="Screen Shot 2019-08-01 at 13 35 12" src="https://user-images.githubusercontent.com/27126539/62274799-2a929900-b473-11e9-8402-4c63985ccbcc.png">
<img width="786" alt="Screen Shot 2019-08-01 at 13 41 05" src="https://user-images.githubusercontent.com/27126539/

[2019-08-01 09:24] reignierleo opened #453 "Focus on TextField makes the State rebuild"
Hey Guys;
The problem I am facing is similar or maybe identical to some other issues I could find but I could still not repair it.
**My Problem is the following:**
I am using the bloc pattern and one of my forms has a TextField() in one of his states. When I focus this TextField, the Widget rebuilds, the states reload and the TextField user input is lost:
Here is my code:

[code]

When I focus on

[2019-08-01 21:46] bharatsood10 opened #454 "Dispose is not working"
**Dispose is not closing events**
i called a dispose method in stateful widget. I'm getting print statement in Debug Console(That dispose is called). So when i click again to open that state it opens last event **Response**. but it needs repeat from 1st event.. have a look to code

**Code**
`final attendanceBloc = AttendanceBloc();`
`BlocListener<AttendanceBloc, AttendanceState>(`
            `lis

[2019-08-02 01:23] Luppakorva opened #455 "Would need some help, updating from 0.7.1"
I have one bit older flutter project I started to look into again and wanted to update into the latest version, however there seems to be a breaking change between 0.8.0 and 0.9.0 but I didn't find any docs about it what it could be?

Happy to provide further examples but not too sure what would be needed in this case

Example:

`error: 'ActivityBloc.mapEventToState' ('Stream<ActivityState> Functi

[2019-08-02 01:34] felangel commented on #455
Hi @Luppakorva 👋
Thanks for opening an issue! Can you provide a link to the repo or the snippet of `activity_bloc.dart`?

[2019-08-02 01:53] Luppakorva commented on #455
Hi there!

Absolutely. Here you go: https://gist.github.com/Luppakorva/5adefa659b109b4d708893b6d1668708

[2019-08-02 02:18] felangel commented on #455
@Luppakorva the `mapEventToState` signature changed to not have a currentState passed as a parameter since you can already access currentState from anywhere in the bloc.

You should just be able to change
[code]

to

[code]

[2019-08-02 02:18] #455 closed

[2019-08-02 02:19] Luppakorva commented on #455
@felangel thank you so much! Both from the prompt reply and awesome support, you made my day :).

[2019-08-02 02:21] felangel commented on #454
Hi @bharatsood10 👋
Thanks for opening an issue!

I'm not sure I fully understand the issue. When you call dispose you are closing the bloc's stream so it will not process anymore events. With the flutter_bloc 0.19.0+ BlocProvider automatically disposes the bloc by default so you shouldn't have to.

Can you please provide a link to a sample app which illustrates the problem you're having and includ

[2019-08-02 02:23] felangel commented on #453
Hi @reignierleo 👋
Thanks for opening an issue!

Would you be able to provide a link to a sample app that illustrates the problem you're having? It would be much easier for me to help if I could reproduce the problem locally. Thanks!

[2019-08-02 08:25] agmontpetit opened #456 "[Question] Cancelling subscription in BLoC with Stream example"
I was looking into the [BLoC with Stream example](https://github.com/felangel/bloc/tree/master/examples/flutter_bloc_with_stream) and was curious why you are [cancelling](https://github.com/felangel/bloc/blob/master/examples/flutter_bloc_with_stream/lib/bloc/ticker_bloc.dart#L18) the subscription when the `StartTicker` event is received if you are also [doing it](https://github.com/felangel/bloc/b

[2019-08-02 19:37] felangel commented on #456
Hi @agmontpetit 👋
Thanks for opening an issue!

Regarding your question, the subscription was cancelled when the `StartTicker` event is received in order to clean up the old subscription before creating the new subscription for the new ticker.

Hope that help! 👍

[2019-08-02 19:37] #456 closed

[2019-08-03 18:21] felangel commented on #454
Closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2019-08-03 18:21] #454 closed

[2019-08-04 13:21] pardipbhatti8791 commented on #114
Hi I am using flutter_bloc package, at signing page while I am using Signin() instead of splash screen then redirecting working fine. but if use splash screen then login screen not redirecting to home. https://cl.ly/9be9be5eb844

[2019-08-04 13:22] pardipbhatti8791 commented on #114
https://cl.ly/967a4cd69e4d

[2019-08-05 10:17] reignierleo commented on #453
Hi @felangel ;
I created a demo app a noticed that it worked then. The problem was that I was navigating to the Form with
` Navigator.push(
                        context,
                        MaterialPageRoute(
                            builder: (context) => myNewScreen()));
                  }),`
And that is causing this problem. But this issue is already known and still have no solution.

[2019-08-05 10:17] #453 closed

[2019-08-05 10:38] RaviKavaiya commented on #453
@reignierleo  can you please elaborate a little more where you were putting this Navigator line in the code?
Asking, so that I can avoid such mistakes.

[2019-08-05 11:33] basnetjiten commented on #119
@felangel can you please check this question once. https://stackoverflow.com/questions/57343887/flutter-navigator-pop-keeps-the-dialog-box-partially-visible-with-black-shadow

[2019-08-05 11:39] bardiarastin commented on #140
@felangel Hi, so much thanks for awesome project, I have a bloc which yields multiple states of the same type but with different payloads. the bloc builder will not rebuild my widgets unless I omit extending from Equatable then everything works fine.
I guess we should add this as a point in docs write below this part in
https://felangel.github.io/bloc/#/coreconcepts?id=states
![image](https://user

[2019-08-05 12:55] fabryx92 opened #458 "[Good practice question] Business Logic inside the State class"
I have the following situation.
I have a `CheckoutState` class with a `Request` field. To make the UI clearer I have to split the `Request` content into some subclasses, like ViewModel classes. The data need some preprocessing.
One example is the `PricesDetail` of the `Request`.

Is it ok to have something like

[code]
where inside the `pricesDetail` block I will do all the transformation need to

[2019-08-05 18:06] DJafari opened #459 "bug in updating state without delay for refresh view"
i have a problem in this library :

when i use this code :

[code]

[code]

when i run app, my output is :

[code]

but when i add some delay before states :

[code]

output :

[code]

note : this bug exists only in flutter package, because output of this :

[code]

is ok

[2019-08-05 18:29] Darklod opened #460 "UI Freezes when doing heavy computations"
[code]
`getWords` is the heavy operation

The UI freeze when passing from Loading state to Loaded state. Could it be the listview that needs to render a lots of elements.

I was thinking to execute things on another thread with the `compute` method.
Something like this, but I got an error.
[code]
Anyway, how to handle this? Is there a practice to follow?

[2019-08-05 18:38] guitcastro commented on #447
Exposing dispatch fix our issue.

Cutting down the number of variable in code is always a good pratice you will have the dispatcher available in a small scope, and maybe this constraint can be expanded to make dispatcher safer to use (making it private in bloc). Thus avoiding errors like dispatching an event from a disposed bloc.

However, this constraint will be a massive breaking change.

[2019-08-05 21:38] warriorCoder commented on #382
I could sure use this functionality in my app.

[2019-08-06 01:42] felangel commented on #460
Hi @Darklod 👋
Thanks for opening an issue!

Can you please share a sample app which illustrates the problem you're having? It would be much easier for me to help if I can run the app locally and debug the issue.

Thanks 👍

[2019-08-06 01:45] felangel commented on #459
Hi @DJafari 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/395.
TL;DR this is working as expected. You're simply yielding states faster than flutter can rebuild the UI. The same thing would happen if you used `setState` and changed the state back-to-back.

Hope that helps 👍

[2019-08-06 01:45] #459 closed

[2019-08-06 01:48] felangel commented on #458
Hi @fabryx92 👋
Thanks for opening an issue!

In general, I would recommend keeping your business logic in the bloc as that's where developers would likely expect to find it. The state class should ideally just include the different state models. This makes it easier for new developers to quickly look at the bloc events and states and have good understanding what the bloc does without having to wor

[2019-08-06 01:48] #458 closed

[2019-08-06 11:21] amorenew commented on #407
@felangel I have an issue in my fragment bloc in the drawer when I use ```
BlocProvider.of(context)
                    .dispatch(FragmentNavigateEvent(FRAGMENT_1));
[code]
BlocProvider.of() called with a context that does not contain a Bloc of type Bloc<dynamic, dynamic>.
   No ancestor could be found starting from the context that was passed to BlocProvider.of<Bloc<dynamic, dynamic>>().
[code]

[2019-08-06 11:32] amorenew commented on #407
@felangel
I tried passing the parent context but not working
[code]

[2019-08-06 11:55] quantosapplications opened #461 "Share data between blocs"
Hi @felangel ! Hope you're doing well.

I am building a production app in flutter using your library, so thank you :)

Since it's a social network app for me **it's important to share many information across screen in a reactive way**.

A simple example can be the number of likes or comments of a post, that must be synchronized across different screen (for example I have two feed pages one with la

[2019-08-06 12:41] Darklod commented on #460
I created an example code, but this problem is not very visible. When passing from loading to the listview's rendering the loader freezes for a while.
In my project I get data from sqlite and when the results are a lot the loader freezes for much more time.

I put here the link of both projects:
- [Sample](https://github.com/Darklod/flutter_sample)
- [Project](https://github.com/Darklod/jisho)

[2019-08-06 12:59] felangel commented on #407
@amorenew I think you just forgot to specify the bloc type in your BlocProvider.of call.

It should look like

BlocProvider.of<BlocType>(context)

Hope that helps 👍

[2019-08-06 13:07] amorenew commented on #407
@felangel yes it works thanks

[2019-08-06 13:11] fabryx92 commented on #458
Thank you for the answer and sorry for the reply even if you flag the issue as closed, but I have one more question.

What about combining bloc with ViewModels?
Can business logic related to fields manipulation be put inside a ViewModel class? I'm talking about DateTime formatting, String manipulation, and stuff that a "Presenter" class usually do.

Something like

[code]
where the `Request` is th

[2019-08-06 21:37] arthurcohen commented on #29
@felangel, could you help me? I'm having this same issue, but only when I use a BlocBuilder inside of a stateful widget.

Putting some context: I'm building an app to learn how to use BLoC, and one of the use cases is a Tic Tac Toe game.

See this file. At line 81 I dispatch an event. ([tictactoe.dart](https://github.com/arthurcohen/password_bloc/blob/master/lib/screens/tictactoe.dart))
My initial

[2019-08-07 05:20] Habib23me opened #462 "Duplicate Empty Classes"
Hi @felangel , just a question rather than an issue here. I am using the bloc package quite often for my projects and am noticing that I have to write an empty state class that just notifies the UI that the data is changed and am doing it for all my bloc. Is this the right way or am I missing something? Also if there is any suggestion not to duplicate classes it's very helpful. Take a look at one

[2019-08-07 10:37] RaviKavaiya commented on #462
@Habib23me hello, I think you should parameterize the InitialState class. Something like isLoaded field in class. When you call fetchList(), just yield InitialState again with field changed. (isLoaded = true). This way, all the bloc builders and listeners will be called again.

I hope this helps. @felangel please correct me if I am wrong.

[2019-08-07 10:42] Habib23me commented on #462
@RaviKavaiya thanks, that actually makes sense. I think it's better if I give parameters to one base class and then invoke an update to create a new state by copying the behaviors and updating the one that needs to be updated.
Thanks for the help!

[2019-08-07 12:46] RaviKavaiya commented on #462
@Habib23me I got even a better solution.
This implies ONLY if you are talking about empty classes to represent your state.

Create `enum` of all your states, like
`enum states {initial, loaded, failed}`
Then just yield one of the enum entry, like
`yield states.loaded, yield states.failed`....
This is very handy in your case, only if you don't have any additional parameters to be passed to the new

[2019-08-07 17:43] WillianNightray opened #464 "firebase login flutter get error after app start"
**Describe the bug**
After sending the app to the mobile I get the error (Log)

**Step to Reproduce**
Tutorial Flutter_firebase_login
start app
link to repository project: https://github.com/WillianNightray/flutter_firebase_login

**Logs **
`I/flutter ( 8495): AppStarted
E/flutter ( 8495): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: 'package:bloc/src/transition.dart': Failed

[2019-08-07 21:01] felangel commented on #464
Hi @WillianNightray 👋
Thanks for opening an issue.

Can you confirm that you've included your own `google-services.json`? You need to put your own firebase configuration in the project in order for it to work properly.

Thanks!

[2019-08-08 01:19] longdw opened #465 "Call FocusScope.of(context).requestFocus(FocusNode()),entry the BlocWidgetBuilder method."
I add `FocusScope.of(context).requestFocus(FocusNode())` in root widget like this to hide keyboard or let all textfield lose focuse.

[code]

But when this method called, the BlocWidgetBuilder is triggered.

[code]

how can I prevent this behavior from happening?

[2019-08-08 01:46] felangel commented on #461
Hi @quantosapplications 👋
Thanks for opening an issue!

Regarding your question, I think you're on the right path. The repositories should ideally interface with your data providers and expose streams of models that the blocs can consume. In your case, you can probably expose a `posts` stream in the repository which the `PostBloc` subscribes to and reacts to. Then whenever you have any features th

[2019-08-08 01:46] #461 closed

[2019-08-08 01:49] felangel commented on #462
HI @Habib23me 👋
Thanks for opening an issue!

Regarding your question, as @RaviKavaiya mentioned, if you don't have any data you need to pass around then it's probably best to just use an `enum` to represent your states.

If you do find yourself having to pass data around, then I think having an abstract base class with subclasses for each individual state is best. Having empty subclasses, isn't a

[2019-08-08 01:49] #462 closed

[2019-08-08 01:52] felangel commented on #465
Hi @longdw 👋
Thanks for opening an issue!

Regarding your question, `BlocBuilder` is triggered either by state changes in your bloc or by Flutter itself. Things like rotating the device, focusing on input fields, showing/hiding the keyboard, etc... naturally trigger widget's to re-render themselves. This is working as expected and you should write your widgets expecting that the `build` method can

[2019-08-08 01:52] #465 closed

[2019-08-08 02:21] felangel commented on #460
@Darklod I took a look at the sample and couldn't really see any freezing. I then took a look at your actual project but it's missing the db file as mentioned in https://github.com/Darklod/jisho/issues/1. As a result, I couldn't run it to reproduce the issue. Can you provide the db and api credentials needed to run the app or provide a different sample that demonstrates the issue?

Also, can you e

[2019-08-08 02:26] felangel commented on #139
I've found a few more recently 😄

### GDG Dev Fest App
- [Github Repo](https://github.com/iampawan/GDG-DevFest-App)
- [Google Play](https://play.google.com/store/apps/details?id=com.mtechviral.devfest)
- [App Store](https://apps.apple.com/us/app/devfest-app/id1474948247?ls=1)

### FlutterHole
- [Github Repo](https://github.com/sterrenburg/flutterhole)
- [Google Play](https://play.google.com/store/

[2019-08-08 03:15] felangel commented on #29
Hi @arthurcohen 👋
If you update `tictactoe_bloc.dart`, `tictactoe_state.dart`, and `tictactoe.dart` to match this [gist](https://gist.github.com/felangel/baa29be0d5540dc4b25606edc3ffd951) everything should work.

Hope that helps 👍

[2019-08-08 03:17] felangel commented on #458
@fabryx92 no problem and regarding your second question, converting the request/raw data into a model should be handled by the repository layer and not by the bloc layer. The bloc should simply interface with one or more repositories and convert events into different application states.

Hope that helps 👍

[2019-08-08 03:25] felangel commented on #140
Hi @bardiarastin thanks for the positive feedback!

Regarding your question, can you share your state class implementation? I'm guessing you're not passing the properties to the super class. You should be able to have everything work as expected when extending `Equatable`.

[2019-08-08 03:28] felangel commented on #114
@pardipbhatti8791 can you share a link to the repo? It would be much easier for me to help if I could run the application locally 👍

[2019-08-08 03:30] felangel commented on #450
@u2633 can you share a link to your repo? Thanks! 👍

[2019-08-08 03:31] felangel commented on #327
@localpcguy thanks for the update and best of luck!

[2019-08-08 08:25] Darklod commented on #460
The issue was old. I moved to sqflite, so credentials are no more required.

This is what I mean:
<img src="https://user-images.githubusercontent.com/19750893/62686216-8c4b8980-b9c4-11e9-8be0-fe330d6d3dc1.gif" width="300" height="500">

[2019-08-08 08:34] quantosapplications commented on #461
hi @felangel thank you!

Yes, I was reading this https://medium.com/flutter-community/whats-new-in-flutter-bloc-0-19-0-bf58a7154661 you are the best!! 💯 🥇

And yes I am filtering different lists of posts using the same implementation you were using in the todo example.

The only thing I cannot afford with this approach is to get exactly the posts I need.

For example in the **recent posts feed blo

[2019-08-08 15:24] fabryx92 commented on #458
@felangel the `ChechoutBloc` already uses a `RequestsRepository` to send the `Request` to the backend.
The `Request` field in the `CheckoutState` class, however, is built locally through some steps in the previous pages. I have something like "Products step", "PersonalInfo step", "AdditionalInfo step" and after that a `Request` is created. The entire `Request` construction process is handled by an

[2019-08-08 15:44] arthurcohen commented on #29
So, my mistake was not using the Equatable the right way, passing the currentPlayer in the props, for the builder at BlocBuilder be called again?

Your solution works perfectly here! 👍  Thank you!

[2019-08-08 18:13] WillianNightray commented on #464
yes, I did it.
i enabled google login and email / password functions in firebase

[2019-08-08 19:51] WillianNightray commented on #464
rsrs, sorry my bad.
this line in authentication_bloc -->   `AuthenticationState get initialState => null;` caused the error, i change line to  `AuthenticationState get initialState => Uninitialized();` and it worked.

but... The sign in with google don't work

Log `I/flutter ( 9416): Transition { currentState: LoginState {
I/flutter ( 9416):       isEmailValid: true,
I/flutter ( 9416):       isPas

[2019-08-09 02:04] felangel commented on #464
@WillianNightray glad you figured it out! Let me know if you're still having trouble with the google sign in 👍

Regarding your other questions:

1. Check out https://github.com/felangel/bloc/issues/235
2. That line is saying the base class extends `Equatable`. Equatable takes props (properties) and overrides `==` and `hashCode` for you. As a result, the `AuthenticationEvent` class needs to take in

[2019-08-09 02:04] #464 closed

[2019-08-09 02:53] felangel commented on #460
Hi @Darklod I just ran it and took a look. It looks like it's just the volume of search results that is causing the lag.

<img width="1674" alt="Screen Shot 2019-08-08 at 9 49 30 PM" src="https://user-images.githubusercontent.com/8855632/62750786-f6951600-ba26-11e9-9f07-510527fa89f9.png">

I don't think this has anything to do with the bloc library. You might want to paginate your search results s

[2019-08-09 02:53] #460 closed

[2019-08-09 02:58] natintosh opened #466 "BlocBuilder unable to find bloc"
I'm new to flutter_bloc, I don't know if I am doing something wrong or if this is a bug. While I was developing I ran into this (screenshot below) issue but BlocBuilder works on other instances. I downgraded from version v0.20.0 to v0.19.1 the issue seems to have gone but it was requesting for a bloc and also ran a new issue (second screenshot below). Please is there any walk through for fixing th

[2019-08-09 10:56] WillianNightray commented on #464
Wow, thank you very much.
Now everything is making more sense in my head.

Also, you are doing a great job here.

If I have more problems, I will contact you.
:smile:

[2019-08-09 12:38] felangel commented on #466
Hi @natintosh 👋
Thanks for opening an issue!

Are you able to share a link to the project? Thanks 👍

[2019-08-09 17:46] nerder opened #467 "SnackBar not showing correctly in route that does not have a `BlocListener`"
I'm trying to show a `SnackBar` when i receive a push notification.
I've followed the recipe on the documentation, but i'm not able to make the `SnackBar` works when i'm in a route which is different from the one in which i implement my `BlocListener` even if debugging it i can see that it gets actually called correctly.

I imagine this happens because since my page have another `Scaffold` then th

[2019-08-10 22:36] felangel commented on #467
Hi @nerder 👋
Thanks for opening an issue!

Regarding your question, I don't think this is a bloc-specific issue.

The `SnackBar` component is intended to be scoped to a specific `Scaffold` and you shouldn't have a global `Snackbar`.

As you pointed out, in your case you have multiple `Scaffolds` and are trying to trigger an action against a specific one rather than the closest one. I would recomme

[2019-08-10 22:36] #467 closed

[2019-08-10 22:36] felangel commented on #466
Closing for now but feel free to comment with additional details and I'm happy to continue the conversation 👍

[2019-08-10 22:36] #466 closed

[2019-08-10 22:39] felangel commented on #458
@fabryx92 Sorry I misunderstood I thought you meant http request haha. If the `Request` is an application level model then what you're doing is fine 👍

[2019-08-11 02:22] felangel commented on #299
Published in v1.5 🎉

[2019-08-11 02:22] #299 closed

[2019-08-11 15:07] felangel commented on #327
For anyone interested: https://github.com/felangel/bloc.js

[2019-08-11 20:44] felangel commented on #407
@amorenew I took a look at your repo and it seems fine to me.

I'm still not 100% sure I understand the use-case for fragments in flutter (since everything is a widget) but I might be missing something haha.

In any case, closing this for now since it seems like all of the original questions have been addressed 👍

[2019-08-11 20:44] #407 closed

[2019-08-11 21:39] pardipbhatti8791 commented on #122
Hi, I am having login n logout issue with bloc, While I am logging in it is not changing the screen on main.dart, I debug it, main.dart bloc builder not updating the state there. While i do hard restart then it changes the screen. here is my code https://github.com/pardipbhatti8791/login-issue . Please help me out with this.

[2019-08-11 21:39] pardipbhatti8791 commented on #122
same is happening for the logout. I tried a lot but no solution found yet.

[2019-08-11 21:40] pardipbhatti8791 opened #469 "Login is not working with bloc"
Hi, I am having login n logout issue with bloc, While I am logging in it is not changing the screen on main.dart, I debug it, main.dart bloc builder not updating the state there. While i do hard restart then it changes the screen. here is my code https://github.com/pardipbhatti8791/login-issue . Please help me out with this.

[2019-08-11 22:12] felangel commented on #122
@pardipbhatti8791 I took a look and it's because you're both using `BlocProvider` and manually disposing the bloc yourself. The rule is whoever creates the bloc should dispose it so whenever you're using `BlocProvider(builder: (context) => MyBloc(), child: ...)` `BlocProvider` will automatically handle disposing the bloc for you.

With that said, your `TribeApp` widget no longer needs to be a `Sta

[2019-08-11 22:16] pardipbhatti8791 commented on #122
I tried the stateless widget as well without disposing. But still getting
the same. My client is keep asking me updates, And I am stuck here in state
management. Seems like I need to go back to React Native. I am Javascript
developer. I thought should try Flutter I liked it but state management is
huge issue here.

On Mon, Aug 12, 2019 at 3:42 AM Felix Angelov <notifications@github.com>
wrote:

[2019-08-11 22:18] pardipbhatti8791 commented on #122
Still not taking me home after login, progress Indicator start then nothing
happens. I need to hard restart again then it took me to home screen.

On Mon, Aug 12, 2019 at 3:46 AM Pardip Bhatti <pardipbhatti8791@gmail.com>
wrote:

[2019-08-11 22:44] felangel commented on #122
@pardipbhatti8791 can you message me on [gitter](https://gitter.im/bloc_package/Lobby)

[2019-08-11 22:47] pardipbhatti8791 commented on #122
Just did

On Mon, Aug 12, 2019 at 4:14 AM Felix Angelov <notifications@github.com>
wrote:

[2019-08-12 10:02] longdw opened #470 "bloc.dispatch(), BlocListener and BlocBuilder can't execute."
when I call `bloc.dispatch(WarrantyActionEvent(actionBean));`, BlocListener and BlocBuilder can't trigger.
this is my project.
[https://github.com/longdw/testbloc](https://github.com/longdw/testbloc)

[2019-08-12 11:47] kirkcharlesniv opened #471 "SearchDelegate Items Persists"
**Describe the bug**
While using SearchDelegate, when you submit a query for the second time, the first time result items still persists.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application, then click the search icon.
2. Enter your first query and wait for the result items to show.
3. Search again with a new query. _This time, the items wouldn't show as the first time items

[2019-08-13 00:31] lmartinez10 commented on #201
Hi,

Good Day.

Can someone help me with this problem. I have a generic bloc provider and multiple blocs, the problem is when i set on app.dart LoginBloc with bloc provider it works fine but then on the login page i have username and password and when i click onpressed event and navigate it to any page it cause me an error the bloc is being null. Code below.

app.dart

import 'package:flutter/mate

[2019-08-13 00:55] felangel commented on #470
Hi @longdw I opened a [pull request](https://github.com/longdw/testbloc/pull/1) to fix your sample app. You need to make sure that you use `Equatable` properly and that all of your bloc states should be immutable.

Hope that helps 👍

[2019-08-13 00:55] #470 closed

[2019-08-13 01:09] felangel commented on #471
Hi @kirkcharlesniv 👋
Thanks for opening an issue!

I took a look and I believe it's because in your bloc you are yielding a new state and appending the new results to the end of the existing results
[code]

If you scroll down you will see the new search results appended to the previous results 👍

Hope that helps!

[2019-08-13 01:09] #471 closed

[2019-08-13 01:10] felangel commented on #469
Hi @pardipbhatti8791 👋
Thanks for opening an issue!

Can you please provide instructions for how I can login? I cannot debug this locally without having valid credentials. Thanks!

[2019-08-13 01:14] felangel commented on #201
Hi @lmartinez10 👋
I'm sorry but this repository is reserved for questions regarding the bloc library.

[2019-08-13 01:15] lmartinez10 commented on #201
yup, i know. but can someone help me please with regards to my problem. the problem is when navagation with bloc and bloc provider

[2019-08-13 01:28] felangel commented on #201
@lmartinez10 I would recommend posting on stack overflow if you have questions that aren't specific to this library. It'd be hard to help since you're using a custom bloc and bloc provider implementation.

[2019-08-13 10:38] agmontpetit opened #472 "[Question] Why using factory instead of constructor in flutter_firebase_login?"
Since you are returning a new object for each `factory` ([example](https://github.com/felangel/bloc/blob/master/examples/flutter_firebase_login/lib/login/bloc/login_state.dart#L31)), I was wondering why not using constructors instead?

[2019-08-13 15:40] agmontpetit commented on #456
Makes sense! Should have realized since the event is being fired on each user click 🤦‍♂

[2019-08-13 21:54] guybashan opened #473 "SimpleDialog selection is not updated on screen using BLOC pattern"
I have a popup (SimpleDialog) showing a selection of few texts. I am trying to update a text on the screen with the selected text. When selecting the one of the texts the window closes, but the selected text is not updated on the screen. I am using BLOC pattern.

I have another dialog based on AlertDialog showing a text field. Once pressing OK the same text is updated on the screen properly and th

[2019-08-14 00:38] felangel commented on #469
I opened a [pull request](https://github.com/pardipbhatti8791/login-issue/pull/1) with the fix 👍
You were using multiple instances of the `AuthenticationBloc` and were also using `pushNamedAndRemoveUntil` which was removing the underlying widgets containing the bloc.

[2019-08-14 00:38] #469 closed

[2019-08-14 00:41] felangel commented on #472
Hi @agmontpetit 👋
Thanks for opening an issue!

Factories were used to make the bloc implementation easier to read/understand. You can accomplish the same thing without factories but I chose to used them due to personal preference.

Hope that helps 👍

[2019-08-14 00:41] #472 closed

[2019-08-14 00:42] felangel commented on #473
Hi @guybashan 👋
Thanks for opening an issue!

Can you please provide a link to an example app? It would be much easier for me to help/understand the issue if you could share a sample app that illustrates the problem 👍

Thanks!

[2019-08-14 04:53] adithya421 opened #474 "Navigation between blocs"
Hi Felagel,

Your Flutter Bloc package was awsome.

I am facing an issue while implementing the MultiBlocProviders and navigation between the blocs. Please find the below example for your reference.

I have below blocs in my application

1. Login bloc
2.Auth bloc
3.Home Page bloc(List of students)
4. Student Details Bloc

With reference to the flutter_firebase_todo sample application, I implemente

[2019-08-14 06:09] camh3190 commented on #430
Hi, I have a question and I think it is related to this.

I have a Page(Screen), which receives an Id and gets some information from an API every time it is opened. I thought to use the initialState to make the API call, thinking that initialState execute every time I open the page, now I understand this is not.

But, if I dispatch an event to change the state to initialState again when call 'Navi

[2019-08-14 08:02] agmontpetit commented on #472
Makes sense! Thanks for your reply

[2019-08-14 08:09] amreniouinnovent commented on #430
@camh3190 Do Visibility Detector is helpful for you?
[code]

[2019-08-14 08:11] amreniouinnovent commented on #407
@felangel fragment is navigation but for widget level, not page level

[2019-08-14 09:54] ishuacharis commented on #201
this works fine

void main(){
  Repository repository = Repository();
  runApp(
      BlocProvider<AuthenticationBloc>(
      builder: (context) {
        return AuthenticationBloc(repository: repository)
          ..dispatch(AppStarted());
      },
      child:  MyApp(repository: repository),
    ));
}

this works fine too
class MyApp extends StatelessWidget {
  final Repository repository;

  My

[2019-08-14 09:57] ishuacharis commented on #201
i really need help on this bloc pattern has been a very good architecture just having trouble using it with naviagtion i read the Naviagtion on the flutter bloc website still got the same error

[2019-08-14 13:42] carmenkerim12 commented on #474
Hey, I'm just a developer using the bloc library but I thought I would give my 2 cents to help out Felix since he helped me out a lot.

When navigating to another screen with navigator.push you want to surround your widget(screen) with a BlocProvider . With the new version of flutter_bloc 0.19.0, the BlocProvider will handle disposing of your blocs. [what's new in 0.19.0](https://medium.com/flutte

[2019-08-14 20:47] guybashan commented on #473
Hi @felangel,
I added a sample project showing the issue.
Sorry for the mess, it is kinda playground phase..

**Scenario:**
* Run the app
* Press on Behavioral design
* On the top right menu select "Select a Goal"
* A popup will be open - select an item
* The value will not be updated as the title instead of "Select a goal..."
* If you choose the second option: "Custom Goal" and enter some value,

[2019-08-15 05:15] jamie1192 opened #475 "Child screen can't find bloc from parent context"
I have a home screen where I'm initialising a bloc, and am trying to hook into it from a separate child screen, but the child screen can't seem to find a provided bloc through it's context.

Home (parent) screen-
[code]

Child screen-
[code]

But no matter what I try, I continue to get the exception -
`The following assertion was thrown building ReminderSliver(dirty):
BlocProvider.of() called with

[2019-08-15 05:16] felangel commented on #474
Hi @adithya421 👋
Thanks for opening an issue!

@carmenkerim12 covered everything perfectly so please let us know if you have any questions.

Closing for now and thanks @carmenkerim12 for the awesome answer. I really appreciate the help! 🙏

[2019-08-15 05:16] #474 closed

[2019-08-15 05:21] felangel commented on #475
Hi @jamie1192 👋
Thanks for opening an issue!

I think this is a duplicate of #474. Hope that helps and feel free to comment with any additional questions if the explanation there is unclear. Thanks! 👍

[2019-08-15 05:21] #475 closed

[2019-08-15 05:38] jamie1192 commented on #475
Hey @felangel, thanks for the quick response!

Oh cool I missed that issue when I was searching before posting, navigating to the ReminderSliver page and passing in the reference to the existing bloc solved it ->
[code]

What's the reason for having to explicitly provide the bloc through this way to the child when in my snippet above, the bloc exists higher in the widget tree within the same conte

[2019-08-15 08:04] alanwguo commented on #126
I'm glad I ran into this thread as it is very helpful. It would be awesome to include information one event returning multiple states in the documentation.

In the official Firestore todo example, the loadTodosEvent is handled by this function
[code]

I was trying to understand if yield* could be used here instead but if my understanding is correct, this is a bad idea as this would disallow the bl

[2019-08-15 12:31] felangel commented on #475
No problem! It’s because unless your BlocProvider is above MaterialApp, when you push a new route its BuildContext is detached from the previous ones. You should think of pushing routes as creating new disconnected widget trees because the new route is not a child of the one pushing it 👍

[2019-08-15 12:36] felangel commented on #126
Hi @alanwguo 👋
I’ll be sure to include that in the core concepts doc later today 👍
Regarding your second question, you are correct. Using yield* in mapEventToState would block the processing of all incoming events.

[2019-08-15 16:28] hahai96 opened #476 "Bad state: Cannot add new events after calling close"
**Describe the bug**
Bad state: Cannot add new events after calling close

**To Reproduce**
Steps to reproduce the behavior:
1. HomePage contains a list of items
2. I pass the bloc to the list via the BlocProvider.builder
3. Then I delete all lists (list.length = 0)
4. Then, if I dispatch the event at the HomPage (click on the RaiseButton), it will report an error

Note: If I use BlocBuilder.value

[2019-08-15 16:31] alanwguo commented on #126
Thanks for confirming that!

[2019-08-15 17:03] csarigumba opened #477 "How to implement polling in flutter_bloc?"
Hey Felix, is my implementation good? I am trying to implement a functionality wherein it will call the API for every N seconds and using the dart:async `Timer` class. Like the example below.

So far, this is what I have tried and it is working so far.

[code]

Please advice. Thanks!

[2019-08-15 21:06] warriorCoder commented on #476
This is expected behavior... BlocProvider manages the life cycle of the bloc and when it's disposed will also automatically dispose of the bloc. Which is why you are seeing the behavior you described. Using BlocProvider.value is the recommended way in this situation.

Check out the documentation here: https://felangel.github.io/bloc/#/flutterbloccoreconcepts?id=blocprovider

[2019-08-15 22:57] jamie1192 commented on #475
Ah perfect, thank you!

[2019-08-16 05:50] camh3190 commented on #430
HI @amreniouinnovent, thanks for the suggestion. I was trying to use it but in the end, I give up.
I'm not sure if I using wrong the keys or all Visibility Detector widget(probably), but the "onVisibilityChanged" triggers every time a formField get the focus (click the field). I did not mention it, the page has a form. Then, the reset event fires and reload the information on the page and makes im

[2019-08-16 19:26] danielborges93 commented on #315
I want my listener **always** listen when the bloc state changes. I wrote the following code, but it doesn't works :-(

[code]

[2019-08-17 09:19] mpivchev opened #478 "Updating collections in states makes the lib think it's the same state as previous"
I am updating some hash sets in the bloc, but the library thinks that the states are the same, even if I make a new instance of a set.

The `EntryIdsCache` model does not extend Equatable, and the states provide all the props to the super.

[code]
My current implementation makes the first of the triggered methods work just fine, but as soon as I trigger some other method it stops differentiating b

[2019-08-17 14:42] felangel commented on #478
Hi @mpivchev 👋
Thanks for opening an issue.

You should make sure you’re not mutating the state and can debug this issue by just checking if currentState == yieldedState before you yield. Right now that’s evaluating to true which is why the bloc is ignoring the transition. My guess one of your props is not a primitive type and is also not extending Equatable.

If you can provide a link to your rep

[2019-08-17 15:01] mpivchev commented on #478
@felangel
My props are HashSets

[code]

[2019-08-17 15:15] mpivchev commented on #478
@felangel Converting the HashSets to Lists now yields the states properly. My guess is Equatable has some issues comparing HashSets?

[2019-08-17 15:25] felangel commented on #478
Can you provide the link to a sample app which illustrates the issue?

[2019-08-17 16:23] mpivchev commented on #478
Here is the sample app
https://gist.github.com/mpivchev/0b907a86248523964861584f80f7ece9

[2019-08-17 16:35] oussemaMetoui commented on #156
Hi @felangel
so, i have the same problem when i dispatch an event a second time ... nothing happens.
`BlocProvider.of<ReviewsBloc>(context).dispatch(AddReview());`

the first time is
`BlocProvider<ReviewsBloc>(
                                    builder: (context) => ReviewsBloc(httpClient:http.Client())..dispatch(FetchReviews())`

thank you

[2019-08-17 16:47] felangel commented on #476
Hi @hahai96 👋
Thanks for opening an issue!

As @warriorCoder mentioned, when you use `BlocProvider` with a builder, then the BlocProvider will automatically dispose the bloc when `BlocProvider` is disposed. In addition, you should always create the bloc instance within the builder in order to avoid this type of issue.

If you really want to have the Bloc be created within this widget, then you hav

[2019-08-17 16:47] #476 closed

[2019-08-17 16:49] felangel commented on #477
Hi @csarigumba 👋
Thanks for opening an issue!

I would not recommend implementing polling this way because by using `yield*` within `mapEventToState` you are blocking the processing of all other incoming events.

Instead, I would recommend taking a similar approach to the one described in the [flutter timer tutorial](https://felangel.github.io/bloc/#/fluttertimertutorial).

Hope that helps 👍

[2019-08-17 16:49] #477 closed

[2019-08-17 16:58] felangel commented on #478
@mpivchev I just commented on the gist with some tweaks that seem to resolve the issue. I think the main problem was you were mutating the `HashSet` and returning the mutated instance instead of creating a copy.

Hope that helps 👍

[2019-08-17 17:04] hahai96 commented on #476
`Bạn không nên chuyển BuildContextsang một khối vì bạn đang ghép khối này với Flutter và đang làm cho lớp logic nghiệp vụ có sự phụ thuộc vào lớp trình bày.`

@felangel In case I need to use context, what should I do?

[2019-08-17 17:04] felangel commented on #156
@oussemaMetoui that most likely means that the bloc thinks the state you yielded the second time is the same as the bloc's current state. Are your bloc states extending `Equatable`? If yes, are you making sure to pass all of the class props to `super`?

[2019-08-17 17:08] hahai96 commented on #476
@felangel because I did not use respository, I will refactor my code.

[2019-08-17 17:10] hahai96 commented on #476
[code]

@felangel When will blocProvider dispose. For my original code, I think it was only dispose when the Homepage was dispose

[2019-08-17 17:12] mpivchev commented on #478
It does work indeed. Thanks!

I guess I should've created copies for all 3 sets instead of only for the one I was mutating:
[code]

[2019-08-17 17:12] #478 closed

[2019-08-17 18:04] oussemaMetoui commented on #156
@felangel yes
i forgot to mention that `BlocProvider.of<ReviewsBloc>(context).dispatch(AddReview());` doesn't call the method **mapEventToState** :confused:

`@immutable
abstract class ReviewsState extends Equatable {

  ReviewsState([List props = const []]) : super(props);
}`

**ReviewsEvent**
[code]
**ReviewsState**
[code]

[code]
 hope so much you could help me

[2019-08-18 19:47] jiharal opened #479 "Login"
https://felangel.github.io/bloc/#/flutterlogintutorial

![image](https://user-images.githubusercontent.com/21150538/63229537-dd187900-c233-11e9-90f4-e909b9d15578.png)

[2019-08-18 20:03] #479 closed

[2019-08-18 20:03] jiharal commented on #479
[code]

[2019-08-18 20:25] felangel commented on #479
@jiharal thanks for catching this. I just fixed it in https://github.com/felangel/bloc/commit/0fdb972deeda3c282cae7cc77b62aee29e82abf4.

You should be able to refresh the page and see the updated syntax 👍

[2019-08-18 20:34] felangel commented on #473
@guybashan I took a look and the problem is you're mutating state. When using the bloc library you should never mutate `currentState`. Instead, you should yield a brand new instance of your state.

If you update `behavioral_design_session.dart` to be:
[code]

and then modify `behavioral_design_bloc.dart` to be:
[code]

then you should be good to go 👍

Hope that helps and please refer to the [core

[2019-08-18 20:34] #473 closed

[2019-08-18 20:59] felangel commented on #156
@oussemaMetoui can you please provide a link to a sample app which illustrates the issue you're having? It would be much easier for me to help if I can run the code locally.

[2019-08-18 21:18] felangel commented on #476
@hahai96 it will dispose the bloc when the `BlocProvider` widget is disposed. In your original implementation, BlocProvider was being disposed before the `HomePage` was disposed and you were using `dispatch` outside of `BlocProvider`.

[2019-08-18 21:20] felangel commented on #430
@camh3190 I'm not sure I fully understand the issue but in general you should build your app so that your widget's `build` method can be executed 100s of times. When focus changes, for example, Flutter will retrigger the `build` method. I would recommend not having any side-effects in your build method. If you want to execute a snippet of code in response to a bloc state change, you should use `Bl

[2019-08-19 01:43] semutnest opened #481 "Rebuild bloc with the same state"
Hello MR Felix,

I just want to ask, is there a way to rebuild bloc but the next state that we send is the same as the current state but with different data ?

Thank you.

[2019-08-19 01:46] felangel commented on #481
Hi @semutnest 👋
Thanks for opening an issue!

Regarding your question, yes 👍 you just need to make sure you’re never mutating currentState. Instead, create a new instance and everything should work as you’d expect.

Are you having trouble getting the expected results? If so, it would be great if you could share a link to a sample app which illustrates the problem you’re having.

Hope that helps 👍

[2019-08-19 01:53] semutnest commented on #481
Ok sir, Thank you I will give it a try.

[2019-08-19 07:11] durduman opened #482 "Is type checking a good practice?"
I am using bloc architecture based this repo.

It seems that it is based a lot on type checking such as:

Is type checking a good practice?
Are flutter & dart oriented towards this way coding or is this just a shortcut for this bloc implementation.

[2019-08-19 09:45] semutnest commented on #481
Sorry, Sir

I have not understood what you mean '**create a new instance**'
I have a simple example.

//BLOC
class MyBloc extends Bloc<MyFormEvent, MyFormState> {
  @override
  MyFormState get initialState => InitialState();

  @override
  void onTransition(Transition<MyFormEvent, MyFormState> transition) {
    print(transition);
  }

  @override
  Stream<MyFormState> mapEventToState(
    MyFormEv

[2019-08-19 11:20] oussemaMetoui commented on #156
@felangel
so this is the [repo](https://github.com/oussemaMetoui/flutter_test_app.git)

[2019-08-19 16:01] CurrySenpai commented on #447
@guitcastro

Hello, Also if dispatch is private (I don't like, in addition to promoting more boilerplate code), if you have

[code]
you can call this event even if the bloc is disposed.

or maybe I did not understand well.

@felangel
I don't like the idea to add more `Types` to BlocBuilder, many of my widget do not need to dispatch events to the pad.

If it is necessary to dispatch events to the b

[2019-08-19 18:50] reignierleo commented on #453
Hi @RaviKavaiya , sorry for the late response. Well as long as my Textfield is in a Widget that is a descendant of what I called "myNewScreen()" in my previous example, I have this issue and the state rebuilds each time I want to focus on the Textfield. I did not found a solution yet...

[2019-08-20 02:07] felangel commented on #382
published in `bloc v0.15.0` and `flutter_bloc v0.21.0` 🎉

[2019-08-20 02:07] #382 closed

[2019-08-20 02:56] felangel commented on #482
Hi @durduman 👋
Thanks for opening an issue!

Bloc does not have an opinion about how you model your states. In some cases, you can get away with using enums so you can simply switch on the event (see [counter example](https://felangel.github.io/bloc/#/coreconcepts?id=blocs)).

In more complex cases, it's common to use classes to model your events and states. If you choose to go that route, you'll

[2019-08-20 02:56] #482 closed

[2019-08-20 03:12] felangel commented on #481
Hi @semutnest the problem in your example is when `status == false` you always yield TestState(status: (currentState as TestState).status);

By default, if you yield a state where `state == currentState`, then no transition will occur ([docs](https://felangel.github.io/bloc/#/coreconcepts?id=blocs)).

If you update your example to:
[code]

Then everything will work as expected.

Hope that helps 👍

[2019-08-20 03:12] #481 closed

[2019-08-20 03:18] felangel commented on #447
@CurrySenpai thanks for the feedback! I agree with the points you've made which is why I've been reluctant to make the changes thus far. After discussing this with many people and considering the implications, I am going to leave this out for now.

The main reasons why I don't want to make this change are:

- There will still be cases where you want to dispatch from outside of `BlocBuilder` and I

[2019-08-20 03:18] #447 closed

[2019-08-20 04:58] durduman commented on #482
Thank you for your answer.

[2019-08-20 05:04] semutnest commented on #481
Ok Thank you @felangel

[2019-08-20 20:49] danielborges93 commented on #404
The BlocListener is not listening the first state change.

My states:
[code]

My initial state is:
[code]

My `mapEventToState`:
[code]

My listener function:
[code]

The idea is after a api call, show a snackBar with success or error message. When I dispatch events two times, the listener responds only to the second. Is this the correct behavior?

[2019-08-20 22:14] DJafari opened #483 "Q: how to combine await and yield in foreach"
sorry, this is not a issue or feature request, it's just a question

i have something like this in my bloc :

[code]
i want send one by one factors and updating status, for using `yield` inside `Future.forEach` i must use `async*`, but when i using this instead of `async`, callback method not called

how can doing it ?
thanks

[2019-08-20 22:25] felangel commented on #483
Hi @DJafari 👋
Thanks for opening an issue!

Regarding your question, you need to use `yield*` (yield-each) in order to push the new data onto the bloc state sink.

[code]

Hope that helps 👍

[2019-08-20 22:25] #483 closed

[2019-08-20 22:32] DJafari commented on #483
@felangel thanks man

when i use your solution, i get this exception :

[code]

[2019-08-20 22:46] DJafari commented on #483
@felangel for saving your time
this is sample code for reproduced this exception :

[code]

[2019-08-21 04:37] felangel commented on #483
@DJafari sorry for the delay but if you refactor `mapEventToState` to this it should work:

[code]

[2019-08-21 04:44] felangel commented on #404
Hey @danielborges93 👋

Can you provide a link to a sample app that illustrates the problem you're having? Alternatively, have you checked out the [SnackBar Recipe](https://felangel.github.io/bloc/#/recipesfluttershowsnackbar)?

`BlocListener` should be triggered once for each state change 👍

[2019-08-21 11:56] danielborges93 commented on #404
Hi @felangel! Thanks for your response!

I have checked the SnackBar Recipe before ;-)
I tried your `mapEventToState` change suggestion, but the behavior was the same.

The app that I am developping is https://gitlab.com/openlp/openlp-mobile-remote (**branch api_base**). The widget and bloc are in `lib/src/widgets/display_options_dialog.dart` and `lib/src/bloc/display_options_dialog_bloc.dart`.

[2019-08-22 04:27] pratikpparikh opened #484 "Request to update TODO firestore application: Stream todo details if changed via Cloud Firestore Console"
**Describe the bug**
I have a list of events to display on calendar and stream updates as they might happen (update, delete, add) and i use firestore to store and retrieve the events.  Below 1 is what my code structure needs to be, the code works but problem is it only listener to stream once for populateEvents and then does not get called on every change.  It stops listening to update or deletes

[2019-08-22 04:33] pratikpparikh commented on #484
This is a non issue, 1 works for me i just needed more breakpoints

[2019-08-22 15:03] pratikpparikh commented on #484
@felangel a quick question for you though, now my structure looks like 1. First time when EventSuccess comes it gets listened by both BlocListener and BlocBuilder every other update only BlocBuilder is notified and listening.  If i have to remove or update or add new event in UI what would be a good way to tackle that?

[2019-08-22 23:42] guybashan commented on #473
Thanks @felangel. Working with immutable states seems to be working fine, but I was also able to fix this issue by wrapping the bloc dispatch with "setState". Is it legit?
Handling immutability is going to require more code for copying the state. Probably a special treatment should be also given to the "checked" array..

[2019-08-24 07:59] vungocnamhust opened #486 "BlocBuilder and BlocListener questions"
In initstate() I dispatch an event to Bloc
Although I dispatch this event successfully and every data updated, My  BlocBuilder and BlocListener I can not receive the state
Can you answer for me it is my fail whether your rule ?

[2019-08-25 03:20] jeonghoonkim commented on #476
@felangel Hm... I want to use same bloc '_formBloc' in both ScreenA and ScreenB like below using **showModalBottomSheet**.
[code]
But pop ScreenB cause disposing bloc '_formBloc', so I can't use it anymore in ScreenA...

[2019-08-25 09:35] MahdiPishguy opened #487 "what's BlocDelegate and what's its use"
could you help me to understand what's `BlocDelegate` and what's its use. documentation of that is not clear for me because i can't find any implementation of that in samples

[2019-08-26 09:04] felangel commented on #487
Hey @MahdiPishguy 👋
Thanks for opening an issue!

You can check out the [core bloc concepts](https://felangel.github.io/bloc/#/coreconcepts?id=blocdelegate) for information about what `BlocDelegate` is and how to use it.

Hope that helps 👍

[2019-08-26 09:04] #487 closed

[2019-08-26 09:06] felangel commented on #486
Hi @vungocnamhust 👋
Thanks for opening an issue!

Can you provide a sample app that illustrates the problem you're having? I'm guessing that you're either mutating the currentState or if you're using `Equatable` you've forgotten to pass the class properties to the super class.

[2019-08-26 09:23] felangel commented on #484
Hi @pratikpparikh 👋
Thanks for opening an issue!

What you're describing is how the current [flutter_firestore_todos example](https://github.com/felangel/bloc/tree/master/examples/flutter_firestore_todos) works. You can either make changes in the app or directly in firebase console and everything will update in real-time.

[2019-08-26 09:23] #484 closed

[2019-08-26 15:18] vungocnamhust commented on #486
My subject is make a infinite list and I have read your code about infinite list
My issue is my bloc builder can not realize the changing of object so when I using transform with debounce time, everything can be solved.
However I think it is the same as the trick because it depend on the internet speed
Do you have a better solution? Thanks

[2019-08-26 15:33] Ponraj-Paulraj opened #488 "flutter_infinite_list with GridView.builder or CustomScrollView"
Hi @felangel, We tried to achieve "flutter_infinite_list" with GridView.builder and CustomScrollView, But not able to place "BottomLoader" at the bottom of the screen. And we are not able to handle `state.hasReachedMax` outside of `ListView.builder`. Any idea how to achieve this?

[2019-08-27 02:57] vungocnamhust commented on #486
Sorry I forgot :)))))
Here is my code for this page
https://github.com/vungocnamhust/Flutter/tree/master/Flutter%20Project/notify

[2019-08-27 13:23] natintosh commented on #466
@felangel  Thanks for the response it was a mistake at my end it should have been Blocbuilder<bloc, state> not BlocBuilder<bloc, event>, thanks for this package. I also have some recommendation please could you make a tutorial for flutter_bloc that uses nestednavigator thanks

[2019-08-27 13:45] ruelluna opened #489 "Question: How to use when there is another package that support stream?"
I don't know if you can answer this question but I have no choice but to ask it anyway.

I've created an app that would have a state with an instance of [`audioplayers`](https://github.com/luanpotter/audioplayers) and using [`flutter_bloc`](https://pub.dev/packages/flutter_bloc).

My goal is to have a global music player that can listen to the player state and update the information on the `MusicP

[2019-08-27 21:59] pedromassango opened #491 "Is a good pratice to have Repository in the presentation layer?"
What is the use of `RepositoryProvider` if we should access our repository throught a BLoC component. Is it a good pratice to make our repositories available in the UI layer?

[2019-08-28 10:29] sanketwarule opened #492 "Need help for creating a common Network Handler"
Hello Felangel,
I am migrating from the MVP pattern to flutter bloc, I have created a Network Handler class where it will return the response depending on the various requests,
Requirement : depending upon the response, i have to show the snackbar or navigate to another screen,
**if success then Navigate to Home (can be any page..)
if failure then show snackbar**

How could I achieve this?
Below i

[2019-08-28 13:42] ruelluna commented on #489
Got it! :)

[code]

[2019-08-28 13:42] #489 closed

[2019-08-28 15:19] sanketwarule commented on #492
Thank you for your response @felangel ,
Got the solution in your recipe, Thank you @felangel for your help, Your documentation is very nice.

[2019-08-28 16:36] sanketwarule commented on #492
Hi @felangel sorry to disturb you again, but I have updated the code, can you please check whether  I am on the right track or not. What can be done to optimise the code in UI layer, like callback functions for success and error in NetworkBloc instead of checking the states in UI layer(in BlocListener), but the issue is what can be returned for snackbar -> Widget and for Navigation -> ..., Can I a

[2019-08-29 14:26] felangel commented on #486
I took a look and the project you shared didn't seem like a complete flutter project so I wasn't able to run it. I still took a look at the code and created a [pull request](https://github.com/vungocnamhust/Flutter/pull/1) with a few fixes. Hope that helps! 👍

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation.

[2019-08-29 14:26] #486 closed

[2019-08-29 14:34] felangel commented on #492
Hi @sanketwarule I took a look and I would recommend not having a `NetworkHandler` because you are currently passing the BuildContext into with which is coupling the networking layer with the UI layer. Instead, I would recommend creating an http client which you inject into repositories. Then each repository can make requests to your apis and the blocs can use the repositories to convert events in

[2019-08-29 14:34] #492 closed

[2019-08-29 16:00] vungocnamhust commented on #486
Thank you very much <3 I have fixed successfully

[2019-08-29 16:25] MonNguyen2502 opened #493 "Widgets cannot be rebuild after a new route"
Hi. I am having some trouble, please help me

**Describe the bug**
I took the new state and returned the new MaterialApp, but the pages behind the new router were not rebuilt

**Expected behavior**
DemoPage will be rebuilt when I click the "change language" button.

[code]

[2019-08-29 19:43] guitcastro opened #494 "onError default implementation should throw an exception"
**Is your feature request related to a problem? Please describe.**
onError does not have a default implementation, which lead do exception getting swallow on mapEventToState or in bloc Delegate
**Describe the solution you'd like**
The default implementation should throw the exception to help users diagnostic erros
**Describe alternatives you've considered**
A nonaggressive approach would be: log t

[2019-08-29 22:54] felangel commented on #494
Hi @guitcastro 👋
Thanks for opening an issue!

The reason why the default onError does not throw is because if an exception is thrown in mapEventToState, the entire stream will be closed and the bloc will stop working. Since blocs are making asynchronous requests pretty frequently, it is fairly common for a developer to omit a try/catch and simply await an operation that can throw.

[code]

The `g

[2019-08-29 23:11] felangel commented on #493
Hi @MonNguyen2502 👋
Thanks for opening an issue!

Regarding your question, I would not recommend rebuilding the entire MaterialApp when you want to change the language. The problem is as you mentioned the routes will not be rebuild because they are independent of the base MaterialApp widget.

I would recommend overriding the `LocalizationDelegate` when the bloc state changes instead of changing th

[2019-08-29 23:11] #493 closed

[2019-08-30 02:37] MonNguyen2502 commented on #493
@felangel The above solution is outdated, and I don't want to use context to get data. Apart from the suggestions you give, is there any way to rebuild the entire app?

[2019-08-30 09:06] criticalx7 opened #495 "Bloc doesn't call dispose method after hot restart"
**Describe the bug**
Our project use WebSocket and would like to fire an unsubscribe channel event to the server in dispose method but we discovered that when hot-restart. it didn't get called. This resulting in server overrun with duplicate connection id of the same users. (We temporary solved this by close the app in emulator first because the app also called unsub in pause and inactive state)

[2019-08-30 10:09] sanketwarule commented on #492
Thank you @felangel for your valuable time

[2019-08-30 10:17] haroldolivieri commented on #157
`then()` waits for a `FutureOr<T>` so you need to set the returning type `<T>`, in this case, `<void>`. And you need to declare the callback param, so you need to add, at least `_` :

[code]

Can be pretty obvious but I spent some time to figure it out, helping others to do not.

[2019-08-30 13:52] felangel commented on #495
Hi @criticalx7 👋
Thanks for opening an issue!

Can you please provide a small sample app which illustrates the problem you're having? It would be helpful to understand how you are instantiating the blocs 👍

Thanks!

[2019-08-30 14:04] felangel commented on #488
Closing for now but feel free to comment with additional details and I'm happy to continue the conversation 👍

[2019-08-30 16:51] MonNguyen2502 commented on #493
class MyApp extends StatelessWidget {
  Locale _locale;

  @override
  Widget build(BuildContext context) {
    return BlocBuilder<MainBloc, MainState>(
      bloc: BlocProvider.of<MainBloc>(context),
      builder: (context, state) {
        if (state is ChangeLanguageState) {
          _locale = state.locate;
        }

        return MaterialApp(
          title: '',
          locale: _locale ?

[2019-08-31 10:43] felangel commented on #493
@MonNguyen2502 What part of it is outdated? I would strongly recommend using the standard localization implementation/strategy.

This issue doesn't have anything to do with bloc because when you use `BlocBuilder` it is equivalent to calling `setState` and rebuilding that widget. The problem you are facing is routes will not get notified if `MaterialApp` gets rebuilt and that is the intended behavi

[2019-08-31 16:30] mariaszek9003 opened #497 "Blocprovider.of() called with a context that does not contain a block of type"
I had a problem with getting Bloc from child widget and I have no idea what I'm doing wrong.
I'm using flutter_bloc v.0.21.0.

Here is my main.dart:
[code]
And here in LoginPage widget I'm getting my authenticationBloc using BlocProvider.of method (in initState method):
[code]

but instead of receiving bloc I got this error:
[code]

Can someone tell me what I'm doing wrong?

Here is my Flutter doc

[2019-08-31 17:32] criticalx7 commented on #495
this is the closest structure to our app.
[code]

[2019-09-01 00:11] felangel commented on #497
Hi @mariaszek9003 👋
Thanks for opening an issue!

Can you please share the link to an example app which illustrates the issue you're having so I can run and debug it locally?

Also, you can eliminate a lot of boilerplate code by refactoring your `StatefulWidgets` into `StatelessWidgets`. This is because `BlocProvider` will automatically dispose the blocs for you and `BlocBuilder` will automaticall

[2019-09-01 00:21] felangel commented on #495
Thanks for the additional info @criticalx7 👍

One minor improvement you can make is refactoring your `CounterPage` to be a `StatelessWidget` like:

[code]

Other than that everything looks good. This is an issue with Flutter like you originally suggested. I confirmed that by putting together the following app:

[code]

On hot-restart, `dispose` is never called. I think this would be an interesting

[2019-09-01 00:21] #495 closed

[2019-09-01 00:22] felangel commented on #494
Closing for now but feel free to comment and I'm happy to continue the conversation 👍

[2019-09-01 03:24] criticalx7 commented on #495
Thanks man. I make CounterPage stateful because in our app, we also add WidgetsBindingObserver to listen for a resume event. We need dispose method to cleanup properly.

[2019-09-01 07:15] timrijckaert commented on #494
Maybe when we detect the user is running in debug mode we could throw an Error?

[2019-09-01 13:16] mariaszek9003 commented on #497
Hi @felangel, thank you for response.

Here is the repo: https://github.com/mariaszek9003/WeatherApp

[2019-09-01 15:33] Ponraj-Paulraj commented on #488
Hi @felangel ,

`return CustomScrollView(
            controller: _scrollController,
            slivers: <Widget>[
            new SliverGrid(
              gridDelegate: new SliverGridDelegateWithFixedCrossAxisCount(
                crossAxisCount: 2,
                crossAxisSpacing: 8.0,
                childAspectRatio: (itemWidth / itemHeight * 4 / 5),
              ),
              delegate

[2019-09-02 06:47] sohitEngg commented on #221
Is there a way to test Widget for the BlocListener. I want to test if a state gets changed and captured in BlocListener.

[2019-09-03 00:16] felangel commented on #497
Hi @mariaszek9003 thanks for the link! I took a look and opened 2 pull requests.

- [fix imports](https://github.com/mariaszek9003/WeatherApp/pull/1) - fixes the issue you were seeing
- [other improvements](https://github.com/mariaszek9003/WeatherApp/pull/2) - other things I noticed that you might want to improve

Hope that helps and sorry for the delayed response! 👍

[2019-09-03 00:16] #497 closed

[2019-09-03 00:25] felangel commented on #221
@sohitEngg have you taken a look at https://github.com/felangel/bloc/issues/361?

[2019-09-03 00:27] felangel commented on #494
@timrijckaert that's true I will do a poc and discuss with the team 👍
Thanks for the suggestion!

[2019-09-03 00:39] felangel commented on #488
@adsonpleal you can add a property `loadingAdditionalResults` to the state and only show the `BottomLoader` if `loadingAdditionalResults` is true.

In the bloc you'd just need to yield an extra state with `loadingAdditionalResults = true` while fetching and `loadingAdditionalResults = false` when you have results.

Then your UI could look like

[code]

Hope that helps 👍

[2019-09-03 00:39] #488 closed

[2019-09-03 00:42] Ponraj-Paulraj commented on #488
Thanks a lot @felangel , I will try this :)

[2019-09-03 00:52] iCueto opened #498 "RefreshIndicator is not hidden after doing its function."
I've follow the instructions of the Example Weather App for the Pull to Refresh feature, and the RefreshIndicator is not hidden after its does the function and request the data.

Here is a video of the behavior:
[Video of the app with RefreshIndicator](https://drive.google.com/file/d/1-GKkSjiLHpTZWSlMub5Jvv9ds8qsXqUo/view?usp=sharing)

As you can see My Code is something similar to the example of

[2019-09-03 01:05] felangel commented on #498
Hi @iCueto 👋
Thanks for opening an issue!

I think you are missing completing the `Completer`. In the weather example, we use `BlocListener` to detect when the bloc has finished and then complete and reset the `Completer`.

[code]
[Weather Example Source](https://github.com/felangel/bloc/blob/0b691027a025ac03c27c6e3f9ed64ca4418b8476/examples/flutter_weather/lib/widgets/weather.dart#L65)

Hope that

[2019-09-03 01:05] #498 closed

[2019-09-03 02:02] iCueto commented on #498
Thank a lot!!! @felangel... It's Work!!!

I have missing that part... Thanks...

[2019-09-03 15:21] mariaszek9003 commented on #497
Hi @felangel thank you for fixing the issue - that was stupid mistake. Also thank you for code improvement suggestions.

[2019-09-03 18:54] huang12zheng opened #499 "Question: Could I use pageController in bloc,not in UI layer?"
Describe:
---
question1:
I code a widget about menu bar which could control page.So, I use a function
[code]

But it looks like that I should use `animateToPage` at UI layer by #18 . I am at loss.

Moreover
---
I also would code page which could control menu.So, I use
[code]

some code below:
---

mapEventToState in Bloc is like :
[code]
construct of menuBloc is like:
[code]
PageView is like:
[cod

[2019-09-03 19:13] huang12zheng commented on #499
Other Info:
---
If I use `animateToPage` in UI layer like below:
[code]
When I call a SelectButton, it would call SelectButton two time. due to
[code]
call a SelectButton.
For example:
I am at page 0, being Select to page 3,  // SelectButton(3)
It is expected that animateToPage would jump to page1,page2,page3.But When jump to page1, it call SelectButton(1). Then it stop at page 1.
[code]
it is no

[2019-09-04 09:29] sanketwarule commented on #492
Hello @felangel , sorry to disturb you again, As per your suggestion I have added a repository between the Api(NetworkHandler) and Blocs(LoginBloc) i.e LoggedInUserRepository, Now my doubt is From where I can dispatch the Network events so that I could able to navigate to the Home Page or show the snackbar... I have wrote the doubts in the Login Page(inside pages directory) You can modify my code

[2019-09-04 10:48] Liuzhiyang94 opened #500 "BlocProvider can not be used in children's children"
`
BlocProvider.of<BlocA>(context)
`
Its a common way to get a bloc instance of parent's BlocA.

But if i want to use in this way.
[code]

This will throw Exception.

Is there anyway to let `Child2` get the top BlocA instance?

[2019-09-04 11:23] felangel commented on #500
Hi @Liuzhiyang94 👋
Thanks for opening an issue!

This should work just fine. Can you please provide a link to a sample project which illustrates the problem you’re having? Thanks 👍

[2019-09-04 16:08] joakiti opened #502 "Navigator.push made me loose my bloc after Navigator.pop"
From one widget, w_1 I use a BlocListener to listen on the bloc b_1's state s_1. If s_1 fulfills my requirements, I Navigate.push to a widget w_2 that uses the same bloc b_1. Now, done with w_2 i Navigate.pop and return to w_1, where I find that b_1 does not respond to dispatch events.

My setup is as follows:

[code]

**How do I know that the state does not respond?**
In my bloc, I wrote a print

[2019-09-04 17:04] joakiti commented on #502
I solved the issue by changing the build to a widget (NoseArea) like this, instead of a method (buildPage):

[code]

[2019-09-04 17:07] joakiti commented on #502
However, I dont understand that

`            if (state is Counting && state.counting == 0) `

Only gets triggered once. Does anyone know what might cause this?

[2019-09-04 18:04] Ponraj-Paulraj commented on #488
@felangel , it works great bro. Thanks for your support. :)

[2019-09-05 11:37] sanketwarule opened #504 "Need help for dispatching the BlocListener (NetworkBloc) events when using the repository to handle the http calls"
Hello @felangel , sorry to disturb you again, As per your suggestion in #492 ,  I have added a repository between the Api(NetworkHandler) and Blocs(LoginBloc) i.e LoggedInUserRepository, Now my doubt is From where I can dispatch the Network events so that I could able to navigate to the Home Page or show the snackbar...

You can run the code as it is...
I have wrote the doubts in the Login Page(in

[2019-09-06 01:32] felangel commented on #502
Hi @joakiti 👋
Thanks for opening an issue!

Regarding your question, you should keep in mind that `BlocProvider` will automatically dispose the bloc by default. I would recommend refactoring your example like so:

[code]

This way the top level `BlocProvider` is responsible for creating and disposing the `ActiveWorkoutBloc` and the lower level `BlocProvider` just exposes the bloc to the new route

[2019-09-06 01:32] #502 closed

[2019-09-06 01:34] felangel commented on #499
Hi @huang12zheng 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the problem you're running into? Also, in general you should only use blocs for business logic. If you are simply trying to use a `PageController` to control a menu then you probably don't need to use a bloc since there is no business logic involved.

Let me know if that helps 👍

[2019-09-06 01:40] felangel commented on #504
Hi @sanketwarule 👋
Thanks for opening an issue!

Have you gone through the [login tutorial](https://felangel.github.io/bloc/#/flutterlogintutorial)? If not, I would highly recommend it. I would recommend having a `UserRepository` or `AuthenticationRepository` instead of a `LoggedInUserRepository` and exposing methods like `login`, `logout`, etc...

Then you can have an `AuthenticationBloc` which y

[2019-09-06 01:40] #504 closed

[2019-09-06 01:54] felangel commented on #500
Closing for now but feel free to comment with a sample app and I'm more than happy to help 👍

[2019-09-06 01:54] #500 closed

[2019-09-06 03:14] Liuzhiyang94 commented on #500
@felangel  Thanks for reply. I found a bug in my code, `BlocProvider.of` works fine . Thanks.

[2019-09-06 06:39] #499 closed

[2019-09-06 14:39] djuelg opened #505 "Is there some kind of schedule / roadmap?"
Is there some kind of schedule / roadmap?

I wondered, since there is no stable 1.X release, yet. Is there one coming soon?
What is currently missing in the lib, so that it is currently not considered stable?

Greetings,
Domi

[2019-09-07 00:24] felangel commented on #505
Hi @djuelg 👋
Thanks for opening an issue!

I'm planning to release v1.0.0 very soon. I haven't been great about a roadmap but I think the main thing missing is dev tools which are currently in progress. I'll try put together a formal roadmap over the next few days 👍

[2019-09-07 14:16] dev-shanghai opened #506 "Bloc : For a Bloc we need to have dispose or we need to do stuff on dispose."
we have a Location bloc for current location, and we run a location subscription as far after every specific interval we receive current location values.
When we move on to another screen where we don't want to have location of user, or some how improve the usability we need to close service.
We can't dispatch an event for this in dispose of the Bloc.

 `
  @override
  void dispose() {
    _dispos

[2019-09-08 04:08] imaffe opened #507 "[Discussion : Can we use Bloc as a singleton so it is easy to share across blocs]"
1. Why can't we implement BLoC as a singleton so it can be accessed from everywhere in the app. Sometimes I found BLoC provider is a bit awkward when navigating to a new page.

2. Also, I want to know what is the proper way to solve cyclic reference. For example, blocA wants to send event to blocB and blocB wants to send to blocA as well. In such situation, do we have a general design for solving

[2019-09-09 06:32] ariefannur commented on #156
got same issue @felangel , dispatch event once success and the second data didn't appear.

here the code

[code]
The View
[code]
Step: Click and 1st dispatch `changeLeague` data has success changed. And than 2nd dispatcher event `league 33` text didn't triggered

[2019-09-09 11:38] hardikdabhi2 commented on #201
Does anyone give me the answer to this question?

https://stackoverflow.com/questions/57826865/data-not-being-updated-after-change-the-placeid-in-flutter-bloc/57830486#57830486

[2019-09-09 15:31] jregnier opened #508 "Design - Handling multiple api calls in parrallel"
Hello Felix, first off great work with this package. I have a design question. I have a scenario where I want to show a details screen and to do so I need to make multiple api calls. So I dispatch a FetchDetailsEvent and I would like to make all the api calls in parallel. Also is there a way not to redraw everything every time? Basically, I just want to redraw small parts of the screen as the api

[2019-09-09 15:35] bigworld12 commented on #507
1. you can implement it as a singleton using bloc provider, just place it as a parent to MaterialApp widget
2. bloc A can dispatch an event to bloc B (carrying whatever data you want) , and bloc B can dispatch an event to bloc A (carrying whatever data you want)

[2019-09-09 15:41] bigworld12 commented on #508
i assume you are calling your api in mapEventToState ?
the great thing about mapEventToState is that it returns a stream, which means you can yield multiple times in the same call.
e.g.
-> await Api call 1
-> yield state containing api 1 result
-> await API call 2
-> yield state containing api 2 result

but if you want to make them in parallel, you will have to dispatch an event in each thread

e.

[2019-09-09 15:43] bigworld12 commented on #508
also if you are using the repository pattern along side BLoC pattern, then you can make the api calls edit values in the repository, making the state just a notification to the UI better than carrying the actual data

[2019-09-09 15:45] bigworld12 commented on #506
if you have your bloc provider around the specific area where you need it, then it already disposes of the bloc once that area is disposed

[2019-09-09 18:09] jregnier commented on #508
ya, the multiple yields in the mapEventToState method is the way I currently have it which works well but was hoping to only redraw the part of the screen that the API call represents.
As for your second comment technically I could have the state as a notification then when building the UI in BlocBuilder I could use a FutureBuilder to call to the API method from the repo.

It seem that if I wanted

[2019-09-09 18:17] felangel commented on #506
Hi @dev-shanghai 👋
Thanks for opening an issue!

Regarding your question, as @bigworld12 mentioned, if you're using `BlocProvider` to provide your `LocationBloc` like:

[code]

then `BlocProvider` will handle automatically disposing the bloc for you so you don't need to do anything.

Hope that helps 👍

[2019-09-09 18:17] #506 closed

[2019-09-10 01:20] bigworld12 commented on #508
@jregnier you can already do that with BlocBuilder, it has a condition property, which passes a previous state and a next state, from those 2 you can judge if you want to redraw that specific area or not.
e.g.
your UI has 5 changeable areas.
-> put a BlocBuilder for each changable area
-> preferably, only put BlocBuilders around the areas that actually need to be redrawn, also try not to nest Bloc

[2019-09-10 03:43] felangel commented on #507
Hi @imaffe 👋
Thanks for opening an issue!

As @bigworld12 pointed out you can use `BlocProvider` to provide a global instance of a bloc by providing the bloc above `MaterialApp`.

[code]

Regarding circular dependencies, in general you want to avoid them. If you provide additional information around why you need a circular dependency between two blocs I'd be more than happy to suggest alternative

[2019-09-10 03:43] #507 closed

[2019-09-10 03:48] felangel commented on #508
Hi @jregnier 👋
Thanks for opening an issue!

@bigworld12 beat me to it and had awesome answers 💯
The only thing I want to add is the [timer tutorial](https://felangel.github.io/bloc/#/fluttertimertutorial) illustrates how to use `BlocBuilder` with a `condition` so you might want to check that out if you haven't already.

Closing for now but feel free to comment with any additional questions/concer

[2019-09-10 03:48] #508 closed

[2019-09-10 03:56] felangel commented on #156
@oussemaMetoui the issue with your repo is that you have:
[code]

so after the state is `ReviewAdded()` if you yield `ReviewAdded()` again the bloc will ignore the state because `currentState == ReviewAdded()` will evaluate to true.

In order to resolve this, you either need to make sure to uniquely identify the `ReviewAdded` states by passing a `Review` to the state like:

[code]

[2019-09-10 03:58] felangel commented on #156
@ariefannur I'm guessing the reason why you're having this issue is because either `Match` or `League` do not extend `Equatable`.

[2019-09-10 03:58] #156 closed

[2019-09-10 05:20] bigworld12 opened #509 "Pass source events to BlocBuilder and BlocListener"
**what's the problem ?**
i find it usually common that i care about the event that caused the state, rather than the state itself.

**why/when does that happen ?**
it happens when a single state can come from multiple events, which is a common occurrence in state machines.

**Describe the solution you'd like**
a simple solution would be to pass the event that caused the state as a parameter to Blo

[2019-09-10 06:31] ariefannur commented on #156
still get same error @felangel here my model
[code]

[2019-09-10 06:33] bigworld12 commented on #156
@ariefannur does team also extend Equatable ?

[2019-09-10 07:34] ariefannur commented on #156
solve it's my mistake, forgot call super Equatable in model. Thanks @felangel  @bigworl12

[2019-09-10 12:45] marcgraub opened #510 "intellij extension - NoClassDefFoundError JavaLanguage"
**Describe the bug**
On WebStorm 2019.2.1, the extension throws the error (view the log section for full log):
[code]

Looking in the plugin webpage, on version section, in compatibility with WebStorm, latest updates shows as NON COMPATIBLE:
https://plugins.jetbrains.com/plugin/12129-bloc-code-generator/versions

Thanks for your work and your time!

**To Reproduce**
Steps to reproduce the behavior

[2019-09-10 16:46] geegog commented on #245
Hi @felangel

I am having some issue with my page RefreshIndicator (I am using bloc), as the indicator keeps rolling. It actually work well sometimes. For example, like after I scroll down and new contents are loaded.

I am thinking that the BlocListener is not called every time my Refresh event is triggered.

Here is the link to the page with the list view and RefreshIndicator: https://github.com

[2019-09-10 17:37] FTholin opened #511 "Merge separate queries results in Todos Firestore example"
I am trying to make 2 queries to Firestore and merge the results into one in order to simulate a Firestore **OR** query.

I got back the Firestore todos example and particularly the FirebaseTodosRepository class.

[code]

I would like to merge the result of 2 queries but I don't know how to proceed despite some unsuccessful researchs.

[code]

Thanks again for your time.

[2019-09-10 18:05] jregnier commented on #508
@bigworld12 that's exactly what I was looking for thanks!! I remember reading about it but didn't put it together. 🥇

[2019-09-10 18:34] geegog opened #512 "My RefreshIndicator keeps rolling."
Hi @felangel

I am having some issues with my page RefreshIndicator (I am using bloc), as the indicator keeps rolling. It actually work well sometimes. For example, like after I scroll down and new contents are loaded.

I am thinking that the BlocListener is not called every time my Refresh event is triggered.

Here is the link to the page with the list view and RefreshIndicator: https://github.co

[2019-09-10 19:10] bigworld12 commented on #512
is TodoLoaded extending from Equatable ?

[2019-09-10 19:15] bigworld12 commented on #511
if you are using rxdart, you can replace `Stream<List<Todo>> todos()` function with a function of type
[`ReplaySubject<Todo>`](https://pub.dev/documentation/rxdart/latest/rx/ReplaySubject-class.html)
it will give you all the Todos that were passed

[2019-09-10 19:53] geegog commented on #512
@bigworld12

Yes it does.

[2019-09-10 22:14] felangel commented on #512
Hi @geegog 👋
Thanks for opening an issue!

It looks like it's because `Todo` does not extend `Equatable` so the bloc thinks that no state change has occurred.

[2019-09-10 22:19] geegog commented on #512
Hi @felangel

Thanks for your response.

My Todo class extends Equatable.

Here is a link to my Todo class: https://github.com/geegog/todo_flutter/blob/master/lib/task/domain/model/todo.dart

[2019-09-10 22:28] felangel commented on #512
@geegog no problem! I took a closer look and I believe it's because when you refresh, if the refreshed data comes back and is the same as the previous data then the bloc will think that no state change has occurred. In this case you should either add a unique identifier to the state so that every refresh state is different or you should just not extend Equatable for the TodosLoaded state. I would

[2019-09-10 22:38] geegog commented on #512
@felangel thank you for your response.

I works now!!! 👍

[2019-09-10 22:38] #512 closed

[2019-09-11 02:57] felangel commented on #509
Hi @bigworld12 👋
Thanks for opening an issue!

Can you elaborate a bit on your use-case? Generally, the bloc should react to events and emit states. Exposing events to the UI layer violates the paradigm. Thanks!

[2019-09-12 01:36] felangel commented on #511
Hi @FTholin 👋
Thanks for opening an issue!

You should be able to do something like:

[code]

Hope that helps! 👍

Also for future reference please try to avoid posted non-bloc-related questions here, thanks!

[2019-09-12 01:36] #511 closed

[2019-09-12 01:40] netfirms commented on #156
@ariefannur I'm facing same problem, can you share your fixed models?

[2019-09-12 06:02] dev-shanghai commented on #506
Thank you guys for providing correct and in accordance information.

[2019-09-12 06:29] Agic98 opened #514 "Accessing bloc as a property in child widgets"
Is there a way i could access a bloc in a child widget that contains BlocBuilder other then accessing it in a build method and retrieving it from context like this :

final T bloc = BlocProvider.of<T>(context);

[2019-09-12 06:51] bigworld12 commented on #514
there is only one way to access a bloc created from a BlocProvider
`BlocProvider.of<MyBloc>(context)`

[2019-09-12 13:42] mirkancal opened #515 "BlocProvider can't be assigned to the Widget error"
**Describe the bug**
I can't run flutter_complex_list example, it gives me this:
The argument type 'BlocProvider<Bloc>' can't be assigned to the parameter type 'Widget'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'examples/flutter_complex_list'
2. Click on 'Get Packages'
3. See error

There's no problem with Get Packages though,
[code]

**Expected behavior**
I didn't expect an erro

[2019-09-13 06:39] #515 closed, assigned to felangel

[2019-09-13 09:07] FTholin commented on #511
I post my solution for those who need to working deeper  on FirestoreTodos example.

[code]
Thanks again for your time guys.

[2019-09-13 13:09] felangel commented on #515
@mirkancal thanks for following up. The dart analyzer must’ve gotten into a weird state. Regarding the pub cache I just wasn’t sure how you had things setup locally 👍

[2019-09-15 00:53] gtxgat opened #516 "something went wrong with firebase auth and bloc"
**Describe the bug**
I was using your article on medium with(  flutter_bloc: ^0.11.0 ) and every thing was excellent.
But today I try to use your article which depend on (  flutter_bloc: ^0.21.0 ). And When app start the screen still white.
I do every thing twice and same problem

**Screenshots**
If applicable, add screenshots to help explain your problem.
** the error **
[code]

[code]

[code]

[

[2019-09-15 01:58] felangel commented on #516
Hi @gtxgat 👋
Thanks for opening an issue!

This is a duplicate of https://github.com/felangel/hydrated_bloc/issues/17. Hope that helps 👍

[2019-09-15 01:58] #516 closed

[2019-09-15 03:38] bernaferrari opened #517 "Cancel current operation on every event received. A generic approach."
Hi, I'm having a hard time trying to figure out how to cancel a stream when there is a new input/value changed/state changed. I understand this is a problem (probably) for dart.async, not bloc. But since I'm using blocs and blocs use them.. I ran into so many issues that I thought this might be a somehow frequent scenario and whatever you answer can help other people in the same situation in the `

[2019-09-15 03:41] felangel commented on #517
Hi @bernaferrari 👋
Thanks for opening an issue!

Have you tried overriding the `transformEvents` to force the bloc to use `switchMap`? This will tell the bloc to stop processing old events whenever a new event is received.

[code]

Let me know if that helps 👍

[2019-09-15 03:56] bernaferrari commented on #517
Wow, that is fantastic. I completely missed this operator. Solved my issue. Even simpler than I imagined. Thanks a lot!! I've been using bloc since your BMW presentation and I'm loving it!

[2019-09-15 03:56] #517 closed

[2019-09-15 18:11] DFelten opened #518 "MultiBlocProvider and lint rule always_specify_types"
Thanks for this great package. I love using blocs in Flutter with it! One question regarding the MultiBlocProvider and a lint rule:

Currently I'm not sure if it's possible to use the MultiBlocProvider with the lint rule `always_specify_types`. At least I'm not sure which types I have to specify here.

In this code snippet there is an dart analysis problem `Specify type annotations.` for the type

[2019-09-15 18:19] felangel commented on #518
Hi @DFelten 👋
Thanks for opening an issue!

If you really want to always specify types you can do:

[code]

I personally don't use that lint rule because I don't think it provides much value and just makes the code more verbose. You can always see what the type is in VSCode or Android Studio just by hovering over the instance.

Hope that helps 👍

[2019-09-15 18:19] #518 closed

[2019-09-15 18:26] DFelten commented on #518
Thanks for the quick response, this is working. The problem was a missing import. I had already tried this variant, but Bloc was unknown, which I didn't notice.

Maybe I should also think again if the rule makes sense for me.

[2019-09-15 19:14] felangel commented on #510
Seems like we have to maintain a separate plugin for WebStorm in order to resolve this and I personally don't think it's worth it.

The issue is IntelliJ Community, IntelliJ Ultimate, and Android Studio have Java support out of the box whereas looks like WebStorm does not ([source](https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000764084-ClassNotFoundException-for-PsiTreeUtilKt

[2019-09-16 01:12] imaffe opened #519 "[Discussion : Why pass repositories down to BLoCs from the top of Widget Tree]"
I noticed, in the [BLoC get started example: Login Page](https://felangel.github.io/bloc/#/flutterlogintutorial?id=login-page) We have code like this :
[code]
My question is, what is the considerations of putting a `userRepository` at the top of the app, and then pass the `userRepository` into blocs.  If I put the `userRepository` in LoginPageBloc's definition like
[code]
**What would be different

[2019-09-16 12:41] amreniouinnovent commented on #407
[code]

[code]
[code]

[code]

[code]

[2019-09-16 13:52] Freundschaft opened #520 "bloc dispatch delay"
Hi there,

I am using bloc to send events throughout my app after reading RFID tags from a hardware device. I'm not sure why, but it seems it takes an incredibly long time from the event dispatch, till the maptostate function is called.
the delayed dispatch events cause a problem in my app, because they arrive in my bloc, after the state of the application has already changed.
Is it possible to cl

[2019-09-16 21:43] Freundschaft commented on #520
ok I think I understand now, in mapEventToState, the end of the stream needs to be reached, for the next mapEventToState to be triggered, right?

[2019-09-17 00:48] felangel commented on #520
Hi @Freundschaft 👋
Thanks for opening an issue!

Yes, by default, a bloc will only start processing the next event once the current event has been processed. You can change this behavior by overriding `transformEvents` like so:

[code]

This will tell the bloc to stop processing old events whenever a new event is received. Hope that helps 👍

[2019-09-17 00:49] #520 closed

[2019-09-17 00:50] Freundschaft commented on #520
perfect, thanks!

[2019-09-17 02:27] felangel commented on #519
Hi @imaffe 👋
Thanks for opening an issue!

Regarding your question, there are several reasons why would shouldn't instantiate the `UserRepository` directly inside of you bloc:

1. **Separation of Concerns** -  If you inject `UserRepository` into the bloc rather than instantiating it, you can swap out implementations by having a common interface (abstract class) which you implement.

2. **Testabili

[2019-09-17 02:27] #519 closed

[2019-09-17 06:02] imaffe commented on #519
1 and 2 is really helpful for me understanding why DI is better in this case. For 3, I would implement Repository as a singleton so if I instantiate it in multiple places, I would have the same instance. Just for clarification in case someone else saws it. Your answer is really helpful and clear, thanks so much !

[2019-09-17 08:47] pczn0327 opened #521 "After catching error, flutter_bloc stop working"
**Describe the bug**
no detection on transition after catching error

**Expected behavior**
expecting user able to login even after catching error

**Screenshots**
![flutter_bloc_bug](https://user-images.githubusercontent.com/23042145/65026128-80ab9500-d96a-11e9-8dd4-2283d64921fd.gif)

**Additional context**
This was initially a flutter_web project, currently migrated to flutter after announcement

[2019-09-17 13:25] felangel commented on #521
Hi @pczn0327 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/115. Closing for now but feel free to comment with additional information if running in release mode doesn’t resolve the issue 👍

[2019-09-17 13:25] #521 closed

[2019-09-18 01:55] ViktorJasch commented on #497
Hello! Can you please explain what was that mistake? Or share code of this project. Project page is currently unavailable, but it interesting)

[2019-09-18 04:22] pczn0327 commented on #521
Thanks a lot @felangel ! That helps!
I would like to take this opportunity to thank you and your team (if any) for creating this superb library which make bloc a lot easier to execute and understand! Keep the good work!

[2019-09-18 11:02] vungocnamhust opened #522 "How to use bloc with grid view"
I have problem with my bloc in page: "gonowbus/lib/Page/scheme_seat"
- I have a bloc for updating price in bottomNavigatorBar
- I have an other bloc for each element in grid view
My problem: With grid view I want to get price in each element, then update for price totally in bottomNavigatorBar
There are 2 bloc builder so I don't know how to get data from grid view for data in bottomNavigatorBar
Pl

[2019-09-18 15:17] felangel opened #523 "[Proposal] Integrated Stream Subscriptions"
**Is your feature request related to a problem? Please describe.**
Currently, if I want to have a bloc react to a `Stream` of data, I need to inject the `Stream` into the bloc, create a `StreamSubscription`, react to the changes, and dispose of the `StreamSubscription`.

## Reacting to Changes in TodosRepository (Current)
Manually need to inject `TodosRepository` and manage `StreamSubscription`.

[2019-09-18 16:19] searchy2 opened #524 "Transform Events Based on Type"
How do you transform events only if they match a specific type in `transformEvents`?
Example:
In `mapEventToState`, you can map to different states based on the event type. Here, there is PostGetData, PostRefresh, and PostLike.
[code]
I need to debounce the PostLike event to prevent the user from hitting the like button too many times and spamming the server.
In `transformEvents`, you can debounce

[2019-09-18 16:27] nguyenhuutinh commented on #156
Hi @felangel , I faced this problem when I back and open screen again.
I need to call BlocProvider.of<ProductDetailBloc>(context).dispose(); it works but it throws exception
BlocProvider.of() called with a context that does not contain a Bloc of type
flutter: ProductDetailBloc.
flutter:         No ancestor could be found starting from the context that was passed to
flutter: BlocProvider.of<Product

[2019-09-18 18:28] AhmedMozaly commented on #524
You can give **whereType** a try
https://pub.dev/documentation/rxdart/latest/rx/Observable/whereType.html

[2019-09-18 18:34] searchy2 commented on #524
Thanks @AhmedMozaly for taking a look. The problem with whereType and filterBy is that it removes events that I still need.
My goal is to reach into the stream and only filterBy the specific event I want to debounce. Is that possible with a single stream?

[2019-09-18 18:45] AhmedMozaly commented on #523
One of selling point -at least for me- of your bloc implementation, is its simple mental model
currently, bloc has
* one input type which is Event
* one output type which is State
--
adding more input types (data that will be received from onData) may create confusion on where should I process bloc inputs
and will add more complexity for new people trying to learn how bloc works

My vote is to kee

[2019-09-19 00:57] gtxgat opened #525 "Can I Use Multiple BlocBuilder in same class"
**Describe the bug**
I used `Flutter_bloc for authentication with firebaseAuth `
. And now I used `Flutter_bloc for Changing Theme at run-time`
and these two blocBuilder exists in main class as shown bellow:

Code:
[code]

As shown I used bloc inside another bloc is there any problem ?
And thanks for your efforts.

[2019-09-19 01:02] bigworld12 commented on #525
it's ok I think, since they are different streams, but be aware that when the Theme bloc changes state, it will rebuild the entire widget tree (which is the intended behavior I guess? )

[2019-09-19 03:56] #522 closed

[2019-09-19 03:57] vungocnamhust commented on #522
I have done by using BlocProvider.value

[2019-09-19 04:13] felangel commented on #525
Hi @gtxgat 👋
Thanks for opening an issue!

As @bigworld12 mentioned, it's perfectly fine to nest `BlocBuilders` so long as you are intending the child of each `BlocBuilder` to re-render on each state change 👍

[2019-09-19 04:13] #525 closed

[2019-09-19 04:29] zaralockheart commented on #523
I never though of this scenario but I think this is actually good implementation, since developer don't have to inject it. Does this mean if I have more than one bloc to inject, with this proposed way, does it mean only this?
[code]

[2019-09-19 04:39] felangel commented on #524
Hi @searchy2 👋
Thanks for opening an issue!

Have you tried something like:

[code]

Hope that helps 👍

[2019-09-19 04:39] #524 closed

[2019-09-19 05:14] felangel commented on #523
@AhmedMozaly thanks for the feedback!

[2019-09-19 05:14] felangel commented on #523
@zaralockheart thanks for the feedback! Yes that's correct; you'd be able to chain subscribes 👍

[2019-09-19 08:22] CurrySenpai commented on #523
@felangel hello
I am still not convinced with this API, tomorrow I will analyze it well :)

I have a cases when I need to change the stream, for example when the user change the account.

In this case how can I change the stream?
[code]
This cancel the previous subscription of the same type before to subscribe to the new stream ?

[2019-09-19 09:13] AhmedMozaly commented on #523
Really glad @felangel for your following up with my comment
For me, it is not about the naming or OnData function signture
It's about the fact that we will have two entry points for the bloc

As I understand so far, the purpose of this proposal is to introduce a new function "OnData" that has one responsibility, To translate data received from steam subscription(s) into calls to "dispatch" functio

[2019-09-19 09:19] wojtczakmat commented on #523
I think @AhmedMozaly is right: the whole point about bloc package is to make these strong rules about input/output thing. And now adding these "convenient common-case methods" is breaking these rules + still it doesn't exhaust possible cases, because every bloc is different and developer wants it to behave in a bit different way.

[2019-09-19 13:03] vitor-gyant commented on #63
I know this is an old discussion but I found that https://dev.to/pedromassango/flutter-bloc-a-better-way-to-handle-navigation-4fig is a better way to manage this. Moreover, it allow us to apply logic before navigation is a centralised bloc and there is no need to manage reset state which IMO makes code hard to follow.

[2019-09-19 13:16] magillus commented on #523
I think that is great feature, would remove some boiler plate, specially with reusing state of other blocs.
As other mentioned BLoC is in/out for events/states, if we lock down on this only we would need to have subscriptions outside of the BLoc itself - I think about extension similar to translation layer.
Those translation layer would grab any `Stream` and produce events to dispatch to Bloc.

[c

[2019-09-19 13:50] jiyarong opened #526 "How can I get a global store(bloc) out of the widgets tree"
I want dispatch an event in my api_serivice.dart  when api response auth failed, just like
[code]

But I cannot get userBloc in my api_serivice.dart like
[code]
 I try to import a new Userbloc in my api_serivice.dart and I dispatch an event

[code]

But this Userbloc obviously not equal to another one

Please help me

[2019-09-19 14:49] bigworld12 commented on #523
I completely agree with this feature, it helps to standardize the way external streams are managed.
and I disagree with the claim that it might add complexity, it's actually the other way around.

as for the proposal itself, I think changing the names might be a good idea, e.g.
mapExternalDataToEvent instead of onData

which explicitly states that this method should only deal with the bloc through

[2019-09-19 14:55] bigworld12 commented on #523
I think we also need some way to distinguish between the subscriptions, having 2 streams of int for example there will be no way to tell which int came from which subscription,
so I suggest a tagging mechanism where you pass a tag object to the subscribe method, and pass that to the onData method .

[2019-09-19 15:03] bigworld12 commented on #526
business logic should be done in the BLoC (which actually stands for business logic component).
your api service is a provider, not a bloc, a bloc should use the provider and dispatch events accordingly.
check the architecture documentation here https://felangel.github.io/bloc/#/architecture

[2019-09-19 15:38] nguyenhuutinh opened #527 "onError Bad state: Cannot add new events after calling close"
Hi ,
I faced this error when visit page again
steps: open page -> back -> open page again

I read other guys asked about this error, but in my code I didn't dispose any bloc because I use BlocProvider in the routes config

[code]
And in your release blog I found that it is automatically disposed.

But if it is automatically disposed, how can I deal with above error. Thanks

[2019-09-19 16:26] searchy2 commented on #524
Thanks for your help! It seems I do need two streams; an extra one for the type I need to filter.

[2019-09-19 16:32] nguyenhuutinh commented on #527
I found the reason:

This is because I am using a Singleton bloc for the screen. So it is not getting initialized once the screen is going out of the Widget tree.

The bloc template from https://github.com/Gorniv/vscode-flutter-files uses singleton bloc.
I think it need to be updated.

[2019-09-19 17:11] #527 closed

[2019-09-19 17:28] felangel commented on #527
@nguyenhuutinh thanks for the update. I would recommend opening an issue on that repo as it is maintained by a third party. You can check out the [official vscode extension](https://marketplace.visualstudio.com/items?itemName=FelixAngelov.bloc) if you haven't already 👍

[2019-09-19 19:43] mateusfccp opened #528 "Provide a documentation on how to make animations with bloc"
It would be nice to have a section on homepage/documentation about animations. No matter how I tried, I couldn't use bloc with Animation, as Animations, by default, requires setState, which defeats the purpose of using bloc.

I managed to make some simple thinks with the "pre-made" animation widgets, like AnimatedContainer etc, but it does not have the same flexibility that using Animation and Ani

[2019-09-19 20:10] bigworld12 commented on #528
using setState isn't "prohibited" because you use bloc, it's simply only used for changing the UI state THAT ISN'T RELATED TO DATA.
it's ok to use setState for animations, since you are still in the UI layer.

[2019-09-19 23:18] felangel commented on #523
Thanks everyone for the input! After further discussion and consideration I'm closing this. I agree that we should strive to keep blocs simple and lean so for now I'll just focus on improving the documentation when it comes to dealing with subscriptions 👍.

Might revisit this in the future with a different proposal as a bloc extension rather than part of the core bloc library.

Again, I really app

[2019-09-19 23:18] #523 closed

[2019-09-19 23:29] felangel commented on #528
Hi @mateusfccp 👋
Thanks for opening an issue!

As @bigworld12 mentioned, blocs should be used for business logic. When it comes to animations, you likely don't need a bloc since there is no logic and can simply use an `AnimationController` and `setState` within a `StatefulWidget`.

If you do need to trigger animations based on some business logic you can use `BlocListener` to listen for state chan

[2019-09-19 23:29] #528 closed

[2019-09-19 23:32] felangel commented on #526
Hi @jiyarong 👋
Thanks for opening an issue!

To provide a global instance of a bloc you should use `BlocProvider` at the root of your widget tree

[code]

Then from anywhere in your app you can access the bloc via `BuildContext` like:

[code]

Hope that helps and as @bigworld12 mentioned, this is all covered in the [bloc documentation](https://felangel.github.io/bloc/#/coreconcepts) 👍

[2019-09-19 23:32] #526 closed

[2019-09-20 00:42] tanvi12 opened #529 "BlockLlistener response called continuously"
It is opening HomePage continuously.

import 'package:firebase_auth/firebase_auth.dart';
import 'package:flutter/material.dart';
import 'package:flutter/scheduler.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:flutter_interactive_app/HomePage/HomePage.dart';
import 'package:flutter_interactive_app/SignUpPage/signUp.dart';
import '../usermanagement.dart';
import 'login_bloc

[2019-09-20 00:47] #529 closed

[2019-09-20 02:50] jiyarong commented on #526
I cannot get context in my api_service.dart, that's the point

[2019-09-20 02:52] nguyenhuutinh commented on #527
yes, I already reported bug to him. thanks

[2019-09-20 02:58] felangel commented on #526
@jiyarong you should be injecting the bloc into your `ApiService` via the constructor.

[code]

[2019-09-20 05:02] jiyarong commented on #526
This is my main.dart
[code]
I got some errors:
I/flutter (11393): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (11393): The following assertion was thrown building Builder:
I/flutter (11393):         BlocProvider.of() called with a context that does not contain a Bloc of type UserBloc.
I/flutter (11393):         No ancestor could be

[2019-09-20 05:18] maxime-aubry opened #530 "mapEventToState is called once time"
Hello.

I try to create my first form.
I see that mapEventToState is called on time when i focus on a input, but nothing happens when a write some text into.

**Here is my screen :**
[code]

**Here is my input text:**
[code]
**Here is my bloc :**
[code]

As I said, mapEventToState is not called when I write some text.
Where is my misstake ?
Thanks :)

[2019-09-20 07:16] maxime-aubry commented on #530
mapEventToState is also called when i write the first character in my input.

[2019-09-20 07:22] bigworld12 commented on #526
why you have `builder: (_) =>` instead of `builder: (context) =>` ?

[2019-09-20 07:40] AhmedMozaly commented on #523
Super thanks @felangel for sharing proposals with us and continue discussions about
It seems that I'm not only enjoying working with bloc, but also enjoying its development process

Thanks again

[2019-09-21 18:50] felangel commented on #530
Hi @maxime-aubry 👋
Thanks for opening an issue!

Can you please provide a link to a complete sample app which illustrates the problem you're having? It would be much easier for me to help if I can run/debug the sample locally.

Thanks!

[2019-09-22 07:21] nguyenhuutinh opened #531 "Login with Firebase Auth Example"
Hi ,
did you try  Firebase Auth with bloc ?
because it use callback for response, I don't know how to use it with Future.

[code]
Thank

[2019-09-22 07:26] bigworld12 commented on #531
I worked with phone auth with bloc and firebase, the callbacks should be in the bloc and dispatch events

[2019-09-22 08:35] nguyenhuutinh commented on #531
thank you.

[2019-09-22 20:58] #531 closed

[2019-09-23 01:26] KexiHe opened #532 "flutter_weather is NOT updated to day?"
**Describe the bug**
I think source code which showed in the document is not consist with code in github.
By the way, I like the new version, it is so flexible.

**To Reproduce**
Document
https://felangel.github.io/bloc/#/flutterweathertutorial?id=weather

github Source
https://github.com/felangel/bloc/blob/master/examples/flutter_weather/lib/widgets/weather.dart
Line: 59~77

[2019-09-23 02:20] felangel commented on #532
Hi @KexiHe 👋
Thanks for opening an issue and for the positive feedback!

Regarding your question, I’m not sure I understand what’s outdated in the documentation. I believe the BlocListener code you’re referring to on lines 59-77 is included in the [Dynamic Theming](https://felangel.github.io/bloc/#/flutterweathertutorial?id=dynamic-theming) section of the documentation (you’ll have to scroll down

[2019-09-23 02:43] KexiHe commented on #532
Thank you for your speedy response!

I mean the content of class Weather is different.
I realized that they are two different implementation. In the tutorial, class Weather extends StatelessWidget, in github, class Weather extends StatefulWidget. Maybe they get the same result.

[2019-09-23 03:03] felangel commented on #532
@KexiHe no problem! Did you go through the entire tutorial? The `Weather` class only starts of extending `StatelessWidget` initially. Towards the end of the tutorial when it goes into [pull to refresh](https://felangel.github.io/bloc/#/flutterweathertutorial?id=pull-to-refresh), the `Weather` class gets refactored into a `StatefulWidget` in order to manage the `Completer`. Let me know if that help

[2019-09-23 03:11] nguyenhuutinh commented on #531
hi @bigworld12
I tried with StreamController but in case I make a dispatch again. It didnot work.
Do you know why? thanks

[code]

[2019-09-23 07:15] bigworld12 commented on #531
why did you create a stream controller when you can use
dispatch(RegisterStateLoaded(phoneCodeSentModel.verificationCode));

[2019-09-23 08:21] nguyenhuutinh commented on #531
because I need to create another event for it. we cannot use streamer inside mapEventToState?

[2019-09-23 08:27] bigworld12 commented on #531
oh I didn't notice that was a stream of states,
well yes, you need to create events.
Bloc is already a stream of states, that's what mapEventToState is for, it responds to events fired from dispatch, and yields states as an output

[2019-09-23 10:54] Mishanya840 opened #533 "Equals of currentState and nextState by hashCode"
**Is your feature request related to a problem? Please describe.**
A problem with storing mutable objects in a State (list, map).
When we work with the currentState, we can change it if it contains collections.
Thus, we will change the currentState, which causes another problem, during the creation of a new state by changing the old we received two equivalent states
It’s clear that these are mista

[2019-09-23 14:43] theweiweiway commented on #251
Hey, i'm actually having the same problem of setting initialState based on an asynchronous function. What was your solution @nhwilly?

[2019-09-23 14:50] bigworld12 commented on #251
answer is simple, don't.
your initial state should be fast to create.
you can dispatch an event to move from initial state to another state based on that asynchronous function

[2019-09-23 15:05] theweiweiway commented on #251
I see. Thank you!

[2019-09-23 15:06] nhwilly commented on #251
@theweiweiway I can't remember exactly (I had to step away to work on the back end for a couple of months), but I think @bigworld12 has it right.

I ended up with dependent blocs listening to other blocs and simply dispatched something to the `DeviceRegistrationBloc` to load it up.  The other blocs picked up the change when the `DeviceRegistrationBloc` issued a `DeviceRegistrationLoaded` message.

[2019-09-23 15:17] bigworld12 commented on #533
having mutable states is bad design pattern, states should mainly be a notification for the UI, not carry actual data.
the mutable data should be stored in a repository, not get carried around in states.
check the architecture here : https://felangel.github.io/bloc/#/architecture

[2019-09-23 15:54] Mishanya840 commented on #533
@bigworld12, i am making an intermediate state block like this (https://github.com/felangel/bloc/blob/master/examples/flutter_todos/lib/blocs/filtered_todos/filtered_todos_state.dart#L16)

In your example, you had this problem, but solved it like this (https://github.com/felangel/bloc/blob/master/examples/flutter_todos/lib/blocs/todos/todos_bloc.dart#L47). I used immutable states, but a collection

[2019-09-23 15:58] bigworld12 commented on #533
you can have an immutable list
https://api.dartlang.org/stable/2.5.0/dart-core/List/List.unmodifiable.html
but if you want to use list anyway, just add a timestamp to the state, so that everytime you get the list, the date changes.

[2019-09-23 15:59] bigworld12 commented on #533
also note that the samples are just a quick guide on what you can do, they don't employ any design patterns

[2019-09-23 17:30] Mishanya840 commented on #533
But I want to compare my states by data inside. Timestamp it is bad solution in my opinion.

what do you think of hashcode comparison?

globally, I think using mutable lists in a state is a normal situation in development, you just need to consider this in the bloc implementation. Would you disagree with this? use mutable lists in states is that bad?

[2019-09-23 18:23] mariaszek9003 commented on #497
@ViktorJasch Hi! Sorry for late response. The cause of the problem was double slash that I made in importing statement in LoginPage file:
[code]

[2019-09-23 18:26] bigworld12 commented on #533
i do disagree, states should be immutable and equatable, they should be fast to create and carry as little data as possible.
if you have mutable/large data, put them in a repository and let the state describe the changes to this data.
don't forget that flutter works by rebuilding the UI each change, so if you are going to rebuild the ListView anyway, why not just refer to a single location contain

[2019-09-23 19:02] Hacker-CB commented on #533
@bigworld12, I'm fully agree with you, that all data in state should be immutable.
It is impossible in Dart to create immutable List/Map and check it at compile time.

`List.unmodifible()` will be checked only in runtime and it is problem. It is very easy to make mistake inside Bloc logic and to call `currentState.list.add(xx)` instead of `List.of(currentState.list).add()`.

I have tried to find d

[2019-09-24 00:20] felangel commented on #530
Closing for now but feel free to comment with a link to a sample app and I'm happy to help 👍

[2019-09-24 00:20] #530 closed

[2019-09-24 00:21] felangel commented on #532
Closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2019-09-24 00:21] #532 closed

[2019-09-24 00:30] felangel commented on #533
Hi @Mishanya840 👋
Thanks for opening an issue!

Regarding your question, bloc is built on the assumption that all state must be immutable. Your proposal to use `hashCode` to workaround mutating state is not a valid proposal because by definition:

([source](https://api.dartlang.org/stable/2.5.0/dart-core/Object/hashCode.html))

As it stands, bloc internally compares `currentState == nextState`. If

[2019-09-24 00:31] #533 closed

[2019-09-24 00:33] felangel commented on #531
@nguyenhuutinh have you taken a look at the [Firebase Login Tutorial](https://felangel.github.io/bloc/#/flutterfirebaselogintutorial)?

[2019-09-24 06:48] Mishanya840 commented on #533
Hi @felangel, I think we have a misunderstanding.
The idea is to save the hashCode when the State first appears in the block, and compare this hashCode with the hashCode of the new state.Look at this, please https://github.com/tvip/bloc/commit/41d735b85e7d5474e43ea34ba4aea17130474e4c#diff-3f8ab4914c19c62cee0817498efb5cd0R141

[2019-09-24 07:16] bigworld12 commented on #533
"and compare this hashCode with the hashCode of the new state."
if the hash codes are equal, then the properties are equal.

[2019-09-24 07:17] Bryanmuloni commented on #139
Hi @felangel, first I appreciate your efforts with the team about Bloc indeed it's a great package from its approach of identifying events, states and seperation of business logic from the UI. Have been going through the documentation example flutter_weather but I get this error below:-
BlocProvider.of() called with a context that does not contain a Bloc of type WeatherBloc.
No ancestor could be f

[2019-09-24 07:19] lewcianci commented on #139
@Bryanmuloni Sometimes that can happen if you don't specify the type arguments in the BlocProvider.  Can you post the bloc code?

[2019-09-24 07:31] Mishanya840 commented on #533
Ok, thanks @bigworld12 and @felangel! I will use immutable collections in my states

[2019-09-24 07:48] Bryanmuloni commented on #139
@lewcianci, as I said, am new to Dart and Flutter just exploring the framework, the error I get is on this line from the weather.dart class in the bloc example tutorial from the documentation. Check out this line if possible I can provide the link to the whole class:
 final weatherBloc = BlocProvider.of<WeatherBloc>(context);

[2019-09-24 16:24] Hacker-CB opened #535 "Question: How to change bloc state without event?"
For example, I have bloc which should periodically check for new messages:

[code]

I have only one idea with the internal private event:

[code]

So, is it good way or not?

P.S. Of cause this can be other type of the bloc, for example, websocket bloc, which connects to the Serber and just wait for new messages without polling.

[2019-09-24 16:46] reignierleo opened #536 "Complete State reloading when using Flutter Navigation"
Hey everyone;
I hope anyone can help me, my problem is the following:
I build an Application based on the flutter_bloc package.
My "TOP State" is the authentification State. And I then have multiple States under this one. When I am using the Flutter Navigation feature anywhere in the app, so I am calling:
[code]
So I am pushing a new route on the top of the stack, the complete Tree under the authe

[2019-09-24 16:48] bigworld12 commented on #536
are you using BlocBuilder at the top of the tree?

[2019-09-24 16:52] bigworld12 commented on #535
no, states should only get changed through events.
create an event that takes your message, then dispatch it.
then in `mapEventToState` respond to this event by changing the repository and yielding a new state.

[2019-09-24 17:17] reignierleo commented on #536
Yes I am, at least the one for the Authentification State.

[2019-09-24 17:26] felangel commented on #535
Hi @Hacker-CB 👋
Thanks for opening an issue!

As @bigworld12 mentioned, anytime you want to trigger a state change you must dispatch an event. As a result, you can poll or listen (if you use Streams) for messages and then dispatch a `MessageReceived` event which contains the message as a property.

You might want to check out the [flutter timer tutorial](https://felangel.github.io/bloc/#/flutterti

[2019-09-24 17:26] #535 closed

[2019-09-24 17:41] felangel commented on #536
Hi @reignierleo 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the problem you're having as well as what you would like to happen. It will make it much easier for us to help 👍

Thanks!

[2019-09-24 17:41] Hacker-CB commented on #535
Thank you!

[2019-09-25 02:47] felangel commented on #494
Hey @guitcastro and @timrijckaert I'm not sure how to proceed because I think if this change is made, it should be done in the core bloc library rather than at the flutter layer. The problem is I have not found a reliable way in all platforms (Dart CLI, Flutter, AngularDart) to detect whether the app in running in release/debug mode. Furthermore, it seems like a Dart CLI application until recently

[2019-09-25 09:56] themanol opened #537 "BlocBuilder is not calling build"
I am using bloc to load a list of products, but the Build inside bloc builder is not being called when I yield the same state with different list of products.

So when I am already on PoductLoadedState, and I call _mapProductQuantityUpdatedToState
a new PoductLoadedState is being yield, but the builder inside the BlocBuilder is not being called.

This is my Screen:
`class ProductListScreen extends

[2019-09-25 10:24] pczn0327 opened #538 "[Feature Request] MultiBlocBuilder"
Sometimes I would need to access different blocs in the same widget, and the code goes pretty messy. I am thinking maybe we can have something like `MultiBlocBuilder` which serve the similar purpose of `MultiRepositoryProvider` and `MultiBlocProvider`.

[2019-09-25 14:13] theweiweiway commented on #134
Hi everyone, great thread going on here. I'm having issues similar to the ones discussed.

I'm trying to show 1. snackbar and 2. showDialog in response to state changes with bloc Listener.
The problem I'm having is that the showDialog will occur, but it won't automatically close itself when the state changes. Here's my code:

[code]

I've also tried doing
[code]
but it didn't do anything either to

[2019-09-25 22:58] theweiweiway commented on #134
Sorry, turned out this was a problem of how the dialog works when it opens and closes. I needed to Navigator.pop(context). Everything worked fine when I added a condition to my BlocListener like so:

[code]

[2019-09-26 05:34] felangel commented on #538
Hi @pczn0327 👋
Thanks for opening an issue!

This has been brought up in the past but we have decided against it for [several reasons](https://github.com/felangel/bloc/issues/428).

Can you please provide some use-cases? If there are valid use-cases and enough people would benefit from it, then I'm open to including it. Thanks 👍

[2019-09-26 05:38] felangel commented on #537
Hi @themanol 👋
Thanks for opening an issue!

If I had to guess, it looks like the `final List products;` in your `ProductsLoadedState` is of type `dynamic`. Can you please update it to have an explicit type like:

[code]

Also, make sure whatever type you're using is also extending `Equatable` and passing all properties to the superclass.

If that doesn't help then can you please provide a link to

[2019-09-26 05:38] felangel commented on #536
Closing for now but feel free to comment with additional information and I'm happy to continue the conversation 👍

[2019-09-26 05:38] #536 closed

[2019-09-26 08:47] nguyenhieu283 opened #539 "can't dispatch event with error: Bad state: Cannot add new events after calling close"
I dispatch a new event but got this error when "_eventSubject.sink.add(event)" called in **dispatch()** method in bloc.dart file

[2019-09-26 09:15] nguyenhieu283 commented on #539
Hey bro! I just resolve this problem by adding ** await _eventSubject.drain();
    await _stateSubject.drain();** in **dispose()** method in bloc.dart file. I'm not sure that is good practice. But at that time, i only found this solution

[2019-09-26 09:26] pczn0327 commented on #538
Hi @felangel , I can't tell you the exact use case, but I've simulated similar use case in [this repo](https://github.com/pczn0327/MultiBlocBuilder-Use-Case).

Use case usage comes from different form is rendered based on input from user.

I hope that helps.

[2019-09-26 14:41] henriquearthur commented on #538
I'm facing the same problem on my project. I believe only apps from medium-large complexity faces this.

From @pczn0327 example:

[code]

This can get worse when we have to do a few `if`s to check for current state. A `MultiBlocBuilder` would make the code more readable.

In the meantime, or in case `MultiBlocBuilder`  doesn't get implemented, do you recommend any approach when using multile blocs

[2019-09-27 00:35] felangel commented on #539
Hi @nguyenhieu283 👋
Thanks for opening an issue!

This means that you are dispatching an event after dispose has been called. Can you please share the link to a sample app which illustrates the problem you're seeing?

Adding `drain` would prevent the error but it is masking the actual issue.

[2019-09-27 00:37] felangel commented on #494
Marking won't fix for now for lack of a universal solution. If anyone has suggestions feel free to comment and I'm happy to reopen this 👍

[2019-09-27 00:38] felangel commented on #537
Closing for now but feel free to comment with additional questions/comments and I'm happy to continue the conversation 👍

[2019-09-27 00:38] #537 closed

[2019-09-27 02:01] nguyenhieu283 commented on #539
Firstly, I dispatch a LoginEventViaGoogle() event to AuthBloc and yield AuthenticatedState after login success and immediately change Login screen to User screen. It work  perfectly. But after that i want to dispatch LogoutEvent() to return User screen and get an above error. Also, i don't call bloc.dispose anywhere in my app.

[2019-09-27 02:03] felangel commented on #539
Can you share the link to the application or a sample which illustrates the problem? Blocs are disposed automatically by `BlocProvider` so the problem might have to do with where in the tree the bloc is being provided.

[2019-09-27 02:20] nguyenhieu283 commented on #539
I really want to share the link for you. But i can't because this project is company private. Sorryyy.
I only describe you about this. I have a home widget where init _authBloc. In this Home widget i provide this _authBloc to child widget (AccountScreen widget) . An in AccountScreen i get _authBloc via **Provider.of<>.** command. After that i dispatch  LoginEventViaGoogle() and yield Authenticated

[2019-09-27 02:26] felangel commented on #539
Can you build a super simplified version of your application that illustrates the problem you're having? If you're using the same code as the samples can you reproduce it in the samples? It's really hard to help without seeing the code unfortunately.

[2019-09-27 02:56] nguyenhieu283 commented on #539
Here is my sample. Can you see it?  [https://github.com/nguyenhieu283/test-app](url)

[2019-09-27 03:26] felangel commented on #539
Yup I can see it but it doesn't compile. Either way I have noticed several things you should address:

1. You're instantiating `Blocs` directly inside of `StatelessWidgets` which you should not do.

Instead of:

[code]

You should instantiate your blocs inside of the `builder` method of `BlocProvider` like:

[code]

2. On lines 28 and 36 of `home.dart` you are using `BlocProvider` with a `builder`

[2019-09-27 03:26] #539 closed

[2019-09-27 03:57] nguyenhieu283 commented on #539
Thank you!! But it not working as expected

[2019-09-27 04:00] felangel commented on #539
No problem! Have you made sure that you are only creating blocs inside of BlocProvider's builder? Also, please make sure you're not returning existing bloc instances within BlocProvider's builder (it should always only return a new bloc instance).

[2019-09-27 15:55] themanol commented on #537
Thanks, I think it was the problem the dynamic types.
Thanks for answering.

[2019-09-28 03:33] imaffe opened #540 "[Bug Or Misunderstanding] Missing parameter bloc in Login Example"
**Describe the bug**
When I read the example code on [Bloc Login tutorial](https://felangel.github.io/bloc/#/flutterlogintutorial) here :  I found in the **Putting it all together** Chapter, when you initialize MaterialApp like this
[code]

 And under the `BlocBuilder`, you didn't specify the bloc to use like

[code]

EDIT :I just saw  #479 and it didn't understand why we can ignore bloc. Cuz my l

[2019-09-28 03:36] imaffe commented on #540
There would be also a follow up quesion about `The argument type 'AuthenticationBloc' can't be assigned to the parameter type 'Bloc<AuthenticationBloc, AuthenticationState>'` But I will create another issue for this to let others see it.

[2019-09-28 09:06] mpivchev opened #541 "type '_TypeError' is not a subtype of type 'Exception'"
I have an Error being thrown somewhere in my code, however it seems like it's getting handled by Bloc which only works with Exceptions and not Errors, so I can't see the Error stacktrace.

![image](https://user-images.githubusercontent.com/6960329/65814277-ee17bb00-e1df-11e9-9f73-0d6787f294b9.png)

[2019-09-28 16:36] scarletteliza commented on #540
you're using an outdated version -- v 0.20.0 introduced automatic bloc lookup. documentation always references the latest version so you should probably update.

[2019-09-28 16:57] imaffe commented on #540
Thanks so much for this, closing the issue.

[2019-09-28 17:00] imaffe commented on #540
Also I found another place didn't use this autodiscovery :
Under the same page, in `Login Form` chapter.
[code]

It can probably be updated to the newest version, as they are likely using inconsistent version.

[2019-09-29 03:22] imaffe opened #542 "Access BLoc without specify bloc field in BlocBuilder() after 0.20.0"
I noticed after upgrading 0.20.0 , we can use BlocBuilder without specify `bloc` field, and use it directly like this :

[code]
But how do we get a reference to the bloc object if we want to `dispatch` a new event like this :
[code]
Do I use `BlocProvider.of<BlocA>(context))` ? Is there any way to expose this field like `currentState` with the builder? Wondering how to do this.

Thanks so much Fel

[2019-09-29 16:39] felangel commented on #540
Hi @imaffe thanks for pointing that out! It has been fixed in https://github.com/felangel/bloc/commit/b0490bfdfc62fa83f298fefcd12d0d02f6c61963

[2019-09-29 16:39] #540 closed

[2019-09-29 16:46] felangel commented on #542
Hi @imaffe 👋
Thanks for opening an issue!

As you mentioned, `BlocBuilder` automatically handles looking up the bloc internally but if you want to dispatch events, you still have to get your own reference to the bloc via `BlocProvider.of<BlocA>(context)`.

We have discussed the possibility of including the dispatch in the builder but have decided not to mainly because it would make things a bit mo

[2019-09-29 16:46] #542 closed

[2019-09-29 16:59] imaffe commented on #540
Thanks Felix ~

[2019-09-29 17:16] youssef-md opened #543 "What design patter BLoC abstracts ?"
Good afternoon, I'm taking a class in Architecture and Software Design and we are building an app with Flutter and we decided to use BLoC for the rich and nicely done structure. When I was studying it I realized that the concepts and some of the code written is very similar to Flux pattern.
For this class we have to use some of the known design patterns, so since we are using BLoC I wanted to know

[2019-09-29 17:20] bigworld12 commented on #543
bloc, mvvm, flux, and many more, are patterns that separate ui from business logic.
so there is bound to be similarities between them, but each has its own way of doing things

[2019-09-29 17:36] youssef-md commented on #543
So BLoC is pattern of its own or is an abstraction of some of the known design patterns, or both?
btw, thanks for the answer

[2019-09-29 17:42] bigworld12 commented on #543
if i had to pick one, i would say bloc is an implementation of MVVM

[2019-09-30 03:53] felangel commented on #541
Hi @mpivchev 👋
Thanks for opening an issue!

I tried reproducing this but was unsuccessful. Can you please provide the link to a sample app which reproduces the problem you're having?

Thanks!

[2019-09-30 03:55] felangel commented on #543
Hi @youssef-md 👋
Thanks for opening an issue!

The bloc library is an interpretation of the BLoC design pattern and shares characteristics with MVVM, Flux, and Redux 👍

[2019-09-30 03:55] #543 closed

[2019-09-30 10:26] nicktran29 opened #544 "bloc/examples/flutter_firebase_login/lib/register/register_form.dart fails"
**Describe the bug**
After successfully registering a new user, the form is unable to access AuthenticationBloc.
bloc/examples/flutter_firebase_login/lib/register/register_form.dart
[code]

This is because navigating to this page from the login page has result in the loss of the current context.
https://github.com/felangel/bloc/blob/master/examples/flutter_firebase_login/lib/login/create_account_b

[2019-09-30 12:42] fl0cke opened #545 "Combined BlocBuilder/Listener"
**Is your feature request related to a problem? Please describe.**
I often find myself in the situation where I need both bloc builders and bloc listeners in the same widget tree, e.g. for showing a loading indicator (builder) and displaying a snackbar on success (listener).

**Describe the solution you'd like**
A BlocBuilderListener Widget that accepts both a builder function and a listener would

[2019-09-30 13:40] joakiti commented on #502
Helped alot! Thanks Felix.

[2019-09-30 22:27] guybashan opened #546 "ListView animations with BlocBuilder"
Hi Alex,
I am not sure if this is a feature directly related with flutter_bloc or there is some other way of achieving it: is there any way showing add/remove animations for ListView used with BlocBuilder?

Thanks,
Guy

[2019-10-01 03:28] felangel commented on #544
Hi @nicktran29 👋
Thanks for opening an issue!

Unfortunately, I was unable to reproduce the issue you're describing. There shouldn't be a problem accessing the `AuthenticationBloc` because it is provided above the `MaterialApp` making it globally accessible (even across routes).

Can you please confirm that you're running the example app without any local modifications?

Closing for now but feel f

[2019-10-01 03:28] #544 closed

[2019-10-01 03:34] felangel commented on #545
Hi @fl0cke 👋
Thanks for opening an issue!

Can you please elaborate a bit on why you say this would reduce the clutter in your code?
If I'm understanding correctly, you're proposing to go from:

[code]

to

[code]

I personally don't think it's cluttered as is and I'd be more concerned about confusing people because it isn't immediately obvious what `BlocBuilderListener` would do.

Thoughts?

[2019-10-01 03:37] felangel commented on #546
Hi @guybashan 👋
Thanks for opening an issue!

I don't think this question is bloc-specific. You can check out this [medium article](https://medium.com/@wiltonrcn/flutter-animation-in-listview-207070e58b6) on one way to achieve this. The only thing you'd need to do to wire up the animation to a bloc is use `BlocListener` to listen for state changes and the interact with your `AnimationController` a

[2019-10-01 03:37] #546 closed

[2019-10-01 03:38] felangel commented on #541
Closing for now but feel free to comment with additional information/reproduction steps and I'm happy to continue the conversation 👍

[2019-10-01 03:38] #541 closed

[2019-10-01 03:40] felangel commented on #510
Closing for now since supporting all these different plugin environments looks like a high effort/low value scenario. If anyone is familiar with WebStorm plugins and wants to contribute, please feel free 👍

[2019-10-01 03:40] #510 closed

[2019-10-01 09:27] fl0cke commented on #545
Hey @felangel,
Thanks for the quick reply!

Yes, that's exactly what the proposed BlocBuilderListener would look like. Alternatively, we could add an optional `listener` parameter to the `BlocBuilder` to avoid introducing a new widget.

I agree that it's not that much clutter, but when i look at my usage of the two BlocX widgets, i often find myself using either just a `BlocBuilder` or a `BlocBuil

[2019-10-01 14:30] vitor-gyant opened #547 "Chaining actions after dispatch"
I've several situations where I want to chain some action after a given event is actually processed. Since dispatch does not return a future my workaround is to send completion callbacks on each event.

IMO, allowing dispatch to return a future which is completed when mapEventToState returns could be a good design.

Anyone with similar needs ? thanks.

[2019-10-01 20:45] Viktoorrocha commented on #255
@francobellu  How did you remove the files?

[2019-10-03 04:00] felangel commented on #547
Hi @vitor-gyant 👋
Thanks for opening an issue!

Unfortunately, I don't think this is possible because there isn't a good way to know when a dispatch has "finished". Bloc streams are constantly open and emitting new states and for a given event multiple states can be emitted. This means that internally a bloc can't tell if it's done processing an event because it can't make the assumption that once

[2019-10-03 04:00] #547 closed

[2019-10-03 05:37] felangel commented on #505
**Update**: I'm going to start putting together a roadmap on the [wiki](https://github.com/felangel/bloc/wiki/Roadmap) over the next few days.

[2019-10-03 07:13] DanT29 opened #548 "Form is not getting updated with initial values from shared preferences repository, when fetch event is dispatched."
I hope it's ok to post my question here, not sure if you'd catch this on gitter with the amount of messages. I'm currently trying to implement an update user form where it loads initial values from a shared preferences repository class then you can update it after. Currently to test it out, I have a register/login page after that is successful, user data is saved into shared preferences via the cu

[2019-10-03 09:30] prasant10050 opened #549 "TabBar sample"
How can we do handle state management with tabBar in flutter?Please upload a simple basic example where there are two tabs one tab showing seven days and seconds tab is showing 1 to 30 date's value,
it's urgent for my production app

[2019-10-03 20:36] felangel commented on #548
Hi @DanT29 👋
Thanks for opening an issue!

I'll take a look shortly 👍

[2019-10-04 01:48] nicktran29 commented on #544
Hi @felangel,

Thanks for looking into this.

My issue was I provided the bloc inside MaterialApp. So I guess my question is what do I need to do in order to access a bloc provided to a widget that I'm navigating away from?

Cheers.

[2019-10-04 01:59] nicktran29 commented on #544
Don't mind me I found the way in your recipe. Great lib and documentation! https://felangel.github.io/bloc/#/recipesflutterblocaccess

[2019-10-04 03:51] ThinkDigitalSoftware opened #550 "[Feature Request] Add eventStream to bloc"
There are many potential uses for this. If I'm being lazy and need to describe one, let me know :D

[2019-10-04 03:55] felangel commented on #550
Hey @ThinkDigitalSoftware 👋
Thanks for opening an issue!

This was intentionally removed from bloc. You can check out https://github.com/felangel/bloc/issues/326 for more details.

Closing for now but feel free to comment with additional info if you feel strongly about adding it back 👍

[2019-10-04 03:55] #550 closed

[2019-10-04 04:40] felangel commented on #548
@DanT29 can you override `onTransition` and print the transitions in `UpdateUserBloc` and confirm whether or not a transition occurs after the first tab loads? Thanks!

[code]

[2019-10-04 04:46] felangel commented on #549
Hi @prasant10050 👋
Thanks for opening an issue!

Can you please provide some more information/example of what you're trying to build? I'm not sure why you need a bloc for a TabBar. You can have a bloc manage the state of each tab and wrap the tab in `BlocProvider` like so:

[code]

Hope that helps 👍

[2019-10-04 04:46] #549 closed

[2019-10-04 07:09] prasant10050 commented on #549
Hi,
First of all thank you that you have given me the reply. I liked your
package very much and I am using it but sometimes I have been facing issue
like this issue and am using your package at my own risk in production app
of company,
 Now I test that only what you have answered can solve my issue.i will
reply you.

Again thank you.

On Fri, Oct 4, 2019 at 10:16 AM Felix Angelov <notifications@gi

[2019-10-04 07:37] prasant10050 commented on #549
HI,
In your example i have added on icon button on app bar which call a dialog
box where I go from a dialog box with a radio button to another screen, and
then come again from that screen Then the dialog box is not opening again.
I am opening the dialog box with Schedule Binding and all naviagtion and
pop method is called under Schedule Binding.Please fix my issue.

On Fri, Oct 4, 2019 at 10:16 AM

[2019-10-04 13:18] felangel commented on #549
@prasant10050 can you please share a the complete code which isn’t working for you?

[2019-10-04 16:18] prasant10050 commented on #549
I haven't share the code because it's completely against company protocol,
I have only share the situation what am I facing

On Fri, 4 Oct, 2019, 6:48 PM Felix Angelov, <notifications@github.com>
wrote:

[2019-10-04 16:54] felangel commented on #549
@prasant10050 can you create a simple example? I don't need to see the company code, I just want to see a super app which illustrates the same problem you're facing. Thanks!

[2019-10-04 17:35] DanT29 commented on #548
Hi @felangel

I overrided the `onTransition` on `UpdateUserBloc` below is my output in the debug console right after register button is pressed, I also added a print statement inside my `_mapInitializeUpdateUserFormToState()` function in `UpdateUSerBloc` to print the `firstName`, `lastname`,` handle` and `userId` from shared preferences they came out null, except the `userId` (you can see below).

[2019-10-04 17:46] prasant10050 commented on #549
Sure!

[2019-10-04 18:21] prasant10050 commented on #549
The first screen has two, and each tab has a list of data.The list of data has two parts, the first header and the second its child inside that header,There is an add and delete button in the header section, a dialog box opens upon pressing the add button,The dialog box has two or three testfields and a submit button, after pressing the submit button, the data of the text field becomes the child o

[2019-10-04 18:56] felangel commented on #549
@prasant10050 thanks for the explanation but can you please create a sample flutter app that reproduces the issue and share the link with me? It's very hard to help without that.

[2019-10-05 02:20] DanT29 commented on #548
@felangel
I solved the problem by putting ` await`  before my function call to save to SharedPreferences in my register bloc! Such a silly mistake. Sorry for the hassle! I appreciate your amazing work with the flutter_bloc library!!

[2019-10-05 02:20] #548 closed

[2019-10-05 05:41] felangel opened #551 "New Bloc Logo"
If there are any designers out there who are willing to put out some proposals for a shiny new bloc logo it would be much appreciated!

[2019-10-05 22:10] Sach97 commented on #551
What do you think of that [one](https://app.brandmark.io/v2/?name=logo-icon-replacement&iconId=2498305&iconColor%5Bhex%5D=%23184473&title=Bloc&tagline=Predictable+state+management+library&nthChar=2&titleFamily=Phenomena&titleVariant=200&taglineFamily=Fira+Sans+Condensed&taglineVariant=400&titleScale=4.232481069007509&taglineScale=0.75&titleColor%5Bhex%5D=%23ffffff&taglineColor%5Bhex%5D=%23ffffff&b

[2019-10-05 23:57] jorgecoca commented on #551
@felangel do you have a vision for it? To me, `bloc` inspires building blocks, like Legos or something, and since this library is a fundamental piece of your puzzle (aka, your app), I think something going in that direction might be interesting...

[2019-10-06 11:37] Sach97 commented on #551
@jorgecoca [something](https://www.figma.com/file/bHwrTnNSaq2lzcgBik4AxD/Untitled?node-id=1%3A2) along those lines ?

[2019-10-06 12:41] fabryx92 opened #553 "[Docs error] Wrong BlocListener signature in Flutter Bloc Core Concepts page"
This is what in the page https://github.com/felangel/bloc/blob/master/docs/flutterbloccoreconcepts.md#blocprovider:

[code]

Shouldn't be like this?

[code]

[2019-10-06 19:13] felangel commented on #553
Hi @fabryx92 👋
Thanks for opening an issue!

The documentation is correct in this case. I think you are probably still using an older version of `flutter_bloc` but in v0.20.0 the signature changed in order to allow for automatic bloc lookup 👍

Hope that helps!

[2019-10-06 19:13] #553 closed

[2019-10-06 19:45] prasant10050 commented on #220
I have four screens, in the first screen I move one screen to second screen with icon button which has added in App bar.The second screen also opens a simpledialog where two options are available, the first option is to go to the third screen and second option for fourth screen. Simple DialogBox has also open by Icon button of app bar from second screen .When I go to the third screen and come back

[2019-10-06 19:51] felangel commented on #220
@prasant10050 it doesn't sound like you need bloc for the experience you're describing. There is no business logic in that flow so you can just use the `Navigator` in the `onPressed` callbacks to accomplish the flow.

[2019-10-06 20:22] felangel commented on #551
@jorgecoca I think something along those lines makes sense but I'm also open to anything. Ideally, I was envisioning that various people could submit their proposals and then I could pick the top 3 and have the community vote.

[2019-10-07 06:04] shamnex commented on #551
I'll see what I can come up with during the week...

[2019-10-08 13:13] lambasoft opened #555 "Send bloc to Navigator.push"
Hello,
I'm having a problem in my app, which is using the latest version of flutter_bloc.
I have a page ("/cards"), that contains a ListView of cards, and when you click on a card, Navigator.push opens a new page ("/cards_details") where the user gets to write notes on the card, press save. When the user presses save, the page closes (Navigator.pop).

'CardsBloc' has two events:
1. FetchCards
2. V

[2019-10-08 13:13] lsaudon commented on #551
I was thinking about the origami of a cube with the colors of flutter but I'm not good at drawing.

![image](https://user-images.githubusercontent.com/25029876/66398484-1e303c80-e9de-11e9-9de3-94904e01e63a.png)

[2019-10-08 13:38] maheshkumar2150 opened #556 "Question: Is it well maintained? Good for production?"
I saw the documentation. I am currently not using any dependencies on my app.
But this bloc is really awesome and i want to use it on my app.

But, How long will it be supported and maintained?
Is it really good idea to convert my app with this bloc pattern?

If the developer suddenly stopped working on this project, then i have to rewrite everything again to custom bloc.

Please suggest your opin

[2019-10-08 13:47] jorgecoca commented on #556
Hey @maheshkumar2150 thanks for the question. I guess @felangel can give you more details about this, but I will do also my best:

@felangel and myself work for BMW, and we are the Flutter leads of the BMW practices. We use this library in our BMW applications, and as you can see from the documentation, the answers in issues, and the different improvements, this project is actively maintained and

[2019-10-08 15:30] felangel commented on #556
Hi @maheshkumar2150 👋

As @jorgecoca mentioned, we use this library every day at BMW so we will definitely continue to maintain it. I will try to build a roadmap as soon as I can so that you can have a good sense of what's coming next 👍

If you need any help/support you can reference the [docs](https://felangel.github.io/bloc/#/) as well as join the community on [gitter](gitter.im/bloc_package/Lob

[2019-10-09 00:59] felangel commented on #538
@henriquearthur yup in the meantime you need to nest BlocBuilders just as you've shown 👍

I'm putting together an implementation that will expose BlocBuilder2-BlocBuilder9 which can be used like:

[code]

Please let me know what you think of the proposed api 🙏

[2019-10-09 02:10] pczn0327 commented on #538
Hi @felangel , does that means if I need to use 5 blocs, I will need to do as follow?
`BlocBuilder5<BlueBloc, BlueState, GreenBloc, GreenState, RedBloc, RedState, WhiteBloc, WhiteState, BlackBloc, BlackState>`?

[2019-10-09 02:12] felangel commented on #538
@pczn0327 yup or alternatively you will need to manually provide the blocs like:
[code]

Without that Dart will not be able to infer the state types and all states will resolve to type `dynamic`.

[2019-10-09 02:18] pczn0327 commented on #538
Cool! Sounds like a good start for it! Looking forward for the solution!

[2019-10-09 03:12] bernaferrari opened #558 "[Proposal?] 'Stream<State> get state' is confusing"
I've been developing a relatively large app using Bloc and I think my top 1 issue with Bloc is with state. No, not what you are thinking. I mean, the state variable/getter method.
![image](https://user-images.githubusercontent.com/351125/66448646-93c0fa80-ea28-11e9-8e9c-f65af5716f77.png)

It has happened to me once, then again, then again, then today. I always cast it, like `(currentState as Contr

[2019-10-09 03:12] adityadroid commented on #538
This will definitely be useful. Infact the first time I came across a usecase where I had to nest multiple BlocBuilders, I went through the entire documentation of bloc to see if there was a cleaner way of doing it. Nesting multiple BlocBuilder Widgets somehow felt wrong to me.

[2019-10-09 04:09] timrijckaert commented on #556
@maheshkumar2150 We are currently using it in production for the National Belgian TV broadcaster.

@felangel  @jorgecoca  Out of curiosity which apps from BMW are made with Flutter?
Did you guys speak in public somewhere, if so is there a Vimeo/YouTube link?

[2019-10-09 05:10] nguyenhuutinh commented on #156
@adityadroid : check your bloc class is implemented singleton or not

I use template that auto create singleton then it causes error

[2019-10-09 06:08] adityadroid commented on #156
No. Its not a singleton. I create one instance in main.dart and use BlocProvider to inject it wherever I Need it.

[2019-10-09 06:14] nguyenhuutinh commented on #156
can you provide a link to a sample app which illustrates the issue you're having? It would be much easier for me to help if I can run the code locally.

[2019-10-09 06:17] adityadroid commented on #156
[This](https://github.com/felangel/bloc/issues/156#issuecomment-539851720) is the app. The bloc is defined in `lib/blocs/config`. I'm trying to read the state in `main.dart`

[2019-10-09 06:19] ThinkDigitalSoftware commented on #538
I think 9 is too many. At that point code should be refactored. If course we have to account for edge cases, but in that case, there's no end.

[2019-10-09 07:32] adityadroid commented on #156
@nguyenhuutinh [ Here's](https://github.com/adityadroid/config_bloc_sample) a minimal reproduction of the issue
Steps to reproduce:
1. Login -> Settings -> Logout
2. You'll be sent back to login page. Now do Login->Settings->Logout again. This time the state won't be received.

[2019-10-09 07:33] andredsnogueira commented on #538
It would be awesome.

[2019-10-09 10:10] tenhobi commented on #551
This is just a concept, what about puzzles? Someone could do a more effort, make it look cool with colors and overall feeling:

![image](https://user-images.githubusercontent.com/5287596/66472455-90ac2580-ea8d-11e9-8c9a-c70014ba63e4.png)

or

![image](https://user-images.githubusercontent.com/5287596/66472475-999cf700-ea8d-11e9-9178-517f0dcce047.png)

[2019-10-09 12:01] jorgecoca commented on #556
@timrijckaert I did speak at Droidcon NYC about how we use Flutter at BMW. The talk can be found here: https://www.droidcon.com/media-detail?video=362740965

I also talked at AndroidSummit about why we use Flutter, but I only have the slides of that talk: https://speakerdeck.com/jorgecoca/our-journey-to-flutter

Probably in the future you will see more talks just focused on Bloc.

[2019-10-09 12:17] shamnex commented on #551
@tenhobi @lsaudon I'll work with both your concepts plus the ideas I have in mind and come up with something tomorrow.

[2019-10-09 15:58] felangel commented on #538
I completely agree. I was just messing around and I'm still not sold on if this belongs in `flutter_bloc` because it's not really a "core" component. It's more of a convenience thing which might be better as an independent package.

[2019-10-09 17:19] felangel commented on #558
Hi @bernaferrari 👋
Thanks for opening an issue!

I'm glad you brought this up and I agree the naming should be improved. What are your thoughts on renaming `state` to `states` and leaving `currentState` as is?

[2019-10-09 17:29] bernaferrari commented on #558
I don't know, I guess it would also be a good change? I personally would probably change it to `stateStream` or something like this, to keep in track with `_stateSubject` which already exists, but `stateStream` is not a perfect name, since it's not obvious what it should be doing from its name, so I guess `states` would also work fine.

[2019-10-09 18:54] felangel commented on #558
@bernaferrari I've discussed this with the team and we're currently split between:

- `bloc.states.listen`
- `bloc.stream.listen`
- `bloc.stateStream.listen`

What are your thoughts?

[2019-10-09 21:53] warriorCoder commented on #538
I'm with Felix on this one. It seems like this isn't part of the core functionality, and I'd also like to see a real live use case. Why would you need to nest BlocBuilders in a real app?

I'm wondering if there isn't a different way to build to the widget (like maybe it is trying to do too many things, or the blocs are too granular)?

[2019-10-09 23:17] zaralockheart commented on #538
I actually faced this issue in my current project. My colleague asked "I have 3 blocs and they are depends on each other, is it okay to make multiple bloc builder?" I told him, rather than doing that, maybe put them all in one bloc, at least those business logic is placed in a room not different room.

IMO, this idea is good, but maybe if there a need to build based on multiple bloc, I think its b

[2019-10-09 23:28] JCFlores93 commented on #110
@felangel Can you elaborate on how you did the right injection please? I am facing a similar issue with the context, it always is returnder as dirty.