[2020-06-29 16:40] felangel commented on #815
@lunaticcoding you can just let the exception bubble up by not wrapping the code in a try/catch and then you can use `blocTest` with `errors` to verify an error occurred.

[code]

Hope that helps 👍

[2020-06-29 16:42] felangel commented on #1354
Hi @gerryau 👋
Thanks for opening an issue!

You need to wrap the modal in a `BlocProvider.value` in order to make the bloc available to the modal content. The same applies when pushing a new route.

You can check out the [bloc access recipe](https://bloclibrary.dev/#/recipesflutterblocaccess?id=anonymous-route-access) for more details 👍

[2020-06-29 16:42] #1354 closed

[2020-06-29 16:44] felangel commented on #1355
Hi @lironiz 👋
Thanks for opening an issue!

The following should work:

[code]

If you're still having trouble can you please share a link to a sample app on github which reproduces the issue? Thanks 👍

[2020-06-29 16:44] #1355 closed

[2020-06-29 17:16] lunaticcoding commented on #815
@felangel Thank you so much :) it is exactly what I was looking for :)

[2020-06-29 21:52] felangel commented on #1344
@GoltVik I totally understand but there are several problems I see:

- This approach is not very testable; the creation of the bloc is done internally so there's not an easy way to write a widget test with a `MockBloc`.
- How would this approach scale with multiple blocs (if my widget needs `BlocA` and `BlocB`)?

[2020-06-30 07:11] EngAddow commented on #1353
Thanks I used nested blocBuilder as in my code now and added the 2 events at app widget before didn't work but later worked.

[2020-06-30 13:58] lunaticcoding opened #1358 "Test async Expect values like image fixtures"
**Is your feature request related to a problem? Please describe.**
Currently the expect field takes an iterable. I have an imageFixture that loads a local file and I want to use this fixture in my expect statement.

**Describe the solution you'd like**
I extended the bloc_test to take an optional expectAsync field which takes an async function returning Future<Iterable>

**Describe alternatives yo

[2020-06-30 14:23] felangel commented on #1358
Hi @lunaticcoding 👋
Thanks for opening an issue!

See my comment on the PR https://github.com/felangel/bloc/pull/1359#issuecomment-651824689

[2020-06-30 15:14] felangel commented on #1254
Closing this for the reasons described in https://github.com/felangel/bloc/pull/1357#issuecomment-651856042.

Let me know if you have additional concerns or questions and I'm happy to continue the conversation.
TL;DR I don't think BlocDelegate/BlocObserver is the right place for global error handling. I think it should only be used as a passive element to inspect/track that information but not to

[2020-06-30 15:14] #1254 closed

[2020-07-01 03:29] jaydangar opened #1363 "Question Regarding Formz package"
Hello @felangel, I have gone through flutter_bloc with Formz example and found out a weird thing about the package. Why are we using IsSubmitting and then a IsSubmitted? can't we directly use isSubmitted? Can we just yield isSubmitted directly without any delay?

[code]

[2020-07-01 03:52] felangel commented on #1363
Hi @jaydangar 👋
Thanks for opening an issue!

This is just to illustrate what you might normally do in a real application. In this case you could just yield `submissionSuccess` but in a real application you would likely make an http request to submit the information the user entered to a backend and await a response which is why it is a two part process (submissionInProgress, submissionSuccess/sub

[2020-07-01 03:52] #1363 closed

[2020-07-01 03:53] jaydangar commented on #1363
@felangel  Thanks this clarifies the issue.

[2020-07-01 04:59] jaydangar opened #1364 "Unable to access status isSubmissionSuccess"
@felangel , I am trying to implement the idea of form using flutter_bloc with formz package. But I am unable to access submissionSuccess status code. even if I am returning it from an event. look at my code:

BlocListener is where I am trying to access form state. I am adding a screenshot for your reference.

<img width="1084" alt="Screenshot 2020-07-01 at 10 33 13 AM" src="https://user-images.git

[2020-07-01 05:51] felangel commented on #1364
Hi @jaydangar 👋
Thanks for opening an issue!

I think you're missing the import for `formz`. Try adding:

[code]

to your imports and also you need to change the line to `state.status.isSubmissionSuccess`.

Hope that helps 👍

[2020-07-01 05:51] #1364 closed

[2020-07-01 05:53] jaydangar commented on #1364
@felangel  Thanks, It's I guess static method or enum, This happens alot with flutter and other packages. Appreciate your help.

[2020-07-01 12:29] gellaz commented on #726
Hi @felangel!
This is the link to the repository:
https://github.com/gellaz/covtrack

Thank you in advance for your availability! :)

[2020-07-01 15:41] GoltVik commented on #1344
@felangel

- Actually BlocState provides a creation method called `stateBloc(BuildContext context)` so you can easily provide `MockBloc`

- But yes, this approach not suits for multiple blocs  🤔

[2020-07-01 18:19] YeungKC commented on #390
Hi @felangel , I don’t know if I should reply here, but let me talk about it~~
I think it needs a BlocConverter, such as the following example:

[code]

In this example, we only care about the length for ui, but I need to implement the condition, and at the same time, I also care about the length in the builder, but in fact, I repeated the work.

[2020-07-01 18:35] YeungKC commented on #390
I read your conversation carefully and still think that we need it.
I can understand that you want a single function, which will actually improve the quality of the code.
I also hope, however, that I think that too many functions will affect the quality of the code.

For example, ShoppingCartBloc's length problem, yes, of course I can increase the length to the state, but, I think it may be easier

[2020-07-01 19:13] amine0909 opened #1365 "Question"

[2020-07-01 19:13] #1365 closed

[2020-07-01 19:28] amine0909 opened #1366 "BlocBuilder doesn't rebuild after yield state"
**Description**
Hi, i'm facing an issue with yielding a state.
All what I want is when I click the button , it dispatch an event and then yield the state, but what I'm facing it is that the state yield for one time only.

Cart Event
[code]
Cart State
[code]
Cart Bloc:
[code]
Page:
[code]
Logs:
[code]
I will be happy if someone can help me and thank you.

[2020-07-01 19:47] furkanvatandas commented on #1366
[code]

First of all you change state first time it is normal because CartEmpty() => CartUpdated() and then you update list  CartUpdated() =>  CartUpdated()

In order for the BlocBuilder to realize this, it must be an immutable object. So okay you use equatable for this BUT your List<CartCatalog> not immutable when you add new cartCatalogs, for this BlocBuilder can not rebuild.

[2020-07-01 22:35] amine0909 commented on #1366
@furkanvatandas Well thank you for replying.
I tested your code, and it doesn't work, same issue

[2020-07-02 04:21] RollyPeres commented on #1366
Hi @amine0909 👋

You're not getting a new state because of
[code]
which mutates the existing list so the value equality won't work.

You're also keeping an extra state directly on your bloc `final List<CartCatalog> cartCatalogs;`. I'd recommend moving it to your state unless you need to use that field to create your initial state, in which case is fine but you shouldn't be using it beyond that poi

[2020-07-02 06:37] RollyPeres commented on #1332
Hi @aamadmin 👋

Your dialog is not closing because you omitted to explicitly close it. Your dismissing callback should look something like:
[code]

[2020-07-02 06:48] krevedkokun commented on #390
Right now we can't do something like this
[code]
because `BlocBuilder` expects subclass of `Bloc` and stream transformers return `Stream`.
That's pretty basic example, but in more complex cases we can filter bloc by state and then use `condition` to filter it by state data. We don't really need different widget for that, I think, but we can change signature of `BlocBuilder` to something like this

[2020-07-02 13:15] MotiBartov commented on #1338
Hi, Thanks again.
I have another question,

When using `when(mockBloc.state).thenReturn(BlocState());` as you explained,  i noticed that BlocListener and BlocBuilder.condition are not called. Is this a normal behaviour?

Thanks,
Moti.

[2020-07-02 17:25] #1236 closed

[2020-07-02 17:25] #1304 closed

[2020-07-02 17:25] #1312 closed

[2020-07-02 17:26] github-actions[bot] opened #1367 "[Translations] Update docs"
Update Translations to include changes from d70f0026168cab107caa16d7f9a7d80ad8cf6bbf.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-02 17:28] github-actions[bot] opened #1368 "[Translations] Update docs"
Update Translations to include changes from f3c26809383f2445bcc338df8951a4b309b0a180.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-02 17:37] github-actions[bot] opened #1369 "[Translations] Update docs"
Update Translations to include changes from 92f31868773c9c1a69a4f6eba18cb2f0635b8165.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-02 17:51] felangel commented on #1332
Thanks @RollyPeres 🙏
I've updated the example 😄

Closing this for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2020-07-02 17:51] #1332 closed

[2020-07-02 17:57] felangel commented on #1366
Closing this for now but let us know if you have any additional questions 👍

[2020-07-02 17:57] #1366 closed

[2020-07-02 20:36] github-actions[bot] opened #1370 "[Translations] Update docs"
Update Translations to include changes from 8322768c7552aec5d15ff3959708b13583168cd3.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-02 20:47] github-actions[bot] opened #1371 "[Translations] Update docs"
Update Translations to include changes from e068b93c3af6354b3a94a07e37313a58178fe25b.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-02 21:09] github-actions[bot] opened #1372 "[Translations] Update docs"
Update Translations to include changes from f2f7e9bd0cf96b773921ffe3a2349b9055b2771f.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-02 21:15] github-actions[bot] opened #1373 "[Translations] Update docs"
Update Translations to include changes from 750173eae57b1ddf13985f82492db28070d2478b.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-03 04:51] #1102 closed

[2020-07-03 05:43] github-actions[bot] opened #1376 "[Translations] Update docs"
Update Translations to include changes from 64ef6eacbee3eca41c1c33de5a2ae9e740bfa37b.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-03 05:46] github-actions[bot] opened #1377 "[Translations] Update docs"
Update Translations to include changes from 47beb01a391ca5884b3b0d29f39185255c1aa12f.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-03 07:49] Zazo032 opened #1378 "Migration guide to 5.0.0"
**Is your feature request related to a problem? Please describe.**
Migration from 4.0.1 to 5.0.0

**Describe the solution you'd like**
Provide some steps for different use cases

The specific case is, we have some code like this:

[code]

However, there's no trivial change to migrate that code. We have successfully migrated other `initialState` where it just returns a state, to provide them to `su

[2020-07-03 07:59] felangel commented on #1378
Hi @Zazo032 👋
Thanks for opening an issue!

I'm working on a formal migration guide and am aiming to have it published tomorrow. In the meantime for your use-case I would recommend the following:

[code]

Let me know if that helps 👍

[2020-07-03 08:01] RollyPeres commented on #1378
Hi @Zazo032 👋

Another approach besides the one suggested by @felangel is:

[code]

[2020-07-03 08:27] Zazo032 commented on #1378
Both of those solutions is giving me the following analyzer error:

[code]

Note that, in that case, `data` cannot be passed as a parameter as it's computed within the `SampleBloc` class.

[2020-07-03 08:59] felangel commented on #1378
@Zazo032 can you please provide a sample bloc which more closely represents how your bloc is currently implemented?

[2020-07-03 09:02] Zazo032 commented on #1378
@felangel I can privately send you a small real code snippet to the email on your profile, is that ok?

[2020-07-03 09:03] felangel commented on #1378
@Zazo032 can you make a private repository and invite me instead?

[2020-07-03 09:07] Zazo032 commented on #1378
Done! I uploaded the conflicting file for the migration.

[2020-07-03 09:07] felangel commented on #1378
Got the invite but it’s really late here so I’ll take a look first thing in the morning! 😴

[2020-07-03 09:10] Zazo032 commented on #1378
Thanks! No hurries 😊

[2020-07-03 10:04] tazik561 opened #1379 "change color on each item when tap"
I am trying to use flutter bloc so i create this bloc:

    class CategoriesBloc extends Bloc<CategoriesEvent, CategoriesState> {
      CategoriesBloc() : super(CategoriesInitial());
      List<CategoriesItem> _catItems = [
        CategoriesItem(id: 1, title: "Sugar", prefixIcon: Icons.access_alarms),
        CategoriesItem(id: 2, title: "Calories", prefixIcon: Icons.access_alarms),
        Categ

[2020-07-03 13:28] tazik561 opened #1380 "My item variable become null when i save my page or hot reloading"
I have this bloc in my page:
[code]
     BlocBuilder<CategoriesBloc, CategoriesState>(
                builder: (context, state) {
              if (state is CategoriesInitial) {
                return Center(
                  child: CircularProgressIndicator(),
                );
              } else if (state is CategoriesStarted) {
                catItems = state.catItems;
              } els

[2020-07-03 15:52] av2ry-1030 commented on #52
Hello @felangel I'm facing the same issue, I have a profile page that uses ProfilBloc who's responsible for charging user and his posts. For the editing of user I'm using another bloc called EditBloc. I'm declaring an EditBloc in profile page and passing it trough parameter's while navigating to the EditPage. I also have a StreamSubscription who listens the states of EditBloc in my profile page fo

[2020-07-03 16:40] 0dysseas opened #1381 "Is there a way to make sure that all Sink instances are correctly closed?"
First off, let me just thank you for this immensely helpful piece of software you've created. It makes writing apps in Flutter a breeze.

Now, I have a question regarding BLOC memory leaks. It's well-known that the VS Code linter is erroneously displaying "Close instances of dart.core.Sink" messages. I know the way around this but I was wondering if there's also a way to test/make sure that my BLO

[2020-07-03 18:13] VictorUvarov opened #1382 "How to mock and test error when listening to a stream"
**Is your feature request related to a problem? Please describe.**
I'm having a hard time finding examples of mocking errors that come from a stream that the bloc is being listened to.

**Describe the solution you'd like**
I would like to know how to mock a stream error when the bloc is listening to a stream. Example
[code]
How would I mock the above?
I want to do something like this, but it seems

[2020-07-03 20:02] data987 opened #1383 "How to test BlocListener widgets depending the state?"
Hi @felangel

I'm trying to reproduce a suggestion to test the BlocListener you made but I don't know what am I doing wrong

This is the code that I want to test

[code]

This is the Bloc:

[code]

This is my test:

[code]

This is the error:

![Screen Shot 2020-07-03 at 2 48 25 PM](https://user-images.githubusercontent.com/8518699/86494814-5762c680-bd3c-11ea-9c1c-4b31b0b8c4b6.png)

[2020-07-03 21:17] felangel commented on #1383
Hi @data987 👋
Thanks for opening an issue!

It looks like you're trying to test `BlocBuilder` not `BlocListener` in which case you don't need `whenListen` and can just stub the bloc state like so:

[code]

Hope that helps 👍

[2020-07-03 21:17] #1383 closed

[2020-07-03 21:20] felangel commented on #1382
Hi @VictorUvarov 👋
Thanks for opening an issue!

You should just be able to do something like:

[code]

Hope that helps 👍

[2020-07-03 21:20] #1382 closed

[2020-07-03 21:26] felangel commented on #1381
Hi @0dysseas 👋
Thanks for opening an issue and for the positive feedback, I really appreciate it!

Regarding your question, as you mentioned, the linter has a lot of false positives and is unreliable so unfortunately I am unaware of any tool which ensures Sinks are closed 😞

The good news is as long as all blocs are created by a BlocProvider, you should have nothing to worry about 👍

[code]

If yo

[2020-07-03 21:26] #1381 closed

[2020-07-03 21:31] felangel commented on #1380
Hi @tazik561 👋
Thanks for opening an issue!

I believe the problem is you're maintaining state inside of a `StatelessWidget` which you should never do. What is happening is when you do a hot restart, the CategoriesPage is rebuilt and the `catItems` and `selectedCatItems` become null.

You should always reference the bloc state rather than maintaining duplicate state in your widget.

[code]

Hope t

[2020-07-03 21:31] #1380 closed

[2020-07-03 21:34] felangel commented on #1379
Hi @tazik561 👋
Thanks for opening an issue!

You can maintain the color of each item as part of the bloc state and update the color by adding an event to the bloc.
Hope that helps 👍

[2020-07-03 21:34] #1379 closed

[2020-07-03 22:17] data987 commented on #1383
Hi, I'll try your code but I've got the same result, the widget doesn't exist but the state is the correct 🤔  🤔

[2020-07-03 22:29] github-actions[bot] opened #1384 "[Translations] Update docs"
Update Translations to include changes from 1dabbecf9dedc2c7b4f3b12aa120b23db8a3451a.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-03 22:33] github-actions[bot] opened #1385 "[Translations] Update docs"
Update Translations to include changes from 8c26008b3c21b0ed77177591bcc1e8d58d8476b0.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-03 23:24] #1308 closed

[2020-07-03 23:25] github-actions[bot] opened #1387 "[Translations] Update docs"
Update Translations to include changes from dbaf04aab8c37dbadb26c4b3398a6e45ea200a80.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-03 23:36] felangel commented on #1378
@Zazo032 I've created `migrated_bloc.dart` to illustrate how I would refactor your bloc 👍
Also, for more information regarding migrating to v5.0.0 check out the [migration guide](https://bloclibrary.dev/#/migration).

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 😄

[2020-07-03 23:36] #1378 closed

[2020-07-03 23:37] felangel commented on #1341
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-07-03 23:37] #1341 closed

[2020-07-04 03:47] tazik561 commented on #1380
Thanks .
I have 2 state `CategoriesStarted` and `SelectedCategoryState`. When this page loaded `CategoriesStarted` load top horizontal categories.When user tap on one categoriy item bloc change it's state to `SelectedCategoryState` .till now every thing is ok.imagin i save again my page now last state is `SelectedCategoryState` and when `BlocBuilder<CategoriesBloc, CategoriesState>(` called again

[2020-07-04 04:50] felangel commented on #802
@RollyPeres now that we've got `addError` I think adding a `context` or `extras` makes sense (just need to align on naming). I also don't love making it dynamic and feel like it might suffice to type it `Map<String, dynamic>.

I agree with @tenhobi that adding a logger might be too much. I think we can have a `LoggingBlocObserver` that is a separate package potentially but I don't feel it needs to

[2020-07-04 05:03] wailashraf71 opened #1388 "Why BLoC constructor must have a super declared"
After updating to `flutter_bloc: ^5.0.0` I got errors on my whole 30 blocs tells me to declare a super:

Should I update every constructor manually, or this is just a bug?

[2020-07-04 05:05] felangel commented on #1388
Hi @wailashraf71 👋
Thanks for opening an issue!

This is not a bug. In v5.0.0 initialState was removed in favor of passing the initial state to super. Check out the [migration guide](https://bloclibrary.dev/#/migration) for more information 👍

[2020-07-04 05:05] #1388 closed

[2020-07-04 05:10] wailashraf71 commented on #1388
Oh, now I see thank you! hope you add the migration guide to the package on [pub.dev](pub.dev) change log😄

[2020-07-04 05:12] felangel commented on #1388
@wailashraf71 yup I can add it to the changelog 👍
It’s also on the home page at [bloclibrary.dev](https://bloclibrary.dev).

[2020-07-04 06:02] gbond007 opened #1389 "The superclass doesn't have a zero argument constructor."
The superclass 'Bloc<MyFormEvent, MyFormState>' doesn't have a zero argument constructor.
Try declaring a zero argument constructor in 'Bloc<MyFormEvent, MyFormState>', or declaring a constructor in MyFormBloc that explicitly invokes a constructor in 'Bloc<MyFormEvent, MyFormState>'. ???

[2020-07-04 06:46] adar2378 opened #1390 "How to use debounce timer with states"
**Describe the bug**
I have this situation, where users can update the cart by pressing the add/remove button, so I added a debounce timer on the event stream.
The problem I'm facing with this,
 - Customer adds product 1, then between the denounce timer s/he adds another product, hence I'm losing the event where the user added product 1. I want to make sure that the debounce timer added only when

[2020-07-04 07:11] RollyPeres commented on #802
Yeah, definitely leave the logger up to the user, as an implementation detail. 👍

As for the naming add `details` to the list.

I personally like `dynamic` more, simply because most of the time people will probably pass a simple type like `String`; so `dynamic` can be a `String` but `Map<String, dynamic>` cannot be a `String`. Basically `dynamic` can be `Map<String, dynamic>` but `Map<String, dyna

[2020-07-04 07:17] RollyPeres commented on #1389
Hi @gbond007 👋

Starting with `v5.0.0` of bloc library the `initialState` was removed in favor of passing it to the `super` contructor.
Please have a look at the [migration guide](https://bloclibrary.dev/#/migration) 👍

[2020-07-04 07:21] Brabalawuka commented on #1389
Yes but will there be an update to the Intellij Plugin so the constructore will be using the 5.0 version?

[2020-07-04 07:22] #1389 closed

[2020-07-04 07:22] gbond007 commented on #1389
Thanks so much.

[2020-07-04 07:31] RollyPeres commented on #1390
Hi @adar2378 👋

You probably want to `throttleTime` cart events instead of `debounceTime`.

As for debouncing states you can override `transformTransitions`:

[code]

Hope that helps 👍

[2020-07-04 08:56] aamadmin commented on #1332
builder: (_) => SuccessDialog(onDismissed: () {
              context.bloc<RegFormBloc>().add(FormReset());
              Navigator.pop(context);
            }),

In this popup closes but form doesn't REST

[2020-07-04 09:27] Mizhek opened #1391 "Possible conflict of two almost simultaneous events"
**Describe the bug**
I've recently faced weird bug in work project: making some request to server triggers socket event in the same bloc. But request is not finished yet. Thus I faced situation when event from socket fires and I get new state in page, but state from request never reaches page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2020-07-04 09:27] #1391 closed

[2020-07-04 09:45] Mizhek opened #1392 "Possible conflict of two almost simultaneous events in flutter_bloc"
I've recently faced weird bug in production project: making some request to server triggers socket event in the same bloc. But returning state from request is not finished yet. Thus I faced situation when event from socket fires and I get new state in page, but state from request never reaches page.

I've managed to fix it by adding delay for events in mapEventToState().

`if (event.withDelay) {

[2020-07-04 10:56] RollyPeres commented on #1392
Hi @Mizhek 👋

Doesn't matter how close your events are when added, bloc will process all of them in the order they were added.
If a state is not emitted it's because the new state is value equal to the previous one, so you might wanna have a look at that.

[2020-07-04 11:46] Mizhek commented on #1392
Unfortunately using equatable package doesn't help.

I've tried it this with state classes:

[code]

[2020-07-04 11:58] enricobenedos commented on #52
Hello @av2ry-1030, at the moment I have no time to rewrite you the correct code. I you give me a link to clone your sample project I can help you.
Anyway there are some issue in your code, the first that it the same that cause this error is related to `editBloc.close();`. If `EditBloc` is created by `ProfilePage` you need to dispose your bloc in this page. You cannot call `editBloc.close();` in Ed

[2020-07-04 12:29] RollyPeres commented on #1392
Can you please create a small github repo with a minimal reproduction of your issue and detail exactly what your intent is and what the expected result should be ? 👍

[2020-07-04 12:31] RollyPeres commented on #52
Hi @av2ry-1030 👋

I suggest you upgrade to v5.0.0 of bloc library and your problem should be fixed. 👍

[2020-07-04 13:06] Mizhek commented on #1392
https://github.com/Mizhek/bloc_sample_app here is repo with reproduction of problem.

My intent is to receive all states when socket event fires during REST request. Unfortunately I can't recreate app with real socket io in bloc, but sample app completely recreates problem I've faced recently in production app.

[2020-07-04 13:32] phil-blais opened #1393 "BlocListener called repeatedly"
I may be misunderstanding the life cycle of the bloc/widgets. I have a ChosenItemBloc which is meant to track a chosen item across multiple pages and show a dialog when the chosen item changes. Currently the BlocListener appears to be registering new listeners every time you navigate away and back and the page is built. The showDialog() is called multiple times and each stacked on top of the other

[2020-07-04 17:20] felangel commented on #1389
Working on the IntelliJ update hopefully jetbrains will cooperate 😛🤞

[2020-07-04 18:14] felangel commented on #1390
Thanks as always @RollyPeres!
@adar2378 closing for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2020-07-04 18:14] #1390 closed

[2020-07-04 19:37] felangel commented on #1358
Closing this

[2020-07-04 19:37] #1358 closed

[2020-07-04 21:36] selvesandev opened #1395 "BlocProvider.of<AuthenticationBloc>(context).add(AuthenticationLoggedIn()) Does not redirect to HomeScreen"
I have created three screens Register, Login and a Welcome Screen. First the welcome screen is loaded with a login button when clicked will redirect to the login screen. `Navigator.of(context).pushReplacementNamed('login')`  I am using the `pushReplacementNamed` to change the pages.

**At the login screen i have this code**

[code]

`BlocProvider.of<AuthenticationBloc>(context).add(AuthenticationL

[2020-07-04 22:07] felangel commented on #1395
Hi @selvesandev 👋
Thanks for opening an issue!

I'm guessing the problem is you're using `pushReplacementNamed` which is removing the BlocListener from the widget tree. You should ensure that the BlocListener is always mounted in order to ensure the navigation occurs properly. I am in the process of reworking the examples so I would recommend using [this](https://github.com/felangel/fresh/tree/mas

[2020-07-04 22:09] felangel commented on #1393
Hi @phil-blais 👋
Thanks for opening an issue!

`BlocListener` will subscribe to the bloc when it is mounted. In this case, I would recommend lifting the BlocListener higher to ensure that there is a single subscription maintained throughout the lifecycle of the `ChosenItemBloc`.

Let me know if that helps! 👍

[2020-07-04 22:17] github-actions[bot] opened #1396 "[Translations] Update docs"
Update Translations to include changes from ab763bc003baed4eb1640f87994d20a0e2a00897.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-05 04:25] selvesandev commented on #1395
@felangel thanks for the quick response. I will go through the latest example. Please let me know if there's any way I can achieve this while using the `pushReplacementNamed`.

[2020-07-05 04:30] felangel commented on #1395
The example should outline how because it used a nested `Navigator` 👍
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 😄

[2020-07-05 04:30] #1395 closed

[2020-07-05 05:12] #747 closed

[2020-07-05 05:14] felangel commented on #747
@prasant10050 I've submitted the update and it is pending approval but in the meantime you can download and install it from the [releases](https://github.com/felangel/bloc/releases/tag/intellij_bloc-v1.7.0).

[2020-07-05 05:30] #1040 closed

[2020-07-05 07:01] github-actions[bot] opened #1400 "[Translations] Update docs"
Update Translations to include changes from 7a7c950c3ca3704f58a15809815b267bd62f99b5.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-05 16:30] geovin89 commented on #1324
@felangel  You have gone above and beyond for this refactor! Thanks for putting in the time to answer my question and also making the existing code better. I feel indebted :).

Once again thank you!!

[2020-07-05 16:38] geovin89 opened #1401 "[Information] Interbloc communication"
For the Firebase login tutorial, I felt it is good to abstract field validation logic to a different bloc so that it can be reused by Register use case as well.

1. Are there any examples out there that demonstrate interbloc communication?

1. What do you think about the idea? or should I stick to how it is done in the tutorial and keep it simple (but less DRY)

1. Additionally, is interbloc commu

[2020-07-05 16:43] DevNico commented on #1401
The current approach is: https://bloclibrary.dev/#/architecture?id=bloc-business-logic-layer

[2020-07-05 16:56] geovin89 commented on #1401
Cool thanks. (I should have just searched for bloc to bloc comm. instead of interbloc comm.)

Do you have a timeline on when BlocStreamListenerMixin will be available in the bloc library.
https://github.com/felangel/bloc/issues/765#issuecomment-573368016

[2020-07-05 19:04] felangel commented on #1401
Hi @geovin89 👋
Thanks for opening an issue!

We decided against that approach because the benefits didn't seem worthwhile. If you have any additional feedback on the topic feel free to add a comment to the thread 👍

Thanks @DevNico for taking the time to answer! I really appreciate it 🙏

[2020-07-05 19:04] #1401 closed

[2020-07-05 19:05] felangel commented on #1393
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-07-05 19:05] #1393 closed

[2020-07-06 03:35] felangel commented on #151
@huynguyennovem can you describe the steps you're taking and the error you're getting? Thanks 👍

[2020-07-06 03:44] huynguyennovem commented on #151
I got the error message same as @nosmirck . After checking this, I see that there is missing `todos_repository_simple` in the [repository](https://github.com/brianegan/flutter_architecture_samples)

[2020-07-06 03:46] felangel commented on #151
@huynguyennovem you have the same `pubspec.yaml` as https://github.com/felangel/bloc/blob/master/examples/flutter_todos/pubspec.yaml?

[2020-07-06 03:48] huynguyennovem commented on #151
Yes, I have the same one.

[2020-07-06 03:49] felangel commented on #151
Can you share a link to your repo so I can try to run it locally?

[2020-07-06 04:06] huynguyennovem commented on #151
Please check it : [https://github.com/huynguyennovem/FlutterTodoAppSample](https://github.com/huynguyennovem/FlutterTodoAppSample)

[2020-07-06 04:58] felangel commented on #151
@huynguyennovem just tried and had no trouble 🤔
Have you tried clearing your pub cache?

[2020-07-06 06:59] huynguyennovem commented on #151
hmm, I tried `flutter clean` then get package again. And the result is:
[code]

[2020-07-06 10:23] mateusfccp commented on #560
Well, here goes another Dart flaw to my list.

[2020-07-06 13:27] felangel commented on #151
@huynguyennovem exit code 0 means everything went well 😊

[2020-07-06 15:36] hawkinsjb1 commented on #139
Hey guys!
I've been using this library as a state management solution for an on-going enterprise level app, as well as a recently-published time tracker that integrates with Basecamp 3
https://www.trackteamtime.com

It took some practice to learn how to use the package entirely as intended because there are lots of ways to misuse the tools, but the payoff has been great and I'm so glad I don't hav

[2020-07-06 16:31] geovin89 commented on #1401
Thanks for the info!

[2020-07-06 18:01] RoXioTD opened #1404 "Can you have too much bloc´s?"
Hey,
I was wondering about what the suggested scenario is for creating new bloc´s:
* should you create an bloc for every single scenario in your app
 or
* should you create lesser bloc´s and summarize similar scenario´s

Another question is whether it is bad or unperformant to have several `BlocProvider`, `BlocListener` and `BlocBuilder` in your widget tree or is this a normal scenario for larger

[2020-07-06 18:36] RollyPeres commented on #1404
Hi @RoXioTD 👋

You'd usually create a bloc/screen or feature depending on your needs. Your blocs should be specialized and not deal with multiple responsibilities.

It's perfectly fine to have multiple bloc related widgets in your tree.

For a better understanding I'd advise you to have a look at the [official examples](https://github.com/felangel/bloc/tree/master/examples) and [bloc's official do

[2020-07-06 19:04] av2ry-1030 commented on #52
Hello @enricobenedos oh yes you're right. I tried so many things in order to find the problem that I wrote theses non-senses.. ^^'. Thank you.

I will first try to upgrade the library to v5.0 like @RollyPeres suggested and see what happens.

[2020-07-06 19:07] av2ry-1030 commented on #52
Hello @RollyPeres thank you for the suggestion, I tried to upgrade but it seem's that there is an problem of compatibility in the library.

[code]

[2020-07-06 19:33] felangel commented on #52
@av2ry-1030 looks like you need to upgrade Flutter. The version you're on is quite old (the current stable is at 1.17.4).

[code]

[2020-07-06 19:33] #1404 closed

[2020-07-06 22:51] TheMeanCanEHdian opened #1408 "Question regarding waiting for a specific State"
I've found myself at a dead end with some functionality I am trying to write and I am hoping for some assistance. The code itself is rather cumbersome so I'm going to do my best to summarize the idea of what I am trying to accomplish and provide a rough example.

Please let me know if there are things I can do to make it easier to help.

**Problem**:
I have 4 states: Initial, InProgress, Success,

[2020-07-06 23:44] RollyPeres commented on #1392
@Mizhek this is most likely related to a currently existing issue that's being worked on.
We'll get back with details once that's solved.
Thanks for your patience 👍

[2020-07-07 01:34] felangel commented on #1408
Hi @TheMeanCanEHdian 👋
Thanks for opening an issue!

Are you able to make a sample project which illustrates your issue and share the link? Thanks 👍

[2020-07-07 04:04] Mizhek commented on #1392
@RollyPeres nice. I will be waiting for updates. Thanks for good support.

[2020-07-07 09:25] zhengger opened #1410 "All examples are outdated and cannot work for flutter_bloc 5.0.1."
**Describe the bug**
If upgrade flutter_bloc  from 4.0 to 5.0 in the pubspec.yaml, there will lots of errors.
Can you update the examples to date.

Thanks!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, ad

[2020-07-07 09:30] #1410 closed

[2020-07-07 09:31] zhengger commented on #1410
Well, I just switch to the latest branch and all work well now.

[2020-07-07 17:37] ignaciolopez12 opened #1411 "A Bloc for every API request is tedious"
The following happens to me ... there comes a time in my APP that much more work to create the BLOC itself than to focus on the main thing.
For example, on a screen I have a widget that gets the current weather from an API (I have a BLOC for that).
Under that widget (list view), I have another one that gets the next 5 days. Another endpoint, another BLOC ...
In a screen I already have 2 BLOC, and

[2020-07-07 17:59] felangel commented on #1411
Hi @ignaciolopez12 👋
Thanks for opening an issue!

It's up to you have you want to structure your application in terms of blocs but in general you should have one bloc per use case (not necessarily one bloc per API request).

For example if you have a dashboard in your application that requests data from multiple APIs I would recommend having a single `DashboardBloc` with states like:

[code]

rat

[2020-07-07 17:59] #1411 closed

[2020-07-07 18:04] ignaciolopez12 commented on #1411
Great! It hadn't occurred to me that way. Also do some research on their GitHub examples and I didn't see something like you mentioned.
I thank you and I will try it

[2020-07-07 21:40] TheMeanCanEHdian commented on #1408
Yes, I had a busy day so I didn't get to this but I will get you a small _working_ example.

[2020-07-08 00:37] TheMeanCanEHdian commented on #1408
Hey @felangel

So by breaking this down into a smaller working example I appear to have run into a more root problem with my Bloc state management before I even got to the function I described above. So first a thank you for making me break this down into basics so I can start with the right questions.

Do let me know if I should spin this into another issue as it is unclear at this time if the ti

[2020-07-08 06:29] huynguyennovem commented on #151
oh, sorry about that and thank for your support!

[2020-07-08 06:36] chakrihacker opened #1412 "[Test]: How to wait for state and then stream states"
I am using whenListen to stream states and it's working fine for most of the test cases until I stuck at a point where bloc needs to trigger when a local state of view is updated

Here's the code

[code]

[code]

In my UI, I am setting selectedDataSourceIndex, when it's pressed, so in handleBlocState, the value is -1 as the tap will be called at a later time. Is there any recommended way to handle

[2020-07-08 07:05] felangel commented on #1412
Hi @chakrihacker 👋
Thanks for opening an issue!

It would be easiest if you could provide a link to a sample app which illustrates the problem you're having and I am happy to open a pull request with suggestions. In general you also will need to stub the state of the bloc via `when`:

[code]

I would suggest trying that first and if you're still having trouble creating a sample app and sharing the

[2020-07-08 10:09] chakrihacker commented on #1412
Hi, here's the  [repro](https://github.com/chakrihacker/flutter_bloc_repro_1412)

[2020-07-08 10:42] devonsunday opened #1413 "buildWhen work wrong"
**Describe the bug**
buildWhen is wrong

**To Reproduce**
Steps to reproduce the behavior:
1. In BlocBuilder, set buildWhen: (previous, current) => false,
2. error: funcion builder all run when state change.

**Expected behavior**
just run builder function when buildWhen return true.

see details in this video: https://drive.google.com/file/d/1jUx3sw5A-nt1WuYM1pYnzXIM2y9Y7V5q/view?usp=sharing

**S

[2020-07-08 10:51] mzafer opened #1414 "Why switch to cubit ?"
What is the reason to replace stream with cubit ?  And is there any benefit of doing that ? I did see that question raised in another issue as well but could not find an answer.

Thanks

[2020-07-08 12:14] felangel commented on #1414
Hi @mzafer 👋
Thanks for opening an issue!

I think it https://github.com/felangel/cubit/issues/69 might answer your questions. Let me know 👍

[2020-07-08 12:17] felangel commented on #1338
Yeah that’s expected because when you stub the state you aren’t stubbing the stream and the stream is what the blocs are subscribing to and invoking the condition in response to 👍

[2020-07-08 13:28] moti0375 commented on #1338
Hi and thanks for your attention on this,

Well, so how would you recommend to test these functionalities with stubbed bloc?
You see, when doing WidgetTest some of behaviours related to states that coming from the BlocListener or the condition.

I am using the Listener to show dialogs and bottom sheets for example (is this good practice?).
When the stubbed bloc 'emits' ShowDialog state, it catched

[2020-07-08 14:35] #1414 closed

[2020-07-08 14:49] felangel commented on #1338
@moti0375 I would highly recommend using a mock bloc for your widget tests. Can you please provide a link to a sample app which illustrates the problems you're facing when using a mock bloc and I'm happy to take a look and open a pull request with any suggestions 👍

[2020-07-08 14:51] felangel commented on #1413
Hi @devonsunday 👋
Thanks for opening an issue!

This is expected behavior because there are two reasons for a `BlocBuilder` to rebuild:

1. The bloc state changed
2. Flutter marked the widget as needing to be rebuilt.

`buildWhen` will prevent builds triggered by 1 but not by 2. In this case, when the language changes, the whole widget tree is likely being rebuilt which is why the `BlocBuilder` is

[2020-07-08 14:51] #1413 closed

[2020-07-08 21:57] mateusfsilva opened #1415 "Help with tests"
Hi,

I'm running a test with a bloc that calls an event on initialize. When I use the event `blocTest` to test this bloc a can't catch all the states emitted by the bloc.

I made an example to simulate the behavior.

[code]

The tests

[code]

The output
[code]

The test result

[code]

[Example project](https://github.com/mateusfsilva/test_bloc_test)

Using Dart, the test finishes before the even

[2020-07-08 23:23] lihaotian0607 opened #1416 "[question] state is null"
### user_bloc.dart
[code]
### user_event.dart
[code]
### user_state.dart
[code]
### user_page.dart
[code]

default:
![image](https://user-images.githubusercontent.com/32523475/86979883-f82a0980-c1b4-11ea-92c8-fa7ccabfb6f5.png)

update:
![image](https://user-images.githubusercontent.com/32523475/86979900-037d3500-c1b5-11ea-97a9-017ad3f2cf38.png)

why it becomes null after update???
where am I wrong

[2020-07-08 23:31] felangel commented on #1415
Hi @mateusfsilva 👋
Thanks for opening an issue!

The reason for this is because `build` is async which causes a slight delay (due to the way microtasks are processed). The equivalent regular dart test for the existing blocTest would be:

[code]

I would recommend avoiding adding an event immediately in your bloc's constructor and instead just seeding the bloc with event1 as soon as it's created.

[2020-07-08 23:36] felangel commented on #1416
Hi @lihaotian0607 👋
Thanks for opening an issue!

I believe the problem is you're not returning the state in `_updateNickname`:

[code]

Hope that helps! 👍

[2020-07-08 23:37] #1416 closed

[2020-07-08 23:50] lihaotian0607 commented on #1416
Thank you very much, I also want to ask, how to update a single property of an object

### state
[code]
### bloc

[code]
whether it can only be used
[code]

[2020-07-09 01:15] mzafer commented on #1414
Thanks, yes that issue helps. Somehow missed that when I was looking earlier.

[2020-07-09 03:04] felangel opened #1419 "strange problems when migrate to new version"
@mohammadne:

hi @felangel

what I has was:
[code]

but when I migrate to V5 , the toJson and fromJson always return null.
 what I have done is to add:
[code]
in the super constructor of my ```ThemeBloc ``` in V5.
but I don't know what is the problem.

[2020-07-09 03:05] felangel commented on #1419
Hi @mohammadne 👋
Thanks for opening an issue!

Can you please provide a link to a sample app which illustrates the issue? I'm happy to take a look 👍

[2020-07-09 03:06] felangel opened #1420 "Asynchronous fromJson and toJson"
@saivarunr:

Greetings @felangel , hope you are healthy and safe. I would also like to thank you for the libraries you have provided to the community. I'm using bloc and hydrated bloc. I was thinking why not provide async support for both fromJson and toJson on the HydratedBloc (

hydrated_bloc/lib/src/hydrated_bloc.dart

Line 37 in 15eb68f

 return _state = fromJson(Map<String, dynamic>.from(stat

[2020-07-09 03:07] felangel opened #1421 "[Feature Request] Hydrated blocs with different storages in the same app"
From @ncuillery ([original issue](https://github.com/felangel/bloc/issues/1317))

**Is your feature request related to a problem? Please describe.**
I have some hydrated blocs that use the default temp folder (as a cache for my information coming the network: perform the fetching request only if the data is older than 12 hours).
But I also would like to use a hydrated bloc using the shared prefere

[2020-07-09 03:09] felangel opened #1422 "State is replicated in Hive file"
@tensor5:

**Describe the bug**
Each time a state transition happens a new copy of the state is appended to the Hive DB file `hydrated_box.hive` causing it to grow linearly in size.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the example app in the `example` folder
2. Run `adb shell` in a terminal window
3. Inside the adb shell run the command `run-as com.example.example`
4. Run `ls

[2020-07-09 03:10] felangel opened #1423 "BLoC Replay or Time Travel"
@ngoctranfire:

With the implementation of this hydrater, I wonder if we can move towards better tooling that helps us by actually introducing a time-travel functionality, similar to what is done on React (but I guess since BLoC) are local to their components or widgets, we would need to have some kind of registry to replay all bloc events and register that. What are your thoughts on this?

Honest

[2020-07-09 03:10] felangel commented on #1423
Hi @ngoctranfire 👋
Thanks for opening an issue and for the positive feedback! DevTools with time travel support are on the horizon 😄

[2020-07-09 03:18] github-actions[bot] opened #1424 "[Translations] Update docs"
Update Translations to include changes from b84336f8ee94427261558d935a0dc3cd1cebef0a.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-09 03:18] github-actions[bot] opened #1425 "[Translations] Update docs"
Update Translations to include changes from 7851a0e7e66270b5f524e85419c25a7983a9cc02.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-09 03:19] github-actions[bot] opened #1426 "[Translations] Update docs"
Update Translations to include changes from 38b11fa09ff223a37198f25a99e9cf1a905a99eb.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-09 03:26] felangel opened #1427 "Merge Cubit into Bloc"
This issue is to track the work above as originally posted in https://github.com/felangel/cubit/issues/69.

[2020-07-09 03:29] felangel opened #1428 "What scopes API should look like?"
@orsenkucher:

I'm always frustrated when I can't use my hydrated storage in multiple directories with multiple secure access keys at one project.

I've figured out all problems on roadmap to this feature except how to defer new scope creation, for example after user passed auth UI.
And also how API should look? Give me your thoughts please🤗🤗

[2020-07-09 03:33] felangel opened #1429 "[Discussion] Should Cubit expose Stream API?"

[2020-07-09 03:50] github-actions[bot] opened #1430 "[Translations] Update docs"
Update Translations to include changes from e997fb0146a824771cfff2273ec23685a9217507.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-09 05:04] lihaotian0607 opened #1431 "[question]how to update a single property of an object"
[code]
### bloc

[code]
whether it can only be used
[code]

[2020-07-09 13:26] mateusfsilva commented on #1415
Hi @felangel!
Thanks for the prompt response.

The tests worked great. Thank you for the help e thank you for the awesome packages.

[2020-07-09 13:26] #1415 closed

[2020-07-09 18:13] omidraha opened #1432 "Back navigation inside flow pages and providers for flow pages"
Hi @felangel,

I have these pages in my architecture:

1. Init
  This page is splash screen.
2. Intro
  This page is introduce page.
3. Auth
  This page is authentication page.
 This page is flow of registration page and verification page.
4. Home
  This page is home page.

In all pages, I need `InitBloc`, it is a general bloc I use in `main.dart`  to route the `user`  to the specific page accordi

[2020-07-09 19:16] angel1st opened #1434 "State is not always sent to the BlocBuilder"
**Describe the bug**
`BlocBuilder` does not receive all of the states from time to time.

**Steps to reproduce it**
Below are the steps to reproduce it, using [the sample](https://github.com/angel1st/bloc_sample):
1. Set a breakpoint in `presentation/widgets/image_widget.dart` - line 85 - to catch `PlantStateImageSet` state
1. Set a breakpoint in `presentation/widgets/image_widget.dart` - line 90

[2020-07-09 23:33] YeungKC commented on #1429
I agree, in general, users don’t need to know too much. When advanced features are needed, the .stream method is also very good

[2020-07-10 00:02] YeungKC commented on #1434
Hi, @angel1st

Maybe you should add event first, then await? Because await will block.

https://gist.github.com/angel1st/986c038587273158c94b8de1eab868d4#file-image_widget-dart-L22

[2020-07-10 00:07] YeungKC commented on #1431
Hi, @lihaotian0607

maybe you can use some extensions/snippets generate copyWith function

[2020-07-10 00:09] YeungKC commented on #1432
Hi, @omidraha

could you provide your a minimal reproducible code sample how are you using it and describe desired result?
use https://codepen.io/ is a good choice.

[2020-07-10 02:54] lihaotian0607 commented on #1431
thanks!! Do you have good suggestions?

[2020-07-10 03:04] YeungKC commented on #1431
Hi, @lihaotian0607

if you use Android studio, it have generate function, default hot key is command + N?

[2020-07-10 03:05] lihaotian0607 commented on #1431
ok, thank you very much for your answer!

[2020-07-10 03:05] lihaotian0607 commented on #1431
ok, thank you very much for your answer!

[2020-07-10 03:08] YeungKC commented on #1431
its ok, if the problem is solved, then @felangel
 will close this issue.

[2020-07-10 03:08] #1431 closed

[2020-07-10 03:50] omidraha commented on #1432
Hi,
I said on the above post.

This  [sample_auth](https://github.com/omidraha/sample_auth) is for minimal reproducible code.

And my problems are:

1. I would like in the `verification` page, User can back to the registration page with back button of phone. But when I pressed the back button, `Intro` pages shown. (It seems `Registration` page is not pushed on the stack)

2. In the `Verification`

[2020-07-10 03:53] angel1st commented on #1434
@YeungKC - actually, the event I am not able to receive is the one, I have sent/yielded prior to make `await`. To be more specific- I added `await` on line 37, to ensure `PlantStateImageIsLoading` on line 36, will be received on `BlocBuilder` end. If I remove `await` from line 37, I will NOT receive `PlantStateImageIsLoading` in `BlocBuilder` - `image_widget.dart` - line 51. In this `await` is the

[2020-07-10 04:00] angel1st commented on #1434
@YeungKC - the state I `yield` is `PlantStateImageIsLoading` and I did it from `plant_bloc.dart` - line 36, right after I recevied `PlantEventNewImage` event.
I need `pickedFile` as a parameter of `PlantEventNewImage`, so I am not sure what do you mean.

[2020-07-10 04:04] YeungKC commented on #1432
Hi, @omidraha

Sorry, I didn’t see it before, I cloned the project later to check it out.

[2020-07-10 05:38] YeungKC commented on #1434
Hi, @adsonpleal
This is my mistake, sorry.
could you provide your a minimal reproducible code sample?

[2020-07-10 06:15] YeungKC commented on #1432
Hi, @omidraha

Use Navigator.of(context, rootNavigator: true) can solve the problem, this problem has nothing to do with bloc.

@felangel close the issue, plz

[2020-07-10 06:31] omidraha commented on #1432
Hi,
I tired now, and you right this ` Navigator.of(context, rootNavigator: true) ` [fixed](https://github.com/omidraha/sample_auth/commit/39b3253be6f2230ad84606cb0ea95ba04ca1349f#diff-4c42cf463d593cb6f22abed23b42d716L29) the  `2` problem,
But how about first one:

1. I would like in the `verification` page, User can back to the registration page with back button of phone. But when I pressed the ba

[2020-07-10 06:40] YeungKC commented on #1432
Hi, @omidraha

Use `WillPopScope` to control the route can fix.

[2020-07-10 07:02] omidraha commented on #1432
Hi,
I tried it, but because of both `registration` and `verification` pages are in one [nested](https://github.com/omidraha/sample_auth/blob/master/lib/main.dart#L54) navigation, and because I used `onGenerateRoute` approach you mentioned [here](https://github.com/felangel/bloc/issues/1341#issuecomment-650206074) to have two `bloc` on this [auth](https://github.com/omidraha/sample_auth/blob/master

[2020-07-10 07:16] angel1st commented on #1434
@YeungKC - while I was preparing the sample, I found the issue :-). It was that `PlantStateImageIsLoading` didn't differ from the previous state - the `PlantStateImageIsLoading` implementation was wrong. Once I fixed it to:

[code]
everything works just as it should be.

[2020-07-10 08:04] angel1st commented on #1434
@YeungKC - it seems my joy was a bit premature :-(. The issue is still present. Below are the steps to reproduce it, using [the sample](https://github.com/angel1st/bloc_sample):
1. Set a breakpoint in `presentation/widgets/image_widget.dart` - line 85 - to catch `PlantStateImageSet` state
1. Set a breakpoint in `presentation/widgets/image_widget.dart` - line 90 - to catch `PlantStateImageIsLoading

[2020-07-10 09:27] docmobile17 opened #1437 "[Example] Add Examples of HydratedBloc"
Hi @felangel ,

I was looking for some examples of  Hydrated BloC, I just found this (https://github.com/felangel/hydrated_weather), and even then it seems like it didn't update, would you like to provide some more examples like login App for example.

Thanks for your awasome libraries, these really provide benefits to us.

[2020-07-10 09:31] Albert221 opened #1438 "'Bad state: Cannot add new events after calling close' when using transformEvents"
### Description

I get `Bad state: Cannot add new events after calling close (...)` on tests that use `transformEvents`.

### To reproduce

Run the code below. See how the second test fails. Now comment whole `transformEvents` overriden method and run tests again. They pass.

[code]

[code]

### Expected behavior

Both tests pass.

### Logs

[code]

[2020-07-10 10:39] omidraha commented on #1432
@YeungKC
Can you please pull  [sample_auth](https://github.com/omidraha/sample_auth) and refactor route navigation section to work with the `1` problem.
I tried many ways and pushed some changes, but not work yet.

[2020-07-10 11:53] omidraha commented on #1432
Finally I [fixed](https://github.com/omidraha/sample_auth/commit/c6893853943ab5f22581aa034c5917f9997375b5) it.
Thanks.

[2020-07-10 14:20] YeungKC commented on #1438
Hi, @Albert221

If I change `wait: const Duration(milliseconds: 300)` to `wait: const Duration(milliseconds: 305)` I can pass the test.
I think the time is not so precise because of the dart event loop.

[2020-07-10 14:26] Albert221 commented on #1438
Yes, that's right, but I think that's not the wanted behavior. Maybe we can somehow make it pass with microtasks or some other stuff under the hood.

[2020-07-10 14:45] angel1st commented on #1434
@felangel - any chances you to have a look at this?

[2020-07-10 15:08] YeungKC commented on #1438
I checked the source code. I don’t think it is necessary. There are a lot of Futures in the execution process, and Futures are event loops. Event loops are first come first served. To be honest, even if such a specific problem is solved, It may not satisfy other examples.

[2020-07-10 16:10] felangel commented on #1438
Hi @Albert221 👋
Thanks for opening an issue!

This will be resolved in v6.0.0 and is likely related to https://github.com/felangel/bloc/issues/1415.

[2020-07-10 16:41] MohaddeseSandoghdar opened #1439 "BlocBuilder does not run after Navigator.pop"
Hi, first of all thanks for this awesome library!! And for taking the time to help us.
I tried the example of shopping_cart and I changed it a bit. I put 2 buttons for increase and decrease the number of orders for each product. And I put these 2 buttons on the shopping cart page too.
It is OK when I changed the number on the Catalog page, the number on the shopping cart page also changes.
The pro

[2020-07-10 20:26] mathewjkavalam commented on #1439
Please try putting the code into BlocListener.
BlocListener is guaranteed to be called once when state changes.
Please see BlocListener section of this article:
https://resocoder.com/2019/10/26/flutter-bloc-library-tutorial-1-0-0-stable-reactive-state-management/

[2020-07-10 20:34] #1432 closed

[2020-07-11 00:38] Renesanse opened #1440 "Can I use cubits in collections?"
My question is: Can I use cubit in collections inside domain layer? For example:
[code]
Where User class extending cubit.
Well, I figure out, that I should dispose all users(cubits) before deleting them due avoid memory leaks. It is a little bit overhead for me. Also, in my opinion, you can close cubit if nobody listening to it, but I think will be very important to check this implementation of th

[2020-07-11 02:45] felangel commented on #1440
Hi @Renesanse 👋
Thanks for opening an issue!

Yeah as you mentioned, it's important to call `close` on the `Cubit` when it is not longer needed. When using `CubitProvider`, this behavior is automatically handled for you. If you were to have the list of `Cubits` be managed by a `StatefulWidget` then you could handle closing them all when the widget is disposed 👍

[code]

Hope that helps 👍

[2020-07-11 02:45] #1440 closed

[2020-07-11 02:47] felangel commented on #1439
Hi @MohaddeseSandoghdar 👋
Thanks for opening an issue!

Can you please share a link to your repository so I can have a look? Thanks 👍

[2020-07-11 03:07] felangel commented on #1434
Hi @angel1st 👋
Thanks for opening an issue and sorry for the delay! Can you please share a link to a complete sample app which I can run locally to reproduce the issue? The gist appears incomplete and it would make it much easier for me to help you if you could provide a working sample, thanks! 🙏

[2020-07-11 03:20] YeungKC commented on #1434
Hi, @angel1st

The dart event loop prevents us from simply doing large calculations. If you use Isolate to run calculations, it should not block UI refresh.

[2020-07-11 04:03] angel1st commented on #1434
@felangel - thanks for answering. I have added steps and a sample app yesterday during the discussion with @YeungKC. You can find them [here](https://github.com/felangel/bloc/issues/1434#issuecomment-656544534), but it seems they are not so obvious.
Hence I updated the issue with **Steps to reproduce section as well**.
Let me know, shall you need any further info.

[2020-07-11 04:07] angel1st commented on #1434
@YeungKC - many thanks for the feedback. Any suggestions (backed up with an example preferably), how I can resolve the issue? Feel free to update the Github code I submitted yesteday. Thanks!

[2020-07-11 09:13] 1g0rrr opened #1442 "Bloc generator. Request for creating more detailed template of the bloc."
The generator is useful, but users need to write a lot of code on top of it. My suggestions:

1. Create basic states:
We only have 4 states in every bloc: Initial, Success, Failure, InProgress. Why not create it immediately? Or at least a couple of them.

[code]
2. Create a sample event. It will be easier to copy or change it, instead of writing from scratch:
[code]

3. Create sample conversion fr

[2020-07-11 12:02] rravithejareddy opened #1443 "How to get the state of multiple filter (complex filter) in Bloc."
Take flutter_todos example where you just using two filters but I want complex filter like rating(4 and above, 3 and above), cost(100to200$, 200to 300$), where user can use multiple states to retrieve items. In example you just passing enum.value in super funtion something like

FilteredTodosBloc({@required this.todosBloc})
      : super(
          todosBloc.state is TodosLoadSuccess

[2020-07-11 14:22] YeungKC commented on #1434
Use isolates to do CPU intensive work.

[2020-07-11 17:48] Peng-Qian opened #1444 "Question: Cubit vs Bloc"
Hi @felangel ,

So excited the cubit out, the method-driven feature is really awesome.

I have some questions about the cubit, could you please explain more about the purpose to create cubit, and what is the key difference/Strength compared to the bloc?

1. is cubit just designed to offer the syntax sugar or reduce the code size/complexity?
2. does cubit be capable to do all things that bloc can d

[2020-07-11 18:16] felangel commented on #1444
Hi @Peng-Qian 👋
Thanks for opening an issue!

1. Cubit is a subset of Bloc so it reduces complexity but you also lose some functionality.
2. No, since Cubit has no notion of events, things like debounce, switchMap, throttle, etc... will not be as easy to support with Cubit and you'd be better off using Bloc.
3. I will cover this in the upcoming documentation updates so stay tuned 😄  but if you're

[2020-07-11 18:16] #1444 closed

[2020-07-11 18:38] Peng-Qian commented on #1444
Thanks for your explanations!~ @felangel 👍

[2020-07-11 19:01] MasterGroosha opened #1445 ""Timer" tutorial doesn't compile due to "currentState" usage"
I was trying to compile Timer tutorial, however I got error: "undefined name currentState".
Here's the code:

[code]

After reading #985 it turned out that I had to remove `final state = currentState;` lines from both functions.
Please fix your docs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://bloclibrary.dev/#/fluttertimertutorial
2. Try to compile code from tutorial

**Ex

[2020-07-11 19:04] felangel commented on #1445
Hi @MasterGroosha 👋
Thanks for opening an issue!

All of the docs/tutorials are in the process of being rewritten for the v6.0.0 and will be accurate. In the meantime, please refer to the [example](https://github.com/felangel/bloc/tree/master/examples/flutter_timer) since that is guaranteed to be up-to-date at all times. Sorry for the inconvenience and thanks again for reporting this 👍

[2020-07-11 21:17] bezaou opened #1446 "BlocBuilder is not called on updated state"
The BlocBuilder is not called whenever my new state is pushed. Only an item from the list of the new state differs from the current state.

**To Reproduce**
conversationBloc.dart

    class ConversationBloc extends Bloc<ConversationEvent, ConversationState> {
    final MessageRepository messageRepository = locator<MessageRepository>();

    ConversationBloc();

    @override
    ConversationState

[2020-07-11 21:19] YeungKC opened #1447 "[DISCUSSION] Deprecate BlocBuilder and BlocListener, keep only BlocConsumer, and add child param"
The birth of `BlocConsumer` is actually to reduce the tedious code, which is worth it.
But the birth of `BlocConsumer` will also confuse some people. If we just give users the concept of `BlocConsumer`, I think it will better understand bloc.

example:
[code]
I think this way, bloc will be simpler and more flexible.

Want to know what feedback about this.

[2020-07-11 22:52] andesappal commented on #1447
Builder already generates a child widget. Why should child and builder co-exist in a BlocConsumer?

[2020-07-11 22:59] andesappal commented on #1447
I would prefer Consumer and Listener each having one single purpose. It's clearer that way.

[2020-07-11 23:00] andesappal commented on #1447
I don't think including a double meaning for a widget makes it simpler.

[2020-07-12 00:10] felangel commented on #1446
Hi @bezaou 👋
Thanks for opening an issue!

Are you able to share a link to the app so I can reproduce the issue locally? I would be happy to take a look and open a pull request with suggestions, thanks! 👍

[2020-07-12 00:11] felangel commented on #1443
Hi @rravithejareddy 👋
Thanks for opening an issue!

Can you please provide a link to a sample app or snippet which illustrates the issue you're having? Thanks 👍

[2020-07-12 00:40] YeungKC commented on #1447
`BlocConsumer` can do `BlocBuilder`, so, why do we need `BlocBuilder`? Is it better to use `BlocConsumer` instead of `BlocBuilder`.

Let us think about the relationship between `BlocConsumer` and `BlocBuilder`, `BlocListener`,
`BlocConsumer` is a BlocBuilder that adds a listener, and also a `BlocListener` that adds a builder. `BlocConsumer` is like a fusion of the two, but is it different?

Perhap

[2020-07-12 00:52] bezaou commented on #1446
Hi thanks for your reply.
I think my code was not alright as I found a similar issue that was already resolved #197

We can close this ticket.

[2020-07-12 00:52] #1446 closed

[2020-07-12 01:28] LeonIPierre commented on #1442
1. I have a code snippet that this based on the 5 product states (empty, partial, loading, ideal, error) below is an example output. I added a message at the top for new users to have a better understanding on how states are handled. @felangel do you think it would be better served to have the states in separate files via an extension?

[code]
2, 3. This is an interesting one. Events tend vary a l

[2020-07-12 01:36] rravithejareddy commented on #1443
I am following your examples on flutter. here the link for sample app I am following
https://github.com/felangel/bloc/tree/master/examples/flutter_todos.

In this app you are using of simple enum filter.

`enum VisibilityFilter { all, active, completed }`

Instead of this, I want use complex filter like different sections having checkboxes. user can select multiple filters same time, Some thing li

[2020-07-12 05:15] felangel commented on #1419
closing this for now since there isn't enough information to reproduce the issue.

[2020-07-12 05:15] #1419 closed

[2020-07-12 05:16] felangel commented on #1439
Closing this for now since there isn't enough information to reproduce the issue. Feel free to comment with a link to a sample app and I'm happy to take a look, thanks! 👍

[2020-07-12 05:21] felangel commented on #1443
@rravithejareddy you need to make your filter `immutable` and add a `const` constructor.

[code]

Then you can create a const default instance for your initial state like:

[code]

Hope that helps 👍

[2020-07-12 05:21] #1443 closed

[2020-07-12 05:39] felangel commented on #1434
Hi @angel1st 👋
Sorry for the delay! I just took a look and I'm not sure I understand the issue, if multiple states are yielded back-to-back faster than the rate at which the widgets are rebuilt, then `BlocBuilder` will not receive the intermediate state because the states changed too quickly. This is a duplicate of https://github.com/felangel/bloc/issues/173 and you can see this clearly in the fol

[2020-07-12 05:39] #1434 closed

[2020-07-12 06:19] angel1st commented on #1434
@felangel - I respectfully disagree with your conclusion.
Have a look at [line 36](https://github.com/angel1st/bloc_sample/blob/master/lib/presentation/blocs/plant_bloc.dart#L36) - this is where I **yield** state `PlantStateImageIsLoading`. Then I have a part with image processing (lines 38 - 48), and after that at [line 49](https://github.com/angel1st/bloc_sample/blob/master/lib/presentation/bloc

[2020-07-12 07:49] kentonraiford opened #1448 "Firebase Login tutorial needs to be updated"
Hi,

I've used bloc before but am now learning how to use it based on this package structure. The [Firebase Login tutorial](https://bloclibrary.dev/#/flutterlogintutorial) is outdated. Could you update it when you get a chance? It would be helpful to new folks trying to learn.

[2020-07-12 10:31] angel1st commented on #1434
If someone is interested - have a look at [the updated code](https://github.com/angel1st/bloc_sample/blob/master/lib/presentation/blocs/plant_bloc.dart#L47). As long as I moved the image processing to `isolate` (in fact I am using the simplified `compute` call), everything goes just well - each state is sent properly and received by the `BlocBuilder`.
Thanks, @YeungKC!

[2020-07-12 10:42] Supercaly opened #1449 "[Question] Provide multiple Cubits in an app with navigation"
Hi, in my application I have implemented a navigation system witch swaps the correct widget when the user presses in a bottom navigation bar; in this way, every widget is considered a "page" and has his unique functionality.

At the moment every "page" widget internally uses a `CubitProvider` and a `CubitBuilder` to work on a `Cubit` (different for every page).

The problem comes when I write widg

[2020-07-12 15:03] felangel commented on #1448
Hi @kentonraiford 👋
Thanks for opening an issue!

Yup I’m in the processing of doing this (see #1445)
Closing this as a duplicate but expect to see the tutorials and doc updates in the next day or so 👍

[2020-07-12 15:03] #1448 closed

[2020-07-12 15:15] felangel commented on #1434
Ah sorry I overlooked that and didn’t have time to properly take a look due to the v6.0.0 work that is currently in progress. Thanks so much to @YeungKC for helping you out and glad everything is sorted out now 😊

[2020-07-12 19:05] #1445 closed

[2020-07-12 19:06] github-actions[bot] opened #1451 "[Translations] Update docs"
Update Translations to include changes from 84b2446574818057dbb08032503f0d7ebb552d0d.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-12 19:12] felangel commented on #1449
Hi @Supercaly 👋
Thanks for opening an issue!

I would recommend separating your widget into two (one that is responsible for providing the cubit and one that is responsible for consuming the cubit).

For example rather than having something like:

[code]

I would recommend decomposing the widget like:

[code]

With this separation you can easily write widget tests for the `MyScreen` widget that ex

[2020-07-12 19:12] #1449 closed

[2020-07-12 20:45] felangel commented on #1422
Closing this because hive automatically handles compacting the data based on the `defaultCompactionStrategy` https://github.com/hivedb/hive/blob/eb300fc1394df1184ddc8b739403b6416a1b57b9/hive/lib/src/box/box_impl.dart#L91.

[2020-07-12 20:45] #1422 closed

[2020-07-12 22:00] orsenkucher opened #1452 "Hydrated: type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, dynamic>'"
**From our Discord**
I am trying to migrate all of my code to 5.0.0, but I am currently running into the following error for HydratedBloc `type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, dynamic>'` , this is happening in the `fromJson` method...

**To Reproduce**
Author of issue (me) thinks you just need two nested `Map<String, whatever>` to reproduce this iss

[2020-07-12 22:12] orsenkucher commented on #1452
As you can see, we already encountered same issue before,
therefore `Map<String, dynamic>.from(stateJson)` is used.

---

I've approached this issue today and came up changing hive's internal `readMap` method in `hive/lib/src/binary/binary_reader_impl.dart`
Here is before:
[code]

And here is after
[code]

[2020-07-12 22:28] orsenkucher commented on #1452
Worked for me! :smile_cat: :smile_cat:
Now what should we actually do with it??

[2020-07-12 22:35] orsenkucher opened #1453 "Hydrated: HiveError: Cannot write, unknown type: Plan. Did you forget to register an adapter?"
**Describe the bug**
Previously we used `json.encode` to encode our states:
[code]
But Hive's serialization system doesn't have this nice property of calling `.toJson` on values it can't serialize directly.

**To Reproduce**
- Have a list of custom types (even with toJson method defined)
- Have nested `pkg:freezed` types

**Expected behavior**
Everything goes smooth

[2020-07-12 22:38] orsenkucher commented on #1453
- Maybe we can run `json.encode` on our state before sending it to hive. But then `Map<int, dynamic>` will panic((
- Or search for `.toJson` method ourselves and substitute value with returned value

Not rly sure on either of this

[2020-07-12 23:37] felangel commented on #1427
Getting close to have a 6.0.0-dev release! I would love some more 👀  on https://github.com/felangel/bloc/pull/1441 🙏

[2020-07-13 11:06] Supercaly commented on #1449
Hi, yesterday I've tested my idea of the `MultiCubitProvider`, but it didn't satisfy me, mainly because the cubits are initialized only one time, in fact emitting the initial state only one time, no matter how many times I call the `fetch()` method; because the initial state is a loading state if I re-visit the page a second time the loading animation is not displayed (because `fetch` never emits

[2020-07-13 15:05] Supercaly commented on #1449
After some fiddling around I solved the error in testing: the variable `cubit` should be declared of type `HomeCubit` and not `MockHomeCubit`, but still initialized as `MockHomeCubit`

[2020-07-13 17:38] orsenkucher commented on #1452
So help wanted😛!
- Now we have sample to produce this bug: [ram231/samplehydratedbloc](https://github.com/ram231/samplehydratedbloc)
- My fork of sample with fixes: [orsenkucher/samplehydratedbloc](https://github.com/orsenkucher/samplehydratedbloc)
- My fork of hive with applied fix: [orsenkucher/hive](https://github.com/orsenkucher/hive)

[2020-07-13 17:39] felangel commented on #1452
@orsenkucher thanks for putting that together! Will take a look later today 👍

[2020-07-13 18:16] felangel commented on #1452
@orsenkucher I just opened a [pull request](https://github.com/ram231/samplehydratedbloc/pull/2) with a fix. I believe the issue is actually in the way the current application serializes and deserializes the model and not an issue in hive. Thoughts?

[2020-07-13 18:42] orsenkucher commented on #1452
@felangel that is what we suggest as quick fix for this problem, but it's very tedious work especially knowing that previously it worked fine

[2020-07-13 18:44] orsenkucher commented on #1452
And default json.encode was kind enough to avoid such error

[2020-07-13 18:46] orsenkucher commented on #1452
Maybe we can run this Map<>.from somewhere in library code, to relieve developers from it

[2020-07-13 19:03] visual-velocity commented on #1446
I'm also facing same issue. blocbuilder and bloclistener both are not updated

[2020-07-13 22:11] felangel commented on #1452
Check out [this pull request](https://github.com/ram231/samplehydratedbloc/pull/3) showing how to use `json_serializable` to handle `toJson` and `fromJson` for us. This is my recommendation 👍

[2020-07-13 22:53] felangel commented on #802
Aftering discussing this further with @RollyPeres, we've decided to close this since adding `context` to the `addError` api would break the `EventSink` interface. In addition, ideally the error object should contain all relevant contextual information.

[2020-07-13 22:53] #802 closed

[2020-07-13 23:22] felangel commented on #1427
v6.0.0-dev.1 release it available now at https://pub.dev/packages/bloc/versions/6.0.0-dev.1 🚀

![bloc v6-dev](https://user-images.githubusercontent.com/8855632/87362977-bba03a00-c535-11ea-80e9-12edd174fb05.gif)

[2020-07-14 01:32] pblinux commented on #1355
Hi @felangel

I'm having a similar problem with dialogs. I have a StatefulWidget and at some point I need to call my `action ()` method. Before calling the dialog, I can access the bloc without problems but after calling it, I get an error:
`context! = Null ': is not true.` :thinking:

[code]
Is there a case where the context does not have the bloc available after using a dialog?

Thank you

[2020-07-14 01:37] harnit-bakshi commented on #1412
Hi any update on this please

[2020-07-14 01:42] ram231 commented on #1452
Thanks for the correction of my sample repo.

[2020-07-14 15:29] felangel commented on #1412
Hi @chakrihacker and @harnit-bakshi sorry for the delay! I opened a [pull request](https://github.com/chakrihacker/flutter_bloc_repro_1412/pull/1) with a fix.

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-07-14 15:29] #1412 closed

[2020-07-14 21:32] abdullah432 opened #1455 "[Question] What is the best approach for Navigation between two pages?"
It's not a bug, just want to learn a good approach. I search a lot but didn't find any good solution.
*Note: Here is the full sample code: https://github.com/abdullah432/happyshooping

**Trying to explain**
I create 3 blocs. 1) authentication 2) Login 3) Signup
**At Start**
[code]
**AuthenticationFailure State**
This state will open LoginPage. LoginPage has a label "New user? Signup". Now when the

[2020-07-14 23:57] YeungKC commented on #1455
Hi, @abdullah432

There are many solutions,
* You can reuse the BlocProvider package on the required page
* Use the second Navigator to wrap the page you need. #1432
* Wrap all pages directly on top

[2020-07-15 05:52] abdullah432 commented on #1455
@YeungKC  Thanks for your answer. I'm new to the bloc. So can you explain what you mean by points 1 and 3? If you send me a reference of the implementation of both points then it will be helpful. I will check the second point reference #1432 in about 4 to 5 hours.

[2020-07-15 08:40] vergilw opened #1458 "CounterPage demo can not run"
**Describe the bug**
the CounterPage demo got a compile error in REAME.
i copy the REAME demo code to my IDE, and input `flutter run`.
then i got a compiler error below:

**Logs **
flutter: The following assertion was thrown building _BodyBuilder:
flutter:         CubitProvider.of() called with a context that does not contain a Cubit of type CounterBloc.
flutter:         No ancestor could be found

[2020-07-15 09:02] abdullah432 commented on #1455
@YeungKC I check #1432 this solution but the scenario is not the same. I didn't know you run my sample code but I will explain again. I have authentication bloc which has different events including AuthenticationLoggedIn. This event will be called whenever user clicked on the login button or signup button or (SignupButtonPressed or LoginButtonPressed) event is called. After 3 seconds Authenticatio

[2020-07-15 09:41] ngoctranfire commented on #1427
@felangel , I actually tried this yesterday, and it seems I might be doing something wrong, but it seems like I'm not able to get the state updates that my Cubit is emitting. Not sure if there's something wrong with the Cubit pattern, but I'm doing something following this guide:

https://pub.dev/packages/flutter_bloc/versions/6.0.0-dev.1#-example-tab-

For some reason though, my cubit isn't updat

[2020-07-15 13:11] abdullah432 commented on #1455
I resolve the issue and know before asking the question that this approach will work but I don't know it's the only possible approach or there are other good approaches.

I add two extra states to authentication bloc. 1) `NavigateToLoginPage` 2) `NavigateToSignupPage`.
When user clicked on "NewUser?Signup" Text Widget, in GestureDetector I activate NewUserLoginEvent event of Loginbloc.
[code]
and

[2020-07-15 14:54] felangel commented on #1458
Hi @vergilw 👋
Thanks for opening an issue!

The README is just outlining conceptually outlining how to use `BlocBuilder` as an example

You can refer to the [complete example](https://pub.dev/packages/flutter_bloc/example) which should compile and run properly.

Hope that helps and sorry for any inconvenience! 👍

[2020-07-15 14:54] #1458 closed

[2020-07-15 19:07] felangel commented on #1455
Hi @abdullah432 👋
Thanks for opening an issue!

I'm in the process of revamping all of the examples for v6.0.0. You can check out the new [flutter_login](https://github.com/felangel/bloc/tree/example/new-flutter-login/examples/flutter_login) example for what I would recommend in this case.

Hope that helps 👍

[2020-07-15 19:07] #1455 closed

[2020-07-15 19:17] jibiel commented on #1447
1. `Builder` is more idiomatic to Flutter, which has a dozen of `Builder` classes and only a couple of `Consumer`s. Which seems only logical considering that every widget has a `build` method.
2. AFAIU `BlocConsumer` was introduced to reduce the boilerplate of nesting `BlocListener` and `BlocBuilder`, which are very basic, common and easy to understand concepts. So how it is expected to facilitate

[2020-07-15 21:45] rafaelmpessoa opened #1462 "Question, reemit the last event"
Hello,

It's possible to reemit the last event on my bloc with the same previous arguments?

Example:
I have a bloc that fetches some network data but somethings the network can fail. When fails the user will see a Widget that has "Try Again" button that when clicked has to emit the last event on my bloc.

[2020-07-15 21:59] felangel commented on #1462
Hi @rafaelmpessoa 👋
Thanks for opening an issue!

By default blocs don't keep track of all events added. You would have to modify your bloc to keep track of the events and then re-add them. You could do something like:

[code]

Hope that helps 👍

[2020-07-15 21:59] #1462 closed

[2020-07-15 23:26] YeungKC commented on #1455
Hi @abdullah432

I'm glad you solved the problem. I was too tired yesterday to reply in time, sorry.

[2020-07-15 23:43] anuragvohraec opened #1464 "What is the proper way to fire an event (without a user pressing some button), right after a widget is a added in the tree?"
Hi Felix/bloc team,

Thank you for this awesome framework, which has standardized my whole flutter development experience !

I have one question which keeps coming back to me.
What is the proper way to fire an event right after widget is addded to widget tree.

Say I have a captcha widget, the initial state of it is to show a circular progress indicator.
Now what is the right way to trigger event,

[2020-07-15 23:44] felangel commented on #1452
Fixed in #1460 and published in v6.0.0-dev.2 of `hydrated_bloc` 🎉

[2020-07-15 23:44] #1452 closed

[2020-07-15 23:45] felangel commented on #1453
Fixed in #1460 and published in v6.0.0-dev.2 of `hydrated_bloc` 🎉

[2020-07-15 23:45] #1453 closed

[2020-07-15 23:47] felangel commented on #1464
Hi @anuragvohraec 👋
Thanks for opening an issue!

The easiest thing to do is fire the event from the `create` of `BlocProvider`

[code]

Another option is you can create a `StatefulWidget` and in the `State` you can override `initState` and add the event there.

[code]

Hope that helps 👍

[2020-07-15 23:47] #1464 closed

[2020-07-16 07:29] Taco55 opened #1466 "Events of a stream seems to get lost in `mapEventToState`"
I have a problem when using a stream in `mapEventToState`. I have a sensor that should trigger a new state depending on the data that is emitted to a stream. However, listening to that stream inside `mapEventToState` does not work since events seems to get lost when using `async*`:

[code]

Of course, it is possible to move all logic to a repository and to return a `Future` when results are availa

[2020-07-16 08:05] YeungKC commented on #1466
Hi, @Taco55

In this case, I suggest you use `Cubit`, which can emit state directly

Cubit will be merged into bloc in version 6.0.0, now you can use version 6.0.0dev

[2020-07-16 14:40] felangel commented on #1466
Hi @Taco55 👋
Thanks for opening an issue!

You need to add new events to the bloc rather than trying to yield from within the subscription.

[code]

As @YeungKC mentioned, you can also use `cubit` in v6.0.0-dev.1 of bloc to achieve this:

[code]

Hope that helps 👍

[2020-07-16 14:40] #1466 closed

[2020-07-16 14:48] viralvaghela commented on #181
Thank you

[2020-07-16 16:03] Taco55 commented on #1466
@YeungKC  and @felangel  many thanks for the quick response. For now I prefer to stick with Bloc, but I will definitely have a look to Cubit.

@felangel I implemented your suggestion with Bloc. However, when I add new events as in your example, it seems that the data is not passed correctly in the `SensorChanged` event. Is it possible to have a stream listener in `mapEventToState` anyway? Hope you

[2020-07-16 16:38] Gene-Dana opened #1468 "Create BLoC Template from CLI i.e flutter create bloc-counter"
There is alot that goes into BLoC implementation in terms of boiler-plate and folders. In the examples from Felangel, he takes it a step further and adds in barrel files for each model, bloc, and service. We definitely find ourselves copying folders from old bloc projects in almost every new project.

What would be cool is to have a feature that allowed us to build the default BLoC template from t

[2020-07-16 17:42] marcin-jelenski commented on #1337
I've had the same case - bloc wasn't destroyed properly when a reference was stored outside of create function. It was quite confusing - @felangel it might be worth mentioning in the docs that it should be avoided. I've found pretty much samples and the articles which does that mistake. And that's a source of leaks - bloc isn't closed, subscriptions aren't disposed.

@lazarvgd I've noticed that ma

[2020-07-16 17:46] felangel commented on #1337
@marcin-jelenski yup, thanks for bringing this up! I'll be sure to state this more explicitly in the upcoming documentation enhancements 👍

[2020-07-16 17:47] marcin-jelenski commented on #1337
Well done mr @felangel, thank you 🥇

[2020-07-16 18:57] felangel commented on #1466
@Taco55 no problem! Yup, are you able to share a link to a sample app which illustrates the problem? I'm more than happy to take a look and open a pull request 👍

[2020-07-16 19:44] JohnGalt1717 commented on #1336
There is a common scenario where you end up repeating yourself a lot:

Let's say we have a page, and we have a bloc for the page itself. It is the lowest common ancestor and everything else goes from there.

Right now we have to do the following:

BlocProvider(create: (context) => new Bloc(), child: BuildBuilder<Type, State>( builder: (context, state) {})

It would be much nicer in answer to the q

[2020-07-16 19:45] wujek-srujek opened #1469 "Does it ever make sense for events to be Equatable?"
Not really a bug, I think, I would just really appreciate your input on this.

I understand the reason states need to override the `operator==` method or use `Equatable`, but I fail to see the reason why it should be the case for events. When I call the same event multiple times, no equality comparison or filtering happens by default, as it does for states. It is best visible in the counter tutori

[2020-07-16 19:48] felangel commented on #1469
Hi @wujek-srujek 👋
Thanks for opening an issue!

In many cases, whether or not events are `Equatable` makes no difference; however, it does matter when you are overriding `transformEvents` (for example when applying `distinct`) and also makes it easier to write tests in many cases because you can do things like:

[code]

Hope that helps answer your question 👍

[2020-07-16 19:48] #1469 closed

[2020-07-16 19:52] felangel commented on #1336
@JohnGalt1717 this is actually not recommended because by creating and consuming the bloc in the same widget you make it impossible to mock the bloc for testing purposes. See https://github.com/felangel/bloc/issues/1449#issuecomment-657262957 for an example 👍

[2020-07-16 19:54] JohnGalt1717 commented on #1336
So what's the recommended pattern for pages against the Routing system? Generate the provider in the router and pass the provider with the child being the page?

[2020-07-16 19:57] felangel commented on #1336
Yeah that generally works well. If you're using a nested `Navigator` then you can also just wrap the Navigator in one or more providers.

[2020-07-16 20:22] wujek-srujek commented on #1469
Hi. Yes, I know `transformEvents` may use it, that's why I wrote 'by default not comparison / filtering is applied'. Good point about the tests, but we don't write them like this (at least in my feature module).
That clears a lot of things up, thank you very much.

[2020-07-16 21:05] slimshady060 commented on #120
@glourencosilva is the solution... TKS

[2020-07-16 21:07] JohnGalt1717 commented on #1336
Is there an example of this?

[2020-07-16 21:20] felangel commented on #1336
I'm currently in the process of redoing all of the examples but you can check out the [in progress login example](https://github.com/felangel/bloc/blob/example/new-flutter-login/examples/flutter_login/lib/app.dart).

[2020-07-16 22:58] ride4sun opened #1472 "Can not get bloc working with streamController and not yield"
**Describe the bug**
I abstracted the pub location package into a bloc. First I tried to listen to the location events but the `yield` statement did not get executed. Then I used `await for` and I could not cancel the subscription because there was none.

I filed a question on Stackoverflow for that here:
https://stackoverflow.com/questions/62926257/how-can-i-cancel-a-await-for-in-a-flutter-dart-b

[2020-07-16 23:34] RollyPeres commented on #1472
Hi @ride4sun 👋

Your initial approach to listen to location was the right one.
Instead of yielding you should just add an event to the bloc with the incoming data as payload.
[code]
Handling that event will allow you to yield new states.

Hope that helps 👍

[2020-07-16 23:47] ride4sun commented on #1472
Oh man - I could have thought about that. Thanks @RollyPeres . Any ideas why the current version does not work?

[2020-07-17 00:01] ride4sun commented on #1472
you mean an event instead of a state, right?
`locationStream.listen((location) => add(LocationEvent.locationChanged(location)));`

This would expose this event also to the consumer which is the UI. It for sure works but not really clean for the consumer of that package. It would also leak the location package into the UI which I really like to avoid. Do I miss something?

[2020-07-17 00:32] RollyPeres commented on #1472
If you're creating a package out of this bloc then it's up to you what you export.
You can easily create the event as private so package users won't be able to add it.

`const factory LocationEvent._locationChanged() = _LocationChanged;`

[2020-07-17 06:52] Supercaly opened #1473 "Incongruences in bloc_test 7.0.0-dev.1 skip README an behaviour"
I've taken a look a look at the new feature branch of bloc with the merged cubit (feat/export-cubit-class-from-bloc); in particular to bloc_test and I've seen an incongruence in the skip documentation: under **Unit Test with blocTest** first it's said that skip defaults to 1, then in the example it's said its default value is 0. In code, it defaults to 0.

I'm using bloc_test 7.0.0-dev.1 but the t

[2020-07-17 07:11] miso01 opened #1474 "BlocConsumer does not receive yielded state"
Hello,

I'm developing an app right now and I faced one issue. Behavior of this issue is really weird, sometimes it works, sometimes not. I'm trying to yield `InProgressState` first and after all the operations are successfully completed I want to yield `SuccessState`, but the problem is that the `SuccessState` is yielded but my `BlocConsumer` receives only `InProgressState`. I removed all buildWh

[2020-07-17 07:30] YeungKC commented on #1474
Hi, @miso01
could you provide your a minimal reproducible code sample?

[2020-07-17 07:59] miso01 commented on #1474
It's quite complicated to provide a sample...I will try to provide it later if we don't find solution without it.

Now I tried to move the code outside of map method and insert it directly into mapEventToState and it doesn't work.
Also I tried to apply 5 second delay before yielding SuccessState and it doesn't work.

[2020-07-17 08:02] wujek-srujek opened #1475 "How to implement a 'wizard' like state machine which collects data as it goes further/deeper"
Hei Felix. To start with, sorry for the longish question, but I wanted to make sure I describe the use case correctly, I hope you don't fall asleep reading it!

I have a question about BLoC usage. Our use case is the following (simplified, our actual use case is more complex and the 'wizard' has more steps): we first need to choose a country (country list loaded from backend), then the next step i

[2020-07-17 09:35] miso01 commented on #1474
@YeungKC  **UPDATE!!**

I think that I noticed the problem. As you can see in my listener I have Navigation to the failure and loading screen. When user is navigated to the loading screen I receive `SuccessState` only sometimes. I think that after navigating to the loading screen my bloc is being disposed and this is the reason why I didn't receive `SuccessState` in my `BlocConsumer`.

Is there an

[2020-07-17 10:12] YeungKC commented on #1474
If you think it is a BlocConsumer problem that caused you not to receive it, you can directly listen to bloc, just like listening to a stream, without ui code to test.

[2020-07-17 10:15] miso01 commented on #1474
It's not problem of BlocConsumer. Problem is that bloc is being disposed automatically after navigator push new page. I should handle disposing of bloc manually I think.

[2020-07-17 10:17] YeungKC commented on #1474
Maybe, you can try to write test for bloc without ui code.

[2020-07-17 13:29] felangel commented on #1473
Hi @Supercaly 👋
Thanks for opening an issue!

I will update the README shortly but in the new version blocs and cubits won’t emit the current state upon subscribing. In order to test the initial state I would recommend a regular test like:

[code]

Hope that helps and thanks again for bringing this up, I will make sure the docs are all up-to-date 👍

[2020-07-17 13:29] #1473 closed

[2020-07-17 15:06] felangel commented on #1475
Hi @wujek-srujek 👋
Thanks for opening an issue!

I would probably recommend splitting the loading of the form content into a separate bloc so you would have something like:

[code]

Then you can have a `FormSelectionBloc` like:

[code]

I would highly recommend using the [formz package](https://pub.dev/packages/formz) to help you manage the state of you user inputs (especially when you want to per

[2020-07-17 15:07] Jomik opened #1476 "React Redux connect-like wrapper"
Normally when testing widgets I would like to avoid having to mock and provide a bloc, just to provide state values.
This means we end up with two widgets, one that is our actual UI Widget, and one that wraps our UI widget in a BlocBuilder and passes along the state it needs.
Since this seems to be a pretty common thing, I wondered if that could be shortened a bit.

React Redux has a `connect` fun

[2020-07-17 15:23] felangel commented on #1474
Hi @miso01 👋
Thanks for opening an issue!

The problem is likely that you are providing the bloc too low in the widget tree. If you still need it to be available try lifting it up or manually managing the lifecycle by creating/disposing it yourself in a StatefulWidget. In general, you can use a nested `Navigator` and wrap the `Navigator` in your `BlocProvider` and navigating to subsequent pages wi

[2020-07-17 15:23] #1474 closed

[2020-07-17 17:24] github-actions[bot] opened #1477 "[Translations] Update docs"
Update Translations to include changes from 69ff987d5d6182aab02874865e8ba0e894792aea.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-17 17:24] liuaiyuan opened #1478 "How to avoid empty???"
I hope that when new data is loaded, the old data will remain on the page until it is updated after the new data is loaded, but now it will become blank as shown below!

Is there any solution?😭

![iShot2020-07-1801 17 19](https://user-images.githubusercontent.com/68437472/87813547-abb98a80-c894-11ea-8983-5d1e34bc5106.gif)

### user_bloc.dart
[code]
### user_state.dart
[code]
### user_page.dart
[co

[2020-07-17 17:29] felangel commented on #1478
Hi @liuaiyuan 👋
Thanks for opening an issue!

You can refactor your state to look like:

[code]

Then your bloc would look like:

[code]

This will allow you to show the old user data while you are refreshing.

Hope that helps 👍

[2020-07-17 17:29] #1478 closed

[2020-07-17 18:01] wujek-srujek commented on #1475
Hi Felix, thanks for your answer and recommendation.

[code]
I don't think we can use this as we can get state list only after a country is selected, otherwise we would have to get states for all the possible countries in the world (or at least those that our application knows), which would be even more dramatic for cities. This is a step by step process, hence my name 'wizard', which was a name f

[2020-07-17 18:11] batwicket opened #1479 "flutter_shopping_cart example"
The ["Naming Conventions"](https://bloclibrary.dev/#/blocnamingconventions) section of the bloc library documentation suggests naming Events using the past tense and States using the present tense.

The [flutter_shopping_cart example](https://github.com/felangel/bloc), as [recommended in the FAQ](https://bloclibrary.dev/#/faqs?id=project-structure), uses LoadCatalog as an Event. It potentially res

[2020-07-17 18:12] wujek-srujek opened #1480 "[Discussion] Custom fields/getters in BLoC"
Hi Felix, I would be interested in your opinion about adding a custom field/getter to a BLoC, which can also change its value as the BLoC changes states (i.e. it is not set once upon construction). It would also be something visible to the clients of the BLoC, and they would actually need to use it. For example, code within the `BlocBuilder.builder` callback would use the state, but also look up t

[2020-07-17 18:32] Jomik commented on #1480
That sounds like a no-no. I would not want to render my UI based on anything _other_ than the state.
It also sounds harder to test. You have a tight coupling, as you say, so you are unable to remove the Bloc from the widget, which means you _have_ to provide a mocked version of the bloc to test your widget.
Why is this not just part of your state?

[2020-07-17 19:17] felangel commented on #1480
Hi @wujek-srujek 👋
Thanks for opening an issue!

Yeah I agree that you should generally not maintain parallel state in a bloc. Instead, you should prefer to keep all state as part of the state object itself to keep the bloc interface simple and predictable 👍

[2020-07-17 19:17] #1480 closed

[2020-07-17 19:24] ride4sun commented on #1472
I update the lib as you suggested in the `yield` branch
https://github.com/ride4sun/location_bloc.git

It works as expected but I generate the Types with the `super enum` (pretty cool) and have not a good way to make than private (I guess I can make the privat after the generation)

Would you mind reviewing the package @RollyPeres ? I would like to hear your comments.

[2020-07-17 20:10] wujek-srujek commented on #1480
Thanks for confirming my thoughts, guys.

Some background which hopefully will explain where my doubts are coming from: I am relatively new in the team, and we are working on a new feature, and the team worked on another one previously. What they did was create what I call a MEGA-BLoC: there was just one BLoC for multiple screens, with very complex and convoluted state transitions (the screens did

[2020-07-17 20:14] felangel commented on #1479
Hi @batwicket 👋
Thanks for opening an issue!

I have updated this in https://github.com/felangel/bloc/commit/81053c91745657e9dcf9b0d088d1d9be55e60e68. Thanks again for calling this out 🙏

[2020-07-17 20:14] #1479 closed

[2020-07-17 20:54] felangel commented on #1475
@wujek-srujek have you taken a look at the [flutter_dynamic_form example](https://github.com/felangel/bloc/tree/master/examples/flutter_dynamic_form)?

[2020-07-17 21:21] felangel commented on #1472
@ride4sun another option is to avoid exporting the events at all.

[code]

Then you can expose public methods on the bloc to add the events internally:

[code]

Closing this for now since it sounds like your original question has been addressed but happy to continue the conversation if you have any other additional questions 👍

[2020-07-17 21:21] #1472 closed

[2020-07-17 21:50] ride4sun commented on #1472
Yes, I could do that but it still feels like we dancing around the real issue that I can not listen to streams inside the bloc without creating internal events to myself. Does that no feel like an odd workaround to you. The use case that I pass in any stream to a bloc sounds very common to me.

I think the real problem is that `listen` does not work with `yield` and 'await for' I can not cancel la

[2020-07-17 22:08] felangel commented on #1472
@ride4sun can you share a simple example of what you mean when you say `listen` does not work with `yield` and `await` for? I'm not sure I completely understand the issue, thanks 🙏

[2020-07-17 23:48] ride4sun commented on #1472
I think the Stackoverflow post is hopefully explaining it:
Does it make sense?

https://stackoverflow.com/questions/62926257/how-can-i-cancel-a-await-for-in-a-flutter-dart-bloc

[2020-07-18 01:11] RollyPeres commented on #1472
@ride4sun I'm sorry I'm extremely caught up will try to have a look in the following days but can't promise anything.

As for your issue with yield, that's just how dart works.
It's quite simple: in order to yield from on data callback you would need it to return a stream, which is not the case since it returns void. Also .listen returns a stream subscription instead of a stream, so it's simply im

[2020-07-18 03:31] manyopensource opened #1483 "Get rid of provider and InheritedWidgets in flutter_bloc"
Is that ever going to happen? Maybe you're working on it right now? TIA!

[2020-07-18 06:11] jaydangar opened #1484 "Boiler Plate remove for form validation"
As we all know, formz and flutter_bloc works great. there's an issue with that. We need to write alot of boilerplate code for that. Can we create an extension for that? Suppose I have many 10 fields I need to create Separate model classes such as email, phonenumber, name, firstname, lastname, address, etc. can we have any alternative solution to this problem, which reduced boilerplate?

[2020-07-18 07:00] ride4sun commented on #1472
Not exporting the events is probably the cleanest approach together with the internal event. Thanks!.

[2020-07-18 07:04] ride4sun commented on #1472
Yes need to brush up on that generator stuff. Thanks for your help. Firing internal events when you want to listen to another stream still feels odd to me, though

[2020-07-18 07:35] RollyPeres commented on #1472
The whole bloc concept revolves around adding events which are then turned into states, nothing odd about that.
If you don't like the concept then maybe have a look at cubit, which doesn't have the concept of events but you can instead use methods to trigger state changes.

[2020-07-18 11:27] Jomik commented on #1480
@wujek-srujek That sounds very much like a Redux thing to do. You definitely do not want that in BLoC..
Awesome that you are able to try that approach, I am sure you will be happy for it. You get nice separation of concerns, and the BLoCs you create will be easier to test, as they are smaller.
To test a widget. I would split it into two..

One that you can test `MyWidgetBody`, and one that is a si

[2020-07-18 12:58] wujek-srujek commented on #1475
Hi @felangel , I looked at it, and while it works, I'm sorry to say I'm not a big fan. It just creates a single state type with all possible fields inside, so my widgets will always get the same state (different instances) and instead of checking for state type and acting/building accordingly, they will perform null checks. Don't get my wrong, it will work fine for a simpler app, but I don't think

[2020-07-18 14:50] FelipeCabeza16 commented on #120
@felangel Hi Dear Felix, i've using your library since a long time ago, but i've a question, for example i use a bloc to register new users and if i call _registerBloc.close() on dispose(), i can't register more users, if the user calls again this screen because close events added will not processed, and i've the same trouble with another blocs, the user maybe don't use immediately but later can b

[2020-07-18 15:54] felangel commented on #1475
@wujek-srujek yeah I agree it’s just a simple example which is why one bloc and one state works. If it were a larger more complex feature then splitting into multiple blocs would be more manageable. I can update this example to be more complex later today and you can have a look 👍

[2020-07-18 15:57] felangel commented on #1480
I’m currently working on rewriting most of the examples and they will all be fully tested so stay tuned haha 😊

[2020-07-18 15:58] felangel commented on #1483
Hi @manyopensource 👋
Thanks for opening an issue!

This is a duplicate of #712 so please check it out and comment with your thoughts 👍

[2020-07-18 15:59] #1483 closed

[2020-07-18 16:03] felangel commented on #1447
I completely agree with @jibiel. Closing this for now but if anyone has a strong argument in favor of removing BlocBuilder and BlocListener feel free to leave a comment and I’m happy to reopen the issue 👍

[2020-07-18 16:03] #1447 closed

[2020-07-18 16:06] wujek-srujek commented on #1475
Hi @felangel , thanks for being so helpful, but there is no need as far as I'm concerned, I think I'll manage ;d Thank you again for investing so much of your time and energy to help!

[2020-07-18 16:10] felangel commented on #1484
Hi @jaydangar 👋
Thanks for opening an issue!

Can you describe a solution you were envisioning? I personally don’t think defining the models is boilerplate because that is where you define the custom validation rules. The models are also just a few lines of code and can be reused across multiple blocs and apps. All phone numbers will likely not have the same validation logic for example and this a

[2020-07-18 16:14] felangel commented on #1475
@wujek-srujek no problem but I definitely don’t want others to see the dynamic form example and try to extend it for complex cases with a single bloc. I want to ensure the examples will help developers build apps of all sizes/complexity so I will definitely update the example to adopt a more scalable approach to avoid confusion 👍

[2020-07-18 16:40] jaydangar commented on #1484
@felangel so Creating the validation is one time process and can be reused as many times as - we can. I thought we need to create it everytime for every screen. That helps. Thanks for the response.

[2020-07-18 17:08] felangel commented on #1484
Yup the models are completely reusable haha.
Closing for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2020-07-18 17:08] #1484 closed

[2020-07-18 18:49] shelarsuhas commented on #78
The Observable is replaced by Stream in the latest RXDart version.

`@override
  Stream<GithubSearchState> transformEvents(
    Stream<GithubSearchEvent> events,
    Stream<GithubSearchState> Function(GithubSearchEvent event) next,
  ) {
    return (events as Observable<GithubSearchEvent>)
        .debounceTime(
          Duration(milliseconds: 300),
        )
        .switchMap(next);
  }
`

Does

[2020-07-18 19:48] shelarsuhas commented on #78
Never mind, understood it now.

If any one comes looking for it, here's how its done now:

`@override
  Stream<Transition< GithubSearchEvent, GithubSearchState >> transformEvents(
      Stream< GithubSearchEvent > events, transitionFn) {
    return events
        .debounceTime(const Duration(milliseconds: 500))
        .switchMap((transitionFn));
  }
`

[2020-07-19 03:15] ride4sun commented on #1472
I am not mind the concept at all. I actually like it. What I don't like is
that u add internal events as a workaround because I am not able to listen
to a stream inside an event. Sounds more like a dart shortcoming to me.

On Sat, Jul 18, 2020, 00:35 Rolly Peres <notifications@github.com> wrote:

[2020-07-19 03:36] manyopensource commented on #712
Hopefully you'll find some inspiration here: https://youtu.be/_ISAA_Jt9kI

[2020-07-19 04:15] heshaShawky opened #1485 "A mergration guild from v4.0.0 to v5.0.0"
**Describe the bug**
I'm using flutter_bloc on some production apps, and I got a notification from the BLOC add-on in the VS Code that I have to update to V5, I thought it would be under hood updates but I see there a lot of breaking changes ( a lot of errs of missing/undefined classes ...etc ).

So I think we need a guide for how to migrate the code from V4 ( as an example ) to V5 ( as now ) and

[2020-07-19 04:16] felangel commented on #1485
Hi @heshaShawky 👋
Thanks for opening an issue!

Yup, check out the [migration guide](https://bloclibrary.dev/#/migration) and let me know if you have any questions 👍

[2020-07-19 04:16] #1485 closed

[2020-07-19 09:32] prajwal27 opened #1486 "Bloc to imlpement real time internet connection."
**Is your feature request related to a problem? Please describe.**
I wanted a bloc that can be used globally to display the availability of real-time internet connection, with the help of other external packages (connectivity and DataConnectionChecker). I want a state to be yielded whenever the connection is changed.

**Describe the solution you'd like**
I have here a screenshot of what I want the

[2020-07-19 13:59] z3v0k opened #1487 "BlocProvider run only first time"
Hi, I have my providers in Main, only runs the first time after login success, I need run it always after login success, can you help me :(

![image](https://user-images.githubusercontent.com/7059212/87876653-04317a80-c9b0-11ea-9447-14407c132fd6.png)

[2020-07-19 18:35] karthikeyanp307 opened #1488 "flutter_bloc - Notification 0nResume redirect to new page"
Hi,

I am using flutter_bloc in my application and for notifications, I am using https://pub.dev/packages/firebase_messaging. I am in need of redirecting the user to a specific screen in the application when a notification is received via onResume() or onLauch() method in the main.dart. How to do this?

When tried with Navigator, page redirection is not happening. I am following https://github.com

[2020-07-19 19:29] warriorCoder commented on #1486
Hi @prajwal27 ... The problem is that your bloc needs to yield a state, not a listener. Have you looked at www.resocoder.com tutorials? I know he has some that use the freezer package with bloc.

[2020-07-19 19:31] warriorCoder commented on #1487
@z3v0k .. there could be a few different reasons for your issue, but the first one that comes to mind is that you are trying to yield the same state and are using equitable, meaning that the state hasn't actually changed so no new state will be yielded.

Can you share a project that shows the problem you're having?

[2020-07-19 19:34] warriorCoder commented on #1488
@karthikeyanp307 Can you share your project or some code with where the issue is happening.

It would seem like your bloc isn't high enough in the tree to catch when a notification comes in to yield a new state OR that your state isn't changing correctly and so the Navigation code isn't being called.

Of course, it could be neither of these things.

[2020-07-19 20:28] prajwal27 commented on #1486
@warriorCoder I have actually arrived at a solution. Will upload in some time.

[2020-07-19 21:13] prajwal27 commented on #1486
The solution which I found useful.

**Repository Code**
![Screenshot from 2020-07-20 02-34-52](https://user-images.githubusercontent.com/31249460/87885253-32f03500-ca32-11ea-99ba-0c2ae9b63fe0.png)

**Bloc Code**
![Screenshot from 2020-07-20 02-35-34](https://user-images.githubusercontent.com/31249460/87885281-6f239580-ca32-11ea-9427-1c71fd1ffc5b.png)

**Bloc State Code**
![Screenshot from 2020-07-

[2020-07-19 22:50] felangel commented on #1486
Hi @prajwal27 👋
Thanks for opening an issue!

The current solution you shared is what I would recommend because it allows your bloc to handle other incoming events while also listening for connectivity changes from the repo.

Closing for now but feel free to comment with any additional questions/concerns and I’m happy to continue the conversation 👍

[2020-07-19 22:50] #1486 closed

[2020-07-20 01:52] amanpalariya opened #1489 "Confusion about the 'expect' argument of 'blocTest'"
According to README.md

But sometimes actual states also contain states emitted because of the events in `build`

For example, here is the sample `CounterBloc`
[code]

And here is a test
[code]
The above test behaves as expected and passes

Here is another test
[code]
This test fails with the following error
[code]

1. Why did not the second test pass?

2. If I want to test a bloc's response to an

[2020-07-20 02:28] felangel commented on #1489
Hi @amanpalariya 👋
Thanks for opening an issue!

The second test fails because the bloc actually emits [2, 3] instead of just [3] which is expected behavior. You can currently modify your bloc to accept an initial state as an argument like:

[code]

Then in your `blocTest` you could do:

[code]

Alternatively, you leave you bloc implementation as is and use `skip` to only test the state what you w

[2020-07-20 02:28] #1489 closed

[2020-07-20 02:33] theweiweiway opened #1490 "adding an event argument in the builder"
Hey Felix,

Sorry if this has been suggested before - I did a quick search through the issues and didn't find anything.

So,  I was just thinking it might be convenient to do something like
``builder: (context, state, event) {}``
so we can add events with ``event.add(EventName());`` without having to do the ``Bloc bloc = BlocProvider.of<Bloc>(context);`` and then calling ``bloc.add(EventName())``

[2020-07-20 02:40] felangel commented on #1490
Hi @theweiweiway 👋
Thanks for opening an issue and for the positive feedback!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/447.

I prefer not to add this because in cases where it's not necessary to add events from within the BlocBuilder you will still be forced to pass another argument. Also in order to support this properly and enforce strict types we will need to sp

[2020-07-20 02:47] felangel commented on #1487
Hi @z3v0k 👋
Thanks for opening an issue!

`BlocProvider` only executes `create` once when the widget is mounted in the widget tree (think of it like `initState`).
If you want that event to be added after a login success then you should use a `BlocListener`, listen for a `LoginSuccess` and then add the event like:

[code]

Hope that helps!

Closing for now but feel free to comment with additional q

[2020-07-20 02:47] #1487 closed

[2020-07-20 02:48] felangel commented on #1488
HI @karthikeyanp307 👋
Thanks for opening an issue!

As @warriorCoder mentioned, it would be much easier to help if you could share a sample app which illustrates the problem you're facing 👍

[2020-07-20 03:42] theweiweiway commented on #1490
I see, yeah the extra ``<MyEvent>`` is definitely a big turn-off..

Would there be some sort of way to make the third ``<MyEvent>`` and ``event`` argument optional?

[2020-07-20 04:30] amanpalariya commented on #1489
Thank you for your quick reply. I upgraded to v7.0.0-dev today. Really cool. Now, I feel confident in testing BLoCs.

Waiting for stable release... ♥

[2020-07-20 04:32] felangel commented on #1490
Unfortunately, this is a Dart limitation. Check out https://github.com/dart-lang/language/issues/620 for the open issue. We could theoretically expose the bloc itself rather than an "event-adder" function which would eliminate the need to specify the event type but again I feel it's a bit strange to expose the bloc as part of the builder.

What is the main issue with using `context.bloc` to lookup

[2020-07-20 10:53] karthikeyanp307 commented on #1488
Hi @felangel ,

Thanks for your reply and comments. I have shared a sample code via https://github.com/karthikeyanp307/flutter_login. This is not an executable one but for your view. Please help me to redirect to the inbox page from main.dart.

Thanks in advance.

[2020-07-20 12:42] JohnGalt1717 commented on #1074
For anyone else that might be facing this here's what my solution was that simplifies refreshing tokens based on a timer etc by making it always on demand and allowing a single point to update the tokens and then share them to N number of clients (micro services that all require the auth token against the IdP)

If you create your clients so that instead of just taking a String Token they take a St

[2020-07-20 14:01] felangel commented on #1472
@ride4sun you can listen to a stream when you receive an event but you can't yield from within the closure.

[2020-07-20 14:27] dulajdanu opened #1491 "BlocProvider.of() called with a context that does not contain a Bloc of type CreateTemplateBloc"
When i try to use blocprovider and navigate to a new page i try to use blocprovider.value() but i get a error saying
BlocProvider.of() called with a context that does not contain a Bloc of type CreateTemplateBloc

import 'package:auto_size_text/auto_size_text.dart';
import 'package:dotted_border/dotted_border.dart';
import 'package:easyagreement/bloc/create_template_bloc.dart';
import 'package:eas

[2020-07-20 15:13] Jomik commented on #1491
The formatting on your snippet got messed up somewhere. But the issue is that you are using the `context` from `_SelectOwnTemplateState.build`.
I would suggest wrapping your `RaisedButton` in a `Builder`, to obtain a new context, which will be able to see the bloc you provided at the top 👍
[code]

[2020-07-20 16:19] dulajdanu commented on #1491
It worked Thanks a lot

[2020-07-20 16:19] #1491 closed

[2020-07-20 17:15] ride4sun commented on #1472
@felangel yes that is my problem and I am now aware of it and I can use the workaround to send events from within the closure to the bloc.  I also could use a streamController and return that stream from the `mapEventToState` method (is that recommended?) Or I could use the `await for` if I don't need to cancel the stream. I am just wondering what the cleanest workaround is to handle a stream insi

[2020-07-20 17:46] Jomik commented on #1408
It looks to me like you are using the Bloc synchronously.
You expect that the bloc state has been updated before `onWillDismiss` is called, that is unlikely, in my opinion.
I would probably use a `BlocListener` and then dismiss or not according to `RemoveSuccess` and `RemoveFailure` there.
Does that make sense and achieve what you need?

[2020-07-20 18:01] Jomik opened #1492 "[VSCode] Generate freezed boilerplate"
**Is your feature request related to a problem? Please describe.**
I have to write down the freezed boilerplate.

**Describe the solution you'd like**
Similar to Equatable, would be awesome to just add freezed.
[code]
[code]
[code]

**Describe alternatives you've considered**
Manually writing it 👎

[2020-07-20 18:14] kiaxseventh opened #1493 "on v5 how can create Singleton pattern Bloc class ?"
hello again dear @felangel
thank you for new release of bloc

on migration from v4 to v5 i have one problem on Bloc classes with Singleton pattern

Before:

[code]

After:
[code]

This new style of v5 interferes with factory method

are you have any solution or idea  ?

thank you

[2020-07-20 18:24] Jomik commented on #1493
You should remove the public constructor and simply call `super(0)` in `SingletonBloc._internal()`.
[code]

[2020-07-20 18:42] chimon2000 commented on #1476
As an alternative, you could `WorkoutBloc` when you provide it to the widget.

[code]

Then as part of your test setup, you can define mock expectations.

[2020-07-20 19:18] felangel commented on #1493
Hi @kiaxseventh 👋
Thanks for opening an issue!

As @Jomik you can call super now with the initial state rather than overriding the old `initialState` getter. Check out the [migration guide](https://bloclibrary.dev/#/migration) for more details 👍

[2020-07-20 19:18] #1493 closed

[2020-07-20 19:41] Jomik opened #1494 "Make it possible to get bloc using Bloc.of"
**Is your feature request related to a problem? Please describe.**
I always thought there was a bit of an inconsistency with using `BlocProvider.of<MyBloc>(context)` to get a Bloc, since it semantically references `BlocProvider`.
I was looking at `Theme.of` and `Navigator.of`, but I realize now that they do not return a `Theme`/`Navigator`, they return data classes.

**Describe the solution you'd

[2020-07-20 21:55] Jomik commented on #1476
@chimon2000 That links my widget too closely to Bloc, I don't want that.
Makes it harder to test too.. I need to both mock a block and make it emit the state that I want to test, when I really could just directly pass it the state by splitting them up.
Especially annoying with multiple blocs, having to mock all the blocs they depend on.

[2020-07-20 22:03] felangel commented on #1476
@Jomik you could just split your widget into a `WorkoutScreen` and `WorkoutView`:

[code]

[2020-07-20 22:10] chimon2000 commented on #1476
The Container/Presenter pattern that @felangel mentions above is what I was implying. Should have been more explicit.

[2020-07-20 22:38] theweiweiway commented on #1490
I see - there's no issue to look it up with ``context.bloc``. You are right, it is concise.

OK - closing this, thanks Felix

[2020-07-20 22:38] #1490 closed

[2020-07-21 05:28] venkateshvk7 commented on #524
Hi,

I'm beginner, i'm getting issue with this

  @override
  Stream<LoginState> transformEvents(
    Stream<LoginEvent> events,
    Stream<LoginState> Function(LoginEvent event) next,
  ) {
    final nonDebounceStream = events.where((event) {
      return (event is! EmailChanged || event is! PasswordChanged);
    });

    final debounceStream = events.where((event) {
      return (event is EmailC

[2020-07-21 06:35] Jomik commented on #1476
Yeah, that is also what I am doing now. I just feel like that is boilerplate that we could avoid with a helper.

[2020-07-21 12:08] adamsmaka opened #1495 "How to test /flutter_firestore_todos bloc example"
In provided example [todos_bloc.dart](https://github.com/felangel/bloc/blob/master/examples/flutter_firestore_todos/lib/blocs/todos/todos_bloc.dart) has code like that:

[code]

So I would expect to write a test like this:
[code]
but it doesn't pass. No events are emitted even if I mock the repository.todos() response. I would like to catch the state from the repository stream. Can you help me wit

[2020-07-21 14:18] felangel commented on #1476
@Jomik I'm a bit conflicted because I see your point but on the other hand, I don't feel there is that much boilerplate with the current approach and it's a lot easier to read/understand imo as opposed to the connect API from react. Thoughts?

[2020-07-21 14:27] marcusedu opened #1496 "BlocBluider with initial event or async function the return a event"
**Is your feature request related to a problem? Please describe.**
When I use BlocBuilder in stateless widget sometime need to send a event to build some state without user interaction.
Actually I transform `stateless` to `stateful` and write my logic in `initState()`

**Describe the solution you'd like**
[code]

[2020-07-21 14:33] felangel commented on #1496
Hi @marcusedu 👋
Thanks for opening an issue!

You can add the event asynchronously when the bloc is created:

[code]

`create` is very similar to `initState` in a `StatefulWidget` and is called only once when the widget is mounted.

Hope that helps 👍

[2020-07-21 14:33] #1496 closed

[2020-07-21 14:36] felangel commented on #1495
HI @adamsmaka 👋
Thanks for opening an issue!

Are you able to share a link to the failing test? I'm happy to open a pull request with suggestions, thanks 👍

[2020-07-21 14:37] felangel commented on #524
@venkateshvk7 check out the comment above by @synapticvoid for the updated syntax 👍

[2020-07-21 15:28] adamsmaka commented on #1495
Hi @felangel , thanks for quick reply.
Of course, here is a failing test:

[code]

[2020-07-21 15:31] felangel commented on #1495
@adamsmaka no problem! Can you try to provide a `wait` with `Duration.zero`?

[code]

Let me know if that works. I believe this should be resolved in the upcoming release and you can test it in v7.0.0-dev.2 of `bloc_test`.

[2020-07-21 16:17] warriorCoder opened #1497 "VSCode error"
While using version 4.2.2 of the vscode extension I have version 6.x of bloc and flutter bloc but the extension warns that I have an old version of bloc and need to upgrade.
See attached screenshot.
![image](https://user-images.githubusercontent.com/4119110/88079757-2829c300-cb4c-11ea-8abd-472469b5d28a.png)

[2020-07-21 16:32] felangel commented on #1497
Hey @warriorCoder 👋
Thanks for opening an issue!

This is expected until the `v6.0.0` stable is out 👍

[2020-07-21 18:01] adamsmaka commented on #1495
`wait: Duration.zero` helped! thank you.
Also tried  bloc_test 7.0.0-dev.2 and it also works. I like that it doesn't require async on build anymore. But is it intentional that it doesn't recognise initial state anymore?

[2020-07-21 19:11] felangel commented on #1495
@adamsmaka that's great to hear! Yeah it's intentional because blocs no longer emit the current state upon subscription 👍

[2020-07-21 19:15] #1495 closed

[2020-07-21 19:16] adamsmaka commented on #1495
Ok so problem solved. Thank you so much, appreciate your work. Bloc library is awesome.

[2020-07-21 19:22] felangel commented on #1495
No problem! Regarding the initial state I recommend writing a separate test for it like:

[code]

Thanks so much for the positive feedback, I really appreciate it 🙏 💙

[2020-07-22 01:23] #1438 closed

[2020-07-22 01:24] github-actions[bot] opened #1500 "[Translations] Update docs"
Update Translations to include changes from b58c11706fa14cfdbc8ee751cc1dbb180768ecf5.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 02:09] github-actions[bot] opened #1501 "[Translations] Update docs"
Update Translations to include changes from 7a50d81a313df9b8cfa2b2cd111d46770f71ebc1.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 02:46] github-actions[bot] opened #1502 "[Translations] Update docs"
Update Translations to include changes from a131676a004bcd51301257394ad0c1661bff8ded.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 02:47] github-actions[bot] opened #1503 "[Translations] Update docs"
Update Translations to include changes from 3c22dcb8f7afc27031359148455d9afaf36d8efe.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 03:39] hayashi-tz opened #1504 "How can I get currentState and Stream<state> in version 5.00 and above"
Dear Developer,

I would like to ask one thing, How can I get currentState and Stream<State> as like 0.10.1 in new version 5.0.0 and above.

I used very old version 0.10.1 in my app, that's why I would like to upgrade my app bloc library version to 5.0.1.

But unfortunately, I couldn't found currentState and Stream<State> in version 5.0.1.

[code]
Could you please kindly support me?

Thanks in adv

[2020-07-22 03:47] github-actions[bot] opened #1505 "[Translations] Update docs"
Update Translations to include changes from cac072fe27a23c4f9987489e04a7d61f92b56971.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 03:51] felangel commented on #1427
Finally done 🎉
Thanks again for everyone's help and support 🙏 💙

[2020-07-22 03:51] #1427 closed

[2020-07-22 03:51] github-actions[bot] opened #1506 "[Translations] Update docs"
Update Translations to include changes from 3d90f4e8f2618fece372d927ae84fdbaa3f4a948.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 04:02] felangel commented on #1497
Addressed in https://github.com/felangel/bloc/commit/9e6224855717d725a70922c34ae5077410d28d6d and published in v5.0.0 of the bloc vscode extension 🎉

[2020-07-22 04:02] #1497 closed

[2020-07-22 04:05] felangel commented on #1504
Hi @hayashi-tz 👋
Thanks for opening an issue!

You can access the current state of the bloc like:

[code]

You can listen to the stream of states via:

[code]

Hope that helps 👍

[2020-07-22 04:05] #1504 closed

[2020-07-22 04:11] github-actions[bot] opened #1507 "[Translations] Update docs"
Update Translations to include changes from 3930d1e98424bbeabb287af506b9e255cc34de48.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 04:44] felangel commented on #1408
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍
Thanks @Jomik for taking the time to answer, I really appreciate it 🙏

[2020-07-22 04:44] #1408 closed

[2020-07-22 05:13] github-actions[bot] opened #1508 "[Translations] Update docs"
Update Translations to include changes from 62bd9fed779adec1992872dabdbcff9fa1b02100.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 05:16] github-actions[bot] opened #1509 "[Translations] Update docs"
Update Translations to include changes from e6b44f5a392923161c06310b7306f4a73ef0fb6b.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 05:20] github-actions[bot] opened #1510 "[Translations] Update docs"
Update Translations to include changes from cf4ff0591bf0f0621cc5d240ab25038845299ce5.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-22 06:42] ShiinaManatsu opened #1511 "Provide initial value to the BlocBuilder"
## Want initial value to prevent null state when BlocBuilder fist time built
For multiple page that use the same stream will have a null state when they build first time, and refresh child after bloc updated.
## How I fix that for now
The solution now I made is to keep a state last time I updated, and in each widget which will use that bloc will be update in the ```init()``` method by the last sta

[2020-07-22 07:02] Jomik commented on #1511
What does your `UserInfoBloc` look like? It sounds like you are not providing it with an initial state?

[2020-07-22 07:13] ShiinaManatsu commented on #1511
It's basically we have a login screen and it will update the bloc user info and the home widget can show the states. Please have look on the bloc that I basically copy and modified from the examples.

But is the ```RxBlocBuilder``` can take an initial value? I don't see that from the implementation.

In each new widget that we may want to update the user info I will call to update it, and without

[2020-07-22 07:18] RaviKavaiya opened #1512 "Allow to emit current state on bloc subscription"
Hello @felangel ...

**Is your feature request related to a problem? Please describe.**
This has happened due to `v6.0.0` release. We are not emitting bloc's current state when subscribing from now. But, that has created big problems for us. We would have to refactor each and every subscription (they are around 100). I visited [https://bloclibrary.dev/#/migration?id=rationale-1](https://bloclibrar

[2020-07-22 07:21] ariona commented on #1458
I am new to flutter, and still learning about bloc. I tried to copy the counter source code but got errors

[code]

[2020-07-22 07:23] Jomik commented on #1512
Hey!
Could you provide a simple example that shows this issue?
Pushing `bloc.state` to your listener before subscribing directly simulates what would happen if the bloc emitted when listening, so I am unable to see where the issue is, without more information.

[2020-07-22 07:26] Jomik commented on #1511
Hmm, I did not know there was an `RxBloc` package.
I think you are in the wrong GitHub repo. This is for the Bloc package, https://bloclibrary.dev/.
Are you looking for https://github.com/Prime-Holding/FlutterRxBloc ?

[2020-07-22 07:29] innocentalone commented on #1512
@RaviKavaiya I am facing the same issue. This change has cause very heavy refactoring to my apps. I wanted to stay on previous version, but VS Code extension forces me to update. :shrug:

[2020-07-22 07:33] ShiinaManatsu commented on #1511
Oh god, I'm open an issue at the wrong chrome tab :)
Sorry for the bother~

[2020-07-22 07:34] #1511 closed

[2020-07-22 07:53] Jomik commented on #1512
I think you could simply do this?
[code]

[2020-07-22 12:08] felangel commented on #1458
@ariona are you using v6.0.0?

[2020-07-22 12:13] ariona commented on #1458
yes.. is there any changes to the api?

[2020-07-22 12:14] felangel commented on #1458
@ariona yup but Cubit is part of v6.0.0. Can you share a link to the exact code you’re trying to run?

[2020-07-22 12:15] ariona commented on #1458
i am following the  counter tutorial

[2020-07-22 12:17] felangel commented on #1458
Can you create a GitHub repo or gist that illustrates the issue you’re facing?

[2020-07-22 12:43] Jomik commented on #1476
I have the same thoughts as you here really.
The reason I feel like this could be considered, is if we often create a `StatelessWidget` that simply has a `BlocBuilder` whose builder maps the state to a child "View" `Widget`. Then that becomes "boilerplate" in my head.
Looking at this more, I do not like the idea of providing the `add` function. It makes more sense to just give the `BuildContext` s

[2020-07-22 17:14] marcoprado17 commented on #955
Hi @felangel , thanks for the lib it`s awelsome.

I am facing similar issue, but on my case I have to deal with a dynamic number (from 1 to n) of bloc instances from the same Bloc class. In that case, how can we proceed? Of Course we can create the Blocs without the BlocProvider, but there is a solution with the BlocProvider?

Thanks,

Marco

[2020-07-22 17:57] felangel commented on #955
Hi @marcoprado17 👋
Thanks for the positive feedback!

I would recommend wrapping the only widgets that need the bloc in their own `BlocProvider` for example:

[code]

[2020-07-22 21:45] mintymac commented on #1488
@karthikeyanp307 To do this, you need to do something like the following in `initState()`:

`_firebaseMessaging.configure(onResume:
      (Map<String, dynamic> message) async {
        print("onResume: $message");
         print(notificationBloc.state.toString());
        notificationBloc.add(
          NotificationReceived(
            my.Notification(
                id: uuid.v5(Uuid.NAMESPACE_U

[2020-07-22 21:56] mintymac opened #1515 "Hydrated_bloc and Hive"
Thank you for all of your work.

I was recently considering Hydrated_bloc and I was wondering what @felangel and the team thought about a possible deprecation of Hive, based on this: [The Future of Hive](https://github.com/hivedb/hive/issues/246)

Thoughts?  Thank you.

[2020-07-22 22:33] balesz commented on #1512
This was the correct solution in a previous version of bloc: https://github.com/felangel/bloc/blob/ae4e14bbe5b401b574f08a761a45db3381e4fab0/packages/bloc/lib/src/bloc.dart#L82

It worked like a [BehaviorSubject](https://www.learnrxjs.io/learn-rxjs/subjects/behaviorsubject) in RxDart or RxJS. It emitted the current value of the state on listen.

[2020-07-23 00:12] RaviKavaiya commented on #1512
@Jomik Ok, thanks for the reply. I guess, that (extension method) should work for me.
Lets see what are @felangel 's thoughts...

[2020-07-23 00:56] ariona commented on #1458
I figure it out by reading the migration guide and some digging into the issue.
I think all the demo should be updated to the current version to prevent the confusion.

[2020-07-23 01:14] felangel commented on #1458
@ariona which demo are you running? Can you provide a link to the code? All demos should be up-to-date.

[2020-07-23 01:15] felangel commented on #1458
if it's <https://bloclibrary.dev/#/fluttercountertutorial> that will be updated shortly and I apologize for the inconvenience

[2020-07-23 01:18] ariona commented on #1458
I tested this https://github.com/felangel/Bloc/tree/master/packages/flutter_bloc/example yesterday. Did you update it yesterday?

[2020-07-23 02:39] AbeOrigin opened #1517 "How better handle events from webSockets ?."
Hello everyone, i'm currently learning how to use state management in flutter, and I decided to use Bloc for this task. I have a small question, I have to use normal http request and listen to a webSocket, i need a recommendation from someone that is better informed than me at using bloc.
Should i have a different bloc for wsEvents or should i just have a single bloc for "user" and wsEvents. In my

[2020-07-23 04:15] felangel commented on #1458
@ariona it's been updated regularly. Is the latest version working for you?

[2020-07-23 04:24] felangel commented on #1512
Hi @RaviKavaiya 👋
Thanks for opening an issue and sorry for the inconvenience!

This breaking change was made to enable interop with cubit, align with Dart Streams, as well to enable a lot of other features and improvements. I would highly recommend using the extension only as a temporary solution and refactor your blocs (at your own pace) to respect the new behavior. I'm happy to help with any ca

[2020-07-23 04:24] #1512 closed

[2020-07-23 04:28] felangel commented on #1515
Hi @mintymac 👋
Thanks for opening an issue and for the positive feedback!

We are aware of the possible deprecation of Hive v1.0 and the plan is to evaluate v2.0 once it is stable to determine a migration strategy. We will try to minimize any breaking changes (`hydrated_bloc` abstracts the hive implementation) and handle any data migration so that as a developer the upgrade is smooth and seamless.

[2020-07-23 04:28] #1515 closed

[2020-07-23 04:47] mintymac commented on #1515
Of course!  The position is understandable, I have just begun to have issues with packages not being updated, path is one.  Have a good one!

[2020-07-23 05:04] felangel commented on #1515
@mintymac I think the intention is for the existing package to continue to be maintained 🤞 https://github.com/hivedb/hive/issues/246#issuecomment-662425202

Thanks, you too!

[2020-07-23 06:39] omidraha commented on #1515
I suggest [sqflite](https://github.com/tekartik/sqflite.).
Stable, reliable, basic, fast, clean.

[2020-07-23 07:26] balesz commented on #1512
@felangel I think this BehaviorSubject like behavior of the Stream implementation is a key feature of the whole Cubit/Bloc package. The problem is that this behavior is not implemented on the Cubit class. In the previous cubit implementation [(v0.1.2)](https://github.com/felangel/bloc/blob/de62630958705d8ed368981b387cd3d87b9f88c4/packages/cubit/lib/src/cubit_stream.dart#L80) the CubitStream class

[2020-07-23 07:28] iammadhukar commented on #182
Hi, I am trying to show map and details in one  page. For that I am making two event call(one for map second for details) from same bloc. But, before first event call finishes, second event fires up. Because of which I am unable to  capture last state of my event. I wanted to know if I can fire multiple event concurrently or not. If yes, what is the process. Please help.

[2020-07-23 10:22] RollyPeres commented on #1517
Hi @AbeOrigin 👋

It depends on what kind of data you're receiving on the websocket and where you need to use it.
You can definitely expose your websocket stream through a repository and consume it in the bloc of your choice.

If you want a more advanced guideline you should provide more details about your websocket usage.

[2020-07-23 10:36] marcin-jelenski commented on #1475
@wujek-srujek prior to bloc we've had the same feeling using every MV* pattern - state transitions were becoming too complex for a more-complex scenarios. E.g. ticket buying process - splitting into multiple blocs made it even more difficult to understand and extend. That's definitely not a part of a bloc, but you might be interested in extending your logic to state machine graphs.

I've made a bl

[2020-07-23 10:40] balesz commented on #1512
@felangel I just realized that this behavior is intent. Why? If someone don't want to get the current state from the stream on listen why not just use `bloc.skip(1)`?
![image](https://user-images.githubusercontent.com/2499021/88276900-1a0cab80-cce0-11ea-85cf-f152fcbca2b7.png)

[2020-07-23 10:52] bharat-1809 commented on #182
@iammadhukar For calling multiple events at the same time, You can use the double dot notations when providing the bloc.
Like:
[code]
Or the better way can be creating two blocs one for the map and another for the details. Then call the events with respect to the feature, whenever you want to.

@felangel I think there might be something more precise for it. Please have a look.
Thanks

[2020-07-23 12:04] marcin-jelenski opened #1518 "Regression: initial state is not emited anymore"
**Describe the bug**

Initial state isn't emitted on start, as it was on previous versions. Haven't found any change description, why it should doesn't work now. Tested on bloc 6.0.1.

**To Reproduce**
Given minimal sample (notice "skip: 0"):
[code]

**Expected behavior**
Tests should pass, bloc should emit an initial state.

**Logs**
[code]

[2020-07-23 13:42] felangel commented on #1518
Hi @marcin-jelenski 👋
Thanks for opening an issue!

This isn’t a regression and was an intentional breaking change that is documented in both the changelog as well as in the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97bloc-does-not-emit-last-state-on-subscription).

This is also a duplicate of #1512.

You can test your initial state via:

[code]

Sorry for any inconvenience!

[2020-07-23 13:42] #1518 closed

[2020-07-23 13:46] felangel commented on #1512
@balesz this is intentional for the reasons I mentioned above and you can access the current state at any time via the `bloc.state` if you do need the current state. Hope that helps 👍

[2020-07-23 13:48] deCardenas commented on #1468
you could use flutter create package [https://pub.dev/packages/flutter_create] with a repository as a template.

[2020-07-23 14:37] balesz commented on #1512
@felangel  I think this is a must have feature every Stream based state management library. But if you see it differently I have to accept it. This is a quick fix for those who also lack this feature. Add `BehaviorSubjectBloc` mixin to your Bloc class:
[code]

[2020-07-23 14:38] balesz commented on #1518
This is a quick fix for those who also lack this feature. Add `BehaviorSubjectBloc` mixin to your Bloc class:
[code]

[2020-07-23 14:41] felangel commented on #1512
@balesz this is not how Dart Streams work and also widgets like `BlocBuilder` and `BlocListener` previously had to workaround this behavior using `skip(1)` as well as the bloc_tests. As you mentioned you can always support this functionality if you want but I do not think it should be the default. Again, sorry for any inconvenience!

[2020-07-23 14:50] marcin-jelenski commented on #1512
@felangel thank you for finding a duplicate. I read the change rationale, but I don't get it. All stream functions - `first`, `take` are locked until we emit a second state. That's not intuitive. I'd expect a bloc not to extend a stream then. Also, what should be a second emmited state if a bloc doesn't perform any subscription in a constructor, and just responds to user actions?

Would you mind p

[2020-07-23 15:07] felangel commented on #1512
@marcin-jelenski a lot of issues have been raised regarding the need to skip(1) everywhere (BlocBuilder, BlocListener, BlocConsumer, bloc_test, emitsExactly, etc...) I don't have time to find each of those issues right now but can search for them later.

Regarding the cubit interop you can check out:
- https://github.com/felangel/cubit/issues/52
- https://github.com/felangel/cubit/issues/60#issuec

[2020-07-23 16:24] marcin-jelenski commented on #1512
@felangel thank you for the response 🏎️

I have two cases where previous behaviour was priceless and we can't find any migration paths for them (despite some workarounds like @balesz suggested).

## 1. Distinct

For performance reasons, we've been mapping state fields and setting a distinct operator on them. The same time we used stream builders instead of BlocBuilder. Providing a separate bloc fo

[2020-07-23 16:48] RaviKavaiya commented on #1512
@marcin-jelenski Exactly, I totally agree with your point no. 2 (state to value). Have the same use case here 🙂

[2020-07-23 17:03] AntiqPeace commented on #1512
Thank god I found the reason why my code isn't working 🙄.  As @marcin-jelenski pointed last, I am also using late subscribers. Ofcourse, solutions are posted above, but they don't seem well to me, TBH.

But one question @marcin-jelenski , your second point (state-2-value mapping) doesn't work in latest version?

[2020-07-23 17:17] felangel commented on #1512
@marcin-jelenski thanks for providing some more detail 👍

1. I'm not sure I understand why this approach is necessary. Why is the field performing a heavy computation rather than the bloc itself. I think you should try to instead invert this so that the bloc is the one performing the heavy computation as needed and the state contains the result which is consumed in the UI. Also, I don't understand

[2020-07-23 17:25] felangel commented on #1512
@AntiqPeace can you provide some code? The following should work if you really want to have the previous behavior.

[code]

[code]

[code]

[2020-07-23 17:30] agordeev opened #1519 "[DISCUSSION] Allow to access bloc properties from initial state"
We've removed `initialState` property from bloc. Instead, we pass it as a constructor parameter to `super`. That made some complexities, as it's impossible to access class members in initializers. Imagine a bloc that holds `CalendarController`. The calendar always presents on the screen, therefore it always needs a controller. However, with the current version of the library I'm unable to pass the

[2020-07-23 17:36] felangel commented on #1519
Hi @agordeev 👋
Thanks for opening an issue!

Are you able to share a link to a sample app which illustrates the problem you are facing? I'm guessing this is related/similar to https://github.com/felangel/bloc/issues/1378

[2020-07-23 18:02] marcin-jelenski commented on #1512
@felangel I'll try to elaborate

In the above example (as well as in our apps) heavy computation function was moved out of a bloc because it's platform specific. To be even more precise, on a flutter target we're building a list of "flutter map markers" for a stateless widget and on angular dart we have to provide a list of "leaflet map markers". Without providing a distinct method, a whole map wi

[2020-07-23 18:39] felangel commented on #1512
@marcin-jelenski couldn't you accomplish this then by just providing an `initialData` to the `StreamBuilder`?

[code]

Regarding the second point, another option is to just make `isLoading` a generator:

[code]

Thoughts?

[2020-07-23 20:44] AbeOrigin commented on #1517
Hi, thank you for the response !!! 😃 .

The socket will send events that will change the interface, for example new message, you have been added to a group, X person is writing to you, they are not only user things, so that why I think making a new bloc for it.

I currently have a websocket handler,  and my idea was to give this handler the ability to send events to different blocs based on the ty

[2020-07-24 00:55] MeliGualaX opened #1520 "Use diferent type of blocs on BlocProvider.of<type>"
Hello, im facing a trouble, and i think that is a limitation...

I got a Map map = {1: BlocA, 2: BlocB, 3:BlocC } are like 20 of these...
Then i got an input and i need to use one of them, I do not know which one I will have to use until the imput is executed.
And what i want is to provide de type on BlocProvider thats allow me to do something like this:

var bloc = BlocProvider.of<map[1]>(context

[2020-07-24 05:43] agordeev commented on #1519
@felangel Thanks. That's exactly the same problem. There's no solution provided, though. The migration guide says nothing about how to handle that.

[2020-07-24 05:49] felangel commented on #1519
@agordeev there are two solutions provided:
https://github.com/felangel/bloc/issues/1378#issuecomment-653409984
https://github.com/felangel/bloc/issues/1378#issuecomment-653411203

If those don't help please share a link to a sample app which illustrates the issue and I'm happy to open a pull request with a fix 👍

[2020-07-24 07:27] #1519 closed

[2020-07-24 07:46] marcin-jelenski commented on #1512
@felangel you're right, we can mitigate those distinction issues with such instruction. Thank you 🙏 🙏 🙏

[2020-07-24 08:59] ianjaspersantos opened #1521 "Simpler Build When Method"
I think bloc builder is good when it comes to rebuilding widget. I just want to say that I feel it is a bit boilerplatey especially in the Generics part, buildWhen method and the builder method part. First, I just think that can we eliminate the bloc/cubit generic since I only wanted the state? Second, I think this "previousState.count != currentState.count" condition is the most common condition

[2020-07-24 10:02] ThalapathySiva opened #1522 "build when method not working"
Here is the bloc builder :

    BlocBuilder(
      cubit: bloc,
      buildWhen: (LoginState oldState, LoginState newState) {
        print(oldState.toString() + "     " + newState.toString());
        if (newState is LoginRefereshState)
          return true;
        else
          return false;
      },
      builder: (BuildContext context, LoginState state) {
        print("In aaaa button");

[2020-07-24 14:02] felangel commented on #1521
Hi @ianjaspersantos 👋
Thanks for opening an issue!

Unfortunately we cannot remove the bloc/cubit generic because without it the `BlocBuilder` wont' be able to do the lookup for you (`BlocProvider.of<T>(context)`).

I have been thinking about having a selector and will spend some time on it once I wrap up the documentation updates for v6.0.0 😄

[2020-07-24 14:12] ianjaspersantos commented on #1521
Thanks Fel! Thank you for all the effort making flutter coding as great as possible 😁

[2020-07-24 15:42] felangel commented on #1517
Hi @AbeOrigin 👋
Thanks for opening an issue!

I would recommend writing a standalone Dart package which wraps the Mattermost API and exposes the Stream of events. Then you have have one or more repositories consume the api client and the bloc will as usual interact with one or more repositories.

Hope that help!

Closing for now but feel free to comment with any additional questions or if you have

[2020-07-24 15:42] #1517 closed

[2020-07-24 15:45] felangel commented on #1522
Hi @ThalapathySiva 👋
Thanks for opening an issue!

`buildWhen` only works to prevent rebuilds triggered by state changes in the bloc but if the parent of the `BlocBuilder` rebuilds, then `BlocBuilder` will also be rebuilt. In general `buildWhen` is just for optimizations but it is not guaranteed to prevent rebuilds due to Flutter. Hope that helps! If you're still having trouble, I would recommend

[2020-07-24 15:45] #1522 closed

[2020-07-24 16:11] RollyPeres commented on #1517
@felangel 's sums up well a good approach to your case. You can additionally filter your stream of events in different repositories to only get certain events which are relevant for it. You'd still end up listening to streams of events in your blocs.

[2020-07-24 19:12] felangel commented on #1520
Hi @MeliGualaX 👋
Thanks for opening an issue!

I would not recommend maintaining a map of blocs/indexes like that. Instead, I would recommend creating the widgets that rely on the blocs and wrapping each widget in its own BlocProvider (with a new Bloc instance):

[code]

This way each instance of `MyListItem` can access its own instance of `MyBloc` via `BlocProvider.of<MyBloc>()`. Hope that helps!

[2020-07-24 19:12] #1520 closed

[2020-07-24 19:56] animalnots commented on #1455
Hey guys, facing the same issue (I think)
What I did:
1) Forked current repo
2) In flutter_firebase_login project (bloc\bloc\examples\flutter_firebase_login\lib) added WelcomeScreen which replaced LoginScreen in main.dart. WelcomeScreen has 2 buttons: login and register which link to LoginScreen and RegisterScreen respectively.
3) Tested the app, if I register from welcome screen and it is success

[2020-07-24 22:36] QAQyzk commented on #1492
I have writen a vscode extension that can just do that [freezed_bloc](https://marketplace.visualstudio.com/items?itemName=QAQyzk.freezed-bloc).

[2020-07-24 22:40] felangel commented on #1492
@QAQyzk thanks for sharing, that's awesome 🎉
What are your thoughts in migrating your extension into the current bloc extension in order to consolidate the snippets/tooling?

Curious to hear if others have an opinion one way or another one this.

[2020-07-24 22:53] QAQyzk commented on #1492
@felangel I would love to see the function integrated to the bloc extension! But I'm not entirely sure how to add contribute to the repo, is there anything I can follow?

[2020-07-25 04:20] felangel commented on #1488
@mintymac thanks so much for taking the time to answer, I really appreciate it!

@karthikeyanp307 closing this for now but feel free to comment with any additional questions and I’m happy to continue the conversation 👍

[2020-07-25 04:20] #1488 closed

[2020-07-25 04:23] felangel commented on #1476
@Jomik I don’t view that as boilerplate because that code is what determines what UI to render based on the bloc state and is super important.

Sounds good will close this for now but feel free to reopen if you have additional concerns and thanks for bringing the topic up! 😄

[2020-07-25 04:23] #1476 closed

[2020-07-25 04:27] felangel commented on #1143
@hawkinsjb1 closing this for now but feel free to reopen if you have any additional comments/feedback 👍

[2020-07-25 04:27] #1143 closed

[2020-07-25 06:11] marcin-jelenski commented on #1521
Selectors would be a way to solve #1512 even nicely 🙌

[2020-07-25 06:36] carmas123 commented on #1168
@cgowthamanmca I solve this issue with a simple trick:

Use AfterLayoutMixin ( https://pub.dev/packages/after_layout ) and add this code into
overrided method: `void afterFirstLayout(BuildContext context);`
`Future.microtask(() => _postBloc..add(PostFetched()));`

the result code is like this:

[code]

I hope it will be useful to you

[2020-07-25 09:47] ThalapathySiva commented on #1522
@felangel  thanks for your response... Now i can understand that, and I have a doubt too, so considering the above builder which will have a parent builder, so inside the parent builder will have lot of builder widgets so my question is how can we prevent the particular builder rebuilds even though parent builder rebuild. or else what's is the way to give a condition to render particular widget in

[2020-07-25 10:28] RollyPeres commented on #1522
Hi @ThalapathySiva 👋

You can't prevent framework rebuilds and you shouldn't be preoccupied by that since that's how flutter works. Having multiple rebuilds is something common in flutter, so trying to over optimize is just fighting against the framework.

[2020-07-25 13:45] animalnots commented on #1455
@felangel I am not sure whether closed issues are monitored, but it would be nice if mentions work.

[2020-07-25 14:04] data987 opened #1524 "How to test widgets depending on BlocBuilder state?"
Hi Felix, I tried different approaches for testing the widgets depending on BlocBuilder but you gave me another answer like this

[code]
I also tried with:

[code]
and also with:

[code]
or

[code]
and I always get this error:

![Screen Shot 2020-07-25 at 8 55 39 AM](https://user-images.githubusercontent.com/8518699/88458574-9f18d180-ce54-11ea-85bc-ee2641915a79.png)

This is the code I want to tes

[2020-07-25 14:57] RLNat opened #1525 "BlocConsumer don't build my datatable screen"
Hello ,

I am new to the BloC model and am getting a problem. I looked at the example on the todos flutter and when I add a new "FicheMvt". The table with the BlocConsumer does not change. Maybe I forgot something. Can someone help me please.

Here is my code:
FicheScreen is responsible for loading the "Fiche"  (fiche.dart)

[code]

FicheBody is the content of "Fiche"  (fiche_body.dart)

[code]

A

[2020-07-25 15:18] felangel commented on #1524
Hi @data987 👋
Thanks for opening an issue!

The code you want to test is very testable in its current form because the blocs are both created and consumed within the same widget. I would highly recommend decoupling the creating of the blocs from the consumption of the blocs like so:

[code]

[code]

Then you can use the approach to easily test `AppView` using a `MockBloc` like:

[code]

Hope that

[2020-07-25 15:18] #1524 closed

[2020-07-25 15:27] felangel commented on #1525
Hi @RLNat 👋
Thanks for opening an issue!

Have you taken a look at the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating)? I'm guessing you're mutating state or yielding the same state.

Closing for now but if the documentation didn't help please provide the `FicheBloc` implementation. Thanks! 👍

[2020-07-25 15:27] #1525 closed

[2020-07-25 17:52] umidshox99 commented on #497
Hi i have same error but i didnt find it  here is my code

import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:wallpaper_app/data/models/photos_data.dart';
import 'package:wallpaper_app/presentation/blocs/search/search_bloc.dart';
import 'package:wallpaper_app/presentation/widgets/widgets.dart';

class Categories extends StatefulWidget {
  final

[2020-07-25 18:02] RollyPeres commented on #497
Hi @umidshox99 👋

You need to actually provide your bloc above your `Categories` widget.

[code]

[2020-07-25 18:32] umidshox99 commented on #497
@RollyPeres Hi thank u for your answer but  I use MultiBlocProvider there is my code
class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'WallpaperHub',
      debugShowCheckedModeBanner: false,
      theme: ThemeData(
        primaryColor: Colors.white,
      ),
      home: MultiBlocProvider(providers: [
        BlocProvider

[2020-07-25 18:34] data987 commented on #1524
Thank you so much for your help!! 👍  👌

[2020-07-25 18:34] umidshox99 commented on #497
@RollyPeres  Hello thank u 4 r answer but I use MultiBlocProvider there is my code
class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'WallpaperHub',
      debugShowCheckedModeBanner: false,
      theme: ThemeData(
        primaryColor: Colors.white,
      ),
      home: MultiBlocProvider(providers: [
        BlocProvider<S

[2020-07-25 18:40] RLNat commented on #1525
Thank you very much for your answer. Yes, I have already followed what is mentioned in the FAQ.

Here is the code of 'FicheMvtBoc'

[code]

And here the model "FicheMvt" extends Equatable

[code]

And here the state "FicheMvtEvent"

[code]

And here is the state

[code]

[2020-07-25 18:47] felangel commented on #1525
@RLNat I noticed that  `deviceId` and `isAlreadyCommitted` are missing from the `props` of `FicheMvtModel`. Can you please try adding them and see if that resolves the issue?

[2020-07-25 19:06] RLNat commented on #1525
@felangel Unfortunately that did not solve the problem.  :(

[2020-07-25 19:08] felangel commented on #1525
Are you able to share a link to a sample app which illustrates the issue so I can debug it locally?

[2020-07-25 19:09] RLNat commented on #1525
I have a question. There is no effect for another block which manages the dynamic form 'FicheMvtAddBloc' different from which manages the list of the Fiche 'FicheMvtBloc'

[2020-07-25 19:21] felangel commented on #1525
@RLNat can you also include a pubspec.yaml so that I can run it along with steps to reproduce the issue?

[2020-07-25 19:26] TheMeanCanEHdian commented on #1408
Thank you for your reply, the concept of using the `BlocListener` makes sense to me. I eventually found out that of one the primary issues I was having was a result of the widget being nested in a `BlocBuilder` for `RemoveBloc` causing it to rebuild when I would try and remove.

Hopefully, this all carries over to my actual application.

Thank you.

[2020-07-25 19:29] RLNat commented on #1525
The state which manages the dynamic form is "FicheMvtAddState" different from the state of "FicheMvtState" which manages the create new one FicheMvt.

I just uploaded the Yaml pubspec file. :)

[2020-07-25 20:15] RollyPeres commented on #497
You might be doing some navigation, so try and lift up your `MultiBlocProvider` above `MaterialApp` to make sure you have access to your bloc  from any route.

[2020-07-25 20:32] orsenkucher commented on #1515
@omidraha @mintymac
In my opinion Hive 2.0 is an honorable undertaking from Hive's team, all things should evolve with time😉
However this doesn't mean old things will break, and current Hive is mature and fits our current requirements.
So once Hive 2.0 is released, we'll proceed with migration

---
Hive also did some [benchmarking](https://pub.dev/packages/hive#benchmark) against [sqflite](https:/

[2020-07-25 23:14] github-actions[bot] opened #1528 "[Translations] Update docs"
Update Translations to include changes from 1725fdc57c647a3b57f4d63c0795545feac09be5.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-26 04:28] github-actions[bot] opened #1529 "[Translations] Update docs"
Update Translations to include changes from 964fa366c8f5c185b2c1bf9cf0d720f6be04bd03.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-26 04:33] github-actions[bot] opened #1530 "[Translations] Update docs"
Update Translations to include changes from 8f631abeed632e4cab2451e4aebbd25143085f51.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-26 04:35] github-actions[bot] opened #1531 "[Translations] Update docs"
Update Translations to include changes from 831d25524f3c71d7846e824dec8bfe592b99e244.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-26 05:53] umidshox99 commented on #497
@RollyPeres  thank u bro it works erfectly

[2020-07-26 09:54] beingsalmanshaikh opened #1532 "Why Hydrate Storage is always null?"
I tried implementing hydrated_bloc but I am stuck on Hydrated Storage initialization.
I might be doing something wrong but not able to figure out what.
I already tried adding following lines but it isn't working.
[code]
[code]

[code]

[code]
This is the error I am getting.
[code]

Sorry if the question is too silly, I am just a beginner. Please help.

[2020-07-26 14:08] RLNat opened #1534 "BlocProvider.of() called with a context that does not contain a Bloc of type FicheMvtBloc"
I'm developing a new Flutter Mobile app using the BLoC pattern . But I've got a problem and I don't find the solution yet.

The first one is my home page (with the MultiBlocProvider)
When I press on the FloatingActionButton. It push a new screen to add a new "FicheMvt"
When I hit the add button. It uses an onSave callback function to notify its parent of newly created "FicheMvt" It gives me an err

[2020-07-26 14:23] felangel commented on #1532
Hi @beingsalmanshaikh 👋
Thanks for opening an issue!

Can you share a link to the repository? Thanks!

[2020-07-26 14:53] felangel commented on #1534
Hi @RLNat 👋
Thanks for opening an issue!

When you’re routing you need to make sure you use the parent BuildContext to access the bloc:

[code]

Hope that helps 👍

[2020-07-26 14:53] #1534 closed

[2020-07-26 15:37] RLNat commented on #1534
Thanks you very much @felangel . That's solve problem

[2020-07-26 15:47] Albert221 opened #1535 "bloc_test whenListen should mock state"
`whenListen` should also mock `Cubit.state`.

[code]

Tests for the method above fail because

[code]

despite the `whenListen` in `blocTest`'s `build` parameter:

[code]

[2020-07-26 15:50] RLNat commented on #1525
Hi @felangel !
I've found the problem. I exposed another FicheMvtBloc when I opened the form to create new FicheMvt to have access to this FicheMvtBloc to add an event (FicheMvtCreateRequested).
So, I just removed this FicheMvtBloc.

[code]

Sorry but i'm new to Flutter :)
Thanks for you help

[2020-07-26 16:38] beingsalmanshaikh commented on #1532
Sorry man, I would have but I can't share it because I don't have rights to share it. It's my company's project. I can share all the required code snippets though.

[2020-07-27 04:30] github-actions[bot] opened #1536 "[Translations] Update docs"
Update Translations to include changes from 2f64fbbd8b74b826bb5be83c527572c6f86b15d2.

- [ ] az (@KenanYusubov)
- [ ] cs (@tenhobi)
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2020-07-27 06:00] Peng-Qian opened #1537 "BlocObserver Duplicate Call"
Hi @felangel ,

I found if we override onTransition and onChange in BlocObserver(If we apply both cubit and bloc in the app), it will call onTransition and then call onChange. In my case, the console will print transition info and then print change info, which is highly duplicate.

I understood bloc now is built on the cubit, so the onChange should be called, but is it possible when the onTransiti

[2020-07-27 08:41] umidshox99 commented on #495
Hi. I use one Bloc for two screen separately but when I use event in first page it works and this bloc doesnt dispose.When  I use this bloc in second page show first page state

[2020-07-27 10:53] Mohamed-yanis opened #1539 "How to link the data from the internal SQFLite db with that Mysql (localhost)? Recovered data must be based on data entered into the internal db"
I have an external database (localhost) that contains a "questions" table characterized by their level (Easy, Medium, Hard) and class(1st class, 2nd class, 3rd class).
I have an internal database that contains a "student" table with level and class attributes that contain in the external database.
I want to post only the questions that correspond to the level and class of the student that is alrea

[2020-07-27 14:31] felangel commented on #1532
@beingsalmanshaikh can you create a new simple app to illustrate the issue you're facing?

[2020-07-27 15:11] felangel commented on #495
@umidshox99 the bloc is only disposed if you use `BlocProvider` to create it and the disposal happens when the `BlocProvider` is unmounted from the widget tree. Hope that helps 👍

[2020-07-27 15:13] felangel commented on #1537
Hi @Peng-Qian 👋
Thanks for opening an issue!

This is intentional because it would be very strange for onChange to not function for blocs and it is also used by other packages like `hydrated_bloc` to ensure compatibility between the two. If you don't want onChange to fire for blocs you can just update your `BlocObserver`:

[code]

Hope that helps 👍

[2020-07-27 15:13] #1537 closed

[2020-07-27 15:49] Peng-Qian commented on #1537
Many thx!

[2020-07-27 16:18] umidshox99 commented on #495
@felangel thanks bro it helps

[2020-07-27 23:52] JoffreyTrebot opened #1540 "Keeping state with the bottom navigation bar"
Hi ! 👋

I tried to implement PageStorage with BlocBuilder for keeping state with the bottom navigation bar (doesn't work).
I also tried to implement hydrated_bloc on my different pages but I did not succeed 😢.
I looked your hydrated_bloc weather and counter app example but I don't have succeeded to applied your examples to my project for solve my problem.

I would like to keep state when I browse

[2020-07-28 00:06] RollyPeres commented on #1540
Hi @JoffreyTrebot 👋

You can make use of `AutomaticKeepAliveClientMixin` which will ensure your bottom bar items won't get disposed when switching between them.

[2020-07-28 12:08] omidraha commented on #1515
In fact, before I [immigrated](https://github.com/hivedb/hive/issues/246#issuecomment-663647198), I try all of them:

- [sembast](https://pub.dev/packages/sembast)
- [sembast_sqflite](https://pub.dev/packages/sembast_sqflite)
- [sqflite](https://pub.dev/packages/sqflite)
- [streamqflite](https://pub.dev/packages/streamqflite)
- [sqlbrite](https://pub.dev/packages/sqlbrite)
- [sqlcool](https://pub.

[2020-07-28 13:12] beingsalmanshaikh commented on #1532
@felangel OK. I will do that.

[2020-07-28 13:20] srinivas-codezyng opened #1541 "Bloc does not emit Initial value"
Hi

I noticed that initial value is not emitted by the bloc in v6.0.1.
It does emit in v5.0.
Please let me know if this behaviour is changed in v6.0.1 library.
for eg : I have created a simple LanguageBloc:

[code]

I did write a simple unit test around this LangauageBloc . Here is the unit test :
[code]
test  fails with following error:
[code]

Let me know if I am missing out something here.

Tha

[2020-07-28 13:21] felangel commented on #1539
Hi @Mohamed-yanis 👋
Thanks for opening an issue!

Closing this because it does not appear to be related to the bloc library. Please avoid posted generic flutter support questions here and refer to stackoverflow instead, thanks!

[2020-07-28 13:21] #1539 closed

[2020-07-28 13:26] felangel commented on #1541
Hi @srinivas-codezyng 👋
Thanks for opening an issue!

This was an intentional breaking change made in v6.0.0 and is documented in the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97bloc-does-not-emit-last-state-on-subscription).

You can test the initial state via a regular test

[code]

Hope that helps! 👍

[2020-07-28 13:26] #1541 closed

[2020-07-28 15:14] eimantas1998 opened #1542 "bloc.listen method does not return initial values once called"
Hello, im having an issue, i have upgraded my application from flutter 4.0.0 to 6.0.1 and i have noticed that bloc.listen method has changed, it does not return anything from the start (current state of the bloc, it is listening to), it only returns state once the bloc state has changed, is this intended, if so is there any other method that i could use that works as a listener but returns the cur

[2020-07-28 15:15] felangel commented on #1542
Hi @eimantas1998 👋
Thanks for opening an issue!

This is a duplicate of https://github.com/felangel/bloc/issues/1541, https://github.com/felangel/bloc/issues/1512, and https://github.com/felangel/bloc/issues/1518.

[2020-07-28 15:15] #1542 closed

[2020-07-28 15:16] orsenkucher commented on #1515
@omidraha yeah, [this](https://github.com/isar/isar/issues/2) as well as [this](https://github.com/isar) in general, is very exciting stuff👌
Glad you found a solution that suits your needs

[2020-07-28 15:16] felangel commented on #1541
duplicate of https://github.com/felangel/bloc/issues/1512 and https://github.com/felangel/bloc/issues/1518.

[2020-07-28 16:04] larssn commented on #1429
I feel we've come full circle if we remove it again. That being said, I'm very much in favour of clean APIs.

`mapEventToState` gives direct access to the stream anyway, and we normally transform that, something like:

[code]

Personally, we've never used the Stream API present on Bloc. The big question is if anyone else do.

[2020-07-28 16:12] yvz5 opened #1543 "map event to state automatically"
**Is your feature request related to a problem? Please describe.**
Mapping events in the bloc to states is a redundant task. I was wondering if it is possible to automatically map events to states in dart using some kind of reflection ? or maybe attributes ?

**Describe the solution you'd like**
I would like to mark events and states with some kind of glue and let bloc lib do the mapping.

**Descr

[2020-07-28 20:53] heshaShawky opened #1544 "Question: Do I have to create a bloc for each part on my app? What it the best practices?"
**The question or the confusing is:**
I'm developing an **E-commerce Mobile app**, using flutter with **Bloc** as a **Design pattern** and your **flutter_bloc** ( _Thanks for that really helped_ ) package for simplifying things.

My question is: **do I have to create a bloc of each part of my app? is this the best practice for using the BLOC as a design pattern?**

For example, at **my App** on th

[2020-07-28 21:04] m-vellinga opened #1545 "[question] Any plans to bring back ReplayCubit?"
Good day!

Followed the merging of cubit into bloc very closely as I really like both and the ability to mix and match them is great.

Was wondering if you have any plans to bring back ReplayCubit in some shape or form?

Keep up the great work!

[2020-07-28 21:06] felangel commented on #1545
Hi @m-vellinga 👋
Thanks for opening an issue and for the positive feedback -- I really appreciate it!

Regarding, your question I'm planning to have `ReplayCubit` and `ReplayBloc` exported by `package:replay_bloc` very soon. Should hopefully be available by this weekend 🤞

[2020-07-28 21:10] felangel commented on #1543
Hi @yvz5 👋
Thanks for opening an issue!

Can you please share an example of how you are using bloc and how you envision the automatic mapping would work? I'm not sure I understand what you mean because the mapping of events to states is the critical business logic that normally differs from case to case. If you're would like to use bloc without the events, you might consider using [cubit](https://

[2020-07-28 21:17] m-vellinga commented on #1545
Awesome! Thanks for the swift response.

If I can be of assistance in any shape or form I'd be happy to help where I can (docs/reviewing most likely).

[2020-07-29 07:47] fotiDim commented on #1429
Not sure if it is a relevant point but one of the things that are unclear to me is how am I supposed to combine bloc with the FutureBuilder and StreamBuilder widgets. A workaround which I came up with it to have a future as a prop in my state. However this does not seem very elegant. I suppose exposing the steam directly from bloc would help with that.

[2020-07-29 08:58] abdullah432 commented on #1455
@animalnots I'm not sure exactly about your issue but I think this issue happens when you use single bloc in multiple pages. You will need separate bloc for each page. When you navigate to the next page through Navigator.push(), new bloc will be activated. But in some scenarios, we need single bloc in multiple pages like authentication (in my scenario mention above). In that case the only way to n

[2020-07-29 09:20] yvz5 commented on #1543
Hi @felangel , thank you for your interest in this topic. I am a beginner user of your library and used your tutorials to begin with the project. One thing I have noticed that the `mapEventToState` function contains lots of conditions to differenciate between the events and states.

From your example code Timer Bloc you define the events:
[code]

and in your Bloc you add the conditions like so:
[c

[2020-07-29 10:05] wujek-srujek opened #1546 "[Discussion] Reacting to two BLoCs in the UI - best practices, recommendations"
I have an architecture and recommendation question.

We have 2 BLoCs:

- `BlocA` with with a few states subclasses of `StateA`, and one of them is `StateASuccess` which contains `DataA`.
- `BlocB` with with a few states subclasses of `StateB`, and one of them is `StateBSuccess` which contains `DataB`.

In the UI, there is a button that can only be enabled when `BlocA.state` is `StateASuccess` and

[2020-07-29 10:17] RollyPeres commented on #1543
Hi @yvz5 👋

If plausible, your proposal would be achievable using code generation only but we're trying to avoid that since it's usually obnoxious to work with.

The bloc works the other way around, events are triggering/or not state/states changes. States might also be emitted as a result of some computation/request and even conditionally(based on the result). The timer example you mentioned is j

[2020-07-29 10:41] RollyPeres commented on #1546
Hi @wujek-srujek 👋

1. There's nothing wrong with nesting `BlocBuilder`s
2. Is a decent approach, although too verbose. You'd rather inject one of the blocs into the other and listen to it's state and handle that combined bool as part of the one bloc's state. But this is subjective based on your requirements, so it might not apply.
3. That's making your life harder, so I would advise against it.

[2020-07-29 13:00] wujek-srujek commented on #1546
Thanks @RollyPeres !

Ad. 2 Yes, we are doing just this (one BLoC listens to another) in a different case. The example above is simplified and we found in our real case wouldn't work well for us, not sure why any more. I will take a look at it again, thanks for the nudge.

Why split: the process is very complex and having just one BLoC would make the code complex as well, with a lot of states and

[2020-07-29 14:00] bfbenf opened #1547 "Bloc Library Timer Tutorial Incorrect Syntax"
The tutorial at https://bloclibrary.dev/#/fluttertimertutorial seems to have a syntax error due to an update in the bloc package.

In the UI tutorial where the action buttons are being built. The BlocBuilder uses named parameter "condition" which is being flagged as not a named parameter.  Reading your documentation and the tutorial text below I believe this should be "buildWhen" instead.

Code:

[2020-07-29 14:30] felangel commented on #1429
@larssn yeah I totally agree feels like we're going back in time haha. The idea of extending `Stream` and implementing `Sink` was to make it more natural and align with the Dart APIs which developers should be used to. We also in theory would benefit from the tooling for Streams/Sinks (close_sinks for example which is super buggy but in theory it would be nice to have).

@fotiDim can you give an e

[2020-07-29 14:34] felangel commented on #1547
Hi @bfbenf 👋
Thanks for opening an issue!

I'm currently in the process of rewriting all of the tutorials and will get to the timer as soon as possible. In the meantime you can refer to the [example](https://github.com/felangel/Bloc/tree/master/examples/flutter_timer) to work through an discrepancies. Sorry for the inconvenience!

[2020-07-29 14:36] felangel commented on #1544
Hi @heshaShawky 👋
Thanks for opening an issue!

I would highly recommend creating a bloc per feature. If you are fetching best sellers and offers together in the home screen then you can have a single bloc to manage fetching all of the data needed and model your state to contain both the best sellers and offers.

Hope that helps 👍

[2020-07-29 14:36] #1544 closed

[2020-07-29 14:38] bfbenf commented on #1547
Thanks! No Problem, thanks for the very detailed tutorials so far.

[2020-07-29 14:38] #1547 closed

[2020-07-29 14:40] felangel commented on #1546
Hi @wujek-srujek 👋
Thanks for opening an issue!

I would love to better understand the role of the two blocs in your current setup because I'm guessing the blocs are created based on API resources and not features. As @RollyPeres mentioned, I think the best approach would be to have a single bloc manage that state and this problem is usually a symptom of having blocs that are not feature-oriented.

[2020-07-29 14:41] RollyPeres commented on #1546
As already mentioned @wujek-srujek , it all depends on your requirements.

No, it is part of the state.

[2020-07-29 14:47] RollyPeres commented on #1540
Not sure exactly what you're trying to achieve, but you could combine the bottom navbar with a `PageView`. Let me know if that helps.

[2020-07-29 15:11] felangel commented on #1543
I agree with @RollyPeres that perhaps for this use-case `Cubit` is what you're looking for 😄

[2020-07-29 15:53] fotiDim commented on #1429
@felangel I am using bloc to manage fetching a bunch of POIs from an API and I use [MapBox](https://github.com/tobrun/flutter-mapbox-gl) to draw them on a map as markers. Mapbox has an `addImage()` method which just loads custom assets in its engine and returns a Future. I am using a FutureGroup that waits for `addImage()` and the `POILoadSuccess` state (with a Future prop as I wrote above) to bot

[2020-07-29 18:06] prajwal27 commented on #1486
@felangel   I  wanted to ask how to use these blocs in a bottom navigation bar of 3 tabs which uses AutomaticKeepAliveClientMixin. So there would be 3 blocbuilder at same time if I listen to it and build in each of the tabs

[2020-07-29 18:32] no1seman opened #1548 "[Feature request] Add support for Web platform for HydratedBloc"
Hi,

since Flutter for Web is in beta state it would be great to add support for persistent BLOC's for Web applications.
It's quite easy to make custom Storage via plugin, but threre is a problem: Storage() class .read() method has 'dynamic' return type and it's synchronous while MethodChannel() class .invokeMethod() method has Future<T> return type and it's asynchronous so it's a little bit trick

[2020-07-29 22:01] #1344 closed

[2020-07-29 23:43] henryla92 opened #1549 "[Question] Difference between creating package or importing files"
Hi,

I was just reading the new tutorial on the login flow and noticed that the authentication repository was created as a package instead of importing it as a library file.

I was just wondering what are the benefits of using it as a package and would this be the correct way to do it for other repositories as well?

Thanks!

[2020-07-30 00:33] VictorUvarov opened #1550 "[Question] How to correctly sort a list"
**Describe the bug**
I can't seem to emit more than one state when sorting a list more than once.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a bloc with a list:
[code]
2. Emit an event to sort the list by last name
3. List changes
4. Emit an event to sort the list by first name
5. No state emitted

**Workaround**
I had to create different states for this to work correctly
[code]

[2020-07-30 00:42] RollyPeres commented on #1549
Hi @henryla92 👋

This is done mostly for reusability. It's advisable to create your repositories as packages as long as there's a chance you might need to share them.

[2020-07-30 00:49] RollyPeres commented on #1550
Hi @VictorUvarov 👋

You're probably applying the sorting directly which is modifying the existing list so value equality won't work.
Instead do `yield List.from(_users).sort(...)`;

[2020-07-30 00:57] VictorUvarov commented on #1550
I am doing it directly thanks for the advice I'll try it out 🙂

[2020-07-30 01:13] VictorUvarov commented on #1550
Thanks @RollyPeres it worked

Solution:
[code]

[2020-07-30 01:13] #1550 closed

[2020-07-30 03:05] felangel commented on #1549
Hi @henryla92 👋
Thanks for opening an issue!

As @RollyPeres mentioned, creating repositories as standalone packages makes it much easier to reuse the code across projects and also enforces a strict separation of concerns and explicit dependencies. Having repositories as packages makes it a lot easier to maintain a layered architecture where each layer has a single responsibility and also ensures

[2020-07-30 03:05] #1549 closed

[2020-07-30 08:21] dirceudn opened #1552 "Error type '_BroadcastStream<LoginEvent>' is not a subtype of type 'Observable<LoginEvent>' in type cast"
Hi there,

I'm migrating my flutter_bloc lib 5.0.0 to 6.01 and I faced this issue.I have no idea how to fix it. You can see below the method:

[code]

The error happens in this line:
` final observableStream = events as Observable<LoginEvent>;`

Thanks for your help.

[2020-07-30 08:51] henryla92 commented on #1549
Thank you both for the very helpful explanations! 👍

[2020-07-30 09:16] RollyPeres commented on #1552
Hi @dirceudn 👋

You're probably using an old version of `rxdart`. `Obserevable` class was deprecated so you should directly work with the events as a `Stream` instead. e.g.:
[code]

[2020-07-30 09:48] dirceudn commented on #1552
Works fine :D. Thank  you very much.

[2020-07-30 09:48] #1552 closed

[2020-07-30 11:31] Ferdzzzzzzzz opened #1553 "Migration to bloc_test 7 issue"
Hey, so I've got a Cubit that initialized with an initial "event" (`FeedCubit(...)..fetchFeed(...)`)  , a couple of the tests used to look something like this:

[code]

But now the build param doesn't take a Future. I've been trying a couple of different ways to get that initial "Event" to fire off but haven't been successful. Any help is appreciated 😄

[2020-07-30 11:47] Ferdzzzzzzzz commented on #1553
Ok I read the docs 👍

Answer:
[code]

[2020-07-30 11:47] #1553 closed

[2020-07-30 13:28] matuella opened #1554 "[Question] Using 'part' & 'part of' directives"
Hello!

I've seen a couple examples (like flutter_wizard and flutter_login) that, when managing their `Bloc`s (with its respective events/states classes), it ends up using `part` and `part of` package-related directives, which are [recommended to be avoided](https://dart.dev/guides/libraries/create-library-packages#organizing-a-library-package). Is there any particular reason to it? Maybe we are i

[2020-07-30 13:43] RollyPeres commented on #1554
Hi @matuella 👋

They recommend against it simply because people have tendency to misuse those directives, but it doesn't mean they can't be used where they make sense. Bloc is using those directives to reduce boiler plate and the amount of files needed. Without this you'd need some extra boiler plate code inside an extra barrel file to export everything from the bloc, event and state files.

[2020-07-30 13:54] matuella commented on #1554
@RollyPeres
Got it! I was always wondering this myself, though I didn't have a strong opinion about those directives.
So, the vscode extension is correctly generating by using `part` and `part of`, right?

[2020-07-30 14:14] felangel commented on #1554
Hi @matuella 👋
Thanks for opening an issue!

As @RollyPeres mentioned in this case it's very beneficial because treating the events/states/bloc as a single file eliminates the need for extra files/code and also makes code generation simpler because you end up with a single `my_bloc.g.dart` or `my_bloc.freezed.dart`.

I'm in the process of rewriting all of the examples so they will all be consisten

[2020-07-30 16:15] matuella commented on #1554
Thanks for the quick answers!
That makes sense and, if there is anything, I would be glad to help this incredible library.

I will be closing it because, even though all examples are not updated, the library itself is working as intended.

[2020-07-30 16:15] #1554 closed

[2020-07-30 16:36] leenorshn opened #1555 "Unused class Cart in Flutter_shopping_cart."
Hello Sir. I find that you don't use the Class Cart, Witch role this class must do.
I'm work on a shopping project like this https://github.com/leenorshn/e-commerce_bloc.git but I would like to use a Cart with Flutter_bloc but I don't know how! it can be really good if you explain more. I would have many features to do with Cart.
Please help me

[2020-07-30 18:10] ollydixon opened #1556 "Await bloc.add"
For many reasons it would be awesome if we could wait for the bloc to finish with the event before continuing.

Here's an example

[code]

I can't seem to find a solution or feature for it. If anyone knows it would be great.

[2020-07-30 18:24] RollyPeres commented on #1556
Hi @ollydixon 👋

Why not invoke `fetchAllLogs` in the `UpdateUserAction` handler ? e.g.:

[code]

[2020-07-30 18:25] ollydixon commented on #1556
@RollyPeres fetchAllLogs also has a logsBloc with add. :-/ I'm sort of stuck here; thanks for the reply.

[2020-07-30 18:32] felangel commented on #1556
Hi @ollydixon 👋
Thanks for opening an issue!

If you really need to do this you can do

[code]

But this is usually not the best solution and is likely an indication that the flow of data can be reworked/simplified.

[2020-07-30 18:33] ollydixon commented on #1556
@felangel thank you so much! I've been stuck on this all day.

[2020-07-30 19:18] ollydixon commented on #1556
@felangel it would seem that the state is still invalid even after the await.

For example.

`await userBloc.first;`
`userBloc.state.logs` << 0

But if I wait for a second then run it again, userBloc.state.logs is 151.

Hmm stumped.

[2020-07-30 19:43] felangel commented on #1556
await `userBloc.first` would wait for the next state. If you're yielding multiple states for a single event you need to do `firstWhere`

[2020-07-30 20:34] ollydixon commented on #1556
@felangel I'm guessing firstWhere will just return the next state that was just added? (Matching the bool)

[2020-07-30 20:55] felangel commented on #1556
@ollydixon yup 👍

[2020-07-30 22:23] #1540 closed

[2020-07-31 08:16] manhDat0301 opened #1557 "Does widget rebuild only when i yield a state?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-31 15:30] #1557 closed

[2020-07-31 15:30] felangel commented on #1556
Closing this for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2020-07-31 15:32] ollydixon commented on #1556
@felangel thanks :-)

Would you ever consider adding await bloc.add to guarantee a consistent API for say 'next' event processes. Just an idea; maybe I sound dumb.

Great job on this lib btw. We deleted all our Redux from over 30 Flutter projects at my company.

[2020-07-31 15:34] felangel commented on #1556
@ollydixon I would like to avoid that because `add` is part of the `Sink` api which does not return a `Future` and also it would be confusing because a single add can result in multiple state changes so you would never know when the event was actually "done" being processed.

[2020-07-31 15:37] ollydixon commented on #1556
@felangel makes sense. I guess it's never reliable to assume values from distant state anyhow. Sticking to the firstWhere seemed to work perfect for our auth fetching scenarios. :-)

[2020-07-31 15:39] felangel commented on #1556
You can accomplish this more easily using `Cubit`

[code]

Then you can await `doSomething` directly:

[code]

Hope that helps and thanks so much for the positive feedback -- I really appreciate it 🙏

[2020-07-31 15:46] ollydixon commented on #1556
Thanks, I'll look into this; little abstract for my brain haha; most of our state/actions are in order, the stream stuff always confuses my coders.

For example it's as simple as:

[code]

The the UI handles the rest. Errors are handled directly and not in state management. We like as little code as possible! :-)

[2020-07-31 15:52] JulianSwales opened #1558 "How to Update Stream with Sqflite added record?"
I've been using the awesome flutter_firestore_todo, however I have a sqflite database instead of a firebase backend... So I'm attempting to adapt it.. I'm lost on one area which I've not found any matching info...

I have this:
[code]

Which all works well... The one issue is in the mapAddChecklistToState, after it's done the addNewChecklist, I want to invoke the LoadChecklists so that the view ge

[2020-07-31 19:31] felangel commented on #1558
Hi @JulianSwales 👋
Thanks for opening an issue!

Can you elaborate a bit on why the current approach doesn't work? When you call `add(AddChecklist)` the `addNewChecklist` should emit a new event on the `checklists` stream right? This should then trigger `add(ChecklistUpdated)` with the new list which you can then yield via:

[code]

Let me know if that helps 👍

[2020-07-31 20:58] JulianSwales commented on #1558
@felangel
Thank you for taking the time to look at my question.
I'm lost on the statement "should emit a new event on the checklist stream"  That's what I've been struggling with. How would that occur? AddNewChecklist is a subroutine deep inside in a database class referenced by the checklist repository. I'm not sure I understand how such a routine would access the Bloc to add an event. Hence why

[2020-07-31 21:03] felangel commented on #1558
@JulianSwales as long as when you call `addNewChecklist` it updates `checklists` on the `_checklistRepository` then everything should work in the current state because of:

[code]

You don't need to add events from inside your database class the above approach should work just fine 👍

[2020-07-31 22:18] felangel opened #1560 "[Discussion] Add Cubit Flutter Widgets?"
## Question

Do you like the current API in v6.0.0 of `flutter_bloc` where `BlocBuilder`, `BlocListener`, etc... are compatible with both blocs and cubits?

### Current Usage

#### Blocs

[code]

#### Cubits

[code]

### Introduce Cubit Flutter Widgets

Or would you prefer to have `Cubit` versions of each widget (`CubitBuilder`, `CubitListener`, etc...)?

#### Blocs

[code]

#### Cubits

[code]

P

[2020-08-01 02:16] JulianSwales commented on #1558
@felangel I've put up a demo app with my code in it... You can find it here:
https://github.com/JulianSwales/bloctest

When you run the App, Click the Checklists button.. You will see two items.. Click the + floating action button and add a record.. Just select and on the ok lines just pick ok for the 3 records, then hit submit..It takes you back to the checklist screen, but doesn't update the lis

[2020-08-01 09:34] jeroen-meijer commented on #1560
The associated PR (#1559) has been undrafted and is ready for review/consideration. 😄

Please vote thumbs up/down on the to let everyone know how you'd feel about these changes.

[2020-08-01 11:53] angel1st commented on #1546
Hey guys, I would like to jump into the discussion, since I have a similar thought as @wujek-srujek.
I will try to describe my case:
I have a calendar widget, which can be either filtered by specific appointment types (e.g. work, holiday end, etc) or change its view (day, week, month and etc.).
Hence, I created two separate BLoC(s) - one for event filter and one for calendar view and I would consi

[2020-08-01 15:25] MdeBruin93 opened #1561 "Best practices for blocbuilder and bloclistener with Location Service"
Hi @felangel ,

This is more like a question rather than an actual issue, however I'm struggling with implementing a Location Listener service in Flutter that will update the UI using a blocbuilder with a bloclistener.

What I want to do is, whenever a person presses a button the user should be taken to a screen that displays a Google maps (got this one working already). For now it just shows the