[2021-12-05 14:41] agordeev commented on #3041
@felangel it's similar to this issue. But my point isn't about unnecessary rebuild calls, though it takes a place too. I'm more concerned about code sanity and convenient usage.

[2021-12-05 16:31] kiaxseventh opened #3044 "fix: hydrated_bloc"
**Description**
dear @felangel
thanks lot of for everything

hydrated_bloc on initial structure is not good

log :
[code]
When we use hydrated_bloc and flutter_native_splash at the same time
we see a white screen between splash screen and app

i think first initialization of hydrated_bloc with this structure It is not convenient and flexible

changing first initialization structure to like a singl

[2021-12-05 22:42] alanfg120 opened #3045 "fix: 'package:flutter/src/widgets/framework.dart': Failed assertion: line 4269 pos 14: 'owner!._debugCurrentBuildTarget == this': is not true. in And roid when I use lazy = false in BlocProvaider"
**Description**
when I enable lazy in false of the BlocProvaider in the main.dart, this exception is thrown, this only happens in Android and sometimes only

**Steps To Reproduce**

` BlocProvider<EmpresasBloc>(
             lazy: false,
             create: (context) => EmpresasBloc(repositorio: EmpresaRepositorio(),prefs:PreferenciasUsuario())..add(GetEmpresas(empresas: homeCubit!.state.usuario!

[2021-12-06 11:27] khalilkm01 opened #3046 "feat: Automatic naming of folder"
Usually, when creating a new bloc/cubit using the VSCode extension it just names the folder to bloc/cubit which is not really an issue but a small minor update can improve on that significantly.

A minor update could create the folder with the specific file name already as typed before with a config file to decide whether it follows the camel or pascal case for naming conventions.

[2021-12-06 14:44] marcossevilla commented on #3046
hi @khalilkm01, thanks for the suggestion! the extension formats your file's name as `snake_case` because that's the style guideline established on [Effective Dart](https://dart.dev/guides/language/effective-dart/style#do-name-libraries-and-source-files-using-lowercase_with_underscores).

I'm closing this issue for now but feel free to comment if you have any other doubt. 👍

[2021-12-06 14:45] #3046 closed

[2021-12-06 20:41] khalilkm01 commented on #3046
I was talking about folder name sorry

[2021-12-06 20:59] felangel commented on #3041
I would argue in the example you provided the state can be refactored to something like:

[code]

`navigateToPage` and `showError` are not states in my opinion and don't belong on the state class. You can listen to state changes in the bloc and when the status is a `failure` handle the navigation in the UI. Blocs should not know/care about the presentation/widget layer ideally and navigation is di

[2021-12-06 21:06] felangel commented on #3045
Hi @alanfg120 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Thanks!

[2021-12-06 21:07] felangel commented on #3044
Hi @kiaxseventh 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? I highly recommend making sure your setup aligns with how it's done in the [hydrated bloc example](https://github.com/felangel/bloc/blob/master/packages/hydrated_bloc/example/lib/main.dart)

[2021-12-06 21:28] chonghorizons commented on #2300
@Gene-Dana

I'm writing the docs for the big flutter_todo rewrite for version 8. I think I will be hitting some of your points. In particular, please take a look at my proposed use of widget trees and discussing data flow. https://github.com/felangel/bloc/pull/2859#issuecomment-987233491

And, if you have even more interest, please consider helping review the tutorial (not pushed to any repo yet,

[2021-12-06 21:36] felangel commented on #3043
Hi @zeshuaro 👋
Thanks for opening an issue!

`emit` is intended for use only within the bloc/cubit instance itself. I highly advise against using `extensions` here and instead consider using something like a mixin:

[code]

Let me know if that helps and sorry for any inconvenience!

[2021-12-06 22:37] mrbrunoabreu commented on #2526
Hi @felangel , I'm trying to update my project to version 8.0.0 and want to feel more secure before applying changes to the whole project, which is huge.

Our pattern for the blocs follows this example and this is my first attempt to update it following your guide here (currently, this doesn't allow me to assign the Emitter<RestaurantReviewState> or Emit<RestaurantReviewState> types to emit).

[co

[2021-12-07 00:21] AscentionOne commented on #3038
Hi, @felangel thank you for the clarification. 👍

[2021-12-07 00:21] #3038 closed

[2021-12-07 03:37] chonghorizons commented on #1819
@Add00w @pandora-house

I think RepositoryProvider at the top is the pattern you want to use. I'm writing the docs for a the flutter_todos tutorial that uses Repository provider with 3 common cubits.  I made a diagram of the widget tree in that tutorial, and this touches on where to put providers. See #2859, specifically this post: https://github.com/felangel/bloc/pull/2859#issuecomment-987233491

[2021-12-07 03:47] chonghorizons commented on #1758
@albertodev01
I had the same frustration with tree structure and widget structure. I am writing a draft of the docs for the updated flutter_todos tutorial. (not up on the website yet, but the markdown file exists)

Addressing two of your points:
- Directories: https://github.com/chonghorizons/bloc/blob/chong-docs-todos/docs/fluttertodostutorial.md#directory-structure
  - Did you know... the full s

[2021-12-07 06:55] Hari-07 opened #3048 "fix: State doesn't update even when a member has changed"
**Description**
One of the state members, when given a new value, still fails to be recognized as a new state

**Steps To Reproduce**
I have a state with one of its members as a List of Lists
[code]
In order to update one of the elements in this 2d list, as mentioned in docs, I created a new instance of the list rather than modifying the original one, and then updated the state with the new instan

[2021-12-07 09:27] narcodico commented on #3048
Hi @Hari-07 👋

That happens because you're mutating the inner list instead of creating a new one. Something like this should do it:

[code]

[2021-12-07 11:04] IsidorosT opened #3049 "BlocBuilder is changing his state but GridView still displays old data"
I have a State Object for my Settings Bloc:
[code]
And i have a widget that gets the state from bloc builder and displays it into a GridView builder:
[code]

List did not refresh but if i scroll down enough to hide it or change my app's tab the new information is displayed as should be.
I have also another Bloc wich handling a ListView with very similar way and i dont have that problem.

[2021-12-07 13:04] jrmallorca opened #3050 "[Question] Trying to understand new Todos example"
I've been following ResoCoder's Flutter Clean Architecture TDD [https://resocoder.com/flutter-clean-architecture-tdd/](url) but I'm currently struggling to understand how to combine this with the new bloc versions, more specifically with the Firebase Todos example as that is the one most applicable to my project.

I've used the old Todos example [https://bloclibrary.dev/#/fluttertodostutorial?id=k

[2021-12-07 13:48] jrmallorca commented on #3050
I believe my problem stems from not knowing how to properly implement error handling. Would there be any resources on that?

[2021-12-07 15:44] jmewes opened #3052 "fix: Cannot find stack trace for exception in BloC constructor"
**Description**

If there is an exception in the BloC constructor, then the message and stack trace of that exception cannot be found in the message and stack trace printed to the console.

**Steps To Reproduce**

See https://github.com/felangel/bloc/pull/3051 => https://github.com/felangel/bloc/runs/4446243502

**Screenshot**

![Selection_507](https://user-images.githubusercontent.com/5235584/145

[2021-12-07 15:50] felangel commented on #3052
Hi @jmewes 👋
Thanks for opening an issue!

Are you able to reproduce with just `Provider`? This looks like it should ideally be addressed within `provider` wdyt?
Thanks!

[2021-12-07 15:55] taamali opened #3053 "How Inject facade in bloc for testing purpose."
How to inject class Facade with bloc facade .
![image](https://user-images.githubusercontent.com/95703752/145062119-1e40f061-ae50-4771-92a0-268062ac178b.png)

[2021-12-07 16:00] felangel commented on #3053
Hi @taamali 👋
Thanks for opening an issue!

Can you please describe what the specific issue is that you're facing? It's not clear from the issue what problem you're facing, thanks!

[2021-12-07 16:07] felangel commented on #3044
I highly recommend leaving the initialization before `runApp` and configuring the native splash screen so that you leverage the native splash screen instead of duplicating the effort and having a splash screen in flutter as well.

Hope that helps!

[2021-12-07 16:09] taamali commented on #3053
Hi @felangel .Thank you for your quick reply ,
I don't understand how to test bloc with facade ?
How to init facade in bloc ?
![image](https://user-images.githubusercontent.com/95703752/145064625-67ac3242-e10d-41cd-96b9-a94f0c84064a.png)

[2021-12-07 16:31] linxkaa commented on #3053
I think u should use GeneratedMocks instead of that class MockFacade and use build_runner.

Like this for instance:

[code]

[2021-12-07 16:37] jmewes commented on #3052
Hi @felangel ,

Thank you for your quick response!

Yes, I could reproduce the issue in the `provider` package:

https://github.com/rrousselGit/provider/issues/705

If this issue gets fixed at any time with the next `provider` version applied by `flutter_bloc`, this is fine for me. So, I am closing this issue. Feel free to reopen if you want to keep it as a reminder for a required version bump.

[2021-12-07 16:37] #3052 closed

[2021-12-07 18:10] Gene-Dana commented on #2300
Hi there @chonghorizons 👋🏼 I really appreciate you taking the time to help others understand this complex subject. I do think it would be great to have the new docs for flutter_todo reference what we discussed in this architecture deep dive.

My concern with this approach is the noisiness of the graphic and the challenge to maintain it

[2021-12-07 19:39] HadiHassan22 commented on #3050
Hey @jrmallorca,

So if pre version 8.0.0 you used to do the following:

[code]

in version 8.0.0 you can do the following:

[code]

Hope this helped you, however as for handling errors through onError I would not be able to tell you. I tried looking a bit but I didn't seem to understand if the onError API is meant to replace the try catch on event handling or if it is only for handling only inter

[2021-12-07 20:11] chonghorizons commented on #3050
Yeah, I believe that is the new pattern being used.

The tutorial for the new v8 tutorial is in review (I just finished the first draft). You'd be a good test case for whether the new docs make sense.
The diagram referenced in the "https://github.com/felangel/bloc/pull/2859#issuecomment-987233491 directly addressed the concept you mention: "will indirectly emit a new state due to the **StreamSubsc

[2021-12-07 20:27] chonghorizons commented on #3050
If `_onAddTodo` fails it would trigger onError. But I think in the Bloc, you might have a try catch statement around the  `_onAddTodo`. And then cleanly deal with the exception, like emitting a failed status which the UI can deal with.

I mostly am thinking through the v8.0.0 example that has a `status` field in all the BlocStates to deal with just these errors. The old todos didn't have a way to

[2021-12-07 21:05] chonghorizons commented on #3008
A few things:

1. Don't use your builder to update state
I think the issue is that you're using your builder to change state:
[code]
The builder can run once or multiple times or not at all (if things are in the background). And can create weird race conditions, like what you're trying to deal with with your 300 millisecond delay.

2. Use a respository to coordinate API calls.
I think you might wa

[2021-12-07 22:37] jrmallorca commented on #3050
Thank you @HadiHassan22 and @chonghorizons for your help. This is really helping me understand about how the new version works now and helps me adapt my program to the new version.

@chonghorizons with regards to the tutorial, it is very understandable. I've actually been following #2859 a bit before this and I am glad to see a draft. There's a few minor grammar problems I believe but it's a draft

[2021-12-07 22:47] IsidorosT commented on #3049
Hi @felangel and thank you for your response.
Here is a little project that i think reproduces the error above
[repro1.zip](https://github.com/felangel/bloc/files/7672074/repro1.zip)
I have a bloc that updates the list of grid view but it doesnt refresh visually

[2021-12-08 03:53] chonghorizons commented on #3050
Thanks for taking a look and the feedback!

Either way works. They are equivalent to the program.

To nitpick, when you wrote: "All `State` classes only include one state", you might want to say "All state instances are of one class."

code-wise, you can't use `copyWith` if you move between state instances that are separate classes (the old way).  At least not in a straightforward way.

In the old

[2021-12-08 05:57] YusufJo commented on #1204
From a [Multi-Layered ](https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html) architecture perspective, a bloc which lives in the domain layer shouldn't have any dependency on any other layer. This rule is broken when instantiation of a repository happens directly inside the bloc since it's more likely that the repository depends on other layers.

[2021-12-08 06:58] Hari-07 commented on #3048
Alright got

Thanks, that worked. Could you let me know why then does the element itself does not evaluate as equal although the state which contains it does?

[2021-12-08 07:10] Hari-07 commented on #3048
As a followup, in the new version are multiple emits not allowed from the same event, previously before 8, I have had projects where at the beginning of the event I would yield a state setting a loading indicator or so, and at the end update the state with the data fetched and the state updated twice and UI responded too, currently it seems the emit() is only happening at the end, and the data doe

[2021-12-08 07:30] kiaxseventh commented on #3044
**I highly recommend leaving the initialization before runApp**

[code]
HydratedStorage initialization and HydratedBlocOverrides are just initialization before runApp

**_I highly recommend leaving the initialization before runApp_**
Of course, I think so too

I do not see the need to initialization of Hydrated before runApp
For this reason, I suggest improving the structure

[2021-12-08 07:48] vadrian89 commented on #3008
@chonghorizons  thank you for your input, I understand what you mean about using streams but I don't understand the reasoning behind why I shouldn't use builder to set state. Can you elaborate?

I mean, I didn't had any problems setting state class member properties when the correct state is emitted.

[2021-12-08 09:26] Lootwig opened #3054 "docs: Best practice for awaiting finished event processing when state does not change"
When adding an event that might or _might **not**_ cause a state change, is there a recommended way of ensuring it has been processed before executing the next statement?

If I _know_ there will be a state change, I'm usually doing this:

[code]

However, if the processing does not necessarily change the state, the only way I can think of for making this work is to force a "dummy" update, which se

[2021-12-08 10:47] zeshuaro commented on #3043
Thanks for your reply and suggestion. Also there's no need to apologise.

Using a mixin did help me to get around with the error messages. But this is my first time using mixin and I have a follow-up question. For the code below, I could call the method `boo` within `context.read<FooCubit>()` previously with extension, but I can't do it now with mixin. Would you be able to have a look and see what

[2021-12-08 12:42] jrmallorca commented on #3050
Thank you for all the help. I think this would be enough for me to progress now so I'll close this issue and reopen (another) if necessary.

[2021-12-08 14:37] Sergey-Sonderson commented on #2915
Good evening, I apologize for taking so long to answer. Your answers helped a lot, thanks a lot!)

[2021-12-08 15:02] luckyhandler opened #3055 "docs: Discussion about Repository approach in `architecture`"
**Discussion about the described `Repository` architecture**

In my opinion, also according to [this video](https://www.oreilly.com/content/how-do-i-use-the-repository-pattern-in-c/) the repository is a layer of abstraction or "an object that your application uses to get and store a single type of data".

In my own words, I would explain it as "data black box for one type of data", which means:

I

[2021-12-08 15:10] felangel commented on #3054
Hi @Lootwig 👋
Thanks for opening an issue!

Can you please provide a bit more context regarding what you're trying to achieve? Thanks!

[2021-12-08 15:27] Lootwig commented on #3054
hey @felangel 👋 The bloc in question is supposed to prepare the state for a `FlowBuilder` before navigating to it.

This "preparation" consists of assembling a list asynchronously, updating the state with it and then emitting.

The `==` operator of the state returns true if the List is empty before and after assembly, which means: if the items have not changed,  no new state is emitted - hence wit

[2021-12-08 15:53] felangel commented on #3054
@Lootwig can you provide a link to a minimal reproduction sample? I'd love to take a closer look, thanks!

[2021-12-08 17:12] Lootwig commented on #3054
here you go. man, building even small examples like these still takes quite a while :(

https://dartpad.dev/?id=c31f3a2a6e1f8b8c54be802fb47ae669

[2021-12-08 17:40] felangel commented on #3054
@Lootwig thanks!

I refactored it so please check it out and let me know if that helps 👍
https://dartpad.dev/?id=1c981719123a11dcd16df35fb7fea7bb

[2021-12-08 22:40] chonghorizons commented on #3008
@vadrian89 Thanks for clarifying things, and for the the thanks. WE're all just learning here.

## The argument for not Setting state in the builder
 It might depend on your use case. In some cases it is definitely not okay. In other cases it's fine. But I think you can always move that set state somewhere else and it's safer. Defensive programming.

### Definitely not okay
- _If your set state ha

[2021-12-08 22:45] narcodico commented on #3048
The first print evaluates the `gridCellData` while the second one the whole `state`. I don't have access to all your code to better understand what's going on but I assume your state is mutated by other concurrent event possibly. Keep in mind `state` is ever changing.

You can emit as many states as you want from an event. Your states are not all rendered most likely because flutter doesn't get th

[2021-12-08 22:46] chonghorizons commented on #3008
Also, for minimum code example, I really prefer if you use dartpad. See #3040 for an example of moving your code to a gist that works in dartpad so we don't have to download and run your code.

As an exercise, you might try to modify the dartpad code sample to generate an infinite redraw loop.

[2021-12-08 22:56] chonghorizons commented on #3050
Yes, two states are being emitted.
and... (below)

I want to nudge you to try it yourself. ** Don't be afraid to break the code in learning **. Just try it and see. Keep watch of the blocObserver log messages.

I agree. But the tutorial is already long.
- People who can read test files know where they are and can read them.
- People who don't like reading test files won't read them even if you put

[2021-12-09 00:34] chonghorizons commented on #3055
I'm pretty new and there are, of course, 100 valid opinions if they all work and are maintainable.

Yeah, I was thrown off by the description in `docs` of the repository, that it can merge two data providers. But after I thought about it, it could make sense. My guess of the number one use case is not about merging two separate providers, but for fallbacks.

## Use Case 1: RespositoryWithFallbacks

[2021-12-09 01:00] chonghorizons commented on #2759
Felix mentioned wanting to get away from code snippets and to directly including of the code files. I wrote up a proposed styleguideline in this pull request. https://github.com/felangel/bloc/pull/3056/files  #3056

I also wrote some tooling to auto-generate MD files and include statements. This helps with the "X file is missing from tutorial" comments above. How? Here's how:
* Get a list of all t

[2021-12-09 07:20] vadrian89 commented on #3008
Thanks for your elaboration, the thing is I do not use setState inside my builder. I am very aware of the side-effects of calling setState inside BlocBuilder but it's great that you wrote this, maybe someone will bump into my issue, read the comments and see their mistakes.

I don't agree, at the moment, with the fact that I should use only StatelessWidget and let bloc handle everything.
I might c

[2021-12-09 15:16] #2994 closed

[2021-12-09 15:17] felangel commented on #3045
Closing for now since there is no reproduction sample. Feel free to comment with a link to a minimal reproduction sample and I'm happy to take a closer look 👍

[2021-12-09 15:17] #3045 closed

[2021-12-09 15:44] raulmabe commented on #3002
Hi @felangel! I was wondering if there is an easier way to provide a `HydratedBlocOverrides` zone to each unit test of a HydratedCubit.

Previous to v8.0.0:
[code]
and then calling
[code]

Now (v.8.0.0), as far as I understand,  we should do the following **for each** unit test of this `HydratedCubit`:

[code]

[2021-12-09 16:35] felangel commented on #3002
Hi @raulmabe 👋

You can streamline this like:

[code]

Let me know if that helps 👍

[2021-12-10 04:37] #3048 closed

[2021-12-10 16:01] felangel commented on #3044
The reason is ideally you'd want to show the user the native splash screen while hydrating the storage. Otherwise you'll have to make some sort of loading screen/alternative splash screen later to show the user while the cache is being populated.

[2021-12-10 16:02] felangel commented on #3043
Yup you'd just need to use `context.read<BooCubit>().boo()` instead. Let me know if that helps 👍

[2021-12-10 17:25] kiaxseventh commented on #3044
i'm sorry, i know it , but i say other things
i say hydrated_bloc with force initial on top of application is not good solution
If can you change the initialization structure
This problem can be solved

Instead, initialization should be done when the first read or write request is sent to "hydrated_bloc"
for example like "BlocProvider" with "lazy true" option
this way dont need await for first ini

[2021-12-10 17:34] felangel commented on #3044
Creation of a bloc is a synchronous operation. If we delay the initialization you'll need to handle awaiting the initialization within the widget tree.

[2021-12-11 23:25] jgoyvaerts opened #3058 "fix: [bloc_test] Incorrect error message when exception occurs in "act""
**Description**
When an exception occurs in the "act" phase of blocTest, the exception isn't correct/helpful in actually locating the issue. This is because blocTest assumes only the bloc can throw exceptions (and handles those), but if an error occurs in for example in an event constructor, this is not displayed to the user.

**Steps To Reproduce**
Minimal repro case to reproduce:
[code]
**Curren

[2021-12-12 01:37] Lootwig commented on #3054
It does, thank you!

In fact, the example led me down a rabbit hole of intense refactoring of multiple components I felt could be improved on, and in the process two things came up:

1. I had stumbled across context.watch / select on occasion, but their documentation never made it clear that (mostly by leaving out the _how_) they can actually turn a "dumb" stateless widget into an auto-updating on

[2021-12-12 04:02] felangel commented on #3043
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2021-12-12 04:02] #3043 closed

[2021-12-12 07:33] zeshuaro commented on #3043
I tried your suggestion with `context.read<BooCubit>().boo()` but I got the following error:

[code]

And I couldn't initiate a `BooCubit` instance to the `BlocProvider` as it's an mixin so I'm not sure how to make `BooCubit` available for the lookup.

In addition, I face a similar issue when trying to update the unit tests with using the mixin. Again I can't call boo from the cubit. If I update t

[2021-12-12 23:48] tim-smart opened #3059 "refactor: Move storage implementation into another package."
Hi 👋

I was look into the storage implementation for hydrated bloc, and was thinking it would be great if it was moved into another package (along with the traversal logic).

A general storage abstraction package could be of great benefit to the community :)

If this sounds promising, then I'll be happy to contribute.

[2021-12-13 07:41] fauzanpahlawan opened #3060 "bloc_test doesn't wait the async process in the tested class"
I have an event handler in bloc for DataState
[code]

In the test file I generated a mock class for the repository and stub the repository
but the actual test result was only,
```[DataState(status: Status.loading)]```
not
```[DataState(status: Status.loading), DataState(status: Status.loaded, data: mockData)]```

but if I add ```wait: ``` parameters in the blocTest for 2 seconds it works.

model,

[2021-12-13 11:22] IsidorosT commented on #3049
Any Thoughts?

[2021-12-13 12:44] narcodico commented on #3049
Hi @IsidorosT 👋

Could you provide a github repository with a more simplified example of your issue? Your current sample needs A LOT of refactoring to get it in a good spot. Please keep it simple just to exemplify the issue.

I'd also advise you to read more about the basic of dart/flutter since you seem to have a C# style approach to your code, especially when it comes to object/prop initializati

[2021-12-13 14:36] felangel commented on #3060
Hi @fauzanpahlawan 👋
Thanks for opening an issue!

I believe this is working as expected because you are applying a debounce. You should be able to adjust your wait to match the debounce duration though. Let me know if that helps 👍

[2021-12-13 15:21] jrmallorca commented on #3050
Thank you for all the help. I believe I understand how it works now. I do have another question but I think that would be more appropriate in another issue.

[2021-12-13 15:21] #3050 closed

[2021-12-13 16:01] fauzanpahlawan commented on #3060
Thank you for pointing that out.

[2021-12-13 16:01] #3060 closed

[2021-12-13 17:00] agordeev commented on #3041
I'm going to close the issue since the repo maintainer is against the proposal. Hopefully, Felix will revisit his thoughts about this if the issue will get enough traction :)

[2021-12-13 17:02] felangel commented on #3041
Sound good, I'm always happy to continue the discussion!

[2021-12-13 18:48] ride4sun opened #3061 "docs: getting a error when listening to a state in many areas of my code : error: Bad state: on<T> was called multiple times. There should only be a single event handler per event type"
**Description**

Clearly describe what documentation you are looking to add or improve.

I get and exception when I listen to a bloc state in multiple errors of my code.

[code]

and that is correct and intended and I need that functionality. I migrated from an older version of bloc to 7.X

This is the bloc I listen to an 5 areas of my code

[code]

I have the feeling there is an easy way around t

[2021-12-13 22:42] cedvdb commented on #2280
If the bloc is used for UI state, and repositories which are part of the data layer have the data in memory, then the business logic is non existent, which is odd considering the library you are using is named Bloc (Business logic component) simply for your UI layer.

I'll argue that there is a different approach, that is to consider your data loading and such as your domain logic.  That is if you

[2021-12-13 22:52] chonghorizons commented on #3008
I've added 3 notes in the code below. See the `//` notes.

You have a `//1` StatefulWidget, and then a `//2` BlocProvider of a Cubit within it. And then `//3` something that directly changes the state variables in the StatefulWidget.

When you directly change the state variables (without using setState), it won't trigger a re-render. See[StatefulWidget] (https://api.flutter.dev/flutter/widgets/Sta

[2021-12-13 23:21] chonghorizons commented on #3008
If it's an issue that you have a lot of legacy code you don't want to convert from StatefulWidgets to Bloc, that's fair.

The best solution is don't use Bloc. Don't mix.

To mix and shoehorn Bloc into existing, you have to do all this:

1. make a method in _MyHomePageState that does a `setState()` to the state. This is the only way to trigger a rebuild of the StatefulWidget. Something like `change

[2021-12-13 23:34] chonghorizons commented on #3061
Recommend to tag/triage as migration specific issue.

We'll probably ask for a minimum reproducible snippet of code. If you can, modify the counter example  https://dartpad.dev/?id=90da115645caf06ffe10dc8ab170f347 to generate the same error.

By any chance: are you emitting the event to the bloc within a widget build process? Or is it via some UI event like a button?

You might also see the builde

[2021-12-13 23:57] chonghorizons commented on #2938
This is based on about 20 minutes of reading your code, so sorry if I'm not grokking it all.
I think the issue is that you have the following nested structure (in [this version](https://github.com/felangel/bloc/issues/2938#issuecomment-968023280)  which isn't illegal, but has a lot of debugging headaches:

BlocProvider for AccessState
StatefulWidget
BlocListener
BlocBuilder

any change of the Bloc

[2021-12-14 02:37] chonghorizons commented on #2938
Update: I was mistaken... it isn't because of the nesting, not exactly.

It has to do with interaction of Navigator and the blocListeners.

I think you are intending for *only the top-of-Navigator-stack listener* to push a new page. But, in fact, every listener is pushing a new page. This is intended behavior. You might have a dashboard that wants to update for every page.

I added some debug prin

[2021-12-14 02:39] chonghorizons commented on #2938
If this addresses things (at least in terms of bloc), please consider closing the issue. If not, please clarify where I misunderstood your expected behavior vs actual behavior.

[2021-12-14 05:33] eliudio commented on #2938
@chonghorizons Thanks very much looking into this.

You make it sound as if I'm using bloc in a not illegal yet unusual unintended way. I disagree with that, but let's try not to have the conversation about that, rather about the core of the issue: using listener to navigate. Hence why I've also used an EXISTING example, which I slightly changed:

https://gist.github.com/felangel/6bcd4be10c046ceb3

[2021-12-14 06:27] chonghorizons commented on #2938
I think I came off too strong for trying to give lots of details. Didn't mean to. If I came across that way, I apologize.

In Nov 13, you wrote

The issue isn't that "the (single) listener" is called multiple times. That would be a bug. Each individual listener is called exactly once. But here there are have multiple listeners. So listeners are called more than once. In other cases, rebuilds of wi

[2021-12-14 07:14] haashem commented on #379
The right solution is move `blocBuilder` when Leven up the tree, so wrap the entire appBar with `blocBuilder` then you have state and based on that you conditionally make your actions list.

[2021-12-14 11:28] kusayp opened #3062 "fix: Recreate cubit user pop screen using the back button"
**Description**
I have 2 screens, user details summary (screen 1) and update user details (screen 2).

On screen 1, user get the summary of the user details from the api.
On screen 2, user able to update for instance email of the user.

When the user on screen 2 and is done updating the email. and clicks the back button to go back to screen 1. I want screen to rebuild and load the new updated data

[2021-12-14 14:34] itaishalom opened #3063 "docs: Create one bloc throughout the app?"
**Description**

Hi, is there a way to create one bloc instance for the entire app?
I can use the provider to provide the same bloc through the widget tree but my issue is that I have firebase notifications that allows me to open the app from the notification and navigate to a widget but then I don't have the father's context in order to provide the bloc.
How can I achieve that? Something like a s

[2021-12-14 15:54] ShakyaCsun commented on #3063
If you wrap your MaterialApp with BlocProvider, it is available throughout your apps context. See https://bloclibrary.dev/#/recipesflutterblocaccess?id=global-access

[2021-12-14 23:48] ride4sun commented on #3061
[code]

I did
[code]

[2021-12-15 05:32] felangel commented on #3061
@ride4sun can you provide a link to a minimal reproduction sample? I'm not sure what `comInit` is referring to in the above snippet. Thanks!

[2021-12-15 21:02] purplenoodlesoop opened #3065 "refactor: further apply the DIP and ISP principles"
Hello!

Thank you so much for the recent "core interfaces" update! It is really a lifesaver!

I've identified three places where it can be extended to further apply the same principles.

1. Extract "hooks" to separate interfaces. The `onChange` and `onError` can be extracted in one interface, `BlocBaseHooks`, and the `onEvent` and `onTransition` can be extracted to the second, `BlocHooks`, that wi

[2021-12-15 22:24] felangel commented on #3063
Hi @itaishalom 👋
Thanks for opening an issue!

As @ShakyaCsun mentioned, you can provide a bloc above `MaterialApp` to make it globally accessible. Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-12-15 22:24] #3063 closed

[2021-12-15 22:25] felangel commented on #3044
Closing for now but feel free to comment with additional thoughts/comments/feedback and I'm happy to continue the conversation 👍

[2021-12-15 22:25] #3044 closed

[2021-12-15 22:25] felangel commented on #3007
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2021-12-15 22:25] #3007 closed

[2021-12-15 22:26] felangel commented on #3008
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2021-12-15 22:26] #3008 closed

[2021-12-15 22:27] felangel commented on #3049
Closing for now but feel free to comment with a link to a GitHub repo or DartPad that contains a minimal reproduction sample and I'm happy to take a closer look, thanks!

[2021-12-15 22:27] #3049 closed

[2021-12-15 22:28] felangel commented on #3061
Closing for now but feel free to provide a link to a minimal reproduction sample (DartPad or GitHub repo) and I'm happy to take a closer look, thanks!

[2021-12-15 22:28] #3061 closed

[2021-12-15 22:31] felangel commented on #3054
That's great to hear!

Regarding 1, I'm happy to adjust the documentation. Can you please provide the section of the docs which was unclear for you?

Regarding 2, definitely! We can throw a runtime exception if you try to provide a bloc using `RepositoryProvider` 👍

[2021-12-15 22:32] felangel opened #3067 "feat(bloc): disallow providing a bloc via RepositoryProvider"
I spent a **ridiculous** amount debugging a scenario where a context.select never updated its widget, only to find out that the Bloc it was accessing was registered through a _RepositoryProvider_ rather than a BlocProvider. The main issue why I didn't figure it out sooner was that the context.select in this case still _works_... only like a context.read 😅 do you think making this at least a runtim

[2021-12-15 22:53] felangel commented on #3062
Hi @kusayp 👋
Thanks for opening an issue!

Can you please provide a link to a GitHub repo or DartPad that contains a minimal reproduction sample? Thanks!

[2021-12-16 01:30] purplenoodlesoop commented on #3065
@felangel thanks for the review! My laptop broke down, I will apply the feedback in the next few days 😅

[2021-12-16 03:30] cedvdb opened #3068 "refactor: Shouldn't onChange, onError and addError be protected ?"
This is bothering me a bit, shouldn't onChange, onError and addError be protected ?  it looks odd as a public api.

[2021-12-16 04:23] felangel opened #3069 "feat(cubit): cancelable async operations"
**Description**

As a developer, I want to be able to await asynchronous operations within a cubit which are automatically canceled if a cubit is closed while the async operation is pending.

An example use-case is when using a Cubit to fetch some data asynchronously from a screen in which a user can go back.

[code]

In this scenario, as soon as `MyScreen` is pushed onto the navigation stack, the

[2021-12-16 04:24] felangel commented on #2980
@DenisBogatirov I opened a feature request https://github.com/felangel/bloc/issues/3069. Would love your feedback/thoughts, thanks! 🙏

[2021-12-16 04:50] felangel commented on #2914
@bernaferrari is this something that has been happening frequently or is easily reproducible? I'm not able to reproduce this locally.

[2021-12-16 04:55] felangel commented on #3068
Hi @cedvdb 👋
Thanks for opening an issue!

Good catch, I agree they should be protected 👍

I opened #3071 to make `onChange` and `addError` protected (`onError` is already `protected`).

[2021-12-16 04:58] felangel commented on #3069
cc @jorgecoca @orestesgaolin @marcossevilla

[2021-12-16 05:02] kiaxseventh commented on #3044
thank you lot of
Can't really come up with a way to do "HydratedBlocOverrides.runZoned" after "runApp(MaterialApp())"

[2021-12-16 05:09] bernaferrari commented on #2914
Only happened once, randomly. I can close it, then.

[2021-12-16 05:09] #2914 closed

[2021-12-16 05:10] felangel commented on #2914
Awesome! If it happens again we can revisit it 👍

[2021-12-16 05:14] #3068 closed

[2021-12-16 05:18] felangel commented on #3065
Sounds good! I'll re-review again tomorrow but I feel fine with the changes to `Closable` and `BlocObserver`. The only change I am unsure about is the `Hooks`/`Lifecycle` change. Would you be okay if I updated your PR to revert the hooks change so we can merge it? We can then continue to discuss the hooks/lifecycle 👍

[2021-12-16 08:15] itaishalom commented on #3063
Thanks.

[2021-12-16 11:56] DenisBogatirov commented on #3069
Hey, @felangel approach with `cancelable(() => ...)` seems, ok. I've tried implementing it myself and it seems like not much code, but it would be a very nice feature to have out of the box and "marked" as "approved approach".

Also it should be present on Bloc (or BlocBase) as well, because the same scenario is appearing using Bloc.

Here is my rough implementation of your idea as mixin

[code]

[2021-12-16 11:59] Lootwig commented on #3054
It's actually an extension of the Provider package. [I've created a PR](https://github.com/Lootwig/provider/pull/1) for it.

[2021-12-16 12:26] purplenoodlesoop commented on #3065
Of course, sounds good!

[2021-12-16 12:55] IsidorosT commented on #3049
I tried to simplify the reproduction sample.
As for the documentation that you suggested i have used it a lot.
Maybe i miss something basic but i have read that blocbuilder redraw widget when state changed in builder function.

So i simplified it [here](https://github.com/IsidorosT/ReproductionSampleForBlocIssue)

The sample has one TestBloc that has a list.
In main widget we have a gridview that

[2021-12-16 13:21] erickzanardo commented on #3069
Both proposals LGTM, I slight lean towards the first one with the `cancelable` method.

I wonder if this shouldn't also exists on Bloc? I believe they are prone to the same issue?

[2021-12-16 13:42] purplenoodlesoop commented on #3065
Oh wait. I think the `BlocObserver` update can lead to unexpected runtime behavior.

Could you also revert those changes? Only Closable update it is :)

[2021-12-16 14:27] DenisBogatirov commented on #3069
Yes, same scenario is appearing using Bloc. So the solution discussed here should exist on Bloc as well.

[2021-12-16 14:30] DenisBogatirov commented on #3069
mixin is used just so I will not modify sources :)

[2021-12-16 16:34] definitelyokay commented on #3069
Wouldn't this approach create the most readable code? That is, I (subjectively) think this would be the better approach in many situations.

Think of blocs which utilize event concurrency — wrapping everything in `cancelable()` convenience methods does not reveal the order in which operations are canceled, because the order that events are processed in is non-linear as of Bloc>=7.2.

If you added

[2021-12-16 17:15] felangel commented on #3069
I could go either way on this. Using `CancelableOperation` and `CancelableCompleter` would be the most explicit way to handle this; however, it requires developers to create, track, and cancel the list of operations manually which is quite repetitive. In addition, it requires an additional dependency on `package:async`.

In terms of how cancelable would work, I envisioned that operations would be

[2021-12-16 17:28] felangel commented on #3049
@narcodico I saw you forked the example so I assume you are looking but let me know if you want me to take a look as well 👍

[2021-12-16 20:07] narcodico commented on #3049
Refactored your sample here: https://github.com/IsidorosT/ReproductionSampleForBlocIssue/pull/1
Not exactly sure what you're after but I'm sure it's a good start for you.

[2021-12-16 21:24] maRci002 commented on #3069
If this or similar will be the implementation:

Then this might cause memory leaks since [`operation.value`](https://github.com/dart-lang/async/blob/2.8.1/lib/src/cancelable_operation.dart#L43) never will be returned and `load` function will just hung in memory forever.

[2021-12-16 21:44] felangel commented on #3069
I don't think we need to worry about implementation details in this issue. I feel it would be best if we could all just focus on defining the API/behavior/usage. Once we align on that we can discuss implementation details 👍

[2021-12-16 22:59] maRci002 commented on #3069
I have another situation which might benefit from cancel token so it's related to this issue when defining behaviors:
[code]

Imagine a situation when some event happens:
`context.read<TestBloc>().add(TestEvent('0'));` // load data by id: 0
Soon another event happens (_we are no more aware of '0' event's states so it should be canceled_):
`context.read<TestBloc>().add(TestEvent('1'));` // load dat

[2021-12-16 23:11] narcodico commented on #3069
@maRci002 right now you can make use of `restartable()` from `bloc_concurrency` to cancel your event handler and only process the latest.

[2021-12-17 05:59] chonghorizons opened #3073 "docs: Roadmap Item: Developer Tools, Like Redux Dev Tools"
**Description**

This is just an update/ current state for someone that might take up this task later.
On https://github.com/felangel/bloc/wiki/Roadmap, this is written as

### Short Version
- A simple version would take about 2-20 hours, but not much gain over custom `BlocObserver`.
- A complex version may not be technically feasible, especially the Redux "time travel" feature.

### Details
Works

[2021-12-17 06:58] maRci002 commented on #3069
@narcodico thanks it looks promising, I will take a look.

[2021-12-17 07:59] DenisBogatirov commented on #3069
I can think of two other possible solutions ( may not be great thou :) )
1. Is additional param to `emit`, something like `ignoreBadState: false // by default`
2. Allow override `emit` behavior (or override `emits` check behavior) through `BlocOverrides`.

[2021-12-17 15:32] jeroen-meijer commented on #3069
I think this would be an awesome addition.

Does this mechanic in its current proposed implementation work (or would it make sense to see if we can make it work) such that we don't even fully `await` the operation, but immediately cancel the `Future` when we don't need it anymore (instead of waiting for it to finish and then not doing anything with the result)?

[2021-12-18 04:07] realshovanshah commented on #1305
@dawidd6 seeing that you have experience with socket.io, I wanted to ask if it is the recommended socket client for dart. How was your experience with this? Especially with bloc.
I know the official flutter docs recommend using `web_socket_channel` but I didn't find it to be a robust solution. I have also seen some other libraries that depend upon native socket APIs but am yet to try them out.

[2021-12-18 16:04] #3065 closed

[2021-12-18 16:05] felangel commented on #3073
Thanks @chonghorizons for taking the time to put this together. Thoughts on consolidating this with #2748?

[2021-12-18 16:12] felangel commented on #3062
Closing for now since there’s no minimal reproduction sample. Feel free to comment with a link to a reproduction sample and I’m happy to take a closer look 👍

[2021-12-18 16:12] #3062 closed

[2021-12-18 16:14] felangel commented on #3054
Great! Closing this for now since #3067 should cover the bloc-specific change 👍

Let me know if I missed anything else and thanks again! 🙏

[2021-12-18 16:14] #3054 closed

[2021-12-18 16:39] #3058 closed

[2021-12-18 23:02] chonghorizons commented on #3073
Yes, consolidate!

[2021-12-18 23:58] rohan20 commented on #2961
@savadmv Thanks for submitting this issue. I encountered the same issue.

I believe @jeroen-meijer's suggestion was spot on here.

In your case, contrary to @felangel's reply, using `(failure) async ...` vs `(failure) ...` wouldn't make a difference because there's no `async` operation in the failure case. You're only emitting a simple synchronous state. (I see that you already had the `async` key

[2021-12-19 13:42] OTopman commented on #182
@felangel

Can I use one state for multiple events or/and blocs??

[2021-12-19 13:55] narcodico commented on #182
@OTopman that's fine as long as it's some kind of abstraction rather than gathering data concerning different features in the same state class.

[2021-12-20 01:50] rohan20 opened #3074 "question: Hot Reload doesn't work with the new `on<...>` API?"
**Description**
When using the `mapEventToState(...)` API, any changes to this method in the bloc were picked up by hot-reload. On migrating to the new `on<...>` API, that's not the case.

**Steps To Reproduce**

1. Create any bloc and process an event (let's say as follows):
[code]
2. Hot **Restart** the app and trigger `SubmitCredentialsTappedEvent` from the UI
3. Back in the bloc, change the lo

[2021-12-20 13:29] hatemragab opened #3075 "perf: Future<void> close()"
why close method is type Future
[code]
in my case, I want to
[code]
then push the same page
but with different parameters

close method invoked after push so the isOpenPage  will have the null value
because close method invoked after push

if fix this by
await 500 millisecond
then push
by this way i make sure the close method has been invoked

[2021-12-20 14:12] narcodico commented on #3074
Hi @rohan20 👋

That happens because `BlocProvider` caches the instance of the bloc thus it doesn't get recreated upon hot reload.
This combined with the way you're registering your event handler makes it such that it needs a recreating in order for it to be up to date.
The easy solution and the recommended way of registering event handlers is to extract your event handler; now you're only register

[2021-12-20 14:26] narcodico commented on #3075
Hi @hatemragab 👋

That's because internally cubit/bloc need to await closing the state/event stream controllers.

As for your issue, it seems you're keeping additional state directly on the bloc instance which is not recommended.
All state should be kept on the state class.

[2021-12-20 15:52] YazeedAlKhalaf opened #3076 "[bloc_test] refactor: verifyNoMoreInteractions error message does not provide a way to solve the issue."
**Description**

the error that is in the console is not helpful in solving the issue.

for me, through trial and error I discovered that I should verify each call for `verifyNoMoreInteractions` to work.

So I suggest adding a "Did you do the following ..." helper when printing the error in the console.

Now:
[code]

Proposal:
[code]

[2021-12-20 17:59] hatemragab commented on #3075
Ok

[2021-12-20 17:59] #3075 closed

[2021-12-20 19:30] rohan20 commented on #3074
@narcodico That makes so much sense. Hot reload works now 🎉

Thank you so much! ⭐

[2021-12-20 19:30] #3074 closed

[2021-12-20 22:19] felangel commented on #2748
*originally posted in https://github.com/felangel/bloc/issues/3073 by @chonghorizons*

[2021-12-20 22:19] felangel commented on #3073
Awesome, moved your comments over to #2748 👍

[2021-12-20 22:19] #3073 closed

[2021-12-20 22:32] felangel commented on #3076
Hi @YazeedAlKhalaf 👋
Thanks for opening an issue!

I moved this issue to mocktail (https://github.com/felangel/mocktail/issues/100) 👍

[2021-12-20 22:32] #3076 closed

[2021-12-21 01:20] dbilgin opened #3078 "fix: hydrated bloc for integration tests"
Hi there, I am having some problems with my integration tests with hydrated_bloc, I was hoping someone could help me out here. I run my app under main like this:

final storage = await HydratedStorage.build(
    storageDirectory: await getApplicationDocumentsDirectory(),
);
HydratedBlocOverrides.runZoned(
      () => runApp(MyApp()),
      storage: storage,
)

I saw no problems running the app reg

[2021-12-21 03:28] YazeedAlKhalaf commented on #3076
Thanks @felangel

[2021-12-21 07:06] FisherWL opened #3079 "question: fetch data periodically according to bloc pattern"
**Description**
Need to make a http call every 10 seconds.

**My current solution**
Inside a stateful widget, setup a periodic timer during init,
from there to trigger function in repo layer, then http call in data layer:

[code]

**A better practice?**
Current problem: the timer isn't supposed to be a part of the presentation layer.
How to separate it from the UI layer, maybe integrate the timer

[2021-12-21 07:17] Gene-Dana commented on #3079
Hi there 👋 It's recommended that all data layer transactions occur in a separate package (repository) as to abstract BLoCs from working outside their intended scope.

Note: There is a difference between data providers and data sources, and the purpose of the repository layer is to interface purely with the data sources.

From there, blocs can interact with those repos and provide the necessary dat

[2021-12-21 07:26] Gene-Dana commented on #3067
How much is a ridiculous amount of debugging time for you?! 20 seconds???

I agree with this ^^

[2021-12-21 07:33] FisherWL commented on #3079
@Gene-Dana wow, thx for the quick response!
In terms of architecture, I'm actually following the data repository-> data provider structure, to be more specific, following the weather app example structure.

a live sports data provider.
I'm calling it from a page where live game data is constantly updating and presenting.

can you be more specific?
are you referring to the `Stream.periodic`?

[2021-12-21 07:39] erlangparasu opened #3081 "feat: (network) Please add example usage inside initState()"
**Description**

Currently the example BlocProvider called inside build method

**Desired Solution**

https://docs.flutter.dev/cookbook/networking/fetch-data#why-is-fetchalbum-called-in-initstate

[2021-12-21 07:41] felangel commented on #3081
Hi @erlangparasu 👋
Thanks for opening an issue!

Can you please provide a bit more context? What example are you referring to?

Thanks!

[2021-12-21 07:43] felangel commented on #3078
Hi @dbilgin 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? It would be much easier to help if we are able to reproduce the issue locally, thanks! 🙏

[2021-12-21 07:49] narcodico commented on #3079
Hi @FisherWL 👋

As you've already hinted, you can simply move the timer inside your bloc.

[2021-12-21 07:52] erlangparasu commented on #3081
Thank you for responding :)

The official documentation recommends not calling network requests inside the build function because flutter can call the `build` function over and over again.

When we call the `BlocProvider` in the `build` method, will the saved state/cubit be recreated many times too?
for example `return new BookCubit()`

[2021-12-21 07:54] felangel commented on #3081
BlocProvider’s create method is only called once when the BlocProvider is mounted and the bloc is closed when the BlocProvider is unmounted. This is not the same as directly creating instances within a build method.

Hope that helps!

[2021-12-21 07:59] erlangparasu commented on #3081
Thank you for providing an explanation. Sorry because I misperceived the behavior of the BlocProvider in the build method. Thank you so much :)

[2021-12-21 07:59] #3081 closed

[2021-12-21 08:00] felangel commented on #3081
No problem! Glad I was able to help 🙂

[2021-12-21 08:19] tarektaamali commented on #3079
Hi @FisherWL
I suggest to used time inside event handling inside bloc  and use stream periodic [here](https://api.flutter.dev/flutter/dart-async/Stream/Stream.periodic.html)

[2021-12-21 10:37] JigneshPatel23 opened #3082 "build(extension/vscode): configure bloc generation"
**Configure Bloc Generation**

I have a project which has **freezed** and **equatable** both has a dependency and I would like to **use equatable for new code** but I can't able to find a way to configure this to generate new bloc code using equatable.

https://github.com/felangel/bloc/blob/77ebe56884129495bf0c445db2892376eb3933d9/extensions/vscode/src/utils/get-bloc-type.ts#L32

@felangel any sug

[2021-12-21 13:09] ShakyaCsun commented on #3082
@JigneshPatel23 you can set default bloc and cubit template in VSCode settings. Just search for bloc in settings UI.
![image](https://user-images.githubusercontent.com/38353746/146935189-4039666f-5a6b-4d92-bd03-7ed1eb90c363.png)

[2021-12-21 14:59] felangel commented on #3082
Hi @JigneshPatel23 👋
Thanks for opening an issue!

See @ShakyaCsun’s answer and feel free to comment if you’re still having trouble.

Closing for now 👍

[2021-12-21 14:59] #3082 closed

[2021-12-21 15:33] JanKubicek commented on #3078
Hi @felangel,

I've been experiencing the same issue and I have created repo where you can reproduce it [https://github.com/JanKubicek/hydrated_bloc_integration_test_example](url). In the readme file you can see how to run the tests. If you change HydratedBloc to Bloc, integration tests work.

Thanks!

[2021-12-21 17:14] Gene-Dana commented on #3079
as @narcodico stated, you can put the timer in the bloc.

If available, I'd look for stream support from the API itself.

[2021-12-21 17:24] Gene-Dana commented on #3069
What about a mixin? `CancellableBloc`

[2021-12-21 18:49] cmc5788 commented on #3069
Personally, I'm feeling like it might be best to just bring back the behavior of ignoring emit-after-close as the default behavior.

I can definitely see the value in throwing runtime errors if events are added after close, but for internal async work to throw runtime errors if emit happens after close, it feels like there's currently no good option to make this "more good than harm."

Other frame

[2021-12-21 21:26] dbilgin commented on #3078
Thanks @JanKubicek for setting that up, I didn't have time initially.
I can confirm I am having the same problem as in your example project. Just had to add an await [here](https://github.com/JanKubicek/hydrated_bloc_integration_test_example/blob/master/integration_test/app_test.dart#L14).

[2021-12-22 05:16] JigneshPatel23 commented on #3082
Thanks much @ShakyaCsun & @felangel it will help a lot..  🎉

[2021-12-22 16:30] itaishalom opened #3083 "docs: Dynamic list of BlocListenerSingleChildWidget?"
**Description**

I try to find a way to make MultiBlocListener dynamic with listener array which is build on runtime.
for exmaple:
[code]

But I can't import BlocListenerSingleChildWidget.
What should I do?

[2021-12-22 16:41] narcodico commented on #3083
Hi @itaishalom 👋

You can do this:
[code]

[2021-12-22 16:44] itaishalom commented on #3083
Thanks for reply!
I'm getting:
The argument type 'BlocListener<BlocBase<dynamic>, dynamic>' can't be assigned to the parameter type 'BlocListener<BlocBase<Object>, Object>'.

[2021-12-22 16:49] itaishalom commented on #3083
Changing to to dynamic, dynamic solved it!

[2021-12-22 16:49] narcodico commented on #3083
Make sure you explicitly set the types when you create the listeners `BlocListener<SomeBloc, SomeState>`.

[2021-12-22 17:29] purplenoodlesoop opened #3084 "[proposal] feat(bloc): add mixins for common operations"
Hi @felangel!

**Description**

There are a few common patterns that are used across `Bloc`s and `Cubit`s that require quite a few lines of boilerplate code and are error-prone.

They are related, but are not limited to: Bloc-to-Bloc/Cubit-to-Cubit/any other combination communications, Repository consumption (sending an event when a new entity is emitted by Repository), logging, and more.

Those p

[2021-12-22 18:14] purplenoodlesoop opened #3085 "[proposal] [BREAKING] feat(bloc): make `BlocObserver` dependent on interfaces"
Hi @felangel!

**Description**

With the new update bringing interface, it is now possible to make `BlocObserver` dependent on abstractions, following the *Dependency Inversion Principle*.

This will certainly be a breaking change, but it will enable developers to fully leverage the power of a centralized observing entity with a custom implementation of new interfaces.

**Desired Solution**

`Bloc

[2021-12-22 18:16] felangel commented on #3084
Hi @purplenoodlesoop 👋
Thanks for opening an issue!

When using bloc you can make use of `emit.forEach` and `emit.onEach` to handle reacting to an incoming stream. The subscription is automatically managed for you and you don't have to worry about cancelations. I'll think about this proposal a bit more but I'm not convinced that this would add a lot of value because while there will be fewer lines

[2021-12-22 18:19] felangel commented on #3085
Hi @purplenoodlesoop 👋
Thanks for opening an issue!

I've thought about this as well but I personally prefer to leave the API as is because:
- as you mentioned it's a breaking change
- when observing blocs/cubits from the perspective of supporting dev tools I'd want to have the base interface to support things like time-travel debugging.

Let me know what you think and thanks again for opening the

[2021-12-22 18:27] purplenoodlesoop commented on #3084
@felangel thanks for the response!

This is certainly very true, but that capability is limited to `Bloc`s only – mixins would allow adding that automatic subscription management to any Closable – a Cubit or even a custom implementation of the interface.

I also agree with the fact that it will make code a bit more `magical`, but besides cutting the amount of code significantly, removing 2 out of

[2021-12-22 18:29] purplenoodlesoop commented on #3085
@felangel I agree that the cons outweigh the pros, and the point with the dev tools is certainly a big one. Thank you for the response and official closure of the change.

[2021-12-22 18:29] #3085 closed

[2021-12-22 18:33] felangel commented on #3084
Yup definitely agree it would be especially useful for Cubits.

Yeah definitely agree. I'll leave this open for a bit and try to get more feedback from the community to inform the decision.

Thanks again! 💙

[2021-12-22 18:36] felangel commented on #3083
Thanks @narcodico for the prompt response!

Closing for now but feel free to comment if you have any follow-up questions and we can continue the conversation 👍

[2021-12-22 18:36] #3083 closed

[2021-12-23 00:22] felangel commented on #3079
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2021-12-23 00:22] #3079 closed

[2021-12-23 00:22] felangel commented on #2938
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2021-12-23 00:22] #2938 closed

[2021-12-23 01:13] chonghorizons opened #3086 "docs: style-guide and decisions for tutorials"
**Description**

This is an issue to track and discuss style guide issues about tutorials.

This might including
- visual styling
- sections to include / exclude
- target audience
- order of presentation and organization.

[2021-12-23 01:14] chonghorizons commented on #3086
Copied from the v8 fluttertodos tutorials discussion.

These are non-blocking comments but should be considered for a future style guide:

Codelabs by Google and other online courses use //1 and //2 etc to indicate individual lines of code. A reader who understands wont need it. But readers who are learning use it. @marcossevilla removed some (but maybe not all). I think we keep them and encourage

[2021-12-23 01:20] chonghorizons commented on #3086
Nits mentioned elsewhere:

Use includes to the codebase directly? Or use snippets to a saved snapshot.

Use sh rather than shell for markdown code snippet.

Should headers be filenames like "edit_todos_bloc.dart", or just "bloc". If they are filenames, this removes ambiguity because there are many blocs. (Also allows clearer internal anchors for hyperlinking)

[2021-12-23 02:27] chonghorizons commented on #1758
@felangel
Recommend closing this issue or labeling as "waiting for response"
Because I'm tracking it at #3086.

[2021-12-23 05:16] chonghorizons commented on #3055
@Gene-Dana Are you a moderator?  If so, I think this can be tagged with label "waiting for response" and then auto-closed if no response.

[2021-12-23 05:28] chonghorizons commented on #1819
@pandora-house and @meowofficial
I think `git_it` and BlocProviders very high up is fine. But one can inject BlocProviders lower down in the widget tree.

https://github.com/chonghorizons/flutter_bloc_opinionated_practices/wiki/blocProvider-placed-as-low-as-possible

More generally, [here](https://github.com/chonghorizons/flutter_bloc_opinionated_practices/wiki/Opinionated-%22Recommended%22-Practi

[2021-12-23 06:41] #1758 closed

[2021-12-23 11:02] Dakrain commented on #2784
Hi, @felangel I have a same issue , I calling firebase authentication for verify sms and emit state through function. Could you please assist with resolving it? I am new to Bloc. I am using freezed for generating state and event.

Bloc code:
` RegisterBloc(
    this._authenticationUsecase,
  ) : super(_Initial()) {
    on<RegisterEvent>((event, emit) async {
      await event.map(
        register

[2021-12-23 12:16] SuhwanCha opened #3088 "[proposal] feat(bloc): clarify State convention."
**Description**

Hello,
I just started to migrate my project to BloC from provider, but I'm quite confused on State.

Some examples use State with Status parameters, **(1)**
 and examples use abstract State class. **(2)**
I tried to both way but there are pros and cons.

In case of **(1)**, I have difficulties when there is a lot of status.
For examples, there are a lots of Status, I have to emit

[2021-12-23 14:17] Dakrain commented on #2784
Hello, I am facing this issue too. I am new to Bloc and I try to fixing the problem with put async before event.map and it didn't work.
[code]
My Bloc:
[code]
[code]

[2021-12-23 14:41] raulmabe commented on #3069
From my point of view this solution would be the best for all parties.

- We'll get the benefits from letting us know if a bloc has emitted an state after it was closed to prevent bugs.
- No need to migrate apps using previous versions
  - Not having to add `isClosed` checks, nor cancelable wrappers to every network requests we do (which ain't a few)

[2021-12-23 22:53] purplenoodlesoop opened #3089 "style(bloc): misc style changes"
Hi!

I've spotted two potential style change candidates that will align nicely with the overall package code style.

1) [Can be potentially implemented through expression body function (`=>`)](https://github.com/felangel/bloc/blob/master/packages/bloc/lib/src/change.dart#L30)
2) [Can be potentially implemented through `late` keyword instead of manual cached assignment](https://github.com/felangel/

[2021-12-23 23:09] narcodico commented on #3089
1. I believe the body syntax is preferred because expression body will result in a line longer than 80 chars and having it on two lines doesn't look that great in this case.
2. Good catch

[2021-12-23 23:11] felangel commented on #3089
Yup I agree with @narcodico, thanks @purplenoodlesoop!

[2021-12-23 23:13] purplenoodlesoop opened #3090 "refactor(bloc): calculate composite object hashes through `Object.hashAll`"
Hi!

[In Dart version `2.14` class `Object` obtained a new static method – `hashAll`.](https://api.dart.dev/stable/2.14.1/dart-core/Object/hashAll.html)

[It is a recommended method of computing a hash of multiple objects since the bitwise XOR (`^`) is symmetric and is not secure.](https://stackoverflow.com/questions/5889238/why-is-xor-the-default-way-to-combine-hashes)

There are two places where

[2021-12-23 23:14] purplenoodlesoop commented on #3089
Indeed, thanks!

[2021-12-24 01:04] felangel commented on #3090
Hey @purplenoodlesoop 👋
Thanks for opening an issue!

I’m aware of this but didn’t think it’s worth bumping the sdk constraint to 2.14 just for this change since this implementation has been untouched for a while now.

If we have a better reason to upgrade to Dart 2.14 then we can make this change as well but for now I’d prefer to leave it as is unless you’re running into specific issues.

Let me

[2021-12-24 01:17] purplenoodlesoop commented on #3090
Oh, I totally agree with the fact that it is not worth bumping the minimal version only because of this static method, as I stated in the original issue, "I think that it's worth keeping in mind for the future." :)

[2021-12-24 02:35] wisnuwiry opened #3091 "Flutter Bloc Test: ProviderNotFoundException was thrown building Builder"
**Description**
I am trying writing a widget test with bloc state management, but when adding widget BlocBuilder inside BlocProvider having an error like this.

**Steps To Reproduce**

**My Code**:

[code]

**Error Log:**

[code]

[2021-12-24 04:06] felangel commented on #3091
Hi @wisnuwiry 👋
Thanks for opening an issue!

You need to specify the type when you provide the bloc otherwise the inferred type is the Mock type so the lookup fails:

[code]

Hope that helps 👍

[2021-12-24 09:48] wisnuwiry commented on #3091
Ok thanks @felangel , it worked

[2021-12-24 14:46] #3091 closed

[2021-12-25 08:11] yonjans commented on #3078
I am experiencing same issue. Package Version: `8.0.0`.

Any plan for this?

[2021-12-25 15:10] felangel commented on #3078
Yup I’m working on a fix. Should be available sometime today/tomorrow.

[2021-12-26 02:41] chonghorizons commented on #3086
There's a question of how to include widget tree-diagram structure in documents. Currently these are some options:

### Option 1: Screenshot
- Screenshot of the widget tree from flutter devtools
  - advantages:
    - it promotes the use of devtools
    - the user can verify and generate the same exact widget tree
      - In DevTools, they can interact with the tree and expand/collapse nodes.
    -

[2021-12-26 02:45] chonghorizons commented on #3055
I think this still counts as "documentation". @felangel can you keep the `documentation` label?

PS: I can't add labels. If you want me to be able to, can you give me that permission? Otherwise, I'm fine just tagging you every time to suggest a label change.

[2021-12-26 05:36] FisherWL commented on #3079
so I moved the timer into cubit:
[code]
and it makes periodical HTTP calls as expected.
But the timer keeps alive, thus making calls.
I tried to call the disposeTimer() from the `State` class,
[code]
but exception throws because the bloc has already automatically disposed.

[2021-12-26 05:38] felangel commented on #3079
@FisherWL you should override close in the bloc and dispose the timer there not from the widget tree.

[2021-12-26 07:47] FisherWL commented on #3079
@felangel
Thx Felix, Merry Christmas!

[2021-12-27 09:25] tayfunuyar opened #3095 "MultiBlocProvider with dio interceptor"
Hi,
I'm using  dio for api call.
In the project base I have a authbloc for logout and login.
How to trigger login listener here without context or is it possible?
![image](https://user-images.githubusercontent.com/27923376/147455918-cddfd81f-012f-41d7-a00e-5a5df94e7df4.png)

[2021-12-27 09:46] narcodico commented on #3095
Hi @tayfunuyar 👋

You should check out [fresh_dio](https://pub.dev/packages/fresh_dio) and the example from the repo.

[2021-12-27 09:49] eliudio commented on #2938
It is what it is, right? Basically listener pattern can not be used to navigate, unless you use it in your app at the top level and navigate to a page, but that page can never navigate to any other page. That's the only conclusion I can make from the feedback. I've used your existing example, slightly changed the pattern to actually allow to navigate from page A -> page B -> page C, my points have

[2021-12-27 10:35] narcodico commented on #2938
`BlocListener`s are actually extremely useful for side effects like navigation. You don't necessarily have to place it on top level to be efficient with it. You could also have a look at `flow_builder`, it's great for controlling feature specific navigation.

[2021-12-27 13:32] tayfunuyar commented on #3095
@narcodico  thank you  for quick response. I saw this package. But I'm looking  diffrerent solution redirect to login without any package with trigger bloc event.

[2021-12-27 14:24] narcodico commented on #3095
You would usually emit states and react to those states in a `BlocListener` where you could potentially add events to other blocs.
It's hard to give you guidance without seeing your overall setup, so if you still encounter issues I'd kindly ask you to share a repo we could run locally.

[2021-12-27 15:22] felangel commented on #2938
@eliudio this is working as expected. When you push multiple pages which each have a BlocListener that is listening to the same bloc state all BlocListener instances will be listening because all pages are still mounted in the widget tree. BlocListener only stops listening when it is no longer mounted.

[2021-12-27 16:00] #3095 closed

[2021-12-28 01:02] Luckey-Elijah opened #3096 "feat(flutter_bloc): Expose optional `dispose` parameter to RepositoryProvider"
**Description**

Repositories often have HTTP clients, stream controllers, or other objects that need to be disposed, canceled, or closed. Given a rule of thumb: whoever is creating the object should dispose the object.

Given that many use cases with `flutter_bloc`'s `RepositoryProvider` create a repository at a global/top-level, the provider here should also provide a way top dispose a create re

[2021-12-28 01:24] felangel commented on #3096
Hi @Luckey-Elijah 👋
Thanks for opening an issue!

This is a duplicate of https://github.com/felangel/bloc/issues/2085. Closing for now but feel free to comment if you have additional comments/questions. Repositories should not be coupled with the application lifecycle and generally should not manage the lifecycle of things like http clients.

[2021-12-28 01:24] #3096 closed

[2021-12-28 01:35] Luckey-Elijah commented on #3096
Thank you, I would mostly agree with what is described here and the other referenced issue. However:

Yet in a majority of examples I have found, the repository seems to take responsibility for the lifecycle of a client (please see provided examples of flutter_login and fluttersaurus).

Could you provide a reference to an example that would inject some HTTP client (or any other "disposable" object

[2021-12-28 01:40] felangel commented on #3096
In both of those cases the repositories are global and the http client instance is injected into the repo so it’s not the repository’s responsibility to close the instance.

Also, in both cases the http client is used globally so the only time it would make sense to dispose it is when the application is detached but I’m also not sure if that’s really necessary since it should be garbage collected

[2021-12-28 01:54] Luckey-Elijah commented on #3096
Thanks for educating me 😄

But I'm not sure I quite follow..

With the fluttersaurus example, there is an inject-able HTTP client, but a client instance is never is actually injected; hence my confusion of the responsibility of the client's lifecycle since `DatamuseApiClient` constructor ends up creating one anyways. Is this intentional? It seems to me that it still seems to contradict the rule of

[2021-12-28 02:00] felangel commented on #3096
I’ll take a closer look at fluttersaurus I don’t recall exactly how it was implemented and I’m away from the computer now. Will take a look in a bit and get back to you 👍

[2021-12-28 02:00] Luckey-Elijah commented on #3096
Thank you very much!

[2021-12-28 09:56] narcodico commented on #3096
@Luckey-Elijah it is indeed using an optional http client which defaults/fallbacks to an internal instance if one is not passed in from the outside. This is a pattern often used since it helps with reducing the DI boilerplate, while also allowing for passing a concrete instance if needed(e.g.: a mocked instance for testing).

As long as you don't need to explicitly call in a dispose method there's

[2021-12-28 12:23] alberto-sf opened #3097 "test: Calling compute (so spawning new isolates) breaks tests"
**Description**

It looks like the `compute` method breaks the `blocTest` utility when executed. Consider this code:

[code]

The `'Works'` test runs fine since we aren't calling `compute` but `'Doesn't work'` fails with this error:

Am I missing something to make this work? Or is this a bug related to isolates and the bloc's running zone?

[2021-12-29 04:14] sonngaytho commented on #2784
@Dakrain
Hello,
You can try to add event in those callback methods instead of emit the state directly. It should work.
Something like this one

[code]

[2021-12-29 04:53] gilangsatria09 opened #3098 "fix: Unhandled Exception: 'package:bloc/src/bloc.dart': Failed assertion: line 232 pos 7: '!_isCompleted':"
**Description**
I tried called emit inside dartz fold after i called await function

 var token = await fetchToken(NoParams());
    token.fold((l) async => emit(ErrorState('error')), (r) async {
      //Error Unhandled Exception if this line added
      var res = await getBanner(GetBannerParams(token: r));

      emit(GetHomeDataSuccess(listBanner: []));

    });

**Expected Behavior**
I expected

[2021-12-29 04:55] felangel commented on #3098
Hi @gilangsatria09 👋
Thanks for opening an issue!

You need to await the call to token.fold to prevent the event handler from completing before emit is called.

Let me know if that helps! 👍

[2021-12-29 05:02] gilangsatria09 commented on #3098
Thank you so much for reply my issues this fast!!

so, what i should do is add await to the token.fold like this:
var token = await fetchToken(NoParams());
await token.fold((l) async => emit(ErrorState('error')), (r) async {

am i right?

[2021-12-29 05:04] felangel commented on #3098
Yup, no problem! 👍
Let me know if that resolves the issue.

[2021-12-29 05:08] gilangsatria09 commented on #3098
omg!!! thank you soooooo much, it really worked. thank you for helping me despite my bad english

[2021-12-29 05:08] #3098 closed

[2021-12-29 05:08] felangel commented on #3098
No problem! 😄

[2021-12-29 06:22] jay23794 commented on #2273
@override
  void onEvent(Bloc bloc, Object? event) {  //Pass parameter like this Object? event. its giving an error when Object event
    super.onEvent(bloc, event);
    print(event);
  }

[2021-12-29 06:39] jinyus commented on #1899
Hello,
I would like to reopen this issue.

There is a memory usage issue when dealing with a list of large objects. It would be nice to be able to modify the list instead of allocating a new list when adding items.

[2021-12-29 07:04] narcodico commented on #2273
What error are you getting @jay23794 ? feel free to share a sample with your issue.

[2021-12-29 18:03] felangel commented on #1899
Can you provide a reproduction sample that illustrates the issue you’re facing? You can always override == to determine when a new state should be emitted. The only thing bloc checks is that the current state != the emitted state.

[2021-12-29 18:30] jinyus commented on #1899
We have a specific usecase where the issue came up, though it was solved with overriding ==, I think adding the ability to skip the equality check would be useful.

[2021-12-29 18:41] felangel commented on #1899
I really prefer to leave it as is because the same state being emitted multiple times should not trigger a state change. It’s up to you as a developer to define the state and you can implement it however you’d like (you can even create a mixin which returns always returns false for ==) and mix it into whatever states have that requirement.

[2021-12-29 18:46] #1899 closed

[2021-12-29 18:53] albertodev01 commented on #3097
Felix I submitted this with my other work account. I think you'd need to change a bit the `blocTest` definition:

[code]

I didn't test this but the idea is that when you have `compute` (or in general when you spawn new isolates with different `Zone.root`, you should use [runAsync](https://api.flutter.dev/flutter/flutter_test/WidgetTester/runAsync.html). See the docs, but the relevant line is:

It

[2021-12-29 21:42] #3089 closed

[2021-12-29 22:33] kashlo commented on #3022
Ive tried the above solution, but observer still doesn't work, no logs are showing

[2021-12-29 22:34] felangel commented on #3022
Can you provide a link to a minimal reproduction sample? Thanks!

[2021-12-29 22:45] kashlo commented on #3022
[code]

[2021-12-29 22:49] felangel commented on #3022
This is because you're using `WidgetsFlutterBinding.ensureInitialized();`.

If you replace it with `FlutterServicesBinding.ensureInitialized();` from [`package:flutter_services_binding`](https://pub.dev/packages/flutter_services_binding) it should resolve the issue.

You can see https://github.com/flutter/flutter/issues/94123 for more info 👍

[2021-12-29 22:56] felangel commented on #3069
@cmc5788 @raulmabe thanks for the feedback!

The reason I'm hesitant to switch to using an Assertion is because I don't think it would make a difference. Currently a `StateError` is thrown but in both cases the blocs will continue to function after the error and I would guess developers would still not like to have assertions being thrown randomly in their applications (unless they check `isClosed

[2021-12-29 22:59] github-actions[bot] opened #3104 "[Translations] Update docs"
Update Translations to include changes from 033c95260e8f638a32a1733cfd2575e2480e2cd3.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-12-29 23:01] kashlo commented on #3022
added plugin, changed to FlutterServicesBinding.ensureInitialized();
still no logs from the observer :/

[2021-12-29 23:05] felangel commented on #3022
Can you also move the setup into the runZoned body?

[code]

[2021-12-29 23:16] kashlo commented on #3022
@felangel Now logs are visible, thanks a lot :)

[2021-12-29 23:20] cmc5788 commented on #3069
From the standpoint of designing a solution to be as efficient as possible, as a developer, you ideally want to check `isClosed` prior to any expensive async operation.

Even if the result is ignored harmlessly, the expensive part is the actual async task itself, which often involves network or database usage, parsing, possibly communicating across isolates. To do all of that and then throw away t

[2021-12-30 00:57] milanobrenovic opened #3105 "build: Version solving failed"
**Description**
I currently use `flutter_bloc: ^7.3.1` and i'm trying to upgrade to the current latest version `flutter_bloc: ^8.0.1` but im getting a version solving failed error

[code]

[2021-12-30 01:00] felangel commented on #3105
Hi @milanobrenovic 👋
Thanks for opening an issue!

It looks like you have a dependency on a package called chat which depends on flutter_bloc: ^7.3.1. You need to first make sure your dependencies are upgraded before updating your app.

Let me know if that helps! 👍

[2021-12-30 01:03] milanobrenovic commented on #3105
Yes, my bad. Forgot to update in the chat package first. Thank you

[2021-12-30 01:04] #3105 closed

[2021-12-30 07:12] narcodico commented on #3069
I feel bloc has done a great job so far not polluting the library with excessive and unneeded configurations.
But in this situation we might consider adding a configuration on the `BlocOverrides`, which would default to previous behavior of ignoring states once the controller is closed, but allow for developers into red messages to opt in.

[2021-12-30 20:30] Gene-Dana commented on #3088
Hi there 👋🏼  Here is a recent discussion that you may benefit from !

https://github.com/felangel/bloc/issues/2884

[2021-12-30 20:34] Gene-Dana commented on #3084
Hi there ! This is really something that is highly discouraged due to the declarative nature of the api

[2021-12-31 01:01] SuhwanCha commented on #3088
Hello, @Gene-Dana
Thank you for your answer!

I found it's depend on my needs, and I like it because It's high genetic polymorphism!

But, in simple or most universal cases, I think implementing everything is quite cumbersome.
So, how about make some **abstract state class** like Equatable for most universal cases?

That class has Equatable's feature, and make much easier to implement State and ma

[2022-01-01 07:38] mahamedh commented on #74
how to pass 2 existing bloc at once to another page

[2022-01-01 12:39] nilesh2211 opened #3106 "fix: removeFieldBlocs is not working in Flutter"
**Description**
In Flutter, when i am trying to call removeFieldBlocs function is not removing filed but its adding field i am not sure it is bug or is something missing in my code

I have checked here : https://giancarlocode.github.io/form_bloc/#/ got to Conditional Field Example this is also not working

**Steps To Reproduce**

class ConditionalFieldsFormBloc extends FormBloc<String, String> {

[2022-01-01 13:46] Gene-Dana commented on #3106
Hi there 👋🏼 This is not a package that we support. [Here](https://github.com/GiancarloCode/form_bloc/issues) is the correct place for you to file this issue and receive support !

[2022-01-01 13:46] #3106 closed

[2022-01-01 13:48] nilesh2211 commented on #3106
Thanks for the quick response @Gene-Dana

[2022-01-01 13:59] Gene-Dana commented on #74
Ideally, you would not need to do that. Rather, if your provide the blocs above the widget tree, you can just read it from `context.read`

[Give this a read](https://epb.bibl.th-koeln.de/frontdoor/deliver/index/docId/1498/file/flutter-for-the-dev-of-large-scale-ref-app.pdf) and you can see how this works

![image](https://user-images.githubusercontent.com/45580241/147852254-94f58d62-ee12-4a4c-9268

[2022-01-01 17:34] ac130kz opened #3107 "feat(hydrated_bloc): Isar instead of Hive for storage"
**Description**

Hive has an issue with high RAM usage, no support for queries and less than desirable performance for complex data [1], which in my opinion fits the purpose of hydrated_bloc. Recently a complementing library to solve these issues from the same author (@leisim) got released into stable, and it's called Isar [2]. For now, it comes with two primary downsides: it is still quite young,

[2022-01-01 17:41] felangel commented on #3107
Hi @ac130kz 👋
Thanks for opening an issue!

I'll take a closer look at Isar now that it's stable to evaluate if it makes sense to make this transition.

My initial reaction is to compare performance between Hive and Isar (are you aware of any official benchmarks?) and to create a small p.o.c.

My main concern is Isar relies on code generation so hydrated_bloc would likely also require developers t

[2022-01-02 07:37] KDCinfo opened #3108 "docs: Firebase Login - A superfluous call; or maybe it's a stream-thing?"
Hi there,

I was wondering what the purpose of the line below is in the `main.dart` of the [Firebase Login app example](https://bloclibrary.dev/#/flutterfirebaselogintutorial?id=maindart)? Apologies if it's obvious. I'm only confused because the `user` getter shows it should return a `Stream<User> get user`, but maybe it's doing something Dart-wise that I don't know about (I'm still quite new).

`

[2022-01-02 07:44] ac130kz commented on #3107
@felangel
I guess as a temporary performance measurement Objectbox's benchmarking suite can be updated to support the latest version of Isar [1]. As for the build_runner, I think it might not be such an issue, fingers crossed static metaprogramming in Dart will help in this regard within a couple of months [2].

[1] https://github.com/objectbox/objectbox-dart-performance
[2] https://github.com/dar

[2022-01-02 08:02] narcodico commented on #3108
Hi @KDCinfo 👋
It's indeed kicking off the stream, ensuring there's a current user when setting up the initial state of our app.

https://github.com/felangel/bloc/blob/033c95260e8f638a32a1733cfd2575e2480e2cd3/examples/flutter_firebase_login/lib/app/bloc/app_bloc.dart#L16

https://github.com/felangel/bloc/blob/033c95260e8f638a32a1733cfd2575e2480e2cd3/examples/flutter_firebase_login/packages/authenti

[2022-01-02 08:04] KDCinfo commented on #3108
Awesome. Thank you very much!!

[2022-01-02 08:04] #3108 closed

[2022-01-03 06:02] mahamedh commented on #74
if i mistaking please correct me @Gene-Dana,
i have use case regarding continues flow of bloc as search bloc,hotel bloc & room bloc
i need current state(if user select new city, state is new city unless its not a initial state) state of search bloc to both other bloc,simply hotel and room bloc depends on current state of search bloc. if i access context.read<SearchBloc>().state.selectedCity inside

[2022-01-03 06:05] mahamedh commented on #1638
hi @felangel ,

class HotelProvider extends StatefulWidget {

  @override
  State<HotelProvider> createState() => _HotelProviderState();
}

class _HotelProviderState extends State<HotelProvider> {
  @override
  Widget build(BuildContext context) {
    return MultiBlocProvider(
      providers: <BlocProvider>[
        BlocProvider<HotelBloc>(
          create: (context) => HotelBloc(context),

[2022-01-03 07:08] narcodico commented on #74
Hi @mahamedh 👋

Please strong type the retrieval of your bloc providers `BlocProvider.of<SearchBloc>(context)`.
I'd also strongly recommend you don't pass in the context to your blocs, like `SearchBloc(context)`.

[2022-01-03 07:15] narcodico commented on #1638
Hi @mahamedh 👋

If you already have a `BlocProvider<SearchBloc>` above your `HotelProvider` widget then you don't need an additional `BlocProvider.value`, you can simply fetch the existing bloc with `context.read<SearchBloc>()` if you need to add an event to it or use `BlocBuilder<SearchBloc, SearchEvent0>` to build your UI.

[2022-01-03 13:59] Faaatman commented on #2526
Hello, @felangel hope you're doing great! I absolutely love the update and how easy and seamless it is to migrate my blocs!
I just have a quick question.
How would I wrap all of my events with a single try and catch since whatever I'm doing on catch is the same for both events?

[code]
Happy new year and thank you so much for this awesome package!

[2022-01-03 14:19] stefangaller opened #3109 "Dependency injection in repositories"
For me, it is unclear in the documentation how I'm supposed to inject data sources to a repository.

When looking at the following code, I think this cannot work, since there is no constructor setting the DataProviders:
[code]

Now, I probably have a `RepositoryProvider` that adds the DataProviders via the constructor – how should I handle shared dependencies in the DataProviders? (Such as `dio` w

[2022-01-03 21:23] erayerdin opened #3110 "fix: Impossible to Install `bloc_test`, Version Solving Failed"
**Description**
It is impossible to install `bloc_test`, it fails with the latest stable version of Flutter.

**Steps To Reproduce**

1. Create new Flutter project.
2. Add `bloc_test` to `dev_dependencies`. You can add the latest 9.0.2 version or even do `any` to let the pub deal with latest compatible version.
3. Fail.

**Expected Behavior**
For it to install without any problem.

**Additional Co

[2022-01-03 21:48] felangel commented on #3110
Hi @erayerdin 👋
Thanks for opening an issue!

It looks like the issue is caused by the fact that `package:freezed` depends on `analyzer: ^3.0.0` which is incompatible with `package:test` and `flutter_test` on the current stable version of flutter:

[code]

This appears to have been changed in freezed v1.1.1 so you can use freezed v1.1.0 and everything should work as expected:

[code]

Let me know

[2022-01-03 21:53] erayerdin commented on #3110
Thanks for quick response @felangel. It works. Feel free to close.

[2022-01-03 21:56] #3110 closed

[2022-01-03 23:10] eliasreis54 commented on #3039
I don't know what exactly @RomjanHossain expect with neovim support.

But, may be this [plugin](https://github.com/eliasreis54/vim-bloc-plugin) can help with generation files.

[2022-01-04 10:12] heshaShawky opened #3111 "Question: What best practice using bloc."
I am refactoring a flutter project that every single page/screen uses many streams components in one bloc!

So, for example, all the streams on the home page are with the home bloc.

Which causes many problems

1. performance as all those streams will load at once ( all of the streams are SQLite queries )
2. not easy to maintain or debug.

So I'm thinking of creating a bloc/cubit for each page com

[2022-01-04 18:52] EduardoAlberti opened #3112 "fix: event isn't handled after second call"
**Description**
I'm trying to test this code

[code]

[code]

[code]

with this test

[code]

But when I run the test I'm getting the following result (the second event is not getting handled):
[code]

As you can see, the "_handleNewEvent call" is printed the first time only.
I understand that MyBloc is a singleton, and for that reason the states of the bloc are not getting reset on each test,
but

[2022-01-04 18:57] felangel commented on #3112
Hi @EduardoAlberti 👋
Thanks for opening an issue!

This is because your bloc is a singleton and `blocTest` calls closed on the bloc automatically when the test is done. I highly advise against using a singleton and instead recommend creating a new instance in each test.

Hope that helps 👍

[2022-01-04 21:40] chonghorizons commented on #3111
Check out item number 4 in https://github.com/felangel/bloc/pull/2859#issuecomment-1004018783. In short: one bloc per screen/feature, and put them as low as possible.

Boilerplate is good if it modularizes your code and lets you test each one individually.

You might also want to use a repo to centralize your SQLite queries. See some opinions here: https://github.com/chonghorizons/flutter_bloc_opi

[2022-01-04 21:54] chonghorizons commented on #3109
In the discord, I've heard it recommended to not mix `get_it` with bloc, because it can make testing hard.

The v8 tutorial for `flutter_todos` is currently in pull request. (https://github.com/felangel/bloc/pull/2859#issuecomment-987233491). `git checkout` that branch and look at the structure they have there.

That example uses a few extra layers of abstraction as packages to deal with the actua

[2022-01-04 22:01] chonghorizons commented on #3109
Yeah, you are right that the data connection has to happen before the repository injection. In the tutorial, they handle this with a `bootstrap` which acts like an initialization runner. See https://github.com/chonghorizons/bloc/blob/chong-preferred/docs/fluttertodostutorial.md#startup-bootstrapping. The `bootstrap` is what links things together when `main()` is called.

Let me know if this makes

[2022-01-04 22:16] chonghorizons commented on #3088
I think that there isn't a convention with state. Depending on the complexity, different things are needed.

But the docs could link to #2884, with some text like:

[2022-01-05 06:03] stefangaller commented on #3109
Thank you for your detailed answer. I will check out the new example.

For the bootstrapping approach, I still see the same problem: What happens with the `TodosApi` dependencies? They are injected in the main_xxx.dart. When creating an instance of `TodosApi` I might again have dependencies that I don't want to inject directly.

How would it look like, if `TodosApi` and `UserApi` would both be inj

[2022-01-05 10:02] sekny opened #3113 "Question: what is the benefit of creating a feature as package"
Like in Bloc's document(Login tutorial), it separates authentication as a package instead of creating it in lib folder. can you give a reason or split to make it easily readable?

Thank.

[2022-01-05 12:55] erickzanardo commented on #3039
This plugin works pretty good, AFAIK this is the only plugin available for vim/nvim out there. I wonder if it could be mentioned on the Tools/Extensions section of https://bloclibrary.dev/ so more people can be aware of it

[2022-01-05 12:55] alvinvin00 commented on #3113
so you can reuse the same logic on other apps

[2022-01-05 13:18] EduardoAlberti commented on #3112
Thank you @felangel that's explains my issue.
We are discussing if we want to keep the bloc as a singleton or not, but in the meantime I'm trying with flutter_test:

[code]

but now I'm getting:

[code]

[2022-01-05 14:11] Gene-Dana commented on #3113
Hi there 👋🏼 !

First things first.. the repo itself serves many features, not just one. For example, the `sign up` feature also uses the `auth repo`, and the repo's serve as a domain which exposes the data layer to a particular set of features.

Another point of this is to indicate that this is business product, meaning that it's code that meant be shared across an entire company, as opposed to pa

[2022-01-05 14:25] Gene-Dana commented on #3086
Hey @chonghorizons, I just want to mention something that I believe is relevant - 'Prefer working software over comprehensive documentation.'

Over the past year, the face of the bloc api has flipped back and forth numerous times, making it really hard to keep up with all the changes in the documentation.

At first, I felt just as strongly as you did about updating the documentation, @felangel was

[2022-01-05 14:53] chonghorizons commented on #3086
@Gene-Dana thanks.

I'm getting a sense of that too. Working code kinda self-documents.

I think the docs work well for experienced programmers, but isn't so good for people who are new or get stuck.

So, I think the tutorials can offer optional things. Like @jeroen-meijer has mentioned recently. Like a quick q&a that people who want to read can read, but that experienced programmers can just skip

[2022-01-05 16:39] felangel commented on #3113
Hi @sekny 👋
Thanks for opening an issue!

Just want to add on to what others have mentioned -- in my opinion, splitting repositories and data clients into packages have several benefits:

- Creating a package forces you to provide explicit dependencies which makes it easier to maintain a decoupled, reusable library
- Creating a package allows you to reuse that functionality in multiple flutter app

[2022-01-05 16:52] lipingx opened #3114 "I am only able to clone some examples, but not all of them."
Hi,
I am learning the bloc through the examples, and find that read/navigating the code on github isn't so pleasant.
So I want to clone the code to my Android Studio, so I can read/study the example code more easily.
But when I use "git clone git@github.com:lipingx/bloc.git" to clone the code, I can only see several examples, but not the one I want, for example, I am trying to study the flutter_fi

[2022-01-05 16:57] felangel commented on #3114
Hi @lipingx 👋
Thanks for opening an issue!

When you clone the repo you should get access to all examples. It's hard to say without additional information what the problem you're facing is. A good alternative way would be to use the GitHub UI and just download the repo as a .zip file.

Let me know if that helps 👍

[2022-01-05 17:12] felangel commented on #3039
@eliasreis54 thanks so much for taking the time to create the plugin 🙏 💙
What are your thoughts on migrating the plugin into the [bloc repo under extensions](https://github.com/felangel/bloc/tree/master/extensions)? If you prefer to maintain it under your own personal repo that's totally fine as well and we can add a link to the docs in either case, thanks!

[2022-01-05 17:25] paulinventome opened #3115 "question: Using Implicit animation on page creation"
I hope I describe this correctly.

I have a page which creates different widgets depending on the state of category display

` if (state is CategoryLoading) {
        return Scaffold(
            key: dKey,
            appBar: AppBars.tbAppBar(context, "Browsing"),
            body: CommonUI.tbSpinner(context, "Fetching Main Categories"));
      } else if (state is CategoriesLoaded) {
        retu

[2022-01-05 17:25] lipingx commented on #3114
"download the repo as a .zip file" works, thanks a lot. :)

[2022-01-05 17:27] #3114 closed

[2022-01-05 18:28] felangel commented on #3115
Hi @paulinventome 👋
Thanks for opening an issue!

Can you please share a link to a minimal reproduction sample that illustrates the issue you're facing? I'm happy to take a closer look and open a PR with suggestions. Thanks! 🙏

[2022-01-05 19:00] eliasreis54 commented on #3039
I'm so happy to contribute with the community.
All right, i can move the files to bloc extensions... I just need to check how to do the install process.
I'll do that and a soon as possible i open the PR moving the files.

[2022-01-05 19:03] erickzanardo commented on #3039
@eliasreis54 this should just be a matter of asking the users to specify the `dir` argument: https://github.com/junegunn/vim-plug#plug-options

Something like:

[code]

[2022-01-05 19:13] eliasreis54 commented on #3039
Sounds good! Thanks Erick!

[2022-01-05 21:14] paulinventome commented on #3115
Hi @felangel

Thank you so much for looking at this. I will need to build a minimal repro case as the app i'm in is large and complex. I will do this tomorrow my time.

I have a feeling this is more about not knowing the correct approach with Bloc hence i added it to documentation rather than a problem

I have an API building pages via BlocBuilder and based on states. This has been working great.

[2022-01-05 21:39] narcodico commented on #3115
Hi @paulinventome 👋

What you're probably looking for is `AnimatedList` or `SliverAnimatedList`. They allow animating insertion/removal of items. They don't support animating the initial rendering of items out of the box, so that's something you'd need to work it out.

Hope that helps!

[2022-01-06 00:47] Gene-Dana commented on #3115
👋 hi there ! I imagine a bloc listener may be of help here - you can use the listener to listen for a specific event/state and then trigger what you'd like.

For sure, if you have any repo you can share, we can better assist you with your questions, and hopefully point you in the right direction!

[2022-01-06 00:50] Gene-Dana commented on #3086
I'm wondering how we can implement the QA without too much overhead and with flexibility. Perhaps something with threads on the discord??? Channels for each example perhaps?

[2022-01-06 00:52] Gene-Dana commented on #3086
@felangel the more I think about this the more I like it. A channel for each example with archived threads! We can still triage and support others like normal, although an example support section could be useful

[2022-01-06 01:18] Gene-Dana commented on #3086
Also I think we need a repo channel!

[2022-01-06 07:50] heshaShawky commented on #3111
Thanks for replying,
Do you mean by that few blocs as possible?

And another question, all my app are based on SQL streams that come from the `moor` package and feel hard to maintain due to the blocs as I have to trigger events over and over so the bloc gets updating.

Also and because I'm using many streams in one bloc ( 13 streams for example in only the home page ) if one gets updating all the

[2022-01-06 09:59] popay34 opened #3116 "Question: Implementing other packages to the suggested architecture"
Hello, Felix! According to Domain-Driven Design there are 4 application layers: Domain, Infrastructure, Application, Presentation. My BloCs are located in the Application layer. I hope this is correct.

But the problem is that in practice, a lot of packages from "pub.dev" use methods that should directly access to Infrastructure layer without using Application layer (BloC) . For example, there is

[2022-01-06 14:08] Gene-Dana commented on #3116
👋🏼 Hi there! I really appreciate you taking the time to not only learn this approach and use BLoC, but also the time you took to raise an issue and ask a question.

I'm not sure the best way to rectify this situation with `flutter_typeahead`. If you are bent on using it, it seems that you may have to break away from the suggested architecture to use it.

What I suggest instead is to [check out the

[2022-01-06 14:08] #3116 closed

[2022-01-06 17:45] EduardoAlberti commented on #3112
It worked, Thanks again @felangel.
We appreciate your advice, but in our context, the singleton is the correct pattern, since we are using bloc to handle some process states and is not linked to the widget tree.

[2022-01-06 18:29] #3112 closed

[2022-01-06 18:40] #3039 closed

[2022-01-06 19:48] purplenoodlesoop commented on #3084
Sorry, but I think we are talking about different things. Bloc-to-Bloc communication is not discouraged, does not breaks declarativity and there is a [whole section in documentation](https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication) dedicated to it.

[2022-01-06 22:04] ruslanraupoff commented on #2456
@felangel I had the same issue on LoginPage with social auth, so I used #2468 in LoginState.
Could you explain why onGenerateAppViewPages isn't working correctly?

[2022-01-07 04:48] felangel commented on #3113
Closing for now but feel free to comment with any additional questions and I’m happy to continue the conversation 👍

[2022-01-07 04:48] #3113 closed

[2022-01-07 04:48] #3055 closed

[2022-01-07 05:38] Gene-Dana commented on #3086
@chonghorizons are you on the discord?

[2022-01-07 06:09] jtkeyva commented on #2293
Hello @felangel any chance you can provide a sample? I'm trying to figure out how to implement with a Camera Controller.
Thanks

[2022-01-07 06:27] felangel commented on #2293
You can check out https://github.com/flutter/photobooth/blob/e23be72f669b2581490202169cc1c2b157e2c165/lib/photobooth/view/photobooth_page.dart#L48.

[2022-01-07 08:51] paulinventome commented on #3115
Thank you everyone. I got tied up with client work so not had a chance to do a repro but i will as soon as i can.

@narcodico Yes, there is a chance that AnimatedList might achieve what i am looking for although i would also like to understand the bloc perspective more

What i realised is that I started with an early version of Bloc in my app and have been updating but just updating to make it wor

[2022-01-07 15:22] AcarFurkan opened #3119 "How to properly use `BlocConsumer`"
when l use blocConsumer if l take context From blocConsumer,  MediaQuery.of(context).viewInsets.bottom doesnt work

[2022-01-08 00:19] narcodico commented on #3115
You can control that using `buildWhen` and `listenWhen` on the `BlocConsumer`.

Yes, as long as `buildWhen` evaluates to true, which by default it does.

[2022-01-08 05:56] davidAg9 commented on #2824
I have this problem with firebase phone auth who's future completes immediately even tho its closure might be still running
 any ideas on how I should deal with it

[2022-01-08 07:50] MahdiGharooni commented on #479
I had the same problem and finally fixed it. My fault is in the **bloc file**. When I add null safety to my codes, my bloc file automatically changed but in the wrong way. When I check, it has a **nullable state** as an argument by **?** sign.

I had this :
`class AuthenticationBloc
    extends Bloc<AuthenticationEvent, AuthenticationState?>`

and change it to this manually:
`class AuthenticationB

[2022-01-08 20:33] Gene-Dana commented on #3119
👋🏼 Hi there ! It's hard to give you much feedback without more context (pun intended). Do you have a minimal example / repo you can share with us?

[2022-01-08 21:06] AcarFurkan commented on #3119
![2](https://user-images.githubusercontent.com/65075121/148659823-5d569f49-77b4-40e3-b274-341f5d0fa859.png)
when l use like this, l coundt take viewInsets.bottom correctly. everytime (when keyboard open) it returns 0.0 but
![3](https://user-images.githubusercontent.com/65075121/148659855-e0feb3c0-6898-4c09-a5b6-f0d82de3f4b4.png)
 when l use like this l could take. it return normal number.
if you w

[2022-01-09 12:44] ZillionCAdmin commented on #120
@felangel , I have a button captioned "Search Location". On Click this button i'm opening a **showModalBottomSheet (DraggableScrrollaleSheet)**. This bottom sheet has a list of location and a search bar to search the location.

When i open this sheet for first time, It properly search for the location and i select it and close the bottom sheet. Now when second time open this sheet and search for t

[2022-01-09 12:53] narcodico commented on #120
@ZillionCAdmin it means your bloc was disposed, thus you cannot add events to it anymore. Make sure you're working with a valid instance.

[2022-01-09 13:03] ZillionCAdmin commented on #120
@narcodico , I think i need to share my code. As this is my learning content, i think i can share with you.

class RegistrationStep extends StatefulWidget {
  const RegistrationStep({Key? key}) : super(key: key);

  @override
  _RegistrationStepState createState() => _RegistrationStepState();
}

enum Gender { male, female }

class _RegistrationStepState extends State<RegistrationStep> {
  late Gen

[2022-01-09 13:07] stact commented on #120
@ZillionCAdmin please use code markdown to display your code.
https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code

https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

[2022-01-09 13:08] Gene-Dana opened #3121 "Livestream Topics: What would you like to see implemented by Felix?"
**Description**

It is clear that the community has ongoing questions about specific subjects, and in order to demystify these topics, we have organized a  30 minute livestream of the Bloc team building in public a mini-project of the communities choice.

**Desired Comments**

We need your help generating a a list of mini-projects that the community would like to see implemented. Topics could be:

[2022-01-09 13:08] ZillionCAdmin commented on #120
I have already used. Still want me to do changes ?

[2022-01-09 13:14] stact commented on #120
@ZillionCAdmin could you share also your bloc definition?
Little tips you can also use BlocConsumer to prevent nested BlocListener and BlocBuilder :)

[2022-01-09 13:16] farhanahmadzade commented on #3121
Finished or not started yet?

[2022-01-09 13:18] ZillionCAdmin commented on #120
@stact

`class RegistrationBloc extends Bloc<RegistrationEvent, RegistrationState> {
  final LocationSearchRepository locationSearchRepository;

  RegistrationBloc({required this.locationSearchRepository})
      : super(RegistrationState(locationList: [])) {
    on<LocationSearchTextChange>(_locationSearchTextChange);
    on<LocationOnLoadFetchData>(_locationSearchTextChange);
  }

  FutureOr<void

[2022-01-09 13:18] ShashankSMayya commented on #3121
The right way to declare and use blocs in route generators and passing instance of this BLOC to multiple pages.

Thanks

More explained doubt:
Let's say I have a BLOC A of same single instance used in 3rd page and also on the 10th page in the app. So, How I was doing this was initializing this BLOC in init state of route generator class and then provide it to the routes that point to 3rd and 10th

[2022-01-09 13:19] petrnymsa commented on #3121
What about handling more complex forms with "autosuggestions / autocomplete " feature set?

[2022-01-09 13:21] ZillionCAdmin commented on #120
![Screenshot 2022-01-09 at 6 50 41 PM](https://user-images.githubusercontent.com/91824285/148683883-83578970-aeea-414a-9291-5a4f51315061.png)

[2022-01-09 13:22] stact commented on #120
@ZillionCAdmin

Here a sample for BlocConsumer
[code]

[2022-01-09 13:24] hhacker1999 commented on #3121
In my apps I use a separate bloc for each screen, but some blocs are required to be app level so that the entire app can access it. I want to know how to architect the app in such a way that the screen level blocs communicate with app level blocs without making code spaghetti.

[2022-01-09 13:30] stact commented on #120
@ZillionCAdmin it's strange, I don't see any misconfiguration. @felangel could you help us?

No BlocConsumer will not solve the issue, it's just a tips for you to improve code lisibility.
@ZillionCAdmin I will try to reproduce your behavior with a small app and share with the community.

[2022-01-09 13:32] ZillionCAdmin commented on #120
@stact  Thank you so much for. your effort. I hope this will help others too. and just to let you know that from Main Page, I'm calling this Registration.dart page using RepositoryProvider.

Ex. Code:
[code]

Is there any issue in code which i have written ? or Bloc Related Issue ?

[2022-01-09 13:33] narcodico commented on #120
@ZillionCAdmin can you please share a repo with your code instead of a bunch of code as text? it's saving us all time if we can run your sample. Thanks.

[2022-01-09 13:34] ZillionCAdmin commented on #120
@narcodico Will try ASAP. Thanks

[2022-01-09 13:40] salkhan-ops commented on #3121
I am interested in knowing more about implementing complex data repositories. For instance, google-map/tracking with/or autocomplete search (cache some data before the search [offline-online], first search in existing-cache and then in firebase or API, if not may rely on cache only).

QuickNote: Thank you for the great work done by @felangel and the team on [bloc library](https://bloclibrary.dev/)

[2022-01-09 13:44] ZillionCAdmin commented on #120
@stact  @narcodico , Is it okay if i make private repo and add you as collaborator ?

[2022-01-09 13:58] ZillionCAdmin commented on #120
@stact @narcodico ,
I have added you both as collaborator. Please check. Thank Again. :)

[2022-01-09 14:36] ZillionCAdmin commented on #120
@narcodico Any update ?? I'm waiting for your response.

[2022-01-09 14:43] narcodico commented on #120
You're not correctly making use of `BlocProvider`
``` BlocProvider(create: (context) => registrationBloc,...)```
If you already have an instance you should use `BlocProvider.value`, when using `create` your bloc will be disposed automatically when bloc provider is unmounted, which is your case when closing the sheet.
I'm not sure what you're trying to achieve with your code, but I suggest you spli

[2022-01-09 14:46] ZillionCAdmin commented on #120
Okay, So you're saying instead of BlocProvider with create, I should use BlocProvider.value but i think it gives me some other error then. I think i need to remove it from the top and create the bloc instance when required. would it be okay ?

[2022-01-09 14:49] ZillionCAdmin commented on #120
@narcodico , Awesome Man, Thank you soooo much. You Saved my daysssss. thank you so much. Really you caught the right point. Even i was also going to do this but i thought this would be a wrong approach.

[2022-01-09 15:11] dbilgin commented on #3121
I have always used cubits so far and I never felt that anything is missing, what is a real life scenario for preferring blocs over cubits?

[2022-01-09 15:21] CoderUni commented on #3121
I'm interested in how to configure bloc for logging and error reporting in firebase crashlytics or in sentry. I'm very interested on how its being configured and used in big projects that have 1M+ users. I would also like to thank you for your hard work Felix. You've made flutter better for everyone in the community :)

[2022-01-09 15:55] chonghorizons commented on #3109
I'd have to understand your use case more clearly.
This is an architecture question, since it seems like there are at least 3 or 4 ways that will all work.

Each implementation may have plusses and minuses. It will depend on weighing factors. To me, it seems like the factors might include:
1) testing and modularity
2) not repeating yourself
3) delaying injection/connections to later, for example i

[2022-01-09 16:00] chonghorizons commented on #3111
Low in the widget tree. (Search the issues for widget tree).

Look at the writeup about fetch vs stream patterns in the opinionated practice link.

Read the docs about rebuilding. You might be architecture your blocs weirdly.

Look through the examples. None of them use StreamBuilders.

@heshaShawky

[2022-01-09 16:03] chonghorizons commented on #3086
Yes. Hocho on discord. I am active in documentation channel.

[2022-01-09 16:09] stefangaller commented on #3109
Is this how you would do it?
[code]
Then the main would need to look like this:
[code]

If want to mock dio, I'd need to add another layer for bootstrapping:
[code]
 and the main would become this:
[code]

And I could even add another layer if i want to mock `BaseConfig`.

[2022-01-09 16:11] chonghorizons commented on #3086
Discord is great for interactive. But it isn't search indexed and isn't easily discoverable. So, if something on discord is really helpful, putting it on a GitHub-repo on a wiki makes sense.  The repo might be "BlocExamplesDiscussions".

Even better. If someone gets helped, recommended  homework is to do a short wiki writeup for that repo.

@Gene-Dana

[2022-01-09 16:11] #3111 closed

[2022-01-09 16:20] chonghorizons commented on #3109
@stefangaller looks pretty good and that it will work.
You definitely understand the tradeoffs and why. So that is the biggest thing.

In particular, does it meet the 4 factors I mentioned above? If so, then it works.

What do you think?

[2022-01-09 16:26] chonghorizons commented on #3109
You might add another layer so that bootstrapRepositories isn't coupled to dio. Like if you later want to use firebase or graphQL or another package or  ???. I actually have never used Dio.

 But you can always decouple later. And the important thing is you have one point where Dio is loaded and all UI interactions don't directly call Dio, they call the repository or they call blocs that call the

[2022-01-09 16:32] chonghorizons commented on #3088
@SuhwanCha , if you want to be bold and helpful, find the markdown file in the docs and make a pull request. You should be able to find the exact md file by searching for the phrase using the GitHub search bar.

I can't guarantee the PR will be accepted, but I think adding these kinds of tips is under consideration.

[2022-01-09 17:14] mnkeis commented on #3121
If possible, it would be great to add some flow_builder routing on the run, including back and forth navigation please.

[2022-01-09 17:18] mnkeis commented on #3121
I also would like to know what could be the best approach to add a confirm dialog for, let's say for example, a logout action.
I mean, how would you add a confirm logout dialog to the firebase login tutorial.

I'm currently simply showing the dialog on the onPressed function itself but I don't know if this is OK from an architecture and good practices point of view.

[2022-01-09 19:18] paolovalerdi commented on #3121
It would be great to see some cubit/bloc implementation of side effects and one time events like showing snack bars for example.

[2022-01-09 19:44] iandis commented on #2785
I guess one way to achieve this is to have a cancelable operations (or cancelable requests if dealing with http API) and have an event debouncer (e.g. rxdart's debounce extension).

[2022-01-09 19:53] adam-sroka commented on #3121
Hi,

For us at [Gibsonify](https://github.com/DigitalNutritionalAssessment/gibsonify), we would be really grateful for going over the [BLoC architecture](https://bloclibrary.dev/#/architecture) in a less abstract way, with _more examples_ of some BLoC/Repository design diagrams for different types of apps, especially with mutliple BLoCs.

I think this would encompass @hhacker1999's request of how

[2022-01-09 20:22] rizirf-connect opened #3122 "refactor: Secure "auto_route" routes using "flutter_bloc""
Hello @felangel

Please suggest a way to secure routes using flutter bloc.
In below example my bloc state has been changed and text has been set to "authenticated" but router didn't push home_route.

app_widget.dart

[code]
user_authentication_page.dart

[code]

user_authentication_bloc.dart

[code]
router.dart

[code]

auth_guard.dart

[code]

[2022-01-09 20:55] SaltySpaghetti commented on #3121
Hi everyone. In my app a have a Cubit that listens whenever your phone is connected to internet or not. In the UI I have a `BlocListener` that shows a Dialog when the state is `Disconnected`. Is there a way to perform `,pop()` (close the dialog) when the state is `Connected`?

[2022-01-09 23:40] github-actions[bot] opened #3123 "[Translations] Update docs"
Update Translations to include changes from 94117ba7771637543cf1a2a2ef4c1c904fd96159.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-09 23:44] felangel commented on #3122
Hi @rizirf-connect 👋
Thanks for opening an issue!

I feel this question is better suited for the auto_route repository because it's specifically about how to handle route guards. I'm guessing the auto route isn't properly wired up to the bloc but I'm not really familiar with the auto_route package unfortunately.

I highly recommend taking a look at the [Firebase Login Example](https://github.com/f

[2022-01-09 23:47] github-actions[bot] opened #3124 "[Translations] Update docs"
Update Translations to include changes from 223835b29b1af9ff7c3c55623a041214877d2587.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-10 00:21] fabianMendez commented on #3121
I have a simple question: should the `started` event be added in the constructor (automatically) or should it be added after creating the bloc (using the cascade operator)?

[2022-01-10 00:23] github-actions[bot] opened #3126 "[Translations] Update docs"
Update Translations to include changes from 163a8dfe616070adaac82c60958cd8ac2b701178.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-10 00:27] felangel commented on #3121
I recommend adding it after the bloc is created via the cascade operator because it is more predictable, flexible, and easier to test.

[2022-01-10 00:31] felangel commented on #3109
Closing for now but feel free to either continue the conversation here or on [Discord](https://discord.gg/bloc) 👍

[2022-01-10 00:31] #3109 closed

[2022-01-10 00:32] felangel commented on #3119
Hi @AcarFurkan 👋
Thanks for opening an issue!

It would be much easier to help if you could provide a link to a minimal reproduction sample (ideally a [DartPad](https://dartpad.dev)) and I'm happy to take a closer look, thanks!

[2022-01-10 00:59] SuhwanCha commented on #3088
@chonghorizons, Ok, thank you for your comment.
Because I’m new to bloc, so I'll consider more and make PR :)

[2022-01-10 04:36] jinyus commented on #3121
When you need to debouce the events. eg: When you have a search bar that sends the request after the user stops typing.

[2022-01-10 04:47] felangel commented on #2364
Going to close this this since we're trying to keep the tutorials more manageable. I prefer to increase functionality in an existing example rather than creating new documentation for a different example.

In this case, I feel the GitHub Search tutorial covers most of the same concepts as fluttersaurus.

Happy to re-open if someone disagrees.

[2022-01-10 04:47] #2364 closed

[2022-01-10 04:48] felangel commented on #3107
That still doesn't address the lack of web support and I agree that static metaprogramming will likely help with codegen; however, it feels premature to make this change given the current state of things. I think it'd be nice to revisit this in a few months.

[2022-01-10 05:01] sekny commented on #3113
Thank @felangel, @Gene-Dana, and @alvinvin00  for your reply, I got that point.

[2022-01-10 06:24] fmdogan commented on #1204
RepositoryProvider sounds more like a data store for me. I used to store some data like infos of the logged-user in a global class or global variable which i can access from anywhere through the app like data providers, data repositories, blocs and maybe even presentation.. (feels like it ain't the professional way, is it?)
Repository provider may keep these datas available to all blocs.. then I n

[2022-01-10 07:51] rizirf-connect commented on #3122
Thanks for answering & provide a useful reference.
But I think the problem here is bloc is not sync when auth guard class calls. The overview is button press -> login happened -> bloc state changed to authenticated (Text change to authenticated) -> auth guard calls (but in auth guard state is unanuthenticated instead of authenticated).

[2022-01-10 14:16] rohan20 commented on #3121
Using sub-classes for states vs using `copyWith`.

When using sub-classes, it is difficult to build UIs that require loading states as overlays over the rest of the UI because this means that 2 states require all state fields from the UI.

For example:

[code]

Here we just have one field `order` that needs to be repeated in all states but in case `OrdersPlacementInProgressState` has many such fie

[2022-01-10 15:59] chonghorizons commented on #3086
Current state on the Architecture question in tutorials:

- If I understand correctly, @marcossevilla and @Gene-Dana (in #2859 and this issue) aren't as much in favor of including a section on Architecture in each tutorial, preferring _only_ a central `architecture` section of the docs that covers all tutorials, and each tutorial links to.
- @jorgecoca gave a code review suggesting more descriptio

[2022-01-10 16:35] marcossevilla commented on #3086
I think the best approach is to give the general architecture concepts or practices that are used in a specific tutorial on the architecture section and then link to the tutorial to see those concepts applied in code. For example:

- Architecture: {pattern} is used when {explanation}. See [examples].
- Example 1: In this example, we use {pattern} to {explanation_for_example_1}.
- Example 2: In thi

[2022-01-10 17:07] chonghorizons commented on #3086
UPDATE:

I reviewed what @felangel merged this past week for the `todos` example.

@felangel doesn't currently link back to [Architecture for `todos`](https://bloclibrary.dev/#/fluttertodostutorial?id=architecture).  He is more verbose, going over
- `data layer`
- `domain layer`
- `feature layer`
 See the Architecture section he pushed this week, and the diagram he included. That diagram is pretty

[2022-01-10 17:11] yashhema opened #3128 "Question:BLOC suitability for common global assets (dynamic in nature)"
Consider a case , I have multiple firebase projects, and I need to maintain auth state of all , and the project list is dynamic is nature (the same UI can be then reused for different project)
or consider a case of chatrooms , where chatrooms can be created anytime by backend and a bloc needs to be maintained for state

So is it a good practice to have a singleton with a Map of project id and corr

[2022-01-10 17:16] chonghorizons commented on #3086
Interesting. I'm trying to understand what you are proposing. Is this correct:

* Each Tutorial
  * No Architecture Section at all.
  * No links to Architecture (?)
* Main Architecture Section of the docs
  *  Pattern1
    * Explanation, when used, etc.
    * Examples
      * Example1
        * CounterApp
        * Discussion of Pattern1 in Counter App
        * (links to relevant example code)?

[2022-01-10 17:39] chonghorizons commented on #3086
Copying a piece of feedback from https://github.com/felangel/bloc/issues/3121#issuecomment-1008362831

[2022-01-10 18:28] github-actions[bot] opened #3129 "[Translations] Update docs"
Update Translations to include changes from 4e1cfbb8ffafaa239c6c94e88844f985b5704a63.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-10 19:35] felangel commented on #3097
Hi @albertodev01 👋
I took a closer look and I believe the issue is the blocTest is ending early before the compute has finished. See the updated test below:

[code]

This works as expected. Let me know what you think, thanks!

[2022-01-10 20:46] jtkeyva commented on #2293
Thank you! I was under the impression the goal of bloc/cubit was to eliminate stateful widgets entirely. However, I see that is not the case. Any best practices or "make it a bloc" or "make it a cubit" vs just stateful?

[2022-01-11 00:31] albertodev01 commented on #3097
Thank you for your time 😄

I think this is more of a work-around rather than a solution since if you set it to be like `Duration(milliseconds: 1)` it wouldn't work. What works is this instead:

[code]

If you read the [runAsync docs](https://api.flutter.dev/flutter/flutter_test/WidgetTester/runAsync.html) you'll notice that it exactly server for this purpose!

It basically waits for other isolated

[2022-01-11 08:41] bornold opened #3130 "feat(flutter_bloc): buildWhen/selectWhen in BlocSelector"
First of all thank you so much for all the fantastic work you guys does!

**Description**
I am missing a similar check to BlocBuilder's [`buildWhen`](https://github.com/felangel/bloc/blob/4e1cfbb8ffafaa239c6c94e88844f985b5704a63/packages/flutter_bloc/lib/src/bloc_builder.dart#L80) in [BlocSelector](https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/lib/src/bloc_selector.dart)

**De

[2022-01-11 09:51] narcodico commented on #3130
Hi @bornold 👋

The `selector` is already filtering the state and prevents unnecessary rebuilds.

So basically
[code]
is equivalent to
[code]

Could you give a realistic example when you'd also need a `selectWhen` and how would you make use of it ?

[2022-01-11 13:47] mnkeis commented on #3122
Hello @rizirf-connect
I'm not familiar with neither auto-route nor getIt, but looking at your code I'm not 100% sure your AuthGuard class and your UserAuthenticationPage class are referring to the same UserAuthenticationBloc instance.

Did you try providing the UserAuthenticationBloc on top of Material widget?

Hope this helps!

[2022-01-11 16:43] fabianMendez opened #3131 "feat: check outdated version using the pubspec.lock file"
**Description**

Currently the vscode extension shows a warning when the packages version is below `8.0.1`, however one could have the following inside `pubspec.yaml` and still be using the `8.0.1` version:
[code]

**Desired Solution**

I think it's more reliable to load the currently used version from the `pubspec.lock` file:
[code]

**Alternatives Considered**

Manually updating the `pubspec.yam

[2022-01-11 17:20] felangel commented on #3097
Hi @albertodev01

I don't think this is a workaround. The test is failing because it isn't waiting for the async operation to complete. Using `tester.runAsync` won't change that afaik. Also, `tester.runAsync` is from Flutter and requires `flutter_test` and a `WidgetTester` whereas `bloc_test` should be a pure dart package and should not be used in widget tests.

Do you have a link to a sample illu

[2022-01-11 22:25] ebelevics commented on #3121
Is it possible to send EventA which extends abstract class Event. And listen on two or more different Blocs: BlocA<Event, StateA> and BlocB<Event, StateB> with on<EventA>((event, emit)? I saw this concept in Unity with `public static event Action<T>` and it seems pretty flexible way to share events with blocs?

[2022-01-12 08:49] bornold commented on #3130
Thanks for the quick response.
Maybe it is a really niche problem and not really needed for any one else...
But the issue I am having is not that build is called unnecessary, it's when the state equals is really slow and/or selector is a has to do work that could be prevented by a guard.

Specifically `DateTime` compare and equals is really slow

In this example a cubit outputs a random date, and

[2022-01-12 10:13] nurbek-b commented on #197
is in Equatable changed smith? 'Cause I can not put parameters on.
Issue is same, BlockBuilder not getting called after update, and displays still old data.
super() of Todo `Too many positional arguments: 0 expected, but 1 found`

My model.
[code]
My state.
[code]

[2022-01-12 12:42] alihesari commented on #322
Thank you this works for me.

[2022-01-12 16:53] github-actions[bot] opened #3134 "[Translations] Update docs"
Update Translations to include changes from 7b23d097e2737e201503c23aabbd64809aea13e5.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-12 17:11] felangel commented on #3115
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-01-12 17:11] #3115 closed

[2022-01-12 18:40] mehade369 opened #3135 "fix: diff_match_patch ^0.4.1 is forbidden"
**Description**
Can't run `flutter_todos` example app.
It's a fresh clone of the [flutter_todos](https://github.com/felangel/bloc/tree/master/examples/flutter_todos) example app.

**Error**:
[code]

[2022-01-12 18:43] mehade369 commented on #3135
`flutter doctor` results

[code]

[2022-01-12 19:09] felangel commented on #3135
Hi @mehade369 👋
Thanks for opening an issue!

I'm not sure why you're seeing that error because `diff_match_patch: 0.4.1` is available on pub.dev https://pub.dev/packages/diff_match_patch. Are you pointing to a different pub.dev server by any chance?

[2022-01-12 19:12] felangel commented on #3119
Closing for now since there is no link to a minimal reproduction sample. Feel free to provide one and I'm happy to take a closer look, thanks!

[2022-01-12 19:12] #3119 closed

[2022-01-12 19:16] mehade369 commented on #3135
No, I don't think so.
And, everything else is working fine.

[2022-01-12 19:31] github-actions[bot] opened #3137 "[Translations] Update docs"
Update Translations to include changes from 1c3635d2f8a06f2f476222208567b5fc0287653f.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-12 19:33] felangel commented on #3135
Are you able to install `diff_match_patch` in a different project? For example if you create a new project and add it to the `pubspec.yaml`

[code]

Do you get the same error?

[2022-01-12 19:41] mehade369 commented on #3135
Yes, I get the same error.
Here I found a possible solution!!

[code]

[2022-01-12 19:43] felangel commented on #3135
That seems like a bug in `pub.dev` since it should be able to resolve diff_match_patch v0.4.1. I highly recommend [opening an issue on pub.dev](https://github.com/dart-lang/pub-dev/issues/new?body=URL%3A+https%3A%2F%2Fpub.dev%2F%0A%0A%3CDescribe+your+issue+or+suggestion+here%3E&title=%3CSummarize+your+issues+here%3E&labels=Area%3A+site+feedback).

[2022-01-12 19:45] mehade369 commented on #3135
ok, thanks.

[2022-01-12 19:45] #3135 closed

[2022-01-13 06:37] LakshanKodithuwakku commented on #181
Thank you!

[2022-01-13 09:16] bornold commented on #3130
After some deliberating, I now believe I am just using the BlocSelector incorrectly.

Thanks for taking the time for the proposal though

[2022-01-13 09:16] #3130 closed

[2022-01-13 09:24] HSCOO opened #3138 "question: Using BlocBuilder will cause me to lose part of the state."
**Version**
`Flutter 2.5.3`
`Dart 2.14.4`
`flutter_bloc: ^8.0.1`
`equatable: ^2.0.3`

**My usage**
I used to only use `BlocBuilder` at first and I found a problem that I would miss part of the state.

The code I use in the widget is like this:

[code]
The code I use in bloc.dart is like this:
[code]
If `aFunc` executes fast enough, below 5ms, I will not get `state.testA=1` in`BlocBuilder`.

**Prob

[2022-01-13 09:47] narcodico commented on #3130
You should just move computational/data aggregation stuff inside your bloc instead of doing it in the UI.

[2022-01-13 16:13] felangel commented on #3022
Can you share your full main.dart?

[2022-01-13 16:14] noor848 commented on #3022
this is my main
/////////////

import 'package:bloc/bloc.dart';
import 'package:bma/counter.dart';
import 'package:bma/module/counter/cubit.dart';
import 'package:bma/module/counter/statecounter.dart';
import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:flutter_services_binding/flutter_services_binding.dart';
import 'BMI_cal.dart';
import 'login_page.da

[2022-01-13 16:15] noor848 commented on #3022
i tried your both solution adding this FlutterServicesBinding.ensureInitialized(); and without and no result show

[2022-01-13 16:17] felangel commented on #3022
Do you have a link to a minimal reproduction sample?

[2022-01-13 16:24] noor848 commented on #3022
do u mean link for my work ?

[2022-01-13 18:52] felangel commented on #3022
I'm not able to reproduce the issue. You can refer to the official [DartPad](https://dartpad.dev/?null_safety=true&id=fdd369962f4ff6700a83c8a540fd6c4c) and see the BlocObserver logs in the console:

![Screen Shot 2022-01-13 at 12 52 37 PM](https://user-images.githubusercontent.com/8855632/149391493-78ad0109-abef-4384-a55c-aa558a187c30.png)

[2022-01-13 22:13] noor848 commented on #3022
thank you it works actually i guess the problem  was the ide is slow

[2022-01-14 06:56] aliftaufik commented on #1204
If WeatherRepository only contains methods for handling weather data requests, just as how I used it, I can refactor your code and just instantiate WeatherRepository on each Bloc creations. If both Blocs don't need to hang on the same Repository instance, I believe it doesn't hurt the app performance anyway.

[2022-01-14 07:00] aliftaufik commented on #1204
@YusufJo The repository is not instantiated inside the Bloc, but instantiated in Bloc creation, when passing it as params. In my case, my Bloc will have an interface as its constructor parameter, and the Repository will implement it.

[2022-01-14 07:06] aliftaufik commented on #1204
@fmdogan if you put your data in Repository, how to sync it between Blocs? I mean, if one Bloc changes some values, how to notify other Blocs that some values in the Repository have changed?

[2022-01-14 07:15] fmdogan commented on #1204
It is repositoryProvider. It doesn't have to notify blocs about changes, I assume. Blocs will notice the change when they fetch the data from repositoryProvider for an event. This applies for my use case since what I only expect a repositoryProvider to do is providing me the data.

Blocs are notified via events. Communication between blocs is another subject.

[2022-01-14 17:47] github-actions[bot] opened #3140 "[Translations] Update docs"
Update Translations to include changes from 0390c76676cb5bea10a428a18d8717619a07cd94.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-14 20:34] JanDrabik opened #3141 "docs: dedicated page for explaining read, select and watch methods"
### Problem:
The only place to find good explanation on what `context.read`, `context.select` and `context.watch` methods are for is migration page that covers [migration to version 6.1.0](https://bloclibrary.dev/#/migration?id=v610). This might be problematic for newcomers that are trying to better understand how to use these methods, especially these ones without experience of working with Provi

[2022-01-15 02:17] FisherWL opened #3142 "question: bloc-to-bloc communication - initial state"
**Description**
bloc1: AdsBloc - controlling admob;
bloc2: PurchaseBloc - controlling in-app-purchase;

AdsBloc is reacting to PurchaseState change(s),
but not reacting to initial PurchaseState.

**Steps To Reproduce**
with the following code, no matter if the user is paid or unpaid,
the AdsState is sticking to AdsLoadInitial when the app launches.

[code]

**Expected Behavior**
How to make AdsBlo

[2022-01-15 03:00] felangel commented on #3142
Hi @FisherWL 👋
Thanks for opening an issue!

Upon subscribing to a bloc you'll only get notified of subsequent state changes. If you also want to include the current state you can do something like:

[code]

Alternatively you can use `startWith` from `package:rxdart` like:

[code]

Hope that helps 👍

[2022-01-15 03:39] FisherWL commented on #3142
Thx @felangel
this is very helpful!

[2022-01-15 03:48] #3142 closed

[2022-01-15 03:54] felangel commented on #3138
Hi @HSCOO 👋
Thanks for opening an issue!

This is because your bloc is emitted states faster than flutter can rebuild. You should probably refactor your bloc state to aggregate the data if it's critical that you render each state.

With your current approach you'll need to aggregate the data although I highly recommend splitting this into two blocs if the properties for 'testA' are independent of

[2022-01-16 15:26] Amir-P opened #3143 "feat: Ability to apply a transformer to all events"
**Description**

Recently I started using bloc v8 and bloc_concurrency and I noticed that in this new version there is no way (or at least I couldn't find any way) to apply a transformer to all incoming events. Right now we can do something like this:

[code]

But what if we wanted to apply restartable transformer to all events?

**Desired Solution**

Ability to define global transformers.

[2022-01-16 16:33] Shiro1995 opened #3145 "chore: I can't call the function of bloc in test file"
**Description**
Unit testing flutter_bloc

I'm trying the whole day to apply Unit test on this.

first issue is that I try to return a value after call function get data

[code]
I'm trying to return the type: Future.value(listTask) or listTask, but it's always false.

[code]
at _act: (bloc) => bloc.add(AddTask(task)),_
I can't call exactly _bloc.(**function in bloc**)_ it does not appear on this

[2022-01-16 17:18] felangel commented on #3143
Hi @Amir-P 👋
Thanks for opening an issue!

If you want to apply a transformer to multiple events you must group the events together. In this case, if you want all events to be `restartable` then you could do:

[code]

You can read more about this [here](https://verygood.ventures/blog/how-to-use-bloc-with-streams-and-concurrency).

Hope that helps 👍

[2022-01-16 17:19] felangel commented on #3145
Hi @Shiro1995 👋
Thanks for opening an issue!

Can you provide a link to a minimal reproduction sample that I can run/debug locally? Thanks! 🙏

[2022-01-16 17:20] felangel commented on #3138
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-01-16 17:20] #3138 closed

[2022-01-16 17:20] felangel commented on #3122
Closing for now since it doesn't seem like there are actionable next steps. Feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-01-16 17:20] #3122 closed

[2022-01-16 17:21] felangel commented on #3097
@albertodev01 just wanted to see if you had a chance to see my reply, thanks!

[2022-01-16 17:33] Shiro1995 commented on #3145
Plz check this:
https://github.com/Shiro1995/todo_task

[2022-01-16 17:35] Amir-P commented on #3143
Thanks for your response @felangel .

That's something I thought about but doesn't we lose the ability to apply transformers on specific events? For example I want to be able to apply debounce on a specific type of events and apply restartable on all events. How this is achievable?

[2022-01-16 17:44] felangel commented on #3143
No problem! You can write a transformer that handles applying the correct transformer depending on the event type. See https://github.com/felangel/bloc/blob/10542d868fb0d615e1f7afba9d6a5af39a221bca/packages/bloc/test/blocs/counter/merge_bloc.dart#L6 for an example.

[2022-01-16 18:34] Amir-P commented on #3143
Thanks @felangel ! It really helped.

[2022-01-16 18:34] #3143 closed

[2022-01-16 23:27] AristideNestor commented on #2784
I'm not sure how to migrate this ?

[code]

this is what i've written so far

[code]

[code]

is it correct ?

[2022-01-17 02:57] Dakrain commented on #2784
Thanks, I did try this and I had to create more event for the bloc. That would be unnecessary so I change to cubit, I can still emit state in callback.

[2022-01-17 14:49] BellRampion commented on #3078
Has the patch been released yet? I am also experiencing this issue. Code works fine pre-8.0.0; upgrading causes HydratedBloc to throw the storage error.

[2022-01-17 14:53] felangel commented on #3078
I’m still working on it and will post and update either today or tomorrow. Sorry for the inconvenience!

[2022-01-17 19:37] albertodev01 commented on #3097
@felangel Sorry I forgot to reply!

Ahh I get your point 😄 I think that the best thing to do then is adding a docstring about the `tester.runAsync()` method on Flutter.

In order to keep this a "pure" Dart library, users will need to do as you did (using `wait: Duration(seconds: 10),` with a random time value or anyway bigger than the computational time required by `compute`)

[2022-01-17 19:39] felangel commented on #3097
No problem!

Ideally, we'd mock the long-running operation so that the test runs efficiently/quickly.

[2022-01-18 04:35] mohmmad47 opened #3147 "Bad state: Cannot add new events after calling close"
**Description**
so there are three features which are executed, basically like tab so when we ran app for first time it works normally but when i go on third and again on first or second tab it starts crashing there blocs i dont know why but when i haven't create third bloc they(second and third tab bloc) works fine and in error it is telling 'Bad state: Cannot add new events after calling close'

[2022-01-18 14:36] PlugFox opened #3148 "feat: BlocObserver with onDone callback"
Add callback inside BlocObserver:
[code]
or rename `onEvent` to `onEventStarted` and add `onEventFinished`
`onDone` event must be always called if `onEvent` called, no matter if an error occurred or not.

This is the only proposal for the main idea of the wanted API.

Why do I want this feature?
Because is very useful to know, how long events are executed and successful or not.

I want integrate i

[2022-01-18 14:43] PlugFox commented on #3148
Also, you can change API for BLoC Observer to Interceptors list.

Something like that:
[code]

I think this is more handy and scale for every users)

[2022-01-18 16:06] PlugFox commented on #3148
Another idea:
you can simply add in Transaction `bool get completed;`
If `completed` is true - this is last state for event.

[2022-01-19 10:59] crefter commented on #2915
Hello! IDEA highlights the debounce method in red when I try to make the
[code]
why? and what should i do?

[2022-01-19 11:33] starsoheil2007 opened #3149 "How to search in a list by text form field change"
Hi
I would like to search in a list by bloc version 8.0, but when I changed my text in text form field state not changed  and bloc builder not rebuilding the widget.

main.dart =>

[code]

search page =>

[code]

search_bloc.dart =>

[code]

state=>

[code]

[2022-01-19 19:10] ChauCM opened #3150 "feat: HydrateCubit/Bloc should listen to change in saved data"
**Description**
I actually try to use HydrateCubit as my local database. Everything work fine except I need it to work inside handler in FirebaseMessaging.onBackgroundMessage(handler). The [docs](https://firebase.flutter.dev/docs/messaging/usage) requires handler is a top-level function(if not, result in Null check operator used on a null value on Android device) that mean I cannot pass anything t

[2022-01-19 19:29] felangel commented on #3147
Hi @mohmmad47 👋
Thanks for opening an issue!

This is because you are using a singleton for the blocs and cubits and if you provide them with BlocProvider they will automatically be closed when BlocProvider is unmounted. I recommend not mixing BlocProvider with get_it but the immediate fix would be to change the bloc/cubit registrations to be factories instead of lazy singletons.

Hope that helps

[2022-01-19 19:29] #3147 closed

[2022-01-19 19:32] felangel commented on #3149
Hi @starsoheil2007 👋
Thanks for opening an issue!

This is because you are mutating the state rather than emitting a new instance of `SearchData`.
You can read more about this in the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating).

[2022-01-19 19:32] #3149 closed

[2022-01-20 04:03] mohmmad47 commented on #3147
hii Felix sorry for being unprofessional i have just realized that pasting screenshot was not really good idea and really thank you for your advise it works and also thank you for creating such amazing package for state management ❤️

[2022-01-20 05:09] github-actions[bot] opened #3152 "[Translations] Update docs"
Update Translations to include changes from 0f191ef35b39d1aa8848a1daa43586958392dcad.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-01-20 12:45] fernan542 commented on #3121
When and where is the proper time to use a Repository layer versus just directly accessing the Data Provider layer?

[2022-01-20 13:26] GsProjects commented on #955
Hi @felangel ,

I'm trying to use flutter bloc to allow a user select an employee name from a dropdown menu and then populate the form fields on the same screen based on the selected employee. These fields could then be edited. I have looked at the flutter todos example which is the closest functionality to what I want to do but its not exactly the same.

Currently I can get the dropdown button to

[2022-01-20 18:27] dzsonni opened #3155 "feat: Add a way to allocate multiple listeners in a single BlocListener/BlocConsumer widget"
**Description**

Offer a way to assign multiple independent listeners with their own listenWhen conditions to a single BlocListener/BlocConsumer.

**Desired Solution**

Creating a new widget like MultiblocListener, that would take a list of BlocListenerConditons and BlocListeners combined. But instead of creating a nested widget it would iterate over the list and when conditions are fulfilled it w

[2022-01-20 19:53] felangel commented on #3078
This is blocked on https://github.com/flutter/flutter/issues/96939 at the moment :(

[2022-01-20 20:08] dbilgin commented on #3078
Thanks for taking a look at it @felangel! Hopefully it gets fixed soon.

[2022-01-21 00:09] eRuaro opened #3157 "Question: How to test state class changes?"
**Description**

How do I test state changes when the cubit has an initialization function?

I have a cubit which looks like this:
[code]

Wherein the state classes looks like this:
[code]

I wanted to test what the cubit would emit by following this article: https://medium.com/flutter-community/unit-testing-with-bloc-b94de9655d86

The test file looks like this:
[code]

The last test in the first

[2022-01-21 08:47] VinsMgn opened #3159 "fix: BlocProvider not rebuild normally"
**Vesion**
Flutter 2.8.1
Dart 2.14.4
flutter_bloc : ^8.0.0
equatable : ^2.0.3

**My Usage**
When I use a BlocProvider in a BlocBuilder, and I arrive on the page the first time it builds normally. But when I tap on a button, the BlockProvider does not rebuild. The first time, it goes into the builder, but the second time it doesn't.

Here is the code:
[code]
Thanks for the help !

[2022-01-21 11:53] Ben-Baert opened #3160 "feat: Freezed support for IntelliJ plugin"
**Description**

IntelliJ plugin doesn't support generating BLoCs with freezed, while this is supported in the VS Code plugin.

**Desired Solution**

Add an option to the create dialog (underneath "Use equatable"?) to be able to use freezed.

**Alternatives Considered**

None

**Additional Context**

None.

[2022-01-21 13:53] GsProjects commented on #1941
Hi @felangel

Is there away to have initialValue change in response to changes in state caused by other widgets?

[2022-01-21 17:09] WilliamChavula opened #3161 "Question: blocTest verify throws "Used on a Non-Mockito object.""
**Description**
I am testing cubit class using bloc test and mockito. However when I call verify it throws a "Used on a Non-Mockito object." Help me understand how to get the test to pass

**Steps To Reproduce**
void main() {
  late InitialLaunchCubit initialCubit;
  late MockConfigureInitialLaunchFlag configureInitialLaunchFlagMock;
  late MockHiveDataPersister hiveDataPersisterMock;
  bool isIni

[2022-01-21 18:15] WilliamChavula commented on #3161
import 'package:bloc_test/bloc_test.dart';
import 'package:flutter_test/flutter_test.dart';
import 'package:mockito/annotations.dart';
import 'package:mockito/mockito.dart';
import 'package:spell_tutor/Infrastructure/databases/data_persister_hive_impl.dart';
import 'package:spell_tutor/domain/entities/initial_launch.dart';
import 'package:spell_tutor/domain/use-cases/use-cases/configure_start_flag

[2022-01-21 18:16] WilliamChavula commented on #3161
that's the complete test file

[2022-01-21 18:38] alestiago opened #3162 "feat: Bloc visualisation tooling"
**Description**

A tool that allows the conversion from a given state diagram to a bloc, and ideally vice-versa (generate a diagram from a given bloc).

**Desired Solution**

An interface (as in human to computer interaction) that allows a given user to model a bloc via a state diagram and generate the appropriate code for it, and vice-versa.

**Alternatives Considered**

It is very open how this

[2022-01-21 18:44] WilliamChavula commented on #3161
Thanks.. switched to mocktail and not getting the error.

[2022-01-21 18:44] #3161 closed

[2022-01-22 05:00] starsoheil2007 commented on #3149
@felangel
Thanks for answering
Should I extends SearchData from Equatable  ?

[2022-01-22 10:58] UmairSaqibBhutta opened #3163 "builder does not update data even receiving changing state."
I am firing an event successfully and state is also emitted and received in blocbuilder but the builder does not update the data.
even data is also changed as I tested the changed data the log.

[2022-01-23 13:41] alestiago commented on #3163
Hi @UmairSaqibBhutta! Thank you for submitting the issue!

By any chance do you have an example code that reproduces this issue?

[2022-01-23 13:42] gilangsatria09 opened #3164 "question: Error when add new event inside list"
Hello, sir. how can i add new event inside listview.builder? because i tried to implement like this but the error appeared, thanks!

![image](https://user-images.githubusercontent.com/52986068/150681296-27eff307-2141-4107-b0a0-915466e36e61.png)
![image](https://user-images.githubusercontent.com/52986068/150681337-813abec2-cadd-4d5b-9dd8-96ca6b1b98cd.png)
![image](https://user-images.githubusercont

[2022-01-24 05:21] UmairSaqibBhutta commented on #3163
below is the code where I am firing event in another bloc.

  child: BlocListener<ProfileBloc, ProfileState>(
          listener: (context, state) {
            if (state is UpdateProfileSuccessState) {
              log("UpdateProfileSuccessState in listener");
              showAwesomeDialogue(
                  onOkPressed: () {},
                  context: context,
                  type: Dial

[2022-01-24 09:29] filly82 commented on #2178
have to admit that I don't like the official recipe for Navigator 2.0 on bloclibrary.dev because of
![image](https://user-images.githubusercontent.com/4948973/150756461-1acebed8-5156-4bd9-b3b3-2a8d0eba33b9.png)
would love to see a "plain" recipe without any external packages

[2022-01-24 09:31] filly82 commented on #2178
Loved your approach, but could not get it to work unfortunately. Maybe because of some missing parts like the implementation of the screens for example. Would love it if you could publish a full working example somewhere

[2022-01-24 09:47] PrabeshPP opened #3165 "fix: Bloc Extension not creating the Bloc folder when used Bloc : New Bloc in VS Code."
**Description**
Bloc Extension is not creating the bloc folder ,rather it is creating the file in another folder. Plus, the extension is not implementing the equatable template in User setting rather the bloc template can only be modified in Workspace.

**Steps To Reproduce**

1. Go to Bloc Extension Setting in VS Code.
2. Click on the New Bloc Template: Type;
3. Scroll down to Equatable.
4. It wi

[2022-01-24 09:49] PrabeshPP commented on #3165
Help me with this problem!
If you need any other information, I would be happy to provide.

[2022-01-24 10:38] alestiago commented on #3164
Hi @gilangsatria09 ! Thank you for submitting this issue.

It is somewhat hard to resolve with the provided images. Could you provide an example of minimal code that reproduces the issue?

However, from the error message, it seems that you might have called `.close` on your bloc. The source code states that `close` "closes the event and state Streams. This method should be called when a [Bloc] is

[2022-01-24 11:13] alestiago commented on #3163
Thank you @UmairSaqibBhutta for providing the code. Although is a little bit hard to assess from the code provided, I'll try my best to provide a solution. It would be of great help if you can provide minimal code that reproduces this issue? So that I can try this out on my local machine.

However, from what I can read you have two different blocs. `ProfileBloc` and `HomeBloc`. Then you create a `

[2022-01-24 12:18] alestiago opened #3166 "docs: Include missing slash in doc comment"
**Description**

I think line 34 of `emitter.dart` (this is the first line of the method documentation for `forEach`)  is missing an `/`, I believe it should be `///`.  In other words I believe the block comment should be a doc comment.

This is:
[code]

I'm aware that according to the [Flutter Style Guide](https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo#use-for-public-quality

[2022-01-24 14:17] #3166 closed

[2022-01-24 14:41] felangel commented on #3159
Hi @VinsMgn 👋
Thanks for opening an issue!

This is working as expected. The BlocProvider does rebuild but create is only called once when the BlocProvider is mounted in the widget tree.

I recommend using a BlocListener to listen for state changes and notify the respective bloc/cubit. Hope that helps 👍

[2022-01-24 14:44] felangel commented on #3155
Hi @dzsonni 👋
Thanks for opening an issue!

Can you please share a code snippet to illustrate your desired solution? I’m not sure I fully understand the request.

Thanks!

[2022-01-24 16:36] alestiago commented on #3141
Thanks @JanDrabik !

This is a great suggestion. I will try to write something up and make a PR for it. Hopefully, it resolves confusion over the extension methods.

[2022-01-24 16:41] VinsMgn commented on #3159
Thanks for the response ! I will try this solution ! :)

[2022-01-24 16:53] felangel commented on #3165
Hi @PrabeshPP 👋
Thanks for opening an issue!

Can you share your bloc extension version and VSCode version?

I'm not able to reproduce on VSCode Insiders.
<img width="256" alt="Screen Shot 2022-01-24 at 10 52 53 AM" src="https://user-images.githubusercontent.com/8855632/150827751-43114e9f-2cc0-4183-8948-8bf398e8a7be.png">

[2022-01-24 17:26] Wolfteam commented on #3097
Hi, I'm migrating from `bloc_test: ^8.5.0` to `bloc_test: ^9.0.2` and I think I've the same problem.
Was the behaviour of `blocTest` changed on the latest version ?
I've a test that passes on the 8.5.0 version but fails on the latest one,
though, if I add the wait parameter it works

[2022-01-24 17:28] felangel commented on #3097
Can you share a minimal reproduction sample of the code that works in 8.5.0 and fails in 9.0.0? Thanks!

[2022-01-24 18:23] alestiago commented on #3141
@JanDrabik I've started the PR. This is still under development. Feel free to suggest feedback or pointers that can improve the documentation.

[2022-01-24 18:52] Wolfteam commented on #3097
Here's a minimal sample:

[testing.zip](https://github.com/felangel/bloc/files/7928076/testing.zip)

To test the old version, change the following files:
* In the pubspec.yaml file you will find commented the old versions used.
* In the `some_bloc.dart` uncomment the part that says `OLD VERSION` and comment the `NEW VERSION`
* If you run `flutter test` the only test there should pass, but if you t

[2022-01-24 21:47] felangel commented on #3097
Are you able to push the code to a GitHub repo or Gist rather than sharing a .zip?

[2022-01-25 02:54] Wolfteam commented on #3097
Done [repo](https://github.com/Wolfteam/testing)

[2022-01-25 03:43] PrabeshPP commented on #3165
Hi @felangel
Bloc Extension Version is v6.4.0.
And the VSCode version is
![VSCode_Version](https://user-images.githubusercontent.com/83439329/150906927-beea2fa1-f5b1-465f-9d36-48538d79e1f9.jpg)
Waiting for your reply!

[2022-01-25 09:05] dzsonni commented on #3155
Not necessarily my desired solution but the desired way for it to work.
Suppose we have something like:
`class ConditionalListener<T> {
  final bool Function(T previousState, T nextState) condition;
  final void Function(T state) listener;

  ConditionalListener(this.condition, this.listener);
}`

I imagine using it like this:
Setup part:
` List<ConditionalListener<ShortOfferFeedbackState>> listen

[2022-01-25 09:40] ShivamMattoo33 opened #3169 "docs: Need Answer to Actual Explanation of when to use Bloc and Cubit"
Hi @felangel  I had some questions which I am struggling to get concrete answers to

1. A cubit can do everything a bloc can do except handle streams. Streams are used in our app in only 4-5 places. How do we know when to use Cubit and not Bloc?
2. Is it possible to define a standard for using Blocs or Cubits( eg. Use Blocs when end goal is Api calls but for everything else use Cubits)?
3. If Cubi

[2022-01-25 09:54] alvinvin00 commented on #3169
1. Cubit and Bloc are now 90% identical, basically Cubit is a Bloc without event transformer and traceability, I suggest you to start from Cubit and refactor later to Bloc if you have to
2. You can mix and match it since they extends BlocBase, i have done it in my app
3. I don't think there's a performance penalty when using Bloc, and you're allowed to use all Cubits in your app if you want to.
4.

[2022-01-25 10:28] UmairSaqibBhutta commented on #3163
@felangel thanks for your such great explanation through a little provided code.
But the issue is not in firing event as event is fired successfully.
But the scenario is that I want to update the data of profile on profile edit page. Profile data is showing on previous page and on next page it is edit profile page. I want to update previous page's data (profile's data) on profile edit. Therefore,

[2022-01-25 10:41] karvulf opened #3170 "Question: Using functionality of other Blocs"
**Description**

This question is kinda difficult for me to explain but I try my best.

My Problem

I have two blocs:
**AttachmentBloc**: The first bloc handles the logic picking multiple images.
**PermissionBloc**: This bloc is checking if the permission to access the images was accepted.

When I want to pick images, I add an event to my `PermissionBloc` to check the current state of the permissi

[2022-01-25 10:59] alestiago commented on #3163
Sorry @UmairSaqibBhutta that the provided code was not sufficient to solve the issue.

I kind of get the point, but could you provide minimal code that reproduces the issue so I can get the issue showing on my local machine?

[2022-01-25 13:10] muhammadarslannasr opened #3171 "Issue testing Hydrated Bloc"
Hi

I am new one in flutter facing issue adding code using flutter_bloc but when adding and it works fine but issue is its not working when checking offline means internet not connected.

I am getting data from api and get error (OS Error: No address associated with hostname, errno = 7).

My bloc code class is:

[code]

[2022-01-25 16:11] kauzige commented on #2915
I have the same error with @crefter

[2022-01-25 16:54] felangel commented on #2915
@crefter @kauzige `debounce` comes from [package:stream_transform](https://pub.dev/packages/stream_transform).

[2022-01-25 17:34] crefter commented on #2915
@felangel Thank you very much!

[2022-01-26 15:25] felangel commented on #3165
@PrabeshPP I'm not able to reproduce the issue unfortunately! Can you try uninstalling/reinstalling the bloc extension and/or uninstalling/reinstalling VSCode?

[2022-01-26 15:28] felangel commented on #3169
Hi @ShivamMattoo33 👋
Thanks for opening an issue!

Have you checked out the [Bloc vs. Cubit](https://bloclibrary.dev/#/coreconcepts?id=cubit-vs-bloc) section in the docs?

[2022-01-26 15:35] felangel commented on #3155
Hi @dzsonni 👋
You should be able to use a MultiBlocListener to achieve this:

[code]

Let me know if that helps 👍

[2022-01-26 15:38] felangel commented on #3088
This should be covered in the [naming conventions](https://bloclibrary.dev/#/blocnamingconventions?id=state-conventions) section of the documentation.

Closing for now but feel free to open a PR to enhance the documentation if you feel something is missing 👍

[2022-01-26 15:38] #3088 closed

[2022-01-26 23:27] felangel opened #3172 "feat: investigate use of Finalizer to detect/auto-close unclosed bloc instances"
**Description**

As a developer, it would be helpful to detect if a bloc was not properly closed when it becomes inaccessible to the program. This issue is to investigate the use of [Finalizer](https://master-api.flutter.dev/flutter/dart-core/Finalizer-class.html) within bloc to either detect or prevent blocs from not being properly closed when they are no longer accessible.

## Additional Context

[2022-01-27 08:48] cdprete opened #3174 "Question: how to call ancestor bloc from descendant"
Hi @felangel and thanks for this amazing library :)
I've an application which, within the body of a `Scaffold`, renders a list of items and the `FloatingActionButton` of such `Scaffold` is used to open a dialog which the user can use to add a new item.
In such scenario, I've at the moment 2 blocs: one for adding the new item and one for listing the available items in a paginated way.

I've the req

[2022-01-27 10:09] otto-dev commented on #1204
`RepositoryProvider` helps to properly divide the responsibilities in your codebase. Any complex repository with authorization, network connections etc. should only be instantiated once in the application.

The `Bloc` should not know how to instantiate and configure the Repository. The Widget should not know which Repositories the Bloc is going to use. `RepositoryProvider`  hides these details by

[2022-01-27 15:18] marcossevilla commented on #3174
hi @cdprete 👋  can you share a minimal reproducible sample of your code? you can use this [DartPad](https://dartpad.dev/?id=fdd369962f4ff6700a83c8a540fd6c4c) as starting code to share the sample 👍

[2022-01-27 16:05] #3155 closed

[2022-01-27 16:15] dzsonni commented on #3155
My initial reason for requesting for this feature is to remove the bloat that is MultiBlocListener. Not only does it deepen the tree for a screen it also has no support for providing blocs on the spot, requiring the use of BlocProviders. Also it adds a lot of bloat as the type of bloc and the type of state could be inferred. I will just try to use listenWhen to invoke the listeners on the spot as

[2022-01-27 16:30] felangel commented on #3155
`MultiBlocListener` adds a single level of indentation to the tree regardless of the number of listeners.

This is intentional because if the widget provided and consumed the bloc then you've tightly coupled the two and cannot easily test with a mock instance.

You can easily create your own widget as you mentioned and customize the behavior/public API as you see fit.

[2022-01-27 16:49] felangel commented on #3169
No problem! 😄

Yes I have read through this section and I understand Simplicity vs Traceability I guess let me rephrase my questions into 3 simple Questions basically to know your opinion

If you don't envision leveraging events for logging, analytics, etc. then I'd recommend using cubit since it's the simpler solution.

I think it's fine to mix them as long as there are clear reasons for when to

[2022-01-27 17:08] felangel commented on #3171
Hi @muhammadarslannasr 👋
Thanks for opening an issue!

Based on the error it seems the issue is within the `fetchPersonsApi` implementation. There isn't enough information to help beyond that so I'm closing for now but feel free to provide a reproduction sample if you're unable to resolve the issue and I'm happy to take a closer look 👍

[2022-01-27 17:08] #3171 closed

[2022-01-27 17:48] alestiago commented on #3067
A temporary solution would be to do as follows:

[code]

However, this results in a runtime issue. It would be technically a runtime issue for those users who are incorrectly using the API.

A better solution would be relying on custom lint rules. Hence this can be considered as *BLOCKED* until the [dart language supports custom lint rules](https://github.com/dart-lang/linter/issues/697).

[2022-01-27 17:54] cdprete commented on #3174
Hi @marcossevilla.
For what I know, it's not possible to import libraries in DartPad. Am I right?

If it's so, I'll prepare instead an example on GitHub that you could check out.

[2022-01-27 18:02] ShivamMattoo33 commented on #3169
That answers it Thanks @felangel

[2022-01-27 18:02] #3169 closed

[2022-01-27 20:08] cdprete commented on #3174
Hi @marcossevilla.
I've added the example code at https://github.com/cdprete/github_flutter_bloc_issue_3174 :)

[2022-01-28 12:03] akurnaz opened #3176 "feat(hydrated_bloc): Support Set collection type to store"
**Description**

When I use Set type, I am getting that error: **Converting object to an encodable object failed: _LinkedHashSet len:4**

**Desired Solution**

I want to use Set type to store acting like List.

Thanks for the package

[2022-01-28 14:32] br-allstreet opened #3177 "Question"
Is it possible to access a repository from the build context of a widget without that widget being built based on a bloc? Essentially, is there a way to call the equivalent of `context.read<MyRepository>()` without the BlocBuilder?

[2022-01-28 15:28] nivisi opened #3178 "Aren't states for builders and states for listeners conceptually different?"
Hello everyone. First of all, thank you for a great package!

I'm new to the bloc pattern, and I have a conceptual question about how `builders` and `listeners` work.

### TLDR

Why should we emit states for both building the UI (`builders`) and for navigation and showing dialogs (`listeners`)?

---

## The problem

Imagine we have a screen where a user can select or take a photo from the device a

[2022-01-28 15:44] BiswajitKrPaul opened #3179 "UI update not happening"
Hi
I am new in using bloc library with freezed package. I have a scenario where a list of objects is coming from API is displayed. Now the list tile has a Marked as Fav button and clicking upon it a event is trigged and fav bool is toggled and state is emitted.

The Issue :
The value of the object is changed but the UI is not updated accordingly.

Main.dart

[code]

Post.dart

[code]

bloc.dart

[

[2022-01-28 17:24] alexaung opened #3180 "Question to refresh other state"
I am stuck with one issue with bloc.

I have a screens, Artist list -> Albums-> Songs. If user click the player popup. On the player there is favourite button.

I have another set of screens Favourite Folder -> Songs.

I have Two blocs, favourite_folder_bloc and favourite_song_bloc.

The issue is that if user click the favourite button, bottom sheet will popup and there is list of existing favouri

[2022-01-28 18:51] br-allstreet commented on #2961
I am seeing the same issue, and can't seem to resolve it when following the advice in this thread. The issue comes up with using [Firebase's phone verification](https://firebase.flutter.dev/docs/auth/phone/#native-verifyphonenumber), which requires defining callbacks that I would like to emit() from.

[code]

When the `codeSent` callback gets hit, it throws the error:

[code]

Any guidance would b

[2022-01-28 19:06] felangel commented on #2961
Are you able to share a link to a minimal reproduction sample?

[2022-01-28 19:10] br-allstreet commented on #2961
Like a full bloc, or a full app?

Not sure how easy it will be to get all the firebase setup you need here from a full app.

Looks like someone else is facing the same issue with the same library:
https://github.com/felangel/bloc/issues/2784#issuecomment-1000334746

[2022-01-28 19:12] felangel commented on #2961
Ideally a simple app with the least amount of code needed to reproduce the issue.

[2022-01-28 19:20] br-allstreet commented on #2961
Will need some time on that. In the meantime, I can avoid the issue by defining and an `InternalEvent` type that carries the data I need to emit in those callbacks and defining a handler for the `InternalEvent` which does the emitting.

In the firebase callbacks, I can successfully `add()` the events in the same spot where I cannot `emit()` states.

[2022-01-28 20:51] diogosequeira94 opened #3181 "[Question] BLoC queues up events inside Timer.periodic"
**Description**

Hi guys!! I have a question, I'm trying to yield a state every 5 seconds using a Timer, I can see every 5 seconds my function body is executed but somehow my _TickCounter_ event gets queued (?) and is only triggered when my other async functions ends.

Is there a better way to achieve the result I want? I tried to read a bit about RxDart, but still not success.

Thanks in advance!

[2022-01-30 07:41] ultimate-tester commented on #3177
Hi there! Yes it's perfectly possible but you cannot use the extension method. Try this:

RepositoryProvider.of<T>(context)

[2022-01-30 07:44] ultimate-tester commented on #3180
As a beginner with bloc I'm stuck with the same question. Although the OP is very specific, the question basically boils down to how to update a state from within another screen where the bloc is not applicable.

Should the bloc just be provided to that screen as well and should a method be created inside the blog to signal an update? If yes, how can you prevent a full re-render but only do that f

[2022-01-30 07:50] ultimate-tester commented on #3179
I'm definitely not an expert here and there's probably a best approach here, but how I understand it there's two things:

- you should be using a stateLESS widget to begin with, otherwise you have 2 state managers mixed
- you are emitting the same state as the current one. I believe that bloc doesn't allow this. It uses equatable to determine the same state. You should emit the loading state at th

[2022-01-30 09:37] BiswajitKrPaul commented on #3179
Hi @ultimate-tester  Thanks for the reply. I have used stateless widget also but the issue exits with that also.
Also if I emit loading state after calling the favorite method the screen will be showing progress indicator which is not a desired output for end users.

** Also when I used Bloc without freezed with the same concept above the UI is updating as expected. Thus I am not able to find out

[2022-01-30 09:42] behong1999 commented on #2784
do you know why it worked? I did the same thing and it works thankfully but I don't know why

[2022-01-30 11:36] alexaung commented on #3180
Yes, it make sense. Just want to know how experience will deal with it. Anyway, we will change the design and will follow the bloc.

[2022-01-30 11:36] #3180 closed

[2022-01-30 12:21] alexaung commented on #3174
@cdprete how do you refresh the list. I also facing the same issue. I create two bloc, list and item. For work around, I merge two to one bloc, and at create new, I call the list state and add the new item and then emit create success and emit list state. For me it is working fine but I am not so sure, emitting two, create success and list loaded state is correct way or not.

[2022-01-30 13:32] savadmv commented on #2961
Here _**verifyPhoneNumber**_ wont be waiting for its callback functions (i.e  **verificationCompleted**, **verificationFailed**)

Use   `Completer<OtpModel> c = Completer<SignUpCodeState>();`

in you case

[code]

Hope this helps

[2022-01-30 13:53] Add00w commented on #3179
Change your model constructor to:
[code]
and your  on Event to
[code]

[2022-01-30 14:11] Add00w commented on #3163
The best way to get a quick solution is to provide minimal code that reproduces the issue.

[2022-01-30 15:32] BiswajitKrPaul commented on #3179
Thanks @Add00w for the solution. It worked perfectly. But can you please explain me why we need to make a new list again with the updated data other than updating the same list.

[2022-01-30 15:50] Add00w commented on #3179
I think it related to object comparison and if so you can extend Equatable package for your Post class and you wont need to create new object.

[2022-01-30 15:50] felangel commented on #2784
If you don’t await the input, then the handler completes right away and emit is called after the handler has completed.

[2022-01-30 18:21] cdprete commented on #3174
Hi. I didn't find a nice solution yet.

[2022-01-31 09:27] alestiago commented on #3181
Hi @diogosequeira94! Thank you for submitting an issue.

In order to be able to answer the question effectively, it would be nice to have minimal reproducible code. So that I get the error showing on my local machine. I'll recommend checking the documentation. Perhaps, [this](https://bloclibrary.dev/#/coreconcepts?id=state-changes-1) documentation section might help to resolve and understand your

[2022-02-01 01:09] #3141 closed

[2022-02-01 01:09] github-actions[bot] opened #3182 "[Translations] Update docs"
Update Translations to include changes from 8e2e8a519792b473dbef37d2103089c5adeba16a.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-02-01 01:10] #3179 closed

[2022-02-01 01:12] felangel commented on #3177
Hi @br-allstreet 👋
Thanks for opening an issue!

You can access a repository that was provided higher in the widget tree either via `RepositoryProvider.of<T>(context)` or `context.read<T>()` -- both syntaxes are functionally equivalent.

Let me know if that helps 👍

[2022-02-01 01:20] #3131 closed

[2022-02-01 01:33] felangel commented on #3157
Closing for now since it doesn't appear there are any actionable next steps. Feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-02-01 01:33] #3157 closed

[2022-02-01 01:34] felangel commented on #3164
Closing for now since there isn't a minimal reproduction sample and it doesn't appear there are any actionable next steps. Feel free to provide a link to a reproduction sample and I'm happy to continue the conversation 👍

[2022-02-01 01:34] #3164 closed

[2022-02-01 01:35] felangel commented on #3165
Closing for now since there aren't any actionable next steps. Let me know if you're still facing the issue after a reinstall and I'm happy to continue the conversation 👍

[2022-02-01 01:35] #3165 closed

[2022-02-01 02:54] github-actions[bot] opened #3191 "[Translations] Update docs"
Update Translations to include changes from 9f1c9c7f8cfc103a2689dd98143e95b8501dc03e.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-02-01 09:19] alestiago commented on #3084
Hi @purplenoodlesoop ! Thanks for this issue.

A major disadvantage is that including mixins might increase the complexity of the library significantly for newcomers. I believe it is easier to conceptualise a method such as `emit.OnEach` and `emit.ForEach` than a mixin for new developers. I do agree with @felangel , making use of this makes the code "less explicit/clear".

However, having said thi

[2022-02-01 11:35] alestiago opened #3192 "fix(docs): desktop sidebar toggle overlaps menu"
**Description**
The sidebar toggle (hamburger menu) has too much width on desktop devices and overlaps with the actual menu. This causes the user to accidentally collapse the menu when wishing to navigate to a new section.

**Steps To Reproduce**

1. Go to the [bloclibrary.dev](https://bloclibrary.dev/).
2. Click on the last visible menu item next to the sidebar toggle "icon".

<details>
<summary>

[2022-02-01 12:20] chonghorizons commented on #2938
@narcodico

I agree a lot. If I recall correctly, flow_builder only keeps one page mounted in the widget tree at once for the flow. And uses popAndPush to move between pages. So blocListener works well, because only one flow is mounted at once.

___

I sympathize with @eliudio 's frustration about navigation. There are many ways to do it. And it is a common gotcha for both new bloc users and flutt

[2022-02-01 12:26] narcodico commented on #2938
@chonghorizons flow builder keeps a stack of pages.

[2022-02-01 13:12] eliudio commented on #2938
@chonghorizons ... to be honest, I've completely given up on the idea of navigating from a widget and sadly instead I'm using navigation from the bloc. It's not ideal, but I can't spend time on this now. It works as it is, actually pretty good. Not sure why you suggest this has much to do with Google. Anyway... Maybe one day I'll have the time to dig deeper into this topic. For now, I've left it a

[2022-02-01 13:32] chonghorizons commented on #2938
@narcodico

Are they all mounted to the widget tree? I think only one is mounted at a time.

Example

If the stack is [a,b,c]

Widget tree has a when flow starts,
Then pop and push to get b,
Then pop and push to get c.

[2022-02-01 13:35] narcodico commented on #2938
@chonghorizons you control which pages are mounted with `onGeneratePages`

[2022-02-01 17:51] #3177 closed

[2022-02-01 21:44] ultimate-tester opened #3193 "feat: use-case for ListView<>child updates"
As a beginner to both Flutter and BloC I find it hard to sometimes implement my use cases correctly with it. It's very easy with BloC to have the feeling you're abusing the system instead of using it properly.

I think that a very common use-case would be to have a ListView with cards with simple information which on clicked will Navigate to another page with more details on this clicked item. Bot

[2022-02-02 01:32] Innocentkonan93 commented on #120
@ZillionCAdmin Thank you much man, I solved my issue with your tip.

[2022-02-02 09:49] diogosequeira94 commented on #3181
Hi @alestiago sorry for the late response!

I've tried out the code you shared and It does exactly what I was looking for, and can interpolate the different bloc states.

Just out of curiosity, I still tried to apply the same code structure you shared using the older package version I was using above (7.0.2) but still had the same result I described above.

I migrated my project to v8.0.0 and ever

[2022-02-02 10:46] mtouati opened #3194 "fix: Cubit Async Problem"
Hi
I try to use a simple counter with cubit and a delayed function. The tracking of the variable (index) is OK but on the text widget with same variable the value is skipped or ignored.

Thanks

![Screenshot_1643797264](https://user-images.githubusercontent.com/27012472/152135915-de2000ea-7d14-4551-bc6d-e558bfaf4f0c.png)
[https://github.com/mtouati/jad](url)

[2022-02-02 13:13] alestiago commented on #3181
Thanks for the reply @diogosequeira94 ! I'm glad to hear the above solution has worked like a charm.

If you have some minimal reproductive code I can have a look at version 7.0.2 I'm willing to have a look.

[2022-02-02 15:47] sramac2 commented on #2952
I just wanted to ask, If there is a way to implement hydrated bloc for the web as well which is awesome, can you update the package to say it supports the web as well, or still, it needs work to update it?

[2022-02-03 05:08] josiahsrc opened #3195 "feat: ability to remove event handlers"
**Description**

I often need a way to test if events are properly added as a result of listening to a stream. For example:

[code]

In this example, I'd want to write a test to make sure that the `SubscribeToStream` adds `AnotherEvent` events when the stream changes. This, however, doesn't seem to be possible unless I also test the business logic in the `AnotherEvent` handler.

**Desired Solution

[2022-02-03 13:55] novas1r1 commented on #1703
Same for me. I only could fix it by emitting another state before the state with the changed list.

[2022-02-03 17:03] marcossevilla commented on #3195
hey @josiahsrc! I would advice to take a look at the flutter_timer example, [here](https://github.com/felangel/bloc/blob/9f1c9c7f8cfc103a2689dd98143e95b8501dc03e/examples/flutter_timer/lib/timer/bloc/timer_bloc.dart#L36) you have a way to subscribe your bloc to a `StreamSubscription` and structure your events in a better way.

Take a look and let me know if that helps. 👍

[2022-02-03 19:38] josiahsrc commented on #3195
Hi @marcossevilla , thanks for the quick response. The timer example presents a similar issue, the issue being that it's difficult to test if a bloc correctly adds events based on a stream's changes.

In the timer example, events are added and handled, but there is no way to test the "Is this event added when the stream changes" logic in isolation. E.g.

[code]

With the current system, we would h

[2022-02-03 20:04] marcossevilla commented on #3195
@josiahsrc oh I get what you mean, you should be able to mock the duration and set it to emit {count} values and then use blocTest's verify method to see if add was called {count} times with the right event.

Have you tried that already?

[2022-02-03 20:44] felangel commented on #3195
I'd also add that usually these events are "internal" and you generally should make the private and avoid exposing them if they are only going to be added from within the bloc. In those cases, you shouldn't need to verify that the internal event was added because that's an implementation detail -- instead you should aim to write tests that verify the end behavior of the bloc (the correct states we

[2022-02-03 20:56] josiahsrc commented on #3195
Thanks @marcossevilla , I'll look into that. @felangel I hadn't considered that perspective before, but that makes thinking about these tests a bit easier. I think I'll go for that approach. Thanks all!

Closing this issue since its addition would break some paradigms in the bloc pattern.

[2022-02-03 20:56] #3195 closed

[2022-02-03 21:25] BiswajitKrPaul opened #3196 "Flutter Bloc documentations for using Freezed Bloc examples."
The Documentation is really great with the examples given in site. Can you guys also include some good examples for using Bloc with Freezed package?

[2022-02-04 07:48] akurnaz commented on #3176
Hi @felangel
Sorry for late answer

Here is an example with Set:
[https://github.com/akurnaz/hydrated_bloc_set_example](url)

I am not sure Hive supports set type. [https://github.com/hivedb/hive/pull/363](url)

[2022-02-04 11:03] comatory opened #3197 "fix: `BlocBuilder` builder callback called only once even if emit was called twice in BLoC handler."
**Description**

When I have a async handler for an event and that handler calls `emit` twice right after each other, it seems like only the final emitted state is received by `BlocBuilder`.
If there is some kind of delay with `await`, then the behaviour is correct and state is emitted for each `emit` call.

**Steps To Reproduce**

1. Go to [my gist](https://gist.github.com/comatory/c1bd789802312b

[2022-02-04 12:03] interpre opened #3198 "fix: Stream.Listen is getting called multiple times"
**Description**
The bloc I currently *listen* gets *listen* again once I come back to the screen.

**Steps To Reproduce**
This is what I have on my screen.
[code]
Once I go to another screen and return to this screen and add new events, the print statement *('listening to bloc')* will be called twice.

**Expected Behavior**
Since I always initialize myBloc, I expected it to print the statement onl

[2022-02-04 13:21] bartekpacia commented on #3178
@nivisi We encountered a similar problem at LeanCode and created a package to battle it :) https://pub.dev/packages/bloc_presentation

[2022-02-04 13:25] Arthur-Zaripov opened #3199 "Best practice to use Inheritance or Composition for Bloc (Cubit) reusability"
**Description**
Hello everyone! First of all i apologize for opening a new topic. But after scrolling a lot of closed issues...
#2780
#1806
#1631...
... i still did not understand how to inherit Cubit (Bloc) from another one.

In practice, you often need to add new functionality to the Cubit (Bloc). How to properly extend the functionality of the existing cubit (bloc)?

For example we have DataTab

[2022-02-04 14:35] felangel commented on #3197
Hi @comatory 👋
Thanks for opening an issue!

I believe this is a duplicate of #2260. Let me know if that helps 👍

[2022-02-04 14:47] comatory commented on #3197
Yes that looks like it and I read the replies:

Mmm, whaat? 😮

Do I understand correctly that this is a limitation of Flutter?

[2022-02-04 14:57] popay34 opened #3200 "Using generics if Bloc has different entities but the same logic"
Hello, everyone! First of all I want to thank whole Bloc team for such an amazing library!

As already noted in this topic #1631, using generic types of Entities in Bloc (Cubit) can be problematic.

I have a small water delivery service. We deliver water to apartments and offices. I am not a professional programmer myself, but I was able to learn Dart and Flutter in a couple of years. This knowled

[2022-02-04 15:38] felangel commented on #3197
If you emit more than 60fps then you can't render a frame for each state. Instead you should aggregate the data if all pieces of data are critical or you can throttle the bloc to only emit at 60fps.

[2022-02-05 08:46] comatory commented on #3197
OK but is this a limitation of Flutter framework or just way this lib was designed?

Aggregating data seems like a technical detail I don't really want to deal with. How would I throttle the bloc?

[2022-02-05 11:44] iamarnas opened #3201 "docs: Bug in the example Firebase Login"
I building my own firebase login package based on this example for myself like many other peoples. And I discovered that user `Stream` in the authentication repository does not work as expected. `_firebaseAuth.authStateChanges()` should be changed to the `_firebaseAuth.userChanges()`

[code]
`userChanges()` is for listening to real-time updates to the user state (signed-in, signed-out, different u

[2022-02-06 11:47] AmineLAHRIM commented on #3179
@Add00w extend Equatable will not solve the issue, try it. and if you deep dive into operator func of Equatable you find
is checking identical(this, other) first so operator func will return true.

[2022-02-06 13:01] #3198 closed

[2022-02-06 13:01] interpre commented on #3198
I found the issue. I can use StreamSubscription as advice in SO. Thanks!

[2022-02-06 23:49] federicodesia commented on #2441
Hi! I have a similar problem.
I'd be glad if @narcodico or someone could help me.

I have the following events:
[code]

And I'm grouping them as mentioned in #3143 to apply an EventTransformer to all events. I am looking for the user to be able to add any type of `MyEvent` in any order, and have them execute in a specific order sequentially after a 5 second debounce time.

Suppose the user enters

[2022-02-07 17:23] nivisi commented on #3178
@felangel any chance to have a look at this one?

[2022-02-07 18:07] felangel commented on #3163
Closing for now since there is no minimal reproduction sample. Feel free to provide a link to one and I'm happy to take a closer look 👍

[2022-02-07 18:08] felangel commented on #3197
You can provide a custom event transformer and apply a throttle from something like package:rxdart or package:stream_transform.

[2022-02-07 18:16] felangel commented on #3181
Closing for now since there is no minimal reproduction sample. Feel free to provide a link to one and I'm happy to continue the conversation 👍

[2022-02-07 20:44] felangel commented on #3178
Hi @nivisi 👋
Thanks for opening an issue and sorry for the delayed response!

A bloc/cubit manage a single piece of state which can change over time. The shape of that state and how the UI reacts to changes in that state are totally up to you as a developer. In the case you've described, I'd highly recommend breaking your bloc/cubit into two (one to manage the state of the photo selection and one

[2022-02-07 23:21] felangel commented on #3193
Hi @ultimate-tester 👋
Thanks for opening an issue!

I highly recommend having a bloc manage the state of the list view and a separate bloc to manage the state of the details view. Each bloc can subscribe to a stream of posts from a common PostRepository and can toggle the favorite status of an individual post through the PostRepository. This will ensure that favoriting a post on either page will p

[2022-02-08 00:40] Gene-Dana commented on #3200
Hi there! You are treading in super opinionated territory, and seeing that you value our feedback I'm really glad you too the time to raise this issue and field our opinions on these matters.

So there is some finer points that the documentation has avoided discussing as some things are just not in our scope.

One of the big understated things in my opinion is the 'One bloc/cubit per feature' mant

[2022-02-08 00:52] Gene-Dana commented on #3194
How come you use 'context1'

First thing I'd suggest is to use the same context - it seems like you provided the processCubit in a separate context than the builder you are BLoC building from

[2022-02-08 03:47] UmairSaqibBhutta commented on #3163
@felangel sorry for being late...
That problem was resolved and I forgot to close it. But if again the issue arises I will comment here.
Thanks so much...

[2022-02-08 05:24] nehal076 commented on #499
Why was this closed? I have the same doubt. How can I use PageController with a bloc

[2022-02-08 05:37] nivisi commented on #3178
@felangel your explanation makes it clear and I agree. We don't need to change our blocs if we need to apply changes to the UI layer.

Plus, I had a chance to work with Bloc more closely during last week. Now I think I'm not confused with "why my data should be nullable in the `Selected` state" :)

So, in general, using a custom state to listen for it and navigate if it's emitted — is a good stand

[2022-02-08 08:01] ultimate-tester commented on #3193
HI felangel, thanks a lot for commenting that really helps. I have a few follow-up questions if that's alright:

* Am I right in understanding that whenever a Todo is saved, the full list of Todo's is sent over the stream again? Wouldn't it be more optimal to just sent the one changed Todo over the stream for updating and e.g. the listener BLoC has to find whether the Todo is part of its state and

[2022-02-08 12:26] mtouati commented on #3194
Thank you **Gene-Dana** for your suggestion. But it doesn't resolve this problem! It still, after a while,  bypass or ignore some value in the index although the value is correct with a _**print**_ command.

[2022-02-08 17:54] ismailfarisi opened #3214 "fix: state not changing in a multi page bloc instance"
**Description**
I have shared bloc instance via argument and used provider.value to create the bloc in the second page
when the event is called under the build method but the bloc state is not changing in the first time but if I pop back to first page and go to second page the state change occurs

the ontransition bloc observer is triggered but not onChanged

[2022-02-08 18:00] #3214 closed

[2022-02-08 21:18] pmartelletti opened #3216 "[Question] How to model Repositories for children resources?"
Hi @felangel and team!

First of all, I just wanted to thank you for the great effort you guys have done (and continue doing) in maintaining this project. It's amazing!

Secondly, I wanted to ask a question which I'm not sure has a right or wrong answer - or even if Github is the correct place to ask for it (if it's not, please feel free to direct me to the correct one).

So, I've been reading the

[2022-02-08 23:09] felangel commented on #3197
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-02-08 23:09] #3197 closed

[2022-02-08 23:31] Gene-Dana commented on #3194
Okay let me take a deeper look at this

[2022-02-09 00:09] AdrienDelgado commented on #2108
Would you have an updated version of ```
when(storage.write(any, any)).thenAnswer((_) async {});
      HydratedBloc.storage = storage;
[code]

[2022-02-09 13:32] l-borkowski opened #3218 "[question]: null check when using whenListen"
**Description**
I'm trying to test bloc listener that navigates to different page when state changes

[code]

**Expected Behavior**
Testable widget is pumped up, then after tester pump page changes and expect checks it

**Screenshots**
![image](https://user-images.githubusercontent.com/79083099/153210637-c5c59f6b-5d95-4038-9e37-5c2243efee02.png)

**Additional Context**
From my conclusions there's

[2022-02-09 13:59] popay34 commented on #3200
Hello @Gene-Dana! Thank you for your detailed answer! So based on recommendation "one bloc per feature", what is considered an feature? There are 2 possible options:

[code]
[code]
Here enother example.  Simple Cubit for loading or watching entities.
[code]

I'm not sure that such a concept as "Presentation logic" would be appropriate, but I hope you will understand what I will say next. In my opi

[2022-02-09 18:37] elianortega opened #3219 "docs(hydrated_bloc): Pub.dev does not include Web as supported platform"
**Description**

The pub.dev website for [hydrated_bloc](https://pub.dev/packages/hydrated_bloc) does not include `Web` as a supported platform

![Screen Shot 2022-02-09 at 12 36 22](https://user-images.githubusercontent.com/54898038/153267495-69aededc-904a-4acb-a98f-6a9e1d8ed6c1.png)

[2022-02-09 23:04] hateshkumar commented on #2282
@PaulVipond  did you find any work around for that?

[2022-02-10 05:18] babaosoftware commented on #120
You're a life saver. I had no idea BlocProvider closes the bloc automatically. I guess I never shared it before between multiple pages, so it didn't matter.

[2022-02-10 07:07] vvanm opened #3221 "How might we correctly use inherited/abstract events?"
**Description**
I'm trying to make bloc inheritance work to re-use some of the events that apply to multiple types of blocs

**Steps To Reproduce**

[code]

This throws erors on the CowBloc when using it in the blocbuilder

`'CowBloc' doesn't conform to the bound 'StateStreamable<CowState>' of the type parameter 'B'.
Try using a type that is or is a subclass of 'StateStreamable<CowState>'.`

Repro

[2022-02-10 10:53] PlugFox commented on #3221
Mutable state payload
[code]

BLoC created at BlocBuilder during build pipeline inside StatelessWidget
[code]

And finally this one perfect code with generics
[code]

Well done! Excellent work!

[2022-02-10 10:55] PlugFox commented on #3221
You have the bug (multiple, by the way) inside your own code.

[2022-02-10 17:00] marcossevilla commented on #3218
hey @l-borkowski 👋

can you try changing your `whenListen` to:

[code]
and remove `when(() => loginCubit.state).thenReturn(LoginState.initial());`?

[2022-02-10 17:29] l-borkowski commented on #3218
Hey
unfortunately, nothing changed at all, I've moved testable widget here to make it more readable

![image](https://user-images.githubusercontent.com/79083099/153461932-cd212656-f551-46ff-bf67-1acd6b5e22be.png)

I think I can also share some code from LoginView, I don't think it will helpfull but maybe cause it's basic listener but I guess it won't hurt 😅
[code]

[2022-02-10 17:41] l-borkowski commented on #3218
Ahh, after changing to
[code]
the exception seems to be gone, but unfortunately in this case state always stays the same, cause after adding a couple of debug prints `state.isLogged` is always false, like `whenListen` never emitted a new state

[2022-02-10 19:57] marcossevilla commented on #3218
just tried with the code you shared in a new project and the test passes (bottom image), is the test passing for you? maybe you're omitting another part of the code, some dependency on those widgets? I'm thinking maybe there's another dependency that you're not mocking?

![Screen Shot 2022-02-10 at 1 51 03 PM](https://user-images.githubusercontent.com/31174242/153485629-ade5902c-0ae2-475e-aea6-019

[2022-02-10 21:15] Hasankanso opened #3222 "Why BlocBuilder context can't access the bloc passed in the bloc attribute?"
it's good that we can instantiate a Bloc/Cubit using the BlocBuilder Widget as following:

[code]

however, it's impossible to call a method from the UserCubit as following:

[code]
I get the error:

[code]
Why `blocContext` doesn't contain the `UserCubit`? and how I can access the cubit in that case? Am I forced to separate  `BlocProvider(create :...)` and `BlocBuilder` in two different `build` m

[2022-02-11 00:20] federicodesia commented on #2633
Hi, I have the same problem. Is there any update on this?

[2022-02-11 11:23] jackDev90 opened #3223 "Flutter Bloc is not updating the state/ not working"
Hi,

Am currently developing a mobile application with flutter and am using the bloc package (https://pub.dev/packages/bloc) for managing and setting up the bloc. But when the state change it is not updating the widgets or views.

login_state.dart

[code]

login_event.dart

[code]
[code]