[2022-07-12 16:07] vasilich6107 opened #3431 "chore: Bloc does not force us to add generic parameters."
**Description**

Hi. Previously there was a need to add `generic` parmas when specifying `BlocBuilder<CubitType, StateType>`.
But now analyzer is not highlighting the error.
I suppose it is caused by having `B extends StateStreamable<S>` on generic type?
In this case if we use
[code]
we'll get an error `Error: Could not find the correct Provider<StateStreamable<Object?>>`

Do we have any option to

[2022-07-13 06:32] alexursul commented on #3430
Hi, I'm not sure it's a perfect approach, but you can do it like this:

[code]

[2022-07-13 07:14] abuzar-rasool commented on #3430
@alexursul Thanks for this! I have already done it via this method. However, it doesn't follow the recommended approach for listing to stream in flutter_bloc v8.x.x. I have to keep the code consistent throughout the project. Also, my streams are dependent on the data from the previous stream. In the above case if(serviceStatus==ServiceStatus.enabled) only then I will be listing to permissionStream

[2022-07-13 07:16] abuzar-rasool commented on #3430
@felangel do you have any solution in mind for this? Thanks

[2022-07-13 07:58] minhdanh commented on #3244
I think it's not a problem with `BlocProvider.value` but with the way the bloc is created outside of BlocProvider().
If I add:
[code]
I'll also have the error when hot reloading. Still investigating

[2022-07-13 08:02] aaassseee commented on #3244
@minhdanh May I ask what is the use case with init cubit outside of BlocProvider? I think this is anti pattern with bloc design spec.

[2022-07-13 08:08] minhdanh commented on #3244
@aaassseee What I'm trying to do is to reuse a bloc I declared (bloc 1), and pass it to another bloc (bloc 2) so that in bloc 2 I can listen for the events of bloc 1 and react accordingly.
Please see following example:

[code]
Is there any problem with this approach? :sweat_smile:

[2022-07-13 08:57] minhdanh commented on #3244
@aaassseee Thank you so much. I changed my code like you suggested:
[code]
Now I don't have the error when reloading any more.

Best regards!

[2022-07-13 09:02] aaassseee commented on #3244
@minhdanh Happy to help

[2022-07-13 10:29] joaofyz opened #3432 "question: listener does not catch the first state transition"
I'm using a Cubit in my app and I'm struggling to understand one behavior.

I have a list of products and when I open the product detail screen I want to have a "blank" screen with a loading indicator until receiving the data to populate the layout, but the loading indicator is not being triggered in the listener.

I'm using a BlocConsumer and i'm making the request in the builder when catching th

[2022-07-13 16:20] Elbarqy opened #3433 "build: Error: 'uthrow' isn't a type uthrow FlutterError("
**Description**

it used to work on previous commits but when I rebuild the app everything fell apart.. I tried reverting the commits but it still failed.. I even re-installed flutter but any package that uses blocProvider instantly fails with that error message

Describe what changes need to be done to the build system and why
[code]
I have also cloned online repo and it fails to build with the s

[2022-07-13 16:45] #3433 closed

[2022-07-13 18:56] FaazAbidi commented on #3430
I'm facing exactly the same issue. Been stuck on it for a while now. Any help @felangel ?

[2022-07-13 22:46] Gene-Dana commented on #3429
Hi there ! Are you reading this document here?

https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication

[2022-07-13 22:51] Gene-Dana commented on #3432
Hi there ! May you share with us the code where you provide the ProductCubit?

[2022-07-14 06:43] joaofyz commented on #3432
Hello @Gene-Dana . I have updated the example, we use a CubitFactory and we get if when creating the state. I hope this can help.

[2022-07-14 13:55] sahilrewaatechverge commented on #3429
Yes, I already read this document, but I am not able to find solution of my problem, so to resolve the problem re-install Flutter in system and my problem is gone.

[2022-07-14 14:25] #3429 closed

[2022-07-14 17:06] ajinkya446 commented on #3372
**Could you please share some code snippet for reference.**

[2022-07-15 07:15] alexursul commented on #3428
Oh I've found my problem. Forgot to specify enum type. Sorry.
[code]

[2022-07-15 07:15] #3428 closed

[2022-07-15 07:16] mstfkhazaal commented on #3396
I used the method inside the timer example
https://bloclibrary.dev/#/fluttertimertutorial

[2022-07-15 07:16] #3396 closed

[2022-07-15 08:28] joaofyz commented on #3432
Unfortunately I'm not allowed to share the repo, but I will try to mount a demo repo to reproduce the same behavior and share it here.

[2022-07-15 14:39] fahadappguy commented on #1427
`aslkfjalsdkfja lsdkjf alsdf`

[2022-07-16 04:35] MHKalantarian opened #3434 "HydratedBloc not firing BlocConsumer listener at first"
I have a bloc for user that keeps state of user, I managed to save state of user for being loaded and works at first but when I open the app again, listener is not fired to reroute user to another screen but state in builder is correct.

**I want a way to fire listener with UserLoggedIn state on hydratedbloc loading**

    return BlocConsumer<UserBloc, UserState>(
      listener: (context, state)

[2022-07-16 09:52] logic-and-math opened #3435 "Question | Bloc concurrency | Can an event belong to multiple buckets"
I have the following events:
[code]

Now I want that only 1 of Event1OrOther can be  processed at the same time(so i would use droppable transformer).
But at the same time I would like events that inherit Other(Event2, Event3) to be processed sequentially.
Is this possible with bloc concurrency?

[2022-07-16 22:37] data987 opened #3436 "fix: HydratedBloc clear is working but I can not remove the data in the state"
**Description**
Hi felangel, I'm trying to use different approaches to clean the cache but nothing works and I don't know if i'm doing something wrong

**Steps To Reproduce**

1. the first attempt into a widget to clean:

[code]

2. second attempt into hydratedBloc class :

[code]

3. third one

[code]

It's like the storage is cleared because I reload the app and it keeps logging out but as soon

[2022-07-17 12:51] SvintXprecious commented on #430
@felangel Hey I'm creating an ecommerce app. However,I have implemented the checkout bloc which pushes the order to firestore but the cart state still remains after checking out and the once the user tries to check out again the previous checkout state is not disposed.Any way to clear the state of a bloc?

[2022-07-17 17:17] felangel commented on #430
@SvintXprecious I highly recommend scoping your bloc lower in the widget tree so that is can be automatically disposed when it’s no longer needed. This way you don’t need to manually add a reset event. Hope that helps!

[2022-07-18 10:50] ShahzadUmarBaig commented on #502
This just helped me with bloc being disposed of as soon as the screen is popped, cheers man!

[2022-07-18 18:30] BeatriceMitchell commented on #3406
Preferably, there will be one PR per item on the list.

[2022-07-19 04:40] Omar-Qalei opened #3437 "fix: BlocProvider.of() called with a context that does not contain a ScreenBloc [showDialog] method"
How does a Bloc context fit inside the showDialog when I used a screen-wide BlocProvider?

Error: BlocProvider.of() called with a context that does not contain a ScreenBloc [showDialog] method

[code]

[2022-07-19 04:58] felangel commented on #3437
HI @Omar-Qalei 👋
Thanks for opening an issue!

This is a duplicate of https://github.com/felangel/bloc/issues/2215. You need to provide the bloc to the dialog via `BlocProvider.value`. Hope that helps 👍

[2022-07-19 04:58] #3437 closed

[2022-07-20 05:03] Omar-Qalei commented on #3437
Why must be using more than one Bloc Provider in the same context?

[2022-07-20 06:20] mstfkhazaal opened #3439 "Question: Check Event Complete"
Auth Bloc
[code]
Event

[code]
In View Call:
`     context.read<AuthBloc>().add(AuthLoggedOut());`

### How Can run code after **AuthLoggedOut** Completed?

**Example:**
[code]

[2022-07-20 09:04] farisbasha commented on #3244
wha

What about when using get_it injection for bloc... i still have this annoying storage error🥲🥲

[2022-07-20 09:36] farisbasha commented on #3244
`HydratedBlocOverrides.runZoned(
        () async => runApp(await builder()),
        blocObserver: AppBlocObserver(),
        createStorage: () async {
          WidgetsFlutterBinding.ensureInitialized();
          await SystemChrome.setPreferredOrientations([
            DeviceOrientation.portraitDown,
            DeviceOrientation.portraitUp,
          ]);
          getIt.registerSingleton<AppR

[2022-07-20 13:12] tijanirf opened #3440 "Question: call `whenListen` multiple times on the same cubit for integration test isn't working?"
**Description**
I need to stub a mock cubit in my integration test to handle navigation on `BlocListener`, so I use`whenListen` to return `AState` and it is working. But later on in the same test case, I need to stub that cubit to return `BState` to handle another behavior on the `BlocListener` but it is not working.

**Steps To Reproduce**

[code]

This is the `BlocListener` on the main app (insi

[2022-07-20 14:40] aaassseee commented on #3244
@farisbasha It feels anti pattern to me. Can you show me more code about where you construct the bloc with get_it? I didn't see where you init the bloc, for example CoreBloc. Also, if you show me a runnable example would help me a lot.

[2022-07-21 04:36] tijanirf commented on #3440
I found a workaround for my specific case, I ended up borrowing the original `whenListen` code and giving it a modification

`when_listen.dart` from the package
[code]

My test implementation:
[code]

Is my approach anti-pattern? If it's ok maybe I could create PR for allowing `whenListen()` to receive the optional `StreamController` parameter for more granular control

[2022-07-21 13:41] github-actions[bot] opened #3442 "[Translations] Update docs"
Update Translations to include changes from f50c6e9652b7021c825aca549c324431a3f666c7.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-07-21 13:43] felangel commented on #3440
Hi @tijanirf 👋
Thanks for opening an issue!

`whenListen` should already be able to accept a stream from a StreamController for granular control:

[code]

Let me know if that helps 👍

[2022-07-21 13:45] felangel commented on #3439
Hi @mstfkhazaal 👋
Thanks for opening an issue!

If you really want to be able to do this, then I recommend using a cubit which returns a Future<void> that you can await. Otherwise, you should generally use a BlocListener to react to state changes:

[code]

Hope that helps 👍

[2022-07-21 13:45] #3439 closed

[2022-07-21 13:47] felangel commented on #3432
Hi @joaofyz 👋
Thanks for opening an issue!

This is working as expected -- BlocListener listens for state changes. If the BlocListener is mounted later, then it's likely that the BlocListener has missed the initial state change.

[2022-07-21 13:48] felangel commented on #3414
Hi @vadrian89 👋
Thanks for opening an issue!

Can you please share a link to a minimal reproduction sample? Thanks! 🙏

[2022-07-21 14:56] tijanirf commented on #3440
Hi @felangel,

How could I didn't think of that, silly me! I think your solution will works, thanks for the help ✌️

[2022-07-21 14:56] #3440 closed

[2022-07-21 16:16] joaofyz commented on #3432
Thanks @felangel

I was already expecting to not receive de ApplicationInitialState in the listener, but I thought that from that state on, it will catch all state changes.

When you say "If the BlocListener is mounted later...", there's any way of ensuring the listener is mounted before these state changes occurs?

[2022-07-22 14:38] Gene-Dana commented on #3437
Hi there 👋🏼 Is this a scenario where you are using bloc to control UI? How come you cannot use simply use `SetState` if you want to pop one the value of 'Yes'?

[2022-07-23 11:55] lsaudon opened #3443 "feat: Use Melos"
**Description**

Use [Melos ](https://melos.invertase.dev/)(A tool for managing Dart projects with multiple packages.)

**Desired Solution**

Setup [Melos](https://melos.invertase.dev/)

[2022-07-23 11:59] felangel commented on #3443
Hi @lsaudon 👋
Thanks for opening an issue!

I personally prefer to keep things as simple/vanilla as possible. I haven’t really had any issues with the current setup.

[2022-07-23 13:02] #3443 closed

[2022-07-25 19:09] kyuberi opened #3445 "question: Why emit.forEach() doesn't persist the state of the bloc in this case?"
Simplified example using a Todo App approach where data is submitted from different pages and bloc reacts to it subscribing to a stream.

**View**, I have four pages.
[code]

**Logic**, I have four blocs. `CollectionBloc` which subscribes to a stream of data using `Hive` and it is supposed to emit states every time there is an update in the repository. Also, `EditTodoBloc` and `ActionBloc` which s

[2022-07-26 09:41] PlugFox opened #3446 "refactor: expose BlocListenerSingleChildWidget"
Right now package export
[code]

but doesn't expose `BlocListenerSingleChildWidget` interface

[2022-07-26 13:25] felangel commented on #3446
Hi @PlugFox 👋
Thanks for opening an issue!

Can you provide more context regarding why you want that interface exposed? BlocListener applies it as a `mixin` so if you want to type your list of listeners you can use `BlocListener`.

[2022-07-26 20:58] tyler-jewell commented on #2257
Here is my `implementation` of this for testing my model's "fromDocument" function:

[code]

My model looks like this:

[code]

[2022-07-27 03:49] zcapshaw opened #3455 "question: Using emit.forEach results in "Bad state: Stream has already been listened to" exception"
**Description**

Hey Flutter team. I could use some help debugging the code below.

I'm trying to use `emit.forEach` to listen to a data stream from a Repository, and emit a state change in response. Below is the event handler code in my BloC.

Currently, when the `GetLInkToken` event is triggered, everything works as expected the _first time_.
But if a user taps the button a 2nd time, I get an fl

[2022-07-27 05:08] akshaynjarangal opened #3456 "perf: MediaQuery.of.(context) conflict with BlocBuilder BuildContext"
**Description**

Hello @felangel  , We flutter developers want to fix the conflit issue of `flutter_bloc` in use of `MediaQuery.of.(context)` in the widget tree , when using the `MediaQuery.of.(context)` inside of Widget Tree , The Total Scaffold widget rebuild multiple times, instead of use with Transform.scale, we can't get errors.

[2022-07-27 15:14] #3006 closed

[2022-07-27 17:25] zcapshaw commented on #3455
**Edit:** I may have solved my own problem, so I'll close this issue.

For anyone who runs into the same problem:
The solution was to split up the logic above into multiple events + handlers. One event dedicated to creating the stream subscription, **which only fires once** on page load. And a separate event to handle the user action, which can occur multiple times.

Example:
[code]

[2022-07-27 17:25] #3455 closed

[2022-07-28 14:24] Gene-Dana commented on #3456
Hi there 👋🏼 Widgets rebuild constantly, that's the idea behind a declarative UI, and we use bloc as a means to simplify our understanding of all this. Why are you using `MediaQuery?` To get the size of the screen for your widgets?

[2022-07-28 14:33] Gene-Dana commented on #3445
Hi there 👋🏼 I compared your code to the code from the todos example  and the one thing I noticed is that **there is no return** in the flutter todo example - this is a `Future<void>`, right?

https://github.com/felangel/bloc/blob/a99eefe91f2c66b770abeb2b03569f69058520d3/examples/flutter_todos/lib/todos_overview/bloc/todos_overview_bloc.dart#L25-L41

Is this what you are looking for?

[code]

[2022-07-28 20:47] kyuberi commented on #3445
Not exactly. I think the `return` missing is not a problem because both expressions are equivalent.

The problem is that in `PageB2` when I watch the todos of `CollectionBloc`:
[code]
It doesn't get called even though the repository has been updated in `PageC`.
` await emit.forEach<List<Todo>>(...)` is executed but then it's not emitting the new todos listened from the repository.

A workaround th

[2022-07-29 04:45] Ashok-Kumawat opened #3462 "fix: Flutter test issue"
The issue here is while testing, the real instance of bloc works fine but doesn't work when we use the mockBloc instance. the error through is ===== asynchronous gap ========= and no states are emitted by the bloc during testing.

I understand that the bloc currently doesn't do anything much except taking in an event and returning an updated state back, however the difference in testing requiremen

[2022-07-29 04:52] #3462 closed

[2022-07-29 04:52] Ashok-Kumawat commented on #3462
found the error

[2022-07-29 05:06] akshaynjarangal commented on #3456
MediaQuery for other Widget, like logo responsive  sizing , container responsive design

[2022-07-29 14:17] felangel commented on #3456
Hi @akshaynjarangal 👋
Thanks for opening an issue!

Are you able to share a link to a DartPad that reproduces the issue? This doesn't sound like a flutter_bloc issue. When you use `MediaQuery.of(context)` you are marking that widget as dependent on the MediaQuery which will trigger rebuilds for a variety of reasons. I'm guessing if you remove flutter_bloc from the equation you will still experienc

[2022-07-30 17:04] nixmove opened #3463 "Question: Good pratices or bad"
I'm new to flutter and just started fluttering with your awesome lib,

I have a fairly simple question, is it a good practice to call an event in the same block with add()?

exemple
[code]

Thanks for your help

[2022-07-30 17:05] felangel commented on #3463
Hi @nixmove 👋
Thanks for opening an issue!

Yeah in my opinion that's totally fine but I do recommend making that event private to make it clear it's only being used internally. Hope that helps and thanks for the support! 👍

[2022-07-30 17:15] nixmove commented on #3463
thank you very much for the quick response @felangel :)

[2022-07-30 17:15] #3463 closed

[2022-07-31 03:09] felangel commented on #3456
Closing for now since there aren't any actionable next steps. Feel free to provide a link to a minimal reproduction sample and I'm happy to take a closer look 👍

[2022-07-31 03:09] #3456 closed

[2022-07-31 03:11] felangel commented on #3432
The only way to ensure the listener is mounted before the changes occur is to move the `BlocListener` right under the `BlocProvider`.

Hope that helps, closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2022-07-31 03:11] #3432 closed

[2022-07-31 11:37] ybin0823 opened #3464 "refactor: support onListen method"
Hi felangel!. I found a issue while writing a sample comparing pure StreamController and bloc.

**Description**

Since StreamController is private there is no way to pass `onListen`.
[code]

[code]

For Example,
[code]

I'd like to use

[code]

https://api.dart.dev/stable/2.17.6/dart-async/StreamController/StreamController.broadcast.html

It would be nice if a function to emit an event when the st

[2022-08-01 13:53] petrnymsa opened #3465 "feat: bloc_test: toPrettyString optional"
**Description**

We are runinng tests in CI environment and trying to convert flutter test results into JUnit.xml format in order to display test results in CI environment (Azure DevOPS, but in Gitlab for instance it is similar).

However Tests suite JUnit.xml format using XML version 1.0 which forbids to use some special characters such as escape characters for colors.

Would be possible to confi

[2022-08-01 14:32] julienandco opened #3466 "feat: Extend the VSCode Extension with the possibility to create a "Form" Bloc."
**Description**

I often have to implement some kind of form inside of my apps (either a simple registration form that takes username, email and password, or a massive form that holds user input data for some datastructure creation, say an event app where you can create an event and each event has 20 attributes or so). I like to use the bloc package as state management around this, but this leads

[2022-08-01 15:20] Gene-Dana commented on #3445
Could it be because of missing the `() =>` in this?  ` todos: () => todos, `

[code]

[2022-08-02 03:41] felangel commented on #3466
Hi @julienandco 👋
Thanks for opening an issue!

Since your form implementation will likely be opinionated, I'd prefer not to include it in the official bloc VSCode extension. Feel free to release your own VSCode extension if you have already done the work. I highly recommend creating a brick via [mason](https://github.com/felangel/mason) and publishing it via https://brickhub.dev. Then you can use

[2022-08-02 03:41] #3466 closed

[2022-08-02 04:07] #3406 closed

[2022-08-02 04:09] felangel commented on #3465
Hi @petrnymsa 👋
Thanks for opening an issue!

Sorry for the inconvenience! We should detect if the terminal supports ansi escape sequences and only use the ansi colors if they are supported. I should be able to get a fix for this within the next few days 👍

[2022-08-02 08:10] luudan0079 opened #3468 "Question: How to comunicate between 2 Blocs based on Repositrory stream"
**Description**
I have `UserRepository` to store the User information for entire app and I want to listen it from any place in app
I researched solution from [document](https://bloclibrary.dev/#/architecture?id=bloc-to-bloc-communication) and tried use stream from UserRepository to manage `UserInformation` but I faced a new problem.

**Before**
- Screen A(Bloc A) -> open Screen B(Bloc B)

**Steps*

[2022-08-02 08:14] luudan0079 commented on #3468
Sorry, I can't change the label

[2022-08-02 20:34] felangel opened #3470 "deprecate: BlocOverrides API"
## Overview

The `BlocOverrides` API was introduced in v8.0.0 in an attempt to support scoping bloc-specific configurations such as `BlocObserver`, `EventTransformer`, and `HydratedStorage`. In pure Dart applications, the changes worked well; however, in Flutter applications the new API caused more problems than it solved.

The `BlocOverrides` API was inspired by similar APIs in Flutter/Dart:

- [

[2022-08-02 21:45] felangel commented on #3468
Hi @luudan0079 👋
Thanks for opening an issue!

I recommend that both blocs A and B are listening to the same stream exposed by the repository. This will ensure that the two are kept in sync. If you're still having trouble, can you please share a link to a minimal reproduction sample? Thanks! 🙏

[2022-08-03 11:18] purplenoodlesoop commented on #3470
Hi @felangel!

That's a good call, `BlocOverrides` did raise a lot of questions. I maintain an ecosystem-compatible BLoC alternative that uses the old API, and I have encountered similar complaints from users of my package.

To avoid breaking changes, I've implemented a system that can use both `Zone` injection and plain static variables – maybe you could use it as a reference to do something simi

[2022-08-04 08:28] julienandco commented on #3466
Hi @felangel,
thanks for the quick response! I will probably stick to my existing implementation, but could you elaborate how you think mason could be used here? As I am always passing a dynamic amount of variables, I was not quite sure how to design the .yaml file that describes my brick.

Cheers!

[2022-08-04 10:50] luudan0079 commented on #3468
@felangel thanks for quick response!
Please check sample code(Sorry for syntax, hope you undertand).
In below code, I have a UserRepository(singleton).
At screenA, I have BlocA and use `streamController` to emited `EventBBB` and open screenB after that.
At screenB, I have BlocB and listen same `streamController`.
- Expected: Received `EventBBB` at BlocB
- Actual: Not Received `EventBBB` at BlocB
[

[2022-08-04 14:48] rohankandwal commented on #1074
The example link is no longer valid @felangel can you please update it?

[2022-08-04 14:53] rohankandwal commented on #766
@felangel I have used something similar to [using stream to listen](https://github.com/ResoCoder/flutter-tdd-clean-architecture-course/issues/12#issuecomment-600238456) but let us know if there is a better solution for this.

[2022-08-04 14:54] felangel commented on #1074
yup sorry about that -- just updated the link 👍

[2022-08-04 16:26] cybex-dev commented on #1512
@larssn This is a great mixin extension.

The guys at [dart-lang](https://github.com/dart-lang) have created a nice little stream addition for flutter: [stream-transform](https://github.com/dart-lang/stream_transform) using the same approach:

**Example:**
[code]

**Reason for this addition:**
Once a bloc's state has been updated, all active subscriptions will receive the new state. However, the p

[2022-08-04 18:49] bartekwk opened #3472 "bloc_test too old dependencies"
When should we expect new release of bloc_test library with upgraded dependencies. When I am trying to import the newest version I am getting this beautifull error. Downgrading bloc_test doesnt help and I dont want to downgrade other libraries. Please provide this update as soon as possible. Cheers.

![image](https://user-images.githubusercontent.com/48072101/182930073-a47b0c4f-b9a1-400a-9f16-f5cd

[2022-08-04 19:30] felangel commented on #3472
Hi @bartekwk 👋
Thanks for opening an issue!

This looks like it's a conflict between `injectable_generator` and `flutter_test` based on the error. If you remove `bloc_test` does the error go away?

[2022-08-05 03:27] felangel commented on #3414
Closing for now since there isn't enough information to help. Feel free to provide a link to a minimal reproduction sample and I'm happy to take a look 👍

[2022-08-05 03:27] #3414 closed

[2022-08-05 03:30] #3370 closed

[2022-08-05 03:32] felangel commented on #2759
Closing this since we already did a pass at updating examples and docs. Feel free to create new, specific issues for particular areas of improvement 👍

[2022-08-05 03:32] #2759 closed

[2022-08-05 03:33] felangel commented on #2758
We've already done a pass at updating examples and docs so closing this for now. Feel free to open new issues with specific areas of improvement 👍

[2022-08-05 03:33] #2758 closed

[2022-08-05 03:33] #2276 closed

[2022-08-05 06:10] smunshimi commented on #3356
Hi, I have an event which plays a sequence and then I have a button which pauses the sequence. So like you said, I have two events where the initial events fires a sequence with a 'sequential()' transformer and another which is 'droppable'.

I would like to stop the sequential transformer when the droppable event is fired. Right now, the droppable event fires but does not stop the sequential one.

[2022-08-05 06:14] smunshimi opened #3473 "feat: Ability to pause and resume sequential() transformer"
**Description**

I have an event which plays a sequence and then I have a button which pauses the sequence. The initial event fires  with a 'sequential()' transformer and another event (the button click) has the 'droppable()' transformer.

I would like to know if it is possible to have a transformer which can toggle event play/pause.

Right now, the droppable event fires but does not stop the sequ

[2022-08-05 06:59] bartekwk commented on #3472
Yes, it occurred only after adding bloc_test. I've tried to add different version of this package but every one is conflicted.

[2022-08-05 07:16] #3473 closed

[2022-08-05 12:53] felangel commented on #3472
Can you share your `pubspec.yaml`?

[2022-08-05 21:23] welderknaf opened #3475 "feat: eventTransformer in Cubit"
**Description**

Is there any way to transform events in Cubit, ex: switchMap?
Why is it working only in BLOC?

**Desired Solution**

Overrides a transformer method or add a "transformer" property, just like BLOC.

[2022-08-06 01:53] miguelflores1993 opened #3476 "HydratedBloc does not persist data"
I am losing data does not persist, when I close the application the data is lost.
but if you don't close it, the application keeps the data.
Has this happened to someone?

[code]

hydrated_bloc: ^8.1.0
flutter: 3.0.5
Xiaomi mi 11T

[2022-08-06 02:12] #3476 closed

[2022-08-06 02:23] felangel commented on #3475
Hi @welderknaf 👋
Thanks for opening an issue!

The reason there is no event transformer in Cubit is because there are no events and consequently no event stream in Cubit.

Closing for now but feel free to comment with any follow up questions and I'm happy to continue the conversation 👍

[2022-08-06 02:23] #3475 closed

[2022-08-06 05:10] github-actions[bot] opened #3485 "[Translations] Update docs"
Update Translations to include changes from 313e963d9374871395a6099f753975498c037267.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-08-06 05:11] felangel commented on #3470
The `BlocOverrides` API has been deprecated in bloc v8.1.0.

[2022-08-06 05:11] #3470 closed

[2022-08-06 05:11] felangel commented on #3394
The `BlocOverrides` API has been deprecated in bloc v8.1.0.

[2022-08-06 05:11] #3394 closed

[2022-08-06 05:12] felangel commented on #3319
The `BlocOverrides` API has been deprecated in bloc v8.1.0.

[2022-08-06 05:12] #3319 closed

[2022-08-06 05:32] felangel commented on #3436
Hi @data987 👋
Thanks for opening an issue!

Can you please share a link to a minimal reproduction sample? It's hard to say what the issue is without being able to reproduce it locally. In general, if you want to clear the cache for a specific bloc, calling `clear` should work. I'm guessing the problem is you're calling `clear` and then another state change occurs and the new state is cached immedi

[2022-08-06 05:35] felangel commented on #3121
Closing this for now since I don't have the time to spend on organized live streams at currently. I'll revisit this thread in the future once I'm a bit more free.

[2022-08-06 05:35] #3121 closed

[2022-08-06 13:01] gabrimatic commented on #2586
I did this, and I got this error:

To fix the issue, I did this:
[code]

[2022-08-06 14:57] danielroek commented on #2586
Try wrapping the second BlocProvider in a Builder widget

[2022-08-07 19:09] BartWesthoff opened #3486 "[brick][bloc]: Adding equatable as option in the bloc brick"
**Description**

As far as I know the events and states of bloc do always extend equatable as seen there in the  [todo event](https://github.com/felangel/bloc/blob/master/examples/flutter_todos/lib/edit_todo/bloc/edit_todo_event.dart). However in the most recent version of the [bloc brick](https://brickhub.dev/bricks/bloc/0.1.3+2) (0.1.3+2) the package equatable is not supprted.
**Desired Solution

[2022-08-07 19:19] BartWesthoff opened #3487 "feat: adding option to add events/states to a new bloc created by mason"
**Description**

At this moment in version 0.1.3+2 of the bloc brick you don't have a option to add additional events/states to a bloc.

**Desired Solution**

I would like to have a option to add events/states in the mason CLI when you create a bloc brick.

**Alternatives Considered**

No alternative.

**Additional Context**

Maybe add the option to add arguments to the states/evenst. Will be a ch

[2022-08-07 20:48] bartekpacia commented on #3470
Thank you very much @felangel!

[2022-08-08 07:47] anhnt opened #3488 "fix: java.lang.AssertionError in IntelliJ bloc plugin"
**Description**
[code]

**Steps To Reproduce**
Install bloc plugin
It will show error randomly even I am not using that plugin at that time

**Expected Behavior**
Should be fixed

**Screenshots**
![CleanShot 2022-08-09 at 14 24 13@2x](https://user-images.githubusercontent.com/735555/183589506-60fe67ce-7b7a-47c3-b0f7-6b90ff5b73ac.png)

**Additional Context**
IntelliJ IDEA 2022.2 (Ultimate Edition)

[2022-08-08 16:57] PlugFox commented on #3446
@felangel, of course, I know.
But you should use `BlocListener` as generic or expose `BlocListenerSingleChildWidget` or create and export new interface (abstract class), which will be common to them.

You can't use classes as an external API without exporting the classes themselves.

[2022-08-08 18:48] tran-nam-long commented on #363
Hello @bayuramadeza . I have the same issue as you.

@felangel Could you please have a look at this issue?

Thank you!

[2022-08-08 19:08] Gene-Dana commented on #363
Hi there 👋🏼 Do you have a repo to share?

[2022-08-08 19:16] tran-nam-long commented on #363
Hi @Gene-Dana
Thank you for the quick reply. I will share with you a simple repository after I finish it because the issue is happening on the company's project.
Thank you again!

[2022-08-09 04:05] Undeadlol1 commented on #3002
In v9 _HydratedBlocOverrides.runZoned_ is a _Future_. The problem is _blocTest.build_ is not a future so it is impossible to use both functions together. I can't come up with a workaround. Any tips?

Error:
![image](https://user-images.githubusercontent.com/4124323/183561773-4c6d8010-3b45-4beb-aa38-245bc1dd173c.png)

Code snippet:
[code]

[2022-08-09 04:09] felangel commented on #3002
In v9.0.0-dev.3 HydratedBlocOverrides was removed in favor of HydratedBloc.storage.

[2022-08-09 04:20] Undeadlol1 commented on #3002
@felangel thank you for letting me know.

I actually solved my problem by using _late_ keyword. I will leave a snippet of the solution here incase if anyone is going to need it.

[code]

[2022-08-09 11:18] joaofyz commented on #3432
Thanks @felangel for your help.

We ended up making the request in the addPostFrameCallback method, and this way we solved the problem of the listener not handling the first state transition.

[2022-08-10 11:51] IlyaMax commented on #524
example for version ^8.0.1
[code]

[2022-08-10 20:32] jorgecoca opened #3491 "fix: MetaWeather API no longer working :("
**Description**
Looks like MetaWeather is no longer in business, and their API throws a 404 (https://www.metaweather.com/api/)

This affects the weather tutorial. An alternative might be needed to complete the tutorial

[2022-08-10 20:48] felangel commented on #3491
Hey @jorgecoca 👋

Yup, it's on my list of todos -- see https://github.com/felangel/bloc/issues/3369#issuecomment-1169967573 for an alternative

[2022-08-10 20:55] #3491 closed

[2022-08-10 21:08] aytunch commented on #139
Sponty: Spontaneous Gatherings
iOS: [App Store](https://apps.apple.com/us/app/sponty-spontaneous-events/id1558525532)
Android: [Google Play](https://play.google.com/store/apps/details?id=com.sponty.android)

Years of experience: 4
Good: Perfect for complex state machine scenarios. Cubit to Cubit communications are essential in our app. We use blocs rarely (only when debouncing is needed)
Bad: It w

[2022-08-11 14:49] jorgecoca commented on #3491
Oh sorry! My bad! I did not notice it was a duplicate!

Let me know how I could help ;)

[2022-08-11 14:53] felangel commented on #3491
No problem! PRs are welcome if you have time 👍

[2022-08-12 14:55] ziobudda opened #3493 "fix:"
**Description**
There is an error in plugins.xml that not permit to install this module in phpstorm sine 2019 version:
modules com.intellij.modules.java is com.intellij.java since 2019.

"The [Java language functionality](https://blog.jetbrains.com/platform/2019/06/java-functionality-extracted-as-a-plugin/) was extracted as a plugin in version 2019.2 of the IntelliJ Platform. This refactoring sepa

[2022-08-12 15:56] Aristidios commented on #3079
Hello @FisherWL would you mind sharing your complete implementation inside the bloc ? I'm not sure where to initialize the Timer

[2022-08-12 16:27] FisherWL commented on #3079
@Aristidios

[code]

[code]

[2022-08-12 16:57] Aristidios commented on #3079
@FisherWL Thanks so much I've followed exactly your code but using it inside a Bloc event rather than cubit & I get this exception :

[code]
Any ideas why ? : )

@Gene-Dana @felangel

[2022-08-12 17:05] Aristidios commented on #3079
Here is my code :

[code]

[2022-08-13 00:17] mitas commented on #3160
bump 🍻

[2022-08-13 03:29] manas-maji commented on #3488
Yes, it's very annoying. Please fix as soon as possible.
![image](https://user-images.githubusercontent.com/59717976/184466777-73793dc2-31f9-4f4b-93a1-17ff59e33260.png)

[2022-08-13 12:11] programmador opened #3494 "feat: Provide multiple instances of same bloc class for multiple instances of same widget class"
**Description**

I've recently encountered a problem of having different widgets of same class in the tree. The problem is each of these similar widgets depend on a bloc. Same bloc class, but different instances - one bloc per widget. I've found out that I'm not the only one facing the issue: https://stackoverflow.com/questions/69745940/flutter-bloc-is-there-a-way-to-provide-different-instances-of

[2022-08-13 12:39] programmador commented on #3494
Here's a way of representing what's the case.

### This is not a problem:
[code]

### This... IS PAIN!
[code]
because of same type of both blocs, provider should be created to the right of OrientationBuilder on the flow. But BlocProvider will trigger .close() on each orientation change! So creating blocs themselves to the left of OrientationBuilder will actually cause a runtime error.
### And this

[2022-08-13 12:44] programmador commented on #3494
Doing the same manually invlolves trickering with context:
[code]
Which in real non-sketch code is unreadable even for two blocs, believe me )

[2022-08-13 16:04] felangel commented on #3494
Hi @programmador 👋
Thanks for opening an issue!

Can you please provide some more context regarding your current use case? It’d be really helpful to understand what you’re trying to achieve in the context of app functionality. Thanks!

[2022-08-13 16:06] felangel commented on #3472
@bartekwk any update? Were you able to resolve the issue? If not, can you provide link to a minimal reproduction sample? Thanks!

[2022-08-13 16:08] felangel commented on #3436
Closing for now since there doesn’t appear to be any actionable next steps. Feel free to comment with any follow up questions and I’m happy to continue the conversation 👍

[2022-08-13 16:08] #3436 closed

[2022-08-13 17:01] programmador commented on #3494
Ok, let's then get into real code example.
My app page has 3 widgets and 3 blocs. One bloc per widget. Two of both widgets and blocs are of the same type:
![screenshot_2022-08-13-193341](https://user-images.githubusercontent.com/674995/184502931-d48cf34e-14d3-4e18-b907-59abd52b5102.png)
The app has also another layout variant:
![screenshot_2022-08-13-193316](https://user-images.githubusercontent.c

[2022-08-13 17:07] programmador commented on #3494
Actually that "wrong way" is also okay if we manually handle bloc.close() somewhere upper (for example in the `Page`)
Provided solution is actually just a way to still use `official` providers and do not do such things manually.

[2022-08-13 17:10] programmador commented on #3494
So the purpose is exactly the same as of MultiBlocProvider. The main difference is ability to somehow handle multiple blocs of same type.

[2022-08-13 17:45] DhineshJ commented on #2890
https://stackoverflow.com/questions/73346354/bloc-stream-subscription-not-listening-to-changes-bloc-to-bloc-communication
Facing similar issue like that . Help me in resolving that.

[2022-08-14 08:29] CodeDoctorDE opened #3495 "refactor: Remove provider as dependency"
**Description**

I heard provider will be deprecated https://twitter.com/remi_rousselet/status/1558722656400285696.
flutter_bloc uses it as dependency.

[2022-08-14 09:05] maximveksler commented on #346
Could be a nice reference, @felangel would you happen to have context on the removal cause?

[2022-08-14 10:34] bartekwk commented on #3472
name: mobile
description: A new Flutter project.

publish_to: "none"
version: 2.0.4+20

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: "2.10.5"

dependencies:
  amplitude_flutter: ^3.10.0
  app_settings: ^4.1.6
  app_tracking_transparency: ^2.0.2+4
  auto_route: ^4.0.0
  auto_size_text: ^3.0.0
  awesome_notifications: ^0.6.21
  cached_network_image: ^3.2.0
  chewie: ^1.3.3
  crypto: ^3.0.2
  cup

[2022-08-14 14:21] felangel commented on #3495
Hi @CodeDoctorDE
Thanks for opening an issue!

flutter_bloc didn’t anyways depend on provider but we added the dependency in an attempt to provide more consistency across flutter applications.

If provider is deprecated we can remove the dependency. it will be a breaking change because you will no longer be able to use BlocProvider in a MultiProvider.

[2022-08-14 14:49] mkappworks commented on #2654
I also have a problem with bloc testing at initialisation.

Code:

[code]

I want to test

[code]

but I am getting the following error message

[code]

Why is this the case?

[2022-08-14 18:04] Aristidios commented on #3079
Alright I've figured it out :

I created another event `ApplesRequested()` & all the async calls happen in it & states are emitted there, this event gets triggered by the Timer

[code]

[2022-08-14 18:09] felangel commented on #3495
Closing for now since there are no actionable next steps. We can revisit this if/when provider is officially deprecated 👍

[2022-08-14 18:09] #3495 closed

[2022-08-14 18:16] github-actions[bot] opened #3499 "[Translations] Update docs"
Update Translations to include changes from cb01b3c6aabb770493c7e13d7fdd0d27149ef096.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-08-14 21:12] github-actions[bot] opened #3506 "[Translations] Update docs"
Update Translations to include changes from 1c5f6068623f6a6306c5c327dc3b70e29c75fbdb.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-08-14 21:38] github-actions[bot] opened #3507 "[Translations] Update docs"
Update Translations to include changes from 6b61110e5b72c6183e85c17f507ce205383592df.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-08-15 00:33] felangel commented on #3472
@bartekwk I think the issue is you're on an older version of Flutter which causes an incompatibility between `injectable_generator` and `flutter_test`.

I was unable to reproduce the issue on Flutter 3.0.5 (stable) with the following `pubspec.yaml`

[code]

[2022-08-15 10:19] bartekwk commented on #3472
This pubspec was not generating any problems because it hasnt got bloc_test package.So it couldnt be issue with incompatibility between injectable_generator and flutter_test. When I added bloc test error was thrown.

[2022-08-15 10:20] bartekwk commented on #3472
No matter what version, after adding bloc_test error was shown.

[2022-08-15 22:15] derekedelaney commented on #3160
+1

[2022-08-16 08:02] phamducmanh1452001 opened #3508 "issue: type 'Null' is not a subtype of type '<BLOC_NAME>' in type cast, relate to repository injection"
Hi everyone at the great state management !
I did refactor my code from
#photo1 to #photo2, and I receive  Error: "type 'Null' is not a subtype of type 'LoginBloc' in type cast".

The named "create" function in BlocProvider did not call. For my part, I see they are similar but flutter_bloc said no.
How do they work or effect to Flutter tree then create this difference ?

Thank you so much and happ

[2022-08-16 11:26] renancaraujo commented on #3508
These two codes will not behave equally. The closure passed "create" is, by default, executed lazily, which makes, in the first code snippet, the repository instances to be instantiated only when referenced for the first time. But in the refactored code, these same instancies are created eagerly.

But the interesting part is that "LoginBloc" (as described in the error message) is not part of the r

[2022-08-16 15:27] iandis commented on #3494
I'm curious of the reason behind why you need 2 blocs of the same type for the same data type (bingo items)

[2022-08-16 15:50] iandis commented on #3407
It's because `TextField`s/`TextFormField`s have their own state managers which is the `TextEditingController`, so when your Bloc state changes and needs to update the text, you need something like this
[code]

[2022-08-16 22:13] programmador commented on #3494
Of course I can add any amount of spaghetti into the bloc and it's state and also in a widget built by BlocBuilder of that bloc. The goal is to keep components simple. In my case each Bingo should not care whether more game widgets are present on the page. It also does not care about their type. It's parent's job to interlink those widgets. And parent has to deal with child type similarity in my c

[2022-08-17 02:14] phamducmanh1452001 commented on #3508
I don't think the refactored code make them are created eagerly, buddy.
But maybe, I guess constructor of RepositoryProvider did change a global thing

[2022-08-18 06:08] IrfanAbdulghaffar commented on #181
thanks for this buddy

[2022-08-18 10:37] cofirazak commented on #3107
Is there any news about this thread?

[2022-08-19 16:59] mjd-dalloul opened #3512 "fix: Bloc with freezed package not listening to changes"
I am having this issue, it appears sometimes `BlocBuilder` and `BlocListener` dosen't work.
here is an example:
my state
[code]
and this is my event handlers in bloc
[code]
and I am providing this bloc above the material app snice it will like singleton bloc (bloc name is UploadFilesBloc)

[code]
now I just wanna show the user some toast or flushbar when anything change inside this bloc
so I have

[2022-08-20 10:26] bartekwk commented on #3472
@felangel what do you think about that ?

[2022-08-20 14:26] felangel commented on #3472
Can you use the pubspec.yaml I referenced above and check whether you’re able to install the dependencies?

[2022-08-21 16:28] oravecz commented on #1089
I think `part` is cumbersome as a developer. As you are writing these files, regardless of which one you start with, there are code insight errors which go away only when you have event/state/bloc written and all tied together. It's pretty unnatural.

I understand the pros as well, but I'm not sure ~addi~ moving a couple more lines to a barrel makes the case.

An IDE plugin or one-time generator t

[2022-08-22 09:32] maximveksler commented on #1089
The parts approach violates the principal of principle of least astonishment ([POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment)), at least for me.

When I initially read the code and saw the part decleartion it made me consider if this code is somehow generated.

I'm not arguing against using parts, as the matter should be viewed from several angles,

 - Elegence and DX wise it

[2022-08-22 18:33] ahmad-olu opened #3513 "fix: program halt on emit.onEach"
i have two diffrent stream from an api, with the emit.oneach from the new bloc package i am able to emit the streams but the code does not continue, it halts after the first stream and i also tried diffrent transformer maybe it would work but it didn't.

[code]

`
_postASubscription?.cancel();
              _postBSubscription = _iPostRepository
                  .getUserPostA(userId: e.userid)

[2022-08-26 04:47] Rajkarnikar-unish commented on #1990
Hi is there anyone who's having this same issue?? mine didnt work after trying the solution from @felangel

[2022-08-27 06:15] adryanev commented on #3512
Have you tried using `BlocProvider(create: (_) => sl<UploadFilesBloc>()` instead of `BlocProvider.value()` when providing the bloc? @mjd-dalloul

[2022-08-27 13:42] Jayasubin commented on #2185
I faced a similar problem while trying to listen to a cubit state from another. I expected the cubit to intialise as soon as this chained call like this:

`BlocProvider(
          create: (context) => ChatsCubit(
            authCubit: context.read<AuthCubit>(),
          )..listenToAuth(),
        ),`

 is encountered. But it didn't.

Setting lazy to false solves the problem, but isn't the chaine

[2022-08-27 15:58] mjd-dalloul commented on #3512
same result, because it technically the same since the bloc is above the `MaterialApp` and am only doing `.value` because I am following some pattern in my code.

[2022-08-29 13:11] maRci002 opened #3514 "fix: `Bloc` / `Cubit` shouldn't emit the first value if it is equal to the initial value"
**Description**
Whenever a `Bloc` / `Cubit` has an initial value and the `Bloc event` / `Cubit function` tries to `emit` the same value as the initial value the `onTransition` / `onChange` are called and even `BlocBase.stream` is fired.

**Steps To Reproduce**

[code]

***Output***
[code]

**Expected Behavior**
`onTransition` / `onChange` shouldn't be called and `BlocBase.stream` shouldn't fire if

[2022-08-29 13:44] felangel commented on #3514
Hi @maRci002 👋
Thanks for opening an issue!

This is working as expected as is a duplicate of https://github.com/felangel/bloc/issues/1829.

[2022-08-29 13:45] #3514 closed

[2022-08-30 07:14] georgek1991 opened #3515 "How to call logout in API service class when API throws 401 error"
I am working with bloc in my project which is working great.

I have a API service class which uses Dio for making API requests. I am using an Interceptors for handling error. What I am trying to achieve is whenever API throws 401 error I want to logout the user and show login page. I will also be invalidating the token.

So my question is,
If I want to logout the user as soon as 401 occur ie. fro

[2022-08-30 23:46] alirezat66 commented on #3437
@felangel
I use the below code because I didn't want to use a new cubit in my dialogue I needed exactly the same that I used on my page.
[code]
Although the dialogue works in a true way, It has a very bad bug. when I close the dialogue, these cubits closed too. but I don't want it and I try to find a way to prevent cubits from closing but I couldn't. could you please help me?

[2022-08-30 23:47] alirezat66 opened #3516 "close the predefined cubit when dialog closed."
**Description**
A clear and concise description of what the bug is.
@felangel
I use the below code because I didn't want to use a new cubit in my dialogue I needed exactly the same that I used on my page.
[code]
Although the dialogue works in a true way, It has a very bad bug. when I close the dialogue, these cubits closed too. but I don't want it and I try to find a way to prevent cubits from clo

[2022-08-31 00:04] #3516 closed

[2022-08-31 00:05] alirezat66 commented on #3516
it is not bug I solve it with replacing this lines :
[code]

[2022-09-01 04:51] vishalpatel1327 commented on #3515
that's not bug but a Question

I also have the same question about that.

can anyone guide this scenario to us?

[2022-09-01 05:52] trojancode commented on #1851
THis issue is not fixed. I spend a day on this. now i removed Equitable from my state then every thing works perfectly. Also i handled un-neccessary emits using onChange. I think this is the best method with cubit.

[2022-09-01 07:16] georgek1991 commented on #3515
@felangel Can you please help.

[2022-09-01 07:52] aldiwijayaiskandar opened #3517 "fix: there is not storage getter for HydratedBloc & HydratedCubit for mocking"
@felangel  hi so i've used the v.8.1.0 of hydrated_bloc, but i can't mock the storage of the HydratedBloc & HydratedCubit

![Screen Shot 2022-09-01 at 14 52 46](https://user-images.githubusercontent.com/42193940/187862213-9c75b49c-ff56-4b21-8387-687eb32b93ee.png)

![Screen Shot 2022-09-01 at 14 54 56](https://user-images.githubusercontent.com/42193940/187862284-4f55b619-f5d5-40e2-81ec-0302b418b2e4

[2022-09-01 08:47] kateile opened #3518 "fix: [hydrated_bloc] hydrated_box.lock The process cannot access the file because another process has locked a portion of the file."
**Description**
I can't run two apps simultaneously  on `windows` which both use `hydrated_bloc`. I think this is because I use the default storage `HydratedStorage` which under the hood utilize hive box named `hydrated_box` and maybe these two apps can't write and read simultaneously using the same box.

I think best way to solve this is to pass `custom hive box name` on `HydratedStorage.build(..

[2022-09-01 15:36] c0pp1ce commented on #3515
_I am unsure what the best way to handle it would be_
(Assuming this failure can occur in multiple blocs)

 _Loosely Following Clean Architecture_
In the data layer (e.g. your APIService) you could throw some kind of server exception which contains the status code. Then in your repository you would catch and handle the exception (e.g. return a failure object).
Let your blocs emit a 401 error state

[2022-09-02 05:17] georgek1991 commented on #3515
Can you please give a simple example for 2nd idea?

[2022-09-02 05:49] isshort opened #3519 "fix: flutter bloc data is updating but ui doesn't update"
Hi to everyone!

  I have menu in the row side and items list when I click to my menu the item list should be change with the belonging menu

  I have tow cubit one is for menu list to get menu list in horzintal side
  and other is for item list in vertical side
  item list is showing according to menu
  in my example data is coming normally  when I change the menu data is changing but ui is not c

[2022-09-02 08:42] vogdb opened #3520 "docs: not enough information on event transformers"
Hi! It's not clear from the [API docs](https://pub.dev/documentation/bloc/latest/bloc/EventTransformer.html) how to write a custom transformer on your own. There are some examples in tutorials like [Infinite List](https://bloclibrary.dev/#/flutterinfinitelisttutorial?id=post-bloc) or in the [migration guide](https://verygood.ventures/blog/how-to-use-bloc-with-streams-and-concurrency). However it's

[2022-09-02 14:33] S-ecki commented on #538
I also agree with @felangel that something like a `MultiBlocBuilder` would add unnecessary complexity to Bloc and should not be part of the package. However, I needed something similar for a HomeScreen, where information from multiple blocs is read and I wanted a global loading state.

Disclaimer: In the end, I used `RxDart` to combine the state stream instead of using the `BlocBuilder3`

Still, I

[2022-09-02 15:51] Gene-Dana commented on #3519
Hi there ! Try adding a key to menuList

`key: Key('something_unique')`

or

`key: UniqueKey()`

[2022-09-02 18:46] c0pp1ce commented on #3515
This kind of is what I had in mind. Again, I am not used to streams in dart (or bloc) - this can probably be improved quite a bit.
[code]

[2022-09-02 21:21] c0pp1ce commented on #3513
_A guess in the dark_

1. Without transformer : As long as the postA stream is not closed, your loadUser event wont progress any further since you  `await` the `emit.onEach`. The updatePostA event gets through because events are handled concurrently per default.

2. With `transformer: restartable()`  :  You seem to be using a single `EventHandler`. This leads to the loadUser event being canceled a

[2022-09-03 02:34] yshean commented on #3468
@luudan0079 I think that's because you have created two separate instances of `UserRepository` in each of your blocs, means they are not really singletons. An easy way to fix that is to take in an instance of `UserRepository` as a parameter of the constructor of your blocs, and then listen to the stream like you already did.

[2022-09-03 10:16] isshort commented on #3519
Thanks Mr @Gene-Dana  for your response
I added UniqueKey()
The view side without pagination is working but when i am using pagination it doesn't work.
The problem in here is That
When I pressed anyone of the menu than
the  ItemPagination StatefulWidget's  initState method  must be work

but  it doesn't work.

[2022-09-03 12:37] Allan-Nava commented on #1517
Any example to implement it?

[2022-09-04 12:10] woeckener opened #3521 "fix: [bloc_test] test checks expected result before mocked repository calls in tested event execute and every state is emitted"
**Description**
Hello guys. I am currently having a problem with testing a bloc event that calls several repository methods and emits new states between and after those calls.

I created a minimal reproducible example that is only configured to run that one test.
https://github.com/woeckener/flutter_bloctest

**Steps To Reproduce**
The bloc event emits the first status, calls and awaits two reposi

[2022-09-05 03:28] luudan0079 commented on #3468
@yshean Hi,
`UserRepository` is Singleton. I think main problem come from Stream.dart

[2022-09-05 05:18] om-ha opened #3522 "docs: [flutter_bloc] Difference between BlocSelector v.s. BlocBuilder's buildWhen"
I really do not get the difference between BlocBuilder's `buildWhen` (docs [here](https://github.com/felangel/bloc/blob/6b61110e5b72c6183e85c17f507ce205383592df/packages/flutter_bloc/lib/src/bloc_builder.dart#L48), and [here](https://github.com/felangel/bloc/blob/6b61110e5b72c6183e85c17f507ce205383592df/packages/flutter_bloc/lib/src/bloc_builder.dart#L9)) and BlocSelector (docs [here](https://gith

[2022-09-05 21:19] elianortega commented on #3521
Hey @woeckener the issue with your test is in this part of the test:

[code]

there is no need to return a `Future`, the creation of it takes some milliseconds and this is why the `expect` fails. You could solve this by adding a `wait: const Duration(milliseconds:100)` but this is not the idea.

You could simply define you `when` cases like this:

[code]

For extra improvement, the `when` statemen

[2022-09-06 12:21] woeckener commented on #3521
Hi @elianortega
thank you, that fixed my problem 👍
In Germany we have a saying that you sometimes can't see the forest because there are so many trees 😬

[2022-09-06 12:21] #3521 closed

[2022-09-07 20:54] definitelyme commented on #2790
Yes this would come in handy

[2022-09-07 23:56] habner12 opened #3524 "The getter 'file' isn't defined for the type 'FileResponse'"
I'm trying to load images from Firebase, But I have a red line file, final imageBytes = fileResponse.file.readAsBytesSync(); Any Solution?

class ImageLoader {
  ui.Codec frames;

  String url;

  Map<String, dynamic> requestHeaders;

  LoadState state = LoadState.loading; // by default

  ImageLoader(this.url, {this.requestHeaders});

  void loadImage(VoidCallback onComplete) {
    if (this.frame

[2022-09-08 03:34] felangel commented on #3524
Hi @habner12 👋
Thanks for opening an issue!

It doesn't appear that this is related to the bloc library so I'm closing this for now. Feel free to post on the [bloc discord](https://discord.gg/bloc), StackOverflow, etc.

Thanks!

[2022-09-08 03:34] #3524 closed

[2022-09-08 03:35] felangel commented on #3517
Hi @aldiwijayaiskandar 👋
Thanks for opening an issue!

You need to use the latest version of hydrated_bloc which is currently 9.0.0-dev.3
https://pub.dev/packages/hydrated_bloc/versions/9.0.0-dev.3

Hope that helps 👍

[2022-09-08 03:35] #3517 closed

[2022-09-08 07:57] smunshimi opened #3525 "Feature request: Scoping events to a parent event"
**Description**
Scoping events to a bucket?

[code]
    Then if the event has let's say a sequential transformer:

[code]

Is there a way to achieve scoping `SomeEvent` to `TriggerEvent` since it is the "parent" event?

Adding another `TriggerEvent` would cancel `SomeEvent` and restart it.

`SomeEvent` will be emitted sequentially since it has the sequential transformer but another `TriggerEvent`

[2022-09-08 08:48] shubhamhackz commented on #2100
@felangel I'm using bloc in production, and I must say it's the finest state management library available for our app's architecture, however there's too much reliance on context, which may be frustrating at times. I'd like to see bloc implementation with Riverpod as well. It has been over a year and a half since this problem was opened; please let us know if there has been any progress.

[2022-09-08 12:36] vogdb commented on #3369
@felangel Hi! I plan to implement this tutorial with the new Weather API and make a PR after that. Please let me know what weather API works better for you. I don't see the analog of location search in the suggested [open-meteo](https://open-meteo.com), at least in its [API](https://open-meteo.com/en/docs#api_form). However it does not require an API key for usage. The free weather APIs, I could f

[2022-09-08 13:02] felangel commented on #2100
You can already use the two together using package:riverbloc. Hope that helps 👍

[2022-09-09 08:09] AlexanderShniperson opened #3527 "feat: ui one time callback action"
**Description**

in our projects, we have the need to perform some actions with the user interface on a user action and these actions do not affect the state of the screen. in these situations, we use a separately created StreamController to which we subscribe in screens, we would like to have a built-in ability to perform such operations.

Example of action:
user tap on some button at the screen

[2022-09-09 10:40] excode commented on #3330
Is the issue solved ?

After upgrade to new Flutter 3 My app in android version start wried behaviour .

After through inspection I noticed that when I focus on any TextFieldEdit the on-Screen KeyBoard appear and App Goes one-Step Backward. It happen only in Android. IOS is working fine .
I have tested in Android Emulator as well as real device . As soon I focused on TextFieldEdit System-Keyboard

[2022-09-09 21:36] otto-dev commented on #2443
I am running into this problem @felangel . The issue is application events that affect multiple blocs which may or may not be currently instantiated and rendered on the screen.

Say, a user receives a new message over the network. Now I want to update the "chat-messages" bloc on the chat screen, and the "last-message" bloc on the channel overview screen - if one or both of them currently exist. A

[2022-09-10 12:44] felangel commented on #2443
I recommend exposing the stream of updates from a repository which one or more blocs can subscribe to. You can refer to the todos example to see this in action — multiple blocs subscribe to the todos stream from the TodosRepository and emit new states in response.

[2022-09-10 21:53] Sultandi commented on #751
Hi @felangel,
after seeing ur sample pattern with listview:
[https://github.com/felangel/bloc/blob/master/examples/flutter_complex_list/lib/complex_list/view/complex_list_page.dart](url)

i got this problem too, how can i achieve each bloc item on list view.
(since the itemCount must reload and also with the itemView.)
**is this bad think?**
[code]

[2022-09-11 12:41] ostup17 commented on #1324
I'm getting a similar error and can't figure out how to fix it -
_Error - The following RangeError was thrown building BlocBuilder<DetailsCubit, DetailsState>(dirty, dependencies: [_InheritedProviderScope<DetailsCubit?>], state: _BlocBuilderBaseState<DetailsCubit, DetailsState>#5a690):
RangeError (index): Invalid value: Only valid value is 0: 5_

MultiBlocProvider - ```
return MultiBlocProvider(

[2022-09-11 19:26] felangel commented on #3527
Hi @AlexanderShniperson 👋
Thanks for opening an issue!

I recommend using a BlocListener for performing side-effects in response to a state change. You can refer to the [SnackBar Recipe](https://bloclibrary.dev/#/recipesfluttershowsnackbar) for more details/information. This also sounds a duplicate of https://github.com/felangel/bloc/issues/3178 so I recommend reading through that discussion. Clos

[2022-09-11 19:26] #3527 closed

[2022-09-12 03:20] #2412 closed

[2022-09-12 03:20] #3369 closed

[2022-09-12 03:27] github-actions[bot] opened #3531 "[Translations] Update docs"
Update Translations to include changes from 66e54d806123c2784f51cb27988eb60b5edb0625.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-09-12 20:17] marcossevilla commented on #3519
hey @isshort, the link you provided points to the issues from this repo, can you update it with your todos repository link?

[2022-09-13 01:29] Rajkarnikar-unish opened #3535 "issue: Stuck on SplashScreen with the Tutorial Code"
I was trying to practice the flutter_login from the bloclibrary.dev tutorial. After going through all the process and running the app, I am only seeing the Splash Screen with CircularProgressIndicator. Am I doing anything wrong?

https://user-images.githubusercontent.com/40193412/189787372-d6a8baea-ff48-4ea8-a37a-b0d8af67d489.mp4

[2022-09-13 07:18] om-ha commented on #481
In addition to @hardik-kumbhani , I just came up with this:

[code]

I have no idea how `BlocListener` is toted to be used for navigation purposes (according to state changes that are purposefully designed with navigation). This is a problem if you subclass a base state that subclasses Equatable. Point being, navigation states should be different form business-logic states as they should trigger B

[2022-09-13 07:20] om-ha commented on #481
@felangel 🙏

[2022-09-13 11:38] PrateekSharma1712 opened #3536 "docs: Internal onChange called after BlocObserver's onChange"
**Description**
I am observing a deviation from what documentation says in **Observing a Cubit** section.
The documentation says - The internal `onChange` override is called first, followed by `onChange` in `BlocObserver`.

Whereas, when I run it in my code it is opposite of that.
My Bloc version is **8.1.0** and using Flutter **3.3.0**.

Attaching here the code and screenshot of the output.
[code

[2022-09-13 11:42] PrateekSharma1712 commented on #3536
The deviation is due to the order of `super` call in `onChange` function.
So, instead of
[code]

it should be the below in the documentation.
[code]

[2022-09-13 12:04] Rajkarnikar-unish commented on #3535
I dont know how to figure if something is wrong or missing..., I actually did all the mentioned topics and have already re checked them though. If you would like to look into it I will leave the github link here: https://github.com/Rajkarnikar-unish/bloclogin.

[2022-09-13 14:28] anhnt commented on #3488
Hello there, any update on this issue? I keep seeing it every time I open IntelliJ even not opening a Flutter project

[2022-09-13 15:03] felangel commented on #3488
Sorry for the inconvenience! I'll take another look at this in the next day or two. I wasn't able to reproduce last time so it would be super helpful if you could provide some specific reproduction steps, thanks!

[2022-09-13 16:43] felangel commented on #481
@om-ha if you want to have the same state trigger a rebuild, just do not override `==` and do not extend `Equatable`. The two states will automatically be treated as different because they are different instances.

[2022-09-14 02:42] anhnt commented on #3488
@felangel thanks for your quick reply. I'm afraid I cant show you reproduce steps. However it appears randomly when open new IDE instance or in current IDE instance. It also shows on error notification on bottom right corner of IntelliJ
Hope that helps and thanks for your hard work

[2022-09-14 07:00] om-ha commented on #481
Thanks for your response Felix, this is a challenge when Feature Bloc's `FeatureBaseState` extends `Equatable`. Then when other concrete states extend this `FeatureBaseState`, they will be treated as Equatable with the [behavior above](https://github.com/felangel/bloc/issues/481#issuecomment-1245000961).

So I believe a workaround I have in mind is to use `Equatable` as mixin on the leaf concrete

[2022-09-15 14:32] Caldarie opened #3541 "fix: Cubit updates state without using emit."
**Description**
Hi, i am looking to implement dynamic forms with bloc. For example, when the user clicks on the plus button, a new text form will show up. For example:

<img width="738" alt="Screen Shot 2022-09-15 at 23 27 19" src="https://user-images.githubusercontent.com/42107315/190430117-18b11af1-842f-4fa5-b3f3-fcd018ca39ce.png">

However, I have encountered a few issues when implementing this

[2022-09-15 14:34] felangel commented on #3541
Hi @Caldarie 👋
Thanks for opening an issue!

It would be much easier to help if you could provide a link to a minimal reproduction sample which we can run/debug locally. Thanks! 🙏

[2022-09-15 15:00] Caldarie commented on #3541
@felangel  Understood. I will write a minimal reproduction sample and get back to you.

[2022-09-16 09:03] Caldarie commented on #3541
Hi @felangel

I have found a strange behaviour where if i was to call the list value from the state, and modify it. It will unconditionally update the state from the bloc.

[code]

However, if was to clone the list value from the state, and modify that value, it will work as intended.

[code]

Is this normal behaviour?

[2022-09-16 18:36] felangel commented on #3377
@tsinis sorry for the confusion. I don’t think we should close this issue but I just think we need to discuss the naming, structure of the interfaces before opening any pull requests, thanks!

[2022-09-16 18:43] tsinis commented on #3377
Hi @felangel, I understand, but unfortunately, I haven't found a proper reference to the names of the BLoC interfaces anywhere and I am definitely the worst possible person to name it. Do you have any ideas about the naming and the general abstraction idea?

[2022-09-17 03:12] felangel commented on #3377
I’ll think about this some more over the weekend 👍

[2022-09-17 17:23] felangel commented on #3541
@Caldarie can you please share a DartPad or GitHub link with a minimal reproduction sample? Thanks!

[2022-09-18 03:12] Caldarie commented on #3541
@felangel Sorry for the late reply. I had been busy with my job.

Please look at the following code below. The plus button shouldn't modify the state, while the minus button modifies the state without using `emit`.

Once the button is pressed, please look at the terminal for state changes. Otherwise, reload the emulator to check for state changes.

[code]

[2022-09-18 06:53] tsinis commented on #3377
What about StateEmittableStreamableSource/StateStreamable EmittableSource, or without redundant State/Source? 😬 Basically combining Emittable with Streamable?

[2022-09-19 00:40] LeonardoRosaa commented on #3541
For one reason the Dart language did pass the state reference instead of the value. According to the example above, you can do something like this:
[code]

[2022-09-19 04:59] Caldarie commented on #3541
Thank you for the response @LeonardoRosaa

Yeah, as shown from the example i have provided, `List.from(state);` is more or less similar to `[...?state]`

[2022-09-19 09:35] LeonardoRosaa commented on #3541
I think that in this case `[...?state]` doesn't work as well.

[2022-09-19 12:16] fabianbrandscheid opened #3550 "BlocTest: mocks cause problems with discarded_futures lint"
Hi,

since the update to Dart 2.18 the new lint [discarded_futures](https://dart-lang.github.io/linter/lints/discarded_futures.html) is available.
We are facing the issue that we currently have to explicitly ignore the Lint for each BlocTest containing mocks.

For example:
[code]

How can we adjust the BlocTests without ignoring the Lint every time?
We have not found a solution for this yet.

Than

[2022-09-19 14:51] felangel commented on #3550
Hi @fabianbrandscheid 👋
Thanks for opening an issue!

You could do:

[code]

Hope that helps 👍

[2022-09-19 15:11] fabianbrandscheid commented on #3550
This was much easier than expected. Thanks for the quick reply!

We had tried all possible variants with the build method from BlocTest....

[2022-09-19 15:11] #3550 closed

[2022-09-19 15:29] andreBalh commented on #3550
How would you solve that issue having just a normal test. There is also this problem @felangel

[2022-09-19 17:45] bernaferrari opened #3551 "feat: dryRedo"
I love bloc and cubit, but I'm fighting with a few limitations.

Imagine Cubit as the Navigation stack (back/forward button, etC).
I wish I could do this:

- I am on screen A, move to screen B, go back to A. Move b to the trash. I can't "redo" to go to B because B is on the trash, so I would need to check like `trash.contains(dryRedo())`. I don't want to redo. I want to know if I can redo.
- Brows

[2022-09-19 17:50] bernaferrari commented on #3519
initState only loads on the first time the widget is loaded. When it is reloaded, you need `didChangeDependencies`. Stateful is kind of Bloc's enemy.

[2022-09-20 09:40] isshort commented on #3519
Thanks @bernaferrari for your reply

[2022-09-20 09:40] #3519 closed

[2022-09-20 10:28] guenth39 commented on #2748
Any update on this? Maybe it's relative easy to do this nowadays, as @rrousselGit did some great work by adding a provider tab to the official DevTools, where at least the BloCs and Cubits are visible.

[2022-09-21 04:20] akshaynjarangal commented on #3512
@mjd-dalloul Hey bro , we facing the same issue with freezed bloc, and When initialise a bloc in Material App,and when try listening/building  change another screen , then bloc state will reset to to initial. @felangel Please find out the bug.

[2022-09-21 08:19] sanchan commented on #3196
Thanks @yh-luo, your example is exactly what I needed! Now everything is much clearer!

[2022-09-23 09:20] tmaihoff opened #3554 "question: Can i use Hydrated Bloc with shared_preferences to benefit from android allowBackup function?"
**Description**
I would like to use the shared_preferences package to persist my Hydrated Bloc (or Cubit) state so that I can benefit from the android allowBackup functionality which then would synch the state across the Google account.

The benefit would be that the state would be persistent even after reinstalling the app (on a different device).

I haven't found a way to implement this in the d

[2022-09-23 15:51] felangel commented on #3554
Hi @tmaihoff 👋
Thanks for opening an issue!

You should be able to create a [custom storage implementation](https://github.com/felangel/bloc/tree/master/packages/hydrated_bloc#custom-hydrated-storage) that uses shared preferences.

Hope that helps 👍

[2022-09-23 16:14] tmaihoff commented on #3554
Thanks for the headsup, will try 👍

[2022-09-23 16:14] #3554 closed

[2022-09-24 12:54] vinczebalazs commented on #3520
Looking for the exact same answer too.

[2022-09-25 22:51] #3327 closed

[2022-09-26 10:38] hunglvv commented on #2273
Hi, I have updated flutter_bloc to 8.1.1. then I got the same error as @GaneshSingaravelu's on the "onEvent" method
![image](https://user-images.githubusercontent.com/74697891/192256504-070b46d8-64ff-44a8-8b0f-288b1bf2f387.png)

[2022-09-26 13:30] felangel commented on #2273
@hunglvv it should be:
[code]

[2022-09-27 22:41] erdzan12 commented on #3468
That's not a minimal reproduction sample.
 Please provide a link to a repo with an sample app which can be started to actually see that behavior.

[2022-09-27 23:39] jtdLab opened #3555 "feat: Add emitForEach / emitOnEach Methods (or something similar) to Cubit"
**Description**

When working with a `Cubit` that consume some other `Stream` you need to maintain a `StreamSubscription` during the life of the `Cubit` and close it etc. This comes with some extra work which is handled well in `Bloc` via `emit.forEach` / `emit.onEach`  but no similar solution exists for that when using `Cubit`.

**Desired Solution**

Adding the methods `emitForEach` and `emitOnEa

[2022-09-28 03:58] talionderhobbit commented on #2392
How to check/access the type of the saved state. Do I have to write it in the json by myself? Or is it somewhere already saved?

[2022-09-28 05:21] felangel commented on #3472
Closing for now since there is still no actionable next steps on my end. Feel free to comment with additional information and I'm happy to continue the conversation 👍

[2022-09-28 05:21] #3472 closed

[2022-09-28 08:23] politebarista commented on #3349
Hello @felangel!
First of all, thank you so much for everything you do for the Flutter community 🤍.
I recently ran into a similar problem and your solution helped, but your solution (checking emit.isDone) also works without specifying restartable. I'm sorry if the question seems trivial to you, but then why do we need a restartable in bloc_concurrency at all? How does it help?

[2022-09-28 13:19] Caldarie commented on #3541
@LeonardoRosaa Appreciate the input.

As I am not an expert with dart, would you be willing to explain why that's the case?

[2022-09-28 14:38] MayurSMahajan opened #3556 "Add the Package name in Infinite List Example - Post Bloc section docs:"
**Description**

Currently in the PostBloc section of Infinite List example, we need to add the package name to avoid confusion. The Event Transform Section in Post Bloc uses  a method `event.throttle(duration)` this method is a part of **stream_transform** package. The package is introduced only in the next section.

![image](https://user-images.githubusercontent.com/47064215/192808102-209d41d8-3

[2022-09-28 15:26] felangel commented on #3349
Thanks for the kind words! The advantage of using restartable is you can disregard the results of previous events. This is important when you don't have expensive operations and you want the user to always see the results of their most recent actions. Hope that helps 👍

[2022-09-28 16:37] MayurSMahajan opened #3558 "No Project Structure in Timer example docs:"
**Description**

Currently the Timer tutorial does not have any **Project Structure** that describes the file structure of the example. All other tutorials have some sort of project structure that is very helpful to readers.  There must be a project structure for the Timer tutorial.

[2022-09-29 14:12] AlexanderFarkas opened #3560 "fix: context.read in didChangeDependencies"
**Description**
Shouldn't it be `context.watch` [here](https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/lib/src/bloc_listener.dart#L168)?

[2022-09-29 14:46] felangel commented on #3560
No, that's working as expected 👍
Thanks for opening an issue though and lmk if you have any additional concerns.

[2022-09-29 14:46] #3560 closed

[2022-09-29 15:18] github-actions[bot] opened #3563 "[Translations] Update docs"
Update Translations to include changes from 4468ad5f27c6301cc41df6e80a95879b668a540b.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-09-29 15:19] #3558 closed

[2022-09-29 19:15] AlexanderFarkas opened #3564 "feat: Honeycomb instead of Provider"
**Description**

What do you think about [honeycomb](https://github.com/AlexanderFarkas/honeycomb/tree/master/packages/honeycomb) package as a replacement for Provider?

I've also released a BLoC wrapper - [honey_bloc](https://github.com/AlexanderFarkas/honeycomb/tree/master/packages/honey_bloc)

**Additional Context**

I'm an author of the packages, and I will be glad to receive any feedback, sin

[2022-09-29 19:51] felangel commented on #3564
Hi @AlexanderFarkas 👋
Thanks for opening an issue!

So far I don't think the pros of transitioning away from `provider` outweigh the cons. If there comes a point where `provider` is no longer maintained then I'm happy to discuss alternatives (although I prefer to maintain the current API unless we have a very clear reason to diverge).

Closing for now but thanks for reaching out and for the suppor

[2022-09-29 19:51] #3564 closed

[2022-09-30 23:28] agonhajdari commented on #3430
You could use the event transformer `restartable` from the
bloc_concurreny package. When `serviceStatus==ServiceStatus.disabled`
is true then add an event with a 'stop' flag which handles the
permissionStream and return before `emit.forEach`.

[2022-10-03 08:22] martynov-lab commented on #3239
[felangel](https://github.com/felangel) How to implement a block if I need to listen to two streams? I'm building a video conferencing app. I listen to one stream when the participants join the room.  And I need to listen to the second one to update the data of each participant (Turned on video/audio or turned off).

[code]
 I put "await" on the first stream, it won't come to the second steam.

[2022-10-03 08:24] mrkahfi commented on #1096
Hi @narcodico, nice insight!
I came across a codebase that has almost a hundred BLoCs and they all get declared in single BlocProvider in main.dart.
That is not common and looks kinda weird to me, but it works. Do you see it is a best practice to have all of them declared that way?

[2022-10-03 10:17] LeonardoRosaa commented on #3541
Honestly, I don't know why yet. I believe it may be a bug.

I did some tests in the [DartPad](https://dartpad.dev/?) and this works as well.

[code]

[2022-10-03 11:57] mkappworks commented on #74
I have two screens in my flutter application `Screen1` and `Screen2`. `Screen1` is the home screen. I navigate from `Screen1` to `Screen2` via

` Navigator.of(context).push(PageRouteBuilder<void>(pageBuilder: (context, animation, secondaryAnimation) => Screen2()); `

and `Screen2` to `Screen1` via

`Navigator.pop(context); `

`Screen1` is statelesswidget:

[code]
I would appreciate anyone can prov

[2022-10-03 13:31] felangel commented on #1096
No, I recommend providing blocs as low as possible in the tree so it’s only accessible to the widgets that need it.

[2022-10-04 09:40] georgek1991 opened #3566 "Question: How to implement bloc to bloc communication Flutter bloc"
In project I have a Home page(with list of movie data) with HomeBloc. On clicking the a single movie cell I navigate to movie details page which has MovieDetailsBloc. Now in the details page I can edit name or make movie as favourite etc, this needs to be reflected in Home page.

To update the Home page after a change in Movie details page, I am sending HomeBloc to Movie details page like this

`M

[2022-10-05 04:51] github-actions[bot] opened #3567 "[Translations] Update docs"
Update Translations to include changes from 5069d8a241ae9a0f6ae756a1bd6a5ef6159504ce.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-10-05 15:24] tenhobi commented on #3566
Think of blocks only as providers between your data storage or other services and your UI. When you change some data in the details page, you should call a service that stores the data, and the home page bloc can check for some updates.

[2022-10-05 19:48] JCzz opened #3569 "MultiBlocProvider only works if wrap'ed in Widget"
I am using `MultiBlocProvider` in the following, can you see why I am getting Error: `Could not find the correct Provider<GameBloc> above this App Widget`.

Reading from the same context and all: `context.read<GameBloc>();`

    class App extends StatelessWidget {
      const App({Key? key}) : super(key: key);

      @override
      Widget build(BuildContext context) {
        return MaterialApp(

[2022-10-05 23:54] felangel commented on #3569
Hi @JCzz 👋
Thanks for opening an issue!

This is because you the context you are using doesn't have access to the bloc since it's a context that was created outside of the `MultiBlocProvider`. I highly recommend checking out https://bloclibrary.dev/#/faqs?id=blocproviderof-fails-to-find-bloc for more information 👍

[2022-10-05 23:54] #3569 closed

[2022-10-06 22:13] Luci3b commented on #3566
_Disclaimer: I'm a new dev and I have been using this package for almost a year, any better answers or corrections are welcome._

You can connect two blocs through presentation or domain as you can see @felangel examples [here](https://bloclibrary.dev/#/architecture?id=connecting-blocs-through-presentation).

I prefer connecting them using the domain, you can create a `MoviesRepository` and expose

[2022-10-07 05:29] Abdurahmon727 commented on #2064
Thanks, problem solved😁

[2022-10-07 05:36] georgek1991 commented on #3566
Can you give some example?

Did you mean using streamcontroller in the repository and any changes in repository should be listened in the bloc? In this case if I have multiple blocs that need the changes, I will need a broadcast stream. I will pass the same instance of repository in every bloc or make the repository singleton. Is my understanding correct?

[2022-10-07 07:13] tenhobi commented on #3566
@georgek1991 it all depends on your strategy.

But yes, you can listen to some service/repository for new changes in your data and emit new states if so. Or you can simply just request new data if you know that in your subpage the data were modified, or you can refresh any time you visit the route.

[2022-10-07 08:07] georgek1991 commented on #3566
how do I know if any data was modified in subpages and modify the home page? I mean I don't want to refresh the home page every time I visit that route.
And regarding the streamcontroller method making repository singleton is the way?

[2022-10-07 08:55] tyypgzl opened #3572 "feat: How can ı trigger an event in the same bloc? What is the best practise?"
How can ı trigger an event in the same bloc? What is the best practise?
[code]

* Or would it be correct to send context to the event and trigger it?

[2022-10-07 09:50] svnbstn opened #3573 "Question: Can I verify State changes on Stream Events inside blocTest?"
### Verify State Changes on Stream events Bloc test

As I mentioned above I'm currently learning how to test blocs properly and i stumbled over an "issue".
Am I able to verify if the color inside my State is the color it should be? The code below only lets me know if my ColorBloc emits the states but I am not able to verify the colors inside the state.

In the comments behind each state you can se

[2022-10-07 09:54] svnbstn commented on #3572
You can trigger events in the same bloc with add():

[code]

[2022-10-07 10:10] tyypgzl commented on #3572
Thanks for answer.

[2022-10-07 10:11] #3572 closed

[2022-10-07 10:11] svnbstn commented on #3573
I guess I found a solution but i do not know if this is best practice.
Can someone please confirm that what I'm doing is right? 😂

[code]

[2022-10-07 11:19] Luci3b commented on #3573
_Disclaimer: I'm a new dev and I have been using this package for almost a year, any better answers or corrections are welcome._

The answer is yes.

Let's say we have this code:

[code]
[code]
[code]

Then using the [bloc_test](https://pub.dev/packages/bloc_test) package:

[code]

Since _expect_ is an optional Function that returns a Matcher which the bloc under test is expected to **emit after a

[2022-10-07 11:33] svnbstn commented on #3573
thank you for your effort! Your Concept of not using the `isA<ColorChangedState>()`and instead using `ColorChangedState(Colors.brown)` works excactly like my comment above and might be a bit easier to read.

Thanks again for your example, it helped alot to understand ☺️

[2022-10-07 11:33] #3573 closed

[2022-10-07 18:00] Luci3b commented on #3566
If your call a method from your repository that add a new value to the stream, all subscribers will receive it. So you just need to pass the same instance to all of them.

You don't have to create a singleton, just create your `MoviesRepository` in your main method, pass as an argument to your app and use the [RepositoryProvider](https://github.com/felangel/bloc/issues/3566) for the dependency inj

[2022-10-08 10:27] maximveksler commented on #3560
It's possible that refecing these discussions in the form of code comments to ppl reading the code would be wise, as this would provide both an oppertunity to teach the community and will denoise the amounts of

Community: "shouldn't it be X?"
@felangel: No, that's intentional.

[2022-10-08 14:44] Luci3b commented on #3415
_Disclaimer: I'm a new dev and I have been using this package for almost a year, any better answers or corrections are welcome._

**I believe that using one big bloc is better.**

I think the thought about splitting the code for easier maintenance of tests and cubits be reused in this case can lead to the opposite effects. At first it doesn't seems to cause any form of problem or complexity becaus

[2022-10-09 12:39] D-James-GH opened #3575 "feat: Expose stream controller onCancel and hasListener"
**Description**

It would be great to know when all active listeners to a bloc are removed or whether there are any listeners to a bloc.

**Desired Solution**

Expose the stream controllers `onCancel` callback and `hasListener`.

**Additional Context**

This would be useful for removing or changing state when a screen goes out of view. Say you need to have a bloc that wraps the whole app but the s

[2022-10-09 22:09] PatrickGeyer commented on #751
Would like to +1 as would like to create Blocs in a listview as well.

[2022-10-10 14:05] georgek1991 commented on #3566
Thanks @Luci3b.

I have a follow up question. If I give RepositoryProvider at the root widget and create stream to listen and update the home page, this stream will always be listening even if it is not required. Won't it impact the app memory usage? I am following this example:
https://github.com/felangel/bloc/blob/master/examples/flutter_login/lib/authentication/bloc/authentication_bloc.dart

On

[2022-10-10 18:54] sirEgghead opened #3576 "Question: Bloc Flow Navigation"
I'm not a big fan of opening a Github request for support/assistance , but I saw that you guys already have questions listed in here, and I have been struggling to find the answer elsewhere, so hopefully this is still in line with the way that you guys want to handle this request.  And of course, thank you guys for a great system!

My app is a Firebase app, so I borrowed your sample [Firebase Logi

[2022-10-10 23:47] jtkeyva commented on #2100
Any plans to pull riverbloc into the official bloc package?

[2022-10-11 00:14] felangel commented on #2100
As of now no. Even if provider were to be deprecated, I'd prefer to maintain the existing API and revert back to using InheritedWidget (which is how `flutter_bloc` was originally implemented).

[2022-10-11 19:12] jtkeyva commented on #2100
Got it thanks!

[2022-10-11 19:54] lt692 commented on #1305
Updated answer to use bloc 8.* and freezed

socket_bloc.dart
[code]

socket_event.dart
[code]

socket_state.dart
[code]

Also dont forget to run `flutter pub run build_runner build --delete-conflicting-outputs`

[2022-10-12 00:30] imcongpham opened #3577 "fix: Make sure to register a handler via on<$eventType>((event, emit)"
**Description**
Hi I'm having an issue saying **Make sure to register a handler via on<$eventType>((event, emit)** . At first, I thought I was missing something from my source code but even I'm using the example from https://pub.dev/packages/flutter_bloc/example the issue is still showing...

full log:

[code]

**Steps To Reproduce**

1. create new flutter app
2. add flutter doc dependency flutter

[2022-10-12 19:35] mstfkhazaal opened #3578 "Question: Multi Stream in one emit.forEach"
I use **emit.foreach** to get **List genders & List  nationalities**
how can get **multi data in one emit.forEach** ?
**From:**
[code]

**To:**
[code]

### Update Question:
**Example:**
I use drift ( Pakage for sqlite) to get stream data from sqlite
**Repo**
[code]
Team Event
[code]
Team Bloc
[code]
**### How Can Merge 3 event in one event?**

[2022-10-14 10:07] eggysudianto opened #3579 "is it possible nested radiobutton with RadioButtonGroupFieldBlocBuilder?"
I need create something like this image
![image](https://user-images.githubusercontent.com/16233241/195819897-8d34416b-2c8c-4106-bb1d-0960dc3c4cbd.png)

this is what I have tried
![image](https://user-images.githubusercontent.com/16233241/195820137-54a5e749-c32b-4b9d-9bc5-5e1ca19d1cc1.png)

this my code

[code]

[code]

if I put other radiobutton using gridview.builder in `itemBuilder: (context, v

[2022-10-15 14:05] felangel commented on #3541
That’s working as expected. Since b contains a copy of a not a reference to a. Closing for now since there are no actionable next steps in the context of the bloc repo.

[2022-10-15 14:05] #3541 closed

[2022-10-15 14:08] felangel commented on #3566
That is up to you. If it’s not always needed you can cancel the subscription but having a single active stream subscription should not have a significant impact on performance.

[2022-10-15 14:08] #3566 closed

[2022-10-15 17:29] inveker commented on #1420
If you are satisfied that the initial state will be the default, and the restored state will be set via an event, you can use this code

[code]

[2022-10-16 13:40] Luci3b commented on #3576
## The problem
I think you problem is in your `app_state.dart` file.  In your private unnamed constructor you are defining the following:
[code]

And when your authentication is successful you call
[code]
Then you user is not empty.

But in your `navigationdrawer.dart` file you are adding the event `AppViewChanged`, which return the state:
[code]

Note that you are not passing the user variable to

[2022-10-16 13:54] Luci3b commented on #3577
I followed the steps and I couldn't reproduce this bug on my computer.

Flutter --version
[code]
Flutter_bloc package version: 8.1.1

Please share more details about your flutter version and your code.

[2022-10-16 14:05] Luci3b commented on #3578
I don't think it's possible to listen to multiple streams in one **emit.forEach**...

What you can do is create a wrapper and then return it from the stream.
[code]

[code]
or listen to multiple streams as you said.

[2022-10-16 14:13] Luci3b commented on #3579
I don't think your issue is related directly to the Flutter_Bloc package and you didn't provide any reproducible example.

Maybe you were looking for the [Form_Bloc Github](https://github.com/GiancarloCode/form_bloc/tree/master/packages/form_bloc).

[2022-10-16 14:14] felangel commented on #3577
@imcongpham can you please provide a link to a minimal reproduction sample? Thanks!

[2022-10-16 14:15] #3579 closed

[2022-10-16 14:20] felangel commented on #3575
Hi @D-James-GH 👋
Thanks for opening an issue!

I recommend scoping the bloc to the two pages instead of providing it globally for this exact reason. Why don’t you scope the bloc in this case to just the widgets that need it?

[2022-10-16 14:22] felangel commented on #3468
Closing for now since there are no actionable next steps. Feel free to provide a minimal reproduction sample if this is still an issue and I’m happy to take a look 👍

[2022-10-16 14:22] #3468 closed

[2022-10-16 14:24] felangel commented on #3446
What’s your use case for needing the interface? It was just added to work around a bug in Dart (will double check if it’s still need shortly).

[2022-10-16 14:26] felangel commented on #3418
Can you provide a link to a minimal reproduction sample that illustrates the issue? It would be much easier to help if I can reproduce locally, thanks! 🙏

[2022-10-16 14:56] D-James-GH commented on #3575
Thank you for the response 🙂

Currently scoping the bloc is our solution and it works fine, however, using the default flutter navigation it is difficult to scope a provider to two screens without using nested navigators, which often come with their own difficulties. Admittedly there are a few packages which can make this easy. However, even with packages such as GoRouter or Auto Route (those are

[2022-10-17 06:59] mstfkhazaal commented on #3578
I tried using this method and it didn't work
Because I want to take out List<Gender> from Stream<List<Gender>>
**It becomes like this:**
// Choose any class name you want
[code]

**I updated my question and added an example**

[2022-10-17 07:36] Sarat-1997 commented on #603
Thanks it works!!

[2022-10-18 01:32] imcongpham commented on #3577
I have same flutter version

[code]
my temporary fix is now rollback to 7.3.3 version and keep using mapEventToState...

@felangel I have posted the steps to reproduce, but seems like only me seeing it so far... I'll wait for some time and retry the build again.

[2022-10-18 02:03] felangel commented on #3577
Can you please provide a link to a minimal reproduction sample? I’d also recommend clearing your pub cache and/or reinstalling Flutter to see if that resolves the issue.

[2022-10-18 05:09] imrhk opened #3581 "fix: If first state emitted by calling emit method equals to the initialState, blocbuilder/blocobserver.onChange is called."
**Description**
If the initial state of the bloc is equals to the very first state which is emitted from the bloc, the blocbuilder/blocObserver.onChange is called.

**Steps To Reproduce**
_main.dart_
[code]

_pubspec.yaml_
[code]

__actual output__
On clicking FAB 2 times
[code]
**Expected Behavior**
Bloc should consume the state as it is equals to the current state i.e. initialState
__expected ou

[2022-10-18 05:13] felangel commented on #3581
Hi @imrhk 👋
Thanks for opening an issue!

This is working as expected. See https://github.com/felangel/bloc/pull/1441 for more info.

[2022-10-18 05:13] #3581 closed

[2022-10-18 06:51] Sarat-1997 commented on #782
Thanks brother it works!!

[2022-10-18 07:55] jabari-pulliam commented on #3244
For anyone interested, I had the same problem as @farisbasha and I found that the solution is just to call the getIt injector (I'm using injectable) inside the body of `runZoned` so that the storage field on HydratedBlocOverrides is set prior to the blocs being built by the injector.

Ex:
[code]

[2022-10-18 08:22] MisaGu commented on #3219
Does anybody keep track of it? Does "does not include Web" means it is actually supported on the Web or does it just implies the feature is missing?

[2022-10-18 13:03] Luci3b commented on #3578
What you could do is to create two stream subscriptions and when they are called you add a new object in your repository stream.

[code]

[code]

Then in your bloc you simply pass:

[code]

See more about [streams](https://api.flutter.dev/flutter/dart-async/Stream-class.html).

[2022-10-18 13:49] felangel commented on #3219
HydratedBloc does support web — this is just a false positive on pub.dev

[2022-10-18 13:51] felangel commented on #3578
Closing for now since there are no actionable next steps. Feel free to comment if you have any follow-up questions 👍

[2022-10-18 13:51] #3578 closed

[2022-10-19 03:01] github-actions[bot] opened #3582 "[Translations] Update docs"
Update Translations to include changes from 5fcf90b2af7e413e2054619ce0bffce55f96d267.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-10-19 03:02] felangel commented on #3577
Closing for now since there are no actionable next steps or reproduction sample. Feel free to provide a link to a reproduction sample or provide additional context if the suggestions don't help, thanks!

[2022-10-19 03:02] #3577 closed

[2022-10-19 16:33] sirEgghead commented on #3576
Good afternoon.  My apologies for not seeing this yet.  Give me a few hours to look this over and I'll test and respond.

[2022-10-20 13:03] sabifa commented on #2022
I stumbled upon this issue today because I wanted to test a HydratedBloc. Unfortunately @felangel's linked code uses the setter HydratedBloc.storage, which does not seem to be available in the latest version (8.1.0).
[code]

I am a bit confused because it seems like the setter is only available in the pre-release version of hydrated_bloc. Am I missing something?

---

Anyways, if anyone is wonderi

[2022-10-20 13:55] felangel commented on #2022
@sabifa please upgrade to hydrated_bloc 9.0.0-dev.3. A stable 9.0.0 should be released shortly.

[2022-10-20 16:50] engelin opened #3584 "question: MultiBlocProvider doesn't work properly"
**Description**
1. flutter doctor -v
[code]

2. flutter bloc version
bloc: ^8.1.0
flutter_bloc: ^8.1.1

3. bottom_navigator_widget.dart
[code]

Then, context couldn't find the right blocs as I've met this error:
- error log
[code]

4. bottom_navigator_widget.dart - pass
But, if I just write like the below:
[code]

It's working!

I was thinking it's very weird and wondering if I use MultiBlocProvid

[2022-10-20 18:17] sirEgghead commented on #3576
@Luci3b your second solution seemed to work for me.  I was having issues with the first solution.  I might head back to it at a later point and see if I can sort it out.

Your explanation of my problem completely makes sense and definitely narrowed down the issue for me.  Thank you so much for all you help, especially considering I opened my first question about this issue elsewhere on the web ove

[2022-10-20 18:17] #3576 closed

[2022-10-20 19:50] eriquezinedine commented on #3231
hello where are you declaring the text controller?

because I have the same doubt and I am leaving it in a stateless widget and when I try to write, it does not show me the text.

[2022-10-20 20:10] felangel commented on #3584
@engelin I'm guessing you're using the parent context to access a bloc.

See the error message:

- You used a `BuildContext` that is an ancestor of the provider you are trying to read.

  Make sure that BlocListener<ToolBloc, ToolState> is under your MultiProvider/Provider<ToolBloc>.
  This usually happens when you are creating a provider and trying to read it immediately.

  For example, instead

[2022-10-20 20:39] sirEgghead commented on #3576
Since I am new to bloc, I'm sure that I will have many questions.  Where would be the best place for me to ask questions regarding bloc.  I don't think it is the best idea for me to open an issue here in order to learn.

For instance, my next step is to figure out how to create another bloc that contains a Firestore stream, and I want to get information from it.  I'm going to try to figure it out

[2022-10-20 21:01] felangel commented on #3576
@sirEgghead you can direct these types of questions to the [bloc discord](https://discord.gg/bloc) 😄

[2022-10-20 21:03] sirEgghead commented on #3576
Perfect, thank you!!

[2022-10-21 07:39] orestesgaolin opened #3585 "feat: ignoring addError in reported stacktrace"
**Description**

When reading through the stack trace reported when calling `addError(Exception('Hello there'));` the first frame is always `BlocBase.addError`. This is because `addError()` implementation passes `StackTrace.current` if no stack trace is provided:

[code]

Here's a sample report from Crashlytics:

![CleanShot 2022-10-21 at 09 32 38@2x](https://user-images.githubusercontent.com/1685

[2022-10-21 08:07] engelin commented on #3584
@Luci3b @felangel
Thank you for your answers.

I've just found out what the problem was. When I wrote the type of list, like the above description `MultiBlocProvider(providers: <BlocProvider>[])`, this error came out. But after removing this `<BlocProvider>`, it's working now!

Could you let me know the reason why I can't use this expression for multi bloc provider?

[2022-10-21 09:21] thipokch opened #3586 "fix: forEach emits new states, after event handler canceled."
**Description / Expected Behavior**

When a new event with `restartable()` is added to a bloc, it is expected that ongoing asynchronous event will be canceled . However, it appears that `emit.forEach` within the same event is still emitting new states when it should be closed.

**Steps To Reproduce**

[code]

<details>
  <summary>1. Create the following bloc.</summary>

[code]
</details>

<details

[2022-10-23 13:18] ProFive opened #3589 "build: flutter_bloc: ^8.1.0"
**Description**
  @overrides
   ^^^^^^^^^
: Error: This can't be used as an annotation; an annotation should be a reference to a compile-time constant variable, or a call to a constant constructor.
../…/src/bloc.dart:84
  @overrides
   ^
3

FAILURE: Build failed with an exception.

Describe what changes need to be done to the build system and why

[2022-10-23 14:37] felangel commented on #3589
Hi @ProFive 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Based on the error I’m guessing you just need to clear you pub cache and make sure you’re using an unmodified version of the library. Hope that helps

[2022-10-23 15:38] Luci3b commented on #3589
I think the correct spelling would be `@override`

[2022-10-24 00:29] ProFive commented on #3589
@felangel

Flutter SDK 3.3.5 on Mac M1

DEBUG CONSOLE
: Error: Undefined name 'overrides'.
../…/src/bloc.dart:84
  @overrides
   ^^^^^^^^^
: Error: This can't be used as an annotation; an annotation should be a reference to a compile-time constant variable, or a call to a constant constructor.
../…/src/bloc.dart:84
  @overrides
   ^
3
FAILURE: Build failed with an exception.

* Where:
Script '/Use

[2022-10-24 08:26] minhkimlong opened #3590 "Question: Technical Cubit vs GetXService"
**Description**

Clearly describe what code needs to be changed and what the performance impact is going to be.

## What
Hi team flutter bloc, sorry firstly because I don't see the right issue for creating
I have a question about cubit, like we know GetXService class will keep instances in the app, and we can update a screen and another screen will update too
 - For example, the setting screen wil

[2022-10-24 09:34] mstfkhazaal opened #3591 "Question: Excute Multiple Event Before Launch APP"
I have a app when i run the app i need to excute multiple event in multiple bloc then launch first Page
I use **[FlutterNativeSplash](https://pub.dev/packages/flutter_native_splash)** to remain  splash screen while your app initializes ([More Details](https://pub.dev/packages/flutter_native_splash#3-set-up-app-initialization-optional))
I use [ Injectable](https://pub.dev/packages/injectable) for i

[2022-10-24 09:59] piwai44 opened #3592 "fix: Intellij bloc plugin - deadlocks"
**Description**
Hi,

I am using bloc plugin on IntelliJ witch leads to deadlocks. There is a stack trace juste before and then IntelliJ freezes when hot reload.

(note : I am not using android studio because I have a server side in pure dart)

Thanks !

Enviroment :
* IntelliJ IDEA 2022.2.3
* JDK: 17.0.4.1 (OpenJDK)
* OS : kubuntu 22.10 (same with previous)
* Bloc plugin : 3.3.0
* Flutter 3.3.5 /

[2022-10-24 10:46] felangel commented on #3590
Hi @minhkimlong 👋
Thanks for opening an issue!

I recommend creating a UserRepository which you provide to the entire application using RepositoryProvider. The UserRepository can methods like updateAvatar and expose a Stream of user updates which multiple blocs can subscribe to:

[code]

I recommend reading through the [architecture docs](https://bloclibrary.dev/#/architecture?id=connecting-blocs-

[2022-10-24 10:46] #3590 closed

[2022-10-24 10:50] felangel commented on #3591
Hi @mstfkhazaal 👋
Thanks for opening an issue!

I generally recommend delegating this type of logic to one or more repositories which you can instantiate/provide to the app via RepositoryProvider. Ideally blocs should manage the state of a single feature and should be provided/scoped to the feature.

Hope that helps 👍

[2022-10-24 11:05] mstfkhazaal commented on #3591
In my app every bloc is featured but in home screen i need to get all bloc in same time,
Example:

**BusinessBloc**
[code]

**Business State**

[code]
Event **BusinessGetList**  task is to fetch data from sqlite
All blocs have roughly the same template(GetList, SelectEdit,Typing,Add,Edit,Delete)

[2022-10-24 11:26] minhkimlong commented on #3590
Thank you @felangel

[2022-10-24 13:07] Luci3b commented on #3591
My suggestion is to call repositories futures and wait for them in the `main()` function.

Here's an example:

[code]
And in the _main.dart_ we just make use of `Future.wait` and the possibility of calling `runApp()` again.

[code]

So when you need to use your Bloc, your cache will be already updated !

[2022-10-24 13:36] hesham060 opened #3593 "GetIt: The compiler could not infer the type. You have to provide a type and optionally a name. Did you accidentally do `var sl=GetIt.instance();` instead of var sl=GetIt.instance;fix: Failed assertion: line 333 pos 7: 'type != null || const Object() is! T'"
**Description**
A clear and concise description of what the bug is.

**Steps To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional Context**
Add any other context about the problem here.

[2022-10-24 13:49] maximveksler commented on #3591
Great tip, thank you.

[2022-10-25 00:16] talionderhobbit commented on #1850
I also want to do the same as @evanholt1 and @hey-nicolasklein. Are there any further updates or informations available somewhere on how to do it in the right way?

[2022-10-25 03:19] felangel commented on #3591
Closing for now since there are no actionable next steps. Feel free to comment with any follow up questions and I’m happy to continue the conversation 👍

[2022-10-25 03:19] #3591 closed

[2022-10-25 05:38] mstfkhazaal commented on #3591
Thanks, but i cant use the repository becuase all my data in on the bloc and it is on contimouse streaming

[2022-10-25 13:35] felangel commented on #3591
I highly recommend refactoring to move the data management into repositories and keep feature state management in blocs.

[2022-10-25 15:30] paulinavita commented on #2144
Wonder why I got this when implementing the code? Hmm

[code]

[2022-10-26 11:03] mstfkhazaal commented on #3591
Do you have an project example?

[2022-10-26 15:47] acampuzanoo commented on #3589
Hi @ProFive I think that what @Luci3b mentioned is correct. The annotation has an extra "S" at the end based on the error message. It should be:

`@override`

Now, looking at the file that you shared, it should be fine that way.

Do you have more details as of which example is the one you are copying from to try to reproduce?

[2022-10-26 16:34] felangel opened #3594 "docs: recommendations regarding blocs adding internal events"
**Description**

As a developer I want to have documentation that describes if/when a bloc should add internal events so that I can have a better understanding of best-practices, potential pitfalls, etc.

This can probably be part of the FAQs section of the bloclibrary.dev docs.

[2022-10-26 16:53] felangel commented on #3589
@ProFive I'm guessing you accidentally modified the bloc source code on your local machine. You probably command/ctrl clicked on the Bloc class, jumped to the source code, and accidentally added an `s` to your local version.

Closing for now since there are no actionable next steps but feel free to comment with any follow-ups and I'm happy to continue the conversation 👍

[2022-10-26 16:53] #3589 closed

[2022-10-26 18:03] giaur500 opened #3595 "Upgrade strategy for HydratedBloc"
As far as I understand, HydratedBloc is intended to persist state after app restart. So on next run, last known state will be loaded automatically. Every emit new state will also trigger to save it.

However I also need to be sure I won't lost saved state on app upgrade. Is there any upgrade strategy? What happens when:
- app is upgraded to newer version
- state structure changes, like new field a

[2022-10-26 18:04] KyleFin commented on #3594
Thanks for filing! A few thoughts:

Diagram at the top of https://bloclibrary.dev/#/architecture shows `events` are for UI to send information to bloc, and examples I found throughout bloclibrary.dev tutorials generally show `.add(MyEvent)` being called in UI code, so I wasn't sure if adding events in an event handler is discouraged or just not the common case.

Main pitfall I encountered was even

[2022-10-27 10:09] realvotum commented on #3110
@NTA-trongpq

I may be late with the reply, but this dependencies stack work for for me:

`dependencies:
  flutter:
    sdk: flutter
  json_annotation: 4.7.0
  freezed_annotation: 2.2.0
  get_it: 7.2.0
  injectable: 1.5.3
  flutter_bloc: 8.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: 2.0.0
  json_serializable: 6.5.1
  build_runner: 2.3.0
  freezed: 2.2.0
  mockito: 5.3.

[2022-10-27 13:09] goku-org opened #3596 "Without rebuilding the entire list, want to just rebuild a single element on list."
**Goal:** without rebuilding the entire list, want to just rebuild a single element on list.
---
You can see in the Code below that I simply try to update a single Student value, which rebuild entire student list.

**What I really want?**
I want to update an existing student value **without** rebuilding entire/complete student list and also want to show _realtime **State** of activate so that, use

[2022-10-27 17:10] acampuzanoo commented on #3596
@goku-org what I can see at first glance is that even though you are updating the values of just one student, at the end you are still emitting the whole list as state. It does update the value for a given student, but at the expense of rebuilding the whole list.

You should find an approach where each student object manages its own state separated from the state that manages the list, or only upd

[2022-10-27 17:21] goku-org commented on #3596
Although I appreciate that you recognise the issue, I haven't yet found a solution.  If you have anything in your head, please explain.

[2022-10-27 19:20] Gene-Dana commented on #3596
@acampuzanoo has the right idea here. Generally speaking, you can instantiate a bloc/cubit for each individual element if you want granular control of each element.

I'm a little confused by this
[code]
Why not have just a simpler `List<student>`?

Also instead of updating the student by index, I'd suggest an approach more like this
[code]

[2022-10-27 20:07] Gene-Dana commented on #3594
Is there anyway to program/recommend this from the extension?

[2022-10-28 03:56] campuzanoac commented on #3595
@giaur500 I think it really depends on the storage strategy that you choose. As the documentation states, it is an abstraction on top of Hive, but you can also implement your own type of storage.

An example on top of my head is if you use `sqflite` to build your storage, then if your app state needs to change across different versions of your app, you might want to run migrations on the database

[2022-10-28 06:54] giaur500 commented on #3595
So HydratedBloc uses Hive by default and migration strategy comes directly from Hive, right? Looking at Hive docs, I don't see any specific migration or database versioning support.  So I think I need to use sqflite/drift/floor and implement proper versioning/upgrade strategy.
Is there any example how to use custom storage. As mothod names are self  explanatory:

[code]
I'm still not sure how it w

[2022-10-28 09:36] ChiPhanTlm commented on #3160
+2

[2022-10-28 10:21] goku-org commented on #3596
@acampuzanoo
@Gene-Dana

Look at the problem instant first and simple solution come in the mind. Why not? using again bloc under the Students.
So, every student inside the studentsbloc will have their own bloc (like **StudentsBloc(List\<StudentState>) )**

After That Stil Problem Remain: inner bloc emit but outer bloc remain the old state.
👇👁️👁️👇

_**StudentBloc**_
![image](https://user-images.git

[2022-10-28 12:28] Gene-Dana commented on #3596
Do you have a repo you can share?

[2022-10-28 12:35] Gene-Dana commented on #3596
Also, just to be clear you have two separate blocs? A `students bloc` and a `student bloc`?  I've never seen this approach before, and even if it's not the source of your problem I'd highly suggest refactoring your blocs into features.

You can see this clearly in the firebase auth example - there is a signup, a login, a home feature - and these all come from the domain of the auth repo.

If you c

[2022-10-28 17:23] campuzanoac commented on #3595
@giaur500 do you have a repo that we can take a look at?

[2022-10-29 06:52] goku-org commented on #3596
https://github.com/goku-org/Bloc_complexity

[2022-10-30 18:33] zippka224 commented on #3596
@goku-org Don't do single Bloc/Cubit instance per CreateStudentTile widget. One Bloc/Cubit is better and it really doesn't matter that you are updating the whole list.

[2022-10-30 18:50] goku-org commented on #3596
Well I know that it don't effect, but it a just task or challenge for me in which I fail. perhaps i see other developer also fail too.

[2022-11-01 00:07] jandrop opened #3597 "QUESTION: Testing events and states"
**Description**

I'm really interested in this test that is in the examples. I think all the tests related to events and states are only checking if the class is extending equatable, Am I right? But what should happen if I don't implement the event and state tests in my project, what are the benefits of testing these?

        import 'package:authentication_repository/authentication_repository.dar

[2022-11-01 04:01] hew999 opened #3598 "docs: For state status using Enum"
Hi everyone, I am wondering it's okay to create a common enum state status for most my bloc api call class use?
Example:
`enum StateStatus { init, loading, success, failure, empty, error}`

Since many of my API blocs using same status. Instead each bloc create their bloc state status, can I create a shared enum status for all? Is there any issues?

[2022-11-01 07:06] #3596 closed

[2022-11-03 02:42] felangel commented on #3598
Hi @hew999 👋
Thanks for opening an issue!

If the status is generic and makes sense to apply across multiple states then feel free 👍

[2022-11-03 02:42] #3598 closed

[2022-11-03 02:44] felangel commented on #3597
Hi @jandrop 👋
Thanks for opening an issue!

These tests are there to ensure that the events support value comparisons. If you remove equatable, for example, these tests will fail. Hope that helps!

[2022-11-03 02:44] #3597 closed

[2022-11-03 02:45] felangel commented on #3593
Closing for now since there isn't enough information to help and this doesn't appear to be related to the bloc library. I highly recommend opening an issue on the get_it repository with additional context or a reproduction sample.

[2022-11-03 02:45] #3593 closed

[2022-11-03 02:48] felangel commented on #3584
The reason is because the generic type cannot be inferred in that case. Internally, the list is typed as a `List<BlocProviderSingleChildWidget>` in order to allow `MultiBlocProvider` to infer the types of multiple `BlocProvider` instances correctly.

[2022-11-03 02:48] #3584 closed

[2022-11-03 02:52] felangel commented on #3494
I'd prefer not to include a widget like this in the library for several reasons:

- It should be something you can implement already as a separate package
- I highly recommend using blocs to manage feature state (you should have a bloc per feature in your app)
  - With this paradigm, you'd would not need multiple instances of the same bloc because there should not be multiple instances of the same

[2022-11-03 02:52] #3494 closed

[2022-11-03 03:51] github-actions[bot] opened #3600 "[Translations] Update docs"
Update Translations to include changes from 64a7eb21c85eda45f6fc197770d1ecc0ebb2cd44.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-03 11:44] mstfkhazaal opened #3601 "fix: Bloc Builder Not Rebuild"
When I use BlocBuilder inside alert dialog or bottomsheet BlocBuilder not rebuild

[2022-11-03 13:26] Gene-Dana commented on #3596
@goku-org I choose to believe that these limitations are just limits in my own understanding.

There are a few things that I see here that I'd suggest changes to (like `List<Student>` instead of `List<StudentState>`) but I think we need to take a step back to refactor into a features.

In doing so, I believe we'll greatly simplify your state.

If you can brief me on what you're trying to achieve,

[2022-11-03 14:32] Gene-Dana commented on #3601
Hi there 👋🏼 It's hard for us to help with out further context - it could be any number of issues - do you have a repo you can share?

[2022-11-03 14:33] ramanverma2k commented on #3472
Hi, I was also facing similar issue when adding ``bloc_test``. In my case the real culprit was ``build_runner``.

2.3.1 & 2.3.2 version isn't working.

This fixed my issue:
[code]

It seems like ``build_runner`` from version 2.3.1 and above depends on flutter_test as well. Hence the dependency resolving error.

Hopefully this will be helpful for anyone who is facing the same issue.

[2022-11-03 14:34] Gene-Dana commented on #3445
Closing this due to lack of response. Feel free to comment here if you continue to have issues

[2022-11-03 14:43] felangel commented on #3601
Also it might be helpful to check out the [FAQs section](https://bloclibrary.dev/#/faqs?id=state-not-updating) if you haven't already.

[2022-11-03 15:36] zippka224 commented on #3596
@Gene-Dana From what I'm understanding, he is concerned with the list rebuilding in case there was an update to only one object inside that list.
What I'm saying is that it doesn't matter that much. It is only few items visible that are rebuilding and it would not cause any performance hits.

[2022-11-03 16:24] hhoang-be commented on #2064
If I understand correctly a bloc is not readable in the context of its grand children.

I am wondering weather there is anyway a bloc is accessible to children widgets down from it in the tree?

[2022-11-03 19:24] Gene-Dana commented on #3596
This I agree with, and I've come to realize that most of the time when someone has concerns like this - things that may seem obvious to us - it's because of a much deeper misunderstanding of Bloc and it's suggested approach.

After reviewing this code, it's very clear there are many misunderstandings! And I'm just helping solve the only way I know how - starting from the start.

When @felangel spe

[2022-11-03 19:27] Gene-Dana commented on #3601
Forgot we had this ! Good look @felangel

[2022-11-04 04:03] github-actions[bot] opened #3608 "[Translations] Update docs"
Update Translations to include changes from dc1170be1e334b0748e0f3f1d5a6ff85f17f0e7c.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-04 04:19] felangel commented on #3350
@RickPoleshuck this has finally been resolved in hydrated_bloc v9.0.0. Closing for now but feel free to comment if you have any issues.

[2022-11-04 04:19] #3350 closed

[2022-11-04 04:21] felangel commented on #3486
This is supported in [v0.2.0 of the bloc brick](https://brickhub.dev/bricks/bloc/0.2.0) 🎉

[2022-11-04 04:21] #3486 closed

[2022-11-04 04:25] felangel commented on #2100
Closing this since there are currently no plans to migrate to riverpod. Anyone who prefers to use bloc with riverpod can feel free to use the riverbloc package.

[2022-11-04 04:25] #2100 closed

[2022-11-04 04:27] felangel commented on #2071
We generally recommend having a bloc per feature and following the directory structure outlined in the official bloc examples. If you prefer to have your own custom structure, I highly recommend extending the [bloc brick](https://brickhub.dev/bricks/bloc/0.2.0) and customizing it to fit your team's needs.

[2022-11-04 04:27] #2071 closed

[2022-11-04 04:36] github-actions[bot] opened #3610 "[Translations] Update docs"
Update Translations to include changes from b20a26fc3dcec8ef7dbdf91fd02c395f3497ad8b.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-04 04:38] github-actions[bot] opened #3612 "[Translations] Update docs"
Update Translations to include changes from b124726c0f76ef2fba4963ac83b94fcaecc7160e.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-04 04:40] github-actions[bot] opened #3614 "[Translations] Update docs"
Update Translations to include changes from e6e8eae17e1479e61aa3d95645f2c5c4b90d8da0.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-05 11:34] vogdb commented on #2178
Hi, @felangel! Sorry to bump the old thread but it looks like a best place to answer. Would it be correct to wrap `Navigator` in `BlocBuilder` inside `RouterDelegate` if I don't want to use `FlowBuilder`? Here is a short snippet that is based on [bloclibrary.dev/#/recipesflutternavigation](https://bloclibrary.dev/#/recipesflutternavigation?id=direct-navigation):

[code]

The full code of such appr

[2022-11-06 17:09] arutkayb commented on #363
I extended my state from Equatable and I made sure that hashCode changes but that variable change in the state doesn't trigger onChange of my Cubit. I understand the concept of using immutable States but am still curious about the reason of this behavior here. Can anyone explain that?

My state
`
class TripListState extends Equatable {
  List<Trip> _trips;

  TripListState(this._trips) : super();

[2022-11-06 17:18] anlumo commented on #3107
[Isar FAQ:](https://isar.dev/faq.html)

and is now at a state where I recommend always using Isar over Hive.

[2022-11-06 21:43] Gene-Dana commented on #363
hi there @arutkayb 👋🏼
Bloc will not update the state because it looks at `state.trips` as the same as it was before. The contents may be different because you mutated the state, but when the framework compares the old version vs the new version, it sees two objects with the same hashcode (as if nothing changed).

Equatable is made specifically to address this problem - allows you to simply define

[2022-11-07 06:29] maximveksler commented on #3107
Which contridicts with

![image](https://user-images.githubusercontent.com/550550/200240395-4833fc53-42b9-4b04-baf9-e095dbd1e1c9.png)

(src https://github.com/hivedb/hive/issues/246#issuecomment-997182092)

[2022-11-07 12:09] Gene-Dana commented on #3107
Where you start and where you end up are not always the same place !

[2022-11-07 14:40] maximveksler commented on #3107
Isar, having it's core implemented in Rust needs to bundle a priori a non dart binary.

This makes the whole dependency chain much more complex, which may fit heavy lifting cases however I would aruge does not fit the general purpose library use case of bloc.

IMHO switching would be a bad call.

As an alternative, either staying with Hive or using shared_preferences seem like viable options.

[2022-11-07 15:12] ac130kz commented on #3107
Given the size of Flutter libs alone, it is not an issue.

It's not a performance oriented approach, while Hive itself is barely maintained.

I believe it's the time to move with `isar` or SQLite via `drift`.

[2022-11-07 15:28] anlumo commented on #3107
What about removing all storage implementations from `hydrated_bloc` itself and just offering different options as separate packages?

[2022-11-07 15:52] felangel commented on #3107
How would that be an improvement over the current version? You can already create your own custom storage implementation and we'd likely still want a default implementation that is generally a good fit for the most common use-cases.

[2022-11-07 15:54] anlumo commented on #3107
My worry is that I don't want to ship the full hive package just for hydrated_bloc. However, maybe I'm just victim to my ignorance whether the tree shaking algorithm is good enough to get rid of it if I use my own custom storage implementation instead.

[2022-11-07 16:05] felangel commented on #3107
I believe tree-shaking should take care of it but feel free to open a separate issue if that's inconsistent with what you're observing.

[2022-11-07 17:07] grfn13 commented on #2526
How would I migrate this to the new version?

`class GroceryShopBloc extends Bloc<GroceryShopEvent, GroceryShopState> {
  GroceryDataProvider groceryDataProvider = GroceryDataProvider();
  GroceryShopBloc() : super(GroceryShopInitial()) {
    add(GroceryShopPageInitializedEvent());
  }

  Stream<GroceryShopState> mapEventToState(
    GroceryShopEvent event,
  ) async* {
    if (event is GrocerySho

[2022-11-07 20:51] chris-turner-datacom opened #3618 "BlocTest fails when bloc event handler method throws exception"
Hi there! Hopefully someone can help me with this. Let's say I have a bloc:

[code]

If I write the following unit test:
[code]
The test fails saying an Error was thrown. But that was kind of the point, I was trying to verify that an error was thrown in that particular circumstance. Interestingly, if I replace the act with:

[code]
The test passes fine. Can anyone explain what is happening or if I

[2022-11-08 06:53] github-actions[bot] opened #3620 "[Translations] Update docs"
Update Translations to include changes from 6caa7c2725b533f4744fe2d5c7cfa3f9fe351c48.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-08 13:37] adel9504 commented on #1204
Where to put the logic to decide if I provide local or remote repository?

[2022-11-08 14:51] ATHUL3120 opened #3621 "build: i want to change state with out emit"
i want to change state with out emit

[2022-11-08 15:58] felangel commented on #3621
Hi @ATHUL3120 👋
Thanks for opening an issue!

Emitting new states to notify listeners is a fundamental part of the bloc library. It's analogous to using `setState` to rebuild your widget when you mutate some state. Closing for now but feel free to provide additional context regarding why you want to change state without using `emit` and I'm happy to continue the conversation 👍

[2022-11-08 15:58] #3621 closed

[2022-11-08 15:59] felangel commented on #3601
Closing for now since there are no actionable next steps. Feel free to provide additional context and a minimal reproduction sample and I'm happy to take a closer look 👍

[2022-11-08 15:59] #3601 closed

[2022-11-08 16:05] felangel commented on #1204
I recommend having the repository make that decision. For example, you can have a `UserRepository` which either pulls user data from a backend (api client) or from a local db.

[2022-11-10 16:14] limonadev opened #3622 "fix: Bloc is being rebuilt from zero only in certain cases"
**Description**
If we have a `BlocProvider` to create a Bloc inside a widget part of a `Column`, depending on the siblings in that column the Bloc will be recreated in some cases, losing its state.

**Steps To Reproduce**

1. Clone https://github.com/limonadev/reproducible_issues and make `cd  bloc_rebuild`
2. Run the project (only tested on an Android mobile device) and press the button 'Change n

[2022-11-10 19:12] maRci002 opened #3623 "feat: add `EventTransformer` for all incoming events"
**Description**

Via `Bloc.on<E extends Event>(EventHandler<E, State> handler, {EventTransformer<E>? transformer})` an `EventTransformer`'s can be registered to `Bloc`. The registered transformer gets only the specific `E` events.

Problem is: multiple `EventHandler` cannot share the same transformer.

For instance I've a `PaginatingBloc` which has two `handlers` with `restartable` transformer fro

[2022-11-10 20:33] jacobtipp commented on #3623
@maRci002 in your example

[code]

these are both derived events of the base `TestEvent`

The functionality you desire is to have a single event handler for the base event and handle all derived events inside of it.

Like so:

[code]

If either of the derived events are being handled and another derived event comes in, it will invoke the new handler and events from the pervious handler are discard

[2022-11-10 21:51] maRci002 commented on #3623
@jacobtipp thanks for advice, I'm wondering if this is the way, I already thought about it.

Unfortunatelly the output is the same this might be another issue ( #3349 #3586 ). I am advised to check `if (emit.isDone) return;` but in this case both `_onTestEventRefresh` and `_onTestEventLoadMoreItems` will evaluate `true` especially if these handlers emits multiple states I cannot rely on `isDone` f

[2022-11-10 22:58] jacobtipp commented on #3623
@maRci002 I apologize, I forgot that the handler is async so you would need to await both derived event handlers

change this:

[code]

to this:

[code]

[2022-11-11 05:46] jacobtipp commented on #3586
@thipokch in your DemoBloc, you are using `emit.forEach` forEach is a method that returns a Future. You must await it inside of the event handler, so the event handler must also be marked as async.

refer to this https://github.com/felangel/bloc/issues/3623#issuecomment-1311005638

change this:
[code]

to this:
[code]

[2022-11-11 08:25] maRci002 commented on #3623
@jacobtipp thank you very much your effort it works like a charm.

Usually [unawaited_futures](https://dart-lang.github.io/linter/lints/unawaited_futures.html) is enabled on my projects so I would be forced to await derived event handlers.

Output:
[code]

[2022-11-11 08:44] #3623 closed

[2022-11-12 10:43] maRci002 commented on #3585
I think `member == 'BlocBase.addError'` won't work properly if code is [obfuscated](https://docs.flutter.dev/deployment/obfuscate).

[2022-11-13 21:48] lirantzairi commented on #3069
@felangel This would be the best approach in my opinion because it'll resemble the behavior of Flutter's `FutureBuilder` or `StreamBuilder` - these widgets check if they have been disposed of prior to calling the builder function. Moreover, developers won't need to make changes to their code in order to use it.
I'd love to get rid of all the dozens of `if (isClosed) return;` lines in my code :)
Th

[2022-11-15 15:45] github-actions[bot] opened #3626 "[Translations] Update docs"
Update Translations to include changes from 4cd46a27825e4bed210811a16c81bb500f59599b.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-15 17:12] AdamNSmith commented on #3618
I'm also experiencing this. Any ideas?

[2022-11-16 09:47] Coaspe opened #3629 "docs: Clicking bloc button in contents directs me to en-us"
I have completed the translation of [Core Concepts -> package:bloc] into Korean
But clicking bloc button in contents directs me to en-us.
How can I contribute my translation?

![Nov-16-2022 18-36-38](https://user-images.githubusercontent.com/76432686/202145587-118586fb-8d6c-4cca-ad0b-bc3ab3b6dff5.gif)

[2022-11-17 23:17] felangel commented on #3629
Hi @Coaspe 👋
Thanks for opening an issue!

Can you open a pull request and I'm happy to take a look and help fix the issue, thanks!

[2022-11-18 21:11] #3594 closed

[2022-11-18 21:11] github-actions[bot] opened #3634 "[Translations] Update docs"
Update Translations to include changes from 61a4b97645865b564798789fc2799db366d95402.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2022-11-21 07:34] jenshor opened #3635 "docs:"
**Description**

I'm currently implementing product analytics. I already read the docs regarding [`BlocObserver`](https://bloclibrary.dev/#/coreconcepts?id=blocobserver) but are there additional docs or example apps showing how to track and process events?

I'm also curious about how VGV is doing product analytics. I'd love to hear about your best practices 👍🏻

[2022-11-21 13:23] Shamsudeen12 commented on #3192
Can I work on this?
@felangel

[2022-11-21 16:55] felangel commented on #3192
Yup, I'll assign you. Thanks!

[2022-11-21 17:02] piwai44 opened #3636 "docs: reusable widgets using bloc"
**Description**

Hi,

Working with bloc, I have most of the time a bloc for each screen to interact with repositories wich it seems to be the good practice.

But I don’t find in documentation how to reuse widget using bloc.

For exemble, if we have this widget tree :

- CustomerPage
- - AddressWidget
- - - CityWidget

The CityWidget can get a list of City objects according to the Zip code entered

[2022-11-21 20:50] #3629 closed

[2022-11-22 14:10] slaci opened #3637 "feat: HydratedBloc custom storage per bloc class?"
**Description**

Currently only one storage can be registered globally and that storage doesn't receive which bloc it is hydrating. I want to hydrate Auth bloc's data to secure storage, other data to hive or whatever.

Couldn't find if this was discussed before, sorry if it was.

**Desired Solution**

As the `read` and `write` methods are called in a mixin/baseclass context, `this.runtimeType` (wh

[2022-11-22 15:30] 3kdeveloper commented on #3508
Hi @phamducmanh1452001

I face the same problem today.
So I solve them by wrapping Multi Bloc Provider in Multi Repository Provider.

[2022-11-22 18:09] Coaspe commented on #3622
Hello! @limonadev
I think this problem is not about `Bloc` but `updateChildren` method.
I wrote issue on Flutter repository about this.

[2022-11-23 02:20] thipokch commented on #3586
@jacobtipp Thanks!

[2022-11-23 02:20] #3586 closed

[2022-11-23 02:25] felangel commented on #3595
Closing for now since there is no minimal reproduction sample. Feel free to provide one and I'm happy to continue the conversation 👍

[2022-11-24 10:05] Allan-Nava commented on #3508
The flutter_login demo has this problem :
`
type 'Null' is not a subtype of type 'LoginBloc' in type cast
`

[2022-11-24 13:18] jacob-emery opened #3638 "docs: Does bloc inherit all Provider issues?"
**Description**

I had a brief look at your library, and — since provider is a dependency — I am wondering if there are issues of provider that your library fixes. For example, is it possible to have multiple instances of the same provider type?

[2022-11-24 14:43] slaci commented on #3637
Well, how blind am I. The `key` is exactly is the Bloc's name, so this is not an issue. It can even be modified a bit by the `id` getter.

[2022-11-24 14:43] #3637 closed

[2022-11-24 20:20] TheGlorySaint commented on #3635
That would be good to know or have explanation

[2022-11-24 20:22] TheGlorySaint commented on #3618
I'm also experiencing this.

@felangel Could you give us a explanation about that issue?

[2022-11-24 23:38] oravecz opened #3639 "Login Tutorial - Is this an error?"
I was noticing the `authentication_bloc.dart` file contains code invoked to close the bloc. In this code, is a class to `dispose()` the repository.

[code]

It seems odd to me to make such a lifecycle call on a dependent object when the Bloc is not responsible for creating the `AuthenticationRepository` in the first place.

[2022-11-25 08:55] piwai44 commented on #3160
+3

[2022-11-25 16:16] KHChanna opened #3640 "The non-abstract class 'BlocBuilder' is missing implementations for these members"
**The non-abstract class 'BlocBuilder' is missing implementations for these members**

Hi, i get this error when i update the `pubspec.yaml` using command line `flutter pub get`.
flutter_bloc : flutter_bloc: ^8.1.1

`Error: Expected a class member, but got '}'.
../…/src/bloc_builder.dart:90
}
^
: Error: The non-abstract class 'BlocBuilder' is missing implementations for these members:
../…/src/blo

[2022-11-25 16:59] felangel commented on #3640
Hi @KHChanna 👋
I’m guessing you accidentally modified the bloc source code in your pub cache. I recommend clearing your pub cache and reinstalling the package. Let me know if the issue persists, thanks!

[2022-11-25 16:59] #3640 closed

[2022-11-25 19:59] jtdLab opened #3641 "Sharing blocs"
Hi thanks for the great library.

I got a question related to sharing code when using bloc.

Let's imagine there is an app for desktop and mobile which got a feature. On mobile the feature is very basic. On desktop the same feature is more complex with additional functionality. That said what is the correct path to go from here. Either implementing 1  platform independent `Bloc` or 2 platform depe

[2022-11-26 06:34] yeahse opened #3642 "feat: Could you PLEASE stop changing syntax?"
I inevitably update the bloc version whenever the flutter version is updated, but it's scary every time I do it. Why do you keep wasting my time?

Could you PLEASE stop changing syntax?

Leave the function names as they are.

[2022-11-26 07:25] felangel commented on #3642
Hi @yeahse 👋
Thanks for opening an issue!

Can you provide more context? What version were you previously using and what function names are you referring to? Outside of hydrated_bloc v9.0.0 there haven’t been breaking changes in quite some time.

[2022-11-26 12:28] bartekpacia commented on #3069
I like the current behavior of throwing if `emit()` is called when bloc/cubit is already closed, because it forces you to think about the fact that your async work isn't canceled after the user eg. exits the screen with that bloc/cubit.

I'd like also like to bring up the topic that I feel nobody has brought up in this thread, that is: `Future`s in [Dart aren't preemptive](https://github.com/dart-

[2022-11-26 12:39] yeahse commented on #3642
It probably happens when moving from version 6 to version 7 8. I had to fix all block classes, and in the main method, I had to register an observer differently, and even the initial event didn't work unless I wrote lazy false (even the bloc library site In , lazy was not listed in any example, so I had to search Stack Overflow for 2 hours.

I want to use safely and I want it to be unchangeable.

[2022-11-26 15:59] felangel commented on #3642
Going from version 6 to 7 and 7 to 8 implies that there are breaking changes. The changes were made to improve the developer experience and every time there is a breaking change, it is mentioned in the CHANGELOG and [migration guide](https://bloclibrary.dev/#migration) along with an explanation of why the change was made. If you don’t want to deal with breaking changes then you shouldn’t upgrade w

[2022-11-26 15:59] #3642 closed

[2022-11-26 18:31] PascalGehring opened #3643 "Failed assertion: line 4606 pos 14: 'owner!._debugCurrentBuildTarget == this': is not true. when using BlocBuilder"
**Description**
I get `Failed assertion: line 4606 pos 14: 'owner!._debugCurrentBuildTarget == this': is not true.` when I use BlocBuilder. Here is my code sample:

*UI code*
[code]

*Bloc*

[code]

*BlocEvent*

[code]

*BlocState*

[code]

[2022-11-28 14:16] furkansarihan commented on #1204
@felangel What about accessing to repository providers from each other in a multi repository provider?

[2022-11-28 14:37] narcodico commented on #1204
@furkansarihan repositories should not depend on each other.

[2022-11-28 19:33] otto-dev commented on #1204
You can, through the `context` provided by in `create` by each of the child `RepositoryProviders`, as long as the repository you are trying to access was listed as a _previous_ child in the `providers`. So the order of the `providers` in the `MultiRepositoryProvider` matters.

I would disagree, of course they can if it makes sense to do so in respect to the responsibilities of the repositories. Th

[2022-11-28 20:18] narcodico commented on #1204
@otto-dev that is not a rule, it's a simple guideline. Of course you can have all your repositories depend on each other if you think that's a good approach. Obviously you can route your data through the blocs and achieve a better architecture overall. Sorry if that sounds smart, I really wasn't trying!

[2022-11-29 14:31] md186 opened #3644 "fix: How to use bloc with Navigator or routes in general"
**Description**
Hello, in my app im using multiple blocs and Im trying to figure out how to handle blocs with navigation. I have a button on my `RoundScreen` which fires an action which is executed and should `logout` a user and show a `SplashScreen`, but the UI doesn't prompt me to it, it only does the function in my logout event removing tokens and stuff like this.

First of all I tried to add `

[2022-11-29 22:26] md186 commented on #3644
I just have an idea: What if I provide every `BlocProvider` in `MultiBlocProvider` and still using the `AppRouter`. Now if I need a bloc on the router I can just wrap my Screen to show with `BlocProvider.value` and dont dispose it there? I just need to know if its fine to NOT dispose it since im using it provided from the main.dart ? Would look like this:

**main.dart**
[code]

**and my AppRouter*

[2022-11-30 16:47] jenshor commented on #3635
Felix just shared this gist with me https://gist.github.com/felangel/cfd2e4195fa8afbf153f2e663e3f51bd which allows to track specific events as well as define which properties are tracked.

There are obviously additional approaches once could implement, but this allows to define which events are tracked as well as which properties.

[2022-11-30 18:02] PawlikMichal25 opened #3645 "docs: Consider explicitly stating that all Bloc / Cubit public methods should return void"
Recently, I saw in some projects developers adding to Bloc/Cubit some getters or other methods returning data to quickly check a flag or process some data, instead of having UI getting data from Bloc **_only_** through state, which I believe is the contract which we should have in Bloc.

so @felangel I wanted to ask whether you agree that:
- All _public and non-static_ methods in Bloc/Cubit should