[2021-09-14 11:30] doitduri commented on #2403
Hi, @felangel

This issue occurs to me, too.
I provide the sample code below. I want to know the reason for `BlocBase.close`.

**code:**

1. PageA.dart
[code]

2. PageB.dart
[code]
![image](https://user-images.githubusercontent.com/26545623/133249322-745c963d-496b-49d5-beb7-168a8e9e7e87.png)

[2021-09-14 13:11] felangel commented on #2403
Can you provide a link to a complete minimal reproduction sample?

[2021-09-14 13:49] programming6131 opened #2742 "chore:"
when using BlocConsumer the listener is a required parameter , what if i dont need to use it in my code ? do i have to just call the listener function and leave an empty todo or can it be made optional ?

[2021-09-14 14:17] felangel commented on #2742
Hi @programming6131 👋
Thanks for opening an issue!

`BlocConsumer` is meant for when you want to both rebuild and react to state changes. If you only need to rebuild in response to state changes you should use `BlocBuilder` and if you only want to react to state changes you should use `BlocListener`. Hope that helps 👍

Closing for now but feel free to comment with additional questions and I'm happ

[2021-09-14 14:17] #2742 closed

[2021-09-14 14:32] #2740 closed

[2021-09-14 15:02] doitduri commented on #2403
Please check the code.

[project infomation]
1. main -> PageA  (provide TestCubit)
2. PageA -> PageB (BlocProvide.value)
- **change TestState using TextField**

**sample project demo :**
![bloc](https://user-images.githubusercontent.com/26545623/133282030-5664f53a-5b7d-4be7-9f2d-951d9f223aa4.gif)

**sample code :**
https://github.com/doitduri/bloc_sample

[2021-09-14 21:20] PascalGehring commented on #2735
@Gene-Dana, @marcossevilla, @felangel: Does the repo need clarification?
Thank you for your answers.

[2021-09-16 05:08] gbaccetta commented on #1965
Hello,
I'm not sure it is correct to write into a closed issue, but since it is related I'll give a shot here first.
I recently stumbled on the need for this and I wanted to know your opinion on this. I have a list with some items fetching an url preview when the text contains an url. However the list being rebuild each time, the animations that expand the item list once the data is ready trigger

[2021-09-16 10:15] mfizz1 opened #2743 "question: Using bloc/cubit to subscribe to Stream.periodic()"
Appreciate all the help that is being provided here. However I am stuck on an element. Using the help provided here, I have created a cubit that fetches time from a server and then increments 1 second to simulate the current time based on location. The below code works well with `StreamBuilder` because of passing the stream as a state change which I then use in `stream`.

[code]
For the sake of im

[2021-09-16 13:29] octokim opened #2744 "question: emit several states one by one"
I need to emit several states one by one, but builder takes only last state (while listener takes them all)

[code]
I got next output
[code]

is it a common behavior?

[2021-09-16 14:22] felangel commented on #2744
Hi @octokim 👋
Thanks for opening an issue!

This is working as expected. The problem you're facing is the state of the cubit is changing faster than the UI can rebuild. The same thing will happen if you use `setState` and update the state back to back. See #173 (comment)

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-09-16 14:22] #2744 closed

[2021-09-16 14:39] octokim commented on #2744
@felangel thanks for your answer!
But now I'm wondering how to handle this behavior. Have you some workarounds? Or maybe I misuse Bloc lib and it's wrong to emit more than one state at once?

[2021-09-17 00:16] hesamchobanlou opened #2745 "update/refresh bloc data?"
Good day,

I have been following the Infinite List example from the official documentation.

For my use-case, the data is retrieved from the API and shown as a list of item. However, I am wondering what the best approach is to update the list of items (let's assume a db insert happened from another user) periodically or through a pull-down-refresh.

What's the best practice to reset the data store

[2021-09-17 01:27] github-actions[bot] opened #2747 "[Translations] Update docs"
Update Translations to include changes from 0a68993c75c2e83068a1c048e22685b1d35a5939.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-09-17 02:11] elianmortega commented on #2735
Hello @Gene-Dana, I did check your example with @marcossevilla,

To understand what is happening and why in your example your "event gets dispatched with old state", you need to understand that streams are asynchronous objects. What you are doing in your code is adding 2 events one after another without taking into account that the methods being triggered by the `GetCachedTimetable` are `async` so

[2021-09-17 02:18] elianmortega commented on #2731
Hey @marcossevilla, I do prefer option #2 because just as you mentioned it represents better the idea that every single event should be registered with an `on` method.

Also, I do think it's a more realistic snippet as usually with complex logic you will do:
[code]

[2021-09-17 09:05] Puspharaj commented on #2738
I would say as long as the user data not saved somewhere, Then every user would be treated as new user. If I save the user data in local or remote it would be nice to treat them every time even if the uninstalled my app and returning to my app(stored in firebase ).

[2021-09-17 19:05] PascalGehring commented on #2735
@elianmortega Thank you so much for your detailed explanation. I added a new Event and it worked perfectly. Thank you also for your honest feedback on my code: I'll checkout the bloclibrary.dev core concepts and install the Very Good Analysis to improve my code.

@felangel your package is one of the best maintained flutter packages out there.

[2021-09-17 19:05] #2735 closed

[2021-09-17 19:20] prasant10050 commented on #2731
Is it a good practice to call member function from constructor?
Short answer:

Big No..! Please think twice before going with that approach. Actually, the problem arises when you go for inheritance.

Long answer:

Let’s take an example for discussing the problem we incur if we call the member method inside constructor.
[code]

Extending class A in class B

[code]

Test program
[code]

Expected out

[2021-09-17 20:13] felangel commented on #2731
@prasant10050 I don't think this is an appropriate place to have this discussion. If you are against the changes proposed, then you should leave the feedback on the proposal (#2526). This issue was posing a very specific question to gather feedback regarding what the snippet should look like in the vscode and intelliJ extensions not to discuss the new API.

In any case, `on<E>` is registering an e

[2021-09-18 00:17] nabond251 commented on #2692
@Gene-Dana @felangel also [here](https://github.com/nabond251/bloc/commit/e85a43b37c4ec079e6e5f5b35487b6a739b1a751) is a commit with the proposed changes.  Haven't updated the docs yet or added tests, so more for reference than pull request.

[2021-09-18 01:22] felangel commented on #2692
@nabond251 thanks for providing a code sample. I rewrote the snippet you provided using `BlocListener` and keeping `BlocProvider` as is:

[code]

With the above approach there is no need to maintain and dispose multiple subscriptions as part of `create` and it keeps `create` focused on just one thing: creating the bloc that will be provided. By using `BlocListener` you don't need to maintain and d

[2021-09-18 01:39] nabond251 commented on #2692
@felangel hey, that looks like a winner. Thanks for taking the time to help a noob 🤓

[2021-09-18 01:52] felangel commented on #2692
Of course! Glad I was able to help 😄

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation.

[2021-09-18 01:52] #2692 closed

[2021-09-18 02:02] felangel commented on #2745
Hi @hesamchobanlou 👋
Thanks for opening an issue!

If you want to update the data you can add an `UpdateRequested` event to the bloc when an update is requested (either in response to a pull-to-refresh request or a periodic timer):

[code]

Then in the bloc you can perform the update and return the latest data:

[code]

Hope that helps 👍

[2021-09-18 02:18] felangel commented on #2743
Hi @mfizz1 👋
Thanks for opening an issue!

If I understood correctly, you should be able to do something like:

[code]

I'm not sure I fully understood what you're trying to achieve though and in general I don't recommend doing this because you are overriding the built in state stream and not really taking advantage of using Cubit. If that's all you need to do then it's probably simpler/more fitti

[2021-09-18 07:18] mfizz1 commented on #2743
Hi @felangel tha k your for responding.

Apogies for not making my question clear. I simply want to use stream.periodic and create a single stream (instance / singleton) that is accessible by many child widgets. Similar to how one would use stream controller and inherited widgets.

I am currently using stream builder to create the widget. Your alternative solution creates the stream in the steambu

[2021-09-18 10:13] narcodico commented on #2743
You can use a `StreamProvider` on top of your `MaterialApp` then you can get your state anywhere in the app. It's part of the `provider` package.

[2021-09-18 11:13] nguyenxndaidev opened #2748 "[Proposal] official bloc devtools"
If you use Redux, Redux DevTools is a must.
It would be nice if we have a similar tool for Bloc.

There's a nice guy, who is implementing [flutter_bloc_devtools](https://github.com/andrea689/flutter_bloc_devtools).

@felangel: It would be nice if this kind of tool is officially supported and be always in synced with the development of Bloc library. Maybe you could contact the author of flutter_blo

[2021-09-18 20:43] hesamchobanlou commented on #2745
Thank you @felangel, that worked out perfectly.

[2021-09-18 20:43] #2745 closed

[2021-09-19 08:43] scugn1zz0 opened #2749 "docs: Error in app_bloc.dart in flutter_firebase_login"
The error is in the `_mapUserChangedToState()` method in the file `app_bloc.dart`.
Path to the file: `lib` > `app` > `bloc` > `app_bloc.dart`

**The error consist in having `AppState state` as a parameter for the function. The function, indeed, doesn't need it and, hence, it should be removed.**

The function declaration just for your reference:
[code]

**Should become ->**
[code]

Here (`*`) is w

[2021-09-19 09:31] afpatmin opened #2750 "build: [angular_bloc] angular 7.0.0 (null safety)"
**Description**

Update version restrictions and migrate to null safety to support newly released angular 7.0.0.

Fixes the following build error:
`Because angular_bloc >=6.0.0 depends on angular ^6.0.1 and [PROJECT] depends on angular ^7.0.0, angular_bloc >=6.0.0 is forbidden.`

[2021-09-19 18:45] steeling opened #2752 "feat: please provide option to send first state to listen"
This has been talked about countless times. The workarounds leave require too much boilerplate. Why not add an optional param to allow calling listen on the bloc's initial state?

[2021-09-19 18:51] steeling opened #2753 "feat: allow sending events to bloclistener"
This is likely going to get shot down, but here it goes.

The listener method should not accept a state. It should accept events. States are for building. Listener listens to events. Often times events are important not just to the business logic, but to the widgets themselves. A good example is a loading indicator. If i want to show a CircularProgressIndicator, while maintaining my state, i then

[2021-09-19 18:53] steeling opened #2754 "feat: allow setting state outside of mapEventToState"
Why restrict your users to this? Provide a happy path, sure, but don't put baricades up for power users.

[2021-09-19 20:59] mfizz1 commented on #2743
@narcodico and @felangel thank you both. I think I will stick to the solution provided by yourself earlier as I don't want 2 state management solutions in my app.. Perhaps for the next one I will look at provider I think bloc / cubit it easier to digest.

[2021-09-19 20:59] #2743 closed

[2021-09-19 21:26] narcodico commented on #2743
`provider` is not a state management solution, pragmatically speaking that is 😉
It's just a dependency injection tool, which is actually used by the bloc library under the hood.

[2021-09-19 21:35] felangel commented on #2752
Hi @steeling 👋
Thanks for opening an issue!

If you really want that behavior you can easily achieve it by overriding the `stream` with `rxdart` like:

[code]

Hope that helps 👍

[2021-09-19 21:42] felangel commented on #2753
Hi @steeling 👋
Thanks for opening an issue!

I disagree, events are used to notify the bloc and the UI reacts to states. It would be an anti-pattern imo to have the UI listen for events because the UI is responsible for dispatching events in the first place.

Regarding the loading indicator example, `loading` is a state. In your snippet, `myState` is some data/model it isn't the state in my opinio

[2021-09-19 21:46] felangel commented on #2754
Hi @steeling 👋
Thanks for opening an issue!

This is because when using a `Bloc`, a state change should only happen in response to an incoming event. By allowing developers to set state outside of `mapEventToState` we violate this principle and it would no longer be possible to trace how a certain state became a certain value.

If you want to be able to trigger state changes from anywhere, then I

[2021-09-19 22:30] #2750 closed

[2021-09-19 22:36] felangel commented on #2750
Hi @afpatmin 👋
Thanks for opening an issue!

Apologies, I must've missed the v7.0.0 angular release 😅
Just published [angular_bloc v7.0.0](https://pub.dev/packages/angular_bloc/versions/7.0.0) which supports angular v7.0.0 🎉

[2021-09-19 22:57] felangel commented on #2734
Closing for now since there is no reproduction sample. Feel free to include a link to a reproduction sample and I'm happy to revisit this 👍

[2021-09-19 22:57] #2734 closed

[2021-09-19 22:59] #2749 closed

[2021-09-20 00:38] andrewdixon1000 opened #2757 "docs: Can't find an example of mocking a bloc to emit states in reponse to events"
Hi,

I asked [this question](https://stackoverflow.com/questions/68809649/how-do-i-mock-a-bloc-in-flutter-with-states-being-emitted-in-response-to-events) on stackoverflow around a month ago but didn't get any response, so I want to try and get an answer here.

I want to test a widget that uses a bloc.  I want to be able to emit states from a mock of the bloc in response to events being raised by

[2021-09-20 06:29] octokim commented on #2744
Any suggests?

[2021-09-20 11:02] scugn1zz0 commented on #2757
First of all your issue boils down to, is **widget testing with bloc**.
See [this](https://stackoverflow.com/questions/68809649/how-do-i-mock-a-bloc-in-flutter-with-states-being-emitted-in-response-to-events) resource, and [this](https://gist.github.com/reinaldomoreira/98e6d8ce1c296defe66fb064bbc2733b) resource.

Secondly. I wouldn’t merge widget + bloc test, unless you are doing integration testi

[2021-09-20 18:09] steeling commented on #2752
nice, thanks for the tip!

[2021-09-20 18:09] #2752 closed

[2021-09-20 18:12] steeling commented on #2753
Gotcha, that makes sense, i'll give this a shot. Thanks for the quick and detailed reply!

[2021-09-20 18:12] #2753 closed

[2021-09-20 18:14] steeling commented on #2754
It just adds a lot more boilerplate. I would much prefer to have a single function for each event on my bloc, and call `myBloc.myEventCall(....)`, which would avoids large functions, and saves me from having to create a model for each event. At the end of the day I can work around it, but would be nice to have IMO

[2021-09-20 18:23] felangel commented on #2754
What you're describing is `Cubit` 😄 .
If you don't need events you can just use `Cubit` and define functions:

[code]

[2021-09-20 20:42] steeling commented on #2754
thanks for pointing me in the right direction!

[2021-09-20 20:42] #2754 closed

[2021-09-20 23:27] zbarbuto commented on #2526
Following [this comment](https://github.com/felangel/bloc/issues/2526#issuecomment-878794925) I'm wondering if it would be worth encouraging a different name convention for the `emit` argument used in `on()` to avoid confusion with the internal `emit` used by `Bloc` / `BlocBase`.

If you're migrating from `mapEventToState` it seems like an easy mistake to make that you forget to pass in the `emit`

[2021-09-20 23:58] andrewdixon1000 commented on #2757
Thanks for taking the time to post.

If I'm understanding you correctly what you suggest that I do is exactly what I'm trying to do.  I have a set of unit tests for my bloc and then I have a widget test for a widget that has the bloc as a dependency.  In that widget test I need to mock the bloc in such a way that it emits states in response to events and that's the part I'm struggling with.

I don

[2021-09-21 01:20] #2738 closed

[2021-09-21 01:58] felangel commented on #2757
Hi @andrewdixon1000 👋
Thanks for opening an issue!

I took a look and [opened a pull request](https://github.com/andrewdixon1000/flutter_bloc_mocking_issue/pull/1) with my suggestions. I highly recommend thinking of your tests in terms of notifications and reactions. In this case, I recommend having one test to verify that when the button is tapped, the correct event is added to the bloc (the bloc

[2021-09-21 07:49] jeroen-meijer opened #2758 "docs(flutter_firebase_login): documentation feedback"
## Description

This issue is meant to log and keep track of feedback gathered from people who have used the Flutter Firebase Login example, including comments about the documentation, the example code itself and any other aspects related to the project.

### Feedback
- Links to firebase intructions dont point to the correct page
- Cache package points to a local path
- Alot of missing barrel file

[2021-09-21 07:49] jeroen-meijer opened #2759 "docs(flutter_weather): documentation feedback"
## Description

This issue is meant to log and keep track of feedback gathered from people who have used the Flutter Weather example, including comments about the documentation, the example code itself and any other aspects related to the project.

### Feedback

- Helper Folders are in a Local path
- Sometimes its unclear where files should be located
- weather_bloc_observer is never defined

###

[2021-09-21 07:51] jeroen-meijer commented on #2758
Assigning @gvdvoort to provide feedback since he recently tried out this example.

[2021-09-21 07:51] jeroen-meijer commented on #2759
Assigning @gvdvoort to provide feedback since he recently tried out this example.

[2021-09-21 15:55] #2526 closed

[2021-09-21 15:55] github-actions[bot] opened #2760 "[Translations] Update docs"
Update Translations to include changes from 6e280420b468f2a3091cd9c85d26c62fbf23a552.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-09-21 16:00] github-actions[bot] opened #2761 "[Translations] Update docs"
Update Translations to include changes from 127702a52eb5b6981b757ee7a9cb28ba24c51816.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-09-21 16:12] felangel commented on #2526
Good catch! I removed the `protected` decorator 👍

[2021-09-21 16:14] felangel commented on #2526
the time has come 🥁 🥁 🥁

bloc v7.2.0 is now out 🎉

📦 update now: https://pub.dev/packages/bloc/versions/7.2.0
📔 migration guide: https://bloclibrary.dev/#/migration?id=v720

[2021-09-21 17:08] plibr opened #2768 "refactor: improve bloc with stream example"
Am I able to show 'Press the floating button to start' text after Ticker class tick 10 times?

[here](https://github.com/felangel/Bloc/blob/master/examples/flutter_bloc_with_stream/lib/main.dart)

I suppose that I might change this part:

[code]

[2021-09-21 19:40] github-actions[bot] opened #2771 "[Translations] Update docs"
Update Translations to include changes from 3d57e6571b19d64c22127259d11889bf981db0c8.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-09-21 19:42] github-actions[bot] opened #2772 "[Translations] Update docs"
Update Translations to include changes from 8c32273cd3e5267f2b4167325c77cca0f8386847.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-09-21 21:36] felangel commented on #2768
Hi @plibr 👋
Thanks for opening an issue!

I opened #2774 which updates the example app to include a complete state when the ticker is done.

Hope that helps 👍

[2021-09-21 21:42] #2768 closed

[2021-09-21 23:16] andrewdixon1000 commented on #2757
Hi @felangel

Thanks a lot for your reply.  You PR has opened my eyes to how to approach these tests and I've successfully fixed the tests I was struggling with.

[2021-09-21 23:18] #2757 closed

[2021-09-22 04:43] DongNQFinizy commented on #74
hi @felangel  i have a problem with navigator
I have 3 page: A, B, C
I used 1 bloc for all 3 pages
from page A -B, i used navigator.push with blocprovider.value : Worked ok
from page B-C, i used navigator.pushReplacement with blocprovider.value : not work.
on page C : it said that can't find context of bloc.
I thank the problem was because of pushReplacement. It replace page B with page C -> So it

[2021-09-22 04:46] jasonjackson opened #2775 "docs: BLoC Exception Handling - Firebase Login Tutorial"
Hello, I am unable to find any clear best practice examples of how exception handling is best implemented.  I'm new to flutter, and was looking to learn by implementing better handing in the Firebase Login example.  Currently, if a new user signs up and any of the supported firebase exceptions are thrown for invalid-email, user-disabled, user-not-found, wrong-password, email-already-in-use, these

[2021-09-22 06:38] Gorniv opened #2776 "how change Flutter Files template for v7.2.0-8.0.0"
i'm developer https://marketplace.visualstudio.com/items?itemName=gornivv.vscode-flutter-files (176,248) and i don't understand easy way for migrate:
bloc:
[code]
event:
[code]

[2021-09-22 07:49] furkanKuran commented on #181
Thank u @felangel

[2021-09-22 08:06] mado-bohsali opened #2777 "No MediaQuery widget ancestor found"
Dear team,

Today I have tried to install the hydrated_bloc package. Throughout my coding I received this error

![Simulator Screen Shot - iPod touch (7th generation) - 2021-09-22 at 11 04 32](https://user-images.githubusercontent.com/18421260/134306083-03a5f64a-3583-4b68-805f-812313d72224.png)
:
<img width="619" alt="Screen Shot 2021-09-22 at 11 06 19 AM" src="https://user-images.githubuserconten

[2021-09-22 11:10] plibr commented on #2768
is there a way to do this without bloc_concurrency?
I was confusing until this, and now confused 200% :)

[2021-09-22 14:13] wujek-srujek opened #2778 "[Discussion] What was the rationale to change the default behavior from sequential / expandAsync to concurrent / flatMap in 7.2.0?"
Not a bug; rather a question of a long-time user. As in the title, the default behavior changed considerably in the latest version, and I would be interested why. (I'm not implying it is good or bad or anything, just plain curious.)
In my previous enterprise project with Flutter, the default of being sequential was very welcome as we could foresee how the bloc would behave and life was simple. We

[2021-09-22 15:16] felangel commented on #2776
Hi @Gorniv 👋
Thanks for opening an issue!

I don't really recommend this pattern where your events contain the logic to map themselves to states but the v7.2.0 equivalent would be:

[code]

Hope that helps 👍

[2021-09-22 15:21] felangel commented on #2777
Hi @mado-bohsali 👋
Thanks for opening an issue!

The problem is you don't have a `MaterialApp` at the top of your widget tree. To resolve it you just need to wrap `MyHomePage` in a `MaterialApp`:

[code]

This issue is not related to the bloc library so in the future please try to avoid opening issues here that aren't directly related to the library, thanks 🙏

[2021-09-22 15:21] #2777 closed

[2021-09-22 15:29] felangel commented on #2778
Hi @wujek-srujek 👋
Thanks for opening an issue!

We went back and forth on this and there are several reasons for the change:

1. Many developers we spoke with actually expected/thought the events would be processed concurrently and were surprised to hear that in the previous implementation the default was sequential.
2. It's pretty common to have events that are triggered by user input (button ta

[2021-09-22 15:44] felangel commented on #2768
What specifically are you confused about? The reason for bloc_concurrency in this case is to cancel the previous ticker subscription if the user taps the button while the ticker is in progress.

[2021-09-22 16:23] PouryaNoufallah96 opened #2780 "Prevent Code Duplication"
Hi!
I have some code duplicates in one of my projects. For example, in the two pages that just the list of items are loaded with infinite loading and some filters, all the state and cubit items are similar, only the model of their list item is different. I wanted to see if there is a solution like generics

i uploaded these 2 cubits here:
https://ufile.io/f/39kk4

[2021-09-22 16:24] felangel commented on #2780
Hi @PouryaNoufallah96 👋
Thanks for opening an issue!

Can you please provide a link to a GitHub repo or Gist instead? Thanks 👍

[2021-09-22 16:24] wujek-srujek commented on #2778
1. I actually expected the same when I first stared working with Dart, Flutter and Bloc, and so did pretty much everybody in my team. But I did feel the default of being sequential was a nice gift.
2. Yes, but as I said, in our case (a huge mobile application that you know very well...) the great majority of cases wanted the sequential behavior, `switchMap` being the second most common, and I have

[2021-09-22 16:25] wujek-srujek commented on #2778
I love the new `on<Event>` API, BTW.

[2021-09-22 16:32] PouryaNoufallah96 commented on #2780
Sure . Do you have a microsoft account so i can invite you ? My project is on azure

[2021-09-22 16:36] felangel commented on #2778
It all depends on the use-case. The concurrency/event transformers were inspired by [ember concurrency](http://ember-concurrency.com/docs/task-concurrency/) which defaults to `concurrent` as well.

If the methods are asynchronous, then the order of state changes is determined by when `emit` is called so just because `methodA` was called before `methodB` doesn't mean `methodA` will complete before

[2021-09-22 16:37] felangel commented on #2778
Thanks for the support! That's great to hear 😄 💙

[2021-09-22 16:45] felangel commented on #2780
Can you create a minimal reproduction sample (as simple as possible to illustrate the problem) and just make a gist?

[2021-09-22 16:48] wujek-srujek commented on #2778
Yes, if they are `async` everything changes, but in this case the developer knows that there is no way to foresee much. I was focusing on the sync case.

Great to hear, I understood the release notes differently, sorry for this.

[2021-09-22 16:48] #2778 closed

[2021-09-22 16:49] felangel commented on #2778
No problem at all! Let me know if you have any other questions/concerns -- I'm always happy to discuss 😄

[2021-09-22 18:17] PouryaNoufallah96 commented on #2780
the project is so big:(
i just send some states and cubits below. i hope you can get what i mean .

this is one of my states:
part of 'customer_remain_invoices_data_cubit.dart';

@immutable
class VisitorCustomerRemainInvoicesDataState extends Equatable {
  final ListDataStatusModel dataStatus;
  final BaseSort baseSort;
  final FromToDateFilter filter;
  final String search;
  final List<VisitorCu

[2021-09-22 18:19] PouryaNoufallah96 commented on #2780
and this is one of my cubits:
import 'package:bloc/bloc.dart';
import 'package:equatable/equatable.dart';
import 'package:udplus_app/models/list_data_status.dart';
import 'package:udplus_app/repository/repository.dart';
import 'package:meta/meta.dart';
import 'package:udplus_app/shared/filters/from_to_date/from_to_date_filter_model.dart';
import 'package:udplus_app/shared/sort/ordering_sort_model.

[2021-09-22 21:41] PouryaNoufallah96 commented on #2780
i added my project here:
https://github.com/PouryaNoufallah96/udplus_test/tree/master/udplus_app

please look at these directories (cubit and state)
udplus_test/udplus_app/lib/visitor/customer/
udplus_test/udplus_app/lib/visitor/customer/remain_invoices_data/

[2021-09-22 23:47] nathanielxd commented on #2775
You could create your own exception for authentication.

[code]
In your API provider catch a FirebaseException and throw an AuthenticationException:

[code]

in your BLOC or Cubit, when authenticating, catch the AuthenticationException and emit a state that contains the error message. So your state should look like this:

[code]

And your signup method in the cubit:

[code]

Hope it helps.

[2021-09-23 05:31] gamestap99 opened #2782 "How to spilit logic code for v7.2.0-8.0.0"
When using v7.2.0 I usually do this for split logic code for small. I have a question is How can I do it in v8.0.0. This is code v7.2.0:
` Stream<SubjectState> mapEventToState(SubjectEvent event) async* {
    final currentState = state;
    final currentEvent = event;

    if (currentEvent is SubjectEventDoGetList && !_hasReachedMax(currentState)) {
      yield* _eventGetData(currentEvent, current

[2021-09-23 06:28] alvinvin00 commented on #2782
what's the inside of method _hasReachedMax?

this is my attempt to refactor your code :
[code]

[2021-09-23 08:56] jasonjackson commented on #2775
Hi nathanielxd

I really appreciate it.  Not only does it help to get it working, but it also helps to connect a few dots on bloc / cubit.  Thank you!

I'll get exception handing added to other sign-up / login use cases and send it over as a PR if felangel would like to merge it.  At minimum i'll get it up on github and link it here for others.

Thanks again!

[2021-09-23 09:26] gamestap99 commented on #2782
Thank for reply. _hasReachedMax is the method to check list are can be fetch continue.

[2021-09-23 09:32] alvinvin00 commented on #2782
I would make a extension method on your State and use the getter instead of functions so it will be more expressive and your brain will thank you :)

[code]

[code]

[2021-09-23 10:04] #2775 closed

[2021-09-23 10:11] gamestap99 commented on #2782
Last question. Can you help me?. This is example logic code:
[code]
So I change it to V8.0.0

[code]

[code]
After, i have a proplem is: Class 'SubjectFetch' has no instance method 'call'.

[2021-09-23 12:39] alvinvin00 commented on #2782
did you create SubjectFetch as an abstract class?

[2021-09-23 13:18] gamestap99 commented on #2782
yep

[2021-09-23 13:33] alvinvin00 commented on #2782
that's the problem, your Event class must extend the Base Event class

[code]

[2021-09-23 13:37] AscentionOne opened #2784 "Migrate to bloc v7.2.0 question and log issue"
Hi @felangel first of all, thank you for providing such a great package for managing state in Flutter. I like it a lot! I have two questions. First, Since I am trying to migrate my bloc to bloc v7.2.0. I am not sure if this is the correct way. Since I am using `Freezed` to generate state and event. Here are my old and new migrated codes.

Event:

[code]

State:

[code]

Old Bloc:

[code]

Migrated

[2021-09-23 14:54] felangel commented on #2784
Hi @AscentionOne 👋
Thanks for opening an issue!

If your event handler contains async mapping (like in the above example) then you should always mark the whole event handler as async and `await event.map(...)` in order to let the bloc know the event handler is still processing events. If you omit `async` on the event handler and don't `await event.map` then bloc will think the event handler is syn

[2021-09-23 14:55] alvinvin00 commented on #2782
it depends on use case, you can go subclassing or lump it all in one concrete state class, usually people gone to the latter because they want to display old data when there's an error

[2021-09-23 15:16] AscentionOne commented on #2784
@felangel  Thanks for the fast and detailed explanation. I understand now. Also, is the above migration bloc looks good to you? I know according to the [post](https://verygood.ventures/blog/whats-new-in-bloc-v7-2-0),  `on<Event>` method is called like below. However, since I am using `freezed` to create events. I am using `event.map()` to handle the event in  `on<Event>` method. Is that the correc

[2021-09-23 15:20] felangel commented on #2784
@AscentionOne yup the above looks fine but you can still split it out like:

[code]

Hope that helps!

[2021-09-23 15:25] AscentionOne commented on #2784
This looks great, even better! Also for the log printing issue. Is it my VSCode debug console problem? (I am guessing...) If it is I'll then close the issue. 😋

[2021-09-23 15:26] felangel commented on #2784
I was just about to ask haha. So you're seeing that error in the debug console in VSCode? I'm going to try to reproduce now 👍

[2021-09-23 15:36] AscentionOne commented on #2784
I think the log assertion message comes from.

[code]
  Other log message seems to look fine. For example,
[code]

[2021-09-23 16:42] AlexandrFarkas opened #2785 "question: Could you please enhance your 'Infinite list' example from docs?"
It would be great to see, how to properly implement refreshing + pagination + search.

[2021-09-23 16:47] felangel commented on #2785
Hi @AlexandrFarkas 👋
Thanks for opening an issue!

This is a great idea and in the meantime some existing references are:

- refreshing - see [weather example](https://github.com/felangel/bloc/tree/master/examples/flutter_weather)
- search - see [fluttersaurus](https://github.com/felangel/fluttersaurus)

[2021-09-23 16:53] AlexandrFarkas commented on #2785
Hi @felangel
Well, I would to see them in conjunction.
- How to avoid race condition between event handlers.
- How to debounce search events
- How to throttle refresh events (droppable strategy)

[2021-09-23 16:59] gamestap99 commented on #2782
Thank for helping!. I CHANGE MY CODE LIKE HE FROM EXAMPLE INFINITE LIST

[2021-09-23 17:37] PouryaNoufallah96 commented on #2780
any solution?:(

[2021-09-24 00:58] alvinvin00 commented on #2782
What's with the capital letters?

[2021-09-24 06:00] Gorniv commented on #2776
Why logic is responsibility bloc?
if bloc do 'event is ...{logic}' - event do logic.
Bloc responsibility how event apply.

[2021-09-24 06:38] AlexandrFarkas commented on #2785
"How to avoid race condition between event handlers." is important.
For example, I don't want nextPage completed, when user already called refresh. It might happen that refresh emits new items first, and nextPage (after long request) applies new portion from previous result. It messes up pagination.

[2021-09-24 08:40] vmeretin opened #2786 "feat: Wrap with for BlocSelector for Intellij plugin"
VS Code plugin has this feature. Also need in IntelliJ IDEA.

[2021-09-24 09:38] gamestap99 commented on #2782
sorry i replied late. After, Reading some his example projects I removed my state is asbtractClass and edited to a class. Finish, I achieved  what I want from the article, and thanks to your help and I understand many things. Thank you!

[2021-09-24 09:41] alvinvin00 commented on #2782
No problem. @felangel, can you close this issue?

[2021-09-24 09:52] AlexandrFarkas opened #2787 "feat: Check if other states were emitted while handler is executing."
**Description**

Problem: there is not way to check for race condition between state handlers

**Desired Solution**

I propose extension/method on _Emitter class.
[code]

**Additional Context**

This proposal resolves my another question #2785
If @felangel likes the idea, I could pull-request in a few days.

[2021-09-24 10:47] narcodico commented on #2787
Hi @AlexandrFarkas 👋

You just need to make sure you're using the proper event transformer with your events.
If you want your events to be processed in the order you're adding them and the resulting states to always be in the order determined by the added events then use `sequential` instead of the default `concurrent` transformer.

And regarding https://github.com/felangel/bloc/issues/2785 you co

[2021-09-24 10:50] AlexandrFarkas commented on #2787
Hi @narcodico
Well, you're not right actually. on<Event> handlers processed concurrently. So states may overlap between on<NextPage> and on<Refresh> handlers.

[2021-09-24 10:59] AlexandrFarkas commented on #2787
on<NextPage | Refresh> - droppable
on<Search> - debounced

Order:
1. add(Refresh)------await request-------(takes 5 seconds)--------emit(state)
2. -----add(Search)------await request--(takes 2 seconds)--emit(state)
Refresh's state overrides Search's state. User is unhappy, because there are no actual search results.

[2021-09-24 11:21] narcodico commented on #2787
The very same logic applies whether you have 2, 3 or more events. If you feel you can't configure your logic through a single event then you can do something around the lines of:
[code]

[code]

[2021-09-24 11:25] AlexandrFarkas commented on #2787
Well, your case would work, if all my events were restartable. I want (simplified) NextPageRequested and RefreshRequested be droppable (not restartable, referring to [this concurrency file](https://github.com/felangel/bloc/blob/master/packages/bloc_concurrency/lib/src/droppable.dart)), SearchInitiated should be restartable.

[2021-09-24 12:33] narcodico commented on #2787
To me it makes no sense to want to have those 2 events droppable, especially since you don't want them to override your search results. Droppable by definition means the request WILL complete, which goes against what you're trying to implement.

I think you can easily achieve what you need by either showing the search results in a different view or by keeping the search results in a separate list

[2021-09-24 12:43] AlexandrFarkas commented on #2787
Well, business doesn't ever care about chosen state management package. It's a bit strange that I should tweak ui to satisfy BLoC-specific rules.

Concerning droppable: why would use switchMap (restartable) for nextPage, if I don't want last event. I want the first one.
The same for refresh - I don't care how many times user pulled-to-refresh, I only care when they first did it.

Still waiting for

[2021-09-24 12:53] AlexandrFarkas commented on #2787
It's not my specific case. I describe generic infinite list solution - refersh, next page, search. That's all.

[2021-09-24 12:53] narcodico commented on #2787
I said it made no sense in the context you were detailing. If you take it out of that context then it makes sense.

You don't have to tweak your UI, bloc is dynamic enough for you to use it the way you need it, you just need to identify the proper way.

[2021-09-24 12:59] narcodico commented on #2787
That might seem generic but there's multiple factors involved there which can influence the way you're implementing it. e.g.: will the search results overwrite the shown data or will they be displayed in a popup ?

[2021-09-24 13:12] #2782 closed

[2021-09-24 13:13] AlexandrFarkas commented on #2787
@narcodico If my example doesn't make sense, we could think of it in abstract way. 2 events should be droppable, 1 event should be restartable (you could replace transformer on whatever you want). All three perform async tasks. How to avoid state racing?

[2021-09-24 13:20] felangel commented on #2776
Bloc is your business logic component. Its responsibility is reacting to incoming events and emitting states. Events and States should ideally just be data classes. When the UI adds an event to the bloc that event shouldn’t know/contain logic about how it will be transformed into a state — this approach means the event is tightly coupled to the state and exposes a public API which anyone can call

[2021-09-24 14:34] narcodico commented on #2787
[code]
[code]
[code]
[code]

You could obviously play around with the statuses and other props to achieve your desired result, but the idea behind this approach is that you're not wasting your refresh call but rather make sure that once the user exists the search it will already have the latest data shown.

[2021-09-24 16:49] felangel commented on #2780
Hi @PouryaNoufallah96 👋
If you want to share code you can just create a common base class for states where it makes sense (or use a mixin):

[code]

Then you can have the two cubit states extend the base state:

[code]

[code]

This isn't really specific to bloc -- in general if you feel it makes sense to create some sort of abstraction/generalization because you're repeating yourself you can use

[2021-09-24 16:55] felangel commented on #2787
Hi @AlexandrFarkas 👋
Thanks for opening an issue!

I don't think we should introduce this functionality because as @narcodico mentioned it defeats the purpose of having the different event transformers as part of bloc_concurrency. If you're not happy with the built-in event transformers you can always make your own or take a snapshot of the state before performing as async operation in your event

[2021-09-24 17:03] felangel commented on #2784
[code]

<img width="1079" alt="Screen Shot 2021-09-24 at 12 02 16 PM" src="https://user-images.githubusercontent.com/8855632/134713495-13272bdb-f002-407d-b80a-f823169b274c.png">

@AscentionOne I'm not able to reproduce 🤔

[2021-09-24 18:43] #2786 closed

[2021-09-24 23:55] #2780 closed

[2021-09-25 05:00] #2693 closed

[2021-09-25 12:51] AscentionOne commented on #2784
I am using Windows.

My VSCode version is 1.60.2

Yes, I try run flutter through commandline, it shows the same....

`"\n\n\nemit was called after an event handler completed normally.\nThis is usually due to an unawaited future in an event handler.\nPlease
make sure to await all asynchronous operations with event handlers\nand use emit.isDone after asynchronous operations before calling emit()to\n

[2021-09-25 13:25] AscentionOne commented on #2784
Update:

I think maybe the the

[code]

[2021-09-25 14:01] nathanielxd commented on #2724
Hello Khanh, it's generally not a good idea to use another bloc in a bloc, especially if you're aiming for consistent code. If PhotonRealtimeBloc depends on PlayGameBloc, see my answer below:

[code]

[2021-09-25 16:28] dev-khanh commented on #2724
Thanks for the explanation @nathanielxd! it works great!

[2021-09-25 18:07] rorystephenson opened #2790 "Migration to 7.2 docs: How to retain sequential event processing for all events of a Bloc"
**Description**

I'm looking to migrate to the new `on<Event>((event, emit) { /* ... /* }` event processing and I'm a bit confused on how I should set it up so that one event is processed at a time before moving on to the next event (regardless of the event type).

E.g. if I have a counter bloc with an add and subtract event triggered by buttons where each event waits three seconds before adding o

[2021-09-25 18:10] felangel commented on #2790
Hi @rorystephenson 👋
Thanks for opening an issue!

The easiest way to apply a sequential event transformer to all blocs is to override the default transformer:

[code]

Hope that helps 👍

[2021-09-25 19:18] #2724 closed

[2021-09-25 19:19] felangel commented on #2776
Closing for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2021-09-25 19:19] #2776 closed

[2021-09-25 20:06] mfizz1 opened #2791 "question: Sharing variables acquired from state between Builder and Listener in consumer"
Hi, from the docs I read that it is better to use listener to to page navigation etc everything that is not UI related. I have a stream stream emitted in a state that I am using to do some checks / calculation after which something is built and based upon the result may or may not do navigation.

I am having to do calculations twice, once in listener and again in builder which may not be good for

[2021-09-25 20:24] narcodico commented on #2791
Hi @mfizz1 👋

It sounds like you're doing some business logic in there which I would advise against.
Just move that logic inside bloc or maybe as an extension method on your state class and keep the builder/listener checks to
 minimal. e.g.: `if state.user.isNew`, `if state is DataLoaded`.

[2021-09-25 21:06] rorystephenson commented on #2790
Hi @felangel thanks for the very fast reply (and, since I forgot to mention it in my original message, the fantastic packages).

I've given it a try and, as you mentioned, by only registering a single event handler and using a `sequential()` transformer I can achieve the same behaviour as `mapEventToState` in previous versions. It may be worth adding a section to the migration docs for those that

[2021-09-25 21:47] nathanielxd commented on #2791
Could you provide an example? You should only do logic inside a bloc or cubit. If you might need navigation based on calculations, then set up a variable inside your bloc state `bool needsNavigation` and emit it true or false with your other data.

[2021-09-26 08:19] chenyair commented on #2785
Handling the race conditions in this case is available with the new restartable transformer right?

[2021-09-26 09:18] mfizz1 commented on #2791
You're absolutely right.. Sometimes when you working on it for too long you get tunnel vision and forget the basics of, logic goes in the bloc.

So with this instance, I use the data returned from the bloc as bloc.data to build a widget. Should I use this to navigate to a different page or utilize listener instead?

[2021-09-26 09:51] SimoneBressan opened #2794 "refactor: Use the `E` type for the transformer on Bloc.on<Event>()"
Wouldn't it be more correct that transformer had the type `E`?
[code]

So it would be:
[code]
and
[code]

So you can create transformers for specific events. Such as deciding based on an event whether to have sequential or parallel processing or much more

[2021-09-26 09:55] narcodico commented on #2791
Your logic result should be outputted through your state not directly kept on the bloc.
`BlocListener` should be used to initiate navigation.

[2021-09-26 11:14] nathanielxd commented on #2791
I agree with Rolly. If you are using both BlocListener and BlocBuilder, you could simply use BlocConsumer. Although, if you are using AnimatedSwitcher you could imitate navigation through just a bloc builder. I have written some examples:

[code]

[code]

[2021-09-26 13:48] felangel commented on #2794
Hey @SimoneBressan 👋
Thanks for opening an issue!

Yup I was just looking at that yesterday as well...will update shortly, thanks! 🙏

[2021-09-26 14:28] #2794 closed

[2021-09-26 14:33] felangel commented on #2794
@SimoneBressan this should be fixed in [bloc v7.2.1](https://pub.dev/packages/bloc/versions/7.2.1).

[2021-09-26 18:10] wujek-srujek commented on #2100
@HerrNiklasRaab In your experience, would using Riverpod + StateNotifier (via StateNotifierProvider) differ much from using Riverpod + Cubit, via the potential CubitProvider? I have quite some experience with Bloc/Cubit and my last private app is with Riverpod (just because I wanted to get my hands dirty with it) and I was under the impression StateNotifier is pretty much a Cubit. (Bloc is a bit d

[2021-09-27 04:52] karanokk opened #2800 "`PostFetched` event triggered twice in the flutter_infinite_list example"
When using a faster speed to ~~slide~~ drag the list, `PostFetched` event will trigger twice.
697ms interval between two requests.

I hope that the `PostFetched` event will not be triggered again when the `PostFetched` event is triggered until the list(UI) is updated.

`bloc`: 7.2.0

<img width="949" alt="2021-09-27 下午12 27 51" src="https://user-images.githubusercontent.com/62784811/134846077-7165

[2021-09-27 07:54] linxkaa commented on #915
Hi,

I have a questions regarding accessing the private value in class, its always give me this error
`LateInitializationError: Field '_tweetSubscription@22285991' has not been initialized.`

because in my `TweetBloc` file, I initialize StreamSubscription which is `late` and have its value when `TweetEvent.initial(userId)` event hit. But since its mock, Its giving me those error. While everything

[2021-09-27 08:05] linxkaa opened #2801 "[Questions] How do I mock a private variable inside a bloc class?"
Hi,

I have a questions regarding accessing the private value in class, its always give me this error
`LateInitializationError: Field '_tweetSubscription@22285991' has not been initialized.`

because in my `TweetBloc` file, I initialize StreamSubscription which is `late` and have its value when `TweetEvent.initial(userId)` event hit. But since its mock, Its giving me those error. While everything

[2021-09-27 13:43] Gene-Dana commented on #74
Hi there ! Have you seen flowbuilder? Run the examples and see if this is what you are looking for !
https://github.com/felangel/flow_builder

[2021-09-27 13:55] Gene-Dana commented on #1965
There are many paths to sorting out this problem, although following the suggested BLoC approach may greatly help you understand what the problem is and how to best solve

[2021-09-27 14:01] Gene-Dana commented on #2800
Hi there 👋🏼 What do you mean 'using a faster speed to slide the list?'

[2021-09-27 14:41] gbaccetta commented on #1965
Hey, thank you for your reply.
Actually the problem is not related to bloc at all. In fact
`ListView.builder` will always rebuild all of its children, independently
to setting a key for them.
The solution I found is to use a `ListView.custom` with a
`SliverChildBuilderDelegate`. Then assigning a key to its children and
retrieving the key from the index works as expected and child is not
rebuilt. N

[2021-09-27 14:44] gbaccetta commented on #1965
Hey, thank you for your reply.
Actually the problem is not related to bloc at all. In fact
`ListView.builder` will always rebuild all of its children, independently
to setting a key for them.
The solution I found is to use a `ListView.custom` with a
`SliverChildBuilderDelegate`. Then assigning a key to its children and
retrieving the key from the index works as expected and child is not
rebuilt. N

[2021-09-27 15:35] karanokk commented on #2800
Drag the list quickly

[2021-09-27 15:58] brianrobles204 opened #2802 "feat: An eventHandlerTransformer to control how multiple event handlers emit their values"
**Description**

Hello, I ported my blocs to the new `on<Event>()` API and things mostly worked :) However I was also affected by the issue raised in #2790 since my blocs expect event handling to be done sequentially. Setting all handlers to sequential() wasn't enough because handling *between multiple event handlers* is always done concurrently (right?)

The suggested solution to use a single `on

[2021-09-27 16:31] gombal88 opened #2803 "fix: Overriding void on<E extends Event> cause Error"
**Description**
Overriding `void on<E extends Event>` manually or by Mockito cause Error:

[code]

**Steps To Reproduce**
Bloc version 7.2.1
Try to override `void on<E extends Event>` or use Mockito to generate mocks

[2021-09-27 16:58] felangel commented on #2803
Hi @gombal88 👋
Thanks for opening an issue!

Can you please provide a minimal reproduction sample? I'm not sure I understand what you're trying to achieve. You should be able to use `MockBloc` from `package:bloc_test` which handles mocking for you and works with `package:mocktail`.

[2021-09-27 19:43] mado-bohsali opened #2804 "chore: Persisting state having a model"
How can I persist a state having a model? Example, a user opens a quiz app (question model and answer model) then force closes it. I wanna restore the question and its options.

Efforts appreciated!

[2021-09-27 19:48] marcossevilla commented on #2804
hi @mado-bohsali! have you tried using [hydrated_bloc](https://pub.dev/packages/hydrated_bloc)?

[2021-09-27 19:51] mado-bohsali commented on #2804
I tried it with the basic counter project. But when it comes to complex models I get confused a bit.

[2021-09-27 19:51] mado-bohsali commented on #2804
How do I emit a question or answer model?

[2021-09-27 20:06] marcossevilla commented on #2804
You can take a look at [this](https://github.com/NoScopeDevs/bloc_samples/blob/af4095a8cf2ec824da5c3c649a6a394126793c58/examples/launch_analytics/lib/app/bloc/app_bloc.dart#L32) small example which has different states that can be persisted.

It should be straightforward from then, you need to define your models into a specific state class and define its (de)serialization on your bloc.

Is the fol

[2021-09-27 20:20] mado-bohsali commented on #2804
<img width="733" alt="Screen Shot 2021-09-27 at 11 16 52 PM" src="https://user-images.githubusercontent.com/18421260/134979161-c7693b7e-74e5-4ed5-a3ba-078fdcd9c654.png">
<img width="769" alt="Screen Shot 2021-09-27 at 11 17 46 PM" src="https://user-images.githubusercontent.com/18421260/134979188-a54c5d1b-48a1-424f-b627-a1bd715b8939.png">
<img width="587" alt="Screen Shot 2021-09-27 at 11 17 17 PM"

[2021-09-27 20:31] marcossevilla commented on #2804
@mado-bohsali I made QuizInProgress because I thought you had more than one state class.

HydratedCubit persists your state automatically, so what you have should be saved on storage when your app is closed. You just need to emit the state with the properties you want to save before.

Can you explain exactly what isn't working and the desired behavior you want? I can see the saveQuestion method ju

[2021-09-27 20:58] mfizz1 commented on #2791
I was using a blocconsumer.. But now I have the bloc emit a state that I now use. The animatedswitcher is a brilliant idea. Have you got a blog or anything with some more examples I could go through?

[2021-09-27 20:58] #2791 closed

[2021-09-27 21:39] karabanovbs commented on #2526
@felangel Hi!

Now I start to update to the new flutter_bloc version.

I use freezed package, with the previous version, I can do this:

[code]

With the previous version, I can use bloc like FSM without a boilerplate. But now I should check state inside on<Event> handler. Can you help me, how I can migrate better? How I can check state as easily as check event?

[2021-09-27 22:00] felangel commented on #2526
You should be able to do:

[code]

Hope that helps 👍

[2021-09-28 00:52] PouryaNoufallah96 opened #2805 "use a bloc in another bloc without StreamSubscription"
hello,
I was wondering that is it ok to pass a bloc to another one and then in one of BlocA events i add an event from BlocB:

class BlocA extends Bloc<BlocAEvent, BlocAState> {
  final BLocB _blocB;
  BlocA(this._blocB){
  on< LoadEvent >(_onLoad);
}
  void _onLoad(
      LoadEvent event, Emitter<BlocAState> emit) async {
    .
    .
    .
    _blocB.add(SomeEvent())
  }
}

does it decrease my pe

[2021-09-28 02:19] narcodico commented on #2805
Hi @PouryaNoufallah96 👋

You can do that but a better solution would be to keep your blocs decoupled by using a `BlocListener` with your `BlocA` and based on the incoming state choose when to add the event to your `BlocB`.

[2021-09-28 04:15] linxkaa commented on #2801
Hi, sorry for asking and answering by myself.

If anyone experienced the same error as me, its because I just know that it seems Mockito didn't wait any await function in our event in bloc, so what i do to fix the error is adding `wait: Duration(seconds: 2)` so it will wait the TweetEvent.initial(userId) to finish its task (because I add the `await Future.delayed(Duration(seconds: 2))` in the even

[2021-09-28 04:15] #2801 closed

[2021-09-28 05:06] grebennikovlmax commented on #2803
Have same issue after 7.2.1 release.
Problem with tests when using mockito for generate code.
Also, if you override the method manually, the same error.
The error is reproduced at compile time, but IDE has no error.

[2021-09-28 05:33] felangel commented on #2803
Can you provide a link to a minimal reproduction sample?

[2021-09-28 06:30] grebennikovlmax commented on #2803
<details>
  <summary>Example</summary>

[code]
</details>

<details>
  <summary>Generated file: </summary>

[code]
</details>

[2021-09-28 06:33] grebennikovlmax commented on #2803
Also manual override:
<details>
  <summary>Example</summary>

[code]
</details>

[2021-09-28 07:19] mfizz1 opened #2806 "question: Stringing states in new API"
I have managed to change the to the new on<event> api. However I was wondering how to string states together..

For example in the mapeventtostate method you could do something like:

[code]
The only way I can emulate this right now is to emit states in the void function. Perhaps that is the way but I feel you lose some code clarity there where you could see the chain of states for a particular ev

[2021-09-28 07:41] PouryaNoufallah96 commented on #2805
thanks for you response
yes but my BlocB is on another route and when i'm trying to use this code in bloclistener (context.read<BlocA>().add(event)) i got an error :Could not find the correct Provider<BlocA> above this BlocListener
what i'm doing right know is that when i navigate to first page again i pass the state of BlocB to navigator.pop(state) and after that i add the blocA event. but i don'

[2021-09-28 07:45] narcodico commented on #2805
That's a good solution for your current requirements.

[2021-09-28 07:47] PouryaNoufallah96 commented on #2805
ok thank you for you quick response again <3

[2021-09-28 07:47] #2805 closed

[2021-09-28 08:45] brianrobles204 commented on #2806
The `emit` object passed into the `on<Event>()` handler actually has extra methods for emitting streams. In your example, you can do

[code]

Just be sure to await the forEach call

[2021-09-28 09:07] vmeretin commented on #2786
🚀 👍🏻

[2021-09-28 10:53] mfizz1 commented on #2806
Brilliant..! Thank you

[2021-09-28 10:53] #2806 closed

[2021-09-28 13:34] nathanielxd commented on #2791
Haha no but I might make one. Cheers.

[2021-09-28 14:11] cmc5788 commented on #2803
This seems like the wrong signature for the transformer. It should be:

[code]

`EventTransformer<int>` as opposed to `EventTransformer<E>`

[2021-09-28 18:58] matekdk commented on #2526
@felangel : Thanks for a great library! I know this change proposal is already implemented, but could we get a clarification of the following statement from the migration guide:

`By default, events will be processed concurrently when using on<E> as opposed to mapEventToState which processes events sequentially.`

Example:

[code]

Does it mean that if bloc receives `[ Event1(), Event2() ]` the em

[2021-09-28 20:55] felangel commented on #2803
related to https://github.com/dart-lang/sdk/issues/47311

[2021-09-29 03:53] github-actions[bot] opened #2808 "[Translations] Update docs"
Update Translations to include changes from 2dc96a604d85cbff1a50768c0a52ab6c3e5da9e2.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-09-29 04:06] #2790 closed

[2021-09-29 04:06] github-actions[bot] opened #2810 "[Translations] Update docs"
Update Translations to include changes from 8fdce02527dec48ce279fa75f43723b20ee1b252.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-09-29 04:13] felangel commented on #2526
@matekdk thanks for the support, I really appreciate it!

In that example, the emitted states will be: [state(1), state(3), state(2)] 👍

Yup by default each event handler processes events concurrently and multiple registered handlers function independently.

Yes, that's correct. If that's undesirable you can apply a transformer like `droppable` (to ignore the second event if the initial event is s

[2021-09-29 04:31] felangel commented on #2800
Hi @karanokk 👋
Thanks for opening an issue!

In this case, `droppable` is working as expected because when you scroll quickly, the UI adds a `PostFetched`, the bloc fetches the next set of posts and the ListView is still moving (due to the scroll momentum) which triggers another `PostFetched` event to the bloc (but since the previous one finished it is processed). To account for the momentum scrol

[2021-09-29 04:49] #2800 closed

[2021-09-29 06:49] serendipity1004 opened #2813 "fix: transformEvents does not get called"
[code]

I am pretty sure transformEvents had been working correctly until a few weeks ago but suddenly I cannot get it to be called.

it does not print 'TRNASFORM' nor does it correctly debounce the stream.

Is it a bug? Anyone else experiencing same issue?

I am using ^7.2.0 in my pubspec so I think 7.3.0 version as of now.

[2021-09-29 10:57] miyapt commented on #584
hi Why only 'MaterialAppPageRoute' are available? could you explain??

[2021-09-29 13:10] felangel commented on #2813
Hi @serendipity1004 👋
Thanks for opening an issue!

Can you please share a minimal reproduction sample? Thanks!

[2021-09-29 21:19] Izaird commented on #2526
how can I migrate this?

[code]

[2021-09-30 06:43] serendipity1004 commented on #2813
I think it was some kind of a bug in 7.1.0. I migrated to 7.2.0 and changed to on<E> mechanism and it's working fine now.

[2021-09-30 06:54] #2813 closed

[2021-09-30 12:29] spideythewebhead commented on #2784
Hi, i was trying freezed and flutter_bloc today and i came across the same problem,

[code]

You can have a `Completer` that when is complete marks that this event processing is over. Maybe it helps to keep things a bit clearer. Just an opinion.

[2021-09-30 13:15] aoatmon opened #2814 "[help] bloc test result confusing"
I'm confused by the results of the test below

the first doesn't pass, but the second does

what am I missing?

<details>
<summary>code sample</summary>

[code]

[code]

[code]

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>version</summary>

[code]

[code]

</details>

stack question [here](https://stackoverflow.com/questions/69393006/bloc-test-outp

[2021-09-30 14:13] felangel commented on #2784
@spideythewebhead why do you need the Completer? You can `await event.when<Future<void>>(…)` and you shouldn’t need a completer.

[2021-09-30 14:23] spideythewebhead commented on #2784
@felangel Yes in this example it doesnt address the issue, when you have a nested async call then you have issues.

Event is created with freezed lib

[code]

[2021-09-30 14:26] felangel commented on #2784
[code]

You need to await the resulting Future returned by `event.when`

[2021-09-30 14:27] AscentionOne commented on #2784
Hi @felangel any idea of why my log message cannot show the whole content, instead, it will show with overflow `...` . How do you make it show the whole content? I have been trying to solve this couple days but in vain 😥

[2021-09-30 14:29] spideythewebhead commented on #2784
Yeah you are right, i saw it afterwards i will try it thanks!

[2021-09-30 14:32] felangel commented on #2784
Are you able to try using something other than powershell/windows?

[2021-09-30 14:38] AscentionOne commented on #2784
Ok....are you working on MacOS?

[2021-09-30 14:44] marcossevilla commented on #2814
hi @aoatmon! can you share the version of bloc/bloc_test you're using?

[2021-09-30 14:53] aoatmon commented on #2814
thanks for the response, I've updated the initial post

[code]

[code]

[2021-09-30 15:30] felangel commented on #2784
Yup I’m primarily on macOS

[2021-09-30 15:52] AscentionOne commented on #2784
@felangel  Thanks I will close the issue for now. Not a big issue, but I hope I can find the solusion. Haha. Thank you so much!

[2021-09-30 15:52] #2784 closed

[2021-09-30 16:49] kranfix commented on #2100
`StateNotifier` is very similar to `Cubit`, but `Cubit` is asynchronous. In `riverbloc` package, you can find a `BlocProvider` that works with both `Bloc` and `Cubit` (or any `BlocBase`).

[2021-09-30 17:23] felangel commented on #2784
Sounds good I’ll try to get my hands on a windows machine and verify soon.

[2021-09-30 22:47] heshaShawky opened #2816 "how to prevent copyWith from using previous value if it's null in the state"
**Description**
I have a form and there are no required fields in it, So may the user changes the value or just clear it on that specific field.

My issue is that I have a dropdown field that has a null value  I need to pass that null value to state when the user chooses it, but the `copyWith` method on my state refuses to do so and gets the previous value as default.

I tried to remove the checki

[2021-10-01 04:48] felangel commented on #2816
Hi @heshaShawky 👋
Thanks for opening an issue!

You can achieve that by adjusting the signature of copyWith like:

[code]

Then you can make a copy with null like:

[code]

Hope that helps!

[2021-10-01 11:28] sla-000 opened #2817 "feat: Add a mapper function to blocTest() parameters and call the expect() on a mapped data, instead of a whole state"
**Description**

At this moment when we call a blocTest() we must put whole states as an array to the expect parameter.
But what if we have a some complex state, containing a lot of fields and do not want to write all that data in the expect parameter?

[code]

**Desired Solution**

My proposal is to add a mapper function to blocTest and use it to map whole state to some simpler values,
after that

[2021-10-01 14:29] #2816 closed

[2021-10-01 14:43] sla-000 commented on #2817
Created a PR for the feature:

https://github.com/felangel/bloc/pull/2818

[2021-10-01 14:48] Giuspepe opened #2819 "fix: Exception thrown inside of a bloc is ignored in integration tests"
**Description**
When an exception is thrown inside of a bloc, it is ignored in integration tests and does not cause them to fail.
The bug occurs when running an integration test in which an exception is thrown inside of a bloc.

The last integration test inside this file is an example for such a case: https://github.com/Giuspepe/bloc/blob/master/packages/flutter_bloc/example/integration_test/app_t

[2021-10-01 16:00] marcossevilla commented on #2814
This test should return a new instance of your `UserAuthenticationCubit` with the repo you set up, as your other test:
[code]

[2021-10-01 21:11] erickzanardo opened #2820 "feat: [HydratedBloc] Add possibility to skip storing some states"
**Description**

It would be quite useful if we could somehow inform HydratedBloc if a state should be serialised or not.

An example of use for this is: Imagine a bloc that loads some info from an endpoint. If for some reason the API returns an error, we may not want to save the resulting error state.

**Desired Solution**

One idea that I had to implement this, would be to simply add a method li

[2021-10-01 21:45] marcossevilla commented on #2820
hi @erickzanardo! I like your proposal, it's very similar to what is done with `replay_bloc` with the `[shouldReplay](https://github.com/felangel/bloc/blob/b05d312acdb4ca04693e638cce751ed4e62e1cd7/packages/replay_bloc/lib/src/replay_bloc.dart#L145)` method.

If that API looks like what you wanted to do, we can have a `shouldHydrate`/`shouldPersist` method to return a bool if we want to persist the

[2021-10-01 22:35] erickzanardo commented on #2820
The `shouldReplay` method seems pretty much like what I though for the HydratedBloc, a `shouldHydrate`/`shouldPersist` would be exactly what I need :D

[2021-10-02 00:57] felangel commented on #2820
Hi @erickzanardo 👋
Thanks for opening an issue!

You should already be able to achieve this with the current API. `toJson` can return `null` which means that the provided state will not be cached. Similarly, `fromJson` can return `null` which means that the bloc will not restore from cache and will instead use the default initial state.

Let me know if that helps 👍

[2021-10-02 01:06] erickzanardo commented on #2820
Awesome, yeah that would indeed work! Seems that I missed this in the docs 😅

Thanks for pointing me the right direction.

We can close this.

[2021-10-02 01:06] #2820 closed

[2021-10-02 05:09] nguyencse commented on #517
![image](https://user-images.githubusercontent.com/23445876/135704337-d281509a-752b-4e2a-abf0-b750630bf058.png)
I cannot use switchMap on rxdart 0.18.0 and bloc 6.1.3.
It gives me error: `type '_BroadcastStream<CheckoutEvent>' is not a subtype of type 'Observable<CheckoutEvent>' in type cast`
Any idea for this case? Thanks all :(

[2021-10-02 19:47] nonik1017 commented on #479
maybe you add another CreateUpiPinScreenState, check yourself

[2021-10-03 00:26] jtdLab commented on #711
Thank you @narcodico for sharing that clean mixin.

But with the recent changes on the resetLazySingleton method - for get_it >= 7.0.0 the mixin does not work anymore.
Any ideas how to make the AutoResetLazySingleton work again on the latest version of get_it?

[2021-10-03 13:12] sp00ne commented on #2178
What's the status on the recipe?

[2021-10-03 14:19] nhoangthinh opened #2822 "fix: The listenner function in Bloc Consumer take a short time to get a new state"
**Description**
The listenner function of BlocConsummer take a short time to got a new state although I just emit a state of enum type? Why this happens?

**flutter_bloc_version**
flutter_bloc: ^7.0.0

**Steps To Reproduce**

1. 'dashboard_v2_cubit.dart': the logic func to emit new state called getDataAt()
2. 'dashboard_v2_state.dart': to see state of dashboard_v2_cubit
3.  'dashboard_date_picker.

[2021-10-04 03:14] jinjilynn commented on #1204
it seems RepositoryProvider is just a dependency shared by multi Blocs for a BlocProvider

[2021-10-04 04:44] aliftaufik commented on #1204
So basically RepositoryProvider will be used only when the repository is required by multiple Blocs, else you just instantiate the repository directly when instantiating the Bloc. But often my repository is just a bunch of methods handling API calls and data mapping, without any state/field being kept inside that class. So instantiating the same repository in different Bloc instantiations won't do

[2021-10-04 05:05] nghialm269 opened #2823 "question: How do I use generic with the new on<Event>?"
**Description**
In my app, there are many screens that need to do pagination, so I'm trying to create a generic bloc to help reduce duplicate.

Here is what I'm trying to do:
[code]

But I got this errors:
[code]

How do I create a generic bloc like this?

[2021-10-04 06:13] brianrobles204 commented on #2823
I think it's failing because Dart cannot guarantee that `PaginatedEventLoadFirstPage<OptionsType>` etc. will extend `Event` specifically. For example, you could conceivably do something like this:

[code]

In which case `PaginatedEventLoadFirstPage<String>` will not extend `UnrelatedEvent`. They have a common supertype (`PaginatedEvent<String>`) but one is not a subtype of the other.

Could someth

[2021-10-04 08:01] nghialm269 commented on #2823
Thank you, your solution works for me!

I have some more questions:

* Is there anyway I could alias `PaginatedEvent<OptionsType>` and `PaginatedState<ListType>` to `E` and `S` respectively? since writing them repeatedly is too lengthy. (that's why I was doing something like `Event extends PaginatedEvent<OptionsType>` in the first place, but I just created problems for myself in the end).

* Is th

[2021-10-04 09:52] PouryaNoufallah96 opened #2824 "problem with unawaited"
hello,
i migrate to 7.3.0 and when i try to use this code below i get an error. i tried to use it like you complex list sample:

  class VisitorProductBloc
    extends Bloc<VisitorProductEvent, VisitorProductState> {
  VisitorProductBloc()
      : super(const VisitorProductState()) {
    on<VisitorProductFavoriteChangedEvent>(_onFavoriteChanged);
  }

  void _onFavoriteChanged(VisitorProductFavori

[2021-10-04 09:54] jezsung opened #2825 "feat: Please allow emitting the same state multiple times"
https://bloclibrary.dev/#/faqs?id=state-not-updating

As described above, if the emitted state is evaluated equal to the previous state, the bloc doesn't emit the state so that the UI doesn't get rebuilt. But I still want the bloc to emit the same state. Is it possible?

[2021-10-04 10:32] alvinvin00 commented on #2825
you can by not extending Equatable, no rebuilds on same state is intentional as "same state rebuilds" are wasted rebuilds. I don't find a use case that needs it ybh

[2021-10-04 10:58] jezsung commented on #2825
@alvinvin00 I've got a valid use case. I wanted to sync the text field state with the bloc state. The bloc state has the property for the text field and whenever the user types something, the state should be updated accordingly and whenever the bloc emits the updated state with the modified text field value, the text field UI should be rebuilt as well.

But the problem is if I try to prevent the u

[2021-10-04 11:11] rsree1210 commented on #1703
I am also facing the issue. The list of items on the UI are nit getting refreshed even after sending an updated list to the state. Any work around or solutions for this?

Cloning each item in the list is not suitable for my requirement as there can be many items in the list.

[2021-10-04 12:17] aoatmon commented on #2814
this fixes the issue, thanks @marcossevilla

[2021-10-04 12:17] #2814 closed

[2021-10-04 13:18] felangel commented on #2824
Hi @PouryaNoufallah96 👋
Thanks for opening an issue!

As the error mentions, you are calling emit after the event handler has completed. You should remove the unawaited and await the future instead as shown in the suggestions in the error.

[2021-10-04 13:33] PouryaNoufallah96 commented on #2824
thanks . yea i did that and it's ok now but should i only use unawaited for situation like this in cubit ?

[2021-10-04 13:36] felangel commented on #2824
Yeah in bloc you can only emit in response to an event so you should always await futures in your event handler. In cubit you can emit from anywhere so it’s not an issue to use unawaited.

Closing for now but feel free to comment if you have any follow up questions and I’m happy to continue the conversation 👍

[2021-10-04 13:36] #2824 closed

[2021-10-04 14:26] jezsung commented on #2825
Please take a look at the simplified code below. Making the state not overrides the `Equatable` class will solve the issue, but it doesn't quite feel like the right solution. I want to keep treating the state the same. Is there any alternative solution? I don't know about the internal implementation details, but wouldn't it be customizable by overriding the `stream` getter of the bloc?

[code]

[2021-10-04 14:27] marcossevilla commented on #1204
hi @aliftaufik! I did this example months ago and use different repository methods for 2 different blocs that are like sub-features and use the same repository.

You can check it [here](https://github.com/marcossevilla/very_good_weather/blob/f89135ad2c5ade991fa7c36503e5f7192597e26f/lib/app/app.dart#L45).

Hopefully, that clarifies the possible use cases.

[2021-10-04 14:54] brianrobles204 commented on #2823
Hi, sorry for the late reply! To address your questions,

If you're on the newer versions of Flutter / Dart, you might want to consider using non-functional type aliases, like so

[code]

Etc. You may need to adjust your pubspec.yaml so the minimum SDK version is at least 2.14.0 and run `pub get`

This is a bit trickier. You should know that `BlocProvider` (which uses Provider under the hood) uses

[2021-10-04 14:58] brianrobles204 commented on #2823
Also you should consider *why* you're using generics. It might also be possible to just extend PaginatedEvent and PaginatedState, instead of using the typedef thing I mentioned. If for example, your `PaginatedBloc` code makes no use of the generic parts of the event or state, that may be a sign that you can simply use inheritance instead of generics, which could make the code easier to read.

Tho

[2021-10-04 20:00] felangel commented on #2804
@mado-bohsali closing for now since there isn’t enough information to take actionable next steps. Feel free to provide additional information and/or a link to a reproduction sample and I’m happy to continue the conversation 👍

[2021-10-04 20:00] #2804 closed

[2021-10-05 06:06] hardik-kumbhani commented on #481
Hello Everyone, If we want to rebuild same state again and again then we have to keep one timestamp field in state class
and whenever you yeild or emit your state at that time just put latest timeStamp in it.
[code]

[2021-10-05 14:22] nghialm269 commented on #2823
@brianrobles204: Sorry for the late rely, I decided to provide the generic type directly since I think using a separate `PaginatedBlocProvider` makes the code harder to understand.

Thank you very much for helping me!

[2021-10-05 14:22] #2823 closed

[2021-10-05 22:28] atrope opened #2826 "fix: Blocs that Extend another Blocs firing multiple times same event."
**Description**
So we have a generic bloc to make "Single Requests" with two events "Fetch" and "Refresh"

When we need something less generic and we want to process data before returning, we create a more specific bloc extending the "Single Request Bloc"

For Exemple:

[code]

and
[code]

With bloc 7.1 and `mapEventToState` we had no problems and everything worked as we wanted.
With the new struc

[2021-10-05 22:47] atrope commented on #2826
Ok Found out how to do it..

I Tried before but you can't override methods that start with _

so what we need to do is:

[code]

and

do not declare in the one extending it.
[code]

on the `AlbumRequestBloc` we can now override the "onFetch" Function 👍🏻

[2021-10-05 22:47] #2826 closed

[2021-10-05 23:21] drogbut opened #2827 "What is the best approach ? Pass the Repository into the bloc-constructor or wrap the block in the Repository?perf:"
**Description**

Clearly describe what code needs to be changed and what the performance impact is going to be.

[2021-10-06 02:48] felangel commented on #2827
Hi @drogbut 👋
Thanks for opening an issue!

I recommend providing the repository to the widget tree using `RepositoryProvider` and then when creating a bloc that requires a repository you can access the repository via `context.read` and inject the repository into the bloc via constructor like:

[code]

Then in `MyWidget` or in any children of `MyWidget` you can inject the repository instance into

[2021-10-06 02:48] #2827 closed

[2021-10-06 03:20] felangel commented on #2817
Hi @sla-000 👋
Thanks for opening an issue!

You should be able to achieve something very similar by writing a custom `Matcher` since `expect` accepts `Matchers`:

[code]

Let me know what you think and thanks again!

[2021-10-06 10:25] itaishalom opened #2831 "docs: The different between adding an event and calling a function from the bloc?"
Hi, it is unclear from the documentation what is the difference between the two:

`_myBloc.add(SomeEvent());`
and in the bloc:

` @override
  Stream<AuthenticationState> mapEventToState(
    AuthenticationEvent event,
  ) async* {
    if (event is SomeEvent) {
     doSomething();
      yield* emptyState();
    }`

VS
`_myBloc.doSomething()`

I guess that my question is - is there any difference be

[2021-10-06 10:45] squallsama commented on #139
Use the following template:

If available on stores
iOS: https://apps.apple.com/us/app/wallpapers-lab/id1527915803
Android: https://play.google.com/store/apps/details?id=com.drlabx.wallpapers

Your opinion
Version: 7.2.0
Years of experience: 1
Good: It's very clear how to handle different event and apply appropriate states
Bad: Would be great to use it with isolates and move some complicated logic

[2021-10-06 11:45] duzenko opened #2832 "doc: relevance of states?"
Assume we have a UI with a list screen and a detail screen
User navigates from list to detail, calls a web api to modify the data item, then without waiting for response goes back to list and opens another detail.
At this point block completes the api call and emits a new state with result of the first item content
How do we know at this point that we should not update the detail screen with the r

[2021-10-06 12:55] felangel commented on #2817
I’ll update the documentation to try to make this more clear. Are you okay with closing this in favor of using matchers? Thanks!

[2021-10-06 14:41] guysbryant opened #2833 "fix: counter tutorial pubspec file relative paths"
**Description**
A clear and concise description of what the bug is.

I'm learning BLoC from the documentation at https://bloclibrary.dev/
I just started the tutorials section and for both the Counter and Timer tutorials I'm having an issue with the pubspec file. I deleted the contents of my pubspec.yaml and pasted the contents from the one in the tutorial. Visual Studio Code is complaining that th

[2021-10-06 14:46] felangel commented on #2833
Hi @guysbryant 👋
Thanks for opening an issue!

I will try to address this shortly but in the meantime you should just adjust your pubspec to remove the dependency overrides and use the published versions of each of the packages from pub.dev:

[code]

Hope that helps and sorry for the inconvenience!

[2021-10-06 15:00] Pingear opened #2834 "docs: flutter weather tutorial"
Hi)
On the website -> in the tutorials section -> in the "Weather" tutorial -> in the section https://bloclibrary.dev/#/flutterweathertutorial?id=setup-1, the content of the pubspec.yaml file is incorrect. You specified pubspec.yaml from another package, from weather_repository.

![image](https://user-images.githubusercontent.com/16469484/136230653-aa0f590a-a3ad-4e3b-a256-ffcea87fbb41.png)

[2021-10-06 15:09] felangel commented on #2833
Awesome! The tutorial is pulling from the real, working code at https://github.com/felangel/bloc/tree/master/examples/flutter_counter. It should be correct with the exception of the `pubspec.yaml`.

[2021-10-06 15:21] #2834 closed

[2021-10-06 15:21] github-actions[bot] opened #2836 "[Translations] Update docs"
Update Translations to include changes from 0c442a35181d8eb8952c7e1495a075b859a3b2b1.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-10-06 16:16] TMAnhoangthinh commented on #2822
At line 104 where i called emit(state.copyWith(query: query, queryProgress: QueryProgress.done)).It's always occurs before multiple function call on  my cubits.

[2021-10-06 16:28] marcossevilla commented on #2822
Yes, that's because you await multiple cubit methods at a time. If you call any API you're awaiting that async response and that's probably going to take a while because there are multiple methods. You also have:
[code]
Before your state is emitted, so it takes a bit longer. As I said before, I suggest you decouple a bit your domain and business logic, but more importantly, if you await multiple a

[2021-10-06 16:32] TMAnhoangthinh commented on #2822
And that does emit the state well. But takes a lot of time when emitting this?

No. I means it takes a lot of time to emit(state.copyWith(query: query, queryProgress: QueryProgress.inProgress));.Please check the video. Tks.

[2021-10-06 16:51] TMAnhoangthinh commented on #2822
No, in this case when i emit state QueryProgress.inProgress. The listenner function on BlocConsumer should be get the state == QueryProgress.inProgress immediately. But such as above video, it takes about 200ms to get new state == QueryProgress.inProgress

[2021-10-06 17:22] #2817 closed

[2021-10-06 17:30] nhoangthinh commented on #2822
Ok,let me try

On Thu, Oct 7, 2021, 12:27 AM Marcos Sevilla ***@***.***>
wrote:

[2021-10-06 18:02] duzenko commented on #2832
OK, here's a demo

Expected: widget B shows error after its api call completes and stays like that
Observed: widget B shows error, then "waiting for data" after the next bloc state change

[code]

[2021-10-06 18:36] felangel commented on #2526
You could do:

[code]

Hope that helps 👍

[2021-10-06 18:37] marcossevilla commented on #2819
hey @Giuspepe, I was checking at the example and had some doubts about it: why are you throwing an event on the event handler? that should exclusively emit bloc states.

Also, if you check on the integration test sample for [flutter_counter](https://github.com/felangel/bloc/blob/master/examples/flutter_counter/integration_test/app_test.dart) you can see there's an expect function to validate the U

[2021-10-07 02:13] jessicaliu1282 commented on #2526
Hi, after migrating to v7.2.0 flutter bloc, my bloc didn't handle the event in order.
How can I fix this? Thanks.

[2021-10-07 02:19] alvinvin00 commented on #2526
Starting with Bloc 7.2.0, all events will be processed concurrently so it will be similar to how Cubit works, Read [here](https://bloclibrary.dev/#/migration) for how to retain the old behavior

[2021-10-07 02:45] jessicaliu1282 commented on #2526
Hi, I used the _onEvent function with sequential transformer in my target bloc and it works correctly. Thanks for the help.
Using Bloc.transformer = sequential<dynamic>(); for all blocs didn't help.

But I still have a lot of if ... else if ... in my _onEvent function just like using the mapEventToState function.
So I have to make all blocs using _onEvent function or is there anything else I can d

[2021-10-07 07:35] duzenko commented on #2832
Yes, in my previous message I mentioned that the expected behavior for the widget B is to stay in 'error'
It needs exactly that - to show the result of its own api call
What is the bloc solution for this if any? Or the bloc pattern is not recommended here?

[2021-10-07 09:31] Giuspepe opened #2839 "[bloc_test] feat: Add tags and other parameters from package:test to blocTest"
**Description**

Our app has different flavors which cause it to behave a bit differently. Some tests should be only run for some flavors. To achieve this, we pass tags to the call of the `test` function from `package:test`. Then we can use these tags to only run specific tests (e.g. `flutter run test --tags flavor1||flavor2`. See this documentation for more detail: https://pub.dev/packages/test#t

[2021-10-07 09:43] Giuspepe commented on #2819
Hey @marcossevilla thanks for your reply.
I'm just throwing anything to make the minimal example as simple as possible.
In a real use case you could have an event handler which throws an error for any unexpected reason.
I would like integration tests to fail if there is an unhandled exception in an event handler.

[2021-10-07 10:04] Thesmader opened #2841 "chore: Remove 'abstract' keyword from cubit state template"
**Description**
Freezed does not require the abstract keyword [anymore](https://github.com/rrousselGit/freezed/tree/master/packages/freezed#the-abstract-keyword). Currently the `abstract` keyword is present in the cubit state class template which leads to the following warning being shown in the build_runner output:
[code]
Removing the abstract keyword will fix the warning

[2021-10-07 13:19] #2831 closed, assigned to felangel

[2021-10-08 05:32] #2833 closed

[2021-10-08 05:32] github-actions[bot] opened #2845 "[Translations] Update docs"
Update Translations to include changes from 742bed9bdcda02e66e8aa2736101add7119b5596.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-10-08 05:34] #1196 closed

[2021-10-08 07:22] ManoVikram opened #2846 "BLOC not getting disposed which leads to unchanged state"
**Description**
I have a BLOC to upload content to AWS Amplify. As usual, the BLOC has 4 states UploadInitial, UploadInProgress, UploadSuccess, UploadFailure. I provided the BLOC in the main and called the BlocBuilder on the Upload Screen to make changes according to the state change. When I open the upload screen, the bloc will be in the Initial state. After I click upload, the state will change

[2021-10-08 11:56] II11II opened #2847 "fix: Failed assertion: line 137 pos 7: '!_isCompleted' using stream"
**Description**
A clear and concise description of what the bug is.

**Steps To Reproduce**

[code]

**Expected Behavior**
I am listening socket using stream, and response to come to the bloc takes 3-5 seconds. Having come response and emit ing it, bloc throws exception (```Failed assertion: line 137 pos 7: '!_isCompleted': ```)

Full log:
[code]
There is no futures are used inside **on** method

[2021-10-08 13:14] stepanzalis commented on #2847
Got similar error in this [issue](https://github.com/felangel/bloc/issues/2784). 😞

[2021-10-08 13:18] felangel commented on #2846
Hi @ManoVikram 👋
Thanks for opening an issue!

Can you please provide a link to a GitHub repo containing a minimal reproduction sample? The provided snippets are not enough to identify the issue and it would be easiest if you could provide a complete example that I can run/debug locally, thanks!

[2021-10-08 15:30] felangel commented on #2847
Hi @II11II 👋
Thanks for opening an issue!

As @elianmortega mentioned, streams are asynchronous too and in your example you are leaking the stream subscription and emitting after the event handler has completed. You can support this use case with the new API like:

[code]

Hope that helps 👍

[2021-10-08 16:14] #2847 closed, assigned to felangel, elianortega

[2021-10-08 16:39] ManoVikram commented on #2846
You can view the code here: https://github.com/ManoVikram/Audio_App

[2021-10-08 18:27] Giuspepe commented on #2819
@marcossevilla thanks for your reply :) I'm not sure if we're talking about the same thing. My issue isn't that the tests should pass. They have to fail. But my issue is that I don't want to wait for the test to timeout until it fails, I want it to fail immediately when an exception is thrown inside a bloc.
If you compare the behavior with the other test where the exception is thrown inside the `o

[2021-10-08 18:34] Giuspepe commented on #2819
Oh I just found a way to fix it:

If you start the app in an integration test this way:
´´´dart
import 'package:my_package/main.dart' as app;

  testWidgets('Exceptions thrown in blocs are ignored', (WidgetTester tester) async {
      await tester.pumpWidget(app.App());
      ...
  });
´´´

You will get the behaviour I described that exceptions thrown inside of the bloc will not be able to be caug

[2021-10-08 19:46] felangel commented on #2784
@stepanzalis I think the issue is the mappers should be async and await the resulting future:

[code]

Let me know if that helps 👍

[2021-10-08 20:07] #2839 closed

[2021-10-08 20:08] felangel commented on #2839
@Giuspepe thanks for the context and clarification! I updated #2840 to include just the tags and will publish the change as part of bloc_test v8.3.0 shortly 🎉

Thanks for the contribution! 🚀

[2021-10-08 20:38] github-actions[bot] opened #2849 "[Translations] Update docs"
Update Translations to include changes from 312d46b92c7c9e4c70b8ee27cb283a61eff4f0d6.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-10-09 16:40] mnnlthmpsn opened #2851 "BLOC not updating state immediately"
**Description**
BLOC doesn't update state immediately

**Steps To Reproduce**

Check out this repo. I was able to reproduce the error

**Expected Behavior**
I expected updated state in my Detail Page Screen. Rather, the initial State still remained
However, the state was updated later in my console when no routing was done

**Screenshot
![Screenshot (73)](https://user-images.githubusercontent.com/

[2021-10-09 18:19] alestiago commented on #2851
👋 Hi @mnnlthmpsn.

I would like to make sure I've understood your issue correctly. I've created some simplified reproduction sample using the new Bloc API. I'm using `flutter_bloc: ^7.3.0`. Does this match your scenario?

**main.dart**
[code]

**test_bloc.dart**
[code]

**test_event.dart**
[code]

**test_state.dart**
[code]

I'm not sure about what you are trying to achieve with the `BlocBuilder`.

[2021-10-09 18:53] ManoVikram commented on #2846
Any solutions for this issue?

[2021-10-09 19:23] itaishalom commented on #2831
Hi, thanks for replying!
One follow-up question:
On my scenario, i wish to know if the user is active and interacting with the UI.
I'm running a timer on my bloc so if the user was inactive for sometime, Im spawning a state to the UI. So with each user's tap I update the bloc like myBLoc.userTouch(); ( which initializes the timer..).
I think it's clearer than adding an event to pop a state which w

[2021-10-09 21:15] mnnlthmpsn commented on #2851
Awesome. Exactly what i was looking for
Thanks a million

[2021-10-09 21:15] #2851 closed

[2021-10-09 23:07] felangel commented on #2822
@nhoangthinh were you able to figure out the issue?

[2021-10-10 08:41] squallsama commented on #2633
Have you tried https://github.com/Maksimka101/isolate-bloc/tree/master/packages/isolate_bloc ?

[2021-10-10 15:34] #2846 closed, assigned to felangel

[2021-10-11 19:40] liri2006 opened #2855 "on<TEvent> - possibility to override "one for all" event handler with concrete one"
Hi @felangel, I'm trying to migrate to the new way of handling of events. There is bit of "magic" added around the bloc in our project, so that event handling logic is written in separate event classes instead of single bloc class. And all of that was handled in mapEventToState in the base class, so, naturally code was changed to do the same job in a single on<TEvent> handler:

[code]

And that wo

[2021-10-11 19:54] FlutterWiz opened #2856 "fix: Cubit state is not defined?"
When I create cubits, it gives an error.  Yesterday It did not gives an error. I tried the same codes.

[code]

Here my simple function:
[code]
And here my state file:
[code]

@felangel can you look this ?

[2021-10-11 20:14] #2856 closed, assigned to nobody

[2021-10-11 20:40] liri2006 commented on #2855
@felangel Here is a showcase of the issue. While preparing the example I found out that I was a bit off while describing the issue - both debounced AND central event handlers are being called after event is dispatched, which result in counter being incremented during every + button tap and then additionally one more time after debounce time.

[code]

[2021-10-12 09:09] eRuaro opened #2858 "docs: How do I test one cubit relying on another cubit"
**Description**

I have two `cubits`, one is responsible for checking if the device is connected to wifi or not, while one is responsible for keeping count of a `number` variable as shown below.

[code]
[code]
I also have an `OperationScreen` which handles the UI interface. The gist is that the two buttons in the UI will either increment/decrement by one or two depending on the `InternetState`.
[c

[2021-10-12 14:59] github-actions[bot] opened #2860 "[Translations] Update docs"
Update Translations to include changes from 410db505e7c7b87643c6a51faff7fc612fdc5f50.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-10-12 17:25] #2822 closed

[2021-10-12 17:41] felangel commented on #2855
@liri2006 thanks for the reproduction sample! Are you able to provide an equivalent sample using `mapEventToState` (the way you were previously doing things)? Also, can you explain a bit more why you are using this approach? Ideally events should not contain any logic (that's the responsibility of the bloc). Also, uncaught exceptions are automatically handled by bloc so you shouldn't need to write

[2021-10-12 18:38] liri2006 commented on #2855
@felangel We are using flutter_bloc since 0.14.0 version and library has evolved significantly in terms of trimming down the boilerplate. This approach was implemented to allow us to write less code and to allow us to divide logic into separate files (to "add" to codebase rather than "modify" it whenever there is a new feature we want to implement). If everything is done inside the bloc file, than

[2021-10-13 01:56] #2858 closed, assigned to marcossevilla

[2021-10-13 03:48] ga-bri-el opened #2864 "fix: transformer functions that utilize skipWhile are always skipping events"
**Description**
Adding a transformer that utilizes skipWhile ends up skipping all events regardless of the condition being satisfied.

**Versions**
[code]

**Dependencies for sample**
[code]

**Code Sample**

[code]

[2021-10-13 03:53] felangel commented on #2864
Hi @ga-bri-el 👋
Thanks for opening an issue!

This is not working because in your `transformer` you never call the `mapper`. For example, if you want to process events sequentially your transformer could look like:

[code]

Hope that helps 👍

[2021-10-13 03:56] ga-bri-el commented on #2864
Oof, that's my bad 😅
Seems like I need to read more about dart streams heheh

Sorry for the inconvenience and thanks for the ultra fast response :)

[2021-10-13 04:11] felangel commented on #2855
@liri2006 thanks for the additional context. I migrated your `mapEventToState` approach to the new `on<E>` API:

[code]

Again I highly encourage you to reconsider this approach because your events should not contain the business logic. If you prefer to split things out in order to be more organized you can just register multiple handlers and define the event handlers in separate files:

[code]

W

[2021-10-14 05:55] felangel commented on #2855
Closing for now since there doesn't appear to be any additional actions needed. Feel free to comment with any follow up questions and I'm happy to continue the conversation 👍

[2021-10-14 05:55] #2855 closed, assigned to felangel

[2021-10-14 06:03] #2803 closed, assigned to felangel

[2021-10-14 13:37] Oliwiana opened #2873 "How to pass data to another screen with bloc -Flutter"
How to transfer data from one screen to another using bloc and save , I would like to create a user profile where I have two screens, two steps to creating a profile. I created two blocs for each class, in one I have an avatar, city and name, in the other only description. I used an amplify and when I save the first screen and when I go to the second one, delete the data from the first screen. How

[2021-10-14 14:47] marcossevilla commented on #2873
hi @Oliwiana! I suggest you have only one `ProfileBloc` in your case. That way, you'll be able to fill in the user data from a page on which you can have a form and a separate bloc to handle the form submission logic, like `LoginBloc` for example, and then you consume `ProfileBloc` in any page you want.

I have an example of filling a sign-up form and showing a profile page with the data of that f

[2021-10-14 16:04] marcossevilla commented on #2758
hi @CrossBread!

Regarding this, we use barrel files to keep the code more organized, that way you can define your package exports and in case you have a whole folder that exports multiple files, you can create a `folder.dart` that exports them all. Similar to this:
[code]

You can also check [this link](https://dart.dev/guides/libraries/create-library-packages#organizing-a-library-package) to see

[2021-10-14 20:10] github-actions[bot] opened #2875 "[Translations] Update docs"
Update Translations to include changes from ded9f7d521f64b732156fc986fb059fa62ee20c0.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-10-14 21:09] gooadd06 opened #2877 "flutter_bloc"
I read documentation but I didn't manage to get an answer .
If I'm making movie app , and I have many actions in it .
(get popular movies , get trending movies , get top rated movies ... etc )
all of these actions return the same model but with different data .
how do I manage my bloc  ? .
should I make 1 bloc for all actions and if I do , how to return different data but with same model in  a way

[2021-10-14 21:58] marcossevilla commented on #2877
hey @gooadd06! I suggest you analyze how you want to structure your app, I suggest you structure it as features, so you can have a movies feature and then subfeatures for each action/endpoint from your API. Would look like this:
[code]
Then, you can provide your blocs with a MoviesRepository that will contain each call to the API, so that way each subfeature has a bloc that calls the correspondent

[2021-10-15 09:51] gooadd06 commented on #2877
thanks for your response , It helped a lot

[2021-10-15 09:51] #2877 closed, assigned to marcossevilla

[2021-10-16 00:29] CrossBread commented on #2758
Awesome, thanks for sending along this information! I've developed software
for a long time, but mostly in a Java environment. I'm pretty new to Dart
and still getting a handle on what are the recommended best practices for
Dart and Flutter versus just a convention that a group of devs has adopted.

On Thu, Oct 14, 2021, 10:04 AM Marcos Sevilla ***@***.***>
wrote:

[2021-10-16 08:48] pointbre opened #2883 "docs: https://bloclibrary.dev/#/testing and https://pub.dev/packages/replay_bloc#using-a-replaybloc"
## Tested
dart 2.14.2

dev_dependencies:
  bloc_test: ^8.3.0
  test: ^1.16.0
dependencies:
  bloc: ^7.2.1
  bloc_concurrency: ^0.1.0
  hydrated_bloc: ^7.1.0
  replay_bloc: ^0.1.0

## https://bloclibrary.dev/#/testing
[code]

## https://pub.dev/packages/replay_bloc#using-a-replaybloc
[code]

[2021-10-16 09:30] ionnux opened #2884 "docs: There are several ways of implementing state in the documentation, which one is better and why."
After I worked through several of the examples available on the bloclibrary website, I discovered that there are essentially three ways of writing a state class.

### Infinite list example
[code]

### Login example
[code]

### Timer example
[code]
I want to know if there is a situation in which one method is preferable over another. If they are all equivalent I want to know which one is better and

[2021-10-16 13:55] alvinvin00 commented on #2884
Infinite List example were used because you want to preserve the data on every fetch then adding a new list into the existing list.

Auth example were used because you don't want to accidentally set the data. By using private constructor, you can force how you can create an object, otherwise you can accidentally set the status as unauthenticated while there's a user data lol.

Timer example were u

[2021-10-16 15:02] hernan74 opened #2885 "fix: the pad does not listen to the changes when executing the command "flutter run --release" in web application"
**Description**
I am designing a web application and I use the pad as a state manager. I have a login window and I am validating the username and password fields to enable the login button. This works fine for me if I run the project with run or debug. But it is not working for me if I run it with the command "flutter run --release"
**screenshots**
run in debug:
![image](https://user-images.github

[2021-10-16 16:40] hernan74 commented on #2885
well this is my repository:
https://github.com/hernan74/covid19_app_admin

my problem is when I deploy my project in a hosting the bloc does not work.

my application deployed in a hosting:
https://ejercicios-8a67c.web.app/#/

[2021-10-16 19:08] shawnlauzon opened #2886 "question: Problem with adding an item to a list where each item is a Bloc"
Hi all, I really love Bloc! In most situations it's working great, but in this one I'm having a problem. I have a blog with posts and comments (and comments f comments, etc.). I have a ContentBloc for each post and for each comment (because each piece of content is loaded from its own URL, I wanted to manage state separately for each) -- i.e. "Content" means either "post" or "comment".

In my app,

[2021-10-17 13:36] shawnlauzon commented on #2886
I understand the problem better now, but still don't know the issue. It appears that the Blocs are provided to views in a specific order, and what I want to do is to create a new Bloc at the top of that list. I still don't know how to solve it, but I've worked around it by adding the new Bloc to the end rather than the beginning.

[2021-10-17 14:45] github-actions[bot] opened #2888 "[Translations] Update docs"
Update Translations to include changes from bb453069f9568ca90d21a1b53cc998d3e061cd94.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-10-17 15:30] shawnlauzon commented on #2886
Ahh, thank you so much! So it wasn't a Bloc issue at it, but rather an issue of me not understanding Flutter and keys! This is the key (pun unintended) change:

[code]

(As well as adding an ID so that each item is unique).

Thanks again!

[2021-10-17 15:30] #2886 closed

[2021-10-18 02:54] SayuruSandaru opened #2890 "Stream subscription not detecting the state"
**Description**
I recently tried to implement Bloc StreamSubscription to an app that I am currently developing. But It doesn't get the state that emits by another bloc.  following is the code I from a project with the same error.

[code]

[code]
Then I implemented the `GetInternetState` event in a button pressed event as follows

[code]

**Steps To Reproduce**

Here is the reproduced project with

[2021-10-18 11:26] hernan74 commented on #2885
Ready I just made a simple example with my inconvenience if I run it in release mode for web flutter the validator does not work

[2021-10-18 13:04] Lootwig opened #2891 ""freeze" BlocBuilder during page transitions using buildWhen?"
When changing a BlocBuilder's returned Widget _while_ there is a page transition taking place, the Widget is of course updated during the animation.

However, since operations like e.g. Navigator.pop() do not return a future (which would allow me to wait with the state update until _after_ that transition is done), it seems like returning "false" from buildWhen might be the next best option - howe

[2021-10-18 13:17] Gene-Dana opened #2892 "feat: Match bloc generation from plugin to suggested approach with named constructors"
**Description**
When I generate a bloc from the extension, I normally have to refactor all the code in order to use named constructors in the suggested approach

**Desired Solution**

I'd like the plugin to generate the suggested approach !

**Alternatives Considered**

Just ignoring the problem

[2021-10-18 13:32] #2890 closed

[2021-10-18 14:40] MlecznyU opened #2893 "feat: Missing skipLast or skipAfter parameter"
**Description**

The skip parameter is available in the package, but I am missing the skipLast or skipAfter parameter.
I often face the problem that after performing a certain operation on a bloc, the bloc emits a state. E.g. every time I fetch new data bloc emits state loading. I would like to test if this always happens. Now, I am not able to write such a test, because most of the time states li

[2021-10-18 16:34] felangel commented on #2892
Hi @Gene-Dana 👋
Thanks for opening an issue!

Can you please be a bit more specific? It would be super helpful if you could provide a snippet of the currently generated code and the code you wish was generated, thanks!

[2021-10-18 19:47] marcossevilla commented on #2893
hi @MlecznyU! I'm not sure I understand well your request, have you tried expecting all the states the operation should emit?

If you want to check a loading state you can expect it with the other states on the expect parameter of bloc test. Similar to [this test](https://github.com/felangel/bloc/blob/a9b8a340d2440c84737bd03405bc69866321d4ee/examples/flutter_shopping_cart/test/catalog/bloc/catalog

[2021-10-19 03:15] jnknewaj commented on #2526
` void _onEvent(MyEvent event, Emit<MyState> emit) async {...}`

Is `Emit` now renamed to `Emitter`?

[2021-10-19 23:31] nathanielxd commented on #2892
Hello! Are you referring to the generated states by the extensions? You could always write your own snippets, it should automate your work flow.

[2021-10-20 13:14] Gene-Dana commented on #2892
@nathanielxd Hey ! that's kinda cool !

[2021-10-21 07:42] Lootwig commented on #2891
This code works with dartpad. The timer has the same effect as a bloc state update: Not only is the position switched, but also the text of the "old" widget that should just remain the same.
In the example, it's a crossfade, but the same behavior happens with a Navigator.push().

And yes, the `Text` widgets could just be created outside of the stateful widget, but that is not the point as it only

[2021-10-21 10:42] ManoVikram opened #2895 "fix:"
**Description**
I have a BLOC to fetch all the audio files from AWS. When I call the Bloc Event( fetchAudioBloc.add(const FetchAllAudio()) ), it is rebuilding the UI again and again. Basically, the BLOC is being called again and again. I am not sure why this is happening. I can't find a workaround for this. When I comment or remove the statement that adds the BLOC Event, this issue gets vanished.

[2021-10-21 16:43] #2873 closed, assigned to marcossevilla

[2021-10-21 16:49] Gene-Dana commented on #2891
Okay, I really appreciate you putting together the example ! This seems like a pretty interesting problem, although the more I look at it, the more I think that perhaps this isn't really even a bloc problem.

Further, I'm still slightly confused what you'd like to achieve ! Do you want to value to change **before** you initiate the transition?

[2021-10-22 11:27] simon-technocloud opened #2897 "fix: Bloc not emitting state after await call"
**Description**
So I'm pretty new to Flutter, so apologies if this isn't the correct place!
I'm currently working on a application process app, I have a number of pages working quite well; I now need to upload documents...however I am trying do this async so as to show a loading type animation, but the moment an async call is placed in the bloc (even with just a delay) a second emit is never ackno

[2021-10-22 11:34] #2891 closed, assigned to Gene-Dana

[2021-10-22 12:18] #2897 closed, assigned to nobody

[2021-10-24 05:10] #2892 closed, assigned to felangel

[2021-10-24 23:49] #2893 closed, assigned to marcossevilla

[2021-10-25 05:05] Puspharaj opened #2900 "Google SignIn issue"
Referring this example, I have implemented google sign in my using auth_bloc and uploaded into playstore. Then I tried to install via playstore, It seems there's no error thrown, Couldn't figure what's happening.

Did anyone tried out this on real device via playstore?.

[2021-10-25 09:39] #2900 closed, assigned to nobody

[2021-10-27 10:22] AscentionOne opened #2901 "How to properly extract the widget if one is watching bloc value?"
Hi @felangel,

I have a question, my apology if the question is dum... 😂 Let's say I have a `FoodCard` widget that is showing a value, and the value is updated by watching the bloc. For example:

[code]
or

[code]
Builder is to prevent unnecessary rebuild. If I want to extract this `FoodCard` widget to be a general FoodCard widget that can pass any price data in. For example, a price that is watch

[2021-10-27 12:43] marcossevilla opened #2902 "docs: add BlocSelector section"
**Description**

We need a BlocSelector section in the documentation to show its usage to newcomers and have it as a reference for issues and additional content.

[2021-10-27 12:56] #2901 closed, assigned to marcossevilla

[2021-10-27 14:23] #2902 closed, assigned to marcossevilla

[2021-10-28 10:31] aoatmon opened #2905 "[bloc_test] uses out of date mocktail version"
**Steps To Reproduce**

- add to `pubspec.yaml`
[code]
- run `flutter pub get`

**Expected Behavior**

everything is up to date

**Actual Behavior**

[code]

[2021-10-28 15:52] #2905 closed, assigned to marcossevilla

[2021-10-30 23:04] felangel commented on #2278
This is closed by #2899 and is included in bloc 8.0.0-dev.4

[2021-10-30 23:04] #2278 closed

[2021-10-31 00:19] felangel commented on #2261
This is addressed by #2913 and will be included in bloc v8.0.0-dev.5

[2021-10-31 00:19] #2261 closed

[2021-11-01 18:29] bernaferrari opened #2914 "fix: plugin crash"
This is the log. I wasn't doing anything suspicious.

[code]

[2021-11-01 20:07] felangel commented on #2914
Hi @bernaferrari 👋
Thanks for opening an issue!

Can you provide any reproduction steps? Is this something that is easily reproducible?

[2021-11-01 20:13] bernaferrari commented on #2914
No, lol. I was just using IntelliJ, it wasn't even a Bloc project. It just randomly crashed with that message.

[2021-11-02 14:51] jason-sch commented on #2759
I just tried out this example myself.

* To view code coverage, I am instructed to run genhtml, which does not exist on my Windows box.
* package:flutter_weather/weather/weather.dart is never defined.  I correctly assumed it was supposed to be a barrel file.
* WeatherCondition from weather_repository is used in ThemeCubit but not imported in theme_cubit.dart.  Looking at the full source code, this

[2021-11-02 19:08] Gene-Dana commented on #2759
Hey @jeroen-meijer, I believe this is the next document that is super important we review and make more clear. @felangel, perhaps this would be a great opportunity to detail the design from concept to completion here - what do you think?

[2021-11-02 19:22] felangel commented on #2731
@marcossevilla @elianmortega I've thought about this some more and currently I feel it's safer for the snippet to use a single event handler rather than breaking things out into multiple event handlers because the single event handler guarantees that all events are processed the same way (based on the applied event transformer). If we default to multiple event handlers, then it might not be immedi

[2021-11-02 20:54] marcossevilla commented on #2731
@felangel I agree, I think keeping it simple it's okay since you can have one-liners as event handlers or even just one handler. Making multiple handlers would imply that you need to extract the handler's body to private methods and that's not going to be the best way to do it every time. I think it's a good way to show the equivalent to mapEventToState, but I'm a bit worried about developers leav

[2021-11-03 09:03] Sergey-Sonderson opened #2915 "Migrating Login to 8.0 and `debounce`"
Bloc migration problem

Hello, I have been at Flutter not so long ago and am now learning Bloc.
Faced the problem of migrating to a new version. If everything is clear with on <Event> ((event, emit) => emit (state)), then there are problems with the transformEvents translation that I can't figure out, I hope you can help me

[code]

my attempts to convert it all lead to several errors at once
[cod

[2021-11-03 15:12] felangel commented on #2915
Hi @Sergey-Sonderson 👋
Thanks for opening an issue!

`transformEvents` is deprecated and should not be used. Instead, you should provide a custom EventTransformer for your event handlers:

[code]

Also, I highly recommend looking into the `droppable` transformer from [package:bloc_concurrency](https://pub.dev/packages/bloc_concurrency) in this case because it'll ignore subsequent `LoginWithCredent

[2021-11-03 18:10] Gene-Dana opened #2916 "feat: warning when setting `lazy: true`"
**Description**

[code]

Normally, the analyzer would yell at you that you are setting a redundant value here.

**Steps To Reproduce**

1. Create a bloc/cubit
2. Set `lazy: true`

**Expected Behavior**
Analyzer should give you a shout-out 'Hey, this is a redundant value'

**Screenshots**
![image](https://user-images.githubusercontent.com/45580241/140167838-1bb032a4-5f48-4462-b76f-30df67565e23.png)

[2021-11-03 19:35] kranfix commented on #2100
@lhmzhou There is no advantage in the async vs sync. The real advantage is `onChange` that let you track how your states change. I could be implemented for `StateNotifier`, but currently it isn't.

[2021-11-03 20:19] #2916 closed

[2021-11-03 20:46] felangel commented on #2731
Awesome! Yeah we can keep on eye on it and adjust as needed. Closing for now 👍

[2021-11-03 20:46] #2731 closed

[2021-11-03 23:23] rrousselGit commented on #2100
What `onChange`?

`StateNotifier` has an `addListener` method. And Riverpod has both `ref.listen(provider, onChange)` and `ProviderObserver.didUpdateProvider`. That should cover all "on change event" use-cases

[2021-11-03 23:46] lhmzhou commented on #1758
@felangel Can you recommend resources on best practices in Flutter/Dart?

[2021-11-03 23:49] lhmzhou commented on #2639
"jank issue" 😆 💯

[2021-11-04 05:03] felangel commented on #1783
I made some progress on this and wanted to gather feedback. I decided to stay consistent with how `git diff --word-diff=plain` represents differences.

In the below example, the expected output is a post with an id 1 and the actual was a post with an id of 0.

![Screen Shot 2021-11-04 at 12 00 12 AM](https://user-images.githubusercontent.com/8855632/140260495-4fe463a1-cd46-4261-b73f-3cc24130b0b5.p

[2021-11-04 05:08] felangel commented on #1783
related to https://github.com/dart-lang/matcher/issues/40

[2021-11-05 13:35] Sergey-Sonderson commented on #2915
Dear Felix, how can I pass additional parameters to it?

[2021-11-05 14:28] felangel commented on #2915
Generally everything you need should be included in the incoming event and state so you shouldn't need to pass anything additional but if you really need/want to you can do something like:

[code]

Hope that helps 👍

[2021-11-05 15:20] Sergey-Sonderson commented on #2915
Thank you very much, Felix, for your very timely help. I will try to do it according to your recommendations. If successful, I will send it to the chat. If the result is negative, I will write about the error.

[2021-11-05 16:09] github-actions[bot] opened #2922 "[Translations] Update docs"
Update Translations to include changes from 40f53072539e0dbcd43e9eb7921c1d6bba06532f.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-05 16:14] felangel commented on #2915
Sounds good! Closing for now but feel free to comment with you have follow-up questions or [join us on discord](https://discord.gg/bloc) 😄

[2021-11-05 16:14] #2915 closed

[2021-11-05 18:43] #1783 closed

[2021-11-05 19:09] felangel commented on #1783
This is now available in [bloc_test: 8.5.0](https://pub.dev/packages/bloc_test/versions/8.5.0) 🎉

[2021-11-06 09:02] Nomeleel opened #2925 "fix: [VS Code Bloc extension] When wrapp with bloc snippet, the $ expression in the widget content will be removed."
**Description**
If there is a $ expression in the widget, after wrap with bloc snippet, the expression will be removed and become an empty string.

**Steps To Reproduce**

1. Widget content
[code]
2.  Refactor -> Wrap with BlocSelector
[code]
3.  See code near the 'Here' comment

'$_counter' -->  ''

**Expected Behavior**
[code]

**Screenshots**

![Screenshots](https://raw.githubusercontent.com/No

[2021-11-07 03:57] #2925 closed

[2021-11-07 12:43] claudiaaw commented on #2526
i'm having some trouble with streams...how would I migrate something that looks like this?

[code]

where the watchAll() is of type `Stream<Either<QuestionFailure, KtList<Question>>>` and listens to any changes in firebase?

[2021-11-07 20:31] matekdk commented on #2526
A workaround for this change is simply to map the old mapEventToState function in the on handler, like this:

[code]

[2021-11-08 15:35] riverscuomo commented on #2790
Hi @felangel , I'm trying to figure out migration while retaining sequential events. I put `Bloc.transformer = sequential();` in my main() but I can't figure out the second part you mentioned "if you want it to apply to all events you need to register a single event handler rather than multiple".

I have about 30 events in a block that can be added singly, doubly, or triply and in different orders

[2021-11-08 18:15] gredajustyna opened #2931 "List of items in a BlocBuilder, how to make only one respond to state change?"
I have a simple password manager app, work still in progress. The app consists of a pin screen and a list with password tiles where you can edit the password and make it visible with a button click. Hovever I encountered a problem. When I want to see more than one password at once, all passwords change to the last one, meaning all tiles were rebuilt on a change of state. Moreover, when I want to h

[2021-11-08 20:10] spideythewebhead commented on #2784
@preckrasno

Hi i guess you could add an extra events when add them internally in the bloc
example

[code]

and then on add an event listener for the `ScanCompletedEvent` and emit the new state

[2021-11-08 20:28] preckrasno commented on #2784
@spideythewebhead thanks for the reply. As for your recommendation, I tried this way, but it looked for me more like workaround and not right solution.

as another workaround, I came up with next variant of the code.  But it gives me warnings with the `emit`s -  `The member 'emit' can only be used within 'package:bloc/src/bloc.dart' or a test.dart(invalid_use_of_visible_for_testing_member)`

[code

[2021-11-08 20:33] felangel commented on #2784
Hi @preckrasno 👋
You can use `emit.onEach` in this case:

[code]

On a side note, I don't recommend maintaining internal state in your bloc (`scanResults`). Ideally, all state maintained by the bloc should be part of the bloc state.

Hope that helps! 👍

[2021-11-08 20:52] preckrasno commented on #2784
Hi @felangel
Thanks for your answer, that's exactly what I was looking for. Also, your side note is quite helpful too, it bothered my mind some time ago, but it's clear now.

[2021-11-08 21:20] felangel commented on #1641
Hi @dave 👋
Thanks for opening an issue and apologies for the delayed response!

The reason why this is happening is because in this case the `Success` state is emitted before the `BlocListener` has been mounted in the widget tree. This is because your `async` cubit method is not really doing anything asynchronous in this case. In practice, if it was actually awaiting a Future (event just `Future.d

[2021-11-08 21:20] #1641 closed

[2021-11-09 10:39] NayYairLinn933 commented on #2847
fgf

[2021-11-09 12:01] ptrbrynt opened #2933 "feat: Distinguish between States and Side Effects"
**Description**

A common pattern when using Bloc and Cubit is to use a `State` to represent what is actually a side-effect. For example, you may have a simple cubit which loads some data and has `Initial`, `Loading`, `Error` and `Success` states. You want to display a Snackbar on Error states but not re-build the widget.

Currently you would need to emit the Error state, immediately followed by,

[2021-11-09 16:49] riverscuomo commented on #2790
@felangel  I think I'm almost there. I do have a new error, though, that maybe you could help me with.

All is well if I handle the event in the containing event handler:

[code]

But if I separate the event handling into a function like this:
[code]

I get this error on the final line where I call emit:
`
  emit was called after an event handler completed normally.
  This is usually due to an una

[2021-11-09 17:58] felangel commented on #2933
Hi @ptrbrynt 👋
Thanks for opening an issue!

In the scenario you described, I would generally recommend restructuring your state to consist of a single concrete implementation rather than multiple subclasses:

[code]

Then in your UI, you can use `BlocSelector` to select the value and only rebuild when the value changes:

[code]

You shouldn't need to emit back-to-back states like this if you adju

[2021-11-09 18:55] felangel commented on #2790
Hey 👋

That's because you need to change the return type of `_loadUser` to `Future<void>` and await the Future in the event handler:

[code]

Let me know if that helps 👍

[2021-11-10 02:53] felangel commented on #2931
Closing for now but feel free to comment with any follow up questions/comments or [join the bloc discord](https://discord.gg/bloc) 👍

[2021-11-10 02:53] #2931 closed

[2021-11-10 09:41] ChauCM opened #2934 "docs: Infinite List, The method 'throttle' isn't defined for the type 'Stream'."
Trying to follow the example, got this error:

![image](https://user-images.githubusercontent.com/86839861/141088960-281547e6-06f0-49b3-9f89-36fab8b34c34.png)

pubspec.yaml:
bloc_concurrency: ^0.1.0
flutter_bloc: ^7.3.1

[2021-11-10 11:01] marcqtan commented on #2744
same question. any suggestion for this problem?

[2021-11-10 14:41] riverscuomo commented on #2790
@felangel that did the trick. Thank you.

[2021-11-10 16:14] felangel commented on #2934
Hi @ChauCM 👋
Thanks for opening an issue!

In the infinite list example, `throttle` comes from `package:stream_transform/stream_transform.dart';` so you just need to add the `stream_transform` package to your `pubspec.yaml` and import it:

[code]

[code]

You can check out the complete source code for the bloc at https://github.com/felangel/bloc/blob/master/examples/flutter_infinite_list/lib/posts

[2021-11-10 16:16] #2934 closed

[2021-11-10 16:20] felangel commented on #2744
@octokim @marcqtan if you need to emit states in succession which all contain relevant data to the UI then I recommend restructuring your state to aggregate the info rather than having pieces of data scattered throughout multiple states:

[code]

This would allow you to emit in succession without risk of losing any state:

[code]

This way you're constantly aggregating relevant data so that the UI

[2021-11-10 20:51] datdefboi opened #2935 "style: bloc naming convention"
Hi, Felix!

I try to understand what is a current naming convention I have to use.
The [corresponding page](https://bloclibrary.dev/#/blocnamingconventions?id=state-conventions) says I have to create different classes for each state:
`State should be one of the following: Initial | Success | Failure | InProgress and initial states should follow the convention: BlocSubject + Initial.`
But some exam

[2021-11-10 21:29] felangel commented on #2935
Hi @datdefboi 👋
Thanks for opening an issue!

I'm going to update the naming conventions shortly but yes the current naming conventions apply in cases where it makes sense to have multiple distinct state subclasses. There are cases where it makes more sense to have a single concrete state class with a status enum as illustrated by some of the examples 👍

[2021-11-11 02:33] hu70258tao opened #2936 "fix: 通过context获取到的Bloc不能触发事件"
描述：
  第一步：使用MultiBlocProvider创建了Bloc
[code]
如果使用context.read<LiantiaoBloc>();的方式获取到_bloc,Dialog关闭后，再次弹出Dialog时就不能再触发Bloc的事件了.假如使用SubmitButton类里的属性_bloc,每次弹窗关窗，都能触发事件。

[2021-11-11 02:36] hu70258tao commented on #2936
bloc代码
···
class LiantiaoData {
  final String kaidu;
  final String shuiwei;
  final String liuliang;
  const LiantiaoData({required this.kaidu, required this.shuiwei, required this.liuliang});
}

class LiantiaoState {
  final bool hasValue;
  final LiantiaoData left;
  final LiantiaoData right;
  final LiantiaoData jiezhizha;
  const LiantiaoState({required this.left, required this.right, requir

[2021-11-11 02:48] hu70258tao commented on #2936
主要在这段代码里。继续使用BlocProvider来提供liantiaoBloc
[code]

[2021-11-11 03:00] marcqtan commented on #2744
@felangel

Hello Thanks for this. I've tried your suggestion but seems like i cannot access properties of the states?:

**Mystate:**

<img width="513" alt="Screen Shot 2021-11-11 at 10 58 17 AM" src="https://user-images.githubusercontent.com/66229352/141229554-9a5503a2-c806-49db-b5d3-661e635ceaa2.png">

**MyCubit:**
<img width="558" alt="Screen Shot 2021-11-11 at 10 57 56 AM" src="https://user-ima

[2021-11-11 03:14] AscentionOne opened #2937 "[Question] How to implement/migrate StreamSubscription in Bloc >=7.2.0?"
Hi @felangel, when I was migrating the code to v7.2.0 and looking at the Bloc documentation [Example](https://bloclibrary.dev/#/fluttertodostutorial?id=bloc-2). I have a question is how to properly migrate the code with `StreamSubscription` that listens to another bloc? Like in the example code of `Todos App`. The `StatsBloc` is lisenting to `TodosBloc`.

As the [article](https://verygood.ventures

[2021-11-11 05:59] AscentionOne commented on #2784
Hi @felangel, I like the side note you mentioned, all states maintained by the bloc should be part of the bloc state. However, I had a bloc that is to fetch a list of data from API and work with pagination. Where is a good place to add the list together or increment the page number? I am currently doing this in the bloc and returning the result. Like the first part is doing. Thank you!
[code]

[2021-11-11 06:38] octokim commented on #2744
@marcqtan because state is a getter, it returns value that is not final. You can do something like this:
[code]
As far as I understand, @felangel is talking about defining full state in a base state class. But, if so, there are no reasons to have more than one state for each bloc/cubit and handling of this state becames very difficult.

[2021-11-11 07:15] eliudio opened #2938 "pushNamed and new state"
Hi

I have a situation where I have an event in my bloc which requires:

1) a new state to be set / yielded from the bloc
2) a new page to be pushed through navigation (https://api.flutter.dev/flutter/widgets/Navigator/pushNamed.html)

Today I push the new page then yield the new state. The result is that the new page is opened with the old state then gets a new state. I want these 2 steps combine

[2021-11-11 07:32] narcodico commented on #2938
Hi @eliudio 👋

You can add the event, yield the new state and then use a `BlocListener` to check for that state and `pushNamed` your route.

[2021-11-11 16:05] Gene-Dana commented on #2936
Instead of this

[code]

I believe you should do this

[code]

[2021-11-11 16:22] Gene-Dana commented on #2413
Closing this as it's handled by #2589

[2021-11-11 16:22] #2413 closed

[2021-11-11 18:36] felangel commented on #2936
Hi @hu70258tao 👋
Thanks for opening an issue!

BlocProvider will automatically close the bloc when it is unmounted so in this case when you do

[code]

Then the liantiaoBloc instance will be closed when LiantiaoView is unmounted. Instead, you should use BlocProvider.value to re-provide an existing bloc to a new context. BlocProvider.value will not automatically close the bloc.

[code]

Hope that h

[2021-11-12 07:35] hu70258tao commented on #2936
my english is bad，tanks very much,it works

[2021-11-12 07:38] hu70258tao commented on #2936
应该使用BlocProvider.value来提供一个已存在的bloc，使用BlocProvider((context)=>bloc)来提供一个已存在的bloc,会导致该bloc被此处的BlocProvider关闭。

[2021-11-12 07:38] #2936 closed

[2021-11-12 13:00] Gene-Dana commented on #2938
hi ! Just for clarity, it looks something like this !
[code]

[2021-11-12 14:38] eliudio commented on #2938
Thanks

I'm struggling a bit with this. I have implemented this as suggested. However, I seem to have repeated calls to the listener.

For simplifying the explain, let's say I have :

1. a MaterialApp with onGenerateRoute referring to myOnRouteGenerate
2. myOnRouteGenerate retrieves uses the arguments from the RouteSettings to return a Page widget
3. a Bloc which evaluates a "GotoPageEvent" and yi

[2021-11-12 15:31] ash0080 commented on #2937
1. moving the data to the domain layer and "listening in" from blocs above ...
2. putting bloc listeners higher in the widget tree and adding events to other blocs when another bloc's state changes...

Sorry, I don't quite understand the first solution, can you provide an example?
For the second one, it's better to understand, but wouldn't this put part of the business logic into the widget? I'm c

[2021-11-12 15:47] marcossevilla commented on #2937
@AscentionOne you can check the login example on the v8 branch [here](https://github.com/felangel/bloc/blob/a08e2380936171021dcf85def952081907c825b9/examples/flutter_login/lib/authentication/bloc/authentication_bloc.dart#L21).

[2021-11-12 16:36] heshaShawky commented on #2633
I hope if there's a way to run the bloc logic in isolate instead of recreating the whole thing again in isolated function

[2021-11-12 21:08] eliudio commented on #2938
I've noticed that steps 3, 4 and 5 are triggered for all pages in the history.

A. Upon opening the app, the listener is triggered and a first pushNamed is run
B. Pressing next page, the listener is run for page where pagestate = page 1, the pushNamed is run and the listener is called ones again for page where pagestate = page 2
C. Pressing next page, the same repeats but now for page 1, page 2 an

[2021-11-13 10:31] eliudio commented on #2938
Hi,

to illustrate the issue in code form, as well as document the pattern, I've created this github repo: https://github.com/eliudio/bloc_nav

Put a breakpoint line 157 in main.dart. Debug the app. Press the '+' button a few times. You will see
- the first time you press '+' button, the breakpoint is hit twice.
- the second time you press '+' button, the breakpoint is hit 4 times.
- the third tim

[2021-11-13 20:20] eliudio commented on #2938
Right... In my quest to try and learn from examples how to do this, I stumbled upon :

https://github.com/felangel/bloc/issues/2938

I've taken that example but rather than have "pop" I've implemented the Go to Page B. So we can simulate how a complex application could work with navigation implemented in this way. Basically you want to be able to navigate from page to page to page to page.  The re

[2021-11-13 20:22] eliudio commented on #2938
This doesn't seem to be bullet proof if I may say so. I've tried this for a more complex application where we would be navigating through various pages. It seems that navigating to various pages, there's something going wrong. I've adjusted the sample code slightly to illustrate this, and commented about it here: https://github.com/felangel/bloc/issues/2938

[2021-11-14 23:22] felangel commented on #2933
Closing for now since there are no actionable next steps but feel free to comment with additional comments/feedback and I'm happy to continue the conversation 👍

[2021-11-14 23:22] #2933 closed

[2021-11-16 00:31] AscentionOne commented on #2937
@marcossevilla Cool, thanks for the sharing. I will take a look. 😁

[2021-11-16 00:31] #2937 closed

[2021-11-16 06:17] hyj1204 opened #2951 "docs(flutter_counter): translate to zh-cn"
**Description**

I found there is no Chinese translation of the tutorial part.

I am wondering if anyone is already working on it?

Please let me know how is the current status of the Chinese translation and I am willing to help.

[2021-11-16 06:22] felangel commented on #2951
Hi @hyj1204 👋
Thanks for opening an issue!

Which tutorial are you referring to? No one is actively working on any Chinese translations as far as I know so if you are willing/able to contribute that would be amazing!

You should be able to follow the [contributing instructions](https://github.com/felangel/bloc/blob/master/CONTRIBUTING.md#contributing-to-documentation) to get started.

Feel free to

[2021-11-16 12:53] hamzablx195 opened #2952 "feat: Flutter Web Support for HydratedBloc linked into localStorage."
#flutter_web #hydrated_bloc
Extending a Mobile product into a Web product using Flutter Web. Ideally I'd like my HydratedBloc storage to be directly linked with my localStorage module. There should be an override for the the following command for the web scenario.

`HydratedBloc.storage = await HydratedStorage.build(
      storageDirectory: await getTemporaryDirectory(),
    );`

If there is a sol

[2021-11-16 13:30] felangel commented on #2952
Hi @hamzablx195 👋
Thanks for opening an issue!

This is currently supported:
[code]

Closing for now but feel free to comment with any follow-up questions and I’m happy to continue the conversation 👍

[2021-11-16 13:30] #2952 closed

[2021-11-16 14:27] LeonidArefev opened #2953 "Incoming events are blocked while listening a WebSocket stream"
**Description**
I'm working with Websockets now. I need to get events while websocket connection is not closed. But if i use `.map()` it will block all incoming evets for Bloc

[code]
`retStream` - will be active until websocket connection is alive.
This stream will block all incoming events for Bloc until websocket connection will be closed. So i can not click on any buttons to send request to se

[2021-11-16 15:06] eliudio commented on #2938
Also see https://gist.github.com/felangel/6bcd4be10c046ceb33eecfeb380135dd#gistcomment-3961544

[2021-11-16 20:16] hyj1204 commented on #2951
Hi @felangel,

Since I am new to contributing to open source, I would love to start from the first tutorial in Flutter **Counter**, then make a PR for it.  After it, I move to the next **Timer**  until finish all the tutorials are in the Flutter category. What do you think about it?

Looking for your feedback. Thanks.

- Tutorials
  - Flutter
    - [X] Counter -> Yijing
    - [ ] Timer
    - [ ] I

[2021-11-16 20:25] felangel commented on #2951
@hyj1204 that sounds great to me! We can make this issue specifically for the counter and when you're done if you'd like to work on another we can create a new issue 👍

[2021-11-17 04:21] tawasoli369 commented on #2118
Hello, do you have any training for controlling PageView and footnotes by Bloc Pattern Design?

[2021-11-17 04:33] tawasoli369 opened #2956 "Control PageView With Bloc State-Management in Flutter"
**Hi, in this project I wanted to control a PageView, three buttons and dots at the bottom of the page by State-Management (Bloc) but I could not control it. If anyone can help me, thank you.**

**UI**
In this part, I designed the program UI, which includes a PageView widget, three buttons: one for the next PageView page / one to jump to the last page of the PageView page and the other button to g

[2021-11-17 12:58] ron-brosh commented on #2133
@felangel Thanks for the answer, and @AyadLaouissi for the question!

I have a question on the same subject but slightly different.

I like to use mocked models in my tests to keep the tests robust and "correct".
For example if I test a use case that returns a list of items I don't want to test for every optional outcome list e.g. empty list, one item in a list, 100 items in a list, etc..
Instead

[2021-11-18 00:16] hamzablx195 commented on #2952
Yep, found this after some manual searching :p

Thank you so much for your timely response! Much Appreciated! 🙌

[2021-11-18 00:38] AscentionOne commented on #2784
Hi, @felangel I know it's been a while. Any thought on this? About where is the good place to maintain internal state or apply manipulation of the data? https://github.com/felangel/bloc/issues/2784#issuecomment-963549466

Thanks!

[2021-11-18 00:42] felangel commented on #2784
Can you give a concrete example? Thanks!

[2021-11-18 01:02] AscentionOne commented on #2784
Hi, @felangel here is an example of my project. I am fetching the mail data from server and manipulating the page number inside the bloc. I return the mail list through `success state`. However, I also need the pagination information to show the according page number and number of the mail.

I am accessing the pagination information by using `context.watch<TrashBloc>().startMailNumber` and `contex

[2021-11-18 07:35] savadmv opened #2961 "emit was called after an event handler completed normally."
### Code in Bloc class

[code]
### This is the log

[2021-11-18 08:30] Devlonoah commented on #2956
@tawasoli369 wrapping your call to bloc doesn't have to be in setState,
and you didn't specify the bloc type you are making reference to.

--❌---
[code]

--✅--
`context.read<IntroBloc>().add(ClickedNextButtonEvent());`

you can even construct your Events to pass  your current index/page index to the bloc:
`context.read<IntroBloc>().add(ClickedNextButtonEvent(_currentIndex));`

I would suggest that

[2021-11-18 12:37] jeroen-meijer commented on #2961
Thanks for submitting an issue!

I might be wrong here, so @felangel, feel free to correct me where applicable.

Because of the new API, bloc needs to know when an event handler performs async operations, and when these have completed. However, because the `phoneNumberValidate.fold` call is not `await`ed, the event handler completes _before_ the `emit(OtpLogin(...))` call happens.

You can try to

[2021-11-18 12:44] jeroen-meijer commented on #2951
Thanks a lot for the effort @hyj1204!

Just a small heads-up; both the regular Flutter Todos example and the Firebase version are currently being remade, so I would recommend to wait with translating documentation for the time being while we finish up the code and new documentation. The PR in question can be found here: #2859

We'll keep this thread up to date, and tell you when the example is upd

[2021-11-18 12:49] jeroen-meijer commented on #2759
@Gene-Dana Thanks for the feedback! I agree this is one are of the documentation we want to significantly improve.

My apologies, but I'm unclear on the last part. Could you explain in more detail what you mean by _the design from concept to completion_? 🤔

[2021-11-18 15:38] savadmv commented on #2961
Can't do
[code]
because that's not an async method

[code]

Here is how the validator looks like

[code]

[2021-11-18 17:17] github-actions[bot] opened #2971 "[Translations] Update docs"
Update Translations to include changes from 672e15ab19120670c6a7041867d0839ab82e0e50.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-18 17:45] felangel commented on #2961
@savadmv I believe you need to adjust the callbacks in fold to be async:

[code]

Hope that helps 👍

[2021-11-18 18:32] hyj1204 commented on #2951
@jeroen-meijer
Thanks for letting me know. I just finished the first Counter example and gonna wait until the new version released.

[2021-11-19 02:27] github-actions[bot] opened #2975 "[Translations] Update docs"
Update Translations to include changes from 598d02231e2d94fe075d1fc7396044c84b81be59.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-19 02:49] github-actions[bot] opened #2977 "[Translations] Update docs"
Update Translations to include changes from ee1f45d5fd936600b240f532932365b338286b59.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-19 02:58] github-actions[bot] opened #2978 "[Translations] Update docs"
Update Translations to include changes from 72a9185b8740b7a8dee1099641955b39fd3d7072.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-19 03:47] savadmv commented on #2961
That does the trick. Thank you so much

[2021-11-19 03:47] #2961 closed

[2021-11-19 03:48] felangel commented on #2951
Closing this since #2972 has been merged and deployed 🎉

[2021-11-19 03:48] #2951 closed

[2021-11-19 04:27] github-actions[bot] opened #2979 "[Translations] Update docs"
Update Translations to include changes from baeec5f6474c640260fedb2acb6256777482147f.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-19 11:18] DenisBogatirov opened #2980 "question: StateError"
**Description**
In 8.0.0 if bloc is closed both `emit` and `add` throws `StateError`. In Merge Request is mentioned [2261](https://github.com/felangel/bloc/issues/2261) which refers to [1236](https://github.com/felangel/bloc/issues/1236) and [2912](https://github.com/felangel/bloc/pull/2912). I'm on the side of last two, because most happening case is `Future` resolved after bloc is closed.

For e

[2021-11-19 12:26] Gene-Dana commented on #2938
May you share with us the repo of your example?

[2021-11-19 12:51] pr0gramista opened #2981 "feat: Add @visibleForTesting"
**Description**
I don't use `blocTest` much so I often emit state as the first step in my tests. Previously that wasn't an issue but since bloc 8.0.0 has new annotations that limit the scope the analyzer is not happy.

It is not like `blocTest` is doing anything better in that regard. It's just that the ignore line for analyzer is in single place: https://github.com/felangel/bloc/blob/774d1c1733ac

[2021-11-19 13:03] felangel commented on #2980
Hi @DenisBogatirov 👋
Thanks for opening an issue!

Can you please provide a minimal reproduction sample that illustrates the scenario you are describing? Thanks!

[2021-11-19 13:04] felangel commented on #2981
Hi @pr0gramista 👋
Thanks for opening an issue!

Is there any particular reason why you prefer not to use bloc_test? Thanks!

[2021-11-19 13:23] eliudio commented on #2938
Yes, I shared it earlier: https://github.com/eliudio/bloc_nav

[2021-11-19 14:43] eimantas1998 commented on #2981
Is it correct behaviour to use act: bloc.emit(), while using bloc tests? If not what would be a correct way to do this?
Example:
[code]
Since after upgrading to bloc 8.0.0 emit shows (The member 'emit' can only be used within its package.) lint warning.

[2021-11-19 14:53] narcodico commented on #2981
Hi @eimantas1998 👋

Proper way to seed a specific state is by using the `seed` property:

[code]

[2021-11-19 15:34] pr0gramista commented on #2981
Hey, I think the main reason is the added complexity of the tests. I want my tests to be dead simple and while blocTest gives a nice skeleton for the tests I wouldn't call it easy to understand, especially for newcomers who just started to learn about async/Streams.

Expect clause is a good example.

Often I want to check a single property of the state. While it is possible to do that with `having

[2021-11-19 15:37] DenisBogatirov commented on #2980
Hi, @felangel here is example code:

App starts with home screen, user navigates to other screen and navigates back with app bar icon before! future is resolved.

home_screen.dart
[code]

other_screen.dart
[code]

other_cubit.dart
[code]

[2021-11-19 16:12] felangel commented on #2981
@pr0gramista I reverted the change to annotate `emit` as `internal` and kept it as `visibleForTesting`. Can you please verify that the changes in #2982 will address the issues you're facing?

[2021-11-19 17:35] #2981 closed

[2021-11-19 19:36] #2935 closed

[2021-11-19 19:37] github-actions[bot] opened #2988 "[Translations] Update docs"
Update Translations to include changes from 9cd855e28ed26b01b8a6aa288b25605a290aebc2.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-19 19:45] github-actions[bot] opened #2989 "[Translations] Update docs"
Update Translations to include changes from 71e5b7d68acf66dc67db33c798da74342355e7f0.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-11-20 11:02] NayYairLinn933 opened #2992 "i'm having some trouble with streams...how would I migrate something that looks like this?"
i'm having some trouble with streams...how would I migrate something that looks like this?

[code]

where the watchAll() is of type `Stream<Either<QuestionFailure, KtList<Question>>>` and listens to any changes in firebase?

_Originally posted by @claudiaaw in https://github.com/felangel/bloc/issues/2526#issuecomment-962604050_

[2021-11-20 19:49] pandora-house commented on #1819
Hello, every one! Is that right to create several blocs in the beginning of widget tree using multiproviders? For example, i have 10 blocs and i want put them all in one place. Seems to me it is not good idea.

[2021-11-21 03:50] meowofficial commented on #1819
@pandora-house I believe dependency injection in presentation layer is bad practice. I use service locator `get_it` for registering all dependencies. Blocs and cubits registration / unregistration I extract to injection container methods which I call from initState / dispose of according widget (for blocs holding local state) or AppWidget (for blocs holding global state). I do it this way because

[2021-11-21 05:34] leech001 commented on #2526
@felangel reminder of your [promise](https://github.com/felangel/bloc/issues/2526#issuecomment-924138949) to remove the protected ( @visibleForTesting) decorator.
There is still an annotation in the version 8.0.1
Thank you very much in advance, it is a bit of a nuisance when working with Freezed.

[2021-11-21 08:11] alexaung opened #2993 "Unhandled Exception: Bad state occured after upgrade to v8.0.0"
**Description**
Unhandled Exception: Bad state: add(GetMonksEvent) was called without a registered event handler.
E/flutter (10526): Make sure to register a handler via on<GetMonksEvent>((event, emit) {...})

Upgrade from v7.3.3 to 8.0.0

**Steps To Reproduce**
`void main() async {
  WidgetsFlutterBinding.ensureInitialized();
  await Preferences.init();
  await setupServiceLocator();
  await Flutt

[2021-11-21 09:43] alexaung commented on #2993
After I read the documentation, then I know that  I need to migrate mapEventToState to on<Event>. After that I don't get an error but state is not trigger. Here is my code. Is there anything I miss out?

    `class MonkBloc extends Bloc<MonkEvent, MonkState> {
          final MonkRespository monkRespository;
          late List<Monk> monks;

         MonkBloc({required this.monkRespository}) : sup

[2021-11-21 11:00] PlugFox opened #2994 "refactor: аdding interfaces"
Why does the entire **architectural** library still lack a interfaces?
Whats about `Dependency inversion principle` and `interface segregation principle`?

Why `BlocBuilder` depends on `BlocBase` and not on `IStateObservable` something like this:
[code]
`BlocBuilder`, `BlocListener`, `BlocProvider`, `BlocConsumer` really needs `addError`, `emit`, `onChange`, `onError` and others methods and callba

[2021-11-21 11:16] PlugFox opened #2995 "refactor: stop losing the original stack trace from dart 2.16"
You must stop losing the original stack trace like this:

https://github.com/felangel/bloc/blob/a3a9b2dba6546480d4ea26931ed024f274b9a7a9/examples/flutter_firebase_login/packages/authentication_repository/lib/src/authentication_repository.dart#L206-L210

from dart 2.16 you must use [Error.throwWithStackTrace](https://api.dart.dev/dev/2.16.0-35.0.dev/dart-core/Error/throwWithStackTrace.html) like th

[2021-11-21 13:13] ngtrongha commented on #2993
`abstract class CounterEvent {}
class Increment extends CounterEvent {}
class Decrement extends CounterEvent {}

class CounterBloc extends Bloc<CounterEvent, int> {
  CounterBloc() : super(0) {
    on<Increment>(_onIncrement);
    on<Decrement>(_onDecrement);
  }

  void _onIncrement(Increment event, Emitter<int> emit) {
    emit(state + 1);
  }

  void _onDecrement(Decrement event, Emitter<int> e

[2021-11-21 13:29] alexaung commented on #2993
@ngtrongha I think I did same thing and follow the link that you share. My question is that what I am missing?

[2021-11-21 13:43] ngtrongha commented on #2993
Steam => void
Yield => emit(state)

See code change bro. I tried it and it works fine

[2021-11-21 14:01] alexaung commented on #2993
@ngtrongha here is working code. Thanks for reply.

class MonkBloc extends Bloc<MonkEvent, MonkState> {
  final MonkRespository monkRespository;
  late List<Monk> monks;

  MonkBloc({required this.monkRespository}) : super(MonkInitial()) {
    on<GetMonksEvent>((event, emit) async {
      await _getMonks(emit);
    });
    on<MonkSearchEvent>((event, emit) async {
      await _searchMonks(event.qu

[2021-11-21 14:14] #2993 closed

[2021-11-21 15:36] felangel commented on #2994
Hi @PlugFox 👋
Thanks for opening an issue!

Can you provide more context? I don’t understand what you’re trying to achieve. In Dart all classes are interfaces so I’m not sure what the benefit would be of defining a bunch of additional C style interfaces. See https://dart.dev/guides/language/language-tour#implicit-interfaces.

[2021-11-21 16:36] felangel commented on #2953
Hi @LeonidArefev 👋
Thanks for opening an issue and sorry for the delayed response!

If you're using `bloc >= 7.2.0` then you can refactor your code to:

[code]

Hope that helps 👍

[2021-11-21 16:39] felangel commented on #2992
Hi @NayYairLinn933 👋
Thanks for opening an issue!

It could look something like:

[code]

Hope that helps 👍

[2021-11-21 16:58] felangel commented on #2995
Hi @PlugFox 👋
Thanks for opening an issue!

I agree we should improve the examples to preserve the stackTraces but I don't think we should use Dart 2.16 APIs in the examples because they are meant to run on the Flutter stable channel.

I'd prefer to use:

[code]

This way you can handle specific exceptions explicitly, but you also don't miss generic exceptions that you didn't except. Let me know w

[2021-11-21 17:00] PlugFox commented on #2995
@felangel yes, not right now, i meaning when it arrived in stable channel

[2021-11-21 17:50] purplenoodlesoop commented on #2994
I would hop in with this issue because I very much agree with most of the points that @PlugFox stated in his original message.

@PlugFox can correct me if I distort their message by accident, but I think that we are mostly talking about two techniques and principles from the SOLID acronym, letters I and D. Currently, those principles are not followed, there are no use-case-specific interfaces and

[2021-11-21 19:00] narcodico commented on #2994
I agree that a high level concept like `BlocBuilder` should not have access to low level implementations.

[2021-11-21 19:09] narcodico commented on #2995
I'm sure the examples were meant to showcase a minimal approach to error handling, a subjective topic. I for example prefer to pass the original stack trace as part of my custom exception class; that way when logged with tools like crashlytics you can have access to both the in-app stack trace as well as the original stack trace.

[2021-11-21 19:17] PlugFox commented on #2995
@narcodico yeah, wrapper for original exception is good.

Now this is due to a dart design error.
And with very old issue https://github.com/dart-lang/sdk/issues/10297 since 2013.

Also, if you use [dart code metric](https://pub.dev/packages/dart_code_metrics) for additional useful rules, you would like my issue, which was taken to work https://github.com/dart-code-checker/dart-code-metrics/issues

[2021-11-21 19:27] narcodico commented on #2995
That would work for certain situations. I prefer to throw custom exceptions since by definition an error implies something unexpected while when catching something we expect we're dealing with exceptions rather than errors.

[2021-11-21 21:05] felangel commented on #2994
Hi @purplenoodlesoop thanks for the positive feedback and for providing additional context!

I agree with this except there is one small detail missing:

`BlocBuilder` needs the ability to lookup the bloc (or some "subject") via `BuildContext`. is a bloc is not explicitly specified. This means that `BlocBuilder` must reference the same type `T` as that which is provided to `BlocProvider` -- curren

[2021-11-21 21:12] PlugFox commented on #2994
You can just rename BlocBase to IStateObservable (with state and stream getters), that's all.
Everything will continue to work as usual.

[2021-11-21 21:13] felangel commented on #2994
Sorry if I misunderstood but how would renaming the class address the concerns you mentioned above?

[2021-11-21 21:14] felangel commented on #2994
Then you would no longer be able to do `BlocProvider.of<T>(context).add(...)` for example.

[2021-11-21 21:16] PlugFox commented on #2994
BlocProvider depends on BlocBase now.
BlocBase has not `add` method.

How it works now?)
Elementary. You pass right type into generic.

[2021-11-21 21:18] felangel commented on #2994
What I mean is currently the signatures look like:

[code]

To clarify, you're suggesting to change to:

[code]

Is that correct?

If so, that's a breaking change and the internal implementation of `BlocBuilder` would still have to know about `BlocBase` to perform the lookup via `BuildContext`.

[2021-11-21 21:21] PlugFox commented on #2994
[code]

I think BlocProvider must be with IStateObserver too.
This is not breaking change.

If you want, i can create pull request with interfaces without changing tests.

[2021-11-21 21:21] felangel commented on #2994
If `BlocProvider` would change as well then how would the lookup work?

Sure, that'd be great, thanks!

[2021-11-21 21:24] PlugFox commented on #2994
No worry, just wait maybe few weeks)
As soon as I finish with my presentation at the meetup, I will do this refactoring)

[2021-11-21 21:25] felangel commented on #2994
Sounds good, I'll play around with it in the meantime as well 👍
Good luck with the meetup presentation! 💯

[2021-11-22 05:02] felangel commented on #2956
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-11-22 05:02] #2956 closed

[2021-11-22 10:36] wujek-srujek opened #2996 "chore: Sync bloc_test versions with the bloc and flutter_bloc?"
Would it make sense syncing major versions of the libs? I keep making the same mistake over and over: add bloc ^8.0.0, flutter_bloc ^8.0.0, and bloc_test ^8.0.0 just to get a pub error, due to incompatibilities in transitive deps. Then I look around and it turns out I need bloc_test ^9.0.0.

As far as I can see, except for the non-1.x.x versions (reply_bloc, bloc_concurrency), all the others are 8

[2021-11-22 12:57] LeonidArefev commented on #2953
Hi @felangel
Thanks for explanation. I'm little bit outdated about latest features in BLoC v8.+
Problem now solved.
But here is only request.
[code]
Variable `usersStream` have type `Stream<SpeakerListState>` but i need to use ` as SpeakerListState`
Curently i upgrate `flutter_bloc` to version 7.3.3. May be this is not a problem in version 8.+. I can't do this for whole project quickly.

But probl

[2021-11-22 12:57] #2953 closed

[2021-11-22 15:22] felangel commented on #2953
Glad it's working now! Regarding the casting you should be able to specify the type instead like:

[code]

[2021-11-22 15:29] felangel commented on #2996
Hi @wujek-srujek 👋
Thanks for opening an issue and sorry for the inconvenience!

We can try to keep the versions synced but I worry it'll result in unnecessary revving of versions. For example, if there is a breaking change in just bloc_test we would need to treat all packages as having a breaking change even if that isn't the case. I was hoping instead to just maintain and version the packages in

[2021-11-22 16:40] yeikel16 opened #2999 "fix: test timed out after 30 seconds"
Hello, I am contributing with @marcossevilla  and @elianmortega in the update of the new bloc API in [this open source repository](https://github.com/NoScopeDevs/bloc_samples) in example `preference_navigation`, but when updating the dependencies, two tests fail because time is running out.

**Steps To Reproduce**

1. I update the dependencies in the pubspec.yaml
[code]

2. Remove all the `registe

[2021-11-22 16:50] felangel commented on #2999
Hi @yeikel16 👋
Thanks for opening an issue!

Can you specify which test is timing out in the example? Thanks!

[2021-11-22 16:56] yeikel16 commented on #2999
Is in the example `preference_navigation` specifically in the `PreferenceAdded` test group https://github.com/NoScopeDevs/bloc_samples/blob/af4095a8cf2ec824da5c3c649a6a394126793c58/examples/preference_navigation/test/preferences/bloc/preferences_bloc_test.dart#L20

[2021-11-23 08:08] eliudio commented on #2938
@Gene-Dana, any luck?

[2021-11-23 11:01] pandora-house commented on #1819
@meowofficial like alternative to get_it is RepositoryProvider acceptable to use?

[2021-11-23 11:28] meowofficial commented on #1819
@pandora-house I don't know because I didn't use Provider as main dependency injection tool. I know that author of provider introduced new package [riverpod](https://pub.dev/packages/riverpod) as better alternative to Provider.

[2021-11-23 23:51] Yirmeyah-d commented on #2784
Hello

I'm trying to understand this new version of bloc.
Here my bloc class :
[code]

For some reason that i don't understand i get an error but only for the event GetTriviaForConcreteNumber, for the other event it pass well.

Here the error :

[code]

[2021-11-24 00:18] Yirmeyah-d commented on #2784
I finally solve the error, i just had to  await for the first fold.

[code]

[2021-11-24 02:05] aaassseee opened #3002 "fix: [bloc_test] missing implementation on HydratedBlocOverrides.runZoned with testBloc"
**Description**
Using HydratedBlocOverrides.runZoned with testBloc has no effect

**Steps To Reproduce**

1. wrap testBloc with HydratedBlocOverrides.runZoned
2. add HydratedBlocOverrides.current line between runZoned and testBloc
3. HydratedBlocOverrides.current will return null

**Expected Behavior**
HydratedBlocOverrides.runZoned will affect on test

[2021-11-24 02:20] felangel commented on #3002
Hi @aaassseee 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? Thanks!

[2021-11-24 20:50] fauzanpahlawan opened #3003 "Adding duration to bloc_concurrency."
[code]

Is there a better way to add duration to bloc_concurrency? I'm using `restartable()` to debounce event added through `onChanged` from a TextField, so it will only handle the last event added (when the user stop typing).

Thank you.

[2021-11-25 02:27] marcossevilla commented on #3003
hey @fauzanpahlawan! You can create a custom `debounce` EventTransformer like this:
[code]
And then use it as you were using `restartable`.

Closing for now but feel free to continue the conversation. 👍

[2021-11-25 02:27] #3003 closed

[2021-11-25 02:38] aaassseee commented on #3002
Sure, here comes a long piece of code
[code]

Just copy, paste and run then you will find the test are having two problems. First, expect is different than actual, actual always output an empty array. Second, you will see an error fell into the try catch block which is
[code]
Am I doing something wrong in this test?
Moreover I am using
bloc_test: ^9.0.1
hydrated_bloc: ^8.0.0
flutter_bloc: ^8.0.0
b

[2021-11-25 02:54] yeikel16 commented on #3002
You need to create a `Mock` of the `Storage` class, and that is the one you are going to inject in your `runZoned` in the `storage` parameter. You can look at this [example ](url)if you want to guide yourself.
[code]

[2021-11-25 03:33] InTheClodus opened #3004 "fix: The method of judging the state can only be executed once"
My idea is that every party uploads a new picture, it will change the state in the state, but if the name passed is the same,  if(state is OilCardUploadsSuccess) it will not be executed.

This is my code
[code]
If no judgment is made, the promotion will fail
[code]

[2021-11-25 04:11] aaassseee commented on #3002
@yeikel16 Thanks for your reply however it still throwing error with you approach with testBloc. I think the problem maybe inside the testBloc method. You may copy and run the test, if you can.

[2021-11-25 04:22] aaassseee commented on #3004
Didn't you need to final the state first?
[code]

[2021-11-25 05:16] yeikel16 commented on #3002
yes, it seems you are taking the wrong approach to save your values locally, hydrated_bloc should be used to save application states as stated in the official documentation. You are also not using the `when` methods to return false data when creating the test.

I recommend that you use a repository instead of the `StorageCubit` so you can have a better change and way of creating your tests in the

[2021-11-25 05:38] InTheClodus commented on #3004
Thank you for the method, it really works

[2021-11-25 05:38] #3004 closed

[2021-11-25 06:44] aaassseee commented on #3002
First issue has been fixed. Sorry I used private method emits instead of emit, However the second issue still hasn't been resolved yet.
Here is the new piece of code
[code]

[2021-11-25 07:05] aaassseee commented on #3002
@yeikel16 Sure it does workaround the problem. However, in real production application, there are lots of complex logics within the storage. So I decided to use hydrated cubit because of those reasons. Apart from those reason, I think the test still needs to be pass whatever the developer store. Apparently this is a bug. The test run passed when bloc was 7.3.3. Any thoughts @felangel ?

[2021-11-25 14:27] aoatmon opened #3005 "[question] how to test a bloc listener"
### use case

I would like to structure my tests in a way that allow me to
- test `listeners` on cubit change
- rely on underlying provider for dependency injections in listeners and cubit
- test general context changes on cubit change (example navigation)

### issue
afaik the typical implementation for this is a full blown widget test
which may be undesirable when we don't actually need to test t

[2021-11-25 14:35] aoatmon commented on #3005
sorry for the wrong label :/

[2021-11-25 14:39] dtvtkien opened #3006 "[Question] How could I get event which triggered the method #onError(error, stackTrace)?"
I have several use cases in my project which could throw my custom exception. Each use case is presented as an Event in a specific Bloc. I need to find which event throw exceptions.
So far I'm using `#onEvent(event)` to store the current event and `#onError(error, stackTrace)` to catch the exception.
But when I migrate to Bloc v8.0.1 (which I find useful to make some events concurrently and repeat

[2021-11-25 15:14] felangel commented on #3006
Hi @dtvtkien 👋
Thanks for opening an issue!

Are you able to provide a minimal reproduction sample to illustrate the specific use case you have? I’m happy to take a closer look. Thanks!

[2021-11-25 20:59] felangel commented on #3002
Hi @aaassseee 👋
Thanks for opening an issue!

The reason this doesn't work is because your `ExampleStorageCubit` is not created within the `HydratedBlocOverrides` zone. I recommend the following:

[code]

Hope that helps 👍

[2021-11-25 21:14] felangel commented on #2999
Hi @yeikel16 👋
Sorry for the delay! I opened a [pull request](https://github.com/yeikel16/bloc_samples/pull/3) with the updates. The reason the test was timing out is because verify was being used incorrectly and unnecessarily in the bloc tests. I'll push a fix to bloc_test to make this more obvious 👍

Hope that helps!

[2021-11-25 21:17] felangel commented on #3005
Hi @aoatmon 👋
Thanks for opening an issue!

I'm not sure I understand what you're trying to achieve. If you want to test your widget code (including providing blocs/cubits) then I highly recommend you use a widget test. If you want to test your blocs/cubits alone then I highly recommend you use `bloc_test`.

I recommend taking a look at the [counter example](https://github.com/felangel/bloc/tree/m

[2021-11-25 23:35] yeikel16 commented on #2999
Thank you very much for your time, if it was the `verify`🙂

[2021-11-25 23:35] #2999 closed

[2021-11-26 00:28] felangel commented on #2992
Closing for now but feel free to comment with additional questions and I’m happy to continue the conversation 👍

[2021-11-26 00:28] #2992 closed

[2021-11-26 03:13] marcqtan opened #3007 "[Question] About bloc state management"
Hello @felangel, I am using bloc to create a Login Page and Home Page. I want to access and show the email of the user after logging in, in a different page (e.g Home Page or any other page).

If i want to access the email variable in other Pages is it correct to put it under State Class? Is my structure below correct? :

 Here's the LoginState:

[code]

Here's my cubit, I am emitting the state in

[2021-11-26 04:01] aaassseee commented on #3002
@felangel Thanks for the help. The problem actually solved. Once again, thanks the time and effort that you put into this package.

[2021-11-26 04:01] #3002 closed

[2021-11-26 04:18] dtvtkien commented on #3006
Thanks for your fast response @felangel!

Unfortunately, I'm in my vacation so I'm not able to create a sample.

My use case is: After I got the mushroom species from the identifier engine, I'd like to `concurrently` call Wikipedia API (to fetch summary information) and Take Care API (to fetch watering/harvesting/pruning, etc of this mushroom). I used 2 separate events to handle them.

The issue i

[2021-11-26 07:24] aoatmon commented on #3005
hi @felangel
I'm not trying to test a widget, but to
- verify the interaction between cubit and listeners
- verify that a listener interact with context (example providers `context.read<Foo>()`)
my current *not working* [solution](https://github.com/aoatmon/context_bloc_test) uses `testWidgets`

[code]

but it fails to find widget in the context
(I'm aware the logs point more at a [provider](https

[2021-11-26 15:42] vadrian89 opened #3008 "[Question] Issue with multiple tabs, the same api and different filters"
Hello Felix,
Sorry for bothering you with a question using the issues system, but this is bugging me for a while and I am not sure how to deal with it.

For example, I am working on an app which has multiple tabs, which call the same api with different filters.

To avoid building 6 Cubits just for just for a filter change, I've decided to use 1 cubit for all lists.
The problem is when they emit, s

[2021-11-26 15:50] marcossevilla commented on #3008
hi @vadrian89! you can also use [`Future.wait`](https://api.dart.dev/stable/2.14.4/dart-async/Future/wait.html) to await all your futures at once.

Let me know if that helps. 👍

[2021-11-26 16:10] vadrian89 commented on #3008
@marcossevilla , thanks for you answer.

Honestly I can't because I cannot keep all the tabs blocked in loading until all of them finish.
I need to process them as quickly I can, as they come, but sometimes 2 or more come at the sametime.

[2021-11-27 15:51] Lednak007 opened #3010 "[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: HiveError: This should not happen. Please open an issue on GitHub."

[2021-11-28 03:56] felangel commented on #2994
@PlugFox @purplenoodlesoop I opened https://github.com/felangel/bloc/pull/3012 which introduces a `StateObservable` and `StateDisposable` interface and updated the widgets in `package:flutter_bloc` to reference the interfaces rather than `BlocBase`. Let me know what you think.

[2021-11-28 04:10] felangel commented on #3010
Hi @Lednak007 👋
Thanks for opening an issue!

Can you please provide a minimal reproduction sample? There's not enough information here for me to help, thanks!

[2021-11-28 04:11] felangel commented on #3008
Hi @vadrian89 👋
Thanks for opening an issue!

Can you please provide a minimal reproduction sample that illustrates what you're trying to achieve and the issue you're running into? Thanks!

[2021-11-28 04:15] felangel commented on #3005
@aoatmon `BlocListener` and `BlocProvider` are widgets so I highly recommend using `testWidgets` as illustrated in the example I shared above.

To verify the interaction between cubits and listeners you can provide a mock cubit to the widget tree and use `whenListen` from `package:bloc_test` to stub the state stream.

To verify that a listener interacts with the context you can again provided a mo

[2021-11-28 05:18] TusharRoy23 opened #3013 "[Question] Getting comparison issue while testing with Equatable (bloc_test)"
**todos_state.dart**

[code]
**todo_bloc_test.dart**
[code]
**fake_response.dart**
[code]
The error message -
[code]
I guess this is happening because of Equatable but how am I supposed to solve this?
@felangel could you please help me with this one or does anyone has any insights on this?
Thank you in advance.

[2021-11-28 12:05] PlugFox commented on #2994
Yeah, thats very good beginning)

[2021-11-28 12:45] narcodico commented on #2994
Spot on, although I'm not completely sold on the `Observable` naming. It's a ReactiveX concept which implies that it has observers subscribing to it. Although one might make a point that it follows the dart controller approach of having a `stream` to which you can listen and attach observers to, I still feel it's a bit off.

To me this class looks more like a `Subject`, a `BehaviorSubject` to be m

[2021-11-28 15:13] felangel commented on #2994
Yeah naming is the hardest part haha. I went with Observable because as @PlugFox mentioned, it’s a generic term for a class which can be observed when implementing the observer pattern. The issue with Subjects is you can also modify the state of a subject whereas this interface should represent a read only object. An alternative to Observable could be StateStream? Wdyt?

[2021-11-28 15:28] purplenoodlesoop commented on #2994
I love it! That definitely solves most of the problem!

One thing though, I think that something like `IBlocSink` is missing, that way almost all of the methods will be expressed through interfaces.

Regardless of the naming, I think something in the spirit of `IBlocBehavior`will fit well. Citing the paper that basically created the whole concept of reactivity, [Functional Reactive Animations](htt

[2021-11-28 15:40] felangel commented on #2994
Thanks for sharing! I’m fine with renaming Observable to BlocBehavior. My only complaint about that naming is it’s not as intuitive for the average developer. @narcodico do you prefer BlocBehavior?

Regarding the BlocSink interface why do you feel it’s necessary at this stage? It will introduce complexity because both Bloc and Cubit have addError but only Bloc has add and generally with EventSink

[2021-11-28 16:06] felangel commented on #3013
Hi @TusharRoy23 👋
Thanks for opening an issue!

Can you please share your Todo class implementation? Thanks!

[2021-11-28 16:09] TusharRoy23 commented on #3013
@felangel
[code]

[2021-11-28 16:15] felangel commented on #3013
Thanks! The reason the comparison doesn’t work is because your Todo class must also extend Equatable or override == and hashCode.

[2021-11-28 16:16] felangel commented on #2996
Closing for now but if you feel strongly about syncing the versions please let me know and I’m happy to continue the conversation 👍

[2021-11-28 16:16] #2996 closed

[2021-11-28 16:51] wujek-srujek commented on #2996
Sorry, I got distracted and forgot all about this issue. You do have a point, it's just pretty strange for the test lib to have a different version, is all (I would be curious to know how and when it got out of sync). I don't feel strong about it and it seems I'm by myself on it anyway, closing is fine.

[2021-11-28 17:13] TusharRoy23 commented on #3013
Yes of course. But I am now receiving this error message. Why the same response value is sorting automatically ? How the actual list is arranged in descending order?
[code]

[2021-11-28 19:01] narcodico commented on #2994
@felangel `BehaviorBloc` maybe. but bloc is not an implementation of rx so you're safe either way.

Indeed `EventSink` plays well with bloc but not cubit.
You could potentially define your own set of abstractions, somewhat similar to what dart has:

[code]
And with the current implementation you'd have:
[code]

`CubitSink` could be named `BlocBaseSink`, at least in the current implementation, alth

[2021-11-29 04:35] felangel commented on #2994
Just updated #3012 again replacing `Observable` with `Streamable` and `StateStreamable` in an attempt to align more with existing Dart and Flutter naming conventions (`Listenable`/`ValueListenable`). I also took a stab at adjusting the sink interfaces. Would love to hear your thoughts, thanks!

[2021-11-29 08:30] vadrian89 commented on #3008
Will try my best to make one.

[2021-11-29 08:36] scugn1zz0 opened #3014 "fix: Cannot make freezed v. 1.0.0 and bloc v. 8.0.0 to work together (previously worked fine with mapEventToState)"
**Description**

**---> After the description there is a video of the issue I have recorded! <---**

The following is my classical implementation of bloc v. 7.0.0 and freezed:
[code]

I am trying to move this to the new API of 8.0.0 and so my bloc becomes:
[code]
The issue with v. 8.0.0 version of the bloc is that it provokes an error:
[code]

From the video recording you will see that also the fi

[2021-11-29 08:48] vadrian89 commented on #3008
[cubit_test.zip](https://github.com/felangel/bloc/files/7616774/cubit_test.zip)

Here is an example reproducing the issue.

If I add delay, all the colors are changed. If not, only the last is changed, it seems the BlocBuilder is skipping the previous states.

[2021-11-29 09:13] jellynoone commented on #3014
Hi, @scugn1zz0. Just at a quick glance you're assigning the listeners in a listener.

Meaning, the event is already handled by the first generic `on<CounterEvent>`.

You define the **all** listeners in the body of the constructor (or at least not in another listener.) ie.:
[code]

[2021-11-29 09:25] PlugFox commented on #2994
@felangel
Personally, naming is not important to me.
Made a small review

https://github.com/felangel/bloc/pull/3012

[2021-11-29 09:48] aoatmon commented on #3005
I put together [this](https://github.com/aoatmon/bloc_route_test/blob/master/test/mocks/route_listener_tester.dart)

<details>
<summary>new sample</summary>

[code]

</details>

it works, but I'm not sure I'm using this package as intended
I would appreciate if someone could tell me if I'm doing something wrong

[2021-11-29 14:41] scugn1zz0 commented on #3014
Hey @jellynoone briliant!!! You are so right thanks!!

[2021-11-29 14:41] #3014 closed

[2021-11-29 17:12] TusharRoy23 commented on #3013
Yes. Got the issue. It was from my code. And this is the reason the unit test is necessary. Thank you.

[2021-11-29 17:12] #3013 closed

[2021-11-29 19:31] purplenoodlesoop opened #3015 "style: remove the `part` directive"
Hello!

Currently, the official documentation on Creating Packages suggests not using the `part` directive when creating packages. It states:

But the package `bloc` builds its exposing system only on the `part` directive. I will be more than happy to submit a PR that changes it to the `export` :)

[2021-11-29 19:35] purplenoodlesoop opened #3016 "style: remove redundant function parameter syntax"
Hello!

[The package `replay_bloc` seems to use redundant and outdated function parameter syntax which can be removed.](https://github.com/felangel/bloc/blob/master/packages/replay_bloc/lib/src/change_stack.dart#L55)

I will be more than happy to submit a PR :)

[2021-11-29 19:36] felangel commented on #3015
Hi @purplenoodlesoop 👋
Thanks for opening an issue

This was done intentionally in order to facilitate the separation of implementations while still maintaining private members and methods. If we revert to exports we’ll either have to make things public so they can be accessed across multiple files or have single files that contain lots of code.

The structure of the package is fairly similar to [

[2021-11-29 19:38] felangel commented on #3016
Hi @purplenoodlesoop 👋
Thanks for opening an issue!

Good catch! A PR would be awesome, thanks! 🙏

[2021-11-29 19:42] purplenoodlesoop commented on #3015
Thanks for the response @felangel!

There are also two other options:
1) Shared, but internal members of the package will be extracted to separate files that are not exported in the `lib/bloc.dart`.
2) The `lib/bloc.dart` will use the `show` directive to export only the needed members.

I am more inclined towards the first option.

[2021-11-29 19:53] felangel commented on #3015
The reason I'm not a fan of the first approach is because you tend to end up with files like `internal.dart` or `_bloc.dart` which introduces new problems:

1. Implementation details are scattered across multiple files
2. File naming conventions like `internal.dart` become a catch-all or naming conventions like `_bloc.dart` start to imply the file is private even though all files in the `src` dire

[2021-11-29 21:17] purplenoodlesoop commented on #3015
I fully agree that such namings are not very meaningful and confusing! I propose either to separate the `src` folder into two – `internal` and `public`, or just add the `internal` folder to the `src`, while leaving all files that are meant to be exported in the root of the `src`, and there, files could be named with their own, meaningful names.

That could be a problem, so the second option could

[2021-11-29 21:31] felangel commented on #3015
@purplenoodlesoop I agree and opened #3017 use parts only for the tightly coupled aspects and maintain top level exports for the library. Let me know what you think, thanks!

[2021-11-29 21:41] #3015 closed

[2021-11-30 01:14] binaryartifex commented on #2526
@felangel firstly, absolutely well done on this package. just a quick one, ive been very hard pressed to find a reliable solution to this particular problem domain - connectivity/network connections. My goal here is a simple subscription to give me a yay or nay if my network is not only active, but there is a valid connection available. The event is a singular event returning a boolean value. Stat

[2021-11-30 02:08] marcqtan commented on #3007
any updates on this? thanks!

[2021-11-30 08:13] Add00w commented on #1819
RepositoryProvider comes with flutter_bloc and u can use to register repositories for your app and blocs/cubits(maybe).

[2021-11-30 12:42] karvulf opened #3018 "Widget Test - Listen to State after Widget was built"
**Description**

Hi.
I am writing a test where I want to test my `BlocListener`.
The problem is that when using `whenListen`, the specific state is emitted directly after the widget was built. This happens when I write `whenListen` first, also I don't see another way to listen to states.

[code]

**Desired Solution**

My goal is that I want to pump my widget and afterwards, e. g. after a `pump`, I

[2021-11-30 20:13] felangel commented on #2526
Hi 👋
Thanks for the positive feedback, I really appreciate it! 🙏 💙

Regarding your question, you can do something like:

[code]

Hope that helps 👍

[2021-11-30 22:02] KDCinfo commented on #2526
I hope external links are alright: Flutterly has provided an in-depth walkthrough of using the `connectivity_plus` package using blocs as part of his [full-length Flutter Bloc presentation tutorial](https://youtu.be/THCkkQ-V1-8?t=6613).

The chapter starts at [[1:50:13](https://youtu.be/THCkkQ-V1-8?t=6613)] and the connectivity part starts at [1:51:40].

[https://pub.dev/packages/connectivity_plus

[2021-11-30 22:20] felangel commented on #3005
@aoatmon if it works for you feel free to keep using that approach but as I mentioned, I recommend following the patterns found in the examples. I can't provide much feedback because I don't feel I have enough context and there are objects like `GoRouterBlocListener` which are not part of the bloc library.

Closing for now but if you have any other questions that pertain to packages in the bloc li

[2021-11-30 22:20] #3005 closed

[2021-11-30 23:10] fdetun opened #3019 "Migration to v8.0.0 issue"
The following StateError was thrown building Builder:
Bad state: add(FeedPageEvent) was called without a registered event handler.
Make sure to register a handler via on<FeedPageEvent>((event, emit) {...})

my app is working as well but after upgrading the flutter_bloc version to 8.0.0 i got always this error:
----------------------------------------------------------------------------------------

[2021-12-01 06:02] thecoder-co commented on #479
Please can you share the implemented solution?

[2021-12-01 06:14] linxkaa commented on #2526
Hi @felangel. I ecounter some problem in flutter_bloc after migrated to 8.0.0

Before migrating, everything works just fine. This is how my bloc looks like before migrating (i'm using freezed package)

[code]

and this is after:

[code]

The problem with this, the textEditingController didnt trigger while typing. (i made this so i could use controller and state changes when user type, similar to o

[2021-12-01 07:48] linxkaa opened #3020 "[Question] Problem after migrating to 8.0.0, state not triggering"
Hi @felangel. I ecounter some problem in flutter_bloc after migrated to 8.0.0

Before migrating, everything works just fine. This is how my bloc looks like before migrating (i'm using freezed package)

[code]

and this is after:

[code]

The problem with this, the textEditingController didnt trigger while typing. (i made this so i could use controller and state changes when user type, similar to o

[2021-12-01 08:02] jinthislife opened #3021 "[Question] Migration replacing mapEventToState with on<Event>"
Hello,

I appreciate your effort and time maintaining this package.
Sorry for bothering you asking a question here, but I'm having difficulties with migration. Here's my current code.

[code]

[code]

[code]

_reloadFeeds is being used inside mapEventToState to get Stream of FeedState,
 but I'm having difficulties to figure out how I could reuse it without making too much changes. Here's my WIP _o

[2021-12-01 08:03] linxkaa commented on #3020
found the error! this because i put `async*` instead of `async`

one of the event i wrote:
[code]
while it **should** be like this:
[code]

[2021-12-01 08:03] #3020 closed

[2021-12-01 08:41] karvulf commented on #3018
Works perfect, thank you very much @felangel

[2021-12-01 08:41] #3018 closed

[2021-12-01 08:41] linxkaa commented on #3021
i think you should do it like this

[code]

yields no longer work, replace it with emit

[2021-12-01 08:52] linxkaa opened #3022 "[Question]"
Hi @felangel. I tried to implement of blocObserver after the migration.

this is what my blocObserver looks like.

[code]

and this is my main.dart file

[code]

and it didn't print anything. Previously i do this with `Bloc.observer = SimpleBlocObserver()` and my bloc will automatically printed in console. But now it doesn't.

Is there anything wrong with my code? Thank you in advance!

[2021-12-01 09:25] DenisBogatirov commented on #2980
@felangel Any news or ideas?

[2021-12-01 11:13] jinthislife commented on #3021
[code]
_reloadFeeds can't be an argument of emit().
You will get complain 'The argument type 'Stream<FeedState>' can't be assigned to the parameter type 'FeedState'. '

[2021-12-01 11:35] linxkaa commented on #3021
Hmm try this,

[code]

then called:
[code]

[2021-12-01 11:37] sgsm74 commented on #1913
is it possible to implement download progress bar using bloc?only using event and state

[2021-12-01 11:46] linxkaa commented on #3022
Update:

When i tried to print my current BlocObserver in my initial state in bloc, it said null (which the function is not overriding) i think. And i checked before migration, when i printed the Bloc.observer, it returns my class that i've been modified which is `SimpleBlocObserver()`

Notes: Everything works just fine if i handled the onChange, onTransition, etc on each of the bloc.

Any help on

[2021-12-01 14:43] felangel commented on #3022
Hi @linxkaa 👋
Thanks for opening an issue!

Can you remove the WidgetsFlutterBinding.ensureInitialized and verify if that solves the problem? If you aren’t accessing the underlying platforms before runApp then you should remove it. If you need access to the underlying platforms then you should use https://pub.dev/packages/flutter_services_binding.

You can read more about this at https://github.co

[2021-12-01 14:49] linxkaa commented on #3022
Hi @felangel thank you for responding!

I already changed to this

[code]

fyi the runApp i access in the code before isnt the actually runApp, i called other class like this

[code]

Things i tried: I already tried moving the BlocOverrides to `runTokocuanApp` and removes all the widgetsFlutterBinding, but nothing happen

[2021-12-01 14:57] felangel commented on #3022
Can you try replacing WidgetsFlutterBinding.ensureInitialized with FlutterServicesBinding.ensureInitialized from https://pub.dev/packages/flutter_services_binding?

[2021-12-02 06:57] SuhwanCha opened #3023 "docs(Counter): `Counter Events` do not follow naming convention"
**Description**

Clearly describe what documentation you are looking to add or improve.

### Examples on [Link](https://bloclibrary.dev/#/flutterbloccoreconcepts?id=counter_blocdart) don't follow naming convention

#### counter_bloc.dart

[code]

[2021-12-02 07:06] SuhwanCha commented on #3023
I've updated on #3024

[2021-12-02 08:59] pedromassango opened #3025 "feat: Possibility to create cubit class without the cubit suffix"
**Description**

In my projects I prefer to have my Cubit/Bloc classes being called Presenters/ViewModel, to make it easy for every non-Flutter developer (native android for instance) to understand the code more easily.

Since the IntelliJ IDEA extension always attach a Cubit keyword at the end of the class/file-name I always have to refactor it myself which is a real pain.

**Desired Solution**

[2021-12-02 14:15] SungHyun-Patrick-Lee opened #3026 "[User Problem] Issue with state not updating after initial state"
**Description**

the first TimerUpdateState worked fine. But it doesn't work since the first TimerUpdateState.
I checked that the State is being received correctly.
There is no screen change through 'return _TimerWidget(timerTime: state.time)'.

**code**

- TimerWidget

[code]

- TimerCubit

[code]

- TimerState

[code]

[2021-12-02 19:07] Pingear commented on #2477
@drogbut @felangel
Hi)
I have the same misunderstanding, which approach is better? Did you find the answer?

[2021-12-03 01:37] Gene-Dana commented on #3019
Hi there 👋🏼 8.0.0 introduced breaking changes ! You can visit the [migration guide here](https://bloclibrary.dev/#/migration) and although I'm closing this issue, feel free to continue to leave comments on this issue or to reach us more directly [on Discord](https://discord.gg/bmqDWRxk)

[2021-12-03 01:37] #3019 closed

[2021-12-03 01:39] Gene-Dana commented on #3008
The best way to send this is through a github repo ! Do you have one already?

[2021-12-03 01:50] Gene-Dana commented on #3007
Hi there 👋🏼 It seems like you drew a lot of inspiration from the Firebase Login example.

One thing to keep in mind here is that the `Login` feature is separate from the `App` state. Why is that? That's because the `Login` feature only holds state that is necessary for the act of logging in, whereas the `App` state holds all of the state that is necessary for the function of the app.

Take a look

[2021-12-03 02:01] Gene-Dana commented on #3010
Hi there ! Closing this for now because there has been no response !

[2021-12-03 02:01] #3010 closed

[2021-12-03 02:36] felangel commented on #3019
@fdetun as @Gene-Dana mentioned, you should refer to the [migration guide](https://bloclibrary.dev/#/migration) but based on the error I'm guessing you don't have a registered event handler for the `FeedPageEvent`:

[code]

[2021-12-03 02:37] felangel commented on #2477
I recommend providing your repositories to the widget tree using `RepositoryProvider` and then injecting the provided instance into the bloc:

[code]

Hope that helps 👍

[2021-12-03 02:40] felangel commented on #3026
Hi @SungHyun-Patrick-Lee 👋
Thanks for opening an issue!

I'm guessing you are either re-emitting the exact same state or your `TimerTime` class doesn't override `==` or extend `Equatable` properly. Please refer to the [FAQs](https://bloclibrary.dev/#/faqs?id=state-not-updating) for more details/examples.

Closing for now but if you're still having trouble please feel free to provide a link to a mi

[2021-12-03 02:40] #3026 closed

[2021-12-03 02:43] SungHyun-Patrick-Lee commented on #3026
Thank you for response felangel

I already extends Equatable in TimerTime Class

[code]

[2021-12-03 02:43] felangel commented on #3021
Hi @jinthislife 👋
Thanks for opening an issue!

The simplest way to migrate with the fewest changes would be to use `emit.forEach` like:

[code]

Hope that helps!

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-12-03 02:43] #3021 closed

[2021-12-03 02:46] felangel commented on #3026
Are you able to provide a link to a complete reproduction sample?

[2021-12-03 02:50] SungHyun-Patrick-Lee commented on #3026
I'll remove link after you check

https://github.com/SungHyun-Patrick-Lee/imagine_30s

[2021-12-03 02:57] felangel commented on #3026
I'm not able to access that link.

[2021-12-03 03:03] SungHyun-Patrick-Lee commented on #3026
Now I'm change

[2021-12-03 03:07] felangel commented on #3026
Thanks! What's the exact issue? The timer looks like it's working to me. I can start, stop and restart it and it appears to be working.

[2021-12-03 03:09] SungHyun-Patrick-Lee commented on #3026
change time is not working

[code]

this part

[2021-12-03 03:16] felangel commented on #3026
I don't see that code in the repository. Are you sure you pushed your changes?

[2021-12-03 03:18] SungHyun-Patrick-Lee commented on #3026
i'm sorry i didn't commit cause this issue :(

[2021-12-03 03:31] felangel commented on #3026
@SungHyun-Patrick-Lee I opened a [pull request](https://github.com/SungHyun-Patrick-Lee/imagine_30s/pull/1) with the fixes.

[2021-12-03 03:33] SungHyun-Patrick-Lee commented on #3026
Thank you sooo much!!!!!

[2021-12-03 03:35] felangel commented on #3026
No problem!

[2021-12-03 03:39] #3023 closed

[2021-12-03 05:04] github-actions[bot] opened #3036 "[Translations] Update docs"
Update Translations to include changes from cd97f8e78c24d66333b78ac89a1f997736a39bd7.

- [ ] az (@KenanYusubov)
- [ ] cs
- [ ] es (@KingDarBoja or @Classy-Bear)
- [ ] fr (@sachaarbonel or @StefanYYC)
- [ ] jp (@dshukertjr)
- [ ] ko-kr (@zoomKoding)
- [ ] pt-br (@rodrigobastosv or @alisson-suzigan)
- [ ] ru (@basilex)
- [ ] zh-cn (@jakecastelli)

[2021-12-03 05:13] #3016 closed

[2021-12-03 05:56] fdetun commented on #3019
This the navigation bloc :) . And i said it was working fine with flutter bloc 7.3.3 just i uptader it to v 8 i got this error. Now i m working with 7.3.3 i don't have any problem.

This the navigation bloc

class NavigationBloc extends Bloc<NavigationEvent, NavigationState> {

  NavigationBloc() : super(FeedPageState());

  @override
  Stream<NavigationState> mapEventToState(
      NavigationEven

[2021-12-03 07:06] AscentionOne opened #3038 "[Question] Difference between emit.onEach and emit.forEach"
Hi @felangel, I have a question about when to use `emit.onEach()` and `emit.forEach()`. Based on the comment in the code below I can not quite distinguish the difference(to me it looks the same😂). However, I checked the parameter of both functions.
It looks like `onEach` will have a `onData` callback that returns void
[code]
 `forEach` will have a `onData` callback that returns a state
[code]

onE

[2021-12-03 18:10] Pingear commented on #2477
Thanks for the answer)
I'm ecstatic about your library, awesome features and documentation, thanks)

[2021-12-03 19:34] felangel commented on #3038
Hi @AscentionOne 👋
Thanks for opening an issue!

The difference is `onData` in `forEach` must return a state which will be emitted whereas `onData` in `onEach` is `void` so you should use `forEach` when you directly want to map data from the stream into states that will be emitted by the bloc and `onEach` for all other scenarios.

Hope that makes sense and I'll improve the docs to make it more obv

[2021-12-04 02:44] RomjanHossain opened #3039 "Feat: neovim support"

[2021-12-04 03:11] chonghorizons opened #3040 "docs: Adding DartPac live-coding for fluttercountertutorial"
**Description**

Add a "codelab" that is live-editables for fluttercountertutorial. This was "requested" as
" Interactive Documentation
run/edit example code directly in documentation"  source: https://github.com/felangel/bloc/wiki/Roadmap

### How to do it:

I've already converted the code and have a live example:
https://dartpad.dev/?id=90da115645caf06ffe10dc8ab170f347

There are two ways:
1) Ha

[2021-12-04 06:29] agordeev opened #3041 "[Proposal] Add an ability to command the widget from the bloc/cubit"
## Overview

Sometimes we want the cubit to tell the widget to perform certain actions, for example:

- navigate to a page
- show an error message dialog
- run animation

## Current approach

The recommended approach to achieve that is to emit a state:

[code]

## Problems With the Current Approach

### Improper `State` usage

With the example above, `navigateToPage` and `showError` aren’t states,

[2021-12-04 06:31] felangel commented on #3041
Hi @agordeev 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/2933.

[2021-12-04 06:34] felangel commented on #3039
Hi @RomjanHossain 👋
Thanks for opening an issue!

Can you please provide a bit more context regarding what you'd expect in terms of neovim support? Thanks! 🙏

[2021-12-04 09:44] Omar-Khaium commented on #2952
@felangel

Getting this error:
**`"error: The setter 'storage' isn't defined for the type 'HydratedBloc'. (undefined_setter at [tmoto_admin_panel] lib\main.dart:20)"`** for Flutter web.
Currently using version **`8.0.0`** of hydrated_bloc.

![image](https://user-images.githubusercontent.com/40541185/144704930-9411f508-6b06-4295-b897-230e1c37bfb0.png)

[2021-12-04 14:11] felangel commented on #2952
You need to use the new HydratedBlocOverrides API to specify a storage instance. You can check out the [hydrated_bloc example](https://github.com/felangel/bloc/blob/master/packages/hydrated_bloc/example/lib/main.dart#L10) for reference and read more about the change in the [migration guide](https://bloclibrary.dev/#/migration?id=%e2%9d%97%e2%9c%a8-introduce-new-hydratedblocoverrides-api)

[2021-12-05 08:34] vadrian89 commented on #3008
@Gene-Dana
Sorry for the late response, had some personal problems.
I've made a github repository for the example: https://github.com/vadrian89/cubit_test

[2021-12-05 10:31] zeshuaro opened #3043 "refactor: update emit method annotations"
**Description**

Would you be able to explain the reason for annotating the `emit` method with `@protected` ([source](https://github.com/felangel/bloc/blame/master/packages/bloc/lib/src/bloc_base.dart#L46))?

I have been using a very large cubit (with lots of methods/events). To make the code easier to read, I split it up by using separate files and extensions. For example:

[code]

This has been