[2018-10-09 09:30] mrdaios opened #1 "Help"
any this code?

[code]

tks.

[2018-10-10 01:36] felangel commented on #1
Thanks I'm planning to add a BlocProvider in an upcoming release! Closing this for now.

[2018-10-10 01:36] #1 closed

[2018-10-10 08:24] SilverBirchh opened #2 "Minor Readme issue"
Just want to say this is a great package and has been really helpful in helping me implement the bloc pattern.

I think I noticed a really small mistake in the Readme.
Where it says `yield LoginState.error(error.toString());` (unsure of the actual line number) I think it should be `yield LoginState.failure(error.toString());`.

If that's the case, happy to raise a PR if you want me to?

[2018-10-10 13:36] felangel commented on #2
Thanks so much for the feedback! You’re right about the documentation error and it’d be great if you can open a PR.

[2018-10-11 04:24] #2 closed, assigned to felangel

[2018-10-11 07:40] Code-PLeX opened #3 "mapEventToState with oldState"
Hi

if i need the oldState in order to create the new state how can i do that without `state.take(1).then()...`
can you implement mapEventToState(State,Event) ?

maybe just save the state locally in each mapEventToState call ?

[2018-10-11 13:12] felangel commented on #3
Hey yeah this is something I’ve been thinking about as well. I’ll try to get it in sometime today. Thanks for bringing this up!

[2018-10-14 08:14] felangel commented on #3
#4

[2018-10-14 13:11] benoitjadinon opened #5 "Redux ?"
As much as I like your library, correct me if I'm wrong but I think it is much closer to the Redux architecture than it is to a Bloc one.
Although there is no clear definition of a Bloc yet, from what I've gathered it's much more reactive, should use Sinks are input, and Streams as output.
While this library is used to convert Events (like strongly-typed Redux Actions) into a single State output,

[2018-10-14 14:49] benoitjadinon commented on #5
or maybe I'm just missing the point on how to use it with Streams/Sinks

[2018-10-14 15:42] felangel commented on #5
Hey, thanks for taking the time to bring this up!

While there are some similarities to redux (mainly the naming), I would argue that this package is still helping implement a bloc architecture.

The goal of the package is to abstract the streams/sinks and make it easy for developers to focus on the business logic instead.

As you correctly stated, there really is no concrete definition of Bloc. B

[2018-10-14 15:46] felangel opened #6 "Include a BlocProvider Widget"

[2018-10-14 17:18] shnupta opened #7 "Cannot add new events after calling close"
Hi,

I'm getting this error when trying to call a state method that dispatches an event:

[code]

The function is being called here:
[code]

And the function that calls the dispatch is:
[code]

[2018-10-14 17:27] felangel commented on #7
Hi @shnupta it sounds like the BlocBuilder has disposed the authBloc before an event was dispatched. Can you include details like does this happen on the first loginButtonPressed event or just on subsequent ones? Also, what happens after an event is dispatched?

[2018-10-14 19:16] benoitjadinon commented on #5
True, true, state or no state is fine, I'd just argue that it should probably be renamed to ReBlox (™️) or something, in that it derives from the actual *pure* Bloc pattern presented by various Google employees.

I've imported it thinking it would help me forcibly apply state outputs into my stream-based blocs, when it actually makes the code less rx-y I think, though I can only blame myself for n

[2018-10-14 19:40] shnupta commented on #7
It happens on every button press.

Here is how it is called from the log in button:
[code]

[2018-10-14 19:43] felangel commented on #5
So I struggled with the name a bit but decided to go with bloc because I am not aware of the “pure” bloc pattern you described. Can you point me to where I can learn more about it?

Also, there is already a lib called rebloc which is more what I think you’re describing.

I agree that the rx is abstracted but that was my intention from the beginning.

Can you describe your use case a bit more and I

[2018-10-14 19:45] felangel commented on #7
Can you please share the full build method of the widget?

[2018-10-14 19:46] shnupta commented on #7
[code]

[2018-10-14 19:55] felangel commented on #7
Okay that looks good. Can you show me how the authBloc is passed to the Login Page? Alternatively, if you can just share the full code with me so I can debug it locally it’d be great.

[2018-10-14 19:59] shnupta commented on #7
Yeah I was going to suggest that haha.

https://github.com/shnupta/eat_app

[2018-10-14 20:03] felangel commented on #7
Haha awesome! Eating lunch now but I’ll take a look right after.

[2018-10-14 20:04] shnupta commented on #7
No worries, thanks! 🙂

[2018-10-14 20:58] benoitjadinon commented on #5
oh ok, yes, rebloc is even more like redux.

just thinking out loud here, what about keeping the awesome <event, output> typing but making the reducer method optional (if possible), so that reducing/mapping could be done in a functional/rx way ?

something like :
[code]
that would allow for more complicated bindings with combinelatest and external rx sources (from other blocs)
or maybe a `RxBloc<e

[2018-10-14 22:05] felangel commented on #5
You can currently manipulate the event stream by overriding the transform method haha. Does that address your concern?

The reducer is just to convert the events to the view model (states) for the presentation layer to consume. How would the view model get created without mapEventToState?

Can you put together a simple example of the classic counter app to demo your proposed usage?

Thanks for the

[2018-10-14 23:17] felangel commented on #7
@shnupta I took a look at the code and the problem is the AuthPage Widget is rebuilt many times and since the LoginPage widget is not it's own stateful widget, it get's rebuilt as well. I would try to separate the LoginPage into it's own StatefulWidget with state for managing the text controllers as well as the authentication bloc. Let me know if that makes sense and/or if you need more guidance.

[2018-10-14 23:28] benoitjadinon commented on #5
meant something like this
https://github.com/benoitjadinon/bloc/commit/6876f24b8467c407aa1bc9c89715bbf5f6088596
not super interesting with +1 -1 but will get awesome when combining external blocs outputs

[2018-10-14 23:36] benoitjadinon commented on #5
but maybe that diverges from redux guidelines, I'm not really familiar with the whole thing to be honest.
coming from mvvm+rx, I just want rx-first BLoCs that output some state. events is the cherry on the cake.
I might create my own lib if you think it does not fit yours

[2018-10-15 00:01] benoitjadinon commented on #5
(awe)some BLoC videos I was referring to :
https://www.youtube.com/watch?v=PLHln7wHgPE
https://www.youtube.com/watch?v=n_5JULTrstU
https://www.youtube.com/watch?v=KjoMnsc2lPo (not bloc but awesome)

[2018-10-15 00:41] benoitjadinon commented on #5
Awesome!, but let's fiddle with the concept a bit more first, maybe with a more complete example.
`ReducerBloc` vs `RxBloc` is cool, because `mapStateToEvent` is unused inside of `RxBloc`.

About the constructor thing, it's also to setup the subscriptions asap. cause with a mapper reducer, they kinda would only be called imperatively after an action is received, they wouldn't be so 'reactive' (as

[2018-10-15 00:43] benoitjadinon commented on #5
I'll be looking for rx+redux information, cause it seems to me both are not fit to work together

[2018-10-15 01:38] felangel commented on #5
Sounds good! I’ll think about it some more as well and we can put together a proposal with example usage, documentation, etc... before we start working on the implementation. I think once we get the interface down it shouldn’t be too difficult to incorporate.

[2018-10-15 17:01] shnupta commented on #7
Thank you that worked! Would you be able to explain to me what causes the AuthPage widget to rebuild? Was it the text controllers?

[2018-10-15 23:13] felangel commented on #7
I believe it's a combination of the Text Controllers and the Page View (https://github.com/flutter/flutter/issues/17328). Glad that solved your problem 👍

[2018-10-15 23:13] #7 closed

[2018-10-16 02:33] felangel commented on #5
closing this since we can pick this up outside the scope of this issue.

[2018-10-16 02:33] #5 closed

[2018-10-16 11:06] benoitjadinon commented on #5
gitter ?

[2018-10-16 12:59] felangel commented on #5
@benoitjadinon yup just created one and added the badge to the readme.

[2018-10-17 18:20] katutz opened #10 "Web Support"
Very nice package!

I would like to know if this package will be compatible with Dart for Web, like AngularDart.

Thanks in advance.

[2018-10-17 18:33] felangel commented on #10
Thanks!

Yes, this is something that we are discussing and should be coming soon.

[2018-10-17 19:00] katutz commented on #10
Thanks for the response. Good to know!

[2018-10-18 01:18] lyquocnam opened #11 "Need lifecycle on bloc"
hi author, i want to place some components in bloc and dispose them when bloc destroyed.
i hope `initState()` and `dispose()` featured will be support

[2018-10-18 01:41] felangel commented on #11
Hi @lyquocnam, the `Bloc` class currently has a `dispose` method that you can override. Regarding `initState` Blocs do not extend `StatefulWidget` so there is no such that as `initState` the closest thing to `initState` is `initialState` which can be overridden to provide the initial state that the bloc will return to the presentation layer. Does this answer your question? Thanks!

[2018-10-18 02:00] lyquocnam commented on #11
oh i see, thanks for this help author, nice work !

[2018-10-18 02:00] #11 closed

[2018-10-23 01:27] #10 closed

[2018-10-30 17:00] bohrmeista commented on #10
Hello, I find your package very helpful when developing AngularDart and Flutter apps on the same codebase.

However I recently found that using `webdev serve --release`or `webdev build` (both producing release builds) makes the plugin unusable as in 'compiles fine, no runtime errors - but no functionality'.

For reference on what I tried check out these gists:
- BLoC: https://gist.github.com/bohrm

[2018-10-31 01:18] bohrmeista commented on #10
@felangel I implemented a mock version of the app again to make sure the error is really there and also wrote a test for the BLoC stuff so you might want to use it to test after you've made changes.
https://github.com/bohrmeista/dart_experiments
See the README.md for info on running the test.

I will also create a new issue tomorrow.

[2018-10-31 01:50] felangel commented on #10
@bohrmeista I took a look and it looks like runtimeType is the problem in the release build.
If you replace your `mapEventToState` implementation with:
[code]
it will work.

[2018-10-31 03:36] bohrmeista commented on #10
@felangel I tested this in my actual app and now it works just fine. Thanks a lot and sorry for causing you work with this. This actually helped me a lot and I learned something again so big 👍

[2018-10-31 03:52] felangel commented on #10
@bohrmeista no problem! Glad I could help 👍

[2018-10-31 11:44] katutz commented on #10
I haven't tested in AngularDart yet. But I'm glad to see that the problem is solved. Very good work @felangel !

[2018-11-10 14:20] endigo opened #14 "How to work with SearchDelegate?"
Hello,
I'm trying to implement bloc with SearchDelegate.

Do you have any example?

Thanks

[2018-11-11 11:31] endigo commented on #14
Thanks for a response,

I have 1 screen, call a showSearch method.
[code]

Here is SearchDelegate
[code]

[2018-11-11 11:32] endigo commented on #14
There is no onChange method on SearchDelegate.

[2018-11-12 21:21] felangel commented on #14
@endigo I think you should be able to do something like [this](https://gist.github.com/felangel/11769ab10fbc4076076299106f48fc95).

Let me know if that helps.

[2018-11-14 02:29] endigo commented on #14
Thank for your time. It's works.

[2018-11-14 02:29] #14 closed

[2018-11-14 14:18] endigo opened #15 "How to provide Multiple Blocs using BlocProvider?"
I have to provide multiple blocs to application level.
[code]

Are there any cleaner solutions?

[2018-11-14 15:22] felangel commented on #15
For now no but I am open to ideas.

One thing to keep in mind though is you don’t need to create all blocs at the root level. I would advise creating the bloc at the closest common ancestor of all widgets that will need the bloc.

[2018-11-16 18:55] jorgecoca opened #16 "Offer a way to execute an action on "initial state"/ when a widget has been loaded"
**Is your feature request related to a problem? Please describe.**
As a user of `bloc`, I'd like to have a way to identify a `WidgetHasBeenLoaded` UiEvent. This way, if I need to respond in my bloc to an action immediately after a widget has been drawn on the screen, I can do it without relying on the bloc constructor, which might be too late.
By also following this approach, we would respect the

[2018-11-16 23:00] felangel commented on #16
@jorgecoca im not sure I fully understand the problem we are trying to solve.

Couldn’t you notify the bloc by dispatching a WidgetLoaded event from the widget’s constructor?

I’m also worried about this being a flutter specific request. The library should ideally stay decoupled from flutter.

[2018-11-17 04:46] chimon2000 commented on #15
My suggestion would be something similar to what [rebloc](https://github.com/RedBrogdon/rebloc) does

[code]

Notice in this example that you can pass multiple blocs to the store object because it contains the state and blocs.

[2018-11-18 23:59] #15 closed

[2018-11-20 04:35] felangel commented on #16
@jorgecoca closing for now. I’d be happy to reopen if you have more feedback/suggestions.

[2018-11-20 04:35] #16 closed

[2018-11-22 19:29] AlexandreRoba opened #18 "[Question] How would you manage animation in the bloc builder?"
Hi all, Thanks for this component. Looks very promising.

I'm struggling with a question. How would you manage animation and controller in the Bloc builder?

Image that on the login example you would have a PageView instead of a stack with the Splash as first page and the Login/Home as second page. When the initialization completes you want to use a page controller to animate from the Splash page

[2018-11-22 19:56] felangel commented on #18
Hi @AlexandreRoba! Thanks for taking the time to use Bloc and for opening up an issue.

Regarding your question, you should be able to tweak the `AppState` class in the example to something like:
[code]

This way you are updating the current page using the `PageController` in response to the state changes in the Bloc but since you are not changing the Widgets you don't need to use `BlocBuilder`.

[2018-11-24 14:26] rsnider19 opened #19 "Transform Example"
Can you please provide an example of overriding `transform`? Specifically debouncing a certain event (e.g. Search), but not other events in the bloc? Thanks!

[2018-11-24 19:47] felangel commented on #19
Hi @rsnider19 if we use the `CounterBloc` as an example you can do something like:

[code]

Essentially, in the transform override you have access to the raw `Stream<Event>` and you can do whatever manipulation/transformation and return the new `Stream<Event>` which will be used to `mapEventToState`.

Let me know if that makes sense or if you have other questions.

[2018-11-24 21:15] felangel commented on #18
@AlexandreRoba closing this for now.
Let me know if you have any questions/comments and I'm happy to reopen it.

[2018-11-24 21:15] #18 closed

[2018-11-25 05:44] felangel commented on #19
Closing this for now but feel free to comment with any additional questions and I'll reopen it 👍

[2018-11-25 05:44] #19 closed

[2018-11-25 07:42] AlexandreRoba commented on #18
Thanks for the clarification. I’ll try this.
On 24 Nov 2018, 22:15 +0100, Felix Angelov <notifications@github.com>, wrote:

[2018-11-25 20:06] rsnider19 commented on #19
Worked perfect! Thanks!

[2018-11-30 12:17] Soundbytes opened #20 "Are you confident the BlocProvider will work as intended?"
Looking at the `BlocProvider` code I found that you are using the `BuildContext.ancestorWidgetOfExactType` method instead of
`BuildContext.inheritFromWidgetOfExactType`
From what I could gather this will prevent Widgets that use the `BlocProvider` from rebuilding when the Bloc is swapped for another one.
I have already created a version that derives `BlocProvider` from `StatelessWidget` because I

[2018-11-30 14:58] felangel commented on #20
Hi @Soundbytes to clarify, the use case you're describing is when a BlocProvider's bloc has changed, the widget subtree should rebuild correct?

Also, can you please elaborate a bit on what you mean by not needing additional overhead from `InheritedWidget`?

It would also be super useful if you can include an example of your particular use case.
Thanks!

[2018-11-30 18:09] Soundbytes commented on #20
Yep that is the use case and that is what InheritedWidget was made for.
As I said I don't think that it will work at all with the BlocProvider because it requires to use a particular BuildContext method that makes some provisions behind the scenes to enable the behavior
[inheritFromWidgetOfExactType](https://docs.flutter.io/flutter/widgets/BuildContext/inheritFromWidgetOfExactType.html)
since it w

[2018-11-30 18:18] Soundbytes commented on #20
Opps, pressed the wrong button.

[2018-11-30 19:34] felangel commented on #20
@Soundbytes so I completely agree that I the current implementation should have been using `inheritFromWidgetOfExactType` instead of `ancestorWidgetOfExactType`; however, I'm not quite sure I understand why the `StatelessWidget` implementation will perform better than the `InheritedWidget` implementation with `inheritFromWidgetOfExactType`.

Take the case where we have a really deep widget tree an

[2018-11-30 23:37] #20 closed

[2018-12-01 12:57] lukepighetti commented on #20
Could you please provide more information on your performance testing? Thanks!

[2018-12-01 17:13] felangel commented on #20
sure I’ll publish the performance tests I ran in a couple of hours.

The basic setup was an app with a deep widget tree and a BlocProvider at the root. Along the way down the sub tree I made every widget request for the bloc via the BuildContext and then looked at TimelineSummary for various performance statistics.

I did several trials with each of the three setups:
InheritedWidget using ancestor

[2018-12-01 19:48] felangel commented on #20
performance test setup + results can be found [here](https://github.com/felangel/bloc/tree/master/performance_tests/flutter_bloc/bloc_provider)

[2018-12-02 05:11] hnyaoqingping opened #22 "The currentEvent variable is not updated in time"
**Describe the bug**
In the _bindStateSubject function of the "bloc/packages/bloc/lib/src/bloc.dart" file,
The currentEvent variable is not updated in time.

modify the lines
"
65   (S nextState) {
66       final transition = Transition(
"
to

"
65   (S nextState) {
66       currentState = _stateSubject.value;
67       final transition = Transition(
"
Because of each foreach loop, the value of the

[2018-12-02 05:35] felangel commented on #22
Can you please include a code sample and the outcome along with your expected outcome? Thanks!

[2018-12-02 05:56] hnyaoqingping commented on #22
I run your example "flutter_login", when I click "logout", the transition output is:
69125:12-02 13:51:28.968 18830 18845 I flutter : Transition { currentState: AuthenticationState { isInitializing: false, isLoading: false, isAuthenticated: true }, event: LoggedOut, nextState: AuthenticationState { isInitializing: false, isLoading: true, isAuthenticated: true } }
69409:12-02 13:51:29.982 18830 188

[2018-12-02 14:55] felangel commented on #22
Thanks for bringing this up and for the detailed explanation. I will investigate it shortly 👍

[2018-12-07 22:03] ThinkDigitalRepair commented on #15
Here's a link to [rebloc's implementation ](https://github.com/RedBrogdon/rebloc/blob/8deb444a2a0d4c7609989b6625026994fac53974/lib/src/engine.dart#L98) But I agree, why would you need multiple declared at top level? @endigo , did you know where was a way to request the type of bloc you were looking for in the `BlocProvider.of()` function?
[code]

[2018-12-08 01:14] endigo commented on #15
@ThinkDigitalRepair My solution is working fine. I ask any recommendation for a cleaner solution.

[2018-12-08 01:35] felangel commented on #15
@ThinkDigitalRepair can you please share a code snippet of what you're thinking? I'm not sure I understand what you mean by "top level composite bloc"

[2018-12-08 02:15] ThinkDigitalRepair commented on #15
@felangel. I'm thinking two things. One i'm currently trying to figure out what the code looks like. I'm really rusty on my recursive functions, but it would look something like this.
Actually, they're both implemented here. The first idea uses the `stackBlocs` method below to recursively nest the blocs wrapped in BlocProviders`. The second just holds a list of all the Blocs and when the `of()` fu

[2018-12-08 02:30] felangel commented on #15
@ThinkDigitalRepair thanks for the example but I'm concerned that
[code]
implies that you'll have a list of blocs of the same type (ie multiple CounterBlocs maintained by a single BlocProvider). Correct me if I'm wrong but I don't see this as a valid use-case and I also don't see how you'd know which bloc to return.
[code]
would always return the first Bloc because they should all be of type T.

I

[2018-12-08 02:34] ThinkDigitalRepair commented on #15
Oh yes, you're right. If you go the route where where you're using the stackBlocs function, then
[code]
should suffice

[2018-12-08 02:38] felangel commented on #15
@ThinkDigitalRepair I'll play around with it and see how it performs. Thanks again for the example 👍

[2018-12-08 02:42] ThinkDigitalRepair commented on #15
If not, then the of function could take a `Type` parameter and then find the bloc that is of that type.
Example:
[code]

[2018-12-08 02:42] ThinkDigitalRepair commented on #15
You're welcome!

[2018-12-08 02:55] ThinkDigitalRepair commented on #15
You can also use a named factory constructor to call that stackBlocs method so you don't have to make the default constructor complicated

[2018-12-09 09:04] Solido opened #27 "Awesome Flutter"
You're welcome to PR your awesome solution on awesome flutter
https://github.com/Solido/awesome-flutter

A Bloc section under Framework would be the best place.

Thank you !

[2018-12-09 15:01] felangel commented on #27
@Solido thanks, I've created a PR (https://github.com/Solido/awesome-flutter/pull/248) 👍

[2018-12-10 01:15] JohannesKlauss opened #28 "Change the parameters of mapEventToState"
**Is your feature request related to a problem? Please describe.**
The `Bloc` class type signature as well as the `onTransition` method is `<E, S>`. But the `mapEventToState` parameters are `(S, E)`.

**Describe the solution you'd like**
It would be more consistent if the `mapEventToState` method would follow the signature of the rest of the package and also have `(E event, S state)` instead of `(

[2018-12-10 01:44] felangel commented on #28
Hi @JohannesKlauss, thanks for the feedback.

The reason the `mapEventToState` signature is `(S state, E event)` is because the state parameter is referring to the currentState.

In `onTransition` as well as the `Bloc` class type signature the state is referring to the next state (the output of the `Bloc`).

Also, `mapEventToState` is inspired by Redux Reducers whose function signature is `(S prev

[2018-12-10 16:14] algirdasmac opened #29 "BlocBuilder provides initial state instead of actual state."
**Describe the bug**
It seems that BlocBuilder is not showing actual state, but an initial one. State in the app is managed correctly, and Bloc is provided to the Widget.

**To Reproduce**
You can reproduce the error by trying to use BlocBuilder in widget, where you provide Bloc with BlocProvider.of<BlocName>(context); It seems that problem is happening only in this case. Does the same on login fl

[2018-12-10 18:32] felangel commented on #29
Fixed in #30 and published in flutter_bloc v0.4.6

[2018-12-10 18:32] #29 closed

[2018-12-10 18:35] algirdasmac commented on #29
Thanks! Really helped me out! 👍

[2018-12-10 22:54] felangel commented on #28
@JohannesKlauss  closing this for now.
Feel free to respond with any comments or concerns and I'll gladly reopen the issue.

[2018-12-11 08:18] hundeva commented on #29
I was just about to create an issue for this, then I saw that the version got bumped from `0.4.5` to `0.4.6`, and it fixed just this. Thanks, awesome work. 👍

[2018-12-11 23:05] ThinkDigitalRepair commented on #28
OK, came to report this as well. It was confusing. Can you add in the docs what the generic types are for? I figured them out, but not after digging.
Like It's not clear what E is, and what S is until later down the code

[2018-12-11 23:33] ThinkDigitalRepair commented on #28
Well making sense is relative to the one understanding. The way I view it,
the event should be on the left, cause input is generally considered to be
coming from the left side, and whatever is going out to the stream should
go out to the right. Cause we're not actually mapping anything to (AKA
changing) the state, we're creating a new state object and sending it out,
correct?

On Tue, Dec 11, 2018

[2018-12-11 23:44] felangel commented on #28
Yes I agree that generally input is coming from the left side but the way I view it is in the case we have two inputs and we're creating a new state object. The two inputs are S currentState and E event. I personally thought it made sense in that order because the currentState precedes the event. Thoughts?

[2018-12-11 23:49] ThinkDigitalRepair commented on #28
Wait. If state is the current state, then it makes sense because it exists before the event does. I really need to study this function

[2018-12-11 23:51] ThinkDigitalRepair commented on #28
It would be very clear if the variable was named currentState or oldState, etc

[2018-12-11 23:51] felangel commented on #28
haha yeah I will rename it and add the documentation for the generic types

[2018-12-12 02:33] felangel commented on #28
changes included in bloc v0.7.4

[2018-12-12 02:33] #28 closed

[2018-12-16 14:21] sestegra opened #33 "Why _BlocProviderInherited.updateShouldNotify is hardcoded to false ?"
It seems that following implementation could be used when updating bloc itself.
[code]

[2018-12-16 17:46] felangel commented on #33
@sestegra that was an intentional performance optimization because blocs should not change; only their states should change. Can you please describe the use case that requires these changes?

[2018-12-16 21:43] fmatuszewski opened #35 "Is it possible to merge blocs"
Let's suppose I have two blocs Router and Model and I have to create gui based on the state of both of them with router I choose Widget that will be rendered and  I have to pass model to each view widget.
Is it possible to easily merge two  Bloc s Like for instance ZipStream.

[2018-12-16 21:46] felangel commented on #35
You would probably have to create a third bloc which merged the two and then build the ui in response to the state of the new bloc. Let me know if that helps.

[2018-12-17 02:51] felangel commented on #33
Closing this for now.

[2018-12-17 02:51] #33 closed

[2018-12-17 02:53] felangel commented on #35
Closing this for now. Please feel free to comment with more details and I’ll gladly reopen it.

[2018-12-17 02:53] #35 closed

[2018-12-17 08:46] hnyaoqingping opened #37 "Can you change bloc state's type to ValueObservable<State> ?"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

I

[2018-12-17 14:07] felangel commented on #37
In an attempt to abstract all rxDart I have already exposed currentState in the latest version of bloc.

‘State get currentState = _stateSubject.value’

[2018-12-17 14:07] #37 closed

[2018-12-19 13:37] anderscheow opened #38 "How should I clear "state"?"
There's a "message" variable inside the state, I used to Toast the "message" whenever it's not null. So, whenever I trigger a Navigator.push(), previous page rebuild, then the state contain non-null "message", it triggered the Toast again.

[2018-12-19 14:01] felangel commented on #38
You need to just dispatch another event to clear the state. Check out the examples/flutter_login for an example of this.

[2018-12-19 14:01] #38 closed

[2018-12-28 04:17] moga111 opened #44 "Bloc login example, `LoggedIn` event resets the state?"
Hi,
I am pretty much sure this state is confusing. Shouldn't this be if `LoggedOut` or something?

https://github.com/felangel/bloc/blob/ef0860e3aaf552a8aebb09610f16ef611cef9dd0/examples/flutter_login/lib/login/login_bloc.dart#L36

Thank you for your effort, just making sure I am not missing something here 👍

[2018-12-28 05:40] felangel commented on #44
@moga111 thanks for asking and I apologize for the confusion. This is actually correct as is because when a user has successfully logged in we need to reset the LoginPage state to avoid dispatching multiple events. Let me know if that helps clarify things.

[2018-12-28 06:33] moga111 commented on #44
Hello @felangel, thanks for calrifying. I took a deep look again and now its clear. I really appreciate your quick response.

All good and thanks again.

[2018-12-28 06:52] #44 closed

[2018-12-31 03:06] thezjy opened #45 "Should representing different state using sum types"
**Is your feature request related to a problem? Please describe.**
In the Login Tutorial, `AuthenticationState` is represented by three finals: `isInitializing`, `isLoading` and `isAuthenticated`. This seems a bad idea because they can be combined in many illegal combinations, like `isLoading = true` && `isAuthenticated = true`.

**Describe the solution you'd like**
We should always represent disc

[2018-12-31 04:44] felangel commented on #45
@thezjy thanks for raising this issue.

In the case of `AuthenticationState` I intentionally expressed it in that way because you actually can have `isLoading` be true and `isAuthenticated` be true at the same time.
That’s only true because of the way I’ve implemented the LoginFlow (isLoading is true when persisting the token or deleting the token from keystone/keychain). So when you press logout

[2018-12-31 06:43] thezjy commented on #45
Your reply totally makes sense. :) What about something like this:
[code]

The point is to make clear the **and** and *or* of state.

The problem of Enum is that in Dart Enum doesn't have associated value.

[2018-12-31 18:31] felangel commented on #45
Great suggestion! I’ll make the change shortly 👍

[2018-12-31 20:17] #45 closed

[2019-01-02 21:41] sestegra opened #47 "[Question] How to inject service instead of using UserRepository ?"
In flutter_login exemple, `UserRepository` creation is into `AppState` class.

If you need to use network service for authentication (e.g. firebase_auth), when writing tests, there is no easy way to mock `UserRepository` in the current implementation.

How to inject `UserRepository` in the current implementation ? with another Bloc ?

Let's assume the replacement of `UserRepository` by Firebase Au

[2019-01-02 23:00] felangel commented on #47
@sestegra I have updated the `flutter_login` example and documentation in order to make it possible to inject the `UserRepository`.

Please check out https://github.com/felangel/bloc/commit/62c9b6b3599d5d2755a3ca4556ef0f13cefeea24

Also, if you want to share the currentUser after login you can make your `FirebaseAuthentication` layer available throughout your entire application by creating a Provi

[2019-01-03 10:47] sestegra commented on #47
@felangel Thank you for your prompt answer.
it sounds good to me.

[2019-01-03 10:47] #47 closed

[2019-01-06 16:36] Feelthewind opened #48 "Is there any way not to override == and hashCode?"
Hi, author.
Do i have to override == and hashcode everytime i write state and event files?
If it's possible, could you give us some example for this too?
Thank you.

[2019-01-06 16:45] felangel commented on #48
@Feelthewind the default behavior for `==` in Dart is to return true if and only if the two objects are the same instance. So for this reason if you ever want to be able to write tests for equality of two events/states or use distinct/debounce in the transform method you will need to override == and hashcode.

https://www.dartlang.org/guides/language/effective-dart/design#do-override-hashcode-if-y

[2019-01-06 22:53] felangel commented on #48
Closing for now. Let me know if you have more questions and I’ll reopen it.

[2019-01-06 22:53] #48 closed

[2019-01-07 02:11] Feelthewind commented on #48
Oh Thank you for updating the login tutorial with equatable. I thought it was tedious to write code to compare objects and equatable seems to be good.

[2019-01-07 02:13] felangel commented on #48
No problem and thanks for bringing this up!

[2019-01-07 06:53] mbn18 opened #50 "Initiate new event of different bloc at transition"
**Is your feature request related to a problem? Please describe.**

I wish to listen to event like `startLocationService` and than init a new event/s (like log)

**Describe the solution you'd like**

I was thinking of mingling events at the `BlockSupervisor`. But given that, I just lately started with `dart` and `flutter` so I am not sure of anything.

[2019-01-07 09:43] Feelthewind opened #51 "Is there any way to get access to other state in mapEventToState method?"
Hi, I wonder if it's possible to access state of one bloc from another.
Redux has getState() and redux-thunk to get this to work. Thanks.

[2019-01-07 14:08] felangel commented on #51
@Feelthewind can you describe why you need to do this so I can better understand the use case?

Bloc has a property called `state` which returns a stream of states and it also has a `currentState`.

You can inject a bloc into another bloc if you really want to be able to do this but I can’t recommend any particular solution without more information about what you’re trying to accomplish.

[2019-01-07 14:14] Feelthewind commented on #51
Let's say i want to make an http request in one bloc using some state of another bloc. Actually i just wondered if it's possible like redux for now. Thank you for the reply.

[2019-01-07 14:14] felangel commented on #50
@mbn18 I would recommend injecting the stream of location events into your other bloc. That way you can listen for new events and dispatch whatever events you want in the other bloc.

`onTransition` was intended to be used for logging state changes and I don’t think you need to involve `BlocSupervisor` for this use case.

Let me know if that helps. I can try to put together an example app of how t

[2019-01-07 14:17] felangel commented on #51
No problem 👍

[2019-01-07 14:17] #51 closed

[2019-01-07 16:21] mbn18 commented on #50
Thanks for the idea, I think can do it.
Tough it might be a good idea to add to the docs instructions of how to bridge between blocs

[2019-01-07 17:19] felangel commented on #50
@mbn18 Great suggestion, I'll update the docs with an section for communication between blocs.

[2019-01-07 17:19] #50 closed

[2019-01-09 07:34] anderscheow opened #52 "Bad state: Cannot add new events after calling close"
I can't trace the issue on my code, not sure it's my code problem or the library

[code]

[2019-01-09 12:53] felangel commented on #52
I don’t think this stack trace is coming from the bloc library but in any case the problem is you are closing your stream and later trying to add to it.

Let me know if that helps.

[2019-01-10 00:14] felangel commented on #52
Closing this for now. Feel free to comment with more details and I will reopen it.

[2019-01-10 00:14] #52 closed

[2019-01-10 10:56] anderscheow commented on #52
Is it possible to determine whether the stream is closed before dispatching any event?

[2019-01-10 14:43] felangel commented on #52
No but why do you need to? The only way for the stream to be closed is if you called the bloc’s dispose method.

[2019-01-11 02:38] anderscheow commented on #52
I'm getting this error message probably due to some how the stream is closed while waiting some API to done, and once the API is done, it will dispatch an event and then causes this error

[2019-01-11 02:39] felangel commented on #52
How are you disposing the bloc?

[2019-01-11 02:44] anderscheow commented on #52
Sorry, I can't share my code for now. But I will try to explain.

I did not call any bloc's dispose() method. I got a TabBar with 3 tabs, each tab has it's own bloc. When I push to a new page from one of the tabs, sometimes the error triggered. But I've noticed that every time I pop from the new page back to the tab screen, the tab screen some how get rebuild.

[2019-01-11 02:46] felangel commented on #52
Are your blocs being created by a statefulwidget? They should be part of a statefulwidget so that they aren’t recreated on rebuilds.

[2019-01-11 02:49] anderscheow commented on #52
My blocs are final in StatefulWidget

[2019-01-11 02:50] felangel commented on #52
Is it possible to create a simplified version that illustrates the problem? It would make it much easier to help you.

[2019-01-11 02:52] anderscheow commented on #52
I will try to construct an example to determine whether the issue will occur. If it doesn't, it might be indicate problem on my code otherwise I will give you the example

[2019-01-11 02:53] felangel commented on #52
Perfect, thanks!

[2019-01-11 02:54] anderscheow commented on #52
One question, does the final bloc not dispose until the dispose() method is called although the StatefulWidget rebuild?

[2019-01-11 02:55] felangel commented on #52
Yup, you need to override dispose in the statefulwidget and call the bloc’s dispose.

[2019-01-11 02:55] anderscheow commented on #52
Alright thanks! I'll give it a shot.

[2019-01-13 09:55] 5turman opened #56 "Why does BlocProvider extend StatefulWidget instead of StatelessWidget?"
*_BlocProviderState* doesn't dispose BLoC in *dispose* method, so I don't see the reason why BlocProvider does extend StatefulWidget.

[2019-01-13 16:09] felangel commented on #56
@5turman thanks for bringing this up and it used to be a StatelessWidget but must have accidentally been changed at some point. I’ll try to have this change in by the end of the day.

[2019-01-13 19:36] felangel commented on #56
Merged in #57 and published as flutter_bloc v0.5.1

[2019-01-13 19:36] #56 closed

[2019-01-14 09:01] AlexandreRoba opened #58 "@override Transfom with different debounce"
Hi all, Thanks for this framwork. It is clear and simple :)

I have a question. how would you recommend to implement different Debounce on the stream input in the transform bloc method. immagine A have a input test field for search -> debounce 500ms but a submit button -> No debounce?

Again thanks for this great work.

[2019-01-14 12:37] felangel commented on #58
Hey, thanks so much!

Have you had a chance to look at https://github.com/felangel/bloc/issues/19?

Let me know if that helps. 👍

[2019-01-14 20:01] QoLTech opened #59 "mapEventToState not called if dispatched events quickly"
Just wondering if anyone has run into an issue where calling dispatch multiple times in quick succession results in mapEventToState not being called?

I have a listener on a socket and when it gets fired, it does _messageBloc.dispatch(MessageReceived(name: name, body: body));

I can print the contents of the message in the listener, but my print statement in mapEventToState only usually gets calle

[2019-01-14 21:13] #58 closed

[2019-01-14 22:49] felangel commented on #59
@QoLTech thanks for reporting this!

Can you please put together a super simple app that exhibits this behavior?

[2019-01-15 16:10] QoLTech commented on #59
I've got my code that I'm currently working on here. It's slightly more complicated than a sample app, but I can easily reproduce the error.

After building and running, just hit connect and after connecting, you'll be on the messaging page. You'll have to use https://worldviewsignalrmessaging.azurewebsites.net/ to send messages. To reproduce, I just rapidly send messages with a single digit (1-9)

[2019-01-16 23:34] felangel commented on #59
@QoLTech I finally had a chance to take a look and the reason why this is happening is because you are overriding `transform` in the `MessageBloc` and debouncing. If you remove the `transform` override it will work as you expect.

[2019-01-16 23:36] felangel commented on #59
In addition, I noticed that you have your own `bloc_builder` and `bloc_provider`. I'm not sure if this is intentional but if you want you can add `flutter_bloc` to your dependencies and you'll have access to `BlocBuilder` and `BlocProvider` without needed to copy the code into your own project.

[2019-01-16 23:36] #59 closed

[2019-01-17 17:05] QoLTech commented on #59
That's great, thank you. Could you explain or link me to an explanation of how debouncing works?

Yes, I didn't realize that package was also on pub. I will make sure to add it as a dependency, rather than copy it into my own projects.

[2019-01-18 05:13] felangel commented on #59
@QoLTech you can learn about denounce [here](
http://reactivex.io/documentation/operators/debounce.html).

Let me know if you have any other questions. 👍

[2019-01-18 05:38] QoLTech commented on #59
At first I thought the time had something to do with it, but couldn't figure out what exactly. Can I ask what the benfit of something like this is? If a button gets tapped in quick succession? If so, why do it this way rather than checking the dispatched events for equality?

[2019-01-18 05:44] felangel commented on #59
@QoLTech it’s useful if you’re implementing something like a search and you don’t want to make a network request after every key press because it will put unnecessary load on the backend.

You can debounce with a duration of something like 500 milliseconds and events that are dispatched less than 500 milliseconds apart won’t be processed. This allows you to only hit your backend after a user has s

[2019-01-18 15:48] QoLTech commented on #59
That's great, thank you.

[2019-01-18 15:53] QoLTech opened #63 "How would I use Navigator with this?"
For example, I have a button that would normally have the Navigator call in the onPressed. Using this Bloc pattern, I would dispatch that button click event and then what? What runs the Navigator call?

[2019-01-19 03:14] felangel commented on #63
@QoLTech if navigation is the only thing happening on a button press, I wouldn't use a Bloc at all because Navigation is not business logic and should be done by the UI layer.

If you have business logic on a button press and need to navigate based on some dynamic information then I would do the navigation again in the presentation layer (widget) in response to a success state like:

[code]

At th

[2019-01-19 03:14] #63 closed

[2019-01-19 03:17] QoLTech commented on #63
@felangel That's great, just needed clarification. Thanks for all the help.

This is an amazing package, keep it up!

[2019-01-19 03:18] felangel commented on #63
@QoLTech No problem and thanks! 💯

[2019-01-19 07:55] MohsinN commented on #52
Hi,

Firstly, really great work with the library!

I am facing the same error but the reason i believe is not the framework but flutter itself. After Material page route, all the pages on the stack are re built. Issue for reference [https://github.com/flutter/flutter/issues/14124](#14124). Dont know the ETA for the fix.

Streams are closed properly on navigation when on onDispose is called.  But w

[2019-01-19 17:05] felangel commented on #52
Hi @MohsinN thanks for the positive feedback! 👍

I looked at the issues you linked and it seems like the flutter team does not view that behavior as a bug (a widget should be able to be rebuilt every frame).

It would be really helpful if you can provide me with a simple flutter app which illustrates the problem.

[2019-01-20 13:56] SaMiCoOo commented on #63
Can anyone provide a complete example on this, because when I tried this

[code]

The app goes into infinite loop repeating the BlocBuilder **builder** function as well as the Navigator **push** function, if you need more info about the app please do tell, I am stuck with this.

[code]

I know the first guess is that I am pushing new states to the Bloc, but I debugged the App, and it never hits th

[2019-01-20 16:52] felangel commented on #63
@SaMiCoOo this is happening because when navigate flutter is likely rebuilding the `PhoneLoginForm` and since the state hasn't changed it keep pushing new routes over and over again.

In order to avoid this behavior I would recommend dispatching an event to reset the state before the navigation occurs.

Something like:
[code]

If you are able to share the full source I can help you suggest ways to

[2019-01-22 06:52] omuomugin opened #64 "[Question] 1 Event with multiple update on State"
Hi,
thanks for the great work on this bloc library (or maybe framework).

I'm now trying to follow the instruction on [your tutorial](https://felangel.github.io/bloc/#/flutterinfinitelisttutorial) and I had a question.

So , is there way to update state multiple time with single event?
In other words is there way to behave as hot stream (or Observable) ?

For example on tutorial, I was wondering h

[2019-01-22 07:45] omuomugin commented on #64
After opening this issue, I kind a understood how to do this so I will comment my opinion.
I'm pleased to have comment from @felangel.

I guess this framework is inspired by redux and redux has middleware to do this kind of things.
But not for bloc.
But the basis is state management with incoming event and current state (just like Reducer), so the transition like  `(Fetch, PostLoaded) -> (Fetch, P

[2019-01-22 12:20] omuomugin commented on #64
I managed to this by using 2 bloc from 1 widget.
1 for managing the state `network loading ` and another for managing the `post`

The problem was kind of solved but in case if you have any comments on this I'll let this issue open.

[2019-01-22 14:22] felangel commented on #64
@omuomugin you can do this with a single bloc by yielding a loading state before making a network request.

[code]

This code snippet is taken directly from the login tutorial which can be found at
https://felangel.github.io/bloc/#/flutterlogintutorial?id=login-bloc.

Hope that helps!

[2019-01-22 18:31] #64 closed

[2019-01-23 00:31] omuomugin commented on #64
Oh, this is what exactly what I wanted :)
Thanks

[2019-01-24 12:36] rowanwork opened #65 "Can BlocBuilder be used with multiple blocs?"
Using flutter_bloc 0.5.2

At the top level of my app I have a custom `BlocProvider` which is very similar to yours, but gives me access to two of my blocs (i) `AppDataBloc` (ii) `AnalyticsBloc`.

My view is wrapped in your `BlockBuilder` and it passes in the main `AppDataBloc` bloc as the `bloc` parameter.

Inside my view it uses `AppDataBloc` to load initial data and on scrolling (infinite scroll

[2019-01-24 14:06] felangel commented on #65
@rowanwork you should definitely be able to dispatch events to as many blocs as you want.

Is your AnalyticsBloc overriding transform and denouncing? If so, remove the transform override altogether and you should get the behavior you are expecting.

Let me know if that helps.

[2019-01-24 18:57] ohenley opened #66 "Proposition for some improvements over the examples"
First, I want to thank you for your great job. Nevertheless I want to share my experience trying to learn from you example projects.

1. A get package over pubspec.yaml inside flutter_github_search outputs:
Because every version of flutter_test from sdk depends on meta 1.1.6 and every version of common_github_search from path depends on meta ^1.1.7, flutter_test from sdk is incompatible with commo

[2019-01-24 19:09] ohenley opened #67 "Help needed (BlocBuilder builder method executes with state == null.)"
Hi!

I am trying to trigger an event that in turn makes a network REST call, and finally, render a widget injected by the response data.

I am trying to dispatch my event in the build() method of an extended State class of a StatefulWidget.

1. My BlocBuilder builder method executes right away with a state == null.
2. Then my mapEventToState is executed, make the network call, get the results back

[2019-01-24 19:22] ohenley commented on #67
fixed it. Commenting in case someone shares the trouble.

I was doing:
@override
  MyState get initialState => null;

Things started to work when I did:
@override
  MyState get initialState => MyStateEmpty(); (check the github search example)

[2019-01-24 19:22] #67 closed

[2019-01-24 23:14] felangel commented on #65
@rowanwork closing for now but feel free to let me know if you're still having trouble and I'll reopen this.

[2019-01-24 23:14] #65 closed

[2019-01-25 01:11] ohenley commented on #66
Hi @felangel.

Concerning the new readme:
... still some hiccups ...
a) using the terminal inside VSC on windows the && are no recognized by PowerShell. I went further using the git bash windows prompt because here they work.
b) when you have the flutter sdk, 'pub' is not recognized (dart only?). I tried 'flutter pub' instead and it worked... I think, because I have no way to know if all the deps

[2019-01-25 04:57] felangel commented on #66
Hey @ohenley I just updated the README again based on your comments. I think you should try installing the Dart SDK in addition to Flutter and try again. The fact that `package:common_github_search` is not being found means that either the `pub get` in `common_github_search` isn't working properly or the `flutter packages get` in `flutter_github_search` isn't succeeding.

Can you confirm that both

[2019-01-25 06:06] felangel commented on #63
@SaMiCoOo sorry for the delayed response! I took a look at your gist and what you've done is totally fine however if there is literally no business logic happening in response to the `PhoneLoginCodeSent` event then there's no point to have to go through the bloc.

I would just do the navigation in response to the user input without a bloc and then you no longer have to worry about navigating and r

[2019-01-25 20:03] ohenley commented on #66
1) Using windows cmd, everything works. With an Android device plugged in, 'flutter run' launches np.

2) The project dependencies inside VSC are still 'mayhem'. I cannot resolve eg:
import 'package:common_github_search/common_github_search.dart'

Like can be seen in the screenshot, If I start typing 'package:common I am offered package:common_github_search but not the associated dart file needed.

[2019-01-27 11:46] rowanwork commented on #65
My main `AppDataBloc` had a debounce, but I have removed this an it doesn't make a difference. It seems to be more pronounced when running in "hot reload" via VS Code, could this be interfering with it?

[2019-01-27 15:54] felangel commented on #65
@rowanwork there must be some other problem. Hot reload should have no impact. Are you able to share the code?

[2019-01-28 00:31] realtebo opened #74 "Doc request: How to use bloc across pages?"
Let's extended counter example, where all is working well.

Imagine I add a thir fab action that uses navigator.pushReplacement to navigate a different page.

The destination page needs to see counter value.

How to?

[2019-01-28 00:35] felangel commented on #74
@realtebo you can achieve that by using `BlocProvider` to access the `CounterBloc` using the `BuildContext.

[code]

Does that help?

[2019-01-28 00:39] realtebo commented on #74
I was following this approach by myself, but I get

[code]

[2019-01-28 00:41] felangel commented on #74
If you want your Bloc to be accessible globally (across different routes) you need to make sure that the `BlocProvider` is an ancestor of the `MaterialApp` widget.

[code]

[2019-01-28 00:59] felangel commented on #74
You need to provide a `heroTag` for each of the `FloatingActionButton` widgets.

Change `counter_page.dart` to:

[code]

[2019-01-28 01:06] realtebo commented on #74
Oh yes, now it works. A final question, I hope:

In the other page I need block builder only If I must dispatch events, right?

So I can simply have

[code]

Right?

If this is almost all, your plugin is the most flexible at the minor code rows cost.

[2019-01-28 01:12] felangel commented on #74
You only need `BlocBuilder` if you want to be able to render different widgets in response to different states.

Think of `BlocBuilder` like `StreamBuilder`; whenever the Bloc's state changes, the builder function will be called with the new state (in this case the integer) and you can render whatever you want.

You don't need `BlocBuilder` to dispatch events; in order to dispatch you just need to

[2019-01-28 01:40] felangel commented on #74
Closing this for now. Feel free to comment if you have any more questions!

[2019-01-28 01:40] #74 closed

[2019-01-28 01:44] programadorthi opened #75 "BlocBuilder builder function not called after pushReplacementNamed"
**Describe the bug**
Using the Login tutorial, after navigate to another page using pushReplacementNamed, the _AppState BlocBuilder builder function was not called when I dispatch a new state from the new Page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Page and put a button to dispatch `authenticationBloc.dispatch(LoggedOut());` using the global AuthenticationBloc;
2. From

[2019-01-28 01:55] felangel commented on #75
This is because you are pushing a replacement so you are replacing the entire app with your new page and there is no _RootPage widget to be built.

[2019-01-28 02:02] programadorthi commented on #75
So, how do I avoid this? I already have put whole MaterialApp in the builder function but it doesn't work.

I have used the listen function to avoid BlocBuilder but without success.

[2019-01-28 02:14] felangel commented on #75
I'm not sure I understand exactly what you want but you can do something like:

[code]

[2019-01-28 02:40] felangel commented on #75
You can't use `pushReplacement` because, like I said, it will replace everything you currently had rendered with your new Route so then the changes in `AuthenticationState` will have no impact.

To achieve what you want you can modify the above code to:

[code]

[2019-01-28 11:08] realtebo opened #76 "Doc bug: Constant constructor can't call non-constant super constructor of 'Equatable"
At page:

https://felangel.github.io/bloc/#/flutterinfinitelisttutorial?id=data-model

The syntax

      const Post({this.id, this.title, this.body}) : super([id, title, body]);

looks like no more valid, it throws 2 errors

and

It seems fixable as

    Post({this.id, this.title, this.body}) : super([id, title, body]);

But I don't know if removing leading `const` changes the behaviours. If add

[2019-01-28 11:28] realtebo opened #77 "Doc bug: import path is wrong"
Here: https://felangel.github.io/bloc/#/flutterinfinitelisttutorial?id=post-states

The import

    import 'package:flutter_infinite_list/models/models.dart';

is wrong becausse at Data Model section we create `post.dart `and not `models/models.dart`.

_If I am not wrong_.

Sorry for annoying you with this issues.

[2019-01-28 14:01] rowanwork commented on #65
I can't share the code as this stage. I will try to reduce it to a simple example which exhibits the same behaviour.

[2019-01-28 14:20] felangel commented on #77
It’s not wrong I just didn’t want to make the tutorial cumbersome and tell you how to structure you application. I was more focused on the content. If you look at the full source code (link at the end of the tutorial) you’ll see there is a models directory etc. I just didn’t think it’d be valuable to add in a bunch of text telling you to create directories.

If you think it’s confusing or think it

[2019-01-28 14:21] felangel commented on #76
Good catch! I must’ve missed it. The correct syntax is without the const and I’ll update the docs shortly. 👍

[2019-01-28 14:26] m7mdra opened #78 "Delay when dispatching event"
i wrote an example of github search api (similar to your example provided) just to get familiar with the idea of bloc and i found that when events are sent in delays which leads to inconstant behaviour.
here is my implementation of the bloc class
[code]
here the ui implementation

[code]

and here is the log with timestamp between each event

[code]
idk if im doing something wrong but everything s

[2019-01-28 14:31] felangel commented on #78
Thanks for opening an issue. Can you please be a bit more specific about what you expected as opposed to what you observed?

Transitions occur after a state change but before the blocs state is updated. The reason there is a delay is because your code is dependent on a network request so the transition won’t occur until after the github api responds with data for the success state.

Does that help

[2019-01-28 14:40] felangel commented on #77
Okay I’ll make those updates. 👍

[2019-01-28 14:46] #76 closed

[2019-01-28 14:58] #77 closed

[2019-01-28 15:03] felangel commented on #78
@m7mdra thanks for the video! Have you tried debouncing because it seems like the problem is your app is spamming the api on every text change.

[code]

Let me know if that helps.

[2019-01-28 15:19] m7mdra commented on #78
@felangel yes its working now. thanks for your time.

[2019-01-28 15:34] felangel commented on #78
No problem :) Glad I could help!

[2019-01-28 15:34] #78 closed

[2019-01-29 10:18] realtebo commented on #74
Sorry, I'm here again. I'm playing with your plugins !

I understand that I can have a BlockProvider as ancestor of MaterialApp, so I can share the bloc between pages without loosing states.

My question now is how to use a bloc provider wth 2 blocs, should I nest it?

[2019-01-29 10:50] realtebo commented on #74
Could it be a good solution ?
https://medium.com/@danaya/multiple-blocs-in-flutter-and-how-to-communicate-between-them-e441282dc62a

Combine multiple blocs?  Like in react, combining reducers, where it allows me to splice state but with ease of handling.

[2019-01-29 13:18] wallace80 opened #81 "Missing ")" in fluttercountertutorial.md"
The missing ")" on line 88 in the tutorial makes the example not compile

**To Reproduce**
1. Copy the source code from the tutorial to and IDE

**Expected behavior**
The example should compile

[2019-01-29 15:51] #81 closed

[2019-01-29 18:42] hipimy opened #83 "Using landing page before login page, state update but page not redirected"
Based on original example for not authorize user will see a login page, but i did little bit modified instead of not authenticate user will see a landing page. User now pick button option for login (consist many option for login email/google/etc) then it will open login page. The problem is after login success the page still at login page not redirected to authenticate page i set. Only work if i c

[2019-01-29 19:16] felangel commented on #83
@hipimy Hello! Can you please share the full source code so that I am better able to understand the issue?

[2019-01-29 19:34] hipimy commented on #83
` class App extends StatefulWidget {
  final UserRepository userRepository;

  App({Key key, @required this.userRepository}) : super(key: key);

  @override
  State<App> createState() => _AppState();
}
class _AppState extends State<App> {
  AuthenticationBloc authenticationBloc;
  UserRepository get userRepository => widget.userRepository;

  @override
  void initState() {
    authenticationBloc =

[2019-01-29 22:47] felangel commented on #83
@hipimy the problem is you are pushing the LoginPage on top of the navigation stack so the App widget is underneath. When you dispatch LoggedIn you need to execute `Navigator.pop(context)`.

Hope that helps!

[2019-01-29 23:04] felangel commented on #74
@realtebo you can do either one. Nesting `BlocProviders` is perfectly fine and if you want for convenience you can combine Blocs. I would slightly advise against combining blocs because it is less flexible but it's totally up to you.

[2019-01-30 02:16] programadorthi opened #84 "[Question] Why did you change from StatefullWidget to InheritedWidget?"
Hi, I saw that you have changed from StatefulWidget to InheritedWidget because you haven't implemented the dispose method. [#57](https://github.com/felangel/bloc/pull/57)

Why did you change from stateful to inherited if you could implement dispose method as the Didier version?
https://www.didierboelens.com/2018/12/reactive-programming---streams---bloc---practical-use-cases/

The Didier approach i

[2019-01-30 02:21] felangel commented on #84
@programadorthi I changed to InheritedWidget because it's more performant. `ancestorWidgetOfExactType` is O(n) vs `ancestorInheritedElementForWidgetOfExactType` which is O(1).

In addition, I don't think it makes sense to automatically dispose the bloc for you because it would be making lots of assumptions about whether or not the bloc is being used in other parts of the application. I wanted the

[2019-01-30 02:37] programadorthi commented on #84
Yes, his new version in the link has changed to use `ancestorInheritedElementForWidgetOfExactType` too. I agree with you about full control over the Blocs, but in general and using Bloc pattern, we dispose blocs using dispose method in the StatefulWidget State. And when we use a global bloc its dispose is not called until the whole app or parent page is removed from navigation.

So, IMHO and follo

[2019-01-30 02:46] felangel commented on #84
Yes that's true for a global bloc but using a BlocProvider does not make the bloc global. It's only global if the BlocProvider is an ancestor of `MaterialApp`.

Hope that makes sense and thanks for the positive feedback! 👍

[2019-01-30 02:46] #84 closed

[2019-01-30 02:57] felangel commented on #83
Closing this for now but feel free to comment and I'll reopen it 👍

[2019-01-30 02:57] #83 closed

[2019-01-31 08:42] gedw99 opened #85 "Generator"
**Is your feature request related to a problem? Please describe.**
The way this works is pretty cool.
For large apps you end up with alot of code to maintain and i was thinking about a generator to help.

**Describe the solution you'd like**
There is a bloc generator here and its pretty nice.
https://github.com/CallumIddon/bloc_generator

**Describe alternatives you've considered**
A clear and con

[2019-01-31 14:37] felangel commented on #85
@gedw99 thanks for bringing this up! I’m curious to understand what boilerplate you are referring to because I have been working on a number of things to reduce boilerplate without the need for a generator (extensions and equatable).

[2019-02-01 13:00] felangel commented on #85
Closing this for now but I would love to hear more details if you have time.

[2019-02-01 13:00] #85 closed

[2019-02-01 14:32] gedw99 commented on #85
hey @felangel
You might be totally right in that no boiler plate ( or not much ) is needed with your bloc.
I can see its merits thats for sure, compare to redux mania..

I have started looking into hydration of the bloc and other things to extend from the current functionality.
https://github.com/lukepighetti/hydrated
This would mean that if the user opens the app with no internet then everything

[2019-02-01 18:37] ScrivNetwork opened #86 "RefreshIndicator with bloc example"
Can you show how it use with RefreshIndicator?

[2019-02-01 18:37] ScrivNetwork commented on #86
1

[2019-02-02 01:54] felangel commented on #86
Sure ill put together an example this weekend. 👍

[2019-02-02 17:55] felangel commented on #85
Hey @gedw99 thanks for the positive feedback!

I'll try to put together a roadmap for the library and will link to it as soon as it's done 👍(hopefully later today)

In terms of hydration and supporting offline, I don't think doing it at the bloc level is the right place. I think caching/offline support should be done by the data/repository layer of the application and the blocs would have no clue

[2019-02-02 23:58] felangel opened #87 "Make dispatch awaitable"
**Is your feature request related to a problem? Please describe.**
#86

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Using `Completer` within the application code

[2019-02-03 20:39] felangel commented on #86
I created a Flutter Weather app and used the `RefreshIndicator` to address your request.
You can check it out [here](https://github.com/felangel/bloc/tree/master/examples/flutter_weather). 👍

[2019-02-03 20:39] #86 closed

[2019-02-04 00:37] shawnchan2014 opened #89 "Should one bloc handle different types of events?"
Hi Felix, I am currently learning bloc and have a question regarding the practice of using bloc. My question is that should one bloc handle different types of events?

For example, I have several CRUD operations to my database. So the events could be loading posts, adding posts, upvoting, adding comments, etc. These events could have corresponding states like LoadPostsSuccess/Failure, AddPostSucce

[2019-02-04 16:01] felangel commented on #89
Hi @shawnchan2014!

First of all, thanks for checking out the bloc packages and great question!

In order to answer your question I think I need to clarify a couple of concepts.
1. Blocs are responsible to converting Events (usually UI Events like button pressed) to States (usually UI states).
2. Blocs are not directly responsible for CRUD operations/data retrieval (usually that type of this shoul

[2019-02-04 17:54] shawnchan2014 commented on #89
Hi @felangel,

Thank you for your explanation! If I understand correctly, what you mean is to maintain the posts as the state and let PostBloc handle its changes, right? So each time an event like InitialializingPosts, CreatePostButtonPressed, or PostUpvotePressed is triggered, the PostBloc will return the updated list of posts in the Success state.

My question is that if I handle all the events

[2019-02-04 18:07] felangel commented on #89
@shawnchan2014 Yes, you are correct in your understanding!

If you want to separate your application like you described then I'd recommend having a `PostsListBloc`, `CreatePostBloc`, `PostCommentBloc` to separate the state as you described.

In general, if you have different states you should maintain different blocs.

It's important to note that the CRUD database operations should not be in the b

[2019-02-04 18:13] shawnchan2014 commented on #89
Hi @felangel, thank you! I understand it now. About the CRUD database operations, I know I should put it in the data provider and wrap it in the repository layer. I think my wording in the question might cause some ambiguity. But still, thank you for reminding me!

[2019-02-04 18:16] felangel commented on #89
Awesome! Glad I could help 😄

[2019-02-04 18:16] #89 closed

[2019-02-06 11:48] eloypastor opened #93 "Example of working with complex State objects in angular_bloc"
Hi! Can you show me how to bind the state object in HTML file? In the `angular_counter_example` the state is a simple `int` and you bind this state to view like this:

[code]

If my state seems like this:

[code]

How can I work with this state in HTML view? Is necesary to use the BlocPipe?

Thanks!

[2019-02-06 14:43] felangel commented on #93
Have you taken a look at the GithubSearch example. In that one, we have blocs that are shared between flutter and angular.

Check out https://felangel.github.io/bloc/#/flutterangulargithubsearch

I think it is exactly what you’re looking for because it shows how to implement the same components using the same blocs in flutter vs angular.

Let me know if that helps!

[2019-02-06 16:32] eloypastor commented on #93
Yes! This example helps me!

[code]

This is what i'm looking for.

Thanks!

[2019-02-06 16:51] felangel commented on #93
No problem 👍
Glad I was able to help!

[2019-02-06 16:51] #93 closed

[2019-02-07 00:20] DJafari opened #94 "listen to state out of build"
i have a question

i want listen to state, and doing something with new state
for example i want listen to `AuthenticationState`, when is `AuthenticationAuthenticated` i want after 3 seconds push to new page, how can achieve to this ?

thanks

[2019-02-07 00:39] felangel commented on #94
Hello! 👋

You can either use a BlocBuilder in flutter_bloc or in pure dart you can do bloc.state.listen to react to state changes.

Does that help answer your question?

[2019-02-07 00:47] DJafari commented on #94
@felangel oh thanks,
just another question
i use `dio` to http requests, is possible use interceptor to catch 403 errors, if occurred, dispatch `LoggedOut` event to app that push my route to login route ?

(sorry for my bad english, I hope you understand my conversation(

[2019-02-07 00:49] felangel commented on #94
Yeah you can definitely do that! You’ll just need to inject the bloc into your http interceptor and dispatch the event (like you said). If you have a code snippet that isn’t working I’d be happy to take a look but you have the right idea 👍

[2019-02-07 00:50] DJafari commented on #94
i think because i don't have context in interceptor, i can't inject AuthenticationBloc

[2019-02-07 00:51] felangel commented on #94
You can directly inject the bloc via the constructor. You’re right that you can’t use BlocProvider without a BuildContext.

[2019-02-07 01:09] DJafari commented on #94
i found that

[code]

[2019-02-07 01:10] #94 closed

[2019-02-07 01:11] felangel commented on #94
I think you can override the behavior of the hardware back button on android. I’m pretty sure there are some plugins that help with that.

[2019-02-07 02:43] DJafari commented on #94
@felangel i faced with a problem

where does i must listen to authentication state ?
i have something :

[code]

but when state is `AuthenticationUnauthenticated`, i give this error :

[code]

i tested it inside `BlocProvider` but any success

[2019-02-07 02:49] felangel commented on #94
You need to do that within your `MaterialApp` widget. I would try moving that logic to the onInit override in your primary app component under `MaterialApp`.

[2019-02-07 02:54] DJafari commented on #94
sorry my application not exist in git

currently i have this app :

[code]

my login page is `SplashPage()` i want listen state in app, when state is `AuthenticationUnauthenticated` push `/`

[2019-02-07 02:56] felangel commented on #94
Out of curiosity have you looked at the Login Flow example [here](https://felangel.github.io/bloc/#/flutterlogintutorial)?

[2019-02-07 02:58] DJafari commented on #94
yeah, but my design is different
in my splash page, i have 2 button
login with email
login with phone number

if token set, buttons hides, and waiting for fetch user from api, when fetch successful i pushed route to `/home`

[2019-02-07 03:00] felangel commented on #94
that's very similar except in your example you are pushing a new route as opposed to in the example I sent we use `BlocBuilder` and rebuild based on the `AuthenticationState`. Is there a reason you don't take a similar approach instead of pushing a route?

[2019-02-07 03:04] DJafari commented on #94
on of biggest problem is `animating` 😁
for example changing home page with login page is not smooth

[2019-02-07 03:05] felangel commented on #94
Ah okay. Have you checked this out? https://github.com/felangel/bloc/issues/18

[2019-02-07 03:09] DJafari commented on #94
@felangel i will look into
big thanks

[2019-02-07 06:17] shawnchan2014 opened #95 "Getting Data from Bloc"
Hi @felangel,

I have a question regarding getting data from the bloc. I have a `PostListBloc` which accept an event `LoadPostsRequested` and yield states like `LoadPostsSuccess`, `LoadPostsFailure`, etc. I know I can get the `postList` from the repository and pass to the presentation layer via the `LoadPostsSuccess` state. However, since I want to keep the list of posts shown in the presentation

[2019-02-07 06:27] felangel commented on #95
Hi @shawnchan2014 I think if you need to know what the list of posts is in the failure state as well as in the success state, I would recommend the base `PostState` class to contain the list of posts so that you always have access to that data regardless of the current state. The nice thing about bloc is that it has no opinion about how to represent states and events so you have full control to ch

[2019-02-07 06:57] shawnchan2014 commented on #95
Thank you for your response! So you mean either approach is OK with bloc right?

I am still trying and testing both approaches (both work for now). I will let you know if I have any further findings!

[2019-02-07 07:06] felangel commented on #95
Yeah I think either approach is ok because at the end of the day the goal is to have business logic separated from presentation and have the business logic be easy to test and reuse.

Both approaches meet that definition so I would recommend you try out each and come back and share your findings so that others can benefit from them 👍

Again, great question and I look forward to hearing about which

[2019-02-07 07:06] #95 closed

[2019-02-08 11:26] lambasoft commented on #15
Any news about @ThinkDigitalRepair solution? I'm currently having the same problem as OP

[2019-02-08 15:37] felangel commented on #15
As far as I know it’s not possible to do this without significant performance implications. What is the problem exactly? There’s nothing wrong with having multiple bloc providers.

[2019-02-08 19:56] ThinkDigitalRepair commented on #15
The fact that it's not an optimal solution for people wanting the same level blocs. It's clunky to have 3 widgets nested right after each other to achieve a different effect.

[2019-02-08 19:58] ThinkDigitalRepair commented on #15
I'm in favor of having it as a second, lesser used option and let the user deal with the performance hit if they so choose. It beats someone else creating a separate package just for that singular widget.

[2019-02-08 19:58] felangel commented on #15
Flutter is all about composition of widgets so I don’t really think it’s any different than other aspects of flutter. You can always create a statelesswidget wrapper around all the top level bloc providers

[2019-02-08 20:00] ThinkDigitalRepair commented on #15
What do you mean?

On Fri, Feb 8, 2019, 11:58 AM Felix Angelov <notifications@github.com>
wrote:

[2019-02-09 16:26] felangel commented on #15
I mean you can always do something like:

[code]

And then use just `GlobalBlocs` as a widget.

Also, I think it would be useful for you to read the official state management docs on flutter.io around using ScopedModel https://flutter.io/docs/development/data-and-backend/state-mgmt/simple

"The scoped_model package relies on types to find the right model, and the <CartModel> part makes it clear wh

[2019-02-10 19:01] alefcarlos opened #96 "flutter_infinite_list bug with MaterialPageRoute"
**Describe the bug**
There's a bug with MaterialPageRoute that makes the build method called every time.

If we have **no** posts, we could not be able to reftech them, because in the second time **hasReachedMax** wil be true.

**This is not a flutter_bloc bug, but i though it was good to warm.**

these issues can add information:

[flutter/flutter#14124](https://github.com/flutter/flutter/issues/

[2019-02-10 19:07] felangel commented on #96
Thanks for reporting this however I don’t think it’s a flutter bug because we should build widgets so that they can be rebuilt every frame. Can you share your code and I can help you find a solution?

[2019-02-10 19:11] alefcarlos commented on #96
Yes! My [repo](https://github.com/alefcarlos/colecao_bolso_app/tree/bloc-pattern) has a branch that i'm refactoring it using BLoC.

[2019-02-10 19:13] felangel commented on #96
Awesome! I’ll take a look in the next few hours and might open a PR if that okay?

[2019-02-10 19:17] alefcarlos commented on #96
You're welcome ! Thank you !
My app is in Portuguese, but it has a demo gif explaing it.

[2019-02-10 21:37] felangel commented on #96
@alefcarlos so I started to take a look and I'm unsure how to reproduce the case where you have no posts. Can you please tell me the steps to reproduce? Thanks!

[2019-02-10 21:41] alefcarlos commented on #96
@felangel , in my case it's Collections.

in collections/collections_services:

[code]

Application.collections is list of List<Collection>.

I'm not using web api  for now, so it all in memory.

When you open the app the list is empty, so you need to create a new Collection tapping the fab button in home. And when you save the last inserted one will not be in the list.

[2019-02-10 21:43] felangel commented on #96
@alefcarlos I have created a new Collection and see the 4 items and am not sure what to do after that. Can you send me a video of steps to reproduce the problem? Sorry but I don't understand Portuguese 😝

[2019-02-10 21:49] alefcarlos commented on #96
Of course !

You must be in the **bloc_pattern** branch.

![bug_flutter](https://user-images.githubusercontent.com/5452336/52540087-c6690500-2d6c-11e9-868a-261685457035.gif)

In the fancy_fab.dart i have this code below:

[code]

[2019-02-10 22:01] alefcarlos commented on #96
I put more logs:

![bug_flutter](https://user-images.githubusercontent.com/5452336/52540233-89057700-2d6e-11e9-85a5-58dcd757bba3.gif)

You can see, every time i taped the text:

1. CollectionsFetchEvent from collectionsHandler
2. mapEventToState Instance of 'CollectionsFetchEvent'

[2019-02-10 22:04] felangel commented on #96
That seems like it could be an issue with Fluro and I'm not very familiar with it to be honest but give me a few more mins to see if I can figure out how to fix that.

[2019-02-10 22:06] alefcarlos commented on #96
If you look [this ](https://github.com/theyakka/fluro/issues/57)issue  and [this](https://github.com/flutter/flutter/issues/14124) , you will se the same problem. Even without Fluro.

[2019-02-10 22:15] felangel commented on #96
Take a look at that branch https://github.com/alefcarlos/colecao_bolso_app/pull/2/files.

I just moved the dispatch out of the router and into the stateful widget

[2019-02-10 22:22] felangel commented on #96
It seems like the only problem now is you don't update `hasReachedMax` in your bloc so you always show the bottom loader.

[2019-02-10 22:22] alefcarlos commented on #96
I got it, I will refactor the others. But i did not understand why.

[2019-02-10 22:23] felangel commented on #96
What part did you not understand?

[2019-02-10 22:24] alefcarlos commented on #96
I just moved the dispatch out of the router and into the StatefulWidget.

[2019-02-10 22:26] felangel commented on #96
In general, I would not mix blocs with navigation/routing because blocs should only deal with business logic and navigation is presentation logic. In addition, you lose the ability to reuse your blocs across AngularDart and Flutter if the bloc is tightly coupled with the navigation.

Again, I'm not very familiar with Fluro, but I suspect that before when you were dispatching from the route handler

[2019-02-10 22:28] alefcarlos commented on #96
Helps a lot hahahaha

Thank you very much !

Sorry to bother you.

[2019-02-10 22:31] felangel commented on #96
No problem! Happy to help 👍

If you have any other questions, don't hesitate to ask!

Not sure if you checked out the [gitter](https://gitter.im/bloc_package/Lobby) but for random questions/discussions you can post there and I'm generally pretty good about responding quickly.

Thanks!

[2019-02-10 22:31] #96 closed

[2019-02-14 02:38] john1452 commented on #50
Hi @felangel, Thank you for this awesome library.

Do you have an example on communicating between blocs? I have a case where I want to read application setting from a Json file.

Currently I am  reading the json file and loading content into a static variable inside the main.dart widget. example below.

I am wondering if it will be a good solution to create another bloc called ApplicationSettingB

[2019-02-14 02:44] felangel commented on #50
@john1452 thanks for the positive feedback!

Regarding your question, in my opinion there's nothing wrong with your `ApplicationSettingsBloc` having a dependency on an `ApplicationSettingsService` and calling `load`.

You can access the streams of state for a given bloc using `Bloc.state` and listen for changes by using `Bloc.state.listen` (or `BlocBuilder` in your Flutter UI).

I think the closes

[2019-02-15 02:10] john1452 commented on #50
Thanks @felangel I had a look at the login tutorial. The examples in the login tutorial solved my use case.

Thanks again for quick response.

[2019-02-16 14:38] X-Wei opened #103 "State update can't be shown in UI using v0.6.0"
The state update is not referenced in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/ResoCoder/flutter-bloc-library-tutorial.git
2. Run the app: when clicking on the buttons, the UI updates the counter as expected.
3. Update the flutter_bloc version to 0.6.0 in pubspec.yaml
4. Re-run the app: when clicking on the button, the counter isn't updated.

[2019-02-16 15:19] felangel commented on #103
Hey thanks for bringing this up!

In more recent versions of bloc immutable state is enforced so in mapEventToState you cannot update the currentState and yield it. You need to always yield a new state.

Have you looked at https://felangel.github.io/bloc/#/coreconcepts? I highly recommend reading through it if you haven’t already.

I also commented on the YouTube video that goes along with that tu

[2019-02-16 15:50] X-Wei commented on #103
I changed to yielding a new State in mapEventToState(), and now it works.
Many thanks to your prompt response ! Highly appreciated !

[2019-02-16 15:51] #103 closed

[2019-02-20 16:14] chip2n opened #104 "Error using RxDart 0.21.0"
[code]

This is most likely due to the following breaking change (from the changelog):

[2019-02-20 16:20] felangel commented on #104
@chip2n thanks for reporting this. Can you please include steps to reproduce this?

[2019-02-20 17:11] yuyoDev commented on #104
Today I found the same mistake, and yesterday everything worked perfect,

bloc.dart:24:44: Error: No named parameter with the name 'seedValue'.
    _stateSubject = BehaviorSubject<State>(seedValue: initialState);

[2019-02-20 17:46] wm17 commented on #104
I've encountered the same issue. Any object that extends Bloc causes the issue, as the offending line is in the Bloc constructor (bloc.dart:24:44). It appears that `BehaviorSubject<State>(seedValue: initialState)` should now be `BehaviorSubject.seeded(initialState)` in rxdart 0.21.0 onwards.

[2019-02-20 17:53] felangel commented on #104
#105 will address this. I'll let everyone know when I've published the change

[2019-02-20 18:14] felangel commented on #104
Update: this is fixed in `bloc` `v0.9.3` so you should be able to just do a `flutter packages get` and the issue should be resolved.

[2019-02-20 18:20] #104 closed

[2019-02-21 11:49] MorLightJ opened #106 "Error: No named parameter with the name 'seedValue'."
**I downloaded the "flutter_weather" example from here.And  run "flutter packages get", I got an error after I run "flutter run"**

_flutter: ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
flutter: The following _CompileTimeError was thrown attaching to the render tree:
flutter: 'package:bloc/src/bloc.dart': error: line 24 pos 44:
flutter: file

[2019-02-21 12:28] dhar619 commented on #106
Hey @MorLightJ, just now took a clone and it works like charm. Worth to check by doing a `flutter clean` and get packages again. Also check the bloc package path in `pubspec.yaml` file
`flutter_bloc:
    path: ../../packages/flutter_bloc`
My bloc package version in external libraries when I get packages is `bloc-0.9.3`.
Hope these findings may help you. Cheers!

[2019-02-21 12:56] MorLightJ commented on #106
@dhar619 I ran "flutter clean"，and get packages again. The same error..
How can I upgrade the bloc version at this path "file:///Users/xxxxx/flutter/.pub-cache/hosted/pub.dartlang.org/bloc-0.7.8/lib/src/bloc.dart:24:44:" ?

[2019-02-21 13:14] dhar619 commented on #106
@MorLightJ I am new to flutter mate, still digging on it. My path is `flutter_bloc: path: ../../packages/flutter_bloc` The package came from the repo https://github.com/felangel/bloc/tree/master/packages/flutter_bloc

[2019-02-21 13:25] felangel commented on #106
@MorLightJ try deleting your .packages and pubspec.lock and then running flutter packages get.

Let me know if that helps.

[2019-02-21 13:28] Ogiwara-CostlierRain464 commented on #106
Same issue, works on my mac, but not in CI.

[2019-02-21 13:31] felangel commented on #106
@Ogiwara-CostlierRain464 did you try running flutter clean first?

[2019-02-21 13:32] Ogiwara-CostlierRain464 commented on #106
Does `flutter clean` step is required for CI?

[2019-02-21 13:33] felangel commented on #106
I'm just going to publish an update of flutter_bloc and angular_bloc that forces the latest bloc version which should solve everyone's problems. Give me 5 mins and it should be ready.

[2019-02-21 13:40] Ogiwara-CostlierRain464 commented on #106
By adding `bloc: ^0.9.3` to pubspec.yaml, it works!

[2019-02-21 13:41] felangel commented on #106
@Ogiwara-CostlierRain464 yeah something weird is happening with the pubspec version resolution. flutter bloc requires bloc ^0.9.0 which should take the latest 0.9.x but it seems like it's not working as expected for some people.

[2019-02-21 13:42] Ogiwara-CostlierRain464 commented on #106
So I was using `flutter_bloc: ^0.6.2`,and
local machine was using `bloc-0.9.3`but CI was using other version of bloc.

[2019-02-21 13:49] felangel commented on #106
Please update to the latest version of `flutter_bloc` and `angular_bloc` and things should be back to normal.

[code]

[code]

[2019-02-21 13:50] felangel commented on #106
@MorLightJ can everyone please confirm that things are working? I'll keep this open until then.

[2019-02-21 13:53] Ogiwara-CostlierRain464 commented on #106
I'm running CI at [here](https://app.bitrise.io/build/66f9ab40b147a794)

[2019-02-21 13:56] Ogiwara-CostlierRain464 commented on #106
...and also at [here](https://dev.azure.com/yushiogiwara/penmark-app/_build/results?buildId=36)

(former is building android on Bitrise, latter is building ios on Azure Pileline)

[2019-02-21 13:59] dhar619 commented on #106
@felangel works like a charm at my end. Thanks! 👍

[2019-02-21 14:01] Ogiwara-CostlierRain464 commented on #106
It's working, Thanks!👍

[2019-02-21 14:01] felangel commented on #106
Closing this for now @MorLightJ if you're still having trouble just let me know! 👍

[2019-02-21 14:01] #106 closed

[2019-02-21 14:06] MorLightJ commented on #106
Thanks, It works.

[2019-02-22 07:22] felangel opened #108 "BlocProviderTree"
**Is your feature request related to a problem? Please describe.**
[code]
More details in #15

**Describe the solution you'd like**
[code]

[2019-02-22 07:23] felangel commented on #15
I would love to hear people's thoughts on #108 as a potential solution for this issue.

[2019-02-22 14:01] Sh1d0w commented on #108
+1 for the proposed solution. It will make code much more readable, especially if you have a lot of Bloc's that you want to be globally accessible.

[2019-02-22 15:36] ThinkDigitalRepair commented on #108
I like it as well

[2019-02-23 08:43] Sach97 commented on #108
I didn't dive into the code yet but couldn't be possible to take advantages of the new new [multi provider package](https://pub.dartlang.org/packages/provider#multiprovider)? The Consumer part is interesting to as it would permit (I hope) to get the state anywhere down the widget tree without repeating each time BlocProviderOfContext etc.

[2019-02-23 14:51] felangel commented on #108
@sach97 thanks for the link. It looks like it will be very similar to the multiprovider.

[2019-02-24 06:03] felangel commented on #108
`BlocProviderTree` is now available in `flutter_bloc v0.7.0`

[2019-02-24 06:03] #108 closed

[2019-02-24 06:08] felangel commented on #15
`BlocProviderTree` addresses this and is available in `flutter_bloc: 0.7.0`

[2019-02-24 22:29] MarcioQuimbundo opened #110 "Bloc login example, LoginBloc is giving null inside the BlocBuilder"
**Describe the bug**
LoginBloc is giving null inside the BlocBuilder from the Bloc Login Example

**Expected behavior**
I expected to open the loginForm.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Logs **
I/flutter ( 3542): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter ( 3542): The following asse

[2019-02-24 22:39] felangel commented on #110
Can you please share the code for how LoginBloc gets passed to LoginForm?

[2019-02-25 08:04] tigranhov opened #111 "Change _bindStateSubject's check for currentState == nextState to use hashCode instead"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
To trigger BlocBuilder for a UI rebuild, a new instance of State() needs to be returned in mapEventToState
[code]

So for example i have state looking like this

[code]

To switch the paramater hideChart I need to create a new Instance of S

[2019-02-25 09:48] MarcioQuimbundo commented on #110
solved

It was not injected correctly in build function located in login_page.dart

Thank's

[2019-02-25 12:33] felangel commented on #111
Hi @tigranhov can you please provide a bit more information about why using hashCode would be better? I’m not sure I understand the problem you’re trying to solve. Thanks!

[2019-02-25 12:35] #110 closed

[2019-02-25 13:51] algirdasmac opened #112 "Using streams in mapEventToState"
Hello,

I have a question regarding the best approach for working with streams in BLoC. Below is one specific use case, but I was wondering about similar approaches in other use cases.

**What I am trying to do:**
1. When user clicks a button with one of his addresses on screen, I want to dispatch an event `SelectAddress`.
2. In BLoC I want to map this event with `State`. I am receiving `Address`

[2019-02-25 15:36] felangel commented on #112
Hi @algirdasmac thanks for opening an issue!

Right off the bat, I wouldn't recommend creating a subscription directly in `mapEventToState` because `mapEventToState` gets called every time an event is dispatched. I would instead move all of the logic for getting nearby stores into a `StoreRepository` and just expose a public `getNearbyStores` which returns a `Future` of nearby stores. Then in `map

[2019-02-25 18:46] SBortz opened #113 "UnitTesting Bloc"
Hi Felix,

i am trying to write some unit tests for my pretty simple Bloc. In detail: I want to test, that a certain event should not let the bloc emit a new state or keep the same state as before.

Here is the Bloc:

[code]

Here is the test:
[code]

The test runs into the 30s execution timeout. I tried several other ideas of testing this case but i never got it to work correctly.

Am i missing s

[2019-02-25 19:00] felangel commented on #113
Hi @SBortz thanks for opening an issue!

I believe you just need to use `expectLater` instead of `expect`.

Your test should look like:
[code]

[2019-02-25 19:03] SBortz commented on #113
That seems to have no effect at all :(

[2019-02-25 19:07] felangel commented on #113
Have you tried removing the `emitsDone`?

[code]

[2019-02-25 19:08] SBortz commented on #113
Is this the correct spelling:
[code]

or this?
[code]

The first option finishes faster but with an error:
[code]

[2019-02-25 19:09] felangel commented on #113
Ah yeah the first is the correct one!

[2019-02-25 19:10] SBortz commented on #113
Ok, removing emitsDone works. But would it then still be a correct test?

What if the implemenation emits more than what the tests checks?

[2019-02-25 19:13] felangel commented on #113
You can dispatch multiple events and make sure there are no events between dispatches if that makes sense. The reason `emitsDone` won't work is because the Bloc's state stream is still open after dispatching an event.

[2019-02-25 19:22] felangel commented on #113
Is it okay to close this now? @SBortz, do you have any remaining questions around the unit tests?

[2019-02-25 19:28] SBortz commented on #113
Ah, i understand. Then i kick out emitsDone out of my tests.

Is it somehow possible to sum up all emitted events into a list and dispose the bloc then?
I think it would be cool to have some more examples in the docs that cover questions like this.

[2019-02-25 19:31] felangel commented on #113
@SBortz yeah you can call `dispose` on the bloc at the end if you'd like and it will close the streams.
I'll try to add some more examples around your use-case later today 👍

[2019-02-25 19:32] SBortz commented on #113
Thanks a lot for your quick reaction!

This works now for me:
[code]

[2019-02-25 19:35] felangel commented on #113
No problem, and good approach! I'll add something similar to the docs later today 👍

[2019-02-25 19:35] #113 closed

[2019-02-25 20:17] algirdasmac commented on #112
Thanks @felangel - you are always as fast as it can be - impressive!
Although this answer makes sense, it's just not what I am looking for. Unfortunately I can't give access to the repo (company policy), but I created simple flutter app with the situation:
https://github.com/algirdasmac/streams_and_blocs

In `/lib/todo_bloc/todo_bloc.dart` I would like to take stream results and add them to state.

[2019-02-25 20:32] SBortz commented on #113
Sorry, that i still comment on this issue.
It doesn´t matter what i try to do, i am not able to test the correct order of emitted States:

[code]

Output:
[code]

This is the dispose() approach:

[code]
Output:
[code]

I am happy for any further help with this.

[2019-02-25 22:55] felangel commented on #113
I think you’re just providing the type instead of an instance and you should use expectLater instead of expect.

expectLater(bloc.state, emitsInOrder([
  TimeTrackingDisabled(),
  TimeTrackingIsStopped(),
   TimeTrackingIsRunning()
]);

bloc.dispatch(AssignmentChanged());
bloc.dispatch(StartTimeTracking());

[2019-02-25 23:13] felangel commented on #112
@algirdasmac no problem haha! I'll take a look shortly and will try to open a PR with some suggestion. 👍

[2019-02-26 05:04] felangel commented on #112
@algirdasmac just opened a [PR](https://github.com/algirdasmac/streams_and_blocs/pull/1) to connect the bloc to Firestore. Let me know if that helps!

Marking this as closed since it's more of a discussion at this point 😄

[2019-02-26 05:04] #112 closed

[2019-02-26 05:14] algirdasmac commented on #112
So simple and so effective. It is strange to me that I didn't think about it myself. Thanks @felangel !

[2019-02-26 06:30] tigranhov commented on #111
Hi, thanks for suggestion @felangel I will edit my code to use copyWith, that's one great optimization that will make my mapEventToState more readable.
Now that I'm having a second look at my suggestion I think, that doing with copyWith is stricter and would not lead to cases, where reading the code does not correctly represent the behavior you are expecting.
Also, thanks for the great work with b

[2019-02-26 06:30] #111 closed

[2019-02-26 06:44] felangel commented on #111
Glad I could help and thanks for the positive feedback! 😄

[2019-02-26 08:21] SBortz commented on #113
Yay, your implementation works!

With this in mind, i can now do what i wanted:
[code]

[2019-02-26 15:38] abinvp opened #114 "Bloc not outputting state with a list which has a value removed or modified."
**Describe the bug**
I have an event that dispatches `EmailDeleted` event with the email to be removed. The state is not getting updated after the email is removed from the list and pushing new state.

**My mapEventToState method**

[code]

The following piece of code is supposed to remove the email passed in the event and map the new state but it isn't working.

[code]

It works only if I remove

[2019-02-26 16:00] felangel commented on #114
@abinvp thanks for opening this!
I think in order to understand why it's not working you need to understand two things:

First, if you yield the same state over and over it will not impact a Bloc (meaning no transition will occur and the UI won't be rebuilt). In your case, you are yielding the same event multiple times (`EmailsListUpdated(emails: ...)`).

The second part is why it works without `E

[2019-02-26 16:14] abinvp commented on #114
@felangel, thank you for your response. Your response time is quite impressive :)

Even though I was yielding the same state, the emails list is modified. Just like `EmailListUpdated(emails: currentState.emails + [event.email])` for add events, I was expecting  `EmailListUpdated(emails: currentState.emails..remove(event.email));` to work.

[2019-02-26 16:21] felangel commented on #114
Thanks haha 😄

Is it possible for you to share a project that has the problem you're seeing? It'll be easier for me to help if I can have access to the full source code 👍

[2019-02-26 16:22] abinvp commented on #114
Yes, I will get that shortly. Thank you!

[2019-02-26 17:20] abinvp commented on #114
Hey @felangel,

I've pushed the code here. https://github.com/abinvp/flutter_bloc_package_demo
You can see a simple screen where users can be invited using the emails. The invited user's email will be displayed as chips in the UI. On clicking the close icon in the chip, that particular email should be removed and the UI should be updated.

[2019-02-26 18:50] adewaleafolabi opened #115 "Bloc Dispatch Stops Working Once API returns an Error"
**Describe the bug**
Bloc does not dispatch event once the API Client returns an error. When dispatch method is called no error is reported and mapState is never fired

Git URL ``` https://github.com/adewaleafolabi/portfolio ```

[2019-02-26 19:24] felangel commented on #114
@abinvp I've created a [PR](https://github.com/abinvp/flutter_bloc_package_demo/pull/1) to fix your issue. It was because you were mutating the list of emails instead of creating a new list. Bloc is built on the assumption that all state is immutable so you need to ensure that you are always creating new instances of state (all parts) instead of modifying the currentState.

Hope that helps! 👍

[2019-02-26 19:24] #114 closed

[2019-02-26 23:33] fvisticot opened #116 "Android Studio Plugin for Bloc Generation"
For Android Studio user, it would be fine to have template for bloc generation.
Is it in your plans ?

[2019-02-26 23:40] fvisticot opened #117 "Simplify Event / State / Bloc generation"
Each time we need to create a bloc we need:
- create a bloc file to manage the import
- create the event file
- create the state file
- create the bloc file

It would be nice:
- To create the 4 files automatically from a template

Simplify the State generation:
Most of the time the bloc needs  to manage the same kind of State:
- Loading / Success / Failure
How to simplify this work if we have seve

[2019-02-27 00:03] felangel commented on #116
@fvisticot There is currently support for [VSCode](https://marketplace.visualstudio.com/items?itemName=FelixAngelov.bloc) and I am planning on extending the extension to create the bloc as well as the states and events.

Not sure when I'll get to Android Studio but you're more than welcome to contribute 😄

[2019-02-27 00:05] felangel commented on #117
@fvisticot I am planning on extending the VSCode extension to generate the files for you and you will also get the snippet generation for the bloc itself. It can also create the scaffold for `mapEventToState` but you will need to provide all of the `Events` in advance.

Regarding the `Loading/Failure/Success` I think this is common but definitely not always going to be the case so I wouldn't want

[2019-02-27 00:22] felangel commented on #115
@adewaleafolabi I took a look and I'm not sure how to reproduce the issue you're having. Can you please give more detailed steps for how to reproduce the issue?

I was able to force an exception and the bloc seems to be working fine.
<img width="523" alt="screen shot 2019-02-26 at 6 21 32 pm" src="https://user-images.githubusercontent.com/8855632/53456271-65d7fa00-39f3-11e9-854f-5b033be2adc5.png">

[2019-02-27 02:37] abinvp commented on #114
Makes total sense @felangel.  That was an overlook from my side. Thank you so much for helping out and writing this wonderful package. 👍

[2019-02-27 02:40] felangel commented on #114
No problem! It was a great question and evidence that I need to continue to improve the documentation 😅. Thanks for the positive feedback; I really appreciate it! 👍

[2019-02-27 02:46] adewaleafolabi commented on #115
To reproduce the error:
I supplied a wrong password, the API then returns a 401. Clicking on the login button again is supposed to dispatch a login event, but this time no request to the API is made, no call to mapEventState is called either. Thank you

[2019-02-27 02:47] felangel commented on #115
@adewaleafolabi ah so I wasn’t supposed to use the mock backend?

[2019-02-27 03:19] adewaleafolabi commented on #115
@felangel I've added a screen cast to show the error, also I've modified the mock_api to return a 401 on login. The event doesn't fire the second time after the first error.

[![capturebf02b81a4ea90898.gif](https://s2.gifyu.com/images/capturebf02b81a4ea90898.gif)](https://gifyu.com/image/3x6x)

[2019-02-27 03:55] felangel commented on #115
@adewaleafolabi I was able to reproduce this only when running in debug mode (`webdev serve`) however running in release mode (`webdev serve --release`) behaves as expected.

[2019-02-27 04:11] adewaleafolabi commented on #115
This helps running webdev serve with the release flag does work. I'd raise this issue with dartdevc Thank you

[2019-02-27 04:11] #115 closed

[2019-02-27 05:23] felangel opened #118 "VSCode Extension for Bloc Generation"
**Is your feature request related to a problem? Please describe.**
Currently the VSCode extension for bloc just supports snippets for creating a bloc but it doesn't:
- Create the bloc state file
- Populate the bloc states
- Create the bloc event file
- Populate the bloc events
- Create the bloc file
- Populate the bloc
- Create the bloc barrel
- Populate the bloc barrel (with all exports)

**Descr

[2019-02-27 05:25] felangel commented on #117
Created #118 to capture the VSCode extension enhancement.

[2019-02-27 05:25] #117 closed

[2019-02-27 16:01] fvisticot opened #119 "BlocBuilder => builder not triggered after state change"
flutter_bloc: ^0.7.0

I have adapted your login sample to my app.

when i try to logout, the bloc is correctly triggered and change the state to AuthenticationUnauthenticated

BUT the BlocBuilder => builder method is not triggered ... and the login page is not displayed

[code]

[code]

[code]

in the settings page to logout:
[code]

[2019-02-27 16:34] felangel commented on #119
@fvisticot can you share the full code? How is the settings page displayed? Is it pushed onto the navigation stack? If so you'll need to pop it off when you dispatch the `LoggedOut` event.

[2019-02-27 16:46] fvisticot commented on #119
My application is using the navigation stack
You are right, if I set this code it is OK and I can see the login page. Is it what you said ?

BUT the builder is not called with the new state .... :( it is normal ?

[code]

[2019-02-27 17:09] felangel commented on #119
@fvisticot it's because you are using `pushNamedAndRemove` which is removing the `BlocBuilder`. I would recommend you use `Navigator.pop()` instead.

[2019-02-27 18:57] felangel commented on #119
Closing this for now. Please let me know if you're still having trouble 👍

[2019-02-27 18:57] #119 closed

[2019-02-27 19:03] fvisticot commented on #119
Sorry to disturb you again but it is not clear for me.

The blocBuilder is created in a statefull Widget initialized in the main->runApp function.

I do not understand why the builder(context, state) method is not called when logout occurs (with or without pop function)...

Why the navigation stack can modify the mechanism ?

[2019-02-27 19:06] felangel commented on #119
@fvisticot no problem! Can you please share the full code?

I'm guessing when you push the settings page you are removing the root page which has the `BlocBuilder`. Can you confirm that you are always just using `Navigator.push` and `Navigator.pop` instead of `pushReplacement` or `pushNamedAndRemove`? Those will destroy the navigation stack below and dispose the widget that had `BlocBuilder`.

[2019-02-27 19:20] fvisticot commented on #119
You are the boss !!!!
Thanx the lot... I was using a pushReplacement :( ... changing to push solve the pb !!
Congratulation for your framework !!

[2019-03-01 09:22] haqqi opened #120 "Bad state: Cannot add new events after calling close after the bloc is disposed."
I got this error while trying a scenario:

1. I need to fetch some data from the API.
2. To simulate the fetching delay time, i use `await Future.delayed(Duration(seconds: 2));` in the mapEventToState bloc. Then i yield some state.
3. I dispose the bloc when the page is popped.
4. When i press back (dispose) the page before the fetching finished (under 2 seconds), the error below happened. The app

[2019-03-01 13:53] felangel commented on #120
@haqqi thanks for opening an issue!

I would recommend creating and disposing the bloc one level above where you are doing it now to resolve this. The bloc should be disposed only when you are certain it is no longer being used.

Let me know if that helps! 👍

[2019-03-01 14:25] jorgecoca commented on #116
I have some experience with code templates in IntelliJ... I can work on it ;)

[2019-03-02 14:03] erabti opened #121 "Events don't get dispatched when bloc is accessed through an inherited widget"
**Describe the bug**
When I try to dispatch an event through the `BlocProvider.of<MyBloc>(MyEvent());` the mapEventToState doesn't get called.

**To Reproduce**
Steps to reproduce the behavior:
1-Create a BLoC:
[code]
2-Provide bloc in a BlocProviderTree in a certain level like so:
[code]

3- Call dispatch from a descendant widget in the tree:
[code]
**Expected behavior**
To map the event to the s

[2019-03-02 15:25] felangel commented on #121
@erbati thanks for opening an issue for this. Can you please provide a sample app which demonstrates the problem?

[2019-03-02 15:27] felangel commented on #120
Closing this for now. Feel free to comment if that didn’t help and I will reopen the issue.

[2019-03-02 15:27] #120 closed

[2019-03-02 17:18] jorgecoca commented on #116
@felangel we should agree on some conventions first before we do any coding, so we keep the IntelliJ plugin and VS Code in sync. What about?

## Files generated (XXX represents the name of your bloc, we will have to sanitize this in the generators to be camelCase on code and snake_case for file names)

* `XXX_bloc.dart`
* `XXX_event.dart`
* `XXX_state.dart`
* `bloc.dart`

and contents:

### bloc.d

[2019-03-02 18:09] felangel commented on #116
@jorgecoca that looks good to me 👍
I’ll let you know if I run into anything we haven’t considered as I make progress on the VSCode extension.

[2019-03-03 14:44] san4io commented on #116
Hello everyone,
While there is no plugin for android studio you can simply do following:

* Add **bloc** template in **settings**:
![image](https://user-images.githubusercontent.com/12079341/53696664-1ff3ab00-3dd2-11e9-825e-59375b3df674.png)

* Add Template text:
[code]

* Go back to editor and start typing `blo`:
![image](https://user-images.githubusercontent.com/12079341/53696715-b45e0d80-3dd2-1

[2019-03-03 15:02] fvisticot commented on #116
Good job,
The solution is working but I think original proposal allowing to generate multiple files with proposed convention will result in better code organisation / evolution

[2019-03-03 15:06] felangel commented on #121
Closing this for now. Feel free to comment with more details and I’m happy to reopen it 👍

[2019-03-03 15:06] #121 closed

[2019-03-03 20:37] san4io commented on #116
Totally agree.
I've posted temporary solution.
But you know how it is... permanent temporary solution  :laughing:

[2019-03-03 21:06] felangel commented on #116
@jorgecoca will most likely have the permanent solution done relatively quickly 🎉💯

[2019-03-03 23:43] boukmi opened #122 "Flutter login example with drawer, BlocBuilder not triggered after state change"
I took your login example and tried to play with it a little and I added a drawer with some entriues and a logout button at the bottom of it.

This is the drawer code:
[code]
then I created a new page `page1.dart`:
[code]
and finally I updated the `home_page.dart` to add the drawer:
[code]

`main.dart`:
[code]
When i try to logout, the bloc correctly change the state to `AuthenticationUnauthentica

[2019-03-04 00:00] felangel commented on #122
@boukmi thanks for opening an issue!

I think the issue you’re facing is you are disposing the widget and bloc builder when you use pushReplacementNamed. I would recommend just using push and pop otherwise you destroy the views in the navigation stack.

Let me know if that helps 👍

[2019-03-04 00:14] boukmi commented on #122
@felangel thank you for your quick reply
I updated the drawer code:
[code]
Still does not work and now I'm getting this error when I click on logout button:
[code]

[2019-03-04 00:18] felangel commented on #122
No problem! Can you please share the full source code with me on github?

[2019-03-04 00:25] boukmi commented on #122
Of course and thank you so much!

Here is the link to the github repository
[https://github.com/boukmi/flutter_login](https://github.com/boukmi/flutter_login)

[2019-03-04 01:21] felangel commented on #122
@boukmi I just opened a [PR](https://github.com/boukmi/flutter_login/pull/1) with some enhancements to make everything work the way I expect you wanted. Let me know if that helps 👍

[2019-03-04 01:34] clicksocial opened #123 "Communication between blocs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Is there any documentation or recommendation for communication between blocs beside having dependencies between them? The point is to keep blocs independent of each other and use streams to allow them to communicate with each other.

While

[2019-03-04 01:39] boukmi commented on #122
@felangel thank you so much for your help.
I'll check it out in the morning and let you, it's getting late in Europe now :D

[2019-03-04 01:42] felangel commented on #123
@clicksocial thanks for opening an issue for this. If you don't a bloc to have a direct dependency on another bloc you can always inject the stream that you want the bloc to react to.

For example, if we want BlocA to react to state changes in BlocB, we can always do something like:

[code]

We can then pass the state stream of BlocB into BlocA like:
[code]

I would also recommend looking at the [

[2019-03-04 01:44] felangel commented on #122
@boukmi sounds good! Closing this for now but feel free to comment with any further questions/concerns and I'll gladly reopen it 😄

[2019-03-04 01:44] #122 closed

[2019-03-04 01:52] clicksocial commented on #123
Hi @felangel ,

This looks like its going to work. I'll give it a try.

Thanks for your timely response!

Quan

[2019-03-04 01:53] felangel commented on #123
@clicksocial no problem! Closing this for now but feel free to comment if you're having trouble or have additional questions 👍

[2019-03-04 01:53] #123 closed

[2019-03-04 03:34] earlzo opened #124 "Need a better way to handle data backend?"
I'm a backend developer and a novice in app development.

State management is an interesting area in frontend development. I read many materials then I found Bloc.

Bloc is a great pattern and your package helps me a lot. I can easily handle input and output in my app, but there is still a problem.

As your examples described, I need passing repository from the root widget to every widget that has

[2019-03-04 03:43] felangel commented on #124
@earlzo thanks for bringing this up and opening an issue!

I would recommend using `InheritedWidget` or `InheritedModel` to expose your repositories to the sections of the widget tree that need them. You can check out the [provider package](https://pub.dartlang.org/packages/provider) and do something like:

[code]

Then when creating a bloc that has a dependency on a repository, you can use the co

[2019-03-04 03:57] earlzo commented on #124
I will try this.

Thanks for your prompt and detailed response.

[2019-03-04 03:58] felangel commented on #124
No problem! 👍

Closing this for now but feel free to comment with further questions/concerns and I'll gladly reopen this. 😄

[2019-03-04 03:58] #124 closed

[2019-03-04 04:00] earlzo commented on #124
I think this section can be documented in tutorials for beginners.

[2019-03-04 04:02] felangel commented on #124
I'm still actively writing sample apps and adding to the documentation so I'll definitely be sure to keep this in mind 👍

Also feel free to propose updates to the documentation and create PRs to improve it!

[2019-03-04 12:40] boukmi commented on #122
It worked 👍 thanks a lot

[2019-03-04 12:54] boukmi commented on #122
The only downside I see is that it removes animation when navigating between pages.

[2019-03-04 12:56] felangel commented on #122
@boukmi yeah check out
https://github.com/felangel/bloc/issues/18 for one way to retain animations.

[2019-03-04 13:01] boukmi commented on #122
Awesome I’ll try it!

[2019-03-04 14:13] haqqi commented on #120
Actually i use the bloc at highest level, which is just below body tag of Scaffold. I could not put the bloc in the MaterialApp, because the bloc is supposed to be used in just one page/route only.

[2019-03-04 16:26] boukmi commented on #122
Hi @felangel and I'm sorry to disturb you again but I'm trying to make this example work perfectly.
I updated the `home_page.dart` to retain animations like so:
[code]
But I have a strange behaviour when I click on `Home` button.
![animations](https://user-images.githubusercontent.com/2116866/53746942-1df51f00-3e9a-11e9-94d6-f8c5caa64d69.gif)

Any idea why?

[2019-03-04 19:34] aytunch commented on #110
@MarcioQuimbundo Can you elaborate on how you did the right injection please? I am having a similar issue where bloc becomes null after the first `mapEventToState`

[2019-03-04 21:48] jorgecoca commented on #116
By the end of this I hope to have something up and running ;)

[2019-03-04 22:53] felangel commented on #120
@haqqi can you please share a sample application which illustrates the problem you're having?

[2019-03-04 22:54] felangel commented on #110
@aytunch are you able to share your code? I can take a look and try to help 😄

[2019-03-04 23:11] GiancarloCode commented on #118
Hello
Because normally apps have more than 1 bloc, I think the following structure should be generated:

A full-blown VSCode extension that:

- asks for the bloc name (Todo)
- asks for the bloc events (Add, Remove)
- asks for the bloc states (Loading, Loaded, Failure)

And then generates:

[code]
[code]

**And when we want to add new bloc:**

A full-blown VSCode extension that:

- asks for the blo

[2019-03-05 11:41] aytunch commented on #110
@felangel i will post the project soon in a new issue

[2019-03-05 16:10] TheHemantKaushik commented on #65
Hi @felangel !!
Is it possible to access blocs in scopes? Like I want to reuse a `TeamListBloc` in multiple pages but I don't want to place it as a parent of `MaterialApp` widget.
If yes, could you please share some reference links or any sample code.

[2019-03-05 16:17] TheHemantKaushik commented on #63
Hi @felangel !!

It would be great if you create some listener for this kind of listening. `RxCommandListener` is a good example to listen `RxCommand`. We can listen any command in `initState()` and close listener in `dispose()`.

Reference:
https://pub.dartlang.org/packages/rx_command
https://pub.dartlang.org/packages/rx_widgets

[2019-03-05 16:21] felangel commented on #65
Hey @TheHemantKaushik!

If you have different pages that you are pushing (`Navigator.push(...)`) you will need to either inject the bloc into the page via the constructor or add a BlocProvider above `MaterialApp`. This is because of the way `BuildContext` works in Flutter.

If pages aren't pushed using the `Navigator` then you can use a `BlocProvider` in the lowest common ancestor widget in the tr

[2019-03-05 16:22] felangel commented on #63
@TheHemantKaushik thanks! I'll take a look 💯
I know this is definitely an area that can be improved.

[2019-03-05 16:42] TheHemantKaushik commented on #65
I found that difficult, might be I'm exceptional case 😋. That is the reason I moved to `rx_command` this time. I'm using `get_it` to inject and get the dependencies. May be it will help me in near future 😀.

[2019-03-05 16:45] felangel commented on #65
That’s totally fine! There are many ways to accomplish it and there’s no right or wrong way. 👍

[2019-03-06 03:30] basketball-ico commented on #124
Hello, I try to use Provider Package.

I have 1 ```Bloc``` that have a ```Respositoty``` paramenter

 Want to use like this:
[code]
But I got his error
[code]
I try fo fix like using the didChangeDependencies() and works... But this method are called a lot of times, and the dispose() only one, And I think I could have memory leaks but i don't know.
Can i have memory leaks?
[code]
Also I can do thi

[2019-03-06 03:39] felangel commented on #124
@basketball-ico can you please share a sample app with the problem you're having and I can take a look! In general, the approach you've taken is not ideal because, like you said, the method is called multiple times and the bloc streams will not be disposed which will cause memory leaks.

Have you tried:
[code]

[2019-03-06 04:10] basketball-ico commented on #124
Hello
I tried that, but doesn't work

Here is a little [demo](https://gist.github.com/basketball-ico/bf7f42965bd5fe9ef435ec5bd459dc9f)

Thanks

[2019-03-06 04:20] felangel commented on #124
@basketball-ico this seems to be an issue with the `Provider` library so I'd definitely recommend opening an issue there.

In this simple example, you can skip using Provider altogether by injecting the repository directly ([option1](https://gist.github.com/felangel/91c4d9c0450a386037331825551d560c))

[2019-03-06 05:18] basketball-ico commented on #124
Thanks, It Works, I like it. 👍

But I can't understand, the ```Repository``` can Change in some scenario?
When i need use `listen: true`  and when `listen: false` ?

Thanks 🤗

[2019-03-06 05:20] felangel commented on #124
Awesome! Basically when you say listen: true then any time the Repository changes your widget will rebuild. Since your repository should not change over the course of the application lifecycle you should set listen to false. Hope that helps!

[2019-03-07 02:34] JoseGeorges8 commented on #52
Hi, I'm having the same issue!

I just started using flutter about a week ago and I have a 5 week time constraint for a big project, therefore I'm really sorry if it's just a silly mistake I can't figure out!

I got a TabView with three individual pages (stateful widget each) and each one receives data from an api therefore I'm creating a bloc on each of these pages.

I got two blocs so far, one i

[2019-03-07 02:36] felangel commented on #52
@JoseGeorges8 would it be possible to share the code with me? Thanks!

[2019-03-07 02:50] JoseGeorges8 commented on #52
Hey thanks for the quick response!

Unfortunately, I'm not allowed to add you as a collaborator, looking at the page where the issue is happening, is there any ideas you might think I could go ahead and jump on?

Thank you for understanding!

[2019-03-07 02:53] felangel commented on #52
No problem!

This issue happens if the Bloc is disposed before an event is dispatched. I would recommend initializing and disposing your blocs one level higher than they currently are.

You can confirm that this is the issue by commenting out all the places where you call `bloc.dispose()` and verifying that you are no longer seeing the error. Let me know if that helps! 👍

[2019-03-07 02:56] JoseGeorges8 commented on #52
I'll try right now thanks!

[2019-03-07 03:06] JoseGeorges8 commented on #52
So I initialized the two blocs inside the TabView that's hosting the pages and passed them like this:

`
  @override
  void initState() {

    planBloc = PlanBloc(planRepository: planRepository);
    supplementPlanBloc = SupplementPlanBloc(supplementPlanRepository: supplementPlanRepository);

    mealPlansPage = MealPlansPage(planRepository: planRepository, planBloc: planBloc,);
    workoutPlansPa

[2019-03-07 03:08] felangel commented on #52
@JoseGeorges8 is there any way you can make a new super basic flutter app that has the same setup as your current app and has the same problem and share that with me?

You can just have a bunch of dummy blocs that don't really do anything and a bunch of empty pages. I just think having a concrete app that I can run and look at will make debugging your issue much easier. Thanks!

[2019-03-07 03:10] JoseGeorges8 commented on #52
ok I'll try to replicate it and get back to you!

[2019-03-07 03:58] JoseGeorges8 commented on #52
Hey @felangel , sorry for the wait!

So I did a basic example of the pages where I'm implementing the bloc:

https://github.com/JoseGeorges8/bloc_issue

unfortunately, the bug does not happen in here! The difference right now between this and my project is layout as well as mine has 2 blocs right now, So I'll try to add the changes and see if the bug appears!

[2019-03-07 04:02] felangel commented on #52
@josegeorges8 no worries! Keep me posted 👍

[2019-03-07 04:48] JoseGeorges8 commented on #52
Quick update! I did some changes to the code to mimic more my project and the issue appeared!

I added a new event and a new state, tab1 dispatches a different event than tab2 and 3 and expects a different state than 2 and 3. Now is visible that when tab1 gets initialized, the state being transitioning is not the correct?

Take a look and let me know thanks!

[2019-03-07 04:49] felangel commented on #52
Awesome! I’ll have a look in the next hour 😄

[2019-03-07 05:18] basketball-ico commented on #124
Hey, thanks but sorry i can't understand, When you said "change", that means that the some property of `Repository` are changed or  when you assign new Object.
Thanks

For example:
[code]

[2019-03-07 05:42] felangel commented on #124
Hey no problem! When I said change I mean the old value is not the same instance as the new value.
In your example changing the property would not trigger a rebuild but assigning a new object would since it is not longer the same instance of `Repository`.

Does that help?

[2019-03-07 05:45] felangel commented on #52
@JoseGeorges8 can you please describe the error and how I can reproduce it in the sample app?

[2019-03-07 06:04] JoseGeorges8 commented on #52
Yes!

1. Run the app
2. Navigate from tab1 to tab3
3. Back to tab1

You'll see a message displayed for when a state from a different event is received.

[2019-03-07 06:08] felangel commented on #52
@JoseGeorges8 ah this is because `initState` can be called in any order so in this case you start off with Tab1 being active (initState called) so the fetchInfo event is dispatched. Then when you navigate to Tab3, the `initState` for Tab3 is called first so we dispatch the second fetchInfo but after that the `initState` for Tab2 is called which changes the shared bloc state to the second state and

[2019-03-07 06:29] JoseGeorges8 commented on #52
Sort of! How would I solve this problem then?

[2019-03-07 06:31] felangel commented on #52
Check out https://github.com/JoseGeorges8/bloc_issue/pull/1

I'd recommend having a bloc for each tab state along with `AutomaticKeepAliveClientMixin` to reduce the number of rebuilds.

Let me know if that helps!

[2019-03-07 06:38] JoseGeorges8 commented on #52
Looks great! I'll test it inside my app tomorrow and I'll let you now

Thank you Felix!

[2019-03-07 06:39] felangel commented on #52
@JoseGeorges8 one other thing I noticed was Equatable wasn't being used properly. I'm about to open one more PR to fix the equatable usage and that should eliminate all rebuilds

[2019-03-07 06:43] felangel commented on #52
@JoseGeorges8 one last PR to fix the equatable usage https://github.com/JoseGeorges8/bloc_issue/pull/2

[2019-03-07 10:20] basketball-ico opened #125 "How to close screens that was pushed"
Hello, I am using your login example.

I have this Pages and each `Page` push the other using `Navigator.of(context)...`
[code]

I call the `authenticationBloc.dispatch(LoggedOut())` in `LogoutPage` and the only page that are `closed` is `HomePage`, the other three pages are still in screen :(

thanks

[2019-03-07 10:33] tp opened #126 "Why does mapEventToState return a Stream<T> and not a Future<T>?"
I was wondering why `mapEventToState` returns a `Stream` and not a `Future`.

Isn't the expectation that every `mapEventToState` returns just one new `State`?

I think if people were to emit multiple states here they would interfere with the next invocation etc.

Or is there a special advantage of "Streams of 1" over Future that I am not aware of?

[2019-03-07 14:33] felangel commented on #125
@basketball-ico great question! Since you've pushed all of these pages onto the navigation stack you'll have to pop them off when you dispatch the `LoggedOut` event.

Otherwise what's happening is the root view is getting updated based on the `AuthenticationState` but `OtherPage`, `SomeOtherPage`, and `LogoutPage` are still on top of the Navigation stack.

You can use `Navigator.popUntil(context,

[2019-03-07 14:40] felangel commented on #126
@tp great question! While it first it may seem strange that `mapEventToState` returns a `Stream` rather than a `Future` it's very common for a single event to cause multiple state changes.

Imagine a scenario where a user taps a button (Login Button for example) and we need to make an asynchronous request in order to get our new state. Since, `mapEventToState` returns a `Stream`, we can `yield` an

[2019-03-07 15:16] tp commented on #126
@felangel Thanks for the quick & detailed response.

Is the previous stream disconnected when a new event comes it? Or could it be that a previous invocation of `mapEventToState` still writes and updates the stream while a more recent event is processing as well?

[2019-03-07 16:01] felangel commented on #126
@tp no problem! Streams are updated in the order in which the events are dispatched.
I think if you take a look at this example it will be more clear:

[code]

The order or state changes is:
[code]

Does that clarify everything? Thanks!

[2019-03-07 16:24] tp commented on #126
Thanks for the example.

I was wondering whether there is any interference, if the decrements (with longer delays) where dispatched first, and whether the shorter increments would overrun them. But that does not seem to be the case :)

[code]

So just that I get my mental model correct: For each new `event` passed to `mapEventToState` it runs the stream / function to completion, and only then proc

[2019-03-07 16:30] tp commented on #126
Added some more logging to verify that no multiple `mapEventToState` are run at the same time.

Seems to work as I now understood from your explanation into my model above.

[code]

I think this all stems from [`asyncExpand`](https://docs.flutter.io/flutter/dart-async/Stream/asyncExpand.html) here https://github.com/felangel/bloc/blob/5fa7c06d6390d53d874b14aee0df74a543406889/packages/bloc/lib/src/

[2019-03-07 16:50] felangel commented on #126
@tp yup that's correct 👍

Do you have any outstanding questions/concerns or is it okay to close this?

[2019-03-07 17:22] #126 closed

[2019-03-07 17:34] tp commented on #126
@felangel Nope, this clarified all my open questions. Thanks for taking the time :)

[2019-03-07 21:43] basketball-ico commented on #125
Thanks, that works, but I need to call `Navigator.popUntil(context, ModalRoute.withName(Navigator.defaultRouteName))` only when the `state` are `AuthenticationUnauntheticated`, because when `dispatch(LoggedOut())` This event do some things, and only set `Unauntheticated` state when not have errors.

Other scenario is in register form, i need call the `popUntil` only when the user is sucessful regi

[2019-03-07 22:24] felangel commented on #125
You can probably just do something like:
[code]
within the BlocBuilder at the default route. That way whenever authentication state changes you don't have to worry about popping from all locations. Does that help?

[2019-03-07 22:41] basketball-ico commented on #125
Thanks,
Perfect, that is that I was searching.  🎉🎉🎉

[2019-03-07 22:42] #125 closed

[2019-03-07 23:23] basketball-ico opened #127 "What is the best approach to pass data between pages?"
For example in a Todo App, but works for all type of apps

You have a `TodosBloc` that have events like `LoadTodos, addTodo, DeleteTodo, ...`

You have a `TodosPage` that show a list of all `Todos`, and have a `DetailsPage` that show all information of one todo selected.

When you select a `Todo` in `TodosPage` I want to show this `Todo` in `DetailsPage`

I see two approach for do that, but i don'

[2019-03-08 03:16] JoseGeorges8 commented on #52
Hey Felix! just wanted to let you know that your solution worked!

Thanks for the help

[2019-03-08 03:41] felangel commented on #127
@basketball-ico great question! 👍

I think both options are viable as they get the job done and are testable but I slightly prefer the 1st option because it is the "stateless" approach. I think by not having to persist the selected todo we reduce the complexity of the application and I personally tend to always pick the solution that involves maintaining a little state as I possibly can. Hope that

[2019-03-08 03:52] felangel commented on #52
@JoseGeorges8 Glad I was able to help 🎉

[2019-03-08 16:01] venil7 opened #130 "dispatch inside mapEventToState"
is it possible to call `dispatch` while inside `mapEventToState`

see my example below, I had to comment out dispatches and replace them with yields,
however I would really prefer not to do it, as `AuthSuccessEvent` and `AuthFailureEvent` cases are already described in switch statement, and it feels like code-repetition, and violation of single responsibility.

btw, this is perfectly allowed in re

[2019-03-08 16:12] felangel commented on #127
@basketball-ico closing this for now but feel free to comment and I'll gladly reopen it 👍

[2019-03-08 16:12] #127 closed

[2019-03-08 16:16] felangel commented on #130
@venil7 thanks for opening this! Are you able to share the full source code with me?

[2019-03-08 17:00] venil7 commented on #130
@felangel not really, but snippet above should give enough context.
everything else is some arbitrary code unrelated to issue.

[2019-03-08 17:17] felangel commented on #130
@venil7 sounds good I'll try to reproduce your issue. One thing I'm immediately noticing is you're switching on `runtimeType`.

Runtime type isn't something I'd use for program logic. It changes based on compiler options, and actually even using it can make optimizations for your app (in dart2js for AngularDart)  much harder.

I would recommend adding your own type implementation to your events if

[2019-03-08 17:53] seklum opened #131 "BlocProvider bloc dispatches not showing up in transitions"
When using the bloc provider to give a bloc to a child widget any dispatch called on it does not show up in transitions or update the bloc builder in the parent widget.

It does function correctly in the background but I need it to automatically update the BlocBuilder in the parent widget when each event occurs.

[2019-03-08 18:51] felangel commented on #130
[code]

Outputs:
[code]
Which seems to working just fine. I'd need to look at the exact code to pin-point the problem you're having. I'd suggest adding an `onError` override in your bloc to make sure no exceptions are being thrown because it seems like the issue you're having is not directly due to the dispatch.

Let me know if that helps.

[2019-03-08 18:53] felangel commented on #131
Hi @seklum 👋

Thanks for opening an issue. Can you please provide an example app with the problem you're having? It's hard for me to give any suggestions without a concrete example. Thanks!

[2019-03-08 19:29] basketball-ico commented on #18
@felangel hello,
Do you have others way to animate when AuthenticationBloc change state?
Thanks

[2019-03-08 19:55] seklum commented on #131
This code loads up your contacts to a list and the idea is to hold the state of which contacts are selected while you scroll through and tap names.

If you tap a name and then scroll so the item is rebuilt it shows that it is selected, proving the code is running without triggering the onTransition or BlocBuilder updating.

pubspec.yaml
[code]

main.dart
[code]

contact_event.dart
[code]

contact_

[2019-03-08 22:05] felangel commented on #131
@seklum thanks for the code! 👍
I'll have a look in the next few hours.

[2019-03-08 23:30] felangel commented on #18
@basketball-ico 👋
Did you have something in particular that you’re looking to accomplish? At the end of the day it’s all up to you haha 😄

[2019-03-08 23:46] basketball-ico commented on #18
hello, I'm looking for a way to make them work with `Navigator.of...`, so that I can create my own `PageRouterBuilder` and be able to create any transition that I need, but I still can not make it work :(

[2019-03-09 00:18] JoseGeorges8 opened #132 "How to update state after a blocbuilder has ran"
Hi, this might be a silly question, but I was wondering how can I keep on updating the UI after the BlocBuilder has set my state?

I'm trying to create a list upon a state, the list is an ExpansionPanelList and it displays correctly, but I'm not sure how to handle the expansion for them.

Usually it would be done like:

`expansionCallback: (int index, bool isExpanded) {
            setState(() {

[2019-03-09 00:35] felangel commented on #132
Great question! I’ll create a small sample in the next few hours 👍

[2019-03-09 00:50] felangel commented on #18
@basketba-ico can you share a sample app without bloc so that I can see what you’re trying to do and then I can help suggest how to accomplish the same with bloc? Thanks! 👍

[2019-03-09 04:28] GiancarloCode commented on #18
@felangel @basketball-ico  Hello

I want to use `Navigator` too when `AuthenticationState` changed.

I solved making this, but I want the review of @felangel 😁

Based on the example that you show [here](https://github.com/felangel/bloc/issues/18#issuecomment-441111811)
[code]

[2019-03-09 06:00] felangel commented on #131
@seklum There were several problems with the code you sent me. I have corrected them and you can find a working version of this [here](https://gist.github.com/felangel/c28fb27d51c77954cdae6d44fd199e0b).

The main problem was in your bloc you were mutating `currentState` and yielding it. You cannot mutate your state; instead, you must always yield a new state otherwise bloc thinks nothing has chang

[2019-03-09 06:00] #131 closed

[2019-03-09 06:05] felangel commented on #132
@JoseGeorges8 I just took a look at `ExpansionTile` in Flutter and it seems like you don't even have to call `setState`. I ran the example on the [flutter samples](https://flutter.dev/docs/catalog/samples/expansion-tile-sample) and it works like a charm. I don't think you'll need to use bloc to achieve this because there's no business logic it's all just presentation/UI.

Let me know if that helps

[2019-03-09 06:13] felangel commented on #18
@GiancarloCode I think your implementation looks really good 👍
It's very straightforward, easy to read, and easy to test 💯🎉

@basketball-ico does @GiancarloCode's implementation answer your question?

[2019-03-09 06:45] felangel commented on #130
Closing this for now but feel free to comment if you have any additional comments/questions. 👍

[2019-03-09 06:45] #130 closed

[2019-03-09 07:17] felangel commented on #118
v0.2.0 of the [Bloc VSCode Extension](https://marketplace.visualstudio.com/items?itemName=FelixAngelov.bloc) is published 🎉

[2019-03-09 07:17] #118 closed

[2019-03-09 10:21] basketball-ico commented on #18
@felangel @GiancarloCode
Thanks, that works perfect, that is that I was searching. 🎉🎉🎉

[2019-03-09 14:49] felangel commented on #132
Closing for now but feel free to comment and I’ll reopen it. 👍

[2019-03-09 14:49] #132 closed

[2019-03-09 15:55] timtraversy opened #133 "Immutability pattern for nested data"
I'm struggling a bit in transitioning to the immutable way of working with data. It seems simple in the Github Search example, but in more complex applications the data is usually nested. Here's a simplified version of my app's model:
[code]
Does this mean whenever a user changes their schedules I have to basically clone every object in the hierarchy? Like so:
[code]

Is there a less-verbose way t

[2019-03-09 16:19] felangel commented on #133
@timtraversy great question!

The way bloc works is it compares the `currentState` to the state you yield in `mapEventToState` before determining if there should be a state change/transition. By default Dart treats different instances of an object as not being equal even if their properties are the same so all you really need to do is make sure you yield a new instance of your bloc state and every

[2019-03-09 16:51] ThinkDigitalRepair commented on #116
You guys are awesome!

[2019-03-09 16:52] felangel commented on #116
@jorgecoca is awesome 🥇

[2019-03-09 18:14] timtraversy commented on #133
Thanks for speedy response! Good to know that the state equality checking just whether the instances are the same. I think I'm going to have to clone the objects because I want to save a history of operations, and that won't work if the every step of history references the same schedule object.

Thanks for this great library! Best Dart state management I've discovered so far, and seemingly the onl

[2019-03-09 18:14] #133 closed

[2019-03-09 18:43] felangel commented on #133
No problem! Thanks for the positive feedback and please let me know if you have any other questions 👍

[2019-03-10 03:53] basketball-ico opened #134 "How to show/hide Dialog when state changed?"
Hello
I want to know how to show/hide Dialog when state changed.
For example in a `bloc` that have state `isLoading` i want to show a Dialog, and when the state `isNotLoading` i want to hide this.

But I read for hide dialog i need to use `Navigator.pop()`, so when I used that the Navigator pop the screen

I am trying with something like this:
[code]
Also, I implement using a `Container` with `Sta

[2019-03-10 04:22] felangel commented on #134
Hey @basketball-ico check out this [gist](https://gist.github.com/felangel/75f1ca6fc954f3672daf7962577d56f5) and let me know if that's what you were looking for?

[2019-03-10 06:08] felangel commented on #134
Closing this for now. Let me know if you're still having trouble or have any follow up questions 👍

[2019-03-10 06:08] #134 closed

[2019-03-10 06:16] basketball-ico commented on #134
Hi @felangel thanks for help me :)
Not works.
I use like this, and the navigator pop the dialog and the page

[code]

[2019-03-10 06:18] felangel commented on #134
Are you able to share the full code with me? Did you try the gist I linked to above?

[2019-03-10 06:49] basketball-ico commented on #134
Yes, I create a sample [Here](https://gist.github.com/basketball-ico/51aac7b9f8b544f8928d55c201a0676c) based on your gist.

in the `TODO` you can see where pop all.

Thanks

[2019-03-10 06:56] felangel commented on #134
Thanks for sharing! I took a look and you don’t need the snippet where

[2019-03-10 07:13] basketball-ico commented on #134
Sorry, i don't understand :(.

In the example I create the `someBloc.state.listen...` because I want to show the dialog when this state is `loading` and hide when not.
The state change from `loading` to `notLoading`  in 5 seconds with `Future.delayed...` when you press `load data` button.

if I remove the listen, never show de dialog based on `someBlocState` I think haha.

Thanks

[2019-03-10 17:13] felangel commented on #134
BlocBuilder calls the builder method anytime the bloc state changes. In the example you sent whenever a HideDialog event is dispatched it will update BlocBuilder which will hide the Dialog but since you also are listening to the bloc state you are going to execute the pop twice. Does that make sense?

[2019-03-10 18:06] JoseGeorges8 commented on #132
Hey Felix!

There's actually two different widgets, ExpansionTile and ExpansionPanelList with its childs and this is the one that I could not manage to use, but I didn't know about ExpansionTile first and that one works for me so thanks!

[2019-03-10 18:10] JoseGeorges8 commented on #132
As I'm here, can I quickly ask you something else? How do I go about doing two requests in one page when is building? So right now I have a simple

`body: BlocBuilder(
            bloc: _packageBloc,
            builder: (_, PackageState state) {
              if (state is PackagesLoading)
                return Center(child: CircularProgressIndicator());
              if (state is LabelsLoaded) {

[2019-03-10 18:12] basketball-ico commented on #134
Yes, that have sense if I listen the same bloc two times, but are two different blocs.
I update de [gist](https://gist.github.com/basketball-ico/51aac7b9f8b544f8928d55c201a0676c)
Sorry, i can't understand :(.

[2019-03-10 18:14] felangel commented on #132
@josegeorges8 hey good question 👍

Is there a reason why you can have the bloc handle retrieving the data for both requests so that once the state is no longer loading you have all the data you need?

[2019-03-10 18:17] felangel commented on #134
No worries! I’m not sure I understand your question so I’m sorry.

I don’t understand why do you have two blocs that are both trying to show/hide the dialog? I also don’t recommend directly listening to bloc state unless you have no choice. I would always recommend using BlocBuilder when you need to update ui based on state changes.

[2019-03-10 18:24] basketball-ico commented on #134
Mmm, I have 1 bloc that have the `state loading`, and i want to show a dialog when have this state, and hide when not. :(

[2019-03-10 18:26] felangel commented on #134
How is that different from the original gist I linked?

Just rename the states from DialogVisible to Loaded and DialogInvisible to Loading and I think it does exactly what you want.

[2019-03-10 19:14] JoseGeorges8 commented on #132
I'll try do that, thanks I'm just having a hard time getting the pattern!

[2019-03-10 19:19] felangel commented on #132
@JoseGeorges8 I think in order to understand the pattern you need to start thinking about your app from an outsider's (non-technical) perspective.

As a non-technical user I open the app, see a loading indicator, and then see a bunch of data on the home screen (for example). I don't care how many http requests are made or where the data is coming from etc...

Now take that mentality and use it whe

[2019-03-10 19:33] JoseGeorges8 commented on #132
Okay and then appreciate it!

[2019-03-10 20:58] basketball-ico commented on #134
Yes, sorry it works, thanks :), I don't know what i was thinking :( haha
but...
I need to reset the state, because when use hot reload, it pop the view, and for othe use case I need to reset this state to initial state

I update the [gist](https://gist.github.com/basketball-ico/51aac7b9f8b544f8928d55c201a0676c#file-main-dart-L119)

I try this but in the BlocBuilder only arrive the `InitialDialogSt

[2019-03-10 20:59] felangel commented on #134
Great! So everything is fine now?

[2019-03-10 21:03] basketball-ico commented on #134
No :(, I don't know why in the bloc builder only not arrive the second yield (`yield DialogHidden();`)
[code]

[2019-03-10 21:08] felangel commented on #134
It's because you are resetting the state immediately after by yielding `InitialDialogState`.

If you remove
[code]

so that the code looks like:
[code]
Then it will work.

[2019-03-10 21:25] basketball-ico commented on #134
So I need to create reset event, and in the UI dispatch this event after Pop the dialog ?

[code]
it works, but I prefer something like this because is less code and not need to dispatch reset events in the UI, but not work :( , so you have other way to do something like this? o what is your recommendation?
[code]

Thanks 🤗

[2019-03-11 02:18] gbuela opened #136 "Handling state for a form including the values of its fields in a BLoC"
I have a form in a tab. I don't want to lose the form's values when I switch tabs, so I keep all that state in a long lived BLoC. The form also needs the regular Valid, Invalid, Loading states.

It works like this:
The form sends an 'init' event, the BLoC sends a 'values' state.
Whenever the form gets 'values', it sets those values in its own state and sends a 'ready' event. The builder populates

[2019-03-11 02:31] felangel commented on #136
@gbuela thanks for opening an issue!

Regarding your question, I’d recommend modeling the form state in a way that contains both form values as well as whether or not each field is valid. Let me know if that helps and if you give me a few hours I can put together a simple form validation example 👍

[2019-03-11 02:37] gbuela commented on #136
OK so the state provided by the bloc would always be an object of the same class, containing all form values and an enum with form status (valid, invalid, loading -- in my particular case I don't need per-field status). Sounds good, thanks!

[2019-03-11 02:41] felangel commented on #136
Yeah exactly that’s one way to do it. 👍

I’ll update the login form in the flutter_login example to have some basic form validation just so there’s an example for people to look at.

Let me know if you have any other questions and thanks again for opening this issue!

[2019-03-11 02:43] gbuela commented on #136
That's it, thanks a lot... nice library 👏

[2019-03-11 02:43] #136 closed

[2019-03-11 06:49] ScrivNetwork opened #137 "Screen transition animation"
How to use bloc and screen animations with MaterialPageRoute?

[2019-03-11 07:10] #137 closed

[2019-03-11 13:04] fvisticot commented on #112
I had exactly the same pb and this PR help me.
Question: This sample is using the previous State management implementation without "Equatable".

How easy it is to use the new Equatable solution to manage the state variables (todos) ?
Can you please update the sample ?

I have some difficulties to manage the different class to easily manage the variable (todos)

[2019-03-11 13:11] felangel commented on #112
@fvisticot what sample are you referring to? Examples/flutter_todos?

[2019-03-11 13:21] basketball-ico commented on #134
@felangel Hello, sorry i can't understand why if I `yield` sequentially the `BlocBuilder` and the `Delegate` not show this states transitions
[code]

[2019-03-11 13:54] sawankumarbundelkhandi opened #139 "Anyone using bloc in production apps?"
Similar to this:
reactiveui/ReactiveUI#979
PrismLibrary/Prism#1016
orientechnologies/orientdb#4806
brianegan/flutter_redux#86

Use the following template:

If available on stores
Apple:
Android:

If open source
Source Code:

Your opinion
Version: ?
Years of experience: ?
Goods: ?
Bads: ?
Problems: ?

Thank you very much!

[2019-03-11 15:04] fvisticot commented on #112
I'm referring to https://github.com/algirdasmac/streams_and_blocs
I try to do the "same" thing with Firebase / Stream integration inside a bloc.
Would like to find a simple solution to manage Firebase data from Stream and Bloc/State

[2019-03-11 15:11] felangel commented on #134
@basketball-ico that's not the problem. If you override `onTransition` in the bloc and print the transitions you'll see that all transitions are occurring. The problem is in the UI we show the dialog when the widget is ready (so that we avoid exceptions for dirty widget) so in this case the hide dialog state change is happening but the UI is not updating right away and by the time it does the stat

[2019-03-11 23:08] fvisticot commented on #112
It's OK with todo sample code. Tx for your help.

[2019-03-11 23:30] felangel commented on #112
@fvisticot Just want to confirm, you were able to solve your issue?

[2019-03-11 23:53] basketball-ico commented on #134
Yes, I am understand, so the only way to reset is dispatch a event to reset in te UI after Dialog is hidden ?

[2019-03-12 00:21] felangel commented on #134
Yes, given the current setup I think that's the easiest way. It would help me give you advice if you could share more about what you're trying to accomplish. Usually, if you're just going to show a dialog or navigate to another screen you don't need a bloc since there's no business logic.

[2019-03-12 04:03] basketball-ico commented on #134
Thanks,  🤗
I have a `bloc` at the top level of my app that have a state `loading`, so I want to show the `loadingDialog` when this bloc have this state, and remove when not,

Other `blocs` interact with this `bloc` for this reason I try to show in based on this `state`.
Is like your `loginBloc` and your `AuthenticationBloc`, the `loginBloc` dispatch event to `AuthenticationBloc` and I want to show

[2019-03-12 06:25] fvisticot commented on #112
Yep, My issue is solved.
I'm using your solution with Todo sample.
My only "pb" was your solution to manage the updatedTodos
You only update this list in the state TodosLoaded
I was not sure if "else" cases can occurs

[2019-03-12 12:25] vitor-gyant opened #140 "Blocs will ignore duplicate states doubt"
Hi,

I've a use case where the user clicks on a button but if a given validation does not pass then the state will remain the same however, I'd like to show an alert dialog always. For example, login form where the user does not input a valid email but presses the recover password button.

I know there are other approaches in terms of UX that could avoid this need but for me, having the bloc filte

[2019-03-12 12:52] felangel commented on #140
Hi @vitor-gyant thanks for opening an issue!

You should be able to accomplish this; however you need to make sure you are not extending Equatable in your states and that you are yielding a new state instance in your bloc. Let me know if that helps. If not, it’d be great if you could share a sample app that exhibits the problem you’re having and I can take a look 👍

[2019-03-12 14:42] vitor-gyant commented on #140
Thanks @felangel  for the quick reply.

So basically by not extending from Equatable I'd only loose the compare functionality which implicitly will disable the filter. Is this the correct interpretation ?

Thanks,

[2019-03-12 15:45] felangel commented on #140
@vitor-gyant no problem!

Yes, if you don't extend `Equatable` and yield a new instance of the state it will be interpreted as being different based on the way Dart equality comparisons work. Check out the [Dart Documentation](https://www.dartlang.org/guides/language/language-tour#equality-and-relational-operators) for more information about this. 👍

Closing this for now but feel free to comment w

[2019-03-12 15:45] #140 closed

[2019-03-14 09:06] basketball-ico opened #142 "Doubt about Equatable"
Hello 😁

1. In which cases I don't need to `Extends` `Equatable` (or override the == operator as well as hashCode)?
I use ever, but i don't know if i did it correct o simply i am adding more code :(

2. If I have a `State` that Extends `Equatable` and this state have an other class like property, I need to extend Equatable also in this property?
Thanks
[code]

Thanks 🤗

[2019-03-14 22:15] felangel commented on #142
Hey @basketball-ico 👋
1. You never **need** to extend `Equatable`. If you want to optimize your application to avoid rebuilding if the state doesn't change you can extend `Equatable` but otherwise it shouldn't really have an impact.
2. Yes in order to accurately compare different instances of `State` you'd need to either have `Car` extend `Equatable` or have manually override `==` and `hashCode`.

[2019-03-15 08:56] MattisBrizard opened #145 "UnitTesting flutter weather example"
Hello,

Is that possible for you to show me how to unit test the flutter weather bloc ?

Thanks

[2019-03-15 10:40] vitor-gyant opened #146 "Bloc pattern and ModalRoute.of"
Hi,

While using the Bloc pattern one issue that arrises is how to pass data between pages. For example, during a login flow we should send the credentials to the next screen. One option is basically passing the data into the next page constructor. I like this approach because it explicitly exposes the page dependencies in the constructor instead of using ModalRoute.of in the next page which basic

[2019-03-15 16:08] basketball-ico commented on #142
Thanks I got it :D.

But i can't understand why you extends `Equatable` in the`Events` of your examples.
I see that you compare the states `if (currentState == nextState) return;` but not the events.

Thanks

[2019-03-15 16:18] felangel commented on #145
@MattisBrizard Hi 👋

I will definitely try to add some examples of how to unit test the weather bloc. Is there anything in particular that you're having trouble with?

There are currently examples of how to test blocs at:
- https://felangel.github.io/bloc/#/testing
- https://medium.com/flutter-community/unit-testing-with-bloc-b94de9655d86
- https://github.com/brianegan/flutter_architecture_samples

[2019-03-15 16:24] felangel commented on #146
Hi @vitor-gyant great question!

As you said you can pass data via constructor and that's a totally valid approach if you only need the data in one place (as you mentioned). This approach works but it's not very flexible.

If you need the data across multiple routes, then I would recommend using `BlocProvider` and providing the bloc above the `MaterialApp` (so that is available by `BuildContext` i

[2019-03-15 16:28] felangel commented on #142
@basketball-ico great question! 💯

I extend `Equatable` in events as well because it makes it possible to do things like override `transform` in the bloc and manipulate the stream of events (using operators like debounce, distinct, etc..). Otherwise everything is technically a new/different `Event`.

Does that help?

[2019-03-15 16:59] basketball-ico commented on #142
Yeah, so for confirm :D, if I not need to override `transform`, not are any reason for extends `Equatable` in events. I am right?

Thanks ;D

[2019-03-15 17:00] felangel commented on #142
@basketball-ico that's correct 👍

[2019-03-15 17:00] #142 closed

[2019-03-15 17:50] MattisBrizard commented on #145
@felangel Hi, thanks for answering !

Actually I have a project that is similar to your flutter weather app in term of implementation and I would like to know how I can test the bloc part in this situation. I read your medium article but my test don't pass.
So an example would help me so much.

Thanks 👍

[2019-03-15 17:52] felangel commented on #145
@MattisBrizard no problem! I'll try my best to add some tests either by this evening or sometime tomorrow! I'll let you know as soon as they're available 😄

[2019-03-15 17:55] MattisBrizard commented on #145
@felangel Thanks a lot and very good job for the package. 👏

[2019-03-15 18:08] vitor-gyant commented on #146
Hi @felangel,

Ok it makes sense.

Let me just ask one more question that is annoying me. Whenever I perform a Navigator.push in a given widget the build method of the current widget page is also triggered. This seems a bit odd to me but I read that it is the expected behaviour.

The problem is that since I'm using BlocBuilder inside of the build method the code for the current state gets executed

[2019-03-15 21:14] felangel commented on #146
@vitor-gyant are you able to share a small sample app which illustrates the problem? Thanks!

[2019-03-15 21:33] ruan65 opened #147 "Should state of Bloc emit only distinct state if listen this state stream? (Question)"
In my app I have "Claim list screen" and "Add claim screen".

After adding new Claim on the "Add claim screen" the App navigates to "Claim list screen" where I want
to see the new claim in the list immediately.

To achieve this behavior in GlobalBloc I dispatch event GlobalMessage.NEED_UPDATE_CLAIM_LIST

Claim list should listen to it and updates.

But it updates list only once (I do not transform

[2019-03-15 22:07] felangel commented on #147
Hi @ruan65 👋

Thanks for opening an issue! Bloc will not trigger a state change if the currentState == the yielded state in mapEventToState. Are you able to share the GlobalBloc code as well as the code for GlobalBlocState? My guess is you’re not yielding a new instance of the state in mapEventToState. This could also happen if you’re using equatable for your GlobalBlocState.

I would recommend ma

[2019-03-15 22:48] ruan65 commented on #147
Yes, Felix, all state classes I have used were @equtable. I removed this annotation - it does not help.
Also, it looks like I am yielding a new state instance every time.

GlobalBloc
https://gist.github.com/ruan65/edd7a450849d8609ceb5caebf1ddfd83
GlobalState
https://gist.github.com/ruan65/56e1226f09d10670edef4b5721fb5783

And the **line 29** in CreateClaimBloc class makes difference (if it comment

[2019-03-16 17:50] felangel commented on #147
@ruan65 thanks for the code snippets and additional information. Everything looks fine to me from the code you’ve shared. Are you able to share a sample app with the problem you’re having so I can run it locally and help debug the issue? Thanks!

[2019-03-16 20:07] felangel commented on #134
Okay yeah you shouldn't have to call `reset`. Can you share a link to the github repo? It would be much easier for me to help if I can run the app locally. Thanks!

[2019-03-16 20:11] felangel commented on #145
@MattisBrizard just added tests for `WeatherBloc` which you can find [here](https://github.com/felangel/bloc/blob/master/examples/flutter_weather/test/blocs/weather_bloc_test.dart).

Hope that helps! 👍

[2019-03-16 20:11] #145 closed

[2019-03-18 09:21] MattisBrizard commented on #145
Hi @felangel, thank you for the quick answer, it helped me a lot 👍

[2019-03-18 09:24] vitor-gyant commented on #146
@felangel I've tried on the weather demo app from bloc examples and it happens too. For example, after pressing the settings button the BlocBuilder at line 70 will fire with the same state it was triggered before.

Thanks,

[2019-03-18 15:17] jorgecoca commented on #116
I opened #148 ;)

[2019-03-18 15:34] QoLTech opened #150 "What warrants a Bloc?"
I'm curious as to what warrants a bloc.

Should I use a Bloc for each page? I've run into a few instances where I think it would be easier to have multiple blocs per page. For example, I have a DropDownButton and that changes my state and based on it, different TextFormFields are shown. The rest of my page has completely independent logic from those widgets. Is it worth it to create a bloc that ta

[2019-03-18 16:19] nosmirck opened #151 "[flutter_todos] flutter get packages fail."
**Describe the bug**
Following the tutorial for flutter_todos I get the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project `flutter create flutter_todos`
2. Change the content of `pubspec.yml` to the following:
[code]
3. run `flutter packages get`

**Expected behavior**
Get all packages with no errors

**Logs **
flutter analyze output:
[code]

flutter doctor o

[2019-03-18 16:23] felangel commented on #151
@nosmirck thanks for opening this issue!

Can you please try with the following `pubspec.yaml`:

[code]

Thanks! 👍

[2019-03-18 16:28] felangel commented on #150
@QoLTech great question! A bloc is a business logic component so any time you have a new piece of business logic that is not related to an existing bloc, I would recommend creating a new bloc.

This has multiple benefits including:
- State changes only re-render the part of the page that they affect
- Unrelated functionality is separated making it more reusable
- Smaller, more specialized blocs ar

[2019-03-18 16:45] nosmirck commented on #151
Thanks for the fast response @felangel
I'm getting the same issue with new pubspec content:

[code]

[2019-03-18 17:00] nosmirck commented on #151
I just tried cloning the whole `bloc` repo, navigated to `examples/flutter_todos` and tried `flutter packages get` and I got the same error.

[2019-03-18 17:06] felangel commented on #151
@nosmirck oops that's my fault! Just pushed a fix for this. The following `pubspec.yaml` should work:

[code]

[2019-03-18 17:10] nosmirck commented on #151
@felangel same error.

I believe the problem is here:

https://github.com/brianegan/flutter_architecture_samples/blob/master/todos_repository_simple/pubspec.yaml

The reference for todos_repository_core on line 11 is a relative path.

[2019-03-18 17:10] felangel commented on #151
@nosmirck did you try the latest `pubspec.yaml`?

[2019-03-18 17:12] nosmirck commented on #151
Yes I did.
[code]

[2019-03-18 17:13] felangel commented on #151
@nosmirck did you delete your `pubspec.lock`?

I just created a clean project and tested it and it seems to work for me. 🤔

[2019-03-18 17:15] nosmirck commented on #151
Just did, same error.

[2019-03-18 17:17] felangel commented on #151
Just to confirm:

1. create a directory (`mkdir tmp`)
2. create a `pubspec.yaml` in tmp (`touch pubspec.yaml`)
3. Paste the contents into the `pubspec.yaml`

[code]

4. Save and run `flutter packages get`

You still get the error?

[2019-03-18 17:32] nosmirck commented on #151
Maybe you have the core on your cache and that's why you don't have the error. Go to your flutter installation folder > .pub-cache/git and delete it's content, then try running `flutter packages get`

I still have the same error on both of my machines (Mac and Windows)

[2019-03-18 17:50] felangel commented on #151
@nosmirck yeah you're probably right. I just checked and the commit I was referencing should have the same issue. I ended up just moving the repositories into the flutter_todos project since that was the most straightforward solution. Everything should work now if you just pull master 👍

[2019-03-18 17:57] nosmirck commented on #151
Great! flutter_todos from bloc repo works, but creating from scratch (like the tutorial) still presents the issue with the pubspec.

The problem is here: https://github.com/brianegan/flutter_architecture_samples/blob/master/todos_repository_simple/pubspec.yaml

Make the dependency relative to the git url, that should fix it.

[2019-03-18 17:59] felangel commented on #151
@nosmirck I updated the tutorial to reference the local repositories as well.

[2019-03-18 18:10] nosmirck commented on #151
Perfect! good solution.

I can close this now :) thanks for the help!

[2019-03-18 18:10] #151 closed

[2019-03-18 18:11] felangel commented on #151
@nosmirck Thanks for your help; I really appreciate it!

[2019-03-18 18:26] felangel commented on #151
FYI: I opened https://github.com/brianegan/flutter_architecture_samples/pull/124 to address this 🤞

[2019-03-18 18:46] felangel opened #152 "Add README to Intellij Plugin"
- Create a `README.md` for the [Intellij Plugin](https://github.com/felangel/bloc/tree/master/extensions/intellij) similar to the [VSCode Extension](https://github.com/felangel/bloc/tree/master/extensions/vscode)
- Update the docs to reference the intellij readme similar to the [VSCode extension](https://felangel.github.io/bloc/#/blocvscodeextension)

[2019-03-18 18:46] felangel commented on #152
@jorgecoca created this to track the work for the documentation 👍

[2019-03-18 18:47] felangel commented on #116
merged in #148

[2019-03-18 18:47] #116 closed

[2019-03-18 18:59] felangel opened #153 "Deploy Intellij Plugin"
Once #152 is done we need to deploy the plugin so that it is publicly available to install through the Intellij plugins search.

[2019-03-18 19:00] felangel commented on #153
@jorgecoca created this is to track the work to deploy the Intellij Plugin

[2019-03-18 19:27] felangel commented on #146
@vitor-gyant that's likely because the entire widget is being rebuilt and it is outside of the scope of bloc. Flutter can decide to rebuild any widget at any time according to the Flutter team so this is working as they intended. Based on that it is strongly recommended that your widget be written in a way that has no side effects if it is rebuilt many times. Let me know if that helps.

[2019-03-18 19:28] felangel commented on #147
@ruan65 closing this for now since I need more information to debug the issue. If you are able to share a sample app with the problem you're having I'm happy to take a look 👍

[2019-03-18 19:28] #147 closed

[2019-03-18 19:44] ruan65 commented on #147
Felix, unfortunately, I can not - I am not an owner (It is company app (auth, NDA etc.))

But I have an idea. I guess that todo example in Bloc repo is not 100% correct since it is using global bloc for creating to-do items on AddEditScreen (passing callback about creating the item to it).

AddEditScreen can have its own bloc (scoped to this screen)

I'll try to find spare time to rewrite the exam

[2019-03-18 21:54] felangel commented on #147
@ruan65 sounds good!

[2019-03-18 21:54] felangel commented on #150
@QoLTech closing for now but feel free to comment with any additional questions and I'm happy to reopen it. 👍

[2019-03-18 21:54] #150 closed

[2019-03-18 23:18] felangel commented on #146
Closing this for now but feel free to comment with additional questions/comments and I'm happy to reopen it 👍

[2019-03-18 23:18] #146 closed

[2019-03-19 07:30] rahi0 commented on #151
Target of URI doesn't exist: 'package:flutter_todos/models/models.dart'.

this is what I got

[2019-03-19 13:00] felangel commented on #151
@rahi0 you need to create a barrel file for the model exports.

https://github.com/felangel/bloc/blob/master/examples/flutter_todos/lib/models/models.dart

I’ll update the documentation 👍

[2019-03-20 12:58] jorgecoca commented on #153
Submitted the plugin, it might take up to two days to be approved: https://plugins.jetbrains.com/plugin/12129-bloc-code-generator

[2019-03-20 13:07] #153 closed

[2019-03-20 13:16] #152 closed

[2019-03-20 13:19] jorgecoca commented on #139
We do! But of course, we/Felix also wrote the package... we are very happy with the results so far, and as you can see in the examples/docs/articles, we are investing more and more to make this package as good, easy, performant and high quality as possible ;)

[2019-03-22 00:00] zjjt opened #156 "Event dispatched hit the Bloc once and no more"
Hi there, first of all let me thank you for the awesome libraby.
Im facing an issue with my bloc.The issue is that when the app loads i am able to dispatch an event to the Bloc once,and subsequent calls to dispatch just do nothing.
the app uses the hidden_drawer_menu plugin which i forked and tweaked a bit to allow navigation.It is the same principle as the hidden drawer menu from the fluttery cha

[2019-03-22 00:10] felangel commented on #156
@zjjt thanks the positive feedback and for opening an issue!

Would it be possible for you to share a link to the repo so I can just run the app locally? It would make it much easier to debug.

[2019-03-22 06:24] zjjt commented on #156
Hi @felangel , thanks for answering so quick i fell asleep during my debugging.
Here's the link to the repo.Ill have many bloc talking to each other so i might maybe need help for that later.Thanks a lot

https://github.com/zjjt/chapchap

[2019-03-22 14:06] zjjt commented on #156
Hi @felangel , after tweaking the code a bit, i was able to make it work by removing bloc.dispose in my widgets...Aren't we suppose to always dispose of the bloc to avoid memory leak ?

[2019-03-22 16:22] nerder opened #157 "[Question] How to use mockito verify while testing blocs?"
Hello

I would like to understand a little bit how can i use `verify` while testing a bloc. I wasn't able to find any example around and all my attempt have failed, leaving me no other options that put my `verify` checks into the `tearDown` statement which of course is not optimal.

The issue I encounter is basically that when the test runs, the `verify` method have been called before `mapEventToS

[2019-03-22 16:34] felangel commented on #156
@zjjt you are supposed to dispose but you need to make sure you dispose when you no longer need the bloc. My general recommendation is to dispose the bloc in the same place where it is created.

[2019-03-22 17:01] felangel commented on #157
Hey @nerder 👋

Great question! You can do the verification in the `then` of the `expectLater` like:

[code]

You can check out a todos app that is fully tested at the [flutter_architecture_samples](https://github.com/brianegan/flutter_architecture_samples/tree/master/bloc_library) for more details.

Hope that helps! 👍

[2019-03-22 17:01] #157 closed

[2019-03-22 17:03] nerder commented on #157
Amazing! Thank you so much for the fast reply and for this library, it makes coding with Blocs SO smooth!

[2019-03-22 20:11] zjjt commented on #156
@felangel m Yes it does make sense, so i shouldnt pass the bloc around to other widgets / methods. If i need the bloc i can use BlocProvider<>.of method...Got it ill close this issue then.Thanks a lot for your time

[2019-03-22 20:35] felangel commented on #156
@zjjt awesome!

Yeah I'd recommend using BlocProvider when possible 👍
Glad I was able to help and thanks for bringing this up! 💯

[2019-03-22 20:41] vendramini opened #158 "bloc Android plugin disabled"
**Describe the bug**
Right click on any folder, New -> Bloc Generator -> New Bloc is always disabled.
[code]
Awesome work, guys =)

[2019-03-22 22:35] felangel commented on #158
@vendramini thanks for reporting this! 💯

@jorgecoca have you been able to test the published plugin? I need to update my Android Studio still but I'll try to do that later this evening and see if I can reproduce this.

[2019-03-23 00:35] Nothing-Works opened #159 "general "Bloc" question."
Hi, I am very new to flutter, and I've been researching the state management solution for it. And it's quite over overwhelming as there so many options.

I found the "Bloc" is quite popular, and after reading some blog posts (eg, [from flutter doc](https://medium.com/flutterpub/architecting-your-flutter-project-bd04e144a8f1) , [another one from doc](https://www.didierboelens.com/2018/12/reactive-p

[2019-03-23 02:04] jorgecoca commented on #158
Nope, it is not disabled, see this:

<img width="1024" alt="Screen Shot 2019-03-22 at 8 59 27 PM" src="https://user-images.githubusercontent.com/3237451/54860254-85f29480-4ce5-11e9-9a7f-5b46d5a9d773.png">
<img width="647" alt="Screen Shot 2019-03-22 at 8 59 37 PM" src="https://user-images.githubusercontent.com/3237451/54860255-85f29480-4ce5-11e9-89b7-888cf41e31c4.png">
![bloc](https://user-images.

[2019-03-23 02:52] felangel commented on #158
@vendramini can you give more details about how to reproduce the problem you're having?

[2019-03-23 03:01] felangel commented on #159
Hey @Nothing-Works 👋

BLoC is a design pattern that was created in order to help separate business logic from presentation in dart which made it easy to reuse code across AngularDart (web) and Flutter (mobile). There is no formal definition of how to implement the pattern (at least that I know of) but [this article](https://www.didierboelens.com/2018/08/reactive-programming---streams---bloc) is, i

[2019-03-23 03:01] #159 closed

[2019-03-23 03:26] vendramini commented on #158
I just downloaded the plugin directly from Android Studio.
Every folder with context menu shows me the "New Bloc" disabled.

How could I get more information for you?

[2019-03-23 03:55] Nothing-Works commented on #159
@felangel  thank you much for your answer, I will have a look the article that you provided,

[2019-03-23 05:02] wheel1992 opened #160 "Keep state during runtime"
Hi @felangel, this library is great! However, I'm new to this dependency and still learning how to implement it. Along the way, I had difficulty to maintain my state during the application runtime. For example, if screen A holds a person details, how can screen B update the state of person details without losing it?

[2019-03-23 05:19] felangel commented on #160
Hi @wheel1992 👋

Thanks for the positive feedback! I really appreciate it 🙏

Regarding your question, you would probably want to create a UserBloc which holds a given users model and you can then access it from anywhere using BlocProvider. To modify the user you would probably want to dispatch events which your bloc would respond to.

I highly recommend going through the [Todos Application Tutoria

[2019-03-23 05:19] #160 closed

[2019-03-23 05:29] wheel1992 commented on #160
@felangel Thank you so much! I'll follow this example and if I have any more questions, can I post here?

[2019-03-23 05:30] felangel commented on #160
@wheel1992 no problem and of course! Please don’t hesitate to post any follow up questions you have 👍

I’m more than happy to help 😄

[2019-03-23 16:59] felangel commented on #158
@vendramini I confirmed that it works for me as well
[code]

are you able to try on a different machine? The only difference I see is @jorgecoca and I are on macOS and you're on Linux 🤔

[2019-03-24 00:14] GiancarloCode opened #161 "Why mapEventToState have currentState?"
Hello

Why do you use `currentState` in `mapEventToState` if `currentState` is a property of `bloc` and can be access with the same way without be a parameter of `mapEventToState`

Thanks.

[code]
the same as this
[code]

[2019-03-24 05:46] felangel commented on #161
@GiancarloCode thanks for bringing this up! Originally, blocs didn't have a currentState property so the `mapEventToState` signature needed it. Now that `currentState` is a property in all Blocs it is no longer needed. #162 will address this change.

Thanks again for bringing this up! I totally forgot to make this simplification after adding `currentState`.

[2019-03-24 06:06] felangel commented on #161
published [bloc v0.11.0](https://pub.dartlang.org/packages/bloc) 🎉

[2019-03-24 06:06] #161 closed

[2019-03-24 15:55] hahai96 opened #163 "How to dispatch an event many times"
Hi there, first of all let me thank you for the awesome libraby.
I face a problem with my block. I cannot send an event multiple times. It seems that mapEventToState is an asynchronous function, so currently can be equal to the state, so the data cannot be returned.
You can give me a solution.
Thanks very much. Sorry, my english is bad.

[2019-03-24 15:57] hahai96 commented on #163
I am trying to call many times to retrieve data from network

[2019-03-24 15:57] felangel commented on #163
Hi @hahai96 👋

Thanks for the positive feedback! Can you provide any code to show what you’re tying to accomplish? I’m not sure I understand the problem. Thanks! 👍

[2019-03-24 16:00] hahai96 commented on #163
`
if (event is ResendMessageEvent) {
      yield ChatInitial();

      var service = await _networkFactory.apiService();
      BaseCallBack baseCallBack = BaseCallBack();
      ChatState state = await baseCallBack
          .getDataFromApi(
              context,
              _networkFactory,
              service.sendMessage(
                  event.fbPageId,
                  event.threadId,

[2019-03-24 16:02] hahai96 commented on #163
`
if (event is ResendMessageEvent) {
      yield ChatInitial();

      var service = await _networkFactory.apiService();
      BaseCallBack baseCallBack = BaseCallBack();
      ChatState state = await baseCallBack
          .getDataFromApi(
              context,
              _networkFactory,
              service.sendMessage(
                  event.fbPageId,
                  event.threadId,

[2019-03-24 16:03] hahai96 commented on #163
Sorry, I can't format the code.
Thank you very much.

[2019-03-24 16:04] felangel commented on #163
No problem! So the problem you’re having is you dispatch ResendMessageEvent and it doesn’t re render the ui?

[2019-03-24 16:06] hahai96 commented on #163
yes, I discovered currentstate = state, therefore data is not returned

[2019-03-24 16:06] felangel commented on #163
Can you show me the code for the ChatState class?

[2019-03-24 16:08] hahai96 commented on #163
[code]

[2019-03-24 16:11] felangel commented on #163
I think I see the problem. You’re using Equatable which overrides the equality operator and makes it possible to compare different instances of the same object however you aren’t passing the props to its superclass.

Try updating your constructor like this:
ResendMessageSuccess({this.data, this.timeMessage}) : super([data, timeMessage]);

Let me know if that helps.

[2019-03-24 16:21] hahai96 commented on #163
It does not work for me. It only works if I send data one at a time

[2019-03-24 16:22] felangel commented on #163
Are you able to share a link to the full code so I can run it locally and help debug it?

What do you mean by send one data at a time?

[2019-03-24 16:24] hahai96 commented on #163
I have a button, and I click it many times, it will send data only 1 time

[2019-03-24 16:25] felangel commented on #163
Can you share a link to the repo so I can run your app and see what’s wrong?

[2019-03-24 16:26] hahai96 commented on #163
This project is private, but I will send you a demo in the next few minutes

[2019-03-24 16:26] felangel commented on #163
Sounds good!

[2019-03-24 17:06] hahai96 commented on #163
@felangel https://github.com/hahai96/flutter_app_demo
Please clone it to your computer and notify me, I will delete it

[2019-03-24 17:08] felangel commented on #163
@hahai96 thanks! I just cloned it 👍

[2019-03-24 17:10] felangel commented on #163
@hahai96 so what's the problem you're having? I loaded the app and when I click the button I see the number of successful sent messages goes up every time

[2019-03-24 17:11] hahai96 commented on #163
Please press it repeatedly

[2019-03-24 17:12] hahai96 commented on #163
@felangel it only increased by 1 unit even though you pressed it many times

[2019-03-24 17:23] felangel commented on #163
@hahai96 that's because you're always yielding ChatInitial() in your bloc before you do the async work so `BlocBuilder` doesn't increment the count.

If you remove the `yield ChatInitial();` from you ChatBloc it will work as you expect.

Hope that helps!

[2019-03-24 17:28] #163 closed

[2019-03-24 17:31] hahai96 commented on #163
@felangel Thank you very much, you are my life

[2019-03-24 17:32] hahai96 commented on #163
@felangel Blocs will ignore duplicate states. If a Bloc yields State state where currentState == state, then no transition will occur and no change will be made to the Stream<State>.

currentState == state, they compare values ​​in state or not?

[2019-03-24 17:35] felangel commented on #163
Bloc just checks if currentState == the yielded state.

The default dart behavior is to return true only if currentState and yielded state are the same instance.

With Equatable you override == and return true if the two objects have the same properties.

[2019-03-24 17:35] hahai96 commented on #163
{ currentState: SendMessageSuccess, event: SendMessageEvent, nextState: SendMessageSuccess }
currentState == nextState but it still works, please explain help me.

[2019-03-24 17:37] felangel commented on #163
The messages in each SendMessageSuccess are different.

[2019-03-24 17:40] hahai96 commented on #163
@felangel  I don't know how to thank you ❤️❤️❤️

[2019-03-24 17:42] felangel commented on #163
Glad I could help! 👍

[2019-03-24 22:54] Nothing-Works opened #164 "doc problem"
[code]

on the doc it's still showing that `mapEventToState` takes currentState as the first argument which I think is not valid for 0.11.0.

[2019-03-24 22:55] felangel commented on #164
Thanks for pointing this out! What doc are you on?

[2019-03-24 22:57] Nothing-Works commented on #164
https://felangel.github.io/bloc/#/fluttercountertutorial?id=counter-bloc

[2019-03-24 22:58] Nothing-Works commented on #164
sorry, I think it just updated

[2019-03-24 22:58] #164 closed

[2019-03-24 22:58] felangel commented on #164
No worries! It was probably just a cached version. 👍

[2019-03-25 02:45] MonNguyen96 commented on #163
@felangel Why remove chatInitState it works again. I usually set "yield xxx" before an asynchronous job, but it still works for me. Is there any reason here?

[2019-03-25 03:01] felangel commented on #163
@hahai96 it's because you were only incrementing the counter on a success state and when you tap the button repeatedly quickly then what happens is you set the state to initial state first then as soon as the async action completes and you yield the success state immediately the state becomes initial state again before the UI rebuilds.

[2019-03-25 03:03] MonNguyen2502 commented on #163
@felangel Great, thank you very much.

[2019-03-25 06:23] yy1300326388 commented on #158
@felangel  I have the same problem on mac

![image](https://user-images.githubusercontent.com/8764899/54899059-8c615600-4f09-11e9-8cab-67946db0a775.png)

![image](https://user-images.githubusercontent.com/8764899/54899042-7489d200-4f09-11e9-9e44-9bedb87d1e7a.png)

[2019-03-25 12:07] jorgecoca commented on #158
Make sure that you are "right-clicking" on a folder of your project.

This is what happens when you do not click on a folder:

<img width="911" alt="Screen Shot 2019-03-25 at 7 03 25 AM" src="https://user-images.githubusercontent.com/3237451/54918477-5c479200-4ecc-11e9-83ab-7bc5a2f21f15.png">

This is what happens when you click on a folder:

<img width="868" alt="Screen Shot 2019-03-25 at 7 03 37

[2019-03-25 12:08] jorgecoca commented on #158
If it does not work still, please check the Event Log of Android Studio, and see if there is something wrong. If so, could you send us a copy of the logs? Thanks!

[2019-03-25 14:44] basketball-ico commented on #74
@felangel Hello again :D.

I have some `GlobalBlocs` above `MaterialApp`, and I can access to this bloc in any route.

Then in a nested `Route` I created a `BlocProvider`, And I want to use in a Pages that this Screen Push.
But I have the error `BlocProvider.of() called with a context that does not contain a Bloc of type ...`.

I read this:

So If my bloc need to be access, when push via Navigator

[2019-03-25 15:25] QoLTech opened #165 "mapEventToState after currentState removal"
I am getting "'AuthenticationBloc.mapEventToState' ('(AuthenticationState, AuthenticationEvent) → Stream<AuthenticationState>') isn't a valid override of 'Bloc.mapEventToState' ('(AuthenticationEvent) → Stream<AuthenticationState>').". It seems like the latest set of commits removed currentState from Bloc.mapEventToState, but the exampels still show using currentState with no other changes. I have

[2019-03-25 15:31] vendramini commented on #158
Yes, I do clicked in the folder =)

`~/.AndroidStudio3.3/system/log` is the only folder I found with logs.
`2019-03-25 12:18:11,736 [entQueue-0]   INFO - llij.ide.plugins.PluginManager - Loaded custom plugins: Bloc Code Generator (1.0), Dart (182.5215), Flutter (33.4.1) `
Is the only line about Bloc Plugin.

https://developer.android.com/reference/android/util/EventLog this page says another log l

[2019-03-25 15:40] felangel commented on #165
@QoLTech what examples are you referring to? Everything should be updated to use the latest version bloc.

`currentState` is a property that you can access on all blocs.

[2019-03-25 16:12] QoLTech commented on #165
For example, [here](https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/example/lib/main.dart). You removed the currentState from the method signature, but continue to use it in the method body.

You're saying that you can get currentState now without including it in the signature?

[2019-03-25 16:16] MonNguyen2502 commented on #163
@felangel Sorry for bothering you.

[2019-03-25 16:16] MonNguyen2502 commented on #163
[code]

[2019-03-25 16:18] MonNguyen2502 commented on #163
how the above code can work. Do you have any solution? please help me

[2019-03-25 16:27] QoLTech commented on #165
Okay, so I can access currentState without it needing to be in the signature.

However, I now have this issue and I'm not sure if it's related.

In my mapEventToState method, I could do this:

if (currentState is DocumentSuccessful) {
      yield DocumentSuccessful(document: currentState.document);
    }

I now have to do this:

    if (currentState is DocumentSuccessful) {
      yield DocumentSuc

[2019-03-25 16:31] felangel commented on #165
@QoLTech the `currentState` in the method body is the bloc property. That's how it should be in v0.11.0 of bloc.

The error you're running into is because currentState is a computed property. You can do something like:

[code]

Hope that helps 👍

[2019-03-25 16:33] QoLTech commented on #165
Works great, thank you!

[2019-03-25 16:35] #165 closed

[2019-03-25 16:39] felangel commented on #163
What's the problem?

[2019-03-25 16:42] MonNguyen2502 commented on #163
The problem of @hahai96 .
If I don't remove the yield chatInitState, is there any way it still works

[2019-03-25 16:46] MonNguyen2502 commented on #163
Suppose, I want to display temporary data before the api returns. I will call this event many times, so it will not work for me.

[2019-03-25 20:24] felangel commented on #163
The above code should work. What's the problem you're having?

[2019-03-25 21:40] Nothing-Works opened #166 "Android studio bloc extensions for version 0.11.0"
apparently, the Android studio bloc extension still generates the `currentState` as the first argument for `mapEventToState`, it not a big problem, but it will be nice if it can be removed.

Cheers

[2019-03-25 21:42] felangel commented on #166
@Nothing-Works thanks for bringing this up! The change is in master and we just need to publish it. @jorgecoca when can you publish the latest intellij plugin update?

[2019-03-25 21:47] Nothing-Works commented on #166
@felangel  thank you very much for your always quick response, it's like a live chat. lol

[2019-03-25 23:15] felangel commented on #74
Hey 👋

You can just pass the Blocs via constructor in that case. Let me know if that helps!

[2019-03-25 23:21] basketball-ico commented on #74
Yes, thanks.
but I use `pushNamed` and I pass the bloc like argument, but i don't know if this pass a reference or a copy :(
[code]
and then in the pushed page
[code]

[2019-03-25 23:43] felangel commented on #74
Primitives are passed by value and objects are passed by reference. 👍

[2019-03-26 00:10] jorgecoca commented on #166
Yeah, I'll test it tomorrow and publish it ;)

[2019-03-26 00:11] zjjt opened #167 "awaiting async operation from network inside mapEventToState doesn't complete execution"
Hi @felangel , I encounter a weird problem, maybe it is due to my lack of understanding of dart but the following happens to me when i try to fetch a user from the network or the local db inside mapEventToState.Despite awaiting the result of the fetching, the execution seems stopped until i dispatch another calls of the same event to the bloc.Here is the bloc mapEventToState method.
[code]

Here i

[2019-03-26 00:46] felangel commented on #167
Hey @zjjt 👋

Are you able to share the link to the repo or a sample app with the same problem you’re describing? It would be much easier for me to help figure out what’s wrong if I can run the code locally. Thanks! 👍

[2019-03-26 00:53] zjjt commented on #167
Alright here is the link to the repo https://github.com/zjjt/chapchap.git
After you clone it be sure to replace hidden_screen_drawer dependency with a link to this git repo https://github.com/zjjt/hidden_drawer_menu.git

try then after clicking on the user menu to login with the following:
Login : CI897887
password:blablabla

for example.Im waiting right there friend.

[2019-03-26 01:35] zjjt commented on #167
When i remove the call to the fetchUser method on my repository and put it directly inside the onTap callback the operation completes normally..I would like not to do it from the onTap but instead let the bloc deal with it on a loginAttemptEvent

[2019-03-26 01:59] felangel commented on #167
Thanks I’ll take a look in 15 mins 👍

[2019-03-26 02:04] zjjt commented on #167
Great!!

[2019-03-26 02:54] yy1300326388 commented on #158
@jorgecoca  I also clicked on the folder first.

[2019-03-26 05:53] felangel commented on #167
@zjjt sorry for the delay! I just tried taking a look and after a `flutter run` the app keeps crashing with:
[code]

Is there something I'm missing in order to be able to run the app? Thanks!

[2019-03-26 10:26] lsaudon opened #168 "bloc and hooks examples"
**Describe the solution you'd like**
I would like to have an example to integrate **flutter_hooks** and **flutter_bloc** into flutter_todos or other.

[2019-03-26 10:31] MonNguyen2502 commented on #163
@felangel Sorry, I'm too busy. If I don't remove initstate, is there any way it still works?

[2019-03-26 11:01] zjjt commented on #167
@felangel it might be the hidden_drawer_menu dependency in pubspec.yaml that might be causing the issue.modify the file .in mine i refer to it via relative path. in yours you should refer to it using git to this repo https://github.com/zjjt/hidden_drawer_menu.git

[2019-03-26 12:49] jorgecoca commented on #166
Tested, it works! I'll publish it in a few minutes

![bloc](https://user-images.githubusercontent.com/3237451/54998213-903db880-4f9b-11e9-9196-f0c3e3f2b9e1.gif)

[2019-03-26 12:57] jorgecoca commented on #166
I just submitted 1.1. It is pending approval from JetBrains. Once approved, you should see a notification in the IDE to update the plugin

[2019-03-26 13:19] #166 closed

[2019-03-26 13:21] felangel commented on #168
Hi 👋

What’s preventing you from using flutter_bloc with flutter_hooks? Is there any issues you’re running into?

[2019-03-26 13:23] felangel commented on #167
@zjjt I tried both using the git url as well as cloning the hidden drawer menu and using a relative path but both result in the same error being thrown during flutter run.

[2019-03-26 13:26] felangel commented on #163
It works even with ChatInitial the problem is the state change happens so quickly when you spam the button. You might consider disabling the button while a request is in progress.

[2019-03-26 13:32] zjjt commented on #167
woow i do not understand...why that is ...are you ok with usign team viewer?

[2019-03-26 13:35] felangel commented on #167
what is team viewer?

[2019-03-26 13:40] zjjt commented on #167
It is a software for remote access to another computer.

[2019-03-26 13:45] felangel commented on #167
We can use google hangouts. But I won’t be available to get on a call until 12:00 CST

[2019-03-26 13:47] zjjt commented on #167
Ok ill try doing that...Ive cloned the repo on my computer and it is working fine on my android emulator...i do not know why  it gives an error on yours...just my luck..ill see what i can do and once ready ill provide the link to the new repo here

[2019-03-26 13:51] zjjt commented on #167
Yes on my Ios simulator it cant build for now i have a file not found flutter.h problem.And as android is the first platform i musst deliver the app onto that is why i didnt bother.

[2019-03-26 14:00] lsaudon commented on #168
I didn't have any problems.
I'm blocked by my abilities.
It was more of an example.

[2019-03-26 14:19] zjjt commented on #167
I have this problem while building for ios and this is coming from all packages inside my project, even yours it seems it cant find flutter.h.
here is the log:

[code]

[2019-03-26 14:19] zjjt commented on #167
If you do have an android emulator ,try running the project for android please.

[2019-03-26 14:20] felangel commented on #168
I’ll try to put something together over the next few days 👍

[2019-03-26 14:21] felangel commented on #167
Yeah sure. I’ll give it a try in the next couple of hours. 👍

[2019-03-26 14:24] zjjt commented on #167
👍 Thanks a lot Felix

[2019-03-26 16:13] MattisBrizard opened #170 "Widget testing with flutter bloc"
Hi @felangel,

I've got another question about widgets testing with the bloc. I don't have any idea on how to do that. If you can add an example on how to test the weather widget in the flutter weather example app, it would help me.

Thanks.

[2019-03-26 16:53] felangel commented on #170
@MattisBrizard great question! While there aren't any widget tests for the Weather App, the Todos App is fully tests (unit tests, widget tests, and integration tests). You can check it out [here](https://github.com/brianegan/flutter_architecture_samples/tree/master/bloc_library). Let me know if that helps!

[2019-03-26 17:50] felangel commented on #170
Closing for now but feel free to comment with any questions and I'm happy to reopen this. 👍

[2019-03-26 17:50] #170 closed

[2019-03-26 18:52] zjjt commented on #167
Hi @felangel , make sure you rename the folder created after the git clone . Change it from **chapchap** to **nsiaviemobile** and it will work

[2019-03-26 18:53] QoLTech opened #171 "Function callbacks in Bloc"
Currently, the only way of notifying the page of state changes is by yielding a new state. However, there are a lot of instances where I want to do something outside of the build method (Run only once) without changing my state.

Would it be okay to pass a function as a parameter in an Event and inside of the Bloc, run that function after doing something?

For a more specific example, I have data

[2019-03-26 20:09] felangel commented on #171
@QoLTech thanks for the question!

Technically you can do that but I wouldn't really recommend it. I'm curious to understand why you are saying you don't believe yielding a new state is the best way to change the application state? I would argue that is the correct way to achieve what you're asking. Can you provide some more details?

Thanks! 👍

[2019-03-26 20:30] zjjt commented on #167
Hi there @felangel , i made the following repo leaving only the important files for analysing the problem.You should not consider my previous message.
https://github.com/zjjt/loginchap.git

Here's also a gif showing you what i am dealing with.You should see that the call to the network do not return unless i dispatch the same event a second time.Thank you for your time.

![problem](https://user-im

[2019-03-26 21:37] QoLTech commented on #171
Well, for example, I need to update something on my server.

1. Dispatch the Event to the Bloc.
2. Yield an UpdatingState while awaiting server response.
3. Server responds with the data I need.
4. Yield an UpdatedState with the new data?
5. In my build method, update my ApplicationState data?
6. Dispatch an Event to the Bloc that I updated the data?
7. Yield the State I was in before step 1?

I d

[2019-03-26 22:01] felangel commented on #167
@zjjt it looks like you aren't properly handling exceptions in your `chapchapDb_provider.dart`. I wrapped the `fetchUser` implementation in a `try/catch` and I caught an error saying the db was null.

That then allowed the code to continue executing `repository.dart` `fetchUser` which hangs at `final result = await InternetAddress.lookup('google.com');`

Looks like all of these issues are unrelate

[2019-03-26 22:07] zjjt commented on #167
@felangel Thanks for taking the time to answer and also taking a look into it.
ill do as you say....thanks a lot

[2019-03-26 22:08] felangel commented on #167
@zjjt no problem! You might want to set timeouts for async code and if the code takes too long just return an error. That way you'll avoid having situations where code is just hanging and from the user's perspective it looks like nothing is happening.

Closing this for now but feel free to comment with additional questions and I'm happy to reopen it/continue the conversation. 👍

[2019-03-26 22:08] #167 closed

[2019-03-26 22:09] zjjt commented on #167
👍Tanks a lot @felangel ill do so and properly check the code

[2019-03-26 22:12] felangel commented on #171
@QoLTech I think I understand what you're trying to do now. Thanks for the extra details 👍

I think you don't have to always think of blocs as tying into the UI layer directly. In this case, it might makes sense to have a new bloc for managing the event after the server responds with the data you need. Then, the flow could look something like:

1. Dispatch the Event to the BlocA.
2. BlocA yields a

[2019-03-26 22:20] QoLTech commented on #171
Okay, I see. So, should I pass in BlocB as a parameter in the Event in step 1? This seems like a better idea, I just wasn't sure if I should have Blocs depend on each other.

I would not need to yield an UpdateState in step 4. I would only need to yield the original state - I don't even need the data back in this page.

[2019-03-26 23:34] felangel commented on #171
I wouldn’t pass it over the event. I’d recommend injecting BlocB into BlocA via constructor.

You can see an example of this in the [todo tutorial](https://felangel.github.io/bloc/#/fluttertodostutorial).

Out of curiosity, can you describe the functionality of your app and what this event is doing?

[2019-03-27 02:08] felangel commented on #171
Closing for now but feel free to comment with more questions/details and we can continue the conversation. 👍

[2019-03-27 02:08] #171 closed

[2019-03-27 03:38] felangel commented on #158
Update: I was able to reproduce the issue so I'll try to figure out the root cause and hopefully we'll have a fix out in the next few days. 👍

[2019-03-27 08:02] anticafe opened #172 "In `flutter_login` example, how to open `HomePage` from `LoginPage` when logging in successfully"
I look at your `flutter_login` example:
https://github.com/felangel/bloc/blob/master/examples/flutter_login/lib/login/login_bloc.dart#L34

[code]

In my case, there is a SplashPage with a LogIn button, touch on it will open LoginPage (with a form to perform log in). Back from LoginPage will be SplashPage. After logging in successfully, the HomePage will be opened. Press BACK on HomePage will be Sp

[2019-03-27 12:40] joanpuigsanz opened #173 "Notifying more than one State will only consume the latest one."
**Describe the bug**
When notifying 2 consecutive state changes inside `mapEventToState` only the latest state is propagated to the `BlocBuilder`.

**To Reproduce**
Just add the following code and call `myBloc.dispathc(TestEvent1())`:
[code]

**Expected behavior**
The `BlocBuilder` should notify both state changes.

[2019-03-27 13:16] felangel commented on #173
Hi @joanpuigsanz 👋

Thanks for opening an issue!

Could you describe what you’d expect to see and what your use case is?

If you yield two states consecutively there is no time for BlocBuilder to rebuild. By the time the widgets are marked for update the state will have changed again.

Hope that helps! 👍

[2019-03-27 14:05] OndrejKunc opened #174 "Builder reacting only to subset of the state"
**Is your feature request related to a problem? Please describe.**
Let's say I have a form with quite complex state in my bloc and multiple widgets depend on different parts of the state. If I use `BlocBuilder` and change the state then all the widgets must be rebuild even if they do not depend on any changed data from the state.

**Describe the solution you'd like**
My solution would be a widget

[2019-03-27 15:21] joanpuigsanz commented on #173
I'm using the Bloc class no notify the widget when the progress dialog needs to be show, for instance:

[code]

For now the way I fix it is to `dispatch` a new internal event that creates yields the `HideLoadingState()` state. How do you recommend me to improve this issue?